[2017-12-04 19:04] npark-mozilla commented on #1836
@liuche Now I notice that with API 23, the trashcan is not greyed out, but it's disabled. In API 26 prior to the fix, it was actually exiting when pressed. Which I just verified that it's now greyed out and disabled.

[2017-12-04 19:13] liuche commented on #1828
This doesn't need to be put in the product.

[2017-12-04 19:14] mcomella commented on #1885
FYI: this is PR #1892.

[2017-12-04 19:15] npark-mozilla commented on #1828
FYI, I was able to navigate to the article in 2 steps from the help menu.

[2017-12-04 19:19] npark-mozilla commented on #1787
It's kinda odd to see two different links in the same page points to exactly same SUMO page. Perhaps one can be removed and/or other moved to the top?

[2017-12-04 19:25] npark-mozilla commented on #1773
Although content is not there, the page is correctly linked. @Sdaswani , when should we expect the content be available here?

[2017-12-04 19:40] mcomella commented on #1836
Sorry, I got a little stressed out on Friday and jumped to a solution before understanding the problem. It makes sense to do a second sweep of the issue and it's not often that someone else needs to close issues for you (and in that case, the reviewer probably has enough context to know if the issue needs to be closed) so keep on doing it if it works for you. :)

[2017-12-04 19:40] Sdaswani commented on #1773
I just asked @jonisavage when we should expect the content.

[2017-12-04 20:10] liuche commented on #1773
@jonisavage do you need a list from us about what needs to be in the page? It's not clear to me where that communication needs to come from (Product, Releng, Eng)? Going to reopen because I need to track this as part of my work in #1765 .

[2017-12-04 20:38] antlam commented on #1118
@codebu5ter I followed up with @lime124 after leaving the message above^

To start, can we follow the iOS implementation here? We could the same strings as well.

Basic user flow:
1. User types any character
2. User see's search suggestion and "Link you copied:" (as the screenshot above)
3. Tapping the second list item (Link) will load the link

Please post a screenshot of it once you're ready!

[2017-12-04 21:03] lime124 commented on #1118
thanks @antlam ! I know the flow might not be ideal and we want to follow up on that, but I think the first step is to get parity with iOS. Thanks for your help @codebu5ter

[2017-12-04 23:01] mcomella commented on #1492
Actually, it'd be ideal to QA this:
- Start focus, go to apple.com
- Connect Chrome developer tools (on desktop) to Focus
- Reload apple.com and verify the disk cache is being used
- Click the trash can
- Go to apple.com
- Reconnect Chrome developer tools (it disconnects when we close the WebView)
- Reload apple.com and verify the disk cache is being used

[2017-12-04 23:14] liuche commented on #1880
@lime124 I added this behavior without really thinking about it needing an error string - what do you think we should do here?

[2017-12-04 23:14] mcomella commented on #1880
@lime124 What string should we show in the Snackbar when the user tries to add two custom search engines with the same name?

@liuche How does uplift of Strings work? Or will this just appear in english for this release?

[2017-12-04 23:16] liuche commented on #1880
It might be late to add a new string - it would just show up in English, if we're okay with that, but we'd need a string from @BrianNJones.

[2017-12-04 23:21] lime124 commented on #1880
The behaviour seems reasonable, but I agree the string doesn't really make sense here. I can't remember what we decided for these situations - in general are we moving forward with english strings and then translating when we can?

[2017-12-04 23:27] Sdaswani commented on #1880
IMHO we can ship with this bad string and fix it in future release (e.g,. 4.1). Up to @bbinto though.

[2017-12-04 23:39] siddware commented on #1886
@pocmo Thanks for the detailed instructions :) Switching the version value to a constant was straightforward for the [detekt block](https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle#L30) but unfortunately facing an issue with the [plugins block](https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle#L26). The reason is plugin block doesn't seem to [support

[2017-12-05 00:53] liuche commented on #1828
Thanks for the pages, @jonisavage ! One correction, you don't need to hit "back" after saving/deleting engines to save the state - they should be updated as soon as you click the "Save" (or trashcan) button.

[2017-12-05 01:05] bbinto commented on #1880
I agree with @Sdaswani -- we can fix it in 4.1

[2017-12-05 01:09] liuche commented on #1880
Adding @BrianNJones so we can get strings for this for 4.1.

[2017-12-05 01:44] liuche opened #1904 "Release Engineering - 5.0"
See [Focus for Android Train Schedule](https://wiki.mozilla.org/Mobile/Focus/Android/Train_Schedule)

## Overview ##
Code freeze for a milestone is the *second Friday of the sprint*, and most of releng (except the first step) happens between *Monday and and Thursday (of the next milestone)*, with the *Beta release Thursday*. Beta should be promoted to Release on the release date.

## Sprint start

[2017-12-05 01:57] mcomella commented on #1837
Thanks for the investigation!

which leads to session.getLoading().observe always hitting the else case(!loading) and causing the deletion of the loading bar and failure to reset the gradient transition and draw appropriately.

I'm not sure I can identify the race you're talking about – can you elaborate? Perhaps by specifying the specific call orders that cause this bug to occur and the call orde

[2017-12-05 04:04] npark-mozilla commented on #1888
#1902 created to fix this issue

[2017-12-05 06:56] jonisavage commented on #1773
Content is up. The in-product link should redirect here: https://support.mozilla.org/en-US/kb/whats-new-focus-android-4

Please comment in the Google Doc if you'd like to suggest any changes: https://docs.google.com/document/d/1BkNZyHUTvKR0EsbTlUa_d39bCjAQexIrb2tigSWx2w4/edit#

[2017-12-05 13:07] bbinto commented on #1773
Looks good Joni

[2017-12-05 13:20] pocmo commented on #1886
@siddware Oh. That's annoying. Thank you for trying this. In this case I would almost prefer to just live with the duplication. @mcomella What do you think?

According to the detekt docs we could also remove the version from the detekt block:

However this might have unpredictable results and break builds randomly.

[2017-12-05 13:25] pocmo commented on #1836
@npark-mozilla Oh, please file an issue for that. That's definitely a bug in my code. @liuche mentioned that in the PR and I don't think I filed that.

[2017-12-05 13:26] pocmo commented on #1787
@lime124 ---^

[2017-12-05 13:29] pocmo commented on #1901
+1 for leak canary and fixing leaks.

Some input:
* Beta builds are distributed via buddybuild to the wider focus team as well as translators and SUMO contributors. For most of them leakcanary might be confusing.
* UI tests are running on debug builds. We do not want leak canary to interfere with them. :)

[2017-12-05 13:39] pocmo commented on #1900
Nice!

Currently I get this weird warning:

[2017-12-05 15:04] npark-mozilla opened #1906 "In API 23, the trashcan is not greyed out when nothing is selected."
From #1836.

This can be reproduced on API 23 simulator.  Go to Settings -> URL Autocomplete -> Custom URLs, and select 'Delete' from More Options button.

[2017-12-05 16:06] #1888 closed

[2017-12-05 16:21] nojunpark opened #1907 "Syntax check on custom autocomplete string may be needed"
Currently custom autocomplete accepts any strings, like "hello" as autocomplete sites. when a non-url string is autocompleted on URL bar it uses the search engine, which is not a problem and probably a feature too.

But when the user type "www." prefix, it also uses the custom autocomplete strings as well, like "www.hello" which causes a "server not found" error.

Possible feature would be that wh

[2017-12-05 16:36] mcomella commented on #1907
triage: if I understood correctly, we're going to wait and see what kind of comments we get.

[2017-12-05 16:37] mcomella commented on #1906
triage: let's try to get this into the release.

[2017-12-05 16:43] mcomella commented on #1897
No-Jun mentions this might be tied to something more sinister: make sure this isn't hiding any big code errors.

[2017-12-05 16:48] #1884 closed

[2017-12-05 16:49] mcomella commented on #1884
triage: agree with sebastian

[2017-12-05 16:50] liuche commented on #1883
There's an email thread with @Sdaswani and @npark-mozilla and Lastpass filing this as a bug.

[2017-12-05 16:53] liuche commented on #1879
However, this works fine for Yahoo - it creates the https:// search query.

[2017-12-05 16:54] mcomella commented on #1879
fwiw, I explicitly typed http://www.bing.com/search?q=test in Safari and it remained an http (insecure) query.

[2017-12-05 16:55] bbinto commented on #1872
@Sdaswani -- would you mind raising this with them. Thanks

[2017-12-05 16:55] pocmo commented on #1872
I saw this too with the release version. In my case I saved the credentials from Twitter and the form in the LastPass app said facebook.com.

[2017-12-05 16:57] mcomella commented on #1871
@pocmo How does this interact with the Share menu item we always show for #1358?

[2017-12-05 16:58] npark-mozilla commented on #1879
oh, just found out that in focus if the engine is defined as http://www.bing.com/search?q=%s, it autodirects to https://. the problem is when there is no http:// or https:// prefix.

[2017-12-05 16:58] liuche commented on #1879
In any case, it shouldn't return about:blank. If bing.com doesn't redirect to https but rather http, I'll have to think about whether that's something we should fix (like a built-in https-everwhere? but that is maybe outside the scope of this bug).

[2017-12-05 16:59] liuche commented on #1867
Just checked, with the new version of search engines the search query only allows a single line. This was originally multiple lines because the hint text was two lines and wouldn't fit if it was only one line.

[2017-12-05 16:59] #1867 closed

[2017-12-05 17:00] #1832 closed

[2017-12-05 17:07] mcomella commented on #1826
triage: No-Jun agrees this would be nice to have eventually.

[2017-12-05 17:09] mcomella commented on #1829
Unfortunately, I'm not sure if it's possible to incorporate this functionality but if you want to take a stab, go for it!

[2017-12-05 17:24] ahunt commented on #454
Happy to take this on since this bugs me occasionally.

IIRC WebView doesn't actually provide data for EV certificates, but I'll check that again - perhaps that's been fixed in more recent WebView (and/or we can try adding it directly ourselves : ) ).

[2017-12-05 17:54] pocmo commented on #1879
-> #596

[2017-12-05 17:56] pocmo commented on #1871
I'll redirect the question to @brampitoyo. As far as I remember we didn't discuss changing/removing the menu item in this case.

[2017-12-05 18:06] siddware commented on #1839
Could I work on this? :)

[2017-12-05 18:47] Sdaswani commented on #1872
I have an email out to them, will chase them daily.

[2017-12-05 19:19] mcomella opened #1909 "[meta] Uplift v4.0 release blockers"
- [x] #1906 and detekt failure fix #1918
- [x] #1896
- [x] #1924 (full or partial fix for #1922 )
- [x] #1876
- [x] #1931
- [x] #1935
- [x] #1936
- [x] #1939
- [x] #1957
- [x] All the l10n imports

Assigning to releng.

[2017-12-05 19:52] pocmo commented on #1839
@siddware Yes, absolutely! Let us know if you need any help.

[2017-12-05 20:07] #1896 closed

[2017-12-05 20:45] Delphine opened #1910 "Title String truncated on some locales on Autocomplete_Custom_URL_Remove_Dialog screen"
Seen in Italian and in French. Currently looking at other locales because probably happens on others too. FWIW since I can read French I can confirm this looks pretty bad
![autocomplete_custom_url_remove_dialog_1512492140902](https://user-images.githubusercontent.com/399020/33629794-311b0c70-d9ba-11e7-927c-c37ba2288862.png)
![autocomplete_custom_url_remove_dialog_1512493552935](https://user-images

[2017-12-05 20:54] Delphine commented on #1910
German, Arabic... all locales are affected including en-US!
@bbinto Could you help set the appropriate flags please?
![autocomplete_custom_url_remove_dialog_1512498582982](https://user-images.githubusercontent.com/399020/33630213-67c0b62a-d9bb-11e7-834f-a0f4a5818e24.png)

[2017-12-05 21:17] npark-mozilla commented on #1910
So this was caused by the screenshot test not waiting until the menu dialog is completely drawn. It's one of those expanding dialog, and isDisplayed() passes even when it's partially displayed.  I just found out that using device.waitForIdle() fixes it.

So, this does not happen in real product. Will fix the screenshottests soon

[2017-12-05 21:24] Delphine commented on #1910
That's really good to know, thanks for the update No-Jun (also, CC @flodolo so he knows his locale is OK)

[2017-12-05 22:15] liuche commented on #1876
Also, just to be explicit because we've mentioned "short on time" here and there, but this is a `release-blocker` and we want to uplift this patch to ship with the 4.0 release. I think the pace that we've been reviewing PR #1898 is good, and I expect this last round of changes will fix everything and allow us to land this Dec 6 on schedule. But on the off-chance that this gets more complicated pus

[2017-12-05 22:46] mcomella commented on #1886
Thanks for the investigation, @siddware ! I agree – I'd rather not use a hack to reduce duplication.

Thanks for the alternative. I also don't like this though – not pinning the version creates non-reproducible builds, which can make it difficult to debug issues between developers and creates problems trying to build old versions of Focus.

---

@siddware, as for the action items in this bug, coul

[2017-12-06 00:32] mcomella commented on #1875
It's hard to track this down entirely but it looks like (using call hierarchies):

1. **Delete everything** when session closed by:
    1. Back pressed
    1. Click on trash can
[code]

2. **Delete WebView files** when:
    1. (the case above: back pressed or trash can click)
    1. All sessions cleared
    1. When MainActivity finishes
    1. WebView is destroyed
[code]

3. **Delete LocalStorage*

[2017-12-06 00:35] mcomella commented on #1569
I did a not-too-thorough analysis of our current erase calls in https://github.com/mozilla-mobile/focus-android/issues/1875#issuecomment-349488964.

**One questionable detail**: we only delete *all* the data via the Chromium APIs when back is pressed or the user clicks the trash can. Otherwise, we fall back on deleting WebView's files which may not delete everything.

[2017-12-06 01:13] mcomella commented on #1875
This doesn't happen. To test this, I changed the trash can just to remove these files, clicked refresh, and I'm still logged in.

We can fix this by deleting the cookies at the start of a new browser session, like we did for #1306.

There may be other hidden issues we're not fixing here – we should try to comprehensively fix this issue in #1569.

[2017-12-06 01:17] mcomella commented on #1569
Note (to self?): we should enumerate all the ways the user can delete data/close the app when coming up with a strategy such as trash can, notification (background, foreground), "3D touch" press, swipe to close, OOM, force quit, etc.

[2017-12-06 01:22] mcomella commented on #1875
fwiw, I was also able to reproduce this with Spotify login.

[2017-12-06 02:33] #1906 closed

[2017-12-06 02:35] liuche commented on #1906
@npark-mozilla if you can verify this on master, I'll uplift it into the 4.0 branch.

[2017-12-06 02:36] liuche commented on #1896
@npark-mozilla if you can verify this on master, I'll uplift it into the 4.0 branch.

[2017-12-06 02:42] liuche commented on #1775
1) Is there or will there be **documentation** that describes the schema for the ultimate data set available publicly, complete and accurate?

Yes, on https://github.com/mozilla-mobile/focus-android/wiki/Telemetry

2) Is there a control mechanism that allows the user to turn the data collection on and off? (Note, for data collection not needed for security purposes, Mozilla provides such a control

[2017-12-06 03:26] npark-mozilla commented on #1896
@liuche yup looks good on my pixel.

[2017-12-06 03:55] npark-mozilla commented on #1906
@liuche With the autocomplete, now the trash can icon is properly greyed out. But I just realized that I forgot to mention the same bug with Remove search engines dialog.  Will create a new bug for it.

[2017-12-06 03:56] npark-mozilla opened #1915 "In API 23, the trashcan is not greyed out when nothing is selected in Remove search engines dialog"
From #1906 . Sorry about raising this late.

[2017-12-06 11:06] pocmo commented on #1910
@npark-mozilla But even without the menu showing on top it looks like some of the strings in the background are truncated....? I'm not sure what to do about it though. Changing the source string to something shorter so that the translations are shorter too (but this has to be in one of the next releases)?

[2017-12-06 11:09] pocmo commented on #1910
We might not need to set a title at all (or a "subscreen") and instead show a contextual selection bar when the user is selecting items, see:
https://developer.android.com/design/patterns/actionbar.html
(-> UX, @lime124)

[2017-12-06 14:05] SorinaFlorean opened #1917 "Trash can icon active when no search engine are selected"
Devices:
Nexus 5 (Android 6.0.1)
Nexus 6 (Android 7.1.1)
build: Focus 4.0 Beta Build #3691

Steps to reproduce:

Launch Focus and go to Settings.
Click default search engine name, and in 'Installed search engines' dialog, click more options button and select remove.

Expected results:
Remove search engines dialog shows up. The trash can icon is inactive when no engines are selected.

Actual result

[2017-12-06 14:27] SorinaFlorean opened #1920 "Inconsistency when closing pages from Your Rights"
Devices:
Nexus 5 (Android 6.0.1)
Nexus 6 (Android 7.1.1)
build: Focus 4.0 Beta Build #3691

Steps to reproduce:

Launch Focus and go to Settings.
Tap on Your Rights.
Open another link from page.
Tap on back arrow or on back device button.

Expected results:
Your Rights page is opened with all the information.

Actual results:
Settings is opened.
Same behavior for About Firefox Focus, Help, Privacy

[2017-12-06 14:43] SorinaFlorean opened #1922 "Settings Menu not displayed properly"
Devices:
Nexus 5 (Android 6.0.1)
Nexus 6 (Android 7.1.1)
build: Focus 4.0 Beta Build #3691

Steps to reproduce:

Launch Focus and go to Settings -> Search.
Add a new search engine. Stay a couple of minutes(2-3) and tap back.

Expected results:
All the options are correctly displayed, also when tapping back to Settings Menu.

Actual results:
The options are one above each other. Not reproducible al

[2017-12-06 14:46] npark-mozilla commented on #1910
An example of what @pocmo mentions is https://npark-mozilla.github.io/ast/images/phoneScreenshots/Autocomplete_Add_Custom_URL_Dialog_1512520744956.png

But didn't we kind of agree that truncation is acceptable for devices with small screens? But I agree that actionbar does look better.

@Sdaswani, @bbinto , does this truncation look like a release blocker to you?

[2017-12-06 14:54] Sdaswani commented on #1910
If it was a blocker yesterday for @bbinto , it's probably still a blocker today? Since we can't shorten the string until the next release (i.e., new localization), can we fix this up today @pocmo @liuche @mcomella ?

[2017-12-06 14:56] Sdaswani commented on #1915
Hopefully it's as quick a fix @liuche @mcomella ?

[2017-12-06 15:00] pocmo commented on #1910
Yes, for the notification. It might still be okay here - but we (or more: UX / product) should state that explicitly here. :)

[2017-12-06 15:03] npark-mozilla commented on #1910
@Sdaswani Ah, this issue was initially raised because the screenshots showed this ghost-like overlap of texts. that was because of timing of screenshots.  After fixing the screenshot test, it uncovered much less-severe truncation of the title text as shown in the link I pasted above.

[2017-12-06 15:04] pocmo commented on #1922
Mhhhh. This looks like backstack shenanigans. In MainActivity we had some problems too and we decided to handle back presses on our own and avoided using the backstack.

[2017-12-06 15:12] pocmo opened #1923 "Keyboard stays up after adding new search engine or autocomplete domain"
Not critical but a nice thing that a contributor could fix.

STR:
* Go to Settings -> Search -> Add another search engine
* Enter some random search engine URL and name.
* Press "Save"

Expected: Hide keyboard and return to the list of search engines.

Actual: Return to the list of search engines but keyboard is still up.

The same issue can be reproduced when adding a new autocomplete domain.

[2017-12-06 15:31] bbinto commented on #1910
Before deciding, need some confirmation:

To clarify, @npark-mozilla this *only* happens on devices with small screens? Can you specify at which width that problem starts: I could look into Google Play Store what percentage of users are affected.

Also, this is the worst it can get, correct?  https://npark-mozilla.github.io/ast/images/phoneScreenshots/Autocomplete_Add_Custom_URL_Dialog_15125207449

[2017-12-06 15:37] npark-mozilla commented on #1910
So in pixel 2, which has 5.1" screen, the truncation still happens a bit:
![screen](https://user-images.githubusercontent.com/6930774/33669815-76a93624-da71-11e7-9cca-31929d0216b8.png)

[2017-12-06 15:39] bbinto commented on #1910
Ok, it's not a release blocker, but I'd like @antlam and @lime124 to think about the suggestion @pocmo mentioned [here](https://github.com/mozilla-mobile/focus-android/issues/1910#issuecomment-349607956).

[2017-12-06 15:40] npark-mozilla opened #1924 "When changing orientation in any Settings submenu, the app exits to main settings UI"
In API 26 Pixel 2, if you go to any of the sub-dialog from settings, and change the orientation from landscape -> portrait and vice versa, it exits to the main settings menu instead of changing orientation.

[2017-12-06 15:45] pocmo commented on #1924
Aye, I stumbled upon this code today:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/activity/SettingsActivity.java#L37-L39

We always replace all fragments in SettingsActivity.onCreate(). We only want to `add` here and only if there is no fragment yet.

[2017-12-06 15:56] SorinaFlorean opened #1926 "Video exit full screen mode when device orientation is changed"
Devices:
Nexus 5 (Android 6.0.1)
Nexus 6 (Android 7.1.1)
build: Focus 4.0 Beta Build #3691

Steps to reproduce:

Go to video sites like ted.com
Click on full screen button
Change device orientation from portrait to landscape a couple of times.

Expected results:
The video is still in full screen mode.

Actual results:
The video exit full screen mode when the device orientation is changed. Remains

[2017-12-06 16:01] pocmo commented on #1926
This doesn't happen on all sites. So I almost wonder if that's something the site is doing on purpose.

* Vimeo never leaves fullscreen.
* YouTube only leaves fullscreen when going from landscape to portrait mode. The other way around it stays in fullscreen mode.

[2017-12-06 16:12] npark-mozilla commented on #1924
This doesn't look like a regression - so it's probably not a release blocker, but would be pretty awesome if it gets uplifted to 4.0 as well.

[2017-12-06 16:23] npark-mozilla commented on #1924
Actually we did with the language selection, that dialog is affected too :)

[2017-12-06 17:01] pocmo opened #1927 "Search engine form error handling: Use setError() instead of Snackbar"
I think we should use setError() on the input fields (to show the error in context) instead of showing a snackbar when entering invalid search engines.

Example from the material guidelines:
![image](https://user-images.githubusercontent.com/89638/33674249-3a18d046-daaf-11e7-8022-9fc1327ca797.png)

[2017-12-06 17:03] antlam commented on #1910
I noticed this on iOS as well, where `< URL Autocomplete` buts right up against `Custom URL` too.

[2017-12-06 17:43] npark-mozilla commented on #1917
We have #1915 to work on this issue.

[2017-12-06 17:43] #1917 closed

[2017-12-06 17:44] npark-mozilla commented on #1920
@pocmo hmm, this might be related to #1924 ?

[2017-12-06 17:47] npark-mozilla commented on #1922
I saw this once too but couldn't repro it afterwards. I think this happens intermittently, but still, it does look like it's a high priority.  I'll tentatively mark it as a release blocker, @bbinto what do you think?

[2017-12-06 17:52] ekager commented on #1775
Ok will do @liuche !
Thanks!

[2017-12-06 18:14] Jacquester commented on #1923
I'm not even able to add a search engine, as I select either one of the TextInputEditText it instantly loses focus.
Would you mind if I try my luck with this one ?

[2017-12-06 18:33] bbinto commented on #1922
@npark-mozilla release blocker

[2017-12-06 19:17] bbinto opened #1930 "[meta] Add search suggestions"
Added by @bbinto

### Why/User Benefit
- As a user I want to get quicker to my search results without typing in the full search keyword
- Provides less friction for the user

### What
- Prompt users first time when entering search keyword to turn it on/off
- Provide search suggestions from selected search engine
- Off by default, option to turn on under settings

### Acceptance Criteria (how do I

[2017-12-06 19:21] BrianNJones commented on #1880
Let's use:
An installed search engine is already using that name.

[2017-12-06 19:36] mcomella commented on #1880
An installed search engine is already using that name.

@BrianNJones The other error string, "Check that search string matches Example format", does not include a period – should I omit one for this string as well? It looks like the Snackbar Material Design examples don't include periods either: https://material.io/guidelines/components/snackbars-toasts.html

[2017-12-06 20:21] BrianNJones commented on #1880
@mcomella If you scroll down on https://material.io/guidelines/components/snackbars-toasts.html you'll see examples w/punctuation. The driver is typically complexity of the snackbar message. "Archived" doesn't need punctuation and kinda looks weird with it (IMHO). I'd leave it in for this one.

[2017-12-06 20:33] mcomella opened #1931 "Import strings before v4.0 release"
Cross-functional said we needed to import strings before release.

@Sdaswani, anything to add here?

[2017-12-06 20:37] bbinto commented on #1879
Discussed a quick fix in x-functional
- Validate on user's input, return error message if search query is incorrect and point user to SUMO page
- Add "learn more" under add to search engine screen
- @bbinto to work with @jonisavage and Roland to add examples to SUMO page
- @bbinto to work with marketing to address this feature as a power user feature to set expectations

[2017-12-06 20:40] liuche commented on #1931
This is covered in the release engineering bug so duping to #1765

[2017-12-06 20:42] liuche commented on #1879
@bbinto what does "incorrect" specifically mean here?
a) Missing %s
b) Doesn't resolve to a webpage (might show about:blank)

[2017-12-06 20:44] bbinto commented on #1879
ideally both, @liuche -- I think we already validate on the %s no?

[2017-12-06 20:46] antlam commented on #1880
🤔 Typically on Android, the way to display Error messages is to use the form field itself. The snackbar is more reserved for confirmation type messages.

Since we already inherently follow these guidelines for the text fields, it gives us plenty of room to provide specific feedback (more specific since it's right next to the offending input field).

Maybe we should try putting the error message in

[2017-12-06 20:50] liuche commented on #1879
Okay, that makes sense - and yes, we already validate on %s.

[2017-12-06 20:52] antlam commented on #1927
+1 I was just going to post this :)

[2017-12-06 20:53] Sdaswani commented on #1931
Re-opening so Delphine can provide a list of locales for us to import here. 1765 looks a bit much for Delphine to annotate.

[2017-12-06 20:54] bbinto commented on #1828
@jonisavage we need to add [a bit more explanation](https://github.com/mozilla-mobile/focus-android/issues/1879#issuecomment-349767215) to the SUMO page on how to use this feature, I think the best is to add some example query URLs people could copy and paste:

For example:

https://www.bing.com/search?q=%s
https://en.wikipedia.org/wiki/%s
http://www.imdb.com/find?q=%s
https://bugzilla.mozilla.org

[2017-12-06 21:13] liuche commented on #1879
@bbinto I'm a little hesitant about adding the requirement for a "webpage loads" check because the user might not have internet (or the request times out) and that adds more explaining that has to go to the user for what is going wrong - I'll talk to @antlam about this.

[2017-12-06 21:19] antlam opened #1933 "Quick "Add" URL to autocomplete list"
Why
- Users are currently unable to easily add URLs to the autocomplete list

What / Requirements
- [ ] Provide a convenient and quick way to add the current visited URL to autocomplete list
- [ ] Allow user to save path with URL
- [ ] (optional) Fuzzy autocomplete?

Acceptance Criteria (how do I know when I’m done?)
- User can add any URL successfully to the autocomplete list
- Current list manag

[2017-12-06 21:37] bbinto commented on #1879
@liuche, can you clarify what @antlam can help here with? Let's not waste that much time to find the perfect solution, I'm ok with excluding "the user does not have internet connection" use case for 4.0 and figure out a proper solution for the next iteration.

[2017-12-06 21:44] mcomella opened #1934 "Add "Learn more" link to action bar of "Installed Search Engines" page"
Re-use ic_info, make it the same color as the menu button.

[2017-12-06 21:44] mcomella opened #1935 "Add (I) link to action bar of "Add search engine""
Re-use style of learn more in settings (under telemetry?).

[2017-12-06 21:45] mcomella opened #1936 "Add additional validation (just making a network request?) to add search engine"

[2017-12-06 21:49] Sdaswani commented on #1936
Yes @mcomella let's look for a 200. Do what is _reasonable_ about disabling the 'Save' button / UI while the network request is in flight and time limit it (e.g., max 5 seconds waiting on the request).

[2017-12-06 21:52] liuche commented on #1879
I've been talking to @antlam about the case (which does not exist at all) of "check the url to make sure it returns something". Namely, if it fails, we need to communicate to the user what went wrong (so they can fix it) or if it's something like "you don't have network".

[2017-12-06 22:02] liuche commented on #1931
Generally she emails that list out, but okay.

[2017-12-06 22:11] liuche commented on #1906
Uplifted to release.

[2017-12-06 22:11] liuche commented on #1896
Uplifted to release.

[2017-12-06 22:27] liuche commented on #1828
Probably the "en" of wikipedia should not be included, wikipedia should redirect for you.

[2017-12-06 22:28] liuche commented on #1828
Reopening because we discovered that this needs more changes due to this feature being confusing for non-power users.

[2017-12-06 22:58] nosark commented on #1837
@mcomella I apologize, race case was not the correct way to describe it. SessionCallbackProxy.onPageStarted() always gets called second to the session.getLoading().observe OnValuechanged. I have done some digging and  OnValueChanged  always beats onPageStarted. Instead of setting the default loading value to true by default, what if we set session.setLoading(true) inside of the SessionCallbackProx

[2017-12-06 23:14] Sdaswani commented on #1879
I think lumping all the failure into the same error message is fine for 4.0 - we will get more specific in a later release.

[2017-12-06 23:24] Delphine commented on #1931
I'm thinking it may be a better idea to list these out here from now on, because it's just easier to track in the future than by email. However, let me know you'd prefer doing this by mail next time (fwiw we used to do it on bugzilla which worked fine, and GitHub is good by me for the same reasons!)
We can sign-off for v4 Focus Android for all locales except "lt" (Lithuanian) and "oc" (Occitan): h

[2017-12-06 23:25] Delphine commented on #1931
Please import latest strings before adding these locales to release! thank you

[2017-12-06 23:25] Sdaswani commented on #1931
Thanks @Delphine - I agree GH is better for these, so we can track this all per release.

[2017-12-06 23:27] mcomella commented on #1935
Requirements changed!

[2017-12-06 23:27] mcomella commented on #1934
Requirements changed, this is no longer necessary.

[2017-12-06 23:27] #1934 closed

[2017-12-06 23:28] mcomella opened #1939 "Move error messages in "Add search engine" under input fields"
Like https://material.io/guidelines/patterns/errors.html

Adjust the padding to the sides to 16dp and between menu items to 16dp while you're at it.

[2017-12-06 23:43] liuche commented on #1936
Going to switch to #1939 because it's a slight dependency.

[2017-12-06 23:54] #1876 closed

[2017-12-06 23:57] liuche commented on #1876
@npark-mozilla should be in the next master - if you can verify this I'll uplift it! Also, #1915 may be a dupe, but filed before this was finished and merged.

[2017-12-07 01:34] mcomella opened #1941 "Add new "Learn more" string for Add Search Engine info button"
I re-used the string in #1935 but we should add a new one.

[2017-12-07 05:29] npark-mozilla commented on #1876
👍

[2017-12-07 05:30] npark-mozilla commented on #1602
we ran the screenshot test which imports this locale, and if the placeholder was missing, either the import itself or the locale set would have failed as before.

[2017-12-07 05:32] npark-mozilla commented on #1601
Before this bug was fixed, running screenshottest with fastlane on 'ia' used to crash, Now it generates proper screenshots with valid texts (which is also checked by l10n people)

[2017-12-07 05:34] npark-mozilla commented on #1271
Assuming it's validated by Legal team

[2017-12-07 05:41] npark-mozilla commented on #1492
@mcomella actually, when I connect devtools, it says 'No browser is detected'.  It does detect fine when I launch chrome instead of Focus.  Is there a way to make devtool recognize Focus?

[2017-12-07 11:03] pocmo commented on #1930
This assumes the text I enter will be a search though. :)

Anyhow, I think if it's a user's explicit choice to use search suggestions then this is fine. I like how desktop and Fennec ask whether you want search suggestions the first time you start typing.

[2017-12-07 11:11] pocmo commented on #1933
The autocomplete case seems to be straight-forward. "Search engine" needs more thought: How do we know where to put the placeholder for the search query?

[2017-12-07 11:12] pocmo commented on #1923
@Jacquester This sounds like a severe bug. Can you file a separate issue for that and describe what you are doing. Please include device and Android version. Maybe even record a video if possible. Thank you!

This issue is still available. Go for it!

[2017-12-07 11:15] pocmo commented on #1920
This one is different.

In InfoActivity we didn't override the back button behavior. Back will just leave the screen. We could decide to go back in history if there's history. I'll leave this decision to UX (ping @lime124).

For this and a related issue I wonder whether it would be an alternative to just open a tab instead of showing web content in this sub screen.

[2017-12-07 11:18] #1839 closed

[2017-12-07 11:32] pocmo opened #1944 "SearchEngineManager.restoreDefaultSearchEngines() should use apply() instead of commit()"
In `SearchEngineManager` we call `commit()` on the `SharedPreferences.Editor`:

https://github.com/mozilla-mobile/focus-android/blob/c3437f8618d8fbaa5a2ceb5dc50f7f9d7b760959/app/src/main/java/org/mozilla/focus/search/SearchEngineManager.java#L357-L359

Instead we should call `apply()` to avoid blocking the main thread. The changes will be updated in memory and be visible to callers immediately.

[2017-12-07 11:38] pocmo opened #1945 "Reduce complexity of SettingsFragment by not overloading responsibility"
SettingsFragment used to be responsible for showing the main settings screen only.

Now it's also responsible for showing a bunch of sub-screens. Those screens share almost no functionality so having a lot of switch cases in newInstance, onCreateOptionsMenu and so on make this class super complex and I fear we end up with monster like in Fennec.

For the autocomplete screens I added separate fragm

[2017-12-07 11:41] pocmo opened #1946 "AutocompleteListFragment: Remove redundant '.let' call"
In AutocompleteListFragment we use let to call a method on a nullable type:

https://github.com/mozilla-mobile/focus-android/blob/c3437f8618d8fbaa5a2ceb5dc50f7f9d7b760959/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteListFragment.kt#L257

This is not needed. Instead we could just do:

[code]

[2017-12-07 11:46] pocmo commented on #1936
Are you really sure that's a reason to block the release? This looks like we are rushing something that has a bunch of side effects, e.g.:

* Redirects!
* Search engines do fancy things based on the client accesing them (user agent etc.) - They don't want you to scrape search results.

[2017-12-07 11:48] pocmo commented on #1922
So far I am not able to reproduce this.

[2017-12-07 11:51] pocmo commented on #1927
Seems like there's another one now: #1939. As there's already working happening on #1939. I'll close this one as duplicate of #1939.

[2017-12-07 11:51] #1927 closed

[2017-12-07 11:57] siddware commented on #1900
@mcomella Thanks, will take a look :)

[2017-12-07 11:58] Jacquester commented on #1923
I'll get onto it as soon as possible :)

[2017-12-07 13:43] pocmo commented on #1922
Finally I'm able to see this... in my case it happened after pressing back from the URL autocomplete form.

[2017-12-07 13:47] pocmo commented on #1922
Looking at the state with uiautomatorviewer I can see that in fact two fragments are visible at the same time.

[2017-12-07 13:52] #1946 closed

[2017-12-07 14:15] bbinto opened #1949 "Pop-up issue with no possibility to hit "back""
via email convo with @antlam

I've seen this mostly on websites that are "shady", like Sports live streaming websites.

- Essentially, the user is loading a web page they want, then the "invasive ad" takes over and they're on a web page they didn't ask to load.
- Then they hit "back" in our UI but get caught in this loop that just reloads the ad (web page redirect). This is quite frustrating indee

[2017-12-07 14:24] pocmo commented on #1949
It's quite hidden and therefore maybe not the best solution.. however in Fennec you can long-press the back button (like on desktop) and a list of all websites visited in this tab pops up. With that you can decide to go back to a specific page.

[2017-12-07 14:31] pocmo commented on #1465
For inspiration: Firefox iOS has a pull request template. I like the checklist in the PR a lot!

* https://github.com/mozilla-mobile/firefox-ios/blob/master/PULL_REQUEST_TEMPLATE

[2017-12-07 14:31] Sdaswani commented on #1936
@pocmo both of those are real risks, but I'd rather they are false negatives (i.e., don't report back 200) blocking the experience rather than leading to the white screen of nothingness (which makes Focus look totally broken).

[2017-12-07 14:31] pocmo commented on #1465
Actually I'm going to file a separate issue for the PR template.. :)

[2017-12-07 14:33] pocmo opened #1950 "Create pull request template"
GitHub allows us to create a template for pull requests.

I like the one Firefox iOS uses a lot:
https://github.com/mozilla-mobile/firefox-ios/blob/master/PULL_REQUEST_TEMPLATE

Especially the checklist is great. In the list of pull request you'll instantly see the state of a PR (e.g. "2 of 6").

(For creating an issue template see #1465)

[2017-12-07 14:52] bbinto opened #1951 "Show a share button in the toolbar if the app doesn't show its own action button"
Discussed [here](https://github.com/mozilla-mobile/focus-android/issues/1626#issuecomment-348496359)

Improvement to #1358

[2017-12-07 14:52] bbinto commented on #1626
Thanks everyone for working through this.

Is it "custom_tab_action_bu" [here](https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#custom-tabs) ?

Filed: https://github.com/mozilla-mobile/focus-android/issues/1951

[2017-12-07 14:55] pocmo commented on #1951
Oh, I forgot to update the comment, but I did file an issue back then: #1871 :)

[2017-12-07 14:55] #1951 closed

[2017-12-07 14:57] pocmo commented on #1626
That's for clicks on the button. If we want to see how often apps just show it then we should look at (action, intent_custom_tab, app) and then into the extras to see if it contains `hasActionButton: true`.

[2017-12-07 15:23] pocmo commented on #1936
Agreed. Although we are not fixing the random redirect to a white about:blank here.

[2017-12-07 15:43] Sdaswani commented on #1936
@pocmo wouldn't we get a redirect at first and then say it isn't valid? So not sure how we would redirect to a random white screen. But we realize there is a risk that we get a 200 to a page the user doesn't expect (i.e., non search page).

[2017-12-07 15:43] Securter commented on #1944
Hey @pocmo it's my first time contributing here, I've added a commit to my forked repo Is there anything else needed or I can submit a PR referencing this issue?

[2017-12-07 15:44] pocmo commented on #1944
@Securter Thank you for your help. Yes, please go ahead and submit a PR. :)

[2017-12-07 16:19] #1944 closed

[2017-12-07 16:23] Jacquester opened #1953 "Unable to add another search engine (InputEditText instantly loses focus)"
When trying to add a new search engine, the TextInputEditText for the search engine name and Search string instantly loses focus upon selection.

Device: Vodafone power tab 10
Android version: 5.1
Focus version: 4.0 build # 11

I'm pretty sure this is a device specific problem but could someone running an android 5.1 device confirm this ?

To replicate:
* go to settings > Search > Add another sear

[2017-12-07 16:36] pocmo commented on #1953
Thank you for the detailed report - especially the video.

@Jacquester Does this happen when adding an autocomplete domain too?

[2017-12-07 16:39] Jacquester commented on #1953
Funny enough no?

I just tested this on another device running android 5.1.1 "half" of the problem was found, I'll upload a video of that too since I have no logical way of explaining the behaviour of it :)

[2017-12-07 16:39] pocmo commented on #1922
This is a Heisenbug. I haven't been able to ever see it again.

[2017-12-07 17:25] pocmo commented on #1922
The problem seems to come up when a fragment transaction without backstack happens in between transactions with backstack. A good explanation of the issue is this blog posting:
http://www.andreabaccega.com/blog/2015/08/16/how-to-avoid-fragments-overlapping-due-to-backstack-nightmare-in-android/

One way I can reproduce this is by piggybacking on the issue from #1924. We definitely should land the

[2017-12-07 17:36] antlam commented on #1949
Yeah, I keep thinking I can trigger that  does it in Focus too, but it doesn't...

But yeah, discoverability is the second part of this problem. But it's also obviously not common issue people run into so maybe discoverability is not that big of an issue.

[2017-12-07 17:51] Jacquester commented on #1953
Here is the second video I made from another device that I "borrowed" from a family member:
https://youtu.be/nFz3H0S8WhY

Note that I am explicitly closing the keyboard to show the strange behaviour of the TextInputEditText that instantly drops focus. I'm starting to think this also has something to do with issue #1923 with the keyboard never dissapearing.

This video was tested on a device runnin

[2017-12-07 18:23] pocmo commented on #1953
@Jacquester Thanks for testing this. In the second video it looks like this only happens for the first time you click on one of the input fields. Can you still enter a search engine or are you complicated blocked?

@bbinto Potentially a release-blocker? What do you think?

[2017-12-07 18:40] Jacquester commented on #1953
Rather say it only happens the first time I click on it and the keyboard is not shown.

I'm still able to add a search engine on the second device, the first one is completely blocked

[2017-12-07 18:43] liuche commented on #1931
Hi @Delphine, are there any locales that need to be screenshotted, but not approved? Also, if it's not much trouble in the future can you send this list alphabetized?

[2017-12-07 18:47] liuche commented on #1931
Thank you!

Sorry, what I mean is, are there any locales that are partially localized and need to have localized screenshots of the app (for them to verify) other than "lt"?

[2017-12-07 18:52] Delphine commented on #1931
Yes, all locales should get screenshots, whether entirely localized or not. That's what we've been doing since the beginning with No-Jun.

[2017-12-07 19:06] liuche commented on #1953
I think this might be fixed with the #1939 PR actually - there's a small change to change to panAdjust rather than panResize.

[2017-12-07 19:09] liuche commented on #1920
Talked to @Sdaswani, not a release blocker.

[2017-12-07 19:09] liuche commented on #1926
Talked to @Sdaswani, not a release blocker.

[2017-12-07 19:25] liuche commented on #1931
haha sorry this is still not clear! What I mean is, are there any other locales that now need screenshots? The list you've sent are the locales that are now approved to ship - but are there any new locales that have been started I guess, that will now need screenshots.

[2017-12-07 19:35] bbinto commented on #1953
ok, let's confirm if #1939 fixes it, otherwise this might have to become a release blocker, unless it's very isolated to a rare device/setup.

[2017-12-07 19:43] Jacquester commented on #1953
I can confirm #1939 will solve this, changed the manifest to use panAdjust instead of panResize and it solved it. Thanx @liuche

[2017-12-07 19:47] #1924 closed

[2017-12-07 19:47] liuche commented on #1931
Okay clarified in real-time communication: "lt" is the only locale that gets screenshots, but is not shipping.

[2017-12-07 19:48] pocmo commented on #1922
I haven't found any other reason than #1924. This has been merged to master now.

@npark-mozilla @SorinaFlorean Can you try to reproduce this in the latest builds?

[2017-12-07 19:55] liuche commented on #1923
I wonder if this actually was a problem with adjustPan vs adjustResize in SettingsFragment - this is causing some conflicts with some patches we need to uplift to 4.0, so I'm going to temporarily back this out, and reland if this fix is still needed.

[2017-12-07 20:00] mcomella opened #1955 "Refactor getSumoURLForTopic to use enums"
Scratching an itch – assigning to keep track of this.

[2017-12-07 20:01] mcomella commented on #1955
todo:
- test changes in product
- Add docs for topicStr

[2017-12-07 20:19] #1931 closed

[2017-12-07 20:24] liuche commented on #1936
Talked to @antlam about the UX, and the outcome is:
1) User fills out all the fields, but uses something like imdb.com/%s (which is incorrect)
2) Click "Save"
3) Show a spinner (for feedback)
4) If not successful, display the error message "Server not found" under the search string entry (this string is already shipped with Focus). (If successful, just add search engine and show confirmation)

[2017-12-07 20:25] Sdaswani commented on #1936
I like the spinner and the error message. The error message captures the 200 check and if the device doesn't have a connection.

[2017-12-07 20:36] Securter commented on #1950
Hello, Can I work on this @pocmo ?

[2017-12-07 20:37] Jacquester commented on #1922
@pocmo I was able to reproduce this whilest working on #1923 and #1953

I'll send a screenshot in a few minutes

[2017-12-07 20:43] #1939 closed

[2017-12-07 21:09] Jacquester opened #1956 "Simplify removal of search engines and auto-complete custom URLs"
Instead of removing a search engine by clicking options > Remove and selecting the search engines to be removed, why not include a long press functionality on the list similar to deleting chats in whatsapp or IMO ?
If you long press one of the search engines on the list the fragment asking which engines to remove comes up with the selected engine already checked.

The same applies to auto-complete

[2017-12-07 22:32] #1935 closed

[2017-12-07 22:34] liuche commented on #1922
I'm going to close this for now, and flag for QA verification.

[2017-12-07 22:34] #1922 closed

[2017-12-07 22:35] liuche commented on #1915
Should be fixed by #1876 which has now landed. Going to close and flag for QA.

[2017-12-07 22:35] #1915 closed

[2017-12-07 22:38] liuche commented on #1923
@Jacquester can you still repro this on a fresh pull from master?

[2017-12-07 22:39] liuche commented on #1953
Closing as resolved by #1939. Thanks for verifying for us, @Jacquester!

[2017-12-07 22:39] #1953 closed

[2017-12-07 23:16] liuche commented on #1828
Closing, links have been included in the SUMO page. Thanks @jonisavage !

[2017-12-07 23:16] #1828 closed

[2017-12-07 23:17] #1773 closed

[2017-12-07 23:31] liuche opened #1957 "Allow copying of links from "Add search engine" SUMO article"
Opening the sumo article shows a list of links, but they can't be directly copied to the clipboard - need to select nearby text and then drag the text-handles.

[2017-12-07 23:33] liuche commented on #1957
Not going to make this a release blocker because we are trying to release a beta today, but will try to get this fix in.

[2017-12-08 00:45] liuche commented on #1923
Ah I can repro this on r26 devices (but not r23), will reland these changes.

[2017-12-08 00:45] liuche commented on #1923
Assigning myself to reland.

[2017-12-08 01:03] mcomella opened #1960 "Custom search engine validation requires %s at the end of the string"
While many urls include search params as get query args, and thus this is possible to do, it won't always work (I don't have examples atm) and it requires the user to piece apart a query string on a mobile device, e.g. copy-pasta ebay:

https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.Xstar+wars.TRS0&_nkw=star+wars&_sacat=0

Requires you to change it to:

https

[2017-12-08 01:11] mcomella commented on #1960
Here's the problem regex: https://github.com/mozilla-mobile/focus-android/blob/e208a4d7e0ebc469d6036ba81065d38fad52d2ee/app/src/main/java/org/mozilla/focus/utils/UrlUtils.java#L58

[2017-12-08 01:38] mcomella opened #1962 "Custom search engines aren't selected after creation even though they can't be used until selected"
after a user creates a search engine, we don’t select it for them. It’s seems wrong to do so but feels weird that I can’t use this search engine unless it’s the default so what’s the point of adding it?

antlam and liuche agreed on slack.

[2017-12-08 01:40] mcomella opened #1963 "Provide new string for error handling for "Add Search Engine" URL validation, or update handling entirely"
We re-used the "Server not found" string so we should either:
- Replace the string with a specific one for this place
- Update the error handling entirely (invalidating needing a new string)

[2017-12-08 02:08] Sdaswani commented on #1936
Cleared by security

[2017-12-08 02:15] #1957 closed

[2017-12-08 02:21] liuche opened #1964 "Revisit context menu in SUMO page "Open link in new tab""
In #1957 we show the basic Focus context menu when long-pressing a url so users can copy, and then paste into their "add search engines". This was a bandaid solution I came up with with @antlam, and we need to revisit because the "open links in new tab" definitely doesn't work, and "share" doesn't really make sense.

![screenshot_1512693023](https://user-images.githubusercontent.com/1082253/337480

[2017-12-08 08:25] #1936 closed

[2017-12-08 08:35] liuche commented on #1936
@npark-mozilla I'm especially interested in how this tests on oreo - I thought I had an infinite timeout on the oreo emulator, but didn't have a physical device.

[2017-12-08 08:37] liuche commented on #1957
@npark-mozilla known issues: not all the items in the context menu work/make sense. @antlam cleared the UX to use the generic Focus context menu for this situation, so the main thing to test is that "copy link" works (and of course that nothing horrible or crashy happens).

[2017-12-08 08:47] liuche commented on #1963
I'm sorry we made so much new UI while you were gone! fwiw @antlam helped, so hopefully it's not too off the rails.

[2017-12-08 08:49] liuche commented on #1941
Actually, not going to export these strings because @lime124 might want to revisit this UX.

[2017-12-08 08:50] liuche commented on #1879
All sub-issues finished, closing meta.

[2017-12-08 08:50] #1879 closed

[2017-12-08 08:50] liuche commented on #1909
All sub-issues uplifted.

[2017-12-08 08:50] #1909 closed

[2017-12-08 09:17] liuche commented on #1765
Bugzilla for release signing: https://bugzilla.mozilla.org/show_bug.cgi?id=1424193

Assigned to sfraser because we are now in the GMT working timezone 😞

[2017-12-08 14:45] pocmo commented on #1962
Yeah, for now auto-selection might be a good idea. In the long run there was some UX discussion about adding something to quickly search with other search engines too (like with the quick search bar in fennec).

[2017-12-08 14:54] pocmo opened #1968 "Findbugs: ManualAddSearchEngineSettingsFragment.isValidSearchQueryURL(String) might ignore java.io.IOException"
Breaks builds on taskcluster again.

This seems to be on purpose. We just need to tell findbugs.

[2017-12-08 15:00] pocmo commented on #1950
I think for this one the team first needs to decide what we want to add to this template. Is there anything specific you wanted to add?

For now it might be better to pick a different issues from our 'help wanted' or 'first good issue' list:
* https://github.com/mozilla-mobile/focus-android/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22
* https://github.com/mozilla-mobile/focus-android/is

[2017-12-08 15:09] pocmo commented on #1956
I think @antlam proposed this too - I wonder if there's a duplicate somewhere.

[2017-12-08 15:17] pocmo opened #1969 "Fix PMD rule violations and let PMD break the build"
I noticed that we do run PMD on taskcluster but a rule violation does not break the build. It's also run by sputnik (but only on *new* code); however we have accumulated 212 rule violations already.

To make PMD useful we should let it break the build. So depending on the violation we should:

* Fix the issue
* Ignore the rule for this part of the code
* Update our configuration to not use rules t

[2017-12-08 15:23] pocmo opened #1970 "Search engine validation: Maybe do HEAD request"
As we are not interested in the websites content and just look at the response code it might be worth doing a HEAD request which will not return the response body.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/HEAD

[2017-12-08 15:27] pocmo opened #1971 "Search engine validation: Look for OpenSearch XML reference in response"
Mocks for Add Search Engine v2:

<img width="1389" alt="screen_shot_2017-10-09_at_8 13 05_pm" src="https://user-images.githubusercontent.com/1082253/34177742-8b21fdb4-e4b9-11e7-8a8d-d35c17865149.png">
<img width="391" alt="screen shot 2017-10-12 at 11 28 41 am" src="https://user-images.githubusercontent.com/1082253/34177733-8355d510-e4b9-11e7-8334-d049819f89ce.png">

(This negates #1970 but is way

[2017-12-08 15:29] pocmo opened #1972 "ManualAddSearchEngineSettingsFragment: Add 'final' keyword to constant"
A good first issue for new contributors.

SEARCH_QUERY_VALIDATION_TIMEOUT_MILLIS in ManualAddSearchEngineSettingsFragment should be final:
https://github.com/mozilla-mobile/focus-android/blob/e79c081104f741bafa75d30ff3b0729a0daf9b1c/app/src/main/java/org/mozilla/focus/settings/ManualAddSearchEngineSettingsFragment.java#L42

[2017-12-08 15:38] pocmo opened #1973 "Search engine validation: Set user agent"
We should set a user agent for the validation request.

By default HttpUrlConnection uses on my device:

`User-Agent: Dalvik/2.1.0 (Linux; U; Android 8.1.0; Pixel XL Build/OPP6.171019.012)`

[2017-12-08 15:40] npark-mozilla commented on #1922
I can't repro this either, even with STRs from #1924 combined

[2017-12-08 15:45] npark-mozilla opened #1974 "Changing orientation while entering search engine details wipes entered data"
This is on Pixel 2, Android O
STR:
Go to Settings -> Search Engine List -> Add Search engines
Enter details of new search engine
without saving or exiting, with the entered data shown, change orientation

Expected:
- Entered data survives
Actual:
Both fields are wiped clean

This bug is probably uncovered by #1924 fix.  Not sure this is a release blocker, but it would make users quite annoyed if t

[2017-12-08 16:01] npark-mozilla commented on #1974
This also happens with search engine deletion selection as well.

[2017-12-08 16:01] pocmo opened #1975 "Number of locales in locales.py and on Pontoon differs"
In locales.py I see 69 locales (68 release + 1 screenshot-only) but on Pontoon there are 75 locales (However one with no strings).

Ignoring the locale without strings there seem to be 5 locales that should either be in release or in the screenshot list.

* https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py
* https://pontoon.mozilla.org/projects/focus-for-android/

[2017-12-08 16:02] pocmo commented on #1975
@delphine @liuche Is this known?

[2017-12-08 16:03] npark-mozilla commented on #1828
Sumo page looks good to me too.

[2017-12-08 16:05] Jacquester commented on #1974
The Auto-complete URLs deletion section is also affected by this

[2017-12-08 16:18] Sdaswani commented on #1974
Annoying but not a blocker.

[2017-12-08 16:23] Jacquester commented on #1972
If no one wants this in about a day I'll take it :)

[2017-12-08 17:03] pocmo opened #1976 "Search engine validation: Follow redirects"
We should allow HttpUrlConnection to follow redirects:

https://developer.android.com/reference/java/net/HttpURLConnection.html#setInstanceFollowRedirects(boolean)

Currently we accept a redirect as successful. That should be okay in most cases. I wouldn't be surprised if there are some http->https redirects that will end up in a 404 though.

[2017-12-08 17:29] npark-mozilla commented on #1936
It seems to work well on actual device too - I can't make it fail.  It does complain if there is a suffix after %s like %s&where=aaa but this is probably expected.

[2017-12-08 17:58] blokeley opened #1978 "Add to home screen broken on android 8.0.0"
Add to home screen is not working on android 8.0.0 (Google Now launcher or KISS launcher).

Focus version 2.5.

It might be because android ingnores the add to home screen broadcast in android 8.0.0 but I could add shortcuts to the home screen before installing the KISS launcher.

Is anyone else having this issue and is there a workaround?

[2017-12-08 18:16] antlam commented on #1963
I think this needs to be expanded a bit more generally for UX. Reason being, there were a few error cases that we glazed over at the 11th hour and it would definitely be more thorough and consistent if we took a look at all the error states altogether.

How about:

[2017-12-08 18:20] antlam commented on #1964
@liuche There's a "disabled" state that @ekager used for the Add to Homescreen item in the main menu. The easiest place to start would be to inherit that "disabled state" UI for the items here that the user cannot press.

[2017-12-08 18:47] pocmo commented on #1978
It seems to work fine here on a Pixel XL, Default Launcher, Android 8.1.

Do you see the "Add to home screen" dialog? After clicking "Add" do you see a system dialog asking you whether you want to add the icon automatically?

[2017-12-08 19:20] Delphine commented on #1975
Looking into this now. It's weird because our dashboards show only 72 locales: https://l10n.mozilla-community.org/webstatus/?product=focus-android
Going to check what's going on, thanks for surfacing!

[2017-12-08 19:50] antlam opened #1979 "Automatically bring up the keyboard when the user presses "+ Add another search engine""
When the user presses the button to Add search engine, the form has 2 input fields and the user has to select one to get the keyboard to show up.

A simple convenience thing we could do is already bring it up once they press the button so they can start typing in the new view right away.

Thoughts @lime124 ?

[2017-12-08 19:53] antlam opened #1980 "Indicate that "work is happening/please wait" after the user saves a new search engine"
After the user hits "Save" for adding a search engine, we should indicate and provide feedback (not with a snackbar) that there is work being done in the background.

Something we didnt have time to get to in the first version. I think @mcomella started with a system spinner. At the very least we can papercut out some sort of "please wait" indicator here :)

cc @lime124

[2017-12-08 19:53] pocmo opened #1981 "Write script that compares imported locales with locales.py"
To prevent something like #1975 in the future:

Let's write a script that checks if all the locales in the repo (values-*/strings.xml) are listed in [locales.py](https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py) ... either in the release list or in the screenshot list.

Ignore non-language folders like `values-sw600dp`.

Let's run this at least on taskcluster.

[2017-12-08 19:54] pocmo commented on #1981
@mastizada Maybe something for you. :)

[2017-12-08 19:56] Delphine commented on #1975
Seems like "am" was left out of the locales.py list.
"oc" should have appeared there too but under screenshots only since it can't ship yet. That was a confusion from a discussion we had on irc, where I left it out although I had called it out on my sign-off along with "lt" here: https://github.com/mozilla-mobile/focus-android/issues/1931
Croatian (hr) and Marathi (mr) only have suggested strings

[2017-12-08 19:56] antlam opened #1982 "Custom search engine icon should be consistent with default icons"
![screenshot_20171208-115358](https://user-images.githubusercontent.com/1994820/33782744-bd28a58c-dc0e-11e7-9024-dbf98c4cab96.png)

The icon is a different size than the rest, and the single character isn't centered :)

[2017-12-08 20:00] pocmo commented on #856
Reason being: Disconnect removes trackers from the block list if they honor DoNotTrack. However as long as we do not send this header we would get tracked once they disappear from the list.

[2017-12-08 20:02] pocmo commented on #1981
To clarify:

* values-*/strings.xml exists but no entry in locales.py -> Error
* Entry in locales.py exists but no values-*/strings.xml -> Warning (or ignore this case if too complex)

[2017-12-08 20:03] npark-mozilla commented on #1492
Chrome devtool network tab shows that the data is indeed coming from disk cache when "refreshing," even after trash can icon is clicked. Looks good to me.

[2017-12-08 20:05] antlam opened #1983 "Indicate "selected state" of default search engine more obviously"
Currently we're using a different background color to indicate which search engine a user has "selected" from this list.

![screenshot_20171208-115358](https://user-images.githubusercontent.com/1994820/33782971-a2c355ce-dc0f-11e7-8a4b-266e4016baf9.png)

As an idea, maybe we could also add an icon and even leverage the secondary text line in the list item to show "Default" like we do in Fennec? It

[2017-12-08 20:35] liuche commented on #1880
Was worried this string would be too long so I hacked it in for size - it's on the long side, but looks okay.

![screenshot_1512765260](https://user-images.githubusercontent.com/1082253/33784054-2a6e5b46-dc14-11e7-93d3-82316f48471c.png)

[2017-12-08 20:40] #1910 closed

[2017-12-08 20:56] liuche opened #1985 "Url live validation check for imdb.com/%s passes, but is not a valid search engine"
It looks like our http validation substitutes "test" for %s to check for validity, and adds the engine if it's not an error (400+ response code).

However, in the case of imdb.com/%s (and possibly other sites), imdb.com/test *is* a valid site, but it's not a valid search query (e.g. imdb.com/movie will 404).

We should switch our test query to something else more randomized.

[2017-12-08 21:06] Jacquester commented on #1631
Is this still open ?

[2017-12-08 21:26] Jacquester commented on #1985
We could possibly generate a random string of lets say 5 characters long before making the network request ?
The possibility of that random string actually being a web page (similar to imdb.com/test) should be very small especially if we increase the length of the random string

[2017-12-08 21:42] Jacquester commented on #1985
`    private static String getRandomString(int length) {
        StringBuilder builder = new StringBuilder();

        for (int i = 0; i < 10; i++) {
            builder.append((char) (65 + (Math.random() * 31))); // generate random character
        }

        String str = builder.toString();
        Log.d(LOGTAG, "getRandomString: generated string: " + str);
        return builder.toString();

[2017-12-08 21:48] mcomella commented on #1936
#1960

[2017-12-08 21:48] ekager commented on #1775
Updated the Telemetry wiki !

[2017-12-08 21:48] #1775 closed

[2017-12-08 22:00] liuche commented on #1980
Here's the current state.

![screenshot_1512766093](https://user-images.githubusercontent.com/1082253/33786981-20749086-dc20-11e7-862f-72e41ff4fe9e.png)

[2017-12-08 22:09] mcomella opened #1986 "Add Search engine "Learn more" button has context menu with irrelevant items"
This is some fallout from our mad dash to update the "Add search engine" feature - we need to go over these issues again.

In particular, there is no tab support in this activity but the context menu has "Open link in new tab".

[2017-12-08 22:12] blokeley commented on #1978
I press "Add to home screen", get the dialog asking what to call the shortcut, press Add, and nothing happens.

I see the same with the chrome browser.

Neither work with either the stock Google Now launcher, or the KISS launcher.

Strangely, both browsers did make shortcuts ok before I started alternating between the launchers.

The phone's a Google/LG Nexus 5X if that makes any difference. Maybe

[2017-12-08 22:13] liuche commented on #1880
Clearing strings approved bc the strings have landed on master.

[2017-12-08 22:15] antlam commented on #1880
@liuche @lime124 the styling for the "Example" placeholder looks off... it should be the same as the "Enter search string" error. Then when there's an error, we could even just highlight that to turn red. We might not need to show both the helper ("Example") AND the error ("Enter search string") since it's kind of redundant.

[2017-12-08 22:27] Jacquester commented on #1983
And if it's not a default search engine use the secondary text to display the search string since there is no way of viewing it after it has been saved ?

[2017-12-08 22:37] liuche commented on #1923
Actually (and sorry for so much back and forth) this is no longer an issue after #1936 .

[2017-12-08 22:37] #1923 closed

[2017-12-09 00:16] Delphine commented on #1931
(For my own records and sanity: new locales this time around that were added to release are "meh" and "bs")

[2017-12-09 00:50] ekager commented on #1855
I researched this a bit today and I don't *think* it's possible to set the content description for the system overflow menu item since it's set by the framework and has no accessible methods. It might be possible with some major hacking to find a reference to the menu item view by searching for the framework string, or creating our own custom menu view like we did in other parts of Focus.

[2017-12-09 01:13] liuche commented on #1985
Let's keep it simple, it doesn't need to be random every time, because for the purposes of verifying a url, it there isn't a difference between websites (e.g., if you use a randomized string for imdb, changing it has no effect on whether wikipedia is more or less likely to resolve it).

Let's just not use something that everyone is going to use like "test" :) Event "test9428" would be fine!

[2017-12-09 01:16] liuche opened #1987 "isLauncherIntent NPE"
[code]

Easy fix.

[2017-12-09 01:41] mcomella commented on #1631
The action item for this bug is to file a web evangelism bug on Bugzilla: https://github.com/mozilla-mobile/focus-android/issues/1631#issuecomment-342544266

Web evangelism is a team at Mozilla that reaches out to various web properties to make them aware when there are incompatibilities with Firefox.

[2017-12-09 02:11] mcomella commented on #1901
Dupe #887.

[2017-12-09 02:11] #1901 closed

[2017-12-09 02:11] mcomella commented on #887
Some additional comments in #1901.

[2017-12-09 02:29] mcomella commented on #1308
@pocmo ktlint and detekt are integrated – is there anything else to do in this bug?

[2017-12-09 07:40] blokeley commented on #1978
I think it's a launcher issue or something deeper in chrome so will close this issue

[2017-12-09 07:40] #1978 closed

[2017-12-09 08:57] mastizada commented on #1981
Yes, assign it to me, a bit busy these days, will try to solve till next Sunday.
Are non-language folders (`values-sw600dp`) fixed? - If yes, will write them in a list to ignore.

[2017-12-09 11:37] Jacquester commented on #1985
Makes sense, mind if I take it ?

[2017-12-09 12:36] Jacquester commented on #1631
I only found a Tech Evangelism team on bugzilla, is this correct or am I looking in the wrong place ?

[2017-12-10 00:08] therbom commented on #159
Hi,

I tried to implement support for HTTP Basic Authentication. You can review my commit here: therbom/focus-android@0e8d2df09633c382a69d991140871e90f4369a4e. It is very basic with hardcoded credentials, but loading webpages and downloading files works fine on my end.

At least these things need to be considered, I think:
1. Show a UI to fill in the credentials when required.
2. The credentials s

[2017-12-10 08:36] #1987 closed

[2017-12-10 16:07] 7a6ac0 commented on #1973
How about the following code?

[code]

[2017-12-10 17:31] IzzySoft commented on #617
@pocmo As the app is now well established in the "official repo", I'll "unlist" *Firefox Klar* in mine. If need arises, contact me anytime to have it re-listed. With *Firefox Focus* not being in the official repo, I'll keep it in mine unless you want me to "unlist" it as well (in that case, just let me know).

[2017-12-10 19:15] supnah opened #1993 "Search bar pops up address autofill options every time app is opened"
Every time I open the android app, before taking any action, it pops up the address autofill options, which is never something i will need to do in Focus. I can't figure out what changed or if this is a setting from another app or android setting, but seems not at all useful, and intrusive/bad for UX. See attached img.

Using a Pixel 2 on Android 8.0.0. Focus 2.5 (Build #13311312)

Let me know if

[2017-12-10 20:32] ekager commented on #1993
Hi @supnah , thanks for filing! Which autofill service are you using?

[2017-12-10 20:54] supnah commented on #1993
I have my addresses entered into Chrome and Firefox autofills. That's all I can think of. I could try deleting them from one or the other and see if that has an impact.

[2017-12-11 23:45] nym-zone commented on #1743
As the reporter of [Tor Bug 24351](https://trac.torproject.org/projects/tor/ticket/24351), as well as the creator of a new repository for developing a [Cloudflare-blocker add-on](https://github.com/nym-zone/block_cloudflare_mitm_fx), I ask to make a fair response to [this calumny](https://github.com/mozilla-mobile/focus-android/issues/1743#issuecomment-345993097) by @wolfbeast:

Correction:  Cloud

[2017-12-12 01:27] brampitoyo commented on #1626
I’ll close this issue now that all outstanding implementation bugs have been filed. Refer to the specs https://github.com/mozilla-mobile/focus-android/issues/1626#issuecomment-345580294 to answer any question about other behaviours.

[2017-12-12 01:27] #1626 closed

[2017-12-12 01:32] brampitoyo commented on #1627
The design is scheduled to be shipped, so this issue is halfway done for now.

I will continue to listen to user feedback before iterating on the design if necessary.

[2017-12-12 01:35] brampitoyo commented on #1529
I use “Open in…” because it’s the string that other browsers’ Custom Tabs use. But if Focus already uses “Open with…”, and if this string aligns with Fennec, we should use “with”.

[2017-12-12 02:13] brampitoyo commented on #1871
@mcomella The share toolbar button and menu item are two identical ways to get to the same UI. Duplicating this functionality is fine, although I suspect the toolbar button will be much more used because it’s so visible.

[2017-12-12 10:54] rucquoy commented on #1979
Hello @antlam !
I'd like to give a contribution (of any kind) to this project. Can i give it a try ? Do you think it's worth a PR ?
regards

[2017-12-12 13:54] wolfbeast commented on #1743
FTR: The issue on Pale Moon was nuked by GitHub, not by Pale Moon devs (we don't have that power). Most likely due to the nature of the accounts that opened the issue and commented on it.

Bottom-line is that CloudFlare is a CDN, chosen by website owners. Like other CDNs serving websites, website owners choose to use this service to improve the user's experience and provide DoS protection for thei

[2017-12-12 20:07] liuche opened #1994 "AssertionError: loadSearchEngineListForLocale"
Seen on the beta 4.0 channel:
[code]

Not that many crashes, behind a lot of the webview crashes.

Comment on this Assertion:
[code]

One completely unsubstantiated idea might be if there are a) locale files that are now being used that weren't used before, b) and they were corrupted but hadn't been used before.

[2017-12-13 05:19] wisdoms-arcanum opened #1995 "Share Pocket(Firefox)"
That app works to share to pocket but, when I share a youtube video link to pocket, it mostly just saves youtube's home page instead the video i wished to save. Thankyou for all your hard work.

[2017-12-13 12:08] YouMustKnowPrivacyIsOurRight commented on #1743
@wolfbeast Very funny. I remember you closed and locked that issue. It's easy to nuke issue if you guys contact to github to remove it from your repository.

OK. Explain how Cloudflare detect my UserAgent and header data *without TLS decryption*.

[2017-12-13 16:32] npark-mozilla opened #1996 "Focus crashes when switching tabs"
Device: Pixel 2
STR:

Open 4+ tabs.  Do it fast so the new tab is created before the parent page is fully loaded.  (e.g. www.thestar.com)
switch between tabs.  Switch to another tab before the site is fully loaded.
Expected:
Switches fine
Actual:
Crashes.

adb logcat shows following:
12-13 11:28:12.623 18337 18489 W System.err: java.lang.NullPointerException: Attempt to invoke virtual method 'int

[2017-12-13 16:33] npark-mozilla commented on #1996
@liuche FYI

BTW, this shows up on 2.5

[2017-12-13 16:44] aleksandar-todorovic opened #1997 "Status bar gradient remains shown in mutitasking mode"
**Description:** If you're using Firefox Focus in the multitasking mode, the gradient status bar remains shown (but empty). This unnecessarily uses up a really valuable vertical screen estate when using the multitasking mode, so I think that this should be identified as a bug.

**Device info:**

* Device: Nexus 5X
* Android version: 8.1 (Oreo)

**Steps to reproduce:**

Prerequisite: Android 7+

1.

[2017-12-13 16:45] antlam commented on #1979
hey @rucquoy ! I think this would be a great thing to take a stab at. If you don't mind, it would be great to get a build together so that @lime124 could see how it feels on device (with these changes).

Thanks so much!

[2017-12-13 17:58] rucquoy commented on #1979
Hello ! Sorry if my question sounds stupid (i'm an open-source newbie, and only a student) but what do you want me to do when you say "get a build together" ?

[2017-12-13 19:50] npark-mozilla commented on #1996
Hmm, it looks like the crash is still there, here's the logcat:

12-13 14:48:33.160   757  2908 D audio_hw_primary: out_write: retry previous failed cal level set
12-13 14:48:34.527 27016 27433 W System.err: java.lang.NullPointerException: uriString
12-13 14:48:34.531 27016 27433 W System.err: 	at android.net.Uri$StringUri.<init>(Uri.java:476)
12-13 14:48:34.531 27016 27433 W System.err: 	at andro

[2017-12-13 20:47] npark-mozilla commented on #1996
fix looks good now

[2017-12-13 22:25] liuche commented on #1765
We found a bad crasher from 2.4, so we're pushing a new 4.0.1 build. Bug for signing is here:

https://bugzilla.mozilla.org/show_bug.cgi?id=1425138

[2017-12-13 23:02] YouMustKnowPrivacyIsOurRight commented on #1743
The correct title of this issue should be "Add an option to block proxied MiTM attack"
because it is not just about a certificate.

@wolfbeast
AFAIK CPanel is just a management tool used by the **destination** server admin.
Either **you're a Cloudflare's lover** or **didn't read all texts above**. *Which one?*

Here's an easy description for ELI5. You're above 5, right?

Let's just say you are an

[2017-12-13 23:14] YouMustKnowPrivacyIsOurRight commented on #1743
**"But we are using Cloudflare's *FULL* certificate option. Only we can decrypt the packet"**

User --**TLS**-- [ISP(can't read)] --**TLS**-- [Cloudflare] --**TLS**-- [Origin server]

"Cloudflare edge node (the Session Server) **decrypts**, inspects, and processes the original request."
https://www.cloudflare.com/ssl/keyless-ssl/

"If you want HTTPS on the backend connection to your origin server(

[2017-12-14 02:11] elypter commented on #1743
@wolfbeast i understand your argumentation that it is not a MITM if the CF is a consciously-chosen part of the website but what really matters is what the user expects and wants. As a browser developer you should know that and you should try to protect the user whenever possible. and just because this is the way CDNs work doesnt mean it desirable in any way. this issue is about giving people the c

[2017-12-14 06:18] jerryn70 commented on #1393
This is a big problem for me and Its really annoying . Hope you guys fix this soon.

[2017-12-14 06:28] jerryn70 commented on #1571
Can we have something like this to solve this issue ? Or option to download via other browser (browser name) or using 3rd party download manager
![](https://i.imgur.com/Gb2BOn0.jpg)
![](https://i.imgur.com/nUciUyj.jpg)

[2017-12-14 14:15] #1886 closed

[2017-12-14 14:25] mcomella commented on #1885
Closed  ab17bff.

[2017-12-14 14:25] #1885 closed

[2017-12-14 14:35] mcomella commented on #1968
Closed #1968, 550c6ff.

[2017-12-14 14:35] #1968 closed

[2017-12-14 14:39] mcomella commented on #1973
@7a6ac0 I think this particularly code snippet would throw a NullPointerException but yes, `setRequestProperty` is the way to go. Note that the header is "User-Agent", not "User-agent".

I'm sure that's not the only place we use the user agent header name in the code so we should make it a static final variable for use everywhere.

@7a6ac0 Feel free to write a patch for it! :) Thanks for the note!

[2017-12-14 14:40] mcomella commented on #1985
@Jacquester Sure, go for it! Please post a pull request when you're ready! Thanks for your help!

[2017-12-14 14:41] mcomella commented on #1995
Strange – @npark-mozilla can you reproduce (I'm heads down coding this week)?

[2017-12-14 14:46] mcomella commented on #1997
Thanks for the report, aleksander!

I think this is happening because we're drawing underneath the system status bar (i.e. with time) so that it can take our colors and we need to shorten our view if we're not under the system status bar. That being said, I'm concerned that we'd be missing the indicator that 1) hey! we're the Focus browser and 2) you have tracking protection enabled (shown by the

[2017-12-14 15:43] npark-mozilla commented on #1995
I can repro this.
Device: Pixel 2, API 27
STR:
- Install Pocket on android, sign in with firefox accounts
- Open Focus, go to Youtube, pick a video, and select Share, then select 'Add to Pocket'
- Switch to Pocket, and check the new content - it shows 'Best of Youtube' instead of the video that I picked.

When we share to Firefox, the link is shared to the video correctly.

[2017-12-14 15:46] npark-mozilla commented on #1995
It seems like it's a pocket bug. When I copy the youtube url to clipboard, and open pocket, it asks to add the clipboard URL to content.  when I do so, pocket again shows 'Best of youtube' instead.

[2017-12-14 22:05] phunkular opened #2000 "Custom autocomplete urls do not remain as https"
_added by @bbinto_

**Why**
- Bug/issue: User expects that if they add an https website to FF's custom URLs, it should not request the http version later on.

**Acceptance Criteria (how do I know when I’m done?)**
- User adds HTTPS website to autocomplete list, when pulling it from the autocomplete list, it should keep the HTTPS

[2017-12-16 08:41] 7a6ac0 commented on #1973
@mcomella Thanks for your response. I use the user agent which generated by WebViewProvider, but there's a problem. It must to open the webview once to set up the variable. Any suggestion to fix that?
[https://github.com/7a6ac0/focus-android/commit/2775bfaef25fa95cfbaba345a3d6e699fef97273](url)

[2017-12-16 15:59] mcomella commented on #732
Note: this will require some gradle knowledge – check for the existence of our adjust token on the release variant and fill the build if the file does not exist or is not empty!

[2017-12-16 16:06] #1900 closed

[2017-12-16 20:02] JayVii opened #2001 "Feature Request: Blocking images"
blocking images is a really neat feature, when it comes to limited data plans (or for privacy reasons, when websites work with [Web beacons](https://en.wikipedia.org/wiki/Web_beacon)). I haven't seen a feature request for this yet (if i missed it, i am sorry to bother).

proper Firefox for Android does have this feature (you can even choose to only block images on cellular data, there).
As I under

[2017-12-17 00:06] dylmye opened #2002 "Custom engines with the same engine as a bundled engine can't be removed or set as default"
Moving this over from bugzilla #1425289.

* **System**: Android/OnePlus 3/Android 8 OOS 5.0
* **UA**: Mozilla/5.0 (Linux; Android 8.0.0) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Focus/4.0.1 Chrome/63.0.3239.111 Mobile Safari/537.36
* **Build #**: 13472157

Steps to reproduce:

1. Navigate to settings > search
2. Select "Add another search engine"
3. Add a search engine with the same name

[2017-12-17 09:20] I-Campbell opened #2003 "No way to disable autoplay videos on Firefox Focus Android"
Device : Moto C
Android: lollipop
Example website: Facebook newsfeed videos
Issue: on Firefox, you can turn off auto play of videos to save data and battery, and sometimes you just don't want to see a video. This is not available in Firefox Focus.
I think disable autoplay should be hardcoded, that is to say it doesn't add an option to the settings menu to turn it back on. This will mean there will

[2017-12-17 15:01] huuhaa opened #2004 "BUG: Browsing history cleared when returning to Focus at multitasking menu"
This might be part of #2005

How to reproduce:

1) Read some article by using Firefox Focus
2) Switch to another app, maybe lock the screen for a while, open screen and use tjat anorher app (ie. Whatsapp) for a while
3) Open multitasking menu and  tap Focus (you can see the page is open ,not using stealh mode) and when tappinng to open Focus with that site again you just get messaga Browsing histo

[2017-12-17 15:07] huuhaa opened #2005 "BUG: Browsing history cleared after opening screenlock"
This might be part of #2004

How to reproduce:

1) Open Firefox Focus and read some article
2) Wait for screen to turn off and screenlock on
3) Open screenlock (in my case I've always used fingerprint when this has happened) and yo got yor screen opened but at the same second Foces clears browsing history, so you wont be able to just continue reading.

This doesn't happen all the time, in fact mos

[2017-12-18 07:09] antlam commented on #1979
hey @rucquoy sorry, we've been away this week.

But we should have more time to help you next week. If this is something you're really interested in, you should work with @mcomella or @liuche from Engineering to get a patch togther. They might be able to provide more guidance.

Until then, this still needs to be triaged and discussed with Product and UX to decide on shipping finalizing details etc

[2017-12-18 10:01] MikkCZ opened #2006 "The app is blocked in some inconsistent state when closed too fast after clean up"
STR:
1. Open any website and do some browsing (e.g. open Google, search "test", visit a link)
1. Tab the clear (trash bin) icon and the Android home button fast in the order.
1. Open the app again. Now it's in some inconsistent state, where:
-- The area for content is blank.
-- The address bar still contains the last URL.
-- The address bar does not react on any actions (the app is unusable).
-- T

[2017-12-18 10:05] MikkCZ opened #2007 "Refresh gesture from the top breaks Google maps"
STR:
1. Open Google Maps or probably any map portal.
1. Try to pinch to zoom/unzoom the map or slide down with your finger to go north on the map.
1. Icon appears on the top and page refresh is triggered.

[2017-12-18 10:16] MikkCZ commented on #1677
What exactly do you mean by this?

I don't think that's a case, a lot of websites use similar layout with top bar with the page title and hamburger menu. In case you have a proposal to change or improve the mobile SUMO look, please report it to Bugzilla, where SUMO issues are being tracked. Just note the SUMO platform developmnet is currently in maintenance mode so it make take longer time before

[2017-12-18 12:48] bbinto opened #2008 "Issues with random.org (redirecting)"
Via GPS

"It doesn't work for all websites. After turning on all trackers, m.timesofindia.com kept redirecting to random.org site."

[2017-12-18 22:48] tagniam commented on #1346
I have this problem as well, running Focus 4.0.1 on a Moto G 1st gen.

[2017-12-19 15:27] lfxc commented on #1803
same issue for me, same tablet model

[2017-12-19 18:13] BaTarrY opened #2009 "Change Install Location (x64 Installer)"
I am trying to install the new Firefox Focus, but I don't have the option to change install location, or even agree to any form of terms and conditions.
Just left-click twice\enter on the installer, agree to run as administrator, and it goes straight to installation on C drive.

[2017-12-19 18:20] #2009 closed

[2017-12-19 20:07] mcomella commented on #2008
Some thoughts from triage:
- IP address of random.org in the code?
- DNS hijacking

[2017-12-19 20:08] bbinto commented on #2007
Could you please let us know what version of Firefox Focus you are using?

[2017-12-19 20:09] bbinto commented on #2007
Are you on a buddybuild? We have not disabled this feature in the debug/BB.

[2017-12-19 20:10] liuche commented on #2007
We've turned off swipe-to-refresh for release builds in order to clean up the function more - this will be present in Buddybuild dev builds though.

[2017-12-19 20:14] mcomella commented on #2003
I'm not sure how feasible it is to display autoplay, but we agree that it'd be a great feature (and I think autoplay defaults to false on Firefox for Android).

[2017-12-19 20:16] liuche commented on #2001
@bbinto to look at Fennec studies on "blocking images".

[2017-12-19 20:22] bbinto commented on #1995
@npark-mozilla emailed Pocket to clarify - this is on Pocket's end to fix

[2017-12-19 20:22] liuche commented on #1995
@npark-mozilla said he sent an email to the Pocket support team, because we think this is a pocket bug.

[2017-12-19 20:25] bbinto commented on #1993
@supnah - have you upgraded to Focus 4.0 yet? Is this still happening?

[2017-12-19 20:30] supnah commented on #1993
Hi - I have upgraded, and it does not seem to be happening anymore. Thank you.

[2017-12-19 20:38] mcomella commented on #1970
This didn't work on iOS – @boek what was the reason?

[2017-12-19 20:38] #1970 closed

[2017-12-19 20:41] mcomella commented on #1970
via Slack, boek says some servers reject HEAD requests, like MDN.

[2017-12-19 20:43] liuche commented on #1962
@lime124 says that this is supposed to happen.

[2017-12-19 20:44] mcomella commented on #1986
Dupe #1964.

[2017-12-19 20:44] #1986 closed

[2017-12-19 20:45] mcomella commented on #1964
Dupe was a P2.

[2017-12-19 20:50] mcomella commented on #2006
I was able to reproduce.

I think this might be happening because we're listening to several observers at once which may get into an inconsistent state when we both trash can and go home. I think we can fix this by trying to make each of these interactions transactional (if it's possible).

[2017-12-19 20:59] mcomella commented on #1973
@7a6ac0 It looks like this is a `WebViewProvider.buildUserAgent` is a static method – can you call that rather than accessing the cached value?

[2017-12-19 21:00] mcomella commented on #1976
This is where we create the connect where we should follow redirects: https://github.com/mozilla-mobile/focus-android/blob/d60f63538b24f69771b3fc5fea532105da124d3d/app/src/main/java/org/mozilla/focus/settings/ManualAddSearchEngineSettingsFragment.java#L221

[2017-12-19 21:04] mcomella commented on #1979
Hey @rucquoy – we discussed this in triage and Tif mentioned this is definitively a bug. If you could make the changes locally and make a pull request, it'd be great! :)

antlam wanted our UX designer, lime, to take a look at the changes you've made to see how it feels. Since lime doesn't have a development environment set up, he wanted you to make the changes locally and send lime the build so th

[2017-12-19 21:05] mcomella commented on #2005
Hey @huuhaa – I haven't been able to reproduce this. A few questions:
- Which device are you using and which version of Android?
- Do you have any developer options enabled on your device? If so, do you have "Don't keep activities" enabled?
- Do you have any special configurations on your device? e.g. task killers, rooted phone, etc.

[2017-12-19 21:06] mcomella commented on #2004
Note: following up in the related issue: https://github.com/mozilla-mobile/focus-android/issues/2005#issuecomment-352886151

[2017-12-19 21:09] lime124 commented on #1979
Thanks everyone and sorry for the delay - I was on PTO and then a crazy work week. As @mcomella said no need to send me a build, it's a bug. Thanks for your help!

[2017-12-19 22:12] mcomella opened #2010 "Dismissing "Add search engine" leaves keyboard visible"
STR:
- Settings -> Google default -> Installed search engines -> Add another...
- Click text field to raise keyboard
- Hit X

Expected: keyboard closes
Actual: keyboard stays open

Like #2011.

[2017-12-19 22:13] mcomella opened #2011 "Dismissing "Add custom URL" leaves keyboard visible"
STR:
- Settings -> URL autocompelte -> custom URLs (must enable autocomplete first) -> Add custom URL
- Hit X

Expected: keyboard closes
Actual: keyboard stays open

Like #2010.

[2017-12-19 22:20] rucquoy commented on #1979
I Will open a PR ASAP then. Thanks for your time @mcomella

[2017-12-19 22:50] mcomella commented on #1993
WORKSFORME.

[2017-12-19 22:50] #1993 closed

[2017-12-19 22:50] mcomella commented on #2007
@MikkCZ Please see Barbara's questions above.

[2017-12-19 22:55] mcomella commented on #1677
We think the SUMO mobile pages are styled to look like Firefox OS apps, for example:
https://duckduckgo.com/?q=firefox+os&t=ffab&iax=images&ia=images&iai=http%3A%2F%2Fblog.laptopmag.com%2Fwpress%2Fwp-content%2Fuploads%2F2013%2F05%2Ffirefox-os.jpg

The UI on the right looks like mobile SUMO. That being said, I think the appearance has changed since we filed this – the top bar used to be orange but

[2017-12-19 22:58] mcomella commented on #1571
Unfortunately, we triaged this to a P5 which means we'd take a patch for it but the team would like to focus on higher priority issues in the near future (e.g. we don't know how many of our users use Focus exclusively with VPNs).

While I'm not sure if this fixes your use case (I apologize but I'm short on time and can't read the full backscroll), you can choose to open a particular page with anot

[2017-12-19 23:03] mcomella commented on #159
@therbom Hey – could you open a pull request so we can keep track of your WIP?

Sorry it took so long to get back to you – issue comments are much less noticeable than pull requests  so I it's taking me a while to get through the old ones.

[2017-12-20 00:42] #1875 closed

[2017-12-20 01:27] Jacquester commented on #2011
Related to #1923, I solved it by closing the keyboard in onPause() but the commits were later reverted

[2017-12-20 01:28] Jacquester commented on #2010
Related to #1923

[2017-12-20 01:30] mcomella opened #2012 "Document our high-level erase strategy goals"
Breakout from #1569.

Note to self: get reviewed and then send an email when I'm done.

[2017-12-20 01:32] mcomella opened #2013 "Document all the ways the browsing session can end"
Breakout from #1569.

(e.g. user erases, system OOMs, battery falls out). This will help us make sure we don't miss any use cases (e.g. how #1875 happens in swipe-to-close, which we didn't cover). We should then document these avenues to help manual (or automated 🤞 !) testing.

[2017-12-20 01:33] mcomella opened #2014 "Summarize the existing ways we erase (why there?) and our history of hack erase fixes"
Breakout from #1569.

More context for solving #1569. Hack fixes:
- #1875: close in recent apps doesn't erase cookies (keeping cookies)
- #1306: Google Search History survives restart (keeping Local Storage)
- #1492: WebView stops using disk cache on erase (deleting WebView files stops cache)

---

I did a not-too-thorough analysis of our current erase calls in #1875 (comment).

One questionable d

[2017-12-20 01:34] mcomella opened #2015 "Implement a revised, comprehensive erase strategy"
Breakout from #1569. Notes:
- There's an open bug for having an UNDO option: #467

[2017-12-20 01:34] mcomella opened #2016 "Adjust (and add to?) our erase tests to cover our revised erase strategy"
Breakout from #1569.

- [x] What existing tests do we have?
- [x] What existing tests do other platforms have (Firefox desktop/mobile private browsing, Focus iOS)?
- [x] What existing tests exist on servers (am I being tracked? style websites)?
- [ ] I've been thinking it might be useful to have a server-side test to check what the server can see, e.g. when WebView has things in RAM (as opposed to

[2017-12-20 01:35] mcomella opened #2017 "Document the erase strategy caveats in the high-level erase goals document"
Breakout from #1569.

So that way we can combine the theory with the reality.

[2017-12-20 01:35] mcomella commented on #1822
Broken down into the meta bug.

[2017-12-20 01:35] #1822 closed

[2017-12-20 06:16] 7a6ac0 commented on #1973
@mcomella In `WebViewProvider.buildUserAgent` code, it use the WebView's default user agent by called the method `settings.getUserAgentString()`.
So, if we call `WebViewProvider.buildUserAgent`, it need to create a WebView to get the WebSettings class.
The user agent generated by `WebViewProvider.buildUserAgent` is `Mozilla/5.0 (Linux; Android 7.1.2) AppleWebKit/537.36 (KHTML, like Gecko) Version/

[2017-12-20 07:44] MikkCZ commented on #2007
Yes, I have buddybuild 13481449.

[2017-12-20 13:32] MikkCZ commented on #1677
I think the design has been updated when the new SUMO header was added. Some deeper redesign is planned for the next year to comply with the new style guides. I think @cynthiapereira already has some designs prepared for SUMO, but I am not sure if for mobile too.

[2017-12-20 13:36] MikkCZ commented on #2006
Btw. I have tested with Stealth mode off now. The result is the same, but in the Android multitasking view I also see the last page content there.

[2017-12-20 19:51] #1972 closed

[2017-12-20 19:51] #1985 closed

[2017-12-20 20:02] mcomella commented on #1973
@7a6ac0 Ah, we need the WebView instance to get WebSettings – thanks for the info!

In this case, I think it's a good idea to replace `getUserAgentString` with a hard-coded one _because we're not actually using a WebView_. The question is: what should that user agent string be?

Can you use [this article on MDN explaining User-Agent formats](https://developer.mozilla.org/en-US/docs/Web/HTTP/Header

[2017-12-20 20:53] Jacquester commented on #2011
No need to be sorry lol, it's your code I'm the one intruding

I just added the code from my old commits and it would seem it solves this and #2010. Although I think there should be a better way to approach the problem

[2017-12-20 21:25] mcomella opened #2019 "Move to mobile-event from focus-event"
The heavy lifting will happen by updating the telemetry library in https://github.com/mozilla-mobile/telemetry-android/issues/59

[2017-12-20 23:03] mcomella commented on #2019
Note: moving existing products (Focus, Rocket) is blocked on server so product doesn't have to have a separate query to query historical data: https://bugzilla.mozilla.org/show_bug.cgi?id=1426481

[2017-12-20 23:22] Jacquester commented on #1974
Take the following with a large bag of salt:
I belive this should be resolved by #1945 (SettingsFragment being responsibe for showing sub-screens, like ManualAddSearchEngineSettingsFragment).

Can anyone with a more knowledge confirm this ?

[2017-12-21 03:17] mcomella commented on #2012
Currently in draft form: https://docs.google.com/document/d/1hEMwiPXs4tzfhSzWdY2DCaGKlXMFdRhLPiPfrkmsItI/edit#

[2017-12-21 05:06] Jacquester commented on #1945
Hi @pocmo

https://github.com/Jacquester/focus-android/commits/Jacquester
Is this basically what you mean ? I'm essentially moving the sub-views to their own fragments (Later removing unnecessary classes and code from SettingsFragment)

[2017-12-21 10:05] YouMustKnowPrivacyIsOurRight commented on #1743
Firefox bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1426618

[2017-12-21 10:10] YouMustKnowPrivacyIsOurRight opened #2021 "Autocomplete is not so privacy-wise."
[|  Search or enter address ]

_tap_

*www*

instantly become "www.google.com".
Can I disable it? Because Google never care your privacy.
If Firefox Klar is a privacy browser, why google is appearing here?

And when I input

*www.tor*

Nothing is returned as autocomplete.
Oh come on. Just add "www.torproject.org". Or don't you like Tor?

[2017-12-21 13:19] elypter commented on #1743
oh, nice, the removed posts are suddenly back.

[2017-12-21 13:53] YouMustKnowPrivacyIsOurRight commented on #1743
@elypter Are you talking about my posts? Yeah I got flagged by @github so I sent angry email and my posts are back.

Take a look at:
https://trac.torproject.org/projects/tor/wiki/org/doc/ListOfServicesBlockingTor#ComputingTechnical
"Github" section.

[2017-12-21 14:40] elypter commented on #1743
wow, thats really shitty behavior

[2017-12-21 14:44] huuhaa commented on #2005
@mcomella
Hi, I have Honor 8 with Android 7.0 & EMUI 5.0.1
Huawei does have app for phone managemet which includes white list for memory cleaning options and Firefox Focus is whitelisted at there.

I have previously enabled developers settings (needed to get some logs through USB for developer of app not related to this), but those have been disabled for long time by now, I see Developer settings

[2017-12-21 17:54] bbinto opened #2022 "Not able to store 4th level domains in autocomplete list"
Via GPS

hello, in the URL autocomplete menu I'm not able to store a 4th level domain (at most only 3rd level). thanks

[2017-12-21 18:05] #1996 closed

[2017-12-21 18:27] mcomella commented on #2021
Settings -> URL Autocomplete -> Toggle Autocomplete

Note that in the latest version you can enable custom autocomplete for sites of your own choice independently of our built-in autocompletes.

Our autocomplete lists come from the Alexa top 500 sites on the internet and unfortunately, adding websites individually could be potentially insecure (e.g. if the original host of a domain is sold). Do yo

[2017-12-21 18:27] #2021 closed

[2017-12-21 18:31] mcomella commented on #2022
I can't reproduce: I can add blogs.msdn.microsoft.com to custom autocomplete (assuming this is what they mean by 4th level domain).

Perhaps the address this person specified fails our validation check (e.g. is a redirect, they don't have a network connection, etc.).

@bbinto Are there any action items here?

[2017-12-21 20:52] mcomella commented on #1982
To fix this bug, please center the icon and make it the same size as the rest.

[2017-12-21 21:29] mcomella commented on #2005
@npark-mozilla Any ideas how we might reproduce? Have you seen anything like this before?

[2017-12-21 21:36] mcomella commented on #1945
Hey @Jacquester – it looks like you're in the right direction. To summarize, what this issue is about, it's primarily intended to simplify SettingsFragment by assigning only one layout to one fragment, whereas `SettingsFragment` now inflates multiple (4?) separate layouts.

Note that PR #1992 is currently open for this issue, but it's not complete. If you keep working on this issue, you may confli

[2017-12-21 21:40] mcomella commented on #2011
@Jacquester Great – do you think you could open a new PR with your old commits? I'll let you know if we envision a different way of solving the problem.

You don't need to feel like you're intruding – we want you to be welcome in the codebase and if there's anything that we're doing to make you unwelcome, please let us know what we can do better! It's true that Mozilla has the ultimate say about w

[2017-12-21 21:50] mcomella commented on #2011
Please note that #2020 may also address this issue so it may conflict there – sorry about that! Don't be afraid to open issues if you have some idea of how to fix the problem and we'll help you work through it.

@Jacquester Please let me know if you want help finding another issue to hack on.

[2017-12-21 22:26] Jacquester commented on #2011
Coolness thank you :)

I think I'll continue trying my luck with # 1974

[2017-12-21 22:31] Jacquester commented on #1945
Yeah I'll leave this to @michaelsam94 to figure out lol
I only played with it to see if I understand the issue correctly and to figure out if this could possibly solve #1974

[2017-12-21 22:56] mcomella commented on #2013
Ways the process can end:

User initiated:
- Trash can
- Delete notification (background)
- Delete notification (foreground)
- Swipe-to-close in app switcher
- Force kill process
- "3D touch" on homescreen

System initiated:
- Process is killed
- Device is killed (e.g. battery removed)

---

I wonder if we should document this somewhere more visible (e.g. wiki).

[2017-12-21 22:56] #2013 closed

[2017-12-21 23:10] Jacquester commented on #1945
I don't really want to make a new issue since this is mostly based off of this issue:

Is there a possibility of merging ManualAddSearchEngineSettingsFragment and ManualAddSearchEnginePreference into one class ?

Reasons why I'm asking:
* They both represent the same view and I can't really see a reason for ManualAddSearchEnginePreference existing.
* Manual...Preference has access to it's TextInpu

[2017-12-21 23:15] mcomella commented on #2014
An elaboration on hack fixes:
- #1875: close in recent apps doesn't erase cookies (keeping cookies)
  - closing in the recent app switcher doesn't trigger our usual lifecycle callbacks so we clean up on starting a new session (note: destroy is called)
  - That being said, `SessionNotificationService.onTaskRemoved` **may get called so we could respond in** the `CleanupSessionObserver`
- #1306: Goog

[2017-12-21 23:48] mcomella commented on #2014
Summary for ways we currently erase (based on https://github.com/mozilla-mobile/focus-android/issues/1875#issuecomment-349488964):

It's hard to track this down entirely but it looks like (using call hierarchies):

1. **Delete via WebView APIs & WebView files on disk** when session closed by:
    1. Back pressed
    1. Click on trash can (one tab)
[code]

2. **Delete WebView files** when:
    1. (

[2017-12-21 23:54] mcomella commented on #2016
Existing tests (all integration):
- `WebViewDataTest` - hit delete and ensure there are no webView files remaining
- `LocalSessionStorageTest` - add & remove LocalStorage
- `TrashcanTest` - hit trash can, ensure old browsing session does not appear
- (`RestartTest` - restarts focus via closing in the recent app switcher; no data testing)

[2017-12-21 23:55] #2014 closed

[2017-12-22 02:09] mcomella commented on #1472
I noticed WebView stores a SharedPreferences file: https://cs.chromium.org/chromium/src/android_webview/glue/java/src/com/android/webview/chromium/WebViewChromiumFactoryProvider.java?q=lastVersionCodeused&sq=package:chromium&l=226

[2017-12-22 02:12] 7a6ac0 commented on #1973
@mcomella I use the default webview UA string, and also refer to the [site](https://developer.mozilla.org/en-US/docs/Web/HTTP/Browser_detection_using_the_user_agent).

Now we can set User-Agent header into `HttpURLConnection` by calling `WebViewProvider.buildUserAgent`.

What do you think about this?
https://github.com/7a6ac0/focus-android/commit/07aeeaa7e319d113cbf28249517ea82b1a37b058

[2017-12-22 02:27] mcomella commented on #2016
Existing tests from other platforms:
- Focus iOS: none
- Firefox for Android: none
- Firefox desktop: afaict, one off tests written specifically for the desktop test harness: [cache](https://searchfox.org/mozilla-central/source/browser/components/privatebrowsing/test/browser/browser_privatebrowsing_cache.js), [service workers disabled](https://searchfox.org/mozilla-central/source/dom/workers/test/

[2017-12-22 14:48] mohamadLy commented on #1976
I can take this if it's alright with you.

[2017-12-23 09:40] michaelsam94 commented on #1945
@Jacquester I will try to figure your comments out and work on it and thanks for helping me in this issue I'm newbie in contribution on github opensource projects

[2017-12-26 12:35] tvalle commented on #1982
I'm working on this issue, going to send a pull request soon

[2017-12-27 13:46] Sohaib-Aslam commented on #761
I just had the same problem. For some reason, my URL had one kind of white space before the "https". Using trim() on the URL String solved the problem.

[2017-12-27 17:37] tvalle commented on #1897
Can I look into this?

I think that the expected behaviour is all search engines being restored since the user can select a search engine that is not available in other languages

[2017-12-27 19:07] TonyApuzzo commented on #1265
My phone has way too many things running in background already, please implement this feature to allow fff to die quicker and not clutter the notification shade.

[2017-12-28 05:10] grubdragon commented on #1085
Hey can I take this up?

[2017-12-28 09:31] grubdragon commented on #652
Without a working internet connection it doesn't work, so not only air plane mode

[2017-12-28 10:33] grubdragon commented on #1976
Oh dang! @mohamadLy I didn't read your comment and went ahead and fixed it. Sorry :sweat:

[2017-12-28 19:41] samirm opened #2028 "Window no longer gets blanked out in multitasking view"
I don't know which update changed this (maybe the one that enabled multiple tabs), but when entering multitasking view, the Focus window is no longer blanked out and you can see the contents of the page you were on.

I don't know if this is a bug or a feature, but whatever the case may be it would be nice to give the user the option to change this behaviour to what it was before.

[2017-12-29 13:41] grubdragon commented on #2022
I checked with blog.msdn.microsoft.com, it seems to work for me. @bbinto could you say what your UR was.

[2017-12-29 13:44] grubdragon commented on #2001
Hey can I take this up?

[2017-12-29 14:48] Jacquester commented on #2028
Is your stealth enabled ?

Stealth can be found in settings under Privacy

[2017-12-30 05:43] bdfish opened #2029 "Focus not support android8.0?"
Device oneplus3t 8.0 with latest github build
I can use any feature except search, when i click to search, app will force close.

[2018-01-01 03:50] Sdaswani opened #2030 "Research Paper on Ad Blocking Countermeasures"
Someone should read the paper [here](homepage.divms.uiowa.edu/~mshafiq/files/adblock-ndss2018.pdf) and evaluate whether we can apply anything to Focus.

[2018-01-02 12:47] bbinto commented on #2022
I can't seem to find the GPS post anymore, so I'm fine with closing it!

[2018-01-02 12:47] #2022 closed

[2018-01-02 16:24] samirm commented on #2028
Oh wow, I'm surprised I miss that. Thank you!

[2018-01-02 16:24] #2028 closed

[2018-01-02 18:52] shahbazahmed1269 commented on #2010
@mcomella I would like to work on this issue and #2011 if no one else is working on them. I think just closing the keyboard in `onPause()` lifecycle callback would fix this issue.

[2018-01-02 21:09] lfxc commented on #609
I really think you guys need to figure this one out if you want to be a privacy-focused browser.

[2018-01-03 08:13] siddware commented on #1712
Thanks for the hints @pocmo :) The problem stems from the fact that the aforementioned URL has inline in its content disposition instead of attachment. As a result, we get a null [here](https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/utils/DownloadUtils.java#L57) and the method resorts to guessing the name instead of using the filename in content dis

[2018-01-03 15:40] npark-mozilla commented on #2005
@mcomella I tried it on both android 6.0 (Oneplus One) and 7.0 (Pixel 2) but I wasn't able to repro this yet.

[2018-01-03 18:54] bbinto commented on #1085
Yes, @grubdragon -- Thanks, let @lime124 or @Sdaswani know if you need any assistance.

[2018-01-03 21:48] mmiermans commented on #1995
@npark-mozilla @bbinto @mcomella I fixed this issue on our end and verified I can now save YouTube videos from Firefox Focus on a Pixel 2.

For any videos from this site that have been already saved, the Article View must be re-downloaded by tapping the refresh button at the very top right corner of the video.

Thanks for bringing this to our attention! :100:

[2018-01-03 21:59] #1995 closed

[2018-01-04 10:55] bdfish commented on #2029
sorry to say that it caused by myself,not focus

[2018-01-04 10:55] #2029 closed

[2018-01-04 16:18] npark-mozilla opened #2032 "Move CI setup from Buddybuild"
Since BB is discontinuing their Android support on March 1st, we need to look into alternatives.

[2018-01-04 18:09] npark-mozilla commented on #2032
It seems that the options are either we use TaskCluster, or use 3rd party services like CircleCi

[2018-01-04 19:53] bbinto opened #2033 "Can't add shortcuts to non-vanilla home launcher (confirm)"
<img width="484" alt="screen shot 2018-01-04 at 2 52 28 pm" src="https://user-images.githubusercontent.com/122897/34581586-fd9a4f2a-f15e-11e7-855d-67951d65e07e.png">

[2018-01-05 13:01] Krawei opened #2034 "Current version not available in F-Droid Store"
Relating to #1528 and  my last Ticket #1551 the F-Droid's Focus-Version is kinda outdated (v2.5 in Fdroid vs. v4.0.1 in Playstore).

Will there be a newer version or fix available soon?

Kind Regards,

Krawei

[2018-01-05 14:54] mcomella commented on #2032
[I copied Sebastian's focus-public@ message](https://mail.mozilla.org/pipermail/firefox-focus-public/2018-January/000083.html) about what we still run on BB:

Luckily we moved a lot of our tasks from Buddybuild to taskcluster and
Travis for other reasons already. However there are some things left on
buddybuild exclusively:

*UI tests*
We are using buddybuild to run our UI tests on various device

[2018-01-05 15:35] npark-mozilla commented on #2032
I just realized TC also builds PRs after reading above.  If so, then perhaps TC can trigger UI Test on Google firebase directly with the compiled apk, rather than let buddybuild do it.  However, following questions should be addressed:
- How easy would it be to see the test results for each run?  (visible in TC/Treeherder?) Including screenshots/videos for debugging
- Would we be able to easily go

[2018-01-05 15:37] mcomella commented on #1945
I haven't looked into this too heavily but my intuition says this isn't a good idea (feel free to do more research and prove me wrong! :) ).

Fragments and preferences have more responsibilities than just being a view (managing lifecycle/back stack and saving/loading preferences respectively). Ideally, in OO code, each class has one responsibility (see the SOLID principles) so a red flag is thrown

[2018-01-05 15:45] mcomella commented on #1897
@tvalle Go for it! Sorry for the delay, we've been on vacation for the holidays.

I think what's important here:
- to preserve the selected default search engine in each locale (e.g. for a user that switches locales often)
- to keep any custom search engines the user has added (which should probably be available in all locales).

For this bug, I think ideally each locale will keep it's own set of

[2018-01-05 15:48] mcomella commented on #2001
@grubdragon We're not sure we want to implement this yet (Barbara is looking into it) so please hold off on implementing this – thanks!

[2018-01-05 16:24] mcomella opened #2035 "Does our "Focus as default browser" target users intentionally setting the default?"
We use the default browser metric for a lot of things so we should make sure it's reliable.

For example, in newer versions of Android, when users install a new browser, they're presented with a dialog: "Which app would you like to open in?" The user just installed Focus and is likely to click Focus. However, in newer versions of Android, this (unintuitively to me) sets the browser **as the defaul

[2018-01-05 16:49] mcomella commented on #2010
@shahbazahmed1269 I think this is being worked on in #2020. If not, Jacquester may also have some commits that fix this.

Perhaps you'd like to tackle #1193?

[2018-01-05 16:57] mcomella commented on #1712
@siddware Just a few questions to get more context:

What does "has inline in its content disposition instead of attachment" mean? Like, there's an attribute that requests we parse the content disposition from the URL rather than as an http header?

By "change the pattern to handle inline as well", do you mean that if contentDisposition is null [here](https://github.com/mozilla-mobile/focus-androi

[2018-01-05 17:12] mcomella commented on #1973
I recognize the intent (websites shouldn't be changing their behavior based on browsers) but changing the user agent for the whole browser to be a static value is a larger discussion – for example, major desktop browsers update their user agents with their current versions and there must be a good reason for that.

My expectations for this bug are that we take the "platform user agent" in `buildUs

[2018-01-05 21:18] grubdragon commented on #2001
Okay cool I'll hold my horses :#

[2018-01-05 21:33] siddware commented on #1712
Sorry, that was my fault, linked you the wrong line of code.
[Content Disposition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) can be either inline or attachment. This is the value that's being returned for the link specified by @gdevitis
`inline; filename="indice_9210787.pdf"`
The [Pattern](https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main

[2018-01-06 02:53] harisankerPradeep commented on #1899
I'd like to work on this :)

[2018-01-06 04:16] 7a6ac0 commented on #1973
@mcomella Thanks for your response. I think the solution is that we pass in hard-coded UA for HTTPUrlConnection request, and `buildUserAgentString` still remain the same.

Is it right?

[2018-01-07 14:51] Emegy opened #2037 "Not showing Firefox Focus in Recent Apps list at all."
By default, Firefox Focus is shown as a blank window in Recent Apps list. But simply clicking on this window will result in anyone getting into the browser and seeing what user was viewing, which makes it kind of pointless.

I think that the good idea would be to completely remove Firefox Focus from a Recent Apps list. This way a browser would be accessible only from a shortcut, and unless someone

[2018-01-07 17:08] grubdragon commented on #2037
I found something that could be implemented, if we go ahead with this.
https://stackoverflow.com/questions/3762763/how-to-remove-application-from-recent-application-list

[2018-01-08 07:12] grubdragon commented on #1433
Could I take this up?

[2018-01-08 15:03] bbinto commented on #1216
"App destroys batteries if the Focus notification is present. If I forget to fully close the browser, i.e. there isn't a notification, Focus is the top battery user. Shows "in use" longer than my screen is on."

[2018-01-08 15:37] bbinto opened #2038 "Open with "Firefox with TP on""
Enhancement Request: Great app... my default browser...I would like to regularly "Open With" URL from Focus to "Firefox Private Tab" to preserve Tracking Protection. I know "Chrome Incognito Tab" can be spawned from some programs, I think it would be great for similar feature in Firefox. I would use it regularly from Focus.  Thanks.

[2018-01-08 15:40] bbinto opened #2039 "Loosen up the HTTPS cert warning"
Via Google Translate (DE->EN)

[2018-01-08 22:02] mcomella commented on #1085
@grubdragon Sorry we missed you on IRC!

The wordmark is the "Firefox Focus" text on the homescreen (the file for the asset is actually called `wordmark.png`). Note that the text under it will probably need an alpha animation too.

[2018-01-08 22:23] mcomella commented on #1085
@grubdragon On that note, I see you've already started working on another `good first issue` – it'd be great if you pull something from our `help wanted` issues for your next bug (if I remember, I'll probably include one in your PR once it's completed, if I haven't already).

[2018-01-08 22:29] mcomella commented on #1973
Yeah, that sounds fine.

I was originally thinking we should a UA substring with the browser and thus we should re-use `buildUserAgentString` but looking at the UA, it doesn't seem like much, if any of it, is usable.

Don't forget to look [at the UA article on MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent) to figure out what an appropriate user agent might be.

[2018-01-08 22:34] mcomella commented on #2037
I don't think we'd want to do this:
- we deliberately display a notification any time focus is running to let the user know that it's running and provide easy access. The recent app switcher is similar behavior
- This breaks platform conventions and would be an unintuitive default to users. We could make it configurable but more options means more code (and potentially more bugs) and a more clutte

[2018-01-08 22:34] #2037 closed

[2018-01-08 22:39] mcomella commented on #1433
@grubdragon Sure! The steps for this bug:
- Summarize why findbugs development stopped: https://github.com/findbugsproject/findbugs#readme
- Switch to spotbugs

Thanks for your help! :)

[2018-01-08 22:40] mcomella commented on #1563
Throwing back to triage because #2039 was filed.

[2018-01-08 22:41] mcomella commented on #2039
We could allow users to ignore SSL errors (dupe #1563). That being said, this could also be caused by #1338 (Focus does not cache intermediate CAs) so fixing that could also solve this problem.

[2018-01-08 22:41] #2039 closed

[2018-01-08 22:44] mcomella commented on #1216
I wonder if the webView isn't being paused while the app is backgrounded. Only some users might be affected by this because it depends on the page the user has open in the background.

[2018-01-08 23:03] mcomella commented on #1712
@siddware Thanks for the thorough explanation!

Yes, sounds good to me!

[2018-01-09 05:19] grubdragon commented on #1369
Can I look into this?

[2018-01-09 14:16] Sdaswani commented on #2032
David Burns responded:

[2018-01-09 16:18] npark-mozilla commented on #2032
Great, so once the taskcluster/treeherder is setup, above concerns would be trivial.  So as long as TC can run tests on android API 22-25 sim, then that's all good.

[2018-01-09 16:41] grubdragon commented on #1085
Okay, I'll try something else :)

[2018-01-09 21:01] mcomella commented on #1369
@grubdragon We're unable to reproduce this and there hasn't been any additional reproduction information so I'm actually going to close the issue. Thanks for checking in though! Sorry that so many issues have been no goes – let me know if you need help finding more issues!

[2018-01-09 21:01] #1369 closed

[2018-01-09 21:06] #1976 closed

[2018-01-10 10:31] huuhaa commented on #2005
Is there any way to get logfile what is happening on my device and then send it to you?

I'm facing this problem several times a day, which eventually forced me to switch default browser for android. Now jumping between Brave and Firefox. Would love to use firefox Focus as main browser again, but even those short tests ( I try it just once again) have ended up  to history cleared. Usually after I

[2018-01-10 14:51] vext01 commented on #967
I find myself having to open the full firefox app all the time, just to search for a string in the page.

[2018-01-10 14:52] vext01 commented on #822
Another feature I always find myself using another browser for. Yes please!

[2018-01-10 15:19] npark-mozilla commented on #2005
@huuhaa you can connect your phone via usb cable with 'USB debugging enabled' set to true on your phone (Usually it's under System -> Developer options in settings, and if you don't see Developer options menu, Go to About phone and tap 'Build number' many times)

Then, you also need to have adb installed on your PC.  For details, refer to:
https://developer.android.com/studio/command-line/adb.html

[2018-01-10 15:43] grubdragon commented on #1994
Anything I can do here? @bbinto @mcomella

[2018-01-10 17:22] grubdragon commented on #1655
Is this something I can implement?

[2018-01-10 17:26] huuhaa commented on #2005
@npark-mozilla
Thanks! This is bit weird, but now I'm not able to reproduce this. Tried several times while writing logfile with adb but all just seemed to work. So far all has work after I have once again disabled those developer mode / usb debugging options. Will report if this appears again & try to get log of it.

Btw. In case I'm able to get that log, where do I place it? And since that logfi

[2018-01-10 17:30] huuhaa commented on #663
@pocmo @bbinto
Is there any ETA on ths one?

[2018-01-10 18:02] npark-mozilla commented on #2005
@huuhaa I think you can just attach it to this issue.  I don't believe the logcat shows any personal information, as it mostly shows the system messages.

[2018-01-10 18:13] grubdragon commented on #1848
Hey @pocmo is this still open?

[2018-01-10 22:40] mcomella commented on #1994
@grubdragon You could try to figure out why this error is happening and fi xit, but if the comment's correct, there might not much we could do here (i.e. if the JSON file is corrupt).

[2018-01-10 22:43] mcomella commented on #1655
@grubdragon Sure. I think the things I most often ask people for are:
- user agent
- Focus/Klar version
- Android version

I'd say we create a `focus:debug` URL that displays ^ this information to start. It doesn't need to be too pretty because it's a debug page.

Thanks!

[2018-01-10 22:44] mcomella commented on #663
@huuhaa Unfortunately, no – we prioritized this as a P5, which means it's not something we're prioritizing primary development time on but something we'd accept a patch to fix.

[2018-01-10 22:50] mcomella commented on #2005
The content in logcat is up to the developers whose app you've installed so they, in theory, can contain personal information. I'd recommend:
- Finding the process ID for Focus (it's the number in the parens on Focus-related messages) and grep for it, uploading that file, so we only show Focus entries because we don't log personal info (e.g. `cat logfile | grep 123 > new_logfile`) (this isn't grea

[2018-01-10 22:52] mcomella commented on #1848
@grubdragon Should be – we're still a new project so generally if an issue is open, it's something we want! Feel free to add it to the bottom of the bottom of the list. I have some UX concerns (what happens to custom URLs and search engines?) but we can deal with that when we get to it.

[2018-01-10 23:20] npark-mozilla commented on #2005
@mcomella thank you for correction- i was only thinking about the logcat of the focus app. @huuhaa if the log is too big for email, lemme know, i’ll point you to a temp repo where you can drop the file.

[2018-01-10 23:23] npark-mozilla commented on #2032
Get Google testcloud account which can be used when TC starts a build job
Add Google credentials to Focus secret folder so TC can pull the credentials and log into google (I noticed Sebastian already obtained secrets service for storing credentials (https://bugzilla.mozilla.org/show_bug.cgi?id=1409353))
Modify the taskcluster.yml so:
installs gcloud and gutil API from Google
When the build is comp

[2018-01-11 10:48] siddware opened #2041 "Investigation of Unit and Instrumented Tests After LeakCanary Integration"
Leakcanary has been recently integrated to detect any possible memory leaks. The steps prescribed [by the documentation](https://github.com/square/leakcanary#getting-started) to ensure consistency with tests have already been implemented but this addition still warrants a closer look at our existing tests to investigate any possible changes that should be made to work with this library.

[2018-01-11 18:37] liuche opened #2042 "For custom search engines, only collect "custom" when sending default search engine telemetry"
In #961 I didn't remove the default search engine name that we're collecting from telemetry, and we can't collect that.

If the user is using a default search engine, we should send that name (Google, Yandex etc) and if a custom search engine is used, send "custom".

[2018-01-11 18:47] anupam-das opened #2044 "Firefox Focus is making sensor APIs available to cross-origin iFrames"
We are a group of researchers who have been investigating what sensors are accessible to third party scripts. We recently found that Firefox Focus is making sensor APIs available to cross-origin iFrames, which is not the case for native android Firefox. We believe Focus should not be doing this due to security and privacy risks listed at the following link https://www.w3.org/TR/generic-sensor/#mai

[2018-01-11 19:09] npark-mozilla commented on #2032
Sebastian suggested that we can skip treeherder for now, and just attach the reports to the taskcluster job.

[2018-01-11 20:00] mcomella opened #2045 "Add leak canary watches for fragments"
After #887 lands, as per https://github.com/square/leakcanary/wiki/FAQ#how-do-i-use-it

[2018-01-11 20:04] #887 closed

[2018-01-11 22:28] #2042 closed

[2018-01-11 22:35] liuche commented on #1765
Pushing another dot release to update search engine telemetry - including just the patch for #2042.

[2018-01-11 23:06] dveditz commented on #2044
Fennec (Firefox for Android) uses the Gecko browser engine. Focus uses the platform's built-in WebView. Sometimes we can work around issues but in this case I don't think we can. Chrome behaves the same as Focus for Android and the bug needs to be fixed by Google. Hopefully they agree that the spec is correct and that they should fix it.

[2018-01-12 08:33] grubdragon commented on #2045
I'll take this up when I can

[2018-01-12 09:19] huuhaa commented on #2005
Thanks for both of you! I try to reproduce that again, since I've already have faced both of these #2004 & #2005 once after last comment.

[2018-01-12 09:34] huuhaa commented on #2005
@mcomella & @npark-mozilla

I was finally managed to get logfile for this issue (#2005) and e-mailed that logfile to both of you. Hopefully that helps & possible fix will fix also #2004 and if not, let me know so I will try to get another logfile for that issue. Sure on the other hand I think that might be one of those things that remains to see, so if I later face that issue again I will report.

[2018-01-12 09:56] huuhaa opened #2046 "Long press over image > share image, shares address of image instead of image"
I'm not sure should this be linked to #531 and #502 but since both of those are closed and this is bit different case, I open new issue for this one.

When longpressing over image and selecting share image from the menu and after that for exaple whatsapp and contact from there, there is no image to be shared but a link to the image instead.

I think expected behavior would be to share actual image

[2018-01-12 13:17] mozfreddyb commented on #2044
If you think that allowing sensor data is a good idea (which I don't), then I don't think it really matters whether it's accessible to 3rd party iframes or not.
It does matter if you prompt for the top level and make the top level origin the permission bearer, though (but that's not the case here).

[2018-01-12 17:54] mcomella commented on #2045
Sure, works for me!

[2018-01-12 18:01] mcomella commented on #2005
Great, thanks! Here's a Mozilla internal copy of it (to make it easier for any of us to solve): https://drive.google.com/open?id=1zNdSo2baZA3YRcoEMPw2X7GspQ_HJeKB

[2018-01-12 18:13] mcomella commented on #2005
I may have missed some things but two things stood out to me:

d/webkit/RenderProcessGoneDetail;

It sounds like the render process might be getting killed. We have a bug open to handle this #1630 but it appears huuhaa is actually running Android 7.0 anyway and `onRenderProcessGone` method was added in API 26 (Android O, 8.0).

It's weird that it's getting NoClassDefFoundError though – maybe the v

[2018-01-12 18:48] gunesacar commented on #2044
There's an open Chromium issue: https://bugs.chromium.org/p/chromium/issues/detail?id=598674.
[This comment says](https://bugs.chromium.org/p/chromium/issues/detail?id=598674#c11) the issue will be fixed with the introduction of the Feature Policies for the Device Orientation API.

[2018-01-12 19:30] vivekkrish opened #2047 "BUG: App incompatiblity with Camera cutout of new Essential PH-1"
- Firefox Focus 4.0.1 (Build #13472157)

- [Essential PH-1](https://www.essential.com/)
	Android 8.0.0
	Security Patch Dec 5, 2017
	Build number OPM1.170911.213

- User agent: Mozilla/5.0 (Linux; Android 8.0.0) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Focus/4.0.1 Chrome/63.0.3239.111 Mobile Safari/537.36

	Other HTTP headers:
[code]

- How to reproduce:
	1. Buy Essential PH-1
	2. Install

[2018-01-12 23:13] Sdaswani opened #2048 "Add UA String to Mozilla Developer List"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent

[2018-01-12 23:47] mcomella opened #2049 "Blocked tracker count may be inaccurate (lower than actual)"
I added log statements next to [`callback.countBlockedTracker()` in `TrackingProtectionWebViewClient.shouldInterceptRequest()`](https://github.com/mozilla-mobile/focus-android/blob/e4a762ce4469cdf616208b9677b575e8e7a22890/app/src/webview/java/org/mozilla/focus/webview/TrackingProtectionWebViewClient.java#L111) and for metacritic, it reported 9, while the UI reports "3".

I think the problem is tha

[2018-01-13 00:59] gillespiecd opened #2050 "Wrong wiki link for first bugs"
From `List of good first bugs for new contributors`

Current link: https://github.com/mozilla-mobile/focus-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+bug%22

Should be: https://github.com/mozilla-mobile/focus-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2018-01-15 09:30] Biskvit opened #2052 "(Optionally?) keep tabs in memory"
This might've been pointed out already, so I apologize if I'm just repeating something that has been said before.
Switching between "tabs" (I don't know how exactly the implementation in Focus is called, but I'll be calling them tabs for now) causes the whole page to reload. Written data, performed actions and filled forms are not lost because it's not a refresh, but it is still a minor annoyance

[2018-01-15 09:58] Biskvit opened #2053 "dragging/holding 3-dot overflow menu"
Instead of tapping the 3-dot overflow menu once, and then tapping "refresh" once again for refreshing the page, things should be changed so you can hold the action overflow menu, move your finger towards the "refresh" icon (or any other option in the menu), and release, so the page can be refreshed in a single press.
Almost all of the system apps after Lollipop, and many third-party apps work like

[2018-01-15 10:10] Biskvit commented on #2038
Sounds like an interesting idea. However, if Firefox (be it stable, beta, nightly, dev, or fennec) is not detected, the option should probably be hidden as to not clutter the 3-dot menu any further.
The first time a version supporting this is ran, or on the first run of Firefox Focus ever, the user should be notified about this possibility in the introduction -- this option shouldn't be totally bu

[2018-01-15 21:17] ventaquil commented on #989
Same here. When I used custom port on my server (example 3030) I got response _"Undefined protocol"_ but when I added _"http://"_ prefix everything gone correct.

[2018-01-16 09:37] grubdragon commented on #989
I can think of two workarounds, one will probably be the right one to do, i.e. investigate why this is happening for a missing "http://" part, or simply append http:// for server:port type URIs.

[2018-01-16 10:46] ventaquil commented on #989
@grubdragon missing _"http://"_ part is because I didn't write it in address bar. But why normal Firefox browser for Android knows that it's possible to open this link - and I am not adding _"http://"_ prefix.

![Firefox example](https://user-images.githubusercontent.com/10523774/34984874-94e0c86c-fab2-11e7-9981-a4c1613061ef.png)

[2018-01-16 13:14] bbinto opened #2054 "Issues posting to Facebook"
<img width="776" alt="screen shot 2018-01-16 at 8 14 08 am" src="https://user-images.githubusercontent.com/122897/34990779-53859dc4-fa95-11e7-96fe-24e0cfbfbb92.png">

[2018-01-16 21:46] mcomella opened #2055 "What's new notification shown for dot releases, despite no what's new page for the release"
e.g. I saw this locally for the 4.0.1 -> 4.0.2 release from the play store.

[2018-01-16 22:24] mcomella commented on #2048
@Sdaswani Is the action item to add Firefox Focus' UA string as an example in the linked page?

[2018-01-16 22:25] Sdaswani commented on #2048
@yes @mcomella .

[2018-01-16 22:26] mcomella commented on #2050
Fixed, thanks!

[2018-01-16 22:26] #2050 closed

[2018-01-16 22:27] mcomella commented on #2052
Dupe #1393 – this is possible to do, but it's not happening because of the way that we initially wrote it.

[2018-01-16 22:27] #2052 closed

[2018-01-16 22:31] mcomella commented on #2053
For triage: is this worth the code complexity to implement? I think existing apps get this for free when they use the standard ActionBar/Toolbar and menu combo, but since we have a custom view in the menu (# of trackers blocked), we'd have to implement this ourselves. If so, I'd recommend P5, help wanted.

Note that I can perform this behavior in Chrome.

[2018-01-17 09:16] grubdragon commented on #2045
For which fragments do we need watches?

[2018-01-17 17:15] Sdaswani opened #2056 "Use Latest GeckoView 🦎"
GeckoView has been updated - let’s use the latest and greatest one.

[2018-01-17 17:45] Delphine opened #2057 "[New locale] Gujarati (gu-IN)"
@pocmo mentioned that it would be helpful if I file an issue each time there is a new locale, in order to update the locales.py file accordingly.

Note that this locale hasn't finished localizing yet so we'll just to add it to screenshots at this point (https://pontoon.mozilla.org/gu-IN/)

thanks!

[2018-01-17 19:36] mcomella commented on #2045
@grubdragon All of them. :) BrowserFragment in particular.

[2018-01-17 19:37] mcomella commented on #2056
FYI: Snorp has a PR opened for GeckoView changes – we should figure out if that will be replaced or is necessary for this to work.

[2018-01-17 19:59] Sdaswani commented on #2056
@snorp is this PR out of date or can be used for this work? https://github.com/mozilla-mobile/focus-android/pull/1377

[2018-01-18 11:35] Jacquester commented on #1945
Hi @mcomella, I've been quite busy at work lately I don't think I'll be able to look into this but you are probably right. I just thought the code would be fairly more readable if SavedInstanceState was not used through two levels of abstraction.

All the best and apologies for the late reply

[2018-01-18 19:15] Sdaswani opened #2059 "[meta] Klar with GeckoView"
- [x] Update GeckoView shipping with Focus/Klar https://github.com/mozilla-mobile/focus-android/issues/2056
- [x] https://github.com/mozilla-mobile/focus-android/issues/2090
- [x] https://github.com/mozilla-mobile/focus-android/issues/2088
- [x] https://github.com/mozilla-mobile/focus-android/pull/2087
- [x] https://github.com/mozilla-mobile/focus-android/issues/2084

[2018-01-18 19:35] mcomella commented on #1945
Generally, yes – the less indirection there is, the more readable the code is at a low level. However, indirection can make the code easier to read at a high level through encapsulation. I think it's important to always look critically at layers of abstraction to understand why they're there and if they're worth the added complexity (e.g. I think it was good for you to question and I'm now wonderi

[2018-01-19 08:04] grubdragon commented on #1826
Hey so I'm trying to add this to the gradle file right now

[2018-01-19 09:23] Biskvit commented on #2034
That's a problem with F-Droid's build tools,  and it has nothing to do with the devs here.
F-Droid's data regarding Firefox Klar is up-to-date, and 4.0.1 [was attempted to be built on 23.12.2017](https://f-droid.org/wiki/page/org.mozilla.klar/lastbuild_17) but it failed to build. It's happening with [other apps](https://gitlab.com/fdroid/fdroiddata/issues) too.
As a result, some apps are getting t

[2018-01-19 17:18] npark-mozilla opened #2061 "Create script that executes UI Tests on Google TestCloud"
This is the subtask of #2032 , and will be used in taskcluster to execute UI Tests as part of the build job.

[2018-01-19 17:34] Sdaswani commented on #2034
Closing since @Biskvit notes the problem isn't something we can fix. Thanks all!

[2018-01-19 17:34] #2034 closed

[2018-01-19 17:36] Sdaswani commented on #1826
Thanks @grubdragon I'm hoping @npark-mozilla can review for you.

[2018-01-19 21:49] Delphine opened #2062 "[New locale] Aragonese (an)"
Please update locales.py file with this new locale.
Note that this locale hasn't tested yet so it would be best to first add it to only screenshots before it ships.
Thank you!

[2018-01-21 20:37] #977 closed

[2018-01-22 16:16] jasonwkl opened #2065 "Readability?"
Would dev consider implementing readability like in the main Firefox browser?

It Would help to render some content that is not made for phone screen size.

[2018-01-22 19:18] Sdaswani commented on #2065
Thanks for your suggestion - we'll consider it during our next triage meeting. Stay tuned.

[2018-01-22 21:00] Lululalu opened #2066 "Some wiki websites have their layout broken on Focus."
http://emulation.gametechwiki.com/index.php/Main_Page

The website above is just one example.

Some websites are not scrollable, for example: http://www.simplemysticmiracles.com/

I miss the option to request desktop site and close tabs. Could you add these features?

Love Firefox Focus. Keep with you great work.

[2018-01-22 21:36] mcomella commented on #2065
Dupe #802.

[2018-01-22 21:36] #2065 closed

[2018-01-23 21:17] npark-mozilla opened #2068 "UI Test Process crashing, seems to be related to leakCanary"
Locally the tests (For example, PageVisitTest) started failing with 'Process Crashed' error, and submitting the test on Google Testcloud shows following stacktrace.

java.lang.NoSuchMethodError: No direct method <init>(Lcom/squareup/leakcanary/WatchExecutor;Lcom/squareup/leakcanary/DebuggerControl;Lcom/squareup/leakcanary/GcTrigger;Lcom/squareup/leakcanary/HeapDumper;Lcom/squareup/leakcanary/HeapD

[2018-01-23 21:19] npark-mozilla commented on #2068
Seems like this is the commit when it was introduced:
https://github.com/mozilla-mobile/focus-android/commit/5bb96d68a874b6f03c87a4fcd28e11cb041b290e

[2018-01-23 21:21] npark-mozilla commented on #2068
But it looks like BB is running tests fine - so maybe there is something that I missed? I just built it on usual focusWebviewDebug mode and ran tests..
https://dashboard.buddybuild.com/apps/584f67f6f3d6eb01000842d6/build/5a67a09f3fb6da000182baa8#uitests

[2018-01-24 05:12] npark-mozilla commented on #2068
This seemed to affect both Android Studio IDE, and ./gradlew command. I can't get it to work even after recloning the directory, and delete Andriod Studio cache. @siddware thought?

[2018-01-24 05:53] npark-mozilla commented on #2068
Just discovered that after changing https://github.com/mozilla-mobile/focus-android/commit/5bb96d68a874b6f03c87a4fcd28e11cb041b290e#diff-39e7d8c00954e920b98e7636f0ac30b2R184
to "releaseCompile "com.squareup.leakcanary:leakcanary-android-no-op:$leakcanary_version"
as shown in leakCanary github page, the tests are back running.  @siddware was there a specific reason that 'compile' cmd is used rather

[2018-01-24 07:52] l0g1ntak3n commented on #1743
This [Anti-MITM addon](https://addons.mozilla.org/en-US/firefox/addon/block-cloudflare-mitm-attack/) is doing great job by redirecting to alternative website which don't use Cloudflare.

[2018-01-24 10:54] grubdragon commented on #1848
Any guidance I could get here? The settings fragments/etc are pretty hard to understand.

[2018-01-24 13:59] Mikaela opened #2069 "Tab queue"
I would like to use Firefox focus as my default browser, but it's missing tab queueing from Firefox Android.

Often when I haven't looked at my phone for some time, I tend to look through instant messaging backlogs which often have interesting links and with Firefox I can just pile them to background until I have finished with the backlog, but Firefox Focus just pops up making me feel confused whe

[2018-01-24 17:38] mcomella commented on #1848
@grubdragon You'll want to look in settings.xml to add the button and respond to the event in SettingsFragment. You can use something similar to the code Sebastian posted above to clear the SharedPreferences. Make sure any data stored outside of SharedPreferences is also cleared!

[2018-01-24 17:40] mcomella commented on #2069
I love tab queues and I think this is a great idea – thanks for the suggestion!

Engineering suggestion: perhaps we can make tab queues a library to make it easy to integrate into our range of link-based products.

[2018-01-24 18:59] #2056 closed

[2018-01-24 20:42] Sdaswani commented on #2069
Thanks for the suggestion @Mikaela ! We will consider it during our next triage meeting. cc @bbinto

[2018-01-24 22:38] mcomella opened #2070 "InfoActivity (e.g. SUMO links) may not be using tracking protection"
See: https://twitter.com/coxy/status/956124454962302976

Thoughts:
- We're using a separate web view - perhaps we forget to apply the tracking protection web view client?
- Maybe we should just open these links in the core browser now that we have tabs anyway.

[2018-01-25 17:02] eaceto commented on #1997
I could reproduce it in a Moto Z Play with Android 7.1.1. Can also fix it and submit a PR if you want.

[2018-01-25 17:24] grubdragon commented on #1732
Hey, should I remove the permission?

[2018-01-25 17:25] Sdaswani commented on #1732
@grubdragon will our telemetry library still work? Should the permission be removed from our telemetry library instead?

[2018-01-25 17:31] grubdragon commented on #1732
Hey @Sdaswani I'm not sure how focus works with the telemetry library, but seems that @pocmo and @bbinto have investigated it

[2018-01-25 17:35] Sdaswani commented on #1732
You can find the telemetry library here: https://github.com/mozilla-mobile/telemetry-android

Looks like this is where it is used: https://github.com/mozilla-mobile/telemetry-android/blob/790e5302fc866bfa2d50a80a4c8dfb6938f695e2/telemetry/src/main/AndroidManifest.xml#L8

If you confirmed it isn't needed and removed it from the telemetry library, one necessary step is to make sure that telemetry is

[2018-01-25 17:41] grubdragon commented on #1732
Actually, I would've gone ahead, but seems like its build is already breaking on TravisCI, and it doesn't seem like something I understand enough to fix.

[2018-01-25 23:48] Sdaswani commented on #1997
@eaceto I suggest you suggest a fix and then see if UX is happy with it. What is your proposed solution? It may be helpful to see what other browsers do in this case. Thanks for your willingness to contribute!

[2018-01-26 09:27] eaceto commented on #1997
Morning @Sdaswani . In order to get a better understanding of the issue, I'm attaching several screenshots in multi windows mode with Chrome.

if Focus is on top, everything is okey

![screenshot_20180126-055345](https://user-images.githubusercontent.com/870528/35433054-d461a1d6-0260-11e8-8d5b-134be3a0b1d3.png)

if Focus is on the left or right, is okey too.

![screenshot_20180126-055506](https://

[2018-01-26 16:38] npark-mozilla commented on #2068
Ah I see now, if releaseCompile is used, it'll break unit tests.

[2018-01-26 20:55] layely commented on #2069
Hi guys! Is there a way to work on this during the GSOC 2018 or another feature that might be needed.
Here the list of ideas: https://wiki.mozilla.org/Community:SummerOfCode18.

[2018-01-26 21:07] Sdaswani commented on #2069
Interesting idea @layely , we are still evaluating whether the Focus Android team will participate in GSOC 2018. If so we will consider this.

[2018-01-26 21:20] Sdaswani commented on #1997
Thanks for the details @eaceto ! I think your resolution sounds like a good plan. Can you attach a 'before' and 'after' screens (or even better, video) so we can easily evaluate the change from a UX perspective? Thanks!

[2018-01-27 18:01] Lululalu opened #2073 "Find in page"
Can you add this feature to Focus. I miss it so much.

Thank you.

[2018-01-28 11:21] GammaBurst101 commented on #2073
I want to volunteer to help but I am a novice in java programming. Can anyone please tell me if this issue is easy enough for me?

[2018-01-28 22:14] #1765 closed

[2018-01-28 22:23] Sdaswani commented on #2073
This is a duplicate of https://github.com/mozilla-mobile/focus-android/issues/967 so I'll close. But we understand this is a requested feature so it's something we will look to implement soon.

@GammaBurst101 this is not an _easy_ issue, but there may be some [open source cod](https://github.com/mozilla-mobile/firefox-ios/blob/5c80018d6ba1dca0a5ad7a674c99dee450c9b36b/Client/Assets/FindInPage.js)e

[2018-01-28 22:23] #2073 closed

[2018-01-29 02:20] GammaBurst101 commented on #2073
Oh, Ok! Thanks for telling me. I will try to find something easy for me.

[2018-01-29 19:34] codebam opened #2074 "Open with a Chromium browser is broken, open with not listing all installed browsers"
I'd like to be able to open externally in chromium, chromium swe, chrome, or another webview based browser.

I understand that maybe it's set to only allow opening externally in Mozilla based browsers when they're installed for market share reasons or whatever, but to be honest Firefox for Android right now is really slow and buggy.

I'll do the pull request myself or maintain my own fork if someo

[2018-01-29 23:02] mcomella commented on #2074
Focus currently supports this: Settings -> Open with...

I think you meant to file this against Firefox for Android so I filed this for them: https://bugzilla.mozilla.org/show_bug.cgi?id=1434097

[2018-01-30 01:38] codebam commented on #2074
I didn't make a mistake. When Focus is set to the default browser it's not possible to open in an external browser other than one with "Firefox" in the name.

[2018-01-30 01:59] mcomella opened #2075 "Upgrade gradle plugin to 3.0.1"
For wins like instant run and Java 8 support without Jack.

I did this in Firefox TV so maybe you can borrow the implementation (I haven't tested it thoroughly yet *knock on wood*): https://github.com/mozilla-mobile/firefox-tv/pull/426

[2018-01-30 02:08] codebam commented on #2074
Wait I'm not wrong. I can't open in Chromium

[2018-01-30 02:10] codebam commented on #2074
Steps to reproduce:

1. Install Focus, Chromium/Chromium CAF, and any other Firefox variant or chrome
2. Set Focus as your default browser
3. Open a link in Focus and click Open with

Result: Chromium browsers aren't listed
Expected Result: All browsers on the system would be listed

[2018-01-30 08:26] buttercookie42 commented on #2074
In theory it seems like [this should already handle that case](https://github.com/mozilla-mobile/focus-android/blob/0fa19ab7e88797228919f6df08610ad049082a7f/app/src/main/java/org/mozilla/focus/utils/Browsers.java#L86), although it only works with [a hard-coded list of known browsers](https://github.com/mozilla-mobile/focus-android/blob/0fa19ab7e88797228919f6df08610ad049082a7f/app/src/main/java/org

[2018-01-30 13:41] pkellyuk opened #2076 "website causes firefox focus to stop loading any other pages until app storage is deleted"
on android with LG G5 going to http://www.thefragranceshop.co.uk

the site does not load and causes subsequent sites to be very slow or not load.

requires a local db wipe to fix

[2018-01-30 14:23] Sdaswani commented on #2074
Thanks for the bug report @codebam and suggestion @buttercookie42 - we will triage this soon and get it fixed up.

[2018-01-30 21:31] siddware commented on #2068
@npark-mozilla Sorry about the delay with getting back to you. To add some further information, the ticket specified that leak canary should only be enabled for debug builds, so compile was used to include all the other types instead of just release. I will look into this a bit more and will get back to you

[2018-01-30 22:03] npark-mozilla commented on #2068
@siddware thanks! if I use '---Compile' command for for each of other types as in #2071, I see unit test failures... so kinda curious whether our unit tests need to be modified.  But if it turns out that I'm missing something in my local setup, please let me know.  I think the reason bb is passing is that it sends out two separate gradle build commands, but I could be wrong.

[2018-01-31 00:00] Sdaswani opened #2077 "Fix Slow Rendering"
Google Play is reporting slow rendering in Focus, above the bad behavior threshold (data goes back 6 months): https://screenshots.firefox.com/D7DJcn4dSJPtPLfL/play.google.com

Let's fix this up.

[2018-01-31 00:00] mcomella opened #2078 "testShareIntentWithTextViaNewIntent is missing @Test annotation"
https://github.com/mozilla-mobile/focus-android/blob/3ecc088d6ae090aa87e9ab61ea08ad0116b5b015/app/src/test/java/org/mozilla/focus/session/SessionManagerTest.java#L170

Add it and make sure it passes!

[2018-01-31 00:00] Sdaswani commented on #2077
@npark-mozilla can you provide any context here? If not, no worries, @pocmo may have a historical view and/or can cite potential causes.

[2018-01-31 05:08] thsaravana commented on #1615
@semanticer Your solution worked. Thanks. But what is the cause of the conflict? I am curious to understand how your solution works. Why should we add a dependency to the main project if that doesn't directly require it (I am talking about `android.arch.lifecycle:extensions`)? I am not using any Architecture Components in my `app` module. I am using it only in my library module.

[2018-01-31 16:39] npark-mozilla commented on #2077
Strange, I didn't really notice the app got much slower - All major news sites with many elements seems to load fast to me.

[2018-01-31 17:27] Sdaswani commented on #2077
@npark-mozilla this stat isn't something new - it's been like this for 6 months at least. So not something you'd notice anecdotally likely. Was just wondering if you had any context about the bad graph I linked to.

[2018-02-01 15:43] auggy opened #2079 "Cache isn't being cleared ever"
Unless I manually clear it.

[2018-02-01 19:03] mcomella commented on #2079
@auggy Can you provide steps to reproduce? In particular:
- How are you testing that the cache is not cleared?
- How are you clearing data in the app? e.g. pressing the erase button

Also, what version of Focus are you running? We fixed an issue with the cache not erasing in #1492.

[2018-02-01 19:09] mcomella commented on #2077
According to the dashboard, this behavior has actually **gotten better** over time - perhaps they only introduced notifications for "bad behavior" recently?

![screenshot-2018-2-1 android vitals overview - firefox focus the privacy browser - google play console](https://user-images.githubusercontent.com/759372/35697882-4d6c7842-0740-11e8-9178-77338c26199a.png)

Also, it says 16ms is the cutoff but

[2018-02-01 19:36] kai-chi commented on #1631
Created a bug on webcombat: https://webcompat.com/issues/15197

[2018-02-01 20:08] mcomella commented on #2069
FYI: tab queue usage on Firefox for Android: https://sql.telemetry.mozilla.org/queries/2819/source#table

I think if we invest in building and maintaining this, we should be sure to make sure users know about it.

[2018-02-01 20:20] grubdragon commented on #2069
I'm also interested in GSoC 2018 too. Sadly, uni hasn't given me much time to work on focus, but I would be so much more free come this summer. If you guys do participate, could you'll compile a small list of ideas? That would be great.

[2018-02-01 20:25] Sdaswani commented on #2069
@grubdragon here is what we have so far :) . https://github.com/mozilla-mobile/focus-android/labels/GSoC%202018%3F

[2018-02-01 20:33] Sdaswani commented on #2077
interesting thanks @mcomella . do you think it is worthwhile for me or @bbinto to analyze the reviews to see if there is anecdotal reports of slow rendering?

[2018-02-01 23:25] smartfonreddit opened #2080 "Firefox Focus crashes while loading an SF Examiner article comment section"
Load http://www.sfexaminer.com/suspected-auto-burglar-strikes-sfpd-officer-vehicle/
or
Open the SF Examiner homepage and load an article.

Firefox Focus crashes every time it tries to automatically load the comment section. If instead of automatically loading comment it shows a "Click to load comments" button, clicking that will crash the browser.
Updated the Android WebView 18 hours ago,  and Goo

[2018-02-02 07:01] afarsi commented on #1427
Hey, i found same problem in Fiefox for Android(Fennec too). Look at here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1435171

[2018-02-02 18:50] mcomella commented on #2077
@Sdaswani If it's not too time consuming – it's possible the numbers have gotten better because users on some devices stopped using the app when rendering was bad (but maybe users are just getting faster phones or WebView is getting faster).

But I'm not sure we've actually changed anything related to rendering performance (but I haven't looked into what's landed in all of these versions).

[2018-02-03 06:30] Sdaswani commented on #2077
@mcomella i don't see a pattern that supports this issue from looking at the reviews, but let's get together IRL to check out the reviews and see if we can uncover something.

[2018-02-03 11:07] Itzmanz opened #2081 "blinking of screen on help page firefox focus app"
#### Expected behavior
what i quite expected was a good opening of the site help page

#### Actual behavior
blinking of screen while opening the page

#### How to reproduce
Open the application
click on the help tab, it might open correctly

* Device used: Samsung galaxy A3
* Andriod version:6.0.1

#### Recording Of The Bug
![buggg.gif](https://res.cloudinary.com/hpiynhbhq/image/upload/v1517447862

[2018-02-03 12:49] grubdragon commented on #2081
Attach the gif somewhere else (eg. https://giphy.com/upload/) and paste the link here, I was hit with a content length exceeded error on opening your recording.

[2018-02-04 11:43] runboy93 opened #2082 "Privacy features?"
**Settings for these?**
WebRTC, CSP (reports), Hyperlink Auditing

DNT header for 6.0? https://github.com/mozilla-mobile/focus-android/projects/2

Also adblocking options should be included, possible to add lists (Fanboy, Easylist and such)

"Send anonymous usage data" option, does this include: Location services, Health, Crash reporter, Telemetry and rest, if not then could it be improved somewha

[2018-02-04 20:57] siddware commented on #2068
@npark-mozilla To add to the mystery, I cannot reproduce this issue at all. I ran PageVisitTest and it passed, and then I ran all the tests in the activity folder, only one failed and even that passed when ran in isolation. Out of two tests in privacy folder, one failed and kept failing even when ran in isolation. All the tests in screenshots folder passed.
As far as Unit tests go, 5 failed (from

[2018-02-05 07:27] pocmo opened #2083 "Focus/Klar 4.0.2 not on archive.mozilla.org?"
I wanted to install Focus on my device from archive.mozilla.org (because it's not available from Google Play in Germany). The latest version available is 4.0.1. However I can see Klar 4.0.2 in Google Play. Did we forget to upload 4.0.2 to archive.mozilla.org?

[2018-02-05 15:12] bbinto commented on #2069
@mcomella - I like your idea of making it a library for other Android browsers to use.

@Mikaela and @Sdaswani - I like the idea and we'll prioritize.

[2018-02-05 21:22] mcomella commented on #2082
Action item for this bug: break it up into smaller bugs, some of which will already be filed (e.g. webRTC is #609).

[2018-02-05 21:23] mcomella commented on #2083
It looks like we're also missing it on github: https://github.com/mozilla-mobile/focus-android/releases

@liuche Do you know what happened here?

[2018-02-05 21:42] npark-mozilla commented on #2068
@siddware it seems that I might have a path issue.  I wiped the folder, cloned at /Users/mozilla/focus-android/ and /Users/mozilla/GitRepo/focus-android separately, and ran. the former ran fine, the latter failed, saying that it can't find the leakcanary method.  I actually am not sure how this is possible, since nothing seems to be hardcoded, but I will check.  Thank you for checking on this!

[2018-02-05 22:40] mcomella commented on #2008
FYI: this was also filed for Focus Android on bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1435492

[2018-02-06 00:37] ekager opened #2084 "Fullscreen does not work properly with GeckoView"
STR:
1. Go to Youtube.com
2. Open video and display full screen

Expected:
Immersive mode will be entered

Reality:
Bottom controls remain and pressing "back" gets you stuck on black screen

[2018-02-06 00:37] ekager commented on #2084
I think this is a problem on our end in onEnterFullScreen (BrowserFragment) where we pass in a view (we pass in null when using the Gecko variant) and I am continuing to investigate.

[2018-02-06 12:17] noloman commented on #1974
I would like to work on this issue. Is it possible?

[2018-02-06 12:30] pocmo commented on #2084
There is some code for this in here:
https://github.com/mozilla-mobile/focus-android/pull/1377

[2018-02-06 15:40] noloman opened #2086 "Icon for debug build variants"
It would be great to have the original focus icon but with some kind of ribbon in order to differentiate the production app downloaded from Google Play and the one we're using for development.

[2018-02-06 15:47] noloman commented on #1085
Hi! is this issue still valid, open and available for doing some work on it?

[2018-02-06 16:13] grubdragon commented on #1085
Hey, yes it is! You can start right away!

[2018-02-06 16:54] #2086 closed

[2018-02-06 17:46] ekager commented on #2084
Hi @pocmo :) To be clear, I'm working off of #2067 which uses the fullscreen code from #1377 . The problem seems to be that we do not enter immersive mode in BrowserFragment when using GeckoView.

[2018-02-06 17:58] Sdaswani commented on #1974
yes @noloman , thanks for contribution - we will review your PR soon.

[2018-02-06 19:32] noloman commented on #1974
thank you guys!

[2018-02-06 19:36] mcomella commented on #2012
Waiting on draft review.

[2018-02-07 00:45] ekager opened #2088 "LongClick does not work with GeckoView"
It is currently labeled as a to-do. We use a LinkHandler for Android WebView (implements View.OnLongClickListener) that uses Android WebView methods for HitTestResult.
https://developer.android.com/reference/android/webkit/WebView.HitTestResult.html

[2018-02-07 01:28] Sdaswani commented on #2088
@ekager what’s labeled as a to-do?

[2018-02-07 04:32] ekager commented on #2088
It is commented as a to-do in the code, so this is a known issue
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/gecko/java/org/mozilla/focus/web/WebViewProvider.java#L57

[2018-02-07 11:47] noloman commented on #1085
yes but not for this issue, or you mean that there's already a PR for this issue in particular?

[2018-02-07 13:24] grubdragon commented on #1085
This issue is for beginners, why don't you try some help-wanted ones?

[2018-02-07 13:25] noloman commented on #1085
yes sure, that'd work too. I consider myself a beginner in this repository, and that's why I chose it :)

[2018-02-07 13:29] noloman commented on #2011
hi! sorry but what's the status of this issue?

[2018-02-07 17:32] rohitramkumar308 commented on #1085
@noloman are you working on this one? Can I take it if you are not. I am a beginner too. Thanks

[2018-02-07 18:00] Sdaswani commented on #2011
I think it’s fixed by https://github.com/mozilla-mobile/focus-android/pull/2020 - right @ekager?

[2018-02-07 21:29] ekager opened #2090 "Add tracking protection for GeckoView"
Just added in GeckoView API

[2018-02-07 23:06] ekager commented on #2011
Yes #2020 will fix this

[2018-02-08 13:28] bbinto commented on #2008
more here https://twitter.com/BhashkarSharma/status/961555651678932992

[2018-02-08 15:54] Sdaswani commented on #2008
@ekager when you have some cycles away from GV hacking, this may be something to investigate for an hour or two to see if you can suss out anything.

[2018-02-08 17:42] Sdaswani opened #2091 "Add Telemetry for Average Page Time Load"
I'd like to get an average of all page load times across all focus installs. This will allow us to measure if our different webview choices (Android, GeckoView) have different aggregate loading times.

So I suggest the following:
1) For each foreground session,
2) Keep _local_ stats on how long a page load took, i.e., take time page load start and then finished,
3) Add that to a _local_ average,
4

[2018-02-08 21:40] npark-mozilla commented on #2068
here’s one additional thing I found:  my focus-android folder was under ~/GitRepo originally, which exhibited this crash.  (even just running the app will cause the crash).
I renamed GitRepo folder to 'GitRepoo' and rebuilt/reran the app. the crash still happens.
Then, I renamed GitRepo folder to 'abc' and rebuiit/reran the app. the crash is no longer reproducible.
Similarly,
GitRep -> crash happe

[2018-02-08 22:01] Sdaswani commented on #2056
@ekager can this be closed?

[2018-02-08 23:55] gunesacar opened #2092 "Disallow sensor access on insecure contexts"
**Description**:  Firefox Focus makes devicemotion and deviceorientation data available on insecure contexts. According to the [W3C Generic Sensor API spec](https://www.w3.org/TR/generic-sensor/#secure-context), sensor APIs should only be accessible on secure browsing contexts.

Chromium behaves the same way and has an open issue about it: https://bugs.chromium.org/p/chromium/issues/detail?id=5207

[2018-02-09 04:46] mikevelasquez02 opened #2093 "Option to diable Pull-Down-Refresh"
This is the second time I had to rewrite everything in this comment because of this!! I have been testing FFocus, and since the Pull-Down-Refresh feature was added it has become kind of anoying using the browser. I have refreshed pages many many times by mistake when scrolling and the refresh is triggered (case in point, this post). I was wondering about the possibility of adding an option in sett

[2018-02-09 04:52] Sdaswani commented on #2093
@mikevelasquez02 we have pull-down-to-refresh enabled _only_ for debug builds, and this is in fact very annoying. @ekager maybe we should just disable it for debug builds since it's something we want to do for the Geckoview builds too?

[2018-02-09 13:29] bbinto commented on #2091
+1 ! Should we reach out to PI to get expert help on how we can achieve that and if there are other probes we can/should include.

[2018-02-09 14:13] Sdaswani commented on #2091
@bbinto i did remember that Klar doesn’t have UT on by default so this won’t give us much useful data until we use GV in Focus.

[2018-02-09 16:23] bbinto commented on #2091
I'm wondering if we should revisit the Klar telemetry piece and maybe consider switching to
- core - opt-out
- event - opt-in
with some clear onboarding to make the user understand why we collect data.

For now we have a small number of people who've opted in to telemetry for Klar. I know it's not a lot but better than nothing to get started.

[2018-02-09 16:41] Sdaswani commented on #2091
Another option @bbinto is to enable it for the alpha/beta channel but shut if off for release.

[2018-02-09 16:43] Sdaswani commented on #2091
Also the number of opt-in telemetry users for Klar is high enough for this metric to mean something 👍🏾.

[2018-02-09 22:38] liuche commented on #2083
Ah, I forgot to upload them, I'll do it now.

[2018-02-09 23:12] liuche commented on #2083
Okay, should be fixed, updated the wiki too because I forgot the commands -_-;;

[2018-02-09 23:12] #2083 closed

[2018-02-10 11:30] thybooklust opened #2095 "Add Reader View"
add [reader view](https://support.mozilla.org/en-US/kb/firefox-reader-view-clutter-free-web-pages)

[2018-02-11 06:12] Sdaswani commented on #2095
Dupe of https://github.com/mozilla-mobile/focus-android/issues/802

[2018-02-11 06:12] #2095 closed

[2018-02-11 07:10] easyKL commented on #1405
F-Droid badge still not there 😞

[2018-02-12 05:28] RootUp commented on #609
Indeed, I believe this is more of a privacy issue here is the live demo for same,
1. Navigate to `www.ch3114.com/getip.html`
2. You would be able to private IP address of user.

[2018-02-12 14:43] noloman commented on #2011
good thanks 👍

[2018-02-12 17:32] eiffel-fl opened #2096 "Notification erase does not work"
Hello.

I am using Firefox Klar 4.0.2 build #18 from F-Droid on a Nexus 5 with Lineageos 14.1-20180207.

I noticed that using the notification to erase data does not work.
Indeed, if you connect to a website, push the erase button and go to the same website you will see that you are still connected.

Happily, the bottom left corner trash button works perfectly.
If I can provide you more data do no

[2018-02-12 18:00] Sdaswani opened #2097 "Download Error Trying Opening a PDF"
0. Launch Klar with GV
1. Try to load this link: https://www.whitehouse.gov/wp-content/uploads/2018/02/budget-fy2019.pdf
2. Observe

[2018-02-12 18:13] ekager opened #2098 "Pinch to Zoom with GeckoView"
Should work with GeckoView, perhaps nested scroller is interfering

[2018-02-12 19:08] mcomella commented on #2096
@eiffel-fl Thanks for reporting – it'd be helpful to have specific steps to take so we can reproduce. Here are some questions to use as a prompt: you mentioned, "go to the same website you will see that you are still connected." What website did you go to? What do you expect to see on the website when you delete? What do you actually see?

[2018-02-12 19:49] Sdaswani opened #2099 "On LTE, GV+Klar Loading Indicator Still Present, Though Page seems Loaded"
https://photos.app.goo.gl/tNd2SWAeNpxvRDqU2

Normal Focus on Top, GV Klar on bottom. GV Klar loads faster, but the indicator takes a while to clear. I couldn't reproduce on WiFi (though I only tried once).

[2018-02-12 20:55] eiffel-fl commented on #2096
Hello @mcomella

I first notice the bug by going to outlook.com to see my mails but I try it with numerama.com to be sure that the bug is not linked to outlook.com.
So the generic step are:
1. Go to a website W
1. Connect to this website
1. Access your profile (or whatever data that need you to be connect to be seen)
1. Use the notification to clear you navigation
1. Go to W again

Expected behavi

[2018-02-12 21:49] mcomella opened #2100 "Add support for dialog-based authentication"
STR:
1) Visit https://www.ccsf.edu/Departments/Language_Center/oll/chinese/index.html
2) Select "Level 1 Part 1 Textbook"

Expected: An authentication dialog (to enter user and password)
Actual: Page reloads to "Authorization required"

You can get the expected behavior on desktop. I'm guessing we've never implemented authentication dialogs.

[2018-02-12 22:52] Sdaswani commented on #609
Thanks for your input folks - we will re-triage this soon.

[2018-02-12 22:54] Sdaswani commented on #2100
@mcomella is this a dupe of https://github.com/mozilla-mobile/focus-android/issues/159 ?

[2018-02-12 23:02] ekager commented on #2097
Blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1437701

[2018-02-12 23:37] BMB281 commented on #2078
Hey @mcomella, I'd like to contribute this project in anyway I can. Assuming this hasn't already been added, I've added the annotation and ran a SessionManagerTest; the function passes, however, I get a failed test on testShareIntentWithTextViaNewIntent(), line 177, stating: "java.lang.IllegalStateException: Attempting to retrieve search engines without a corresponding init()"
--Is this a problem

[2018-02-12 23:39] Sdaswani commented on #2078
Thanks for your contribution @BMB281 ! @npark-mozilla and @ekager may be able to advise too.

[2018-02-13 02:34] mcomella commented on #2100
Looks like it.

[2018-02-13 02:34] #2100 closed

[2018-02-13 12:43] bbinto commented on #2091
Data team confirmed this number is sufficient, should be fine for such metric (see more context [here](https://mozilla.slack.com/archives/C4DPE7X2A/p1518463347000626))

[2018-02-13 13:13] Samollo commented on #1631
Hi,

Is this issue still open ? I'd like to contribute. :)

[2018-02-13 14:55] Sdaswani commented on #1631
@Samollo i don’t think there is eng work here - we filed a bug with webcompat and now we have to wait. But thanks for your help and let’s find something else for you to work on.

[2018-02-13 18:03] snorp opened #2101 "Use GeckoView AAR from Maven repo"
### Why
This issue will make it easier to release GeckoView

- RelEng to create Maven Repo
- Focus frontend team to change the configuration file

We're working on a more permanent solution, but the following repo URL will work for the 32-bit ARM lib:

https://index.taskcluster.net/v1/task/gecko.v2.mozilla-central.nightly.latest.mobile.android-api-16-opt/artifacts/public/android/maven

This will a

[2018-02-13 18:36] mcomella commented on #2096
@npark-mozilla Can you reproduce?

[2018-02-13 19:03] kai-chi commented on #159
what is the status of it? can I take it as my first ticket?

[2018-02-13 19:19] npark-mozilla commented on #2096
Yes I can reproduce this issue on Pixel 2 device. I wonder whether it's a regression of https://github.com/mozilla-mobile/focus-android/issues/1306

[2018-02-13 19:56] ekager commented on #2099
I think this is because we are hard coding the progress for GV at `10` in `loadUrl`, `25` in `onPageStart`, and `100` in onPageStop. For WebView we have a method `onProgressChanged` that allows us to make more frequent progress callbacks to make the loading 'smoother'.

Relevant method here:
https://developer.android.com/reference/android/webkit/WebChromeClient.html#onProgressChanged(android.webki

[2018-02-13 20:07] Sdaswani commented on #2099
https://github.com/mozilla-mobile/focus-android/issues/2099#issuecomment-365385014 sounds like a feature request @snorp :) .

[2018-02-13 20:07] ekager commented on #2099
Just filed https://bugzilla.mozilla.org/show_bug.cgi?id=1437988

[2018-02-13 20:09] Sdaswani commented on #2096
Thanks @eiffel-fl  - we will triage this soon so if you can't get to it, no worries.

[2018-02-13 20:12] Sdaswani commented on #159
@kai-chi looks like you can - there is some foundational work here if you want to use it. https://github.com/therbom/focus-android/commit/0e8d2df09633c382a69d991140871e90f4369a4e

Also mention @therbom in case he has made any progress on this.

[2018-02-13 20:53] therbom commented on #159
Hi @Sdaswani,

Unfortunately, I haven't had time to delve into it. That commit is all I've got, I'm afraid, so feel free to take it over.

This is currently all I know:

1. Whenever a page is opened, the webview should ask the user for credentials. I modified [app/src/webview/java/org/mozilla/focus/webview/TrackingProtectionWebViewClient.java](https://github.com/therbom/focus-android/commit/0e8d2d

[2018-02-13 21:23] Sdaswani commented on #159
Thanks for the hand off @therbom , really appreciate your contributions.

[2018-02-13 21:33] stonewareslord opened #2102 "Use https for autocompleted URLs"
It seems that Firefox focus does not store schemes with autocomplete URLs. If I add https://example.com, it only stores the example.com part of the url. When typing “exa” into the url bar, it autocompletes to the http version of the  site.

Please either force https or allow storing the scheme with the url.

 Version: F-Droid Firefox Klar 4.0.2 (build #18)
OxygenOS 5.0.2 on OnePlus5, rooted

[2018-02-13 22:43] cpeterso commented on #2101
Publishing a real maven repo is tracked in [bug 1433198](https://bugzilla.mozilla.org/show_bug.cgi?id=1433198).

[2018-02-13 23:51] grubdragon commented on #2096
Hey, I'll look into this one too. Do comment your approach if you fix it! :)

[2018-02-13 23:58] ekager opened #2103 "Search Terms or URL does not work with GeckoView"
STR:
1. Type search terms + enter
2. Click any link in search results
3. Click URL Bar

Expectation: See link for page you've visited
Reality: See search terms

[2018-02-14 00:27] Sdaswani commented on #2103
cc @bbinto on losing this in Klar.

[2018-02-14 12:34] bbinto commented on #2103
Needs to be fixed --> P1

[2018-02-14 16:40] kai-chi commented on #159
thanks, @therbom. I'll start looking into it and contact you while testing.

[2018-02-14 19:58] nojunpark opened #2104 "Configure Gradle to run Gecko/Webview appropriate UI tests after #2087"
Once the geckoview is added to the project, we should redefine and group UI Tests that can run on geckoview vs. webview

[2018-02-15 03:45] brampitoyo opened #2105 "Custom tabs menu item is out of order"
Layely’s patch has implemented a custom tab menu option to open URL in Focus app:

https://github.com/mozilla-mobile/focus-android/pull/1634#issuecomment-365766514

<img src="https://user-images.githubusercontent.com/759372/36231605-7b3cc6c0-1193-11e8-938e-cbbdb78cc3b6.png" width="300">

For consistency and ease of access, we should reorder the menu item slightly, so that they align with the desig

[2018-02-15 03:49] brampitoyo opened #2106 "Custom tabs menu needs to show branding"
Currently, there are only implicit hints to tell the user that the custom tabs she’s using is Firefox Focus:

* Thin topmost bar is coloured purple
* There’s a switch to turn Tracking Protection on/off inside the menu

We can make this visual hint more explicit by adding a small text that says “Powered by Firefox Focus” on the bottom of the custom tab.

<img src="https://user-images.githubusercont

[2018-02-15 03:56] brampitoyo opened #2107 ""What's New" link inside the menu doesn't open in a modal view"
Steps to reproduce:

- Tap `menu` -> `Help`. Notice that the link opens in an in-content modal view. This enables you to go back by tapping the arrow on the top-left corner.
  - Try it with other links, e.g. `menu` -> `Settings` -> `Privacy Notice`
- Tap `menu` -> `What’s new`. Notice that the link opens in a Focus app tab.

The behaviour of “What’s New” should follow the behaviour of other in-con

[2018-02-15 14:24] bbinto commented on #1393
More from GPS

"Really nice browser WHEN IT WORKS. Won't load pages half the time without refreshing. And PLEASE make it stop reloading webpages every time we switch tabs or apps. Not only does this issue render the browser unsuitable for use with a limited data connection, but it also interrupts browsing sessions by requiring people to find their place (or refill text boxes) in a webpage whenever

[2018-02-15 21:47] berlinbra commented on #2078
Happy to help!
I've added a @Test (expected = IllegalStateException.class) and everything seems to run smoothly, with all asserts passing. @npark-mozilla  and @ekager ; is this acceptable annotation or does it go against the purpose of the test case?

[2018-02-15 21:53] npark-mozilla commented on #2078
since that's a unit test, @ekager would know better, but I think that seems okay to me, since it reaches line 183-187 and passes.

[2018-02-15 22:14] ekager commented on #2091
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* What is the average page load time for GeckoView vs WebView?  - Is the loading time of GeckoView comparable to WebView?

2) Why does Mozilla need t

[2018-02-15 22:14] ekager commented on #2091
@liuche tagging for data review :)

[2018-02-16 13:35] #1496 closed

[2018-02-16 13:37] bbinto commented on #1810
Can this be closed? I thought it made it into 4.0, or did we only do this for iOS?

[2018-02-16 13:37] bbinto commented on #645
see #1810, closing this.

[2018-02-16 13:39] bbinto commented on #610
moved ahunt's text into #1870

[2018-02-16 13:39] #610 closed

[2018-02-16 13:41] #1497 closed

[2018-02-16 13:44] bbinto commented on #1712
@Sdaswani quick check-in on milestone assignment? Is this done?

[2018-02-16 14:04] bbinto commented on #1880
Part of #1561

[2018-02-16 14:05] #1506 closed

[2018-02-16 14:05] #1824 closed

[2018-02-16 14:08] bbinto commented on #1544
related to #1216?

[2018-02-16 14:30] Sdaswani commented on #1712
I don’t think it is finished yet - up to you if you want it prioritized in 5.0 @bbinto

[2018-02-16 14:39] bbinto commented on #1855
Part of #1561

[2018-02-16 14:39] Sdaswani commented on #1810
It’s in 4.0 but I think we kept it open to see how the confirm the different providers are working.

[2018-02-16 14:40] bbinto commented on #1600
Re-surfacing for triage after Focus release changes

[2018-02-16 14:40] bbinto commented on #1472
Re-surfacing for triage after Focus release changes

[2018-02-16 14:43] bbinto commented on #1367
Re-surfacing for triage after 4.1 and 4.2 will be skipped > 5.0!

[2018-02-16 14:44] bbinto commented on #1974
part of #1561

[2018-02-16 14:49] gdevitis commented on #1712
I am the one who reported the bug here. I think this bug is important. How long will it be fixed?

[2018-02-16 18:22] ekager opened #2109 "Localized Pages with GeckoView"
focus:about and focus:rights (and in the future focus:debug) are generated with WebView with loadDataWithBaseUri.

There is an open Bugzilla issue to add this method to GeckoView, I found a workaround for now so that these pages work in GeckoView but it's a little messy. Consider cleaning this up if/when this method is resolved.

Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1322579

[2018-02-17 17:26] bbinto opened #2110 "Can't zoom into Desktop Version"
@ekager, might not be implemented yet?

STM for GeckoView+Klar version

1. Go to e.g. miliascoffee.de
2. Try to zoom in with both fingers

Expected behaviour:
Page zooms in (works on Chrome)

Actual behaviour:
Nothing happens

[2018-02-18 19:42] zekooooo opened #2111 "Firefox Focus is vulnerable to WebGL fingerprinting"
I tried the Panopticlick test on EFF website several times with Firefox Klar. Most of the fingerprints changed after erasing browsing history, but the WebGL fingerprint remained the same. I'm told this has to do with WebView.

[2018-02-19 01:33] #1627 closed

[2018-02-19 01:36] brampitoyo commented on #1628
There are a few small issues to fix after the initial code has been shipped:

* #2105
* #2106

[2018-02-19 06:03] Sdaswani commented on #2111
Thanks for the report @zekooooo . We are thinking hard about anti-fingerprinting measures, so we will consider this when we come up with a plan.

[2018-02-19 13:34] WilliamFeely commented on #1743
Wouldn't a better solution be to detect IP address ranges 104.16.0.0/12, 2400:cb00::/32, and their secondary ranges?

[2018-02-19 15:36] sv-ohorvath opened #2112 "Text selection menu doesn't open on Klar+GeckoView"
STR:
1. Go to wikipedia.com.
2. Long press on a word.

Expected results:
The text selection menu should be displayed.

Actual result:
The text is just selected, with no tools to copy/share, etc.

[2018-02-19 19:35] ioana-chiorean opened #2113 "Wrong message at the first download of the build (3879/3898)"
Steps:
1) Have no Focusversion installed on the device
2) Open the link to download the build #3879
3) Open a newer build mail aka #3898

Expected Results:
- you are able to download the message without any errors.
- you are able to install an update without errors

Actual Results:
- after step 2 - you get a message in the buddybuild that you already have the version installed. ( which is not true

[2018-02-19 19:36] ioana-chiorean commented on #2113
I am not able to add the label:Klar+Geckoview (but this is reported against that build as sit can be seen from the screenshots)

[2018-02-19 19:38] ioana-chiorean commented on #2113
@sv-ohorvath did u get this issue? I will try on several other devices too tomorrow.

[2018-02-19 20:17] Sdaswani commented on #2113
Thanks - just FYI that Build #3887 is the latest one @ekager published last week.

[2018-02-19 20:17] Sdaswani commented on #2113
Oh oops - I see that is the one you are using above, sorry!

[2018-02-19 20:19] ioana-chiorean commented on #2113
No worries. Thanks for checking anyway!

[2018-02-20 05:36] cpeterso opened #2114 "Show GeckoView version on About page"
We should display both the Focus app version and GeckoView's Gecko version on Focus's About page, including Gecko's build ID or date. This information will be helpful when people report Gecko-related bugs in Focus.

[2018-02-20 05:53] cpeterso commented on #2112
Is this bug related to LongClick issue #2088?

[2018-02-20 08:54] pocmo commented on #2112
I implemented the floating text selection toolbar for Fennec.

There's actually quite some interaction between Fennec UI and the Gecko side of things happening. See:
* https://dxr.mozilla.org/mozilla-central/source/mobile/android/modules/ActionBarHandler.jsm
* https://dxr.mozilla.org/mozilla-central/source/mobile/android/base/java/org/mozilla/gecko/text/FloatingToolbarTextSelection.java
* https://

[2018-02-20 09:03] #645 closed

[2018-02-20 09:15] pocmo commented on #2091
Is an average over all loads really statistically meaningful (e.g. mobile vs. wifi, country restrictions, different contracts, different servers/sites)?

[2018-02-20 09:19] pocmo commented on #2107
I would prefer the opposite: Open tabs for all of them. Back when we implemented "Help" etc. we didn't support multiple tabs yet, so we had to build those separate screens. But they are a pain to maintain.

[2018-02-20 09:25] pocmo commented on #2104
*In theory* shouldn't the same UI tests pass regardless of engine?

[2018-02-20 09:50] pocmo commented on #1631
Closing this in favor of just keeping: https://github.com/webcompat/web-bugs/issues/15197

[2018-02-20 09:50] #1631 closed

[2018-02-20 10:06] simonsteiner1984 commented on #1631
webcompat/web-bugs#15197 is closed, is this issue fixed?

[2018-02-20 10:16] pocmo commented on #1631
I'll comment on the other bug.

[2018-02-20 10:23] pocmo commented on #2093
Closing this as duplicate of #1776.

[2018-02-20 10:23] #2093 closed

[2018-02-20 10:26] pocmo commented on #2092
For the WebView-based versions we just need to wait until this ships in Chrome/WebView.

For GeckoView we might need to file a bug or maybe this is already on some roadmap - @snorp?

[2018-02-20 10:28] pocmo commented on #2068
@npark-mozilla Can we close this now that leakcanary is gone?

[2018-02-20 10:38] pocmo commented on #2069
I liked working on tab queues in Fennec a lot. But I do not think it's a good match for Focus. Primarily because:
* It violates our promise to not save any data. When queuing URLs we save them to disk and open them the next time the browser is opened. This is something I wouldn't expect from Focus (Opening [senstivie?] URLs when opened).
* Drawing overlays on top of other apps has become more comp

[2018-02-20 12:40] ioana-chiorean opened #2116 "Inconsistency with Fennec at L10n"
Device: Pixel 2 (Android 8.1.0)
Build: +GeckoView  #3898

I am seeing some locales I have never met. I know I don't own all knowledge in this world at this but I am failing to identify them both on world wide web or in Mozillațs resources:

* https://hg.mozilla.org/l10n-central/
* https://support.mozilla.org/en-US/locales

![l10ns](https://user-images.githubusercontent.com/1391451/36424442-f693b20

[2018-02-20 12:50] ioana-chiorean opened #2117 "Feedback missing for choosing a different search engine"
Device: Pixel 2 (Android 8.1.0)
Build: +GeckoView  #3898

Steps:
1) Go to settings -> Search
2) Tap a different search engine

Expected results:
- a toast notification (or anything else visually) should let me know my default search engine had changed

Actual results:
- no visual notification beside the lighter line over is displayed to confirm my default search engine has changes ( the lighter li

[2018-02-20 13:20] pocmo commented on #2116
Focus languages:
https://pontoon.mozilla.org/projects/focus-for-android/

cc: @delphine

[2018-02-20 13:33] pocmo commented on #2077
Duplicate of #1709. However closing #1709 because there's already some discussion happening here.

[2018-02-20 13:34] pocmo commented on #1709
Closing as duplicate of #2077.

[2018-02-20 13:34] #1709 closed

[2018-02-20 13:51] pocmo commented on #2079
No response. Not actionable.

[2018-02-20 13:51] #2079 closed

[2018-02-20 13:53] ioana-chiorean opened #2118 "No audible sound in videos played in browser"
Device: Pixel 2 (Android 8.1.0) / Samsung Galaxy S8 (Android 7.0)
Build: +GeckoView #3898

Steps:
- Go to video sites like ted.com / vimeo.com / dailymotion, and play video

Expected results:
* videos should be played without issues -like missing sound, graphic jams etc

Actual results:
* no sound is audible

Video - https://youtu.be/z3XKj-Bi03k

[2018-02-20 13:56] pocmo commented on #2074
https://github.com/tasomaniac/OpenLinkWith/blob/master/app/src/main/java/com/tasomaniac/openwith/redirect/BrowserIntentChecker.kt

[2018-02-20 14:09] pocmo commented on #2076
local db wipe?

[2018-02-20 14:20] ioana-chiorean opened #2120 "Open With suggestions miss the native apps"
Device: Pixel 2 (Android 8.1.0)
Build: +GeckoView #3898

Steps:
1) Load amazon.com, facebook.com, twitter.com
2) Be sure to have the correspondent apps installed on your device
3) Tap de 3 dots button - top right
4) Choose " Open with.."
5) Repeat for youtube,com

Expected results:
* Beside the browser options you should have the native app as open with suggestion

Actual results:
* Only the brows

[2018-02-20 14:51] #2068 closed

[2018-02-20 14:57] npark-mozilla commented on #2104
Because we don't have visibility of Geckoview DOM unlike webview, we have no way of checking whether the screen is rendered. So tests like download test need to be disabled, because we can't find the download link to be clicked.  @snorp says enabling this on geckoview is a big a11y work, so it might take a while until it's addressed.  Until then, those tests should be disabled/redefined.

[2018-02-20 15:17] snorp commented on #2092
GeckoView bug is on file here: https://bugzilla.mozilla.org/show_bug.cgi?id=1436874

[2018-02-20 15:35] bbinto opened #2121 "OnePlus3T issues"
<img width="727" alt="screen shot 2018-02-20 at 10 34 52 am" src="https://user-images.githubusercontent.com/122897/36433101-be78efd2-1629-11e8-9017-bc963f5793c3.png">

[2018-02-20 15:37] bbinto commented on #2091
@Sdaswani should we bring in the Rebecca Weiss / PI team for suggestions?

[2018-02-20 15:57] Sdaswani commented on #2091
@pocmo my thought is if you compared the average load time across all pages of Firefox Quantum Desktop vs. Google Chrome Desktop, it's safe to assume that both populations are very similar, so it would give a useful metric about rendering speed. I wanted to compare GeckoView vs. Webview for Klar in similar fashion.

But happy to bring in PI team @bbinto if you want too make sure.

[2018-02-20 16:00] pocmo opened #2122 "X86 support gecko builds"
Currently we import an ARM GeckoView AAR only.

[2018-02-20 16:03] Sdaswani commented on #2104
@pocmo makes a good point though - aren't we missing functionality in GeckoView if we have to disable some tests? If not, why did we need the tests in the first place?

[2018-02-20 16:11] npark-mozilla commented on #2104
@Sdaswani With geckoview, we're definitely losing visibility w.r.t. UI Tests because of above mentioned limitation. (More specifically: https://bugzilla.mozilla.org/show_bug.cgi?id=1343317) Until this bug is addressed, (and probably not in the near future) we would have to make concessions in UI Tests.

To the end user, this won't matter at all - it's only affecting the automated UI tests.

[2018-02-20 16:13] Sdaswani commented on #2104
So what you are saying @npark-mozilla is we can't test all user features with GeckoView until that bug is completed. So we may not catch regressions as we build new features. Thanks for bringing this to my attention, and FYI @bbinto .

[2018-02-20 16:15] Sdaswani commented on #2117
This is more of a feature request, but it's a good one @ioana-chiorean . 👍

[2018-02-20 16:16] npark-mozilla commented on #2104
Technically yes. to Espresso/UIAutomator, the Geckoview area is completely dark.  We might be able to get around to modify some tests, but some would have to be disabled for Geckoview, and covered by manual tests.

[2018-02-20 16:20] Sdaswani commented on #2104
Yes we would need to add manual tests for all those dark areas @npark-mozilla .

[2018-02-20 16:41] ioana-chiorean commented on #2117
Indeed. I was not sure if I need to tag it somehow, but yes it is a feature request 😅

[2018-02-20 17:49] ekager commented on #2110
I can zoom in on the latest version of GeckoView+Klar for this page, you may have had an outdated build?

[2018-02-20 18:02] ekager commented on #2113
I'm not sure if this is a BB issue or something I'm doing.. @pocmo any thoughts?

[2018-02-20 19:24] Delphine commented on #2116
If I understand this issue correctly, what Ioana sees is expected, since we don't ship the same languages in each product we launch :)

I confirm that the locales shown to the left exist (they are in their "original" name) and should appear on Focus for Android builds. Some of these (like Triqui) are only shipping on Fennec single-locale builds, which is why you don't see them in both products. Bu

[2018-02-20 21:28] ioana-chiorean commented on #2116
@Delphine you understood the issue correctly but still in the link provided i do not see them: https://pontoon.mozilla.org/projects/focus-for-android/ Probably i am missing them so if u think they are ok we are good to close this.

[2018-02-20 21:43] ekager commented on #2118
Known issue, Bugzilla issue https://bugzilla.mozilla.org/show_bug.cgi?id=1410456

[2018-02-20 21:47] brampitoyo commented on #2107
While I think that there are many benefits to be gained from for clearly separating “Pages that belong to the product” from “Every other pages on the web”, I’m really interested in knowing why you wrote that they’re a pain to maintain.

Does it have to do with the fact that these pages had to use a pseudo-tab workaround that had since been obsoleted by the multi-tab feature? I wonder if there’s a

[2018-02-20 22:34] Delphine commented on #2116
Yes, as mentioned they are listed in their original language under the phone settings, which is why you can't recognize all of them by comparing them with the Pontoon list, where that's not the case (except for Triqui that is the same in both cases).
The locale in your 1st Focus Android screenshot corresponds to Zapoteco ("zam").
The 2 locales listed under Triqui in your 2nd Focus Android screensh

[2018-02-20 22:39] ekager commented on #2120
Once you click on an item the option to open in the native app does sometimes appear with GeckoView for Amazon, Youtube, etc but it's not always consistent. It seems like Focus+WebView has the same issues though, so I'm going to remove the label for Klar+GeckoView specifically.

[2018-02-21 06:04] GammaBurst101 commented on #2120
I agree with you @ekager . It is same with me. I opened [Sololean](https://www.sololearn.com) on focus and selected 'Open with' option but there was no option for the already installed **Sololearn** app.

Device: Samsung Galaxy J7 Prime (Android 7.0)
Focus Version: 4.0.2 (Build #20112247)

![screenshot_20180221-112625](https://user-images.githubusercontent.com/35678205/36465457-204df6a4-16fb-11e8-

[2018-02-21 07:18] chulliyilmahesh commented on #2008
happens to me too with firefox focus.
open the app google news, then open the link from times of india or economic times from the feed then it will redirect most of the time. firefox focus if my default browser.

[2018-02-21 07:51] siddware commented on #1712
I've submitted a PR #2040 a few weeks ago, will that work?

[2018-02-21 08:47] ioana-chiorean commented on #2116
Thanks @Delphine !

[2018-02-21 08:47] #2116 closed

[2018-02-21 08:49] sv-ohorvath commented on #2113
I see the second message replacing the "ready to be installed on your device" on build  #3898 too, just with a different wording "Try this!".
For the first image. I think you misread "already" as "ready" which is not hard to confuse. :)

[2018-02-21 09:16] ioana-chiorean commented on #2118
@ekager just to make sure it was seen from the video, audio works perfect in Firefox for Android Nightly

[2018-02-21 09:24] GammaBurst101 opened #2123 "Change default search engine to duckduckgo.com"
Normally, when searching using the top search bar, focus uses google but as duckduckgo does not log our info and this browser prioritizes privacy, wouldn't it be great if duckduckgo is set as the default search engine and google is there as an option?

Device : Samasung Galaxy J7 Prime (Android: 7.0)
Focus Version: 4.0.2 (Build #20112247)

[2018-02-21 10:47] GammaBurst101 opened #2124 "Please add option for creating new tabs"
Device: Samsung Galaxy J7 Prime (Android: 7.0)
Focus Version: 4.0.2 (Build #20112247)

There is no option to create another tab in focus. We only get one tab to work on.
Please add the feature to enable the users to create more tabs.

[2018-02-21 10:53] ioana-chiorean commented on #2113
Indeed @sv-ohorvath - sorry, I read already not ready. My name does mean the blind one if u translate CHIOR to English (is that even an excuse?)

The issue remains about the second screenshot and situation. .

[2018-02-21 10:58] GammaBurst101 opened #2125 "Please add a new feature for quick search"
Please add a feature through which a user can quickly search for a particular word/sentence.
Eg.
1. In mozilla firefox for windows, we can select and right-click a word to 'Search on Google' for the word.
![20180221_161807](https://user-images.githubusercontent.com/35678205/36476254-6536a892-1723-11e8-961e-0d4866c10452.jpg)
2. Google Chrome also has this feature where we can tap on a word and the

[2018-02-21 11:48] bbinto opened #2127 "Remove additional referrer information from URL when sharing"
### Why/User Benefit/User Problem
When sharing a URL out from Focus, the feature will remove long URLs that are mostly used for tracking where the user came from (referrer parameters).

### What / Requirements
- should probably handled as a setting
- once turned on, trim URLs when user shares URL (use the canonical link defined in the page's markup (if it exists): https://en.wikipedia.org/wiki/Can

[2018-02-21 12:48] Sdaswani commented on #1712
@pocmo will probably get around to looking at #2040 soon @siddware .

[2018-02-21 12:59] sv-ohorvath opened #2128 "Google maps get location should be inactive"
Build: Klar+GeckoView #3898

STR:
1. Go to maps.google.com
2. Tap the get location button.

Expected results:
As on Focus, the button is inactive. Can't ask for location.

Actual results:
You can ask to get location, but with no result, it just keeps searching.
Recording: https://drive.google.com/open?id=1AaLQX8qsPUiYaVUZqJh4th2CtJeMT824

[2018-02-21 13:15] sv-ohorvath opened #2130 "Security level indicator missing for insecure connections"
Build:
Klar+GeckoView #3898
Focus 4.0.2 (play store version)

STR:
1. Go to google.com, emaramures.ro, or another website with an insecure connection.
2. Check the security icon displayed in the URL bar.

Expected results:
As long as the lock icon is displayed for secure websites, the security level should be shown for insecure websites too.

Actual result:
No security indicator for insecure conne

[2018-02-21 13:22] GammaBurst101 commented on #2124
Ok, thanks.

[2018-02-21 15:56] pocmo opened #2134 "Nightly builds"
We are now creating signed preview builds for every master push:
https://tools.taskcluster.net/index/project.focus.android/preview-builds

As GeckoView is changing frequently it might make sense to build nightly builds additionally (or

[2018-02-21 15:57] pocmo commented on #2134
A taskcluster hook + running the existing pipeline should be enough; We can just update the same indexed task with new builds from master.

[2018-02-21 18:03] ekager commented on #2118
@snorp this would work in FIrefox for Android and not Klar+GeckoView, correct?

[2018-02-21 18:06] snorp commented on #2118
Yeah, it's a problem when you build with targetSdk >= 24 (or 25?), which Fennec does not currently do.

[2018-02-21 18:19] ioana-chiorean commented on #2118
Thanks for the clarification @snorp and @ekager - it seems I misread the bug parameters.

[2018-02-21 18:24] ekager commented on #2118
Thanks for catching this @ioana-chiorean ! I think it will hopefully be fixed soon by 1410456 but we'll keep it open until it is resolved. :)

[2018-02-21 21:18] antlam commented on #2069
My gut-reaction two cents right now would be to agree with @pocmo . It feels just a bit outside the realm of Focus because of the technical issues but also because the use cases are more nuanced.

To avoid the overlap here with a general purpose browser, maybe we could be more creative in solving the core use problems here? perhaps we integrate with Tab Queues in Fennec better? allow users to queu

[2018-02-21 22:55] ekager commented on #2090
This is now merged.

[2018-02-21 22:55] #2090 closed

[2018-02-21 22:55] ekager commented on #2088
Context menu is implemented with GeckoView.

[2018-02-21 22:55] #2088 closed

[2018-02-21 23:30] #2098 closed

[2018-02-22 00:01] ekager commented on #2114
Note - we are adding a focus:debug page #1655 which may be a better place for engine info. There is a PR #2089 open.