[2019-01-04 12:02] sv-ohorvath commented on #4005
Yes, I can't reproduce it either. Closing it.

[2019-01-04 12:02] #4005 closed

[2019-01-04 13:30] sv-ohorvath opened #4090 "With multiple tabs opened, after a crash they have to be forced closed"
## Steps to reproduce
1. Load 2 web pages in 2 tabs (or more).
2. In the <b>first</b> tab, go to about:crashcontent
3. When the crash reporter appears, close the tab.
4. Try to close all remaining tabs by pressing the trashcan icon.
### Expected behavior
All tabs are closed. The browser is functional again.
### Actual behavior
On Focus GV latest release v.8.0.5 (Build #323630407 GV 64.0.2018121400

[2019-01-04 13:32] sv-ohorvath commented on #4006
@vesta0 It's true, it happens only if there are at least 2 tabs opened and the first crashes. I tried to narrow it down in #4090. On nightly, it behaves differently now than Release.

[2019-01-04 18:22] vesta0 commented on #3811
Here's another user feedback about excessive data use: https://play.google.com/apps/publish?account=7083182635971239206#ReviewDetailsPlace:p=org.mozilla.focus&reviewid=gp:AOqpTOHKuSjtLAqxH_RmAt4uN3gvhXQhsj0Bx62a4UrHqKftUR20FZmEO8JyFbPuM2oLSMMJl5Bp0fZ87gmyHC8

[2019-01-04 19:46] vesta0 commented on #4044
Fixed in 8.0.5

[2019-01-04 19:46] #4044 closed

[2019-01-04 19:55] vesta0 commented on #4006
@sblatz let's confirm that none of these issues impact a single tab

[2019-01-04 19:59] #3623 closed

[2019-01-04 20:06] sblatz commented on #4058
Note that the tracking protection strings are different here, too.

[2019-01-04 20:40] vesta0 commented on #4058
@brampitoyo please upload the updated mock-up that also includes the link to Sumo page underneath the ad blocking section. Thanks!

[2019-01-04 22:26] NCC1701M opened #4093 "Why no bing search engine?"
In several issues #1263 #1264 it's mentioned, that bing is removed from the search engine list on purpose.

Why?

[2019-01-05 03:15] #4083 closed

[2019-01-06 00:34] gab12 commented on #3207
Yes, I was very surprised to find all the history of my browsing over several months in the directory web_app / LocalStorage / leveldb
With this problem firefox focus can not claim a good protection of  our privacy.
Focus version : 8.0.5

[2019-01-06 02:06] Bhavnaharitsa commented on #4086
Hello,there! Could I work on this ?

[2019-01-06 09:37] nikit19 opened #4095 "convert widget classes to Kotlin"
## Steps to reproduce
There are several classes in the widget directory written in Java, I would like to convert them to Kotlin.

### Expected behavior
All the Java classes should be converted to Kotlin

I would like to work on this issue.

[2019-01-07 04:37] brampitoyo commented on #2452
@sblatz Are you able to add radio buttons to the preference page, or did you revert back to using fragments?

[2019-01-07 04:41] brampitoyo commented on #4058
@vesta0 Sorry for the overdue reply! Your earlier comment arrived after I’ve left for holiday.

Here’s the updated mock that includes the link to SUMO:

<img width="360" src="https://user-images.githubusercontent.com/51007/50749379-6e3d6f80-12a3-11e9-9890-ed9adf12aac3.png">

[2019-01-07 06:04] vesta0 commented on #4055
Duplicate of #4059 4059

[2019-01-07 06:04] #4055 closed

[2019-01-07 06:06] vesta0 commented on #4050
I emailed @jonisavage with more details.

[2019-01-07 08:41] sv-ohorvath commented on #1600
I confirm it's still reproducing on 8.0.5, but only on webView.
After links are visited, they appear as visited after:
- clearing history and going back to wiki.kernel.org or bbc.com/news
- not clearing history, close & reopen the browser, opening the page again (wiki.kernel.org or bbc.com/news).
devices: Samsung Galaxy S8 (Android 8.0), Huawei P9 Lite (Android 6.0)

[2019-01-07 09:01] sv-ohorvath commented on #3979
Doesn't crash on latest Nightly (8.0.4 + GV).

[2019-01-07 12:39] sv-ohorvath opened #4097 "Homescreen tips language doesn't change until restart"
## Steps to reproduce
1. Make sure homescreen tips are enabled.
2. Go to Settings>General> Language and select a different language.
3. Return to the home screen and verify the tips.
### Expected behavior
Homescreen tips are displayed in the language selected.
### Actual behavior
The tips are still displayed in the initial language until a browser restart.
### Device information

* Android device:

[2019-01-07 12:45] sv-ohorvath commented on #2883
Still reproducing on Nightly 8.0.4 & Release 8.0.5 on GeckoView.

[2019-01-07 13:14] sv-ohorvath commented on #3998
Verified the change on Nightly (2018-01-07).
Devices: Samsung Galaxy S8 (Android 8.0), Sony Xperia Z5 Premium (Android 7.1.1)

[2019-01-07 15:43] hdxx opened #4098 "Merge tabs and apps"
### Why/User Benefit/User Problem
When user wants to open a new tab he/she has to look for a link and open in a new tab but when switching, tabs are reloaded. if opened tabs showed in opened apps menu it would be easier to switch tabs  and they dont reload. like chrome's merge tabs and apps option.
### What / Requirements
when user touch app icon open a new tab  and show tabs in opened apps menu a

[2019-01-07 17:26] mitchhentges opened #4099 "Update autograph type to "autograph_apk_focus""
### Why/User Benefit/User Problem
Other autograph products follow the pattern `autograph_apk_*`. Focus is currently an outlier.

### What / Requirements
Update:
* [ ] Scopes in `focus-android`
* [ ] Signingscript config in Puppet

### Acceptance Criteria (how do I know when I’m done?)
* Build is still green
* App is still signed the same way

[2019-01-08 04:01] colintheshots commented on #4085
I'm virtually certain this is another dashboard filtering issue.

[2019-01-08 04:09] Sdaswani commented on #4085
So @colintheshots the AA test is enabled for master / 8.0.x?

[2019-01-08 04:21] colintheshots commented on #4085
Oh, it's still enabled. However, looking at the current version regex, it'll need to be updated. This is what we get for asking for a very specific version minimum using regexes to match only.

Current regex: (^[7-9]\.[1-9][0-9]*(\.[0-9]+)?$)|(^[7-9]\.[0-9]+\.[1-9][3-9]+$)|((^[7-9]\.[0-9]+\.[2-9][0-9]+$))

[2019-01-08 04:31] Sdaswani commented on #4085
Awesome @colintheshots I will close this after the AA test comes around!

[2019-01-08 13:33] pocmo commented on #3917
The new code will get released with 0.37.0. Removing the a-c label.

[2019-01-08 13:34] pocmo commented on #3892
A patch for that landed in 0.37.0 and is going to be released today. Removing the a-c label.

[2019-01-08 14:30] sblatz commented on #2452
@brampitoyo we decided to move forward with just using the fragment as using the new settings page was going to require too much custom work than we were comfortable with. Please let me know if you have any major concerns with this 😄

[2019-01-08 14:40] sblatz commented on #3917
The actual search code was updated (as Sebastian mentioned) [here](https://github.com/mozilla-mobile/android-components/pull/1644).

A [follow-up issue](https://github.com/mozilla-mobile/android-components/issues/1667) has been created which is currently planned for 0.38.0. @vesta0 let's keep in mind that telemetry will not reflect these new search codes until this issue is closed :)

[2019-01-08 15:02] Sdaswani commented on #3917
@mkaply do you care about this?

[2019-01-08 15:56] sblatz opened #4102 "Erase & open when in settings does not work"
## Steps to reproduce
1. Load a webpage (with WebView)
2. Go to the Settings menu.
3. Minimize the app.
4. Tap open or erase&open in the notification tray.
### Expected behavior
Existing (for open) or new session (for erase&open) of Focus is launched.
### Actual behavior
Focus reloads the last page used
### Device information
* Focus version: 8.0.4 Beta WebView. Also reproducible on Master.

![web

[2019-01-08 15:58] sblatz commented on #4021
Confirming that this is not a GV bug, just a crash that only happens when using GV (due to our implementation). I will dig into this and see if it's possible for us to fix!

I tested WebView and while it does not crash, it actually does not erase the session, either. Filed a follow up ticket for this: #4102 (likely low priority or no priority as it's WV specific).

[2019-01-08 16:05] sblatz commented on #4021
Ah, this is another issue tied to #4034. Leaving to @vesta0 to comment on that ticket and its priority!

[2019-01-08 16:07] sblatz commented on #4102
Dupe of #4022

[2019-01-08 16:07] #4102 closed

[2019-01-08 16:07] sblatz commented on #4022
### Demo

![webview](https://user-images.githubusercontent.com/4400286/50842233-42b69580-1334-11e9-88b9-305af0cff2a6.gif)

[2019-01-08 16:33] sblatz commented on #4006
On Moto G4 (6.0.1) I am having the following results with a **single tab**

### Master
1. WebView: about:crashcontent sends me directly to about:blank without a crash reporter
2. GV: about:crashcontent gives me the "Firefox Focus has stopped" message and gives me about:blank **without a crash reporter**

### Nightly (8.0.4)
1. WebView: about:crashcontent sends me directly to about:blank without a

[2019-01-08 17:52] vesta0 commented on #3146
@ekager thanks for looking into this. Let's do it if it's a small.

[2019-01-08 18:46] colintheshots commented on #4086
I'll test on my S6 test device.

[2019-01-08 19:01] vesta0 commented on #4060
@sv-ohorvath could you please re-test this?

[2019-01-08 20:15] #4065 closed

[2019-01-08 21:40] brampitoyo commented on #2452
@sblatz Going with the fragment approach is all good. Thanks!

[2019-01-09 15:33] sv-ohorvath opened #4105 "Pressing the Back button erases all tabs"
## Steps to reproduce
1. Go to wikipedia.com
2. Long press a link and open it in a new tab.
3. Switch to the 2nd tab, then press the back button.
### Expected behavior
The 2nd tab is closed, but the first remains open.
### Actual behavior
Both tabs are deleted.
### Device information

* Android device: Pixel (Android 9), HTC Desire 820 (Android 6.0.1)
* Focus version: Nightly 8.0.4 & debug local b

[2019-01-09 16:17] sblatz commented on #4068
Looks like the true text should read:

Tracking protection: "Wenn Sie diese Option deaktivieren, werden möglicherweise einige Probleme mit der Website behoben"

Add to home screen: "Zum Startbildschirm hinzufügen"

Request desktop site: "Desktop-Seite anfordern"

[2019-01-09 17:16] sblatz commented on #3994
Setting this as "blocked" until we have strings so we know when it can be worked on!

[2019-01-09 19:30] sblatz opened #4109 "Upgrade to A-C v0.37"
This will close #3892 & #3917

[2019-01-09 22:04] ekager commented on #3981
This was fixed as of today but is currently targeting 66. What is the next version of GV we will update to and should we ask for this to be uplifted?
CC @cpeterso

[2019-01-09 23:22] vesta0 commented on #4016
@brampitoyo could you add your latest mock-up for onboarding (new user) here please? Want to make sure it's the latest version :)

[2019-01-09 23:22] vesta0 commented on #4017
@brampitoyo please add your most recent mock-up for adblock intro card for existing user :)

[2019-01-09 23:30] #4020 closed

[2019-01-09 23:35] vesta0 commented on #2015
Addressed here: https://github.com/mozilla-mobile/focus-android/issues/3201

[2019-01-09 23:35] #2015 closed

[2019-01-09 23:40] vesta0 commented on #3921
@brampitoyo sorry for delay in responding to this. I like your proposal to add a snackbar/toast (^^mock-up) that appears after the site has finished loading, and one that disappears after a few seconds.

@ekager let's do this if it's a small.

[2019-01-09 23:57] brampitoyo commented on #4016
@vesta0 The mockup I’ve posted a month ago is still the latest version. We can go ahead and implement it.

[2019-01-10 00:06] brampitoyo commented on #4017
@vesta0 For existing users, we are again changing the label of the toggle to match the label used in Settings:

Ad blocking → Block ads

<img width="360" src="https://user-images.githubusercontent.com/51007/50937332-03c14500-14d8-11e9-8f3e-609a6e47e80a.png">

[2019-01-10 00:10] brampitoyo commented on #4018
@vesta0 The latest mock should say “Block ads” rather than “Ad blocking”. All other design specs (margin, colour, etc.) remain the same as what @sblatz has implemented.

![tip - users who haven't turned it on 2x](https://user-images.githubusercontent.com/51007/50937558-1f791b00-14d9-11e9-93f7-febca4518da7.png)

[2019-01-10 02:53] cpeterso commented on #3981
I asked Emily and Kats in [the bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1509271) if they think the fix is safe to uplift to GV 65 Beta. Or we could wait until after 65 release and create a GeckoView 65 relbranch for this fix.

[2019-01-10 06:18] SkewedZeppelin opened #4112 "Support the Save-Data HTTP header"
### Why/User Benefit/User Problem
- Most CDNs and webserver optimizers (mod_pagespeed), will serve up less or more compressed content when the `Save-Data` HTTP header is set.
- Providing a privacy preserving option (eg. no compressing proxy) to reduce data usage would be greatly appreciated, especially for those with limited or expensive data plans.
- Performance and battery life would also increa

[2019-01-10 14:49] sv-ohorvath commented on #4086
I couldn't reproduce on Galaxy S8 & Galaxy Note 8.

[2019-01-10 14:56] #4058 closed

[2019-01-10 14:56] #4068 closed

[2019-01-10 15:45] levisacal opened #4114 "Crash when opening the tab counter after accessing a link from one of the tabs"
## Steps to reproduce

1. Open 4-5 tabs in Focus
2. Open a couple of other links inside one of the tabs
3. Tap on the tab counter quickly after opening a link

### Expected behavior

Link and tab counter open up correctly

### Actual behavior

Focus crashes

### Device information

* Android device: Samsung S9, Android 8.0.0
* Focus version: 8.0.5 - Gecko and Webview

https://youtu.be/vh9hF-D4He0

[2019-01-10 18:12] vesta0 opened #4116 "Add a Learn More link to the Tracking Protection settings"
### Why/User Benefit/User Problem
-As a user, I'd like to know more about tracking protection and how it's done in Focus.
-We want to credit the tracking protection list providers.

### What / Requirements
-Add a "Learn more" link to a new Sumo page underneath the Tracking Protection settings.

### Acceptance Criteria (how do I know when I’m done?)
-Tap on Learn more takes me to the new Sumo page.

[2019-01-10 18:47] vesta0 opened #4117 "New SUMO page for "Tracking Protection""
New SUMO page to explain how Tracking protection works in Focus.

[2019-01-10 19:54] #3921 closed

[2019-01-10 20:11] vesta0 commented on #3527
@sv-ohorvath would you mind testing this bug in Focus 8.0.5 GeckoView 64? Thanks!

[2019-01-10 20:53] #2452 closed

[2019-01-10 22:32] vesta0 commented on #4034
@colintheshots @ekager I need to know much effort it is to find/fix the root cause before prioritizing. We can discuss at sprint planning.

[2019-01-11 08:57] sv-ohorvath commented on #3527
Re-tested and it's still reproducing on 8.0.5 GV.

[2019-01-11 12:33] sv-ohorvath opened #4119 "Homescreen tips never shown on Beta"
## Steps to reproduce
1. Install the Beta version from the playstore.
2. Launch Focus.
3. Clear data/reinstall the app. Launch Focus again. Repeat.
### Expected behavior
Homescreen tips should be displayed.
### Actual behavior
As far as I remember they are displayed based on an A/B test, but they never appear.
### Device information

* Android device: Samsung Galaxy S8 (Android 8.0)
* Focus versio

[2019-01-11 12:41] sv-ohorvath opened #4120 "Application upgrade doesn't retain tabs"
## Steps to reproduce
1. Install an older version of Focus.
2. Open a few tabs, leave the app open.
3. Go to Gplay and update the app.
4. Return to Focus and check the tabs.
### Expected behavior
Tabs are saved after the upgrade.
### Actual behavior
Tabs are lost.
### Device information

* Android device: Samsung Galaxy Note 8 (Android 8.0)
* Focus version: 8.0.5 GV & WV.

[2019-01-11 13:53] sv-ohorvath opened #4121 "A11y - Loading page not announced"
## Steps to reproduce
1. Turn on TalkBack screen reader.
2. Load a page in Focus.
### Expected behavior
Talkback should read "loading <webpage url>" (#2783)
### Actual behavior
When a page starts loading it is not announced, just when the page is fully loaded.
### Device information

* Android device: Pixel (Android 9)
* Focus version: Nightly & Beta 8.0.5 Gv. Not reproducing on WV.

[2019-01-11 14:10] sv-ohorvath opened #4122 "A11y - The tabs manager/erase tabs icon doesn't remain visible while scrolling"
## Steps to reproduce
1. Turn Talkback On.
2. Load a scrollable page in Focus.
3. Scroll the page down using two fingers.
### Expected behavior
The tabs manager(on Nightly)/erase history (on Beta) icon is visible while scrolling. #2784
### Actual behavior
The tabs manager(on Nightly)/erase history (on Beta) icon hides while scrolling.
### Device information

* Android device: ?
* Focus version: ?

[2019-01-11 15:18] colintheshots opened #4123 "GV crashes in 8.0.5 release on Google Play when killed for low memory"
## Steps to reproduce
No exact steps to reproduce. When the OS evicts the parent process for GeckoView, no crash reporter is present to report to Socorro. The child process crashes after the parent dies.

### Expected behavior
The GV child process should exit normally when its parent is killed.

### Actual behavior
The GV child process is crashing when its parent is killed.

### Device information

[2019-01-11 15:19] colintheshots commented on #4123
There is a new GeckoView revision to fix this:
https://bugzilla.mozilla.org/show_bug.cgi?id=1354200
https://hg.mozilla.org/releases/mozilla-release/rev/f9045f8090c7578c1d92d145b3eb64efe459a25c

[2019-01-11 15:38] vesta0 commented on #2412
@sv-ohorvath can we please verify that this has been fixed in 8.0.5?

[2019-01-11 15:40] vesta0 commented on #3990
@sv-ohorvath can we please verify that this has been fixed in Nightly?

[2019-01-11 16:48] #4097 closed

[2019-01-11 17:46] sblatz opened #4125 "Upgrade to GV 65"

[2019-01-11 20:47] zznidar opened #4127 "Keyboard overlaps "Find in Page" textbox"
## Steps to reproduce
1. Open a website
2. Select ⋮ -> Find in Page

### Expected behavior
The textbox should be positioned just above the keyboard.

### Actual behavior
The textbox is overlapped by the keyboard, see screenshot.
![screenshot_2019-01-11-20-27-12-942_org mozilla focus](https://user-images.githubusercontent.com/20877556/51055819-56d2ef00-15e1-11e9-9a9b-bb5d243e7705.png)
### Device in

[2019-01-12 05:33] jonisavage commented on #4116
Here's a link you can use for the Learn More page: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/ad-blocking-focus

It will redirect to the SUMO page.

[2019-01-12 05:34] jonisavage commented on #4117
Here's the direct link to the SUMO article on Ad Blocking: https://support.mozilla.org/kb/ad-blocking-firefox-focus-android

The link you can code into the UI is posted in https://github.com/mozilla-mobile/focus-android/issues/4116

[2019-01-12 05:48] jonisavage commented on #4050
Here's the link you can use in product: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-android-9

The link above will redirect to this article: https://support.mozilla.org/en-US/kb/whats-new-firefox-focus-android-version-9

The article is hidden from search until the Focus/Klar v. 9 release date is finalized.

[2019-01-12 10:22] zerdo90 opened #4131 "Google Play version is still 7.0 although version 8.0.6 is already available"
When downloading Focus app from Google Play it downloads version 7 and always informs that there are no available updates, but you can already manually download Focus version 8.0.6. It is a bit annoying as manual downloads do not update themselves automatically.

Androd version: 6.0.1

[2019-01-12 14:08] zznidar commented on #4120
I suppose this is the expected behaviour, as updating an app kills it and installs the new version – it's like closing Firefox Focus copletely and re-opening it. This does indeed clear the tabs.

[2019-01-12 20:53] cpeterso commented on #3990
This bug was fixed in GeckoView 65. Focus (Nightly, Beta, and Prod) is still using GV 64, so you won't be able to test this bug fix until Focus Nightly updates to GV 65.

[2019-01-13 16:06] devanand commented on #4075
I would like to work on this issue. Could I take it?

[2019-01-13 22:00] vesta0 opened #4132 "Add telemetry probe for the Allowlist homescreen tip (shows/clicked)"

[2019-01-14 09:38] sv-ohorvath commented on #3527
Nope, not reproducing on WebView.

[2019-01-14 09:48] sv-ohorvath commented on #2412
Still reproducing on Nightly 8.0.5 (#330111231 GV 64.0.2018.1214004633) (shouldn't the version number be updated?).

[2019-01-14 10:16] sv-ohorvath commented on #4097
Verified as fixed on Nightly 8.0.5 GV.

[2019-01-14 18:03] mitchhentges opened #4134 "Build is broken (necessary strings were removed)"
See [the nightly build](https://taskcluster-web.netlify.com/tasks/CQxteRTtQwmsFfVy8_UVNA/runs/0/logs/https%3A%2F%2Fqueue.taskcluster.net%2Fv1%2Ftask%2FCQxteRTtQwmsFfVy8_UVNA%2Fruns%2F0%2Fartifacts%2Fpublic%2Flogs%2Flive.log#L666)

## Steps to reproduce
On `master`, do: `./gradlew assembleFocusX86Nightly`.

### Expected behavior
The build should complete successfully

### Actual behavior
[code]

##

[2019-01-14 18:04] boek opened #4135 "Error: * [values-anp/strings.xml] placeholder missing in source, key: preference_autocomplete_topsite_summary"
We have an error that is preventing importing new strings

[code]

[2019-01-14 18:21] albell commented on #1600
Confirmed happening on:
* Android version: 8.0.0
* Focus version: 7.0.13

This is deeply concerning it shows that my browsing history is in fact being stored somewhere locally (the Android cache?), and the whole promise of Focus is that sort of thing isn't supposed to happen.

I just tested and private windows in Firefox don't have this issue. Focus should be more private than a regular FF private

[2019-01-14 20:39] vesta0 commented on #1600
@albell thanks for your feedback. This is a WebView only bug and does not happen in GeckoView (which is why you can't reproduce it in a Firefox private window). Focus version 7.0.13 is still on WebView but we are currently doing a slow roll out of GeckoView on Focus 8.0 so you will see this resolved soon. All the best!

[2019-01-14 21:14] Delphine commented on #4135
Looking at the existing translation, I don't see a placeholder missing here, so not sure what's wrong: https://pontoon.mozilla.org/anp/focus-for-android/app.po/?search=preference_autocomplete_topsite_summary&string=192176

I still updated string and removed the extra "%1$s" in it, so maybe that was the issue and will fix it?

[2019-01-15 00:46] boek commented on #4135
Fixed! Thanks @Delphine!

[2019-01-15 00:46] #4135 closed

[2019-01-15 00:50] mitchhentges commented on #4134
[Sounds like it's fixed](https://mozilla.slack.com/archives/C4D7TER5G/p1547513339598300)

[2019-01-15 00:50] #4134 closed

[2019-01-15 08:03] cpeterso commented on #3527
Sure. I filed this GV bug:

https://bugzilla.mozilla.org/show_bug.cgi?id=1520116

[2019-01-15 09:06] sv-ohorvath commented on #3921
Verified as done on Master (both GV & WV) 8.0.6.

[2019-01-15 09:07] sv-ohorvath commented on #2452
Verified as done on Master (both GV & WV) 8.0.6.

[2019-01-15 09:09] sv-ohorvath commented on #4068
Verified as fixed on Master (both GV & WV) 8.0.6.

[2019-01-15 09:15] sv-ohorvath commented on #4058
Partially verified the new strings under Tracking Protection. Cannot verify yet the hidden Ad blocking section.

[2019-01-15 11:21] pocmo commented on #1600
And to clarify: The data about what links have been visited by WebView is kept in memory longer than we would like to. However it is not stored permanently. [WebView bug report](https://codereview.chromium.org/11886055).

[2019-01-15 14:00] arjunkrishnababu96 commented on #1250
I'm a casual nobody who is curious about this, and I do have a couple of questions (pardon me if it is inappropriate to ask these questions):

1. What is the current status of these changes?
2. Would it be possible for me (a totally casual user; yeah I'm a developer also) to participate in customer trials?
3. While I think the proposed changes are nice, are we loosing some of the simplicity that t

[2019-01-15 16:52] devanand commented on #3875
Hi
May I take a look into this issue?

[2019-01-15 18:37] #4120 closed

[2019-01-15 18:41] vesta0 commented on #4119
Already fixed.

[2019-01-15 18:41] #4119 closed

[2019-01-15 19:10] vesta0 commented on #4131
Hi @zerdo90, we are doing a slow roll out of 8.0.6 so you should receive the update in the next 2 weeks. Thanks for your feedback!

[2019-01-15 19:10] #4131 closed

[2019-01-15 19:15] vesta0 commented on #3374
Thanks for the feedback. This is not on the Focus Roadmap at this time but we will keep this in mind.

[2019-01-15 19:15] #3374 closed

[2019-01-15 19:23] vesta0 commented on #3148
Adding this feature in #4058

[2019-01-15 19:23] #3148 closed

[2019-01-15 19:31] vesta0 commented on #3173
@sv-ohorvath can you reproduce this in 8.0.6?

[2019-01-15 19:33] vesta0 commented on #2789
@sv-ohorvath can you please try to reproduce this in 8.0.6?

[2019-01-15 19:34] vesta0 commented on #2066
Thanks for the feedback! Request desktop was added in Focus 6.0

[2019-01-15 19:34] #2066 closed

[2019-01-15 19:36] vesta0 commented on #2188
Not on the Focus roadmap but will be be taken into consideration.

[2019-01-15 19:36] #2188 closed

[2019-01-15 19:39] vesta0 commented on #3163
Fixed.

[2019-01-15 19:39] #3163 closed

[2019-01-15 19:42] vesta0 commented on #3151
Fixed.

[2019-01-15 19:42] #3151 closed

[2019-01-15 19:47] vesta0 commented on #3207
Moving to GeckoView will fix this.

[2019-01-15 19:47] #3207 closed

[2019-01-15 19:48] vesta0 commented on #3457
@sv-ohorvath could you please see if you can reproduce this?

[2019-01-15 19:49] vesta0 commented on #3585
@sv-ohorvath could you please see if you can reproduce this in 8.0.6 with GeckoView?

[2019-01-15 23:05] colintheshots commented on #3512
So Eugen from the GeckoView team says they're only providing a single toggle to enable or disable ad blocking. Is this expected by the new UX?

[2019-01-16 00:33] mconnormoz commented on #3917
We do care about fixing the telemetry, but it doesn't need to block a release if it's a huge pain.

[2019-01-16 12:00] sv-ohorvath commented on #3173
Tried with a Pixel (Android 9)& Motorola Nexus 6 (Android 7.1.1). Cannot reproduce on Nightly 8.0.6. GV. @initrd if you still have this issue, please let us know.

[2019-01-16 12:00] #3173 closed

[2019-01-16 13:08] sv-ohorvath commented on #2789
I can reproduce this on Master v 8.0.6 GV & WV.
Devices: Motorola Nexus 6 (Android 7.1.1), Pixel (Android 9)

[2019-01-16 14:00] sv-ohorvath commented on #3457
Cannot reproduce on 8.0.6 GV or WV.
Devices: Pixel (android 9), Huawei P9 Lite (Android 6.0)

[2019-01-16 14:00] #3457 closed

[2019-01-16 14:04] sv-ohorvath commented on #3585
Cannot reproduce on 8.0.6 GV or WV.
Devices: Pixel (android 9), Huawei P9 Lite (Android 6.0)

[2019-01-16 14:04] #3585 closed

[2019-01-16 14:13] sv-ohorvath opened #4141 "Logged out of facebook when trying to play a video"
## Steps to reproduce
1. Log in to Facebook.com
2. Tap to play a video from the news feed.
### Expected behavior
Video plays.
### Actual behavior
On both devices, on geckoView: User is logged out, asked to "log in first". After logging back in, the video is already in fullscreen and can be played.
[Recording](https://drive.google.com/file/d/13jwnvXVjXoFgL_q11C5tE9EsDNEZMXnU/view?usp=sharing)
*On P

[2019-01-16 15:37] sv-ohorvath commented on #4119
Verified on Release 8.0.6 and home screen tips are displayed.

[2019-01-16 16:21] jonalmeida opened #4142 "White Screen of Death - no pages loading"
## Steps to reproduce
n/a

### Actual behavior
- I was seeing a white window and entering various search terms and urls in the toolbar wasn't giving me any results.

### Device information

* Android device: Android 9 (Pixel 2)
* Focus version: 8.0.6 (Build #330151226 :lizard: 64.0.20190111134233)

Two bug reports attached here: https://drive.google.com/drive/folders/1O_NB4wZMHe_NhPf7KhuTAonc-Xqad

[2019-01-16 16:21] jonalmeida commented on #4142
cc: @snorp

[2019-01-16 16:25] vesta0 opened #4143 "Top Focus 8.0.6 crash on GPS"
https://play.google.com/apps/publish/?account=7083182635971239206#AndroidMetricsErrorsPlace:p=org.mozilla.focus&appid=4972436558672701695&appVersion=PRODUCTION&clusterName=apps/org.mozilla.focus/clusters/ac6a46ad&detailsAppVersion=PRODUCTION&detailsSpan=7

java.lang.IllegalAccessError:

  at org.mozilla.focus.activity.CustomTabActivity$customTabSession$2.invoke (CustomTabActivity.kt:21)

  at org.

[2019-01-16 16:54] #3892 closed

[2019-01-16 16:56] #3146 closed

[2019-01-16 19:30] rpappalax opened #4145 "SwitchLocaleTest.java#EnglishSystemLocaleTest is failing"
Test fails because it's looking for a static message in French on the home page but instead finds one of many messages.  For some reason, only some of the messages are localized and not others.

## Steps to reproduce
Run automated test: https://github.com/mozilla-mobile/focus-android/blob/master/app/src/androidTest/java/org/mozilla/focus/activity/SwitchLocaleTest.java#L168

### Expected behavior

[2019-01-16 21:00] cpeterso commented on #4125
@colintheshots says he will bump Focus Nightly (9.0) to GV 65, which is currently in the GV Beta channel:

https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/geckoview-beta-armeabi-v7a/

[2019-01-16 22:11] rpappalax opened #4146 "Migrate Firebase org from mozilla.com to firefox.gcp.mozilla.com"
Ops has requested we migrate our Firebase projects to a different org on GCP:  firefox.gcp.mozilla.com.  assigning to @oremj per his request

[2019-01-16 22:53] vesta0 commented on #3994
Strings (in English, French, and Spanish) will be provided on Monday Jan 21. This will launch as part of 6.0.7 on Jan 24.

[2019-01-16 23:19] vesta0 opened #4148 "A/B Experiment for Ad Blocking"
**Problem Summary**

We want to monitor the impact of [Ad Blocking](https://docs.google.com/presentation/d/1xya135uIeNtdMkjEoz-9ZpGIIeV0LMhTzhJRSoX2ahs/edit) feature on key product metrics + measure user engagement with the feature.

**What is required**

-Set up the experiment in Fretboard.

(50/50 split)
Experiment Cohort: All ad blocking features enabled
Control Cohort: Hide  ad blocking (hide

[2019-01-17 00:02] vesta0 commented on #3173
Thank you @sv-ohorvath

[2019-01-17 04:45] vesta0 commented on #3512
@colintheshots yes that's right #4058

[2019-01-17 07:05] Sdaswani commented on #3857
Thanks @vesta0 - in GV builds, could we disable autoplay for all videos that autoplay with sound? That is what Firefox 66 is going to be doing so there is a desire for all of our products to support the same UX.

[2019-01-17 21:38] #4125 closed

[2019-01-17 22:41] Delphine opened #4152 "Inconsistency in strings"
Seems like there is an inconsistency between 3 strings, specifically: firstrun_defaultbrowser_text_new, tip_block_ads, and block_ads_card_description
(2 are identical, the last one is "almost")

Should these be "Browse faster by stopping ads and code that [follows] you around the web." or "follow"?

[2019-01-18 09:30] sv-ohorvath commented on #3892
Verified as fixed on Nightly 9.0 GV 64.
Devices: Samsung Galaxy S8 (Android 8.0), HTC Desire 820 (Android 6.0.1)

[2019-01-18 10:21] STPR commented on #3589
Seems corrected in the 8.0.6 version.
Thank you 👍

[2019-01-18 15:20] sv-ohorvath commented on #3981
Verified on Master 9.0, with GV 65 that this is fixed.
devices: HTC Desire 820 (Android 6.0.1), Samsung Galaxy S8 (Android 8.0)

[2019-01-18 15:20] #3981 closed

[2019-01-18 15:32] TheoChevalier opened #4154 "Web pages language doesn’t match user preferred locale"
## Steps to reproduce

Use Android in French (or select French in the Focus language settings), then open `mozilla.org`. The issue happen with both the locale set to “Use OS preferred locale” or explicitly set to French.

### Expected behavior

Web page language matches UI locale, and `mozilla.org` redirects to `mozilla.org/fr/`

### Actual behavior

`mozilla.org` redirects to `mozilla.org/en-US/`

[2019-01-18 15:40] sv-ohorvath commented on #3990
Tracker count on websites as cnn.com and huffpost.com is the same between GV & WV, on Master v9.0, GV 65.

[2019-01-18 15:40] #3990 closed

[2019-01-18 17:53] #4105 closed

[2019-01-18 18:09] #3917 closed

[2019-01-18 18:10] ekager commented on #2412
I asked the GV team about this and as of 1/17/19 this doesn't actually work because GV doesn't yet have multi-locale builds, although they are landing in MC soon.

[2019-01-18 18:20] colintheshots commented on #3512
Here's what's remaining to finish this:
[ ] The tracking protection team needs to merge https://github.com/mozilla-services/shavar-server-list-config/pull/23 before ckolos can bounce the prod shavar service.
[ ] ckolos must bounce the prod shavar service.
[ ] GV 65 must uplift the ad blocking categories change.
[ ] The Focus team needs to integrate the new GV 65 with the categories.
[ ] The Focus

[2019-01-18 18:25] Sdaswani commented on #3512
Great checklist @colintheshots let me know if something is not moving forward.

[2019-01-18 20:56] cpeterso commented on #2412
Emily is correct. Here's the GV bug for multi-locale builds, which was fixed in GV 66. Focus 9.0 uses GV 65. I don't know when (or if) Focus will update to GV 66.

https://bugzilla.mozilla.org/show_bug.cgi?id=1496190

[2019-01-19 10:18] dimqua opened #4155 "Allow to disable Safe Browsing"
Could you please add an option to disable the [Safe Browsing](
https://support.mozilla.org/en-US/kb/safe-browsing-firefox-focus) feature?

[2019-01-19 13:51] runboy93 opened #4157 "Cookie block settings doesn't match to translation (finnish) does opposite thing"
## Steps to reproduce

Change language to finnish and go cookie block options, try then all and you notice they show exactly opposite text on options as they should actual do.

### Expected behavior

Translation should match to cookie block options choices.

### Actual behavior

After choosing "allow all" option, it does show "block all" text option in finnish.

And when choosing "block all", it s

[2019-01-19 13:55] runboy93 commented on #4157
Update, I've tested english also and seem to have same problem.

[2019-01-19 14:00] runboy93 commented on #4157
And yes started with this 9.0 build, earlier 8.0.6 works as it should.

[2019-01-19 15:15] z2z commented on #4155
This should have been opt-in or Mozilla hosted - community driven solution.

[2019-01-20 01:39] yoasif commented on #4155
This seems like a regression, as the feature was enabled in issue  #3643.

I don't see it in Focus Nightly 9.0 (Build #330171230 :lizard: 64.0.20190111134233).

[2019-01-20 01:51] 4ut0-M-4t opened #4158 "[BUG] 'Try Again' button malfunctions"
## Steps to reproduce

1. Launch Firefox Klar by tapping the app's icon.
2. Enter any valid URL into the address bar while experiencing temporary connection issues.
3. Upon receiving a connection error message, press '**Try Again**' button.
### Expected behavior

Browser should attempt to establish connection to the server.
### Actual behavior

Nothing happens.
### Device information

* Android de

[2019-01-20 02:09] colintheshots commented on #4155
It seems like there's a merge-related bug for the fix to #3748. The setting was meant to be disabled only for WebView, but the current code to do so is outside of the if {} statement checking if we're not using GeckoView.

This is getting a lot of attention because of a couple Reddit threads that got opened this weekend by the privacy audience. It seems highly likely the Reddit userbase inaccurate

[2019-01-20 14:48] jonalmeida opened #4160 "Turning the screen on to the finger printer dialog crashes the app"
## Steps to reproduce
1. Enable finger print support
2. Go to any website (e.g. reddit.com)
3. Switch out of the app
4. Come back to Focus and observe the fingerprint dialog.
5. Turn the screen of/on.

### Expected behavior
After step 5, the finger print dialog should be visible when the phone screen is turned back on.

### Actual behavior
The browser crashes and the crash reporter is seen.

### D

[2019-01-20 14:54] jonalmeida opened #4161 "Tracking Protection count is inaccurate when switching tabs"
## Steps to reproduce
1. Open a website that has trackers blocked (e.g. huffingtonpost.com; ~20+ trackers)
2. Observe the tracker count.
3. Click on a different link to open in Focus (e.g. reddit.com; ~2 trackers)
2. Observe the tracker count.
4. Using the tab switcher, switch back to the first tab.
5. Observe the tracker count.

### Expected behavior
1. The first tab should show the original +20

[2019-01-20 14:57] jonalmeida opened #4162 "Fingerprint auth can be circumvented with Focus as the default browser."
## Steps to reproduce
1. Enable finger print auth support.
2. Open any page and verify switching away/back to Focus shows the fingerprint dialog.
1. Make Focus the default browser.
3. Click a link in any app to have it open in Focus.
4. Use the tab switcher to go to the first website.

### Expected behavior
1. Access to the first tab should be blocked by the finger print dialog.

### Actual behavi

[2019-01-20 19:56] colintheshots commented on #4155
The regression happened in mid-November. The fix is moving one line into the if (!AppConstants.isGeckoBuild) statement.

[2019-01-21 05:05] cpeterso opened #4164 "Build and ship 64-bit (ARM64 and x86_64) Focus builds"
We need to publish 64-bit builds to the Google Play Store before Google's August 1 deadline requiring 64-bit support (for apps that include native code).

https://android-developers.googleblog.com/2019/01/get-your-apps-ready-for-64-bit.html?m=1

Fennec Nightly started shipping ARM64 builds on 2019-01-15. The Reference Browser already started shipping ARM64 Nightly builds in this issue: mozilla-mob

[2019-01-21 06:43] karlcow opened #4165 "testpilot.firefox.com - content doesn't show up"
## Steps to reproduce

0. Activate GeckoView
1. Go to https://testpilot.firefox.com/

### Expected behavior

Content is displayed.
### Actual behavior

Most of the content is not displayed.

### Device information

* Android device: Pixel 2
* Focus version: 8.0.6

See also
https://github.com/webcompat/web-bugs/issues/21906

[2019-01-21 09:33] sv-ohorvath commented on #4165
Duplicate of #2883.

[2019-01-21 09:33] #4165 closed

[2019-01-21 09:52] sv-ohorvath opened #4166 "Open link in new tab opens blank tabs"
## Steps to reproduce
1. Go to wikipedia / cnn / google.
2. Long tap a link and select "open in new tab".
3. Switch to the new tab.
### Expected behavior
The webpage loads.
### Actual behavior
about:blank page opened in all new tabs opened with "open link in new tab". Doesn't reproduce with links sent from other apps.
### Device information

* Android device:
Pixel (Android 9), Sony Xperia Z5 Prem

[2019-01-21 09:54] sv-ohorvath commented on #4105
Verified as fixed on the latest Master branch, using webView. Cannot verify on GeckoView due to bug #4166.

[2019-01-21 14:57] sv-ohorvath commented on #4162
Dupe of #4063. Please reopen if I'm wrong.

[2019-01-21 14:57] #4162 closed

[2019-01-21 19:11] MinIsMin commented on #4082
Looks like it's the same for Focus. RC11-arm is also not working.

[2019-01-21 20:10] npark-mozilla opened #4168 "Block cookies value is not selected, displays invalid char"
## Steps to reproduce
Install debug build of Focus from master,
Go to settings -> Privacy & Security, Check 'Block Cookies' entry

### Expected behavior
Displays one of 'Yes' 'Block 3rd-party cookies only' 'No'

### Actual behavior
Displays Chinese char
If this is because there is a WIP issue, please disregard.

### Device information
Moto G5
* Android device: API 27
* Focus version: master branch

[2019-01-21 21:18] #4155 closed

[2019-01-21 21:21] colintheshots commented on #4082
It looks like the TaskCluster build doesn't show signed artifacts very
quickly in its web interface even after reloading, so it's natural to grab
the wrong, unsigned artifact by mistake. This was a release engineering
mistake caused by a bug in TaskCluster.

On Mon, Jan 21, 2019 at 1:11 PM Min <notifications@github.com> wrote:

[2019-01-21 23:04] jonalmeida opened #4169 "Opening image link in new tab opens image instead"
## Steps to reproduce
1. Press and hold an image that is also a link.
2. Click the 'Open link in new tab' context menu option.

### Expected behavior
- The link page is loaded in a new tab.

### Actual behavior
- The image is loaded in a new tab.

### Device information

* Android device: Android 9 (Pixel 2)
* Focus version: 9.0 (Build #330211215 :lizard: 65.0.20190114172331)

[2019-01-21 23:12] jonalmeida commented on #4169
Dupe of https://github.com/mozilla-mobile/focus-android/issues/4166

[2019-01-21 23:12] #4169 closed

[2019-01-21 23:46] #4098 closed

[2019-01-22 03:57] mlda065 commented on #1265
I totally agree. I just installed Focus and my initial impression is that it is intrusive and poorly designed, mostly due to this.

Notifications are supposed to be temporary, that's what "notification" means.
A permanent notification is just bad design.

I don't see the purpose of a notification giving me the option to "open" the app.
No other app does that, so why should this one?

Use case: I o

[2019-01-22 17:39] sblatz commented on #4109
I am closing this in favor of #4139.

[2019-01-22 17:39] #4109 closed

[2019-01-22 18:03] sblatz commented on #4132
New tip:

**Events**

| Event                                    | category | method     | object | value  |
|------------------------------------------|----------|------------|--------|--------|
| Allowlist tip displayed | action   | show | tip | allowlist_tip    |        |
| Allowlist tip tapped | action   | click | tip | allowlist_tip    |        |

See #3080 for data review on tips.

[2019-01-22 18:43] Delphine commented on #4154
I confirm this happens to me as well on my Pixel 2 (running Android v9), on Focus version: 9.0 (Build #330221220 🦎 65.0.20190114172331)

[2019-01-22 18:44] sblatz commented on #4168
This *may* be related to #4092.

[2019-01-22 19:22] vesta0 opened #4173 "Tracking Protection Toggle Behaviour"
**Current state:**

_When TP toggle is enabled (default)_
- Block ad trackers, Block analytics trackers, and block social trackers are enabled
- Block other content trackers, Block Web fonts and Block JavaScript are disabled
- Cookie blocking is set to “Block 3rd party tracking cookies”

_When TP toggle is disabled_
- All tracking protection is disabled
- Blocking JavaScript and Web fonts is disab

[2019-01-22 20:54] sblatz commented on #4132
@liuche is a separate data review required for this new tip or is that old ticket sufficient?

[2019-01-22 21:39] vesta0 opened #4175 "Focus 8.1 release activities"
The purpose of 8.1 will be to launch the Focus survey (homescreen tip), no other updates or changes will be included.

[2019-01-22 21:40] vesta0 commented on #4148
Will not proceed with A/B experiment.

[2019-01-22 21:40] #4148 closed

[2019-01-23 03:10] wbdsnx commented on #1615
As @semanticer mentions: "Solution was to add implementation "android.arch.lifecycle:extensions:1.0.0" to the main project",how can I do?

[2019-01-23 06:38] vesta0 commented on #3994
*Please note that all the survey invites currently default to English and localization is pending.
cc @boek @sblatz

Ideally, user should be able to click on the link only one time. Once clicked, they should not see the tip again.

_Target to locale EN (all geos)_
Please help us by taking a short survey. Click here.
https://qsurvey.mozilla.com/s3/Focus-2019-User-Survey

_Target to locale FR (all g

[2019-01-23 13:21] sv-ohorvath commented on #4155
Verified as fixed on Nightly GV65.

[2019-01-23 18:53] ekager commented on #4166
On GV builds on long press, the linkUri of an image seems to return something different than WV.

For example on https://en.wikipedia.org/wiki/Cat long pressing the article image on WV will return https://en.m.wikipedia.org/wiki/File:Cat_poster_1.jpg for the linkUri and https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Cat_poster_1.jpg/260px-Cat_poster_1.jpg for the srcUri. On GV we get /w

[2019-01-23 19:40] vesta0 commented on #3994
@sblatz yes exactly, thank you for clarifying :)

[2019-01-23 22:43] sblatz commented on #3994
This tip will now be the first tip to be display in the above locales, after which random tips will be shown.

[2019-01-23 23:10] vesta0 commented on #3994
Thanks @sblatz. We can ship 8.1 once all the survey pages have been localized, hopefully by Friday.

[2019-01-23 23:19] sblatz commented on #4132
Confirmed with Chenxia that referring to #3080 is sufficient.

[2019-01-23 23:37] sblatz commented on #4059
Currently blocked on adblock being merged in. Will handle this as soon as that's ready!

[2019-01-24 02:01] KWierso commented on #4160
Came here to report this. I can reproduce, also on a Pixel 2 running android 9.

For me, step 5 has to be "unlock with the fingerprint reader" to turn the screen back on. If I just push the power button and unlock with the gesture, it seems to work okay. Focus reopens and says something like "fingerprint timed out" below the fingerprint image.

[2019-01-24 08:43] Yky opened #4182 "Firefox Klar is outdated in F-Droid"
## Steps to reproduce
Download latest Firefox Klar in F-Droid.
### Expected behavior
Focus / Klar - v8.0.6 is available in F-Droid
### Actual behavior
The latest version that is available is Version 6.1.1 (22) - Added on 2018-08-20

[2019-01-24 15:41] 4ut0-M-4t commented on #4158
**Device**: SGN4 ARMv7 (Android 6.0.1)
**Firefox Klar 9.0** (Build #330171230 GV 64.0.20190111134233)

Pressing '**Try Again**' button produces no results.
P.S. I've never experienced such issues with Gecko-based browsers for Android OS (like Fennec).

[2019-01-24 15:47] armentarius commented on #4182
F-Droid's Klar is the only version that I can install, Google Play version is not available in my geographic zone, Firefox Focus is offered instead.

[2019-01-24 18:47] 4ut0-M-4t commented on #4182
@armentarius, you can always grab Focus/Klar v8.0.6 from [here](https://github.com/mozilla-mobile/focus-android/releases/tag/v8.0.6) or [Mozilla Archive](https://archive.mozilla.org/pub/android/focus/) till F-Droid team is finally [able to build GeckoView](https://gitlab.com/fdroid/fdroiddata/issues/1390).

[2019-01-24 20:15] 4ut0-M-4t commented on #4142
The only thing that helps is killing the app process, cleaning its cache and restarting Focus/Klar.

[2019-01-25 03:07] RotBolt opened #4184 "Unable to run Focus on Emulators"
Whenever I try to build and run app on emulator, I get this

`[INSTALL_FAILED_NO_MATCHING_ABIS: Failed to extract native libraries, res=-113]`

INSTALL_FAILED_NO_MATCHING_ABIS is when you are trying to install an app that has native libraries and it doesn't have a native library for your cpu architecture.

Also Focus is an browser application, it doesn't have any hardware related functionality, so

[2019-01-25 10:10] sv-ohorvath commented on #4157
Verified as fixed on 9.0 GV 65 and webView.
Devices: HTC Desire 820 (Android 6.0.1), Samsung Galaxy Note 8 (Android 8.0)

[2019-01-25 12:51] sv-ohorvath opened #4186 "Incorrect context menu links on Wikipedia's homepage"
## Steps to reproduce
1. Go to wikipedia.com.
2. Long press a link from the homepage (e.g. the link to go to the English articles, under the search bar) and observe the URL displayed at the top of the context menu.
3. Open the link in a new tab.
### Expected behavior
https://en.wikipedia.org/
### Actual behavior
https://wikipedia.org//en.wikipedia.org/
The same applies to the rest of the homepage

[2019-01-25 12:59] sv-ohorvath opened #4187 "Copy link address from an image with link - copies the img src"
## Steps to reproduce
1. Go to cnn.com or huffpost.com.
2. Long tap & select "Copy link address" from an image (the headline story image on cnn.com for e.g.)
3. Paste the link in the search bar.
### Expected behavior
The URL should open the article to which the image is linking. Just like tapping the image.
### Actual behavior
The copied URL is the image src, not the page link. Same result as sele

[2019-01-25 13:04] sv-ohorvath commented on #4166
Verified that the new tabs are not blank anymore. Opened 2 new issues for clarity: #4187, #4186

[2019-01-25 13:18] rtMis opened #4188 "Geckoview not blocking trackers but webview is"
## Steps to reproduce
1. Open focus nightly build with geckoview enabled.
2. Select block ad, analytics, other content trackers and block web fonts.
3. Search for apkmirror firefox focus using duckduckgo.
4. Observe the tracker count.
5. open focus release build using webview.
6.  Select block ad, analytics, other content trackers and block web fonts.
7. Search for apkmirror firefox focus using du

[2019-01-25 14:33] sv-ohorvath opened #4189 "Focus crashes at long tap on videos"
## Steps to reproduce
1. Go to youtube.com and play a video.
2. Long tap on the video (either paused or playing).
### Expected behavior
A context menu is displayed (?). On 8.0.6 nothing happened. On webView there is a link context menu displayed.
### Actual behavior
Focus crashes.
### Device information

* Android device:
HTC Desire 820 (Android 6.0.1), Samsung Galaxy Note 8 (Android 8.0)
* Focus

[2019-01-25 17:18] ekager commented on #4166
Thanks @sv-ohorvath fix one and cause two others :P I'll take a look at these today!

[2019-01-25 18:36] #3512 closed

[2019-01-25 18:37] vesta0 commented on #4057
Duplicate

[2019-01-25 18:37] #4057 closed

[2019-01-25 19:16] #4117 closed

[2019-01-25 19:16] #4050 closed, assigned to jonichan

[2019-01-25 23:36] cosmic-echo opened #4191 "Focus hangs on "about:blank" for a while before loading the site"
## Steps to reproduce
1. Open a site. hehe

### Expected behavior
About:blank page not hanging so much. Loading the site could have the responsiveness of the previous version (7.0).

### Actual behavior
About:blank hangs before the site is loaded.

### Device information
* Android device: Moto G4 Play, Android 7.1.1
* Focus version: 8.0.6

[2019-01-26 13:39] armentarius commented on #4182
@4ut0-M-4t, Thank you for your comment, I tried it before but it didn't work, I can't update F-Droid's version from sources other than F-Droid, the image shows a few minutes ago update results,

![captura de pantalla_2019-01-26-10-16-36](https://user-images.githubusercontent.com/19825151/51787882-e33eef00-2155-11e9-98a5-baf6270543b7.png)

[2019-01-27 10:35] OctoNezd opened #4192 ""Erase and open" app shortcut opens transparent activity after closing Focus"
## Steps to reproduce

1. Open Focus using "Erase and Open" app shortcut
2. Press back button to exit focus

### Expected behavior
Focus closes and home screen/previous app opens

### Actual behavior
Transparent activity with "Firefox Focus" header on top in Android 2.x style
<details>
  <summary>Screenshot</summary>
  <img src="https://user-images.githubusercontent.com/15308404/51799851-c7137e80-

[2019-01-27 19:04] beamop commented on #1346
Same here, i'm running Focus 8.0.6.

[2019-01-27 23:31] armentarius commented on #4182
@4ut0-M-4t, It worked. Thank you.

[2019-01-28 08:36] ghost opened #4194 "Miner site problem"
Some site use browser and phone to mine crypto currency please add Miner Block .

[2019-01-28 16:59] acreskeyMoz commented on #4191
I noticed this behavior as well - on the Moto G5 it introduced ~3500ms of delay when loading https://www.tripadvisor.com.
This may have included url redirection time (to https://www.tripadvisor.ca).

[2019-01-28 17:18] acreskeyMoz opened #4195 "Reported load time when using Webview not accurate in this case (redirects?)"
It appears that at least redirects are not being calculated into the page load time reported to Telemetry when using the WebView renderer.

## Steps to reproduce
Load https://www.tripadvisor.com from a non-US based IP.
Verify loadtime with a stopwatch.
Compare against and examine the Android logs (look for `LoadTimeObserver`)

### Expected behavior
Reported load time is approximately equal to stop

[2019-01-28 17:21] #3994 closed

[2019-01-28 23:18] rpappalax commented on #4146
@oremj has successfully migrated this project to the new org. closing

[2019-01-28 23:18] #4146 closed

[2019-01-29 06:34] hafiz013 commented on #2256
why inside file jar contain only html and not java

[2019-01-29 07:37] pocmo commented on #2256
you may be looking into the javadoc jar. You want the AAR.

[2019-01-29 23:51] cpeterso commented on #3157
I think we can close this bug as "works for me". Currently, Chrome and Focus+WebView load uniqlo.com in about 2 seconds on my Moto G5 (over fast Wi-Fi). Fennec, Focus+GeckoView, and the Reference Browser load uniqlo.com in about 3 seconds. While technically 50% slower, not a big difference.

@initrd Do you still see a 2x performance difference?

[2019-01-30 10:55] comunikatormiui opened #4198 "Releng for"
## Overview ##
Code freeze for a milestone is the *second Friday of the sprint*, and most of releng happens between *Monday and and Thursday (of the next milestone)*, with the *Beta release Thursday*. Beta should be promoted to Release on the release date. String freeze is the *first Thursday* of the sprint, but can be pushed to the *second Wednesday* of the sprint if cleared with Delphine/L10N.

[2019-01-30 23:05] jmichael2497 commented on #1528
i just followed link from f-droid notes when i saw how outdated the build was.

i am curious why F-Droid does not just use versionName or tags which are actually being updated?

but also this seems just as trivial, and logical, too.

[2019-02-03 12:33] zorbakus commented on #1250
Please make it possible to open new empty tab, or at least make it possible to open entered URL in new tab. This I really miss going from Chrome

[2019-02-03 19:06] ido-ran commented on #3375
I got the same this when I've upgrade Adnroid Studio.

All I did was to swap the lines from
[code]

to
[code]

[2019-02-03 19:43] libBletchley commented on #1743
@wolfbeast

First part is inherently and indisputably true.  Second part is absurdly ridiculous because a client tool inherently and irrefutably serves the user of that tool.  A client tool that fails to look after the interests of the master it's serving is a recipe for disaster.  I'm not going to install a tool that serves someone else.

@MikeColes

That's sensible but it's a bit of a false dich

[2019-02-04 19:56] mitchhentges commented on #2980
Fixed by #4129

[2019-02-04 19:56] #2980 closed

[2019-02-04 20:41] libBletchley commented on #1743
Not in the slightest.  I said give the end user control over their own experience (the OP's checkbox).  You advocate the opposite: not adding the proposed checkbox, thereby inhibiting user control.

That's incorrect usage of "arbitrarily".  The OP proposes giving the user the ability to specifically (and equally) treat the cert of all websites compromised by **a particular** CDN.

You tell us -- t

[2019-02-04 21:24] kbrosnan commented on #4189
I ran into this as well. Seems really bad to ship this.

    Process: org.mozilla.focus, PID: 32460
    java.lang.IllegalStateException: WebContextMenu can only handle long-presses on images and/or links.
        at org.mozilla.focus.menu.context.WebContextMenu.show(WebContextMenu.kt:64)
        at org.mozilla.focus.fragment.BrowserFragment$createCallback$1.onLongPress(BrowserFragment.kt:519)

[2019-02-04 21:35] dxgldotorg commented on #1743
Problem is that Cloudflare isn't just another CDN.  Throughout the years they have not only had various serious vulnerabilities but also are well known for providing safe harbor for some of the worst stuff on the web.  I tried Cloudflare on a throwaway subdomain and it promptly gave me a certificate shared with a scam website.

[2019-02-04 21:52] wolfbeast commented on #1743
To be perfectly clear, I'm not advocating for CloudFlare. The advocacy here is clearly from the people in this issue pushing for unequal treatment _against_ CloudFlare, throwing terms in the mix like websites being "compromised" by CloudFlare, which, once again, is not true. It is purely the webmaster's choice to use them or not. There is nothing "compromising" these websites. But I guess that mes

[2019-02-05 09:10] makotokato commented on #3985
@vesta0, I cannot reproduce this now using 8.0.6 (GV: 64.0.20190111134233).  Could you still reproduce using it?

[2019-02-05 09:44] libBletchley commented on #1743
Effectively you are.  Your whole thesis contradicts this statement.

Unequal treatment is appropriate, and justified by unequal service.  Most particularly w.r.t. CloudFlare's attack on network neutrality.  It's laughable to create access inequality and then expect equal treatment.

Of course it's true.  The [problems with CloudFlare](https://github.com/privacytoolsIO/privacytools.io/issues/374#is

[2019-02-05 14:06] huuhaa commented on #2992
As silly as it sounds, this is actually one of reasons I use Brave for that purpose, Sure other would be ability to remember selected theme (I use night theme at twitter) & login information.. But those are offtopic in this case and also security risk if you think it that way (unless combined with that opened when biometric sensor is used).

[2019-02-05 19:47] nyancrimew opened #4200 "Intent to start search from third-party app"
### Why/User Benefit/User Problem

As the Lead Developer of [Lawnchair Launcher](https://lawnchair.app) I'm trying to add as many possible search providers to our app as users request them. A lot of people would like to use their browser built in search to search the web.

### What / Requirements

Focus should provide an intent for third party apps to start search (similar to the erase & open shor

[2019-02-07 16:58] 4ut0-M-4t commented on #4157
I hope you'll push new GV 65 builds to Taskcluster soon, as I, for one, have no access to Android Studio to build a test version of my own ATM.

[2019-02-08 22:46] vesta0 commented on #3985
@makotokato you are right, it looks like this issue has been fixed.

[2019-02-08 22:46] #3985 closed

[2019-02-08 23:22] #3157 closed

[2019-02-10 16:52] 4ut0-M-4t commented on #2850
If Fennec is set to clear history and cache on exit, it really does so. But Focus/Klar GV does not. Keeping all that data may not be a privacy concern for some, but it definitely is wasting precious space.

[2019-02-10 18:43] colintheshots commented on #2850
We have tests we run that prove the data is cleared.

[2019-02-13 00:13] cpeterso commented on #3986
@droeh has a fix for this issue in PR #4205.

[2019-02-13 00:13] #3986 closed

[2019-02-14 14:05] baarkerlounger commented on #4200
Is this currently possible on the regular Firefox Mobile for android? Or is that the same codebase/also not implemented?

[2019-02-15 16:24] buttercookie42 commented on #2752
The [GeckoView API](https://bugzilla.mozilla.org/show_bug.cgi?id=1460874) has landed.

[2019-02-15 16:25] buttercookie42 commented on #3057
The [GeckoView API](https://bugzilla.mozilla.org/show_bug.cgi?id=1460874) has landed.

[2019-02-16 02:34] dxgldotorg commented on #1743
@libBletchley in my last comment I mentioned the hazard of shared certificates where a legitimate website can be quite easily bundled with a fraudulent, malicious, or illegal website with no recourse but to pay for the privilege to not have these bad neighbors.

[2019-02-16 20:18] libBletchley commented on #1743
@dxgldotorg
Yes, I understand that.  IMO it's wrong to fixate on the price and that was my point.  If the cert sharing is risky then it should not be offered as an option full stop, regardless of whether it has a subscription cost or not.

Whether it's actually is risky is a separate matter.  As far as I can tell the risk is negligible, but perhaps I'm overlooking something.  So to walk through th

[2019-02-16 20:35] libBletchley commented on #1743
It's worth noting that distrusting CloudFlare certs to the extent of not using them is a bad idea.  Even if you distrust CloudFlare you still probably also distrust all MitMs that would sit between you and CloudFlare.  So if you (foolishly) choose to feed info to a CloudFlare website for whatever reason it still makes sense to trust the certificate itself so at least you have a tunnel to CF.

# be

[2019-02-16 21:01] qbolec commented on #1250
I came here, because I've could not find open new tab button anywhere (also I could not find "report ux issue" button anywhere).
I've searched for the button in following places:
1. The FAB. This was for me the most obvious place. I was expecting that longpressinf it will give me a list of tabs (which it did) with option to create a new one or close some old one (which it did not to my great surpr

[2019-02-17 07:17] alexlamsl opened #4206 "Copy Link Address often gives relative URLs"
Only happens after updating Firefox Focus this month.

`Copy Link Address` now writes `/path/page.html` to clipboard instead of `http://site.com/path/page.html`

[2019-02-17 13:35] MinIsMin commented on #4082
Is working again with 8.0.8

[2019-02-17 20:37] p0358 commented on #737
You're a joke, at least the part with moving page underneath should be fixed long time ago. Makes browsing maps and images overly annoying, and even normal pages when you slide up and down. I'm done with this browser as soon as I find some good alternative based on built-in WebKit that isn't Chrome...

[2019-02-17 21:10] brampitoyo commented on #737
@p0358 You’d be pleased to know that we’ve taken your suggestion and decided to move the erase button up to the top app bar. It doesn’t solve your problem specifically, but it does go some way towards getting us there.

[2019-02-18 03:32] sefernet opened #4207 "Klar crash when webview not present"
## Steps to reproduce
Remove native Android Webview
Install Klar apk (from github/releases)

### Expected behavior
Run normally

### Actual behavior
Crash on launch

### Device information
Rooted
Native Webview removed

* Android device: Moto G3
* Focus version: Klar v8.0.8

----
I understood that with the addition of geckoview, then there will be no need for native android Webview , right?

Thank

[2019-02-18 13:27] rahulthewall opened #4208 "Firefox Focus is draining my battery"
See the [battery drain](https://i.imgur.com/wp15FQq.png) yesterday. The battery went from 100% to 13% in a little under 7 hours. That's not normal.

The top applications as reported by Android: https://imgur.com/a/l60iPw3

The detailed report for firefox focus: https://imgur.com/a/mUlnCAW

I don't recall using the browser for over an hour. I think the browser continues to use battery even when the

[2019-02-21 23:35] thedanielgray commented on #4206
Yes, the same thing happened to me when copying a link from amazon.com, the copied URL only contained /blablablabla instead of amazon.com/blablablabla

[2019-02-21 23:43] cpeterso opened #4209 "Update Focus Nightly to GV 67 Nightly"
We would like to increase testing of GV 67. @vesta0 and I think we should update Focus Nightly (9.0) to GV 67 Nightly, but leave Focus 8.0 Prod on GV 65 Release. Once GV 67 Nightly rides to GV Beta (on 2019-03-18), we can update Focus 8.0 Prod to GV 67 Beta.

GV Nightly will receive new Gecko features and fixes every day, so we will need to periodically update Focus Nightly to a newer snapshot of

[2019-02-22 20:51] kiwibrowser opened #4210 "Resolved"
.

[2019-02-23 01:48] 253153 opened #4211 "Where to disable any and all WebRTC & Canvas features in the code?"
Am tinkering with the browser code to make it perfect for me, and I would like to completely do away with any Webrtc to prevent leaking. Also disabling canvas to prevent fingerprinting of canvases would be next, so if you could advise as to where canvas can be disabled it would help a ton too.

Disabling JavaScript is the only way to turn it off right now in app so I decided to edit the source.
Ca

[2019-02-25 04:54] karlcow opened #4212 "long press and select open in new tab, it does not append the domain name and just crashes the app within a few seconds."
## Steps to reproduce

**Browser / Version**: Firefox Mobile 65.0
**Operating System**: Android 8.0.0
**Tested Another Browser**: Yes

**Problem type**: Site is not usable
**Description**: Relative links do not work in new tab
**Steps to Reproduce**:
When you click a link on the site which is relative such as /messages, it opens fine when in the same tab. However, if you long press and select open

[2019-02-25 04:54] karlcow commented on #4212
Original issue on https://github.com/webcompat/web-bugs/issues/25888

[2019-02-25 17:20] arjunkrishnababu96 commented on #4212
I've been having this issue for more than a week.

**Steps to reproduce**
1. Google-search something
2. Long press a search result and click `Open link in new tab`

**Expected behavior**
Link opens in new tab.

**Actual behavior**
about:blank opens in new tab

Also, when you long-press, the full link is not displayed in the pop-up window; only the relative path after the main address is shown.

No

[2019-02-25 22:33] karlcow commented on #4212
@arjunkrishnababu96 there are two types of Firefox Focus one with a GeckoView engine and one with a Blink engine.

[2019-02-26 15:59] zznidar opened #4213 "Rapid tapping floating button crashes Focus"
## Steps to reproduce
1. Open at least two tabs.
2. Rapidly keep tapping the _Erase browsing history_ floating button.

### Expected behavior
Tabs should be closed (history erased) without a crash.

### Actual behavior
Firefox Focus crashes after closing tabs.

### Device information

* Android device: pocophone f1, Android 8.1.0, and Samsung Galaxy S8+, Android 8.0
* Focus version: 8.0.8 (Build #

[2019-02-26 17:44] arjunkrishnababu96 commented on #4212
@karlcow Oh, okay. I don't know which one mine uses. How do I find out?

[2019-02-26 19:07] vesta0 commented on #4208
@bbinto let me know if you'd like me to look into this.

[2019-02-26 19:11] vesta0 commented on #4188
@rtMis thanks for reporting this. Could you please let us know if you can reproduce this issue with the newest release version of Focus (8.0.8) which is using a newer version of GeckoView (65)? Thanks in advance!

[2019-02-26 19:15] vesta0 commented on #4161
I can't reproduce this in 8.0.8.

[2019-02-26 19:15] #4161 closed

[2019-02-26 19:33] droeh opened #4214 "Lack of GV65 crash reports -- possible incorrect version reported?"
Opening an issue for this based on Slack conversation -- we're not seeing any crash reports for GV 65 despite 8.0.8 using it; we're still seeing significant crash reports for GV 64. It's possible that we're misreporting the GV version number, or (worse) that we're not reporting GV 65 crashes at all. It's not clear yet if this is a Focus problem or a GV CrashReporter problem.

[2019-02-26 22:29] kglazko opened #4215 "Disable auto-upload apk to Nimbledroid"
### Why/User Benefit/User Problem
We don't need automatic APK uploads to Nimbledroid anymore for the Focus Android project.
### What / Requirements
Comment out the lines of code in Taskcluster that trigger the upload
### Acceptance Criteria (how do I know when I’m done?)
Taskcluster trigger won't result in auto-upload apk to Nimbledroid

[2019-02-27 05:12] Merseyside opened #4217 "Open about:config or disable WebRTC"
I try to open config in order to disable WebRTC.

## Steps to reproduce
Put about:config in search bar and click enter.

### Expected behavior
All browser config items

### Actual behavior
about:blank#blocked
### Device information

* Android device:
OnePlus 5T
* Focus version: ?
9.0.0

[2019-02-27 09:41] g-normand opened #4218 "Add to home screen : ask to use the favicon or not"
### Why/User Benefit/User Problem

Hello Firefox Focus team !
I'm a great fan of your app and I would like to know if it is possible to add a small feature :
When adding to home screen, the favicon is not used.
I read the issue about that : https://github.com/mozilla-mobile/focus-android/issues/2992

I understand that  some people does not want the favicon for privacy purpose.

As tobz1000 said (h

[2019-02-27 14:01] arjunkrishnababu96 commented on #4212
I uninstalled and reinstalled Firefox Focus (along with a bunch of other apps; I wasn't trying to troubleshoot this specific issue), and guess what, the problem has been solved for me.

FWIW, my user-agent now contains "AppleWebKit" instead.

[2019-02-27 15:28] bbinto commented on #4208
I'd think it would make sense, please let Stuart and No-Jun know about this. I know they've been setting up a battery testing platform and it'd be good to get Focus + GV tested based on this complain.

[2019-02-28 00:18] Delphine opened #4219 "App Shortcuts of Firefox Focus is wrongly named"
[Note: This issue was originally reported [on bugzilla here](https://bugzilla.mozilla.org/show_bug.cgi?id=1530922) (and wrongly attributed at first to Focus iOS) for Korean locale, but this seems to affect other locales as well, such as Traditional Chinese]

**Steps to reproduce:**

Long tapping the Firefox Focus icon on home screen (launcher)
The App Shortcut's name is not correct (contains techn

[2019-02-28 13:31] rtMis commented on #4188
@vesta0 thanks for replying. I would like to clarify something first.
I installed focus nightly from  [and](http://bit.ly/focus-nightly-buildsl) then to about page there is a gecko/lizard icon after the build number. When installed from the release branch there is no gecko/lizard icon after the build number.
So the absence of gecko/lizard icon should identify it is using system webview right!

[2019-03-01 20:29] BinduVerma123 commented on #4069
@cadeyrn can i work on this issue?

[2019-03-01 21:18] BinduVerma123 commented on #4121
@sv-ohorvath can i work on this issue?

[2019-03-02 14:19] sefernet commented on #4210
+1

[2019-03-02 20:46] cadeyrn commented on #4069
@BinduVerma123 I don't work for Mozilla. I can't answer the question whether you can work in this issue or not.

[2019-03-02 21:16] BinduVerma123 commented on #4069
@cadeyrn ok sorry

[2019-03-04 05:08] vesta0 opened #4222 "Upgrade Focus to GeckoView 67 Beta"
GV 67 beta will be available on on March 18.

This build will also require some engineering work to **remove survey homescreen tip**.

- [ ] GV team update Focus 8.0 to GV 67 Beta
- [ ] Fenix team review/approve pull request and create a new build
- [ ] Release notes (Vesta)
- [ ] Release management promotes the build to 99% of release channel. Fretboard at 50/50.
- [ ] Check whether there are new

[2019-03-04 07:58] sv-ohorvath commented on #4121
Hi @BinduVerma123 ! I'm not the right person to answer that. @vesta0 maybe can help.

[2019-03-04 08:32] cpeterso commented on #4222
GV reminder to update Focus to GV 67 Beta after it rides to the Beta channel on March 18: [bug 1531858](https://bugzilla.mozilla.org/show_bug.cgi?id=1531858). New GV Beta builds are produced once a week. We'll probably want to update Focus's GV 67 Beta snapshot weekly.

GV reminder to update Focus to GV 67 Release after it is released on May 14: [bug 1531862](https://bugzilla.mozilla.org/show_bug.

[2019-03-04 10:17] BinduVerma123 commented on #4121
@vesta0 can i work on this issue?

[2019-03-04 15:07] vext01 commented on #1250
Hrm, still no way to easily open a tab.

I feel like we are over-thinking this somewhat. Why not just add a new tab button somewhere and deal with the UI overhaul separately?

[2019-03-05 00:43] Alexanderxiang opened #4223 "How to set the home web page in the software?"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2019-03-05 20:57] aqeelparpia commented on #4219
Hi there, I would like to work on this issue? hope to fix this problem as soon as possible. As per my undersatnding the words are shrinking on translation and not presenting the appropriate name of the shortcut file right?

[2019-03-06 13:46] Delphine commented on #4219
I think the main issue called out here is that some languages display a placeholder in the string (in this case %1$s), although there is [none in the source](https://github.com/mozilla-mobile/focus-android/blob/29a48d4f6f368d283fda1cb81e62e5dbd9b491c7/app/src/main/res/values-zh-rTW/strings.xml#L29) .
What's more, this issue is hard to see if it reproduces in other languages, because some of those

[2019-03-07 03:34] c4pt000 opened #4224 "server load reduction most email, QR integration browser/email client for mobile copy and paste reduction"
server load reduction most email, QR integration browser/email client for mobile copy and paste reduction

https://i.redd.it/ym0vwrtt5mk21.png

https://imgur.com/gallery/jm62rSe

[2019-03-07 04:49] vesta0 opened #4225 "Upgrade Focus to GeckoView 68 Beta"
GV 68 Beta will be available on May 14.

This build will also require engineering work to add a new homescreen tip.

- [ ] GV team update Focus 8.0 to GV 68 Beta
- [ ] Fenix team review/approve pull request and create a new build
- [ ] Release notes (Vesta)
- [ ] Release management promotes the build to 99% of release channel.
- [ ] Check whether there are new crashes (Vesta)
- [ ] After 4 days re

[2019-03-08 18:40] iadeelzafar commented on #4225
Hello @vesta0 I'm getting this error when trying to run this app on the emulator. I'm a new contributor to this project. Any help from the contributors of this project will be really appreciated. I apologize for posting this comment here as this is irrelevant to the issue created.
![image](https://user-images.githubusercontent.com/36811908/54048221-f637eb00-41fa-11e9-839d-5f4d8b0ebecf.png)
**I hav

[2019-03-08 18:53] cpeterso commented on #4225
@iadeelzafar Your error message suggests you are trying to run an ARM build of Focus in an x86 emulator (or vice versa). I recommend asking your question in the #mobile channel on Mozilla's IRC server: https://wiki.mozilla.org/IRC

[2019-03-10 23:07] vesta0 opened #4226 "New homescreen tip + toast"
### Why/User Benefit/User Problem

TBD

### What / Requirements

TBD

### Acceptance Criteria (how do I know when I’m done?)

TBD

[2019-03-11 03:17] karlcow opened #4227 "www.pornhub.com - Blank page displayed when opening link in a new tab on Firefox Focus with Geckoview"
Description: New tab in Firefox focus not working
Steps to Reproduce:
Opening videos in new tab resulted in about:blank tabs.

on Firefox Focus with Geckoview.
![image](https://user-images.githubusercontent.com/12184325/53636452-f8151380-3c28-11e9-8028-3554798fd1bb.png)

Note: Not reproducible on Firefox Focus 8.0.8 (Build #330452036)

**Tested with:**
Browser / Version: Firefox Focus 8.0.8 (Build

[2019-03-11 22:06] benwaffle opened #4228 "Remove utm_* url parameters"
### Why/User Benefit/User Problem
Many links on the web contain tracking data in the form of query parameters. These are used by the target web page to determine the source web page. For instance, if you receive an email with a link to `http://blog.example.com/?utm_source=Brilliant_Widgets&utm_campaign=Winter_2019&utm_medium=email`, then `blog.example.com` knows that you arrived from an email link

[2019-03-12 22:04] anto-1 opened #4229 "Hard crash on launch"
## Steps to reproduce
Build focus-android-master from source with build variant FocusAarch64Debug
### Expected behavior
run
### Actual behavior
crash
### Device information
Oreo 8.0.0 Security patch Frebruary 1, 2019
* Android device: Samsung Galaxy S7 Edge hero2lte
* Focus version: latest

It works on the same phone and on an emulator running Nougat.

But I get this error from the LogCat when try

[2019-03-13 17:03] 4ut0-M-4t commented on #2850
**Device**: SGN4 ARMv7 (Android 6.0.1 and 7.0)
**Focus version**: Klar 9.0 (Build #330171230 GV 64.0.20190111134233)

Settings > Application manager > Firefox Klar > Storage > Cache is 56.30 MB -> definitely not being cleared.
I trust you test it thoroughly with emulated and real devices, but Klar still eats up space on *my* device.

[2019-03-14 07:33] apex39 commented on #4194
Please, provide an example of a site.

[2019-03-14 10:29] SubhrajyotiSen commented on #4213
I am picking this up

[2019-03-16 14:18] jahmadiiiii commented on #4194
www.downloadly.ir

[2019-03-16 15:07] DidiBear commented on #1265
Add a preference "Clear session when exiting the app" would solve this issue.
Which is exactly the same as pressing the trash fab button before exiting the app.

[2019-03-16 18:03] colintheshots commented on #1265
There's no easy answers to this. The notification isn't in the shade solely to provide a notification. It's there by Android OS requirements to keep a foreground service running, so your session stays in memory without writing out everything to disk. This is good if you don't want to lose your session when you put your phone in your pocket or take a phone call. Fixing this issue would require rede

[2019-03-17 13:29] xm2017 opened #4233 "build success but install failed"
## Steps to reproduce
not install to android 8.0.
### Expected behavior
install success.
### Actual behavior
I pull this project to study code.and it is build success,but it dose install failed.
and i use all variant about x86 ,all is not install.

### Device information
[code]

Error while Launching activity* Android device: android8.0 x86
* Focus version: new version

[2019-03-21 00:24] mauryat commented on #4233
Can I work on this?

Curious what's happening. When I try the repro steps, I see an UnsatisfiedLinkError pointing to not being able to find libmozglue.so

[2019-03-23 05:19] mauryat commented on #4233
No longer having the issue with UnsatisfiedLinkError. I was trying it on Windows. Looks like the project is configured only for running on Unix?

[2019-03-23 05:58] mauryat commented on #4233
Not able to reproduce.

@xm2017 see if you can get verbose logs using logcat.

[2019-03-25 18:53] Hatem1235 opened #4235 "Build fail"
## Steps to reproduce
Build focus-android
### Expected behavior
Build and run
### Actual behavior
I pulled the project and try to run it but fails to build
### Device information

* Android device: 6.0.1
* Focus version: latest

[2019-03-26 13:49] st3fan opened #4236 "Latest build on archive.mozilla.org points to older one"
The alias at `https://archive.mozilla.org/pub/android/focus/` points to an older build. Let's remove the `latest` folder or update it if it is not too much work.

[2019-03-26 15:56] andreasglueck opened #4237 "Unable to download pdf files"
## Steps to reproduce
A button is clicked to get a pdf file. The file download dialog doesn't pop up.
The pdf is created on a server and it's sent to the browser. In the browsers Firefox, Chrome, Internet Explorer it works correctly.

### Expected behavior
The file download dialog must appear.

### Actual behavior
I have found, that the dialog is opened by GET-Reguests not by POST-Requests.

### D

[2019-03-27 07:02] Daisy-pliu commented on #2854
verified and fixed in https://github.com/mozilla-tw/FirefoxLite/issues/3239

[2019-03-28 17:10] test2a commented on #4237
eh. i am on android 7 and the latest focus but download has NEVER worked for me. Never. clicking on download, does nothing. then half an hour later get a notification that download failed. Instead i copy the link to firefox and download from there. Much better although that one has a massive bug on that one too but yeah

[2019-03-28 17:13] test2a commented on #4237
https://bugzilla.mozilla.org/show_bug.cgi?id=1296895

see.... the bug is only three years old now.

[2019-03-28 22:26] Ryuno-Ki commented on #1528
In case anybody comes across this issue and thought about pulling the APK from Mozilla servers:
I filled [#1539978](https://bugzilla.mozilla.org/show_bug.cgi?id=1539978) with Bugzilla to highlight an outdated file under „latest”. See there for more details.

From what I get from this issue here is that there is nothing Mozilla can do here, but the issue has to be filled with F-Droid. Amirite?

[2019-03-28 23:00] Ryuno-Ki commented on #1528
Related to #4182.

[2019-03-29 05:01] sijanr commented on #4237
I used to face the problem in Firefox Focus, but haven't had the issue for a while now. Have you tried Firefox Focus global yet?

[2019-03-29 05:19] sijanr commented on #4235
The build should be working fine. The first time you load the project, it takes some time to download the necessary files to successfully build the project.

[2019-03-29 06:20] sijanr commented on #4233
@xm2017 It might be because the app doesn't have native libraries for your CPU architecture. Try this as your workaround.
In your module's build.gradle add the following lines after android {
splits {
    abi {
        enable true
        reset()
        include 'x86', 'armeabi-v7a'
        universalApk true
    }
  }

[2019-03-29 12:09] andreasglueck commented on #4237
I tried with firefox klar 8.0..0 and 8.0.8. I thought it's the same engine. I can test with firefox focus. Should I take the version 9.0.0?

[2019-03-29 12:13] andreasglueck commented on #4237
In the play store i see only the app firefox klar.

[2019-03-29 15:02] sijanr commented on #4237
https://github.com/mozilla-mobile/focus-android/releases
Use the above link and try installing the 'Focus' apk for your device.

[2019-03-30 16:16] Mozilla-GitHub-Standards opened #4238 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 20:25] Ryuno-Ki commented on #4236
Thanks, @st3fan,
I originally filled https://bugzilla.mozilla.org/show_bug.cgi?id=1539978 but was told to open it here instead.

[2019-04-01 15:52] 4ut0-M-4t commented on #4237
Klar Nightly 9.0 downloads PDF files just fine. Give it a try.

[2019-04-02 07:01] smcode123 opened #4241 "Cleaning out memory space after erasing"
Hi,
Steps to reproduce:
1. Visit any website.
2. Erase.
3. Take RAM dump

The html contents and other images are still present in the memory (RAM) dump of the App taken via LiME [1]. The memory dump can be inspected to identify the website visited.

I am not sure if this should be filed under a bug or a feature request. Is it possible to blank out the occupied memory pages while erasing the on dis

[2019-04-02 13:08] andreasglueck commented on #4237
Failed:
Firefox Focus 9.0.0, Android Klar 8.00 and 8.0.8
Passed:
Firefox, Firefox Nightly

[2019-04-04 01:00] #4238 closed

[2019-04-04 07:57] 3c commented on #1196
the value of X-requested-with is from **getAll()** method in [org.chromium.base.BuildInfo](https://chromium.googlesource.com/chromium/src/base/+/master/android/java/src/org/chromium/base/BuildInfo.java)

getAll()[8] is the key
[code]
so if we can change the value , X-requested-with is resolved

[2019-04-04 08:35] orschiro commented on #2001
+1 on this! Have below RSS feedburner page where I want to block images to make it fit my screen:

http://feeds2.feedburner.com/stadt-bremerhaven/dqXM

[2019-04-04 08:36] orschiro commented on #802
This would be awesome!

I have this below RSS feedburner page that just doesn't render well on mobile.

It doesn't fit the screen.

Having a reader mode would help here.

Page: http://feeds2.feedburner.com/stadt-bremerhaven/dqXM

[2019-04-05 04:37] karlcow commented on #4227
Something similar seems to be happening with relative links. Open in new tabs fails to associate the domain name.

[2019-04-05 15:35] Bianconiglio opened #4242 "how can I change the search engines and the default search engine?"
hi,
I can't find how I can modify the search engine list and the default search engine. can someone help me or explain how?

[2019-04-05 15:45] mblaster75 commented on #4242
I'm interested in how to add a search engine or change the default via source code and not as a normal user.

[2019-04-09 02:57] #4086 closed

[2019-04-10 23:05] 4-FLOSS-Free-Libre-Open-Source-Software commented on #1743
would look good for any mitm no only crimeflare

[2019-04-10 23:07] dxgldotorg commented on #1743
Not all CDNs have as reckless of a MITM system as Cloudflare; don't many CDNs provide significant control over the infrastructure to their customers?

But the idea still sounds good.

[2019-04-11 19:52] naeohmi opened #4244 "Click "Copy Link" please indicate to user that the link was successfully copied - in the UI"
### Why/User Benefit/User Problem
Using the Firefox Focus browser on my modern android device - I open a new page, then click the top right 3 dots icon, and the drop down menu is displayed. I click "Copy link" menu item to copy the current link.

As a user, I expect the UI to indicate in some way that the link was successfully copied, by displaying a popover message, flash message, or any kind of

[2019-04-13 11:48] Hatem1235 opened #4245 "can't find the id "recycler_view""
## Steps to reproduce
how to fix it ? should I replace it with something else ?
### Expected behavior
build and run
### Actual behavior
no build
### Device information

* Android device: 6.0.1
* Focus version: latest

[2019-04-13 16:38] rugk commented on #4182
Should not this issue be raised at F-Droid actually? If something prevents/breaks build there…

[2019-04-13 16:39] rugk commented on #4182
Oh, actually, they already seem to be aware of it, but nothing has happened: https://github.com/mozilla-mobile/focus-android/issues/1528

I guess you can close this one here as a dupe of https://github.com/mozilla-mobile/focus-android/issues/1528.

[2019-04-16 19:54] iadeelzafar opened #4246 "Refactor code in MainActivity.kt"
## Steps to reproduce
1. Go to ```MainActivity.kt```
2. There is code in ```onCreate``` and ```onPause()``` that can be added in a separate function.

### Expected behavior
This code should be added in separate functions.

### Actual behavior
A few lines of code is present in ```onCreate()``` and ```onPause()``` that is not that very much readable.

[2019-04-16 19:55] iadeelzafar commented on #4246
Working on this.

[2019-04-16 20:33] iadeelzafar commented on #4189
@ekager  @kbrosnan  @sv-ohorvath Any updates on this? I'd like to work on this but I need some directions on how this could be solved.

[2019-04-16 21:00] kbrosnan commented on #4189
Sentry issue: [FOCUS-ANDROID-3V1](https://sentry.prod.mozaws.net/operations/focus-android/issues/5135898/)

[2019-04-16 21:03] kbrosnan commented on #4189
Fixing this bug may require working on GeckoView. This is not a good first bug in the project as it requires knowledge of how Focus and GeckoView integrate with each other. This may be fixed by upgrading to a more recent version of GeckoView which someone is already working on.

[2019-04-17 05:41] iadeelzafar commented on #4189
@kbrosnan Alright. Thanks.

[2019-04-17 09:11] gahujipo opened #4248 "URL auto complete list modifies URL wrong (lower/upper case)"
## Steps to reproduce
Click the three dots, Settings, Search, URL Autocomplete, Manage sites, + Add custom URL. In the appearing textfield, enter an URL with a capital letter after the /, e.g. www.website.com/Forum/index.php. Click Save.

### Expected behavior

The entered URL should be
[code]
### Actual behavior

The url becomes:

<span>www.website.com/**f**orum/index.php</span>

The "f" in Forum

[2019-04-17 09:14] gahujipo commented on #4242
Click the three dots, Settings, Search, Search Engine. There you can select your search engine or add another one.

[2019-04-17 09:17] mblaster75 commented on #4242
Hello in last release of onion browser in Google market there is a onion search engine you can select and put like default

Regards,

Onion Search Engine

http://www.onionsearchengine.com

-------- Messaggio originale --------
On 17 apr 2019, 11:15, gahujipo ha scritto:

[2019-04-19 02:56] karlcow opened #4250 "www.honorbuy.it - "Secure connection failed" displayed when accessing the site"
## Steps to reproduce
1. Go to  https://www.honorbuy.it/

### Expected behavior
site is readable.

### Actual behavior
SSL error.
Note: Not reproducible on Firefox Nightly and Chrome.

### Device information

Tested with:
Browser / Version: Firefox Focus 8.0.8 (Build #330452036 🦎 65.0.20190125143011), Fenix 1.0.1.1915 (Build #11051220 🦎 68.0a1-20190408104625)
Operating System: LG G5 (Android 8.0.0

[2019-04-20 14:55] hackel opened #4251 "Page reloads when connecting/disconnecting charger"
## Steps to reproduce
1. Open a page.
2. Connect or disconnect charger.

### Expected behavior
Nothing happens, page state and scroll position is retained.

### Actual behavior
Page reloads and scrolls to the top losing scroll position, any saved state, wasting bandwidth, etc.

### Device information

* Android device: Pixel 1
* Focus version: 8.0.8 (Build #330452036)

This issue is not new.  It h

[2019-04-21 03:00] polarathene opened #4252 "CSS support differs from regular Firefox Android?"
## Steps to reproduce

[code]

I'm using a CSS-in-JS library that prefixes at run-time client-side. Unfortunately using this prefix with height properties in Firefox has been a bug for 9 years (with recent version 66 making a slight improvement, but this particular value/prefix still is bugged).

As a result, to workaround the prefixing, I have used the feature query as shown above. This works in

[2019-04-21 03:46] polarathene commented on #4252
I'm using this for implementing a sticky footer. `html` selector has `height: 100%;` and my container div within the body element has content(main) and a footer:

[code]

I've noticed that if I remove other `min-height` properties and the feature query, so that it's just `min-height: 100vh;`. Firefox renders as expected, the footer is not clipped(requiring scrolling down), but both Chrome and Fire

[2019-04-22 11:30] Nemmoo opened #4253 "Firefox focus : Can't add an attachment in gmail"
### Device information
I have just bought a Nokia 1 and I have installed Firefox focus (8.0.8 version). Gmail is my webmail, but I prefer to use a browser rather than the Gmail app. I have even desactivated the Google apps exept for Google Play services.

## Steps to reproduce
### Actual behavior
I wanted to send an email with an attachment thanks to Firefox focus, but nothing happened when I touc

[2019-04-24 11:57] sv-sdeiac opened #4254 "Open link in new tab opens blank tabs (about:blank)"
## Steps to reproduce
1. Go to Wikipedia/Bilibili.com/Imdb.com/amazon.com;
2. Long tap a link and select "open in new tab" ;
3. Switch to the new tab.

### Expected behavior
The webpage loads.

### Actual behavior
about:blank page opened in all new tabs opened with "open link in new tab". Doesn't reproduce with links sent from other apps.

### Device information

* Android device: Samsung Note9 (A

[2019-04-24 13:28] sv-sdeiac opened #4255 "The handler jumps out of the view when you move it a little up or down"
## Steps to reproduce
1. Go to any page with text(en.m.wikipedia.org/wiki/Main_Page);
2. Zoom in;
3. Double tap on a word;
4. Move a handler a little up or down;

### Expected behavior
The Handler move where you go with the finger.

### Actual behavior
The Handler jumps out of the view and selects everything behind the first selected word.

### Device information
* Android device: OnePlus 5T (Andr

[2019-04-24 13:57] levimatheri commented on #4255
If you want to select the word and then the words **below** it, then you use the right pointer of the handler and move down with your finger. For words **above**, use the left pointer and move up with your finger. From the video you posted it seems you did the opposite.

[2019-04-24 14:01] sv-sdeiac commented on #4255
This information doesn't change the actual results. Both pointers should work as normal from any direction you move them. This is a known issue on Fennec and it was fixed(bug [1540545](https://bugzilla.mozilla.org/show_bug.cgi?id=1540545 )).

[2019-04-24 14:28] sv-sdeiac opened #4256 "Floating action bar isn't dismissed after pasting a word"
## Steps to reproduce
1. Copy any word
2. Paste the word in the google.com search bar

### Expected behavior
Action bar should be dismissed

### Actual behavior
Action bar isn't dismissed

### Device information

* Android device: Samsung Note9 (Android 8.1.0), OnePlus 5T(Android 9);
* Focus version: Focus 8.0.9 with GeckoView 68;

Notes:
- Action bar is dismissed when pasting a word in the Bing s

[2019-04-24 14:53] HM100 commented on #4252
Please give a screenshot about that. Focus on iOS indeed is without gecko. Please give one that it is from Android. Make a testcase, make sure you only detect -webkit-fill-available and when it is detected add some styles to the body or make a container that will contain these ones.

[2019-04-24 15:11] sv-ohorvath opened #4257 "Activated selection handlers when trying to dismiss Instagram banner"
## Steps to reproduce
1.Go to Bing.com
2.Swipe down and tap the instagram logo of the Quinault Rainforest section(as per the attached video)
3.Tap the 'x'button from the Instagram banner
### Expected behavior
The Banner should be dismissed
### Actual behavior
The selection handlers are activated
https://im3.ezgif.com/tmp/ezgif-3-601178cf848b.gif
### Device information

* Android device: Samsung No

[2019-04-25 01:37] cpeterso commented on #4254
Can you reproduce this bug in Focus 8.0.9 using WebView (using WebView/GeckoView setting in `focus:test`)?

[2019-04-25 01:47] cpeterso commented on #4254
I can't reproduce this problem in Fenix, so this is a Focus-specific bug. No further investigation is needed at this time.

[2019-04-25 01:51] cpeterso commented on #4256
I can reproduce this bug in Focus 8.0.8 with GeckoView 65 and Fenix (GeckoView 68). I'll file a new GeckoView bug:

[2019-04-25 01:58] cpeterso commented on #4255
Thanks for testing, @sv-sdeiac! The fix for bug 1540545 won't be available in a new Focus build (probably a future 8.0.10) for a couple weeks.

[2019-04-25 02:03] cpeterso commented on #4257
Thanks for testing, @sv-ohorvath! The video link https://im3.ezgif.com/tmp/ezgif-3-601178cf848b.gif is not working. It reports "404 -image not found".

Also, I see the Quinault Rainforest headline, but I don't see an Instagram logo button. I only see Facebook, WhatsApp, and Skype buttons.

Is this bug also reproducible in Fenix?

[2019-04-25 06:59] sv-ohorvath commented on #4257
Here is the video, sorry for the broken link: https://drive.google.com/file/d/1suehp6V6iltvt078MP3iK-QwhMX8VBjO/view?usp=sharing
The issue doesn't reproduce on Fenix.

[2019-04-25 21:12] cpeterso commented on #4257
Thanks! I recognize this problem. I think it's related to a Gecko bug that also affects Fennec: tapping Instagram's tiny `x` button is too hard and the "missed tap" causes text to be selected.

https://bugzilla.mozilla.org/show_bug.cgi?id=1542381

[2019-04-25 21:35] Hatem1235 opened #4258 ""Spotbugs" plugin error"
## Steps to reproduce
Build
### Expected behavior
Build and run
### Actual behavior
error : A problem occurred evaluating project ':app'.
### Device information

* Android device: 9.0
* Focus version: latest

[2019-04-28 22:51] vesta0 opened #4259 "Autocomplete does not work in recent update"
## Steps to reproduce
-Open Focus and make sure Autocomplete is enabled in settings
-Start typing in the URL bar

### Expected behavior
-See URL autocomplete suggestions for top sites.

### Actual behavior
-Autocomplete seems to be broken

### Device information
* Android device: Pixel 3 (also affecting a variety of devices such as Galaxy S9, Huawei, etc based on user reviews)
* Focus version: 8.0

[2019-04-29 11:01] nafrondel opened #4260 "Move pre-push-recommended.sh command in to a gradle task"
### Why/User Benefit/User Problem
The quality/pre-push-recommended.sh is a shell script that runs a collection of gradle commands.
This is unmanaged build configuration.
Makes running it manually inconvenient.
Makes cross platform development inconvenient.
Prevents issues caused by people copying the script rather than symlinking.
Increases chances of developers not running the tests!

Tl;Dr: grad

[2019-05-03 22:30] briankung opened #4266 "Input with <datalist> elements don't autocomplete"
## Steps to reproduce

1. Using Firefox Focus, visit https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist#Examples (the example section of the `<datalist>` element's MDN page)
1. Try to enter some of the datalist options (i.e. "Chrome" or "internet explorer")

### Expected behavior

The input should show available matching options in the datalist. Other mobile browsers (Firefox, Chro

[2019-05-04 00:27] runboy93 opened #4267 "Version 9.0 reset settings after starting browser"
## Steps to reproduce

Change settings as you like, I'm not really sure what cause this, happens very randomly.

After you restarted browser x-xx times, after using it for while, browser show welcome intro again like after installation.

### Expected behavior

Settings should be kept, and not reset after while.

### Actual behavior

Settings are not kept, and settings get reset after while.

### D

[2019-05-04 00:53] runboy93 opened #4268 "Firefox Focus 9.0 components update?"
Firefox Focus 8.0.9 got quite upgrade to components, yet Firefox Focus 9.0 is still going with "older" Stable 65, and who knows how old AC version :/

I know project status is pretty much frozen, and Fenix has more focus now, but time to time upgrades should be okay?

[2019-05-05 09:26] unicorn-io commented on #1611
should I try doing this?

[2019-05-05 09:49] unicorn-io commented on #4246
can I contribute to this?

[2019-05-05 09:55] iadeelzafar commented on #4246
Hi @unicorn-io I actually created a PR specifically to this refactoring. If you feel there's any other place where code refactoring is required, go for it.

[2019-05-05 09:59] unicorn-io commented on #4246
Thank you for the response

[2019-05-05 09:59] unicorn-io commented on #4258
Can i contribute to this?

[2019-05-06 16:10] zznidar opened #4269 "Crash adding an unknown protocol to Home Screen"
Trying to add a site with an unknown protocol to Home Screen results in a crash. Only happens when using WebView (i. e. not with GeckoView).

## Steps to reproduce
1. Visit `test://test` (or similar)
2. Tap ⁝ -> Add to Home Screen

### Expected behavior
Firefox Focus should not crash.

### Actual behavior
Firefox Focus crashes.

### Device information

* Android device: pocophone f1, Android 8.1,

[2019-05-07 07:07] kef71 opened #4270 "Trackers blocked counter always '0'"
## Steps to reproduce

Go to https://www.independent.co.uk or any other site.

### Expected behavior

Trackers blocked > '0'

### Actual behavior

Trackers blocked = '0'

### Device information

* Android device: Oneplus 3t (Android 7.1.2)
* Focus version: 8.0.9 (Geckoview)

[2019-05-07 07:15] kef71 opened #4271 "Search suggestions only pick up the first word"
## Steps to reproduce

type in 'bank italy' in the url bar

### Expected behavior

Showing 'bank italy' in the suggestions

### Actual behavior

Not showing 'bank italy' in the suggestions. In fact as soon as a space is used you get no more suggestions. Tested with google and duckduckgo.

### Device information

* Android device: Oneplus 3t (Android 7.1.2)
* Focus version: 8.0.9 (Geckoview)

[2019-05-08 07:02] ninad458 commented on #4078
This one should be closed I guess

[2019-05-08 14:50] pm-pm commented on #4259
A VERY soon coming service release would be great, so we can use this key feature again.

[2019-05-08 19:31] #4078 closed

[2019-05-13 09:32] sv-ohorvath opened #4272 "Autocomplete doesn't stop if you continue typing a different URL"
## Steps to reproduce
1. Type in the search bar: f. facebook.com is autocompleted.
2. Continue typing other characters.
### Expected behavior
facebook.com is hidden and only the typed chars are displayed.
### Actual behavior
Typed in chars are added in: e.g. fasdfgacebook.com
### Device information

* Android device: HTC 10 (Android 8.0), Pixel (Android Q)
* Focus version: Beta 8.0.10 (GV 68)

[2019-05-13 09:37] sv-ohorvath opened #4273 "Search suggestions and search edit mode can't be dismissed"
## Steps to reproduce
1. On the homescreen, start typing in the search bar.
2. Tap the clear "x" button. Tap the back button.
### Expected behavior
Clears the typed text and closes the search bar edit mode.
### Actual behavior
Clears text but the search mode is still on, the search suggestions are still displayed.
Pressing back minimizes the app. Can't exit this mode unless you kill the app.
### D

[2019-05-13 09:39] sv-ohorvath commented on #4271
Still reproducing on 8.0.10.

[2019-05-13 11:41] sv-ohorvath opened #4274 "Custom URL autocomplete doesn't work as long Top sites suggestions is on"
## Steps to reproduce
1. Add a custom URL.
2. Make sure Top sites suggestions is On.
3. Type the custom url in the search bar.
4. Turn off top site suggestions. Type in the url again.
### Expected behavior
Custom URLs are autocompleted in both cases.
### Actual behavior
Custom URLs autocomplete doesn't work if top sites are on.
### Device information

* Android device: HTC 10 (Android 8.0)
* Focus

[2019-05-14 14:34] sv-ohorvath opened #4276 "[A11y] Skip button from first run has incorrect description"
## Steps to reproduce
1. With TalkBack on, open a freshly installed Focus app.
2.On the first slide of the tour, listen the Skip button's description
### Expected behavior
Skip button has a correct description.
### Actual behavior
The search bar description is read.
### Device information

* Android device: HTC 10 (Android 8)
* Focus version: 8.0.11

[2019-05-14 14:38] sv-ohorvath opened #4277 "[A11y] While loading a page over a different one, the page already opened is announced"
## Steps to reproduce
1. With TalkBack on, load a webpage. Wait for the page to load and the screen reader to announce it.
2. Tap the search bar and load a different page. Wait for the page to load and the screen reader to announce it.
### Expected behavior
1. The 2nd page loading is announced.
### Actual behavior
The homescreen of the first page is announced while loading the 2nd, as the search e

[2019-05-14 15:08] sv-ohorvath commented on #4259
New issues found:
https://github.com/mozilla-mobile/focus-android/issues/4273
https://github.com/mozilla-mobile/focus-android/issues/4272
https://github.com/mozilla-mobile/focus-android/issues/4271
https://github.com/mozilla-mobile/focus-android/issues/4274

[2019-05-14 18:48] cpeterso commented on #4164
@sarentz - What are the next steps to ship ARM64 and x86_64 builds of Focus? PR #4164 has been closed (though the PR says: "This pull request is closed, but the st3fan/Bug4164BuildAarch64 branch has unmerged commits.").

[2019-05-14 19:12] sarentz commented on #4164
I think we have a build that is good to ship now - just figuring out the logistics of that.

[2019-05-16 14:09] NotWoods commented on #937
This works in GeckoView now.

[2019-05-18 21:19] StelFux opened #4280 "Fingerprint bypass with research text action"
## Steps to reproduce
* Select any text from any app
* In the options provided, choose "do a private search" (in French: "faire une recherche privée")
OR
* launch org.mozilla.focus.activity.TextActionActivity

### Expected behavior
Focus must always ask for the fingerprint to reach the current session.

### Actual behavior
Focus is unlocked without the need for the fingerprint.

### Device informa

[2019-05-22 18:58] Ryuno-Ki opened #4282 "Firefox Focus recognised as outdated Chrome"
I originally reported this to GitHub where I first noticed it.

They told me, that the User Agent is wrong.
On CodePen you get more idea on what it looks like to them:
![Screenshot_20190518-120824](https://user-images.githubusercontent.com/3097194/58200730-be0d5800-7cd3-11e9-9ae3-aed491d2690a.png)

URL: https://codepen.io/jcoulterdesign/full/xeoRZW (yes, a 404).

Firefox Focus 8.0.8 (Build #330452

[2019-05-23 05:07] ghost opened #4283 "Request to add this feature: DNS DOT / DOH"
### Why/User Benefit/User Problem
These two features are strongly requested.

### What / Requirements
DNS DOT / DOH.

### Acceptance Criteria (how do I know when I’m done?)
version 9.0

thanks!

[2019-05-23 06:33] kef71 commented on #4271
Sill reproducing on 8.0.11.

[2019-05-23 06:36] kef71 commented on #4270
Can't reproduce on 8.0.12.

[2019-05-23 06:37] #4270 closed

[2019-05-28 11:59] geekmario commented on #1196
[code]

[2019-05-28 12:02] geekmario commented on #1196
[code]

[2019-05-29 19:14] cpeterso commented on #4164
I see Focus 8.0.11 APKs for armeabi-v7a and arm64-v8a in the Google Play Console (and none for x86 or x86_64), so I think we can close this bug as fixed! 🎉

[2019-05-29 19:14] #4164 closed

[2019-05-29 20:28] droeh opened #4285 "Fix AndroidX migration fallout to reenable URL autocomplete tests"
In #4284 I had to disable a few URL autocomplete tests due to breakage in UI automation from the AndroidX migration; things appear to be alright in manual testing, but it would be good to get the tests up and running again as soon as we can.

* Android device: All
* Focus version: 8.0.12

[2019-05-30 12:05] dector opened #4286 "[Not a bug] Replace deprecated `SearchEngineManager.load()` with `loadAsync()`."
`SearchEngineManager.load()` is [deprecated now](https://github.com/mozilla-mobile/android-components/blob/77d384c/components/browser/search/src/main/java/mozilla/components/browser/search/SearchEngineManager.kt#L58). `SearchEngineManager.loadAsync()` should be used instead.

Occurrences:
  - [SearchEngineListPreference](https://github.com/mozilla-mobile/focus-android/blob/b21ee8c3d83a971f3510788f

[2019-05-31 08:18] ghost opened #4288 "APK file"
## Steps to reproduce
Only source code.

### Expected behavior
I hope you can upload all the apk files, thank you.

### Actual behavior
https://github.com/mozilla-mobile/focus-android/releases

### Device information
* Android device: 8.0
* Focus version: 8.0.7-8.0.12

[2019-05-31 08:40] ebalazs-sv opened #4289 "Open in Firefox Focus from notifications bar keeps crashing"
Steps to reproduce:

1. Open Focus. Load a web page. Go to the Settings menu.
2. Expand the notification from the notification bar and tap "Open".

Expected behavior
Firefox Focus should open on the settings menu screen.

Actual behavior
Firefox Focus keeps crashing message appears - [video
](https://drive.google.com/file/d/1jyIeofIQhBDXsK6E_E6x-t6bojZr6_RN/view)

Device information
Android device

[2019-05-31 12:11] ebalazs-sv opened #4290 "Unblocking trackers doesn't work"
Steps to reproduce:
1. Go to Settings > Privacy & Security
2. In "Tracking Protection" disable "Block ad trackers", exit settings and open test web page:
https://mozilla.github.io/tracking-test/ads.html or https://mozilla.github.io/tracking-test/disconnect.html

Expected behavior
Verify page shows a black cat and a message with analytics not blocked.

Actual behavior
Unblocking trackers doesn't wo

[2019-05-31 13:57] vesta0 commented on #4290
@npark-mozilla @rpappalax  I believe in the past you had flagged that maybe those sites are not good ones to test with, am I remembering that right?

[2019-05-31 14:02] sv-ohorvath commented on #4290
Note that "This is also reproducible on panopticlick.org" - it shows that ads trackers are blocked.
On these test pages, I was able to get the expected results on a first try, then it didn't work after I restarted my browser. For Eliza it didn't work at all.

[2019-05-31 14:33] droeh commented on #4289
Does this reproduce reliably with those steps? I've tried a couple dozen times, both with a local build and the beta release, on both a physical phone (Pixel 2) and x86 emulator without seeing this happen a single time. This looks to be an issue where we're failing to release the display, but tracking down exactly how it happens is going to be difficult without being able to reproduce it on my end

[2019-05-31 17:51] vesta0 commented on #4289
I just tried on Pixel 3 and I can't reproduce it, mainly because the persistent notification is missing.

[2019-06-03 07:50] ebalazs-sv commented on #4289
@droeh @vesta0 Hi!

I tested this on 8.0.12 GeckoView 68.0 with Google Pixel (Android 9) and it is not reproducible following the steps from my first comment.

This is reproducible on the devices: Samsung Galaxy S8 (Android 9), OnePlus 5T (Android 9); Motorola Nexus 6 (Android 7.1.1).

Thanks!

[2019-06-03 14:46] colintheshots commented on #4289
This is the Display Already Acquired crash. The solution is to avoid loading two browser fragments in any edge case or situation even briefly as it'll crash GeckoView. We struggled with this same issue on Fenix.

[2019-06-03 18:31] vesta0 commented on #4222
Focus now runs on GV 68.

[2019-06-03 18:31] #4222 closed

[2019-06-05 13:56] ebalazs-sv commented on #4290
Hi! This is verified as fixed on Focus 8.0.13 GeckoView 68.0 with Nexus 6P (Android 8.1.0).
Thanks!

[2019-06-05 13:57] #4290 closed

[2019-06-05 16:56] test2a opened #4292 "Erase history does not"
https://ibb.co/DKqrrmL

Just saw this bug.

I am on ff 8.06 android 7 lenovo z2 plus. No customisation..

The phone has a front button for app switching and this bug is keeping the first page opened on app start when I close the page and switch apps. Even if I open another page and close that, it reverts to the first page.

[2019-06-06 08:11] gaganpreet commented on #4142
I have been struggling with the same for months since the switch to GeckoView. Force killing the process fixes it for a while, until it happens again.

[2019-06-06 14:54] test2a commented on #4274
Yes. I updated to latest version and saved addresses are not showing

[2019-06-06 15:54] runboy93 commented on #4288
Play store latest version is from april 25th.

Github releases page latest version is 8.0.8.

Latest version is now 8.0.13, but I cannot manage to find Armv8 build for it :(

[2019-06-07 06:48] sv-ohorvath commented on #4274
@test2a This is fixed on the latest Beta/Release 8.0.13. Check for updates and try again, please.

[2019-06-07 06:48] #4274 closed

[2019-06-07 06:50] sv-ohorvath commented on #4272
Verified on 8.0.12.

[2019-06-07 06:50] #4272 closed

[2019-06-10 18:52] niftylettuce commented on #4065
I had the same issue, I was using `underscore.string` globally in window and the global `s` variable was getting reset to 0 instead of being an object with methods like `s.isBlank`.

Using latest version of Firefox Klar

Ref: https://github.com/epeli/underscore.string

[2019-06-10 18:53] niftylettuce commented on #4065
To clarify - I am still having this issue on latest versions.

[2019-06-10 18:55] niftylettuce opened #4295 "Variable s gets reset to 0"
Related to https://github.com/mozilla-mobile/focus-android/issues/4065 and my comment here https://github.com/mozilla-mobile/focus-android/issues/4065#issuecomment-500545357.

I believe the same fix is necessary here https://github.com/colintheshots/focus-android/blob/fd54c0c1e910893a71c5ac11c587ee9339222c2e/app/src/main/java/org/mozilla/focus/webview/FocusWebViewClient.java#L57.  I will make a pu

[2019-06-10 19:01] niftylettuce commented on #4295
PR made. https://github.com/mozilla-mobile/focus-android/pull/4296

[2019-06-16 15:53] Krawei commented on #1528
@relan Could you please bump the F-Droid's Version oft Firefox Focus/Klar to the current one v8.0.6?

Is there a New status regarding this issue? Will there be automatic generatic builds in the next months?

Kind Regards,
Krawei.

[2019-06-16 15:55] Krawei commented on #4236
Hello everyone,

 there a status update availabe regarding this issue?

Kind regards,
Krawei

[2019-06-16 16:38] relan commented on #1528
@Krawei, it's not that easy, see the discussion [starting from this comment](https://gitlab.com/fdroid/fdroiddata/issues/1390#note_106639294). If you wish to maintain Klar on F-Droid, you're welcome.

[2019-06-17 13:53] dyanakiev opened #4298 "Create webview app"
Hello, how can i use this to create simple app that just loads a website using focus webview and all its performance featurer?

[2019-06-17 16:00] GingerPlusPlus commented on #2512
In my experience, disabling JS is far more likely to cause breakage than blocking all of ad trackers, analytic trackers and social trackers.

[2019-06-18 06:28] cadeyrn opened #4299 "Regression: blank About screen with latest update"
Today I received a update from Firefox Klar 8.0.6 to 8.0.15 via Google Play Store. After this update the About screen no longer works whit GeckoView enabled.

### Steps to reproduce

1. install Firefox Klar / Focus 8.0.15
2. make sure that GeckoView is enabled, it works without GeckoView
3. open the About page

### Expected behavior

You see the content of the About page.

### Actual behavior

You

[2019-06-18 07:19] arjav2002 commented on #4299
Is Klar not available for Android 6?

[2019-06-18 07:34] cadeyrn commented on #4299
Please don't misuse my bug report for totally unrelated questions, thank you.

[2019-06-18 07:49] arjav2002 commented on #4299
Does this issue occur with a repo build?

[2019-06-18 07:52] arjav2002 commented on #4299
Could you post a link to the install? I can't find it.

[2019-06-18 07:55] arjav2002 commented on #4299
Klar is not available in my country. Which one are you in so that I can use a proxy?

[2019-06-18 07:56] arjav2002 commented on #4299
This issue has been fixed in Version 9.0 Build 11

[2019-06-18 07:59] arjav2002 commented on #4299
I am not able to reproduce the issue on cloning the repo and building it. Version 9.0 (Build 11)

[2019-06-18 07:59] cadeyrn commented on #4299
This issue is not about version 9.0 but 8.0.15 which is distributed via the Google Play Store.

[2019-06-18 08:01] arjav2002 commented on #4299
Then it was probably fixed in Version 9.0 which is not yet up on Google Play Store?

[2019-06-18 08:08] arjav2002 commented on #4299
I'm very sorry, but could you please tell me how to look at specifically that branch in Android Studio? The clone link seems to be the same as the master branch. I've already cloned the master branch.

[2019-06-18 09:54] arjav2002 commented on #4299
How do I make sure that GeckoView is enabled?

[2019-06-18 10:14] cadeyrn commented on #4299
Enter focus:test into the address bar, press enter und enable the "Use new renderer?" toggle.

[2019-06-18 10:43] arjav2002 commented on #4273
This issue should be closed

[2019-06-18 21:57] cadeyrn commented on #4299
Last good revision: 1c1b6638dad7e0f38e8543aad98520ed8f755eea
First bad revision: ac974e132b79c007c49336545b320b5cfad851de

Caused by: https://github.com/mozilla-mobile/focus-android/commit/ac974e132b79c007c49336545b320b5cfad851de

To be more precise: It's caused by the switch from GV Nightly 68.0.20190520095418 to GV Beta 68.0.20190604110028. Reverting only this change from the mentioned commit "f

[2019-06-18 22:09] cadeyrn commented on #4299
I further bisected. It works with latest revision from v8 branch and GV downgraded to GV Beta 20190520141152. GV Beta 68.0.20190527103257 is the first GV version which causes this bug.

I hope this helps.

[2019-06-21 11:01] GPHemsley opened #4300 "Crash on startup"
## Steps to reproduce
1. Open Firefox Focus.
2. Wait a few seconds.

### Expected behavior
Browser stays up and available for interaction.

### Actual behavior
Browser disappears without doing anything.

### Device information

* Android device: 5.1.1
* Focus version: latest? (I just updated)

[2019-06-23 20:21] yoasif opened #4301 "Tapping on external links on torrentz2.eu with auto opening popups causes Focus to navigate to blank page"
## Steps to reproduce

1. Navigate to https://torrentz2.eu/1d5ccc5139c4ce6814772371478b8560c155ef42
2. Tap link to "linuxtracker.org"

### Expected behavior

http://linuxtracker.org/index.php?page=torrent-details&id=1d5ccc5139c4ce6814772371478b8560c155ef42 is opened

### Actual behavior

Focus navigate to blank page.

It looks like the popup blocker swallows the request to the link I actually want

[2019-06-24 19:14] cpeterso opened #4302 "Update from GV Beta to GV Nightly"
After the Fenix MVP release, Focus should update from GV 68 to GV 70 Nightly so the Graphics team can test WebRender on Android.

Fretboard experiments can't set Gecko prefs (and thus can't enable WebRender) without writing some custom Focus or GV code.

[2019-06-24 19:15] cpeterso commented on #4209
Done

[2019-06-24 19:15] #4209 closed

[2019-06-28 05:01] #4295 closed

[2019-06-28 06:28] cpeterso opened #4303 "my-free-mp3s.com audio does not play"
## Steps to reproduce

1. Load https://my-free-mp3s.com/mp3juice
2. Search for some string.
3. Click a song's ▶️ play button.

### Expected behavior

Audio should play in Focus, like it does in Chrome, Fennec, Fenix, and Reference Browser.

### Actual behavior

Audio does not play in Focus.

### Device information

* Android device: 7.0 and 8.1.0
* Focus version: 8.0.15

[2019-06-28 06:28] cpeterso commented on #4303
This bug was originally reported in https://github.com/webcompat/web-bugs/issues/33646.

[2019-06-28 16:50] niftylettuce commented on #4295
Can we get a release cut @colintheshots to F-Droid etc?

[2019-06-30 05:38] VINOD242 commented on #2045
i want to join this community...

[2019-07-01 04:03] dbekel commented on #2045
@ekager Emily hi, I was trying to publish a branch and a pull request for this fix, but got _'Authentication Failed'_ error, can you please let me know on next steps.

[2019-07-02 16:23] mcomella commented on #2045
@VINOD242 @dbekel – thanks for wanting to help out! @ekager can correct me if I'm wrong but, unfortunately, I do not believe we have the resources to support contributions to Focus at this time. I'd recommend taking a look at [Firefox Preview](https://github.com/mozilla-mobile/fenix) or [Firefox for Fire TV](https://github.com/mozilla-mobile/firefox-tv) if you'd like to hack on an Android-based Fi

[2019-07-02 21:50] snorp opened #4305 "Can't easily open links in Fenix"
https://www.reddit.com/r/firefox/comments/c8b1ty/firefox_preview_not_showing_up_in_firefox_focus/

[2019-07-02 21:51] snorp commented on #4305
@ekager says we should just add Fenix here: https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/utils/Browsers.java#L25

[2019-07-03 10:57] Maccer1 opened #4307 "Some tables are cropped on websites"
## Steps to reproduce
If you open this [link](https://web.archive.org/web/20150520021436/http://www.thermoanalytics.com/support/publications/batterytypesdoc.html) the battery types table will appear cropped on Firefox Focus. Both on desktop mode and mobile mode.
It will appear cropped on portrait and landscape mode as well.

The problem also exists on Firefox Nightly.
### Expected behavior
You sho

[2019-07-03 17:22] ekager commented on #2045
Correct! We are not currently supporting contributions to Focus. Please follow Mike's recommendations if you would like to contribute

[2019-07-06 15:17] shmarquez commented on #1611
I think I'm gonna investigate this

[2019-07-07 02:26] levimatheri commented on #4145
Seems like the teaser should only show if tip is null as in the `updateSubtitle` of [this class](https://github.com/mozilla-mobile/focus-android/blob/c8c886d8620c27c1a626044f8efe7e635affe6b9/app/src/main/java/org/mozilla/focus/fragment/UrlInputFragment.kt). Maybe we could set the show tips to false in SharedPreferences to disable it for this test?

[2019-07-10 13:59] asafh commented on #1362
Hi,
I've implemented a swipe to dismiss over the new (kotlin) codebase. I believe the interaction feels natural for android.
Should I do anything to get this reviewed or just wait patiently?

[2019-07-13 22:29] BugsBunnyBR opened #4311 "Support Browser.EXTRA_HEADERS parameters"
### Why/User Benefit/User Problem
- Developers can use standard Android parameters to open the browser and deliver a better experience when Firefox is the default browser app keeping users session while in the native app and in the browser.
### What / Requirements
- When opening the app, there is a need to check for the headers in the intent and forward it together with the url.

### Acceptance Cr

[2019-07-15 20:52] ekager commented on #1362
Hi @asafh ! Thank you for wanting to contribute but we currently don't have the bandwith on our team to accept feature patches for Focus. Please check out one of our other projects if you want to get involved:
https://github.com/mozilla-mobile/android-components
https://github.com/mozilla-mobile/fenix

[2019-07-20 15:09] Daddoon commented on #4298
I think you should use GeckoView aar insteads, and use it in your app.
See here: https://maven.mozilla.org/?prefix=maven2/org/mozilla/geckoview/

[2019-07-22 04:20] Poopooracoocoo opened #4314 "Better bookmark/autocomplete management"
### Why/User Benefit/User Problem
bookmarks/autocomplete could be a long term storage for the ephemeral browser so you don't have to open it in another browser
### What / Requirements
Searching
Folders
Viewing titles
Opening in a new tab
Rename autocomplete to books
Select multiple
## Acceptance Criteria (how do I know when I’m done?)
when the above is completed.

[2019-07-22 04:27] Poopooracoocoo opened #4315 "keep tabs when Focus goes out of memory"
### Why/User Benefit/User Problem
someone might open a resource intensive app or many apps and then go to firefox focus to discover that their browsing has been wiped
### What / Requirements
Don't wipe browsing when Focus is out of memory
### Acceptance Criteria (how do I know when I’m done?)
When the above is implemented

[2019-07-22 04:30] Poopooracoocoo commented on #1393
I think this is relevant again. I still have to re-enter text when I switch tabs @mcomella @bbinto

[2019-07-22 04:36] Poopooracoocoo commented on #125
I think it should have a clipboard icon. I'm really used to tapping and holding on the url bar to paste and go

[2019-07-22 04:37] Poopooracoocoo commented on #132
@pocmo This happens to me when headers are at the bottom. I think the toolbar of Focus pushes everything down.

[2019-07-22 20:20] mcomella commented on #1393
afaik, we haven't changed the implementation so I'd be surprised if this is broken.

I'm no longer on Focus so CC @colintheshots who I think is still looking at Focus.

[2019-07-23 18:37] dholbert opened #4316 "Focus crashes when I visit dexerto.com article, with what looks like a fdsan abort when AVC video decoder tries to close a file descriptor"
## Steps to reproduce
1. Visit https://www.dexerto.com/overwatch/horrifying-images-show-overwatch-heroes-theyre-old-829590 in Focus

### Expected behavior
No crash.

### Actual behavior
Crash, after page finishes loading.  Crash report:
https://crash-stats.mozilla.com/report/index/45069c35-f43c-4632-ba86-3e4440190723
Logcat snippet from right when the crash happened:
[code]

### Device information

[2019-07-23 18:38] dholbert commented on #4316
In Android Settings, I have "Permissions: No permissions granted" for Focus.

In more-details, it says
[code]

I don't recall explicitly denying storage permission, but it's possible I did. In any case, we should try to be fault-tolerant and fail gracefully (rather than crashing) when this permission is denied.

[2019-07-28 06:10] Bunnicula2 opened #4317 "Enable use of about:config"
### Why/User Benefit/User Problem
There are many settings that can be tweaked on about:config in order to improve user privacy, sometimes at the sacrifice of security. For example, I think it would be unrealistic to expect an option to turn off Safe Browsing in the Privacy & Security menu, but I'd nevertheless love to be able to turn it off.

### What / Requirements / Acceptance Criteria (how do I

[2019-07-28 22:47] karlcow opened #4318 "www.trenitalia.com - search results are redirected to the previous page entered."
## Steps to reproduce

1. Go to https://mozilla.org/
2. Enter https://www.lefrecce.it/msite/?lang=it#search?noOfAdults=1&ynFlexibleDates=off&arrivalStation=Roma%20(%20Tutte%20Le%20Stazioni%20)&selectedTrainClassification=&tripType=on&selectedTrainType=tutti&departureStation=Venezia%20S.%20Lucia&departureTime=07&departureDate=29-07-2019&noOfChildren=0

### Expected behavior

Get the search results.

[2019-07-28 22:47] karlcow commented on #4318
Previously reported on https://github.com/webcompat/web-bugs/issues/36301

[2019-07-30 00:04] niftylettuce commented on #4295
@colintheshots 	can you please release a new version?

[2019-07-31 14:53] ViktorSveins opened #4319 "Unable to record and no error msg when opened in (FB) Messengers in-app browser"
## Steps to reproduce
Get sent or send link to https://voice.mozilla.org/en on android (fb) Messenger app.
With Messenger settings set so that links opened in Messenger are opened in the default in-app browser.
Open the aforementioned link in Messenger.
Donate voice -> press microphone.

### Expected behavior
Everything works as normal or Something does not work and an error message is shown.

###

[2019-07-31 20:30] dholbert commented on #4316
FWIW, I can't reproduce this in similarly-configured Fenix ("Firefox Preview").  Specifically, I denied the "Storage" permission in the Android permissions section for Fenix, and then tried launching Fenix, and I was able to load the article just fine there.  However, it still crashes on Focus (just retested that to be sure the article didn't change.)

[2019-07-31 21:12] colintheshots commented on #4316
Did you receive any stacktraces beginning with "E Something" where it says "D StrictMode". The log you sent in this report is simply a diagnostic warning about writing to disk in a way that slows down the program. It didn't cause the crash.

[2019-07-31 21:34] dholbert commented on #4316
Ah, sorry -- you're right, I was led astray by that strictmode logging.

Here's what I think is the actual crash:
[code]

[2019-07-31 21:35] dholbert commented on #4316
(Looks like it's something to do with media & in particular the AVC codec.)

[2019-07-31 21:37] dholbert commented on #4316
Turns out, I still hit this crash even after enabling storage Android permission for Focus and restarting.

(The storage permission was entirely a red herring -- I had initially thought it was related due to the StrictMode logging looking crash-ish, but I was wrong. Thanks @colintheshots  for noticing)

[2019-07-31 21:50] dholbert commented on #4316
Here's a snippet of logcat from me reproducing it again:
[code]

This time, there's no AVC logging directly adjacent to the `E fdsan` line, though there is some `aac.decoder` logging recently before it. So, seems conceivable that this is AAC-decoder-related instead.

[2019-07-31 22:20] colintheshots commented on #4316
So this looks like a GeckoView content crash. The latest production Focus is currently on a newer GeckoView that seems to fix the bug.

[2019-08-01 03:18] dholbert commented on #4316
I received a Focus update today (after my earlier comments here), but the updated version was still using GeckoView version 65.

I left the Focus beta channel and uninstalled/reinstalled Focus (now from the Production channel rather than Beta), which seems to have given me a WebView-based Focus (UA string has "Chrome 75.0.3770.143" near the end), and I can no longer reproduce.

So this seems to in

[2019-08-01 03:18] #4316 closed

[2019-08-01 13:19] asafh commented on #1362
Hi @ekager, that's unfortunate but no worries. I'll look into supporting my focus use case within fenix.

Cheers

[2019-08-02 06:04] Bunnicula2 opened #4320 "Disable Google SafeBrowsing"
Using Firefox Klar 8.0.15 from F-Droid on Android 7.1. Apologies if there's a newer version where this can be mitigated by the user.

### Why/User Benefit/User Problem
Google SafeBrowsing makes browsing more secure from malware. Though, Firefox Focus is a privacy-focused browser. Therefore if there's a tradeoff between privacy and security, users should be allowed to choose the side of privacy.

I

[2019-08-02 09:11] dlicse opened #4321 "MainActivity changes its state after a screen orientation change (version v8.0.9)"
When I change the orientation of the device screen, changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and they are paired (before, after), (before, after) ...

-- first case --
It loses the scroll position
![2019-07-31 20-09-21_before](https://user-images.githubusercontent.com/53469180/62358868-ead0bd80-b515-11e9-816c-1

[2019-08-02 19:19] cpeterso opened #4322 "Upgrade Focus to GeckoView 69 Beta"
Fenix Nightly updated from GV 68 Beta to GV 69 Beta. We should also update Focus because it has more users than Fenix, atm.

I will ask Dylan if he is still responsible for updating GV in Focus.

I copied this task checklist from Focus's GV 68 Beta issue #4225:

- [ ] GV team update Focus 8.0 to GV 69 Beta
- [ ] Fenix team review/approve pull request and create a new build
- [ ] Release notes (Ves

[2019-08-04 19:53] Patil2099 commented on #4286
@dector  Can I work on this? I just have to replace SearchEngineManager.load() with SearchEngineManager.loadAsync() throughout the program ?

[2019-08-06 12:29] dector commented on #4286
@Patil2099 Yes, this is just a renaming. :)

[2019-08-06 14:28] datalossdetector opened #4324 "Unexpected behaviours after a screen orientation change (reported by activity)"
I developed an automatic test case generation tool and it detected these problems in your app.
I would like to know if you consider them as failures and, if not, why. Thanks for your collaboration.

1) When I change the orientation of the device screen, MainActivity changes its state. Below there are different examples: the screenshots were taken before and after the screen orientation change and

[2019-08-07 07:31] MarcelTUC opened #4325 "Firefox Klar - Design Patterns - Thesis Survey"
Ladies and Gentlemen,
as part of my master thesis at the TU-Chemnitz (Germany) in Applied Computer Science (Professorship Operating Systems, Supervision Dr. Marcus Hilbrich) I search for design patterns in Open Source Android applications and investigate how they got into the source code. If you don't know what design patterns are, that's no big deal. You can still support me.

One of the applicat

[2019-08-07 13:56] #4319 closed

[2019-08-07 13:59] ViktorSveins commented on #4319
Accidentally submitted to focus-android -> was supposed to be submitted to mozilla/voice-web

[2019-08-08 07:12] karlcow opened #4326 "viewport is moving when interacting with the screen."
Initially reported on https://github.com/webcompat/web-bugs/issues/36736

1. Go to https://wizardsuniteworld.com/spell-caster/
2. Try to draw a shape

Expected:
draw the shape leaving a blue trail without the screen moving.

Actual:
The screen is moving.

This is not happening in Firefox Fennec and in Firefox Fenix (Preview)

[2019-08-08 08:37] leplatrem opened #4327 "Wrong Remote Settings URL"
## Steps to reproduce

N/A

### Expected behavior

The Remote Settings URL is https://firefox.settings.services.mozilla.com/v1

### Actual behavior

Focus doesn't go through the Remote Settings CDN and put our servers under heavy load :(
https://bugzilla.mozilla.org/show_bug.cgi?id=1571615

### Device information

* Android device: ?
* Focus version: ?

[2019-08-08 17:25] #4327 closed

[2019-08-08 18:59] amanbora commented on #4326
I would like to contribute to this issue, I'm new to android so any other specification about the problem would be highly beneficial. Thanks!

[2019-08-09 04:17] vesta0 commented on #4322
I think we should do this as soon as possible but I've been told that Dylan is no longer working on this. @cpeterso would you be able to find out who can help us with this?

[2019-08-09 04:59] vesta0 opened #4329 "Create a tip in Focus for launch in private mode"
@sblatz commented on [Thu Aug 08 2019](https://github.com/mozilla-mobile/fenix/issues/4623)

We should utilize [homescreen tips](https://github.com/mozilla-mobile/focus-android/wiki/Homescreen-Tips) to create a tip in Focus that will tell users about our private mode in Fenix.

We just need copy for what this string should say.

@mheubusch to provide that?

---

@sblatz commented on [Thu Aug 08 20

[2019-08-09 18:03] cpeterso commented on #4322
I am told that @colintheshots is now responsible for updating Focus's GV versions and that Dylan is available to help with any GV integration issues.

[2019-08-14 14:34] #4145 closed

[2019-08-16 19:11] mheubusch commented on #4329
Proposed copy: Stay focused. The new Firefox Preview is a full-fledged mobile browser you can customize for always-on private browsing.

[2019-08-18 07:31] emacksnotes opened #4332 "System-wide accessibility settings for font size not honored"
## Steps to reproduce

`Settings` -> `Accessibility` -> `Font Size` -> {Set it to `Largest` possible setting}

### Expected behavior

Firefox Focus _used to_  honor that setting.  The font size _used to be_ larger and I could read the webpages without any strain.  Lately--i.e., in the last 3 months or so--the release builds failed honoring my phone-wide settings.  As a user who 40+ and wears readi

[2019-08-19 20:54] vesta0 opened #4335 "Navigating to Settings=>Mozilla=>About Firefox Focus returns a blank page"
## Steps to reproduce
-Open Focus on GeckoView
-Go to Settings=>Mozilla=>About Firefox Focus

### Expected behavior
-See the about page

### Actual behavior
-Returns a blank page

**This is a [GV bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1556540) but we can address it with a workaround **

[2019-08-19 20:55] vesta0 opened #4336 "Remove the Focus Survey homescreen tip"

[2019-08-19 20:58] cadeyrn commented on #4335
Duplicate of #4299.

[2019-08-19 21:01] vesta0 opened #4337 "Update the tracking protection blocklists"

[2019-08-20 20:38] runboy93 opened #4339 "focus-android-8.0.16.zip and "Trojan.Script.Generic1""
Results for focus-android-8.0.16.zip, it doesn't show exactly where it was found, and only one detection engine found it:

https://www.virustotal.com/gui/file/220e5db9f3a57d9ddc1bf8f503e1be01b7ffbfda4b86477054b4978bc80a0788/detection

Earlier focus-android-8.0.15.zip for example doesn't have this as seen on this report, same detection engine "Jiangmin" shows nothing:

https://www.virustotal.com/gu

[2019-08-22 15:16] ebalazs-sv opened #4340 ""REMOVE ALL WEBSITES" button from Exceptions section flickers"
## Steps to reproduce
1. Switch off the TP toggle for one or more websites;
2. Go to Settings -> Privacy & Security -> Exceptions;
3. Tap the 3 dots button in the top-right corner. Select "Remove"
### Expected behavior
"Remove" option is displayed. After selecting it, the list of websites shows checkboxes for each item.
### Actual behavior
"REMOVE ALL WEBSITES" button flickers.

### Notes
[Video](

[2019-08-23 05:38] ebalazs-sv opened #4341 "Default option from Block cookies pop-up is not selected"
## Steps to reproduce
1. Go to Settings > Privacy & Security;
2. Tap the "Block cookies" option;
3. Observe the default selection;
### Expected behavior
"Block 3rd-party Tracker cookies only" is set by default on GeckoView.
### Actual behavior
"Block 3rd-party Tracker cookies only" is not selected in the Block cookies pop-up.

### Device information

* Android device: Samsung Galaxy S8 (Android 9)

[2019-08-23 08:37] sv-sdeiac opened #4342 "The app crashes by tapping on 'Open and Erase' button when you are on Settings menu"
## Steps to reproduce
1. Open Firefox Focus;
2. Load a webpage;
3. Enter on the Settings menu;
4. Press the home button;
5. Pull down the notification tray and tap on the 'Erase and Open' button;

### Expected behavior
The initial screen of Focus is displayed, with the previous webpage deleted;

### Actual behavior
The app crashes when you 'Erase and Open' from the Settings Menu;

### Device infor

[2019-08-23 17:15] cpeterso commented on #4006
GeckoView doesn't use a separate content process for each tab yet (aka "e10s-multi": https://bugzilla.mozilla.org/show_bug.cgi?id=1530770). So if one tab crashes, then it is expected that all tabs will crash in Focus using GV.

[2019-08-28 15:42] 4ut0-M-4t commented on #4317
@Bunnicula2, you'd better use Prefs.js.

[2019-08-29 04:52] Bunnicula2 commented on #4317
How do I edit prefs.js on Android? Is this possible without root and adb? If not, that doesn't solve my problem unfortunately.

[2019-08-30 18:36] evacomaroski commented on #1743
![clownflare](https://user-images.githubusercontent.com/6966515/64043904-3e164a00-cb6e-11e9-95d9-81eef7ef82ad.png)

[2019-09-08 14:35] TPS commented on #2074
Could this be expanded to _all_ native apps to handle the URL?  That would fall inline w/ @tasomaniac  _(Would you be interested in helping out?)_ [OpenLinkWith](https://github.com/tasomaniac/OpenLinkWith)'s handling (https://github.com/mozilla-mobile/focus-android/issues/2074#issuecomment-361511952 & https://github.com/mozilla-mobile/focus-android/issues/2074#issuecomment-366984673) of such, whil

[2019-09-10 06:26] tasomaniac commented on #2074
@TPS thanks for mentioning me here. @pocmo I believe the behavior described in my blog post has been changed after some API level. At least at API level 27+, Android now returns all apps if you use MATCH_ALL flag. That's what I observed at least while working on Open Link With.

[2019-09-10 10:35] softvision-sergiulogigan opened #4343 "Focus crashes when accessing bloomberg.com"
**Browser / Version**
Firefox Focus 9.0

**Operating System**
OnePlus 6 (Android 9) - 1080 x 2280 pixels, 19:9 ratio (~402 ppi pixel density)

**Prerequisites:**
- None

**Steps to reproduce:**
1. Navigate to: https://www.bloomberg.com/

**Expected Behavior:**
The page is opened.

**Actual Behavior:**
The tab is crashing

**Notes:**
1. The issue is not reproducible on Chrome.
2. The issue is not r

[2019-09-10 15:11] pocmo commented on #2074
Thank you @tasomaniac!

I filed this as an issue in our Android Components repository:
https://github.com/mozilla-mobile/android-components/issues/4369

As part of this issue we should migrate Focus to use the component instead of its own implementation.

[2019-09-12 06:24] tasomaniac commented on #2074
Sounds good

[2019-09-12 07:37] softvision-sergiulogigan commented on #4343
https://giphy.com/ also.

[2019-09-13 18:35] vesta0 commented on #4336
@colintheshots can we close this? I think you completed this before the last release.

[2019-09-13 18:35] vesta0 commented on #4337
@colintheshots can we close this? I believe you did this before the last release.

[2019-09-13 18:36] vesta0 commented on #4335
This is also fixed. @colintheshots can we close this?

[2019-09-13 18:36] vesta0 commented on #4329
@colintheshots can we pull this into the next release please?

[2019-09-13 18:37] vesta0 commented on #4322
Done

[2019-09-13 18:37] #4322 closed

[2019-09-13 18:37] vesta0 commented on #4305
@colintheshots can we close this? I believe you fixed this before the last release.

[2019-09-13 18:38] vesta0 opened #4344 "Upgrade Focus to GeckoView 71."
@colintheshots working on this.

[2019-09-14 06:29] erkin opened #4345 "HTML over FTP not always reachable"
## Steps to reproduce
Navigate to an HTML page over FTP.

### Expected behavior
The page renders successfully.

### Actual behavior
Depends.

#### On WebView-based Focus/Klar
  * All FTP hyperlinks are ignored (ie pressing them does nothing).

#### On GeckoView-based Focus/Klar
  * Access through a hyperlink in a web page: The page renders correctly, without any problem.
  * Access through a hyper

[2019-09-15 18:16] Aman199825 commented on #4075
I would like to work on this issue.May I ?

[2019-09-16 04:52] kamaleshpati commented on #4075
i would like to work on it..can i?

[2019-09-19 11:25] runboy93 opened #4357 "Firefox Focus v8.0.17 aarch64 crashes during start"
## Steps to reproduce

Install "app-focus-aarch64-release-unsigned.apk" from taskcluster builds.

Start app, it flashes and crashes, error report option shows.

### Expected behavior

It shouldn't crash at all, atleast v8.0.16 version doesn't do that or earlier ones.

### Actual behavior

v8.0.17 (aarch64) flash and crash after starting it up.

### Device information

* Android device: OnePlus 3T

[2019-09-19 17:23] ldavison commented on #4357
- Android device: Pixel 3 (Android 10)
- Focus version: v8.0.17 (Play Store Beta channel release)

Crashes on launch

[2019-09-19 17:47] ikanakova commented on #4357
Android device: Nokia 6.1 (Android 9)
Focus version: v8.0.17 (Play Store Beta channel release)

[2019-09-20 00:19] allanf181 commented on #4357
Android device: Moto X4 (Android 9)
Focus version: v8.0.17 (Play Store Beta channel release)

[2019-09-20 06:52] ebalazs-sv opened #4358 "Focus 8.0.17 GV 71 crashes at start"
## Steps to reproduce
1. Install Focus 8.0.17 GV 71;
2. Launch Focus;

### Expected behavior
Focus is launched.

### Actual behavior
Focus crashes.

### Device information

* Android device: Pixel 2 (Android 9), Samsung Galaxy S8 (Android 9)
* Focus version: Focus 8.0.17 GV 71

[Crash report](https://drive.google.com/file/d/1ZnwiPljLxI4Fm6IguhD-SESKRTe4OiWF/view)

A Bugzilla bug was filed: https:/

[2019-09-20 11:56] TPS commented on #4358
Duplicates #4357?

[2019-09-20 17:44] colintheshots commented on #4358
Yes, this is a duplicate of #4357. 8.0.18 has been pushed, but there will be an 8.0.19 for a blank white page issue as well soon.

[2019-09-20 17:44] #4358 closed

[2019-09-20 17:45] colintheshots commented on #4357
The crash was fixed in 8.0.18, but there will be an 8.0.19 for a blank page issue on certain devices as well soon.

[2019-09-20 17:45] #4357 closed

[2019-09-20 17:46] colintheshots commented on #4344
This was completed in 8.0.17 and 8.0.18. There will also be an 8.0.19 to deal with a blank pages issue in the current GeckoView.

[2019-09-20 17:46] ldavison commented on #4357
Confirmed, fixed in 8.0.18. Thanks!

[2019-09-20 17:47] colintheshots commented on #4335
Yes, this was fixed. Closing.

[2019-09-20 17:47] #4335 closed

[2019-09-20 17:49] colintheshots opened #4360 "Blank pages appear in Focus 8.0.18 on Pixel devices"
## Steps to reproduce
1. Open Focus 8.0.18 on a recent Pixel or Nexus device.
2. Search for "cats" or anything.

### Expected behavior
Google page loads and is visible.

### Actual behavior
Page appears to be an empty white page.

### Device information

* Android device: Pixel 3 XL running Android 10
* Focus version: 8.0.18

[2019-09-20 17:49] colintheshots commented on #4360
This will be fixed by upgrading GeckoView to the latest 71 in 8.0.19.

[2019-09-20 17:52] #4299 closed

[2019-09-20 20:45] colintheshots commented on #4360
8.0.19 is out for testing in beta now.

[2019-09-20 20:48] colintheshots commented on #4343
Focus 9.0 is not real. It will die a horrible death in Mordor, in the fires of Mount Doom.

[2019-09-20 20:48] #4343 closed

[2019-09-20 22:29] colintheshots commented on #4360
It seems the fix didn't work. I'll keep investigating on Monday.

[2019-09-21 00:23] guimspace commented on #4360
Not only Pixel devices. Mine is a ZenFone 3. Same Focus version.

[2019-09-21 01:56] weedy commented on #4360
LG G6, also white not loading

[2019-09-21 15:06] ikanakova commented on #4360
Same here.
Android device: Nokia 6.1 (Android 9)
Focus version: v8.0.19 (Play Store Beta channel release)

[2019-09-21 16:46] ckempo commented on #4360
Same here too.

The previous beta did nothing but crash the app. The most recent update has resolved that, but won't load any page content.

Android device: Nokia 7 Plus (Android 9)
Focus version: 8.0.19 (Build #332631851 🦎 71.0a1-20190920094918 - Play Store Beta channel release)

[2019-09-22 05:34] Poopooracoocoo opened #4362 "Pages do not load and all have an insecure connection"
## Steps to reproduce
Type anything in the url bar
### Expected behavior
Page navigation or search
### Actual behavior
Nothing appears on screen
Insecure connection
### Device information

* Android device: Galaxy S5
* Focus version: 8.0.19 (Build #332631850 🦎 71.0a1-20190920094918)
No DNS. No VPN. Default Marshmallow.

[2019-09-22 05:38] Poopooracoocoo opened #4363 "Move to SD card"
### Why/User Benefit/User Problem
MOAR SPACE (=^･ω･^=)
### What / Requirements
move to SD card
### Acceptance Criteria (how do I know when I’m done?)
When you can move it to your SD card

[2019-09-22 05:40] Poopooracoocoo commented on #4360
Is #4362 the same? It didn't look like the same thing as my pages have an insecure connection.

[2019-09-22 05:43] Poopooracoocoo opened #4364 "Make option to use WebView user facing"
### Why/User Benefit/User Problem
GeckoView doesn't have the best performance has has a possible video player, and frankly, Android WebView/Chrome is better
### What / Requirements
Option in settings to use webview
### Acceptance Criteria (how do I know when I’m done?)
When user can switch between geckoview and webview

[2019-09-22 05:52] cadeyrn commented on #4364
There is already an option. On focus:test you can switch between WebView and GeckoView.

[2019-09-22 10:20] guimspace commented on #4362
Duplicate of #4360.

[2019-09-22 12:16] Poopooracoocoo commented on #4364
@cadeyrn oh cool! Thanks! I wish it were a user facing setting.

[2019-09-22 15:09] ckempo commented on #4360
Yeah, to my eyes #4362 is a dupe.

[2019-09-22 16:51] #4362 closed

[2019-09-22 16:52] Poopooracoocoo commented on #4360
I wasn't sure if it was actually a dupe as no one else had mentioned the insecure connection thing

[2019-09-22 19:50] colintheshots commented on #4360
I have a proposed fix PR posted.

[2019-09-23 09:38] Poopooracoocoo opened #4366 "Crashes once something is downloaded"
## Steps to reproduce
Open Focus
Navigate to APK Mirror
Download an APK
### Expected behavior
It would download and let me continue browsing
### Actual behavior
Focus crashes after APK has finished downloading
### Device information

* Android device: Galaxy S5
* Focus version: 8.0.19 system webview

[2019-09-23 17:10] ckempo commented on #4360
Just received 8.0.20 (Build #332661411) via the Play Store and can confirm all now seems well. Thanks @colintheshots!

[2019-09-24 05:31] ahjolinna commented on #4366
Same on Sony Xperia XZ3,
Focus version: 8.0.20 (Build #332661411 🦎 71.0a1-20190920094918)

[2019-09-24 07:38] ebalazs-sv commented on #4342
This is still reproducible on Focus 8.0.20 GV 71 on Pixel 2 (Android 9).
Also reproducible if in step 5, the 'Open' button is tapped.

[2019-09-24 07:44] ebalazs-sv commented on #4341
This is still reproducible on Focus 8.0.20 GV 71 with Pixel 2 (Android 9).

[2019-09-24 08:04] ebalazs-sv opened #4368 "JavaScript alert does not pop up on GV 71"
## Steps to reproduce
1. Install and launch Focus 8.0.20 GV 71
2. Go to Settings > Privacy & Security
3. Disable "Block JavaScript" setting
4. Go to: https://rpappalax.github.io/testapp and tap "Click here for JS alert" button

### Expected behavior
The alert does pop up.
### Actual behavior
The alert does not pop up.
### Device information

* Android device: Pixel 2 (Android 9)
* Focus version: 8

[2019-09-24 08:39] ebalazs-sv opened #4369 "About Firefox Focus/Your Rights page flashes when tapped"
## Steps to reproduce
1. Launch Firefox Focus;
2. Tap on 3-dots button> Settings menu> Mozilla About Firefox Focus;
3. Tap "About Firefox";

### Expected behavior
Focus description shows up in focus:about.
### Actual behavior
A white flash is visible before the focus:about description is displayed.
### Device information

* Android device: Pixel 2 (Android 9), Pixel 3 (Android 9)
* Focus version:

[2019-09-24 13:55] ebalazs-sv opened #4371 "The floating text toolbar is in the wrong place on GV 71"
## Steps to reproduce
1. Go to a website (i.e. cnn.com) and select some plain text;
2. Observe the floating text selection toolbar.

### Expected behavior
The floating text selection toolbar appears above the selected text.
### Actual behavior
The floating text selection toolbar is placed in the top left side of the page.
### Device information

* Android device: Pixel 2 (Android 9);
* Focus versi

[2019-09-24 15:18] pm-pm commented on #4360
Here in Play Store only 8.0.16 is available. (Firefox Klar)
Could someone please check this.

[2019-09-25 05:53] ebalazs-sv commented on #4366
I can reproduce this on Focus 8.0.20 GV 71 with Pixel 2 (Android 9).

[2019-09-25 17:20] Poopooracoocoo opened #4372 "focus:test disabling has no effect"
## Steps to reproduce
Navigate to focus:test
Tap on the slider
Let Focus restart
Go to focus:test to see what it's using
### Expected behavior
It would turn off
### Actual behavior
It stays on
### Device information

* Android device: Galaxy S5
* Focus version: 8.0.20 (Build #332681235 🦎 71.0a1-20190920094918)

[2019-09-25 17:22] Poopooracoocoo commented on #3845
This would be so great! Especially for sites that manipulate history like Outlook! I can never escape Outlook.

[2019-09-25 17:23] Poopooracoocoo opened #4373 "when top bar is shown the website should resize"
### Why/User Benefit/User Problem
This makes bottom navigation much less of a pain
### What / Requirements
The title?
### Acceptance Criteria (how do I know when I’m done?)
The title?

[2019-09-25 17:28] Poopooracoocoo opened #4374 "move erase to top"
### Why/User Benefit/User Problem
Fewer accidental erases
### What / Requirements
Move erase button to the top beside menu icon
### Acceptance Criteria (how do I know when I’m done?)
When the FAB is gone and the erase button is beside the menu button

[2019-09-25 17:40] Poopooracoocoo commented on #3646
Fennec lets you tap and hold.

[2019-09-25 19:49] colintheshots commented on #4366
I should have a fix quickly. It looks like I assumed there would still be a FileProvider in the manifest merger from the A-C upgrade and there wasn't.

[2019-09-25 20:05] colintheshots commented on #4342
It looks like this is the same Display Already Acquired issue that's been plaguing Fenix. We need to ensure that re-opening Focus doesn't create a new display for the same session.

[2019-09-26 08:18] gzodx commented on #3375
all i had to do was decrease my kotlin version to

ext.kotlin_version = '1.3.41'

[2019-09-26 20:48] guimspace commented on #4372
Try clearing the data or reinstalling the app to fix it.

[2019-09-27 17:23] pihug12 opened #4375 "APK for v8.0.20"
I have the "blank pages" bug with v8.0.19. Can you please provide the APK files for v8.0.20 (https://github.com/mozilla-mobile/focus-android/releases/tag/v8.0.20)?

Thanks!

[2019-09-27 21:45] Poopooracoocoo commented on #4372
@guimspace Just reinstalled. No effect. :/

[2019-09-30 03:35] vesta0 commented on #4371
I believe this has been fixed.

[2019-10-01 15:04] Krawei commented on #1528
It seems that there was some progress here. They current F-Droid-version is v8.0.15, the Play Store one's is v8.0.16.

So I guess you fixed your build issues so far and you'll close the "app's version gap" soon? :). What happened in the meantime? I'm curious :).
I think you can close this ticket now.

[2019-10-01 15:28] pm-pm commented on #4375
I also need a working 8.0.20 apk.
Could someone please compile it. :-)
Thanks.

[2019-10-02 02:48] karlcow opened #4378 "magiquiz.com crashes firefox focus"
This is a copy of the report on https://github.com/webcompat/web-bugs/issues/38333

**URL**: https://www.magiquiz.com/quiz/what-percentage-of-your-brain-do-you-use/2/?no_intro_page

**Browser / Version**: Firefox Mobile 68.0 (Focus)
**Operating System**: Android 8.0.0
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: images did not display
**Steps to Reproduce**:
Cl

[2019-10-04 09:12] VivekKumarSingh07 opened #4385 "Error while bulding gradle file"
## Steps to reproduce
Fork and tried to open the project in Android Studio.

### Expected behavior
The app running on mobile.

### Actual behavior
Could not find method spotbugs() for arguments [build_60ewkx58bi9thpcu9h7aqswha$_run_closure13@59efc66c] on project ':app' of type org.gradle.api.Project.

[2019-10-06 05:51] VivekKumarSingh07 commented on #4385
Android studio prompts to update the Plugin with the message "Plugin Update Recommended". It is not advised to update the Plugin because spotBug runs on previous versions of Gradle.

[2019-10-06 05:55] #4385 closed

[2019-10-06 13:02] adityaoberai commented on #4374
I want to try and fix this issue

[2019-10-07 06:55] shubhamkumar1739 commented on #4269
I have noticed that the app crashes even on adding a valid URL to home screen

[2019-10-07 06:55] shubhamkumar1739 commented on #4269
Can I work on fixing this issue?

[2019-10-07 10:59] shubhamkumar1739 opened #4387 "Focus Crashes on Adding to Home Screen"
![Screenshot_2019-10-07-12-15-24-448_com miui bugreport](https://user-images.githubusercontent.com/40279181/66307628-7428b580-e8f4-11e9-8063-3e6bf39cc9c2.png)
## Steps to reproduce
Open What's new -> Before the page opens and as soon as possible (otherwise add to home screen gets disabled), Click Add to Home Screen -> Click ADD

### Expected behavior
Should not crash
### Actual behavior
Applicatio

[2019-10-07 11:17] shubhamkumar1739 opened #4388 "Find in page : The number of results doesn't get cleared when search field is cleared"
## Steps to reproduce
Search for some text in "Find in page" -> Clear search text

### Expected behavior
The number of matches being zero for blank text, the text field indicating number of matches must be zero
### Actual behavior
It indicates the previous number of matches
### Device information

* Android device: Redmi Note 4
* Focus version: 8.0.22
![Screenshot_2019-10-07-16-41-54-957_org mozil

[2019-10-07 11:18] shubhamkumar1739 commented on #4388
I wish to work on this

[2019-10-07 11:21] shubhamkumar1739 commented on #4387
Can I work on this?

[2019-10-08 12:57] weedy commented on #4375
https://www.apkmirror.com/apk/mozilla/firefox-focus-private-browser/firefox-focus-private-browser-8-0-20-release/

[2019-10-08 14:12] pm-pm commented on #4375
Thanks. :-)
But this is "Firefox Focus 8.0.20",
I need "Firefox Klar 8.0.20" to preserver my setting.
 [Note: Firefox Klar is the Version for DE, AT, CH)

[2019-10-08 16:56] pm-pm commented on #4375
Or the new Version 8.0.22.

I have installed the bug version "Firefox Klar 8.0.19" and have no chance to update to error free version.

[2019-10-08 18:56] gaurav9822 opened #4390 "Gradle sync failed due to spotbugs plugin"
I've imported focus-android in android studio 3.5.1 with a built-in Gradle.

Getting the following exception while Gradle sync:
`org.gradle.api.plugins.quality.internal.AbstractCodeQualityPlugin.configureConfiguration(Lorg/gradle/api/artifacts/Configuration;)V`

Stacktrace for reference:-

[code]

[2019-10-08 19:09] weedy commented on #4375
I can barely find any Klar apks on google. I think they aren't building it by default since updates seem to be so spread out https://archive.mozilla.org/pub/android/focus/

[2019-10-08 21:26] colintheshots commented on #4378
This looks fixed in 8.0.22.

[2019-10-08 21:27] colintheshots commented on #4372
This was always intended primarily for QA to test different rendering engines. It's not a user-facing feature.

[2019-10-08 21:27] #4372 closed

[2019-10-08 21:29] colintheshots commented on #4375
8.0.22 is posted. We wanted something which could go to production and which didn't regress in a number of ways.

[2019-10-08 21:29] #4375 closed

[2019-10-08 21:29] colintheshots commented on #4366
Fixed in 8.0.22.

[2019-10-08 21:30] colintheshots commented on #4364
WebView is causing problems with a 0-day on Friday. It won't be a user facing setting.

[2019-10-08 21:30] #4364 closed

[2019-10-08 21:32] colintheshots commented on #4337
This was completed.

[2019-10-08 21:32] #4337 closed

[2019-10-08 21:32] colintheshots commented on #4336
This was completed.

[2019-10-08 21:32] #4336 closed

[2019-10-08 21:45] pm-pm commented on #4375
It works! It works again! :-)
Thanks very much.

[2019-10-08 23:01] wisniewskit opened #4391 "Considering supporting Fenix-style font inflation."
Sites appear to have tiny fonts on Focus (like Fennec), but unlike Fenix as of https://github.com/mozilla-mobile/fenix/issues/4458

Users are reporting this as a difference with how Chrome renders pages, as per https://webcompat.com/issues/41531

This will apparently be a GeckoView option Focus may get for free, or may have to opt into, based on the discussion above. It might be worth aligning wit

[2019-10-09 01:11] #4366 closed

[2019-10-09 01:13] Poopooracoocoo commented on #4372
😢

I still prefer the system webview

[2019-10-09 01:13] Poopooracoocoo commented on #4372
@colintheshots
😢
I still prefer the system webview

[2019-10-09 06:13] karlcow opened #4392 "mobile.bet365.com - page in limbo state"
This was reported at https://github.com/webcompat/web-bugs/issues/41454

1. With Firefox Focus on Android,
2. go to https://mobile.bet365.com/

The page starts initializing but never finishes.
the console.log displays

[code]

There are a couple of places where this could come from
https://searchfox.org/mozilla-central/search?q=The+operation+is+insecure.&path=

but we do not get the message on Fen

[2019-10-09 06:24] relan commented on #1528
Now that we need to build GeckoView (Mozilla's builds include proprietary Google library, so we can't use them), the issue described in this ticket is just a tiny nuisance. It's still valid though.

One volunteer managed to build Gecko 68 without proprietary stuff (for Fennec 68.x) , another one used his work to build Klar 8.0.15.

[2019-10-09 12:08] Diana-Rus opened #4393 "Black "about:" pages when browser is put in foreground"
## Steps to reproduce
1. Open Focus browser.
2. Insert into URL about:support.
3. Tap the device's Home button.
4. Open recent apps list.
5. Choose Focus app.
### Expected behavior
The information from about:support page is displayed.
### Actual behavior
The about:support page is black.

Notes:
*By refreshing the page or searching after "about:support" page again will display the information again

[2019-10-09 14:22] Diana-Rus opened #4394 "The newly added engine is present in "Search Engine" list only after re-opening the app"
## Steps to reproduce
1. Open Firefox Focus and navigate to "Settings"/"Search"/"Search Engine".
2. Tap on "+ Add another search engine".
3. Insert a name for the search engine and the patch with the correct fromat as per example.
4. Tap on "Save".
### Expected behavior
The newly saved engine in present in the list.
### Actual behavior
The newly saved engine in present in the list only after closi

[2019-10-09 14:35] Diana-Rus opened #4395 "URL Autocomplete - The "back" action does not redirect the user correctly"
## Steps to reproduce
1. Open Firefox Focus and navigate to "Settings"/"Search"/"URL Autocomplete".
2. Tap on the "Learn More" SUMO link.
3. Tap on the "Back" of the device.
### Expected behavior
The user is sent back to "URL Autocomplete" section.
### Actual behavior
The user is sent to the first page.
### Device information

* Android device: Google Pixel 2 (Android 9)
* Focus version: Focus / K

[2019-10-10 03:30] karlcow opened #4396 "select not working on Firefox Focus"
## Steps to reproduce

    Navigate to https://www.hardlopen.nl/evenementen?naam=
    Dismiss the ads popups and accept cookies.
    Tap "Filter" button.
    Tap "Afstand" drop-down.

### Expected behavior
drop-down opens

### Actual behavior
drop-down does nothing

### Device information

* Android device: Pixel 2 Android 10
* Focus version:  Firefox Focus 8.0.20 (🦎 71.0a1-20191003093956)

Workin

[2019-10-10 07:57] Diana-Rus opened #4397 ""Safe browsing" section is missing from "Settings"/"Privacy & Security""
## Steps to reproduce
1. Open Firefox Focus browser.
2. Go to  3 dots from top right corner "Menu"/"Settings"/"Privacy & Security"
### Expected behavior
Section "Safe browsing" is present.
### Actual behavior
There is no "Safe browsing" section displayed in "Privacy & Security".
### Device information

* Android device: Google Pixel 2 (Android 9)
* Focus version: Focus / Klar - v8.0.22

Note:
1. T

[2019-10-10 08:46] Diana-Rus opened #4398 ""about:" pages show "Insecure Connection" when accessing icon from top left corner of the browser beside URL"
## Steps to reproduce
1. Open Firefox Focus browser.
2. Tap in the URL bar.
3. Search after an about page. (about:about, about:support)
4. Tap on the triangle with exclamation point icon from top left corner of the browser beside URL bar.
### Expected behavior
The doorhanger displays a secure connection.
### Actual behavior
The doorhanger displays an insecure connection.
### Device information

*

[2019-10-10 11:00] Diana-Rus opened #4399 "The link from "Your Rights" section does not redirected based on chosen browse language"
Prerequisites:
* Change browser language from English to a different one.
### Steps to reproduce
1. Open Firefox Focus and navigate to "Menu"/"Settings"/"Mozilla"/"Your Rights".
2. Tap on one of the available links.
### Expected behavior
All links redirect to pages translated in the chosen language.
### Actual behavior
All links are redirected to the English version of the pages.
### Device inform

[2019-10-10 11:09] Diana-Rus opened #4400 "The original searched term is not present in the URL bar after a search is executed"
## Steps to reproduce
1. Open Firefox Focus.
2. Tap in the URL bar.
3. Insert "hello" and make the search.
4. Tap on URL bar.
### Expected behavior
"hello" world is displayed in the URL bar and is highlighted.
### Actual behavior
The searched word is not displayed. The URL bar displays "https://www.google.com?search?=hello..."
### Device information

* Android device: Google Pixel 2
* Focus versio

[2019-10-10 11:35] Diana-Rus opened #4401 ""Find in page" through Custom tab does not work correctly"
Prerequisites:
*Set Firefox Focus as default browser.

## Steps to reproduce
1. Open external browsing app (i.e. Gmail).
2. Open a website.
3. Tap the 3 dots icon.
4. Choose "Find in Page" option.
### Expected behavior
The elements for using the "Find in page" are correctly displayed and functional.
### Actual behavior
The section from above the soft keyboard does not display:
- the text field
- t

[2019-10-10 13:36] Diana-Rus opened #4402 "Video does not play in fullscreen correctly."
## Steps to reproduce
1. Open Firefox Focus.
2. Navigate to youtube.com.
3. Tap on the fullscreen icon.
### Expected behavior
The video is displayed correctly.
### Actual behavior
The video is not displayed in landscape mode. The video remains in portrait mode.
### Device information

* Android device: Google Pixel 2
* Focus version: Focus / Klar - v8.0.22

[2019-10-10 14:57] Abhisek2090 commented on #4400
I'd like to work on it.

[2019-10-11 07:19] Diana-Rus opened #4403 "There is no password manager prompts to auto-fill credentials"
Prerequisites:
- Have a password manager application installed: Lockwise or LastPass and set it to autofill in browser
- Have login entries saved - in my case for twitter or facebook.

## Steps to reproduce
1. Open Firefox Focus app.
2. Navigate to twitter.com/facebook.com.
3. Tap on the "Username" field.
### Expected behavior
Password manager prompts to auto-fill credentials.
### Actual behavior

[2019-10-11 18:14] wisniewskit commented on #4391
Another case reported here: https://webcompat.com/issues/41083

[2019-10-11 19:02] colintheshots opened #4404 "App crashes when backgrounding with Don't Keep Activities on Android 9/10"
## Steps to reproduce
1. Set Don't Keep Activities on in Developer Settings.
2. Open Focus.
3. Open any webpage.
4. Press Home.
5. Re-open Focus from the task switcher.

### Expected behavior
The page re-appears and can be interacted with.

### Actual behavior
Focus crashes with [this Sentry trace](https://sentry.prod.mozaws.net/operations/focus-android/issues/6355238/?query=is:unresolved%20setses

[2019-10-11 22:20] #4404 closed

[2019-10-12 12:18] zznidar commented on #4368
Authorisation dialogs are not shown either. That makes it harder to, for example, change router settings (instead of visiting 192.168.x.y and entering credentials when prompted, the user must navigate manually to user:pass@192.168.x.y) or login to any other auth-required site.

[2019-10-12 12:28] zznidar opened #4406 "Authorisation via URL not working"
As per #4368, dialogs are not shown on GeckoView. That includes authorisation prompts, for example when changing the router settings.
Usually, it is possible to log in via URL directly: http://username:password@192.168.x.y, however this results in about:blank in Firefox Focus (GeckoView).

## Steps to reproduce
1. Visit user:pass@192.168.x.y (with correct credentials)

### Expected behavior
User i

[2019-10-14 16:30] bartonstanley commented on #4399
I am an open source first-timer and I believe I can fix this issue.  Is there anything I need to know or do before I proceed?

[2019-10-14 20:03] seydouba95 commented on #4374
i would like to work on this bug

[2019-10-15 11:47] ebalazs-sv commented on #4371
This is reproducible on Focus 8.0.23 GV 71 with Pixel 2 (Android 9).

[2019-10-15 14:55] seydouba95 commented on #4374
i'm ready to contribute  on this bug

[2019-10-15 20:18] wisniewskit commented on #4396
Even a ridiculously minimal test-case shows that selects are just not opening their "drop down" in Focus:
[code]

[2019-10-16 01:34] TPS commented on #2074
The recent versions (IDK whether beta or actual release) I've downloaded seem to do this quite well.  Does anyone else see anything different anymore for > v. 8.0.22?

[2019-10-16 13:56] guiled opened #4407 "Crash at startup"
## Steps to reproduce
Just launch the app

### Expected behavior
Run properly

### Actual behavior
Crash after 3 seconds.

### Device information
* Android device: Zenfone 2 (intel cpu) Android 5
* Focus version: 8.0.23

[2019-10-16 16:03] denschub opened #4408 "<select>s and Date pickers are broken"
## Steps to reproduce

1. Head to any site using a `<input type="date">`, https://daleharvey.github.io/testapp for example.
2. Try to open the date picker.

### Expected behavior

1. The system's native datepicker should show up.

### Actual behavior

1. Nothing happens.

### Device information

* Android device: Pixel 2, Android 10
* Focus version: 8.0.23 (GeckoView)

[2019-10-16 16:12] denschub commented on #4408
This also affects `<select>` fields.

[2019-10-16 16:31] denschub commented on #4408
This is a duplicate of #4396.

[2019-10-16 16:31] #4408 closed

[2019-10-16 16:32] denschub commented on #4396
Note that this also affects date pickers.

[2019-10-16 22:55] levimatheri commented on #4399
What are the corresponding links for say Espanol? Does a link https://www.mozilla.org/[locale]/MPL/ exist or do all redirect to en-US?

[2019-10-16 23:53] levimatheri commented on #4394
Seems to be working fine in Klar. I can reproduce the issue in Focus though.

[2019-10-17 07:17] NachiketaVadera commented on #1829
Hey. I'd like to try and solve this issue!

[2019-10-17 08:08] Poopooracoocoo commented on #4402
But the video is fullscreen. It's full screen and portrait.

To make it go landscape, rotate the device while auto rotate is on.

You should make a feature request. I've made a similar suggestion for a custom video player, JW Player.
https://github.com/jwplayer/jwplayer/issues/3488

[2019-10-17 08:09] Poopooracoocoo commented on #4402
Related: https://github.com/jwplayer/jwplayer/issues/3488

[2019-10-17 18:42] mcomella commented on #1829
@NachiketaVadera Thanks for wanting to help out! I don't think we have the cycles to mentor this issue: if you want to work on another Firefox product, I'd recommend checking out our [Hacktoberfest blog post](https://medium.com/firefox-mobile-engineering/participating-in-hacktoberfest-with-firefox-preview-fc68cc318643), which will give tips to contributing to Firefox Preview and the backing librar

[2019-10-19 05:40] rahulthewall commented on #4396
I have the same issue and eat about to create a bug, thanks for reporting it. The issue does not persist in Firefox preview so using that for now.

[2019-10-19 16:20] NachiketaVadera commented on #1829
@mcomella Thanks!

[2019-10-19 22:35] asquartz opened #4412 "opening Focus leads to Android rebooting"
Steps to reproduce
Open Firefox Focus 8.0.23 and wait a few seconds, or alternatively click on any web link in another app (Focus is set to handle web links)

Expected behavior
Firefox Focus opens and displays webpage

Actual behavior
Focus opens briefly, then Android immediately reboots.

Device information
    Android device: Nexus 7 2013, Android 9 (unofficial LineageOS 16)
    Fenix version: 8

[2019-10-22 06:07] shangeethsivan commented on #4075
@colintheshots @vesta0 I have raised a PR for this can you please check it out. ?

[2019-10-22 18:11] st3fan opened #4415 "Cannot Add Custom Search Engine in Firefox Focus"
Steps to reproduce:

Add Custom Search Engine in Firefox Focus. I tried to add MetaGER with string "https://metager.de/meta/meta.ger3?focus=web&encoding=utf8&lang=all&eingabe=%s".

Actual results:

Is does not appear in the list of search engines. If I try to add the same again, Firefox tells me that there is an existing search engine with this name.

Expected results:

Should appear in the list o

[2019-10-23 23:19] moshpirit commented on #1528
So, is going to be more updates on F-droid?

[2019-10-28 09:31] roensholt opened #4416 "Tablet reboots"
## Steps to reproduce
Open FF - wait 4 - 5 seconds and the tablet reboots
### Expected behavior
Show web page
### Actual behavior
Tablet reboots
### Device information
Sony Xperia Tablet Z LTE. LineageOS 15.1 (8.1)

* Focus version: 8.0.23

[2019-11-01 12:49] matei-oltean commented on #4398
According to the code (cf. `LocalizedContent.java`), connections to "focus:about" and "focus:rights" are secure.

[2019-11-02 11:21] dom1n1k commented on #4396
I have same problem with [ProDirectSelect](https://www.prodirectselect.com/products/Nike-Air-Max-200-WTR-Sepia-Stone-Reflect-Silver-Mens-Shoes-209752.aspx) shop (try to tap the "please select a size" box).
It dosn't work in the Firefox Focus. However, it works normally in the regular Firefox for Android.
In both cases the latest stable versions on the same device.
Weird.

[2019-11-04 03:08] liugan-github opened #4420 "Website page is abnormal"
## Steps to reproduce
1、Open the app,
2、enter the website address: https://www.douyu.com
3、press Enter to start loading the page

### Expected behavior
Website page is displayed normally

### Actual behavior
Page layout is abnormal

### Device information

* Android device: Galaxy A7 SM-A7100,Android 5.1.1
* Focus version: Focus-arm - v8.0.23

[2019-11-04 17:03] StuartHaire opened #4421 "Firefox Focus is draining your battery"
## Steps to reproduce

1. Open application and use as desired
2. Close application and erase browsing history

### Expected behavior

The application should close

### Actual behavior

The application closes and after a few minutes android notifies "Firefox Focus is draining your battery" and allows me to force stop. Happens every time.

### Device information

* Android device: OnePlus 6
* Focus

[2019-11-05 02:24] Poopooracoocoo commented on #4368
This is so irritating. I often just go to Chrome and make an incognito tab. Issues like these are why I made #4372 and #4364

[2019-11-05 02:26] Poopooracoocoo commented on #4421
What version of Android are you on? I haven't experienced battery drain like that before on Samsung's Marshmallow (which is notorious for having memory management issues lol)

[2019-11-05 09:14] StuartHaire commented on #4421
Android 9. Android 10 is to be released very soon for my device so I'll be upgrading to that as soon as available.

[2019-11-05 11:30] sanojsubran commented on #4421
I also observe similar issue. I got the the same error message.

Steps to reproduce:

1. Open firefox focus and browse as desired. Delete the history.
2. Minimize the app by going to the homescreen.

After a while, I am getting a notification that Firefox Focus is draining your battery and I have to forcefully kill the app.

Firefox focus version: 8.0.23  Build: 332871437
Device: Oneplus 6
OS: And

[2019-11-05 16:49] jonalmeida commented on #937
This does not work in my testing on all current versions from 7.0.18 to 5.0. @NotWoods , which version were you using at the time?

[2019-11-07 15:01] joaoportela commented on #4396
Hi! I'm trying to understand why this hasn't been fixed yet.
It is really messing with my workflow. I've been going back to chrome more and more in the last few weeks because of this. 😔

Is there anything I can do to help fix this?

[2019-11-07 15:05] cadeyrn commented on #4396
There is already a fix, but it's not yet distributed via Google Play Store. You can test a pre release version with a fix: https://github.com/mozilla-mobile/focus-android/releases/tag/v8.0.24

[2019-11-07 15:40] joaoportela commented on #4396
thank you for the reply.

[2019-11-08 09:46] ebalazs-sv opened #4427 "[Bug] Previous opened tab displays about:blank"
## Steps to reproduce
1. Go to Settings -> Mozilla -> Help;
2. Go to Settings -> Mozilla -> Privacy Notice;
3. Tap the opened tabs and choose to open the Help page;
### Expected behavior
Help page opens.
### Actual behavior
The page is displayed as about:blank.

### Notes
[Video](https://drive.google.com/file/d/1X5LftXJnRz0_2tY7dfUC8VAvzU-i4OLn/view)
This is also reproducible after about:crashcont

[2019-11-08 10:15] ebalazs-sv opened #4428 "[Bug] Page cannot be reloaded or edited after changing the Tracking Protection setting"
## Steps to reproduce
1. Go to https://mozilla.github.io/tracking-test/analytics.html;
2. Go to Settings > Privacy & Security;
3. Disable analytic trackers from Tracking Protection;
4. Exit Settings and reload page from Step 1.

### Expected behavior
The page is reloaded and the change from Step 3 is visible.
### Actual behavior
The page cannot be reloaded or edited.
### Notes
Long tapping the URL

[2019-11-08 12:01] ebalazs-sv opened #4429 "'Erase and Open' does not delete the loaded webpage when Settings menu is displayed"
## Steps to reproduce
1. Load a webpage and then enter the Settings menu;
2. Press the home button to go to app view;
3. Pull down the notification tray;
4. Tap Erase and Open.
### Expected behavior
The initial screen of Focus is displayed, with the previous webpage deleted.
### Actual behavior
The webpage from Step 1 is displayed.
### Notes
[Video](https://drive.google.com/file/d/1qt232l99tc-EPhy

[2019-11-08 12:55] ebalazs-sv opened #4430 "Dropdown menu is not working after opening a downloaded file"
## Steps to reproduce
1. Go to https://rpappalax.github.io/testapp;
2. Tap on "Download this icon";
3. From the Download File pop-up, choose Download;
4. Open the downloaded file from the notification tray;
5. Go back on the webpage and tap on any dropdown menu;
### Expected behavior
Dropdown menu opens.
### Actual behavior
Downdown menu is not working.

### Notes
This is also reproducible on http

[2019-11-08 15:16] jonalmeida commented on #4430
Thanks @ebalazs-sv ! I've followed your steps to reproduce, but I'm unable to reproduce the bug on a Pixel 2.

[2019-11-08 15:32] jonalmeida opened #4431 "Downloading a file with the same name as an existing one, overwrites the previous file"
## Steps to reproduce
1. Download a file with name, say filename.png.
2. Observe the date created for the file in a file manager.
3. Download the file again.
2. Observe the date created for the file in a file manager.

### Expected behavior
- There should be two files (probably with the names `filename.png` and `filename (1).png`).

### Actual behavior
- There is only one file, the latest download

[2019-11-11 16:35] this-is-rafa commented on #4421
Same problem here. Only started happening after the latest update from the Play store. The Oneplus battery manager is known to be aggressive, but the battery percentages show that FF is using more than before.

Firefox Focus: 8.0.23 Build: 332871437
Device: Oneplus 5t
OS: Android 9 / Oxygen OS 9.0.8
Kernel: 4.4.153-perf+

[2019-11-11 19:21] Gogo-ZvC commented on #4421
I've been experiencing this as well. Same steps as @sanojsubran.

Firefox Focus: 8.0.23
Device: OnePlus 7 Pro
OS: Android 10 / Oxygen OS 10.0.1
Kernel version: 4.14.117-perf+

[2019-11-12 09:24] StuartHaire commented on #4421
Issue resolved for me when updating to;
Firefox Focus: 8.0.23
Device: OnePlus 6
OS: Android 10 / Oxygen OS 10.0
Kernel: 4.9.179-perf+

[2019-11-12 11:40] refactor-droidyy commented on #4431
@jonalmeida can I work on this issue

[2019-11-12 20:49] cadeyrn opened #4435 "Firefox Focus needs an updated logo"
The current logo of Firefox Focus still uses the old Firefox shape. Since Firefox for Desktop and Firefox Lite already use an updated logo it's time for Firefox Focus to get an updated logo, too.

[2019-11-13 13:43] anshulkhattar opened #4436 "Home button"
### Navigating back to home can only be done by closing the tab, a button in top bar to do so would be easier to use.

[2019-11-13 17:46] bobweasel opened #4439 "App becomes broken after switching"
## Steps to reproduce
Open a webpage in Focus, switch to another app, by pressing the home button or using "Recent Apps" or any other means, switch back to Focus

### Expected behavior
Webpage is visible and usable

### Actual behavior
Only the address remains in the address bar. Webpage is blank and unusable.  Refreshing does not reload the webpage and the only valid action is to delete browsing

[2019-11-15 05:52] Poopooracoocoo commented on #4436
what's the point of a home button in an ephemeral browser?

[2019-11-15 05:56] Poopooracoocoo commented on #4402
Just to be clear, when this issue was created, the mobile YouTube site used the native browser player. It now has a custom player.

Please take a look at my JW Player issue as I've linked a relevant Chromium issue where they discussed this and came to the conclusion that it would act like the YouTube app. JW Player said that what Firefox and most custom players do now is technically "correct".

th

[2019-11-16 15:35] ajhbh commented on #4412
I get the same behaviour on my HTC One M8 Android 9 (LineageOS 16) with Firefox Focus 8.0.24

[2019-11-17 14:23] Poopooracoocoo commented on #4420
Is this a web-compat issue?

[2019-11-18 20:14] asquartz commented on #4412
I just updated to 8.0.24, disappointingly no change.
There has been no acknowledgement for nearly a month, I wonder if anyone is reading these reports?

[2019-11-20 22:21] jonalmeida commented on #4396
Right, 8.0.24 is now deployed to release, so we can close this bug now. If there are new bugs reports, those should be new issues.

[2019-11-20 22:21] #4396 closed

[2019-11-25 01:30] karlcow opened #4440 "[webcompat] latimes.com - unable to scroll because of the overlay."
Report from https://github.com/webcompat/web-bugs/issues/44984

## Steps to reproduce
1. go to https://www.latimes.com/local/lanow/la-me-thanksgiving-traffic-20171122-htmlstory.html

### Expected behavior
being able to scroll.

### Actual behavior
I'm able to reproduce the issue on Focus only, both with TP ON and OFF.
A gray overlay prevents interaction with the page.

### Device information

Test

[2019-11-26 15:48] st3fan opened #4441 "Firefox Focus 8.0.24 uses a wrong user agent string as desktop"
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:60.9) Goanna/4.4 PaleMoon/28.7.2

Steps to reproduce:

1. Visit a website that show the web browser's user agent string, like these ones:
https://httpinfo.net/?sort=lastseen
https://duckduckgo.com/?q=what+is+my+user+agent&t=palemoon&ia=answer
2. Set Firefox Focus to show the desktop version of that website, i.e., to reload that webpage and u

[2019-11-27 09:25] woodruffandtheschnibbleofazimuth opened #4442 "Klar old version on F-Droid"
Hello everyone,
on F-Droid there is an old and outdated version of Firefox Klar (Version 8.0.15).
I see that there is the code apk updated but on F-Droid is stopped on July.

Thanks!

[2019-11-27 13:12] woodruffandtheschnibbleofazimuth commented on #4415
I have the same issue also on the last version of Firefox Focus.

[2019-12-06 20:43] miketaylr opened #4444 "Unable to sign in with Google account on https://member-m.daraz.pk/user/login"
Originally reported @ https://github.com/webcompat/web-bugs/issues/45970

STR:

1. go to https://member-m.daraz.pk/user/login
2. attempt to sign in w/ Google credentials

Expected: login works
Actual: end up with a blank page

See the screenshots in the linked image. Note this still reproduces with trackers enabled.

[2019-12-08 19:55] 4ut0-M-4t opened #4445 "Autocomplete entry editing is ignored"
***If one edits autocomplete entry in the address bar, changes are ignored***

## Steps to reproduce
1. Open Focus and start typing saved URL in the address bar (URL manually added to the  autocomplete list before).
2. Edit the suggested autocomplete entry.
3. Tap "Go" ("Enter") on your keyboard.
### Expected behavior
Manual editing is respected.
### Actual behavior
Manual editing is ignored.
###

[2019-12-08 22:22] Poopooracoocoo commented on #4315
And this is so important because it should be **up to the user** if tabs and tab navigation history is deleted.

This has happened too many times to me and I'm considering just uninstalling Focus.

[2019-12-08 22:22] Poopooracoocoo commented on #4241
this is defs a bug

[2019-12-08 22:31] Poopooracoocoo commented on #4315
@colintheshots sorry to bother you. just out of curiosity, is focus on the project so minimal because of work on Fenix?

[2019-12-10 19:40] Poopooracoocoo commented on #4241
#4421

[2019-12-17 21:00] Harteex opened #4446 "Javascript whitelist / blacklist"
### Why/User Benefit/User Problem
Some sites run a lot faster with no annoying popup dialogs when Javascript is off. At the same time, many other sites do not work at all when Javascript is turned off.
This means that while the user might want to turn off Javascript, they will have to turn it on for other sites, leading to the user having to enter the menu a lot to toggle the Javascript setting.

[2019-12-19 05:50] karlcow commented on #4253
We got a very similar issue with yandex.
https://github.com/webcompat/web-bugs/issues/35953

So let's pre-emptively link these two.

[2019-12-21 06:01] Poopooracoocoo commented on #3815
I've noticed that Fenix handles scrolling a lot better because it scrolls the toolbar away first and then scrolls content but Focus scrolls both at the same time.

[2019-12-22 08:39] gobater commented on #4412
I can confirm the above mentioned issues. however, I am not sure I had them before updating my Lineage OS to 15.1 (December 2019). July version was working fine as fas as I can remember

[2019-12-22 10:26] CDGDVD opened #4448 "Crash on startup"
## Steps to reproduce
I don't how to reproduce it :/
### Expected behavior
opening the app and installing addons
### Actual behavior
Crash on startup with no error whatsoever
### Device information
lineageos 14.1 with gapps (pico)
* Android device: Galaxy Tab E
* Fenix/firefox version: Normal, beta, nightly

[2019-12-23 19:17] crazyman10123 commented on #4429
I can look into this as a potential first bug for me to fix.

Following the same steps you've provided cause the app to completely crash on my device. I'm setting up a virtual device using your model as reference to see if I can recreate the exact behavior you're describing.

[2019-12-25 08:17] waleedsamy commented on #4421
Issues still here
Firefox Focus: 8.0.24
Device: OnePlus 5t
OS: Android 9
Kernel: 4.4.153-perf+

[2019-12-28 19:24] crazyman10123 commented on #4429
I've found that following the steps provided in the bug report cause a FatalException. I haven't been able to figure out what I could do within Focus to remedy this.

My thoughts are to have the app switch off of the settings view when minimizing, but I'm not sure how to go about that.

`2019-12-28 14:17:29.756 10931-10931/org.mozilla.focus.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process

[2020-01-01 12:41] Maruda1986 commented on #4398
hg

[2020-01-02 03:27] karlcow opened #4449 "falk.de - map is not visible"
## Steps to reproduce
With Firefox Focus on Android
1. head to https://www.falk.de/

### Expected behavior
See the map

### Actual behavior
The map is not visible.
### Device information

* Android device: Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)
* Focus version: Firefox Focus 8.0.24 (🦎 71.0a1-20191003093956)

This is https://github.com/webcompat/web-bugs

[2020-01-04 20:53] wesinator opened #4450 "Possible MPL violation app copies"
https://play.google.com/store/apps/details?id=com.eagle.web.browser.internet.privacy.browser 
https://play.google.com/store/apps/details?id=com.eagle.smart.browser.free.browsing.fast.privacy.browse

[2020-01-06 12:32] Jahnavi00 commented on #4187
@sv-ohorvath can I work on this issue please?

[2020-01-06 12:39] Jahnavi00 commented on #4431
@jonalmeida  Can I work on this bug issue ,please ?

[2020-01-06 12:41] Jahnavi00 commented on #4395
Hi @Diana-Rus , I want to work on this issue. Can you please help?

[2020-01-06 13:41] sv-ohorvath commented on #4187
@Jahnavi00 I'm not the one to decide. @ekager I believe you are not working on it anymore?

[2020-01-06 15:47] Jahnavi00 commented on #4187
Thank you @sv-ohorvath . Can you please tell me whom I should contact to work on this?

[2020-01-06 17:34] jonalmeida commented on #4431
Hello, I don't believe we're accepting contributor pull requests for Focus at the moment. If you're looking for another project to contribute to, have a look at [Android Components](https://github.com/mozilla-mobile/android-components/) and [Fenix](https://github.com/mozilla-mobile/fenix/)! 🙂

[2020-01-09 10:15] Diana-Rus commented on #4342
Hi, issue is still reproducible with Firefox Focus 8.0.25 GV 71 with Google Pixel 3a (Android9).

[2020-01-09 11:38] Diana-Rus commented on #4401
Hi, issue is still reproducible with Firefox Focus 8.0.25 GV 71 with Google Pixel 3a (Android9).

[2020-01-09 11:58] Diana-Rus opened #4452 "Custom tab - Option "Request Desktop Site" does not work."
Prerequisites:
- Make "Firefox Focus" as default browser.
## Steps to reproduce
1. Open gmail app.
2. Open a website through gmail.
3. Tap on the 3 dot menu.
4. Enable the "Request desktop site" option by checking the provided checkbox for the option.
### Expected behavior
The desktop version of the site is displayed.
### Actual behavior
The mobile version of the site is displayed.
### Device info

[2020-01-09 14:01] Diana-Rus commented on #4402
Hi, thank you for providing the info, and the last update being in https://github.com/jwplayer/jwplayer/issues/3488#issuecomment-549865307 , based on the latest discussions from the mentioned ticket it seems that it is going to be implemented at some point that the video to be displayed in landscape when set in full screen.
I will leave the ticket open until further notice as it still reproduces.

[2020-01-09 14:30] Diana-Rus opened #4453 "Reddit - Link to install apps doesn't work"
## Steps to reproduce
1. Go to reddit.com and tap the "Use app" button.
2. If the app is not installed, install it from google play and repeat Step 1.
### Expected behavior
If the app is installed, the app should open.
If the app is not installed, you should be directed to the playstore.
### Actual behavior
The redirect does not work.
### Device information

* Android device: Google Pixel 3a (Andr

[2020-01-10 10:53] mpas97 commented on #4219
Hi @Delphine and @aqeelparpia
I just wanted to point out that I use this Firefox app for many years now and as far as I can remember, I always saw this %1$s placeholder there. And I'm even using English as system language. So not a Korean / Chinese problem only.
![IMAGE 2020-01-10 11:46:27](https://user-images.githubusercontent.com/9994218/72147454-d6370200-339e-11ea-84f6-637de83b30d2.jpg)

[2020-01-10 11:15] mpas97 commented on #4219
And what I directly found with two clicks:
- we use shortcut_erase_and_open_long_label as shortcut label: https://github.com/mozilla-mobile/focus-android/blob/master/app/src/focusRelease/res/xml-v25/shortcuts.xml#L24
- the %1$s is there, at least for the en lang: https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values-en-rCA/strings.xml#L33

[2020-01-10 11:20] mpas97 commented on #4219
And a quick search give me the result of 74 affected files (the %1 is also often separated from the $s, eg in the first two matches):
<img width="600" alt="grafik" src="https://user-images.githubusercontent.com/9994218/72149390-55c6d000-33a3-11ea-870b-35abecab0ccb.png">

[2020-01-10 11:28] mpas97 commented on #4219
Most probably the error occurs when the launcher displays the android:shortcutLongLabel (that is probably defined faulty in each lang) instead of the short one.
<img width="867" alt="grafik" src="https://user-images.githubusercontent.com/9994218/72149803-3d0aea00-33a4-11ea-9e72-4b7dea7b9dde.png">

[2020-01-10 11:43] mpas97 commented on #4219
My proposal would be to just remove the android:shortcutLongLabel incl. all "unused" translations. Because there will never be some text after "Erase & open".

Apart of the unused %1$s in the long string, I think there is also the difference of "Erase & open" to "Erase and open" (& changed to "and") because of the 10 chars limit of shortLabel. So we could also leave the longLabel for a written out

[2020-01-11 09:50] STPR opened #4456 "8.0.25 requesting the READ_PHONE_STATE permission"
8.0.25 requesting the **READ_PHONE_STATE** permission :

[2020-01-12 20:52] mirdaki opened #4458 "Crash on launch"
## Steps to reproduce

When opening the app directly from the home screen or via another app, Firefox Focus crashes within a couple seconds.

I have cleared the cache and storage of the app with no change. The same has been occurring for [Firefox Preview](https://github.com/mozilla-mobile/fenix/issues/7630) as well. Let me know if I can provide any more information.

### Expected behavior

The bro

[2020-01-13 19:39] colintheshots commented on #4456
It appears upgrading Google's Install Referrer library to the latest caused this. I believe we can safely downgrade in the next release.

[2020-01-13 22:54] Poopooracoocoo commented on #4402
@Diana-Rus to me it sounds like JW Player doesn't want to implement it and just getting a response from them was difficult.  :(

Well anyway, is there another issue for Fenix? Fenix issues get a lot more eyeballs and therefore action.

[2020-01-14 14:07] STPR commented on #4456
Why can't you just keep the latest version and add the following line into the manifest ?
`<uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />`

[2020-01-14 15:54] abodea commented on #4458
@mirdaki Does this still reproduce and can you get a logcat? https://github.com/mozilla-mobile/fenix/wiki/Logging-Crash-Information
--
Hello, note that I tried to reproduce this issue on the following builds and devices:
- **Firefox Preview Latest Nightly 1/14 GV 74**
- **Firefox Preview Beta 3.1.0-beta.3 GV 7**
- **Firefox Preview RC 3.0.2 GV 71**
- **Firefox Focus 8.025(Build #340092236) GV 71**

[2020-01-14 17:00] mirdaki commented on #4458
@abodea, here is a [gist](https://gist.github.com/mirdaki/406d195331e1a011629e1cb33a67188e) with the Firefox Focus crash. It also contains the Firefox preview logs I recorded. Let me know if it was captured properly and if I can do anything else to help.

[2020-01-16 21:55] kodeo opened #4459 "Ability to lock the navigation/menu bar"
Firstly may I say that I absolutely love Firefox Focus, it really is the best thing since sliced bread on Android.

The only time I ever reluctantly revert to Chrome is when on a page on which the body is supposed to fill the full screen with height: 100% / 100vh or whatever, as may occur with a game or some other canvas-based endeavor, in which case the the way Focus navigation/menu bar disappear

[2020-01-19 01:44] bthylafh commented on #4458
I'm having this issue as well and have attached logs.  I have also been having the same issue with Firefox Preview.

[logs-2020-01-11-10-56-45.zip](https://github.com/mozilla-mobile/focus-android/files/4082136/logs-2020-01-11-10-56-45.zip)

[2020-01-19 01:55] bthylafh commented on #4458
This seems to be related to bug #7803 on Fenix; Focus will crash if I'm connected to a VPN when I open it, but not if my VPN is inactive.  I'm using ProtonVPN 2.0 app.

[2020-01-19 19:50] mirdaki commented on #4458
Oh, thanks for the additional info @bthylafh! I can confirm that the issue only affects me when I use the OpenVPN setting from ProtonVPN 2.0. It does not happen when I use IKEv2 in ProtonVPN 2.0 or when I use PIA VPN.

[2020-01-20 10:25] STPR commented on #4456
Strangly, Firefox Klar 8.0.25, the "german" version of Firefox Focus, doesn't need this permission !

Quite frankly :

I really doubt you're discovering this just now.
So, either you need it for some obscure reasons, or you shall correct this immediatly.
That's a MAJOR issue for a browser promoting itself as a "privacy browser".

Looking at all the comments inside the play store, you really shall

[2020-01-20 22:04] zekooooo opened #4460 "Bookmarks in autocomplete default to HTTP"
Bookmarks in my own autocomplete list default to HTTP even if the site supports HTTPS. This is a possible security risk.

I'm using Klar 8.0.15 (last F-Droid version) on Android 7.

**What the app should do**

To avoid downgrade attacks, Focus should either connect by HTTPS and let the user edit the address bar to change to http:// if the connection fails. Or alternatively remember when adding the

[2020-01-20 22:12] zekooooo opened #4461 "Update Firefox Klar on F-Droid to patch this month's 0day"
Firefox Focus (Klar) on F-Droid is six months out of date. At the moment I'm only using it with JS disabled. It needs to be patched against the vulnerability patched in FF 72 and/or any other security problem discovered in the last 6 months.

[2020-01-20 22:25] cadeyrn commented on #4461
The latest official version from Mozilla already has a fix. Mozilla is not responsible for F-Droid...

[2020-01-21 04:26] bthylafh commented on #4458
I confirm that Focus crashes with Proton VPN 2.0 in OpenVPN mode, but not
in IKEv2 mode.

I installed Firefox Klar from F-Droid and it works fine either way. Note
this is an older version, 8.0.15, so whatever broke on Focus/Klar is in a
more recent version.

On Sun, Jan 19, 2020, 13:50 Matthew Booe <notifications@github.com> wrote:

[2020-01-21 20:01] tmdwns7809 opened #4462 "tab switching"
Other browsers implement tab switching very smoothly like the tabs have been always existing
Even with firefox
But firefox focus has a little blinking time apparently when it's switching tabs
I wanna know this can be fixed and what's the reason this is happening
And I really appreciate to all you guys for doing hard works every day for people thank you

[2020-01-22 12:56] zekooooo commented on #4461
I don't know if this is related. F-Droid just recommended me to uninstall Klar because of a known vulnerability.

[2020-01-22 13:00] cadeyrn commented on #4461
I don't know the state of F-Droid but in the meantime you can install the latest version from https://github.com/mozilla-mobile/focus-android/releases - version 8.0.25 contains the security fix. It's probably better than waiting since there was no update on F-Droid for a few months.

[2020-01-23 09:46] mpas97 commented on #4219
@colintheshots Can you please have a look on this issue?

[2020-01-23 19:10] aarushivij commented on #1346
Hey, can I work on this issue?
I am new to open source community and want to have this as my first bug :)

[2020-01-24 01:55] NastyaGrifon commented on #4461
Same

[2020-01-24 02:00] NastyaGrifon commented on #4453
The issue persists on Android 10, January Security Patch

Google Pixel 3a  (QQ1A.200105.002)
Firefox Klar 8.0.25 (Build #340092236 🦎 71.0.1-20200108003105)

[2020-01-25 23:00] Poopooracoocoo commented on #4462
And even when just switching apps, some content gets re-rendered

[2020-01-25 23:06] Poopooracoocoo opened #4463 "Firefox Focus tab goes unresponsive"
## Steps to reproduce (that I am not sure about)
1) open one website
2) navigate to one more
3) leave in the background overnight
### Expected behavior
I can resume Focus and go back to the first website
### Actual behavior
That Firefox Focus tab is unresponsive and cannot be recovered. I can usually tell because the website is white and wasn't before. I can either open a new tab by going to Menu>

[2020-01-25 23:09] Poopooracoocoo commented on #4446
I think that the per website setting could be in the protection popup and you could manage the whole setting in settings. Like Chrome for desktop (surprisingly Firefox for desktop is a bit annoying in terms of permission management)

[2020-01-26 06:08] a-wigand commented on #802
Any update?

[2020-01-27 12:53] mitms commented on #4458
At the moment I'm experiencing the same behaviour using Firefox Focus v8.0.25 on OxygenOs v9.0.6 (Android 9). While connected to a VPN server (OpenVPN for Android, de.blinkt.openvpn v 0.7.8), Firefox exits after approximately 1 second after launching. When disconnected from the VPN-connection, everything seems to work as intended.
2 Weeks ago everything seemed to work fine, even when connected to

[2020-01-28 09:41] SeriousM opened #4464 "medium.com - Zooming ends up scrolling the site very fast"
Issue from https://github.com/webcompat/web-bugs/issues/47680

**URL**: https://medium.com/tenable-techblog/lets-reverse-engineer-discord-1976773f4626

**Browser / Version**: Firefox Mobile 71.0
**Operating System**: Android
**Tested Another Browser**: No

**Problem type**: Something else
**Description**: Zooming ends up scrolling the site very fast
**Steps to Reproduce**:
Zoom the page with pinch

[2020-01-28 18:31] TomekS2 opened #4466 "Some fingerprint protection bugs"
1. When I try open link I can skip fingerprint check

This isn't occure when I open by share, only by link. When I click share everything is ok.

    1. browser must be fingerprint protected
    2. open any web site(eg. github.com)
    3. minimalize browser
    4. check if fingerprint protection exist
    5. open LINK eg. click on link in contact app
    6. now browser skip fingerprint protection

[2020-01-30 10:23] Poopooracoocoo commented on #4464
Happens on any site. It doesnt just happen when zooming.

I think this is a GeckoView bug. I can repr in Fenix but not in Fennec

[2020-01-30 10:32] Poopooracoocoo commented on #4439
This sounds like #4463 now that I've seen this again. This drives me bonkers. I hate Firefox Focus. I'm tempted to either switch to DuckDuckGo Browser or to an older version of Focus. DDG Browser isn't that good though. At least it respects me by not closing tabs without my permissions and has actually fixed MASSIVE bugs like this.

I'm someone who often searches stuff in Focus and will then open

[2020-02-02 18:13] bthylafh commented on #4458
The corresponding bug in Fenix was fixed in v3.2.0.

On Mon, Jan 27, 2020 at 12:53 PM mitms <notifications@github.com> wrote:

--
Kevin Williams

[2020-02-03 14:53] zekooooo commented on #4464
Yes this also happens on all sites to me on 8.0.15 pretty often.

[2020-02-04 03:56] Poopooracoocoo commented on #4464
@zekooooo I recently "downgraded" to 8.0.16 and was also able to repro. I got back to the system webview from about:test and I finally feel like I'm not walking on eggshells with Focus any more. It's like taking off your shoes after a long day.

[2020-02-06 10:11] zekooooo opened #4468 "Autocompleted sites force HTTP"
This happens to sites which I've manually added to autocomplete, that allow both HTTP and HTTPS connections. Using Klar 8.0.25.

When I start typing "https://" and enter the link w/o triggering autocomplete, HTTPS version loads. This is what I'd want to happen with autocomplete in all cases where the website supports HTTPS no matter if it also supports HTTP (duh).

When I start typing the domain n