[2017-11-02 13:48] pocmo commented on #1030
Closing this in favor of #1431.

I'll write a quick summary in the other issue.

[2017-11-02 14:00] pocmo commented on #1431
@Sdaswani

The things in the must-have list give us:

* A way to configure experiments on the server-side using the Kinto admin web interface.
* Experiments can be enabled for a subset of users:
  * percentage (in 1% steps)
  * package name (to target specific builds like dev or beta builds)
  * version
  * language
  * country (from locale)
  * device ("Only Pixel devices")
  * manufacturer ("Onl

[2017-11-02 14:18] #1030 closed

[2017-11-02 15:14] npark-mozilla commented on #1572
Screenshots are generated.

[2017-11-02 15:17] wcbeard opened #1633 "Renumber telemetry timestamps so sessions can be split up (for Redash)"
When querying from the events table (telemetry_focus_event_parquet), I'm seeing about 6% of the pings returning sequences of events where the timestamps are not monotonically increasing. It is common that there will be a foreground event half way through, and the time stamp restarts at 0. I'm not sure how much of this is expected behavior.

[Here is a query](https://sql.telemetry.mozilla.org/queri

[2017-11-02 15:30] pocmo commented on #1633
The current implementation does:
* Use the "time since boot" to calculate the timestamps of events.
* We use the timestamp of the first event as baseline and the following events' timestamps are relative to the first event.
* For various reasons it can happen that we cannot write the actual ping to disk before the process dies (e.g. app crash, app killed manually, ..). The next time the app starts

[2017-11-02 15:48] lime124 commented on #1604
https://github.com/mozilla-mobile/focus-android/issues/958#issuecomment-341266373

[2017-11-02 16:17] npark-mozilla commented on #1220
In Android 8.0, (Pixel 2) the links are ungreyed now when I restart the app after killing it from recent apps list.  Perhaps something to do with #1306 fix?

[2017-11-02 16:56] shubham171294 commented on #1615
Hey @mcomella , thanks for responding.

But I've used the same version as mentioned in https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle#L5
The difference is just that, the code is written in buildscript{} whereas, I've written it outside the buildscript in ext{} .

I tried to remove kapt version also but it didn't help.

Moreover, when I integrated it using the stable versi

[2017-11-02 17:29] wcbeard commented on #1633
My interest now is in looking at issues/events that happen within a session.

If I have a ping where the timestamps look like [0, 2, 4, 0, 1, 5], it sounds like (from your third point) I should be splitting it up into two sessions, with timestamps [0, 2, 4] & [0, 1, 5]. Am I understanding you correctly?

[2017-11-02 18:37] pocmo commented on #1633
Yes, for our current definition of "session" this would be two sessions in one ping.

[2017-11-02 18:38] Sdaswani commented on #1431
Thanks @pocmo , this is great. I'm meeting with @bbinto, @lime124 and @antlam next week to understand exactly what we want for A/B testing, so we understand how well the different options support them.

[2017-11-02 18:49] pocmo commented on #1615
What are the dependencies of your app module, this one is missing, I think? Is it still possible to run "./gradlew androidDependencies" and see what is causing the conflict?

I do not see the "runtime" dependency in your code at all. Did you remove it?

Looking at the docs it seems to be safe to use runtime:1.3 everywhere, or just the new "extensions" dependency - We might want to update our build

[2017-11-02 19:57] bbinto opened #1635 "Add probe to record when user opens Focus via tap on Focus app icon"
Besides knowing when a user opened Focus via shortcut or intent (via different apps), I'd like know when a user actually clicks on the Focus app icon.

https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#browsing

[2017-11-02 21:27] ekager commented on #1618
<img width="313" alt="screen shot 2017-11-02 at 2 25 41 pm" src="https://user-images.githubusercontent.com/25442310/32351197-cc9b4d40-bfd9-11e7-9a39-91ea2f8972f3.png">

Hey @lime124 ! Does this look okay from your perspective?

[2017-11-02 23:16] ekager commented on #1522
No neither WebViewClient.onReceivedSslError() nor WebViewClient.onReceivedError() gets called when loading very.badssl.com. I looked into [Lightning Browser](https://github.com/anthonycr/Lightning-Browser/blob/dev/app/src/main/java/acr/browser/lightning/view/LightningWebClient.kt) (another open source WebView based browser) and they also do not detect mixed content, in fact they allow it to be dis

[2017-11-03 02:59] layely opened #1638 "Comments via facebook comments plugin not loading"
When I read articles on [footmercato.net](footmercato.net), I can't see the comments. It's like focus can't load them.
e.g:
- go to  [footmercato.net](footmercato.net)
- click on one article
- scroll down to see the comments

[2017-11-03 07:20] shinilms commented on #1620
Thanks for your response. Is there any way I can get the source code for `geckoview-latest.aar` used in ff?

[2017-11-03 08:37] pocmo commented on #1620
Yeah, you need to setup a Firefox for Android build, following this guide (pick the simpler "front-end" build):
https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Build_Instructions/Simple_Firefox_for_Android_build

After that you can run "./gradlew tasks" and you should see a task like "geckoview:assembleReleaseWithGeckoBinaries" (I do not remember the actual name). This task will p

[2017-11-03 08:39] pocmo commented on #1638
Does it work if you disable content blocking in the menu? FWIW Facebook *is* a tracker in this situation.

[2017-11-03 08:41] pocmo commented on #1548
In the engineering meeting we decided to use simple static flags for now. Later we might want to use Switchboard or mix both behind a nice interface. At this time no work is needed - so we decided to close this issue.

[2017-11-03 08:41] #1548 closed

[2017-11-03 09:23] pocmo opened #1640 "Language names missing after switching to a different language"
Android 5.1.1 (Sony Z3C).

When switching to a different language I see some language names disappear and getting replaced with the language code. That's strange as we are not translating the names based on the current language.

It also seems to depend on the language. If I set it to "Asturianu" then the following languages do not have a name anymore:
* Dsb
* Fy (NL)
* Hsb

I also wonder why they

[2017-11-03 09:44] #1418 closed

[2017-11-03 10:58] pocmo commented on #1635
Technically there are two things we can track here:
* (1) Actual app launches from the launcher icon
* (2) App resumed from the launcher icon (The app could still be active)

Are you only interested in (1) or do you want to see all clicks on the launcher icon? Should we have two probes?

[2017-11-03 11:16] shubham171294 opened #1641 "Implement AutoFill functionality"
Hi, I want to auto fill user credentials using this browser. I don't  want to use Android's Oreo Autofill API.  Do we have any module in firefox focus that we can use to achieve this?

For Example- I want to fill username and password of Facebook when the user opens the website. Please note that I already have user credentials saved in my database and I've already integrated this project as a libr

[2017-11-03 13:14] Benestar commented on #1418
Hi @lime124, I used the `photonMagenta70` color from `photon_colors.xml` which is the same color as the floating action button to erase browsing history. Its color code is `#ffb5007f`.

[2017-11-03 13:37] bbinto commented on #1635
I think (1) is enough, even if the app is already active, I'm only interested in the conscious choice that the user makes when opening Focus via clicking the app icon.

[2017-11-03 14:19] pocmo commented on #1641
From this and your previous questions I'm wondering: Are you working on a fork? Is anything of that work public?

Currently such functionality does not exist in Focus. You might be interested in following #1525.

[2017-11-03 14:19] #1641 closed

[2017-11-03 14:39] Benestar commented on #1295
Would this be fixed by the `undo` option in the "browser history erased" snackbar, as described in #467?

[2017-11-03 14:43] Benestar commented on #1312
Related to #467 - I think the `undo` option would be preferable to a confirmation dialog.

[2017-11-03 16:26] liuche opened #1644 "Allow users to remove search engines"
Part of meta #961

[2017-11-03 16:28] liuche opened #1645 "Pref on "add search engine" for 4.0"
Turn on the "add search engine" feature right after 2.5 code freeze.

Part of meta #961

[2017-11-03 16:46] liuche commented on #1260
@mcomella During Sprint planning, we're going through the P2 list. Is this checklist up to date, and could you give a status update?

Relatedly, we can think about how to keep track of contributor work - whether it's enough to give verbal updates, or if we need to comment in Issues, etc.

[2017-11-03 17:08] lime124 commented on #1418
Awesome! Thanks again @Benestar !

[2017-11-03 17:19] lime124 commented on #1618
hi @ekager! thanks for taking this on!

Ideally the search engine name and the page title will line up. It looks like the icons might be bigger and that's pushing the text out of alignment?

[2017-11-03 17:41] lime124 commented on #1618
oops forgot to reopen!

[2017-11-03 17:49] lime124 opened #1647 "fix search engine ordering"
#961 [meta] Ability to add search engines and or remove existing search engines

The current ordering seems arbitrary and will be difficult for people to find what they are looking for if the method of ordering isn't apparent.
- Yahoo
- Google
- Amazon.com
- DuckDuckGo
- Twitter
- Wikipedia
See also #1618 for a screenshot.

It seems the current order is based on the order of entry in the xml file

[2017-11-03 17:57] liuche commented on #1647
re: Amazon.com, we can't change that because it's the name that BD gives us in the search list, and we can't change the name/logo/branding that is requested by the company. This is also the naming that's used across other Firefox products (Desktop, Firefox for Android). To change it we'd have to ask BD to ask Amazon, and that's probably too much work.

[2017-11-03 18:44] bbinto commented on #1647
Yeah I'd suggest not to tackle this as we've tried to do this in the past (changing orders) and Legal/BD wants us to keep it as is. Any change to the pre-defined list needs to go through their review.

[2017-11-03 19:01] antlam commented on #1312
@Benestar 'undo' is difficult because of many reasons. So we'll have to be careful about thinking this through, especially for a product like Focus.

To start, it implies we have to "save" user data so that we can restore it for them. From there, we have to save the trail of navigation too so that backwards and forwards would work.

[2017-11-03 20:13] Benestar commented on #1312
I take it as @pocmo already wrote

Apparently there are some Android related issues but by just delaying the destruction of the browsing fragment for a few seconds I think we could handle the undo without explicitly storing the current state of the browser.

[2017-11-03 20:17] antlam commented on #1312
Yes, I have also talked to @pocmo about this and we've had discussions too.

While the technical side is just the start (as I mentioned), we should still make sure we think through all the messaging and experience implications before we proceed.

[2017-11-03 22:34] ekager commented on #1618
Woo okay, set a defined size for the icon and seems to be behaving correctly. Look good to you?
<img width="327" alt="screen shot 2017-11-03 at 3 32 02 pm" src="https://user-images.githubusercontent.com/25442310/32398429-814ecbb8-c0ac-11e7-9c0f-1fbd5043a339.png">

[2017-11-04 04:50] layely commented on #1638
Well @pocmo It works when content blocking is disabled.

But I think it's harsh considering it so ?

[2017-11-04 16:45] shubham171294 commented on #1641
No, it doesn't exist yet. Basically, I wanted to implement this functionality so needed to ask if it already exists or not.

I'll check the issue #1525 though.Thanks.

[2017-11-05 00:49] luizsabino opened #1650 "Button to clean history"
I think the button to clean history should be at address bar, sometimes I losts the page although it not showing.

[2017-11-06 02:18] brampitoyo commented on #1625
## Competitive analysis

### Chrome

Has a “Powered by Chrome” text underneath the menu – a handy feature to give user a ‘branded’ experience.

<img src="https://user-images.githubusercontent.com/51007/32421990-2ee60f64-c302-11e7-9e8c-c01029c18d3d.png" width="320"> <img src="https://user-images.githubusercontent.com/51007/32422002-4703eada-c302-11e7-99d9-15d460d28ee8.png" width="320">

### Yandex

[2017-11-06 02:28] brampitoyo commented on #1625
## Ideas from prior works

After reviewing issues #1341, #1282, #610 and #1529, there are a couple more recommendations I’d like to note.

* Some users complained of the fact that they can’t edit the URL in the address bar
  * One of the functions that editing can enable is cut/copy/paste.
  * To help mitigate this problem, what if we allow URL copying when user long presses the address bar?
* Our

[2017-11-06 02:42] brampitoyo commented on #1625
A couple of ‘is this possible?’ questions for @pocmo:

* Can we colour our custom tabs so that it matches our purple colour scheme?
  * If not, consider branding our custom tab another way, e.g. inside the menu

* Some users have said that they’re ‘stuck’ and unable to ‘move forward’ when they open an address in our custom tabs.

  * Can we include an icon in the address bar, that when tapped, wil

[2017-11-06 06:26] vishal02gaur commented on #1614
issue was on our end having same ids

[2017-11-06 06:26] #1614 closed

[2017-11-06 11:33] pocmo commented on #1625
So that in your example the status bar would not be red but use our purple gradient? Yeah, that would be possible.

Yeah, that's possible - although I wonder if it should really be in the toolbar. Unfortunately we accidentally removed Focus from the "Open with" menu which makes it even harder right now (#1529). I think the feeling of getting stuck is mostly triggered by #1282: Custom tabs should *

[2017-11-06 11:34] pocmo commented on #1650
Duplicate of #809.

[2017-11-06 11:34] #1650 closed

[2017-11-06 11:38] #1179 closed

[2017-11-06 11:41] pocmo commented on #1638
Maybe. :) But technically this is a way Facebook can (and probably does) track you across sites. This is controlled by the "Block social trackers" setting.

[2017-11-06 11:50] pocmo commented on #1312
The situation has changed a bit since then. We have multiple tabs now. Instead of keeping the fragment around we'd want to keep the `Session` object around. This might allow us to restore the session - cookies, cache etc. would be deleted already though.

[2017-11-06 13:10] #1601 closed

[2017-11-06 13:32] bbinto commented on #98
Is this issue still relevant? @npark-mozilla ?

[2017-11-06 13:34] npark-mozilla commented on #98
@bbinto yes, actually I believe Bogdan from softvision is working on this as his first test.  will keep you updated.
@bsurd FYI, you can reference this bug when you create your PR.

[2017-11-06 13:35] bbinto commented on #459
Does that mean it'd be easier to support it? If so, can you comment on effort? @pocmo

[2017-11-06 13:37] bbinto commented on #773
closing this in favour of #1337

[2017-11-06 13:37] #773 closed

[2017-11-06 13:42] bbinto commented on #892
Any news / feedback on this? @mcomella

[2017-11-06 13:50] pocmo commented on #459
Yes.

* We can enable Safe Browsing for WebView - afaik this is also possible for older versions of Android as WebView will be updated independently (needs verification). By default WebView will show an internal warning interstitial.

* For Android 8.1+ there's a new API where we can intercept the default behavior and show our on UI in case an "unsafe" website should be loaded.

[2017-11-06 13:54] bbinto opened #1651 "[meta] Retain cookies and login info"
User Story:
- As a user, I want to frequent my favorite website without having to login each time

Some quotes (login related)
- I get an email with a link to a website that requires my login info
- I have few websites which I visit frequently and I want to keep cookies for them (whitelist); for any other websites I want to block third-party and/or first-party cookies completely or destroy them
-

[2017-11-06 13:56] #1128 closed

[2017-11-06 14:04] bbinto commented on #1363
Will be investigated in #1250

[2017-11-06 14:13] bbinto commented on #1647
@lime124 let me know if you are ok with closing this

[2017-11-06 14:15] bbinto commented on #1485
Closing this in favour of #1041 and #1651

[2017-11-06 14:15] #1485 closed

[2017-11-06 14:17] bbinto commented on #1362
Adding this to the [[meta]](https://github.com/mozilla-mobile/focus-android/issues/1250)

[2017-11-06 14:22] bbinto commented on #1523
I think there is nothing wrong with keeping a cap on the size of the app. We should not deviate more than +1MB from the original APK size limit.

So can we up it to 5MB?

[2017-11-06 14:39] bbinto commented on #1318
Would love to hear @lime124's take on that / effort etc.

[2017-11-06 14:54] pocmo commented on #1651
* So #1525 is not necessarily about saving login data?
* nit: "Retain cookies" is already a solution to the described problem. Are there others? Could making logging in easier solve some?

Having tracking protection and retaining cookies is a tough nut to crack. The same cookie that is used to remember your login session could be used to track you across sites. This might require that we either di

[2017-11-06 14:56] pocmo commented on #1523
Alright!

[2017-11-06 14:59] bbinto commented on #1651
@pocmo; followed your suggestion [here](https://github.com/mozilla-mobile/focus-android/issues/1525#issuecomment-338681446)

@lime124 let me know what your thinking around #1525 was so far as it relates to addressing the cookie/login issues? I was under the impressing, for 3.0 getting both done would probably be not possible? Happy to revise ;)

[2017-11-06 15:21] bbinto commented on #1431
Leaving this here for now.

First and most important use cases for using an A/B framework:
- Talk to our users more and quicker: show survey invite/link to specific group of users
- Iterate faster and improve 1D retention via onboarding experiments (e.g. removing/adding first run slides, showing contextual hints)
- Nice to have: Changes to labels, e.g. change Menu label "Add to homescreen" to "Sav

[2017-11-06 15:29] pocmo commented on #1604
This "App fill" feature of Lastpass is interesting:
https://youtu.be/Ct3yPo2-V4U

Android 8+ comes with an Autofill API, not sure if it is helpful here though:
https://developer.android.com/guide/topics/text/autofill.html

[2017-11-06 17:03] pocmo commented on #1251
@npark-mozilla Did this ever happen again?

[2017-11-06 17:05] pocmo commented on #1651
Just wondering - if we ever switch to GeckoView then this could be a problem too: We would need to modify private browsing mode to still save some data.

[2017-11-06 18:12] liuche commented on #1503
We don't have clear repro steps, but if someone wants to help out, could use some extra eyes to look through this code and see if there are any dead references or lifecycle problems.

[2017-11-06 18:13] pocmo commented on #1493
Added the [help wanted] label: I'm not even sure if we can honor preventDefault() here - but if: Patches welcome!

[2017-11-06 18:15] liuche commented on #1448
@bbinto wants to verify this

[2017-11-06 18:16] pocmo commented on #1435
Depends on #1573

[2017-11-06 18:17] liuche commented on #1428
UX and Product to look into this @bbinto @lime124

[2017-11-06 18:17] #1411 closed

[2017-11-06 18:18] mcomella commented on #1415
@npark-mozilla Please add the `help-wanted` label if you think a contributor could help us out here! :)

[2017-11-06 18:20] mcomella commented on #1367
@npark-mozilla Please add `help-wanted` if a contributor could help us out here! :)

[2017-11-06 18:21] liuche commented on #1349
@antlam do you have an icon to attach? If you do, can you add the help-wanted label :)

[2017-11-06 18:22] liuche commented on #1334
Depends on #1569

[2017-11-06 18:30] antlam commented on #1349
@liuche not yet, most of the focus here on the visual design side has been on getting Photon polished, buffed, and shined for next week!

[2017-11-06 18:35] npark-mozilla commented on #1251
No... haven't encountered this in BB for a while, let's close it for now.

[2017-11-06 18:35] #1251 closed

[2017-11-06 18:41] mcomella commented on #1185
@staktrace Can you still reproduce this? I'm wondering if this was fixed when the WebView version was upgraded. Thanks!

[2017-11-06 18:43] mcomella commented on #1196
SO agrees: https://stackoverflow.com/a/29395509/2219998

For this bug, please first investigate if it's possible to remove the header entirely (e.g. can we pass in null?), then fallback on sending an empty String.

[2017-11-06 18:45] mcomella commented on #1216
This could also be related to #1492 – we would stop using the disk cache, so we would use the network more often and thus be using more battery than requesting the data from disk.

[2017-11-06 18:45] mcomella commented on #1251
@npark-mozilla If so, please add `help-wanted` if a contributor could help us out here. :)

[2017-11-06 18:46] mcomella commented on #1334
It could be fixed by this bug too

[2017-11-06 18:53] antlam commented on #1431
I think we should probably try out the Visual UI Editor and the Rich Survey tool to be sure. :)

I haven't tried the Rich Survey tool yet, but it could be a good way to for us to get those reviews we've been dreaming about. I do have some questions though because it seems to oversimplify the UI design side of things. For example, could we set _no_ background image?

In terms of the Visual UI Edito

[2017-11-06 18:57] mcomella commented on #1338
Actually, this is a product discussion: do we want to fix this?

Typically, if we don't fix this, the effect will be:
- Resources on some HTTPS pages will fail to load: sometimes, a site will send the intermediate CA with the initial connection and exclude the intermediate CA in loading resources (e.g. images, CSS, JS) to save bandwidth: these resources will fail to load
- Some websites will have

[2017-11-06 19:01] mcomella commented on #1500
For this bug, please investigate, and report back, if this is a problem with Focus (and determine if we can fix it) or if it's a problem with the WebView (in which case we'll have to file a bug against chromium or add a comment to an existing bug).

One idea: we don't cache intermediate CAs so it's possible that we're dropping the SSL connections to the page's resources (#1338).

[2017-11-06 19:01] mcomella commented on #1481
For this bug, please investigate, and report back, if this is a problem with Focus (and determine if we can fix it) or if it's a problem with the WebView (in which case we'll have to file a bug against chromium or add a comment to an existing bug).

[2017-11-06 19:05] liuche commented on #1296
Wiki has been updated, and includes new scripts.

[2017-11-06 19:05] #1296 closed

[2017-11-06 19:06] mcomella opened #1655 "Consider including debug info (WebView version, user agent) in product"
This way it'll be easier to ask bug filers for debug information.

We could add a page like `about:debug` or include a menu option (maybe 3-dot -> Settings -> About Firefox Focus, which already has the build ID)

[2017-11-06 19:10] Sdaswani commented on #1431
Cool, let me plug in the latest SDK and give a demo of what it can do.

[2017-11-06 19:11] mcomella commented on #1479
Sorry it took so long to get back to you. I haven't been able to reproduce this issue – in fact, Focus tends to load faster than other browsers (like because there is less browser chrome code running and we're blocking requests to trackers).

@motfis What's your user agent? You can find it by visiting https://www.whatismybrowser.com/detect/what-is-my-user-agent in Focus.

[2017-11-06 19:12] layely commented on #1638
Agree with that @pocmo. This is issue can be closed now. Thank you!

[2017-11-06 19:12] #1638 closed

[2017-11-06 19:12] mcomella commented on #1655
Alternatively, we could:
- Create a page that indicates all the debug info we need (like https://www.whatismybrowser.com/detect/what-is-my-user-agent but Focus-specific)
- Provide a wiki page, that we can link to in bugs, that will give you steps to find all the important information (e.g. here is how you get your user agent, webView version, etc.)

[2017-11-06 19:23] mcomella commented on #1449
I landed #1306 so that should be fixed.

However, I verified that the first issue - that the Help WebView shares state with the main browser – is still an issues. We should consider fixing it in, or after, #1569. Note that it'd be impractical to separate them completely when opening Help from the main browser, but it should be fine to separate it from the start screen.

[2017-11-06 19:24] mcomella commented on #1569
^ Please see these reference issues for more we should consider when completing these issues.

[2017-11-06 19:24] npark-mozilla commented on #1516
@pocmo When I run the latest build, I see the circle shortcut (but no white squircle) on Pixel 2 device, Android 8.0, instead of squircle. Is this specific to certain android api version?

[2017-11-06 19:27] mcomella commented on #1178
For this bug, please create a page on our Wiki describing the User Agent and its meaning, like the link in the first comment. Please explain if there are any differences between Focus and Klar and include a "Last updated on <date>, with <commit>" at the bottom of the page.

[2017-11-06 19:29] mcomella commented on #1178
[Do Not Track is officially sent as a header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT). [According to MDN](https://developer.mozilla.org/en-US/docs/Web/API/navigator/doNotTrack), `navigator.doNotTrack` is an experimental JS API for this info and has an unknown implementation status on Android mobile. Since we're using WebView, we're relying on its behavior.

[2017-11-06 20:25] Sdaswani commented on #1431
@pocmo does the world you've broken down include the items @bbinto listed [here](https://github.com/mozilla-mobile/focus-android/issues/1431#issuecomment-342180890)? If not, how much do you think it would add to the up front dev cost?

FYI @bbinto i think your requirement for general A/B testing is confirmed [here](https://github.com/mozilla-mobile/focus-android/issues/1431#issuecomment-341429860)

[2017-11-06 21:03] ekager commented on #1516
Hi @npark-mozilla ! You have to [enable UI Tuner on Pixel ](https://www.howtogeek.com/270568/how-to-enable-android%E2%80%99s-%E2%80%9Csystem-ui-tuner%E2%80%9D-for-access-to-experimental-features/) and then [change icon shape](https://www.androidauthority.com/change-icon-shape-pixel-launcher-773473/).

[2017-11-06 21:22] staktrace commented on #1185
I've since uninstalled Focus so I'm not sure if this is still happening. It was happening last time I checked (which was after I installed the Android System WebView to fix #1238).

[2017-11-06 21:34] mcomella opened #1656 ""Open with..." does not show Rocket when user has default browser"
via https://github.com/mozilla-tw/Rocket/issues/1149#issuecomment-341329353

If I understand this correctly, we should add Rocket to the known browsers list.

[2017-11-06 21:36] lime124 commented on #1647
i'm following up on a couple things. i'll take responsibility for closing it :)

[2017-11-06 21:47] mcomella opened #1657 "Polish: ensure consistency of colors throughout the app"
Here are the colors (and possible names):
- [ ] Dialog Black 100% (#272727)
- [ ] Dialog Light Grey 100% (#414146)
- [ ] Pressed state on Dark 100% (#38383D) = Grey 70
- [ ] Hint text white 40% (#80FFFFFF)
- [ ] Blue links 100% (#0A84FF) = Blue 50
- [ ] White links 100% (#FFFFFF)
- [ ] URL string 100%  (#B2B2B2)

Please ensure all the UI elements are using these colors and that they're sharing a s

[2017-11-06 21:48] mcomella commented on #1657
@layely has been working on this. FYI to layely that I broke this out from #1260.

[2017-11-06 21:50] mcomella opened #1658 "Update 3-dot overflow menu to match mocks"
Check against the mocks from #1260:

https://user-images.githubusercontent.com/1994820/30620468-61691760-9d5a-11e7-9ba5-400c67231760.png

And ensure we have the right colors and padding/spacing for both the start screen and the browser screens. Note that these may already be correct, in which case there are no code changes that need to be done in this bug.

@layely has been working on this. FYI, l

[2017-11-06 21:51] mcomella opened #1659 "[meta] UI audit of dialogs/ context menus in app"
breakout from https://github.com/mozilla-mobile/focus-android/issues/1260:

Here are the views I think this includes
- [ ] #1658: Overflow menu (home and content)
- [x] #1520: Add to Home screen dialog (sometimes with Hint UI for TP disabled status)
- [x] #1466: Context menu on long-press (sometimes with Hint UI for Saving images/downloads)
- [ ] #1657: Ensure color consistency in app

---

Note:

[2017-11-06 21:58] mcomella commented on #1260
Sorry this was confusing – this issue is from before we changed our Sprint process. I made this the [ux] bug and created a corresponding eng [meta] bug (#1659) with broken out bugs. I made sure that checklist is up-to-date and applied no labels.

If we break up issues as we agreed to, I think there will generally be comments from contributors in the issue or at least a single, clear PR we could fo

[2017-11-06 21:58] #1260 closed

[2017-11-06 22:01] lime124 commented on #1604
@pocmo does autofill api work with all browsers (like us)? I couldn't easily tell if that is true or not.

It looks like 1password also is doing something - https://support.1password.com/android-autofill/

[2017-11-06 22:06] lime124 commented on #1651
@bbinto I'm looking at password management integration (e.g. lastpass) as part of the solution set to solve the problem in #1525.

Cookies, b/c of the concerns @pocmo initially mentioned to me, are not part of the solution.

[2017-11-06 22:16] brampitoyo commented on #1625
@pocmo Thanks for your answers. It’s really good to know that we can:

* Do whatever we want with custom tabs design – including having our own colour scheme. This is interesting, and I have to think about how much we want our own branding versus the app’s.
* Add a link, button, etc. to open the URL in Focus app

I also agree that there needs to be clear and explicit separation between custom tabs

[2017-11-06 22:54] mcomella commented on #892
I didn't see this, sorry.

I originally filed this to prevent startup time regressions. After thinking this over, **I'm not sure it's worth implementing at the moment**:
- We haven't been adding much that would affect startup time (though what background tasks do we run on startup? Maybe we could measure the duration of those instead?)
- I had intended to implement this as time from app launch to

[2017-11-06 23:42] mcomella commented on #1564
FYI: I created the v2.4 milestone branch with `releases/v2.4`

[2017-11-07 00:30] liuche opened #1660 "Save newly added search engines"
Meta: #961

#1617 added the screen to create new search engines, this issue is for actually saving them.

This bug should validate the search string, and then save the search engines in opensearch format, and then show them in the search engines page.

[2017-11-07 01:20] mcomella opened #1661 "Releng for v2.5"
[v2.5 milestone](https://github.com/mozilla-mobile/focus-android/milestone/25)

See [Focus for Android Train Schedule](https://wiki.mozilla.org/Mobile/Focus/Android/Train_Schedule)

## Sprint start

- [x] Update versionName in build.gradle for the next milestone (preliminary version number)

## Feature complete [Monday, 1st week of next milestone]

- [ ] Create a branch for the *current* milestone

[2017-11-07 01:48] mcomella opened #1662 "python: specify max APK size in MiB"
Right now, we use [apk_size.py](https://github.com/mozilla-mobile/focus-android/blob/master/tools/metrics/apk_size.py) to ensure we don't exceed a particular APK size. We specify the maximum size of the APK in bytes but that's error prone. We should:
- Specify the `SIZE_LIMIT` in MiB
- Convert it to bytes to compare to [the file size returned by `st_size`](https://github.com/mozilla-mobile/focus-a

[2017-11-07 05:15] autonome commented on #1358
Hm, I initially filed this with Reddit as the example, and it morphed to talk about "custom tab".

But as I said in the first few comments, it's elsewhere too. Eg:

https://mozillagfx.wordpress.com/2017/11/06/webrender-newsletter-9/

Pretty sure this one should have a share option. I don't have a Wordpress app installed (if that's how the custom tab stuff works).

[2017-11-07 05:16] autonome commented on #1358
Should I file a different issue for just having Share there all the time no matter what? That's really the only way the user is in control of their experience, instead of Mozilla or the website or native app.

[2017-11-07 08:44] pocmo commented on #1662
I can't follow why this is error prone?

[2017-11-07 08:50] pocmo commented on #1564
I deleted the branches for cobalt to ebony. We are not updating them anymore and I checked that the tags will remain - so we will always be able to check them out and re-create branches if needed.

[2017-11-07 08:59] pocmo commented on #1604
Good question. I haven't played with that API at all. There are also no hints in the documentation that I can see right now. However when long-pressing an input field on Android 8.1 it shows an "autofill" action here - although it doesn't autofill anything yet.

If this is something you want to know for your research then I can investigate this.

[2017-11-07 09:03] pocmo commented on #1185
FYI: We also landed a patch that fixed some problems with NestedWebView - which could have fixed this here too.

[2017-11-07 09:04] pocmo commented on #1516
If you have the Google launcher installed you can also long press the home screen -> "home settings" -> Change icon shape

[2017-11-07 10:17] pocmo commented on #1431
We should have the capabilities to run those experiments. Some of them might need additionally UX/code that we enable in an experiment though. I suggest filing separate issues for them so that we can prioritize and plan them.

Definitely possible - we'd have to decide how those links invites should show up though.

As discussed onboarding is a special case because it is usually shown *before* we h

[2017-11-07 10:22] pocmo commented on #1655
Note that we use "focus:XXX" for other internal pages as "about:" is primarily used and reserved by Chrome/WebView.

Also see #1465 for creating an issue template - Whatever we decide to do here should be mentioned in the template. :)

[2017-11-07 10:33] pocmo commented on #1338
I tend to WONTFIX because of that. Do we have the resources and knowledge to maintain and keep this code secure? Using the AOSP browser code seems to be acceptable if it appears to be maintained and if it is rather small amount of code.

[2017-11-07 15:08] npark-mozilla commented on #1516
Ahh, thanks!

[2017-11-07 16:44] liuche commented on #1631
Action item: file a web evangelism bug on bugzilla.mozilla.org about this so that team can reach out.

[2017-11-07 16:46] liuche commented on #1569
Engineers still have an action item to meet and discuss a strategy for this.

[2017-11-07 16:48] jenn-chaulk opened #1665 "[breakdown] Quick access to favourite sites"
From focus-android created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-android#1525

User Story:
- As a user, I want to access my frequently visited websites without always having to type in the full URL
- As a user, I want to frequent my favorite website without having to login each time

Some ideas that were floating around (without being prescriptive)
- Allow users to add thei

[2017-11-07 16:48] jenn-chaulk commented on #1525
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-07 16:50] jenn-chaulk commented on #1665
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-07 16:50] jenn-chaulk opened #1666 "[Meta] Quick access to favourite sites"
From focus-android created by [jenn-chaulk](https://github.com/jenn-chaulk) : mozilla-mobile/focus-android#1665

From focus-android created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-android#1525

User Story:
- As a user, I want to access my frequently visited websites without always having to type in the full URL
- As a user, I want to frequent my favorite website without havin

[2017-11-07 16:50] liuche commented on #1515
Feature flags are for developers to hold features back, but at the moment we don't have a pressing need or feature that needs a flag right now.

We're putting this into a P3 for now.

[2017-11-07 17:04] liuche commented on #1472
@mcomella will see what happens if just leaving these files, and report back to @bbinto.

[2017-11-07 17:06] liuche commented on #1465
Also consider having a "feature-request" template.

[2017-11-07 17:07] npark-mozilla commented on #1471
Turns out #1480 really fixed the issue when I extended the timing between locale set and app start. Closing.

[2017-11-07 17:07] #1471 closed

[2017-11-07 17:07] pocmo commented on #1449
Now that we support multiple tabs I wonder if "help" should just open a tab instead of wrapping the help page in a new activity?

[2017-11-07 17:10] liuche commented on #1433
This involves a small change to our build config.

[2017-11-07 17:15] pocmo commented on #1666
Isn't #1525 the meta?

[2017-11-07 17:21] #1666 closed

[2017-11-07 18:49] ekager commented on #1618
Search Engine Icons still not quite the correct size on all devices

[2017-11-07 18:53] liuche commented on #1459
Currently rolled out to 99%, crash rate hasn't gone up (although there is more variance in the ANR rate).

[2017-11-07 18:58] ekager commented on #1618
@lime124 Can you confirm that this screenshot fixes the name and title line up issue? :)
<img width="311" alt="screen shot 2017-11-07 at 8 55 50 am" src="https://user-images.githubusercontent.com/25442310/32512061-8a1cfc82-c3aa-11e7-82f5-3aec8a2ef7ba.png">

[2017-11-07 19:00] lime124 commented on #1618
Confirm! Thanks @ekager !

[2017-11-07 19:07] lime124 commented on #1318
Seems like a good idea and a good way to solve what I think is the problem: I can't see the entire URL to be confident it's not being spoofed.

I'd like to first talk with the Fennec designers and get their thoughts on the feature. I'll be happy to do that when it becomes a priority.

[2017-11-07 19:16] #1617 closed

[2017-11-07 19:16] mcomella commented on #1662
We want to specify the value in MiB/MB but the program requires the value as bytes so we need to do a conversion each time the value is updated. There's room for error in the conversion, especially with potential confusion over MiB vs. MB (e.g. how "5mb to bytes" in DDG says "5000000" and we probably want "5MiB to bytes").

[2017-11-07 19:20] #1618 closed

[2017-11-07 20:14] mcomella commented on #1472
@bbinto Do you have specific STR for me to test here? (e.g. the steps from the store)

[2017-11-07 20:20] mcomella commented on #1449
This would be less work: it would invalidate this issue because then Help conceptually would be expected to share the session information with other open tabs.

@pocmo Are there other views that rely on a WebView that we should also be concerned about (e.g. the InfoActivity)?

[2017-11-07 21:22] liuche opened #1668 "Null check in SettingsFragment"
Broken SwitchLocaleTest because getArguments is null.

[2017-11-07 21:30] mcomella commented on #1358
Custom Tabs are an Android feature where an application (e.g. reddit) can choose to open an external link in a "Custom Tab": this is a set of minor customizations over an installed browser (e.g. Focus, Chrome) including whether or not the "Share" menu option is shown.

The Reddit app chooses to open external links in custom tabs and so our custom tab implementation activates with your reddit app S

[2017-11-07 21:55] JordanShaak commented on #1662
I'm still shaky on the process of submitting my stuff for review when trying to contribute to a project but I made a pull request since I think that's what you're supposed to do? I don't really get this process very well since I'm still spending more time wrestling with Git than doing anything else.

[2017-11-07 22:28] MrGeneric commented on #1631
Here's a screenshot. The user is presented with a dialog, but is allowed to continue.

![image](https://user-images.githubusercontent.com/3923223/32521085-17e3138a-c40a-11e7-9716-fa1d4c23a9db.png)

Seems like the Focus cookie blocking is causing the dialog to appear.

`$.cookie('androidMessage')=== null`

[code]

[2017-11-07 23:32] Sdaswani opened #1670 "What's New Entry for 2.4"
We need a What's New entry for version 2.4 of Focus Android. Looking at the [work list](https://github.com/mozilla-mobile/focus-android/milestone/17?closed=1) a few notable updates are - Swipe to refresh?

cc @mcomella we should add this to the releng list, i.e, file a ticket for what's new content.

[2017-11-08 03:28] liuche opened #1671 "Use enums for Settings screen types"
From comment in #1669, the Settings fragments could use enums to declare the different settings screens rather than pairs of resource ids (which could be error prone).

[2017-11-08 04:43] #1668 closed

[2017-11-08 06:51] autonome commented on #1358
Thanks for explaining how custom tabs work! Very helpful, I appreciate it.

For the GFX blog, I'm pretty sure I opened it from the Reddit app, which means is the same problem.

I now understand this comment from @pocmo better:

If anyone should be designing for user choice > app > OS, it's us.

If anyone should be pushing on the edges of what is possible in advocating for user control in proprieta

[2017-11-08 10:43] pocmo commented on #1449
@pocmo Are there other views that rely on a WebView that we should also be concerned about (e.g. the InfoActivity)?

The other pages (about/privacy/rights) are internal ones. However they contain links. So you could follow them and then collect cookies etc. on the pages you visit.

[2017-11-08 10:47] pocmo commented on #1318
Yep!

I designed that 🙃

It's in Firefox for Android 57 - implemented by a long-term contributor.

[2017-11-08 13:14] bbinto commented on #830
Submitted work intake [request](https://docs.google.com/document/d/1li_q0WHEETgNvqAGYLaucWo9CzuLxZRe2QOdHYT-ygs/edit#) for web team to take care of the last remaining piece

[2017-11-08 13:21] bbinto commented on #1472
@mcomella

Firefox Focus used on Samsung tablet, landscape mode

1. start page: http://shoppopbox.com/shopper/
2. Go through checkout (before hitting final submit) for e.g. Vinebox, you should see items in shopping card
3. Hit erase
4. Repeat steps 1 and 2 and you will see the items from the previous session in the card

[2017-11-08 13:27] bbinto commented on #1651
Supporting user story:  "as a French person and a Focus user myself, I think an important reason why I use it (and presumably others too) is not because of privacy concerns but because most of the major newspapers limit the number of articles you can read for free per week to 5. using focus you can bypass this restriction"

[2017-11-08 13:48] pocmo commented on #1439
Just used this and adding the configuration file was enough. I think there's no need for additional research for now. Closing! :)

[2017-11-08 13:48] #1439 closed

[2017-11-08 14:46] pocmo opened #1674 "Link color missing on some pages"
I noticed that on some pages the link color is missing and we are showing them in the default blue:

![linkcolor](https://user-images.githubusercontent.com/89638/32554960-bdbfb862-c49b-11e7-96f5-8ef80e395319.png)

Could be caused by 0ada32f4cdb8a80255bbb5f31ef0a5f7d643b562 (#1462)

[2017-11-08 14:51] pocmo commented on #1674
After reverting 0ada32f this is fixed. I'm going to push the revert to master.

[2017-11-08 14:52] pocmo commented on #1674
@mcomella I would like to uplift this to the 2.4 release branch.

[2017-11-08 14:52] TPS commented on #961
Since this has to remain privacy-focused, I'd like to RFC/E the following related to this issue _w/o (yet)_ creating a full issue:

There's a lot of blank _(useless)_ space on the opening screen.  IMHO, an _optional_ list of installed search engine fields may answer to use that space constructively.  Any interest?

[2017-11-08 15:13] pocmo commented on #1499
@lime124 Here's a screenshot of the new scrollbar. The PR sets the scrollbar to be 4dp in size and to use color #aaaaaaaa (ARGB). The change is noticeable on white only really - where previously the scrollbar was invisible.

![nytimes](https://user-images.githubusercontent.com/89638/32556420-a9392348-c49f-11e7-9b42-b1c5cb55b180.png)

[2017-11-08 15:15] bbinto commented on #1338
@Sdaswani and @pocmo  - How about this?

I just don't want the user end up in a dead end without knowing why/how/what to do.

[2017-11-08 15:54] bbinto commented on #1338
I like the probe idea to start with first.

[2017-11-08 16:00] #1613 closed

[2017-11-08 17:26] lime124 commented on #961
Hey @TPS - if I understand your proposal correctly, you are suggesting we list installed search engines on the homescreen (see image)? Can you summarize the problem this proposal solves? Thanks!

![homescreen - keyboard - toast](https://user-images.githubusercontent.com/287322/32563605-84e2d91e-c466-11e7-9f1f-6ebdc4440d1b.png)

[2017-11-08 18:45] lime124 commented on #1670
Here is link to WIP doc: https://docs.google.com/a/mozilla.com/document/d/1kfz01x4vpoIQphbymmGsWcpY3CzytbjQ9sYWW0TX0ok/edit?usp=sharing

[2017-11-08 19:01] mcomella commented on #1338
I don't think we can distinguish between just any SSL error and missing an intermediate CA, but we can do something creative:
- We can add a probe to report SSL errors that occur for the non-primary URL (e.g. you go to google.com and get SSL errors for additional requests like images): this is more likely to indicate intermediate CA errors but sometimes this could just be regular SSL errors
- We c

[2017-11-08 19:01] lime124 commented on #1593
from susheel: http://info.localytics.com/blog/mobile-apps-whats-a-good-retention-rate

[2017-11-08 19:08] mcomella commented on #1338
Note: we may be able to share the same endpoint as desktop: https://firefox-source-docs.mozilla.org/browser/base/sslerrorreport/index.html

[2017-11-08 19:11] randyjensen commented on #1472
A few more specific details if it helps:

1. The [exact tablet](https://www.amazon.com/dp/B011842JB4/ref=cm_sw_r_tw_dp_x_9Z0aAb7Z0SKVN) being used.

2. We are using a Kiosk app called [MobiLock](https://mobilock.in/) which forces Firefox Focus to automatically open itself if the user hits the home button. I've tested with this disabled and it does not fix the issue.

3. We partner with online comp

[2017-11-08 19:23] liuche opened #1677 "Update SUMO pages to not be FirefoxOS styled"
Since we're linking to SUMO from both the product ("What's new") and the release notes on Android, the SUMO mobile pages should not look like Firefox OS. Users might also be confused that the SUMO web UI (hamburger menu, search) is actually Focus UI.

[2017-11-08 20:50] mcomella commented on #1358
I like the way you think. :) tbh, nothing major – worst case, we would be going against best practices in the ecosystem so users or app makers would dislike opening custom tabs in Firefox.

I think the use case for hiding share is internal app links (e.g. yelp could use webView to display some part of their app but it's an internal-only URL) which could be confusing to users if they won't work in

[2017-11-08 20:54] mcomella commented on #1674
Done: https://github.com/mozilla-mobile/focus-android/commit/b00f12117d3306e223f9e7a7dc1c31e8cd69a8b6

[2017-11-08 20:54] #1674 closed

[2017-11-08 20:55] liuche commented on #1459
Published to Focus releases page, which closes out the checklist.

[2017-11-08 20:55] lime124 commented on #1670
@BrianNJones said he would be able to finish by friday.

[2017-11-08 21:20] mcomella commented on #1662
I've commented in the PR: #1672.

[2017-11-08 21:58] liuche commented on #1671
I'm going to take this as part of #1644.

[2017-11-08 22:04] npark-mozilla opened #1678 "Pressing back button on new tab closes tab"
I was wondering whether the behavior I'm seeing matches expectations - When doing the following,
1. Go to a webpage A
2. Open a new tab to open webpage B.

3. Go back to webpage A, browse a few more sites, and press back button until there is no sites to go back to, then press back button again
Expected: ?
Actual: closes the new tab, remains in webpage A

3. From the new tab, press back button.
Ex

[2017-11-08 22:28] #1660 closed

[2017-11-08 22:37] liuche commented on #1660
This is part 2, and only handles saving search engines.

I think we'll need to add some more strings because our error messages are not satisfactory/complete ( #1567 ) and there are still more parts, see #961 for meta and current progress.

@npark-mozilla alternatively I can flag you when all of #961 is done, what would you prefer?

[2017-11-08 22:39] liuche commented on #1668
@npark-mozilla since this is a test fix, I don't think it needs QA because the test will be working - but let me know if it should be QA+.

[2017-11-08 22:41] liuche commented on #1617
Same as #1660 , this is Part 1 of the #961 meta - @npark-mozilla should we flag for QA upon partial landing of features, or should it be part of the meta when everything lands? Flagging QA+ for now to be safe.

[2017-11-08 23:03] liuche commented on #1678
Yeah, these problems are popping up more: see #1569 - there are a few more that popped up in triage but I can't remember what they were. If I see them again I will link them to #1569.

[2017-11-09 00:14] liuche commented on #1535
I updated the checklist to include the new Wed/Wed import/export.

[2017-11-09 00:30] jonalmeida commented on #1611
Just for an update. Things came up that made me push back looking at this further.

[2017-11-09 01:08] #1671 closed

[2017-11-09 04:58] autonome commented on #1358
Non-HTTP/S links are pretty easy to detect. Can just toggle visibility based on that?

[2017-11-09 05:18] TPS commented on #961
I'll expound a little:   All that blank space above could serve us better.  In regular Ff, we use tiles w/ user history.  Since Focus/Klar doesn't have that, maybe search fields/tiles could optionally serve the same purpose of constructively using the space.

[2017-11-09 06:39] ZhangKuixun opened #1680 "transformDexWithInstantRunDependenciesApkForFocusGeckoBeta"
Error:Execution failed for task ':app:transformDexWithInstantRunDependenciesApkForFocusGeckoBeta'.

[2017-11-09 09:30] autonome commented on #1358
Oh, right. You can make intent filters for HTTP/S URLs and handle them natively.

I'd still rather err on the side of: "User is always the decider of whether to share. Occasionally a non-critical share action will be confusing."

We shouldn't be prematurely optimizing for the sharing-while-Focus-is-default-and-custom-tab-also-with-internal-url scenario at the expense of user control.

[2017-11-09 09:45] klint opened #1681 "Website not opening correctly in Focus"
Not sure this is the right place to report websites that will not display correctly in Focus (even with all ad-related settings turned off).
But http://steichencollections.lu/ does not scroll down like it does on Firefox Beta, or within the Facebook app.

[2017-11-09 10:30] shinilms commented on #1620
Hell

I ran the ./gradlew tasks command as you said and the following is the
result I got. Can you tell me the exact task which will produce the
geckoView AAR file?

All tasks runnable from root project
------------------------------------------------------------

Android tasks
-------------
androidDependencies - Displays the Android dependencies of the project.
signingReport - Displays the signin

[2017-11-09 11:10] pocmo commented on #1358
Note that "not showing the default(!) share item" does not mean there won't be a share item. There are a bunch of apps that show their own share item in the menu - because sharing in the app's context means more or something else. In the worst case we'd end up with two share items.

In general I agree that we should make it easier to switch to the full browser where the user has all options.

Look

[2017-11-09 11:11] pocmo commented on #1680
What are you intending to do? You might want to build "focusWebviewDebug" and not the Gecko version.

[2017-11-09 11:13] pocmo commented on #1678
Yes, this is the intended behavior for now (and btw. in Fennec too): You will leave the app when pressing back in tabs that are opened from external apps.

[2017-11-09 11:18] shinilms commented on #1620
Hello again,

Assuming the gradle task you meant was "assembleWithGeckoBinaries -
Assembles all WithGeckoBinaries builds", I ran it and the build was
successful. But I couldn't find any AAR files generated. Can you help me
with this? Will the AAR file be generated automatically after the gradle
task? If so, where can I find it? Or do I need to export geckoView as a
library?

On Fri, Nov 3, 2017 at

[2017-11-09 11:23] pocmo commented on #1620
The following steps should create the AAR:

[code]

After that you should find the AAR in:

Note that **objdir-frontend** is the name I've set in mozconfig. The directory might be named differently in your case (or be generated). Usually it's a folder that starts with **obj**.

[2017-11-09 11:30] pocmo commented on #1459
@liuche Back when we create this issue we didn't have bullet points for uploading the builds to S3 so that they show up on archive.mozilla.org.

I've been using the S3 command line tool for that:
https://aws.amazon.com/cli/

Did you get credentials for S3 via (encrypted) mail?

[2017-11-09 11:30] pocmo commented on #1674
Thanks!

[2017-11-09 11:33] autonome commented on #1358
Do you mean an additional step from the custom tab (eg, "Open with..."), or do you mean opening the view in the full browser in the first place?

I filed this because I got tired of doing "Open with" all the time, which is a pretty bad user experience compared to just being able to share directly from the default view.

[2017-11-09 11:34] shinilms commented on #1620
Thank you for your time. It's working. And one more thing, What do I need
to do to get vouched in Mozillians?

On 09-Nov-2017 4:53 PM, "Sebastian Kaspari" <notifications@github.com>
wrote:

[2017-11-09 11:38] pocmo commented on #1358
* Something that is simpler/faster than "Open with..."

* Just always opening the full view was my original implementation for the first version of Focus. :-)

Actually some time ago I hacked a prototype app that would act as a receiver for Custom Tabs and then just open a regular tab in your browser of choice:
https://github.com/pocmo/Just-Open-My-Browser

Is it primarily "Share" that you are mis

[2017-11-09 11:40] pocmo commented on #1620
There's a wiki page about that:
https://wiki.mozilla.org/Mozillians/Vouching

[2017-11-09 11:53] autonome commented on #1358
Just share.

I've not yet encountered a scenario as a non-developer user where I needed "Open with". As a developer user, I've used "Open with" to test different browsers.

[2017-11-09 15:10] npark-mozilla commented on #1617
@liuche I think flagging it for each bug is a good idea too. will check.

[2017-11-09 15:14] npark-mozilla commented on #1668
@liuche I agree.

[2017-11-09 15:15] npark-mozilla commented on #1660
@liuche i think current approach is good, if it becomes too cumbersome, let me know.

[2017-11-09 19:06] ekager opened #1685 "Pull down to refresh animation freezes on error page"
<img width="318" alt="screen shot 2017-11-09 at 11 03 53 am" src="https://user-images.githubusercontent.com/25442310/32624321-bc1b9826-c53d-11e7-90d9-b5aa091a5b0c.png">

Found when investigating #1610

STR:
1. Go to invalid address
2. Pull down to refresh

Expected Behavior : Error page is refreshed
Behavior : Spinning loading animation never goes away

[2017-11-09 19:07] Sdaswani commented on #1431
Yes, it would be nice if we improve this when we undergo this effort.

Also yes, English is our biggest user base by far (~30% on Android), so restricting to us will still give us statistically significant results.

[2017-11-09 19:08] pocmo commented on #1685
Ouch.

@ekager Do you have time to investigate that?

[2017-11-09 19:18] ekager commented on #1685
Yes, I can look into it!

[2017-11-09 19:19] lime124 commented on #961
Thanks for the follow up @TPS. Could you open up a new ticket for us to track that idea? Thanks!

[2017-11-09 19:40] ekager opened #1686 "Error page will only load for one bad URL"
Another Error page bug woo. Not sure if this is a known bug?

STR:
1. Type invalid URL in URL bar and submit (ex- 'kkk.j')
2. Error page loads correctly
3. Type another invalid URL in URL bar (ex - 'hhh.b')

Expected: Focus error page will load for new error
Actual: Generic webview error page loads

For fun - if you do it once more nothing loads and it's a blank page.

[2017-11-09 20:07] mcomella commented on #1472
@bbinto Do you have more specific steps to reproduce? I have been unable to reproduce with Vinebox and a few others but I've been hesitant to click through any CC forms because I'm concerned I'll actually order something. Some thoughts:
- For information to remain, I think either 1) the site needs to explicitly save the information for the user (for convenience), e.g. via Local Storage or 2) WebVi

[2017-11-09 20:10] mcomella commented on #1656
In order to tackle this bug, you'll need to get added to the Firefox Rocket beta – let us know if you want access.

You'll then need to update the `KnownBrowser` list in `Browsers.java` to include Rocket.

[2017-11-09 20:21] bbinto commented on #1472
@mcomella -- could we send some of your proposed solutions as APK sizes to @randyjensen to try them out?

[2017-11-09 21:25] liuche opened #1687 "Build broken: SIZE_LIMIT_MB not referenced"
Typo in #1672 PR, didn't update to use new variable.

[2017-11-09 21:43] #1687 closed

[2017-11-09 22:18] #1644 closed

[2017-11-09 23:56] liuche opened #1689 "Search Engine polish"
Polish, small fixes, Screenshots test for search engine feature.

Part of #961 meta.

[2017-11-10 00:21] jonalmeida commented on #1611
So I followed the chain of calls from `MenuItemViewHolder#bind` which checks if the page is loading before enabling the 'Add to Homescreen' since my assumption was that, a user was able to click the menu option before the page finished loading.

In the view holder, this call is made:
[code]
I confirmed that the `loading` flag in Session is correctly set in the `SessionCallbackProxy#onPageFinished`

[2017-11-10 00:50] mcomella commented on #862
Some additional notes of small things we should automate, probably after the issues in this bug (file a new bug?):
- Creation of "Releng for [release]" issues
- Creation of "What's new Entry for [release]" issues
- Strictly enforcing "Issue #..."/"Closes #..." tags in github via CI
- Strictly enforcing `qa=y/n` in commit messages via CI and auto-labeling QANotNeeded/ReadyForQA for issues based on

[2017-11-10 00:53] mcomella commented on #1670
Done.

[2017-11-10 01:01] mcomella commented on #1662
Closed by 90b0803.

[2017-11-10 01:01] #1662 closed

[2017-11-10 01:11] mcomella commented on #1523
Closed in 3c06788eef9ddfa8cc628c1d7c628073ec7fd50b.

[2017-11-10 01:11] #1523 closed

[2017-11-10 01:23] mcomella commented on #1601
@pocmo How can QA test this locale?

[2017-11-10 01:24] mcomella commented on #1602
@pocmo How can QA test this?

[2017-11-10 03:38] lime124 commented on #1604
Exploring integration with password managers. We're looking at getting firefox passwords and also incorporating with 1password, last pass, and dashlane. Also going to catch up with Lockbox folks next week.

[2017-11-10 03:41] lime124 opened #1691 "search engine sub text in edit mode"
This is a follow up issue to some leftover work before @liuche went on PTO. She said it should be really easy to get in before release.

This is text to identify the default search engine in when in edit mode to help eliminate confusion over why it's grey out/disabled.

We'll need a bit of copy from @BrianNJones

[2017-11-10 04:47] TPS opened #1692 "RFE/C: Optionally Use Installed Search Engines For Browser Open Tiles/Fields"
Per https://github.com/mozilla-mobile/focus-android/issues/961#issuecomment-343262067, I'm moving this here:

![Opening shot](https://user-images.githubusercontent.com/287322/32563605-84e2d91e-c466-11e7-9f1f-6ebdc4440d1b.png)

There's a lot of blank (useless) space on the opening screen. All that space could serve us better. In regular Ff, we use tiles w/ user history. Since Focus/Klar doesn't hav

[2017-11-10 04:53] TPS commented on #961
@lime124 I've opened #1692, per your encouragement & suggestion.  I'd like to delete my end of the discussion here (now duplicated there) to cleanup this meta-issue.  Any objections?

[2017-11-10 05:09] randyjensen commented on #1472
I'm doing more testing tomorrow to try and narrow things down as well. I'm in CA, not Chicago with the tablets, unfortunately.

I'm going to completely uninstall MobiLock to make certain that's not conflicting in any way. I'm also checking Samsung Knox to make sure it's disabled just in case. Will try to get as pure of a test as possible for you all.

A bit more background on why we're using MobiL

[2017-11-10 08:41] liuche commented on #1689
Code is done and reviewed, but seeing a lot of (unrelated?) UI test failures. Will land PR #1690 on return.

[2017-11-10 08:43] liuche commented on #1459
I'm waiting on keys from oremj for a new gpg key, because my gpg passcode didn't make it onto my keychain. Can you upload the 2.3 builds, @pocmo? I'll get it set up for the next time!

[2017-11-10 09:11] jerryn70 commented on #1571
Focus uses androids inbuilt download manager to download files and Brave uses its own download manager.   I have tried some other apps that uses androids inbuilt download manger and found that they are also not able to download files.

We need an inbuilt download manager to solve this issue.

[2017-11-10 09:51] pocmo commented on #1459
Yeah, I can take this over :)

[2017-11-10 10:56] pocmo commented on #1535
Release Bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1416182

[2017-11-10 11:08] bbinto commented on #446
I wanted to resurface this and #856.

Not quite sure if I understand this correctly. Doesn't the DNT header DO tell them that we don't want to be tracked?

[2017-11-10 11:10] bbinto commented on #856
@pocmo not sure if you are the right person to answer that but do you have any idea how big the differences between our list and the updated list are, i.e. +x% additional trackers added etc.?

Or maybe @fmarier knows?

[2017-11-10 11:13] bbinto commented on #1123
I think that might be a nice after 4.0 December task

[2017-11-10 11:19] bbinto commented on #996
So @pocmo, due to GeckoView requirements, is this a blocker than?

[2017-11-10 11:20] bbinto commented on #978
Due to Sebastian's [comment](https://github.com/mozilla-mobile/focus-android/issues/978#issuecomment-321536178), moving this to a P5 for now

[2017-11-10 11:33] bbinto commented on #1405
To confirm @eighthave - you'd like us to promote it here? https://www.mozilla.org/en-US/firefox/focus/

[2017-11-10 11:55] bbinto commented on #1265
@pocmo, if I turn off notification for Focus, it still says "Firefox Focus is running in the background" (via Android System notification), is this a notification that the user also can hide?

It might be worth adding some explanation to the SUMO page.

[2017-11-10 11:56] bbinto opened #1696 "Consider removing the "Browsing history has been erased" popup message"
See https://github.com/mozilla-mobile/focus-android/issues/1265#issuecomment-331670678 via @smartfonreddit

When Focus is the primary browser and I use it to open links from Flamingo (twitter app), it gets on the way every time the back button is pressed to go back to Flamingo. This becomes a major annoyance after few minutes of use.

[2017-11-10 12:00] bbinto commented on #1220
Can we close this now @npark-mozilla?

[2017-11-10 12:02] bbinto commented on #1216
Setting this P2, and revisit again once the P1 items have been fixed to see if issues have been resolved (#1492 and #1613)

[2017-11-10 12:02] bbinto commented on #1207
@ioana-chiorean is this still an issue?

[2017-11-10 12:17] bbinto commented on #1253
@pocmo - If we were to do #953, what would be the blocklist to add here to remove the adverts? Is this even possible?

[2017-11-10 12:20] bbinto commented on #1250
"Please add a proper tabs system maybe by changing the action flow button from delete history to tabs? Opening tabs by holding links to open in new tab is difficult."

[2017-11-10 13:22] pocmo commented on #1459
Uploaded 2.3 builds to archive.mozilla.org

[2017-11-10 13:22] #1459 closed

[2017-11-10 13:32] pocmo commented on #1535
2.4 is now on Google Play (Beta channel)

[2017-11-10 13:45] jolcsk commented on #1418
I hate to disturb a development thread with my question, but can you make this feature optional (able to turn-off)? I absolutely hate the swipe-down-to-refresh feature (I trip it accidentally too often), that is one of the reasons I like using firefox (fennec) and focus too.

[2017-11-10 13:49] pocmo commented on #1253
Looking at the popular [ublock extension](https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/) they come with various [lists of their own](https://github.com/uBlockOrigin/uAssets/tree/master/filters) and support a bunch of [third-party lists](https://github.com/gorhill/uBlock/blob/master/assets/ublock/filter-lists.json). One of the most popular lists is probably [EasyList](https://forums

[2017-11-10 13:52] pocmo commented on #1405
It's about adding a badge (next to the Google Play one) to the README that is shown here:
https://github.com/mozilla-mobile/focus-android

[2017-11-10 13:56] pocmo commented on #446
Yes, what I meant is: We need to send the DNT header in order to not get tracked by the sites that have been removed from the new lists. Right now we do not send the header so we would get tracked if a site is removed from the tracking protection lists.

[2017-11-10 14:01] pocmo commented on #996
Yes, from what I have seen there's no way to block this happening inside a WebView.

[2017-11-10 14:12] pocmo commented on #1253
In some situations reader mode (#802) also removes ads by just showing the content. :)

[2017-11-10 14:26] pocmo opened #1697 "Run tools/metrics/apk_size.py on taskcluster"
Currently this is only running on Buddybuild and we do not run Buddybuild for all contributor PRs.

[2017-11-10 14:28] pocmo commented on #1686
Nope. :)

[2017-11-10 14:38] BrianNJones commented on #1691
I assume we're thinking something like the indicator (the word "Default") in reg'lar Firefox? If the selection is grey/disabled, do we really need it? Especially in changing a search engine, when the user is consciously changing "from" something (grey/default) to something.

[2017-11-10 15:04] npark-mozilla commented on #1220
It still shows the site as visited even after pressing 'Erase,' so I think the issue is still valid.  I'll also test it on other android versions as well.

[2017-11-10 15:18] pocmo opened #1700 "import_strings_and_create_pull_request.sh: Do not update checkout"
There's no need to update the checkout inside the script. This will be done by taskcluster. Not doing this in the script has also the advantage that the script can run locally without resetting the state of the local checkout.

[2017-11-10 16:07] BrianNJones commented on #1670
Added bullet point for "swipe/pull-to-refresh" feature. Looking through the rest of the list, #1306 is a candidate, but I think we can exclude given the smallish subset of affected users.

[2017-11-10 16:39] lime124 commented on #1670
Pinged Joni that it's ready

[2017-11-10 16:58] lime124 opened #1705 "search engine example needs to be changed"
searchenginename.com

[2017-11-10 17:07] lime124 commented on #961
go for it! thanks @TPS!

On Thu, Nov 9, 2017 at 8:53 PM TPS <notifications@github.com> wrote:

[2017-11-10 17:52] lime124 commented on #1691
@BrianNJones discussed today and talked me out of my crazy, "over-thinking it" idea. :)

[2017-11-10 17:52] #1691 closed

[2017-11-10 20:35] jonisavage commented on #1670
Here's the URL you can use in product: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/whats-new-focus-android-24

[2017-11-10 20:40] Sdaswani commented on #1670
Hi @jonisavage why is this URL different than the previous what's new - we are hoping that the %VERSION% placeholder would allow us to use the same link so that we don't have to change this in every new app version.

[2017-11-10 21:22] bbinto commented on #1358
Sorry, not sure if I'm following your comment.

Also, @pocmo -- can we try setting it to true and see what happens with the reddit app?

As for https://github.com/pocmo/Just-Open-My-Browser, wouldn't that also solve some of the other custom tabs fall out issues like #1282

+ @brampitoyo

[2017-11-10 21:24] bbinto commented on #1405
@eleemoz -- Elvin, is that ok?

[2017-11-10 21:33] hackel commented on #1340
Apologies for taking so long to get back to this issue.  The place where I am noticing this still happening (with Focus 2.3) is the Google News & Weather app.  It also happens with Firefox 57, which seems to have its own custom tab implementation now.

[2017-11-10 23:40] JordanShaak commented on #1196
I've been looking into this for the most of today, so I'm going to write down some of my findings for anyone who might look at this later. I've personally come to the conclusion that you can't use Android's WebView system as is *and* remove the X-Requested-With header from all outbound HTTP headers. At least this is what my research leads me to believe, and also because I've tried a few such imple

[2017-11-12 10:27] afarsi opened #1707 "Issuses with buddy build and Firefox Focus"
Hi Firefox Focus team.
I have alpha version(Test Version) of Firefox Focus for Android on my mobile phone.

I received build #3353 email, on Thursday (2017/11/09), and Friday (2017/11/10) build #3364.
I installed 3353 on Thursday (2017/11/09), and 3364 on Friday (2017/11/10). But when I installed build 3364, I received update notification in app, when I tapped on update button, it wanted to downlo

[2017-11-13 10:51] pocmo opened #1709 "Slow UI rendering"
According to Google Play 3.79% of our sessions in the last 30 days were affected by slow UI rendering:

That's clearly above the "bad behavior threshold" that Google defines to be 1.56%.

There are more details on the Google Play page. Mostly this is caused by:
* Missed Vsyncs: 2.55%
* Slow UI thread: 37.29%
* Slow draw commands: 62.69%

There's at least one "freeze" known when opening settings: #

[2017-11-13 11:00] pocmo commented on #1707
Thank you for reporting this!

Getting prompted for older builds is something that Softvision saw too in the past: #928. Unfortunately this is a bug in the buddybuild SDK and can't be fixed by us.

Yeah, they used to be the same but nowadays we generate the build number ourselves for a couple of reasons. The basic rule is still: The higher the build number the newer the build. They never go backwa

[2017-11-13 11:23] pocmo commented on #1196
Thank you @JordanShaak for your thorough research. That's great!

Back when I filed this issue I tried a bunch of things too and couldn't find a way. Did you look into the Chromium issue tracker whether there's an issue filed for that? If not then we should file it.

We have the same issue with the DNT header (#446). We can add it to the first request but not to all of them. However I think it wou

[2017-11-13 11:25] pocmo commented on #1340
I can't reproduce this with the News & Weather app on my phone. @npark-mozilla can you give it a try?

[2017-11-13 11:47] pocmo commented on #1358
Using the Custom Tabs library third-party developers can only call addDefaultShareMenuItem(). Without that no share button is shown. If we default to "true" then the share button is always shown and third-party developers cannot explicitly hide it - because there isn't something like removeDefaultShareMenuItem().

You mean if we would open a normal tab instead of a custom tab?

[2017-11-13 11:51] pocmo commented on #1705
This was briefly discussed when we landed the strings for the feature: https://github.com/mozilla-l10n/focus-android-l10n/pull/22 (Expand "outdated" comments).

![screenshot-2017-11-13 mozilla-l10n focus-android-l10n](https://user-images.githubusercontent.com/89638/32724377-584bc8a2-c871-11e7-820d-1fc4251f7d7e.png)

[2017-11-13 11:53] pocmo commented on #1567
@lime124 @BrianNJones This is the only P1 with "needs string" label. Is there anything we can export today so that the L10N team can start translating it?

[2017-11-13 11:55] pocmo commented on #1545
For UX and the breakdown there are a bunch of things we want to research:

* Can we use the Autofill API to autofill passwords?
* Can we use the Smartlock API?
* Can we integrate third-party services?
  * LastPass
  * 1Password
  * Dashlane
* Could we make us of Firefox Sync to just have passwords available?
  * Can we use https://github.com/mozilla-mobile/FirefoxData-android for that?

[2017-11-13 12:32] #1592 closed

[2017-11-13 13:02] #1700 closed

[2017-11-13 13:04] pocmo commented on #1564
Removed this one too now that Granite aka 2.3 is released.

[2017-11-13 13:04] #1564 closed

[2017-11-13 13:05] pocmo commented on #1499
@lime124 Did you make a decision here? Should we land the contributor patch?

[2017-11-13 14:03] pocmo commented on #1545
(Draft, .. editing)

# Autofill Framework

* https://developer.android.com/guide/topics/text/autofill.html

# Smartlock API

* https://developers.google.com/identity/smartlock-passwords/android/

# Third-party services

* LastPass, Dashlane and 1Password seem to support OpenYOLO (see below)

## 1Password

## Dashlane

# Firefox Sync

* https://github.com/mozilla-mobile/FirefoxData-android

# OpenY

[2017-11-13 14:08] npark-mozilla commented on #1340
I ran it on Pixel, Android 8, Focus beta build (2.4) and could not repro it with Google News & Weather / Firefox.  Perhaps Focus might need a clean uninstall just in case the share intent is stale?

[2017-11-13 15:27] jonisavage commented on #1670
Hi @Sdaswani, I'm double-checking with Roland but I know that the redirects on our platform will only work with the last part of the URL.

For other OS (like Android) we can use one URL and have SUMO auto-detect that version and show conditional content, but we don't have that ability for iOS yet. Hoping Roland can give more insight.

[2017-11-13 15:55] gdevitis opened #1712 "Downloads Do Not Save With Correct File Extenstion"
For example, if you open this link :
http://www.giappichelli.it/index.php?znfModule=public&znfAction=loadIndice&idArticolo=11173681
you obtain an "index.pdf" file in Firefox Focus and an "indice_9210787.pdf" file in other mobile/desktop browsers. Is this solvable without changing the security and privacy standards provided by browser?

[2017-11-13 16:10] Sdaswani commented on #1670
Ok thanks @jonisavage please let us know what Roland says. We have a patch ready for 3.11 to use the new URL but we should figure out a less error prone solution going forward.

[2017-11-13 18:47] JordanShaak commented on #1196
I took a look recently and didn't find anything, but it's very possible I missed it/am not using the correct search terms in the issue tracker. Since this isn't the first time a project has had this issue I feel as though someone must have submitted the issue before, but I can't find any proof of it.

If I can manage to get my local version cleaned up and not mangle the pull request for that I'll

[2017-11-13 19:00] lime124 commented on #1705
ok - so are we using example.com then? @BrianNJones is that ok or do you want to use searchenginename.com? Once we finalize, we should make sure ios is using the same string.

[2017-11-13 19:02] lime124 commented on #1567
i think @BrianNJones is still working on one string. i'll let him update. thanks!

[2017-11-13 20:48] gdevitis commented on #1712
why "help wanted" label? maybe "bug" label is more correct.

[2017-11-13 21:29] BrianNJones commented on #1567
@pocmo, if you can confirm that tapping "Save" validates that text exists in the name and string fields, we'd need error messages for their empty states:
If no text entered in "Search engine name" field, string would be:
Enter search engine name
If no text entered in "Search string to use" field, string would be:
Enter search string

[2017-11-13 21:57] BrianNJones commented on #1705
It's fine. The IANA holds example.com open for this purpose. The original "searchengine.com" (instead of searchengineexample.com) was my brain hiccup. I prefer the more specific "searchengineexample," but "example" is fine.

[2017-11-13 22:46] lime124 commented on #1499
Sorry for the delay! Can we try #b2b2b2 with 70% opacity? Thanks!

[2017-11-14 10:37] pocmo commented on #1499
@Benestar Do you have time to update your PR #1621 with those values? :)

[2017-11-14 14:37] bbinto commented on #925
Any updates on this, i.e. is this still an issue?

[2017-11-14 14:40] bbinto opened #1715 "Show erase interaction more obviously"
Via Popbox store; in order for the store to communicate to the users that by hitting erase, everything is cleared, the store manager suggested to make the message more prominent on tablets, as it's currently very small and can easily be overseen.

Part of #991

[2017-11-14 16:37] pocmo commented on #1307
That's done.

[2017-11-14 16:37] #1307 closed

[2017-11-14 16:45] bbinto commented on #1696
should be done in combination of #1312

[2017-11-14 16:53] bbinto commented on #1678
+ @lime124 to review

[2017-11-14 16:58] #1665 closed

[2017-11-14 17:08] #1337 closed

[2017-11-14 17:11] #1333 closed

[2017-11-14 17:32] antlam commented on #1678
Sorry for the late reply @npark-mozilla !

For context, (and in short) yes to what @pocmo said. this is intended to be platform agnostic UX.

[2017-11-14 20:08] npark-mozilla commented on #1367
One thing I noted was that in above screenshot, Focus was the only notification, but it wasn't expanded. (and it's probably not timing)  In a normal scenario, that wouldn't normally happen, would it?

[2017-11-14 22:01] lime124 commented on #1606
i'm closing this one - i don't think it's needed...

[2017-11-14 22:01] #1606 closed

[2017-11-15 09:44] pocmo commented on #1367
Yeah, that super strange and I have never seen that.

[2017-11-15 10:35] shubham171294 opened #1717 "Firefox Focus blocks Autofill Credentials javascript"
I wrote a javascript for autofill of username and password (I'm making kinda Password Manager). The script works fine. But when I try to click Login button, the login button does not work. When I see the number of trackers blocked it says 2(because I injected two pieces of Javascript). But when I enter the username and password manually, the login button works and I'm able to log in. This happens

[2017-11-15 10:53] pocmo commented on #1717
Well, I can't help you debug your own unshared code. :)

The content blocking is based on URLs and I would be surprised if it blocked injected JS. Anyhow, you could start to investigate what happens inside shouldInterceptRequest and see if it's tracking protection that is blocking your JS or maybe something else:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/webview/java/org/

[2017-11-15 10:53] #1717 closed

[2017-11-15 11:16] shubham171294 commented on #1717
Ok Thanks. @pocmo Can we have a private chat so that I can share my javascript code and seek your help?

[2017-11-15 13:41] #879 closed

[2017-11-15 13:42] #576 closed

[2017-11-15 13:43] pocmo commented on #576
WONTFIX: Eventually we want to have alpha/Nightly builds on Google Play. I don't want to invest more time in buddybuild.

[2017-11-15 13:43] #260 closed

[2017-11-15 13:43] #108 closed

[2017-11-15 13:46] pocmo commented on #903
@mcomella Closing this as we now have Kotlin support. :)

[2017-11-15 13:46] #903 closed

[2017-11-15 13:47] pocmo commented on #573
PMD is running on taskcluster and via sputnik. Closing this.

[2017-11-15 13:47] #573 closed

[2017-11-15 13:50] #292 closed

[2017-11-15 13:50] #372 closed

[2017-11-15 13:51] pocmo commented on #432
This was fixed in the latest version of Robolectric. It's finally able to understand the project structure and can find resources.

[2017-11-15 13:51] #432 closed

[2017-11-15 18:01] pocmo commented on #1685
@ekager I am unable to reproduce this on my device. What Android version / device are you using?

[2017-11-15 18:03] pocmo commented on #1685
Oh, and maybe the "user agent" to see the WebView/Chrome version.

[2017-11-15 20:30] npark-mozilla commented on #1674
Was seeing it itermittently on automation too, good that it's fixed now

[2017-11-15 20:48] npark-mozilla commented on #1613
This fix is verified, but there is another potential issue.  When I open a media, and make it fullscreen, the screen does not sleep even though it's stopped/paused.  (This does not happen when the media is not in fullscreen mode) Is this expected? (similar battery drain issue might occur if one just pauses in fullscreen mode and leave it) @pocmo what do you think?

Just double checked that in Chro

[2017-11-15 20:50] nojunpark opened #1720 "Screen does not sleep in fullscreen media playback mode when paused/stopped"
STR:
Open a video, and make it fullscreen.
pause/stop the video playback, but keep it in fullscreen mode.

Actual: the screen does not sleep even though it's stopped/paused. (This does not happen when the media is not in fullscreen mode)

Just double checked that in Chrome paused fullscreen mode enters sleep mode normally.

[2017-11-16 06:00] quakenet2 opened #1722 "Partnership with The Tor Project"
https://trac.torproject.org/projects/tor/ticket/24305

[2017-11-16 06:03] quakenet2 opened #1723 "Ask the user to confirm telemetry action when the user mistap the button."
As a privacy browser, I'm expecting this app to ask above thing.

Settings:
1. User is scrolling down menu.
2. User mistapped "Send anonymous usage data".
3. It was turned to "blue icon"(enabled).

Here, when 2 is happened(off->on), you should show a confirmation dialog:
"
Do you really want to send this data?
YES | NO(must bigger width than yes)
"

[2017-11-16 06:03] quakenet2 commented on #1723
I'm talking about Klar because Klar is off by default

[2017-11-16 10:17] pocmo commented on #1685
@npark-mozilla Do you see this on your devices?

[2017-11-16 10:23] pocmo commented on #1722
* Tor / OrBot support: #66 / #825

[2017-11-16 10:35] pocmo opened #1724 "Rewrite scrape_plugins.py"
Initially we imported this script from the Focus for iOS repository. The code is still pointing to the aurora repository and a file structure that doesn't exist anymore.

mozilla-central paths:

list.json:
https://hg.mozilla.org/mozilla-central/raw-file/default/mobile/locales/search/list.json

Search plugins:
https://hg.mozilla.org/mozilla-central/raw-file/default/mobile/locales/searchplugins

[2017-11-16 10:38] pocmo commented on #1724
In addition to that there seems to be a "regionOverrides" block now - which the old script doesn't use.

[2017-11-16 13:38] pocmo opened #1726 "Format search_configuration.json"
Currently search_configuration.json does not contain any line breaks. This way it will be smart and historically it was generated by scrape_plugins.py.

However it's impossible to read the diff if the file was updated. The size difference is not worth it: Single line (~8,3 KB), with line breaks (~11 KB).

[2017-11-16 14:05] pocmo commented on #1724
Also see #1726 we should format the JSON file so that it can be read (and if needed modified) by humans.

[2017-11-16 15:19] npark-mozilla commented on #1685
@pocmo ah yes, I see this.  I go to an url with invalid domain, and the spinning wheel doesn't go away upon refresh. I built it from the tip of the master and loaded it.  (I'm on Android 8.0 Pixel 2)

[2017-11-16 15:55] pocmo commented on #1685
@npark-mozilla What's the user agent on this device? I tried on a Pixel XL with Android 8.1 and could not reproduce.

[2017-11-16 16:07] #1726 closed

[2017-11-16 16:28] npark-mozilla commented on #1685
It's
![image](https://user-images.githubusercontent.com/6930774/32902771-4cc81286-cac1-11e7-968f-d8db9170188a.png)

[2017-11-16 17:22] bbinto commented on #1573
Is this a P2 and should go into our last sprint before 4.0 or can this be done after? If so, I'd set P to P3.

[2017-11-16 17:46] pocmo commented on #1685
This seems to be caused by the fix for #1179 (PR #1526). In this situation WebView only calls onPageFinished() but never onPageStarted(). In #1179 we implemented an optimization that we will ignore onPageFinished() when we are not actually loading (-> without onPageStarted()). Because of that we never reset the animation. This doesn't happen to the loading bar and toolbar animation because this on

[2017-11-16 17:48] pocmo commented on #1573
@bbinto This could be done after. If time permits I might squeeze this in before. I have an almost done patch for that.

[2017-11-16 18:55] #1685 closed

[2017-11-16 19:16] pocmo commented on #1535
All patches uplifted and building RC 2 now.

* Updated search engine configurations to follow desktop
* Fixed a release blocking issue with pull to refresh (#1685)
* Updated "What's new" SUMO page.

[2017-11-16 19:23] pocmo commented on #1535
2.4 RC 2 release bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1418027

[2017-11-16 21:36] ekager commented on #1686
#1729 seemed to fix this as well ! :)

[2017-11-16 23:57] quakenet2 opened #1732 "Remove unnecessary permission (RECEIVE_BOOT_COMPLETED)"
Why "run at startup" is necessary?

[2017-11-17 00:12] ekager commented on #1720
When entering full screen mode, we actually [set this behavior](https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.java#L531) and then don't detect the video being paused. Not sure if it's possible through the webview to detect this?

[2017-11-17 04:29] randyjensen commented on #1472
OK, I had my team ship me an exact tablet that is having this issue. My earlier statement about this happening when our Kiosk software was running or not was only half correct.

After investigating more thoroughly, I've been able to consistently reproduce the bug and realized it may be out of scope since the issue is related more to MobiLock's settings, not Focus. I've still created a video in cas

[2017-11-17 09:55] pocmo commented on #1732
This one is coming from our telemetry library and indeed seems to be unused.

[2017-11-17 10:07] pocmo commented on #1720
Yeah, for the current implementation this is our intended behavior: During full screen we keep the screen on so that it doesn't turn off doing playing videos etc.

Some time ago I saw a snippet where they extracted a VideoView from the full screen view and then attach listeners to it. Might be a solution here - although a bit hacky too.

[2017-11-17 10:15] pocmo commented on #1686
Perfect! I'll close and let @npark-mozilla verify. :)

[2017-11-17 10:15] #1686 closed

[2017-11-17 11:11] pocmo commented on #1196
Merged the patch that clears the "X-Requested-With" header for the initial request. That's everything we can do here.

[2017-11-17 11:11] pocmo commented on #1196
Re-opening again: We could check the chrome issue tracker and file issues if needed.

[2017-11-17 12:22] eighthave commented on #1405
Yes, that would be amazing!  I initially asked about getting it on the
Github README, but yes, ideally the F-Droid badge would be next to the
Google Play badge wherever those are used.

[2017-11-17 16:01] pocmo opened #1739 "IllegalArgumentException: WhatsNew.shouldHighlightWhatsNew"
[code]

[2017-11-17 17:03] lime124 commented on #1607
we don't need this

[2017-11-17 17:03] #1607 closed

[2017-11-17 17:04] lime124 commented on #1608
close - we don't need this

[2017-11-17 17:04] #1608 closed

[2017-11-17 17:05] pocmo commented on #1661
2.5 will be skipped.

[2017-11-17 17:05] #1661 closed

[2017-11-17 17:08] #1670 closed

[2017-11-17 17:42] MikkCZ opened #1740 "Buddybuild offers downgrade to an older version"
I have installed Focus for Android Buddybuild 3425 from email today (Focus itself haven't told me). After that the app offered me update back to 3353.

[2017-11-17 18:16] pocmo commented on #1740
Duplicate of #1707. Unfortunately the buddybuild SDK seems to be buggy.

[2017-11-17 18:16] #1740 closed

[2017-11-17 19:19] jenn-chaulk opened #1742 "[eng] Ability to add search engines and or remove existing search engines"
From focus-ios created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-ios#147
UX specs: https://github.com/mozilla-mobile/focus-ios/issues/147#issuecomment-342997067

## User Story
- I want to add a search engine default that is not in the pre-defined list of search engines, e.g. Bing

## User Value
- Pick their preferred search engine, give user control

## Business Value
- Give us

[2017-11-17 19:26] jenn-chaulk commented on #1742
Kamino cloned this issue to mozilla-mobile/focus-ios

[2017-11-17 19:26] jenn-chaulk commented on #1742
clone error!  ignore!

[2017-11-17 19:26] #1742 closed

[2017-11-17 19:28] bbinto commented on #1472
Thanks @randyjensen -- it does sound like something we might not be able to help much/prioritize this at this point. Would using Focus inside Mobilock (with allowing it to be closed) an option for you in the meantime?

Also, I wonder if you can file a bug report with Mobilock for scenario 3.

[2017-11-17 19:37] randyjensen commented on #1472
We're going to test that out today and see how things go.

Getting in touch with the MobiLock team as we speak!

[2017-11-17 20:02] bbinto commented on #1358
I guess we won't be a good Android citizen if we still set it to true?

Yes, I wonder.....if by supporting custom tabs we are shooting ourselves in the foot? If we don't offer custom tabs. I might need to get a refresher (sorry) on what the disadvantages for us would be if we removed the custom tabs support.

[2017-11-17 20:08] bbinto commented on #953
Adding some more background from #125 (via @pocmo)

Looking at the popular ublock extension they come with various lists of their own and support a bunch of third-party lists. One of the most popular lists is probably EasyList. That's for example their German list: https://easylist-downloads.adblockplus.org/easylistgermany.txt

I guess we would need to look at some of them and decide which are tru

[2017-11-18 11:24] shubham171294 commented on #1717
@pocmo Thanks for suggesting https://github.com/mozilla-mobile/focus-android/blob/master/app/src/webview/java/org/mozilla/focus/webview/TrackingProtectionWebViewClient.java#L72 . I made an exception to my own javascript. Now,it's working fine.

[2017-11-19 06:54] StopMITMInternational opened #1743 "Add an option to stop trusting Cloudflare certificate"
Please consider adding a checkbox to reject website if it is using Cloudflare's certificate.
The reason is Cloudflare is very anti-Tor & anti-privacy company which collect your data to build a internet profile.

If you don't add this feature, I or other privacy activist can assume Firefox Klar is not a privacy app.

See:
https://trac.torproject.org/projects/tor/ticket/18361#comment:236
https://tra

[2017-11-20 03:02] #1625 closed

[2017-11-20 03:11] brampitoyo commented on #1626
After thinking about the things we can do on Custom Tabs – the answer turned out to be “nearly everything”! – the least disruptive solution seems to be one that:

1. Explicity separates custom tabs from app tabs
2. Clarifies the path forward. Ie. You’ve opened custom tabs. Now what? Open it in Focus or other apps?

While making minimal change to the visual design (at least for now – even though we

[2017-11-20 03:16] brampitoyo commented on #1358
On #1626, I proposed adding a menu item called “Open in Firefox Focus” and “Open in…” that will allow you to open the link in another browser or app.

Will this help solve the problem?

I know that we already have a “Share” icon on the toolbar, but I feel like some apps can elect not to show it. When this is the case, our “Open in…” menu items – which we control – will help make sure that our user

[2017-11-20 04:24] autonome commented on #1358
Hey Bram! Maybe I'm not understanding your suggestion - don't we already have "Open with..."?

Challenges of "Open with/in":

* adds a variable number of steps to a system-level action done many times per day.

* adds a variable amount of time spent in the task, because the page has to load twice (this is rage-inducing on my 2G connection).

* doubles the bandwidth cost to the user, because the pa

[2017-11-20 05:22] brampitoyo commented on #1358
Hi Dietrich, yes. I think I’m misunderstanding your suggestion.

You suggestion seems to concern the “Share” icon on the toolbar, which we already have?

The problem is, I’m not sure if it’s something that we enforce and can display in all cases, or something we hide when the app asks us to do it. For example, Twitter may say “OK, you can show a Share icon in the custom tabs”, but Facebook may say

[2017-11-20 08:37] Benestar commented on #1499
Sorry for my late response, quite busy irl right now. I will update the color code and create another screenshot.

[2017-11-20 09:54] mastizada commented on #1724
So, idea is to delete the current list.json file and import it in `scrape_plugins.py` from mozilla-central url - right?

[2017-11-20 10:59] pocmo commented on #1724
Yep.

The same script exists for Focus for iOS too.

[2017-11-20 11:00] mastizada commented on #1724
Ok, will check it tonight

[2017-11-20 11:07] pocmo commented on #1626
@brampitoyo Nice! I like that. :)

[2017-11-20 11:16] pocmo commented on #1743
Thank you for this report. This is interesting and will take some time to read and discuss.

[2017-11-20 11:17] #1635 closed

[2017-11-20 12:08] #1568 closed

[2017-11-20 12:32] pocmo opened #1746 "Taskcluster: String import task fails if there are no changes in the L10N repository"
[import_strings_and_create_pull_request.sh](https://github.com/mozilla-mobile/focus-android/blob/master/tools/taskcluster/import_strings_and_create_pull_request.sh) / [create-pull-request.py](https://github.com/mozilla-mobile/focus-android/blob/master/tools/taskcluster/create-pull-request.py) fails if there are no changes in the L10N repository:

https://tools.taskcluster.net/groups/Z99ba7lWR9WQlx

[2017-11-20 12:47] #1746 closed

[2017-11-20 13:09] bbinto commented on #1600
From another user.
Go to say the bbc news page
- http://www.bbc.com/news/business
- Open some links from the page into new tabs and view them
- Clear the Firefox Focus cache at the end of session
- Start Firefox focus with the bbc news page - previously viewed links are now grayed out.

If you Stop Firefox Focus and clear the Android Cache, then everything is clean.

Tested on:
Android 7 on a Leno

[2017-11-20 13:42] pocmo opened #1748 "Autofill framework wants to fill URL field with postal address"
Sometimes Android 8's autofill framework wants to autofill our URL field with a saved postal address. We should mark the field as not important for autofill so that this does not happen.

[2017-11-20 15:24] #1748 closed

[2017-11-20 15:45] autonome commented on #1358
Yes, all prior discussion in this issue is about exactly this problem: The share button is sometimes missing, because Focus is acting as a custom tab, and the opener app has asked that the share button be hidden.

That behavior is both inconvenient and disempowering for users.

Sharing the icon all the time is what I recommended as the solution.

I believe we should do that regardless of whether C

[2017-11-20 15:46] pocmo opened #1750 "Pull-to-refresh: Telemetry probe"
We want to see how popular pull-to-refresh is.

[2017-11-20 16:47] pocmo commented on #1535
We started the roll out to 20% on Friday. Everything's looking good today so we are going to roll out to 99%.

[2017-11-20 19:53] bbinto opened #1753 "Add telemetry to keep track of # of links clicked"
We do have probes to tell us when a user types in a query or URL into the search bar, or opens a link in a new tab, we don't have a probe that tells us about an event like user visits website A, clicks on link in A to go to B, loads website B etc.

With that data, we can not only define when a user is active, how active they are but also how they use the browser app and learn about their behavior

[2017-11-20 19:53] bbinto commented on #1753
@eleemoz do you see any issues with that?

[2017-11-20 22:45] lime124 commented on #1609
Just need final copy

![flow - add new url](https://user-images.githubusercontent.com/287322/33045360-62d020da-ce01-11e7-9bf2-d7dfe78e9f26.png)
![flow - remove custom url](https://user-images.githubusercontent.com/287322/33045361-62e44ee8-ce01-11e7-9b25-d9ad5dd9d37c.png)
![other states](https://user-images.githubusercontent.com/287322/33045362-62f8ef42-ce01-11e7-8581-bf3f7d8df6f2.png)

[2017-11-20 22:52] lime124 opened #1754 "[sumo] need article to describe Quick Access feature"
There are two "Learn more" links in the autocomplete settings screen. We will need SUMO URLs and content for them. The article should describe how the feature works in Focus and also show the built-in list (in alphabetical order)

meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

@pocmo can you point us to where we can find the list(s)? Thanks!

[2017-11-20 23:01] lime124 opened #1755 "[ux] search engine - implementation phase"
Track work done during implementation. Track with @liuche polish bug since there isn't a meta issue.

[2017-11-20 23:03] lime124 opened #1756 "[ux] autocomplete - implementation phase"
track work done during implementation

[2017-11-20 23:15] lime124 commented on #1609
@itsDevyani - here is the android one

[2017-11-20 23:26] lime124 commented on #1499
Awesome - looks great! Thanks so much!

On Mon, Nov 20, 2017 at 3:03 PM Bene <notifications@github.com> wrote:

[2017-11-21 00:05] Noitidart opened #1757 "Cannot open deep links"
Links that pop open apps are not working in Firefox focus. I only tested with my app which I am currently developing.

About deep links with a nice 5min video - https://developer.android.com/studio/write/app-link-indexing.html

[2017-11-21 00:10] Sdaswani commented on #1609
Thanks @lime124 ! I was talking to @bbinto about the autocomplete feature and we are wondering is there a way to quickly add to the custom autocomplete list from the URL bar? Also do we need to advise users that the list won't be backed up (i.e., if the app is deleted, the list is lost)?

[2017-11-21 00:23] Benestar commented on #1499
Thanks for your quick feedback! :-)

[2017-11-21 00:30] lime124 commented on #1609
@Sdaswani

Re: adding a way to the URL bar. That was actually my initial take on it as well but later changed my stance after a lot of thinking on the problem. We have pretty limited real estate and people like the simplicity of the app. I want to keep things clean and simple. I know we have the overflow menu on Android, but I want to be cautious about that being over-used and becoming a catchall.

[2017-11-21 00:33] djKooks commented on #1568
@pocmo Sorry for late reply.
No, it does not looks like off-by-one issue.
@ekager Would you follow this one?

[2017-11-21 00:42] ekager commented on #1568
@djKooks we got it, thanks for submitting the bug!!

[2017-11-21 00:46] djKooks commented on #1568
@ekager No problem!

[2017-11-21 03:43] bdheeman opened #1759 "Feature request, add find on this page"
A most important facility, find on this page is missing.

Please arrange to add this ASAP.

[2017-11-21 06:04] brampitoyo commented on #1626
@pocmo Thank you! Just one tiny additional note, which I’ve updated above: we should always show the Share icon on the toolbar. This will help our users feel less ‘locked out’ when they’re opening our custom tab.

[2017-11-21 10:32] pocmo commented on #1626
@brampitoyo Note that apps using custom tabs can request to add their own icon (only one afaik) to the toolbar. If we continue to support this and always show the share icon then we would show up to three icons (including menu button).
Too make things even more complicated: Some apps deliberately do not want the default share button because they add their own share button to the toolbar. One examp

[2017-11-21 10:35] pocmo commented on #1759
Duplicate of #967.

[2017-11-21 10:35] #1759 closed

[2017-11-21 10:42] #1447 closed

[2017-11-21 10:43] pocmo commented on #1499
@lime124 Merged the patch from @Benestar and closed the engineering issue #1447. Should we close this one here too or do you want to revisit this?

[2017-11-21 10:45] pocmo commented on #1757
We do not pop out of Focus on purpose. Does your app show up in the "Open with.." overlay?

[2017-11-21 10:49] pocmo commented on #1754
Our lists are located here:
https://github.com/mozilla-mobile/focus-android/tree/master/app/src/main/assets/domains

They are derived from the Alexa top pages. When auto-completing we first look at the region specific lists (if available) and then in the global list.

For example my phone has en-US as primary locale and de-DE as secondary locale setup. When typing we try to autocomplete from the l

[2017-11-21 11:04] wolfbeast commented on #1743
I suggest you close this as invalid. Most CF users will use the flexible HTTPS-option and will not have own SSL certificates. In addition, CF also issues individual certificates to paying members and they use trusted CA signers. Doing this would impact millions of CF sites around the globe; it's clearly a crusade against cloudflare started by disgruntled TOR users about being challenged by CF's ca

[2017-11-21 12:02] bbinto opened #1762 "Browsing Google images triggers unintentional refresh of page"
Via Google Play Store:

Bug: google images. When I swipe down to get rid of image in view it will refresh page.

[2017-11-21 12:08] bbinto commented on #926
Is this still an issue for you?

[2017-11-21 12:11] bbinto commented on #304
@pocmo still valid?

[2017-11-21 12:16] bbinto commented on #928
@pocmo still an issue we should care about?

[2017-11-21 12:18] bbinto commented on #1507
Might be worth reviewing https://github.com/mozilla-mobile/focus-android/issues/762

[2017-11-21 12:22] bbinto commented on #1723
I wonder if this is being over cautious, i.e. good UX, @lime124?

Also @quakenet2, can you share some examples of such UX flow in other apps with a similar focus on privacy?

[2017-11-21 12:43] bbinto commented on #1609
Thanks @lime124  -- I'm sure we'll hear feedback if/how people like the implementation of this feature.

Please yes, let's talk about MVP, fast validation ideas etc. in Austin, please add it to our shared agenda doc.

Please make sure to inform eng what specific telemetry probes you want to see. What do you try to learn besides people using/adding/removing URLs?

@pocmo, for your breakdown for now

[2017-11-21 13:26] semanticer commented on #1615
This exactly happened to me where I had one main project without implementation "android.arch.lifecycle:extensions:1.0.0" mentioned in dependencies but I included a library that had implementation "android.arch.lifecycle:extensions:1.0.0" in dependencies. Solution was to add implementation "android.arch.lifecycle:extensions:1.0.0" to the main project

[2017-11-21 13:34] pocmo commented on #928
Eventually I want to distribute our Nightly builds via Google Play. This is going to depend on automated signing and uploading though. Until then we might just live with that - especially as this seems to be an issue with the buddybuild SDK and not part of our code.

[2017-11-21 13:36] pocmo commented on #304
This is still the case. However I wonder whether this is something we actually need/want to fix. The current code relies on functionality in the support libraries and implementing another scroll behavior is not necessarily a trivial task. @lime124 What do you think?

[2017-11-21 13:44] pocmo opened #1765 "Release Engineering 4.0"
See [Focus for Android Train Schedule](https://wiki.mozilla.org/Mobile/Focus/Android/Train_Schedule)

## Overview ##
Code freeze for a milestone is the *second Friday of the sprint*, and most of releng (except the first step) happens between *Monday and and Thursday (of the next milestone)*, with the *Beta release Thursday*. Beta should be promoted to Release on the release date.

## Sprint start

[2017-11-21 14:01] pocmo opened #1766 "[meta] Support for custom autocomplete domains"
From: #1525 Quick access to favorite sites.

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

- [x] #1767 - Add functionality to save and load custom domains for autocompletion
- [x] #1768 - Add settings for enabling/disabling autocomplete
- [x] #1769 - Add settings UI for adding custom autocomplete URLs
- [x] #1770 - Add settings UI for removing custom au

[2017-11-21 14:03] pocmo opened #1767 "Autocomplete: Add functionality to save and load custom domains for autocomplete"
meta: #1766

[2017-11-21 14:03] pocmo opened #1768 "Autocomplete: Add settings option for enabling/disabling autocomplete"
meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

[2017-11-21 14:04] pocmo opened #1769 "Autocomplete: Add settings UI for adding custom autocomplete URLs"
meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

[2017-11-21 14:04] pocmo opened #1770 "Add settings UI for removing custom autocomplete URLs"
meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

[2017-11-21 14:04] pocmo opened #1771 "Autocomplete: Add telemetry probes for autocomplete"
meta: #1766

### Probes

#### Managing of autocomplete domains

* [x] Add autocomplete domain: (action, save, autocomplete_domain)
* [x] Remove autocomplete domains:
* [x] Reorder autocomplete domain:
* [x] Enable/Disable default autocomplete domains:
* [x] Enable/Disable custom autocomplete domains:

#### Autocompleting

* [x] Domain autocompleted
  * Which list
  * How many items are on the list

[2017-11-21 14:27] Noitidart commented on #1757
@pocmo
Oh I see. Should I close this out? - yes when clicking on a link in other browsers it shows "Open with". and gives options.

[2017-11-21 14:29] pocmo commented on #1609
@lime124 I wonder if we need the ability to reorder the autocomplete list. In the list we are shipping with Focus the order determines which domain might be autocompleted first. For example if you type "g" we will autocomplete to "google.com" instead of "gap.com".

[2017-11-21 15:19] pocmo commented on #1757
We can close this as a duplicate of #829.

We do not switch to other apps immediately to avoid "leaking" the current browsing session to other apps without the user's consent.

[2017-11-21 15:19] #1757 closed

[2017-11-21 15:44] bbinto commented on #304
We can punt this to a P5 then.

[2017-11-21 16:25] lime124 commented on #1499
oops good call :)

[2017-11-21 16:25] #1499 closed

[2017-11-21 16:28] pocmo opened #1773 ""What's new" SUMO page for 4.0 release"

[2017-11-21 16:41] bbinto commented on #1753
We are thinking of just keeping track of a user clicking/tapping a link

[2017-11-21 16:47] bbinto commented on #1722
Could you please elaborate what kind of partnership are you thinking of?

[2017-11-21 16:52] isabelrios opened #1774 "Spinner does not disappear when pulling down to refresh on localhost (tests) websites"
Found when trying to implement a test to check the Pull down to refresh feature in [PR ](https://github.com/mozilla-mobile/focus-android/pull/1676)

The website (counter.html) under assets is loaded correctly but when pulling down the spinner never dissapears. I have checked that the website actually works by pulling down to refresh in a regular browser.
It failed both in simulator and device.

[2017-11-21 16:57] pocmo opened #1775 "Telemetry probe for SSL errors"
See #1338. We want to see how often our users run into SSL errors. If possible we would like to even see categories of SSL errors.

[2017-11-21 16:58] bbinto commented on #1185
Closing this unless you find another issue with this again

[2017-11-21 16:58] #1185 closed

[2017-11-21 17:00] bbinto commented on #1134
closing because of dup.

[2017-11-21 17:00] #1134 closed

[2017-11-21 17:02] bbinto commented on #990
Waiting for fix in WebView (no steps to be taken from our end)

[2017-11-21 17:05] bbinto commented on #977
should be fixed with #1176, no?

[2017-11-21 17:06] bbinto commented on #936
Is this still an issue for you or can we close this issue. Thanks

[2017-11-21 17:08] bbinto commented on #898
@pocmo mentioned we have yet to find a solution for it and we need a bit more investigation.

[2017-11-21 17:09] bbinto commented on #893
@liuche can you reproduce this our latest version?

[2017-11-21 17:10] #877 closed

[2017-11-21 17:12] #819 closed

[2017-11-21 17:58] max2505 commented on #1418
Hey all,

I would also like the option to turn off this feature.
On a website page where a chat conversation is shown and by default you're at the bottom (end of the conversation), you don't have the options to go up (by scrollingen down) when this feature is enabled (I hope the explaination is somewhat clear).

Tester on Oneplus 3T.

[2017-11-21 19:06] SavageBiscuits commented on #1418
I'd also like to chime in for an option to disable this feature. Already I've managed to trigger this feature a few times without wishing to. It gets a bit annoying. It's a useful feature to have, but it's not for everyone.

[2017-11-21 19:49] Benestar opened #1776 "UX issues with Pull-To-Refresh"
There are some UX issues with the new Pull-To-Refresh feature that need to be fixed. The desired behaviour is the following:

* Pull-To-Refresh is only enabled when the user cannot perform any other action by swiping down on the page (eg. Google Maps)
* When swiping up to dismiss the reload indicator, the page should not scroll down.
* The reload indicator should only appear when the page is alrea

[2017-11-21 19:52] Benestar commented on #1418
Hi @max2505 @SavageBiscuits I created #1776 to address the issues with pull to refresh. Can you maybe provide the links to the pages where this feature causes issues?

[2017-11-21 21:27] nosark commented on #1656
I would like to work on this if it is still available

[2017-11-21 21:48] SavageBiscuits commented on #1776
Well, my problem is that I sometimes accidentally cause the refresh to happen. It's happened a few times today. Maybe I'm at the top of the page and don't really realise or my finger accidentally brushes the screen while dithering on a page. It just seems to me to happen too easily.

I usually use Firefox for Android or sometimes Opera Mini. Firefox doesn't have this feature, while Opera Mini does

[2017-11-21 22:13] huuhaa commented on #663
I see this is moved  to roadmap. Hope you will add this at main menu, under  block tracker switch new nigtmode swich so it would be quickly accessible.

[2017-11-21 22:55] Benestar commented on #1776
Thanks a lot for your valuable feedback. 😃 I am right now looking into how to implement the suggested improvements of the feature. Hopefully, we can find a solution that fits all users and does not disturb anyone.

[2017-11-21 22:58] YouMustKnowPrivacyIsOurRight commented on #1743
@wolfbeast Did you read all texts? It's just not about captcha issue. It's about MiTM and tagging. Your website, PALEMOON.org, use cloudflare so you're on MiTM side.

People, please read all text before making decision, don't jump to anti-Tor side just because you're using their service.

[2017-11-22 00:09] lime124 commented on #1723
I think the answer hinges on if data is being sent the instant the toggle is turned on. In the event of a mis-tap, people immediately realize and set out to undo the action.

If the answer is yes, I don't see the harm in confirming a potential data leak.
If the answer is no (or we can delay it) then data isn't being leaked.

@pocmo would probably know.

[2017-11-22 05:16] Sdaswani commented on #1609
Fair point @lime124 . Though if we could transparently allow users to opt-in to storing their data in the cloud _securely_, it may help retention (since a user made more investment into the app). Oddly I don’t see any type of CloudKit service baked into (Google’s) Android, so this isn’t an option currently.

[2017-11-22 06:28] sinelaw opened #1777 "visited links remembered across sessions"
Version 2.4 on Nexus 5X

1. Go to https://news.ycombinator.com/
2. Visit a link
3. Go back, you see the link in a different color now
4. Close the session / tap the trash can
5. Open the website again, visited link still appears in different color

[2017-11-22 06:32] sinelaw commented on #1753
As a user this goes against my expectations from a privacy-aware browser.

[2017-11-22 06:36] sinelaw commented on #1651
Isn't the fact that it doesn't save data between sessions the main feature of Firefox Focus?

[2017-11-22 07:47] keshto opened #1778 "Find on page"
Feature request for a find on page option.

[2017-11-22 07:55] max2505 commented on #1776
Well, in my case, it's a bit different. Currently, I only see this on a single page (which unfortunately is not publicly available) where a chat conversation is displayed.
By default, you're pointed to the bottom of the conversation and only the last 10 messages are displayed. If you want to see more of the previous messages in that conversation, you'll need to swipe down. But, of course, this rel

[2017-11-22 08:27] wolfbeast commented on #1743
Nonsense. ANY CDN that uses https is a "MitM". It is up to website owners to decide whether this is something they trust the CDN with or not, and it is **not** the task of clients to arbitrarily start censoring the net based on which CDN is in use just because the CDN has a rule in place to challenge TOR users. Because that's what being asked here.
Just because I'm using their service doesn't mean

[2017-11-22 08:45] OffifialMITX commented on #936
Now there are no problems with unhiding it but it can't completely hide, which is still better than it was before.![A](https://i.imgur.com/IR5GhjM.png) ![B](https://i.imgur.com/UaWfdpo.png)

[2017-11-22 08:59] alperakgun opened #1779 "Focus "Pull to refresh" makes playing Canvas games impossible"
On firefox focus:  swipe down triggers refresh of the page, despite the CSS rule of "user-select: none"

https://www.zestoy.com/patriotic/reveal-pad/zgmzzyzt/1/national-motto-of-thailand-is.html

[2017-11-22 09:40] pocmo commented on #1778
Duplicate of #967

[2017-11-22 09:40] #1778 closed

[2017-11-22 09:43] pocmo commented on #1777
Duplicate of #1220 and #990

[2017-11-22 09:43] #1777 closed

[2017-11-22 09:45] pocmo commented on #1609
There's an Auto Backup Service on Android 6+:
https://developer.android.com/guide/topics/data/autobackup.html

[2017-11-22 09:49] pocmo commented on #1723
No data will be sent in this case - we didn't collect any yet. If telemetry is disabled then we do not **collect** and do not **transmit** usage data. In addition to that there's a minimum amount of data that we collect before sending any ping - and we only do that if you leave the app. So while still in the settings screen nothing will happen.

[2017-11-22 09:50] pocmo commented on #1656
@nosark Yes, this is still available. :) Do you need any help?

[2017-11-22 09:51] pocmo commented on #1779
Thanks for reporting this. I'm going to close this as a duplicate of #1776.

[2017-11-22 09:51] #1779 closed

[2017-11-22 09:51] pocmo commented on #1776
Also see #1779

[2017-11-22 12:55] MikeColes commented on #1743
Rather than the **website owners** to decide, it should be up to the **website consumers**. Having a flag to permit or notify of MITM techniques is a valid way to protect the users. Allow the clients to decide what they trust.

[2017-11-22 14:22] jolcsk commented on #1776
I would also prefer an option to turn this feature off/on. I would even settle for an "about:config"-like style of an option (I am saying "style" because Focus does not have about:config page, or does it?).

[2017-11-22 14:49] #1767 closed

[2017-11-22 14:50] #1768 closed

[2017-11-22 14:55] pocmo opened #1781 "Autocomplete: Let users reorder custom domain entries"
meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

[2017-11-22 15:12] pocmo commented on #1750
@bbinto I added events for both reload actions (via menu and via pull to refresh):

* (action, click, menu, reload)
* (action, swipe, browser, reload)

[2017-11-22 15:12] #1750 closed

[2017-11-22 16:15] bbinto commented on #1753
I understand @sinelaw  - I might need to change the title of the issue. It's important for us to understand how users navigate through the app, is it one off searches or are users go from link A to link B etc. We would never store the information about what links were clicked or send it to another 3rd party.

Does that make sense?

[2017-11-22 16:18] bbinto commented on #1776
Thanks all for the feedback, we will look into these issues.

@pocmo another German comment via Google Play Store:
"War mit der alten Version ganz zufrieden, jetzt mit Swype nicht mehr nutzbar, springt unkontrolierbar hin und her; kann man leider nicht ausschalten"

[2017-11-22 16:24] bbinto commented on #1651
Mozilla stands for two things: Privacy and User's choice.

@sinelaw Erasing data between session is one of the main advantages of Focus, which we won't take away. If you don't want to use any password managers or keep any session information for different reasons, we still provide privacy by default.

We've noticed that people like to use Focus as a simple and fast ad block browser and as a simpli

[2017-11-22 16:26] sinelaw commented on #1753
Yes, that's clearer. Thanks!

On Nov 22, 2017 18:15, "Barbara Bermes" <notifications@github.com> wrote:

[2017-11-22 18:45] nosark commented on #1656
Yes Please :). I am trying to install rocket from github and i've got it, but it won't let me sign the apk and use (webkitDebug) variant, so I can't test Rocket and try to reproduce the issue or test it when I am finished. Double checking, am I simply adding Rocket to the Known Browsers Enum in Browsers.java in focus?

[2017-11-22 18:56] rtanglao commented on #1773
assign to joni pleae  @bbinto ?

[2017-11-22 19:05] bbinto commented on #1773
@jonisavage, please assign to yourself (I can't), I've added you to the NMX team.

[2017-11-22 19:35] lexcyn opened #1784 "Attempting to change search providers crashes"
Building via the latest code from git. If you go into Settings and select Search, it will force close and crash Focus. You cannot change the search provider.

[2017-11-22 20:17] bbinto commented on #1753
@liuche -- are we good from a data steward perspective? Legal didn't seem to have any objections

[2017-11-23 08:19] pocmo commented on #1784
* Are you building the focusWebviewDebug variant?
* What's the stacktrace of the crash?

[2017-11-23 13:38] bbinto opened #1786 "Focus can't open "https://search.app.goo.gl/" when opening it directly in Google feed"
Video [here](https://drive.google.com/open?id=1fAJdxvSLNhr5SkT39lJhmtxL872-MC6L)  apologies for the trial banners

STR:
1) -1 homescreen: Google feed
2) Click any URL that follows the search.app....URL scheme, e.g. https://search.app.goo.gl/U8Qd
3) Focus is set as default, therefore Google tries to open the URL Focus (via custom tab)
4) Blank page, even if you force to open the URL in Focus (via m

[2017-11-23 13:59] lexcyn commented on #1784
I'm building the Beta variant. I will get a stacktrace for you later today.

[2017-11-23 14:10] pocmo opened #1787 "Autocomplete: "Learn more" SUMO pages"
meta: #1766

Mocks: https://github.com/mozilla-mobile/focus-android/issues/1609#issuecomment-345856966

There are two "Learn more" links in the autocomplete settings screen. We will need SUMO URLs and content for them.

[2017-11-23 14:21] pocmo commented on #1786
This seems to work here. @npark-mozilla can you try this on a device?

[2017-11-23 14:25] bbinto commented on #1786
Pixel (1), OS 8.0.0

[2017-11-23 15:04] pocmo commented on #1609
@lime124 @BrianNJones I have some questions regarding the Strings and/or mocks:

* The "Autocomplete Status" in the mock is "On". However the text on the right says it is "Enabled" or "Disabled"
* The text says the default value for the pre-installed autocomplete list is going to be "off" - Are we changing the behavior of the app here?
* Do we need an accessibility String for the "reorder" icon? I

[2017-11-23 16:06] npark-mozilla commented on #1786
@pocmo it works for me too, but I noticed something odd. When I paste the google search URL that I got from the mail app into focus, focus says that it'll open link with google play service. When I press 'OK', then it opens a new tab that shows the story, while showing 'Open link in another app' dialog open in the original tab.  I'm using build 1d2275dcc45d75c46eb57cbbd3ee1d4c70e9dec7, which is fr

[2017-11-23 16:09] bbinto commented on #1786
It doesn't happy with all links in my Google feed but I'd say 40% of them behave like I recorded. I can't reproduce yet which sources of web content seem to trigger this behavior.

[2017-11-23 16:15] npark-mozilla commented on #1786
@bbinto Actually in my case, in your STR step 3, the browser it opens for me is Chrome based.  Under the menu bar, it says 'Powered by Chrome' even though I have set the Focus as my default.  (There is a separate 'Open in Firefox Focus') menu item too.

[2017-11-23 16:38] bbinto commented on #1786
Actually, @npark-mozilla - you are right, sorry, same for me, it also says "Powered by Chrome", so Chrome is having this issue, however, step 4 still shows a blank page in Focus. Maybe because it can't render the page in Chrome/custom tab from the Google feed, it's also not able to pass a correct link to Focus (via Open with Focus).

[2017-11-23 17:55] pocmo opened #1789 "NullPointerException: Attempt to invoke interface method 'java.util.Iterator java.util.List.iterator()'"
[code]

[2017-11-23 18:05] antlam commented on #1609
Going back to the original feedback of adding directly from the URL bar 🤔 .... maybe we could use the long-press context menu for this?

1. User navigates to somesportswebsite.com/traderumours
2. They decide they want to save this frequented site of theirs
3. Long-press on the URL bar (or anywhere else maybe?)
4. User presses a button to quickly add the site they're on to this list

Thoughts?

[2017-11-23 18:23] pocmo commented on #1789
I saw this crash multiple times locally. I have no steps to reproduce but it happens frequently after changing default search engines and going to the remove search engine UI and back.

[2017-11-23 18:23] pocmo commented on #1789
This should get fixed before 4.0 release.

[2017-11-23 18:59] antlam commented on #1609
[Similar feedback here](https://github.com/mozilla-mobile/focus-ios/issues/638) about the duplicate "Autocomplete" prefs as well. Especially if we're going to have another one in the top level Settings too :)

Also, maybe we could simplify the input field here too and remove the Floating label text? Since we already have the top title (Add custom URL), the placeholder (Paste or enter URL) and the

[2017-11-23 20:08] npark-mozilla opened #1790 "Create Autocomplete UI Tests"
For #1767 and #1768

[2017-11-23 20:09] npark-mozilla opened #1791 "Create Search Engine UI Test"
For #961

[2017-11-23 20:52] isabelrios commented on #1774
This is working correctly, there was an error when running the test

[2017-11-23 20:52] #1774 closed

[2017-11-24 02:25] timeislove commented on #1284
@pocmo
no no. it is not only with nova launcher.

i am using nokia 6 which is using almost a native andriod 7.

i experience the same issues of homescreen shortcut. it would change names after a while (now i know from this post they changed after restart of focus)

i tried to add homescreen shortcut with chrome, it didn't see the problem.

pls fix it asap. as homescreen shortcut is kind of bookmar

[2017-11-24 03:17] NightlyNexus opened #1792 "Dismiss "history erased" snackbar immediately after leaving the app."
Once clearing browser history with the trash icon, the app shows the "Your browsing history has been erased." snackbar. This snackbar has a time delay for dismissing.

It'd be nice to have this snackbar immediately dismiss when leaving the app.
If you leave the app and come back a second later, you shouldn't see the snackbar still displaying.

[2017-11-24 04:25] Sdaswani commented on #1284
Thanks @timeislove . @pocmo @klint @npark-mozilla did we ever find STRs?

[2017-11-24 04:38] Sdaswani commented on #1609
I'm all for anything that makes this process more automatic. :)

[2017-11-24 10:07] timeislove commented on #1284
Tks for your quick response.If you require and I am allowed, I could post a screen capture showing the diff in shortcuts created by both focus and chrome.RegardsOn 24 Nov 2017 12:25, Susheel Daswani <notifications@github.com> wrote:Thanks @timeislove . @pocmo @klint @npark-mozilla did we ever find STRs?

—You are receiving this because you were mentioned.Reply to this email directly, view it on Gi

[2017-11-24 13:48] pocmo commented on #1284
Unfortunately no.

@timeislove Does this happen to other shortcuts from Chrome or Firefox too?

[2017-11-24 16:04] bbinto opened #1795 "[Epic] Default Browser Features"

[2017-11-24 16:07] bbinto opened #1796 "custom"

[2017-11-24 16:07] bbinto opened #1797 "custom tabs"

[2017-11-24 16:07] #1797 closed

[2017-11-24 16:07] #1796 closed

[2017-11-24 16:08] bbinto opened #1798 "[Epic] Custom Tabs"

[2017-11-24 16:21] #1769 closed

[2017-11-24 16:52] bbinto commented on #1609
I like that idea we well.

@lime124 , could you explain if that's the case and why. I'm hesitant to turn it off for this release.

[2017-11-24 21:35] kontakt1 opened #1801 "Error message states that "Safari" can't find server"
I'm not really sure whether or not this actually qualifies as an issue but it irritates me.
When I enter domorris.de (intended to visit docmorris.de), I get the following (German) message:

"Safari kann den Server nicht finden. Safari kann die Seite domorris.de nicht öffnen, da Safari den Server "domorris.de" nicht findet."
which translates to:
"Safari can't reach the server. Safari can't display

[2017-11-25 01:52] timeislove commented on #1284
@pocmoI tried focus for a nos of shortcut. All lost their names after restart of focus.I tried chrome to add same shortcuts to home screen. No any problem at all.Attached a photos the last two are by chrome.Regards

[2017-11-25 11:42] bbinto opened #1802 "CPU issues"
Via [GPS](https://play.google.com/apps/publish?account=7083182635971239206#ReviewDetailsPlace:p=org.mozilla.focus&reviewid=gp:AOqpTOHSOpdAM8GdfJ1q4u4RBG8bNh87MaxVcr2WGGJ-vIyXAIJ71EJW6bEPbjTjNe7wO9d98wZ60gw1sjQkkG8)

Pages weren't loading and the app was overloading my CPU. Everything else on my phone was getting incredibly slow and I would get alerts from my phone saying that Firefox Focus was usi

[2017-11-25 11:45] bbinto opened #1803 "Problems with Youtube videos on tablet"
Via GPS:
I like the browser for browsing but it will not play youtube videos on my tablet. If you click on a video, it just doesn't load. I have this on my phone and youtube works on that. Same brand, similar specs. Unfortunate and it appears that no one else has this problem so I don't expect a response from the dev.

[2017-11-26 13:05] jbreckmckye opened #1805 "Option to turn off multitasking"
_Added by @bbinto_

**Why/User Benefit**
- Allow users to only focus on one task at a time
- Help users improve their workflow

**What**
- Ability to turn off multi-tasking

**Acceptance Criteria (how do I know when I’m done?)**
- Only one tab is shown to the user
- Probe to inform product how many people turn off multitasking

---
I really liked having only one tab avaialble at the time - as some

[2017-11-26 15:27] runboy93 opened #1806 "filterlists?"
https://filterlists.com/

Easylist + Adguard mobile filters would do nice work.

Privacy:

WebRTC (your IP is shown to everything) is not disabled on Firefox Focus? This is quite must option for privacy browser.

Adblocker feature:

Filterlists should be included on your adblocker feature (easylist, adguard mobile...), if does support them.
Pop-ups are not hidden/blocked.
Ads / trackers are being

[2017-11-26 18:39] codebu5ter opened #1807 "Pinch to zoom-out triggers Pull-to-refresh"
I have come across this issue a number of times where, when I'm viewing a web page in a zoomed-in state, the moment I try to zoom-out by pinching-out with two fingers, the page is refreshed since the Pull-to-refresh is triggered.

[2017-11-27 10:13] pocmo opened #1808 "2.5 release with swipe-to-refresh disabled"
We are seeing a bunch of issues with swipe/pull to refresh in the wild, e.g. #1807, #1776, #1779.

We decided to release a 2.5 version - which is basically 2.4 with swipe-to-refresh disabled. Initially we didn't plan to do a  2.5 release and instead continue to work on 4.0.

- [x] Create 2.5 release branch based of 2.4 release branch
- [x] Disable swipe-to-refresh in 2.5 release branch
- [x] Tag v

[2017-11-27 10:14] pocmo commented on #1806
Thanks!

Duplicate of #953.

[2017-11-27 10:14] #1806 closed

[2017-11-27 10:16] pocmo commented on #1805
Thank you for filing this issue.

Currently it is not possible to disable this feature. But you are not the first one interested in keeping a single tab workflow. Initially we were planning to limit the number of concurrent tabs; but with limited resources we decided to not implement that for the first version of multitasking.

[2017-11-27 10:18] pocmo commented on #1802
Maybe related: #1544

[2017-11-27 10:26] pocmo commented on #1807
I can reproduce this on Google Maps.

[2017-11-27 10:27] pocmo commented on #1776
Also see #1776 - Pinch to zoom triggers pull-to-refresh.

[2017-11-27 10:55] pocmo commented on #1808
Release bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1420863

[2017-11-27 15:14] #1781 closed

[2017-11-27 15:36] pocmo opened #1810 "Autofill support for third-party password managers"
Follow-up from #1545.

This issue is mostly for tracking purposes. On our side there's currently no code work to be done. We are waiting for other providers to let Focus autofill in web content.

Apps:
* [ ] Keeper
* [ ] 1Password
* [ ] Dashlane
* [ ] Keeper
* [ ] Lastpass
  * [ ] Lastpass Beta seems to prompt for autofill with every account on every login page
* [ ] Google Autofill

Checklist:
 *

[2017-11-27 15:36] pocmo commented on #1545
* Autofill -> #1810
* Autocomplete -> #1766

[2017-11-27 15:36] #1545 closed

[2017-11-27 16:13] #1535 closed

[2017-11-27 18:00] lime124 commented on #1609
you guys were busy!

@pocmo @bbinto - I would like to turn the default state to off (so yes changing the current behaviour). During usertesting (and anecdotally myself and Brian as well), I noticed confusion about why URL were auto-complete if this app is supposed to be private. One person commented they though Focus was somehow getting their history from their current app. Since people didn't act

[2017-11-27 18:18] antlam commented on #1609
Sorry I should clarify!

Yes, this language does exist in Android Settings.

But what I was trying to say was that since the action a user needs to perform _after_ pressing "Remove" is to **select** what they _want to remove_..... maybe this should follow more of an Android convention and say "Select" instead of "Remove" :)

[2017-11-27 18:41] pocmo opened #1813 "Autocomplete: Change default value for settings"
meta: #1766

Follow-up from: #1609 -> Autocompleting from our list of top domains should be disabled by default. If possible this should only affect new installs.

[2017-11-27 18:42] mcomella commented on #1656
@nosark Perhaps it'd be easier to use the Google Play build? https://play.google.com/store/apps/details?id=org.mozilla.rocket Though I'm not sure if it'd be available in your locale.

That being said, I was not able to build a fresh Rocket download with the default variant (focusWebkitBeta) but switching to focusWebkitDebug allowed me to build focus (I wonder if there is a different package name t

[2017-11-27 21:25] lime124 commented on #1597
closing - we didn't need.

[2017-11-27 21:25] lime124 commented on #1597
oops i misread!

[2017-11-27 21:26] lime124 commented on #1604
this requires reviewing the add to homescreen results before closing

[2017-11-27 23:28] liuche commented on #1705
Okay, sounds like we can close this.

[2017-11-27 23:28] #1705 closed

[2017-11-28 00:04] liuche commented on #1567
Looks like these strings are landed so going to close this - they'll get picked up in the next export.

[2017-11-28 00:05] liuche commented on #1567
Oh wait, the string and feature issues are the same, reopening.

[2017-11-28 00:16] Sdaswani commented on #1609
@lime124 happy to wait for telemetry on the current solution. 👍 🌮

[2017-11-28 02:39] liuche commented on #1791
Some screenshot tests have already been added, in-code and also in PR for #1689, but could always use more testing :)

[2017-11-28 09:37] pocmo commented on #1362
@lime124 @antlam We have a contributor PR that implements "swipe-to-dismiss" for tabs. Is this something we are interested in? Managing single tabs has been debated a lot in the past.

[2017-11-28 11:36] JaydenHoFly commented on #1615
@semanticer you are right, thank you for your help.

[2017-11-28 12:12] bbinto commented on #1609
Is that possible, @pocmo?

We need to make sure to have the ability to create a cohort of the new set of users via telemetry so we can actually measure if they change the autocomplete to on or keep it off.

Here was my probe proposal from earlier, is this still do-able/valid?

- event when add, remove URL is used
- #of items in custom list
- pre-defined / custom autocomplete toggle off/on
- #of ti

[2017-11-28 12:19] pocmo commented on #1609
The problem here is that we previously didn't have a setting If we would have had a settings previously then changing the default would only affect new users. I filed #1813 yesterday and can do some research. We can detect app updates for the "What's new" feature. So maybe we could use that. We definitely should think of a plan B in case we have to pick a default for **all** users.

I'm currently

[2017-11-28 12:20] pocmo commented on #1771
Barbara's wish list from #1609:

[2017-11-28 15:39] pocmo opened #1819 "NullPointerException when accessing default search engine."
We saw this crash happen in a UI test. It looks like a valid crash that could happen for users too.

We recently started to reload search engines and set the list to null now (I wonder why). Depending on the timing this might trigger this crash. We either need to synchronize some access or even better never set the list to null.

[code]

[2017-11-28 15:45] pocmo opened #1820 "[meta] Android Autofill"
- [ ] #1810 - Autofill support for third-party password managers
- [ ] #1821 - Telemetry probes

[2017-11-28 15:45] pocmo opened #1821 "Telemetry probes for autofill"
We want to see how the autofill capabilities are used.

[2017-11-28 16:00] #1808 closed

[2017-11-28 16:10] jenn-chaulk commented on #1569
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-28 16:10] jenn-chaulk opened #1822 "[breakdown] Rethink/refactor our erase strategy"
From focus-android created by [mcomella](https://github.com/mcomella) : mozilla-mobile/focus-android#1569

Splitting from #1472 to avoid scope creep:

[2017-11-28 16:11] jenn-chaulk commented on #1525
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-28 16:11] jenn-chaulk opened #1823 "[breakdown] Quick access to favourite sites"
From focus-android created by [bbinto](https://github.com/bbinto) : mozilla-mobile/focus-android#1525

User Story:
- As a user, I want to access my frequently visited websites without always having to type in the full URL
- As a user, I want to frequent my favorite website without having to login each time

Some ideas that were floating around (without being prescriptive)
- Allow users to add thei

[2017-11-28 16:12] jenn-chaulk opened #1824 "[breakdown] iterate on the onboarding experience"
From focus-android created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-android#1506

As we saw during the work week, retention numbers are not ideal. One area we identified was to improve our onboarding experience.

[ ] UX ticket #1507

[2017-11-28 16:12] jenn-chaulk commented on #1506
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-28 16:13] jenn-chaulk commented on #1506
Kamino cloned this issue to mozilla-mobile/focus-android

[2017-11-28 16:13] jenn-chaulk opened #1825 "[meta] iterate on the onboarding experience"
From focus-android created by [lime124](https://github.com/lime124) : mozilla-mobile/focus-android#1506

As we saw during the work week, retention numbers are not ideal. One area we identified was to improve our onboarding experience.

[ ] UX ticket #1507

[2017-11-28 16:14] #1825 closed

[2017-11-28 16:35] #1823 closed

[2017-11-28 16:45] mcomella commented on #1789
Dupe #1819?

[2017-11-28 16:45] bbinto commented on #1803
@bbinto to check tablet penetration

[2017-11-28 16:46] bbinto commented on #1544
"Pages weren't loading and the app was overloading my CPU. Everything else on my phone was getting incredibly slow and I would get alerts from my phone saying that Firefox Focus was using up my processor (even when I wasn't using the app). I have since deleted the app and my phone runs much better. I have a samsung galaxy s8+."

[2017-11-28 16:46] #1802 closed

[2017-11-28 16:48] bbinto commented on #1792
Meta: #1312

[2017-11-28 16:52] #1789 closed

[2017-11-28 16:57] bbinto commented on #1784
Is this related to this #1819 , @lexcyn ?

[2017-11-28 17:05] bbinto commented on #797
@liuche to confirm if it's still an issue

[2017-11-28 17:06] #781 closed

[2017-11-28 17:08] #772 closed

[2017-11-28 17:15] npark-mozilla commented on #98
Ah, I just realized this *is* the bug that we are referencing for the exercise. This will be done soon.

[2017-11-28 17:17] mcomella opened #1826 "Consider adding screenshot-tests for regression testing"
[`Facebook's screenshot-tests-for-android`](https://github.com/facebook/screenshot-tests-for-android) is a library for running a test that will take a screenshot of various screens in the app and return no error if all of the screenshots are identical – this prevents accidental UI changes, which is helpful for not regressing polish changes after we make them. If the changes were intentional, you c

[2017-11-28 17:23] mcomella commented on #1801
@kontakt1 Can you provide a screenshot of the issue?

Our intuition (via triage) says this is a server issue: we're specifying a user agent close to that of the default WebView and Chrome, which notably has Android in the but the server is parsing it as Safari.

Assuming this intuition is correct, for this bug, you should contact the host of the domain and ask them to correct the parsing but there

[2017-11-28 17:24] liuche commented on #1753
@bbinto If this is counting a telemetry event every time someone clicks a link this sounds fine. Adding this probe will involve:
* Adding the code
* Updating the telemetry part of the wiki to document the code usage
* Answering [these questions](https://github.com/mozilla/data-review/blob/master/request.md) in the bug (this is the new data review process) to document the reasons for collecting thi

[2017-11-28 17:33] mcomella commented on #780
The code has changed since this bug so it may not be relevant anymore. Additionally, we may want to take this into account while refactoring our erase code (#1569).

Also, since we haven't seen this in the wild and it's primarily about correctness, only do this bug if the changes required are simple, e.g. on startup:
[code]

[2017-11-28 17:34] mcomella commented on #781
Triage: we decided this is too pedantic and decided to close it.

[2017-11-28 17:40] pocmo commented on #780
We used START_STICKY in the past and it bit us. It restarted the service after the process was killed. We ended up with a notification (and restarted service) but no browsing session.

[2017-11-28 17:42] pocmo commented on #780
I wonder how likely it is that Android will kill a foreground service and not the process. A foreground service is used for audio playback in the background too. It's not like music randomly stops playing because Android killed the foreground service.

[2017-11-28 17:53] mcomella commented on #1449
To summarize the work here. We could either:
1. Open those links in tabs as Sebastian suggests
1. Fix the WebView separation as part of our erase refactor strategy.

1) is much easier to do so I recommend it. I'd imagine this issue would be P3 or a P5.

@bbinto Thoughts? Or should we wait for next week's triage?

[2017-11-28 18:03] mcomella commented on #780
I agree – I wonder if we should just close this because it's another pedantic correctness issue that'll add potentially complex code and take development time but we've never seen in the wild.

I can't remember having personally seen this (_maybe_ on my old phone?) but I've seen reports of Android killing background music from posts on the internet. But this is likely Android killing the process,

[2017-11-28 18:23] lexcyn commented on #1784
@bbinto yes that seems to be the same info. I was not able to get a stacktrace of the issue on my phone but that seems to be what's happening. Can you merge this into that issue?

[2017-11-28 18:36] #1689 closed

[2017-11-28 18:45] #1567 closed

[2017-11-28 19:15] pocmo commented on #1784
Closing as duplicate of #1819

[2017-11-28 19:15] #1784 closed

[2017-11-28 19:18] #1645 closed

[2017-11-28 19:38] liuche commented on #1567
Just a string change, should be picked up in UX review as the last step of #961.

[2017-11-28 19:39] liuche commented on #961
@lime124 I landed the last piece of this, so when everything goes green you should get a build and can do a final UX review!

[2017-11-28 21:21] liuche commented on #1633
@wcbeard just checking in since it's been about a month since the last updates on this bug and we're reaching the end of this sprint. How do the session timestamps look with this context? Would you prefer the other options mentioned earlier, or is this ordering of timestamps separated by session fine?

[2017-11-28 21:31] npark-mozilla commented on #1819
This also happens when deleting two or more search engines, and closing the dialog.

[2017-11-28 21:40] liuche opened #1828 "[SUMO] Add search engine manually feature"
We're adding a new feature to allow users to manually add a search engine ( #961 ).

We don't link to a specific SUMO page for from this feature, but since this could be a confusing feature (feedback given in-app about the correctness/acceptability of the user-entered search engine url is very minimal), a page could be useful. We'd like to improve this feature in a v2 ( #1561 ) which will add high

[2017-11-28 21:41] liuche commented on #1828
Intended to be assigned to @joni but can't find her username in the dropdown for this org.

[2017-11-29 01:47] antlam commented on #1362
@pocmo I'm going to leave this to @lime124

But since this is a P5, I worry it could be kind of messy if we start pulling at this thread. This interaction on top of the expanded FAB isn't something that is very standard in Android and just feels a bit weird to me (versus say, simply an X button).

[2017-11-29 06:04] brampitoyo commented on #1529
This patch looks good to me, and comprises a part of what I’m proposing with the custom tabs redesign (#1626).

Let’s make sure that the wording says “Open in Firefox Focus”.

[2017-11-29 06:50] Achintya999 opened #1829 "Creating PDF's"
There should be an option that helps us to take screenshots or extended screenshots and automatically converts them into PDF's like there is an option in ios browser.

[2017-11-29 10:01] pocmo commented on #1754
This and #1787 are about the same pages, right?

[2017-11-29 10:10] pocmo commented on #1633
We talked about this briefly on Slack some time ago:

Probably something we could do in the future but maybe not a P2 anymore.

[2017-11-29 11:11] facyber opened #1830 "Switching on/off URL Autocomplete features does not change the icons"
Build ID: 3542 - Focus for Android
User Agent: Mozilla/5.0 (Linux; Android 6.0)

When I click on switch icons to turn on or off the new URL Autocomplete features, Focus does enables them, but the switch icons are not changed.

Steps to reproduce:
1. Open Focus > Settings > URL Autocomplete
2. Press any switch icon (Default URL List or Custom URL)

What should happens: Switch icon should change to

[2017-11-29 12:20] bbinto commented on #1624
@Sdaswani; fyi, discussed with @brampitoyo that he will finish this work up by end of workweek so eng can start working on this for 5.0

[2017-11-29 12:43] brampitoyo commented on #1626
@pocmo What about deploying this logic?

* If the app requests adding a non-share button, show it alongside `focus-share` and `focus-menu`
* If the app requests adding its own share button, show it and hide `focus-share`. As a result, we show `app-share` and `focus-menu`

This might not be possible, or simply too complicated. If it is, we’ll think of another way forward.

[2017-11-29 13:42] pocmo commented on #1792
Looking at the code and PR we decided that it's not worth adding code (and therefore complexity) fixing this minor issue. Therefore I'm going to close this issue.

As mentioned on the PR: Thank you for contributing and let us know if you are interested on working on other issues.

[2017-11-29 13:42] #1792 closed

[2017-11-29 13:50] pocmo opened #1831 "InflateException: Error inflating class org.mozilla.focus.search.SearchEngineChooserPreference"
From Buddybuild. Happened a bunch of times on Android 6 devices.

[View Full Crash Details](https://dashboard.buddybuild.com/apps/584f67f6f3d6eb01000842d6/crashreport/070d31d8728f1ad4bd43a79f5b0633cd)

[2017-11-29 13:53] pocmo commented on #1626
@brampitoyo The third-party app can set **one** action button that will show up in the toolbar. We do not really know whether it is a share button or something else.

https://developer.android.com/reference/android/support/customtabs/CustomTabsIntent.Builder.html#setActionButton(android.graphics.Bitmap,%20java.lang.String,%20android.app.PendingIntent,%20boolean)

[2017-11-29 13:57] pocmo opened #1832 "String import failed while fetching L10N repository."
Today the string import failed. Somehow it stopped after/while updating the L10N repository. There's no error message but git returned a non zero return code apparently.

https://tools.taskcluster.net/groups/f1PzthzSQ8CBfHWpO3aA5A/tasks/f1PzthzSQ8CBfHWpO3aA5A/runs/0/logs/public%2Flogs%2Flive.log

[2017-11-29 14:01] pocmo commented on #1830
Thank you for the report!

I can't reproduce this on a Pixel XL with Android 8.1. I'll try some other configurations.

[2017-11-29 14:09] pocmo commented on #1830
I can reproduce it on an API 21 emulator. Will work on a patch.

[2017-11-29 14:56] pocmo commented on #1831
I can't see SearchEngineChooserPreference being referenced anywhere.

@liuche Maybe this is already fixed in master?

[2017-11-29 15:33] facyber commented on #1830
No problem! Soon as the new update come I will test it again to check if it works. 👍

[2017-11-29 15:47] pocmo commented on #1308
detekt is now running on taskcluster for every PR / merge to master.

I'm still interested in understanding how much overlap there is with ktlint and whether it makes sense to add ktlint additionally.

[2017-11-29 16:33] pocmo commented on #1766
#1830

[2017-11-29 16:44] pocmo commented on #1765
FYI: :Callek (release engineering) mentioned on IRC that he won't be in Austin. But he's working during the week. So he can definitely sign builds during the work week if needed.

[2017-11-29 16:45] pocmo commented on #1765
In any case they can all be found in #releaseduty on IRC.

[2017-11-29 18:16] NightlyNexus commented on #1792
Cool, makes sense. Thanks for the review!

[2017-11-29 18:39] bbinto commented on #1753
Ok, so how about we do the reverse, i.e. we do know how often people type in something in the URL bar, or open a tab. So, if we are able to track # of page loads overall, and assume a 1:1 relationship to pageload and URL typed in + opened link in new tab, we can subtract the number of these events to get the events that were triggered by a potential link. Is that correct?

[2017-11-29 19:15] npark-mozilla opened #1835 "In API 23, the switch for Autocomplete and Custom URL Autocomplete are not changed even when switched"
STR:
In android API 23 or below, go to Settings, tap Autocomplete menu
tap either switches in the submenu

Expected:
the switch correctly shows the state
Actual:
always off position

Note: this does not happen in API 25

[2017-11-29 19:21] liuche commented on #1754
@lime124 what do you think? I renamed while going through the 4.0 milestone so it was clearer, but if they are the same thing, then we could dupe one to the other.

[2017-11-29 19:26] pocmo commented on #1835
Duplicate of #1830. There's already a patch waiting for review. :)

[2017-11-29 19:26] #1835 closed

[2017-11-29 19:33] lime124 commented on #1755
@liuche Feedback on build:

manual entry screen
- [ ] for the text fields - I want to use standard Android components. They should follow these states: https://material.io/guidelines/components/text-fields.html#text-fields-states
- [ ] can we get rid of the line under the example?
- [ ] is it possible to give 16dp padding on both sides of the text fields?

remove screen
- [ ] should be an X instea

[2017-11-29 19:35] lime124 commented on #1754
yep it looks like they are dups. i don't think it matters which is closed as long as relevant info is pulled from the closed one.

[2017-11-29 20:29] npark-mozilla opened #1836 "When no Custom URL is selected, tapping trash can exits the Custom URLs dialog"
STR:
Add custom URL
Tap 3-dot menu and select 'Remove'
Tap Trash can icon without selecting custom URL checkbox

Expected:
- Since no url is selected, either the trash can should be greyed out or have no action
Actual:
- exits 'Remove custom URLs' dialog

[2017-11-29 21:20] liuche commented on #1787
Copying this over to #1754 as a dupe and closing this issue.

[2017-11-29 21:20] #1787 closed

[2017-11-29 21:50] mcomella commented on #1479
Actually, I see this on apkmirror.com, even with trackers disabled (but haven't witnessed it on other pages). Adding back to triage...

[2017-11-29 21:53] mcomella opened #1837 "Loading bar occassionally disappears during load after deleting data"
The loading bar will disappear until I try to load the next page.

I can't reproduce it consistently but I've been seeing it for 3-ish weeks and liuche can also see this (I asked via IRC).

@pocmo @ekager Any ideas what could have caused this?

[2017-11-29 21:58] liuche commented on #1831
I also don't see any references to SECP, but the most recent crash is from #3542 which went out 2 days ago, so I'll investigate.

[2017-11-29 22:01] pocmo commented on #1837
2.5 on Google Play is affected too.

There's some new code in BrowserFragment that does not update the loading bar and background etc. if we haven't been loading before. Maybe that's causing this?

[2017-11-29 22:07] npark-mozilla opened #1838 "When deleting custom autocompletion site, app crashes"
STR:
create a custom autocompletion "somewhere.com", then exit to settings
create another autocompletion site with same name, exit to settings
enter the custom autocompletion settings again, select remove, and check both sites, and press trashcan

Expected:
- Site removed normally
Actual:
- the app crashes.

(This may not be 100% reproducible, but I ran into crash multiple times this way)

[2017-11-29 22:18] mcomella opened #1839 "Remove FindBugs suppression annotations in kotlin files"
[Sebastian recently stopped running findbugs on kotlin files](https://mail.mozilla.org/pipermail/firefox-focus-public/2017-November/000062.html) so we no longer need to suppress FindBugs warnings in kotlin files. Here are all the instances of the annotation we should remove:

[code]

You should remove these annotations and verify your patch worked by running findbugs:
[code]

Note that there will

[2017-11-29 23:18] Sdaswani commented on #1821
I spoke to @bbinto - for a first pass, she just wants to know when a user employs the autofill functionality. So dropping a probe when they do so would be just enough.

[2017-11-29 23:21] mcomella opened #1840 "WebViewDataTest fails on clean install / delete all data"
It appears the test asserts that the LocalStorage directory exists, which it will if we've used LocalStorage before but if we haven't, the LocalStorage directory will not exist and the test will fail.

Devs may run into this in testing but this passes in CI because we run a LocalStorage-based test before running this one.

To fix this bug, you should add a LocalStorage component to the test page u

[2017-11-29 23:28] mcomella opened #1841 "testLocaleAndSessionStorage... should be renamed to testLocalAndSessionStorage..."
In `LocalSessionStorageTest.java`, "local" has been typo'd to "locale" – fix all occurrences! :)

[2017-11-29 23:43] mcomella opened #1842 "WebViewDataTest fails on API 26 Pixel emulator"
Stack trace:
[code]

It seems there are a few files in the data/ directory that don't exist on my API 23 emulator, which is why I didn't catch this sooner.

We should also verify that these files, if we whitelist them, aren't leaking browsing state. Otherwise, we should delete them!

[2017-11-30 00:04] mcomella commented on #1842
These may come from the new Android Studio 3.0 profiler. Three files I noticed are:
- perfa.jar
- perfd (binary file)
- libperfa_x86.so

The contents of perfa.jar:
[code]

---

I confirmed that these files *are not* injected in AS 2.3.3 but are in 3.0.1.

The [new profiler description page](https://developer.android.com/studio/preview/features/android-profiler.html) mentions, "To show you advanced

[2017-11-30 00:04] mcomella commented on #1842
I don't want to delete them because this may break our ability to correctly profile the app so I'm going to whitelist them.

[2017-11-30 00:09] mcomella commented on #1840
You can learn how to create LocalStorage in a test in `LocalSessionStorageTest`

[2017-11-30 00:13] liuche commented on #893
Checked on a recent build, and I'm not seeing this problem anymore. I'll reopen if it comes up again.

[2017-11-30 00:13] #893 closed

[2017-11-30 00:14] liuche commented on #797
Not an issue anymore.

[2017-11-30 00:14] #797 closed

[2017-11-30 00:16] liuche commented on #1819
Okay, I set `searchEngines` to null when we need to refetch, in order to force a wait while the search engines reload, but it looks like we need an extra lock so we can't set `searchEngines` to `null` after the `awaitLoadingSearchEnginesLocked` check.

[2017-11-30 00:25] mcomella commented on #1842
I'm having second thoughts – if our intent is to ensure there is no browsing data left on disk and the profiler caches browsing data on disk, shouldn't we delete the profiler's files? I'm going to investigate if these files are added in:
1. Release builds
1. Gradle-only builds (i.e. not from Android Studio)

If so:
- We should delete the profiler's files on clean-up
- To prevent the profiler from

[2017-11-30 01:28] mcomella commented on #1842
It appears data these profiler files will only be injected if you build via Android Studio _and_ you have opened the "Android profiler" tab at least once since this current Android Studio process has been launched.

I think we should whitelist these so we don't break local builds and I think it's unlikely that these files will be added for release builds so it should be safe.

[2017-11-30 01:45] liuche commented on #1633
Removing the milestone and priority to surface in triage and updating the title to reflect the new issue. Mentioning @bbinto here in case she has feedback that this should still stay in the milestone!

The context for setting priority (mainly for our redash consumers; Q: who is that), what is the priority for updating our telemetry timestamps so when sessions are combined into a single telemetry r

[2017-11-30 01:55] jayaramanraj opened #1846 "hi"

[2017-11-30 01:56] jayaramanraj opened #1847 "hi sir"
how to create bottom nagation view

[2017-11-30 04:31] npark-mozilla commented on #1367
I actually noticed this on the *older* android api when I ran the test locally.  I was still able to expand it by sliding down on the text, but not with the current script, because its step value was too small. when I changed the step value to 20 from current value of 5, it seemed to swipe down and showed open menu. (https://github.com/mozilla-mobile/focus-android/blob/master/app/src/androidTest/j

[2017-11-30 04:34] npark-mozilla opened #1848 "Perhaps a 'Reset to Default' button is needed in Settings"
Now with many pref values in Settings, it would be handy to create a 'Reset to default' button in settings that resets the value. It'll definitely help UI automation too.

[2017-11-30 06:20] nosark commented on #1656
I was able to reproduce getting Mozilla Rocket from mozilla-tw/Rocket focus android from
mozilla-mobile/focus-android and reproduce the bug. I've made the update to Known Browsers and everything works as expected.I left the PR request below
 https://github.com/mozilla-mobile/focus-android/pull/1849

[2017-11-30 06:53] #1846 closed

[2017-11-30 08:45] pocmo commented on #1847
I think you are wrong here. This is a bug tracker for the Focus for Android app.

[2017-11-30 08:45] #1847 closed

[2017-11-30 09:10] pocmo commented on #1771
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* Are users interested in maintaining their own list of autocomplete domains?
* How often is a typed URL autocompleted? And from which list?
* How ma

[2017-11-30 09:17] #1656 closed

[2017-11-30 09:18] pocmo commented on #1656
@nosark Just merged your patch. Thank you! :)

[2017-11-30 09:23] pocmo commented on #1848
In UI automation you can just clear the settings yourself. ;)

[code]

[2017-11-30 09:37] pocmo commented on #1838
In this case a stracktrace would have been helpful. :)

[2017-11-30 09:40] pocmo commented on #1754
@lime124 We have two "Learn more" links in the settings page - Are they for two different sites?

@jonisavage Can we generate URLs for those pages already? :)

[2017-11-30 09:41] pocmo commented on #1836
I followed the behavior of the "remove search engines" screen here.

@lime124 Is this a bug? What's the expected behavior?

[2017-11-30 10:50] brampitoyo commented on #1626
@pocmo Thanks for confirming that! So, at the risk of reiterating, if I understand correctly:

1. There’s no way for us to know the whether the button that the third-party app is going to display is a share button or not (and if we can, it might be hard to do, anyway)
2. It also looks like we cannot simply ignore the third-party app’s request to add a button. Once `setActionButton` is invoked, we

[2017-11-30 10:54] brampitoyo commented on #1358
Over on #1626, we’re having a bit of an issue. Third-party apps can request to show their own button on the custom tabs toolbar alongside ours.

Because share is a common action, there might be a chance that they will want to display a share button, even when we show our own share.

As a result, we might then have duplicate `share` buttons. One `share` coming as a request from the app, and the oth

[2017-11-30 10:55] pocmo commented on #1626
1. Correct.

2. Technically we can ignore it. But I doubt that's helpful. For example the twitter app shows a "Tweet" button. If we hide that one - is this helpful?

[2017-11-30 13:13] #1830 closed

[2017-11-30 13:13] pocmo commented on #1830
@facyber This should be fixed in upcoming builds.

[2017-11-30 13:37] pocmo commented on #1838
Okay, found an issue. Patch incoming!

[2017-11-30 13:44] #1819 closed

[2017-11-30 14:14] pocmo commented on #1771
@liuche --^

[2017-11-30 15:14] pocmo commented on #1813
@lime124 I don't think we can change the default only for new installations - because the preference doesn't exist yet. Two options:

1) We pick one default for all users (on or off)

2) We turn autocomplete on for all users (like it is now) and in 4.1 (or whatever the next release is) we change the default for false. In **this** case the default would only change for new users and existing users

[2017-11-30 16:12] bbinto commented on #1633
I think we should ask @wcbeard why/how he'd use the updated data

[2017-11-30 16:41] lime124 commented on #1813
thanks @pocmo !

@bbinto in this case, i suggest that we leave the default to on (otherwise it will 'randomly' disappear for existing users). and then we can take a look at the telemetry to see how many people are turning the feature off/on and revisit the default state for future installations.

thoughts?

i want to add @boek to the conversation since i would expect to encounter the same problem

[2017-11-30 16:45] pocmo commented on #1821
I added two probes:

| Event                    | category | method     | object |
|-----------------|----------|--------------|---|
| Autofill popup is shown                | action   | show                  | autofill   |
| Autofill performed                     | action   | click                 | autofill   |

[2017-11-30 16:46] bbinto commented on #1813
I'm happy with your proposal, @lime124 -- due to the issues mentioned by Sebastian, let's keep the status quo and iterate it with more data points.

[2017-11-30 16:51] Sdaswani commented on #1821
@bkmunar can you please use the same events for iOS.

[2017-11-30 16:57] JohnKal commented on #1841
I will fix this issue.

[2017-11-30 17:26] pocmo commented on #1813
Okay, great.

In this case I can close this issue for this sprint. :)

[2017-11-30 17:26] #1813 closed

[2017-11-30 18:25] liuche commented on #1773
Assigning @ekager to update this link to the product.

[2017-11-30 18:26] liuche commented on #1754
Assigning @ekager to update these 2 links to the product.

[2017-11-30 18:35] lime124 commented on #1754
@liuche Both links should be the same page. Thanks!

[2017-11-30 18:38] liuche commented on #1392
Duping this to #1600

[2017-11-30 18:38] #1392 closed

[2017-11-30 18:39] liuche commented on #1600
Copying over comments from #1392 and duping that bug to this one (there are some commits linked to #1392 though).

[2017-11-30 18:50] pocmo opened #1855 "Content description of "menu" button in search engine and autocomplete settings not translated"
In the search engine and autocomplete settings screens we let Android create the overflow menu via onCreateOptionsMenu().

This means Android will set the content description (for screen readers). However for some languages Focus ships in (for example "ast") Android does not have a translation.

We need to set the content description manually - if that's possible.

[2017-11-30 18:53] pocmo commented on #1855
In screens where we add the menu button manually we use R.string.content_description_menu.

[2017-11-30 18:53] pocmo commented on #1855
CC: @liuche @ekager

[2017-11-30 19:08] lime124 commented on #1836
Nice catch @npark-mozilla ! I didn't call out what should happen in this case and that's my fault.

In this case we should disable the trash can until at least one item is selected. @pocmo can we make sure this behaviour is replicated for autocomplete too? Thanks!

[2017-11-30 19:08] #1842 closed

[2017-11-30 19:28] liuche opened #1856 "Add telemetry for "Add Search Engines" feature"
Include telemetry for "Add Search Engines" to collect actions such as:
- Clicks on "Add another search engine"
- Clicks on "Remove" or "Restore Default"
- Successful "Save" of new search engine

[2017-11-30 19:30] liuche commented on #1856
@bbinto are there other probes you'd like to include?

[2017-11-30 19:42] jonisavage commented on #1773
Here's the URL for Android: https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/whats-new-focus-android-4

The page will say "page not found" until we get the content up (coming soon).

[2017-11-30 19:47] pocmo commented on #1856
For the "URL entered" event I added extras for autocomplete (was this autocompleted? from which list?). Maybe something like this would be interesting for the "search entered" event too? E.g.: Was this a search with a default or custom search engine. However I'm not sure if we even know at this point. It's probably not worth adding complexity at the end of the sprint. :)

[2017-11-30 19:49] pocmo commented on #1836
Okay, I will have a look.

CC @liuche In case you have time to do this for search engines. :)

[2017-11-30 20:06] ekager commented on #1775
I did a PR for telemetry for the basic SSL error types that are received in onReceivedSslError but not sure if we wanted to also implement the more complicated solution @mcomella gave in #1138 for the ones missing an intermediate CA?

[2017-11-30 21:02] jonisavage commented on #1828
https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/add-search-engine

[2017-11-30 21:09] jonisavage commented on #1754
https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/autofill-domain-android

We needed a separate link for the ios feature because the breadcrumb will show either ios or android on SUMO.

[2017-11-30 21:52] nosark commented on #1837
@mcomella I would like to take this if it is available :)

[2017-11-30 22:16] mcomella commented on #1358
Discussion around this issue specifically begins at https://github.com/mozilla-mobile/focus-android/issues/1626#issuecomment-345984780.

[2017-11-30 22:24] mcomella commented on #1626
Two ideas:
1. (safest) If the app declares a custom action button, we don't show "Share". Otherwise, show "Share".
2. We could apply a heuristic based on the data from the custom action button, e.g. if their button description includes "Share", we hide our share item. If not, we show our share item.
    1. For the case where we incorrectly show two shares, maybe we should include extra text (e.g.

[2017-11-30 22:38] mcomella commented on #1775
I think this is a chicken and egg problem: since we can't implement something that gives us the correct answer, we don't have a clear idea of what we want to learn and it's a lot of work so product hasn't prioritized it. But if we knew it occurs frequently, it might get prioritized!

Here are some possible solutions again, via https://github.com/mozilla-mobile/focus-android/issues/1338#issuecommen

[2017-11-30 22:44] lime124 commented on #1362
I agree with @antlam - i also worry about the ripple effects this could potentially have without a lot more investigation to make sure all the i's are dotted so to speak.

[2017-11-30 22:57] mcomella commented on #1837
@nosark Sure, go for it! Thanks for your help! Please note that this is likely to be a high-priority issue so if it's not fixed quickly, one of the core maintainers may need to take it over from you. Our next release to get this issue in is in January though so you've got a bit of time. :)

Unfortunately, I'm not sure what could be the matter here but you could start investigating by:
- (from pocm

[2017-11-30 23:01] nosark commented on #1837
ok well i'll get to it and pose any questions in IRC(irc handle: codeasaurusHex).

[2017-11-30 23:43] mcomella commented on #1712
"help wanted" means we don't have enough engineering resources to tackle this bug in a timely fashion and so we're requesting help from our contributor community. :)

[2017-11-30 23:45] mcomella commented on #780
Feeling this more as time goes on – let's not make P5 our indecision graveyard for issues we don't want to close. We can reopen if necessary. :)

[2017-11-30 23:45] #780 closed

[2017-11-30 23:46] mcomella commented on #1712
To fix this bug, take a look at the URL given at the top and verify you can reproduce this issue. If it's reproducible, I think Focus is either:
1. Downloading the wrong file
1. Changing the file name when downloading

Figure out what's going wrong and fix the issue! :)

[2017-11-30 23:59] mcomella opened #1860 "WebViewDataTest fails on API 26+ due to Android Profiler file injection (part 2: traces)"
java.lang.AssertionError: File 'perfd' should not contain any traces of browser session (localhost, path=/data/user/0/org.mozilla.focus.debug/perfd)
at org.junit.Assert.fail(Assert.java:88)
at org.junit.Assert.assertTrue(Assert.java:41)
at org.junit.Assert.assertFalse(Assert.java:64)

I forgot to fix this as part of #1842.

[2017-12-01 00:31] mcomella commented on #1492
Service workers seem to store data in `<data-dir>/app_webview/Service Workers`, which we delete by hand: this is in opposition to the `<data-dir>/cache/` directory, whose behavior I've been modifying.

[2017-12-01 00:32] ekager commented on #1775
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

Which SSL Errors are Focus users most frequently receiving? How often are our users running into SSL Errors? Are SSL errors happening much more often

[2017-12-01 00:34] ekager commented on #1775
Tagging our data peer @liuche :)

[2017-12-01 00:47] mcomella commented on #1837
Discussion regarding some tentative STR: https://mozilla.logbot.info/focus/20171201#c13944153

[2017-12-01 01:07] Sdaswani commented on #1492
@mcomella left field question here - is there any chance where data is stored can be configured by the OEM, such that different devices will behave differently?

[2017-12-01 01:09] mcomella commented on #1472
I'm going to refocus this bug back on "Investigate whether removing WebKit files on erase is a good idea", now that Randy's issue seems to be unrelated.

---

[Sebastian notes](https://bugs.chromium.org/p/chromium/issues/detail?id=709627#c5):

If true, we definitely have to erase Service Workers' data by hand.

[2017-12-01 01:15] mcomella commented on #990
Last comment in the bug:

So either:
1. We fix it ourselves. :) This assumes the WebView support library is released soon though.
1. We wait to at least Android U, which is a ways off.
1. We come up with a work-around (currently #1600? there are a few open issues)

---

This was fixed in #1306.

[2017-12-01 01:26] mcomella commented on #1837
When I reproduce, I'm also noticing that the URL bar doesn't seem to be changing to the multi-color gradient – this is probably related.

[2017-12-01 07:03] liuche commented on #1856
That would be nice to collect! but I think I'd rather not add too much complexity now :/ but I will file.

[2017-12-01 07:05] #1754 closed

[2017-12-01 07:07] Sdaswani commented on #1828
@ekager @liuche can one of you put this URL into the product?

[2017-12-01 07:12] Sdaswani commented on #1367
Moving this out of 4.0, doesn't need to be fixed by tomorrow.

[2017-12-01 08:19] liuche commented on #1755
@lime124 made some changes, a few questions for you:

1. Standard Android Components:
There is a standard Android component for the label/text behavior of Material Design!...except it's a known issue that there are no "Placeholder" strings: https://issuetracker.google.com/issues/37065330

This means we don't get useful hint strings about copy-pasting the text in, and it looks like this:
![screensh

[2017-12-01 08:59] pocmo commented on #780
I asked about this on Twitter:
https://twitter.com/Anti_Hype/status/935588849119526912

It seems like the consensus is that Android will always kill the process too - and never just a single component. So in theory this shouldn't be a problem for us - because if the process dies then the session data in memory is gone and the notification disappearing is correct.

[2017-12-01 09:10] pocmo commented on #1837
Depending on the fix and timing we should try to uplift to 4.0 though :)

[2017-12-01 09:13] pocmo commented on #990
Why not Q? 😝

There's no known workaround for the root problem. Anyhow this issue is for explicitly tracking an upstream fix (-> 'blocked' label). If we have ideas for workarounds then let's file separate issues.

[2017-12-01 09:26] pocmo commented on #1712
Some additional hints:

DownloadUtils is determining the file name based on the content disposition header or if absent based on the URL:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/utils/DownloadUtils.java

There are unit tests for DownloadUtils. Please extend the unit test to cover this case (assuming the problem is in DownloadUtils):
https://g

[2017-12-01 09:34] pocmo commented on #1626
Isn't this what Bram suggested initially? In the example of the twitter app this means we would hide the "tweet" button.

I can see No-Jun file issues about duplicated share buttons already. :) L10N will make this a bit more complicated. Focus has its own language picker so the language of the third-party app and Focus might differ.

We already have a bunch of custom tabs telemetry. Maybe we can a

[2017-12-01 10:45] #1838 closed

[2017-12-01 10:57] pocmo opened #1866 "Autofill tries to autofill autocomplete URL field"
When adding an autocomplete URL some autofill services seem to try to autofill the URL with a login URL. We should mark this field as "not important for autofill".

[2017-12-01 10:59] pocmo opened #1867 "Search engine URL field allows multiple lines of text"
![lines](https://user-images.githubusercontent.com/89638/33479869-feb7768e-d68e-11e7-9310-a0d9702e3a3e.png)

[2017-12-01 11:06] brampitoyo commented on #1626
Thanks for the suggestion, @mcomella, and for reiterating our goal. We just want to show a share button. Whether it comes from the app or from us, it doesn’t really matter as long as it’s shown.

Solution 2 sounds similar to what I had proposed earlier on https://github.com/mozilla-mobile/focus-android/issues/1626#issuecomment-347849393, but didn’t know whether it would possible.

I’ve tested how

[2017-12-01 13:36] pocmo commented on #1626
Bram and I talked about this on Vidyo. Here's what we want to do:

* #1358 -> Always show the "Share" menu item (I'll prepare a patch)
* (To be filed) -> Show a share button in the toolbar if the app doesn't show its own action button (no matter what it is)
* (We have a related issue) -> Always show a "Open with Firefox Focus" menu item

[2017-12-01 13:38] pocmo opened #1870 "[meta] Improve custom tabs experience"
UX issue: #1626

What we want to do so far:

- [x] #1358 - Always show a "Share" menu item
- [x] #1871 - Show a share button in the custom tabs toolbar if the third-party app does not define an action button
- [x] #1529 - Always show a "Open with Firefox Focus" menu item in custom tabs

added by @bbinto on Feb 23
- [x] #1282
- [x] #770

Feature requests:
- [ ] #2183 - Navigation events

From ahunt

[2017-12-01 13:39] pocmo opened #1871 "Custom tabs: Show a share button in the custom tabs toolbar"
meta: #1870

In custom tabs always show a share button in the custom tabs toolbar if the third-party app does not define an action button.

[2017-12-01 13:41] pocmo commented on #1529
Talked to Bram about this an other custom tabs things on Vidyo.

We decided that we want to have an additional menu item in custom tabs that opens Focus. This means we do not need to add Focus to the "Open with..." list.

@brampitoyo For other apps we show a menu item with the string "Open with XXX". Do we want to re-use this one or explicitly say "in" here?

[2017-12-01 13:43] bbinto opened #1872 "Wrong values populated in LastPass form"
- Lastpass Beta
- Firefox Focus Beta via BB
- Pixel, Android 8

STR:
1) altitude.aircanada.com
2) Added my aerolan number + password, hit enter
3) Got snackbar if I wanted to save to LastPass
4) Said yes
5) Form pre-populated in Lastpass with wrong info

Expected behaviour:
5) Form populated in Lastpass with aeroplan number and password

![screenshot_20171201-054246](https://user-images.githubuser

[2017-12-01 13:56] pocmo commented on #1872
@bbinto

* Only the release build of Focus is whitelisted to work with Lastpass. From the URL it looks like this was with a Beta build of Focus.

* If you still see this then this needs to be filed with Lastpass. This data is exchanged between WebView <--Autofill API--> Lastpass. We are not directly involved.

[2017-12-01 14:03] bbinto commented on #1856
@liuche if you ask me (as you did :)), I would *really* like to have this in now:

It will really help us understand how many of our users customize for a puropse, i.e if the feature increased retention not only if somebody has set their custom search engine but actually used it.

Otherwise good start to track the feature.

[2017-12-01 14:34] bbinto commented on #990
Any guesses on timeline?

[2017-12-01 15:20] wcbeard commented on #1633
Sorry all, just saw the updates

@bbinto:

Current things I’ve been working on have involved looking at what happens in the 1st or 2nd session, where these are defined by `seq == 1` or `seq == 2`. In this case, the bug could lead to inflated statistics for what happens (I.e., a foreground event could be double counted if we’re combining 2 sessions into a single session-ping).

Another analysis I c

[2017-12-01 16:07] pocmo commented on #1836
@npark-mozilla I have a patch for autocomplete in review. Can you file a separate issue for search engines?

[2017-12-01 16:10] #1860 closed

[2017-12-01 16:16] pocmo opened #1875 "Closing app in "recent apps" screen does not remove cookies (and maybe more)"
Android 8.1 Beta, Pixel XL.

STR:
* Got to twitter.com
* Login
* Go to "recent apps" screen
* Close Focus by swiping it away
* Open Focus again
* Go to twitter.com

Expected: You are not logged in anymore.

Actual: You are still logged in.

We handle this situation in SessionNotificationService.onTaskRemoved():
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozil

[2017-12-01 16:16] npark-mozilla opened #1876 "When no search engine is selected for deletion, tapping trash icon exits 'Remove Search Engines' dialog"
STR:
Go to search engine list in Settings menu
Tap 3-dot menu and select 'Remove'
Tap Trash can icon without selecting search engine checkbox

Expected:
Since no search engine is selected, either the trash can should be greyed out or have no action
Actual:
exits 'Remove search engines' dialog

Copied from #1836

[2017-12-01 16:18] pocmo commented on #1876
UX from #1836:

[2017-12-01 16:57] pocmo commented on #1308
ktlint seems to add some additional style checks. I'll look into integrating it too.

[2017-12-01 18:14] pocmo commented on #1821
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* Are users using the Autofill feature of the system? -> Do they see and click on autofill popups?
* Is it worth investing more in autofill features

[2017-12-01 18:21] Sdaswani commented on #1821
@bkmunar can you also fill this out for iOS - you should be able to use a lot of the content here. https://github.com/mozilla-mobile/focus-ios/issues/728

[2017-12-01 19:36] npark-mozilla opened #1879 "[meta] Add manual search engine feature is unintuitive"
- [x] #1939: Move error messages in "Add search engine" under input fields
- [x] #1935: Add "Learn more" link to "Add search engine" page, under "Example:"
- [x] #1936: Add additional validation (just making a network request? we already %s)

---

The example text shows:
Example: example.com/search/?q=%s
but if you follow this format, it won't work, because it's missing https://.  It'll return abo

[2017-12-01 19:48] npark-mozilla opened #1880 "Incorrect error msg when a search engine with same name is being added"
STR:
add a search engine with name 'Test'
add another search engine with sam name

Expected:
rejects with the error message saying "there is already a search engine with same name"
Actual:
There is only one error msg shown, which says "Check that search string matches example format" which is misleading in this case.

[2017-12-01 19:52] nojunpark opened #1881 "Add "edit" option to custom search engine list"
Why
- User doesn't have to remove and add a new entry if the current entry is incorret or not working

What
- Add ability to edit a search engine entry

Acceptance Criteria (how do I know when I’m done?)
- User can edit an existing search engine entry
- Probes to track when this event is triggered

-----

This is probably more of a feature, but I often find that when I test out the newly added sea

[2017-12-01 20:06] npark-mozilla commented on #1837
I am not sure whether it's a same bug or not, but on latest FocusWebViewRelease build, the progress bar is only shown covering about 5% of the horizontal length of the screen, then disappears.  I'm on Pixel 2 API 26.

[2017-12-01 20:11] jonisavage commented on #1828
The article is ready. The in-product link will automatically redirect to this: https://support.mozilla.org/kb/add-search-engine-firefox-focus-android

[2017-12-01 20:25] jonisavage commented on #1754
Android article is ready: https://support.mozilla.org/kb/autocomplete-settings-firefox-focus-address-bar.

The in-product link will automatically redirect to the article above.

[2017-12-01 20:30] npark-mozilla opened #1882 "Lastpass offers to autofill custom autocomplete url field"
STR:
Install lastpass, give permission to use autofill for Focus in Settings
Launch Focus, got to Add custom URL dialog

Expected:
No Lastpass presence
Actual:
Lastpass detects the URL field, offers to autofill it from the list of URLs.

Not sure whether this is a bug or not - it does offer you to fill in with some URL that's relevant to you, but I was under assumption that this would only work on

[2017-12-01 20:32] npark-mozilla commented on #1882
![screenshot_20171201-152013](https://user-images.githubusercontent.com/6930774/33502055-af8ec97c-d6ac-11e7-8f83-7614616f111b.png)

One more thing - when a new url is added, the android system asks you whether the new url should be saved to Lastpass.

[2017-12-01 20:45] nosark commented on #1837
@npark-mozilla  I'm pretty sure it is. When the progressView is initialized it starts with a default of 5%. I can recreate the bug everytime now. I am using an original Pixel. I haven't guaranteed every try, but if I set a timer for 1 minute , the problem doesn't persist and the progressView and url bar act as expected. I am looking into the gradient problem with the URL as well because they happe

[2017-12-01 21:04] nosark commented on #1837
The weird thing about the bug is that it can only be reproduced using certain websites.

If I hit "k" and enter to go to kohls.com, then delete, then hit "k" and enter again the loading bar disappears and the gradient on the urlBar doesn't draw.

If I try to do the same thing by hitting "m" and going to microsoftonline.com it acts as expected, no issues.

If I do it with mozilla.org by typing "moz

[2017-12-01 21:09] #1866 closed

[2017-12-01 21:11] pocmo commented on #1882
Fixed in #1866

[2017-12-01 21:11] #1882 closed

[2017-12-01 21:31] nojunpark opened #1883 "Lastpass is not filtering the autofill suggestion / only shows first few sites"
On Pixel 2 API 26

STR:
Install lastpass, set permission in Android Settings
Install FocusWebViewRelease from BB

I already have autofill information for facebook.com

- Go to facebook.com and tap the login field

Expected:
Lastpass shows facebook related login credentials
Actual:
Lastpass only shows first few sites on my list as suggestions.

It seems that whichever site that I go to, the suggest

[2017-12-01 21:46] #1605 closed

[2017-12-01 21:46] lime124 commented on #1604
oops...

[2017-12-01 21:47] npark-mozilla opened #1884 "After deleting autofilled username/passwords, lastpass no longer offers to autofill again"
STR:
Have Lastpass installed and permission set.

- Go to facebook.com or any site that lastpass has the login credentials
- Autofill the login/password field
- Delete the autofilled information
- Tap field again

Expected:
- Lastpass shows autofill suggestions again
Actual:
- Does not show anything

Workaround: refresh the site

[2017-12-01 21:47] lime124 commented on #1609
i think we can close this now...

[2017-12-01 21:47] #1609 closed

[2017-12-01 21:49] mcomella commented on #1840
FYI: JohnKal mentioned they want to work on this in https://github.com/mozilla-mobile/focus-android/pull/1854#issuecomment-348493416.

[2017-12-01 22:06] mcomella commented on #990
The first mention I see is [a mailing list post on May 18](https://groups.google.com/a/chromium.org/d/msg/android-webview-dev/4aVzFCd50VA/d4yAVEYVBQAJ) and they mention it in the bug we're tracking here, latest on Nov 21 (so presumably it's still in development) but no indication on when it'd be complete.

However, [from the bug](https://bugs.chromium.org/p/chromium/issues/detail?id=709627#c12):

[2017-12-01 22:10] mcomella commented on #990
The Android releases are about yearly and O was just recently released so it'll be at least a year, assuming we (or they) make the fix by then.

[2017-12-01 22:27] mcomella commented on #1492
In theory, OEMs can change _anything_. In practice, it'd be very bad for the OEMs to break certain Android APIs we're using such as:
- `Context.getDataDir`
- `Context.getCacheDir`

So I think it's safe to say these APIs/paths will be consistent. WebView should (hopefully) also use these APIs so the path that it stores its root directory should remain consistent.

WebView is updated independent of

[2017-12-01 22:28] mcomella commented on #1472
Susheel brought up a point in https://github.com/mozilla-mobile/focus-android/issues/1492#issuecomment-348371433 that paths may change across OEMs (and WebView versions) so we should consider this in our solution here!

[2017-12-01 22:29] lime124 commented on #1604
here are the prelim results. just need to put them in a prettier format which I'll do on monday.

https://docs.google.com/document/d/1L3HPUUvjtNw1madQeE42XJTMP3J__Ymv-ts0NggHoWQ/edit

[2017-12-01 22:29] #1604 closed

[2017-12-01 22:54] liuche commented on #1836
@npark-mozilla One thing I found was that the trashcan doesn't look disabled when there are no items selected, but it **is** disabled - and maybe this varies by device?

[2017-12-01 23:34] Sdaswani commented on #1492
Nothing specific @mcomella - just wanted to make sure we weren't targeting a solution with assumptions that may be changed be OEMs. :) I agree it's not recommended for them to do this so hopefully we are OK.

[2017-12-02 00:31] mcomella commented on #1836
Closed with https://github.com/mozilla-mobile/focus-android/commit/e34247507e9915267c4d63bd73d93a9c46ead51d.

[2017-12-02 00:31] #1836 closed

[2017-12-02 00:33] mcomella commented on #1836
At least, I think this is closed by ^.

@pocmo Can you use the "Closes #xxx" tag so we know which PRs close which issues (as opposed to some PRs which might partially address an issue)? Just in case you're ever not around to close issues.

[2017-12-02 00:44] mcomella commented on #1358
Merged: https://github.com/mozilla-mobile/focus-android/commit/b80672f06491513eae083e5c9c0c4ba3b68d2cb4

Will default to showing "Share" all the time. Thanks for the feedback, autonome! :)

[2017-12-02 00:44] #1358 closed

[2017-12-02 00:45] liuche commented on #1755
Okay, fixed all the issues but the line under, and after talking to @lime124 decided we can punt that for this release.

[2017-12-02 00:46] mcomella opened #1885 "Correct comment grammar"
[In CustomTabsConfig](https://github.com/mozilla-mobile/focus-android/blob/b80672f06491513eae083e5c9c0c4ba3b68d2cb4/app/src/main/java/org/mozilla/focus/customtabs/CustomTabConfig.java#L166), we have:

[code]

This should say,
[code]

Fix it! :)

[2017-12-02 00:48] liuche commented on #1821
# Data Review Form (to be filled by Data Stewards)

Instructions: Data Stewards will review a request for data collection and endorse responses to each question. **If the request does not provide answers to questions, reviewers give an r- and point to the questions that can’t be answered.**

1) Is there or will there be **documentation** that describes the schema for the ultimate data set availabl

[2017-12-02 00:48] #1821 closed

[2017-12-02 00:54] mcomella opened #1886 "Use constant for detekt version in build.gradle"
Right now, we specify it individually: e.g. the last time we updated the version is https://github.com/mozilla-mobile/focus-android/pull/1878/files

Since the values are duplicated, we should use a constant, like `kotlin_version`.

[2017-12-02 00:55] liuche commented on #1771
# Data Review Form (to be filled by Data Stewards)

Instructions: Data Stewards will review a request for data collection and endorse responses to each question. **If the request does not provide answers to questions, reviewers give an r- and point to the questions that can’t be answered.**

1) Is there or will there be **documentation** that describes the schema for the ultimate data set availabl

[2017-12-02 00:55] #1771 closed

[2017-12-02 00:58] liuche commented on #961
Unassigning myself because all eng work is done.

[2017-12-02 01:01] liuche commented on #1831
Last reports are from build 3542 and we are now past 3640, and there are no longer any references in the code base, so closing this.

[2017-12-02 01:01] #1831 closed

[2017-12-02 01:19] liuche commented on #1755
Closed by #1865.

[2017-12-02 01:19] #1755 closed

[2017-12-02 02:02] #1856 closed

[2017-12-02 02:14] #1492 closed

[2017-12-02 02:14] liuche commented on #1756
@lime124 is there anything else that needs to be done here? If not, we can close it!

[2017-12-02 03:30] nosark commented on #1837
@mcomella I'm fairly certain I resolved it. The default value for this.loading in Session.java was false, Which was causing the disappearing loading bar and background issue. Changing it to true resolves the issue while loading pages. Should I create the pull request or should I find another work around for the issue in case this may cause other problems?

[2017-12-02 03:50] #1756 closed

[2017-12-02 05:12] #961 closed

[2017-12-02 05:12] #1525 closed

[2017-12-02 05:12] #1546 closed

[2017-12-02 05:12] #1766 closed

[2017-12-02 05:16] Sdaswani commented on #1600
this can move out to 4.1.

[2017-12-02 05:29] Sdaswani commented on #1821
Thanks for data review @liuche !!!

[2017-12-02 05:32] nosark commented on #1837
sorry for the string of commits, I was updating my fork with the up-to-date-master

[2017-12-02 08:20] npark-mozilla opened #1888 "'Custom URLs' menu item inside URL Autocomplete menu needs a unique identifier for UI Test"
In some locales, like th, zh-cn, zh-tw, the translated text for 'Custom URL' and 'Custom URLs' are identical.  This causes screenshot test to fail since it locates more than one element.  For now the workaround is to use the parent index, but ideally it should come with a unique identifier.

[2017-12-02 10:24] harisankerPradeep commented on #1885
I'd like to do this :)

[2017-12-02 16:50] npark-mozilla opened #1890 "Kotlin build error shown in BB"
Latest master shows build failure with following reason:

    e: org.jetbrains.kotlin.util.KotlinFrontEndException: Front-end Internal error: Failed to analyze declaration AddActionViewHolder
    Cause: java.io.EOFException
    File being compiled and position: (279,5) in /tmp/sandbox/workspace/app/src/main/java/org/mozilla/focus/autocomplete/AutocompleteListFragment.kt

https://dashboard.buddybui

[2017-12-02 17:30] pocmo commented on #1888
Can you select additionally by type? One of them should be a Switch, I guess?

[2017-12-02 18:10] npark-mozilla commented on #1888
Actually from the uiautomatorviewer app, they seem identical, since it's not a toggle switch- it's a menu item.

<img width="712" alt="screen shot 2017-12-02 at 1 09 41 pm" src="https://user-images.githubusercontent.com/6930774/33518383-16410a26-d762-11e7-8584-9f4cbc76eaea.png">

[2017-12-02 21:15] p0358 commented on #737
Will this functionality be finally introduced?

[2017-12-02 23:03] autonome commented on #1358
😍😍😍 Thanks everyone!!!

On Sat, Dec 2, 2017, 09:44 Michael Comella <notifications@github.com> wrote:

[2017-12-03 07:55] siddware commented on #1886
Could I work on this?

[2017-12-03 19:35] codebu5ter commented on #1118
@antlam Any update on this?
I could work on this when the strings are updated.

[2017-12-04 11:14] pocmo commented on #1118
@lime124 -^

[2017-12-04 11:24] pocmo commented on #1832
We stop executing the script whenever there's an error.

Unfortunately we save the output to a file before printing it again:

If `import-strings.sh` fails then we do not see any output because we never get to call "cat".

[2017-12-04 11:29] #1841 closed

[2017-12-04 11:30] pocmo commented on #1886
@siddware Yes. This is still available. :)

You'll need to modify the build.gradle file in the root directory:
https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle

The detekt version is duplicated:
* https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle#L26
* https://github.com/mozilla-mobile/focus-android/blob/master/build.gradle#L30

Other constants are de

[2017-12-04 11:32] pocmo commented on #737
Can you help us understand what problems you are having with the current state? :)

[2017-12-04 11:35] pocmo commented on #1888
Hmm. I see. Those settings views are created by Android. So I would like to avoid that we need to write complex code to modify the default behavior.
I still wonder if we could select the element more reliably? For now maybe just selecting "the last one"?

[2017-12-04 12:47] pocmo commented on #1884
This seems to be the normal system behavior. Autofill behaves the same in other native apps.

[2017-12-04 12:50] pocmo commented on #1883
This needs to be filed with Lastpass.

[2017-12-04 12:55] pocmo commented on #1836
I don't like auto-closing issues most of the time because landing the code is not always sufficient. I always check if there are additional tasks in the issue. E.g. this one doesn't have all labels set correctly. It's missing the sprint label. :)

[2017-12-04 13:38] quttap opened #1895 "JNI can't get field "mHandle" in class org.mozilla.gecko.mozglue.JNIObject."
i cloned the repository and build it. but i try type url and press enter the app do crashed.

log info:
`JNI DETECTED ERROR IN APPLICATION: JNI GetLongField called with pending exception java.lang.NoSuchFieldError: no "J" field "mHandle" in class "Lorg/mozilla/gecko/mozglue/JNIObject;" or its superclasses
org.mozilla.focus.gecko.beta A/art: art/runtime/java_vm_ext.cc:410]   at void org.mozilla.gec

[2017-12-04 13:47] pocmo commented on #1895
You need to build the **focusWebviewDebug** variant.

It looks like you are building a Gecko variant. This configuration is mostly for testing and not the version we ship.

[2017-12-04 13:47] #1895 closed

[2017-12-04 13:48] pocmo commented on #1890
After rebuilding without cache this is gone.

[2017-12-04 13:48] #1890 closed

[2017-12-04 15:44] npark-mozilla commented on #1888
In UiAutomator, you can you UiSelector.instance(), but with Espresso, I think the only option is to use the index value of the parent.  Luckily in this case, the index values were different.

[2017-12-04 16:07] pocmo commented on #1888
Espresso has a PreferenceMatchers helper class. Especially withKey() looks interesting:
https://developer.android.com/reference/android/support/test/espresso/matcher/PreferenceMatchers.html

I'll try and let you know if it works.. :)

[2017-12-04 16:22] pocmo commented on #1888
@npark-mozilla  This seems to work:

[code]

[2017-12-04 17:15] npark-mozilla opened #1896 "Lastpass tries to remember the newly added search engine name"
STR:
- Go to +Add another search engine
- Tap 'search engine name' field and type something
- Press x to cancel

Expected:
Goes back to installed search engines
Actual
Goes back to installed search engines, and android system dialog shows up saying "Save in Lastpass Beta?"

At first, when tapping search engine name field, lastpass also shows a popup saying 'Please verify your identity'

[2017-12-04 17:21] npark-mozilla opened #1897 "Changing locales after deleting search engines only restores partial list of search engines"
STR:
- In English, go to Installed search engines dialog, and delete all search engines except the default one
- exit, and go to language setting.
- Select another locale, like Korean where they have a different set of default search engines.
- Go back to installed search engines dialog.

Expected:
- Either all search engines are restored, or only the default search engine remains
Actual:
- Partia

[2017-12-04 17:26] antlam commented on #1118
Thanks for following up @codebu5ter , I'm going to let @lime124 chime in here since she's been doing a lot more thinking about this than I have lately.

@codebu5ter if you didn't want to wait, achieving parity with the iOS feature would be a great start so that we can see how it feels on Android. You could use placeholder strings for the time being so it doesn't block you.

[2017-12-04 17:33] nojunpark opened #1899 "Default search engine name is not updated in Settings menu when locale is changed"
STR:
- Go to settings, change to locale with a different default search engine (i.e. setting locale to Korean used to show Naver as search engine),
- Go to main settings menu

Expected:
- Main settings shows the default search engine of new locale
Actual:
- Main settings shows the previous default search engine.

[2017-12-04 17:36] pocmo commented on #1896
I recently fixed a similar thing in another screen. We might need to add importantForAutofill="no" to this view.

[2017-12-04 18:43] mcomella opened #1900 "Kotlin: treat warnings as errors"
Kotlin 1.2 introduces a compiler flag to treat warnings as errors: https://kotlinlang.org/docs/reference/whatsnew12.html#warnings-as-errors

I've found this to be a good practice for toy programs in other languages so we should consider it here!

[2017-12-04 18:59] mcomella opened #1901 "Consider integrating Leak Canary on local dev builds, potentially BB master builds"
To catch memory leaks!

We shouldn't do it on BB if we're 1) distributing that to a larger extended audience (in which case, maybe we should ship two) or 2) want the master builds to be representative of Play Builds (e.g. the fewer places we diverge, the less likely we'll find surprising bugs in Play builds but not regular CI builds)