[2018-04-09 19:17] bbinto commented on #2326
I believe we agreed on that during Portland: for now as it relates to Klar and Focus, it should be included in the general data collection toggle, which indeed would not provide crash reporting for klar by default. For now, that's fine.

[2018-04-09 20:51] #2359 closed

[2018-04-09 21:51] brampitoyo commented on #2436
@ekager Line wrapping is totally okay and even encouraged. We will fit to however long the string is.

[2018-04-09 22:29] brampitoyo commented on #2436
@ekager I hope the checkmark line won’t need to wrap, but maybe @npark-mozilla can help provide us with screenshots of different locales?

[2018-04-09 22:50] boek commented on #2102
Dup of #2000

[2018-04-09 22:50] #2102 closed

[2018-04-09 22:55] #1960 closed

[2018-04-10 02:13] TPS commented on #245
This would make an _excellent_ addition/replacement to #1692 as some way to use all that 1st-open blank space!

[2018-04-10 02:50] brampitoyo commented on #2378
In terms of UI, “Report Site Issue” is an item that we will put inside the main menu. Pretty straightforward. Tapping the menu item will open the webcompat.com link in a new tab.

[2018-04-10 04:06] brampitoyo commented on #1254
The UI is pretty straightforward. It will be an item under the “Privacy” heading that you can toggle on and off.

And in the case of blocking “install our app”, we already know what the OS calls them: “App install banner”.

So we can call the menu item something like:

[2018-04-10 04:06] brampitoyo commented on #1254
In the case of cookie warnings, we will use a third-party source, so this creates an interesting situation:

* Do we need the author’s approval to include it in our APP?
* The list has two names: “Anti-Cookie Filters” and “Fanboy’s Cookiemonster List”. Do we have to use the names above, or can we come up with our own?
* How do we title and caption this item, so it’s consistent with the rest of the

[2018-04-10 13:39] npark-mozilla opened #2444 "Add cert info screenshot to l10n screenshot test"
Now cert info can be seen after clicking the lock icon, this should be captured.

[2018-04-10 13:40] npark-mozilla commented on #2436
I created #2444 for the issue.

[2018-04-10 13:53] snorp opened #2445 "Use GeckoView in e10s mode"
We should switch Klar+GeckoView to use GeckoView in e10s mode (GeckoSessionSettings.USE_MULTIPROCESS). The current thinking is that this is the configuration we want to ship with, so we should start using it now. There will be a different set of broken things that we need to work through, so the earlier the better.

[2018-04-10 16:30] boek opened #2447 "Make sure the wiki / docs are up to date"
- [ ] Releng docs
- [ ] Wiki

[2018-04-10 17:33] bbinto commented on #2445
Why:
Test earlier than waiting to long

[2018-04-10 17:33] bbinto commented on #2445
@ekager to confirm estimates

[2018-04-10 17:35] bbinto commented on #2435
@pocmo to confirm if/when that's needed

[2018-04-10 17:36] bbinto commented on #2433
Could you please give us more details to why/what you would like the feature to do.

[2018-04-10 17:38] bbinto commented on #2429
@pocmo to confirm severity, effort etc.

[2018-04-10 17:40] bbinto commented on #2423
@pocmo can you please review and get this in asap.

[2018-04-10 17:43] bbinto commented on #2421
Thanks for your feedback, we will fwd this to our content team.

[2018-04-10 17:43] #2421 closed

[2018-04-10 17:44] bbinto commented on #2421
Feel free to propose a different copy.

[2018-04-10 17:45] bbinto commented on #2420
needs to happen with Sentry work

[2018-04-10 17:46] ekager opened #2448 "Add disabling Cookies + 3rd party Cookies for GeckoView"
Bugzilla tracking here: https://bugzilla.mozilla.org/show_bug.cgi?id=1447390

[2018-04-10 17:46] bbinto commented on #2419
@jonisavage is this something you can help us with?

[2018-04-10 17:48] bbinto commented on #2417
@ekager to confirm severity, STR etc for next triage.

[2018-04-10 17:51] bbinto commented on #2405
Focus primarily blocks trackers that are in ads, hence not all ads are being blocked, we are working on ideas to include more ad blocking capabilities #953

[2018-04-10 17:54] bbinto commented on #2394
@pocmo could this be handled by the android components

[2018-04-10 21:48] flakomix commented on #2433
We have to think big, many networks use proxy would be great to have that option so we would have more users.
it is my opinion

Thank youuuu

[2018-04-11 02:08] shikhart98 commented on #2298
Can I work on this issue?

[2018-04-11 13:26] pocmo commented on #2394
Yes, I expect the toolbar component to be usable in Focus too. However it will take some time until we can do the switch.

[2018-04-11 13:35] pocmo commented on #2327
Yeah, we can hack something together for this. Especially as onboarding is a one-time thing I'm less concerned about having a temporary solution for that.

[2018-04-11 18:08] BrianNJones commented on #2330
@brampitoyo I think we do need new strings. We're already using a "Block xxx xxx" construction for TP. This structure aligns with that:

Block cookies
- Yes
- Block 3rd-party cookies only
- No

Also not confident most users will understand reference to 3rd-party cookies.

[2018-04-11 21:28] ekager commented on #2330
Looks good to me! @BrianNJones and @brampitoyo are these the final strings for this feature?

[2018-04-11 22:39] brampitoyo commented on #2357
Related issues: #1294, #1054.

[2018-04-11 23:00] brampitoyo commented on #2330
I agree with @BrianNJones about using the “Block” verbiage to match with other menu items. Let’s use that.

I similarly worry about user understanding of 3rd-party cookies. [SUMO wrote a great plain language explanation](https://support.mozilla.org/en-US/kb/disable-third-party-cookies):

I wonder if there’s a way for us to include a link to this SUMO article, or to shorten the explanation down to

[2018-04-12 00:01] brampitoyo opened #2452 "New settings page for blocking cookies"
In issue #2330, we will support blocking 3rd party cookies.

@BrianNJones wrote:

This issue will figure out ways to explain the 3rd party cookie option better.

**User Benefit**
- Explain and inform our users why and how they can use cookie management to protect themselves.

**What**
- Add more explanation about cookie management into settings page

**Acceptance Criteria**
- Explanation is presen

[2018-04-12 00:01] brampitoyo commented on #2452
[SUMO wrote a great plain language explanation](https://support.mozilla.org/en-US/kb/disable-third-party-cookies):

[2018-04-12 01:56] brampitoyo commented on #2357
We may also consider collapsing all the other headings – General, Search and Mozilla – into high-level categories:

![android proposed 4 settings home 2x](https://user-images.githubusercontent.com/51007/38652260-475402a4-3e59-11e8-939c-26e5b5b2ced8.png)

Is this necessary to do today? Probably not. We only have very few items within those categories. But as our featureset expands, we may need to e

[2018-04-12 07:52] #2435 closed

[2018-04-12 08:07] pocmo commented on #624
Good question. I don't think we enabled it manually. Is aap2 the default now?

[2018-04-12 08:12] daivat15 commented on #624
Yes. By default aapt2 is used for projects using Gradle 3.+.

[2018-04-12 09:41] pocmo commented on #624
Great! Overall I think we can close this issue. There's no work planned.

[2018-04-12 09:41] #624 closed

[2018-04-12 09:51] pocmo commented on #2405
Closing in favor of #953

[2018-04-12 09:51] #2405 closed

[2018-04-12 12:49] bbinto commented on #1254
Bram, what's the 3rd party source, I want to make sure legal/policy is aware of that.

[2018-04-12 15:18] pocmo commented on #2423
All good. It seems like I was testing an outdated build.

[2018-04-12 15:18] #2423 closed

[2018-04-12 17:19] pocmo commented on #2374
#245

[2018-04-12 18:29] #2426 closed

[2018-04-12 21:01] #2330 closed

[2018-04-12 21:05] npark-mozilla opened #2455 "In Focus Webview Debug, About Focus and Your Rights page have about:blank URL"
Going to those pages shows about:blank for Focus webview debug builds, and they are causing the UI tests to fail as well.
![screen shot 2018-04-12 at 5 04 50 pm](https://user-images.githubusercontent.com/6930774/38704225-a344c85e-3e73-11e8-80b1-35843cefea2e.png)

[2018-04-12 21:08] npark-mozilla opened #2456 "the custom pages (About / Your Rights / Help) are not removed when user exits to Settings"
(Both on Focus and Klar)
STR:
- Go to settings, and open 'Your Rights'
- From the dropdown, go to Settings, and select 'Privacy Notice'

Expected:
- There should be only one tab
Actual:
- There are two tabs open (the current one and the previous 'Your Rights' tab)

[2018-04-12 23:59] ekager commented on #2456
This is intended behavior now see #2107

[2018-04-13 00:00] npark-mozilla commented on #2456
Got it, closing.

[2018-04-13 00:00] #2456 closed

[2018-04-13 02:01] shikhart98 commented on #2298
Okay 👍

[2018-04-13 10:05] pocmo commented on #2455
Is this in the GeckoView or WebView builds? Afaik the WebView version should show URLs like focus:about (that a user could also type manually).

[2018-04-13 12:28] pocmo commented on #245
Yep.

[2018-04-13 12:28] #245 closed

[2018-04-13 13:42] pocmo commented on #2347
Summary from a meeting with gfritzsche and aplacitelli:

Process:
* Gecko / Telemetry core is responsible for collecting, persisting and accumulating the data.
* The app requests the data from GeckoView via the API :esawin defined
* The app side is responsible for building the ping and uploading it (implemented in telemetry-android)

Constraints:
* Those pings are too large to send them often. The

[2018-04-13 17:13] kfontecilla commented on #1881
Jeff suggests we re-group w/ Barbara to make a decision on custom search engines direction.

[2018-04-13 17:31] cpeterso commented on #996
Canvas fingerprinting protection is a new feature that is not available in WebView, so it doesn't need to be in the initial Klar+GeckoView release (6.0).

[2018-04-13 17:31] cpeterso commented on #2289
Canvas fingerprinting protection is a new feature that is not available in WebView, so it doesn't need to be in the initial Klar+GeckoView release (6.0).

[2018-04-13 17:44] boek commented on #507
@bbinto @pocmo said that this would be "larger than large". Do we still want to prioritize it?

[2018-04-13 17:50] bbinto commented on #467
@brampitoyo -- can you provide some first UX ideas around this?

[2018-04-13 17:52] bbinto commented on #1340
Let's close this as it's not actionable.

[2018-04-13 17:52] #1340 closed

[2018-04-13 17:53] bbinto commented on #1340
If this is still happening to you, please provide "steps to reproduce"

[2018-04-13 17:56] bbinto commented on #1805
@brampitoyo - please let us know what ideas you might have for this.

[2018-04-14 05:02] npark-mozilla commented on #2455
This is on Webview build, on Geckoview, it shows focus:about or other focus:* URLs properly

[2018-04-14 12:38] ghost opened #2459 "About the focus"
Hi!
1. Please increase the function of automatic update and upgrade software version. Other versions have read only on him!
2. Please increase the forbidden web page to automatically play video and audio functions.
Thank you!

[2018-04-15 07:24] cpeterso opened #2460 "Use GeckoView API to control web font blocking"
GeckoRuntimeSettings now has a setWebFontsEnabled method to control web font blocking:

https://bugzilla.mozilla.org/show_bug.cgi?id=1449311

[2018-04-16 00:39] brampitoyo commented on #1805
@jbreckmckye I hear you loud and clear! Let me tell you a story behind why we have made this decision.

Our original vision for Focus were for it to be privacy-first, to eliminate distractions, and to be simple to operate. Multitasking is a requirement for all browsers, but it comes at a compromise for this product’s vision. It not only means more potential distractions. It also means less privacy

[2018-04-16 01:05] brampitoyo commented on #1254
@bbinto The third party source for blocking cookie warnings would be something like this, as @pocmo  had mentioned:

https://www.fanboy.co.nz/fanboy-cookiemonster.txt

[2018-04-16 01:19] brampitoyo opened #2461 "[meta] Block modal pop-up and pre/inter/postitial ads"
Similar to #1254, we should also think about blocking modal pop-up and pre/inter/postitial ads:

https://www.betterads.org/mobile-pop-up-ad/
https://www.betterads.org/mobile-prestitial-ad/
https://www.betterads.org/mobile-postitial-ad-with-countdown/

We potentially need to see whether we can ship with a blocklist that already does this, or alternatively, build our own blocking solution.

If not s

[2018-04-16 04:01] brampitoyo commented on #467
Animation-wise, it’s easy: when you undo the Erase action, we will also “undo” (reverse) the delete animation.

Our current Erase animation choreography looks like this:

1. Erase button disappears
2. Last opened webpage becomes more transparent, then slides down
3. Firefox Focus logo and keyboard slides up
4. Toast slides up

What would it look like if we “undo” (reverse) it?

1. Toast slides dow

[2018-04-16 04:03] brampitoyo commented on #467
In terms of UX, we should opt for the most restorative action possible. Instead of just reloading the last website, we should restore the last state.

[2018-04-16 04:17] shikhart98 commented on #467
Can I work on this issue?

[2018-04-16 06:16] cpeterso commented on #2356
GeckoRuntimeSettings now has a setJavaScriptEnabled method to control JavaScript:

https://bugzilla.mozilla.org/show_bug.cgi?id=1440708

[2018-04-16 07:57] pocmo commented on #2459
Sorry, I do not understand what you are asking for. Do you want Focus to update itself independently from Google Play?

Do you want to disable "autoplay" of videos and audio? This is tracked by #2003.

[2018-04-16 08:10] pocmo commented on #467
@brampitoyo There's one technical constraint here (maybe, depends on the implementation): We may need to reload/restore some things to get back to the session - meaning we won't have a rendered version of the website immediately available when restoring the tab. So the animation may not look as nice as in your mock. :)

This is not part of a milestone yet - and potentially a rather complex issue.

[2018-04-16 08:13] pocmo commented on #159
From #2454 (Quoting @brampitoyo):

![image](https://user-images.githubusercontent.com/89638/38797394-9771bd1e-415e-11e8-8b6e-884e23277183.png)

* Spacing and dimension should be identical to the Settings menu and page modal dialogues.
* Highlight and button colour values should be `blue-50`: `#0a84ff`
* Heading font should be identical to the size of our menu items: 16dp. Its weight should also be

[2018-04-16 08:15] pocmo commented on #2460
FYI @ekager :)

[2018-04-16 08:32] edenftp commented on #2459
What I mean is that I can update directly through your direct server instead of through the three-way website!
And I'm not sure if your focus is automatic or more functional?

[2018-04-16 09:12] jbreckmckye commented on #1805
Thanks for getting back to me @brampitoyo.

As it happens, several months in, my habits are actually mostly unchanged. I rarely use the 'new tab' feature, even though it's now available. I'm not sure why - I've also seen the same change when I use Chrome, so there may be some external factor. Maybe because Focus trained me to, well, focus? Or maybe I just learned to close my browser whenever I'm d

[2018-04-16 12:09] bbinto commented on #1216
GPS: "On Android 7.0, Focus uses so much battery in the background that I
couldn't even get through a day on a phone that usually makes it through 2."

[2018-04-16 16:23] Shankdevilz opened #2463 "Web icon in address bar"
While opening webpage if i click on web icon in address bar app freezes after displaying "Insecure Connection ".
![screenshot_2018-04-16-21-54-19-1](https://user-images.githubusercontent.com/38435441/38823194-58f3115e-41c3-11e8-9224-1428f86a0f31.png)

[2018-04-16 17:50] pocmo commented on #2463
@ekager @brampitoyo Mhhh. Maybe we just want to show no doorhanger while the page is still loading?

[2018-04-16 20:56] mcomella commented on #1216
To help debug this issue, could we collect battery stats as part of telemetry? We could compare session time in focus to change in battery life to find out what variables, on average, have a significant affect on battery usage, e.g.:
- Android version
- Device + manufacturer
- WebView version (do we collect this?)

Though this may not help considering people say it uses battery in the background.

[2018-04-16 21:47] levimatheri opened #2465 "Error on gradle build"
Why am I getting these errors?

`The SourceSet 'androidTestGeckoCompile' is not recognized by the Android Gradle Plugin. Perhaps you misspelled something?`

and...

`The SourceSet 'klarWebviewDebug' is not recognized by the Android Gradle Plugin. Perhaps you misspelled something?`

[2018-04-16 22:42] swolfand commented on #2045
👋 looks like the previous attempt at this hasn't seen life in a while. happy to help! butttt did leakcanary get removed at some point? I can find the commit where it's added through #887 and the referenced PR's but not in master or the latest RC. If it was removed maybe there's a reason and this issue is stale? LMK

[2018-04-16 22:47] mcomella opened #2467 "Upgrade gradle plugin (whenever you want)"
I upgraded the gradle plugin to 3.1.1 for TV in https://github.com/mozilla-mobile/firefox-tv/issues/806 in order to fix some Android Lint bugs. One unexpected requirement is that you'll need to bump the  jacoco-android version too.

[2018-04-16 22:54] ekager commented on #2465
Never seen these before so I'm not sure, but make sure gradle is version 3.0.1 (`classpath 'com.android.tools.build:gradle:3.0.1'`) and try to invalidate+restart.

[2018-04-16 23:38] ekager commented on #2467
Just attempted this and ran into a new error.
`The SourceSet 'klarWebviewDebug' is not recognized by the Android Gradle Plugin. Perhaps you misspelled something?`

Found this link that perhaps has a work around that would work for us but not sure if we should upgrade if we have to add a work around?
https://stackoverflow.com/questions/48846879/new-error-after-update-to-gradle-tool-to-3-1-0-beta3-o

[2018-04-16 23:42] brampitoyo commented on #2463
Yes. If the page is still loading, let’s not show any doorhanger.

[2018-04-16 23:49] brampitoyo commented on #467
@pocmo wrote:

I’d be okay if the restored tab shows only a white background and a loading indicator – as long as the URL bar shows the correct URL.

So the animation effect is no longer ‘unfreeze’ (e.g. like a restored VM), but more like ”here’s your last opened site, wait a bit for it to load”.

[2018-04-17 02:08] levimatheri commented on #2465
Thank you @ekager. It worked!

[2018-04-17 02:27] #2465 closed

[2018-04-17 02:47] Shankdevilz commented on #2463
Same issue with lock icon also.
![screenshot_2018-04-17-08-14-49-1](https://user-images.githubusercontent.com/38435441/38845993-b128f52e-4217-11e8-8a2f-2513c069ea2a.png)

[2018-04-17 03:53] yuviii commented on #1615
@semanticer  @thsaravana  same thing was in my case i have added in my module only , Problem resolved by adding the same lifecycle dependency in my main project as well. Thanks guys.

[2018-04-17 10:43] gupta1anubhav opened #2468 "Gradle Error on building project"
This error is shown when building on focusWebviewUniversalDebug .

![screenshot from 2018-04-17 16-04-32](https://user-images.githubusercontent.com/31107831/38864860-a4829bf8-4259-11e8-91d1-144a1c1d57c5.png)

[2018-04-17 10:55] bbinto commented on #1254
@pocmo can you please confirm the following how Disconnect blocks first party cookies

- Does it download the cookie to the device or blocks it before it is even downloaded?
- If the app does download it, will it at least block the domain from reading it after?

We are thinking of starting simple and only block EU cookie banners for sites that block cookies from the Disconnect list.

[2018-04-17 12:13] bbinto commented on #2347
Agreed with @cpeterso

[2018-04-17 14:18] pocmo commented on #2468
This is handled in #2467.

[2018-04-17 14:18] #2468 closed

[2018-04-17 16:36] ekager opened #2470 "Create Download with User Agent from GeckoView"
Waiting for method to get user agent from GeckoView tracked here:
https://bugzilla.mozilla.org/show_bug.cgi?id=1454444

[2018-04-17 16:42] ekager opened #2471 "Use Android Components ErrorPages"

[2018-04-17 16:50] #2455 closed

[2018-04-17 17:41] boek commented on #2467
I would love to keep things up to date while its easy.

@pocmo what do you think about that workaround?

[2018-04-17 17:41] ekager commented on #2463
Closed by #2464 to not allow popup while loading.

[2018-04-17 17:41] #2463 closed

[2018-04-17 17:53] bbinto commented on #2429
friendly ping, @pocmo :)

[2018-04-17 17:53] bbinto commented on #2417
@ekager - do it now!

[2018-04-17 17:54] boek commented on #2394
Sounds good, I'm going to close this and when the component is done we can talk about pulling it into Focus 🙌

[2018-04-17 17:54] #2394 closed

[2018-04-17 17:56] bbinto commented on #2369
@npark-mozilla will try to reproduce

[2018-04-17 20:50] nojunpark opened #2472 "typing about:<unreserved word> as URL asks the user to open external browser"
STR:
On Focus browser URL bar, type about:hello or about:help
Expected:
- Show blank page, or 404
Actual:
- Asks the user to open the URL on external browser, but upon opening it, it doesn't do anything either.

[2018-04-17 21:08] RomanWuattier commented on #2472
I attempted this and ran into a crash.
* First I typed `about:hello`
* Then cancel the popup
* Finally click on the warning button in the URL bar

Do you need someone to work on both show a blank page/404 and the crash?

[2018-04-17 22:12] ekager commented on #2472
@RomanWuattier Feel free to work on this issue and maybe file a new issue for the crash with the logcat and STR in case this comment gets lost :)

[2018-04-17 23:15] #2363 closed

[2018-04-17 23:35] boek commented on #1127
https://github.com/mozilla-mobile/focus-android/wiki/Content-blocking#miscellaneous-notes Added a paragraph at the top of Miscellaneous Notes. @bbinto can you review?

[2018-04-18 00:09] mcomella commented on #2045
Yes – LeakCanary got removed a little while back because it was causing
problems with our GeckoView build. @ekager What are your thoughts about
adding LeakCanary back now?

[2018-04-18 00:31] brampitoyo commented on #822
![request-desktop-site 2x](https://user-images.githubusercontent.com/51007/38904208-31b2308a-42fd-11e8-8e46-a4097d202fea.png)

1. Request desktop site is the second-to-last menu item, above Settings.

2. When pressed, the menu disappears and the page reloads to its desktop version.

3. Once pressed, the state of the checkbox will persist on new links, new tabs, and even through new sessions (ie. a

[2018-04-18 01:33] jonisavage commented on #2440
We can give you a new link but if you prefer not to change your link, we can easily make sure that users get to the 4.2 page on our end. Just let me know what you decide to do.

How's this description?
"We've added the ability to turn Javascript off or on in the Settings menu. Turning Javascript off makes websites load faster and prevents websites from assigning you a "fingerprint" and tracking yo

[2018-04-18 01:35] levimatheri commented on #2463
Can I take up this bug?

[2018-04-18 01:39] levimatheri commented on #2416
Is anyone assigned to this? Would like to work on it

[2018-04-18 02:46] brampitoyo commented on #1930
Just leaving a note for @boek to see whether fetching and showing search query suggestions from a third-party have any potential to interrupt our existing URL autocomplete logic.

[2018-04-18 04:47] shikhart98 commented on #1193
Yes, it took about 2 seconds for app to launch settings menu! but when I start the app from quick launch and then open settings, it responds quickly!

[2018-04-18 11:59] RomanWuattier commented on #2472
Good news, the crash I was talking about is no more on the development application. It should have been fixed with #2271.
I will work on the original issue.

[2018-04-18 13:10] RomanWuattier commented on #2472
Good news, the crash I was talking about is no more! It has already been fixed in #2390.
I will work on the original issue.

[2018-04-18 15:33] npark-mozilla commented on #2369
I was able to repro this on reddit site by opening about 15 videos in the thread.  it slows down and eventually freezes, and the OS asks whether I want to wait or kill the app.  attached is the adb log.

[slowdown.log](https://github.com/mozilla-mobile/focus-android/files/1924725/slowdown.log)

[2018-04-18 17:40] BrianNJones commented on #2440
Hi Joni,
That's a really helpful way to describe what the Javascript setting does!
Only thought is that it might be possible to simplify the second sentence?
Turning Javascript off makes websites load faster and helps prevent them
from tracking you, but may cause some websites to break or behave
unexpectedtly...???

-Brian

On Tue, Apr 17, 2018 at 8:33 PM, Joni Savage <notifications@github.com>
wr

[2018-04-18 17:53] #1123 closed

[2018-04-18 18:42] ekager commented on #2440
I think we're running behind a bit on this release so maybe we should reuse the link, what do you think @boek and @pocmo ?

[2018-04-18 20:02] jonisavage commented on #2440
That's a good suggestion, Brian. I'll edit the description and publish it.

[2018-04-18 20:35] danielgjackson opened #2478 "Website fails to load: blog.xamarin.com"
Firefox Focus for Android "Mozilla/5.0 (Linux; Android 8.0.0) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Focus/4.1 Chrome/66.0.3359.106 Mobile Safari/537.36" fails to load the site:

    https://blog.xamarin.com/

(With or without "trackers blocked"), with the message:

[code]

...while Firefox for Android "Mozilla/5.0 (Android 8.0.0; Mobile; rv:59.0) Gecko/59.0 Firefox/59.0" loads the sit

[2018-04-18 21:15] ekager commented on #2478
Happens with GV builds too with error:
`loadURI: uri=about:certerror?e=nssBadCert&u=https%3A//blog.xamarin.com/&c=UTF-8&f=regular&d=%20 where=1 flags=0`
Looks like a bad cert so I'm not sure why it works with other browsers?

[2018-04-18 21:37] gdevitis commented on #1712
In Firefox Focus 4.2, the problem is still presente.

[2018-04-18 21:42] ekager commented on #2460
Should be closed by #2380 :)

[2018-04-18 21:42] #2460 closed

[2018-04-18 21:43] ekager commented on #2356
Should be closed by #2380 :)

[2018-04-18 21:43] #2356 closed

[2018-04-18 21:45] ekager commented on #2283
Should be closed by #2380 :)

[2018-04-18 21:45] #2283 closed

[2018-04-18 21:51] ekager commented on #2226
Should be closed by #2380 :)

[2018-04-18 21:51] #2226 closed

[2018-04-18 21:54] ekager commented on #2209
I think this is solved. Please reopen if still an issue!

[2018-04-18 21:54] #2209 closed

[2018-04-18 21:55] #2225 closed

[2018-04-18 22:02] ekager commented on #2173
Closing this for more general #2471

[2018-04-18 22:02] #2173 closed

[2018-04-18 22:05] ekager commented on #2112
Closed by #2380!

[2018-04-18 22:05] #2112 closed

[2018-04-18 22:05] ekager commented on #2109
Closed by #2380!

[2018-04-18 22:05] #2109 closed

[2018-04-18 22:29] boek commented on #1465
@bbinto

The file is here:

https://github.com/mozilla-mobile/focus-android/blob/master/.github/ISSUE_TEMPLATE.md

You might be able to edit it inline and open a pull request with Github.

Let me know if you want me to make those changes or if you want to take a try at changing it yourself 👍

[2018-04-18 22:32] ekager commented on #2097
Hey @snorp in the latest master where I have `onExternalResponse` I cannot trigger this method when trying to download files even when manually giving storage permissions.

[2018-04-18 22:48] ekager commented on #2445
Hey @snorp , when I set `USE_MULTIPROCESS` to `true`, I'm getting a blank screen and no content rendered. Should I file a Bugzilla bug or do you know about this already?

[2018-04-18 22:49] ekager commented on #2059
This meta is not helpful to me, so I am closing. Reopen if you disagree.

[2018-04-18 22:49] #2059 closed

[2018-04-18 22:51] ekager commented on #2420
Closed by #2443!

[2018-04-18 22:51] #2420 closed

[2018-04-18 23:40] ekager commented on #2156
This should be resolved in the latest GeckoView builds please reopen if not

[2018-04-18 23:40] #2156 closed

[2018-04-19 05:58] deepakmehra10 commented on #652
The problem still persists. @ekager

[2018-04-19 11:24] bbinto commented on #1465
Committed directly to master and changed it, thanks @boek

[2018-04-19 11:42] bbinto commented on #64
No current plans, sorry, other priorities/features/bugs take precedence at the moment, but we will revisit it though periodically.

[2018-04-19 13:16] bbinto commented on #1295
closing in favour of #467

[2018-04-19 13:16] #1295 closed

[2018-04-19 13:26] bbinto commented on #1550
closing in favour of #1515

[2018-04-19 13:26] #1550 closed

[2018-04-19 13:27] #1420 closed

[2018-04-19 13:28] bbinto commented on #1378
closing this in favour of #1805

[2018-04-19 13:28] #1378 closed

[2018-04-19 13:31] bbinto commented on #1040
closing this in favour of #1930

[2018-04-19 13:31] #1040 closed

[2018-04-19 15:29] pocmo commented on #2471
👍

I'll assign this to me to see if the component is ready or whether there are things missing.

[2018-04-19 17:11] #1448 closed

[2018-04-19 17:13] bbinto commented on #1127
Approved!

[2018-04-19 17:13] #1127 closed

[2018-04-19 17:14] bbinto commented on #1465
Can we close this?

[2018-04-19 22:11] ekager opened #2482 "Null check callbacks in GV WebViewProvider"
-----

[2018-04-19 22:58] ekager opened #2484 "Remove Unused InfoFragment and layouts"
-----

### Description
Forgot to remove these when refactoring our internal content links

[2018-04-20 07:53] pocmo opened #2486 "Use browser-search component"
We have been moving search related code (SearchEngine, SearchEngineManager, SearchEngineParser, ..) and the search plugins + configuration into its own component that we can share. This will avoid us having to update search-related code (and especially the plugins/configuration!) everywhere.

[2018-04-20 07:53] pocmo commented on #2486
I have a patch for this and will open a PR. :)

[2018-04-20 09:02] pocmo opened #2487 "Custom search plugins written to disk still assume that search terms are at the end of the URL"
We recently changed our search URL validation to not enforce that the '%s' placeholder is at the end of the string. However I just noticed that when writing the URL to disk we remove the last two characters and replace it with {searchTerms}.

[2018-04-20 09:16] pocmo opened #2488 "Update to latest version of ktlint"
We are using ktlint 0.14.0. The latest version is 0.21.0.

Before we can switch we need to fix the issues that the new version has found in our code base.

[2018-04-20 14:34] pocmo opened #2491 "(anp) error_redirectLoop_message contains invalid XHTML"
From strings import:

[code]

The string `error_redirectLoop_message` seems to contain invalid XHTML in locale **anp**

[2018-04-20 14:34] pocmo commented on #2491
cc: @Delphine

[2018-04-20 15:07] pocmo commented on #2467
@boek I think the workaround is okay-ish. We just have a lot of source sets. Some of them are shared though; so maybe we can come up with something that's actually more compact than what we have right now. :)

[2018-04-20 15:12] pocmo commented on #2472
Focus itself does not register about:* urls. Instead we use focus:* URLs internally (mostly because we had issues with WebView when using about). Anyhow, Firefox *does* register the about protocol - globally. So in this case we ask whether you want to open this link in another app that does support this protocol we do not know. The behavior here is kind of expected -- I'm not convinced that it's w

[2018-04-20 15:39] pocmo commented on #1630
👍 Added some more text.

[2018-04-20 15:44] pocmo commented on #459
If we only support the new WebView API on Android 8.1+ devices[1] then we should be able to reuse almost all the work once GeckoView provides us with a similar API. I'll ask the GV team about this.

[1] https://developer.android.com/reference/android/webkit/WebViewClient.html#onSafeBrowsingHit(android.webkit.WebView,%20android.webkit.WebResourceRequest,%20int,%20android.webkit.SafeBrowsingResponse

[2018-04-20 16:07] #2484 closed

[2018-04-20 16:49] boek opened #2492 "Upgrade to android-components 0.4"
Required for #1933

[2018-04-20 16:49] Delphine commented on #2491
Just updated on Pontoon side. Thanks

[2018-04-20 17:02] pocmo commented on #2492
@boek I did this for #2489 already :D

[2018-04-20 17:05] boek commented on #2492
oops! Thanks!!

[2018-04-20 17:05] #2492 closed

[2018-04-20 17:08] bbinto commented on #2015
Needs to break it down further

[2018-04-20 17:09] ekager commented on #2326
Closing this and opening new issues for:
-Make sure that this works with GeckoView crash reporting (Bug 1433968) and native crashes show up in Sentry
and
-Look into reporting to Sentry AND Google Play crash reporting

[2018-04-20 17:09] #2326 closed

[2018-04-20 17:11] RomanWuattier commented on #2472
Okay, that's why `about:` scheme is not present in the localized content.
If it turns out that this behaviour is expected, we probably shouldn't work on it, shouldn't we?

[2018-04-20 17:15] ekager opened #2494 "Make sure Sentry works with GeckoView crash reporting (Bug 1433968)"
### Why/User Benefit/User Problem
Need to be able to track GeckoView crashes in the wild to report them back to GV team to be fixed to benefit Klar+GV users.

### What / Requirements
- Currently blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1433968

### Acceptance Criteria (how do I know when I’m done?)
Useful data for GV crashes show up in Sentry dashboard.

[2018-04-20 17:18] pocmo opened #2495 "Implement mobile-metrics ping type"
### Why/User Benefit/User Problem

* We need GeckoView metrics to understand how it's performing in the wild
* We want to get this in early to test the whole telemetry pipeline

### What / Requirements

* The new ping type can be used to implement #2347

Actual work happens here:
https://github.com/mozilla-mobile/android-components/issues/113

[2018-04-20 17:26] #2486 closed

[2018-04-20 17:27] bbinto commented on #2369
@npark-mozilla to try this with Chrome.

[2018-04-20 17:31] bbinto commented on #1216
@npark-mozilla to investigate if we can use some battery tooling tools to look into it further.

[2018-04-20 17:54] ekager opened #2496 "Look into reporting to Sentry AND Google Play crash reporting"
### What / Requirements
Crash reporting will be disabled by default for Klar and with Sentry we’ll want Google Play reporting too

[2018-04-20 18:38] pocmo commented on #2491
Thank you!

[2018-04-20 18:38] #2491 closed

[2018-04-20 18:42] #2482 closed

[2018-04-21 05:30] npark-mozilla opened #2499 "Clicking notification item to delete history crashes the app"
### Steps to reproduce
Run systemBarHomeViewTest in TrashcanTest.java
- Open website
- Press home button to minimize the app
- pull down the notification item, and tap the 'delete browsing history' text

### Expected behavior
- Opens Focus, history deleted
[code]

### Actual behavior
- App crashes

### Device information
Both on sim and device

[2018-04-22 22:53] ohodovaniuk1 commented on #1848
Hey, since this issue has been inactive for a couple of month i would like to work on it. I will submit a pull request for your review and feedback tonight.

[2018-04-23 16:35] ashtrisk commented on #2488
Hi Guys, I want to resolve this issue. I am new to contributing, so can anyone help me get the necessary information to understand this issue. Thanks :)

[2018-04-23 18:25] ashtrisk commented on #2003
Hey Guys, did you find any solution to this issue?

[2018-04-23 18:39] ekager commented on #2499
Found the problem and filed PR #2503

[2018-04-23 19:09] boek opened #2504 "Replace example.com with mozilla.org"
### Why/User Benefit/User Problem
When adding a custom URL you are given the following hint

which is a little confusing. We could be more clear by using an actual domain:

<img width="615" alt="image" src="https://user-images.githubusercontent.com/1250545/39147692-2fa462e0-46ef-11e8-9d72-b7fcb93a0503.png">

### What / Requirements
- [ ] Replace the contents of the string

### Acceptance Criteria

[2018-04-23 19:54] RomanWuattier commented on #2487
Hello, can I work on this?

[2018-04-23 19:59] #2499 closed

[2018-04-23 20:01] #2417 closed

[2018-04-23 21:03] Delphine opened #2505 "[l10n] New truncations on many locales"
Seems like there are new truncations on many locales this time around (and that concern "top market locales" such as French, German and Polish - just to give an example). I'm going to list them all here, let me know if I should file a separate issue for each truncation and I can do that.

* [Add custom URL](https://github.com/npark-mozilla/npark-mozilla.github.io/blob/master/en-US/images/phoneScre

[2018-04-23 21:03] npark-mozilla opened #2506 "Klar Geckoview does not display focus:<keyword> in About Firefox /Help/ Your Rights / Privacy Notic"
Please let me know if this is not a bug, or geckoview limitation.  UI Test is failing on Klar on this, and I'll need to disable the test if that is the case.

### Steps to reproduce
Go to above mentioned pages from settings.
### Expected behavior
Show 'about: <keyword> on the url side
### Actual behavior
shows raw doc info as below:
<img width="387" alt="screen shot 2018-04-23 at 11 59 04 pm" src=

[2018-04-23 22:29] ekager commented on #2506
This is known so you can disable the test for now? But thanks for filing, let's keep this open and we should definitely follow up and fix this before Klar+GV release.

[2018-04-23 23:04] mcomella opened #2507 "Resources.updateConfiguration is deprecated"
We use it here: https://github.com/mozilla-mobile/focus-android/blob/0c2232bde92eddbff7e1096fbdb49ec3cd1b6c6c/app/src/main/java/org/mozilla/focus/fragment/WebFragment.java#L94

See https://github.com/mozilla-mobile/firefox-tv/issues/850 for more details and user value.

[2018-04-24 07:46] pocmo commented on #2505
CC @brampitoyo

[2018-04-24 08:15] pocmo opened #2508 "Cleanup archive.mozilla.org"
With the upload happening manually there have been some inconsistencies:

4.1-RC3 is empty:
https://archive.mozilla.org/pub/android/focus/4.1-RC3/

There's a "klar" folder with 4.2-RC2 in it - even though we upload both builds to the "focus" folder:
https://archive.mozilla.org/pub/android/klar/

A "4.0.2" and "latest" folder accidentally have been created in the root:
https://archive.mozilla.org/p

[2018-04-24 08:35] daivat15 commented on #2504
@boek The URL should be added without the "http://" right?

[2018-04-24 09:04] daivat15 commented on #2504
I am thinking of making it:

`Please omit the http:// prefix.\nExample: mozilla.org`

Sounds good?

[2018-04-24 10:02] daivat15 commented on #2488
@pocmo I just changed the ktlint version and ran a build. I did not run into any build errors. What are the issues with the code base that you are talking about?
My created branch with the latest commit can be found [here](https://github.com/daivat15/focus-android/commit/2f37be39391fb93461ffc739cfd2507048af8ef3).
Build details can be found [here](https://travis-ci.org/daivat15/focus-android/builds

[2018-04-24 10:17] RichyHBM opened #2512 "Enable javascript for the current page when globally disabled"
### Why/User Benefit/User Problem
Currently if JS is disabled globally the only quick way to enable it on a page is to turn of focus tracker blocking, as opposed to going to the settings page and enable js. This would add a toggle to the drop down menu to enable js for just the current site

### What / Requirements
Have a toggle to enable JS for the current webpage
If JavaScript is not disabled in

[2018-04-24 11:37] npark-mozilla commented on #1790
#2513

[2018-04-24 13:34] npark-mozilla commented on #2369
I think it took more videos to make chrom slow down, but the slowdown does still happen. and I wasn't able to completely freeze Chrome, the scrolling became a lot more janky though.

[2018-04-24 14:05] fbertsch opened #2515 "Note in docs that all settings are strings"
This seems to indicate a bunch are booleans, but they are actually reported as strings: https://github.com/mozilla-mobile/focus-android/wiki/Telemetry#settings

No need to change the implementation, but noting it in the docs would be helpful.

[2018-04-24 15:54] boek commented on #2504
@daivat15 With the changes in #2498 we are now saving the `http/s` as part of the url. So I think just having the example be `mozilla.org` should be fine. But lets wait until UX signs off on it :)

[2018-04-24 17:35] bbinto commented on #2504
@BrianNJones to think about updated string

[2018-04-24 17:40] bbinto commented on #2512
@brampitoyo - would you mind outlining our decision so @RichyHBM understands why we decided to UX that way.

[2018-04-24 17:43] bbinto commented on #2505
@Delphine -- could you please explain why you've put [5.0] in the title? Do you want us to fix this for 5.0?

[2018-04-24 17:48] #2459 closed

[2018-04-24 17:49] bbinto commented on #1544
@mcomella any updates / suggestions on this?

[2018-04-24 17:51] ekager commented on #2496
As discussed in #2326 , we can also create a new toggle in Settings to toggle collecting crash reporting separately than all usage data and have it be opt-out for Focus+Klar. @brampitoyo provided possible strings there as well. CC @bbinto

[2018-04-24 17:52] Delphine commented on #2505
I put 5.0 in the title because that's the version I was testing. It seems that although some of these are not new strings, they weren't truncating in previous versions - so seems like some are regressions?
I don't have a previous build or screenshots to tell though. But I filed truncation issues for the previous release, and these strings weren't part of it, I believe.

[2018-04-24 17:54] bbinto commented on #2298
@brampitoyo quick input on the UI @pocmo suggested?

@pocmo is this touching the regular URL/address bar code for Focus?

[2018-04-24 17:55] bbinto commented on #2076
@pkellyuk - could you please let us know if you still experience this issue and if so please follow this template

### Steps to reproduce

### Expected behavior

### Actual behavior

[2018-04-24 18:08] Delphine commented on #2505
Talking with Jeff right now. It may be that some of these were previously filed as issues, but not corrected in the meantime.
I can gladly take a look through some of these and see if some seem more "critical" than others. I feel like some of these are ok to not fix right away because you already clicked on the the full string in a previous screen, so you kinda know what it means.

[2018-04-24 19:19] Delphine opened #2516 "[l10n] Adding Purépecha to Focus Android on Pontoon"
Heads-up that I just added Purépecha (tsz) to Pontoon.
This means they will need screenshots for testing, but aren't shipping yet.
(CC @pocmo mainly, I think)

[2018-04-24 21:48] Debdeep009 opened #2518 "Cannot dismiss security popup"
### Steps to reproduce
Load a webpage, Click on security `ImageView` inside the toolbar, Popup appears.

### Expected Behaviour
Popup could've been dismissed on touching outside or on backpress.

### Actual Behaviour
Couldn't be dismissed. Background was null when debugged in the mentioned device.

### Device information
Yu YU5010A
5.1.1 Lollipop

### Firefox version
Any

### User Agent
`Your user

[2018-04-24 22:00] Debdeep009 commented on #2518
@pocmo Gets fixed by adding a transparent background to the `PopupWindow`. Shall I make a pull request of this?

[2018-04-24 22:11] ekager commented on #2518
Sure @Debdeep009 go ahead and make a PR, I can review.

[2018-04-24 22:58] ekager commented on #2292
Is this still failing @npark-mozilla ? I took a look today and it seemed if I opened a custom tab + ran RestartTest locally it is passing, but I may have misunderstood the current problem?

[2018-04-24 23:38] ekager commented on #2440
Closing because this has been published. Thanks all!

[2018-04-24 23:38] #2440 closed

[2018-04-25 01:56] ekager commented on #2506
We actually pass in a `baseURL` and `historyURL`to WebView in the `loadDataWithBaseURL` and whatever you pass in for those params becomes the WebView's URL that we get passed back.
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/webview/java/org/mozilla/focus/webview/SystemWebView.java#L210

Do you think this would be possible to add something similar to the GeckoView `loadData

[2018-04-25 01:57] #2518 closed

[2018-04-25 04:25] brampitoyo commented on #2504
I agree with @boek. The example `mozilla.org` was something I suggested. It’s neutral (not pointing Google, Facebook, Apple, etc.), and it exemplifies the kind of URL that we want our users to type (don’t worry about typing the prefix `https://` – this was why we updated our custom URL logic in the first place).

[2018-04-25 05:09] brampitoyo commented on #2512
Hi @RichyHBM.

If I’m understanding you correctly, what you’d like to do is to have JS be enabled or disabled on a site-by-site basis, while having Tracking Protection be always on. Is this correct?

I’m going to try and explain why things are the way they are, below.

In Firefox Focus, all of our blocking settings is wrapped up into “one toggle to rule them all”. This toggle was never designed to

[2018-04-25 05:16] brampitoyo commented on #2298
For sure. It makes a lot of sense for us to be consistent with Firefox and show the site name and URL on our custom tabs.

I do notice that the “X” button on the Firefox UI is far too large, and the font size is a bit too small. Chrome’s icon and font sizes are good for us to follow. It’s just that the font colour that Chrome uses isn’t consistent with the font colour used on the system status bar

[2018-04-25 08:16] pocmo commented on #2516
Let's add this to ADDITIONAL_SCREENSHOT_LOCALES in locales.py:
https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py#L103

[2018-04-25 08:38] npark-mozilla commented on #2292
Ah my bad, this was actually mysteriously fixed a couple weeks back, and I based my previous uitestfix on it. This issue should be closed.

[2018-04-25 10:53] RichyHBM commented on #2512
Fully understand, I do feel like the tracking side of things could be different to the performance options but also understand and agree that for some sites enabling the performance settings may not fix the site and its easier to just have a master toggle

Yes, I think a more generic name would be much more beneficial, I like the suggestion of content blockers, as the other two suggest that its pr

[2018-04-25 11:12] yatri1609 commented on #2488
Hi, I would like to contribute to this issue. Since I'm new, @pocmo  can you please guide me a bit?
Thank you.

[2018-04-25 11:49] bbinto commented on #2512
cc'ing @BrianNJones to be kept in the loop

[2018-04-25 12:02] bbinto commented on #2505
Thanks @Delphine - @boek can you guestimate the effort to fix this? @brampitoyo needs to take a stab at it first, right?

Making this a P3 for now.

[2018-04-25 12:09] bbinto commented on #2416
@daivat15 - would you mind following our new template to understand the user problem, and to help us prioritize better?

### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2018-04-25 12:35] pocmo commented on #2505
@npark-mozilla Can you post again what device you are using to take the screenshots. It seems to be a quite small one too. :)

[2018-04-25 12:36] daivat15 commented on #2416
@bbinto I have updated the issue description. Looks okay?

[2018-04-25 12:55] pocmo commented on #2488
In order to fix this issue you'll have to change the ktlint version to 0.21.0 here:
https://github.com/mozilla-mobile/focus-android/blob/03a35737223d42219d95ceabde59d929c674b123/build.gradle#L69

After that run:
[code]

This should print a list of issues that needs to be fixed:

[code]

[2018-04-25 12:57] yatri1609 commented on #2488
Okay, thank you.

[2018-04-25 12:58] pocmo commented on #2298
@pocmo is this touching the regular URL/address bar code for Focus?

Yes, we would need to support two modes. If this doesn't have high priority then we could wait until our "toolbar" component is ready and use that one in Focus. The toolbar component will be able to support different modes like that.

[2018-04-25 13:01] pocmo commented on #2507
This could turn into a problem for our custom locale switcher.

[2018-04-25 13:06] #2076 closed

[2018-04-25 13:17] pocmo commented on #1848
Do we really need that?

* For testing there's an other solution (see above)
* And users already have the ability to reset an app to the default state

Reasons for not doing it:
* This is fragile. We are saving things in multiple places and whenever we add new things there's a high chance we forget about this reset button and it breaks (= Doesn't reset everything)

[2018-04-25 13:42] sv-ohorvath opened #2521 "3rd party cookies are not blocked by default"
Steps to reproduce:
1. With a fresh Focus build install, go to Settings.
2. Tap the "Block cookies" menu.

Expected behavior
Based on the acceptance criteria in bug #2330 :
-"3rd party cookies are blocked and off by default"
"Blocking 3rd party cookies" is set by default.

Actual behavior
Blocking 3rd party cookies is not the default. The option "No" (don't block cookies) is the default value.

De

[2018-04-25 13:49] sv-ohorvath opened #2522 "TP toggle off in menu should turn off 3rd party cookie blocking"
Steps to reproduce:
1. With a fresh Focus build install, go to Settings.
2. Tap the "Block cookies" menu: it should have block 3rd party cookies blocked.
3. Back on the homepage toggle off the TP from the menu.
4. Return to the Block Cookies settings.

Expected behavior:
Based on the acceptance criteria in bug #2330 :
-"Toggle off in menu will turn off 3rd party cookie blocking as well"
And the fo

[2018-04-25 13:52] pocmo commented on #2521
@bbinto @ekager Release blocker?

[2018-04-25 13:54] pocmo commented on #2522
The acceptance criteria is not clear in this case: While the main switch in the menu is off cookies should not be blocked (and JavaScript should be on, and no trackers should be blocked) for this tab anymore. However it should not change the global settings.

[2018-04-25 13:54] #2522 closed

[2018-04-25 13:56] npark-mozilla commented on #2505
I'm using Sony Z3C, the 4-inch screen device (yes, it's one of the smallest android phones).  Last time we decided to stay with it since it will show issues that larger screen ones cannot.

[2018-04-25 14:14] ekager commented on #2521
This is for 5.0 so we have until friday code freeze to fix. I’m on it!

[2018-04-25 14:18] sv-ohorvath commented on #2522
Ok, I misunderstood that. Thank you!

[2018-04-25 14:31] br-privacore opened #2525 "Request to include Findx.com as alternative search engine"
We kindly request that Findx is included in the list of alternative search engines, potentially globally like DuckDuckGo, or for specific countries like e.g. Qwant.

### Why/User Benefit/User Problem
A growing number of users are concerned about the data collection and user profiling done by Google. At Findx, we offer an alternative. Findx is a **European privacy-first search engine** that never s

[2018-04-25 14:52] pocmo commented on #2525
Duckduckgo is included globally. Qwant is listed in de, en-GB and fr.

[2018-04-25 14:59] br-privacore commented on #2525
Sorry about that mistake, you are correct of course.

[2018-04-25 15:37] Delphine commented on #2505
FWIW I have a Pixel 2 and saw all the truncations there as well this time around

[2018-04-25 16:32] #2488 closed

[2018-04-25 17:06] bbinto commented on #2521
Yes, release blocker, @pocmo

[2018-04-25 17:12] yatri1609 commented on #1658
Hey, I would like to work on this so can anyone either @mcomella  or @layely can guide me through this as it would be my first time contributing to open source. Thank you.

[2018-04-25 17:31] yatri1609 commented on #2488
@pocmo  Is there any issue on which I can work?

[2018-04-25 20:17] ekager opened #2528 "New What's New Link for 5.0"

[2018-04-25 20:59] #2528 closed

[2018-04-25 20:59] #2521 closed

[2018-04-25 21:19] RomanWuattier commented on #1739
What's the status of this issue? Did the migration to Kotlin solve it?

[2018-04-26 08:03] pocmo commented on #2298
@bbinto Depends on the fenix feature prioritization.. :) I think it will take some time until the component has feature-parity with Focus. So, maybe in Q3 we can make the switch to the component.

[2018-04-26 08:09] pocmo opened #2531 "Verify we still send telemetry event for intent_custom_tab"
There's a sudden drop in events (red line). It looks like one of the refactorings might have removed it.

![screenshot-2018-4-26 focus getting into focus](https://user-images.githubusercontent.com/89638/39293724-ef658130-4939-11e8-8fd4-02222e609c79.png)

[2018-04-26 08:30] pocmo commented on #1739
It looks like it. I can't find it in our crash stats anymore.

[2018-04-26 08:30] #1739 closed

[2018-04-26 08:31] pocmo opened #2532 "IllegalStateException: UrlInputFragment$onViewCreated$2.onPreDraw"
That's our top crash currently:

[code]

[2018-04-26 08:33] pocmo opened #2533 "MalformedURLException: PopupUtils.setOrigin"
[code]

[2018-04-26 08:33] pocmo commented on #2533
Not crashing often but could be easy to fix.

[2018-04-26 08:35] pocmo commented on #2533
@ekager I think you fixed an issue with the popup recently? Maybe this crash is already fixed?

[2018-04-26 09:13] sv-ohorvath commented on #1960
If I understand right, adding a custom search engine should work just by copy-pasting the URL, without adding the %s anymore. E.g https://bing.com/search?q=
If this is correct, do I reopen this bug or should I create a new one?
It's still currently asking to match the example and it wouldn't add the search engine until you add the %s.

[2018-04-26 09:16] sv-ohorvath commented on #2417
I was able to reproduce the crash on v4.1. Verified as fixed on Beta v5.0.
Device: Pixel XL (Android 8.1.0)

[2018-04-26 09:37] sv-ohorvath commented on #2011
I think #2108 only fixed the keyboard to appear/disappear in the Add search engine menu and not in the Custom URL too. Still repro on Beta v5.0.
Device Pixel XL (Android 8.1.0)

[2018-04-26 09:51] sv-ohorvath commented on #1880
Verified as fixed on Beta v5.0.
Device: Pixel XL (Android 8.1.0)

[2018-04-26 12:16] pocmo commented on #1960
@sv-ohorvath Previously the %s was required to be added the end, e.g.:
```https://bing.com/search?q=%s```

Now you should be able to use it anywhere in the URL and we should fill in the parameter correctly, e.g.:
```https://bing.com/search?q=%s&param=something.else```

[2018-04-26 12:32] bbinto commented on #1254
friendly ping, @pocmo :) ^

[2018-04-26 13:01] pocmo commented on #1254
@bbinto We do not do any Cookie blocking based on the Disconnect lists directly. We block all **requests to URLs** that are listed in the Disconnect lists - unless the user is not going to any of those pages directly, e.g. on facebook.com we wouldn't block requests to facebook itself.

So while browsing example.com a third-party service from the disconnect list won't be able to set a cookie becaus

[2018-04-26 13:26] #2487 closed

[2018-04-26 15:15] #2327 closed

[2018-04-26 15:26] bbinto commented on #822
Moving this back to backlog for estimation

[2018-04-26 15:41] ekager commented on #2533
Should have been fixed by #2391 ?

[2018-04-26 16:37] bbinto commented on #2357
@brampitoyo would you mind following our template:

### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

Thanks

[2018-04-26 16:53] bbinto commented on #1254
@pocmo - Not sure, let me rephrase what you said and please correct/confirm

- We cannot use the Disconnect list to block EU banners (using first party cookies)

As for smart app banners, do we need a block list or can we block this via the checking the meta data of the HTML page?

[2018-04-26 16:54] bbinto commented on #1254
Splitting this up into 2 different issues

[2018-04-26 16:54] bbinto opened #2534 "Block smart app install banners"
### Why/User Benefit/User Problem
- Users (who don't want to install apps of the websites they visit) won't get annoyed by having smart app banners show up every single time they go to the website

### What / Requirements
- Setting to block smart app banners

### Acceptance Criteria (how do I know when I’m done?)
- Turn on/off via settings
- Probe to track how many people turn this setting on/off

[2018-04-26 16:59] bbinto commented on #2534
@brampitoyo to think about UX

[2018-04-26 17:00] mcomella commented on #1658
Hey @yatri1609 – I'm not actively working on Focus anymore but @ekager or @boek can certainly help out! :)

[2018-04-26 18:00] bbinto commented on #2521
@pocmo + @boek + @ekager

Apologies, this was my mistake, I misread the ticket.

We've agreed in sprint review:

"Block 3rd party cookies" toggle should be off by default

(the least intrusive setting to avoid any breakage)

We can always change it later, in future releases, set on by default with a better intro / onboarding for existing users.

[2018-04-26 18:13] yatri1609 commented on #1658
@ekager and @boek  can anyone of you help me out and guide me what exactly I have to do in this?

[2018-04-26 22:09] #2329 closed

[2018-04-26 23:50] bbinto opened #2537 "Unexpected behaviour when clicking on secure icon"
Via Google Play Store

<img width="772" alt="screen shot 2018-04-26 at 7 48 50 pm" src="https://user-images.githubusercontent.com/122897/39337450-ff510050-498a-11e8-8dba-0b3a73fb1e4c.png">

[2018-04-27 02:33] ekager opened #2538 "<API23 Crashes on InstalledSearchEnginesSettingsFragment"
04-27 02:32:46.733 4324-4324/org.mozilla.focus.debug E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mozilla.focus.debug, PID: 4324
    java.lang.NoSuchMethodError: No virtual method getContext()Landroid/content/Context; in class Lorg/mozilla/focus/settings/InstalledSearchEnginesSettingsFragment; or its super classes (declaration of 'org.mozilla.focus.settings.InstalledSearchEnginesSettin

[2018-04-27 02:54] ekager opened #2540 "Use setImageResource for security icon vectors"

[2018-04-27 03:52] brampitoyo commented on #1930
This issue is ready for engineering breakdown. Feel free to ask me any implementation questions!

[2018-04-27 04:05] brampitoyo commented on #2357
@bbinto Issue description updated. Thank you!

[2018-04-27 04:07] brampitoyo commented on #967
Assigning this issue to myself so it’s present on my to-do list.

[2018-04-27 04:08] brampitoyo commented on #822
Pending engineering comments and consideration, especially around the “carry forward”/“carry back” behaviour, this issue is ready for Engineering breakdown.

[2018-04-27 04:14] brampitoyo commented on #2534
My consideration for this issue is simply around what to call it.

We can easily call this option something like:

But if we’re using a third-party blocklist – are we, @pocmo? – then I want to make sure that we acknowledge their work in our option.

Maybe something like:

As for the placement under the “Privacy & Security” settings page, it will be under the “Web Content” subcategory.

What do you

[2018-04-27 07:26] #2531 closed

[2018-04-27 07:27] sv-ohorvath opened #2542 "First run tour on small devices: needs spacing between the Skip button and the slides"
### Steps to reproduce
1. Start a fresh install of Focus.
2. Look at the Skip button in the first run tour.

### Expected behavior
On smaller devices, there should be a little spacing between the Skip button and the tour slides.

### Actual behavior
On small devices, the slides are too large, covering a bit the Skip button. See screenshot from a Google Pixel (5.0-inch screen).

### Device informat

[2018-04-27 08:01] pocmo commented on #2533
Alright. :)

[2018-04-27 08:01] #2533 closed

[2018-04-27 08:11] #862 closed

[2018-04-27 09:36] sv-ohorvath commented on #1960
Ok, thank you!

I verified with Bing and just replacing the search term with %s works (using a search results URL): https://www.bing.com/search?q=%s&qs=n&form=QBLH&sp=-1&pq=%s&sc=8-2&sk=&cvid=6835725AAD464FF8B8AEDD2A0C71E1EF

Or, adding the ?q=%s in Bing's homepage URL: https://www.bing.com/?q=%s&toWww=1&redig=0E5D234F228145FFA6DEF2FEC81354D1

My 2 cents: this method of adding search engines is to

[2018-04-27 10:24] npark-mozilla commented on #1216
I think one tool we can use is http://www.gsamlabs.com/ .  This would have to be a manual testing, with a well-defined set of procedures for accuracy.  Might need to get softvision involved as well. Let me know in advance if you want this test added, as it'll need some preparations.

[2018-04-27 11:58] sv-ohorvath commented on #2436
Verified as fixed on Focus Beta v5.0.
Sony Xperia Z5 Premium (Android 6.0.1)
Google Pixel (Android 8.1.0)

[2018-04-27 12:34] sv-ohorvath commented on #2455
Verified on Beta v5.0 and Dev build.
Device: Google Pixel (Android 8.1.0)

[2018-04-27 12:48] sv-ohorvath opened #2543 "Focus v5.0 'What's new' page returns "Page not found""
### Steps to reproduce
Open the What's new page from the menu.

### Expected behavior
The SUMO page for Focus 5.0 should open.

### Actual behavior
The link returns a "Page not found." error.

### Device information

Build: Focus Beta v5.0

[2018-04-27 13:01] sv-ohorvath opened #2544 "URL bar not updated after a search"
### Steps to reproduce
1. Type a search term in the URL bar and submit.
2. Tap the URL bar, try to copy the search results URL.

### Expected behavior
The search results URL should be visible after taping the bar.

### Actual behavior
The search term is displayed when tapping the URL. Can't copy/edit the URL.

### Device information
Google Pixel (Android 8.1.0)

###Builds:
Focus Beta v5.0 Build &

[2018-04-27 14:05] pocmo commented on #2544
Hehe. That's actually a feature I think. :) #891

[2018-04-27 14:09] pocmo commented on #1960
Yeah, there's an ongoing discussion about how we could make this easier and how much we want to invest into improving this.

[2018-04-27 14:11] pocmo commented on #2534
Yeah. It's unlikely that we will have the resources to maintain our own lists.

[2018-04-27 14:15] pocmo commented on #2537
4.2. is already in staged rollout. At this point we could only make a dot release - but we are going to release 5.0 now anyways. Is it fixed in 5.0?

[2018-04-27 14:46] BrianNJones commented on #2534
Let's be as specific as possible. Users may not understand the idea of "app install banners" without all the surrounding context.

[Hedline]
Block websites' app install banners
[Body]
Some websites display a banner prompting you to download their app from the Google Play Store

[2018-04-27 15:01] sv-ohorvath opened #2547 "Cannot return from a failed FB Messenger share intent - app not installed"
### Steps to reproduce
FB. Messenger app should not be installed on the device.
1. Go to espn.com and open an article.
2. Tap the Facebook Messenger share icon.
3. After the redirect, press back to return to espn.

### Expected behavior
On Fennec, the share icons on espn.com don't respond to tap if the app is not installed.
If you are redirected to an error page, you should be able to return to th

[2018-04-27 16:29] ekager commented on #2011
Looking into this today and will try to have a fix for 5.0

[2018-04-27 16:43] #2407 closed

[2018-04-27 16:44] ekager commented on #2544
Yep that's correct behavior (Doesn't work on GV builds yet). Closing.

[2018-04-27 16:44] #2544 closed

[2018-04-27 17:15] Sdaswani opened #2549 "[Breakdown] Request Desktop Site Feature"
Template to be filled out, please see #822 for details.

[2018-04-27 17:17] Sdaswani opened #2550 "[Breakdown] Reorder “Privacy” and “Performance” menu items within Settings"
Template to be filled out, please see #2357

[2018-04-27 17:52] #2011 closed

[2018-04-27 18:57] Delphine opened #2552 "[l10n][New Locale] Cornish (kw)"
Just added Cornish to Pontoon: https://pontoon.mozilla.org/kw/focus-for-android/
They'll be needing screenshots for now, before being added to the list of shipping locales.
Thanks!
(CC @pocmo)

[2018-04-27 19:36] ekager opened #2553 "Accessibility Improvements to First Run, Loading, and Erase Button"
### Why/User Benefit/User Problem
We've been adding a lot of features/UX changes and we should make sure they are all accessible for our users.

### What / Requirements
- Get feedback from accessibility team
- Implement any needed changes

### Acceptance Criteria (how do I know when I’m done?)
Focus is accessible to all users.

[2018-04-27 19:36] ekager commented on #2553
cc @eeejay

[2018-04-27 19:43] #2000 closed

[2018-04-27 19:47] #2540 closed

[2018-04-27 21:15] #1933 closed

[2018-04-28 06:43] gupta1anubhav opened #2554 "Remove Deprecated Compile"
Steps to reproduce
1. Build project
2. Check build info.

We need to change androidTestCompile to androidTestImplementation as compile is deprecated.

![1](https://user-images.githubusercontent.com/31107831/39393004-7c3a50b4-4add-11e8-92d2-921caca9b81c.png)

Would you like to work on this issue?
Yes, I want to work on this issue.

[2018-04-28 12:58] npark-mozilla opened #2555 "Require element ID / investigation on 'Custom URLs' button under 'URL Autocomplete Menu'"
### Steps to reproduce
- Execute CustomTabTest.java on API 23

### Expected behavior
- Test should find Custom URLs menu
<img width="330" alt="screen shot 2018-04-28 at 3 01 27 pm" src="https://user-images.githubusercontent.com/6930774/39396786-0ff5b12e-4af5-11e8-82f1-967e9169c7a0.png">

### Actual behavior
- Test cannot find it.

The 'Custom URLs' menu cannot seem to be found by just using the .w

[2018-04-28 18:29] Serkan-devel commented on #2537
Same on Android 5.0.1 with the latest F-Droid build

[2018-04-29 16:36] RomanWuattier commented on #2378
I can work on this one. Can someone provide me the strings needed?

[2018-04-29 22:47] Sdaswani commented on #2378
@BrianNJones can you provide strings for this?

[2018-04-29 23:16] brampitoyo commented on #822
I’ve updated the behaviour section up above slightly (https://github.com/mozilla-mobile/focus-android/issues/822#issuecomment-382202957), to clarify things. No new behaviour is introduced.

[2018-04-29 23:31] brampitoyo commented on #2378
Actually, there’s no need for new strings. We can simply use “Report Site Issue”. @RomanWuattier, hopefully this will make your work go faster.

[2018-04-30 02:16] brampitoyo commented on #2534
Thanks for the string, @BrianNJones. Good to go.

@pocmo Have we ever initiated contact with the list provider? Should we? I’d like to make sure that they know of what we’re doing, and how their work will be credited in the UI.

[2018-04-30 02:52] brampitoyo commented on #2505
This is a tricky issue, because

[2018-04-30 03:40] brampitoyo commented on #2297
Yes. We definitely want to do this. When you long-press the URL, we should show a toast that says “URL copied”.

[2018-04-30 04:31] brampitoyo commented on #967
Here are find in page UIs of various Android browsers:

#### Firefox

<img src="https://user-images.githubusercontent.com/51007/39415124-afac2ed8-4c93-11e8-8bd4-053f4f13dcc5.png" width="180">

#### Chrome

<img src="https://user-images.githubusercontent.com/51007/39415098-66341022-4c93-11e8-87f1-f15330f5cf6c.png" width="180">

#### Opera

<img src="https://user-images.githubusercontent.com/51007/3

[2018-04-30 07:58] peterbraden opened #2556 "Feature Request: Ability to block websites"
### Why/User Benefit/User Problem

On android at the moment there is no way to block arbitrary websites without rooting your phone. There are a ton of distracting websites that I would like to block on my mobile device. If Firefox focus included the ability to block arbitrary sites then I would be able to focus better.

### What / Requirements

The ability to create a list of domains that are bloc

[2018-04-30 08:12] sv-ohorvath commented on #2011
Verified on Beta v5.0 build.
Devices:
Google Pixel (Android 8.1.0)
Sony Xperia Z5 Premium (Android 6.0.1)

[2018-04-30 11:14] pocmo opened #2557 "lo: missing placeholder in translation, key: security_popup_security_verified"
Our string import is failing with a missing placeholder:

[2018-04-30 11:14] pocmo commented on #2557
CC @Delphine

[2018-04-30 11:41] sv-ohorvath commented on #1933
Verified this feature on the Focus Beta v5.0 build.
Devices:
Sony Xperia Z5 Premium (Android 6.0.1)
Google Pixel (Android 8.1.0)

[2018-04-30 12:47] sv-ohorvath commented on #2330
Verified this feature on the Focus Beta v5.0 build.
Devices:
Sony Xperia Z5 Premium (Android 6.0.1)
Google Pixel (Android 8.1.0)

[2018-04-30 12:54] pocmo commented on #2534
No contact yet. We should do this as soon as we move this to a specific milestone. In addition to that we require GeckoView APIs (or the WebExtensions hooks) to implement this.

[2018-04-30 13:04] pocmo commented on #2554
Yes, that would be nice to fix. 👍

@gupta1anubhav Feel free to open a PR for this. :)

[2018-04-30 15:34] BrianNJones commented on #2378
Sounds right to me.

On Sun, Apr 29, 2018 at 6:31 PM, Bram Pitoyo <notifications@github.com>
wrote:

[2018-04-30 16:41] Delphine commented on #2557
Just fixed this in Pontoon. Will communicate with "lo" team to let them know for future reference too.

[2018-04-30 17:11] miketaylr commented on #2378
If possible, we should grab a screenshot of the visible tab as well: https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#72

And then postMessage it to the webcompat.com tab: https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#129

[2018-04-30 17:17] pocmo opened #2560 "Patch Android2Po to understand ixl and tsz"
From the import:

We have patched a2po before:
https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/android2po/env.py#L58

[2018-04-30 19:11] RomanWuattier commented on #2378
@miketaylr It would be a nice to have

I created a first PR without the screenshot feature. The goal here is to split into small PRs.
I'm going to work on a second one to add the screenshot feature.

[2018-04-30 19:28] Sdaswani commented on #2543
@ekager @boek is the 5.0 page not ready yet? may need to check with @jonisavage

[2018-04-30 19:29] Sdaswani commented on #2542
Since this is not a new regression in 5.0, we don't need to fix for 5.0.

[2018-04-30 20:07] miketaylr commented on #2378
Makes sense, let me know how I can help!

[2018-04-30 20:45] boek commented on #2543
@Sdaswani we have the link, I think we're just waiting for the sumo page to go live

[2018-04-30 21:36] Delphine opened #2563 "[l10n] Sign-off on locales for 5.0"
* Total number of locales: 78
* 3 new locales can ship: Angika (anp), Cornish (kw) and Purépecha (tsz)
* Incomplete locales needing to be only in screenshots section (ADDITIONAL_SCREENSHOT_LOCALES in locales.py): lt and ixl

List of locales that can ship (in alphabetical order):
am
an
anp
ar
ast
az
bg
bn-BD
bn-IN
bs
ca
cak
cs
cy
da
de
dsb
el
eo
es-AR
es-CL
es-ES
es-MX
eu
fa
fi
fr
fy-NL
ga-IE
gu-IN

[2018-04-30 21:37] Delphine commented on #2563
(tried to add the "l10n" label to this issue but doesn't seem like I can)

[2018-04-30 22:27] ekager opened #2564 "Request Desktop for GV Builds"

[2018-05-01 00:14] brampitoyo commented on #822
@ekager and I talked about various methods we can employ to ensure that tapping the checkbox will give users the desktop version of the website – if not all the time, then at least most of the time. These methods are:

1. Change user agent to be a desktop browser
2. Remove `m` and `mobile` prefix from the URL
3. Ignore viewport meta tags and apply a desktop-size `min-width`, so even if the page is

[2018-05-01 01:00] Delphine commented on #2505
Yes, when we worked on Firefox OS truncations happened a lot in the beginning, so people made sure to have the text be able to wrap around, or make the size of the text smaller so that it fits.
Asking the localizers to shorten a string would be something that we'd ask for as a last resort, because as you mention, most of the time it's not possible (and most of our localizers already try to use the

[2018-05-01 01:57] jonisavage commented on #2330
We've written a SUMO article for this feature and linked it from the "What's New..." page: https://support.mozilla.org/en-US/kb/block-cookies-firefox-focus-android

[2018-05-01 02:08] ekager commented on #2330
Hey @brampitoyo should we open a new issue to include a link to the cookies SUMO page in the Settings menu?

[2018-05-01 02:15] ekager commented on #2553
Thanks for this @eeejay ! Definitely looks like some good issues to tackle, I will rename the issue and we can put the work into an upcoming sprint :)

[2018-05-01 03:18] boek opened #2567 "UX Polish - Adjust position and size of quick add autocomplete button"
After speaking with @brampitoyo we decided to move the position of the quick add autocomplete button

[2018-05-01 03:27] brampitoyo commented on #2330
@ekager Will you post a screenshot of what this menu item looks like currently? Just to get an idea of where the link to the SUMO page can go on the UI.

[2018-05-01 03:53] brampitoyo commented on #2330
My proposal: when you tap on “Block cookies”, instead of a modal menu item, a separate page should appear.

This page will give us some space to include a link to SUMO, below all the options.

<img width="791" alt="cookies 2x" src="https://user-images.githubusercontent.com/51007/39460428-6180599a-4d57-11e8-9ffb-d9202ce0e33e.png">

[Google’s material design guidelines](https://material.io/guideline

[2018-05-01 03:55] brampitoyo opened #2569 "Explain 3rd party cookies blocking option"
Porting my proposal over from https://github.com/mozilla-mobile/focus-android/issues/2330#issuecomment-385593204: when you tap on “Block cookies”, instead of a modal menu item, a separate page should appear.

This page will give us some space to include a link to SUMO, below all the options.

<img width="791" alt="cookies 2x" src="https://user-images.githubusercontent.com/51007/39460428-6180599a-4

[2018-05-01 03:56] brampitoyo commented on #2330
@ekager Yes, we should. I’ve filed #2569 to do this.

[2018-05-01 04:32] brampitoyo commented on #967
Here’s my first attempt at desining a find in page UI. It’s what Fennec’s would’ve look like if it was Photonised:

<img src="https://user-images.githubusercontent.com/51007/39461157-eed9e3f6-4d5c-11e8-9d7c-5879279c00e1.png" width="360">

I’m still trying to think of the right colour combination to use.

Currently, Firefox for desktop uses cyan for highlighted text, and magenta for the other highl

[2018-05-01 09:43] bbinto commented on #2534
@pocmo I was under the impression we could parse / look up a meta tag in the rendered page. Or does only [iOS support](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html) a consistent meta tag?

[2018-05-01 12:14] bbinto commented on #2525
@br-privacore we have search agreements with the providers listed on the default search provider list. Please reach out to our BD team for more details.

As for now, I will close this issue. Users who really want to use findx can do so by following these steps: https://support.mozilla.org/en-US/kb/add-search-engine-firefox-focus-android

[2018-05-01 12:14] #2525 closed

[2018-05-01 12:32] br-privacore commented on #2525
@bbinto OK, will get in touch with BD. I thought you only had agreements with "the big guys", and not our competitors DuckDuckGo and Qwant.

[2018-05-01 14:21] gupta1anubhav opened #2571 "Error "Expected resource of type raw""
ResourceId in the red underlined text is the problem here.

Android lint: Wrong Resource Type error in HtmlLoader.java

Expected resource of type raw is the error description.

![3](https://user-images.githubusercontent.com/31107831/39476238-dd9312e0-4d78-11e8-9f5e-52bcb8fc0db2.png)

Would you like to work on this issue?
Yes, I want to work on this issue.

[2018-05-01 17:36] bbinto commented on #2571
Feel free to pick this up, and create a PR

[2018-05-01 17:40] bbinto commented on #2557
No eng work needed

[2018-05-01 17:44] bbinto commented on #2553
@ekager to break down into further issues

[2018-05-01 17:47] #2537 closed

[2018-05-01 17:48] bbinto commented on #2532
@ekager to check

[2018-05-01 17:53] bbinto commented on #2300
@pocmo any idea if we should do this in combination with Fenix/Android components?

Also, how much work would it be?

[2018-05-01 17:54] bbinto commented on #2299
@pocmo any idea if we should do this in combination with Fenix/Android components?

Also, how much work would it be?

[2018-05-01 17:54] bbinto commented on #2297
@pocmo any idea if we should do this in combination with Fenix/Android components?

Also, how much work would it be?

[2018-05-01 17:55] bbinto commented on #2251
@npark-mozilla - how important is this? Px?

[2018-05-01 17:55] Serkan-devel commented on #2537
When will it be pushed on f-droid?

[2018-05-01 17:56] bbinto commented on #2237
Tell us why/when you need this @npark-mozilla

[2018-05-01 17:56] ekager commented on #2554
Closed by #2562

[2018-05-01 17:56] #2554 closed

[2018-05-01 17:58] #1047 closed

[2018-05-01 18:05] ekager commented on #625
Seems to be fixed in more recent GV versions, closing

[2018-05-01 18:05] #625 closed

[2018-05-01 18:06] ekager commented on #1527
Fixed

[2018-05-01 18:06] #1527 closed

[2018-05-01 18:06] ekager commented on #1620
Fixed

[2018-05-01 18:06] #1620 closed

[2018-05-01 18:06] #13 closed

[2018-05-01 18:08] ekager commented on #926
Closing for now, reopen if still an issue

[2018-05-01 18:08] #926 closed

[2018-05-01 19:00] #2567 closed

[2018-05-01 19:44] BrianNJones commented on #2504
After thinking more about this, I'm with @boek and @brampitoyo. Let's go w/ mozilla.org.

[2018-05-01 19:51] gupta1anubhav commented on #2571
Thank you @bbinto

[2018-05-01 22:02] fbertsch opened #2573 "Very High Event Timestamps"
We're seeing high event timestamps in the telemetry pipeline. This is happening even for clients who have relatively correct `created`, which means it's not related to clock skew.

See here for a few examples: https://sql.telemetry.mozilla.org/queries/52830

I found that only about 97% of events happen within one day of `created`. I'll have a CDF of values available soon.

[2018-05-01 22:17] #2214 closed

[2018-05-01 23:33] boek opened #2575 "Google Play release notes for 5.0"
We were going to use the content of "What's New" but both of the line items had links

Could we get a simplified version for the Google Play store release notes?

[2018-05-01 23:39] ekager commented on #1658
Hey @yatri1609 you'll have to check the picture in the original post at the top and then make sure our colors match the mock for the 3 dot menu. They could already be correct in which case, you could verify that and close the bug. From a quick glance, looks like the pressed gray state may need to be changed as it's a bit too light.

[2018-05-02 04:30] daivat15 commented on #2504
Cool. Should I send a PR for this?

[2018-05-02 05:51] bbinto opened #2576 "When tapping lock icon in address bar, context menu stays open"
Via Google Play Store

<img width="760" alt="screen shot 2018-05-02 at 7 49 04 am" src="https://user-images.githubusercontent.com/122897/39507319-a74d5e9c-4ddd-11e8-91af-66217e4200e6.png">

[2018-05-02 06:11] bbinto commented on #2576
closing, should be fixed by #2537

[2018-05-02 06:11] #2576 closed

[2018-05-02 07:59] pocmo commented on #2504
@daivat15 Yeah, go ahead. :)

[2018-05-02 08:01] pocmo commented on #2504
@daivat15 Please make sure to use a new String name (e.g. preference_autocomplete_add_example -> preference_autocomplete_add_example2) so that translators will be required to re-translate the string.

[2018-05-02 13:38] yatri1609 commented on #1658
@ekager  Sure I'll check it and correct it if needed. Thanks

[2018-05-02 14:11] BrianNJones commented on #2575
Sounds great.

On Wed, May 2, 2018 at 4:49 AM, Barbara Bermes <notifications@github.com>
wrote:

[2018-05-02 16:10] BrianNJones commented on #2575
@boek, how's this look?
- Control cookie blocking : block all cookies, block 3rd-party cookies, or accept all cookies
- Long press address bar to add a URL to your autocomplete list

(If "long tap" is in the Release Notes, we should update to "long press")

@bbinto, Focus has evolved to the point it makes sense to take another look at the general Google Play description and at the "About" content

[2018-05-02 16:25] boek commented on #2543
Page is now live, link works in app 🙌

https://support.mozilla.org/en-US/kb/new-focus-android-5

[2018-05-02 16:25] #2543 closed

[2018-05-02 16:26] boek commented on #2575
I think that looks good. @bbinto Could we get a German translation?

[2018-05-02 20:42] #2563 closed

[2018-05-02 23:25] #2508 closed

[2018-05-03 05:07] brampitoyo commented on #2542
<img width="770" alt="screen shot 2018-05-03 at 5 05 54 pm" src="https://user-images.githubusercontent.com/51007/39560689-59066e32-4ef4-11e8-91a0-bad714fc7442.png">

Let me know if a scaling like this doesn’t work on smaller devices, and I can propose an alternative design.

[2018-05-03 06:01] bbinto commented on #2575
@BrianNJones - the cookie bullet is correct, however it washes away our additional feature of only now being able to block 3rd party cookies.

Thougths?

[2018-05-03 13:02] pocmo commented on #2542
@brampitoyo There's no fixed margin currently - because initially we didn't want to have gigantic cards on tablets.

CC @antlam

[2018-05-03 13:04] pocmo commented on #2504
@daivat15 You can use the new string immediately. No need to wait for translations here.

[2018-05-03 13:10] bbinto commented on #2357
@Sdaswani and @ekager I wonder why you closed this issue? Would this turn into the UX deliverables issue and the #2550 is a placeholder for eng to break things down?

a) If so, when do you think, @ekager you will be able to break them down + estimation?
b) Will they just be thrown in the 5.1 sprint, the 6.0 product backlog, or back into the backlog for Friday's backlog grooming? I'd vote for the l

[2018-05-03 13:25] pocmo commented on #2537
The f-droid builds are not maintained by us.

[2018-05-03 13:27] pocmo commented on #2297
@bbinto This could be something we do here before introducing the component.

[2018-05-03 13:28] pocmo commented on #2299
M; Something we could do earlier without the components. Might be worth looking at telemetry whether apps actually request custom animations.

[2018-05-03 13:29] pocmo commented on #2300
We can't really do that with WebVIew. So this is something we could only do with GeckoView. This is also something we could try before introducing components.

[2018-05-03 13:31] #2557 closed

[2018-05-03 13:33] pocmo commented on #2534
Yeah, this is a safari-specific feature where it reads the meta tag and shows a "native" app install banner. In our case we'd need to remove/hide all the HTML "Install this app" banners that website show whenever they detect that we are an Android app. :(

[2018-05-03 14:16] ekager commented on #2357
Sorry @bbinto ! Closed this because it’s done!

[2018-05-03 14:18] bbinto commented on #2357
Wow! @ekager -- speedy delivery. Thanks. Amazing.

[2018-05-03 14:18] bbinto commented on #2357
why did you creata a new issue though, #2550 and that's still open?

[2018-05-03 14:19] Sdaswani commented on #2357
New message from Product Management - *DON'T CLOSE ISSUES!* :)
 cc @bbinto @ekager

great work @ekager !

[2018-05-03 14:19] Sdaswani commented on #2550
this was never used because @ekager didn't need it.

[2018-05-03 14:19] #2550 closed

[2018-05-03 14:20] Sdaswani commented on #2357
it was a placeholder @bbinto not needed seemingly.

[2018-05-03 15:18] csadilek opened #2581 "Upgrade to android-components 0.5"
We should upgrade and use the latest version (0.5) of our Android components library.

[2018-05-03 16:17] ekager commented on #1054
Closed by #2574

[2018-05-03 16:17] #1054 closed

[2018-05-03 17:28] ekager commented on #1205
Hey @brampitoyo after #2357 , can this issue and #1294 be closed? Or is there more that we want to break down from this to include in the future?

[2018-05-03 17:31] BrianNJones commented on #2575
@bbinto - if i'm understanding correctly, your concern is it's not doing enough to highlight the "3rd party" part? i was thinking it's more about "cookie blocking' than "3rd-party cookies." We could revise to:

- Block cookies: block 3rd-party cookies, block all cookies, or accept all cookies

[2018-05-03 17:41] #1085 closed

[2018-05-03 17:45] pocmo commented on #778
From the PR: We could try TYPE_TEXT_FLAG_NO_SUGGESTIONS.

[2018-05-03 18:18] ekager commented on #2297
Hm @boek would this be similar to/conflict with #2498 ? Long press URL in custom tab should copy the URL?

[2018-05-03 18:29] pocmo commented on #2297
We might want to transform this in a context menu (@brampitoyo ?).

If not then you can either use MainActivity.isCustomTabMode() or ask the session object whether you are in a custom tab.

[2018-05-03 20:39] boek commented on #1982
@brampitoyo Since we're not using these icons anywhere we tossed the idea around of just using a generic icon to designate a custom search engine. This will simplify the code and this feature quite a bit. We can always re-visit if we surface them anywhere else. What do you think?

[2018-05-04 07:06] bbinto commented on #2575
@BrianNJones - sorry for being so picky about this, since this additional 3rd party blocking feature is opt-in, I want to draw attention to it. However, to be honest looking at the toggle again, it seems confusing to me that this is a new "additional" feature, because of the toggle switch (3rd party cookies, "only").

I might have missed this in the sprint review. At this point, I think we need to

[2018-05-04 07:08] bbinto commented on #2575
@boek here is the German translation

Block cookies: block 3rd-party cookies, block all cookies, or accept all cookies

Blockieren von Cookies: Cookies von Drittanbietern blockieren, alle Cookies blockieren oder alle Cookies akzeptieren

[2018-05-04 07:08] bbinto commented on #2575
@boek here is the German translation

Blockieren von Cookies: Cookies von Drittanbietern blockieren, alle Cookies blockieren oder alle Cookies akzeptieren

[2018-05-04 07:30] bbinto commented on #2300
Thanks. @pocmo -- something maybe for the 7.0 feature wishlist.

We should still clearly define user benefit. I'll need to review the telemetry for Custom Tabs, no real uptake lately.

[2018-05-04 07:32] bbinto commented on #2534
@pocmo ok got it, too bad. I thought it was easier.

Have we done enough research that the fanboy block list is something I could run by Marshall?

Also, assuming you have an approved list, what's the effort including this feature?

[2018-05-04 08:15] pocmo commented on #2534
I can't estimate this. I'll talk to the GeckoView team to understand how we could support this.

[2018-05-04 08:25] bbinto commented on #967
I assume (no pressure) UX is not finalized yet, correct? @brampitoyo

[2018-05-04 09:18] pocmo opened #2583 "No crashes showing up for 5.0 in Sentry/Google Play"
5.0 has been in Beta for >24h now and we do not see any crashes in Sentry or Google Play. Something seems to be wrong.

I unpacked the release APK yesterday and the token seems to be in the APK.

[2018-05-04 09:28] gupta1anubhav commented on #2571
This error is not anymore in the latest build. Hence, I am closing the issue.

[2018-05-04 09:28] #2571 closed

[2018-05-04 09:36] #2504 closed

[2018-05-04 09:36] gupta1anubhav opened #2584 "Obsolete Gradle Dependencies"
AndroidLint: Correctness warning
Few issues
1.Obsolete Gradle dependencies
2.Spelling error
3.Using sp instead of dp for text sizes.

![5](https://user-images.githubusercontent.com/31107831/39621003-cad2623a-4faa-11e8-8491-29526b93f3ef.png)

Would you like to work on this issue?
Yes, I want to work on this issue.

[2018-05-04 12:53] RomanWuattier commented on #2378
@miketaylr I'm working on the screenshot feature, but I'm encountering difficulties. That is the state of affairs.
I tried to grab and post a screenshot by running the script below:
[code]
And post it asynchronously to the window:
[code]
This should create a new "canvas" and add it to the window.

But nothing happens. Did I miss something? Is there a way to directly use the `WebcompatReporter` cla

[2018-05-04 19:03] miketaylr commented on #2378
Assuming that the script works the way you intend it to (I have no idea...), here's a few ideas:

https://github.com/webcompat/webcompat.com/blob/master/webcompat/static/js/lib/bugform.js#L118

We require the event origin to match `webcompat.com`, and currently you're sending the entire URI, rather than just `http://webcompat.com`:

`win.postMessage(screenshot, "https://webcompat.com")` is probabl

[2018-05-04 22:32] #2581 closed

[2018-05-04 23:43] ekager commented on #2555
Looking into this on Monday and assigning myself to remember

[2018-05-05 20:31] gupta1anubhav commented on #2584
@pocmo can I work on this issue?

[2018-05-06 22:17] brampitoyo commented on #967
Not finished, but nearly there!

I still need to think about:

* Entry point (ie. order of placement in the menu)
* Visual design (ie. how much does it need to match vs. differ from Fennec?)

[2018-05-06 23:37] brampitoyo commented on #2297
@pocmo Although having a context menu would clarify the intent, it would also require the user to take one more step, and require us to define a new context menu. I’d say that the copy URL action should happen instantly, on long-press.

[2018-05-06 23:38] brampitoyo commented on #1205
@ekager Sorry for the confusion! After #2357 is completed, this issue and #1294 can be closed.

[2018-05-07 02:37] brampitoyo commented on #2357
<img width="1492" alt="screen shot 2018-05-07 at 12 55 09 pm" src="https://user-images.githubusercontent.com/51007/39680544-2822c996-51f6-11e8-88bd-ea68a8dab1b4.png">

@ekager I’ve arrived at a solution that maintains a reasonable trade-off between availability (make important settings available on the first level) and consistency (related settings should be grouped and described as similarly as p

[2018-05-07 03:36] brampitoyo commented on #2542
@pocmo That makes sense.

So to make the content works down to the smallest screen, we want to set a min-width and min-height value, rather than specify a static margin?

As @npark-mozilla had shown with truncation on many locales (#2505), some other UI elements may truncate on this particular screen size.

[2018-05-07 04:16] brampitoyo commented on #822
@pocmo Actually, I had designed ‘Request desktop site’ as a global flag in order to match Firefox and Chrome’s behaviours. In those browsers, ‘Request desktop site’ is a checkbox that you can modify right from about:home (when there’s no webpage open). Once checked, every new tab that opens, will open in desktop mode.

But I agree that this behaviour doesn’t match the blocking switch.

Do you prop

[2018-05-07 04:33] brampitoyo commented on #1982
@boek If it will simplify our code, I support the idea. We can simply use a generic search icon (https://design.firefox.com/icons/viewer/#search) in place of the coloured square with initial.

What do you think?

[2018-05-07 04:56] brampitoyo commented on #2512
@RichyHBM I like your suggestions. Calling this toggle something along the lines of _Blockers_ would reinforce the connection to the way we’ve described our setting menu item (we always call it _Block x tracker_ or _Block y_).

This is the way that our toggle work today. Its initial state is always `on`. Even if you’ve switched it `off`, all links that opens in a new tab will have the state set to

[2018-05-07 17:17] boek commented on #2177
Closed with #2528

[2018-05-07 17:17] #2177 closed

[2018-05-07 17:18] boek commented on #2549
Closing this since the work has been done. Will pull #822 into 5.1

[2018-05-07 17:18] #2549 closed

[2018-05-07 21:39] RichyHBM commented on #2512
@brampitoyo

That was my initial idea, im not sure what the behaviour is when you click on a link on a website, does it open it in a new tab or does it open it in the same tab? If the former then its probably not a big deal, but if the latter then you might click on a link and not realise that trackers are disabled

[2018-05-07 22:16] brampitoyo commented on #2512
@RichyHBM

Our default is open in the same tab, unless the website gives the link a `target="_blank"` property.

So, yes. The user may click on a link and not realise that trackers are still disabled.

But we have two visual cues to help you know this:

1. The URL bar will be coloured dark purple (the normal state is bright purple)
2. A crossed out shield icon appears besides the menu

[2018-05-08 12:47] pocmo commented on #2583
This shows up in the logs whenever we want to send something to Sentry:
[code]

[2018-05-08 12:57] pocmo commented on #2583
Events I send manually via `Sentry.capture()` seem to come through regardless. But crashes still do not show up.

[2018-05-09 01:28] brampitoyo commented on #2505
Paging @BrianNJones for assistance.

### Summary

On a few locales, some heading and menu texts don’t fit the available space.

Thankfully, you only see these headings after tapping on a menu item that has the same text – and the menu item does fit the space.

For example:

* A menu item is titled “Add new search engine”
    * In all locales, this menu item can be displayed in full
* When you tap

[2018-05-09 03:06] BrianNJones commented on #2505
@brampitoyo, thank you for all the context.

1. Cons outweighs the pros

2. Do we have a sense of whether localisers would even be able to shorten the string (or would they run into the same problem of trying to shorten "add search engine" in the relevant language?). As Delphine points out, it's the final screen strings that are being truncated; we could look a derivative of the original string on

[2018-05-10 03:25] brampitoyo commented on #2505
Thanks a lot @BrianNJones for your reply!

@Delphine, would you be able to help us answer question 2 and 3 above, and maybe have some of our localisers judge the accuracy and brevity of my poor man’s translation attempt below?

For now, we can already try out what these string derivatives look like on different locales, as seen below (caveat: my translation may be inaccurate – it’s just a first-ro

[2018-05-10 13:39] bbinto opened #2593 "White screen on Flipkart"
<img width="809" alt="screen shot 2018-05-10 at 3 37 41 pm" src="https://user-images.githubusercontent.com/122897/39872441-4658b136-5468-11e8-9618-729831ec94c2.png">

[2018-05-10 14:36] fbertsch commented on #2573
cc @bbinto, this explains the long sessions we're seeing. I'll leave it to you to prioritize investigating this. Let me know if the team needs any more info to do so.

[2018-05-10 23:59] hackel opened #2594 "Add "force enable zoom" accessibility option"
### Why/User Benefit/User Problem

Many websites prevent zooming, making small text and images difficult to see.  This presents an accessibility problem even for those who are not visually impaired.  I often find myself having to open a site in Firefox just to be able to zoom in on something—particularly images.

### What / Requirements

I assume this is merely a flag for the Webview, since it's s

[2018-05-11 00:04] hackel commented on #125
Just wanted to add that I'm a "typical user" and this feature is definitely missed when using Focus.  Sure, it's just one or two extra clicks, but on mobile that's a big deal, since it involves hunting for the enter button, moving your finger all the way to the bottom of the (increasingly larger) display, etc.

[2018-05-11 10:46] Mugurell opened #2595 "DatePicker is broken"
### Steps to reproduce
Access http://www.456bereastreet.com/lab/html5-input-types/
Press the **Date** input type
Rotate screen
### Actual behavior
Because when rotating the screen the previous layout is kept, selecting a date can be impossible for the user.

GIF screen recording - https://user-images.githubusercontent.com/11428869/39920849-45539012-5521-11e8-90f4-c734ad54d138.gif

### Device infor

[2018-05-11 10:52] Mugurell opened #2596 "TimePicker is broken"
### Steps to reproduce
Access http://www.456bereastreet.com/lab/html5-input-types/
Press the **Time** input type
Rotate screen
### Actual behavior
Because when rotating the screen the previous layout is kept, selecting a time can be impossible for the user. Trying to start the time picker widget while in landscape doesn't show any actionable items.

GIF screen recording - https://user-images.githu

[2018-05-11 16:54] setuidroot commented on #822
I like the idea of adding in a feature switch to switch to a desktop site (I believe changing the user agent is the best method.)  I also think it would be cool to add in a feature in the settings to control the user agent string manually (or better, with a predefined list of UAs to choose from.)  I'm thinking of something like what Privacy Browser does (https://git.stoutner.com/?p=PrivacyBrowser.

[2018-05-11 17:01] ekager commented on #2583
Could this be related...? Copied from TV's implementation https://github.com/mozilla-mobile/focus-android/blob/master/app/proguard-rules.pro#L89

[2018-05-11 17:04] bbinto commented on #822
@bbinto to decide

[2018-05-11 17:15] pocmo commented on #2237
@npark-mozilla This is already done, isn't it?

[2018-05-11 17:17] ekager commented on #2583
And maybe we want to do their recommended gradle config instead of manual  https://docs.sentry.io/clients/java/modules/android/#proguard

[2018-05-11 17:18] bbinto commented on #330
@ekager to file a bug with GeckoView API team

[2018-05-11 22:12] pocmo commented on #2584
@gupta1anubhav Yes. Please create separate PRs for the different issues. :)

[2018-05-11 23:15] boek commented on #2575
@bbinto Sylvestre has concerns about the "Whats New" copy here: https://bugzilla.mozilla.org/show_bug.cgi?id=1459837#c7

[2018-05-12 06:50] gam2046 opened #2602 "Is there any way to support JavaScript bridge"
I want to develop a hybrid application based on `GeckoView`. Referring to `focus-android` project, I found that there was no related content in it.
So, is there any way to use `webview.addJavascriptInterface(...)` method in `GeckoView`? Or any other way that JavaScript can interact with Android applications

[2018-05-14 03:13] brampitoyo commented on #2505
For me, this is the kicker. Even when we make the English string shorter, there’s no way for us to make sure that its localised strings will fit on all (or even most) locales.

And furthermore:

Which means that, if we want to impose some sort of a character limits, it won’t help. The localisation is already as short as it’s possibly could.

The move I would recommend is either:

* To ask our loca

[2018-05-14 03:50] brampitoyo opened #2603 "UI for easier privacy and security blockers selection"
### Why/User Benefit/User Problem

With the settings re-org, we will gather all of our Privacy and Security settings in one section.

As we build more blocking settings – block autoplaying audio/video, ads/banners, pre/interstitials, third-party cookies, etc. – it becomes harder and harder to know:

1. That the more blockers are toggled on, the faster webpages will load and the less data/battery w

[2018-05-14 03:59] brampitoyo commented on #2603
Some early UI concepts:

<img width="1204" alt="screen shot 2018-05-14 at 3 58 58 pm" src="https://user-images.githubusercontent.com/51007/39977701-d2792072-578f-11e8-8248-fa4a3c6a5a77.png">

[2018-05-14 04:41] brampitoyo commented on #2603
This issue is just about the UI, but I’m particularly curious to hear from @pocmo @ekager @boek about:

* If we support ad blocking, which is the right ones to include and turn on by default?
    * As an example, I’ve selected EasyList, Adblock Warnings, Fanboy’s Annoyances and NoCoin as starters. What do you think?
    * There are a lot of lists there, certainly. Including ones for specific local

[2018-05-14 05:49] bbinto opened #2604 "Beta feedback & questions regarding clearing cache"
Google Play Store: https://play.google.com/apps/publish?account=7083182635971239206#BetaFeedbackDetailsPlace:p=org.mozilla.focus&feedbackid=gp:AOqpTOFW32PVja0Y-fx5cxMeezMrykviwYPyoSrjNtcsGejvEK5adN_pJuLFfQ8ESwocW5O4tsmKdE7mZBZQ7PRFag

"hi.. i have wanted to beta test for awhile and happy to be part of this
particularly because i definately enjoy microsofts work verses google,
mainly chrome...i hav

[2018-05-14 07:34] bbinto commented on #822
@ekager + @brampitoyo here my 2 cents

Those two seem great directions to get the job done.

I agree, let's just match that, we can always improve, add more advanced settings in the future. For now, this solves the user problem when they encounter a single mobile website that either doesn't work or doesn't provide all features than available on the Desktop site.

Let me know if there needs to be o

[2018-05-14 07:52] pocmo opened #2605 "Add en-CA to locales.py"
From last import:

[code]

https://pontoon.mozilla.org/en-CA/focus-for-android/

[2018-05-14 07:54] bbinto commented on #2575
@boek -- sorry can't get the 2FA working for Bugzilla, therefore here my comments

English:
Improved cookie management, users can now setup more granular cookie blocking: block 3rd-party cookies, block all cookies, or accept all cookies

German:
Verbessertes Cookie Management: Benutzer können nun das Blockieren von Cookies detaillierter einstellen, z.b. Cookies von Drittanbietern blockieren, alle

[2018-05-14 07:59] pocmo commented on #822
What exactly do you mean by "new tab"? If I long press any link and open a new tab then this new tab doesn't seem to have the flag set.

Yes. I think that matches the mental model: All actions in the menu either apply to the current tab or page and do not affect other tabs.

[2018-05-14 08:01] pocmo commented on #822
What's the use case you are thinking of here? I've been using this feature exclusively to fix sites that are limited/broken in "mobile mode" (e.g. on GitHub I can't perform certain actions from the mobile site).

[2018-05-14 08:39] MarcoZehe commented on #2553
I took another look at the current Play Store version, and @eeejay really covered it all in his comment above. Thanks for jumping in while I was away, Eitan! And, on top, I would probably not have noticed a couple of these things since I can't see the screen. :)

[2018-05-14 10:39] #2602 closed

[2018-05-14 12:30] bbinto commented on #2378
@pocmo GeckoView as that way it will most actionable for us.

[2018-05-14 12:33] pocmo opened #2606 "Only show “Report a site issue” in GeckoView builds"
Follow-up from #2378.

We only want to show this new menu item in builds that are using GeckoView.

[2018-05-14 12:34] pocmo opened #2607 "Report site issue: Upload screenshot"
Follow-up from #2378.

The issue reporter allows screenshots to be attached.

Related code in Firefox for Android:
* https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#72
* https://dxr.mozilla.org/mozilla-central/source/mobile/android/chrome/content/WebcompatReporter.js#129

[2018-05-14 12:35] pocmo commented on #2378
Landed a contributor patch that implements this feature. Filed to follow-ups:

* Only show “Report a site issue” in GeckoView builds #2606
* Report site issue: Upload screenshot #2607

[2018-05-14 12:35] #2378 closed

[2018-05-14 13:06] RomanWuattier commented on #2606
Following #2378, can I work on this one?

[2018-05-14 13:08] amiraliakbari commented on #1428
Starting from May 2018, `encrypted.google.com` is turned off and it is simply redirected to `www.google.com`. See [Encrypted.google.com is going away](https://support.google.com/websearch/answer/7631341). I think this issue can be closed now.

[2018-05-14 13:19] pocmo commented on #1428
Thank you @amiraliakbari!

[2018-05-14 13:19] #1428 closed

[2018-05-14 13:20] pocmo commented on #2606
@RomanWuattier Yes, absolutely! :)

[2018-05-14 13:25] RomanWuattier commented on #2606
I will use it, thanks

[2018-05-14 15:11] BrianNJones commented on #2575
If we're going to start using language like "improved," we need to address
both before (the "unimproved") and the "improved." Takes quite a bit of
space and doesn't make sense in this instance. "Granular" is not likely to
be a word that makes sense to all users in this context. I don't see
Sylvestre's point, but a compromise could be:

English:
Improved cookie management: users can now block 3rd-p

[2018-05-14 15:14] bbinto commented on #2575
Ok @BrianNJones

Here is the updated German translation:

Verbessertes Cookie Management: Benutzer können nun das Blockieren von Cookies einstellen, z.b. Cookies von Drittanbietern blockieren, alle Cookies blockieren oder alle Cookies akzeptieren.

[2018-05-14 15:20] BrianNJones commented on #2505
To ask our localisers to take a second look at the 7 problematic strings,
and make sure that the translations are as succinct as possible. Then we
can review the screenshots
- Agree here

Or, to do nothing and keep the truncation as is. Not ideal, but because the
cut-off strings appear on the last screens, they’re not such a big problem.
- I do wonder if there's a distraction factor here. The trun

[2018-05-14 18:08] samirm commented on #2534
what is a smart app supposed to be? PWA?

[2018-05-14 21:28] #2606 closed

[2018-05-14 22:03] ekager opened #2614 "Update targetSdkVersion to 26"
### Why/User Benefit/User Problem
- Needs to be done by November to meet GP requirements.

### What / Requirements
targetSdkVersion needs to be updated to 26. There may be issues found in this transition.

### Acceptance Criteria (how do I know when I’m done?)
targetSdkVersion is 26

[2018-05-14 22:06] ekager opened #2615 "When using a screenreader, elements behind first run fragment are usable"
Breakout from #2553
### First Time Use ###

The first time use UI is superimposed on the main interface which is not appropriately hidden and remains "visible" to TalkBack. I hear "Search or enter address, Edit box" when the app first opens

<img alt="I hear Search or enter address, Edit box when the app first opens" src="https://user-images.githubusercontent.com/5764/39451970-67af39b2-4c85-11e8-8

[2018-05-14 22:30] ekager opened #2617 "Remove "feedback" from Mozilla Settings page String"
Talked to @brampitoyo and since we don't currently have a feedback feature, the String should read "About Firefox Focus, help"

[2018-05-14 22:34] ekager commented on #1294
Closed by #2590

[2018-05-14 22:34] #1294 closed

[2018-05-14 22:34] ekager commented on #1205
Closed by #2590

[2018-05-14 22:34] #1205 closed

[2018-05-14 22:59] #2614 closed

[2018-05-14 23:16] #2617 closed

[2018-05-14 23:48] ekager commented on #2445
Closed by #2572

[2018-05-14 23:48] #2445 closed

[2018-05-15 02:03] Delphine commented on #2505
I'll ask localizers to check and try to shorten those as much as possible.
However please note: I really don't have the bandwidth to go over 7 strings for each and ever one of our 81 different locales, to check which ones are truncating and which ones are not - and then later compare the results.
So we'll have to see if most of them stop truncating or not, in an approximative way
(also note one of

[2018-05-15 03:56] brampitoyo commented on #822
@pocmo wrote:

I agree with you. Matching mental model of how all in-product menu items behave (ie. only valid for the current tab) is super important. Let’s go with this behaviour.

Sorry @ekager for the confusion!

[2018-05-15 07:01] bbinto commented on #2534
Hi @samirm - Smart App Banner refers to the prompt that happens on mobile browsers when you get to a website that wants you to download their app.

[2018-05-15 07:50] jsalatiel opened #2619 "Add find/search in page button in menu"
Please add an find/search button in menu so i can search for some text in the current page.

[2018-05-15 07:53] RomanWuattier commented on #2607
Following #2378, can I work on this one?

I already started in #2378. That is the state of affairs.

- [ ] Grab a screenshot
The screenshot is always transparent for now
- [x] Post the screenshot

[2018-05-15 12:28] pocmo commented on #2607
@RomanWuattier Yes, you can take it. I'm not sure whether this is ready yet though. This needs to run in a GeckoView build and afaik we can't inject JavaScript yet.

[2018-05-15 12:31] pocmo commented on #2619
Duplicate of #967

[2018-05-15 12:31] #2619 closed

[2018-05-15 17:31] kai-chi opened #2620 "Cannot add a link to Home screen if the screen has no space left"
### Steps to reproduce
1. Fill your home screen with apps so it doesn't have any space left
2. Open Focus and go to any website
3. Try to add a link to it using "Add to Home screen" -> "Add"
4. The phone goes back to home screen and you can see a toast "No space left on current screen."

### Expected behavior
A new home screen page is created and the link is added there. (This is the behavior of G

[2018-05-15 17:49] pocmo commented on #2174
https://bugzilla.mozilla.org/show_bug.cgi?id=1441810

[2018-05-15 17:52] bbinto commented on #2221
@ekager will verify if this has been fixed and close accordingly.

[2018-05-15 17:57] bbinto commented on #2151
@pocmo to confirm in documentation how to proceed / what still needs to be done.

[2018-05-15 17:59] eamsen commented on #2196
We don't block Disconnect category trackers because they are neither mapped to the existing blocklists (ad, social, analytic, content) nor served as a separate blocklist by shavar. That's currently blocked on https://bugzilla.mozilla.org/show_bug.cgi?id=1459037.

[2018-05-15 18:00] #1904 closed

[2018-05-15 21:28] #2447 closed

[2018-05-15 22:02] ekager commented on #2097
This seems to be working now with the example provided by @Sdaswani , please reopen if you find otherwise.

[2018-05-15 22:02] #2097 closed

[2018-05-15 22:07] ekager commented on #2221
I am able to download files, please reopen if you find this is still a problem.

[2018-05-15 22:07] #2221 closed

[2018-05-15 22:08] #2103 closed

[2018-05-15 23:08] boek commented on #967
# In Focus
- [ ] Menu Item to toggle find in page (s)

# In a component
- [ ] Find in page UI (above keyboard) (s)
- [ ] JavaScript to find, highlight and jump to search query (m)
- [ ] Glue code to sync the android UI and JavaScript (m)

[2018-05-16 00:51] brampitoyo commented on #2505
@Delphine Thanks a lot. Yes, I completely understand your situation, and am happy to do some of the checking for you manually!

@BrianNJones, when we try to go from Remove search engine | Remove, and Add search engine | Add, I think that we’ll save a significant amount of space!

Example mock in 4 locales:

<img width="1724" alt="screen shot 2018-05-16 at 12 47 23 pm" src="https://user-images.gith

[2018-05-16 10:09] pocmo commented on #2151
[code]

In Fennec activities using GeckoView throw an IllegalStateException here because they prevent new sessions to be created from `onLoadRequest`().

[2018-05-16 10:14] pocmo commented on #2150
[code]

In our case we should just ignore this callback.

[2018-05-16 13:28] RomanWuattier commented on #2607
Indeed, I wasn't working with GeckoView build till now. Should I wait for a GeckoView update?

[2018-05-16 15:39] pocmo commented on #2607
I filed a bug to get screenshot support in GeckoView:
https://bugzilla.mozilla.org/show_bug.cgi?id=1462018

[2018-05-16 19:27] boek opened #2625 "Create menu item to initialize find in page"
For #967
---

![image](https://user-images.githubusercontent.com/1250545/40139338-5fe9be92-5904-11e8-8b02-2bfc74f5e06e.png)

[2018-05-16 19:27] boek opened #2626 "Create find in page UI"
For #967
---
![image](https://user-images.githubusercontent.com/1250545/40139383-889a7e44-5904-11e8-8b9b-4e549988b453.png)

[2018-05-17 03:39] brampitoyo commented on #2505
@Delphine and I talked today and managed to isolate the specific string IDs that our localisers can try to shorten.

### Summary

Recall our root issue. It came from the fact that each string showed up in at least two places: one for menu item, one for the page title. And the latter truncated.

Some of these strings have separate IDs. This means that it’s easy to re-translate and shorten one insta

[2018-05-17 03:43] brampitoyo commented on #2452
This is the newest iteration of the design that we should use:

<img width="791" alt="cookies 2x" src="https://user-images.githubusercontent.com/51007/39460428-6180599a-4d57-11e8-9ffb-d9202ce0e33e.png">

[2018-05-17 03:45] brampitoyo commented on #2569
Issue #2452 will already solve this problem. Looks like I’ve double-filed. Closing this issue.

[2018-05-17 03:45] #2569 closed

[2018-05-17 07:54] bbinto commented on #2573
@fbertsch -- could you please elaborate more on the problem that this finding reveals, and what the solution is to fix it?

To repeat in my own words what you said: So is your feeling that the long sessions are actually not "real" and are caused by a specific timestamp issue (that I don't understand yet).

Thanks :)

[2018-05-17 17:18] boek commented on #2560
Hey @pocmo, do you remember what `plural_rule` is in this structure? I was talking with Delphine and she wasn't sure either.

[code]

[2018-05-17 17:37] pocmo commented on #2560
Yes!

Those are locales where Android2Po (a2po) has no information about. Here a2po needs to know how plurals are handled in those locales. So in our workaround we tell it to apply the rules from another locale it already knows about.

To know which locale to pick I looked at the po files in the l10n repository:
https://github.com/mozilla-l10n/focus-android-l10n/tree/master/locales

So for `ixl`:

[2018-05-17 17:41] boek opened #2627 "Get local names for tzs and ixl"
We need the locale name for tzs and ixl to add them to Focus.

related to #2560

[2018-05-17 19:49] Delphine commented on #2627
Purépecha (tsz) = "p'urhepecha"
Ixil (ixl) = "ixil"

[2018-05-17 22:49] Delphine commented on #2505
Thanks Bram for sending this out!
Some comments

Well, I wouldn't say it's "easy" because I think in some cases they won't be able to shorten it very much.  But at least, they should know that they should try :)
Also please note: if you just change the localization comment, unfortunately localizers won't get a notification and won't see it. Changing the string msgid would give them a notification

[2018-05-18 07:48] bbinto commented on #2575
@boek, can this be closed?

[2018-05-18 09:59] pocmo commented on #2560
From #2627:

[code]

[2018-05-18 09:59] pocmo commented on #2627
Copied them over to #2560

[2018-05-18 09:59] #2627 closed

[2018-05-18 10:19] pocmo commented on #2573
@pocmo just to confirm - the event time is time in ms, relative to process start time?

The "created" timestamp in the ping uses "current time in milliseconds" (+ separate timezone offset field):
* https://developer.android.com/reference/java/lang/System.html#currentTimeMillis()
* https://github.com/mozilla-mobile/android-components/blob/master/components/service/telemetry/src/main/java/org/mozill

[2018-05-18 14:33] fbertsch commented on #2573
@pocmo so the event timestamp is essentially `ms since first event`. `created` occurs after the first event, which explains why there are future events; we're adding an extra delta between `first event` and `created` to every event.

Can we populate the `processStartTimestamp` with the UNIX timestamp at time zero [0]?

[0] https://github.com/mozilla-services/mozilla-pipeline-schemas/blob/dev/schem

[2018-05-18 14:50] pocmo commented on #2573
@fbertsch Yeah, we can do that. I filed this issue:
https://github.com/mozilla-mobile/android-components/issues/190

Note that:

https://developer.android.com/reference/android/os/SystemClock

[2018-05-18 15:01] npark-mozilla commented on #2251
I'd say this is P3

[2018-05-18 16:09] boek commented on #1930
# Focus
- [ ] URL Overlay changes to support search suggestions
- [ ] Search suggestion / Autocomplete compatibility
- [ ] Search suggestion toggle in settings
- [ ] integrate suggestion service

# Components
- [ ] Suggestion Service

---

Do we want to do this @bbinto?

[2018-05-18 16:11] boek opened #2629 "Search suggestion UI in URL Overlay"
Part of #1930

- [ ] Search suggestion / Autocomplete compatibility

---

![image](https://user-images.githubusercontent.com/1250545/40245860-a40d102e-5a7b-11e8-99cb-06c1f0c65d9a.png)

![image](https://user-images.githubusercontent.com/1250545/40245791-6fc33dc0-5a7b-11e8-883e-2579cf13f046.png)

[2018-05-18 16:14] boek opened #2630 "Search suggestion toggle in settings"

[2018-05-18 17:11] boek commented on #2583
We took our Sentry and it looks like Focus is still stuck on the Google Play side. We're going to go to 100% on Monday see if that clears it up.

[2018-05-18 17:11] Sdaswani commented on #2505
@Delphine we spoke to @BrianNJones and he feels while there has been good progress this will probably stall a bit since Bram is on vacation, and won't be completed by the end of next week. If you disagree let me know, else I will push it into 6.0.

[2018-05-18 17:13] #2237 closed

[2018-05-18 17:14] #2235 closed

[2018-05-18 17:14] boek commented on #2555
So I took a look at this and it looks like the Preferences API doesn't allow you to assign an ID to anything. @pocmo Is there a preferred way to fix this? Or should I change it to a button?

[2018-05-18 17:14] Delphine commented on #2505
That sounds fine, I don't this this absolutely needs to be fixed immediately. Let's wait for Bram to come back from vacation. Thanks for asking Susheel! :)

[2018-05-18 17:14] Sdaswani commented on #2231
Not an issue.

[2018-05-18 17:14] #2231 closed

[2018-05-18 17:14] boek commented on #2575
Looks great! thank you!

[2018-05-18 17:14] #2575 closed

[2018-05-18 17:27] pocmo commented on #967
@boek WebView has APIs for find-in-page. You will not need to write JavaScript :)

* https://developer.android.com/reference/android/webkit/WebView.html#findAllAsync(java.lang.String)
* https://developer.android.com/reference/android/webkit/WebView#setFindListener(android.webkit.WebView.FindListener)
* https://developer.android.com/reference/android/webkit/WebView.FindListener

[2018-05-18 17:35] Sdaswani commented on #1118
@bbinto @brampitoyo is this something we still want to do since we are contemplating adding search suggestions in #1930 ?

[2018-05-18 17:36] Sdaswani commented on #467
Can't estimate yet, needs a breakdown.

[2018-05-18 17:36] Sdaswani commented on #467
@bbinto when should we spend the time doing a breakdown?

[2018-05-18 17:40] pocmo commented on #467
@brampitoyo I was just wondering: How does this work with multiple tabs? Do we restore all of them? Can you undo closing a single tab via back button?

[2018-05-18 17:40] Sdaswani commented on #2534
@pocmo how did your chat with the GV team go? https://github.com/mozilla-mobile/focus-android/issues/2534#issuecomment-386533688 Should @boek or @ekager pick it up if you haven't had a chance to talk to them yet?

[2018-05-18 17:42] Sdaswani commented on #1063
@bbinto this still needs some more investigation - do you want to spend time on it in 6.0?

[2018-05-18 19:00] pocmo commented on #2534
The result of the discussion was that this is a use case where it makes sense to load a webextension into GeckoView. However support for those APIs is a really big project - definitely not something that will be available in the short term.

[2018-05-18 22:48] Sdaswani commented on #2534
OK so it sounds like adding this feature is not a great idea until it's ready in GV @bbinto ?

[2018-05-20 19:41] mueller-ma opened #2631 "About pages are shown as insecure"
When I visit about:blank the connection is shown as insecure. As the about: pages are locally they aren't insecure.

[2018-05-20 19:46] mueller-ma opened #2632 "Search engine selection should be based on country"
Currently the available search engines are based on the language. I have set my phone to en-DE and I guess it makes more sense to have amazon.de (also available in english) as available search engine. I know that I can add all websites as custom search engine, but it should be listed by default.

[2018-05-21 15:41] pocmo opened #2633 "Pressing "back" does not dismiss text selection toolbar"
### Steps to reproduce

* Select text on a website
* Press "back" button

### Expected behavior

* The floating text selection toolbar should disappear

### Actual behavior

* WebView builds: We navigate back or leave the app
* GeckoView builds: We navigate back or leave the app AND the text selection toolbar is still visible; even if there's no web content shown anymore.

[2018-05-21 19:44] levimatheri opened #2634 "How to add class as a jar"
CustomDomains is contained within mozilla.components and is located in .gradle/caches/modules-2/files-2.1/org.mozilla.components. How does one add another item into org.mozilla.components so that it's seen by Android Studio?

[2018-05-22 08:41] pocmo commented on #2634
Everything in mozilla.components.* is from binaries pulled form jcenter (see build.gradle). If any of the components need to be modified then take a look at our components repository:
https://github.com/mozilla-mobile/android-components

[2018-05-22 08:41] #2634 closed

[2018-05-22 08:43] levimatheri commented on #2634
I see. Thank you

[2018-05-22 11:39] bbinto commented on #1063
Yes, @Sdaswani

[2018-05-22 11:48] bbinto commented on #467
@Sdaswani - We should probably chat with the team how much time we need to allocate roughly for issues that need to be broken down (see upcoming retro).

My general gut feeling is that the feature/issue is not that urgent (over other features), so I can hold off on that until we have a plan how to do breakdowns.

[2018-05-22 11:49] bbinto commented on #967
Given that exciting news, @boek any updates/revisions on the T-shirt size?

[2018-05-22 11:50] bbinto commented on #1118
@Sdaswani - Good point, putting it on the back burner for now.

[2018-05-22 12:19] npark-mozilla opened #2635 "Klar (Geckoview) crashes when trash icon is clicked after site is loaded"
### Steps to reproduce
- Do a fresh install of Klar
- Load website (e.g. cnn.com or buzzfeed.com)
- After loading is complete, press trash icon

### Expected behavior
- Goes back to the main view

### Actual behavior
- Goes back to the main view, then exits the app
- This only seems to happen with fresh install.

### Device information
- Pixel 2

Logcat is attached.  This also affects nimbledroid

[2018-05-22 13:30] Sdaswani commented on #467
@bbinto i think most breakdowns are probably a S (.5 to 1 day of work).

[2018-05-22 13:31] Sdaswani commented on #1063
OK, then we may want to move it to 5.2 so we can NI it before 6.0 .

[2018-05-22 14:11] Lululalu opened #2636 "Language leakage."
Firefox Focus leaks the system languages. By default it uses the system languages to ask the websites for a local version. It's ok, afterall it's your "default". But if I change the default language to Spanish for example, it continues to leak my system languages below.
![screenshot_20180522-110451_firefox klar](https://user-images.githubusercontent.com/32398857/40367991-3519f2f2-5dca-11e8-8523-3e

[2018-05-22 14:17] pocmo commented on #2636
What's your concern here? Do you consider the default languages to be sensitive information?

You could argue that this is a feature: You want web content in a language you can understand. And this may be multiple languages; not only the language you wanted the Focus interface in.

[2018-05-22 14:56] boek opened #2638 "Releng for 6.0"
## Overview ##
Code freeze for a milestone is the *second Friday of the sprint*, and most of releng happens between *Monday and and Thursday (of the next milestone)*, with the *Beta release Thursday*. Beta should be promoted to Release on the release date. String freeze is the *first Thursday* of the sprint, but can be pushed to the *second Wednesday* of the sprint if cleared with Delphine/L10N.

[2018-05-22 15:33] boek commented on #967
@bbinto This is still a large, was able to combine the two M's into one though :)

[2018-05-22 16:02] pocmo commented on #2632
Okay, thanks! In this case I'm closing this issue for now. We just managed to get into a state where we use list.json across all our products and I do not want to diverge from that again. :)

[2018-05-22 16:02] #2632 closed

[2018-05-22 17:44] bbinto commented on #2620
@kai-chi - what kind of a launcher do you use?

[2018-05-22 17:51] bbinto commented on #2604
@bbinto to reply that cache and data is indeed all erased after hitting the trash icon.

[2018-05-22 17:58] bbinto commented on #2596
@Sdaswani to confirm with reporter.

[2018-05-22 17:58] bbinto commented on #2595
@Sdaswani to confirm with reporter

[2018-05-22 20:02] kai-chi commented on #2620
@bbinto it's "Huawei Home"

[2018-05-22 20:48] Lululalu commented on #2636
It's not sensitive, but it can be used to fingerprint I think. And Firefox Focus is a private browser.

[2018-05-23 00:00] digitarald opened #2647 "Enable remote debugging"
### Why/User Benefit/User Problem

Klar has to have a way to enable remote debugging, both for content debugging and performance profiling.

### What / Requirements

Add an option to enable remote debugging for Klar, possibly via commandline.

### Acceptance Criteria (how do I know when I’m done?)

Firefox can remote debug Klar via USB.

Note: [Bug 1462019](https://bugzilla.mozilla.org/show_bug.cg

[2018-05-23 00:04] birtles commented on #2647
/cc @hiikezoe @arai-a @makotokato

[2018-05-23 02:46] fbertsch commented on #2573
@pocmo great, that's helpful. Thanks for the doc link. Given that we _have_ to use something from the client it'll have to be best-effort.

I've created a bug for using it in Amplitude: https://bugzilla.mozilla.org/show_bug.cgi?id=1462684

[2018-05-23 07:02] Mugurell commented on #2595
To confirm, this is exactly what happens to Chrome 66 on Android also:
![chrome66_broken_datepicker](https://user-images.githubusercontent.com/11428869/40408368-f4efc516-5e6f-11e8-8d41-d9b92666697a.gif)

I only got to this on Focus because we received tickets about it for Fennec and was curious how Focus dealt with it.

Because all 3 browsers are using platform's APIs (broken), all seem to be affe

[2018-05-23 07:03] Mugurell commented on #2596
To confirm, this is exactly what happens to Chrome 66 on Android also:
https://user-images.githubusercontent.com/11428869/40408520-8d219d82-5e70-11e8-9bdf-06850d2f3a52.gif

I only got to this on Focus because we received tickets about it for Fennec and was curious how Focus dealt with it.

Because all 3 browsers are using platform's APIs (broken), all seem to be affected by the same inherent bugs.

[2018-05-23 07:44] RomanWuattier opened #2648 "Klar update URL while loading localized content page"
### Steps to reproduce
Make a search with `focus:about`

### Expected behavior
When the page is loaded, the URL should be displayed as `focus:about`

### Actual behavior
When the page is loaded, the URL is displayed as `data:text/html;base64,...`

### Device information
OnePlus 5, Android 8

![capture d ecran 2018-05-23 a 09 40 07](https://user-images.githubusercontent.com/13521751/40410342-d70f21

[2018-05-23 14:10] bbinto commented on #467
Breakdown should happen for 6.0 sprint (no real urgency)

[2018-05-23 14:12] bbinto commented on #967
@boek - thanks. So should this be moved (and achievable) to be worked on in 6.0 sprint or 5.2?

[2018-05-23 16:01] snorp opened #2651 "URI scheme filtering causes erroneous "open in app" dialog"
With a GV build, if you click a javascript: link, for example, you get the external app dialog. I don't think Focus needs to do this kind of filtering at all, and instead rely on things like onExternalResponse().

[2018-05-23 16:28] boek commented on #967
@bbinto 6.0 sounds good. I have a few of the breakdown tickets that I’ve put into 5.2 and completed. I might get this done in 5.2 but I have a few other tickets I need to finish up first

[2018-05-23 17:04] ekager commented on #2564
Closed by #2565

[2018-05-23 17:04] #2564 closed

[2018-05-23 17:59] pocmo commented on #2651
May be related to #2413

[2018-05-23 18:40] gdevitis commented on #1712
In Firefox Focus 5.0, the problem is still present.

[2018-05-23 19:22] boek commented on #1712
Hey @gdevitis, I have this on my list of things for [5.2](https://github.com/mozilla-mobile/focus-android/milestone/23) and should go out in the next release!

[2018-05-23 21:12] Delphine opened #2654 "[l10n][New locale] Pai pai"
Just added Pai pai to Focus Android on Pontoon: https://pontoon.mozilla.org/pai/focus-for-android/
They'll be needing screenshots for now, before being added to the list of shipping locales.
Note: I'm also asking the community how "Pai pai" is said locally, since I assume you'll need to know that for that locale.
Thanks!
(CC @pocmo)

[2018-05-23 22:45] ghost opened #2655 "Block images for security and data savings"
Can you please Implement an option to disable images for better security/privacy and to save mobile data?

[2018-05-24 01:15] npark-mozilla opened #2656 "Going to https://mozilla.org causes 'secure connection failed error'"
### Steps to reproduce
- Open Focus, go to https://mozilla.org

### Expected behavior
- redirects properly to https://www.mozilla.org

### Actual behavior
- Shows "Secure Connection Failed' error

### Device information
- Pixel 2, Android simulators

I believe this is a regression, since it was found when running the automated UI tests.  When tests were first written, they were able to open mozill

[2018-05-24 09:35] gupta1anubhav opened #2657 "Telemetry error at Gradle Build"
Gradle error at building FocusWebUnviersalDebug or any other build variant.

![screenshot from 2018-05-23 15-36-28](https://user-images.githubusercontent.com/31107831/40477324-cd0fc060-5f63-11e8-8b99-dc27ccf51838.png)

[2018-05-24 10:07] pocmo commented on #2657
See https://github.com/mozilla-mobile/android-components/issues/208

[2018-05-24 10:07] pocmo commented on #2654
Yep. Thank you!

[2018-05-24 11:18] bbinto commented on #2573
@fbertsch thanks for the details, still I'm unfortunately not able to translate this into
a question/observations for me (sorry :)), e.g.

- What does that mean for product and making decisions based on telemetry events I'm seeing?
- Ok, so seeing longer sessions is a result of this issue and therefore could mean that people actually don't stay that long in the app after all? Will this issue autom

[2018-05-24 15:42] pocmo opened #2659 "Create "public" Nightly channel for Focus/Klar with GeckoView"
Setup:

* [x] Create a new Nightly track on Google Play
* [x] Create a public Google Group for Nightly testers
* [x] Link the track to the Google Group
* [x] Setup the Nightly build pipeline to upload GeckoView builds to the new track

Cleanup:

* [ ] Close down the internal Nightly track.

[2018-05-24 16:15] gupta1anubhav commented on #2657
Got it

[2018-05-24 16:56] ekager commented on #2656
Both @pocmo

[2018-05-24 16:59] Delphine opened #2660 "[l10n][New Locale] Afrikaans (af)"
Just added Afrikaans to Pontoon: https://pontoon.mozilla.org/af/focus-for-android/
They'll be needing screenshots for now, before being added to the list of shipping locales.
Thanks!
(CC @pocmo)

[2018-05-24 18:04] #2648 closed

[2018-05-24 18:11] ekager commented on #2596
Should we file a bug with the Android/Chromium team @pocmo for this and #2595 ?

[2018-05-24 18:55] ekager commented on #2656
In Lightning Browser you encounter the same thing they just give an opportunity to ignore the certificate error and we don't.

![screenshot_20180524-115107](https://user-images.githubusercontent.com/25442310/40505503-3ffce3de-5f49-11e8-84fc-eeb923f92b92.png)

[2018-05-24 18:59] ekager commented on #2656
And if you choose to proceed anyway, it then redirects to the correct site.

[2018-05-24 20:18] april commented on #2656
Fairly certain that this is because mozilla.org isn't including the intermediate certificate in its certificate chain, when you connect to it.

Desktop browsers will do AIA chasing (or often already have it cached), but it can lead to this error in cases where that isn't available. Let me track someone down.

[2018-05-24 20:31] fox2mike commented on #2656
Thanks for the ping, @april. We're looking into it and will keep you folks posted. This change was made about 9 days ago FWIW.

[2018-05-24 20:38] ziegeer commented on #2656
Intermediate cert is in place now, thanks for catching that.  It works for me now, can someone else verify?

[2018-05-24 20:40] ekager commented on #2656
Confirmed that it works! Thanks everyone :)
Closing

[2018-05-24 20:40] #2656 closed

[2018-05-24 23:34] ekager commented on #2651
Yes this and #2413 can be fixed by removing filtering for `IntentUtils.handleExternalUri` but this is how we handle external links like `market://` URLs (see #2258).

[2018-05-24 23:41] ekager commented on #2651
We could also extend our permitted protocols. https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/utils/UrlUtils.java#L108

Was it a conscious decision to not allow `javascript

[2018-05-25 10:47] pocmo commented on #2651
No, it was more the opposite: Explicitly only allow what we want to allow. We do not want to open javascript: links coming from other apps but if they are clicked in content then it makes a lot of sense to allow them. I actually do not know if this works in WebView or if it never asks us about javascript links?

[2018-05-25 11:48] pocmo commented on #2596
Yes! Let's file this there:
https://bugs.chromium.org/p/chromium/issues/list

[2018-05-25 13:48] bbinto opened #2662 "Breakdown for feature issue: Undo erase while snackbar is showing #467"
Breakdown as discussed [here](https://github.com/mozilla-mobile/focus-android/issues/467#issuecomment-391361447)

Scope - restore as much as possible (multiple tabs, history of each session, etc).

- [ ] Add "undo" action to snackbar
- [ ] Implement undo based on scope.
- [ ] UX / animation for "reverse" action detailed [here](https://github.com/mozilla-mobile/focus-android/issues/467#issuecomment

[2018-05-25 13:55] bbinto commented on #2297
@pocmo + @brampitoyo is this UX-approved and good to go for eng?

[2018-05-25 16:13] #2625 closed

[2018-05-25 16:13] #2583 closed

[2018-05-25 16:15] #2626 closed

[2018-05-25 16:39] boek commented on #1712
closing this in favor of  mozilla-mobile/android-components#229

PR open: https://github.com/mozilla-mobile/android-components/pull/230

[2018-05-25 16:39] #1712 closed

[2018-05-25 16:49] pocmo commented on #2555
@npark-mozilla Yeah, I remember we had to close a similar issue in the past. Do you remember how we solved this? Unfortunately we do not have much control over how Android builds the settings UI. Do you think there are other options how we can select that item? I also wonder why we do onData(anything()) here. Did we try onData(withText(..)) and does this try to scroll?

[2018-05-25 17:05] boek commented on #2635
@npark-mozilla verify that its fixed

[2018-05-25 18:35] ekager commented on #2651
The same happens in WebView. We can remove the Klar+GeckoView specific label

[2018-05-25 19:25] npark-mozilla opened #2663 "Klar Geckoview crashes while nimbledroid run after pm clear <pkg> and load website"
STR:
Nimbledroid script does the following:

    visit www.google.com
    visit website (i.e. cnn.com, buzzfeed.com)
    do 'adb shell pm clear org.mozilla.klar' (closes the app and removes the process from memory)
    visit www.google.com again
    visit next website in the list
    Expected:
    Website opens normally
    Actual:
    Klar crashes

This doesn't happen with Focus, and we suspect i

[2018-05-25 19:28] npark-mozilla commented on #2635
Actually, this is still here, I can repro this on release Build.

[2018-05-25 19:32] npark-mozilla commented on #2635
But it looks like it's an intermittent issue - I can only repro this only a handful of times.

[2018-05-25 19:37] npark-mozilla commented on #2635
05-25 15:34:52.985 19432 19458 I nsScreenManagerAndroid: nsWindow[0x91bd8970]::Resize [0.000000 72.000000 1080.000000 1704.000000] (repaint 0)
05-25 15:34:53.225 19465 19493 D GeckoViewContent[C]: handleEvent: DOMTitleChanged
05-25 15:34:53.236 19432 19458 D GeckoViewProgress: onStateChange: isTopLevel=false, flags=0xc0010, status=NS_OK
05-25 15:34:53.291 19432 19458 D GeckoViewProgress: onStateCh

[2018-05-25 20:44] npark-mozilla opened #2664 "first launch screen pops up when opening a website on UI Test in Klar Geckoview"
When running UI Tests on Klar Geckoview, first launch screen pops up when URL is entered, when first launch screen is suppressed with
` PreferenceManager.getDefaultSharedPreferences(appContext)
                    .edit()
                    .putBoolean(FIRSTRUN_PREF, true)
                    .apply();
'
in `beforeActivityLaunched()`

### Steps to reproduce
- Uninstall existing Klar Geckoview on

[2018-05-25 21:02] Delphine commented on #2654
Name would be: paa ipai

[2018-05-25 21:03] npark-mozilla commented on #2555
Hmm I don't remember how we fixed it - I think we worked it around at the time by using the index of the elements.  I'm seeing this kind of issues on 'Block * trackers' switch in new Privacy & Security submenu as well.
` UiObject blockAnalyticTrackerEntry = TestHelper.settingsList.getChild(new UiSelector()
                .className("android.widget.LinearLayout")
                .instance(2));
`
a

[2018-05-25 21:06] npark-mozilla commented on #2663
This issue might be also related to #2635

[2018-05-25 22:47] Delphine opened #2666 "[l10n] Some locales missing from language list"
Seems like there are at least two locales missing from the builds (both release and Nightly): "zam" and tsz" although they are listed in [locales.py](https://github.com/mozilla-mobile/focus-android/blob/master/tools/l10n/locales.py).
Maybe there are more, but I was only able to identify these two for now.

Since they are both "lesser" known languages that Android doesn't offer, I'm guessing this m

[2018-05-25 23:36] ekager commented on #2664
This has something to do with the `preload` call that we make and if you remove this call and init `geckoRuntime` in `GeckoWebView` init then the issue is resolved.

[2018-05-28 05:58] brampitoyo commented on #1930
Just something to keep in mind:

On Focus for iOS, the active URL bar area is going to contain quite a lot of functionalities. It already has “Copied link”, but will have have “Find in page” and “Add custom URL” in the future.

For feature parity, Focus for Android may want to consider adding the above two functionalities. However, if we’re already going to show 4–5 or more search suggestions in t

[2018-05-28 07:46] pocmo opened #2668 "'af' missing in SCREENSHOT_LOCALES"
Blocking string import.

[2018-05-28 07:47] pocmo opened #2669 "ixl, tsz missing in imported locales"
From strings import:

[code]

[2018-05-28 10:32] #2668 closed

[2018-05-28 10:33] pocmo commented on #2657
This is fixed in master now.

[2018-05-28 10:33] #2657 closed

[2018-05-28 12:59] bbinto commented on #2297
@ekager could you give an estimate based on Bram's latest comments, are will eyeballing an M?

[2018-05-28 14:57] pocmo commented on #2660
Added "af" to list of screenshot locales in 045d0d54f98ea3635062eb0e0f769c23d32b3f49

[2018-05-28 15:00] pocmo commented on #2655
Probably a duplicate: #2001, #836, #188

Background: We added this feature in 1.0 and then decided to not ship it because of some usability issues.

[2018-05-28 19:49] kai-chi commented on #2074
what is the status of it? I'd like to take that but I can't reproduce the issue on my phone. I've tried with a plethora of browsers and they all get listed. Is there any specific that I can try with?

Phone: Huawei p10 lite
Android: 7.0
Focus: 5.0

[2018-05-29 00:34] brampitoyo commented on #467
@pocmo wrote:

We should restore all the tabs in the session that was just deleted – restoring as much as possible, essentially.

I don’t think the back button should be used for an “Undo” action. If the user doesn’t click “Undo”, then the Back button would just quit the app (rather than restore the previous session).

[2018-05-29 00:49] brampitoyo commented on #2505
Hi @Delphine, I was back from vacation yesterday but didn’t quite get to this issue until today. Hope that’s okay!

Your proposal was:

I agree. Let’s do this, then wait for their work on Pontoon (we can check how many problematic strings stay the same after your email – this means that it’s simply impossible to shorten) and also wait for the new batch of screenshot (maybe it will fix it in some l

[2018-05-29 00:58] brampitoyo commented on #1118
@Sdaswani Actually, I think that this is something that we still want to do one day.

The only way it may be related to search suggestions, is if the suggestions occupy so much vertical space (let’s say that there are 5–6 suggestions) that it cuts off “URL you copied”.

[2018-05-29 04:32] Sdaswani commented on #2074
@codebam any advice on how to repro? Maybe @npark-mozilla has reproduced this?

[2018-05-29 08:10] codebam commented on #2074
@Sdaswani I put fairly clear steps in the 3rd comment from the top. Is there something else you need?

[2018-05-29 08:21] codebam commented on #2074
Yeah okay, I just reproduced it. Using [chromium-caf](https://forum.xda-developers.com/android/apps-games/app-chromium-snapdragon-t3600159) and [chromium](https://chromium.woolyss.com).

I'd assume other browsers on F-Droid and the like are unsupported as well.

Expected behavior would be that all browsers would be supported, not just the ones that are whitelisted

[2018-05-29 08:55] kai-chi commented on #2074
@codebam, I went through all the steps with chromium-caf and everything works. The browser is listed and opens any link.
Also, other browsers that I downloaded and are not in the hardcoded list are visible - Kiwi, Yu, Brave...

[2018-05-29 09:24] pocmo opened #2671 "Security indicator (globe/lock) and doorhanger not shown on tablets"
![device-2018-05-29-112410](https://user-images.githubusercontent.com/89638/40650150-e1e4b1ee-6332-11e8-8c94-58f0e325ad17.png)

[2018-05-29 13:15] npark-mozilla opened #2672 "Investigate: UI Test freezes with black screen when moving to next test"
This isn't strictly a bug, since I found a workaround for this, but reporting because it didn't happen before, and it might be a symptom of another bug.

### Steps to reproduce
- Certain tests, like ImageSelectTest.java, fails to execute the next test after completing the first test in  the file.  It starts up Focus, then the screen goes black, and becomes unresponsive.  The test fails with "Test

[2018-05-29 14:12] pocmo commented on #2074
This depends on the Android version. On some versions the system query we use returns all browser and on some it does not (that's why we check against our hard-coded list).

[2018-05-29 14:15] pocmo commented on #467
Oh, sorry, what I meant was:

* Open a website (tab A)
* Open a new tab by long-pressing a link (tab B)
* Click back button
* -> We close the tab A and you are back in tab B.

Is this something we would want to allow to undo too?

[2018-05-29 14:38] pocmo commented on #2495
The GeckoView API for this should be available now.

[2018-05-29 15:58] npark-mozilla commented on #2292
Reopening this issue. this happens on Nexus 5X API 24 simulator again.

[2018-05-29 16:46] ekager commented on #2297
I think a S. Do we want to pull this into 6.0?

[2018-05-29 17:02] bbinto commented on #2297
I'd <3 that

[2018-05-29 17:35] #2560 closed

[2018-05-29 17:43] bbinto commented on #2655
@soaringowl2145 could you please fill out our feature request template:

### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2018-05-29 17:48] bbinto commented on #2647
@digitarald - Harald, are you talking about GeckoView?

[2018-05-29 17:53] digitarald commented on #2647
This applies to the GeckoView version of Klar, yes.

Yes, Fennec has this setting in the Advanced settings group. Meanwhile a launch intent that sets the flag could also help internal developers.

[2018-05-29 20:04] #2671 closed

[2018-05-29 20:04] #2615 closed

[2018-05-29 21:55] cpeterso commented on #2638
@boek - Is this the releng tracking issue for v6.0 (as the summary says) or v7.0 (as the milestone says)?

[2018-05-29 22:07] brampitoyo commented on #2636
I don’t think this needs another privacy/security setting menu item.

Meaning: if we choose not to broadcast the system language information along with the user selected language to the website, it should be a policy that applies to the whole product. There should not be a way to turn it off or on, I think.

In this scenario, we assume: if the user modifies the language away from “System default”,

[2018-05-29 22:07] ekager commented on #2638
You do the 6.0 releng process as part of the 7.0 sprint :)

[2018-05-29 22:28] brampitoyo commented on #467
@pocmo Right. When a tab is closed via a back action, should we show a snackbar that says “Tab closed”, and then allow the user to undo it?

I think that this isn’t necessary, actually. What do you think?

[2018-05-30 08:09] kai-chi commented on #2074
@pocmo, is it a known list of Android versions that doesn't list all the browsers?
@codebam, can you write your configuration so I can try it on a simulator?

[2018-05-30 08:49] codebam commented on #2074
@kai-chi I'm currently on Android P Preview on Pixel XL, but I had this issue back in January on 8.1 as well

[2018-05-30 09:30] pocmo commented on #2636
Related:
* Explanation of the Accept-Language header: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language
* A related issue in the Tor browser tracker: https://trac.torproject.org/projects/tor/ticket/14351

The Tor browser seems to always only send this hard-coded very common value:

```Accept-Language:    en-us,en;q=0.5```

We may want to wrap this into fingerprinting protec

[2018-05-30 09:35] pocmo commented on #2074
It should be Android 6+. This blog posting describes the issue we have been seeing:
https://medium.com/google-developer-experts/intent-resolving-in-android-m-c17d39d27048

[2018-05-30 09:38] pocmo commented on #467
Yeah, I'm okay with that decision. I just wanted to make sure we are explicit about that. :)

[2018-05-30 09:40] pocmo commented on #2638
Yeah, the milestone is used for tracking the sprint. Read it was: *"work we want to do while working on 0.7"* -> After we have finished 0.6 we are going to make sure we release it (while working on 0.7 already).

[2018-05-30 20:57] codebam commented on #2074
So from my understanding all Android versions from 6.0 have issues querying the list of browsers using the method that's in Focus? @pocmo

Can the new method be used instead as explained in that article?

[2018-05-30 22:07] cpeterso commented on #2635
I filed [GeckoView bug 1465626](https://bugzilla.mozilla.org/show_bug.cgi?id=1465626) to track this crash.

[2018-05-30 22:14] cpeterso commented on #2663
I filed [GeckoView bug 1465627](https://bugzilla.mozilla.org/show_bug.cgi?id=1465627) to track this crash.

[2018-05-30 22:16] cpeterso commented on #2638
I see. Thanks! 👍

[2018-05-30 22:38] cpeterso commented on #2506
@ekager I don't see a GeckoView bug either, so I filed one:

https://bugzilla.mozilla.org/show_bug.cgi?id=1465634

[2018-05-30 22:48] brampitoyo opened #2676 "[meta] Refresh visual design to optimise for Android P"
### Why/User Benefit/User Problem

* Our visual design is not yet optimised for the upcoming version of Android
* When Android P is released, our users may not feel as confident using our browser as they are using another product

### What / Requirements – List of screens

#### URL bar

* [x] #2677 URL bar – active (initial state only)
* [x] #2678 URL bar – active (typing)
* [x] #2679 URL bar – lo

[2018-05-30 23:00] brampitoyo opened #2677 "Redesign URL bar – active (initial state only)"
Old:

<img src="https://user-images.githubusercontent.com/51007/40751845-17344848-64c1-11e8-9fe8-2ad76a8c3486.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40751850-1f438102-64c1-11e8-957c-3d2cce91e082.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/41008740-c039b82e-6980-11e8-9399-e0ba2771752b.png" width="360">

[2018-05-30 23:07] brampitoyo opened #2678 "Redesign URL bar – active (typing)"
Old:
<img src="https://user-images.githubusercontent.com/51007/40752112-4d942f92-64c2-11e8-8412-99a59df50f1f.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40752207-b2849dd8-64c2-11e8-9279-3ebcce6c20f2.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40752177-8709b666-64c2-11e8-81d9-6a2139bf6044.png" width="360">

[2018-05-30 23:27] brampitoyo opened #2679 "Redesign URL bar – loading"
Old:

<img src="https://user-images.githubusercontent.com/51007/40752266-e02e38f2-64c2-11e8-8ec3-d14e4718e707.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40752545-1eab8926-64c4-11e8-9891-0e633bc2dabb.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40752270-e5f974d6-64c2-11e8-8b2c-5a8984f090b0.png" width="360">

[2018-05-30 23:33] brampitoyo opened #2680 "Redesign URL bar – site loaded, Tracking Protection ON"
Old:

<img src="https://user-images.githubusercontent.com/51007/40752956-f1e11058-64c5-11e8-9bea-8bee35e5aca8.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40753058-68907e78-64c6-11e8-9f8d-79f0f45025f7.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40752957-f360fb82-64c5-11e8-9088-8386ba6868d7.png" width="360">

[2018-05-30 23:35] brampitoyo opened #2681 "Redesign URL bar – site loaded, Tracking Protection OFF"
Old:

<img src="https://user-images.githubusercontent.com/51007/40753089-8f7de5b6-64c6-11e8-9b5f-cc82f5b25f3f.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40753108-a71c28ea-64c6-11e8-94b9-b0d667e21a1b.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/41273285-f6b8aaf4-6e6c-11e8-8559-7ce4710eef44.png" width="360">

[2018-05-30 23:41] brampitoyo opened #2682 "Redesign FAB – Erase"
Old:

<img src="https://user-images.githubusercontent.com/51007/40753253-4c15998a-64c7-11e8-9353-7a36e7edb0bf.png" width="72">

New:

<img src="https://user-images.githubusercontent.com/51007/40753243-3ef8a698-64c7-11e8-8edd-fa0c7a3223eb.png" width="72">

Asset: [Delete.svg](https://design.firefox.com/icons/viewer/#delete)

[2018-05-31 00:02] ekager commented on #821
I believe fixed by #946

[2018-05-31 00:02] #821 closed

[2018-05-31 00:03] brampitoyo opened #2683 "Redesign FAB – Multitasking (number of tabs)"
Old:

<img src="https://user-images.githubusercontent.com/51007/40753379-ef4a4060-64c7-11e8-9b01-487e40003b3f.png" width="72">

New:

<img src="https://user-images.githubusercontent.com/51007/40753788-029f30a6-64ca-11e8-85b5-db5ea41a36da.png" width="72">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40753814-19a42e00-64ca-11e8-8d1e-5d19ac015b9e.png" width="180">

Asset: [Tab.sv

[2018-05-31 00:12] brampitoyo opened #2684 "Redesign menu & dialog – Multitasking (list of tabs)"
Old:

<img src="https://user-images.githubusercontent.com/51007/40754252-6f135134-64cc-11e8-8369-9f9f6a8e700b.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40754254-71b1229a-64cc-11e8-9200-ec49e0a4822a.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40754197-246f16cc-64cc-11e8-921b-c15f6c0509c1.png" width="312">

Just a note

[2018-05-31 00:51] brampitoyo opened #2685 "Redesign menu & dialog – Main menu"
Old:

<img src="https://user-images.githubusercontent.com/51007/40755102-f20bd6b6-64d0-11e8-9177-f9fda2cc27ad.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40755104-f4d9b930-64d0-11e8-9af1-d46643a135ae.png" width="360">

Spec:

<img src="https://user-images.githubusercontent.com/51007/40755195-6cf72646-64d1-11e8-9646-21fc87c3bc4f.png" width="300">

Assets:

* [

[2018-05-31 02:08] brampitoyo opened #2686 "Redesign menu & dialog – Context menu"
Old:

<img src="https://user-images.githubusercontent.com/51007/40757106-0d6309ca-64db-11e8-99da-07aef33c905f.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40757112-121fc84a-64db-11e8-8a7f-827d13bd18ac.png" width="360">

Specs:

<img src="https://user-images.githubusercontent.com/51007/40757315-fdae31f2-64db-11e8-8205-29a94d4fff73.png" width="360">

[2018-05-31 03:16] brampitoyo opened #2687 "Redesign page – Settings"
Old:

<img src="https://user-images.githubusercontent.com/51007/40759262-66850cc4-64e5-11e8-8fc8-65241e2bcc8d.png" width="360">

New:

<img src="https://user-images.githubusercontent.com/51007/40759285-91154198-64e5-11e8-917a-b7929170e98f.png" width="360">

Specs:

<img src="https://user-images.githubusercontent.com/51007/40759266-6d83ef86-64e5-11e8-812c-c406354d7cec.png" width="360">

Assets:

*

[2018-05-31 06:00] gdevitis opened #2688 "Horizontal scroll page issue"
Horizontal scroll does not work on some web pages.
For example, accessing this page https://www.vascorossi.net/it/home/1-0.html with Firefox Focus makes it impossible to move horizontally or pinch and zoom.
On Google Chrome instead all these features work correctly.

[2018-05-31 11:32] bbinto commented on #1216
Another one

"It was great at first, but then my phone started to be warm and it sucked
27% of my battery in a day (according to the android battery manager) and I
did not even use it that day. Also I would appreciate the possibility to
close the app once I click the trash icon."

[2018-05-31 11:34] bbinto commented on #1312
More GPS comments

"There is one big design flaw that stupid delete and exit button that sits
in the bottom right hand corner. It's way too easy to accidentally tap it
and uninentionally causing you to loose your work . This has happened just
after exit from the onscreen keyboard. Why is this not an option I can turn
off. What idiot designer thinks floating buttons are a good idea why can't
we sti

[2018-05-31 13:08] npark-mozilla commented on #1216
One thing I noticed (this could be unrelated btw) is that the Focus instance started with custom tabs stays active unless the user explicitly kills it in the recent apps list.  I wonder whether this might have something to do with battery life as well.

[2018-05-31 17:03] boek opened #2690 "implement find in page for GeckoView"
Blocked by: https://bugzilla.mozilla.org/show_bug.cgi?id=1463484

[2018-05-31 19:39] cpeterso commented on #2506
@ekager - The GeckoView team thinks that Focus should be able to workaround this in the app, since Focus controls the address bar's state and rendering, not GeckoView. Also, the Gecko module owners are unlikely to want to support changing history URLs.

[2018-05-31 19:56] cpeterso commented on #2114
The following bug will add GeckoView version information to the GeckoRuntime:

https://bugzilla.mozilla.org/show_bug.cgi?id=1465939

[2018-06-01 17:06] #2297 closed

[2018-06-01 17:27] Sdaswani commented on #2236
why yes @pocmo it is!

[2018-06-01 17:27] #2236 closed

[2018-06-01 17:29] Sdaswani commented on #2201
a dupe of something that was closed. closing.

[2018-06-01 17:29] #2201 closed

[2018-06-01 19:07] npark-mozilla commented on #2635
This is no longer reproducible in Klar release build. closing

[2018-06-01 19:07] #2635 closed

[2018-06-01 21:42] npark-mozilla commented on #2663
This is no longer reproducible on 5.31.18 GV

[2018-06-01 21:42] #2663 closed

[2018-06-01 22:21] Delphine commented on #2505
Sounds good, thanks for all the help with this!

[2018-06-04 11:31] bbinto commented on #1930
waiting for Android components team

[2018-06-04 11:31] bbinto commented on #2630
waiting for Android components team

[2018-06-04 16:49] #2631 closed

[2018-06-04 18:26] ekager commented on #2114
I added a quick fix for this, grabbing the version from gradle and adding it to BuildConfig, but keeping this open for when information is in GeckoRuntime.

[2018-06-05 04:27] brampitoyo commented on #2676
@Sdaswani @ekager @boek The theme design meeting happened last Friday US time. @aminalhazwani kindly presented the designs I’ve posted here.

As a result of that meeting, we’ve received the go-ahead to move forward – particularly with the dark blue (ink) colour scheme. We can now implement it using the specs provided.

Thanks for waiting!

[2018-06-05 04:37] brampitoyo commented on #2676
@bbinto Since these design changes are partly about design alignment with Photon, and partly about Android P, I think that we should start talking to the Play Store team right after we ship it on the Dev channel. If they’d like anything amended, we may expect some more design work to happen.

And we’ll need to coordinate the release date so that it coincides with the release of Android P?

[2018-06-05 04:38] nojunpark opened #2696 "In Focus webview, on API 24 and below, clicking download link will not pop up the download dialog"
Found this during the UI Test fix.

### STR:
Expand the attached zip file, and start a webserver to host the html.
(on mac, you can do `python -m SimpleHTTPServer 8000` inside the expanded folder
Go to the URL on the Nexus API 23 simulator (on Nexus 5)
Click the firefox icon

### Expected behavior
Download dialog will open

### Actual behavior
Nothing happens
(On newer devices, this does not happe

[2018-06-05 04:40] npark-mozilla commented on #2696
If there's something wrong with the HTML, please let me know, I know that this test has been working on API 23 at least a month ago or so.

[2018-06-05 12:10] bbinto commented on #2676
Adding marketing here, @cherrypark

[2018-06-05 12:53] pocmo commented on #2685
@brampitoyo I like all the new designs a lot. I'm only confused about the icons in the menu here. What's the rationale behind that? It looks so different compared to other app menus.

[2018-06-05 13:51] npark-mozilla commented on #2696
This also happens on device (Nexus 5) on Google Firebase, which does not have its OS update installed.

[2018-06-05 16:23] pocmo commented on #2680
@brampitoyo Can you provide us with the "combined" color codes? Drawing multiple layers / overdraw is very expensive and seems to be unnecessary here.

Those are the colors we currently use:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values/colors.xml#L12-L14

[2018-06-05 16:23] pocmo commented on #2679
@brampitoyo Like #2680: Can you provide us with the "combined" color codes?

Currently we use those colors:
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values/colors.xml#L19-L21

[2018-06-05 17:12] bbinto commented on #2604
replied

[2018-06-05 17:12] #2604 closed

[2018-06-05 17:27] vince-nyanga commented on #2682
Would like to work on it

[2018-06-05 17:35] bbinto commented on #2696
Let's figure out what causes the issue and the # of current users affected.

[2018-06-05 17:39] bbinto commented on #2688
@npark-mozilla try to reproduce

[2018-06-05 17:40] #2292 closed

[2018-06-05 17:43] bbinto commented on #2573
@pocmo, just to clarify if mozilla-mobile/android-components#190 is fixed, this issue can closed?

[2018-06-05 17:45] bbinto commented on #2512
@brampitoyo what's your final UX proposal so we can start prioritizing this.

[2018-06-05 17:47] #1848 closed

[2018-06-05 17:51] bbinto commented on #2299
Here some stats about what extras are currently being used: https://sql.telemetry.mozilla.org/queries/4950/source#10134

[2018-06-05 17:53] bbinto commented on #1544
@boek to get @liuche and @mcomella to look at this during SF-all hands

[2018-06-05 17:57] bbinto commented on #2127
@bbinto to fill out feature request template

[2018-06-05 17:57] bbinto commented on #2127
@boek suggested to create a list of referrer we could check against.

[2018-06-05 17:58] bbinto commented on #2171
@bbinto to reach out to Andreas B. for the latest.

[2018-06-05 19:33] ekager commented on #2682
Hi @vince-nyanga thank you so much for your contribution! It looks like the svg is slightly off center which looks like our fault. I got new vector path data that you can swap out if you're still interested in making a PR. Sorry about that! Thanks again for your help!

`<path android:fillColor="#FFFFFF" android:pathData="M6,12a0.5,0.5 0,0 0,0.5 -0.5v-6a0.5,0.5 0,0 0,-1 0v6a0.5,0.5 0,0 0,0.5 0.5zM8

[2018-06-05 21:55] Nistenf commented on #2683
Hi, can I work on this?

[2018-06-05 22:12] ekager commented on #2683
Hi @Nistenf ! Thanks for your help! If you take out the `strokeAlpha` and `strokeColor` attributes and change `fillColor` to `#FFFFFF` that should have it match the mock.

[2018-06-05 22:40] brampitoyo commented on #2685
Hi @pocmo.

Firstly, the icons are there to unify our menu design across platforms – desktop and mobile.

But why don’t Fennec have menu icons? The team hasn’t got round to it yet, but it will happen in the future. We’d be the first to launch with this design.

<img src="https://user-images.githubusercontent.com/51007/41006418-899b592c-6975-11e8-869f-ecec1fd08285.png" width="360">

Secondly, they’

[2018-06-05 22:45] brampitoyo commented on #2683
Hi @Nistenf. Good eye!

For icons inside the main menu, we want their default colour value to be `#f9f9fa` a80. But for icons prominently displayed in the Floating Action Button, we want that to be coloured `#ffffff`.

I have overlooked that colour value in my original SVG asset. Thanks for checking in!

[2018-06-05 23:14] moyheen commented on #2686
I would like to work on this issue.

[2018-06-05 23:20] ekager commented on #2686
Great, thanks @moyheen ! Let me know if you need any help and I'll review your PR when it's up!

[2018-06-05 23:50] Guisanpea commented on #2687
I have thought on solving this issue, I'm new around here and I don't know if I should modify primary color and secondary color so it is more modular or just solve it for this particular screen

[2018-06-05 23:57] ekager commented on #2687
Hi @Guisanpea thanks for your help! You could try to add the new primary, secondary, and accent colors to `SettingsTheme` in `styles.xml`.

[2018-06-06 00:00] ekager commented on #2687
Hey @brampitoyo this issue also includes the new icons? Could you link the language and Mozilla svgs?

[2018-06-06 00:29] SrChip15 commented on #2687
I would also like to work on this. Although I am not sure if this issue is taken?

[2018-06-06 00:34] SrChip15 commented on #2685
I would like to work on this issue

[2018-06-06 01:29] brampitoyo commented on #2687
@ekager Sorry for forgetting to include the new icons!

Here they are:

* [Language](https://cl.ly/1u413W0Y270J/Language.svg) (lacking our own, we’re using Material Icons, rounded style).
* [Privacy and Security](https://cl.ly/3P2a0V0J290X/Privacy%20Security.svg) should be the lock icon that we already show in the UI. @ekager, do we have that asset already stored somewhere? If not, the SVG is link

[2018-06-06 03:41] SrChip15 commented on #2685
Hi @brampitoyo,

Where would I find ink-80 and grey-10 colors?

[2018-06-06 03:59] brampitoyo commented on #2685
@SrChip15 All of our colour values are available on the [Photon Design System](https://design.firefox.com/photon/visuals/color.html). As for the actual location of the colour variables in the code, I’m not so sure. @ekager may be able to help you here.

[2018-06-06 08:44] kai-chi commented on #2074
apparently not all because I don't have this problem with 7.0.

I couldn't reproduce the issue on my phone, nor the emulator so if anyone else with a different device is keen on taking it then feel free. I could take it once I'll have another device to test

[2018-06-06 08:46] waah42 commented on #2677
Hi, I would like to do it.

[2018-06-06 12:59] mkaply commented on #2171
Sorry, I missed this somehow.

We've been trying to get Google to give us better results, but the basic answer is "you don't have enough users for us to warrant testing so we won't turn it on."

Mike Taylor has been the most involved in trying to make this happen.

We did have an internal meeting to lay out the needs (with Mike's team), but we haven't gotten Google to be willing to make the change

[2018-06-06 13:15] jayeshsolanki93 commented on #2678
Hi @brampitoyo
The color spec (ink-80) for the background gradient on the url input toolbar seemed incorrect. I used colors which closely matched the screenshot. This is how it looks now:
![webp net-compress-image](https://user-images.githubusercontent.com/6861614/41040344-c59b3e30-69b9-11e8-9e31-5eddf4c75879.jpg)

[2018-06-06 13:45] npark-mozilla commented on #2688
I was able to repro this issue.  In Focus, unlike Chrome, it opens the page in zoomed in state, and does not allow the page to be zoomed out or scroll horizontally. Chrome opens the page in fully zoomed out state.

But in Focus, if you select 'Request Desktop Site', then it behaves the same as Chrome. (you can zoom out and scroll horizontally).  I wonder whether it's the site that's sending incorr

[2018-06-06 16:36] boek opened #2703 "Add telemetry probe for quick add url"

[2018-06-06 18:07] npark-mozilla opened #2705 "WebviewDataTest.java is failing"
The test loads an offline webpage, and clears it.  It should only have one folder in the app cache directory after the deletion, but depending on the Android API, it has 2 or 3 folders, as shown:
<img width="681" alt="screen shot 2018-06-06 at 10 40 12 am" src="https://user-images.githubusercontent.com/6930774/41056609-c435ed96-6992-11e8-9d54-5c425c61e3a8.png">
<img width="654" alt="screen shot 20

[2018-06-06 18:20] boek commented on #2552
This was fixed with #2563

[2018-06-06 18:20] #2552 closed

[2018-06-06 18:21] #2660 closed

[2018-06-06 18:38] pocmo opened #2706 "L10N: missing placeholders in tsz, ixl"
The string import is currently failing with an error:

[code]

[2018-06-06 19:00] Delphine commented on #2706
I've pinged localizers because out of the three, I'm only able to correct the last one. I'll update here once it gets done

[2018-06-06 19:31] Delphine commented on #2666
Update: I was wrong about "zam"... I got confused about the name of the locale and was looking up "zapoteco" instead of "DíɁztè"

[2018-06-06 19:36] boek commented on #2666
I think this is blocked by #2706

[2018-06-06 19:42] boek commented on #2706
@Delphine

[code]

Getting these errors now.

[2018-06-06 21:49] Delphine commented on #2706
Ok I've updated the locales that I could, but the Error remains until the "tsz" localizer updates his strings (probably by tomorrow).
All the other locales should be fixed now.

[2018-06-06 22:36] mcomella opened #2709 "url update callback called each time `onProgressChanged` is called"
The `WebChromeClient.onProgressChanged` method gets called frequently during page load, which calls `onURLChanged` and its session observers an unnecessary amount of times for the same URL.

This is a likely negligible performance hit at the moment but I'm concerned that future code additions may 1) increase the performance hit or 2) be non-idempotent and cause unexpected behavior. I think we shou

[2018-06-06 22:37] Delphine opened #2710 "[l10n] New locales: quy, quc, ay"
I just added Focus Android project for the three new locales above. They'll be needing screenshots to test, but are not shipping yet.

Since you'll need to know how they translate I imagine:
Quechua Chanka (quy) translates as "Chanka Qhichwa".
Aymara (ay) reads "Aimara" in its native language.
K'iche' (quc) reads the same, as K'iche' .

[2018-06-07 00:10] brampitoyo opened #2711 "Investigate App Actions and Slices"
### Why/User Benefit/User Problem

I want an instantly available, very lightweight way to look up information on the web privately, without going into a browser.

And I want to have the history of that lookup be completely gone without opening the browser.

### What / Requirements

App Actions and Slices-related feature.

Some rough examples:

* When I type “Delete”, “Erase” or “History” and Firef

[2018-06-07 00:16] brampitoyo commented on #2711
![screenshot_2018-06-07 android slices build interactive results for google search google i o 18 - youtube 3](https://user-images.githubusercontent.com/51007/41071552-8553ede8-6a4c-11e8-9040-7eae3b4d4413.png)

![screenshot_2018-06-07 android slices build interactive results for google search google i o 18 - youtube](https://user-images.githubusercontent.com/51007/41071556-8b95177c-6a4c-11e8-992a-b

[2018-06-07 00:16] brampitoyo commented on #2711
cc @ekager

[2018-06-07 00:24] brampitoyo opened #2712 "Investigate biometric prompt"
### Why/User Benefit/User Problem

I want to make Focus even more private by restricting its access only to me, even as I share my phone to another person.

### What / Requirements

A “Lock” feature with a native biometric prompt that opens and unlocks Firefox Focus, for users who choose to have it and run compatible Android devices.

### Acceptance Criteria (how do I know when I’m done?)

* Poten

[2018-06-07 04:48] vince-nyanga commented on #2682
Hi @ekager Sorry for taking long. Let me add the new one.

[2018-06-07 15:54] pocmo opened #2714 "Nightly stopped building"
[code]

https://tools.taskcluster.net/groups/J6dwtZxzTs633TvUSvVq_w/tasks/J6dwtZxzTs633TvUSvVq_w/runs/0/logs/public%2Flogs%2Flive.log

[2018-06-07 18:30] ekager commented on #2683
Hi @Nistenf just tried it out myself because it did look a little slim in your screenshot, I think if we add back in the original vector attributes and change the `strokeAlpha` to `1` and the `strokeColor` to `#FFFFFF` that should fix the width. Sorry about that! I guess those were needed :)

[2018-06-07 20:48] Delphine commented on #2706
For the record, I only realized about this later: https://github.com/mozilla-mobile/focus-android/issues/1186
So I got back to localizers about the warnings and they were able to deal however they wanted with them - and all is good on l10n front ;)

[2018-06-07 20:53] #2654 closed

[2018-06-07 20:53] #2710 closed

[2018-06-07 22:31] #2666 closed

[2018-06-08 02:49] #2706 closed

[2018-06-08 02:50] boek commented on #2706
Going to close this as there is no longer any errors in the import. Thanks Delphine!

[2018-06-08 07:59] SrChip15 commented on #2681
@brampitoyo since the for spec you have just pasted the browser toolbar, I went with the first color in the gradient - `colorGradientStart`.

[2018-06-08 08:20] SrChip15 commented on #2681
@brampitoyo As for the browser toolbar, could you tell me the exact color?

[2018-06-08 09:08] SrChip15 commented on #2680
@brampitoyo hi, I see that the browser toolbar already has a gradient set as background already.

@ekager any idea on how to achieve this?

[2018-06-08 11:39] pocmo commented on #2714
Yep! Nightly is back on track.

Background: The taskcluster team changed the default "expires" time for tasks. Now our Nightly task was complaining that the artifacts had a longer expiry time than the task itself. After adding an explicit "expires" field to the Nightly hook (with the same "1 year" value) everything is working again.

[2018-06-08 11:39] #2714 closed

[2018-06-08 16:09] pocmo commented on #1365
Let's make sure we do not introduce a way to spoof our users. :)

[2018-06-08 17:34] #967 closed

[2018-06-08 17:34] #2703 closed

[2018-06-08 17:41] bbinto commented on #2662
@boek - will this be done today otherwise, we need to move to 6.1

[2018-06-08 18:21] boek commented on #2662
@bbinto It'll be done today 🙌

[2018-06-08 19:38] npark-mozilla opened #2724 "Up button '^' in Find in Page is not very responsive"
### Steps to reproduce

Go to a text/image rich site like www.gizmodo.com
Search for word 'the'
Tap down a few times, then tap up

### Expected behavior
It finds previous instances of words and highlight them

### Actual behavior
It requires several tapping to find the previous instance of words

### Device information
Pixel 2, Android 27

[2018-06-08 19:47] npark-mozilla opened #2725 "When found word is behind the Find in page text bar, it's not visible"
### Steps to reproduce
- Find a word that occurs multiple times, and the non-first occurrence is hidden behind the Find in page text bar
- tap down button to highlight the word that is hidden behind the text bar

### Expected behavior
- Page scrolls, and the word is highlighted and visible

### Actual behavior
- Page does not scroll, and the word stays covered

### Device information
- Pixel 2, AP

[2018-06-08 20:03] boek commented on #2724
@npark-mozilla I think this might be due to the tap targets being too small. Let me get a new build for you to try out

[2018-06-08 22:28] boek commented on #2725
<img width="709" alt="image" src="https://user-images.githubusercontent.com/1250545/41183596-5cf3c672-6b30-11e8-96c6-e6e7749a709f.png">

Even with padding applied it looks like the WebView is drawing underneath the find in page bar.

[2018-06-09 05:30] Hackertronix commented on #2687
Hey @bbinto @ekager ,

I wanna take this issue up but I am not sure what the protocol here is, @Guisanpea has expressed interest in fixing this one. Are issued open for anyone to pick up and PRs are accepted based on who sends them first? 😅

Thanks!

[2018-06-09 05:31] Hackertronix commented on #2687
Looks like #2719 already fixed this 😅 ...

[2018-06-09 08:40] KrzysztofBarszcz commented on #2684
Hi,
I would like to work on this issue

[2018-06-09 14:52] TPS commented on #967
What version should we expect this?

& thanks very much, @all. :bow:

[2018-06-09 15:27] boek commented on #967
@TPS 6.0 (the next release) 😊

[2018-06-09 16:11] TPS commented on #967
I hoped perhaps if a 5.× release was scheduled, it'd make that, but if 6.0 is next, I hope to use a β pretty soon.  I wouldn't _need_ anything else from this. 😁

[2018-06-10 12:49] pocmo commented on #2684
@brampitoyo Can you give us the "combined color codes" so that we do not need to have "overdraw" by using transparency?

[2018-06-10 12:58] pocmo commented on #2709
If I remember correctly the reason for that was a spoofing issue - maybe `git blame` can help.

[2018-06-10 13:01] pocmo commented on #2573
Yes, once we switch here to the latest components release that includes the fix.

[2018-06-10 15:32] buttercookie42 commented on #2074
@kai-chi AFAIK you need to have set a default browser in order to observe that behaviour. Is that true in your case?

[2018-06-10 21:45] kai-chi commented on #2074
@buttercookie42 yes, Focus is set as the default browser and I still get listed the other browsers
here are my screens: https://imgur.com/a/JHRVhnf

[2018-06-10 22:10] brampitoyo opened #2726 "Design a way to change theme, accent, highlight and/or gradient colours"
### Why/User Benefit/User Problem

* I want Firefox Focus to suit my personal style (hypothesis: users who take time to customise are more likely to stick – similar to users who use Firefox add-ons).
* When I use Firefox Focus in bright daylight, a light theme may be easier to read.
* If Firefox Focus can adapt its look to fit the time of the day, it may just be a nice small addition, but it also

[2018-06-10 22:10] brampitoyo commented on #2726
cc @bbinto in her interest.

[2018-06-11 01:53] brampitoyo commented on #1365
@dimqua While showing page title instead of the link _in the URL bar_ can lead to higher risk of spoofing and phishing, showing page titles _in the tab list_ does make a lot of sense.

It solves these problems:

![android tab names old 2x](https://user-images.githubusercontent.com/51007/41209190-eed94cca-6d7d-11e8-91a2-6d0ae98db73a.png)

1. Sometimes, domains don’t always tell you what the webpage

[2018-06-11 01:54] brampitoyo commented on #1365
If everything looks good here, this issue is ready for Engineering breakdown.

[2018-06-11 02:38] brampitoyo commented on #2681
@SrChip15 Sorry. This is totally my mistake.

Instead of `colorGradientStart`, we should use `ink-90`.

The `magenta-70` value is for the background color of the “Tracking Protection OFF” status badge.

[2018-06-11 02:38] brampitoyo commented on #2679
* colorInactiveGradientStart: `#421c41`
* colorInactiveGradientCenter: `#3e1c4d`
* colorInactiveGradientEnd: `#271c44`

[2018-06-11 02:40] brampitoyo commented on #2678
Hi @jayeshsolanki93, it seems that I’ve neglected to give you the gradient colour value for the typing state. See https://github.com/mozilla-mobile/focus-android/issues/2679#issuecomment-396107105 for these.

You’ll notice that it’s the same value we use for the loading state.

[2018-06-11 02:57] SrChip15 commented on #2681
@brampitoyo the gradient has two other colors (#ff433446, #ff3b3445). are we still using a gradient or just a single color? They are actually part of a transition.

[2018-06-11 03:04] brampitoyo commented on #2685
@SrChip15 The background colour for the highlighted menu area is `grey-10` a10 against a `grey-80` background. The straight-up colour value is `#353852`).

[2018-06-11 03:08] SrChip15 commented on #2685
@brampitoyo check this PR https://github.com/mozilla-mobile/focus-android/pull/2721. Hope that is per new spec.

[2018-06-11 03:09] brampitoyo commented on #2681
@SrChip15 The gradient value is used for the URL bar when it’s in the “Loading” and “Typing” states. This is a different state, so we just use `ink-90` by itself.

[2018-06-11 03:11] brampitoyo commented on #2684
Yes. The background for the highlighted area is `#353852`.

I’ve specified the same colour value for highlighted areas on:

* https://github.com/mozilla-mobile/focus-android/pull/2719#pullrequestreview-127421157
* https://github.com/mozilla-mobile/focus-android/issues/2685#issuecomment-396110190

So maybe we can have this colour be a variable?

[2018-06-11 03:12] brampitoyo commented on #2676
All design is now finished. The only thing that remains is to implement them.

We will wait for v7.0 – closer to the release of Android P – to ship these visual changes.

[2018-06-11 03:43] SrChip15 commented on #2680
Refer PR #2727

[2018-06-11 05:54] brampitoyo commented on #2678
This looks great.

[2018-06-11 16:39] pocmo opened #2728 "Error: [values-ixl/strings.xml] missing placeholder in translation, key: search_hint"
From the string import:

[code]

**This is blocking our automated string import**

[2018-06-11 16:39] pocmo commented on #2728
CC @Delphine

[2018-06-11 19:16] npark-mozilla commented on #2710
Only quy is imported - @Delphine that is as agreed, right?

[2018-06-11 19:30] npark-mozilla commented on #2297
@ekager just to double check - should it do both 1. copying the URL to clipboard and 2. making entry in the 'Add custom URL' list?  The issue looks to me that it's only talking about copying the URL to clipboard.

[2018-06-11 19:32] npark-mozilla opened #2730 "When custom autocomplete URL added, it can save duplicates"
### Steps to reproduce
- long tap the URL bar, and select 'add custom URL'
- long tap the URL bar again, and re-select 'add custom URL'
- Open Focus, and go to Custom URL list in settings

### Expected behavior
- There is only one custom URL entry

### Actual behavior
- It lists duplicate URL entries

### Device information
Pixel 2, API 27

[2018-06-11 19:33] ekager commented on #2297
Yes this issue is just talking about copying the URL to the clipboard while in a custom tab.

[2018-06-11 22:02] ekager opened #2731 "Add Telemetry/Sentry to GeckoView onCrash"
### Why/User Benefit/User Problem
We want to send custom telemetry/Sentry pings to know more about Gecko session crash rates.

### What / Requirements
Set up a Telemetry event to capture a Gecko crash.
Set up a Sentry event to capture a Gecko crash.

### Acceptance Criteria (how do I know when I’m done?)
Can see pings from Gecko session crashes.

[2018-06-11 22:09] ekager commented on #2730
Is this only in a custom tab? Or anytime you add a custom URL from the URL bar?

[2018-06-11 22:16] npark-mozilla commented on #2730
@ekager just checked, it's anytime when custom URL is added.

[2018-06-11 22:27] ekager commented on #2730
Okay, thanks! Updated the description and filed a PR that should fix it

[2018-06-12 00:32] alchemy27 opened #2733 "Adding a reading mode"
This is my first time requesting new features on github... let me know if I forget anything!

I think it would be great to add a **reading mode** because many use their mobile browsers to read articles, etc.

Just like the mobile Firefox browser, there could be a button next to the url. By clicking it, a page only filled with text and images would pop up, with a row of buttons on the bottom to adj

[2018-06-12 00:51] mcomella commented on #2709
This comes from https://github.com/mozilla-mobile/focus-android/pull/390.

[2018-06-12 05:39] Delphine commented on #2728
Just corrected that, thanks.

[2018-06-12 05:44] Delphine commented on #2710
For the screenshots you ran, yes. But I see Jeff added the to locales.py for the next run of screenshots so we should be good (please correct me if I'm wrong)

[2018-06-12 06:19] brampitoyo commented on #2681
Hi @SrChip15. Sorry once again. It seems that I’ve submitted the wrong value the first time around.

The correct value for this state should be `ink-80`, not `ink-90`.

Hope that’s a simple change for you. Sorry for the inconvenience!

[2018-06-12 06:48] brampitoyo commented on #2726
Some early, rough, very-alpha mocks of different gradient and accent colours:

Teal

<img src="https://user-images.githubusercontent.com/51007/41274315-0fee33fa-6e71-11e8-8b6e-3aef6b9398b2.png" width="360">

Green

<img src="https://user-images.githubusercontent.com/51007/41274316-1018fc52-6e71-11e8-9701-8b325b97cddd.png" width="360">

Orange

<img src="https://user-images.githubusercontent.com/51

[2018-06-12 22:59] cgomezmendez commented on #2679
I would like to take this issue.

[2018-06-13 03:57] cgomezmendez commented on #2679
Got the PR for the change in #2735

[2018-06-13 16:41] ekager commented on #330
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1468515

[2018-06-13 18:00] Delphine opened #2737 "[l10n] Sign-off on locales for v6"
* Total number of locales that can ship with Focus Android v6: 84 locales
* 6 new locales can ship: Ixil (ixl), Lithuanian (lt), English from Canada (en-CA), Afrikaans (af), Pai Pai (pai) and Quechua Chanka (quy).
* Incomplete locales needing to be only in screenshots section (ADDITIONAL_SCREENSHOT_LOCALES in locales.py): "ay" and "quc"

List of locales that can ship (in alphabetical order):
af
am

[2018-06-13 21:16] npark-mozilla opened #2738 "Geckoview Klar progressbar disappears when reddit is still loading"
### Steps to reproduce
- Install Geckoview Klar, and go to m.reddit.com
- wait until the site is fully loaded

### Expected behavior
- Progressbar present until all contents are loaded

### Actual behavior
- Progressbar disappears while the reddit icon is pulsing at the center, loading contents
- In webview, the progressbar is present until all contents are loaded

### Device information
- Moto G5

[2018-06-14 14:39] mcomella opened #2740 "Autocomplete "Learn more" website is missing information: does it require remote connections?"
A user wanted to learn the following information from the autocomplete "Learn more" button but the page didn't have this text:
- Are autocomplete lists on device?
- If it sends data to mozilla (if send usage data is off)?
- Are self signed user certificates supported? How can they block ads?

Here's the original text from IRC ([logs](https://mozilla.logbot.info/focus/20180613#c14884893)):

23:24 a

[2018-06-14 17:05] kai-chi commented on #1982
@tvalle, are you working on it? if not, can I take it?

[2018-06-14 17:22] #2728 closed

[2018-06-14 17:23] pocmo commented on #2709
Issue #377

[2018-06-14 17:37] pocmo opened #2741 "Disable telemetry for "distributions" by default"
Firefox for Android has a complex way to be customized by partners via Distribution files:
https://wiki.mozilla.org/Mobile/Distribution_Files

Eventually we may want to have something similar in Focus. But we want to do some things differently this time. And for now we only need a way to control whether telemetry is enabled by default.

in Firefox for Android distributions can be: Baked into the A

[2018-06-14 22:45] #2506 closed

[2018-06-15 13:42] Shankdevilz opened #2743 "Files are saved in .bin format"
When i try to download files (especially images) the files are saved in .bin format.
For example,
When i try to download image from Twitter
the download link refer the file format as .jpg but it will be saved as .bin format.
![img-20180615-wa0023](https://user-images.githubusercontent.com/38435441/41470954-d47702aa-70cf-11e8-9a38-c0b605afbc7a.jpg)
![img-20180615-wa0024](https://user-images.githubu

[2018-06-15 17:16] #2662 closed

[2018-06-15 17:16] boek commented on #467
- [ ] Add "undo" action to snackbar
- [ ] Implement undo based on scope.
- [ ] UX / animation for "reverse" action detailed [here](https://github.com/mozilla-mobile/focus-android/issues/467#issuecomment-381473959)
- [ ] Add telemetry probe for undo action

[2018-06-15 17:23] boek opened #2745 "Fix plural rules causing a failed import"
#2734

[2018-06-15 21:40] #1063 closed

[2018-06-15 21:49] Delphine commented on #2737
Note so I don't forget in next updates:
we added at the last moment "pa-IN" to the screenshots section (background: we were at All-Hands and they started translating during that)

[2018-06-17 17:32] mziehm opened #2750 "Release 5.0 not available under releases"
Latest release 5.0 (22 May 2018) according to [Play store](https://play.google.com/store/apps/details?id=org.mozilla.klar) not found under [releases](https://github.com/mozilla-mobile/focus-android/releases) or [tags](https://github.com/mozilla-mobile/focus-android/tags)

[2018-06-17 19:51] setuidroot commented on #2659
Hi, I'd like to help test the latest Firefox Focus Nightlies for you guys... I always stay current with the latest APK RC posted on github releases.  I don't normally have the time (or server power) to build nightlies from dev branch.

I personally don't use Google Play services or Play Store, I use F-Droid and third party FOSS app stores.  I keep nearly everything FOSS on all of my devices.

Woul

[2018-06-18 02:18] brampitoyo commented on #2712
After some thinking, this feature won’t really be useful when Firefox Focus is newly open. There’s nothing to show, so there’s nothing to hide. Instead, it’s relevant only when switching back into Firefox Focus with one or more tabs already open.

With that in mind, the Settings menu item should be organised under Privacy & Security > Switching Apps.

To be consistent with Face/TouchID support on

[2018-06-18 16:46] bbinto opened #2752 "Accessibility request: Scale web content according to the system font size"
### Why/User Benefit/User Problem
- No accessibility options whatsoever. Can you please add either the option  to use system fonts or to adjust the font, as now i cant use the app as i cant see it.
- We currently provide a pinch & zoom option but this is not sufficient or persistent when visiting multiple page

### What / Requirements
- Adapt web content viewed in Focus to system font size level
-

[2018-06-18 16:49] bbinto commented on #596
User [request](https://play.google.com/apps/publish?account=7083182635971239206#BetaFeedbackDetailsPlace:p=org.mozilla.focus&feedbackid=gp:AOqpTOFwnlsEvOneZYa7jfZ3omm2jb-hwzK9YS08OC2MdC4qmFYeYMiJECY5g3sh1Q3L4coDNZ7KcFQJK928xMX_4g)

[2018-06-18 17:01] J0WI commented on #596
btw: The rulesets can now also be fetched from [https-rulesets.org](https://www.https-rulesets.org/v1/).

[2018-06-18 17:12] bbinto commented on #2512
Sounds good, @brampitoyo - do you have any idea when we can work with UR to finalize mocks/strings etc?

[2018-06-18 17:19] bbinto opened #2753 "Language change in Google search won't stick"
I assume it's a persisting cookie issue?

Via [GPS](https://play.google.com/apps/publish?account=7083182635971239206#ReviewDetailsPlace:p=org.mozilla.focus&reviewid=gp:AOqpTOF0qip-Qbe8uXThMcoYq3pc3dgy8w0nrIZus_ZCHFlT5YECVYyikOpb3Eg50qfm1CLrlRQ5Bl6M3IXBEOQ)

### Steps to reproduce
Changing language (in Google search) to English

### Expected behavior
Setting would sticks

### Actual behavior
It kee

[2018-06-18 17:32] #2745 closed

[2018-06-18 18:42] bbinto commented on #2726
we should get some stats from John Gruen on the Desktop Theme color picker.

I don't think this is super urgent atm.

[2018-06-18 19:30] SrChip15 commented on #2681
@brampitoyo sorry, just got back to this.

Ok, I think, I have found the right state and refreshed the appropriate colors to the new spec. So, now it looks like the below pasted image. Please let me know if this is ok as soon as you see this. I'll create a PR for this right away.

<img src="https://user-images.githubusercontent.com/12288245/41557486-ae86f350-72f2-11e8-9ad6-3693cd7d2254.png" width=

[2018-06-18 19:33] #2730 closed

[2018-06-18 20:15] bbinto commented on #2505
@Delphine  - Difficult for me to follow here - what's the latest action item? Can this go into 6.1 (sprint ends this week Friday)

[2018-06-18 20:15] #2495 closed

[2018-06-18 20:15] ekager commented on #2495
Closed by #2692

[2018-06-18 20:16] bbinto commented on #2664
@pocmo can this be fixed by end of this week? If not, we need to move it to the next sprint, please confirm.

[2018-06-18 21:03] Delphine commented on #2505
Yes, this issue got complicated.
Next step is for me to get a string export with localization notes updated where needed. For those cases we will need a new string ID. The comment should call out the max. number of possible characters for that string, and saying it will truncate otherwise.
@brampitoyo should know what these are since we've been going back and forth together about this.

I don't kn

[2018-06-18 21:31] Delphine commented on #2505
WFM!

[2018-06-18 22:21] mcomella opened #2755 "Considering pausing media or lowering volume when e.g. headphones are unplugged"
### Why/User Benefit/User Problem
Users may be watching video with headphones and accidentally unplug them, subjecting those around them to audio they may have not intended to share (especially because we're a private browser).

[Android sends a `ACTION_AUDIO_BECOMING_NOISY` intent](https://developer.android.com/guide/topics/media-apps/volume-and-earphones#becoming-noisy) when a situation like thi

[2018-06-18 23:32] brampitoyo commented on #2512
I expect this to happen by v7.0, or maybe even later. But it’s high on my priority list!

[2018-06-19 14:57] bbinto commented on #1930
@pocmo can @boek work on this in the next sprint (starting next week)?

[2018-06-19 14:59] bbinto commented on #1616
Are we still blocked by GeckoView, @mcomella?

[2018-06-19 15:00] bbinto commented on #459
@pocmo any news and updates on t-shirt sizing here? thanks

[2018-06-19 15:02] bbinto commented on #2676
re-open to use this as the meta for eng

[2018-06-19 15:22] vickz84259 commented on #1640
Is anyone working on this? I would like to help

[2018-06-19 15:25] vickz84259 commented on #1962
Would like to work on this if no one is

[2018-06-19 15:47] pocmo commented on #1930
Yes!

@boek Let me know if you need help!

[2018-06-19 17:34] bbinto commented on #2753
This is expected behaviour, @bbinto to reply and closing this.

[2018-06-19 17:34] #2753 closed

[2018-06-19 17:36] boek commented on #2750
Hey @mziehm,

Thanks for bringing this to our attention! RC4 was promoted to release. I made the appropriate change on the releases page.

@setuidroot

We're still talking about how we're going to release nightlies, but I'll make sure they end up somewhere on Github :)

[2018-06-19 17:36] #2750 closed

[2018-06-19 17:37] bbinto commented on #2752
We currently don't have accessibility settings, but we should look into using the system fonts feature - @brampitoyo to see how this effects UI. Bram, can you reach out to Eitan from the Accessibility team please.

[2018-06-19 17:39] bbinto commented on #2743
@ekager to confirm if this applies to other major websites with images.

Otherwise .bin format can still be viewed as image and therefore is not an urgent request to be fixed.

[2018-06-19 17:41] bbinto commented on #2740
@jonisavage, could you please check how this could be updated / better described? Thanks

[2018-06-19 17:52] bbinto commented on #2711
@ekager to investigate what the requirements are. If Firebase integration is not required, this might be a neat feature to roll into our Android P release (/cc @lwa-moz)

[2018-06-19 17:58] #2555 closed

[2018-06-19 21:36] KrzysztofBarszcz commented on #2684
I think I finished this issue. How to send the code for review?

[2018-06-19 22:13] ekager opened #2759 "Investigate App Slices/Actions Eng Requirements"
- Do we need Firebase?

[2018-06-19 22:14] ekager opened #2760 "Investigate App Slices/Actions Eng Requirements"
- Do we need Firebase?

[2018-06-19 22:17] #2760 closed

[2018-06-19 23:04] #2347 closed

[2018-06-19 23:29] #2651 closed

[2018-06-19 23:52] ekager commented on #2532
Don't see this as a top crash in GP anymore. Closing.

[2018-06-19 23:52] #2532 closed

[2018-06-19 23:54] #2737 closed

[2018-06-20 05:28] brampitoyo commented on #2603
Note that this simplified UI will become necessary _only after_ we build more blocking features.

Some of these features are things that we’re already considering in other products:

* Block slow 3rd party content (if page loads for more than x number of seconds, block all 3rd party content from loading)
* Block crypto-mining
* Block fingerprinting (canvas, WebGL, AudioContext, WebRTC IP leakage,

[2018-06-20 05:29] brampitoyo commented on #459
Just mentioning the fact that this issue is ready for Engineering breakdown.

I’ll provide design specs very soon!

[2018-06-20 05:30] brampitoyo commented on #1616
Just mentioning the fact that this issue is ready for Engineering breakdown.

I’ll provide design specs very soon!

[2018-06-20 09:37] pocmo commented on #596
Absolutely agree with that! :)

Good question. As long as we use the latest state of the rule sets I cannot see much going wrong. However the Firefox add-on has an option to turn it on/off. And they mention this in their FAQ:

Overall I think we should not try to hack this into WebView. Instead we should only focus on GeckoView here. Ideally we could make use of the WebExtension and just load it i

[2018-06-20 09:52] pocmo commented on #2759
What are we interested in doing with App Slices? The slices API itself should not require Firebase.

[2018-06-20 12:06] bbinto commented on #2512
I don't think that's as urgent as some of the other proposed 7.0 feature issues, moving this to a P3 to backlog

[2018-06-20 12:11] bbinto commented on #2603
I think that's a great idea, @brampitoyo - please go ahead and file those issues and leave them un-labeled so we can discuss in triage etc.

As for this ticket, I'll put a blocked label on it and move it to the backlog again.

Great ideas/work, Bram!

[2018-06-20 13:08] bbinto commented on #596
@pocmo are you saying we can't / should not plan on shipping this in 7.0 as it depends on GeckoView + WebExtensions?

It will be a nice advantage that we can highlight when announcing the switch to GeckoView then.

Last conversation I remember is that we won't have WebExtensions for a long time :(

In the short time, could we write it ourselves without a WebExtension? What would be the T-shirt siz

[2018-06-20 13:13] bbinto commented on #459
@pocmo were you able to get more info from the GeckoView team when this API could be available to us?

[2018-06-20 13:14] bbinto commented on #1616
Are we still blocked on GeckoView, @pocmo?

[2018-06-20 13:18] pocmo commented on #459
We talked about this and that it would be possible to expose this via an API. Back then I tested this with GeckoView and currently no error is shown when a page form the safe browsing list is loaded.

GeckoView API: https://bugzilla.mozilla.org/show_bug.cgi?id=1462000

[2018-06-20 13:37] pocmo commented on #1616
I expect GeckoView to open an "about:neterror" page with additional parameters about the error in the URL. As part of the breakdown an engineer could test this and see what values GeckoView provides us and then we may have to update the mock accordingly. There are potentially a gazillion possible SSL errors so we may not be able to show detailed information for every one of them. I also assume tha

[2018-06-20 19:41] cpeterso commented on #596
@brampitoyo I would change this wording to "Prefer encrypted pages". HTTPS Everywhere uses HTTPS when available, but still allows unencrypted HTTP for other sites. "Block unencrypted pages" sounds like unencrypted HTTP sites would be blocked, which I assume is not what we're proposing here. :)

There was a Firefox add-on, [HTTP Nowhere](https://addons.mozilla.org/en-US/firefox/addon/http-nowhere/)

[2018-06-20 20:34] rpappalax opened #2763 "SearchEngineSelectionTest.java is failing"
### Steps to reproduce
run automated test

### Expected behavior
test should select "Search" option on Settings menu

### Actual behavior
test selects "Privacy & Security" option on Settings menu

### Device information
* emulator: Nexus 5X API 23

![image](https://user-images.githubusercontent.com/3699494/41683090-7ea0db0e-748e-11e8-88ee-fc979cf5aefe.png)

[2018-06-20 20:50] mcomella commented on #1962
@ekager @boek ^

[2018-06-20 20:54] ekager commented on #1962
Hey @vickz84259 , you are welcome to work on this! Let's get @brampitoyo (UX) to confirm the new behavior before you start :)

[2018-06-20 22:52] #2724 closed

[2018-06-20 23:13] J0WI commented on #596
Actually there is an option in HTTPS Everywhere to do this ;)

[2018-06-21 00:10] ekager opened #2767 "Unregister Locale Changed BroadcastReceiver"
We register an `ACTION_LOCALE_CHANGED` `BroadcastReceiver` in `LocaleManager` but never unregister it. Is there a reason for this @pocmo ?

[2018-06-21 02:00] brampitoyo commented on #1962
@ekager @vickz84259 Yes. I can confirm that we should set the newly-created custom search engine as a default, right after you finish adding it.

[2018-06-21 04:19] brampitoyo commented on #1930
Updating the visuals to align with our redesign. No new feature has been added.
<img width="1588" alt="screen shot 2018-06-21 at 3 57 29 pm" src="https://user-images.githubusercontent.com/51007/41697208-e1423bf8-756b-11e8-938b-49cafd495cf4.png">

Spec
<img width="762" alt="screen shot 2018-06-21 at 4 18 11 pm" src="https://user-images.githubusercontent.com/51007/41697824-cc1edb84-756e-11e8-9c5c-bf

[2018-06-21 04:27] brampitoyo commented on #596
@pocmo The toggle existed for a good reason, then. If we want to have it under Settings, should we turn it on by default?

I still worry about adding a toggle that, 99% of the time, is always turned on. If this is the case, why clutter the page with one more option?

@cpeterso My original thinking was to keep the wording of each option consistent, but I agree that saying “block” is not really appr

[2018-06-21 04:46] brampitoyo commented on #1616
In this case, we may not have to show the advanced page at all – making the design even simpler.

Here’s the updated design that shows some of what we’ve been thinking:

* No “Advanced” section – it’s been replaced by “Open In”
* No “Report” checkbox
* And an idea: what if “Open In” is replaced with **“Accept the Risk and Continue”**? It will only work once, though. You won’t be able to add a perm