[2018-02-22 03:07] GammaBurst101 commented on #2130
@sv-ohorvath , Ya, that will be a great feature but there is already an open issue for this at #454. They are discussing this feature over there. You can check that out and if you feel that your problem is being addressed then you may remove this issue.

I hope I was helpful.

[2018-02-22 10:44] grubdragon commented on #2117
I'll try working on this

[2018-02-22 11:07] GammaBurst101 commented on #2125
I realized that there is an option of long-pressing a word to select it and then tapping on the 3-dots to open a little box from where I can select "Search Privately" as the option.
Therefore, I am closing this issue.

[2018-02-22 11:07] #2125 closed

[2018-02-22 13:03] Sdaswani commented on #2117
Thanks @grubdragon !

[2018-02-22 13:22] bbinto commented on #2001
see also #188 for status/progress

[2018-02-22 13:31] pocmo opened #2142 "Build failure: Unresolved reference: GeckoSession"
Build in automation started to fail:

Seems like GeckoView changed under the hood..

[2018-02-22 13:52] pocmo commented on #2142
After clearing all gradle caches I see the same problem locally too. I wonder what's causing this though. GeckoSession hasn't moved.

[2018-02-22 14:15] pocmo commented on #2142
We need to import org.mozilla.geckoview.GeckoSession now.

[2018-02-22 14:15] pocmo commented on #2142
A bunch of other things have moved from org.mozilla.gecko.* to org.mozilla.geckoview.*

[2018-02-22 14:38] pocmo commented on #2120
This heavily depends on what the third-party app defines in the manifest and what actual URL patterns they register for (or not).

[2018-02-22 14:41] pocmo commented on #2054
Might be #937 -> We do not support uploads yet.

[2018-02-22 15:35] pocmo commented on #2107
Because they actually render websites and therefore we need to perform tracking protection there too and potentially break things. Also we can't fully isolate WebViews. Data from websites (Cookies, cache) that the user browses in those screens might affects websites loaded in other tabs. And finally in those screens we are missing all the other controls to reload and navigate back/forward which ma

[2018-02-22 15:37] pocmo commented on #2061
Done! :) 🎉

[2018-02-22 15:37] #2061 closed

[2018-02-22 16:06] #1840 closed

[2018-02-22 17:17] ekager opened #2145 "Add focus:debug page for Gecko builds"

[2018-02-22 17:21] pocmo commented on #2038
@bbinto Duplicate of #195? For #195 we landed code in Firefox to open a private tab from a third-party app.

We should make sure that we are not annoying users. Imagine switching to the full browser because something doesn't work in Focus or you want to use your cookies etc. and then you end up in a private tab again.

[2018-02-22 17:42] ekager commented on #2128
Some more information - with Android WebView, we can disable these permissions so that the WebView cannot even request them (https://github.com/mozilla-mobile/focus-android/blob/master/app/src/webview/java/org/mozilla/focus/web/WebViewProvider.java#L119), but with GeckoView, we can't disable these currently and if we do not implement the callbacks, then the user will just see the browser as not wo

[2018-02-22 19:15] grubdragon commented on #2145
I'd do it, but I don't know how to work on GeckoView. I've only found one file of Localized Content, which I updated. Care to tell me where to start looking?

[2018-02-22 19:32] ekager opened #2146 "Add logging for page start and page finished in GV"

[2018-02-22 19:47] ekager commented on #2145
Hi @grubdragon ! If you want to do this as well and add it to your PR #2089 that's fine! You'll need to go to a new file, LocalizedContentGecko (https://github.com/mozilla-mobile/focus-android/blob/master/app/src/gecko/java/org/mozilla/focus/web/LocalizedContentGecko.kt) and implement the same changes as you did in LocalizedContent, but in a slightly different format. If you follow the format of t

[2018-02-22 21:59] berlinbra commented on #2078
I've created the commit 'Closes #2078'. I don't have permissions to push; what's the next step?

[2018-02-22 22:12] ekager commented on #2078
Hi @berlinbra ! Did you fork and then clone to create your own copy of the repo? You can then put your changes on a branch and push to your remote where you can then open a PR to compare our version to yours. We'll then review your changes and merge it if everything looks good! Here's a good intro to opening a PR https://opensource.guide/how-to-contribute/#opening-a-pull-request
Let me know if you

[2018-02-22 22:23] berlinbra commented on #2078
Great, thank you!

[2018-02-23 01:54] Sdaswani commented on #2146
"We're using the GeckoSession.ProgressListener.onPage{Start, Stop} callbacks for autophone tests."

[2018-02-23 04:48] GammaBurst101 commented on #2096
Firefox Focus for android:
The bug is only present with the notification erase.
The app works fine with the trash icon erase and erasing through tapping the 'back' button.

Device: Samsung Galaxy J7 Prime (Android: 7.0)
Version: Firefox Focus - Play store version - 4.0.2 (Build #20112247)

[2018-02-23 04:49] Sdaswani commented on #2096
Thanks for the verification @GammaBurst101 !

[2018-02-23 09:03] pocmo opened #2149 "Run UI tests on Klar+GeckoView flavor"
Currently our UI tests only run on Focus+WebView builds. We should run them on Klar+GeckoView too.

For that we might need to split our tests into three categories:
* Generic tests
* WebView only tests
* GeckoView only tests

[2018-02-23 09:07] pocmo opened #2150 "Implement GeckoSession.ContentListener.onCloseRequest()"
GeckoSession.ContentListener.onCloseRequest() appeared in new builds. I just added an empty implementation to make the build pass. Let's figure out if we need to implement it properly.

[2018-02-23 09:07] pocmo opened #2151 "Implement GeckoSession.NavigationListener.onNewSession()"
GeckoSession.NavigationListener.onNewSession() appeared in new builds. I just added an empty implementation to make the build pass. Let's figure out if we need to implement it properly.

[2018-02-23 13:09] pocmo commented on #2047
Thank you for filing this issue. I always wondered how Focus would behave on this phone as they use a different status bar height.

I wish it would be available in Europe.. :)

[2018-02-23 14:07] #1393 closed

[2018-02-23 15:01] bbinto opened #2155 "No sound when playing videos"
STR:

Klar+GeckoView build:

Go to https://olympics.cbc.ca/news/article/canada-play-for-men-hockey-bronze-after-being-stunned-germany.html

Expected behavior:
Video plays with audio

Actual behavior:
Video plays without audio (tested it in Chrome, worked fine with audio)

[2018-02-23 15:04] bbinto opened #2156 "URL address bar hijacking when playing videos"
STR:

Klar + GeckoView

- Go to https://olympics.cbc.ca/news/article/canada-play-for-men-hockey-bronze-after-being-stunned-germany.html
- Click play on video
- Stop video
- Check URL in address bar

Expected behavior:
- Same URL as before (https://olympics.cbc.ca/news/article/canada-play-for-men-hockey-bronze-after-being-stunned-germany.html)

Actual behavior:
- Video player/SVG URL: https://olymp

[2018-02-23 15:09] #2142 closed

[2018-02-23 15:20] #2041 closed

[2018-02-23 16:06] ekager commented on #2155
Dupe of #2118

[2018-02-23 16:06] #2155 closed

[2018-02-23 16:31] pocmo commented on #907
Note: For GeckoView we need a new API. But snorp mentioned that this would be easy to add.

[2018-02-23 16:37] pocmo commented on #907
Filed an issue for that: https://bugzilla.mozilla.org/show_bug.cgi?id=1440708

[2018-02-23 16:42] pocmo commented on #2128
I filed an issue to determine whether GeckoView can do the same as WebView:
https://bugzilla.mozilla.org/show_bug.cgi?id=1440710

To reduce risk I would avoid adding location etc. as a new feature unless @bbinto thinks it's a feature we want to ship in 5.0.

[2018-02-23 17:40] bbinto opened #2158 "Android Autofill support for GeckoView"
not for initial launch

[2018-02-23 17:40] #1810 closed

[2018-02-23 17:41] pocmo commented on #2117
Duplicate of #1983

[2018-02-23 17:41] #2117 closed

[2018-02-23 17:41] pocmo commented on #1308
Done!

[2018-02-23 17:41] #1308 closed

[2018-02-23 17:49] bbinto commented on #1341
merging with #1870

[2018-02-23 17:49] #1341 closed

[2018-02-23 17:51] pocmo commented on #2107
An example of special casing things because of those modal views is: #1964

[2018-02-23 17:55] bbinto commented on #1629
@brampitoyo Do we still need these [ux] bugs or is everything added to #1624

[2018-02-23 17:56] pocmo commented on #2007
In the meantime we disabled pull to refresh in all builds. We are tracking issues with this feature in #1776.

[2018-02-23 17:56] #2007 closed

[2018-02-23 18:04] pocmo commented on #2035
I think the answer to your question is: Yes, we track users that intentionally set the default browser: Either in the system settings or as "Always open" when clicking a link.

We are asking the system to return the default activity for "http://www.mozilla.org" - if this returns our package then we are the default browser. If not then it either returns another browser or the activity chooser.

[2018-02-23 20:09] mcomella commented on #2035
On my personal device (GS5, Android 6?) I actually don't get a prompt to "Open once" or "Always open" – this is the key point I'm trying to make. When you click to open in an app from a prompt, it automatically acts like you pressed "Always open", meaning it gets set as the default even if the user didn't intend for it to be.

Does this happen on other Android devices as well? If not, I think we c

[2018-02-23 21:29] mcomella commented on #2012
I'm unassigning because I'm not actively working on this – if someone wants to continue this, here's a link to the draft which was sent to security who hasn't responded yet: https://groups.google.com/a/mozilla.com/forum/#!topic/firefox-focus/rdDRUTULhzY

CC @pocmo

[2018-02-23 23:15] Sdaswani commented on #2146
Fair point @cpeterso - @ekager do you see a difference in the two APIs?

[2018-02-23 23:33] ekager commented on #2146
From WebView API :

void | onPageStarted(WebView view, String url, Bitmap favicon)     |                  Notify the host application that a page has started loading.
-- | -- | --
void | onPageFinished(WebView view, String url)           |            Notify the host application that a page has finished loading.

GeckoView API :

void | onPageStart(GeckoSession session,            String url) | A V

[2018-02-23 23:36] Sdaswani commented on #2146
Agree, thanks @ekager !

[2018-02-23 23:48] Sdaswani commented on #2146
@snorp let us know if you disagree.

[2018-02-24 00:01] ekager commented on #2156
We currently detect live changes in the URL including redirects in onLocationChange but this method also seems to be picking up the web content URIs as well.

In WebView, we are able to detect if the request is for the main frame in shouldInterceptRequest and update the URL accordingly.

I already have a Bugzilla issue to add the functionality of shouldInterceptRequest to GeckoView, and I will upd

[2018-02-24 00:05] ekager commented on #2156
Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1439013

[2018-02-24 00:27] ekager commented on #2128
I think without setting any PermissionDelegate, this issue is now solved. It's not "disabled" but it doesn't continue to search or prompt the user, which seems to be what Focus does as well. Closing.

[2018-02-24 00:27] #2128 closed

[2018-02-24 00:34] ekager commented on #2113
Closing because not using BB anymore for distributing builds.

[2018-02-24 00:34] #2113 closed

[2018-02-24 00:41] ekager commented on #652
I don't think this is still a problem, closing.

[2018-02-24 00:41] #652 closed

[2018-02-24 00:43] ekager commented on #2110
Haven't seen this issue again. Have you @bbinto ?

[2018-02-24 00:45] ekager commented on #2101
We are using the repo URL successfully, but I will keep this open and label as Blocked for the real maven repo issue.

[2018-02-24 00:51] ekager commented on #2084
Closing because this seems to be working

[2018-02-24 00:51] #2084 closed

[2018-02-24 00:52] ekager commented on #2103
Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1439013

[2018-02-24 00:54] ekager commented on #2091
@liuche tagging for data review!

[2018-02-24 05:36] npark-mozilla commented on #2122
This makes UI tests to fail on simulator.

[2018-02-24 19:32] ioana-chiorean commented on #1983
Hey @grubdragon check this ticket if u started working on a patch for the search engine selection

[2018-02-25 08:28] #2123 closed

[2018-02-25 21:02] brampitoyo commented on #1629
This bug is for the tweaks that we’ll make after we launch custom tabs – but it sounds like it’s not needed for the moment. Closing for now (we can always reopen later).

[2018-02-25 21:02] #1629 closed

[2018-02-26 09:43] pocmo opened #2161 "User agent for GeckoView-based builds"
Currently we are using:

We may not even need to change it: Flying under the radar and looking like any other Firefox could actually be a feature.

[2018-02-26 10:08] pocmo commented on #2035
Okay, setting the default on your device is weird - but it's the default nevertheless? I'm not sure how we should capture what the user intended to do?

[2018-02-26 10:24] pocmo opened #2162 "Use release builds of GeckoView"
There are none yet. However at some point (before the release) we want to use release builds. Currently we are using Nightly builds from mozilla-central. Those are not stable enough to use in production.

[2018-02-26 11:06] GammaBurst101 commented on #2035
Hey, it happens to me too. I tapped on a link and it gave me some options with the label "Open With". I clicked on "Firefox Focus".

After that, I tapped on another link but this time, I wasn't given the option to choose and it was opened in Firefoz Focus.

Device : Samsung Galaxy J7 Prime (Android 7.0)

[2018-02-26 12:43] bbinto commented on #2110
Got the latest version -- works now, closing, thanks @ekager

[2018-02-26 12:43] #2110 closed

[2018-02-26 13:44] pocmo opened #2167 "Strings import: oc / anp / an / wo / tt is not a valid locale"
The import of some locales fails:

Occitan (oc)
https://pontoon.mozilla.org/oc/focus-for-android/

Angika (anp)
https://pontoon.mozilla.org/anp/focus-for-android/

Aragonese (an)
https://pontoon.mozilla.org/an/focus-for-android/

Wolof (wo)
https://pontoon.mozilla.org/wo/focus-for-android/

Tatar (tt)
https://pontoon.mozilla.org/tt/focus-for-android/

[2018-02-26 14:38] pocmo commented on #1282
Closing as duplicate of #770.

[2018-02-26 14:38] #1282 closed

[2018-02-26 17:53] #2057 closed

[2018-02-26 18:49] pocmo opened #2171 "GeckoView-based version doesn't receive the tier1 sent to Chrome Android"
See "Firefox for Android" issue for the whole story:
https://bugzilla.mozilla.org/show_bug.cgi?id=975444

Our GeckoView-based versions have the same problem as Firefox for Android: Google doesn't send us their tier1 version/content. For example the search page looks pretty bad.

[2018-02-26 18:56] pocmo commented on #2171
![search-results](https://user-images.githubusercontent.com/89638/36689177-f9d5877a-1b2e-11e8-97de-509086ae4f66.png)

[2018-02-26 20:02] pocmo commented on #2112
GeckoView: https://bugzilla.mozilla.org/show_bug.cgi?id=1441279

[2018-02-26 20:03] mcomella commented on #2035
I agree: I was raising this issue to emphasize the uncertainty of this metric for Product. it seemed like @bbinto had been using the "default browser" metric to make a lot of product decisions but I was questioning how accurate this metric really is.

I'm not sure how significant this metric still is in @bbinto 's thinking, but it's something to think about.

[2018-02-26 23:43] ekager commented on #454
Hi @ahunt , did you end up starting work on this, or should I take it over?

[2018-02-27 02:27] brampitoyo commented on #2107
Initially, I was worried about the confusion that may result from presenting in-content pages in the same manner as the rest of the web. But you’ve outlined a few technical as well as UI problems that appear as a result of our current way of doing things, and I agree with all of them.

So then, can we open in-content pages in normal browser tabs without causing confusion?

Yes. I think so, but we

[2018-02-27 10:05] pocmo commented on #2107
Yeah, this sounds good! Let's try that!

[2018-02-27 11:59] #1573 closed

[2018-02-27 11:59] #2032 closed

[2018-02-27 12:01] pocmo commented on #1707
We stopped using buddybuild. For now preview builds (potentially unstable!) are available here: https://bit.ly/focus-preview-builds

[2018-02-27 12:02] pocmo commented on #1697
The APK size check has been removed as we do not care about the APK size **that much** anymore.

[2018-02-27 12:02] #1697 closed

[2018-02-27 12:02] pocmo commented on #928
We stopped using buddybuild. For now preview builds (potentially unstable!) are available here: https://bit.ly/focus-preview-builds

[2018-02-27 12:02] #928 closed

[2018-02-27 12:03] #1707 closed

[2018-02-27 13:07] pocmo commented on #2167
We have to add those manually to our import script again.

@Delphine Can you help me with getting the language names again? :)

[2018-02-27 13:08] pocmo commented on #2062
Depends on #2167.

[2018-02-27 13:08] #2062 closed

[2018-02-27 13:13] pocmo opened #2173 "GeckoView: Use custom error pages"
Currently they look like this and seem to be in the "loading" state indefinitely.

![error-page](https://user-images.githubusercontent.com/89638/36730604-48010a20-1bc8-11e8-926a-c966edf3132e.png)

[2018-02-27 13:25] pocmo opened #2174 "GeckoView: Save and restore state (when switching tabs)"
There are certain situations (like switching tabs) where we save the `IWebView` state in the session object and restore it later. This is not implemented for GeckoView yet. In this situation we are reloading the last URL and have lost the whole history of that session.

[2018-02-27 16:40] Delphine commented on #2167
On it! Will update here once I get that :)

[2018-02-27 18:31] pocmo opened #2176 ""What's new?" URL for Focus/Klar 4.1"

[2018-02-27 18:31] pocmo opened #2177 ""What's new?" URL for Focus/Klar 5.0"

[2018-02-27 18:59] pocmo opened #2179 "Export strings for Focus/Klar 4.1"
Not sure about the timeline yet. But we will have at least one new string.

[2018-02-27 19:17] ekager commented on #454
@brampitoyo wondering if any of these icons need updating from previously specified from the Photon library, etc?

[2018-02-27 19:30] npark-mozilla opened #2181 "UI Test script for Taskcluster is using old directory to look for apk files to upload"
Since the SDK update, apk location has been changed.  execute-firebase-test.sh should be updated from

--app="app/build/outputs/apk/app-focus-webview-debug.apk" \
--test="app/build/outputs/apk/app-focus-webview-debug-androidTest.apk" \

to

--app="app/build/outputs/apk/focusWebview/debug/app-focus-webview-debug.apk" \
--test="app/build/outputs/apk/focusWebview/debug/app-focus-webview-debug-android

[2018-02-27 22:24] npark-mozilla opened #2182 "When running tests on klarGeckoDebug mode, the app crashes with strictmode violation"
Upon running the test, it shows "The app has violated its self-enforced StrictMode Policy" dialog.

@pocmo a couple questions:
- Should we run tests on focusGeckoDebug, or klarGeckoDebug?  I've been trying to run tests on klar and rename the dependencies to Klar for the tests in AndroidTestGecko folder.
- Wasn't there something we did to avoid running into strict mode violation in webview? we'd ne

[2018-02-27 22:30] Delphine commented on #2167
@pocmo: I've just had a localizer ask me to enable Tatar (tt) locale for Focus Android, so I've added it to Pontoon. I expect him to start localizing very soon, so I'm adding him here as a mental note to the current list of locales we should add to screenshots :)
I've asked him for the language name as well, so I can report here once he (and the others) reply.

[2018-02-27 22:33] brampitoyo commented on #454
@ekager As far as I’m aware, our icon situation is still the same as October. Maybe it will help to have a look at the icons that Firefox for Android uses, and use them for our own design?

[2018-02-27 22:34] brampitoyo commented on #2107
@pocmo Hope this isn’t overthinking, but I’m still cautious about the burden we put on the user by having them manage tabs when all they want to do is get support.

Let’s try this idea first and see whether we can offset this tab management hassle by having clear animations and visual cues.

The other problem I see is that, once the Help page opens in a new tab, there’s no way to close only that s

[2018-02-27 23:05] brampitoyo commented on #454
After talking with @ekager, we’ve decided to follow Fennec’s SSL info modal design instead of implementing our own (circa October 2017).

When we started this project, Fennec didn’t have a Photonised design. We wanted to look forward, so have came up with the designs above. Since then, Fennec had been redesigned from the ground up. This included the SSL info modal. For consistency and simplicity,

[2018-02-28 07:24] CoderSpinoza opened #2183 "CustomTabsCallback not reporting navigation events"
I am developing an OAuth login module with custom tabs and currently experiencing an issue with <a href="https://developer.android.com/reference/android/support/customtabs/CustomTabsCallback.html">CustomTabsCallback</a>'s <a href="https://developer.android.com/reference/android/support/customtabs/CustomTabsCallback.html#onNavigationEvent(int, android.os.Bundle)">onNavigationEvent()</a> method on F

[2018-02-28 08:31] pocmo commented on #2183
Thank you for filing this. Our Custom Tab protocol implementation is indeed very basic at the moment. :)

[2018-02-28 08:36] pocmo commented on #454
With out current timeline I guess it's pretty safe to take this over. There are two commits linked above. Maybe they are helpful: 4776404eb2d1ee682075ab49569bdb8cbe0eeb41 4955a361c4476ab6bdd5e9cb717cc58a75a57a8f.

I wonder if we can get everything we need for this dialog from WebView. On IRC snorp mentioned that onSecurityChange() should provide this data in GeckoView.

Do we have vector images fo

[2018-02-28 08:42] pocmo commented on #2107
Yeah, I agree. In Fennec we also have some "settings" that instead close the screen and open a tab. And yes, there have been discussions whether this might be confusing.

Pressing the hardware back button should close the tab if there's no history to go back to. But it's not that obvious.

[2018-02-28 08:43] pocmo commented on #2181
Our "preview release" script should be affected by this too.

[2018-02-28 08:54] pocmo commented on #2182
Technically it shouldn't matter for now. However as we are running tests on focusWebView - let's try klarGecko just to make sure there are no surprises in "klar".

I saw this dialog a bunch of times too. There might actually be a problem here that strict mode found and we need to fix.

I think we didn't disable strict mode completely. We just changed it from "crash" to "show dialog". This here mig

[2018-02-28 10:08] pocmo commented on #2105
@brampitoyo I'm going to update the order of menu items. Your mocks say "Open in ..." while our strings are "Open with ..." currently. Is this something you want to update too?

[2018-02-28 10:22] pocmo opened #2185 "Strict Mode violation in WebViewProvider$GeckoWebView.<init>"
Related: #2182

[code]

[2018-02-28 10:55] layely opened #2187 "Add telemetry event when switching from custom tab to full browser"
A follow up of [open in firefox focus PR](https://github.com/mozilla-mobile/focus-android/pull/1634#pullrequestreview-96672658)

[2018-02-28 10:58] layely opened #2188 "Add animation when switching from custom tab to full browser"
A follow up of [open in firefox focus PR](https://github.com/mozilla-mobile/focus-android/pull/1634#pullrequestreview-96672658)

[2018-02-28 11:16] pocmo commented on #2188
CC: @brampitoyo

[2018-02-28 11:17] pocmo commented on #1529
Follow-up issues: #2188, #2187

[2018-02-28 11:17] #1529 closed

[2018-02-28 13:32] pocmo commented on #446
This is enabled for GeckoView-based builds.

[2018-02-28 14:01] #1871 closed

[2018-02-28 16:11] pocmo opened #2192 "Calculated average load time is getting smaller over time"
We are calculating the average load time like this:

However this value is getting smaller over time:

We calculated 658 - but we want (4084 + 4320 + 2358 + 2355 + 2158) / 5 = 3055.

I didn't know that you can add additional values to a calculated average but math.stackexchange[1] says:

And this actually seems to work:

[1] https://math.stackexchange.com/a/957376

[2018-02-28 17:01] Delphine commented on #2167
@pocmo:
* Occitan (oc) should be: occitan
* Aragonese (an): Aragonés
* Tatar (tt): татарча
* Wolof (wo): Wolof
(should respect title case)
Still waiting on Angika (anp) to reply!

[2018-02-28 18:57] ekager commented on #2192
Oops, I'll get right on this

[2018-02-28 19:25] snorp commented on #2173
We have plans to bring the Fennec error pages to GV. Does that sound reasonable?

[2018-02-28 22:17] brampitoyo commented on #2188
Thanks for following up, @layely!

I have a few questions:

1. Do we currently use or specify any switch animation?
2. Phone manufacturers (like Samsung) may choose to implement their own transition animation. Is there a way for us to say “use the OS default animation”, instead of writing our own implementation?

[2018-02-28 22:20] brampitoyo commented on #2105
@pocmo Yes. I would like to update the menu item strings so they both say “Open in…”

String consistency is what I’m aiming for. The choice of “in” vs. “with” is less important – but “in” is preferrable.

[2018-02-28 23:30] brampitoyo commented on #454
Yes, we do. I’ve given the link to our Fennec SVG folder to @ekager in a DM.

[2018-03-01 09:40] pocmo opened #2194 "Gecko: Do not scroll while moving text selection handles"
When selecting text the current page scrolls too.

Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1442176

I first thought that's GeckoView and filed the Bugzilla bug above - but this might be caused by our NestedGeckoView implementation.

[2018-03-01 09:50] pocmo opened #2195 "Missing in locales.py: hr, am"
See #2025 - Our new script detected that two locales are missing in our locales configuration script.

[2018-03-01 10:16] pocmo commented on #2173
That's something product/UX should decide: @bbinto, @lime124, @brampitoyo

What we do in the WebView version is: In OnReceiveError (WebViewClient) we determine what error happened and then load our own page via loadDataWithBaseURL() [+ we set a flag to avoid calling some of the callbacks when loading an error page].

[2018-03-01 12:10] pocmo opened #2196 "Ads on m.heise.de/9gag.com with GeckoView version (Block all Disconnect trackers)"
On https://m.heise.de I see an overlay ad and a banner at the top of the page. Those do not show up in the WebView version or in Fennec's private browsing mode.

[2018-03-01 13:41] TonnesM commented on #1388
+1, also see [this support question.](https://support.mozilla.org/questions/1206905)

As Firefox for Android opens tabs in the background by default (something users may be accustomed to), why not just change the behavior to the same without adding a new option, as suggested? (Albeit a "Switch to tab" feature would be required, or simply _not_.)

[2018-03-01 14:29] pocmo commented on #1388
CC: @brampitoyo

[2018-03-01 15:17] pocmo opened #2198 "Trigger UI tests for PRs with specific label"
Currently we only run UI tests for code that was pushed/merged to **master**. We do not run them for PRs because:
* We want to save resources and not over-use Firebase for changes which do not need to be tested
* We do not want to leak tokens for using the Device Lab with our account.

Idea:
We can trigger taskcluster tasks whenever a label is added to a PR (Event: pull_request.labeled). We could

[2018-03-01 16:48] pocmo commented on #2195
FYI @Delphine: I'll add those two to our screenshot list.

[2018-03-01 17:54] pocmo commented on #2173
@snorp If we can't define our own error pages and have to use the ones included in GV... can we localize them? We are using a different set of languages than Fennec.

[2018-03-01 19:41] Delphine commented on #2167
Here is Angika: अंगिका

Thanks Sebastian!

[2018-03-01 19:43] Delphine commented on #2195
Thanks Sebastian! I kinda stopped tracking since Focus was on pause. It's good to see things are starting again -  I'll start tracking once more and open an issue for new locales going onwards :)

[2018-03-01 20:57] npark-mozilla opened #2201 "Compare website loading performance on Webview vs. GeckoView"
We need to create Espresso tests that compares the loading time of popular websites (100 or so) on FocusWebviewDebug vs. KlarGeckoViewDebug build variant.

James Wilcox says the measurement should be made between GeckoView's Onpagestop and Onpagestart, (supposedly they are being used by progresslistener) and the counterparts on Webview.

@pocmo , @ekager what would be the best way to detect above

[2018-03-02 02:25] CoderSpinoza commented on #2183
Thanks for your comment. Would it be okay if I contribute to this feature? :)

[2018-03-02 03:08] CoderSpinoza opened #2203 "Focus' custom tab opens in a separate task"
Currently, custom tabs with Focus for Android opens in a separate task, unlike other browsers such as Chrome, Samsung Internet Browser, and Firefox for Android. It is almost same as just opening a full browser from user's perspective.

I am not sure if current implementation is by design, but It might hinder user experience as stated in [Chrome Custom Tabs documentation](https://developer.chrome.c

[2018-03-02 09:58] pocmo commented on #2198
This almost works.

One missing piece is that we cannot limit the token scope to "pull-request.labeled". Currently it's only possible to set the scope for *all* pull requests. That's now what we want.

[2018-03-02 10:29] pocmo commented on #2198
Taskcluster feature request:
https://bugzilla.mozilla.org/show_bug.cgi?id=1442548

[2018-03-02 12:00] GammaBurst101 opened #2205 "[Feature Request] Search with audio input"
I think the feature of searching with audio input will be great for focus. What do you guys think?

[2018-03-02 12:35] pocmo commented on #2205
Thanks for filling!

This looks like a duplicate of #1155.

[2018-03-02 12:35] #2205 closed

[2018-03-02 12:44] grubdragon commented on #2145
@ekager almost done, but I can't seem to get the User Agent string. Could you guide me?

[2018-03-02 13:36] sv-ohorvath opened #2206 "Incorrect options in the Video context menus"
Build: Klar+GeckoView 4.0

STR:
1. Go to a youtube video, or http://techslides.com/demos/sample-videos/small.ogv.
2. Long tap the video playing.

Expected results:
Video context menu should be displayed: share video, play, pause, save video, etc. - as on Nightly
Or no context menu at all - as on Focus.

Actual result:
The image context menu appears, with the options: share image, copy image addres

[2018-03-02 13:41] GammaBurst101 commented on #2205
OK

[2018-03-02 13:47] pocmo opened #2207 "Fix TypicalUseTest"
This test has been failing in automation frequently.

[code]

[2018-03-02 14:24] pocmo commented on #2183
Yes, that's definitely okay! :)

[2018-03-02 15:02] pocmo commented on #2203
Fixing this depends on #770

[2018-03-02 15:03] pocmo commented on #2145
@grubdragon You could use JavaScript on the debug page to read `navigator.userAgent`.

[2018-03-02 15:27] sv-ohorvath commented on #2118
Looks like the audio issue it's fixed in Klar+Gecko 4.0.

[2018-03-02 15:49] sv-ohorvath opened #2209 "Audio keeps playing when you switch tabs/clear history"
Build: Klar+gecko 4.0

STR:
1. Play a youtube/vimeo video with the volume turned on.
2. Open/switch to a new tab.
3. Clear the history.

Expected results:
The audio should stop when you go to a different tab.
More important: audio should stop when you erase the history.

Actual results:
Audio keeps playing.

[2018-03-02 16:11] pocmo opened #2211 "(tt, Tatar) missing placeholder in translation"
Error when importing strings:

This seems to be a typo. Translated string is:

Placeholder should be %1$s instead of %1$

[2018-03-02 16:11] pocmo commented on #2211
CC @Delphine

[2018-03-02 17:43] #2105 closed

[2018-03-02 17:43] #2195 closed

[2018-03-02 17:44] #2185 closed

[2018-03-02 17:45] pocmo commented on #2182
@npark-mozilla I've changed our strict mode configuration from "show a dialog" to "write to log". Now UI tests shouldn't be disrupted by strict mode anymore.

[2018-03-02 17:48] pocmo commented on #2207
@npark-mozilla I'll disable this test temporarily. We didn't get a single successful test run on all devices today. Can you investigate what's going wrong here?

[2018-03-02 18:16] pocmo opened #2214 "Release Engineering - 4.1"
## Sprint start [1st week of milestone]

- [x] Update versionName in build.gradle for the next milestone (preliminary version number)

## Feature complete [Monday, 1st week of next milestone]

- [x] Create a branch for the *current* milestone and protect it through Settings on the repo (need admin privileges). After that master is tracking the next milestone. Usually done on the Monday after featu

[2018-03-02 18:53] Delphine commented on #2211
Thanks, I've corrected this in Pontoon!

[2018-03-02 19:25] ekager commented on #2118
For which device(s) @sv-ohorvath ?

[2018-03-02 19:34] mcomella commented on #2003
@pocmo ^

Sorry to redirect, siddware – I'm not actively working on Focus at the moment.

[2018-03-02 20:39] bbinto commented on #2035
Thanks for bringing this up, @mcomella.

Is there a way to figure out what devices/users don't get a prompt to "Open once" or "Always open" and carefully extract or separate them from our query?

[2018-03-02 21:12] grubdragon commented on #2145
Ah, great idea @pocmo !! PR incoming :)

[2018-03-02 23:46] ekager commented on #454
Tagging @brampitoyo for quick review of the three states

![screenshot_20180302-153957](https://user-images.githubusercontent.com/25442310/36927166-a238b712-1e30-11e8-8740-b74f2f44f09f.png)
![screenshot_20180302-153932](https://user-images.githubusercontent.com/25442310/36927169-a4124e68-1e30-11e8-9afe-60146f65759d.png)
![screenshot_20180302-154124](https://user-images.githubusercontent.com/254423

[2018-03-02 23:53] calvinf opened #2217 "Clear Visited CSS feature breaks / throws JS errors in Chromium webview"
When Firefox Focus opens pages on a website in the Android webview, it attempts to use a feature called "Clear Visited CSS" to alter the CSS selectors in any CSS files (loaded via `<link>`) to remove any selectors with `:visited` in them.

[Source](https://github.com/mozilla-mobile/focus-android/blob/5be3f3016a747e648101614c61115465bee51545/app/src/webview/java/org/mozilla/focus/webview/FocusWebVi

[2018-03-04 21:54] brampitoyo commented on #454
Hi Emily, you’re on the right track! Just a few items to note, so we can match Fennec’s style a bit more:

![fennec-vs-focus-ssl-info 2x](https://user-images.githubusercontent.com/51007/36950988-f5932c7e-2062-11e8-9d4e-61b9d7dbe509.png)

1. Fennec’s warning icon on the toolbar is slightly smaller than ours.
2. After adding exception, our SSL modal seems to be missing a text that says “You have add

[2018-03-04 22:19] brampitoyo commented on #2173
We have already planned to match Fennec’s style and behaviour on our SSL info modals (#454).

Therefore, porting along Fennec’s error pages would also be a natural next step and a good idea.

[2018-03-04 22:40] brampitoyo commented on #1388
I agree that opening new tabs in the background should be a preferred behaviour.

The question is, should we also keep our existing behaviour to “Open in new tab, then switch to it?”. I put forth the proposal that we should adopt the new behaviour and drop the old one. This keeps our menu small and easily navigable.

But if we want this to be an option, I recommend using the wording “Open link in

[2018-03-05 01:13] brampitoyo commented on #2173
To add a very important caveat: if there’s a good reason why the language of our error pages are different from Fennec’s, we should localise our own. It’s just good to maintain design/content consistency as a general principle, and diverge/go our own way only when necessary.

[2018-03-05 04:52] brampitoyo commented on #2107
Posting a draft visual + animation that will help clarify how in-content page can open.

![android in content pages](https://user-images.githubusercontent.com/51007/36958000-6cf34d8c-209d-11e8-8060-e1fa99c94d8b.gif)

As mentioned by @pocmo, it’s not that obvious what pressing the hardware back button will do. On the first press, it’s a simple answer: the tab will close. But on the second press, sh

[2018-03-05 08:39] pocmo commented on #1388
I like the snackbar confirmation that Firefox for Android shows when opening a tab in the background. It allows the user to switch to the background tab immediately if needed.

![tab-opened](https://user-images.githubusercontent.com/89638/36965132-0495724a-2059-11e8-8e2d-183f608c5797.png)

[2018-03-05 08:42] pocmo commented on #2107
This might be confusing too considering that a lot can happen until the user presses back again - and then they might not expect going to settings again. However I'm more concerned here that this will again add engineering overhead because we would need to track the journey the user has been taking through the app.

[2018-03-05 09:10] pocmo commented on #2217
Thank you for this bug report!

[2018-03-05 09:51] sv-ohorvath commented on #2118
*Only works on Android 6 and lower:
HTC Desire 820 (Android 6.0.1)
Samsung Galaxy Note 4 (Android 5.0.1)
Huawei Honor 5X (Android 5.1.1)

Still no audio on Android 7 & 8:
HTC 10 (Android 8.0)
Google Pixel (Android 8.0)
Samsung Galaxy S8 (Android 7.0)
Motorola Nexus 6 (Android 7.0)

[2018-03-05 09:53] sv-ohorvath commented on #2209
There's issue #2118 for that.
This issue reproduces on devices with Android 6 or lower. e.g.:
HTC Desire 820 (Android 6.0.1)
Samsung Galaxy Note 4 (Android 5.0.1)

[2018-03-05 11:00] pocmo commented on #2118
Updated to GeckoView 2018-03-04 (not merged yet!) and this seems to work now.

[2018-03-05 11:13] pocmo commented on #2209
Okay, now after fixing #2118 I see this on my device happening too!

[2018-03-05 11:21] pocmo commented on #2209
GeckoView bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1443105

[2018-03-05 11:36] pocmo opened #2221 "GeckoView: Download without permission shows error dialog"
When trying to download a file an error dialog shows up: "could not be saved, because an unknown error occured. Try saying to a different location".

[2018-03-05 11:44] pocmo opened #2222 "GeckoView version inherits a bunch of permissions from GeckoView"
Builds with GeckoView have a bunch of more permissions now (at least camera, microphone, location).

For Android versions with runtime permissions this might be okay. But users of older Android versions will need to manually accept those permissions in order to update Focus/Klar. :(

[2018-03-05 11:45] pocmo commented on #2221
Even after manually allowing storage access the dialog shows up.

[2018-03-05 11:46] pocmo commented on #2221
![download-dialog](https://user-images.githubusercontent.com/89638/36973410-2accf4be-2073-11e8-9e21-8bf7c6838146.png)

[2018-03-05 13:21] pocmo commented on #2176
CC: @bbinto

@jonisavage Can you create the URL for us? :)

[2018-03-05 13:26] pocmo opened #2223 "Add license header to AverageLoadTimeObserver"
AverageLoadTimeObserver is missing our license header:

[code]
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/observer/AverageLoadTimeObserver.java

[2018-03-05 13:29] #2192 closed

[2018-03-05 13:56] pocmo commented on #2187
Now that users can switch from a custom tab to the full-featured browser we added a probe for that:
* (action, open, menu, full_browser)

# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) What questions will you answer with this data?

* Get an id

[2018-03-05 13:57] sv-ohorvath opened #2225 "Klar+Gecko: Crash when opening a drop-down menu"
Build: Klar+GeckoView 4.0
Devices:
HTC Desire 820 (Android 6.0.1)
Samsung Galaxy S8 (Android 7.0)
Google Pixel (Android 8.0)

STR:
Go to wikipedia.com and tap the language menu in the search toolbar.

Expected result: A combo box opens.

Actual result: Klar crashes. See log attached.
[dropdown logcat.txt](https://github.com/mozilla-mobile/focus-android/files/1781037/dropdown.logcat.txt)

[2018-03-05 13:59] pocmo commented on #2225
[code]

[2018-03-05 14:06] #1974 closed

[2018-03-05 14:19] pocmo commented on #2207
Fixed.

[2018-03-05 14:19] #2207 closed

[2018-03-05 14:47] sv-ohorvath opened #2226 "Klar+GeckoView: fails to display a date picker"
Build: Klar+GeckoView 4.0
Devices:
Google Pixel (Android 8.0)
Samsung Galaxy S8 (Android 7.0)
HTC Desire 820 (Android 6.0.1)

STR:
1. Go to https://daleharvey.github.io/testapp
2. There are 2 date/time pickers under the "Get location" button. Observe the first.

Expected result: A date picker should be displayed.

Actual result: The first date picker is not displayed.

[2018-03-05 15:00] sv-ohorvath opened #2227 "Klar+GevkoView fails to open certain links"
Build: Klar+GeckoView 4.0
Devices:
Google Pixel (Android 8.0)
HTC Desire 820 (Android 6.0.1)

STR:
1. Go to https://daleharvey.github.io/testapp
2. Tap the Email and the Telephone links.
3. Go to wikipedia.com, tap the "View full list of available Wikipedia apps" link.

Expected results:
2. The links should launch the email and the phone apps.
3. A new Wikipedia page is opened.

Actual result: Not

[2018-03-05 15:07] sv-ohorvath commented on #2227
The same error appears in the logcat when I try to download a file from https://www.thinkbroadband.com/download.
Error shown on the page:
![screenshot_20180305-163609](https://user-images.githubusercontent.com/4037709/36982069-8ad2100a-2097-11e8-9d99-8efa283d330a.png)

[2018-03-05 15:12] #1981 closed

[2018-03-05 15:13] pocmo commented on #2227
Download error is tracked in #2221 - Seems like we use the same download test page :)

[2018-03-05 15:38] sv-ohorvath commented on #2196
Same on 9gag.com.

[2018-03-05 16:57] npark-mozilla opened #2229 "App crashes in AverageLoadTimeObserver.java during test"
When running SwitchContextTest in Firebase, the app crashes during the test and fails.  The stacktrace shows that it's failing here:

FATAL EXCEPTION: main
Process: org.mozilla.focus.debug, PID: 6452
java.lang.IllegalAccessError: There's no active session
	at org.mozilla.focus.session.SessionManager.getCurrentSession(SessionManager.java:117)
	at org.mozilla.focus.observer.AverageLoadTimeObserver.o

[2018-03-05 17:02] npark-mozilla opened #2230 "DeleteWebViewDataTest fails intermittently, not finding the files it expect"
In some cases, deleteWebViewDataTest fails with:

java.lang.AssertionError: Expected file 'files' to be in the app's data dir whitelist
	at org.junit.Assert.fail(Assert.java:88)
	at org.junit.Assert.assertTrue(Assert.java:41)
	at org.mozilla.focus.privacy.WebViewDataTest.DeleteWebViewDataTest(WebViewDataTest.java:239)
	at java.lang.reflect.Method.invoke(Native Method)
	at org.junit.runners.model.F

[2018-03-05 17:08] antlam commented on #1388
@pocmo +1, when we did that for Fennec, I think it was under the same circumstances.

We should have Telemetry on that too!

[2018-03-05 17:14] npark-mozilla opened #2231 "PageVisitTest intermittently fails with: Error performing 'single click - At Coordinates: 751, 170 and precision: 16, 16' on view 'with id: org.mozilla.focus.debug:id/whats_new'."
It appears that this is timing related. Looking at the video, the menu item might be getting tapped too early.  Also, what's new page seems to be failing to load

android.support.test.espresso.PerformException: Error performing 'single click - At Coordinates: 751, 170 and precision: 16, 16' on view 'with id: org.mozilla.focus.debug:id/whats_new'.
	at android.support.test.espresso.PerformException$

[2018-03-05 18:34] SrChip15 commented on #2223
I would like to fix this.

[2018-03-05 20:40] npark-mozilla commented on #2201
- [ ] Add bookends in the client code
- [ ] Create UI Test scripts
- [ ] Update taskcluster script to submit master builds to nimbledroid

[2018-03-05 20:56] npark-mozilla opened #2235 "Add bookends in the client code for NimbleDroid testing"
For performance measurement, we need to collect the time taken to load a webpage by measuring the time between Onpagestop and Onpagestart.

We will follow Example 1 in http://docs.nimbledroid.com/androidUserGuide.html#bookending-code , and the bookends can be added in https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/observer/AverageLoadTimeObserver.ja

[2018-03-05 21:41] npark-mozilla opened #2236 "Create UI Test Script for performance comparision on website loading"
This is a subtask of #2201

The script will initially load about 10~20 websites in order, where the loading time will be measured and collected.

Since the bookends will be hit multiple times, they need to be defined with an iterator inside the client code.

[2018-03-05 21:50] lime124 commented on #1980
assigning to @brampitoyo for a UI proposal

[2018-03-05 21:50] npark-mozilla commented on #2235
@pocmo Since the bookend pair can be used only once, we have to name them uniquely since the UI test will visit websites multiple times.
- Is the flavor/variant name visible inside AverageLoadTimeObserver.java?
- Is the requested URL visible inside AverageLoadTimeObserver.java?
- If the URL is not visible, I was thinking about creating a simple iterator like:
[code]

would this work? if not we can

[2018-03-05 21:55] npark-mozilla opened #2237 "Update taskcluster script to submit builds to nimbledroid"
The test needs to be run on two variant:

focusWebviewDebug
klarGeckoviewDebug

The instruction is here: http://docs.nimbledroid.com/androidUserGuide.html#simple-example-curl

Will provide more details on json key and other parameter values shortly

[2018-03-05 21:59] lime124 commented on #1920
@brampitoyo i think this is related to what you've been working on recently with opening settings' pages in new tabs? does that work might make this bug irrelevant?

[2018-03-05 22:03] brampitoyo commented on #1388
+1 for the snackbar confirmation.

Then we can just have one “Open link in new tab” item on the menu. This item will open the tab in the background. And with the snackbar, you’ll have the ability to switch to it almost immediately.

[2018-03-05 22:35] brampitoyo commented on #1920
Normally, our in-content pages are websites. But “About Firefox Focus” and “Your Rights” are two are pages that then contain links to websites.

@pocmo is correct. We can override the current back and system back buttons behaviour so that they go back in history if there’s any, then leave the screen if there’s no more history.

But a better solution is as @lime124 proposed: figure out a way to han

[2018-03-05 23:45] brampitoyo commented on #2107
@pocmo You’re right. For now, let’s not worry about the second press of the “Back” button, and focus on designing a good experience for opening in-content links in normal tabs

[2018-03-06 01:20] brampitoyo commented on #1980
I looked through the Material Design Guidelines and found no specific recommendation for using a progress bar after submitting the form (it’s practically the action users do when they tap “Save”).

Our current state looks fine, but to improve its appearance, I recommend putting the circular progress underneath the grey line, and giving it a 32dp top margin.

<img src="https://user-images.githubuse

[2018-03-06 01:50] layely commented on #2188
We are using some (default I think) transition when opening  setting or help page via the menu.

After some investigation, I did not find a way to get the default switch animation which is as you mentionned vendor or theme dependant.

CC: @mcomella

[2018-03-06 02:50] liuche commented on #2187
A few quick questions:

* Who will monitor this data permanently?
* Are you collecting other data to answer the second question "Identify what browser features a user might be missing in a custom tab" ? I don't see any additional probes requested in this review (to action-click-menu-full_browser)

[2018-03-06 02:52] liuche commented on #2187
Pending questions ^

1) Is there or will there be **documentation** that describes the schema for the ultimate data set available publicly, complete and accurate?
On Focus-Android telemetry wiki

2) Is there a control mechanism that allows the user to turn the data collection on and off?
Focus data controls

3) If the request is for permanent data collection, is there someone who will monitor the

[2018-03-06 07:06] AniketSK commented on #2096
Has this been resolved but not released yet? If I download from the play store, the issue exists. However, running the latest master, it does not.
I followed the steps that @eiffel-fl mentioned:
1. Logging into Outlook email with the "keep me signed in" ticked.
2. Click erase and open from the notification.
3. Go to outlook.com
Doing that, shows me the sign in option. It does not record me as prev

[2018-03-06 09:12] pocmo opened #2238 "Taskcluster: Keep preview builds longer"
Currently we save build artifacts for one week. With flaky UI tests we managed to not produce any preview builds for a week and now they are gone. We should keep them a little longer..

[2018-03-06 11:00] pocmo commented on #2235
Yes. The gradle build generates a BuildConfig class that contains those values as static members.

Yes. You can get it by calling session.getUrl().getValue().

This sounds good too!

[2018-03-06 12:30] bbinto commented on #1216
More via GPS

"Browser itself is fantastic. Lightweight, private, everything you would want. However it uses an incredible amount of cpu power even when it's not in use, making it almost unusable your phone goes from 100% to 60% in an hour, even when the screen is off."

[2018-03-06 15:05] Sdaswani commented on #2096
@AniketSK - @mcomella is super busy on another project.

@pocmo do you have any idea if the issue was fixed on master?

[2018-03-06 15:39] pocmo commented on #2096
Not intentional afaik.

Which flavor are you building?

I can't reproduce this locally. @npark-mozilla Can you try if you can still reproduce this?

[2018-03-06 15:43] Sdaswani commented on #2096
@pocmo i just tried on my Galaxy S8 and I can reproduce too - trash button works, system notification doesn't.

[2018-03-06 15:55] AniketSK commented on #2096
Play store version doesn't work, building and running from master does for
my LG G4 (marshmallow), A Nokia 6 (Nougat) and an Oreo emulator.

On 6 Mar 2018 21:14, "Susheel Daswani" <notifications@github.com> wrote:

[2018-03-06 16:06] npark-mozilla commented on #2096
@pocmo interesting, it's not reproducible anymore on current master (focusWebviewUniversalDebug) . But yes, the release version would still have this bug.

[2018-03-06 16:18] Sdaswani commented on #2096
to be clear i reproduced on the play store version

[2018-03-06 19:44] bbinto commented on #2173
Are we scope-creeping here?
Can we not re-use the existing Focus/Klar error pages or since we are moving engines, we need to create / user our own?

[2018-03-07 00:51] ekager commented on #454
![screenshot_20180306-163633](https://user-images.githubusercontent.com/25442310/37067154-64cf6f62-215d-11e8-9bda-e8c3794ecd84.png)
![screenshot_20180306-163714](https://user-images.githubusercontent.com/25442310/37067156-6692b570-215d-11e8-835b-04f6c4e82ffc.png)
![screenshot_20180306-163646](https://user-images.githubusercontent.com/25442310/37067158-6883dea4-215d-11e8-86af-53d6db295d92.png)

Hi

[2018-03-07 03:04] brampitoyo commented on #454
Thanks a lot for looking into this! Maybe it’s possible that the SVG used on Fennec has a bigger margin? Anyway, we shouldn’t change anything from our end. Let’s keep the dimension that’s already in use today.

I hope it’s not just my sights, but I still can’t see the shadow. I reckon this may just be the quirk of the simulator, and the end result would look alright.

Right. So then, on this parti

[2018-03-07 08:43] pocmo commented on #2173
That's what I like to do too. Currently GeckoView doesn't allow us to define our own.

[2018-03-07 08:58] steptowards commented on #2008
I tried and it was successfully reproduced. I started with India's news website TOI and after many attempts was able to reproduce it with an article from another news website Economic Times.
Here is the [link](https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/big-churn-at-rivigos-top-floor-as-the-logistics-firm-faces-management-crisis/articleshow/63164666.cms) to the article.

A 26

[2018-03-07 10:22] pocmo commented on #2008
@steptowards Thank you! This is super helpful. With your link I am able to reproduce this! 🎉

[2018-03-07 10:28] pocmo commented on #2008
Some observations:

* (1) The redirect only happens after I start scrolling the page
* It happens even if I disable all content blockers in settings.
* If I load the page, open the menu and press "reload" then it does not happen if I start scrolling the page. That's pretty weird. It almost looks like this only happens after a fresh load without cache?

[2018-03-07 10:37] steptowards commented on #2008
@pocmo These observations are correct.

- Redirection to random.org only starts when we start scrolling.
- On pressing reload, and scrolling the redirection is not happening.
- On cleaning history using the trash icon, opening the link and then scrolling, redirection is happening.

[2018-03-07 11:15] paulrouget opened #2244 "Is signing required?"
I'm trying to build Firefox Focus for the first time, and I get errors about signing:

First, when I press the Play button in Android Studio, I see this:
<img width="427" alt="screen shot 2018-03-07 at 12 12 08" src="https://user-images.githubusercontent.com/373579/37089463-f4a14432-2200-11e8-88a9-612c8449e774.png">

Then I try to fix it but it just shows these 2 screens:
<img width="289" alt="scr

[2018-03-07 11:20] paulrouget opened #2245 "How to build without Android Studio?"
The doc says to do:

[code]

What the next thing to do?

[2018-03-07 11:45] pocmo opened #2246 "Get preview builds back online"
We haven't had preview builds[1] for over a week. Due to our builds expiring after a week there are no builds to download currently (#2238).

There have been multiple reasons why none of the builds have succeeded:
* Memory problems
* Gradle crashing (running findbugs or lint)
* UI tests failing intermittently

[1] http://bit.ly/focus-preview-builds

[2018-03-07 11:47] pocmo commented on #2244
Make sure to select the focusWebViewUniversal build flavor in Android Studio. It seems like you are trying to build the Beta variant. And this one indeed needs signing.

![image](https://user-images.githubusercontent.com/89638/37090716-b2570bac-2205-11e8-86ec-4849a28ad9e4.png)

[2018-03-07 11:47] #2244 closed

[2018-03-07 11:48] pocmo commented on #2245
See #2244. Opening the project in Android Studio and selecting the same build variant should be enough to set this up.

[2018-03-07 11:48] #2245 closed

[2018-03-07 12:04] bbinto commented on #2008
Awesome investigation @steptowards, what are the next steps to fix it?

[2018-03-07 12:55] pocmo commented on #2230
Was finally able to reproduce this on the same Nexus 5X, API 23 configuration that Firebase Test Lab uses.

Some of the things the other tests do lead to an empty "files" directory to be created. Adding this to our whitelist should be enough here.

[2018-03-07 13:00] #2122 closed

[2018-03-07 13:01] pocmo commented on #2167
Those locales are now getting imported and are in the list of "screenshot only" locales.

[2018-03-07 13:01] #2167 closed

[2018-03-07 14:27] #2230 closed

[2018-03-07 14:28] #2229 closed

[2018-03-07 14:28] #2179 closed

[2018-03-07 14:31] #2181 closed

[2018-03-07 14:33] pocmo commented on #2187
I expect this probe to become part of @bbinto's dashboards.

No additional probes added for that. But we can look at the flow with our existing probes to see something like:
* Switch to full browser
* Add to home screen

[2018-03-07 15:02] pocmo opened #2250 "GeckoView: No web content rendered while playing dismiss animation"
When erasing a session we play an animation where the current browsing session shrinks and drops out of the screen. In the GeckoView version this animation is missing the rendered web content.

[2018-03-07 15:06] #2211 closed

[2018-03-07 15:14] npark-mozilla opened #2251 "Change the UI Tests to use internal site"
Currently four test cases are failing intermittently while loading external site
- TrashTest()
- SystemBarTest()
- SimpleToggleTest()
- MismatchTest()

They should be using internal sites for better reliability.

[2018-03-07 16:07] bbinto opened #2252 "Remove http://www.breitbart.com/ from autocomplete list"
After https://bugzilla.mozilla.org/show_bug.cgi?id=1443825 is complete, please remove breitbart.com from the autocomplete list.

[2018-03-07 16:50] npark-mozilla opened #2253 "Klar+Geckoview does not show search term on URL bar"
STR:
In the URL bar, type "mozilla focus"
Select the "Search for mozilla focus" option that appears below
When the website is loaded, click the URL bar

Expected:
shows search term
Actual:
Just shows highlighted full URL

[2018-03-07 16:55] npark-mozilla commented on #2253
#2103

[2018-03-07 16:55] #2253 closed

[2018-03-07 16:58] npark-mozilla opened #2254 "Klar+Geckoview need to block the Disconnect trackers"
Going to www.mozilla.org on Focus Webview will show 1 blocked tracker, but visiting the same site on Klar Geckoview shows that blocked tracker is 0.

[2018-03-07 17:25] npark-mozilla commented on #2254
esawin says:
_GV currently does not allow blocking trackers from the "Disconnect" category (https://github.com/disconnectme/disconnect-tracking-protection/blob/master/services.json#L8970) which could explain the differences.  we're looking into a good solution on how to handle that category (block by default, expose it as a category in the API or distribute its contents  across the other  categori

[2018-03-07 18:15] paulrouget commented on #2245
Is using Android Studio necessary? Can I build directly from the command line?

I have not experience with Android Studio and Gradle.

[2018-03-07 18:16] paulrouget commented on #2244
It works. Thank you.

[2018-03-07 18:26] paulrouget opened #2256 "Where to find the GeckoView AAR?"
The wiki says to get the "Android API16+ Gradle opt" build under the "Bng" symbol, but I can't find it.

I click on the "Android 4.0 API16+" *B* link, but I can't see the link to 'geckoview-0.0.1.aar'.

[2018-03-07 18:32] pocmo commented on #2245
@paulrouget It's not necessary. You can build/install from the command line by using "gradlew"

[2018-03-07 18:34] pocmo commented on #2256
Wait. What wiki? I assume you are not talking about the wiki of this GitHub project?

What are you trying to do? If you just want to build Focus you won't need to get an AAR yourself.

[2018-03-07 19:06] ekager commented on #454
Thanks @brampitoyo ! Made that change and I also figured out the shadow issue. :)

[2018-03-07 19:20] ekager commented on #2225
Can't reproduce the crash, but I can't select a new language from the drop down menu.

[2018-03-07 19:38] ekager commented on #2226
I cannot reproduce with most recent master

[2018-03-07 20:16] npark-mozilla commented on #2254
BTW, mozilla site adheres to DNT header sent out by geckoview, and that is why it does not issue the tracker.

[2018-03-07 20:59] npark-mozilla opened #2258 "market:// url doesn't work with Geckoview"
Entering market://details?id=org.mozilla.firefox&referrer=" +
                "utm_source%3Dmozilla%26utm_medium%3DReferral%26utm_campaign%3Dmozilla-org URL should open a prompt to go to Google Play store, but on geckoview it only shows blank page

[2018-03-07 21:02] ekager opened #2259 "Cannot select choice in GV prompt"

[2018-03-07 21:20] ekager commented on #2221
Also related to https://github.com/mozilla-mobile/focus-android/issues/2097

[2018-03-08 00:12] cpeterso commented on #2256
@paulrouget, are you referring to the [GeckoView wiki](https://wiki.mozilla.org/Mobile/GeckoView#Using_GeckoView)? I think its instructions are out of date. We're looking to publish GeckoView AARs in a proper Maven repo soon, but in the meantime, you can grab the latest GeckoView Nightly build from the [Taskcluster artifacts](https://tools.taskcluster.net/index/gecko.v2.mozilla-central.nightly.lat

[2018-03-08 00:37] #2146 closed

[2018-03-08 00:59] ekager commented on #2173
We could do a similar work around like the Localized pages, but we just won't have the specific error message reported to us from GeckoView.

[2018-03-08 01:05] paulrouget commented on #2256
I'm trying to build Firefox Focus with a Geckoview.

This page mentions that I can find the AAR package on treeherder: https://wiki.mozilla.org/Mobile/GeckoView#Using_GeckoView

[2018-03-08 05:03] brampitoyo commented on #1980
I did an Invision test of a few different progress bar transitions:

https://mozilla.invisionapp.com/share/3SG846BQ8MY

In order of appearance:

1. Existing solution (progress bar appear underneath text field)
2. Grey out the page (no progress bar shown)
3. Grey out the page (progress bar shown)
4. Do nothing (no progress bar shown)

I learnt a few things from going through the transitions (howeve

[2018-03-08 06:27] ekager commented on #2173
I can work on the error page if the generic custom error page is acceptable for now

[2018-03-08 09:19] pocmo commented on #2173
* With the workaround we'd suddenly write traces of the browsing session to disk (e.g. they contain URLs)
* The URL bar would show a local file URL instead of the actual URL (e.g. try focus:about)

I wonder what the state of getting something like loadDataWithBaseUrl() is? (ping @snorp)

[2018-03-08 09:21] pocmo commented on #2256
This should happen automatically if you use the klarGeckoArmDebug and klarGeckoX86Debug build variants.

[2018-03-08 09:26] pocmo commented on #2254
I think this is. a duplicate of #2196 now.

[2018-03-08 09:28] #2187 closed

[2018-03-08 10:32] pocmo commented on #2118
@ioana-chiorean @sv-ohorvath Can you confirm that this is working for you with the latest version?
http://bit.ly/focus-preview-builds

[2018-03-08 10:36] steptowards commented on #2008
**Found the issue (possibly)**

Indian news websites (TOI and ET) are probably loading an iframe which has an advertisement for a Cricket score app known as [Cricbuzz](http://www.cricbuzz.com/).

When a user scrolls [this](https://economictimes.indiatimes.com/small-biz/startups/newsbuzz/big-churn-at-rivigos-top-floor-as-the-logistics-firm-faces-management-crisis/articleshow/63164666.cms) page (on

[2018-03-08 11:30] #2246 closed

[2018-03-08 11:30] pocmo commented on #2238
We are keeping builds 1 month now.

[2018-03-08 11:30] #2238 closed

[2018-03-08 12:08] fercarcedo commented on #2047
I don't have the PH-1, but I have been able to reproduce this bug on an Android P emulator thanks to the new feature of P of simulating a notch.
I have also a fix for the problem ready, so I'm going to submit a PR.

[2018-03-08 14:50] #2254 closed

[2018-03-08 15:04] vivekkrish commented on #2047
@pocmo, you are welcome! I've just heard recently that the Essential PH-1 will be released in the Netherlands, Belgium, and Luxembourg (https://www.reddit.com/r/essential/comments/80npri/essential_phone_is_coming_to_the_netherlands/), and likely other parts of Europe later this year!

@fercarcedo, I was just going to update this ticket after I read about the Android P Developer Preview release, sa

[2018-03-09 00:57] ekager commented on #2194
If we remove NestedGeckoView this doesn't happen.

[2018-03-09 08:26] cindysircy opened #2265 "Google account"

[2018-03-09 08:41] sv-ohorvath commented on #2118
Verified on several devices and the audio is now working on all:
LG Nexus 5 (Android 6.0.1)
Huawei Nexus 6P (Android 8.0)
HTC 10 (Android 8.0)
Samsung Galaxy S8 (Android 7.0)
Motorola Nexus 6 (Android 7.0)
Samsung Galaxy Note 4 (Android 5.0.1)

[2018-03-09 08:57] sv-ohorvath commented on #2225
I confirm that the crash doesn't reproduce anymore on my devices either, with one exception: a Samsung Galaxy Note 4 (Android 5.0.1). Logcat attached.
[Note 4 logcat.txt](https://github.com/mozilla-mobile/focus-android/files/1796164/Note.4.logcat.txt)

[2018-03-09 09:04] sv-ohorvath commented on #2226
I can still reproduce this with any device on the latest Klar+Gecko build (app-klar-gecko-arm-beta-signed-aligned.apk)

![klar gecko](https://user-images.githubusercontent.com/4037709/37199119-5c4e0294-2389-11e8-87bd-9dc683f53ce1.png)
![focus](https://user-images.githubusercontent.com/4037709/37199120-5c6c8002-2389-11e8-8550-e940cb76bf6a.png)

[2018-03-09 09:33] pocmo commented on #2265
?

[2018-03-09 09:33] #2265 closed

[2018-03-09 09:40] pocmo commented on #2118
Thank you!

[2018-03-09 09:40] #2118 closed

[2018-03-09 09:42] pocmo commented on #2194
Thank you for verifying this. :)

We recently updated NestedGeckoView to support pinch-to-zoom. I wonder if this has caused this or if this problem was there all the time.

[2018-03-09 13:19] pocmo commented on #2096
I did run git-bisect and this issue was "fixed" by fbc2e4999e7d0f074fe546fbff3b5bd9f873dbf8 (#1875).

[2018-03-09 13:49] pocmo commented on #2003
Did you find any way to do that at all?

We are currently working on a Klar build with GeckoView (to be released later this year). With GeckoView we are able to get more control about things like this.

[2018-03-09 14:25] pocmo commented on #2106
@brampitoyo How does this look like?

The values I used:

* padding left/right: 8dp
* padding top/bottom: 4dp
* text size: 12sp
* background: #272727

![ct-branding](https://user-images.githubusercontent.com/89638/37211986-03b04168-23ae-11e8-9f46-db339ee0c652.png)

[2018-03-09 16:12] #2047 closed

[2018-03-09 16:13] pocmo commented on #2047
This landed and will be in the next release.

@vivekkrish If you want to test it. A new preview build should be available soon: https://bit.ly/focus-preview-builds

[2018-03-09 16:21] pocmo commented on #1522
This is fixed in our GeckoView version 🎉

[2018-03-09 16:25] vivekkrish commented on #2047
This is amazing! Thank you so much @fercarcedo.
@pocmo, yes I can most definitely test out the preview build and provide feedback.

[2018-03-09 16:30] #454 closed

[2018-03-09 16:34] vivekkrish commented on #2047
@pocmo, just to confirm, is the version available at the URL below the one I should download and test?

https://index.taskcluster.net/v1/task/project.focus.android.preview-builds/artifacts/public/app-focus-webview-universal-beta-signed-aligned.apk

[2018-03-09 18:18] pocmo commented on #2047
@vivekkrish Yes, that's the correct version and it looks like there's a build with the changes available now!

[2018-03-09 18:26] ekager commented on #2259
Closed by #2260

[2018-03-09 18:26] #2259 closed

[2018-03-09 18:33] vivekkrish commented on #2047
@pocmo and @fercarcedo, success! Please see the "after" screenshots below:

Screenshot 1 (Homeview) | Screenshot 2 (Loaded page)
------------- | --------------
![image](https://user-images.githubusercontent.com/711637/37223366-4008804a-239e-11e8-9ccb-c8c0983b994b.png) | ![image](https://user-images.githubusercontent.com/711637/37223375-482b11de-239e-11e8-9ac7-71c1deb2ee96.png)

Thank you so much o

[2018-03-09 19:01] ekager commented on #2226
Hey @snorp it looks like GV doesn't currently support just Date prompts? (The first drop down).
The second is a Date+Time picker which is supported.

[2018-03-09 19:07] pocmo commented on #2047
@vivekkrish Awesome. Thank you for verifying!

[2018-03-09 19:34] ekager commented on #2209
Is this closed by #2261 ?

[2018-03-09 22:49] ekager commented on #2194
I just tried with the older version of NestedGeckoView and it still has the bug.

[2018-03-10 08:40] KazaHesto opened #2275 "Firefox Focus drawing under android status bar"
Device: Essential PH-1
Android version: 7.1.1
Firefox Focus version: 4.1 (Build 11)

**Steps to reproduce:**
1. Open any other app
2. Long-press recent apps button to enter multi-window
3. Open Firefox Focus in the lower part of the screen
4. Drag window separator up to have Firefox Focus take the whole screen

**Actual results:**
Firefox Focus draws into the status bar

**Expected results:**
A ma

[2018-03-10 13:04] fercarcedo commented on #2275
It's a problem with the cache implementation of my last pull request. The problem is now fixed. I'm going to send a pull request with the solution

[2018-03-10 13:59] Gu1nness opened #2277 "Tracker inside the APK"
According to this [report](https://reports.exodus-privacy.eu.org/reports/609/), there is one tracker embedded in the APK.
This is extremely sad to see that in a privacy-oriented browser, there are some trackers in the APK.

I strongly think that it should be removed in order to consider it "privacy-oriented".

[2018-03-11 17:20] steptowards commented on #2277
Hi @Gu1nness

This is a basic usage data collection powered by Adjust. You can read more about it in [Mozilla's data collection doc](https://support.mozilla.org/en-US/kb/send-usage-data-firefox-mobile-devices).
Steps to disable it are also given in the same document :

You may also find some insight into its implementation via [AdjustHelper source](https://github.com/mozilla-mobile/focus-android/b

[2018-03-11 22:46] brampitoyo commented on #2106
Hi @pocmo, apologies for not including the spec with my original design.

The aim is to match the left/right padding value of the other menu item, so everything sits in line when you draw a vertical line through them. I think the side padding should be 16dp?

And the padding top/bottom value should be 8dp.

Everything else looks good!

[2018-03-12 09:19] pocmo commented on #2275
Thank you for taking care of this, @fercarcedo!

[2018-03-12 21:11] npark-mozilla opened #2280 "UI Test fails on Custom Tab"
Looks like this failure might be related to the latest checkin:

java.lang.RuntimeException: Unable to start activity ComponentInfo{org.mozilla.focus.debug/org.mozilla.focus.activity.MainActivity}: java.lang.IllegalArgumentException: This custom tab intent  has no ID assigned

FATAL EXCEPTION: main
Process: org.mozilla.focus.debug, PID: 6688
java.lang.RuntimeException: Unable to start activity Com

[2018-03-12 21:20] npark-mozilla opened #2281 "In API 26, sometimes system notifications text is not detected by uiautomator"
When download is completed in Line 141 of DownladFileTest(), it fails to detect "Download complete." text in the notification pulldown for some reason.  Failure here causes the notifications to be remain visible, failing all subsequent tests.

[2018-03-12 23:36] ekager commented on #907
Would this be a setting toggle in Settings under Performance?

[2018-03-13 03:12] brampitoyo commented on #2003
Android WebView seems to have a boolean settings for requiring video and audio to be interacted with before they will play.

Big caveat: this may be the wrong setting, invalidating my whole comment.

https://developer.android.com/reference/android/webkit/WebSettings.html#setMediaPlaybackRequiresUserGesture(boolean)

Unfortunately, requiring user interaction may not automatically mean that the vide

[2018-03-13 03:45] brampitoyo commented on #1982
@tvalle How are you going with fixing this issue? Are you ready to submit a pull request?

[2018-03-13 03:48] brampitoyo commented on #1964
This issue may be resolved when we find a better way to show in-content links #2107.

[2018-03-13 04:41] brampitoyo commented on #1616
My suggestion is to implement a similar design that’s been responsified, but have “Open In…” functionality in place of “Add Exception…”. This allows users to open the page in a browser that can ignore SSL errors.

<img width="784" alt="screen shot 2018-03-13 at 5 32 17 pm 2x" src="https://user-images.githubusercontent.com/51007/37322826-cefac0f8-26e4-11e8-86d3-211d74077e55.png">

We can simplify t

[2018-03-13 09:04] pocmo commented on #2280
Yes, this looks like it is caused by my refactoring. This test needs to be updated.

[2018-03-13 09:09] pocmo commented on #907
@brampitoyo Ping! :)

[2018-03-13 13:36] pocmo opened #2283 "Use GeckoView API to determine whether context menu is displayed for an image"
In #2272 we landed code for looking at the URL and guessing whether the context menu we are supposed to show is for an image. This is not 100% reliable and the GeckoView team will add an API for us. This is tracked by: https://bugzilla.mozilla.org/show_bug.cgi?id=1445240

Let's use this once the new API is available.

[2018-03-13 13:37] #2206 closed

[2018-03-13 14:47] pocmo opened #2285 "(Taskcluster) Update Docker image:"
* Remove components not needed anymore.
* Start building image with newer Android SDK
* Use "sdkmanager" instead of deprecated "android" tool.

I did this in PR #2240. However I had problems running some of the tasks in this new image locally. It looked like out of memory problems maybe. I didn't have the time to debug this - that's why I filed this issue to try again another time.

[2018-03-13 15:25] #1955 closed

[2018-03-13 15:45] pocmo commented on #2222
https://bugzilla.mozilla.org/show_bug.cgi?id=1445290

[2018-03-13 15:45] pocmo commented on #2250
https://bugzilla.mozilla.org/show_bug.cgi?id=1445285

[2018-03-13 16:54] #2280 closed

[2018-03-13 16:55] #770 closed

[2018-03-13 17:05] vivekkrish commented on #2275
Hi Everyone,

Not sure if this might be related, but running Focus (4.1 Build #11) in multi-window mode (Random app ABOVE, Focus BELOW), we see a static bar equivalent to the height of default status bar.

Please see screenshot below:
![image](https://user-images.githubusercontent.com/711637/37357558-248686ea-26bf-11e8-8c31-aeaf3f4e7284.png)

Would this have been addressed by either of the 2 commi

[2018-03-13 17:13] fercarcedo commented on #2275
Yes, this is addressed by the commit I submitted

[2018-03-13 18:36] cpeterso commented on #996
@bbinto, GeckoView has prefs to block non-user-initiated canvas access. We talked about adding a Klar setting for this as part of Klar+GeckoView's fingerprinting protection. Should we add this bug to the [v6.0 (GeckoView) milestone](https://github.com/mozilla-mobile/focus-android/milestone/22)?

[2018-03-13 19:29] cpeterso opened #2289 "Klar+GeckoView: add settings UI to enable/disable/configure fingerprinting protection"
There are a number of knobs that we may want to expose in Klar's settings UI, such as:

* Enable basic protection (privacy.resistFingerprinting pref)
* Block canvas (without prompt) unless triggered by user input (independently from basic protection)

We will want some UX input on this feature.

Adding a GeckoView API to enable/disable/configure fingerprinting protection is [Firefox bug 1445400](h

[2018-03-13 19:37] cpeterso commented on #2289
Some existing Klar fingerprinting issues that could be fixed by this feature:

meta bug #1344
Canvas #996
WebGL #2111

[2018-03-13 19:53] pocmo commented on #1975
This should be fixed now. We landed a script that makes sure that this won't happen again. :)

[2018-03-13 19:53] #1975 closed

[2018-03-13 19:57] pocmo commented on #2106
Can you give me the color code of this combined with the background color (the opaque color that you get when drawing #ffffff with 0.5 opacity on top of the background). Reason is that drawing with opacity comes with a cost on Android and if possible I try to avoid it.

I tried replicating this in GIMP and got #929292 - Does this make sense?

[2018-03-13 20:03] pocmo commented on #2106
![custom-tabs-branding](https://user-images.githubusercontent.com/89638/37366824-d72998d6-2701-11e8-9082-770051926bfe.png)

@brampitoyo How is this?

[2018-03-13 20:05] pocmo commented on #1624
@brampitoyo This is in our 4.1 milestone. Is there still UX work to be done here? Or is this something we should move to one of the next milestones?

[2018-03-13 20:33] liuche commented on #2091
@fbertsch, since you handle a lot of our data, I'd like to get your point of view on whether this would be meaningful data to have.

What can you learn from having "average load time across all a user's page-loads", from both Klar GeckoView (opt-in) and Webview? See sebastian's [comment](https://github.com/mozilla-mobile/focus-android/issues/2091#issuecomment-366915344) earlier.

If we want to com

[2018-03-13 20:59] huuhaa commented on #2005
Any ETA when this will be fixed? This has forced me to change my default browser. Currently using mostly duckduckgo browser, similarproblem exists actually with that too, but so rarely that it's usable. With Focus I'm facing this may times in a day, so just waiting the fix now.

[2018-03-13 21:11] npark-mozilla opened #2292 "Focus app instance from customTabTest persists, and closing from apps list fails the next test in queue"
On today's Firebase run, it appears that RestartTest is consistenly failing, and the video shows that it's because there is another instance of focus runnung.  It uses plain_test.html, and it's only being used on AddtoHSTest and CustomTabTest.  I suspect the Focus app instance from CustomTabTest persists beyond the test duration, since it starts with a different activityTestRule than others.

Is t

[2018-03-13 21:14] npark-mozilla commented on #2005
@pocmo any chance we could include this on 4.1? Mike had to work on firefox-tv so this issue hasn't been looked at. Also, probably a good time to resume triage perhaps?

[2018-03-13 21:20] brampitoyo commented on #2106
Yes. If we try to replicate the colour value, then the one you use is correct. Thank you!

[2018-03-13 21:27] brampitoyo commented on #1624
The design work itself has finished. I originally wanted to keep this issue open, to observe tweaks that we’ll need to make after the feature launches. But let’s use a new issue for that, when we need it.

[2018-03-13 21:27] #1624 closed

[2018-03-13 21:28] brampitoyo commented on #1628
Closing for now as the design is now finished. When further iterations happen, we can either reopen this issue or open a new one.

[2018-03-13 21:28] #1628 closed

[2018-03-13 21:40] brampitoyo commented on #907
@ekager Is right. A natural place to put this would be as a toggle under performance.

Can we call it simply “Block JavaScript”?

We may or may not want to have an explanatory text underneath. If we do, I suggest a variation of something like this:

Thoughts?

[2018-03-13 22:20] ekager commented on #907
Sounds good to me!
We have a summary string for "Block other content trackers" that is similar; "Enabling may cause some pages to behave unexpectedly", but this may be more clear for the benefits of disabling JavaScript?

[2018-03-13 22:58] liuche commented on #2091
Discussed this data collection with @fbertsch and @Sdaswani, regarding what conclusions could be drawn from this data, and whether it would answer "Determining if GeckoView loading times compare to WebView loading times in the wild" by averaging-by-user the page loads of GeckoView vs Webview. Since Klar would have GeckoView, and Focus would have Webview, it seems like the "Klar vs Focus" browsing

[2018-03-13 23:04] liuche commented on #2091
data-review+

1) Is there or will there be **documentation** that describes the schema for the ultimate data set available publicly, complete and accurate?

Yes, in Focus Android wiki

2) Is there a control mechanism that allows the user to turn the data collection on and off?

Yes, Focus data controls.

3) If the request is for permanent data collection, is there someone who will monitor the data

[2018-03-13 23:05] liuche commented on #2091
@ekager: I assume @bbinto would be monitoring data (because she does it for Focus) - please include her in the review form next time, for permanent monitoring.

[2018-03-13 23:05] #2091 closed

[2018-03-13 23:14] lime124 commented on #1941
@brampitoyo - can you work with @BrianNJones to propose an appropriate string. Thanks!

[2018-03-13 23:16] lime124 commented on #1963
@brampitoyo can you follow up on any error cases we need to cover and/or tweak and then work with @BrianNJones to figure out strings? Thanks!

[2018-03-13 23:21] lime124 commented on #1933
@brampitoyo please take a look! thanks!

[2018-03-13 23:26] tvalle commented on #1982
@brampitoyo Sorry, since I last pushed something it had an error on ktlint. Now it should be fine:

see: [2026](https://github.com/mozilla-mobile/focus-android/pull/2026)

[2018-03-13 23:35] lime124 commented on #1647
I should have updated this awhile ago but alas...I didn't. I did talk with Elvin from legal and he sad there was no legal requirement to keep them in a specific ordering. https://bugzilla.mozilla.org/show_bug.cgi?id=1416857

I then followed up with mconnor via slack and he said " tl;dr I’m not deeply worried about alphabetical order or not."

@brampitoyo to see it through to the finish line! idk w

[2018-03-13 23:53] brampitoyo commented on #907
@ekager Correct. Let’s ping @BrianNJones.

Brian, we would like to add a new control to disable JavaScript. As you’ll read above, turning JavaScript off has big potential benefits and brokenness, so we’d like to make sure that our users understand what they’re doing when they turn this control on.

So far, I’ve came up with strawman strings that need work and can use your expertise:

What do you t

[2018-03-14 10:16] pocmo commented on #2292
If one of them is a custom tab then this is intentional. We fixed #770 and now custom tabs and the regular browser are separate things. It looks confusing here because in our test it is Focus that is opening a custom tab in itself. Usually the other entry in "recent apps" would look like the app that opened the custom tab.

[2018-03-14 10:20] pocmo commented on #2292
Here is a good example.

All three entries here are actually Focus displaying a website. Two of them show a custom tab (launched from IRCCloud and Yahnac) and the other one is just the regular Focus browser.

![customtabs](https://user-images.githubusercontent.com/89638/37396530-747be248-2779-11e8-987e-2f9e92d8e582.png)

[2018-03-14 10:22] pocmo opened #2294 "Security icons are not tinted anymore"
In Custom Tabs the calling application can set the toolbar color. Depending on the color we either choose white or black for the text and icons. Our security icon (globe, lock, ..) are not tinted anymore. Maybe this was caused by the introduction of the security popup.

[2018-03-14 10:24] pocmo commented on #2294
![tint](https://user-images.githubusercontent.com/89638/37396833-4bf2f388-277a-11e8-80a8-23d104e4d6ed.png)

[2018-03-14 10:25] pocmo commented on #2294
@ekager Do you have time to look at this?

[2018-03-14 12:27] pocmo commented on #2106
Landed updates to follow spec.

[2018-03-14 12:27] #2106 closed

[2018-03-14 14:28] pocmo commented on #2005
I added the 4.1 milestone - Let's see. Maybe we can get it in - code freeze is on Friday. I haven't read all comments here yet. So I'm not sure how actionable it is. Maybe @boek can investigate?

[2018-03-14 14:31] pocmo opened #2296 "Custom Tabs: Support bottom toolbar"
From #610 and #1870.

Third-party apps can define that they want to show a bottom toolbar with additional action items. In practice I haven't seen this being used by any app. Probably not worth implementing for now.

[2018-03-14 14:33] pocmo opened #2297 "Custom Tabs: Allow copying URL"
From #610 and #1870.

In a Custom Tab you can't edit the URL. FF and Chrome let you long-press to copy the current URL. Do we want to do this too? At least on my device I can copy the URL in a custom tab by going to the menu, select "share" and then "copy to clipboard".

[2018-03-14 14:34] pocmo opened #2298 "Custom Tabs: Consider showing page title in URL bar."
User Benefit / Why
- Provide more information about the website users are visiting
- Be consistent with our other products + custom tabs

From #610 and #1870.

Chrome and Firefox show the page title in the URL bar in a Custom Tab. Do we want to do that too?

[2018-03-14 14:37] pocmo commented on #2298
Firefox:

![ct-ff](https://user-images.githubusercontent.com/89638/37408994-8cfbe5d8-279d-11e8-976c-579d8ca93e7e.png)

[2018-03-14 14:37] pocmo commented on #2298
Chrome:

![ct-chrome](https://user-images.githubusercontent.com/89638/37409005-93c2d6a6-279d-11e8-9262-82878046490c.png)

[2018-03-14 14:38] pocmo opened #2299 "Custom Tabs: Support custom animations"
From #610 and #1870.

A third-party app can define enter/exit animations when displaying (and leaving) a custom tab.

It would be interesting to know how many apps request that. We are collecting telemetry about custom tab features apps want to use.

[2018-03-14 14:40] pocmo opened #2300 "Custom Tabs: Support pre-warming"
### User Benefit
- Faster loading of links clicked on in third-party apps

---
From #610 and #1870.

A third-party app can request to "pre-warm" the browser before it displays a custom tab. This will make launching the custom tab faster at a later time - because the engine is already running.

I doubt that we can do this with WebView. But with GeckoView that might be possible. We are doing this in

[2018-03-14 14:40] ekager commented on #2294
Yes I’ll do this today

[2018-03-14 14:42] pocmo commented on #2298
The app might be able to control this by setting NO_TITLE, SHOW_PAGE_TITLE;

* https://developer.android.com/reference/android/support/customtabs/CustomTabsIntent.html#NO_TITLE
* https://developer.android.com/reference/android/support/customtabs/CustomTabsIntent.html#SHOW_PAGE_TITLE

[2018-03-14 14:43] pocmo commented on #1870
The things from the UX wishlist and from barbara's wishlist are implemented. I moved the things from ahunt's list into separate issues. We should triage them separately and decide.

[2018-03-14 14:43] #1870 closed

[2018-03-14 14:46] pocmo opened #2301 "Investigate: Do we need to more in performNewBrowserSessionCleanup?"
Follow-up from #2096.

fbc2e4999e7d0f074fe546fbff3b5bd9f873dbf8 fixed the issue described in #2096. With that we are clearing cookies whenever we start a completely new browsing session and there is no other session (performNewBrowserSessionCleanup). However if cookies could survive with the STR in #2096 then maybe other data survived too? In this case clearing cookies might not be enough.

[2018-03-14 14:48] pocmo commented on #2096
Closing this -> The problem described here is fixed. I filed a new issue (#2301) because I wonder whether we need to do more in performNewBrowserSessionCleanup()

[2018-03-14 14:48] #2096 closed

[2018-03-14 14:59] BrianNJones commented on #907
@brampitoyo Think we should try to stay away from "enabling/disabling," since enabling = turning OFF, in this instance.

Block JavaScript
Pages may load faster, but may also behave unexpectedly

[2018-03-14 15:50] #2258 closed

[2018-03-14 15:51] pocmo commented on #1216
We landed a patch that might reduce the battery/CPU usage in the background. This should be released in 4.1.

[2018-03-14 16:05] bbinto commented on #907
@BrianNJones -- should we also mention that maybe ads won't show up.

I'd love see if we can message this toggle in a way that people understand that JavaScript is the biggest culprit and carrier for 3rd party tracking / and ads networks, def. performance bump!

This might be a baby step to provide better blocking of ads and trackers (https://github.com/mozilla-mobile/focus-android/issues/953).

M

[2018-03-14 16:05] boek commented on #2005
👍 Taking a look

[2018-03-14 16:48] npark-mozilla commented on #2292
If I add UI actions at the end of CustomTabTest to close the custom tab instance from the recent apps list, the next test fails to start, with the error of : “java.lang.RuntimeException: Could not launch intent Intent { act=android.intent.action.MAIN flg=0x10000000 cmp=org.mozilla.focus.debug/org.mozilla.focus.activity.MainActivity } within 45 seconds. Perhaps the main thread has not gone idle wit

[2018-03-14 19:08] pocmo commented on #907
I'm a bit afraid that a bunch of websites will not work without JavaScript (although I do not _know_) and then users will start to blame the browser - because they might not make the connection between toggling JavaScript off some time ago and a website not working right now.

[2018-03-14 19:27] bbinto commented on #1216
https://twitter.com/oneangryitguy/status/973909426255073281

[2018-03-14 19:52] BrianNJones commented on #907
@bbinto -- I'm leery of muddying the "cut ad clutter" message (and increasing cognitive load) by spreading it across too many buckets and toggles. Moving away from the nomenclature of Tracking Protection (not particularly clear, obvious and unambiguous) to something more ad removal- or speed-focused that could makes more sense, I think.

[2018-03-14 21:11] brampitoyo commented on #907
Agreed with @BrianNJones about having too many buckets and toggles, and different ways to describe each.

For now, I think that the label that Brian came up with sounds good.

Site brokenness may become a real problem once we put this setting in, because JavaScript does _so much_. I wonder if there’s a time to run a mini study that asks respondents whether they understand that JS blocking is the t

[2018-03-14 23:38] brampitoyo commented on #1933
The UI for adding custom URL via the address bar is actually quite simple and straightforward:

![url - add via address bar](https://user-images.githubusercontent.com/51007/37436355-7265e7f0-284c-11e8-89bd-d4b6cbd38406.png)

As @pocmo wrote, if all we do is add the character content of the address bar into our database of URL to autocomplete, it’s straight-forward. Let’s definitely do this.

[2018-03-15 00:05] lime124 commented on #1561
@brampitoyo for consideration and tracking.

[2018-03-15 00:22] brampitoyo commented on #1933
However, if we want to add a search engine, we’ll need to know to put the `%s` placeholder in the right place.

I did a little investigation yesterday, as well as talked with @ekager, who has been an awesome help.

Hypothesis: search URLs declare their queries in a standardised way `domain.url/[whatever]?[search/q]=%s`

Strawman solution: if this is the case, then we can just look for the `q` bit

[2018-03-15 00:34] liuche opened #2303 "Bundled autocomplete url link broken"
microsoftonline.com is one of the autocomplete urls, and it doesn't load anymore (checked from a desktop browser).

More general problem is, do we ever update that list to prune dead links?

[2018-03-15 02:38] brampitoyo commented on #1941
@mcomella @liuche Can you describe what you mean by “‘Learn More’ string” in the context of this info button?

Are we referring to the button description that would appear to screen-readers? Or are we replacing the ‘i’ icon with a text? Or are we looking to take out the ‘i’ icon and instead have a “Learn more” link somewhere down the page?

[2018-03-15 04:01] brampitoyo commented on #1561
This makes a lot of sense. Hard-coding a few values in the system is relatively simple – as long as we only truly have few entries! – and they may just include most additional search engines that most users will want to add most of the time.

The question here is curation:

* If we’re to add a top 5, what should they be? Are we concerned with picking favourites and playing favours? This concern is

[2018-03-15 04:22] brampitoyo commented on #1647
@lime124 Good to hear from Elvin at Legal.

It sounds like our call here is clear: order search engine alphabetically.

[2018-03-15 05:14] brampitoyo commented on #1963
I suspect that we want to have a warning that’s easier to understand. Instead of `Server not found`, we may say something like `We’re having trouble finding that site` or `Can’t connect to google.com`.

But before explaining the context to Brian and asking for content help, there are a few things that would be good to know:

1. By which process did this error come from? My guess: we send a ping to

[2018-03-15 10:19] vladioan3 commented on #778
#2304

[2018-03-15 11:29] pocmo commented on #778
See #2304 for some steps to reproduce. @npark-mozilla Are you able to reproduce this with those steps?

[2018-03-15 11:36] pocmo commented on #1963
They are both busy with FireTV currently.

From a quick look at the code I think our only error cases right now are:
* Empty name: "Enter search engine name"
* Empty URL: "Enter search string"
* Invalid format: "Check that search string matches Example format"
* Server returns anything that is not 2xx when requesting the URL: "Server not found"

[2018-03-15 12:32] xpoke opened #2307 "Android: Option for automatic "Open with...""
This might be a duplicate, but didn't see any open issue specific for this.

Most android browsers allow opening the native app when a supported URL is clicked. For example, tapping an in-browser link to youtube.com would open the content in the youtube app.

In Focus, this is available only using two taps (Menu -> Open with ...) which slows down the interaction.
Please add a feature to automatica

[2018-03-15 13:26] pocmo commented on #2307
I think I have seen this before. But I can't find it.

We are not opening other apps by default right now to avoid leaking the browsing session to another app. What happens in Focus stays in Focus. Unless the user decides to open or share with other apps. I'm pretty sure that we talked about making switching to an app easier though (@brampitoyo do you remember something?)

[2018-03-15 13:27] sv-ohorvath opened #2308 "Sharing links to Focus, opens google search results"
Build:
Focus Beta 4.1
Focus store vers. 4.0.2
Klar+GeckoView 4.1

Devices:
Samsung Galaxy S8 (Android 7.0)
HTC Desire 820 (Android 6.0.1)

STR:
1. Open one of the following apps:
Amazon
News republic
Google News
2. Open an article.
3. Tap the share button and select Focus or Klar.

Expected:
The link opens in the selected browser (same as Add to Nightly works).

Actual result:
The page title and U

[2018-03-15 13:30] pocmo commented on #2308
Flagged it with bug/feature because it's kind of both:

* If the shared text is a URL then we open it, otherwise we do a search
* I assume Fennec does search for a URL inside the text?

[2018-03-15 13:36] sv-ohorvath commented on #2308
I've shared an article page entirely. It searches for the article url & title I've shared. I skipped one step in the description - updated.

[2018-03-15 13:37] pocmo commented on #1561
Don't forget L10N. Even now you only see like 5 search engines, but there are a gazillion configurations:
https://github.com/mozilla-mobile/focus-android/tree/master/app/src/main/assets/search

That's a good question. And I wonder if there is a difference between the initial list and the list that shows up here... for the user ("Why are they not just in the previous list to begin with?") and legal

[2018-03-15 13:41] pocmo commented on #2303
We haven't so far. However there is one update in the making right now. Those autocomplete lists are one of the things that I would like to move to a library - and then test/verify/(propose update?) in automation.

[2018-03-15 13:46] sv-ohorvath opened #2309 "Sharing a link to Focus/Klar from the News Republic app opens the browser inside the app"
Build:
Focus Beta 4.1
Focus store vers. 4.0.2
Klar+GeckoView 4.1

Devices:
Samsung Galaxy S8 (Android 7.0)
HTC Desire 820 (Android 6.0.1)

STR:
1. Open the News Republic app.
2. Open an article.
3. Tap the share button and select Focus or Klar.

Expected results:
Focus/Klar opens as a standalone app, with the article shared.

Actual results:
For this app, News Republic, when Focus opens, it's insi

[2018-03-15 13:47] pocmo commented on #1933
I agree. There's no nice solution that works for all of them.

There are two additional things that Fennec does and maybe they are interesting (and probably worth a new issue):
* If the markup of a page contains a opensearch XML definition then Fennec will offer to add the current page as search engine via "menu->page->add a search engine". This of course only works for some pages - but then witho

[2018-03-15 13:49] pocmo commented on #2309
Aye. This looks like a bug caused by my work to separate custom tabs from the regular browser.

[2018-03-15 13:52] pocmo commented on #907
Regarding broken sites... I wonder if the major toggle in the menu should re-enable JavaScript. Somehow this toggle is our solution to "this site is broken and I just want to use it. I do not care about tracking right now". It doesn't do that for the other option to block web fonts afaik.

[2018-03-15 14:06] xPoke commented on #2307
I understand wanting to keep the user in the app, but an "Open with" action in android is a user-dictated action (android prompts the user and it is then decided by the user if to use the app on a per-request basis, always open in app, or always open in browser) - Focus doesn't need to decide for the user which app he prefers (In this instance Focus decides that it takes priority).

[2018-03-15 15:13] pocmo opened #2310 "Let's kill our custom code to draw behind the status bar"
### Context

Usually Android takes care of the status bar and apps can use APIs to theme the status bar. In Focus instead we tell the system that it should draw the app behind the status bar. We then take care of making sure there's enough "empty" space above the content so that we are not actually showing the app UI behind the status bar. This allows us to draw one continuous gradient from the to

[2018-03-15 15:29] #2294 closed

[2018-03-15 15:32] vladioan3 commented on #1433
Why to switch to Spotbugs?
- It can analyze programs compiled for any version of Java, from 1.0 to 1.9.
- Checks for more than 400 bug patterns
- Is extensible. New detectors can be added through plugins.
- Findbugs seems to be dead: https://github.com/findbugsproject/findbugs/issues/161
- Supports FindBugsFilter

[2018-03-15 15:54] npark-mozilla commented on #778
@pocmo on Gboard which it is auto set to private mode, I wasn't able to repro it, but on a multilingual keyboard, I had to delete twice to get the 'y' removed. (not counting the deletion of the autocompleted text)

[2018-03-15 17:34] siddware commented on #2003
@pocmo Unfortunately not, I posted regarding this in the Google Issue tracker, seems it's not possible at the moment(although might be in the future since they've kindly taken this as a feature request).
https://issuetracker.google.com/issues/74483530

[2018-03-15 17:53] mcomella commented on #1941
@brampitoyo iirc, we have a link with the text, "Learn more", next to the Add Search Engine button. Instead of creating a new string (so that it gets retranslated because context matters), I re-used an existing string (which is bad because translation context matters) - this bug was to use a new string with the same english translation, "Learn more".

The way I filed it was primarily an engineerin

[2018-03-15 18:45] grubdragon commented on #1433
Thanks @vladioan3, I'm short of time these days.

[2018-03-15 20:09] BrianNJones commented on #1941
@mcomella I'm curious re: your thinking that we need a new string here. I think it's contextually appropriate/clear/unambiguous here, and the linked-to SUMO page hits most of the expected "Learn More" content (context of use/instructions for use/examples). We could follow the Firefox "More" convention, though.

[2018-03-15 22:07] ekager commented on #2308
The string that we are getting from the intent (from Amazon) looks like "Anker PowerPort Wireless 5 Stand, 5W Standard Qi-Certified Wireless Charger for iPhone X, iPhone 8 / 8 Plus (AC Adapter Not Included) https://www.amazon.com/dp/B0753Z4PGC/ref=cm_sw_r_other_apa_I8TQAbMTSHNDV".
We check whether it is a URL or not, and then search or load the page. Not sure if we want to try to parse for a URL?

[2018-03-15 22:12] mcomella commented on #1941
Sorry if I'm being confusing: I don't think we need a new english String
– "learn more" is fine.

From an engineering perspective, it's bad practice to re-use an already
translated string in a new location because the context where that
string is used can make the translation incorrect. In this case, I re-
used the already translated string because we were past String freeze.
For correctness in no

[2018-03-15 22:17] ekager commented on #1561
I'm concerned about the second point, if we're going to make a list of "top/popular search engines", why not just include them in the list to choose from in the first place?

[2018-03-15 23:00] lime124 commented on #1561
Totally hear what you’re saying @ekager. There are some search engines we
aren’t allowed to include so this is kind of a loop hole that will
hopefully be cool with legal.

So ya someone should check with legal about that ;)

On Thu, Mar 15, 2018 at 3:17 PM Emily Kager <notifications@github.com>
wrote:

[2018-03-15 23:32] ekager commented on #2226
https://bugzilla.mozilla.org/show_bug.cgi?id=1446202

[2018-03-15 23:33] ekager commented on #2225
https://bugzilla.mozilla.org/show_bug.cgi?id=1446211

[2018-03-16 09:24] pocmo commented on #2308
@brampitoyo What do you think?

[2018-03-16 09:33] pocmo opened #2313 "Kill coverage built type"
We have so many build variants that it takes a lot of time to build variants for all those build types. It's only use is to set testCoverageEnabled to true. We do not want this in other builds because this will slow them down. Instead of using a build type we should set this from a configuration flag when coverage is really needed.

[2018-03-16 09:38] pocmo opened #2314 "Create aarch64 builds of Klar+GeckoView"
For testing purposes.

[2018-03-16 10:13] pocmo commented on #2283
There's no an additional parameter (elementType) for that :)

[2018-03-16 10:42] pocmo opened #2316 "Fullscreen mode and devices with camera cutouts"
Related to #2275. When using a device with a camera cutout and switching to fullscreen mode, there's a black bar at the top of the page. I assume this is caused by our code that adds the statusbar  padding.

[2018-03-16 10:43] pocmo commented on #2316
@fercarcedo Maybe something for you again? :)

[2018-03-16 10:43] pocmo commented on #2316
![screenshot_1521196889](https://user-images.githubusercontent.com/89638/37516687-36565aa6-290f-11e8-97f9-edc40e9ee962.png)

[2018-03-16 11:01] pocmo commented on #2309
Not a new bug. That's already happening in our existing version. Moving this to the new milestone as today is code freeze.

We might need to force a new task here (e.g. handle the intent in IntentReceiverActivity too and then add the flag to the intent).

[2018-03-16 11:06] pocmo commented on #2005
This seems to be so specific to the device or configuration that it doesn't seem to be critical. I'll move this to the next milestone. In case we come up with a fix we can consider uplifting to the release branch during beta.

[2018-03-16 11:12] fercarcedo commented on #2316
Yes, definitely I can take a look at this

[2018-03-16 12:09] BrianNJones commented on #1941
@mcomella, thank you for the clarificaiton! I have learned more.

[2018-03-16 12:14] #2275 closed

[2018-03-16 12:14] BrianNJones commented on #1963
@pocmo, thank you. @brampitoyo, i'll hold off on the new "server not found" string until we have more info re: context.
Let's look at updating the invalid format string to: Make the search string matches Example form.

[2018-03-16 13:13] fercarcedo commented on #2316
@pocmo I have been looking at this and we don't add any padding on fullscreen mode, since the video_container FrameLayout takes up the whole screen, without padding. I have also tested this on Android P without simulating a notch and it works just fine (it doesn't leave space for the status bar).

Moreover, if I disable entering immersive mode, it takes the full screen (displaying under the status

[2018-03-16 14:26] pocmo commented on #2316
@fercarcedo Oh, yeah, of course. This makes sense. It's confusing on the emulator where there is just a black bar. But on a real device you do not want your video or whatever be displayed behind the notch. Thank you for looking into this and sorry for wasting your time.

[2018-03-16 14:26] #2316 closed

[2018-03-16 14:37] bbinto commented on #2252
Can we get this into 4.1 or better 4.2? @pocmo

[2018-03-16 14:43] #2038 closed

[2018-03-16 14:47] pocmo opened #2319 "Compile UI tests for every PR"
We do not run UI tests for every PR for various reasons (see #2198). However we should at least compile them. It looks like I just broke that and all our tools said "Go ahead and merge!".

[2018-03-16 14:50] KazaHesto commented on #1997
Was this fixed by PR #2317?

[2018-03-16 14:52] vladioan3 commented on #1969
Related to what rules should remain, in my opinion we should keep the following set:
- basic;
- braces;
- clone;
- unusedcode(UnusedLocalVariable, UnusedPrivateField, UnusedPrivateMethod);
- imports;
- unnecessary(UnnecessaryConversionTemporary):
- empty(EmptyCatchBlock);
What do you think about that @pocmo ?

[2018-03-16 14:55] bbinto commented on #2303
see #2252 for another update to the list

[2018-03-16 15:00] pocmo commented on #1997
Yes, this is possible. @npark-mozilla Can you verify?

[2018-03-16 15:01] pocmo commented on #1969
@vladioan3 What's your reasoning for removing the others from the configuration? And how many violations are there currently for your set?

[2018-03-16 15:04] aleksandar-todorovic commented on #1997
It _should_ be, via this commit made in #2275 (and later refactored in #2317): https://github.com/pocmo/focus-android/commit/e5bf5071d4a0e4a31a3d538a57260ada37d27948

I would still prefer for someone to verify it before closing this, since I'm using the Google Play beta version which doesn't contain that commit for now.

[2018-03-16 15:19] pocmo commented on #1997
@aleksandar-todorovic It should show up in the play store beta beginning of next week.

[2018-03-16 15:33] vladioan3 commented on #1969
The idea is to run the PMD task on every PR to check the code against the ruleset. If we keep only a part of the ruleset we can get rid of issues that are straigth forward to fix. The other rules that I was thinking to remove would require more work for fixing the issues that are found, maybe refactoring some parts of code, reduce complexity of some methods and classes, in conclusion more time to

[2018-03-16 15:42] npark-mozilla commented on #1997
@pocmo yes on my pixel 2, the gradient below the split does not show anymore.
![screenshot_20180316-114030](https://user-images.githubusercontent.com/6930774/37530033-09ff895a-290f-11e8-99e7-e3a76ffa2d39.png)

[2018-03-16 15:43] aleksandar-todorovic commented on #1997
In that case, I'll consider this issue solved!

[2018-03-16 15:43] #1997 closed

[2018-03-16 16:09] #2319 closed

[2018-03-16 16:42] bbinto commented on #1949
@brampitoyo do you have time looking into this issue for our 4.2 version? (next 2 weeks)

[2018-03-16 16:48] #2176 closed

[2018-03-16 16:48] pocmo commented on #2176
We decided on Slack that we want to keep the current page (for version 4) and maybe just update it.

[2018-03-16 16:54] cpeterso commented on #2314
@pocmo This bug title mentions Klar+GeckoView but milestone v4.2 is a Klar+WebView release. Do you plan to create aarch64 builds for Klar+WebView before we ship Klar+GeckoView in Klar v6.0?

[2018-03-16 17:19] eiffel-fl commented on #2096
it is perfect if the problem is solved !

But I agree that it would be better if we know how it was solved.
Good job to the one who solved it though.

[2018-03-16 18:55] ekager commented on #2309
This may be their implementation? If you press share with Twitter, Facebook, or Email, it also launches inside the News Republic app

[2018-03-16 21:06] ekager commented on #2121
I'm not sure how to repro this without a device or the log. Any ideas @pocmo ?

[2018-03-16 21:31] nojunpark opened #2322 "Add upload script for nimbledroid performance measurement"
On every checkin to master, we should upload the app apk and test apk to nimbledroid.

The upload itself is pretty simple, which can be done via a curl command:
curl -v -F apk=@app.apk -F test_apk=@androidTest.apk -F auto_scenarios=false -u "your secret api key": https://nimbledroid.com/api/v2/apks

We need to decide:
- where to store the api key (probably in TC secret)
- which TC task to build th

[2018-03-16 22:19] ekager commented on #2107
Hey @brampitoyo . I did a quick hack on this and removed InfoActivity to see what it feels like. (no animations). I'll send you a build now.
https://github.com/ekager/focus-android/tree/tab_pages

[2018-03-18 23:41] brampitoyo commented on #2107
Hi @pocmo and @ekager, I just had a look at the `tab_pages` build. This is the start of a good approach! My observations below.

1. When tapping “What’s New” and “Help” from within the hamburger menu, it already feels as if these links should open in a browser tab. The things we will need here are:

* Animate the transition of the URL bar colour from its initial state (saturated) to its loading st

[2018-03-19 00:14] brampitoyo commented on #2307
Hi @xPoke, thanks a lot for bringing this to our attention.

I agree with @pocmo that we want to avoid giving another app your URLs without your consent. What happens in Focus stays in Focus. At the same time, we also want to make it easy to open certain links (YouTube, Facebook, Twitter, Pinterest, etc.) directly in the app. As you can see, they are two goals that almost always directly contradic

[2018-03-19 00:29] brampitoyo commented on #1949
I would really love it if we have a way to know know when these page-reload loops are happening, because fixing the core problem then becomes simpler.

For instance, our logic can look like this:

On touch Back button, go back one page
If page automatically redirects to another page <-- This signals that the page catches user in a loop
Then on touch Back button, go back two pages

We can also impl

[2018-03-19 00:32] brampitoyo commented on #1933
@pocmo What’s our chance of using Fennec’s implementation on Focus? Are their implentation ‘expensive’ in terms of resource use and increasing APK size?

[2018-03-19 00:35] brampitoyo commented on #907
This is a good idea. When you turn the toggle off from the menu, we can turn everything off (rather than just trackers blocking, which may not fix the problem if your JavaScript is off), and this includes enabling JavaScript as well as web fonts.

[2018-03-19 00:37] brampitoyo commented on #2003
@siddware WIthout WebView support, I’m afraid that our hands are a bit tied. We will definitely think about this feature (which carries a lot of privacy benefits) when GeckoView is released, so please keep it in mind.

[2018-03-19 01:52] brampitoyo commented on #2188
@layely Then using our current transition (which is seen when going in and out of Settings) for custom tabs sounds like a good move to make here.

[2018-03-19 03:35] brampitoyo commented on #1561
@Sdaswani Do you know anybody in the Legal Team that we can ask some questions to about search engines?

Specifically:

* Are we allowed to include more search engines in our default list of selections?
  * Related to this, can the list of default search engines vary by language/region? (For example, if your locale is en-US, you won’t see Baidu, Yandex or Naver).
* If we’re not allowed to include

[2018-03-19 04:11] brampitoyo commented on #1963
Thanks a lot for giving us all the error cases, @pocmo! It’s just what we need to take a look at them side by side.

The first two errors have no problem, and I agree with @BrianNJones on updating the string for invalid formatting. I’ll file a new issue for that.

@BrianNJones, our context: Focus has a feature to add a custom search engine. In a perfect world, the user success rate would be very c

[2018-03-19 04:32] brampitoyo commented on #2308
@ekager @pocmo I think user’s intention when they select Share differs based on the application. A few examples.

1. Share -> Twitter, Facebook == post this as a tweet, post it to my wall, etc.
2. Share -> Pinterest, Pocket, Instapaper == save this link to my collection, reading list, etc.
3. Share -> Chrome, Firefox, Focus == open this link there

In other words, users don’t always think that the

[2018-03-19 04:33] Sdaswani commented on #1561
Hey @brampitoyo , I'm going to punt to @bbinto , you may know the answers to this off the top of her head, or can check with Legal and/or make the decision herself.

[2018-03-19 08:38] pocmo commented on #2309
Yeah, it kind of is. They should add the NEW_TASK flag on their side. However I wonder if we should force it on our side by letting IntentReceiverActivity receive the share intent, add the flag and then launch MainActivity (like we do not VIEW intents).

[2018-03-19 13:56] bbinto commented on #1561
Will email Mika and Jeff G.

[2018-03-19 14:33] pocmo opened #2326 "Add crash reporting via Sentry"
Why
- GeckoView cannot leverage GPS crash reporting
- Baseline for comparing GPS crash reporting for WebView vs. Sentry crash reporting for GeckoView
- Provide stable product for Gecko-view powered Klar
- Better crash handling (e.g. search for crashes etc.)
- With GeckoView we will need our own custom crash reporting and cannot rely on Google Play crash reporting anymore.

What/ Requirements:
* [x

[2018-03-19 14:35] pocmo commented on #823
Closing in favor of #2326.

[2018-03-19 14:35] #823 closed

[2018-03-19 14:35] pocmo commented on #1410
Closing in favor of #2326

[2018-03-19 14:35] #1410 closed

[2018-03-19 15:52] pocmo commented on #2121
Yeah, not easy. :(

* Firebase Device Lab only has a OnePlus One (Android 5.1) in their list of devices. I did run a "robo test" but there was no crash.

* Maybe try to find a combination that is close (language, android version, maybe resolution?) and see if this triggers something

* Try to find a matching crash in the Google Play console. Afaik we can only filter by Android version and then wou

[2018-03-19 15:53] pocmo commented on #2121
I did start another "robo test" on two Android 8.0 devices set to French. I'll report back in case this finds something.

[2018-03-19 16:02] pocmo commented on #2308
Fennec seems to use this:
https://dxr.mozilla.org/mozilla-central/source/mobile/android/services/src/main/java/org/mozilla/gecko/sync/setup/activities/WebURLFinder.java#311

[2018-03-19 17:29] #2314 closed

[2018-03-19 17:39] pocmo commented on #2322
Yes!

Quick answers:
* API Key -> TC secrets
* Build & Upload in new, separate task with same dependencies as UI test task
* Build variant: I would like to avoid that. More build variants slows down builds. I want to kill our coverage build type too: #2313

[2018-03-19 17:45] bbinto opened #2327 "Address GDPR changes in product, e.g onboarding (A/B test)"
Why
- Signal to user that our product is already hel

What

Acceptance Criteria (how do I know when I’m done?)

-----

Enforcement date: May 25.

We will be doing some comms related stuff to highlight how Klar has been an app that supports most of the GDPR regulations.

Some ideas
- GDPR badge somewhere during onboarding?
- Onboarding 1 slide update how Klar + GDPR work well together
- 80/20 A/B t

[2018-03-19 17:53] fbertsch opened #2328 "Add an about:telemetry to show current pings"
_Added by @bbinto_

**Why/User Benefit**
- Inform the user of what events and information we collect about them

**What**
- An about:telemetry page listing the current pings to our servers

**Acceptance Criteria (how do I know when I’m done?)**
- User can access this page
- It lists all pings

----
This is not only a user-friendly feature (what am I actually sending?) but really helps during devel

[2018-03-19 17:54] fbertsch opened #2329 "Telemetry browser_contextmenu cancel should specify type (image, link, image+link)"
**Why**
- To know what kind of cancel action a user performs
- More accurate tracking of user's actions

**What**
- Include probe, and set value to either image, link or image+link

**Acceptance Criteria (how do I know when I’m done?)**
- Probe is included in event ping
- Probe can be queried via re:dash

--
I would say this should be the `value`. Then it would be totally backwards compatible as w

[2018-03-19 18:00] bbinto opened #2330 "Support blocking of 3rd party cookies"
Why
- Provide additional tracking protection for users
- Protects users during an active session

What
- User can turn on 3rd party cookie blocking

Acceptance Criteria (how do I know when I’m done?)
- 3rd party cookies are blocked and off by default
- User can turn this feature on/off via settings
- Toggle off in menu will turn off 3rd party cookie blocking as well
- Probes to see if users have s

[2018-03-19 18:22] pocmo opened #2331 "TelemetryWrapper: openFullBrowser() does not queue event."
There's a call to queue() missing. We are never queuing/sending the event:

https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/telemetry/TelemetryWrapper.kt#L529-L535

[2018-03-19 18:33] ekager commented on #2309
Tried this by adding the send intent filter to IntentReceiverActivity in the manifest and adding a NEW_TASK flag before launching MainActivity in IntentReceiverActivity, and now it launches the intent in Focus AND in the News Republic app. Will we have to remove some intent magic they're trying to do to launch applications within their application?

[2018-03-19 18:46] mcomella commented on #1941
Then let's reduce our workload and close this. :)

[2018-03-19 18:46] #1941 closed

[2018-03-19 19:06] ekager commented on #2308
Thanks @pocmo that seems to work here too :)

[2018-03-19 19:27] boek opened #2333 ""What's New" Sumo page for 4.1"

[2018-03-19 19:29] boek opened #2334 "Release Engineering - 4.2"
## Sprint start [1st week of milestone]

- [] Update versionName in build.gradle for the next milestone (preliminary version number)

## Feature complete [Monday, 1st week of next milestone]

- [ ] Create a branch for the *current* milestone and protect it through Settings on the repo (need admin privileges). After that master is tracking the next milestone. Usually done on the Monday after featur

[2018-03-19 20:17] npark-mozilla commented on #770
Verified that now the previous Focus session is gone, and the user will see the initial Focus screen when resuming the Focus app after opening Custom Tab

[2018-03-19 20:30] npark-mozilla commented on #770
Hmm, @pocmo a question - when custom tab is opened and then user returns to the main Focus app, and open a webpage, now that is retained when the user switches back and forth between the custom tab and the Focus app session. Since only one session is allowed, shouldn't Focus app clear its session each time it is opened?

[2018-03-19 20:40] npark-mozilla opened #2335 "Opening a site using 'Open in Focus' in custom view causes tabs to be inaccessible"
STR:
Open focus, open two tabs
Go to homescreen, open another app, and open a link to be opened in Focus custom tab.
From the menu, select 'Open in Focus'

Expected:
Site opens in Focus app, and previously opened tabs are accessible
Actual:
Site opens in Focus app, but selecting sites in the tab list does nothing.

[2018-03-19 20:41] npark-mozilla commented on #1529
#2335 opened

[2018-03-19 20:45] npark-mozilla opened #2336 "Pressing back button after opening a site in Focus from custom tab causes Focus to crash"
On:
FocusWebviewUniversalDebug

STR:
Open an app, click a link to open in custom tab
From custom tab, select "Open in Focus"
When Focus is opened, press back button

Expected:
Focus goes back to either the originating app, or doesn't do anything
Actual:
Focus crashes

Logcat:
55.873 14528 14528 E AndroidRuntime: java.lang.RuntimeException: Unable to pause activity {org.mozilla.focus.debug/org.mozi

[2018-03-19 20:48] npark-mozilla opened #2337 "Progressbar does not move at after about 5% of progression"
On:
FocusWebviewUniversalDebug

On Pixel 2, API 27

STR:
Visit a website, i.e. cnn.com
Expected:
Progress bar should gradually fill
Actual:
Progress bar shows only a bit, and remains static until it disappears

This seems to be a regression bug of #818

[2018-03-19 20:55] npark-mozilla opened #2338 "On Split view, pressing Trash icon of one Focus instance removes the view of a different Focus instance"
On:
FocusWebviewUniversalDebug

STR:
Open Focus, go to a site (i.e. cnn.com)
Enable split view, open an app and press link to open custom view at the bottom
From the custom view, select 'Open in Firefox Focus'
From the newly opened focus instance at the bottom, press Trash icon

Expected:
the bottom view is cleared
Actual:
the top view instance is cleared, and there is no system notification item

[2018-03-19 21:05] npark-mozilla opened #2340 "Opening in Focus from custom tab does not display system notification item"
On:
FocusWebviewUniversalDebug

STR:
Open custom tab from an app, and select 'Open in Firefox Focus'
Expected:
System notification icon shows up
Actual
no system notification icon shows up

[2018-03-19 21:17] ekager commented on #2337
Ah on GV builds? I can repro I'll look into it.

[2018-03-19 21:18] npark-mozilla commented on #2337
@ekager oh actually those I find from Focus webview.

This reminds me.. I should somehow mark where I saw the bugs.

[2018-03-19 21:30] ekager commented on #2337
Can reliably reproduce on WebView builds by
1) Going to cnn.com from home screen
2) Longpress and open a link in new tab

[2018-03-19 21:34] Delphine opened #2341 "[l10n] "Trackers blocked" string truncates in multiple locales"
It seems like this fell through the cracks somehow. The "Trackers blocked" string in the menu ends up truncating in many locales. While some are able to shorten the string, many can not find a work around this.
See for example Italian (has since been shortened):  https://npark-mozilla.github.io/it/images/phoneScreenshots/BrowserViewMenu_1521227033320.png

You can see which locales are affected her

[2018-03-19 21:35] npark-mozilla opened #2342 "After opening a page in custom tab with "Open in Firefox Focus" it still appears to be in custom tab mode"
On:
FocusWebViewUniversalDebug
STR:
Open app, click a link to open in custom tab, then select 'Open in Firefox Focus'
After the page is opened in Focus app, press Home to exit
Now select the app from step 1
Expected:
Since it is opened in Focus app, it should either show custom tab view, or the original app view
Actual:
It shows the Firefox Focus instance of the page

[2018-03-19 21:43] Delphine opened #2343 "Inconsistencies in string use: "Custom URLs" vs "Custom URL""
It seems like there are inconsistencies in the app between "Custom URLs" and "Custom URL".
Flod mentioned that the header used here, with single case, sounds particularly confusing to him:
https://npark-mozilla.github.io/en-US/images/phoneScreenshots/Autocomplete_Menu_Item_1521232078475.png

So we wanted to make sure these inconsistencies were expected or not?
You can find the list of occurrences

[2018-03-19 21:45] Delphine commented on #2343
(CC @lime124 in case you can help clarify! Don't know if I should be pinging someone else as well)

[2018-03-19 22:40] Delphine opened #2344 "[l10n] Sign-off on v4.1 locales"
Today is l10n deadline so opening this issue to sign-off on localizations.

Testing over the weekend surfaced 2 bugs, and I wanted to call them out here:
*  [l10n] "Trackers blocked" string truncates in multiple locales #2341
*  Inconsistencies in string use: "Custom URLs" vs "Custom URL" #2343

I'm especially worried about the 1st one, so I was wondering if this is something we should flag for th

[2018-03-19 22:44] npark-mozilla commented on #2337
Probably a dupe of #1837

[2018-03-19 22:44] #2337 closed

[2018-03-19 22:49] brampitoyo commented on #2327
Just to be aware that UserTesting doesn’t allow us to recruit test respondents living in Germany specifically:

<img src="https://user-images.githubusercontent.com/51007/37626356-90486ff4-2c34-11e8-8171-9799fe745a09.png" width="568">

[2018-03-19 23:20] Sdaswani opened #2345 "Investigate + Fix ANR Elevations"
![screen shot 2018-03-19 at 4 19 28 pm](https://user-images.githubusercontent.com/4879954/37627381-58005db2-2b91-11e8-8915-967198351eab.png)

@pocmo did you have a chance to investigate? If so can you drop ant findings here for @ekager to use before she starts her investigation.

Thanks!

[2018-03-19 23:21] Delphine commented on #2344
If we can't get a fix in time for #2341 here are the locales that are at more than 30%.
Overview:
* Total of 75 locales
* 6 new locales: an (Aragonese), gu-IN (Gujarati), hr (Croatian), oc (Occitan) and tt (Tatar)

am
an
ar
ast
az
bg
bn-BD
bn-IN
bs
ca
cak
cs
cy
da
de
dsb
el
eo
es-AR
es-CL
es-ES
es-MX
eu
fa
fi
fr
fy-NL
ga-IE
gu-IN
he
hi-IN
hr
hsb
hu
hy-AM
ia
id
it
ja
ka
kab
kk
ko
lo
meh
mix
ms
my
n

[2018-03-19 23:44] ekager opened #2346 "UrlInputFragment Crash"
Found while trying to investigate ANRs

Logs:

// Short Msg: java.lang.IllegalStateException
// Long Msg: java.lang.IllegalStateException: toolbarBackgroundView must not be null
// Build Label: motorola/perry_f/perry_f:7.1.1/NPQ26.69-41-4-1/1:user/release-keys
// Build Changelist: 1
// Build Time: 1510146099000
// java.lang.IllegalStateException: toolbarBackgroundView must not be null
// 	at org.m

[2018-03-19 23:58] ekager commented on #2107
After talking to @brampitoyo , I'm going to investigate adding these animation features for this issue and also all of Focus (especially FAB)

[2018-03-20 00:12] brampitoyo commented on #1920
We’re solving this problem by fixing issue #2107. Closing it.

[2018-03-20 00:12] #1920 closed

[2018-03-20 00:18] lime124 commented on #2343
@BrianNJones it does seem like the header should be URLs (plural). Thoughts?

For the other cases, if I recall the add custom url was left singular because you are only adding one URL at a time. Though I can't recall the difference between + Add custom URL and Add custom URL.

Same thing for the last string New custom URL added. - it's displayed in a toast to indicate the URL the person entered (s

[2018-03-20 01:33] brampitoyo commented on #1949
The alternative to implementing a go-back-two-pages feature is by doing what Fennec and other browsers do: on long-press, show a list of visited websites in the tab. In other words, let the users solve their own problem.

However, I’m concerned that we won’t have time to do this in time for 4.2.

[2018-03-20 01:40] brampitoyo commented on #2343
Feels like “Custom URLs” is the right word to use, but this is a hard one for me as a non-native speaker. I will agree with the consistent word that @BrianNJones will propose.

[2018-03-20 03:15] Sdaswani opened #2347 "Send Histogram Data for Load Times"

[2018-03-20 03:29] brampitoyo commented on #1930
While it’s a good idea to reduce friction, keep in mind that browsers have always considered search suggestions a privacy issue.

Google Chrome puts this option under “Privacy and Security” and [explains](https://support.google.com/chrome/answer/114836):

And Firefox [explains](https://support.mozilla.org/en-US/kb/search-suggestions-firefox):

To see it from the user’s point of view, it’s all abou

[2018-03-20 05:14] Sdaswani commented on #2344
@pocmo any advice here on whether we should get these fixed for 4.1, or can we ship them with 4.2? I think the latter is fine as AFAICT they are not new issues in 4.1.

[2018-03-20 09:12] pocmo commented on #2341
@brampitoyo What are your thoughts?

[2018-03-20 09:16] pocmo commented on #2344
@Sdaswani I agree. Those issues are something we should take care of in this sprint (4.2). But they already exist in the release version. So releasing 4.1 _as-is_ doesn't degrade quality here (but improves a lot of other things).

Depending on the solution/risk (I pinged UX in the issue) we could consider uplifting / a dot release. Especially if we encounter other issues.

[2018-03-20 09:16] pocmo commented on #2214
L10N sign-off: #2344

[2018-03-20 09:17] pocmo commented on #2214
I protected the _releases/4.1_ branch.

[2018-03-20 09:31] pocmo commented on #2347
_No description provided._

[2018-03-20 10:23] pocmo commented on #1949
I think this is fine. We moved this into the 4.2 sprint tentatively. Maybe we can start with the UX in this sprint and get to the implementation in the next one?

[2018-03-20 10:26] pocmo commented on #907
@bbinto This feature is ready to land. Are you okay with shipping this in 4.2 or should we hold his back for 5.0?

[2018-03-20 10:26] pocmo commented on #907
Okay, let's file a separate issue for that. :)

[2018-03-20 10:29] pocmo commented on #2345
I do not have any findings to report.

It is interesting that this started to happen without an app release. So I wonder if we can limit the scope in Google Play:
* Does this happen on specific devices more often (New device release?)
* Does this happen on a specific Android version (Devices updated?)
* Did WebView/Chrome update and might be causing this (Probably impossible to pin down)

I also w

[2018-03-20 10:33] pocmo commented on #770
@npark-mozilla I'm not sure I fully understand the question. Focus itself should behave as it did before. Custom Tabs are now "owned" by the app opening them and should not affect Focus itself.

[2018-03-20 10:37] pocmo commented on #2335
I can reproduce this and this looks like a release blocker for 4.1.

[2018-03-20 10:45] pocmo commented on #2327
https://www.eugdpr.org/

[2018-03-20 10:53] pocmo commented on #2342
Oh, yes, that's right. In this case we'd need to switch tasks to separate ourselves from the third-party app task.

Potentially a release blocker.

[2018-03-20 10:57] pocmo commented on #2336
E  java.lang.RuntimeException: Unable to pause activity {org.mozilla.focus.debug/org.mozilla.focus.activity.CustomTabActivity}: java.lang.NullPointerExcep
                            tion: Attempt to read from field 'java.lang.String org.mozilla.focus.customtabs.CustomTabConfig.id' on a null object reference

[2018-03-20 11:02] pocmo opened #2348 "Consider using crash pings"
Fennec implementation:
https://bugzilla.mozilla.org/show_bug.cgi?id=1407557

This is something we'd implement in the telemetry library:
https://github.com/mozilla-mobile/telemetry-android

Crash pings would help us to calculate crash rates... something we do not get with Sentry (#2326).

[2018-03-20 11:32] bbinto commented on #1930
All good points and shows how much we have to make sure all the items you've mentioned in "keeing in mind" need to be perfectly addressed.

[2018-03-20 11:34] bbinto commented on #2327
pinging @BrianNJones to provide a heads-up that's coming

[2018-03-20 11:42] bbinto commented on #907
Great news! I forgot to ask, do we have telemetry in place for this setting? (If not, we need it)

I normally would say keep it in 5.0 as the UX/feature loaded release, but since we haven't done many updates lately, I think we can give our users this little treat in a dot release.

I think we should have this feature mentioned in the What's new/SUMO.

cc'ing @jonisavage

[2018-03-20 11:58] bbinto opened #2350 "Use Switchboard to run A/B experiments"

[2018-03-20 12:08] bbinto commented on #2327
Some background:

Firefox Klar is a product worth featuring in the course of the GDPR implementation in order to provide users with a better understanding of the overall matter and improve their knowledge about personal data and privacy. At the same time, making the connection between Klar and GDPR enables us to draw attention to the product and our mission while, at the same time, demonstrating e

[2018-03-20 12:09] bbinto commented on #2327
@Sdaswani we might have to consider doing something light and quick for iOS as well.

[2018-03-20 12:35] #2010 closed

[2018-03-20 12:36] #1979 closed

[2018-03-20 12:37] #1945 closed

[2018-03-20 12:38] pocmo commented on #2331
Reopened so that we remember uplifting this.

[2018-03-20 13:36] Sdaswani commented on #2345
Thanks @pocmo - once @ekager gets GP access she can look into these things.

[2018-03-20 13:37] Sdaswani commented on #2347
😂 I’m working on it....

[2018-03-20 14:00] pocmo commented on #2350
Related meta: #1431

FYI: This year I'll be mentoring a Google Summer of Code student who will be turning our switchboard code/logic in Fennec into a standalone library that we can use in other apps. The project time for GSoC will start April 23rd and end in early August. We might be able to use versions of the library in Focus earlier.

[2018-03-20 14:24] npark-mozilla opened #2352 "Back on Custom Tab also clears one tab from Focus App"
FocusWebViewUniversalDebug, Pixel 2 API 27

STR:
- Open Focus, open two tabs
- Go home, open another app, and open a custom tab
- Press back on custom tab to exit, and go back to Focus app
Expected:
Two tabs are still active
Actual:
Only one tab is active.

I believe this might be already fixed with the latest merge, having it on record so I can verify this scenario again.

[2018-03-20 14:25] mkaply commented on #1561
I'm confused by this discussion. Focus already does switch the default list of engines when you change to a different language/locale. It uses search_configuration.json (It should be using list.json, but that's a different discussion).

All  of the engines that we would offer for a particular locale are already there, so there are no additional engines you would suggest.

And even if we did suppor

[2018-03-20 14:25] pocmo commented on #907
@ekager Can you make sure that the preference is listed in setPreferencesImportantForTelemetry() in TelemetryWrapper?

[2018-03-20 14:54] #1433 closed

[2018-03-20 14:57] #2252 closed

[2018-03-20 17:08] #2352 closed

[2018-03-20 17:18] ekager opened #2355 "Use WebURLFinder from Utils Package"
We are in the process of adding the WebURLFinder class to https://github.com/mozilla-mobile/android-components-utils and updating the library version. We should use WebURLFinder from the library when it's added.

[2018-03-20 17:21] npark-mozilla commented on #2336
Same bug also happens with below STR:
- Open app, press link to open custom tab
- Select 'Open in Firefox Focus'
- Go to Home, close Focus and the app
- Open app, and select link to open custom tab

Actual:
Popup notification shows up, saying Firefox Focus has crashed.

[2018-03-20 17:46] bbinto commented on #2338
should be fixed with  pull request #2353

[2018-03-20 17:50] bbinto commented on #2330
@pocmo to check if WebView API provides this (5.0), otherwise we'll do it in 6.0 with GeckoView

[2018-03-20 17:54] ekager commented on #2330
Third party cookies API for WebView - https://developer.android.com/reference/android/webkit/CookieManager.html#setAcceptThirdPartyCookies(android.webkit.WebView,%20boolean)

[2018-03-20 17:59] ekager commented on #2330
GeckoView request on Bugzilla - https://bugzilla.mozilla.org/show_bug.cgi?id=1447390

[2018-03-20 18:23] ekager opened #2356 "Add option for disabling JavaScript to Klar+GV"
See #907 and #2293 for WebView implementation. Waiting for methods to be added to GV.

[2018-03-20 18:24] ekager commented on #907
Hey @brampitoyo can you file a separate issue for the new toggle behavior? Thanks! :)

[2018-03-20 18:40] #1880 closed

[2018-03-20 20:33] brampitoyo commented on #770
@npark-mozilla Correct. There is an explicit separation between Custom Tabs (which are owned by and are considered a part of the app opening them) and Focus Browser Tabs (which are owned by Focus), whatever you do in one shouldn’t impact the other.

[2018-03-20 21:23] ekager commented on #2345
Think I found the culprit by investigating on GP dash. Seems to be when "executing service org.mozilla.focus/.session.SessionNotificationService" for 7.0 and 7.1 devices almost exclusively. Graphs look like this for top 3 ANR issues all are almost identical.

<img width="967" alt="screen shot 2018-03-20 at 2 20 12 pm" src="https://user-images.githubusercontent.com/25442310/37683450-e3759778-2c49-1

[2018-03-20 21:26] fbertsch commented on #2347
Initial doc here for the new `mobile-metrics` ping spec: https://docs.google.com/document/d/1q2V45_fyzm_DGaCos34QEQimsodYJMJCq5Ix-ys9KkE/edit

[2018-03-20 21:27] Sdaswani commented on #2347
Thanks @fbertsch !!!!

[2018-03-20 21:31] brampitoyo commented on #1949
@pocmo Sounds good. I know that @boek is having a look at this – whether a double-back button makes sense as a solution, or whether we’d like to have a tab history view like Fennec and other browsers.

[2018-03-20 22:00] Sdaswani commented on #2327
If so @bbinto we need to figure out _who_ can do this work.

[2018-03-20 22:10] brampitoyo opened #2357 "Reorder “Privacy” and “Performance” menu items within Settings"
### Why/User Benefit/User Problem

* Focus already has many Settings options. This makes it hard for users to navigate and understand exactly where to find which options.
* Focus’ goal as a high-privacy, no-distraction browsing means that it continue to develop more privacy features: more Settings options. A home for all privacy and security features will make these features easier to access for u

[2018-03-20 23:31] Sdaswani commented on #2345
@ekager any explanation of why this mysteriously cropped up? It's so odd it seems to have started happening on OSes that _didn't change_?

[2018-03-21 00:05] ekager commented on #2345
Yeah it is odd, exactly. Wondering if there was some Android patch that affects only those 7.0 and 7.1 devices? Otherwise maybe some WebView update that is acting up? I’m not really sure how to proceed or investigate because I can’t repro on my device even though it’s running 7.1.

Also not positive the SessionNotificationService is 100% related, but that’s what the dashboard is displaying for the

[2018-03-21 00:15] Sdaswani commented on #2345
Yeah the odd thing is the patch should hopefully result in a new version number. Do you know if 7.0 and 7.1 buckets various minor releases (like 7.0.1 and 7.1.5)? If so that would explain why it looks like this just happened from thin air...

[2018-03-21 00:47] brampitoyo commented on #2327
Examples of some  quick things we can do, which will apply to both iOS and Android:

* Add a menu item on settings (under the Mozilla section) called something like “Firefox Focus is GDPR-optimised”. When tapped, link to a SUMO article about GDPR launches.
* Add a new item in onboarding (for new users) or a single-page onboarding (just once, for existing users – but be aware that they may complain

[2018-03-21 01:26] brampitoyo commented on #907
@ekager It’s not so much a new toggle behaviour, just a reorder of toggles to make them more logical and easily browsable.

[2018-03-21 02:56] brampitoyo commented on #2341
es, ja, pt-BR and ru are big locales! @Delphine Would you be able to tell me which locale has the longest string that wouldn’t fit, and the content of the string?

There are at least two things we can try here:

1. Allow the menu width to expand as wide as the content wants it, with a maximum width of screen width minus 8dp (to add a good margin).
2. Reduce the text size of “Trackers blocked”, dow

[2018-03-21 09:11] pocmo commented on #2214
@boek From the list it looks like you opened a bug for signing/uploading. Please always dump all things you do or links into the comments of this release bug. :)

[2018-03-21 11:08] bbinto commented on #2327
I think doing all would be great. @brampitoyo, do expect a lot more work if you'd UI this for iOS as well? @Sdaswani could ask Joey to help with iOS eng

[2018-03-21 15:46] bbinto opened #2359 "Can we change the icon / add a badge for 2 weeks once the GDPR happens"
Idea from policy team, maybe we can highlight our app Klar as the GPDR approved browser.

Need to check with branding.

[2018-03-21 16:07] boek commented on #2214
@pocmo Will do!

[2018-03-21 16:15] boek commented on #2214
Created release: `https://github.com/mozilla-mobile/focus-android/releases/tag/v4.1-RC1`
Created Bugzilla ticket for signing: `https://bugzilla.mozilla.org/show_bug.cgi?id=1447461`

[2018-03-21 16:25] BrianNJones commented on #2327
There's quite a bit to think about here in terms of context. This feels like an awareness campaign inside the app; that may collide with users who expect to feel "invisible" inside Klar. Think we need to define goals for what we want to accomplish with this in-app messaging and work back from there. @bbinto, will comms and marketing be collaborating on this? If so, we should be involved in that.

[2018-03-21 16:26] Sdaswani commented on #2327
Flagging @st3fan as this may be a good opportunity for his team to pick up Focus iOS work.

[2018-03-21 16:56] ekager commented on #907
Hey @brampitoyo , I meant this toggle behavior.

[2018-03-21 17:02] ekager commented on #2345
Some update was released on March 9, 2018 for certain devices?
 https://www.att.com/devicehowto/tutorial.html#!/stepbystep/id/stepbystep_KM1230781?make=Samsung&model=SamsungN950U

[2018-03-21 17:04] Sdaswani commented on #2345
Yeah, maybe @ekager . Ugh _fragmentation_. What are your thoughts on getting a fix in?

[2018-03-21 17:56] ioana-chiorean opened #2360 "4.1 RC - No SSL Cert Info"
Build from:
https://bugzilla.mozilla.org/show_bug.cgi?id=1447461  - app-focus-webview-universal-release-signed-and-aligned.apk

TestRail TC: https://testrail.stage.mozaws.net/index.php?/tests/view/409688
Original issues is VerifiedByQA: #454

Steps:
- Open Focus, and go to an website where SSL info is displayed (i.e. www.mozilla.org)
- Click the lock icon next to the URL

Expected:
- a pop up is d

[2018-03-21 17:59] ioana-chiorean opened #2361 "Full browser open instead of custom tabs"
Build from:
https://bugzilla.mozilla.org/show_bug.cgi?id=1447461  - app-focus-webview-universal-release-signed-and-aligned.apk

TestRail TC:https://testrail.stage.mozaws.net/index.php?/tests/view/409687&group_by=cases:section_id&group_order=asc&group_id=3481

Discussing with @npark-mozilla when it should be open full browser and when Custom Tabs

Steps:
- Have Focus as default
- Open another app,

[2018-03-21 18:06] ioana-chiorean opened #2362 "4.1 RC - Missing Find in page & Custom tab by Focus text"
Build from:
https://bugzilla.mozilla.org/show_bug.cgi?id=1447461  - app-focus-webview-universal-release-signed-and-aligned.apk
Pixel 2 - Android 8.1

TestRail TC: https://testrail.stage.mozaws.net/index.php?/tests/view/409687

Steps:
- Have Focus as default
- Open another app ( Telegram or GMail) , click on a link

Expected:
- custom tab generated by focus is open
- Verify the stacked dots menu sh

[2018-03-21 18:06] npark-mozilla commented on #2361
Since it's decided by the 3rd party app to send what kind of intent to open Focus, it is outside of our control.  It appears that Inbox/Twitter/FB/Play store just sends VIEW intent.

[2018-03-21 18:15] ioana-chiorean opened #2363 "4.1 RC - A User Should Not Be Able to Add Duplicate Custom URLs"
Build from:
https://bugzilla.mozilla.org/show_bug.cgi?id=1447461  - app-focus-webview-universal-release-signed-and-aligned.apk
Pixel 2 - Android 8.1

Steps:
1) Go to Settings -> URL Autocomplete -> Custom URL
2) Enable Custom URL and tap on it
3) add several custom URLs ( try same one different times)
4) Tap 3 dots menu and choose remove
5) Choose one of the duplicates

Expected:
- at step 3 you s

[2018-03-21 18:29] #2335 closed

[2018-03-21 18:29] #2336 closed

[2018-03-21 18:29] #2340 closed

[2018-03-21 18:29] #2342 closed

[2018-03-21 18:32] boek opened #2364 "Fix build failures"

[2018-03-21 18:37] BrianNJones commented on #2343
@brampitoyo Agree. This s/b "Custom URLs"

[2018-03-21 18:41] boek commented on #2331
uplifted

[2018-03-21 18:41] #2331 closed

[2018-03-21 18:45] ioana-chiorean commented on #2360
Tried again with build from http://bit.ly/focus-preview-builds
Seems to work fine now.

<img src="https://user-images.githubusercontent.com/1391451/37730592-c4dd6f2a-2d48-11e8-8fdb-8066223c23fc.jpg" width="300" height="550" />

[2018-03-21 18:45] #2360 closed

[2018-03-21 18:51] ekager commented on #2345
This elevation is no longer being flagged in GP, so I will check back in a few days to see if it is still happening.

[2018-03-21 18:52] ioana-chiorean commented on #2362
Tried again with build from http://bit.ly/focus-preview-builds
Seems to work fine on this one for the "Powered by Firefox Focus"
Also discussed with @npark-mozilla and the Find in page option was a typo in the TestRail TC.

<img src="https://user-images.githubusercontent.com/1391451/37730829-531d6cea-2d49-11e8-9b98-5b091cea900d.jpg" width="300" height="550" />

[2018-03-21 18:52] #2362 closed

[2018-03-21 19:09] boek commented on #2214
Created an RC2 release: https://github.com/mozilla-mobile/focus-android/releases/tag/v4.1-RC2

[2018-03-21 19:44] boek commented on #2214
Uploaded RC2 APKs to be signed

[2018-03-21 20:41] #2364 closed

[2018-03-21 21:03] xPoke commented on #2307
That seems like a really good option without changing current behavior too much.

One issue to be aware of is how users would undo the "always open in..." functionality, since users won't have the Focus menu options when a different app is opened for a link.

[2018-03-21 21:16] boek commented on #1949
So I've been thinking about this and I think there might be a couple of challenges with implementing a double-back.

1. We're taking a best-guess at when we should double-back which isn't totally transparent to the user potentially leading to unexpected results.
2. This whole redirection loop is a dark pattern that isn't implemented consistently across the web. What happens if you're in a triple r

[2018-03-21 21:30] brampitoyo commented on #1949
A thought I had – which plays off your idea – is to trigger the Redirect Blocker when the user taps back and the page tries to send them somewhere else.

A toast will say “Focus has stopped this site from sending you to another page”. You’d get an option to follow the redirect, but our default is to block it by default to keep you safe.

[2018-03-21 23:39] brampitoyo commented on #2107
I’m CCing @amin who will be able to review this work in context of semantic animations – hopefully before his PTO!

Hi Amin, our story goes like this.

### Background

In Focus, we have in-content links both inside our hamburger menu, and inside our settings page. These links are e.g. Help, About Firefox Focus and Your Rights.

Currently, we open these in-content links in a modal tab. Think of it

[2018-03-22 02:12] brampitoyo commented on #1949
@boek and I had a 1:1 meeting about this. He has kindly offered to try out a solution that’s triggered by the back button, and that will stop redirect by default.

This leaves user free to decide: do they want to tap the back button once more (solving the problem) or remain on the same page (in case it is useful). Or go forward normally, or even follow the redirect to whatever link it takes them t

[2018-03-22 02:29] brampitoyo opened #2368 "Tracking Protection toggle in the menu should block and unblock JavaScript and Web fonts"
Follow-up issue from #907 – thanks for the clarification, @ekager.

When JavaScript and Web fonts are blocked from inside Settings, toggling the main Tracking Protection option off – the one inside the menu – should also unblock them.

This means that the user will be able to fix their site behaviour/visual problems just by opening the menu and tapping the toggle, without needing to go back inside

[2018-03-22 03:18] brampitoyo commented on #2327
@bbinto I would like iOS and Android to be in sync in terms of any marketing message we show them.

My concern with iOS is that deploying these messages (even if only to the `de` locale) will require us to trigger a new app store update. I’m afraid that downloading an update solely to get a message without actually getting any new features or bugfixes will draw ire.

Otherwise, I do agree with @Br

[2018-03-22 08:45] marcteys opened #2369 "Possible memory leak when opening a lot of videos content"
There might be a possible memory leak when opening a lot of video content. It's hard for me to investigate.

Steps to reproduce:
Go on a video where a lot of videos / medias are loaded.
Easiest way to reproduce it :
1. Open m.reddit.com/r/gifs
2. Click to play all medias, continue to scroll
3. At some point the browser crash or is slow to respond

The app is present since a long time + 2 months, o

[2018-03-22 12:38] pocmo commented on #2338
@npark-mozilla Can you confirm this is fixed?

[2018-03-22 12:40] pocmo commented on #2347
Note: This ping type should be implemented in the telemetry library.

https://github.com/mozilla-mobile/telemetry-android/issues/68

[2018-03-22 13:02] aminalhazwani commented on #2107
Hey @brampitoyo thanks for reaching out. This looks really interesting!

For a truly semantic animation we should opt for something like this

<img width="1054" alt="screen shot 2018-03-22 at 1 03 52 pm" src="https://user-images.githubusercontent.com/1721875/37769540-a31f89d4-2dd1-11e8-8eb8-632ecafdfa29.png">

where the tab grows out of the list item. Now, of course I understand that we have some

[2018-03-22 13:05] pocmo commented on #2369
Are you using the version from Google Play (currently 4.0.x)?

[2018-03-22 14:05] marcteys commented on #2369
Yes, the 4.0.2
I am using LineageOS, but the problem is the same on Google Android

2018-03-22 14:05 GMT+01:00 Sebastian Kaspari <notifications@github.com>:

--

 Tel         +33 (0)6 72 59 13 13 <+33672591313>

Mail        marc.teys@gmail.com

Twitter    @marcteyssier

Web       www.marcteyssier.com <http://marcteyssier.com/>

[2018-03-22 14:27] npark-mozilla commented on #2338
yes it is fixed. now a new tab is added to Focus on the top of the split view, whenever 'Open in Focus' is selected.

[2018-03-22 14:27] #2338 closed

[2018-03-22 14:42] pocmo commented on #2307
That's a good point. And makes me wonder if we start confusing people if we simulate the same behavior the system does - but then this doesn't show up in Android's system settings (where you can clear default apps).

[2018-03-22 15:00] bbinto commented on #2357
Love this suggestion, seems and makes things so much more comprehensive (I think) -- could we also do some card sorting / UX UR on that?

To give additional time for UR, we could move this to 6.0

[2018-03-22 15:21] bbinto commented on #2327
@brampitoyo and @BrianNJones thanks for your comments and concerns.

- I don't think we will make Klar iOS users upset with an update that makes them potentially "feel safer"
- I don't think including this awareness piece inside the app will collide with users who expect to feel "invisible" inside Klar. To me it's the same as any update or feature announcement inside the app.
- This idea is actual

[2018-03-22 15:27] vladioan3 commented on #1969
I have found a new way to suppress PMD warnings without deleting rules from the xml file.

[2018-03-22 17:04] lime124 commented on #2357
great idea @bbinto. and great design proposal @brampitoyo

[2018-03-22 17:13] pocmo opened #2374 "Determine region for default search engine"
**Why**
- Provide accurate search engines and codes to user's locale
- Requested by mkaply/search team

**What**
- Location lookup to determine the default search engines for the user

**Acceptance Criteria (how do I know when I’m done?)**
- User gets the correct search engine and code based on their locale

[2018-03-22 17:14] vladioan3 commented on #2227
I made an investigation for this issue using latest changes from master branch and I was unable to reproduce it.

Devices:
Google Pixel (Android 8.0)
HTC Desire 820 (Android 6.0.1)
Samsung galaxy S7(7.1.2)

[2018-03-22 17:28] pocmo commented on #2227
@npark-mozilla Can you confirm this for a GeckoView build?

[2018-03-22 17:37] pocmo commented on #2227
Thank you. Closing this.

[2018-03-22 17:37] #2227 closed

[2018-03-22 18:04] npark-mozilla commented on #2322
TC secret is now added, will work on creating a separate task.

[2018-03-22 21:07] boek opened #2375 "Add a search engine screen is missing"
When trying to navigate to the "Add another search engine" screen. You get the proper header but the screen is the settings root.

[2018-03-22 22:27] ekager commented on #2368
Does this need more hashing out/strings, or is it a simple: If the menu toggle goes from ON -> OFF, also toggle Blocking JavaScript and Blocking Web Fonts to OFF?

[2018-03-22 23:52] Delphine commented on #2341
@brampitoyo: Thanks for looking into this, very helpful!
So as a general rule, we usually say to estimate that translations will end up being at least 30% longer than an English string. That helps estimate if a string will fit once localized or not.

Here it's hard to say which string is the longest since I don't speak all languages / don't know all the fonts, but from a quick look at Transvision:

[2018-03-22 23:59] #2375 closed

[2018-03-23 09:06] pocmo commented on #2341
This could look awkward and is different than any other menus on Android.

Let's see if this fixes the issue for Slovak. :)

Are there any other options how we could re-design this block so that we either end up with shorter or different strings?

[2018-03-23 09:47] sv-ohorvath commented on #2225
Verified this is fixed following the initial STR on the Samsung Galaxy Note 4 too.

[2018-03-23 11:48] bbinto commented on #1216
GPS: "How does app eating 1gb of cellular data in the _background_ align with the purpose of privacy, Mozilla?"

[2018-03-23 12:03] #1512 closed

[2018-03-23 12:05] bbinto commented on #1881
@brampitoyo to keep an eye out for this while improving the custom search engine UI

[2018-03-23 12:07] #1762 closed

[2018-03-23 12:56] bbinto opened #2378 "Add a “Report a site issue” feature"
Once we move to Geckoview+Klar, we should give the user an option to report webcompat issues.

[2018-03-23 13:01] pocmo commented on #2378
Basic version: Attach current URL to webcompat reporting tool, e.g:
https://webcompat.com/issues/new?url=http%3A%2F%2Fwww.mozilla.org

[2018-03-23 14:41] yzen opened #2379 "Add telemetry for accessibility use with focus products."
We would like to get better understanding of our accessibility users for all focus based products (focus, Klar) and we would like to gather the information about what type of accessibility services they are using: Braille, Speech, etc.

[2018-03-23 16:36] bbinto commented on #2333
@jonisavage -- would you mind letting us know if you can tackle this?

[2018-03-23 16:36] boek commented on #2214
RC3 pushed to the Play Store as an Alpha build

[2018-03-23 16:49] pocmo commented on #2121
None of the tests revealed anything. For now this isn't actionable unfortunately. :(

[2018-03-23 16:49] #2121 closed

[2018-03-23 16:49] #2309 closed

[2018-03-23 17:38] jonisavage commented on #2333
Sure, I can start work on it today and have it finalized by Monday, depending on how complicated the features are to document.

Here's an inproduct link you can use: https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/new-focus-android-41

[2018-03-23 17:44] bbinto commented on #2333
Thanks so much, Joni, as always.

On Fri, Mar 23, 2018 at 1:38 PM, Joni Savage <notifications@github.com>
wrote:

--
_____________________________________________________________
Barbara Bermes | b@mozilla.com | *Product Manager, Firefox Mobile*

[2018-03-23 18:24] jonisavage commented on #2333
Correction, it's supposed to be https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/new-focus-android-42

@Sdaswani informed me it's for 4.2

[2018-03-23 19:26] Sdaswani commented on #2333
Sorry, it's 4.1 @jonisavage

[2018-03-23 20:23] Sdaswani commented on #1561
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:24] Sdaswani commented on #1933
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:24] Sdaswani commented on #1956
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:24] Sdaswani commented on #2327
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:25] Sdaswani commented on #1118
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:25] Sdaswani commented on #1881
@brampitoyo just getting a status check - is the UX for this work done or do you still need time to finalize mocks?

[2018-03-23 20:26] Sdaswani commented on #2326
@bbinto Sentry is approved in our mobile products - can you confirm we don't need a separate toggle for this?

[2018-03-23 20:27] Sdaswani commented on #2326
If we do need a toggle @bbinto then we may need UX work from @brampitoyo

[2018-03-23 21:38] cpeterso commented on #2378
This feature would be useful for finding websites that are broken by fingerprinting or tracking protection if the report includes information about the reporter's various privacy settings.

[2018-03-25 04:30] shikhart98 commented on #1085
Can I just try it out? I'm new to open source.

[2018-03-25 09:27] GammaBurst101 opened #2383 "Give meaningful option for searching in text selection"
When I select a text in focus and tap on the three dots, I get two options with the same name "Search Privately" but with different functionality. One of them searches by opening a new tab and the other opens a new browser window for searching.
![screenshot_20180310-192640](https://user-images.githubusercontent.com/35678205/37873561-c6417c2a-303c-11e8-84f1-1041ba2d22f0.png)
Wouldn't it be great if

[2018-03-25 20:45] brampitoyo commented on #2357
Thanks for the suggestion! Let’s move this to 6.0, then.

[2018-03-25 21:09] brampitoyo commented on #2307
@xPoke My concern is, if the user keeps undoing “always open in”, do we even need to provide an “always” option to begin with?

I then wonder if a better solution is to provide a toggle that says something like:

A very big caveat: not sure if this is even possible or smart to do!

This toggle only controls what would happen when you tap on the link. The “Open With…” item will stay inside the menu

[2018-03-25 21:55] brampitoyo commented on #2107
Thanks for your concrete and thorough feedbacks, @aminalhazwani! I think that all of them ought to be done, but not in version 4.2 as we’re quickly running out of time.

However, your “Tab New” icon can possibly be included in this iteration!

I will copy and paste your feedback into a follow-up issue, noting that it should be done in future versions.

[2018-03-25 22:03] brampitoyo opened #2384 "Semantic animations for opening in-content links"
This is a follow-up issue for #2107, to be implemented after version 4.2.

The story so far: in version 4.2, Firefox Focus will start opening in-content links in browser tabs. Unfortunately, opening in-content links “in the back, on the main view” doesn’t match the user’s mental model very well. The user expects the link to open “in front, as a Settings sub-page”.

Fortunately, semantic animations

[2018-03-25 22:08] brampitoyo commented on #2368
@ekager This doesn’t need any more string or explanation. When the menu toggle goes from ON -> OFF, JavaScript and web fonts should also be toggled OFF.

Doin gthis fulfills the user’s expectation that “When I turn this off, pages should open like it would in any other browser. Any problem with displaying the page may be fixed then.”

[2018-03-25 23:16] brampitoyo commented on #2341
Right. Other than reducing the size down to 14dp, which probably won’t fix the issue for Slovak, what about moving the overflow text to a new line? Yes, the Tracking Protection area may be taller on some locales as a result, but it will always fit the text.

In terms of engineering, will it be possible to make the height of this area dynamic, depending on text length?

[2018-03-25 23:36] brampitoyo commented on #1933
@Sdaswani I just renamed this issue so that it’s focused specifically on the **context menu item that allows you to add a URL**.

This menu item is called “Add Custom URL”. It appears alongside “Copy” and “Paste” when you tap and hold the URL bar.

<img src="https://user-images.githubusercontent.com/51007/37881289-36ef0432-30f2-11e8-9261-5830ad546dd4.png" width="320">

The UX for this work is now

[2018-03-26 00:00] brampitoyo opened #2385 "Easier way to add custom search engines"
Why
- Users are currently unable to easily add custom search engine
- Target users will use custom search engine to perform more searches

What
- Adding an easy way to quickly add custom search engine

Acceptance Criteria (how do I know when I’m done?)
- User can add any search engine they like
- Solution is less error-prone

-----

This issue is focused specifically on the **context menu item tha

[2018-03-26 00:03] brampitoyo commented on #1561
@Sdaswani There are two parts to this UX.

I just renamed this issue so that it’s focused specifically on the **predefined list that allows you to add a search engine**

What we can include in this list relies on us having approval from Legal.

Although the UX for this work is now finished, the content we can include in this list relies on approval from Legal. So just to be aware: there’s a chance

[2018-03-26 01:39] brampitoyo commented on #1561
Referring #2385.

[2018-03-26 01:53] brampitoyo commented on #1956
@Sdaswani I didn’t know that this was an issue.

The UX for this work can be considered finished because it’s so straightforward: **on long pressing the name of a search engine, show a context menu called “Remove”.**

If the search engine to be removed is currently selected as a default, then after removal, the next search engine down the the list should be set as default.

[2018-03-26 01:55] brampitoyo commented on #2327
@Sdaswani Although the implementation details are pretty straightforward, we have yet to write, user test or finalise the GDPR-specific strings The work on this issue will still need time.

[2018-03-26 02:01] brampitoyo commented on #2330
Just checking in to let you know that we may need a Settings control for Cookies.

Thankfully, it’s pretty straightforward. Cookies is an item that belongs under “Privacy” (in current structure) or under “Privacy & Security” (in future structure, as discussed in #2357).

Cookies can have three values under it:

1. Enabled
2. Enabled, excluding 3rd party
3. Disabled

We will follow Fennec’s impleme

[2018-03-26 02:08] brampitoyo commented on #1118
@Sdaswani The UX for this looks fairly straightforward, so it’s finished.

The idea is to follow iOS Focus’ implementation:

1. We detect that the string in the clipboard is a URL.
2. If true, then show “Link you copied: [url.com]” as soon as you type something into the URL bar.
3. Tap on the URL shown to go to the URL.

[2018-03-26 02:58] brampitoyo commented on #1881
On issue #1956, I proposed adding a selection mode with menu item called “Remove” (garbage bin icon) on long pressing the name of a search engine.

I propose adding a second item called “Edit”, which is selectable only when one search engine is selected on the list.

When tapped, the user is able to edit the search engine name and keyword URL.

<img width="1680" alt="search-engine-selection-mode 2

[2018-03-26 03:41] brampitoyo opened #2386 "On “Installed search engines” screen, add a tip to long-press search field"
On version 5, Focus will have the ability to add a search engine by long-pressing on any search field that supports OpenSearch.

We will need to highlight this time-saving feature and teach users how to use it, and what better place to do this than in the “Installed search engines” screen?

Our tip image is exactly the same as Fennec’s (pending some colour correction – I need to get the asset firs

[2018-03-26 04:15] Sdaswani commented on #1881
Thanks @brampitoyo for assigning to yourself until your work is completed!

[2018-03-26 04:17] Sdaswani commented on #1118
@brampitoyo if it's finished should it be assigned to you? Does Eng still need something from you to get started? If so that's fine, just trying to understand.

[2018-03-26 04:19] Sdaswani commented on #2327
Understood @brampitoyo so then should this be assigned to you?

[2018-03-26 04:24] Sdaswani commented on #1956
@brampitoyo sorry confused again - you assigned this issue to yourself but you say the UX work is finished?

[2018-03-26 04:27] Sdaswani commented on #1561
Thanks @brampitoyo - also just wanted to make sure someone answer's @mkaply's comment - any ideas on his thoughts? https://github.com/mozilla-mobile/focus-android/issues/1561#issuecomment-374616715

[2018-03-26 13:11] #907 closed

[2018-03-26 13:15] pocmo commented on #2333
@bbinto @jonisavage Last week we decided to re-use the existing link for "version 4" and add additional 4.1 features to the existing article. Primarily because we were past code-freeze and because we still highlight the "What's new" menu item for dot releases (#2055).

[2018-03-26 16:28] boek commented on #2344
yep!

[2018-03-26 16:28] #2344 closed

[2018-03-26 16:33] pocmo commented on #2383
Are you sure you do not have two builds of Focus and/or Klar installed?

[2018-03-26 16:46] pocmo commented on #1956
In the mock it looks like I can only select one item (radio button vs. checkbox) - Is this intended?

[2018-03-26 16:52] pocmo commented on #2385
This *might* not be possible with WebView. And even with GeckoView this won't be straight-forward.

Just to clarify: Afaik the OpenSearch description is attached to the website's meta data and independent from input fields on the page. Yet we only want to show this item if the OpenSearch description exists and *not* try to reconstruct the search structure from the input field like Fennec does - Is

[2018-03-26 16:55] pocmo commented on #2341
Yes! Currently it is set to be only one line explicitly.

[2018-03-26 17:28] #2308 closed

[2018-03-26 18:34] pocmo commented on #2355
In order to fix this bug you'll need to:
* Update the org.mozilla.components:utils dependency to 0.2.2 (which includes WebURLFinder)
* Remove WebURLFinder from the repository
* Fix imports so that the app still builds

[2018-03-26 19:40] boek commented on #1544
So I can see the activity thats happening in the background. But it looks like something is listening / polling and then trying to update some UI? But it doesn’t look like its calling any of our application code.

![image](https://user-images.githubusercontent.com/1250545/37928763-d6d279ca-30f2-11e8-9af5-528ab3c163b4.png)

So I’m guessing we’re registering for something thats doing some sort of up

[2018-03-26 21:10] brampitoyo commented on #2385
@pocmo I think so. By not trying to reconstruct the search structure from the input field like Fennec does, I feel like it will save us engineering time and energy. But this is just a hypothesis. Is porting this feature from Fennec easy, or even possible?

If it’s impossible, then we’ll have to do something like #1561.

If it takes a lot of time and effort, then given how only a few users are like

[2018-03-26 21:36] brampitoyo commented on #1881
UX work is now finished.

[2018-03-26 22:08] brampitoyo commented on #1118
@Sdaswani Thanks for clarifying! I should’ve been more clear. When I’ve finished my work and it’s ready to be handed over to Engineering, I will unassign myself.

[2018-03-26 22:52] brampitoyo commented on #2327
Yes. Thanks for the reminders! Although note that we will have to perform user testing in Germany for these messages, and I won’t be able to do it.

[2018-03-26 22:54] Sdaswani commented on #2327
@brampitoyo you mean you need some from UR to help you with user testing? @lime124 any tips on how Bram can get help with that?

[2018-03-26 23:04] brampitoyo commented on #1561
@mkaply I hear your frustration loud and clear!

If we were to add a new search engine, my preference is to first and foremost add it to the list of installed search engines. This way, users won’t even need to tap “Add new”.

The problem is, not all search engines want to be included in this installed search engine list. And manual entry is rife with potential errors. The way solve this problem is

[2018-03-26 23:07] brampitoyo commented on #2341
@pocmo Perfect! Extending the “Trackers blocked” text so it occupies two lines on certain locales sounds like a good solution. I suspect that’s all we need for even the longest locale.

We can even potentially extend it to three if necessary – this is far from ideal, though.

So, to summarise, we should try this solution in order, and stop if doing just one or two will fix the issue for the longes

[2018-03-26 23:58] ekager commented on #2343
Hi @Delphine, will it cause any l10n issues if I just replace this string with the `preference_autocomplete_subitem_customlist` = "Custom URLs" string?

[2018-03-27 00:12] ekager commented on #2055
Thinking of implementing this by saving the What's New URL and check that to see if we should show highlight. Will we always get a new What's New URL for highlighted version, @pocmo ?

[2018-03-27 01:43] GammaBurst101 commented on #2383
I do have focus installed from play store and klar from a website which Sdaswani emailed me. Does it have any effect?

[2018-03-27 09:26] pocmo commented on #2055
Good question. Updating the "What's new" URL for every release is an annoying workaround because SUMO can't redirect to the appropriate page based on the version number in the URL.

In an ideal world (and hopefully in a not to distant future) we wouldn't need to update the URL. That's why I would be hesitant to use the URL as an indicator.

We never really defined the desired outcome here. I assum

[2018-03-27 12:45] pocmo commented on #2383
Yes, the text selection actions are not limited to an application. If you have two builds installed then both will add the action to *all* apps that support selecting text.

[2018-03-27 12:45] #2383 closed

[2018-03-27 12:46] pocmo commented on #2341
We can also set it to no specific number of lines and let it grow to whatever it needs. Or do you explicitly want the constraint?

[2018-03-27 12:49] pocmo commented on #1085
Hey @shikhart98! There's a pull request for this issue in flight already (#2268).

However there are other "good first issue" and "help wanted" issues available:
* https://github.com/mozilla-mobile/focus-android/labels/good%20first%20issue
* https://github.com/mozilla-mobile/focus-android/labels/help%20wanted

A very easy one to start with would be #2355.

[2018-03-27 12:57] pocmo commented on #2385
That's something an engineer could research as a separate task. Afaik WebView doesn't have an API for that and we shouldn't try to hack something. If we want to have this in the future then we could talk to the GeckoView team about an API (either explicitly for this or metadata in general) - but this would be out of scope for 5.0.

I wonder if we put too much effort into adding search engines alre

[2018-03-27 13:25] Delphine commented on #2343
@ekager: Unfortunately that won't work because the existing string exists in a different context. We'll need a new string for this.
Thank you!

[2018-03-27 17:28] boek opened #2390 "java.net.MalformedURLException"
Looks like a new crash from 4.1?

[code]

[2018-03-27 17:48] Sdaswani commented on #2374
Needs @bbinto prioritization.

[2018-03-27 17:53] Sdaswani commented on #2363
@bbinto to decide where to put this.

[2018-03-27 17:56] Sdaswani commented on #2347
@bbinto to decide when we do this.

[2018-03-27 17:59] Sdaswani commented on #2330
@bbinto please decide if this is going in 5.0 or not.

[2018-03-27 18:02] Sdaswani commented on #2303
Fixed in https://github.com/mozilla-mobile/focus-android/pull/2366

[2018-03-27 18:02] #2303 closed

[2018-03-27 18:04] Sdaswani commented on #2292
@npark-mozilla to see if this is fixed or not.

[2018-03-27 18:04] Sdaswani commented on #2281
@npark-mozilla will see if this is still an issue.

[2018-03-27 18:06] Sdaswani commented on #2182
Fixed!

[2018-03-27 18:06] #2182 closed

[2018-03-27 18:07] Sdaswani commented on #2171
@mkaply any way you can help with this? We would like Google to treat us better when answering Google search queries. Ping me if you need more information.

[2018-03-27 18:09] Sdaswani commented on #2134
See ya!

[2018-03-27 18:09] #2134 closed

[2018-03-27 18:11] Sdaswani commented on #2130
@sv-ohorvath has #454 fixed your concern? If so, please re-open.

[2018-03-27 18:11] #2130 closed

[2018-03-27 18:13] Sdaswani commented on #2120
@ioana-chiorean we believe we respect the manifests defined by third party apps, if you find that we are not, please re-open.

[2018-03-27 18:13] #2120 closed

[2018-03-27 18:14] Sdaswani commented on #2111
Closing as a dupe of #2289

[2018-03-27 18:14] #2111 closed

[2018-03-27 18:15] Sdaswani commented on #2104
@npark-mozilla can you drop the bugzilla here?

[2018-03-27 18:18] npark-mozilla commented on #2104
#2160 and #2291 are for this bug, and FYI, the bug that tracks DOM implementation on geckoview is https://bugzilla.mozilla.org/show_bug.cgi?id=1343317

[2018-03-27 18:18] Sdaswani commented on #2081
May be fixed in #2388

[2018-03-27 18:19] Sdaswani commented on #2080
@smartfonreddit we can't reproduce - is it still happening for you?

[2018-03-27 18:22] Sdaswani commented on #2077
@sdaswani to look at slow rendering stats again.

[2018-03-27 18:22] Sdaswani commented on #2076
@pkellyuk can you let us know what you meant by local db wipe?

[2018-03-27 18:24] smartfonreddit commented on #2080
It is still happening. I can't open SF Examiner pages.

[2018-03-27 18:25] Sdaswani commented on #2074
Thanks @pocmo for the possible solution here: https://github.com/mozilla-mobile/focus-android/issues/2074#issuecomment-366984673

If a contributor can do some investigation and see if it works, that would be great. Please ping @sdaswani if you need more details.

[2018-03-27 18:49] #2281 closed

[2018-03-27 18:53] npark-mozilla commented on #2292
actually now I remember that @pocmo will look at this issue because of the above issue of failing to start the next test.  But with the other custom tab bug fix, I'll retry to see whether above is still the case.

[2018-03-27 20:51] Sdaswani commented on #2292
@pocmo feel free to have @boek or @ekager look at this based on your workload.

[2018-03-27 21:00] boek opened #2394 "Refactor URLBar states"
While fixing #1837 it feels like this area could be simplified a bit.

Assigning this to myself to expand on this thought later

[2018-03-27 21:23] Sdaswani commented on #2080
@npark-mozilla do we have access to a LG G5 anywhere - maybe Softvision does?

[2018-03-27 21:31] npark-mozilla commented on #2080
@Sdaswani Unfortunately it's not in SV's device list -perhaps we can get logcat from @smartfonreddit when trying to load this website?

[2018-03-27 21:54] ekager commented on #2055
Yeah that was what I was originally going to try, but I thought that we have been creating new links for 4.0 -> 4.1 -> 4.2?

[2018-03-27 22:30] smartfonreddit commented on #2080
The LG G5 is running on LineageOS 14.1, but at the time of filing this bug I _believe_ it was on stock ROM. Here is the cat file https://pastebin.com/ZApvz9Rq

Line 769 mentions something about the notification system. At the time of creating this log, the Focus notification was disabled to get rid of the persistent reminder to wipe data in the notification center. Just now, I reinstalled Focus to

[2018-03-27 22:33] boek commented on #2055
@pocmo We show it for every new version of the application right now. But I think we intended to change it to something a little more robust in the future.

[2018-03-27 22:36] Sdaswani commented on #2080
Thanks for the info @smartfonreddit!

[2018-03-27 22:36] brampitoyo commented on #2341
@pocmo No need for constraint. Just let it grow to as tall as it needs to be. I originally thought (mistakenly) that maximum value cannot be removed.

[2018-03-27 22:36] brampitoyo commented on #2341
The UX work for this issue is now finished.

[2018-03-27 22:40] smartfonreddit commented on #2080
Thanks for looking into this. I'm 100% sure this also happens with the stock LG G5 ROM, because in my initial report it said "7.0". The LineageOS is never x.0

[2018-03-27 22:51] brampitoyo commented on #2055
I would recommend only showing what’s new if there’s something notable and user-visible. Your assumption about having one for each major version – but not minor ones – is correct.

[2018-03-27 23:32] brampitoyo commented on #2385
I agree that we have put a lot – possibly too much – effort into adding a feature that may only result in such a minor improvement in new users, retention or app store ratings. Adding a URL seems easier to build and would have more use cases?

[2018-03-28 00:32] Lululalu opened #2397 "Samsung Keyboard Private Mode support."
Hi, can you add support for the private mode of Samsung Keyboard? When using both Samsung Internet in Private Window  and Samsung Keyboard it doesn't record typed information and doesn't show suggestions. Can you make it work like this too in Firefox Focus?

Thank you.

[2018-03-28 07:54] sv-ohorvath commented on #2130
Yes, I didn't see that bug. Thank you!

[2018-03-28 12:37] pocmo commented on #2397
In UrlInputFragment we set IME_FLAG_NO_PERSONALIZED_LEARNING which enables the private mode of Google's keyboard. The Samsung keyboard seems to expect something else?

See also #2304 which is trying to disable text prediction via setting the input type to TYPE_TEXT_VARIATION_PASSWORD. But I'd prefer to keep typeUri to still display the keyboard variant for entering URLs.

[2018-03-28 12:40] pocmo commented on #2397
Input types can be combined. We could try:
[code]

Instead of using just "textUri" (in fragment_urlinput.xml).

[2018-03-28 12:44] pocmo commented on #2055
Yeah, we haven't been really consistent. Mostly because the current implementation forces us to show something though. :)
For 4.1 we are now re-using the page URL for "version 4" which should work nicely with just highlighting for major versions.

[2018-03-28 13:31] hjoshi123 commented on #2296
@pocmo Is this still open? Can I work on this?

[2018-03-28 15:45] pocmo commented on #2296
@hjoshi123 We haven't made a decision yet whether we want to add this (We'll add a priority label in this case).

Please take a look at the issues with label "good first issue" or "help wanted":
* https://github.com/mozilla-mobile/focus-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22
* https://github.com/mozilla-mobile/focus-android/issues?q=is%3Aopen+is%3Aissue+label%3A%22hel

[2018-03-28 15:52] boek commented on #2055
Yeah, I was thinking about this yesterday; if the need ever arises for minor version release notes we can always do something about it :)

[2018-03-28 16:32] pocmo commented on #2081
Just merged #2388. This should be gone now as we are opening new tabs now.

[2018-03-28 16:32] #2081 closed

[2018-03-28 17:51] yzen commented on #2379
Work is tracked here https://bugzilla.mozilla.org/show_bug.cgi?id=1449316 and will land in mozilla-central.

[2018-03-28 17:51] #2379 closed

[2018-03-28 19:23] shikhart98 commented on #2355
I think now we just need to update the utils dependency to 0.2.2! there are now no imports for WebURLFinder in this repo! should I file a PR?

[2018-03-28 19:48] #1837 closed

[2018-03-28 19:48] #2346 closed

[2018-03-28 19:51] #2390 closed

[2018-03-28 22:08] ekager commented on #2345
Closing for now, and can reopen if this continues to be an issue.

[2018-03-28 22:08] #2345 closed

[2018-03-29 01:10] boek commented on #2333
Hey @jonisavage, it looks like the 4.1 page was updated?

`Release date: March 29, 2018 `

Is this ok to close now?

[2018-03-29 11:38] #2355 closed

[2018-03-29 15:38] ingerul93 opened #2403 "Use 'implementation' instead of 'compile'"
We are using Gradle 4 in the project and some dependencies are still declared in Gradle 3.
Solving this issue will make to disappear some Gradle warnings from build time.

[2018-03-29 16:41] bbcom77 opened #2405 "Block ads on startpage.com search results"
Problem:
When searching with startpage.com there are ads showing in the result.

Solution:
Block ALL advertisements, also in the search results of startpage.com.

Why doesn't Firefox Focus block all advertisements?

[2018-03-29 18:11] shikhart98 commented on #1658
Can I work on it?

[2018-03-29 18:49] #2403 closed

[2018-03-29 21:54] boek opened #2407 "Removed unused string resources"
pinging @boek to fill the following out:

**Why**

**What**

**Acceptance Criteria (how do I know when I’m done?)**

[2018-03-29 22:07] boek commented on #2363
@brampitoyo Do we want to show a toast if the user tries to add a domain that already exists? Or is it okay for it to just act like its been added since the domain is already in the list?

[2018-03-29 22:38] #2055 closed

[2018-03-29 22:43] #2368 closed

[2018-03-30 05:24] shikhart98 commented on #2369
I tried to reproduce the same and it showed me following error in Logcat:

03-30 10:52:16.456 18485-25801/org.mozilla.focus.debug E/StudioProfiler: JVMTI error: 15(JVMTI_ERROR_THREAD_NOT_ALIVE)

Is there any documentation or something we could get to resolve this?

[2018-03-30 13:32] sv-ohorvath opened #2412 "Klar+GeckoView: Search results should be displayed in the selected language"
Build: Klar+GeckoView

Devices:
Xiaomi Mi Pad 2 (Android 5.1) - x86
HTC Desire 820 (Android 6.0.1) - arm

STR:
1. Change the preferred language from English to e.g. Deutsch.
2. Perform a search on Google/DuckDuck Go.

Expected result: The results are displayed in German, as it is on Focus.
Actual results: Search results are displayed in English.

[2018-03-30 13:49] sv-ohorvath opened #2413 "With WIFI off, Klar redirects to other apps"
Build: Klar+GeckoView

Devices:
Xiaomi Mi Pad 2 (Android 5.1) - x86
HTC Desire 820 (Android 6.0.1) - arm

STR:
1. Turn off the Wifi.
2. Open a page in Klar+GeckoView.
3. Check the dialog displayed:
![screenshot_20180330-164648](https://user-images.githubusercontent.com/4037709/38139898-1f89953c-343a-11e8-8a26-5ac599d34002.png)

Expected result:
As on Focus: a network error page.

Actual result: Se

[2018-03-30 13:56] daivat15 commented on #2407
Hey I would like to work on this.

[2018-03-30 14:03] shikhart98 commented on #2363
Is this issue solved or is still pending?

[2018-03-30 14:38] sv-ohorvath opened #2415 "Klar+GeckoView: Can't add new search engines"
Build: Klar+GeckoView

Devices:
Xiaomi Mi Pad 2 (Android 5.1) - x86
HTC Desire 820 (Android 6.0.1) - arm

STR:
1. Go to Settings>Search>Add new search engine.
2. Add a new name and a valid search url. Save.

Expected result: A new search engine is added.
Actual result: Can't save because an installed search engine is already using the name.
Works on Focus 4.0.2.

[2018-03-30 16:29] boek commented on #2363
Hey @shikhart98, the issue is pending an answer from UX with the expected behavior. :) Once we get an answer you're more than welcome to pick it up

[2018-03-30 16:59] marcteys commented on #2369
Here is my logcat :
[focuslogcat.txt](https://github.com/mozilla-mobile/focus-android/files/1864183/focuslogcat.txt)

[2018-03-30 17:18] ekager commented on #2415
This should be fixed now by #2408, please reopen if you're still seeing on latest master

[2018-03-30 17:18] #2415 closed

[2018-03-30 17:40] daivat15 opened #2416 "FR: Load website when internet connection restored"
Why:
It would be nice to add a feature where a webpage loads on its own once internet is available to the device. This will make it easier for users as they will not have to periodically press the refresh button.
Suppose the device has no internet initially, so the user would see a "Server not found" screen. If the device regains internet connection while the app is in the foreground, it should tr

[2018-03-30 19:34] miketaylr commented on #2378
It would be nice to have screenshots as well, I'm happy to elaborate on what needs to happen for that to work.

[2018-03-30 20:12] boek commented on #1544
I think #2274 might have improved this. Profiling it again and I'm not seeing nearly as much activity while the app is backgrounded.

@mcomella Can you confirm on your device?

[2018-03-30 23:18] ekager opened #2417 "Crash IllegalAccessError"
Don't have STR. It appears in GP and also have been able to trigger it with Monkey.

[code]

[2018-03-31 00:17] mcomella commented on #2326
Firefox TV's requirements are fewer but our Sentry PR is up: https://github.com/mozilla-mobile/firefox-tv/issues/429

[2018-03-31 00:19] mcomella opened #2419 "SUMO Privacy Notice page references iOS wiki pages"
Namely interaction data (the telemetry page on the wiki) and "Referral and Campaign Data" (the adjust page) but it appears we have Android versions for both of these now. Here's the privacy notice page: https://www.mozilla.org/en-US/privacy/firefox-focus/

[2018-03-31 01:43] mcomella opened #2420 "lint.xml is unused?"
I think you need a configuration like:
[code]

in app/build.gradle but I don't see one. We had this problem on TV.

[2018-03-31 06:30] Logmytech opened #2421 "The title is mis-leading"
`Browser like no one is watching` is completely misleading title and it should be used for something like a logless VPN.

There are multitudes of ways your data is recorded when you browse using Firefox Focus as you as devs are aware.

[2018-04-01 06:11] daivat15 commented on #2420
I looked into this. What you are saying is correct. The file is unused. I built [this](https://github.com/daivat15/focus-android/tree/removeLintTest) branch and it built successfully.

Should I add the configuration to the gradle file?

[2018-04-01 19:14] bbinto commented on #2330
I’d love to get the in for 5.0.Does @BrianNJones need to provide strings?On Mar 27, 2018, at 11:59 AM, Susheel Daswani <notifications@github.com> wrote:@bbinto please decide if this is going in 5.0 or not.—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-04-01 19:14] bbinto commented on #2327
@brampitoyo, I don’t think we need/should do UR / use usertesting.com for this.

I know we can do a coin flip thingy for iOS Klar, but I assume doing a/b on boarding test for Klar Android might not be possible, @sdaswani?

[2018-04-02 05:26] Sdaswani commented on #2327
I think it's possible - we can probably do a 'better coin flip' (use client id to put use in a bucket) via the telemetry library. It's something to talk to @pocmo about and @boek and @ekager can handle the implementation.

[2018-04-02 05:27] Sdaswani commented on #2330
Assigning to @BrianNJones for strings.

[2018-04-02 09:31] shikhart98 commented on #2416
This is a nice issue, can I work on it?

[2018-04-02 11:41] bbinto commented on #2374
What's the benefit for the user, would you mind providing a bit more info. Thanks

[2018-04-02 11:43] bbinto commented on #937
https://play.google.com/apps/publish?account=7083182635971239206#ReviewDetailsPlace:p=org.mozilla.focus&reviewid=gp:AOqpTOGW9BN46OARE0sbLYhXvR6ejrwijywQ-gWG7l0hTe7Ty9vuScwoP_Wf_i4ZOopSrN-5HxFZxENpYgT7JsI

[2018-04-02 14:50] Sdaswani commented on #2374
@pocmo I think that request was for you.

[2018-04-02 18:04] boek commented on #1123
All that is left now is to get the example request/response in here and then I will close. https://github.com/mozilla-mobile/focus-android/wiki/Adjust-Usage

[2018-04-02 22:05] #1647 closed

[2018-04-02 22:16] mcomella commented on #1544
I still see this behavior on the Play Store version, 4.1: with no tabs, Focus is still using ~2.5% even several minutes after backgrounding. Reopening...

[2018-04-02 22:26] brampitoyo commented on #2386
This issue will become relevant only after #2385 is implemented.

[2018-04-02 22:48] mcomella commented on #2420
@ekager ^

[2018-04-02 23:08] brampitoyo commented on #2363
The expected behaviour is for the form to give a “URL already exists” error on submission.

![url-already-exists](https://user-images.githubusercontent.com/51007/38220568-fbb50964-372e-11e8-843c-cedae62d5339.png)

If everything else looks good, this issue is now ready to pick up.

[2018-04-03 03:25] shikhart98 commented on #2363
I'm working on it! almost done! will make a PR today.

On Tue, Apr 3, 2018, 4:38 AM Bram Pitoyo <notifications@github.com> wrote:

[2018-04-03 03:27] shikhart98 commented on #2363
Previously I have added a tost over there

On Tue, Apr 3, 2018, 8:55 AM FILMSync <shikhart98@gmail.com> wrote:

[2018-04-03 20:00] mcomella opened #2422 "Add additional erase data tests to cover every erase flow"
Deleting user data is a mission critical feature and it's one we never want to regress: we should make sure our tests cover *all* the ways that users can erase data, e.g.:
- Click notification
- Click FAB
- Swipe close apps tray
- System OOM app
- App is force killed

We have UI tests to verify some of these cases but we've had regressions before (#1875, #1306) and it'd be great if that didn't hap

[2018-04-03 23:17] pocmo opened #2423 "Update search_configuration.json to match list.json"
PR #2373 updated list.json but not search_configuration.json which we actually use.

[2018-04-04 05:16] brampitoyo commented on #2330
@Sdaswani I don’t think we need help from @BrianNJones on this, since the strings is straightforward. Use what I’ve suggested up there.

[2018-04-04 14:25] pocmo commented on #2423
^- @mkaply

[2018-04-04 15:34] nojunpark opened #2425 "Update searchengineselection UI Test"
Since the removal of one search engine from the ui test, the test has been disabled.  We need to re-enable the test and use a different search engine in the test.

[2018-04-04 15:53] mkaply commented on #2423
That's odd. I had definitely modified that file in my original patch. Checking.

[2018-04-04 20:34] liuche opened #2426 "Remove telemetry calls to getDefaultSearchEngine"
The collecting `custom`/`default` for core ping in settings, but there are some places where we're still using the call to Settings.getInstance().getDefaultSearchEngine. This bug is to stop making that call. Maybe it should be replaced by a getDefaultSearchEngineForTelemetry call, that returns "custom" when it's not a bundled search engine.

[2018-04-05 01:01] brampitoyo commented on #2363
I think this is an engineering question for @boek or @pocmo! Pinging them here.

[2018-04-05 01:33] brampitoyo commented on #1933
The new UI is slightly different and takes less time to access.

Instead of piggybacking on the cut-copy-paste text selection menu, we have a separate menu containing only one item. This menu will appear when you tap and hold the URL bar.

![url - add via address bar 2x](https://user-images.githubusercontent.com/51007/38343056-ec59722c-38d5-11e8-8dc8-295fc539d8f1.png)

[2018-04-05 02:42] brampitoyo commented on #2330
Summarising my conversation with @ekager about the cookie blocking state in each menu item:

1. Enabled = no cookies blocked
2. Enabled, excluding 3rd party = some cookies blocked
3. Disabled = all cookies blocked

[2018-04-05 03:43] shikhart98 commented on #2363
@brampitoyo I have solved the problem and this issue! just making a PR to this.

[2018-04-05 04:18] brampitoyo commented on #1930
Currently, our search UI looks like this:

<img src="https://user-images.githubusercontent.com/51007/38346729-2e27bc3a-38eb-11e8-8179-10ff30e9a36e.png" width="360">

To accommodate search suggestions in a privacy-aware way, the search loupe icon will need to be replaced with the icon of the search provider where the query is sent to:

<img src="https://user-images.githubusercontent.com/51007/38347

[2018-04-05 17:48] npark-mozilla opened #2429 "Klar geckoview crashes when restarting from Home screen"
SearchTermShortcutTest on Geckoview Klar crashes when the app is restarting after being minimized.

The crashstack on logcat is as follows:

04-05 12:43:35.914: D/AndroidRuntime(7256): Calling main entry com.android.commands.am.Am
04-05 12:43:35.916: I/ActivityManager(2160): START u0 {act=org.mozilla.gecko.reportCrash flg=0x10000000 cmp=org.mozilla.klar.gecko.debug/org.mozilla.gecko.CrashReporter

[2018-04-05 20:39] ekager commented on #2011
Fixed by #2108

[2018-04-05 21:45] flakomix opened #2433 "add soport proxy"
Please Add Soport Proxy   Host=192...... and port 8080 ???

[2018-04-06 14:50] csadilek opened #2435 "Refactor domain/url auto-completion to use new android-components"
Our new [android-components](https://github.com/mozilla-mobile/android-components) repository now has reusable components for `InlineAutocompleteEditText` and a domain list auto-complete provider for built-in and custom domains.

We should migrate to these components to avoid code duplication and diverging changes.

[2018-04-06 19:25] csadilek commented on #2435
Commit is ready, but waiting for the latest android-components release to hit jcenter.

[2018-04-06 21:45] ekager commented on #2326
@Sdaswani looks like we want to receive crash reporting by default, but since Klar is opt-in for all usage-data, we may need to create a new opt-out toggle for Focus+Klar.

[2018-04-06 21:47] Sdaswani commented on #2326
Can we just shut it off for Klar @ekager ?

[2018-04-06 22:28] ekager commented on #2326
Right, it can be shut off, but then we won't have crash reporting for Klar (and GeckoView) unless people opted in to usage data. I'm understanding from the above bullets that we want Crash reporting on by default, so we will need to introduce a new toggle. Is that right, @bbinto ?

[2018-04-07 02:27] shikhart98 commented on #2378
Can someone help me to understand what Geckoview and Klar is. I saw many of your issues related to these.

[2018-04-07 06:13] jaller94 commented on #245
I consider this to be an anti-feature (called 'Tracking' in the F-Droid store) because it builds up a connection without the user's consent.
Using the system's locale setting is the right way to determine the country for a privacy-focused product.

[2018-04-07 11:06] daivat15 commented on #624
@pocmo I think now the app is running with aapt2 enabled right?

[2018-04-07 15:15] Sdaswani commented on #2378
@shikhart98 GeckoView is our custom browsing engine, which we will be using in Klar in a few months (swapping it in for Android Webview).

[2018-04-07 15:52] shikhart98 commented on #2378
Is there any documentation about it?

[2018-04-07 16:07] Sdaswani commented on #2378
https://wiki.mozilla.org/Mobile/GeckoView

[2018-04-07 19:48] cadeyrn opened #2436 "Klar 4.1: CA name is cut off"
Please see the attached screenshot. It should be "Verfied by: Let's Encrypt" and not only "Verfied by: Let's".

![screenshot_20180407-214416](https://user-images.githubusercontent.com/1100614/38459679-38f28bc2-3aad-11e8-8702-d3396c104ae8.png)

[2018-04-08 08:40] cpeterso commented on #245
Why would an en_US user in Germany want to use a German language search engine? If they spoke or preferred German, they could set their device locale to de_DE or manually navigate to a German language search engine like google.de.

What is the behavior of Chrome on Android and Safari on iOS?

[2018-04-08 20:43] p0358 commented on #737
@pocmo Apart from it being simply annoying, imagine you are swiping around some map or zoomed image - annoying toolbar keeps appearing and disappearing, changing page's position underneath (if you drop finger when it's half-hidden). Such simple option thankfully present in regular Firefox for Android is livesaver here. I do not understand why is it taking so long to implement.

[2018-04-08 23:57] brampitoyo commented on #2330
Hi @ekager, the behaviour you noted is as expected.

Users who have turned their cookies off do expect their login state to change. If they were signed in when cookies is enabled, they’re not going to be signed in when cookies are disabled.

When cookies is re-enabled, I would expect whatever problems I’ve had to be fixed. This means that the cookies that Focus had stored should be restored, as lo

[2018-04-09 00:12] brampitoyo commented on #2330
Additionally, this is how the TP toggle should behave in response to different cookie states.

* Cookie states does not impact the TP toggle. Whatever cookie state you have set, TP toggle is set to `on` by default.
* On the other hand, the TP toggle _does_ impact cookie states. Whatever cookie state you have set, when TP toggle is set to `off`, cookie state must be set to `enabled`.

By accepting

[2018-04-09 00:38] brampitoyo commented on #737
@p0358 It sounds like what you want is a “Full-screen browsing” toggle, correct?

Pending feature prioritisation (ie. our team may or may not have the time to work on it), I agree on principle that this is a feature that will bring Focus to parity with Firefox for Android.

There’s a problem here, though, that will benefit from your feedback:

Let’s say that we’ve turned the “Full-screen browsing”

[2018-04-09 00:52] p0358 commented on #737
@brampitoyo Yes, this is how this toggle is called in Firefox for Android.

In my opinion, we should keep the current erase button behavior, that is it would hide on scroll-down, and show up again on scroll-up, while the only difference would be the toolbar being simply shown all the time, I do believe this is possible to accomplish and would be the best and easiest compromise - would not need to

[2018-04-09 06:29] shikhart98 commented on #2363
Can someone just review my PR on this issue.

[2018-04-09 15:45] mkaply commented on #245
Unfortunately in our testing, 50% of users have en-US set as their locale but are not located in the US. So using the system locale is very unreliable.

The issue here is not the language of the search per say, it's about agreements we have to use a particular search engine (or search code) in a particular region. So we need to know someone is in Ireland so we can give them the Irish eBay, for ins

[2018-04-09 16:11] snorp commented on #2097
The GeckoView bug is fixed. We added ContentDelegate.onExternalResponse(), which can be used to handle a download.

[2018-04-09 17:07] ekager opened #2439 "Release Engineering - 5.0"
## Sprint start [1st week of milestone]

- [ ] Update versionName in build.gradle for the next milestone (preliminary version number)

## Feature complete [Monday, 1st week of next milestone]

- [ ] Create a branch for the *current* milestone and protect it through Settings on the repo (need admin privileges). After that master is tracking the next milestone. Usually done on the Monday after featu

[2018-04-09 17:11] jaller94 commented on #245
I did not know that the agreements also affect Firefox Focus/Klar and have to be enforced.

Other (no-network) ways of determining the location:

- "Choose your country" dialog
- Request coarse/fine location

A choice of a dialog and the network-based locating would be acceptable in my opinion. Otherwise the app implys that the user agreed to "coarse location" and considers the use of Mozilla's se

[2018-04-09 17:50] mkaply commented on #245
I definitely don't want to ask for coarse/fine location because it gives us data we aren't going to use (too fine).

[2018-04-09 18:24] ekager opened #2440 "What's New Entry for 4.2"
_added by @bbinto_

**Why**
- Inform users about the latest update & changes

**What**
- SUMO page link explaining any new features/improvements of the version the user has just installed.

**Acceptance Criteria (how do I know when I’m done?)**
- User can access and exit the SUMO What's New Page

[2018-04-09 18:39] ekager commented on #2436
@brampitoyo for some locales, this will probably happen often. Is it okay if these lines wrap?

[2018-04-09 18:44] ekager commented on #2436
Would look like this for a long Verified By:
![screenshot_20180409-114321](https://user-images.githubusercontent.com/25442310/38516202-5200ba6e-3beb-11e8-80df-00730ca1f95a.png)