[2021-06-09 12:29] Mugurell commented on #4878
Asked Sebastian about this since it seems that the original intention was to always create a new fragment for a new tab, [as per this code](https://github.com/mozilla-mobile/focus-android/blob/c4f580942d7f81104a1d4e6be3934e92d8f5f591/app/src/main/java/org/mozilla/focus/navigation/MainActivityNavigation.kt#L95-L100), this leading to the flicker issue.

He confirmed this and said that at this point

[2021-06-09 12:32] pocmo commented on #4878
Moving to P5 because of this.

[2021-06-09 12:33] pocmo commented on #4749
I'll move this out of the bug column and will turn this into a feature request, since this is something we haven't implemented in Focus. This may need UX involvement to figure out how/if we want to leave the app - since that may have privacy implications.

[2021-06-09 13:11] ionutbedregeanu commented on #4880
I would like to work on this issue

[2021-06-09 15:17] amedyne commented on #4731
Tagging @brampitoyo for UX feedback.

[2021-06-09 22:03] amedyne opened #4923 "Add Noodle Shape as Focus background"
Designs refer to here: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI

[2021-06-09 22:15] amedyne opened #4924 "Splash: Update Splash screen design"
- Add the shield icon (Tracking Protection) to the left of the URL bar
- Update Focus Icon
- Keyboard

Implement Dark Mode.

https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI?node-id=804%3A11

[2021-06-09 22:23] amedyne opened #4925 "Splash: Update ProTips design for the Splash screen"
Update Pro Tips design for Splash screen: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI?node-id=804%3A11

[2021-06-09 22:47] amedyne opened #4926 "Browser: Update Tab 3-dot Menu items"
Conform to new Focus design: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI?node-id=902%3A3557
This includes:
- the navigation buttons
- Icons
- Arrangement of Menu Items

[2021-06-09 22:51] amedyne opened #4927 "Browser: Implement Settings Menu and Settings sub menus"
Design: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=804%3A961

This includes sub menus for:
- Block Cookies
- Choose Search Engine
- Manage Sites
- Language

[2021-06-09 23:12] amedyne opened #4928 "Splash: Implement Splash screen Alerts"
https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI?node-id=903%3A4136

[2021-06-10 02:41] amedyne opened #4929 "Splash: Update 3dot Menu in Home/Splash Screen"
Conform to latest UI designs.

[2021-06-10 02:51] amedyne opened #4930 "Browser: Update Loading/Progress bar"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)
Conform to new design and colors.

[2021-06-10 03:05] amedyne opened #4931 "Implement Shield Tracking protection data panel"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)
Design: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/MVP---iOS%2FAndroid---Product-UI?node-id=1003%3A47420

[2021-06-10 05:11] brampitoyo commented on #4731
@amedyne Sorry I missed this issue! The right behaviour is indeed to not show the “Find in page” UI on the new link pages that are opened.

[2021-06-10 10:40] ionutbedregeanu commented on #4923
I want to work on this

[2021-06-10 14:47] #4880 closed

[2021-06-10 14:48] amedyne opened #4933 "Browser: Implement Toolbar to follow design changes"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-06-10 15:44] AndiAJ opened #4934 "Intermittent UI test failure - <SafeBrowsingTest.unblockSafeBrowsingTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5410123517458823603/executions/bs.f44bcdcc433b912b/testcases/1)
### Stacktrace:
androidx.test.espresso.PerformException: Error performing 'single click' on view 'with text: is "Block reported deceptive and attack sites, malware sites,

[2021-06-10 15:46] AndiAJ opened #4935 "Intermittent UI test failure - <SafeBrowsingTest.verifyPageSecurityIconAndInfo>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5410123517458823603/executions/bs.5f5dfcb428d3f2b1/testcases/1)
### Stacktrace:
java.lang.AssertionError
at org.junit.Assert.fail(Assert.java:86)
at org.junit.Assert.assertTrue(Assert.java:41)
at org.junit.Assert.assertTrue(Assert.java

[2021-06-10 15:47] AndiAJ commented on #4825
Failed on Master 6/10:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5410123517458823603/executions/bs.df21d61c4e0d01d4/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5410123517458823603/execution

[2021-06-10 15:52] amedyne opened #4936 "Implement changes for Toolbar Search behavior"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-06-10 15:55] amedyne opened #4937 "Browser: Implement updates and changes for Find in Page, Add to HomeScreen and Context Menu screens"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

### Figma
https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2133%3A282824

[2021-06-10 16:40] amedyne opened #4938 "Implement changes for Popup/ floating text selection toolbar"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-06-10 18:08] amedyne opened #4939 "LightMode: Splash screen"
Should cover:
-     Add the shield icon (Tracking Protection) to the left of the URL bar
-     Update Focus Icon
-     Keyboard

[2021-06-10 18:09] amedyne opened #4940 "Light Mode: Splash Screen ProTips"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-06-10 18:11] amedyne opened #4941 "LightMode: Splash Screen Alerts"
Implement light mode for Alerts.

[2021-06-10 18:13] amedyne opened #4942 "Light Mode: Menus"
This task should cover Light mode updates for color scheme, icons:
- 3dot Home/Splash screen Menu
- Browser 3dotMenu
- Settings Menu and sub-menu settings

[2021-06-10 18:15] amedyne opened #4943 "LightMode: Noodle Shape design"
Implement Focus background Noodle design in Light mode.

[2021-06-10 18:17] amedyne opened #4944 "Light Mode: Tracking protection data panel"
Implement tracking protection panel/page in Light Mode.

[2021-06-10 18:18] amedyne opened #4945 "Light Mode: Browser toolbar and Search behavior, popup/floating text selection menu"
Implement Light Mode for browser toolbar, search behavior and popup/floating text selection menu

[2021-06-14 06:52] Mugurell commented on #4369
This looks similar to [Fenix-#6313](https://github.com/mozilla-mobile/fenix/issues/6313), [BZ-1663732](https://bugzilla.mozilla.org/show_bug.cgi?id=1663732) which was resolved with waiting for `firstContentfulPaint`.

[2021-06-14 06:53] Mugurell commented on #4745
@lobontiumira If the bug cannot be reproduced anymore can this issue be closed?

[2021-06-14 07:22] #4745 closed

[2021-06-14 10:55] ionutbedregeanu commented on #4637
Can't be reproduced anymore

#### Pixel 2 API 28

https://user-images.githubusercontent.com/11731652/121881437-f5fef200-cd17-11eb-86ed-dbc4db433e31.mp4

#### Pixel 3 API 30

https://user-images.githubusercontent.com/11731652/121881446-f9927900-cd17-11eb-9ae1-443ce2ab1da0.mp4

[2021-06-14 12:01] lobontiumira commented on #4637
I am still able to reproduce partially this issue, on the month/year elements, switching from landscape to protrait mode.
Tested on the OnePlus 5T (Android 10) with Focus 8.16.0:

![Screenshot_1](https://user-images.githubusercontent.com/40694158/121889030-5e060600-cd21-11eb-8cd5-ea47d21decbc.jpg)

https://user-images.githubusercontent.com/40694158/121888900-36af3900-cd21-11eb-847d-08af180967fc.mp

[2021-06-14 12:12] ionutbedregeanu commented on #4637
Oh, ok, I will take a look again. Thanks, @lobontiumira!

[2021-06-14 12:19] Mugurell commented on #4637
@lobontiumira is the same issue also reproducing in other browsers (Fenix/Chrome) while testing on the same device?

[2021-06-14 12:21] lobontiumira commented on #4637
Yes! Reproducible on 6/14 Nightly Fenix build, and on Chrome 91.0.4472.88.

[2021-06-14 12:23] ionutbedregeanu commented on #4637
Hmm, then  seems to be an OS problem

[2021-06-14 12:28] lobontiumira commented on #4637
I've reproduced this with Samsung Galaxy Note 8 (Android 9), as well.
On 8.16.0 Focus, 6/14 Nightly Fenix build, and on Chrome 91.0.4472.88.

[2021-06-14 12:34] ionutbedregeanu commented on #4637
@pocmo Seems to be a problem caused by the native android dialog component. Should we implement our own date picker?

[2021-06-14 16:42] jonalmeida commented on #4901
We need to add two things here:

1. Add a data-review for using `GleanCrashReporterService`: https://github.com/mozilla-mobile/focus-android/pull/4891#discussion_r648480669
2. Create a Focus mailing list to notifying expiring metrics.

[2021-06-15 09:54] sv-ohorvath opened #4946 "Browser URL bar hidden, can't be triggered back on non-scrollable pages"
## Steps to reproduce
1. Search "senglehardt test pages" on google
2. Scroll down a bit to hide the navbar.
3. Click the first link from the google results (should be https://senglehardt.com/test/trackingprotection/test_pages/)
4. Observe the nav bar.
### Expected behavior
The navbar is shown when the page is not scrollable.
### Actual behavior
Going from a scrollable page to a non-scrollable page

[2021-06-15 12:27] sv-ohorvath commented on #4872
@Amejia481 sorry to comment so late, I just have a question:
With this fix, everything is blocked by default.
But what if someone turns off "other content trackers" (because it says it could break things in its description)? Will the other 3 categories still be blocked at least partially, since the test page shows that they are not blocked? I don't know how exactly the test page works, I would exp

[2021-06-15 12:38] sv-ohorvath commented on #4934
Flaky again on 6/14: https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/4635037409513563940/executions/bs.f6d59c41c4220abf/testcases/1

[2021-06-15 14:03] WD40andTape opened #4947 "Failing to log out of websites on close/clear"
## Steps to reproduce

Log in to any website. Completely close the browser or press the erase button. Return to the website.

### Expected behavior

The user should be logged out of the website.

### Actual behavior

The user remains logged in to the website.

### Device information

* Android device: Galaxy S7, Android 8.0.0, Samsung Experience version 9.0
* Focus version: 8.16.0

![1](https://us

[2021-06-15 22:09] jonalmeida commented on #4901
we have `android-probes@` now for this.

[2021-06-16 00:46] Amejia481 commented on #4872
No problem, @sv-ohorvath thanks for the question.

We have two levels of blocking:

- **Content blocking (Most aggressive) :** Resource like JS and images and other files types are blocked from loading.
- **Cookies blocking (Less aggressive):** Sites are blocked from writing cookies.

When the **"other content trackers"** setting is **ON** it means that we are blocking content on the categories th

[2021-06-16 13:22] pocmo commented on #4778
This is the original A-C issue about upstreaming the functionality from Fenix to A-C to be used in our other apps (like Focus):
https://github.com/mozilla-mobile/android-components/issues/7249

[2021-06-16 14:39] ionutbedregeanu opened #4949 "Update single text tip section to corousel"
### Why/User Benefit/User Problem

Right now we are displaying the tips one by one in a random manner or based on previous user actions.
We need to update this section to a carousel of tips

### What / Requirements

Update main screen tips section to a carousel of tips as [in design](https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2131%3A52697)

Order of Tips: https://docs.goo

[2021-06-16 14:59] jonalmeida commented on #4925
Duplicate of https://github.com/mozilla-mobile/focus-android/issues/4949

[2021-06-16 14:59] #4925 closed

[2021-06-16 15:04] jonalmeida opened #4950 "Light mode"

[2021-06-16 16:43] amedyne commented on #4938
@brampitoyo Please confirm if there are planned updates or changes to this pop-up. Thanks!

[2021-06-16 17:35] jonalmeida commented on #4933
We should be following [this configuration](https://github.com/mozilla-mobile/fenix/blob/f198e110d7c0eabff455a028e7739bcb6f1abf3b/app/src/main/java/org/mozilla/fenix/components/toolbar/ToolbarIntegration.kt#L125) according to Arturo for combining the TP and secure icon together.

[2021-06-16 18:49] chutten commented on #4898
This has been done in the mentioned PR! https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/telemetry/GleanMetricsService.kt#L67

[2021-06-17 13:04] pocmo commented on #4530
This seems worthwhile now that we need to share more toolbar functionality with Fenix. Started working on this in #4951

[2021-06-17 18:12] quaqo opened #4954 "Secure connection failed on a secure website (works on Android Firefox Release/Nightly and Firefox Desktop)"
## Steps to reproduce
1. Visit the official website of the Italian Lazio Regional Health System: [https://www.salutelazio.it](https://www.salutelazio.it)
2. A "Secure Connection Failed" page is showed (this doesn't happen on Firefox Release, nor Nightly on the same device)
3. If "Accept the Risk and Continue" is clicked the connection is shown as secure (as it is on Desktop, Android Release and An

[2021-06-17 18:19] quaqo commented on #4954
I changed the title as I tested the same behaviour (showing https://www.salutelazio.it as insecure) on the device below. So it seems that the behaviour on the Huawei Oreo device is the exception, and not vice-versa.

### Device information

* Android device: Xiaomi Mi A1 (LineageOS 17.1 / Android 10)
* Focus version: 8.16.0 (Build #351481538 / 89.0-20210527174632)

[2021-06-18 02:52] rfk commented on #4922
I expect that it should be safe to use Glean and Nimbus in Focus without creating a special Focus megazord, and instead using the default setup that we ship with Fenix. The only observable downside should be that your app ships some unrelated application-services Rust code that it doesn't need.

I'm motivated to use this as an opportunity to revamp some of how we managing megazords for Android con

[2021-06-18 03:58] jonalmeida commented on #4922
Focus uses GeckoView exclusively. 🙂

I do recall reading the doc about this new dependency structure, although I didn't see a strict timeline for it, so assumed we should move forward with a megazord-like solution for the time being IF that is a low-effort solution.

[2021-06-18 04:15] rfk commented on #4922
👍🏻 to moving forward in this manner, yes.

[2021-06-18 06:49] ionutbedregeanu opened #4955 "Update Firefox Klar logo in splash screen"
### Why/User Benefit/User Problem

Firefox Klar needs to be updated to the latest design changes

### What / Requirements

Replace Firefox Klar logo from splash screen with the new one from figma.
At this moment we don't have the resource in figma  so the ticket is blocked.

### Acceptance Criteria (how do I know when I’m done?)

Firefox Klar logo fom splash screen is identical with that one from

[2021-06-22 13:09] pocmo opened #4958 "Replace deprecated Fragment.onActivityCreated()"
* https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/fragment/AddToHomescreenDialogFragment.kt#L96
* tUrhttps://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/fragment/AddToHomescreenDialogFragment.kt#L96
* tUrhttps://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/fragment/AddTo

[2021-06-22 13:10] pocmo opened #4959 "Replace deprecated Fragment.requestPermissions"
* https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt#L221
* https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt#L236

[2021-06-23 01:37] runboy93 opened #4962 "DNT (Do Not Track) header need to be disabled + WebRTC leaks need to be stopped"
Years ago it was recommended to use DNT (Do Not Track) header, but as years gone pretty much none websites are respecting DNT header, more likely users are being fingerprinted instead which is privacy issue!

You have to stay up to date with security trends (for privacy specialized browser), for example you could find way to disable WebRTC leaks on Firefox Focus instead (even worse privacy issue w

[2021-06-23 13:01] pocmo commented on #4962
@agi This has come up a couple of times in the past. I do not remember what the latest take is. Is this possible with GeckoView?

This is the default behavior for all Firefox browsers in private browsing afaik. @Amejia481 Do you know someone from the tracking protection teams to comment on this or link to any public opinion?

[2021-06-23 13:24] Amejia481 commented on #4962
I will bring the topic to the privacy team.

[2021-06-23 13:49] sv-ohorvath commented on #4934
Flaky on Master 6/22[ same error](https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6826224880623170413/executions/bs.444cf8c700ee471a/testcases/1)

[2021-06-24 08:55] AndiAJ commented on #4796
`changeSearchEngineTest` crashed 1x on Master 6/23 : [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8497299209711004446/executions/bs.829ecbef098a4c5d/testcases/1/logs)

**The problem occurred in the second loop.**
✔️ Properly selected "Google" as the default engine
✔️ Performed the search,
✔️ Verified t

[2021-06-24 09:29] AndiAJ opened #4964 "java.lang.IllegalThreadStateException: Expected thread 2 ("main"), but running on thread 668 ("DefaultDispatcher-worker-1")"
## Steps to reproduce
Start-up crashed 1x when `duplicateCustomUrlNotAllowedTest` ran

### Device information

* Android device:  Pixel 2, Virtual, API Level 29 - Cuttlefish x86
* Focus version: Debug 6/23

### Log
06-23 11:27:15.370: I/Choreographer(9151): --------- beginning of crash
06-23 11:27:15.419: E/AndroidRuntime(9151): FATAL EXCEPTION: DefaultDispatcher-worker-2
06-23 11:27:15.419: E/And

[2021-06-24 17:37] agi commented on #4962
Not currently, but we can easily add a GeckoRuntimeSetting for it. I wouldn't be opposed if you want to do this.

[2021-06-25 01:26] runboy93 opened #4965 "WebGL leaks?"
I found some older issue tickets from 2017-2018, but what about now with Geckoview, can anything be done to Firefox Focus?

WebGL, along with these "leaks" can used for fingerprinting user device information, test for it:

https://browserleaks.com/webgl

Test leaks as much information as it collect on that test, real life situation can be much worse in state of privacy.

[2021-06-25 07:38] Mugurell commented on #4778
Thank you Sebastian!
Will look into upstreaming the current functionality from Fenix to AC and then use it in both projects.

[2021-06-25 21:32] budhirajamadhav commented on #4946
Hi @pocmo, I would like to work on this issue, Can I have this one assigned on my name?

[2021-06-29 14:44] WD40andTape commented on #4947
Hi @pocmo, any way to escalate this? Seems like a critical bug. It essentially undermines the main feature of Firefox Focus if cookies are kept between sessions.

[2021-06-29 18:19] Nickoriginal commented on #4954
It seems to be issue in Firefox Beta, Firefox Nightly and Firefox Focus. Firefox Stable and Google Chrome working  with this site normally.
![Screenshot_20210629-211200_Firefox Nightly](https://user-images.githubusercontent.com/85299944/123847587-6e240500-d91f-11eb-8410-f7b753503fa1.jpg)
![Screenshot_20210629-211300_Firefox Focus](https://user-images.githubusercontent.com/85299944/123847615-767c40

[2021-06-29 18:20] Nickoriginal commented on #4954
Device: Samsung Galaxy A20s, ARM64

[2021-06-29 18:37] quaqo commented on #4954
Thanks for the feedback! For me it does work on Nightly 2021-06-28T17:31:51.595 though. On both aforementioned devices. I didn't try Beta. It still doesn't work on Focus.

[2021-06-29 18:48] Nickoriginal commented on #4954
Failed secure connection in a Firefox Stable at the Samsung Galaxy J2 Prime
![Screenshot_20210629-213035](https://user-images.githubusercontent.com/85299944/123851069-7716d580-d923-11eb-86af-809000eb70d3.png)
89.1.1 (Build #2015812945)

[2021-06-29 19:24] Nickoriginal commented on #4954
I think it is a web compatibility bug.

[2021-06-29 19:28] quaqo commented on #4954
I can't debug it. For me it only fails on Focus... But it seems strange, I mean what's not working is at the certificate verification stage, isn't it?

Do you maybe have any hints on how could debug Focus?

[2021-06-29 19:34] Nickoriginal commented on #4954
You can debug Nightly successfully?

[2021-06-29 19:37] quaqo commented on #4954
Correct. But that doesn't give me any useful info as that website does work for me on Nightly.

Still, I'm open to suggestions!

Thanks!

[2021-06-29 19:39] Nickoriginal commented on #4954
I'll try to debug Focus on my device tomorrow.

[2021-06-29 19:42] quaqo commented on #4954
Thank you!

[2021-06-29 19:46] Nickoriginal commented on #4954
#3745

[2021-06-30 07:35] Nickoriginal commented on #4954
Hello! I successfully debugged Focus on my device using desktop Firefox, but I don't know what info do you need. How I can provide it?

[2021-06-30 07:37] quaqo commented on #4954
Ideally I'd expect to see some kind of evaluation in the debug info during the SSL handshake/certificate validation... Are you able to isolate that section?

[2021-06-30 08:17] Nickoriginal commented on #4954
No, I have some info, but it is not useful.

[2021-06-30 08:17] Nickoriginal commented on #4954
I'm sorry about that.

[2021-06-30 08:22] quaqo commented on #4954
Thanks anyways! I guess I'll wait for somebody on the team to have more instructions. It is a very important website in Italy, especially right now with the COVID pandemic, it serves the whole Rome area (capital city), with COVID testing, vaccine info and booking, etc.

[2021-06-30 09:13] mcarare commented on #4947
@WD40andTape This should be already fixed on the latest main branch.

[2021-06-30 09:44] Nickoriginal commented on #4954
I can open the same bug in the Fenix repository, because I too experiencing connection issues in the Firefox

[2021-06-30 09:53] quaqo commented on #4954
That makes sense. Thanks!

[2021-06-30 11:11] mcarare commented on #4954
Bugzilla issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1718744

[2021-06-30 14:55] Nickoriginal commented on #4954
Previously I've checked only Firefox 89.0.2, Chrome 91 and didn't confirmed this issue on desktop browsers, but now explored that ESR 78.11.0 is affected.
![2021-06-30 173957](https://user-images.githubusercontent.com/85299944/123982696-eba54f00-d9cb-11eb-9c45-590b6eb384bd.png)
![2021-06-30 174202](https://user-images.githubusercontent.com/85299944/123982806-01b30f80-d9cc-11eb-9d75-18fd6c36da5b.pn

[2021-06-30 14:57] Nickoriginal commented on #4954
@mcarare, do you can provide a new info about this issue in the bugzilla?

[2021-06-30 15:16] Nickoriginal commented on #4954
Thanks!

[2021-06-30 15:46] quaqo commented on #4954
Wait, @Nickoriginal and @mcarare. What @Nickoriginal wrote about ESR got me thinking.

I installed a fresh copy of Firefox ESR 78, no "GlobalSign RSA OV SSL CA 2018" intermediate in about:certificate.

I visited _https://salutelazio.it/_ and got SEC_ERROR_UNKNOWN_ISSUER.

I visit another website with full intermediate chain for "GlobalSign RSA OV SSL CA 2018" such as:

_https://www.telenet.be/_

I

[2021-06-30 15:46] #4954 closed

[2021-06-30 20:56] Nickoriginal commented on #4567
Still reproducible in Focus/Klar 8.16.0. To resolve it, Focus developers can always keep JavaScript enabled for those prompt and notification pages (like [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1673237)), not exposing user data for page content. But, if it possible, it's better to remake these pages to work without JavaScript.

[2021-07-01 08:48] Nickoriginal commented on #4567
Fenix issue: https://github.com/mozilla-mobile/fenix/issues/20213

[2021-07-01 11:42] lobontiumira commented on #925
I did not encounter this issue lately.
Tested again on a debug build 8.13.1 (#1191.0a1-20210608091819), and with 8.16.0 with Samsung Galaxy Note 8 (Android 9), and with Google Pixel (Android 10).
I'll close this issue.

[2021-07-01 11:42] #925 closed

[2021-07-01 11:55] lobontiumira commented on #1720
@pocmo, if this is the expected behavior, can this issue be closed?
Thank you!

[2021-07-01 12:00] lobontiumira commented on #1926
I was not able to reproduce this issue lately, on a debug build 8.13.1 (#1191.0a1-20210608091819), and 8.16.0 with Samsung Galaxy Note 8 (Android 9), and with Google Pixel (Android 10).
I'll close this issue.

[2021-07-01 12:00] #1926 closed

[2021-07-01 12:14] lobontiumira commented on #2080
@smartfonreddit do you still reproduce this crash on your device?
I was not able to reproduce it with Samsung Galaxy Note 8 (Android 9) on 8.16.0 build.

[2021-07-01 13:38] lobontiumira commented on #2829
This is not an issue anymore, the news.google.com is loading pretty fast, under 3 seconds.
Tested on the Samsung Galaxy Note 8 (Android 9), and on Google Pixel (Android 10), on 8.16.0 Focus build.

[2021-07-01 13:38] #2829 closed

[2021-07-02 07:01] lobontiumira commented on #2859
This is no longer reproducible on 8.16.0 build using a Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).

[2021-07-02 07:01] #2859 closed

[2021-07-02 07:09] lobontiumira commented on #2937
This issue no longer reproduces on the 8.16.0 build. Tested with Samsung Galaxy Note 8 (Android 9), and Google Pixel (Android 10).

<img src="https://user-images.githubusercontent.com/40694158/124234934-574b0180-db1d-11eb-9c7c-05a15079e09b.jpg" width="300" height="550" />

[2021-07-02 07:09] #2937 closed

[2021-07-02 07:18] lobontiumira commented on #2920
This issue no longer reproduces on Focus Klar 8.16.0 with Samsung Galaxy Note 8 (Android 9):
![Untitled](https://user-images.githubusercontent.com/40694158/124236159-cd9c3380-db1e-11eb-8a0c-0c6961544f93.png)

[2021-07-02 07:18] #2920 closed

[2021-07-02 07:32] lobontiumira commented on #3063
Not reproducible on the latest 8.16.0 Focus build.
Tested on a Xiaomi mi4i (Android 5.0.2) device.
I will close this issue.

[2021-07-02 07:32] #3063 closed

[2021-07-02 08:09] lobontiumira commented on #3139
I think we can close this issue, since there is the "Skip" option now, displayed from the first tip.
Tested on the 8.16.0 with Samsung Galaxy Note 8 (Android 9).

![Screenshot_1](https://user-images.githubusercontent.com/40694158/124242876-e52aea80-db25-11eb-9f73-00dd652558e5.jpg)

[2021-07-02 08:28] lobontiumira commented on #3578
@duncanturk is this still an issue?

[2021-07-02 08:34] lobontiumira commented on #3610
I was not able to reproduce the crash on the 8.16.0 build with Xiaomi mi4i (Android 5.0.2).

[2021-07-02 08:34] #3610 closed

[2021-07-02 08:40] lobontiumira commented on #4052
I am still able to reproduce this issue on Klar 8.16.0 with Samsung Galaxy Note 8 (Android 9).
Not reproducible on Focus 8.16.0 with the same device.

[2021-07-02 08:49] cadeyrn commented on #3139
@lobontiumira AFAIU this issue is not about the onboarding screens (as seen in your screenshot) but about the tips on the home screen.

[2021-07-02 10:42] lobontiumira commented on #3139
Oh, sorry, I misread the issue. I'll reopen it.
Thank you!

[2021-07-02 14:27] Mugurell opened #4967 "Add search/ads telemetry"
Follow-up from Fenix's https://github.com/mozilla-mobile/fenix/issues/6557 and https://github.com/mozilla-mobile/fenix/issues/6558 .

Needs https://github.com/mozilla-mobile/android-components/issues/7249

[2021-07-02 21:32] duncanturk commented on #3578
Yes this is still an issue in 8.16.0

[2021-07-03 21:17] Nickoriginal opened #4969 "Keep Firefox Focus in the Galaxy Store updated"
### Why?
Firefox Focus in the Galaxy Store isn't updated on time.
Last time it was updated on May, 6 to 8.15.3, almost 2 months ago.
![20210704_001344](https://user-images.githubusercontent.com/85299944/124367059-d135d480-dc5c-11eb-9198-5e0d6ebbbf80.jpg)
### User Benefit
Users, who keep Firefox Focus updated with Galaxy Store, will receive the latest Firefox Focus with performance improvements, st

[2021-07-03 21:18] Nickoriginal commented on #4969
https://github.com/mozilla-mobile/fenix/issues/20241

[2021-07-05 07:07] lobontiumira commented on #4114
This issue no longer reproduces.
Tested on 8.16.0 Focus build using a Google Pixel (Android 10), and a Samsung Galaxy Note 8 (Android 9).

[2021-07-05 07:07] #4114 closed

[2021-07-05 08:41] lobontiumira commented on #4121
This is still reproducible on 8.16.0 Focus build with Samsung Galaxy Note 8 (Android 9).

[2021-07-05 08:46] lobontiumira commented on #4158
I was not able to reproduce this on the 8.16.0 Focus Klar with Samsung Galaxy Note 8 (Android 9).

[2021-07-05 08:46] #4158 closed

[2021-07-05 08:57] lobontiumira commented on #4141
I was not able to reproduce this issue on the 8.16.0 Focus build with Samsung Galaxy Note 8 (Android 9).

[2021-07-05 08:57] #4141 closed

[2021-07-05 09:30] lobontiumira commented on #4142
I did not encounter this issue lately.
I tested on the 8.16.0 Focus also, and no white screens were displayed, opening different pages, or different tabs, using a Google Pixel (Android 10), and a Samsung Galaxy Note 8 (Android 9).
I'll close this issue.

[2021-07-05 09:30] #4142 closed

[2021-07-05 09:32] lobontiumira commented on #4122
This is still reproducible on the 8.16.0 Focus build.
Tested with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).

[2021-07-05 09:34] lobontiumira commented on #4127
This issue no longer reproduces on the 8.16.0 Build, using a Google Pixel (Android 10), and a Samsung Galaxy Note 8 (Android 9).

[2021-07-05 09:34] #4127 closed

[2021-07-05 09:38] lobontiumira commented on #4152
I'll close this issue, since it is no longer the case on the 8.16.0 Focus build.

[2021-07-05 09:38] #4152 closed

[2021-07-05 09:40] lobontiumira commented on #4154
This is still reproducible on the 8.16.0 build with Samsung Galaxy Note 8 (Android 9).

[2021-07-05 12:05] lobontiumira commented on #4194
@minutesinch is this still an issue?
Thanks!

[2021-07-05 12:15] lobontiumira commented on #4206
I was not able to reproduce this issue on the 8.16.0 Focus build using a Google Pixel (Android 10).
I will close this issue.
Feel free to open a new one if you encounter this again.

[2021-07-05 12:15] #4206 closed

[2021-07-05 12:16] lobontiumira commented on #4207
I did not encounter the crash on the latest Klar 8.16.0 build.
Closing this issue.

[2021-07-05 12:16] #4207 closed

[2021-07-05 12:21] lobontiumira commented on #4212
I was not able to reproduce this issue on the latest Focus build 8.16.0.
I have tested with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).

[2021-07-05 12:21] #4212 closed

[2021-07-05 12:33] lobontiumira commented on #4213
I did not reproduce this issue on the 8.16.0 Focus build using a Google Pixel (Android 10).

[2021-07-05 12:33] #4213 closed

[2021-07-05 12:38] lobontiumira commented on #4225
I think this ticket can be closed, as it is complete.

[2021-07-05 12:38] #4225 closed

[2021-07-05 14:09] lobontiumira commented on #4237
This is no longer an issue.
Tested on the 8.16.0 Focus build, and on 8.16.0 Klar build with Google Pixel (Android 10).

[2021-07-05 14:09] #4237 closed

[2021-07-05 14:11] lobontiumira commented on #4242
I think I can close this issue, since the reporter found a way to change the default engine.

[2021-07-05 14:11] #4242 closed

[2021-07-05 14:12] lobontiumira commented on #4233
I'm closing this issue since it is no longer valid.

[2021-07-05 14:12] #4233 closed

[2021-07-05 14:16] lobontiumira commented on #4235
I'll close this issue, since there is no activity on it for a long time.

[2021-07-05 14:16] #4235 closed

[2021-07-05 14:18] lobontiumira commented on #4227
Not reproducible on the latest Focus 8.16.0 build using a Google Pixel (Android 10).

[2021-07-05 14:18] #4227 closed

[2021-07-05 14:19] lobontiumira commented on #4214
I will close this issue, since it is no longer up to date.

[2021-07-05 14:19] #4214 closed

[2021-07-05 14:27] lobontiumira commented on #4219
This issue no longer reproduces on the 8.16.0 build using a Google Pixel (Android 10) build.

[2021-07-05 14:27] #4219 closed

[2021-07-06 06:58] lobontiumira commented on #4248
This is no longer reproducible on 8.16.0 Focus build, using a Google Pixel (Android 10).

[2021-07-06 07:01] lobontiumira commented on #4250
This is no longer reproducible on 8.16.0 build, using a Google Pixel (Android 10).

[2021-07-06 07:01] #4250 closed

[2021-07-06 07:06] lobontiumira commented on #4251
This is no longer reproducible on the 8.16.0 Focus build using a Google Pixel (Android 10).

[2021-07-06 07:06] #4251 closed

[2021-07-06 07:10] gahujipo commented on #4248
But it is still reproducible on 8.16.0 Focus build, using Miui Global 11 (Android 9)

[2021-07-06 07:11] lobontiumira commented on #4253
I was able to reproduce this issue on the 8.16.0 Focus build using a Google Pixel (Android 10).

[2021-07-06 07:14] lobontiumira commented on #4254
No longer reproducible on the 8.16.0 Focus build with GV89, using a Google Pixel (Android 10).

[2021-07-06 07:14] #4254 closed

[2021-07-06 07:15] lobontiumira commented on #4255
No longer reproducible on the 8.16.0 Focus build with GV89, using a Google Pixel (Android 10).

[2021-07-06 07:15] #4255 closed

[2021-07-06 07:17] #4256 closed

[2021-07-06 07:20] lobontiumira commented on #4257
Due to the fact that 1542381 issue has been fixed and closed, and this issue no longer can be reproduced on 8.16.0 Focus build with Google Pixel (Android 10), I'll close it.

[2021-07-06 07:20] #4257 closed

[2021-07-06 07:21] lobontiumira commented on #4258
Closing this issue as invalid.

[2021-07-06 07:21] #4258 closed

[2021-07-06 07:23] lobontiumira commented on #4259
This issue no longer reproduces on 8.16.0 Focus build using a Google Pixel (Android 10) device. I'll close it.

[2021-07-06 07:23] #4259 closed

[2021-07-06 07:28] lobontiumira commented on #4266
This is still reproducible on both Focus 8.16.0, and Firefox Nightly 91.0a1 from 7/5 using a Google Pixel (Android 10).

[2021-07-06 08:01] lobontiumira commented on #4267
I was not able to reproduce this issue on 8.16.0 Focus.
@runboy93 did you encounter this lately?
Thank you!

[2021-07-06 10:59] lobontiumira commented on #4268
Closing this issue as invalid.

[2021-07-06 10:59] #4268 closed

[2021-07-06 11:21] lobontiumira commented on #4184
I was able to run the Focus 8.13.1 (build 1191.0a1-20210624093849) on an emulator.
@RotBolt could you, please, retry?

[2021-07-06 11:21] #4184 closed

[2021-07-06 12:08] lobontiumira commented on #4269
I was able to reproduce the crash on the 8.16.0 build using Samsung Galaxy Note 8 (Android 9).

[2021-07-06 20:41] Ekt0s commented on #4950
Hi @jonalmeida
I've started to look around the themes/styles. Is there design sketch with the colors for the light mode ?

[2021-07-07 06:23] Nickoriginal commented on #4969
Resolved for Fenix and Focus.
<img src = https://user-images.githubusercontent.com/85299944/124710046-e5036400-df04-11eb-885d-85a03fa6cbd3.jpg width = 45%>

[2021-07-07 06:23] #4969 closed

[2021-07-07 09:48] Mugurell commented on #4878
Removing from Kanban from now.

[2021-07-07 19:46] Nickoriginal opened #4973 "String "Erase and open %1$s" is incorrectly showed in the menu after long tapping on the Focus icon"
## Steps to reproduce
1. Long tap on the Focus app icon in the app menu.
2. Look at the string "Erase and open %1$s" in the opened menu.
### Expected behavior
String "Erase and open %1$s" should be correctly handled, like "Erase and open" and "Стереть и открыть".
### Actual behavior
String "Erase and Open %1$s" is not correctly handled, shows "Erase and Open %1$s" and "Стереть и открыть %1$s" for

[2021-07-07 21:35] Nickoriginal commented on #4954
Preloading the intermediate certificates as described in bug 1520297 would also resolve this one automatically.

[2021-07-07 21:37] Nickoriginal commented on #4954
You did it?

[2021-07-08 06:16] quaqo commented on #4954
I did via multiple channels. No reply. It is managed by a govt contractor from what I understand, so it could take a while to have the email routed to the people able to act on it (there's no direct way to contact the tech dept).

[2021-07-08 11:54] lobontiumira commented on #4740
This issue still reproduces with 8.17.0 with GeckoView 90.0.20210705185941 and AC 90.0.12, with OnePlus 5T (Android 10).

[2021-07-08 12:38] #4530 closed

[2021-07-08 12:53] lobontiumira commented on #4006
I was able to reproduce it on Focus 8.17.0 with GV 90, with OnePlus 5T (Android 10), and Google Pixel (Android 10), following these STR:
1. Open cnn.com.
2. Long-tap on a linked text, and select to open a new tab.
3. Don't switch to the newly opened tab.
4. In the URL bar insert about:crashcontent, and select to close the tab.
5. The latest opened tab remains blank, unusable.

Note: If I switch to

[2021-07-08 13:01] lobontiumira commented on #4748
Based on Sebastian's [comment](https://github.com/mozilla-mobile/focus-android/issues/4748#issuecomment-851501267), I'll close this issue.

[2021-07-08 13:01] #4748 closed

[2021-07-08 13:05] lobontiumira commented on #4735
Still reproducible on 8.17.0 build with OnePlus 5T (Android 10).

[2021-07-08 13:13] lobontiumira commented on #4831
Reproducible on 8.17.0 build with OnePlus 5T (Android 10).

[2021-07-08 13:14] lobontiumira commented on #4401
Reproduces on the 8.17.0 Focus build with OnePlus 5T (Android 10).

[2021-07-08 14:36] sv-ohorvath opened #4974 "Intermittent UI test failures - toolbar/menu related"
### Firebase Test Run:
11 failures in UI tests: https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6557861697145683071

Due to this commit: https://github.com/mozilla-mobile/focus-android/commit/c20a52c95914e74cf5f46d1cec9428b896721cc2

takeScreenshotOfTips
browserMenuItemsTest
shareTabTest
openPageInExternalAppTest
testVisitin

[2021-07-08 14:52] sv-ohorvath commented on #4907
Flaky on main 7/8:https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6557861697145683071/executions/bs.83122700a8a4aa79/testcases/1

[2021-07-08 15:07] sv-ohorvath opened #4975 "Building a release test build is not autosigned with a debug key"
## Steps to reproduce
Trying to run UI tests on a release build locally, from the command line, using:
`gradlew app:connectedAndroidTest -PtestBuildType=release -PdisableOptimization -Pandroid.testInstrumentationRunnerArguments.package="org.mozilla.focus.activity"`

What I've tried so far:
- I added this to build.gradle, as on Fenix: https://github.com/mozilla-mobile/fenix/blob/master/app/build.gr

[2021-07-08 15:24] AaronMT opened #4976 "Run UI test task on pull request (open/reopen/synchronize)"
With (@sv-ohorvath) adding and fixing a lot of UI tests it makes sense to schedule the UI test task job on Pull Requests (open/reopen/synchronize) so that failures aren't uncovered after the fact.

Unfortunately because the current old structure `.taskcluster.yml` it makes things complicated. The UI test task is generated in `tools/taskcluster/schedule-main-build.py` which is meant for generating

[2021-07-08 21:35] runboy93 opened #4979 "8.17.0 version missing APKs?"
8.17.0 doesn't have .apk files on releases?

[2021-07-09 12:07] lobontiumira commented on #4160
I was not able to reproduce the crash on the 8.17.0 build with Google Pixel (Android 10).
I'll close this issue.

[2021-07-09 12:07] #4160 closed

[2021-07-09 12:13] lobontiumira commented on #4223
Closing as invalid.

[2021-07-09 12:13] #4223 closed

[2021-07-09 12:15] lobontiumira commented on #4218
@g-normand thank you for the report!
The Focus favicon is used when adding a page to the homescreen on the 8.17.0 Focus build.

[2021-07-09 12:15] #4218 closed

[2021-07-09 12:16] lobontiumira commented on #4292
Closing as per the comment above.

[2021-07-09 12:16] #4292 closed

[2021-07-09 12:18] lobontiumira commented on #4224
@c4pt000 is this still an issue on the latest Firefox Focus build?

[2021-07-09 12:20] lobontiumira commented on #4229
@anto-1 is this still an issue?
Thank you!

[2021-07-09 12:23] lobontiumira commented on #4245
@Hatem1235 is this still an issue for you on the latest 8.17.0 Focus build?
Thank you!

[2021-07-09 12:28] lobontiumira commented on #4282
Loading URL: https://codepen.io/jcoulterdesign/full/xeoRZW only opens a 404 page.
Closing as invalid.

[2021-07-09 12:28] #4282 closed

[2021-07-09 13:21] lobontiumira commented on #4286
@dector is this issue fixed?
Thank you!

[2021-07-09 13:23] lobontiumira commented on #4288
This is fixed now.
I'll close the issue.

[2021-07-09 13:23] #4288 closed

[2021-07-09 13:24] lobontiumira commented on #4289
Reproducible on 8.17.0 Focus build with Google Pixel (Android 10).

[2021-07-09 13:25] lobontiumira commented on #4300
I'll close this issue, since I was not able to reproduce it since the 8.13.0 Focus version.

[2021-07-09 13:25] #4300 closed

[2021-07-09 13:30] lobontiumira commented on #4301
@yoasif I was not able to reproduce this issue, mainly because the link is invalid. Tested on the 8.17.0 build with Google Pixel (Android 10).

[2021-07-09 14:01] sv-ohorvath opened #4981 "[Crash] java.lang.IllegalThreadStateException: Expected thread 2 ("main"), but running on thread 664 ("DefaultDispatcher-worker-1")"
## Steps to reproduce
2 automated UI tests failed with this crash:
org.mozilla.focus.activity.SafeBrowsingTest.unblockSafeBrowsingTest
org.mozilla.focus.activity.CustomTabTest.testCustomTabUI
[Firebase log](https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5048718455637267608/executions/bs.7dd6269801380449/testcases/1/logs)

[

[2021-07-09 14:33] #4974 closed

[2021-07-09 15:13] dector commented on #4286
@lobontiumira Don't think that it's fixed. But I can't find `SearchEngineManager` usages in this repo anymore.

[2021-07-09 17:40] Amejia481 commented on #4740
Thanks for testing @lobontiumira,

Reading from the [STR](https://github.com/mozilla-mobile/focus-android/issues/4740#issue-835799062):

In the step 2, we should be checking for the option "**Are 3rd Party Cookies Enabled?"** as we are changing the setting  **"Block 3rd-party cookies only"** :).

[2021-07-09 20:01] Nickoriginal commented on #4979
I think they will be available later.

[2021-07-11 19:18] runboy93 commented on #4979
NVM found unsigned

[2021-07-11 19:19] #4979 closed

[2021-07-12 06:38] lobontiumira commented on #4740
@Amejia481 it is reproducible also when "Block 3rd-party tracker cookies only" is selected.

[2021-07-12 06:48] Nickoriginal commented on #4979
Thanks! I thought it was about APKs provided here, on Github (in addition, they are signed there), because it is important source for me and some other users, who didn't know about this site. However, I'll track their availability here.

[2021-07-12 06:50] Nickoriginal commented on #4979
I realized what it was about GitHub APKs.

[2021-07-12 07:24] #4934 closed

[2021-07-12 12:56] Amejia481 commented on #4740
Which site are you using for testing?

[2021-07-12 13:08] lobontiumira commented on #4740
On https://rpappalax.github.io/testapp

[2021-07-12 13:50] amedyne commented on #4730
@Amejia481, Are the GV and AC changes ready?

[2021-07-12 13:58] ionutbedregeanu commented on #4923
New design: https://www.figma.com/file/jgsM2hWimZbPmtUJn7IGIB/Focus-Landing-Page-Design-(Kate)?node-id=1648%3A87291

[2021-07-12 14:29] Amejia481 commented on #4730
It was partially covered on https://github.com/mozilla-mobile/focus-android/pull/4899, we noticed that there is a missing part of GV, but they are going to take some time on implementing it, we are trying to do a workaround on to cover it https://github.com/mozilla-mobile/focus-android/pull/4977.

[2021-07-12 16:05] Amejia481 commented on #4740
I think there is confusing in the terminology the option is called "Block 3rd-party **tracker cookies** only" and the site that we are using for testing is checking for **Third-Party Cookies**. No all **Third-Party Cookies** are **trackers**.

The expected behavior should be:

- The option "**Block 3rd-party tracker cookies only"** should say **YES**.
- The option **"Block 3rd-party cookies only"*

[2021-07-12 17:51] Amejia481 commented on #4740
Chatting with @jonalmeida, he commented that tag  [v8.17.0](https://github.com/mozilla-mobile/focus-android/releases/tag/v8.17.0) is using a custom GV version, that explains the behavior difference, for this bug we should only test on `main` as the  [v8.17.0](https://github.com/mozilla-mobile/focus-android/releases/tag/v8.17.0) version is based on the `release` branch and we aren't going to use th

[2021-07-13 05:58] Nickoriginal commented on #4979
Resolved for 8.17.0 and 8.17.1
<img src = https://user-images.githubusercontent.com/85299944/125398733-5c7b3c80-e3b8-11eb-9e27-d3968d195bfe.jpg width = 35%>

[2021-07-13 07:30] AndiAJ commented on #4907
Flaky on 7/9: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5733208048061385648/executions/bs.a453e7f33790c003/testcases/1)

[2021-07-13 07:34] #4839 closed

[2021-07-13 07:34] AndiAJ commented on #4907
Failed 1x on Master 7/12
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6533883219783604749/executions/bs.9afa7b746068bb3e/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6533883219783604749/executi

[2021-07-13 07:37] AndiAJ opened #4986 "Intermittent UI test failure - <MultitaskingTest.testVisitingMultipleSites>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5733208048061385648/executions/bs.af8f26fa354a066e/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5733208048061385648/execution

[2021-07-13 07:48] sv-ohorvath commented on #4986
will be fixed in https://github.com/mozilla-mobile/focus-android/pull/4984 which just landed.

[2021-07-13 07:48] #4986 closed

[2021-07-13 07:54] sv-ohorvath commented on #4981
dupe of https://github.com/mozilla-mobile/focus-android/issues/4964

[2021-07-13 07:54] #4981 closed

[2021-07-13 07:55] sv-ohorvath commented on #4964
2 other automated UI tests failed with this crash:
org.mozilla.focus.activity.SafeBrowsingTest.unblockSafeBrowsingTest
org.mozilla.focus.activity.CustomTabTest.testCustomTabUI
[Firebase log](https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5048718455637267608/executions/bs.7dd6269801380449/testcases/1/logs)

[Text logs](https

[2021-07-13 10:39] Mugurell commented on #4975
Looked with Oana at this.
Regarding the steps tried:
- `autosignReleaseWithDebugKey` is not used in Focus but can be easily added to sign all builds with the debug key.
- If ^^ would work as in Fenix there's no need to sign the apk again. But even if signing it manually, without a way to pass the location of an existing apk so that `/gradlew app:connectedAndroidTest` would not build it's own apk t

[2021-07-13 12:27] Mugurell commented on #4975
After "making the test work" we see errors like
[code]

Guessing an R8 issue.

[2021-07-13 13:06] lobontiumira commented on #4687
This issue no longer reproduces on 8.17.1 Focus release with Xiaomi Mi8 Lite Android 9), nor with Google Pixel (Android 10).
I'm closing this,

[2021-07-13 13:06] #4687 closed

[2021-07-13 13:09] Mugurell commented on #4975
Think I should just make a PR for these changes.

[2021-07-13 13:36] lobontiumira commented on #4480
This is reproducible on Xiaomi Mi 8 Lite (Android 9), on 8.17.1 build.

[2021-07-13 13:57] lobontiumira commented on #4740
I've retest on a maine build 8.13.1 (1191.0a1-20210705095222) on an emulator, and the issue no longer reproduces.
I'll close this issue, based on my findings, and on the explanations provided by Arturo.

[2021-07-13 13:57] #4740 closed

[2021-07-15 08:09] sv-ohorvath opened #4990 "[Crash] Browser crashes when you refresh a page"
## Steps to reproduce
1. Load a webpage.
2. Tap the refresh button in the main menu.

Or: load a page and stop it from loading by pressing the stop button in the main menu.

### Expected behavior
Page reloaded.
### Actual behavior
App crashes.
`2021-07-15 11:04:08.316 10324-10324/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.mozilla.focus.debug, PID: 10324
    java.lang.IllegalArgumen

[2021-07-15 15:37] #4825 closed

[2021-07-15 19:58] amedyne opened #4992 "Implement Beta Channel Dark Mode"
Implement Beta channel Landing screen design for Light and Dark Mode

- [ ] Logo
- [ ] Landing page

[2021-07-15 20:52] amedyne opened #4993 "Implement Nightly channel Dark Mode theme"
Implement Nightly Channel Dark Mode

- [ ] Logo
- [ ] Landing page

[2021-07-15 20:53] amedyne opened #4994 "Implement Beta Channel Light Mode"
Implement changes for Beta channel Light Mode

- [ ] Landing page

[2021-07-15 20:54] amedyne opened #4995 "Implement Nightly Channel Light Mode"
Implement changes for Nightly Channel on Light Mode

- [ ] Landing page changes

[2021-07-16 07:44] sv-ohorvath opened #4996 "Intermittent UI test failure - MultitaskingTest.testVisitingMultipleSites"
### Firebase Test Run:
Failed 2/2 tries:
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6414384169363496649/executions/bs.ff1ba623613eb2a5/testcases/1### Stacktrace:
`java.lang.AssertionError
at org.junit.Assert.fail(Assert.java:86)
at org.junit.Assert.assertTrue(Assert.java:41)
at org.junit.Assert.assertTrue(Assert.java:52

[2021-07-17 19:35] Nickoriginal commented on #4973
More locales can be affected, so feel free to complement my list in comments (better with screenshots)

[2021-07-17 19:36] Nickoriginal commented on #4973
More locales can be affected, so feel free to complement my list in comments.

[2021-07-18 18:47] Nickoriginal commented on #4973
As I can see here https://pontoon.mozilla.org/en-CA/firefox-for-android/mozilla-mobile/fenix/app/src/main/res/values/strings.xml/?string=209886, %1$s is a parameter in strings, what should be replaced by the adjustable word during application processing (usually). It fails to do so in this menu.

[2021-07-19 06:17] ionutbedregeanu commented on #4924
All ticket changes are implemented behind a feature flag(FeatureFlags.isMvp).
FeatureFlags.isMvp = true -> mvp changes are visible
FeatureFlags.isMvp = false -> mvp changes are hidden

[2021-07-19 09:09] ionutbedregeanu commented on #4928
QA note:
All ticket changes are implemented behind a feature flag(FeatureFlags.isMvp).
FeatureFlags.isMvp = true -> mvp changes are visible
FeatureFlags.isMvp = false -> mvp changes are hidden

[2021-07-19 10:19] Alexspriet opened #5000 "Build Variant"
Hi,

1.
I can't see your ARM build variant inside Android Studio.
![image](https://user-images.githubusercontent.com/3264235/126144886-281e4d5f-d4a0-43f4-8a78-d6003e558d6d.png)

2.
Also, when I run gradlew clean app:assembleFocusDebug,it builds those 4 apks (which don't act like Focus in production):
![image](https://user-images.githubusercontent.com/3264235/126145034-0c04c406-27ac-4a27-bb15-9f28c

[2021-07-19 10:31] AndiAJ commented on #4964
Flaky 1x `openCustomTabInFocusTest` [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7043519714839398539/executions/bs.c9bbcdf9d1426c1b/testcases/1/logs)

[2021-07-19 13:20] sv-ohorvath commented on #4788
@gouri-panda Sorry, I somehow missed your comment. I'm not sure what is the real expectation here, but my guess is that it shouldn't kill the app, just delete browsing data.

[2021-07-19 14:31] amedyne opened #5001 "ShortCuts: Implement Shortcuts for Focus"
Latest designs: https://www.figma.com/file/KggJlo8pg2T2Q8nn0Ec5c3/Shortcuts?node-id=1836%3A46849

Shortcut tiles are shown in these states:

- New Tab/home/start page. Appears on app startup and after you delete browsing history.

- Search zero screen. Appears while visiting a website, when the address bar is selected –as long as the web address is either unmodified, or erased to blank (hit backsp

[2021-07-19 14:43] amedyne opened #5002 "Shortcuts: Implement workflow to Add shortcuts"
Implement workflow to Add shortcuts for Focus.

Latest designs: https://www.figma.com/file/KggJlo8pg2T2Q8nn0Ec5c3/Shortcuts?node-id=1830%3A46874

[2021-07-19 14:44] amedyne opened #5003 "Shortcuts: Implement workflow to Remove/Delete shortcuts"
Implement workflow to Remove/Delete shortcuts.
https://www.figma.com/file/KggJlo8pg2T2Q8nn0Ec5c3/Shortcuts?node-id=1830%3A46874

[2021-07-20 08:39] ionutbedregeanu commented on #4930
QA note:
All ticket changes are implemented behind a feature flag(FeatureFlags.isMvp).
FeatureFlags.isMvp = true -> mvp changes are visible
FeatureFlags.isMvp = false -> mvp changes are hidden

[2021-07-20 10:49] ionutbedregeanu commented on #4933
This wasn't implemented by [4530](https://github.com/mozilla-mobile/focus-android/issues/4530)?

[2021-07-21 13:03] Nickoriginal commented on #4990
Where I can download this Focus debug APK?

[2021-07-21 14:40] jonalmeida commented on #5003
E3 because there are two delete options. One as a BrowserMenu overlay when you long-press a shortcut on the homescreen, and another in the three-dot menu.

[2021-07-21 15:45] #1720 closed

[2021-07-22 08:45] ionutbedregeanu opened #5004 "Update feature flag "isMvp""
### Why/User Benefit/User Problem
It helps QA team to see the mvp changes without manually updating the flag
### What / Requirements
Update const val isMvp = false/true to var isMvp = BuildConfig.BUILD_TYPE.contains("debug")
### Acceptance Criteria (how do I know when I’m done?)

[2021-07-22 11:21] lobontiumira commented on #4617
Verified as fixed on the debug build 8.13.1 (1191.0a1-20210705095222) with Google Pixel (Android 10).

[2021-07-22 11:21] #4617 closed

[2021-07-22 11:33] ionutbedregeanu commented on #5004
Note for QA: After this patch you should be able to see all mvp changes on DEBUG build

[2021-07-22 13:09] jonalmeida commented on #4933
I think you're right that the BrowserToolbar integration gave us most of the stuff for free, but there might be some smaller differences that we could address in this ticket, if any. Otherwise, we can close. :slightly_smiling_face:

[2021-07-22 13:34] lobontiumira commented on #4924
Hi all!
I've verified with Google Pixel (Android 10), on the latest Debug build 8.13.1 (1191.0a1-20210705095222) that contains the latest modifications, and here are my findings:
* the search field has no ETP icon when there is no page loaded,
* the ETP icon is not as in Figma,
* there is no space between the search field and the three-dot menu, as in Figma,
* there is no dark mode by default,
* t

[2021-07-22 13:44] lobontiumira commented on #4928
Hi all,
I've verified with Google Pixel (Android 10), on the latest Debug build 8.13.1 (1191.0a1-20210705095222) that contains the latest modifications, and the "Browsing history cleared" snackbar is displayed after the user closes the opened tab/tabs by tapping the "Delete icon".

<img src="https://user-images.githubusercontent.com/40694158/126648986-ddf40688-54eb-4484-8e4b-479044b3d25d.png" widt

[2021-07-22 13:44] #4928 closed

[2021-07-22 13:50] lobontiumira commented on #4930
Verified on the debug build8.13.1 (1191.0a1-20210705095222) with Google Pixel (Android 10):

![Untitled](https://user-images.githubusercontent.com/40694158/126650226-ab9a9495-ce76-4725-9955-ea87909379a3.png)

[2021-07-22 13:50] #4930 closed

[2021-07-22 13:56] lobontiumira opened #5006 "[crash] Debug build crashes when refreshing the page"
## Steps to reproduce
1. Open a page, and refresh it.

### Expected behavior
The page reloads.

### Actual behavior
The app crashes.

### Device information
* Android device: Google Pixel (Android 10)
* Focus version: the debug build 8.13.1 (1191.0a1-20210705095222)

[code]

https://user-images.githubusercontent.com/40694158/126651060-09830438-ecd9-45f7-91ad-8f04ea655375.mp4

[2021-07-22 15:00] ionutbedregeanu commented on #4924
Dark mode background its implemented by [4923](https://github.com/mozilla-mobile/focus-android/issues/4923)

[2021-07-22 15:09] amedyne commented on #4931
Latest designs here: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=742%3A1998

[2021-07-22 15:09] Nickoriginal commented on #5006
Duplicate of #4990?

[2021-07-23 05:52] lobontiumira commented on #5006
Closing as duplicate of #4990.

[2021-07-23 05:52] #5006 closed

[2021-07-24 03:52] jonalmeida opened #5009 "Build and target SDK 30+ (11.0+)"
Similar to https://github.com/mozilla-mobile/focus-android/issues/2909 we should update to 30 (or eventually 31)..

### Why/User Benefit/User Problem

* It will be a requirement for using new OS features
* The longer we stay behind the harder it gets to update

### What / Requirements

* [ ] Update build.gradle files
* [ ] Build and run tests to see if there are issues that need to be fixed

[2021-07-27 05:23] lobontiumira opened #5011 "The GV icon is missing in the "About" page"
## Steps to reproduce
1. Install Focus 8.18.0-rc.1.
2. Go to Settings - Mozilla - About Firefox Focus, and observe the GV version.

### Expected behavior
The GV version is displayed with an icon.

### Actual behavior
The GV version is following the build version, hard to read them separately - please see the screenshot below.

### Device information
* Android device: all
* Focus version: 8.18.0-rc

[2021-07-27 05:50] lobontiumira opened #5012 "The tracking protection of a page cannot be enabled back until deleted from Exceptions"
## Steps to reproduce
1. Open a page.
2. From the three-dot menu, disable the tracking protection - the page reloads with the tracking protection icon cut.
3. From the three-dot menu, enable the tracking protection.

### Expected behavior
The page reloads with the tracking protection icon uncut, and the tracking protection toggle ON.

### Actual behavior
The page reloads with the tracking protecti

[2021-07-27 06:07] lobontiumira commented on #4990
Reproducible on 8.18.0-rc.1 build with HTC 10 (Android 8).

[2021-07-27 06:59] lobontiumira opened #5013 "The search bar is not active, and the keyboard is not triggered when leaving the search field empty and tap "Go""
## Steps to reproduce
1. Tap on the search field, in order to trigger the keyboard.
2. Tap on "Go".

### Expected behavior
Nothing happens, the keyboard is still trigerred, the search field is empty and the focus is on it.

### Actual behavior
The keyboard is dismissed, the focus is not in the search field anymore.

### Device information
* Android device: HTC 10 (Android 8), Google Pixel (Android

[2021-07-27 07:45] lobontiumira opened #5014 "The "Open this PDF File" link from rpappalax.github.io/testapp doesn't open anymore"
## Steps to reproduce
1. Go to test web page: https://rpappalax.github.io/testapp.
2. Scroll the page to "Open PDF File" section and tap on the "Open this PDF File" link.

### Expected behavior
The https://github.com/rpappalax/testapp/blob/master/lorem_ipsum2.pdf page opens.

### Actual behavior
Nothing happens.

### Device information
* Android device: HTC 10 (Android 8), Google Pixel (Android 10

[2021-07-27 12:02] pocmo opened #5016 "Fix deprecated systemUiVisibility and flags"
I am updating Focus to the latest SDK (for using Jetpack Compose) and the build is showing warning about deprecated `systemUiVisibility` and `View.SYSTEM_UI_FLAG_*` in:

* `CustomTabActivity`
* `FullscreenIntegration`
* `MainActivity`

[2021-07-27 12:02] pocmo commented on #5016
I'm going to deprecate the warnings on my branch.

@jonalmeida Did we already fix this for Fenix?

[2021-07-27 12:04] pocmo commented on #5016
The issue is closed:
* https://github.com/mozilla-mobile/fenix/issues/17804

But the `@Suppress` calls are still there:
* https://github.com/mozilla-mobile/fenix/blob/4dd4e3598227a346fd7013b1aef6eee1caf08a2c/app/src/main/java/org/mozilla/fenix/ext/Activity.kt#L40

[2021-07-27 12:30] lobontiumira opened #5017 "Tapping on the page's URL, doesn't autoselect the URL"
## Steps to reproduce
1. Open any page, and wait for it to fully load.
2. Tap on the search field, and observe.

### Expected behavior
The URL is autoselected, the user can type anything, the URL will be replaced with what the user is typing.

### Actual behavior
The focus is on the end of the URL. The link is not selected at all.
The user has to tap the "x", then to type.

### Device information

[2021-07-27 13:04] lobontiumira commented on #4397
The "Safe browsing" option is now available in the 8.18.0-rc.1 build.
I'm closing this issue.

[2021-07-27 13:04] #4397 closed

[2021-07-27 13:27] lobontiumira commented on #4480
This issue no longer reproduces in the 8.18.0-rc.1 build.
I'll close this issue.

[2021-07-27 13:28] #4480 closed

[2021-07-27 13:29] lobontiumira commented on #4401
This issue no longer reproduces on the 8.18.0-rc.1 build.
I'll close this issue.

[2021-07-27 13:29] #4401 closed

[2021-07-27 13:31] lobontiumira commented on #4831
Reproducible on the 8.18.0-rc.1 build with HTC 10 (Android 8).

[2021-07-27 13:41] lobontiumira commented on #4735
I was not able to reproduce this issue.
I was able to delete search engines, and to add new ones, to delete the new ones added, to restore the default search engines.
Tested on the 8.18.0-rc.1 build with HTC 10 (Android 8), Google Pixel (Android 10), and Samsung Galaxy Tab A6 (Android 5.1.1).
I'm closing it.

[2021-07-27 13:41] #4735 closed

[2021-07-27 14:02] jonalmeida commented on #5016
Ah yes, it came back in because some of the Android 11 targetting changes had been backed out and we were seeing weird bugs without it. It looks we updated to Android 11 again but we didn't land the removal of this code and use the AC extensions.

[2021-07-27 14:23] sflorean opened #5020 "Can't select/delete/edit the URL link after searching on Google/other search engines"
## Steps to reproduce
1. Search something random on Google.
2. Tap on URL bar to enter in edit mode.

### Expected behavior
The URL is selected and the link can be deleted.

### Actual behavior
The link can't be selected and the page is reloading.

### Device information
* Android device: Huawei P40 Lite (Android 11).
* Focus version: Focus version: 8.18.0-rc.1.
* Not reproducible using direct URL

[2021-07-27 14:58] Nickoriginal commented on #4973
Reproducible in Focus 8.18.0-rc.1 on Samsung Galaxy A20s (Android 11).

[2021-07-27 14:59] Nickoriginal commented on #4990
Reproducible in Focus 8.18.0-rc.1 on Samsung Galaxy A20s (Android 11).

[2021-07-27 15:23] Nickoriginal commented on #5020
Not reproducible in 8.18.0-rc.1 (build #35207182591.0a1-20210705095222) on Samsung Galaxy A20s (Android 11). Other search engines working fine to me.

[2021-07-27 15:26] Nickoriginal commented on #5013
Reproducible in 8.18.0-rc.1 on Samsung Galaxy A20s (Android 11) with Samsung Keyboard 5.2.60.0.

[2021-07-27 16:48] pocmo commented on #5009
I did update to SDK 30 with Jetpack Compose (was needed):
https://github.com/mozilla-mobile/focus-android/commit/6caa9468a4906675378a4bef9f9ad12bbb7c6bca

[2021-07-27 17:06] mcomella opened #5021 "Add PageStart/PageStop log statements to allow perf to measure time to nav start"
Our perf tools rely on `PageStart/PageStop` logcat messages (in fenix) to measure:
- `fenix/measure_start_up.py`: time to nav start
- (deprecated) FNPRMS: time to page load complete

We should add similar logcats to focus so that we can make the same measurements to compare against fenix and subsequent versions of focus.

[2021-07-27 17:11] mcomella commented on #5021
It appears these log statements are actually made in ac and may not require any fenix intervention at all: https://searchfox.org/mozilla-mobile/rev/52cda29eddd5d084d4a152972815e27f6f7bad05/android-components/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt#625

I wonder why I didn't see them in the latest versions of focus. Let me double-c

[2021-07-27 17:49] Nickoriginal commented on #5011
Reproducible in 8.18.0-rc.1 on Samsung Galaxy A20s, Android 11.

[2021-07-27 17:51] Nickoriginal commented on #5011
Comparison with 8.17.1:
<img src = https://user-images.githubusercontent.com/85299944/127203037-5d58f8c3-14a6-411f-959f-9b152b7466ff.png width = 45%>

[2021-07-27 17:59] amedyne commented on #4993
Latest figma designs: https://www.figma.com/file/jgsM2hWimZbPmtUJn7IGIB/Landing-Page?node-id=1941%3A61458

[2021-07-27 18:00] amedyne commented on #4992
latest designs: https://www.figma.com/file/jgsM2hWimZbPmtUJn7IGIB/Landing-Page?node-id=1941%3A61459

[2021-07-27 18:30] Nickoriginal opened #5022 "Firefox Focus crashes on `i` info icon opening"
## Steps to reproduce
1. Open any page in Firefox Focus.
2. Open three-dot menu.
3. Tap on the `i` info icon opposite the "Trackers blocked" menu.
### Expected behavior
Firefox Focus should open "Focus FAQ" page and not crash.
### Actual behavior
After several taps Focus crashes and sends crash report to Mozilla.

https://user-images.githubusercontent.com/85299944/127208077-1d94fe98-113c-4f9c-bb98

[2021-07-27 18:38] cadeyrn opened #5023 "(regression) keyboard keeps open if you close Firefox Focus"
### Steps to reproduce

1. open Firefox Focus
2. press the Android home button

### Expected behavior

Firefox Focus closes, you see your Android home screen and the keyboard is closed.

### Actual behavior

Firefox Focus closes, you see your Android home screen but the keyboard is still open. This is a regression in Firefox Focus 8.18.0. The issue is not present in Firefox Focus 8.17.1.

### Devi

[2021-07-27 18:52] Nickoriginal opened #5024 "Firefox Focus 8.18.0-rc.1 issues summary"
I want to collect **all** bugs appeared in Firefox Focus 8.18.0-rc.1 together for convenience.

Reporters: @sv-ohorvath, @lobontiumira
- [x] #4990 - verified as fixed
- [x] #5006 - duplicate of #4990

Reporter: @lobontiumira
- [x] #5011 - verified as fixed
- [x] #5012 - verified as fixed
- [x] #5013 - verified as fixed
- [x] #5014
- [x] #5017 - verified as fixed

Reporter: @sflorean
- [x] #5020 -

[2021-07-27 19:03] cadeyrn commented on #5011
The icon was removed as part of the refactoring in be56599d04385a506c24684db705dd9b80122a10. I don't know if it was removed on purpose, but Fenix no longer uses the icon either.

[2021-07-27 19:11] Nickoriginal commented on #5011
This icon was something like pointer, simplifying separation, viewing and analysis of "About Firefox Focus" internal info.

[2021-07-27 19:15] Nickoriginal commented on #5011
In Fenix GV version is listed in a separate line, but in Focus it is mixed with rest.

[2021-07-27 19:18] cadeyrn commented on #5011
I am aware of that. I mentioned what was done in Fenix because it raises the question of whether the desired solution is to reintroduce the icon or to format the information in a similar way to Fenix.

[2021-07-27 19:27] amedyne commented on #4944
Latest spec: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI

[2021-07-27 21:07] cadeyrn commented on #5023
@pocmo It's a regression from c20a52c95914e74cf5f46d1cec9428b896721cc2 - "Integrate browser-toolbar component"

[2021-07-27 22:29] mcomella opened #5026 "Add autosignReleaseWithDebugKey & debuggable local.properties override"
In fenix, the perf team heavily uses two local properties overrides:
- autosignReleaseWithDebugKey
- debuggable

We should port these from fenix to focus.

[2021-07-27 22:35] mcomella commented on #5021
These log statements do appear in the main branch so they must have been added via an ac upgrade sometime after v8.17.1. Sounds like there's nothing else to do here.

[2021-07-27 22:35] #5021 closed

[2021-07-27 22:48] mcomella opened #5028 "Strip debug and verbose logs with proguard"
In fenix, we removed debug https://github.com/mozilla-mobile/fenix/issues/14735 and verbose https://github.com/mozilla-mobile/fenix/issues/17451 logging with ac and proguard. iirc, the reason is that GeckoView logs things to `debug` that aren't intended to go into production and they may be less private or reduce the performance of the application.

aiui, the ac part is already done for focus: let

[2021-07-28 00:44] jonalmeida commented on #5009
Thanks!

[2021-07-28 00:44] #5009 closed

[2021-07-28 12:26] Nickoriginal commented on #4921
Bugzilla [1714582](https://bugzilla.mozilla.org/show_bug.cgi?id=1714582) was fixed, but I cannot confirm it as fixed for Focus in the latest build [8.18.0-rc.1](https://github.com/mozilla-mobile/focus-android/releases/tag/v8.18.0).

[2021-07-28 12:45] lobontiumira commented on #5004
Verified on the debug build 8.13.1 (1192.0a1-20210721092353) with Google Pixel (Android 10).

[2021-07-28 12:45] #5004 closed

[2021-07-28 13:20] cadeyrn commented on #4921
Bug 1714582 was fixed for Gecko 92, Focus 8.18 is based on Gecko 91.

[2021-07-28 19:31] mcomella commented on #5026
Dupe #4975.

[2021-07-28 19:31] #5026 closed

[2021-07-29 12:26] AndiAJ commented on #4935
Flaky 1x on Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7324779318053311505/executions/bs.d8c01005edecd36e/testcases/1)

[2021-07-29 22:12] mcomella opened #5030 "Attach profiler marker fact processor"
ac releases facts to the application that are intended to be added as profiler markers. We implement this [in fenix as the `ProfilerMarkerFactProcessor`: ](https://searchfox.org/mozilla-mobile/rev/0268dc3af225c8843ed5497ebe916abee0be3e51/fenix/app/src/main/java/org/mozilla/fenix/perf/ProfilerMarkerFactProcessor.kt#45).

We should either:
- Implement this fact processor in focus (in which case, the

[2021-07-29 23:07] mcomella opened #5031 "Understand why focus app updates are so small compared to fenix"
On the GPlay dashboard, the release version of Focus has very small app update downloads:
![image](https://user-images.githubusercontent.com/759372/127576149-f6a9d9a7-7a80-4939-86d0-f5faf0ea4cbf.png)

Compared to fenix:
![image](https://user-images.githubusercontent.com/759372/127576181-27ece230-d053-4c16-b911-c18b51d41397.png)

Focus updates are in the 1's of MB compared to 10's in fenix. We shou

[2021-07-29 23:08] mcomella commented on #5031
@jonalmeida @pocmo Do you have ideas why this might be? I'm particularly curious if you've changed anything with the recent updates that might change this.

[2021-07-30 01:30] jonalmeida commented on #5031
What data range is used to plot these graphs? I suspect that it may be based on the last release of Focus, which was a patch release instead of a GV upgrade.

Another consideration is that in Focus, we haven't yet (until 8.18) published a build that used app services' before, so maybe Google's magical (to me at least) tools can't diff and serve up a binary blob like that one?

[2021-07-30 13:35] mcarare commented on #5012
@amedyne This looks like something we want to fix before we ship #4931 because it affects the same functionality we agreed to implement for the ETP toggle.

[2021-07-30 15:31] #5011 closed

[2021-07-30 15:41] Amejia481 commented on #5012
I'm taking a look I'll keep the issue posted

[2021-07-30 15:44] mcarare commented on #5012
@Amejia481 I fixed this issue for the etp panel in this commit: https://github.com/mozilla-mobile/focus-android/pull/5019/commits/3f1cf8f820bd818b80eca5572f081360048fd1be.
It also fixes the list persistence between app runs.  Let me know if there is a better approach.

[2021-07-30 15:51] pocmo commented on #5012
@mcarare Can you move this to a separate PR, so that we can review it independently? :)

[2021-07-30 15:55] #4990 closed

[2021-07-30 15:58] pocmo commented on #5022
The menu doesn't close and then we try to invoke something on the context of the fragment that is gone:

[code]

[2021-07-30 17:49] Nickoriginal opened #5040 "ETP icon in Firefox Focus 8.18.0-rc.1 doesn't match Proton UI"
In the Firefox Focus 8.18.0-rc.1 an ETP icon was added into the address bar.

It has been used in Firefox 88 and below, doesn't match Proton UI design for Firefox.

ETP icon looks inconsistent compared with new updated secure lock icon, located nearby.

It should be replaced with current fresh ETP icon or entirely hidden (to match Firefox Focus 8.17.1 and below) because it doesn't contain any usef

[2021-07-30 23:09] gpoole commented on #4687
Had this problem happen again in 8.17.1 on Pixel 4a Android 11. Tapping trash icon did not clear cookies and I was getting recommendations on YouTube from previous sessions. Force stopping Firefox seemed to fix it.

[2021-07-31 15:07] Nickoriginal opened #5041 "Hide icons in the Focus "Settings" menu"
### Why
In the Firefox 89 icons in the "Settings" app menu were hidden to simplify the settings view. Firefox Focus doesn't match this behaviour. Bringing additional fenix-parity by hiding these icons will improve user experience on both browsers.
### Requirements
Hide in-app icons near parameters in "Settings" menu.
<img src = https://user-images.githubusercontent.com/85299944/127744081-aa8f717f-

[2021-08-02 11:53] mcarare opened #5042 "Show total trackers blocked from install"
This is a breakout from https://github.com/mozilla-mobile/focus-android/issues/4931 for better tracking and a separate review of the PR.

[2021-08-02 11:53] mcarare commented on #4931
Showing the total number of trackers will be tracked in https://github.com/mozilla-mobile/focus-android/issues/5042.

[2021-08-02 13:32] #5013 closed

[2021-08-02 14:02] pocmo commented on #5040
This is kind of expected from the integration of the `browser-toolbar` component from A-C, by default it shows a TP and security icon. We could hide the TP icon, but showing the state of TP (on/off) may make sense for now: The old UI showed an overlay over the menu button, that we are not able to support with the component.

This is not the new UI yet - merely an intermittent state in 91/92, until

[2021-08-02 16:29] mcarare commented on #5023
@cadeyrn Can you still reproduce this on main? Thank you!

[2021-08-02 21:03] cadeyrn commented on #5023
@mcarare Yes, it's still an issue with the latest code from the main branch. But applying PR #5038 fixes the issue.

[2021-08-03 08:51] #5017 closed

[2021-08-03 10:48] sv-ohorvath opened #5052 "Create a smoke tests suite/class"
Have a test class / annotate tests that are set as Smoke & Sanity type in the Full functional suite in [TestRail](https://testrail.stage.mozaws.net/index.php?/suites/view/1028&group_by=cases:section_id&group_order=asc&group_id=51560).

Then we can run the tests locally on release builds.

[2021-08-03 10:54] sv-ohorvath commented on #5052
The solution I've found is to create a custom annotation class ([source:]( https://evanfang.medium.com/run-specific-android-espresso-tests-by-creating-custom-annotations-using-kotlin-and-command-line-6a90e8728e3b)) and annotate the tests I want to include.
Then we can run locally the smoke tests only, using this terminal command:

For release: `gradlew app:connectedAndroidTest -PtestBuildType=rele

[2021-08-03 12:34] sv-ohorvath opened #5054 "Failing UI tests takeScreenshotOfTips & testBlankSearchDoesNothing"
### Firebase Test Run:
takeScreenshotOfTips
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5769261116477777454/executions/bs.e2d753de658fdd53/testcases/1
`androidx.test.espresso.PerformException: Error performing 'single click' on view 'with id: org.mozilla.focus.debug:id/mozac_browser_toolbar_url_view'.`

testBlankSearchDo

[2021-08-03 14:05] amedyne opened #5056 "FADPV2-2804: Capture Telemetry for Focus "Shortcuts" / Quick Access Sites"
https://mozilla-hub.atlassian.net/browse/FADPV2-2804

**Description**

As a Product Manager, I want to see how effective the new feature of Top Sites is on Focus so that I know if it is useful for our users.

**Acceptance Criteria**

    Collect telemetry data for the following:

        Do users add shortcuts to their home page? What’s the percentage of users that are adding shortcuts?

        H

[2021-08-03 14:07] amedyne opened #5057 "FADPV2-2805: Capture Telemetry for Shield Icon - Tracking Protection"
https://mozilla-hub.atlassian.net/browse/FADPV2-2805

**Description**

As a Product Manager, I want to see if adding the Shield Icon to the Search bar entices users to modify their tracking protection more frequently.

**Acceptance Criteria**

Telemetry to Be Collected:

    How often are users clicking the Shield Icon (Tracking Protection) in the Search Bar / Awesome Bar?

    Are users managing

[2021-08-03 14:08] amedyne opened #5058 "FADPV2-2806: Capture Telemetry for "What's New""
https://mozilla-hub.atlassian.net/browse/FADPV2-2806

**Description**

As a Product Manager, I want to understand if the repositioning of What’s New from the three dot menu to Settings causes users to click on it more or less frequently

**Acceptance Criteria**

Capture Telemetry for:

    How many users click What’s New from the Settings menu bar?

[2021-08-03 14:09] amedyne opened #5059 "FADPV2-2807: Capture Telemetry for Adding Link to Autocomplete via Settings"
https://mozilla-hub.atlassian.net/browse/FADPV2-2807

**Description**

As a Product Manager, I want to see if users are still adding a link to autocomplete via settings since this functionality is no longer available when you click the URL in the search bar.

**Acceptance Criteria**

Collect Telemetry for:

    The amount of users who add a custom URL under manage sites in Settings

[2021-08-03 14:16] AaronMT commented on #5052
Flank supports annotations too (doc @ https://flank.github.io/flank/ )

### Test Targets
  ## A list of one or more test target filters to apply (default: run all test targets).
  ## Each target filter must be fully qualified with the package name, class name, or test annotation desired.
  ## Supported test filters by am instrument -e … include:
  ## class, notClass, size, annotation, notAnnotatio

[2021-08-03 16:04] #5022 closed

[2021-08-04 06:38] sv-ohorvath commented on #5052
Great! We could make an annotation for release tests (we don't want all the smoke tests to run on beta/release builds in CI).

[2021-08-04 06:50] #5054 closed

[2021-08-04 12:06] pocmo commented on #5012
Opened PR #5061 to update A-C, which should come with a fix for this.

[2021-08-04 13:59] mcarare commented on #5042
Closed in https://github.com/mozilla-mobile/focus-android/pull/5049.

[2021-08-04 14:32] lobontiumira commented on #4923
Verified on the 93.0 (build 11 GV 92.0a1-20210730093652) with Google Pixel (Android 10):

![noodle](https://user-images.githubusercontent.com/40694158/128199246-43e24775-c54b-4473-b3c4-ccf4adaa5b63.png)

[2021-08-04 14:32] #4923 closed

[2021-08-04 20:47] MarcLeclair commented on #5031
Triage: We'll wait for the next GV release to see if the app size difference is still there.

[2021-08-04 21:45] mcomella commented on #5030
To keep this simple, let's just copy the `ProfilerMarkerFactProcessor` and its test from fenix into focus. See this PR for how to do it https://github.com/mozilla-mobile/fenix/pull/17841/files.

After we land and merge this PR, if you're still interested in working on this, we can deduplicate this code by moving it into [our android-components library](https://github.com/mozilla-mobile/android-com

[2021-08-05 07:01] #5052 closed

[2021-08-05 12:15] AndiAJ commented on #4967
Hi, **verified as fixed** on the latest Nightly build using a Google Pixel 3a (Android 11)

Metrics ping **30f5ad95-2a01-4d83-8efa-d2ce3b662320**

[code]

[Logcat](https://github.com/mozilla-mobile/focus-android/files/6938448/focusTLM.txt)

Used more or less the same STR from [#20229](https://github.com/mozilla-mobile/fenix/issues/20229#issuecomment-884943406) and the `"bing.in-content.sap.mozb"`

[2021-08-05 12:15] #4967 closed

[2021-08-05 20:35] mcomella commented on #4975
@Mugurell Can this be closed now that https://github.com/mozilla-mobile/focus-android/pull/4988 landed?

[2021-08-05 22:03] #4210 closed

[2021-08-06 06:24] lobontiumira commented on #5011
Verified as fixed on the 91.1.0 Firefox Focus build, with Google Pixel (Android 10).

[2021-08-06 06:25] lobontiumira commented on #4990
Verified as fixed on the 91.1.0 Firefox Focus build, with Google Pixel (Android 10).

[2021-08-06 06:27] lobontiumira commented on #5017
Verified as fixed on the 91.1.0 Firefox Focus build, with Google Pixel (Android 10).

[2021-08-06 06:27] lobontiumira commented on #5013
Verified as fixed on the 91.1.0 Firefox Focus build, with Google Pixel (Android 10).

[2021-08-06 06:33] lobontiumira commented on #5023
I was not able to reproduce this issue on the 91.1.0 Focus build using Google Pixel (Android 10), and OnePlus 5T (Android 10).

[2021-08-06 06:33] #5023 closed

[2021-08-06 06:36] lobontiumira commented on #5022
Verified as fixed on the 91.1.0 Focus build using Google Pixel (Android 10), and OnePlus 5T (Android 10).

[2021-08-06 07:00] lobontiumira commented on #4006
Reproducible on 91.1.0 Focus build with [these scenarios](https://github.com/mozilla-mobile/focus-android/issues/4006#issuecomment-876413917), using a Google Pixel (Android 10).

[2021-08-06 07:02] lobontiumira commented on #4831
Also reproducible on 91.1.0 Focus build with Google Pixel (Android 10).

[2021-08-06 07:06] lobontiumira commented on #4244
The 91.1.0 focus build indicates the user that a link was copied:
![copy link](https://user-images.githubusercontent.com/40694158/128470392-f395ef88-f41c-4d86-8943-7432d3443573.jpg)

Tested with Google Pixel (Android 10).

[2021-08-06 07:06] #4244 closed

[2021-08-06 07:14] lobontiumira commented on #5012
Verified as fixed on the 91.1.0 build with Google Pixel (Android 10), and OnePlus 5T (Android 10).

[2021-08-06 07:14] #5012 closed

[2021-08-06 07:20] lobontiumira commented on #5014
This issue still reproduces on 91.1.0 build with Google Pixel (Android 10).

[2021-08-06 07:23] Mugurell commented on #4975
Just opened a new PR to correct autlinking for the new section in README - https://github.com/mozilla-mobile/focus-android/pull/5066

If @sv-ohorvath also confirms these changes work this can probably be closed.

[2021-08-06 09:17] lobontiumira commented on #4742
I was able to reproduce this issue on the 91.1.0 build, with Google Pixel (Android 10).

[2021-08-06 14:40] pocmo commented on #5020
I just ended up in this state once while testing something else. Clicking on the "erase" icon, causes the same: A reload of the current page. 🤔 I wonder if this somehow is caused by our navigation state and the fragments getting out of sync...

[2021-08-06 14:51] pocmo commented on #5020
Okay, can reproduce this reliably now. Will investigate it now.

[2021-08-07 04:21] stevenleeS0ht opened #5068 "Stealth (fingerprint enable) mode issue, switch back to Focus, there is 0.2s appearing of the web-page view."
## Steps to reproduce

Just as what it is described in fingerprint setting entry, when switching back to Focus via "Recent Apps", the web-page will appear for about 0.2s and then the fingerprint prompt will occupy the screen.

However, for extremely confidential content, such period of time can make user leak privacy information.

### Expected behavior

After leave Focus (When fingerprint stealth

[2021-08-07 04:22] stevenleeS0ht commented on #5068
Due to the stealth mode feature, screenshot or screen recording are unable to be captured.

[2021-08-07 04:23] stevenleeS0ht commented on #5068
@pocmo and @ahunt , do you think this problem is due to Focus itself or Android OS?

[2021-08-08 05:03] #5020 closed

[2021-08-08 09:56] Moses4188 opened #5070 "Firefox Focus problems after last update (yesterday)"
After last update Firefox Focus:
*doesn't offer saved passwords for websites,
*on some websites it hides the adress bar and prevents to write into it,
*sometimes it just reloads the webpage when I want to fill another web's adress and it also makes the same thing when I press the delete browsing history button at the right bottom,
*on some webpages I can see advertisements which I haven't seen bef

[2021-08-08 13:18] stevenleeS0ht opened #5071 "small screen video full screen auto-rotation"
### Why/User Benefit/User Problem

Convenience, no need to manually set screen orientation. Especially for small screen device like smartphone, because the screen orientation in App launcher cannot change.

### What / Requirements

For small screen device, at the moment of click full-screen button of web video player, if the screen physical orientation is landscape, then the full screen display or

[2021-08-09 06:04] #4926 closed

[2021-08-09 08:01] AndiAJ commented on #4895
**• AssertionError**
Failed on 8/8 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.df05a2b44821b9ad/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/606612521371

[2021-08-09 08:03] AndiAJ opened #5073 "Intermittent UI test failure - <ThreeDotMainMenuTest.browserMenuItemsTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.b59c1849711b80a6/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/execution

[2021-08-09 08:05] AndiAJ opened #5074 "Intermittent UI test failure - <ShareWebsiteTest.shareTabTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.7b79cd9683a72a11/testcases/1/test-cases)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/606612521371882633

[2021-08-09 08:08] AndiAJ commented on #4935
**• AssertionFailedWithCauseError**

Failed on 8/8 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.2e692398f9b9a188/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matri

[2021-08-09 08:10] AndiAJ commented on #4920
**• UiObjectNotFoundException**

Failed on 8/8 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.493a5fd900a6f676/testcases/1/test-cases)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f

[2021-08-09 08:14] AndiAJ opened #5075 "Intermittent UI test failure - <MozillaSupportPagesTest.openYourRightsPageTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.4e24193445257f9d/testcases/1/logs)
### Stacktrace:
08-07 23:25:23.132: I/Remoter(1927): --------- beginning of crash
08-07 23:25:23.137: E/AndroidRuntime(7655): FATAL EXCEPTION: DefaultDispatcher-worke

[2021-08-09 08:19] AndiAJ opened #5076 "Intermittent UI test failure - <CustomTabTest.testCustomTabUI>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.69a99e7bd1ad43d4/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/exec

[2021-08-09 08:21] AndiAJ opened #5077 "Intermittent UI test failure - <CustomTabTest.openCustomTabInFocusTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.8e54a58648eea5f9/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/execution

[2021-08-09 08:24] AndiAJ opened #5078 "Intermittent UI test failure - AddToHomescreenTest.noNameShortcutTest, addPageToHomeScreenTest"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.a385287083b249b9/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/execution

[2021-08-09 08:26] AndiAJ opened #5079 "Intermittent UI test failure - <AddToHomescreenTest.addPageToHomeScreenTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.3b88fb7d2404fa12/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/execution

[2021-08-09 08:36] sv-ohorvath commented on #5070
@Moses4188 thank you for the report. Could you please open individual bugs for each issue with detailed steps to reproduce the problem?

[2021-08-09 08:48] sv-ohorvath opened #5080 "Search autocomplete broken when you have a page already open"
## Steps to reproduce
1. Go to a webpage (e.g. twitter.com)
2. Tap the URL bar, start typing another URL (e.g. google)
3. Check if the browser autocompletes the URL.
### Expected behavior
The suggested URL should be filled in.
### Actual behavior
Autocomplete doesn't work.
### Device information

* Android device: Pixel 2, Android 9
* Focus version: latest 93.0 debug build from `main`

[2021-08-09 08:53] AndiAJ commented on #4964
Flaky 1x `openYourRightsPageTest` on Main 8/8 [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.4e24193445257f9d/testcases/1/logs)

[2021-08-09 08:53] AndiAJ commented on #5075
Closing in favor of #4964

[2021-08-09 08:53] #5075 closed

[2021-08-09 08:55] sv-ohorvath opened #5081 "Buggy typing when replacing an URL"
## Steps to reproduce
1. Open a webpage.
2. Tap the URL bar and type one or 2 characters.
3. Observe the typed chars.
### Expected behavior
Can type in the search bar
### Actual behavior
The first chars are getting deleted.
### Device information

* Android device: Pixel 2, Android 9
* Focus version: latest 93.0 debug build from main

[2021-08-09 09:00] sv-ohorvath opened #5082 "Browser page content doesn't get refreshed with a new page"
## Steps to reproduce
1. Go to a website (e.g. Facebook)
2. Tap the URL bar and type in another URL (twitter.com). Press go
3. Observe the page content after loading.
### Expected behavior
The Twitter webpage should be displayed
### Actual behavior
Still showing the initial webpage (Facebook)
### Device information

* Android device: Pixel 2, Android 9
* Focus version: latest 93.0 debug build from

[2021-08-09 09:26] sv-ohorvath commented on #5076
cc @jonalmeida this started failing with [this commit](https://github.com/mozilla-mobile/focus-android/commit/7d086c0da10371aa012208ccca23c8c737ebed6b) and it's not clear to me what I need to fix it, could you please help?

[2021-08-09 09:28] sv-ohorvath commented on #4895
Logged issue for failure caused by real bug: https://github.com/mozilla-mobile/focus-android/issues/5082

[2021-08-09 09:30] sv-ohorvath commented on #4935
Logged issue for failure caused by real bug: https://github.com/mozilla-mobile/focus-android/issues/5082

[2021-08-09 09:59] AndiAJ commented on #5079
Similar root cause as #5078

[2021-08-09 09:59] #5079 closed

[2021-08-09 10:00] AndiAJ commented on #5078
Same issue with `addPageToHomeScreenTest`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6066125213718826339/executions/bs.3b88fb7d2404fa12/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/606612521

[2021-08-09 11:15] sv-ohorvath commented on #5070
I started logging some of the issues I've encountered so far:

[2021-08-09 12:09] ionutbedregeanu commented on #4936
After [4530 implementation](https://github.com/mozilla-mobile/focus-android/issues/4530) toolbar search looks like in [figma](https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=742%3A1)
Except saved items list which it will be implemented in another ticket
At this moment I think we can close this ticket.
Other thoughts?

[2021-08-09 13:10] amedyne commented on #4936
Thanks for the update @ionutbedregeanu closing this as complete.

[2021-08-09 13:38] sv-ohorvath opened #5084 ""Open in Focus" and "Report site issue" missing from custom tab menu"
## Steps to reproduce
1. Set Focus as the default browser
2. Open a custom tab (from Gmail, for example)
3. Open the menu and check the Open in Focus option
### Expected behavior
Not sure if it was intentional to hide the option (not specified in the designs)
### Actual behavior
The "Open in Focus" option is missing, but there is an "Open in..." option as in the browser.
### Device information

*

[2021-08-09 13:39] sv-ohorvath commented on #5077
Logged issue for the missing menu item: https://github.com/mozilla-mobile/focus-android/issues/5084

[2021-08-09 14:54] amedyne commented on #5059
Marking as closed since we already track this event. See comment:  https://mozilla-hub.atlassian.net/browse/FADPV2-2807?focusedCommentId=448545

[2021-08-09 14:54] #5059 closed

[2021-08-09 15:49] #4929 closed

[2021-08-09 16:12] #4920 closed

[2021-08-09 16:12] #5073 closed

[2021-08-09 16:12] #5074 closed

[2021-08-09 16:12] #5078 closed

[2021-08-09 18:53] AaronMT opened #5086 "connectedFocusDebugAndroidTest - No tests found"
`./gradlew connected[flavor]DebugAndroidTest` yields `No Tests Found`

Example:

[code]

No tests found. This usually means that your test classes are not in the form that your test runner expects (e.g. don't inherit from TestCase or lack @Test annotations).

It's possible this started happening with https://github.com/mozilla-mobile/focus-android/commit/4832f93fbc0b28ffb134ec9474d3d4b8393a03ed an

[2021-08-09 18:58] AaronMT commented on #5086
There's also https://github.com/android/android-test/issues/986 (@pocmo) (re: https://github.com/mozilla-mobile/focus-android/commit/6caa9468a4906675378a4bef9f9ad12bbb7c6bca)

[2021-08-09 23:53] jonalmeida commented on #5084
I wonder if that was just an oversight.

[2021-08-10 05:47] brampitoyo commented on #5084
@mcarare Sorry. @jonalmeida was right. This was an oversight.

Here’s what our Custom Tabs main menu look like:

<img width="360" alt="Android - Browser - Main Application Menu on Custom Tab@2x" src="https://user-images.githubusercontent.com/51007/128814396-6c9d368d-ef7a-4c39-9aa2-c5fe41887e49.png">

Source: https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2133%3A282824

Note t

[2021-08-10 10:49] mcarare opened #5091 "Add Metropolis and Inter fonts."
https://github.com/rsms/inter/

@brampitoyo I see. https://github.com/chrismsimpson/Metropolis is no longer available. Should we use the files from Fenix?

Also, thoughts about this: https://github.com/mozilla-mobile/fenix/issues/8089#issuecomment-893667598?

[2021-08-10 12:47] sv-ohorvath commented on #4975
Yes, they work fine, thank you.

[2021-08-10 12:47] #4975 closed

[2021-08-10 13:25] sflorean commented on #5020
Tested with Huawei P40 Lite (Android 11) and made some exploratory testing, on Focus 91.1.1 and I didn't see the issue again.

[2021-08-10 14:44] #4904 closed

[2021-08-10 16:56] AaronMT commented on #5086
Maybe Orchestrator needs updating too? `androidTestUtil 'androidx.test:orchestrator:1.4.0` (https://stackoverflow.com/questions/62395286/no-tests-found-when-using-androidx-test-orchestrator)
Although that yields
[code]

[2021-08-10 23:53] brampitoyo commented on #5091
@mcarare The designer of Metropolis had decided to take the repo private, so we have to rely on fonts used by Fenix.

As for Inter, Fenix wasn’t able to include this font in product. I think there were some language issues?

So, for Focus, I wonder whether we should just use the default system font. This would be Roboto, or whatever system default font the phone manufacturer specifies (Samsung use

[2021-08-11 06:46] mcarare commented on #5091
@brampitoyo I agree. So we should add just Metropolis where designs use it or keep only default system fonts altogether for now in Focus?

[2021-08-11 07:16] #5030 closed

[2021-08-11 07:51] sv-ohorvath opened #5093 "Update tests with the removal of "What's new" from the main menu"
### Firebase Test Run:
ThreeDotMainMenuTest.homeScreenMenuItemsTest
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7258980800174739916/executions/bs.e846d183321a3f06/testcases/1

openMenuWhatsNewPageTest
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices

[2021-08-11 07:53] sv-ohorvath opened #5094 "UI test failure - EnglishSystemLocaleTest"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7258980800174739916/executions/bs.30ee6fa930117ed5/testcases/1### Stacktrace:
`org.junit.ComparisonFailure: expected:<[]> but was:<[Paramètres]>`
-- looks like the string resource in the test is missing
### Build:
Debug 8/10

[2021-08-11 09:27] mcarare commented on #5080
This should also be fixed by https://github.com/mozilla-mobile/focus-android/pull/5085.

[2021-08-11 09:38] mcarare commented on #5056
waiting on #5001, #5002, #5003.

[2021-08-11 13:02] ionutbedregeanu opened #5098 "Implement updates and changes for Context Menu screens"
### Why/User Benefit/User Problem
New [Figma design](https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2133%3A282824) is available for context menus

### What / Requirements
Update long press image/link context menus according to figma design

### Acceptance Criteria (how do I know when I’m done?)

[2021-08-11 13:31] ionutbedregeanu commented on #4937
#### In order to not create a too large pr with mixed changes I created a [new ticket](https://github.com/mozilla-mobile/focus-android/issues/5098) for context menus updates

[2021-08-11 14:03] sv-ohorvath commented on #5086
It is weird, but, Andi and I ran the tests with the gradle terminal command on debug and release and it worked fine on our Pixels, both on API 28 and 30.
Andi had some similar issues initially on his Android 11 device, but yesterday it worked well with the latest changes.

[2021-08-11 14:37] AndiAJ commented on #5086
Hi @AaronMT , indeed I couldn't run the test on a Google Pixel 3a (Android 11) a week or so.

Not sure if I bumped into the same error, but [this trick proved to be helpful](https://github.com/android/android-test/issues/743#issuecomment-712306451)

Yesterday I've managed to run all the Smoke tests without making the above mentioned change.

Just ran your cmd `gradlew connectedFocusDebugAndroidTes

[2021-08-11 15:05] AaronMT commented on #5086
I'm concerned because the workflow https://github.com/mozilla-mobile/focus-android/runs/3282458545?check_suite_focus=true (last ran here before I disabled it) ran into this and then I did, so it's two different environments reproducing the issue.

[2021-08-11 15:55] mcomella opened #5100 "Bug 1725194"
https://bugzilla.mozilla.org/show_bug.cgi?id=1725194

[2021-08-11 16:17] pocmo commented on #5086
Reading through all the device logs I found this:

                            ,nativeLibraryDirectories=[/system/lib, /system/lib]]

And finally ended up with this state that seems to run tests:
https://github.com/mozilla-mobile/focus-android/commit/92e0d853a14b19412d524d729071cc2979551708

There are more changes in this commit. The important one seems to be the addition of the orchestrator depen

[2021-08-11 16:33] zznidar opened #5101 "Cannot follow a link by pressing it if its target is not _self"
## Steps to reproduce
1. Open https://ismyinternetworking.com/
2. Touch any of the links after the first paragraph (e. g. "Is it Down or Just Me?")

### Expected behavior
The browser follows that link and opens a new website.

### Actual behavior
The text changes colour, but nothing more happens. Browser stays on the same website.

It is possible to hold on the link and open it in a new tab, but i

[2021-08-11 18:10] AaronMT commented on #5086
Was looking at Fenix differences, there's missing an explicit declaring of the dependency
(e.,g https://github.com/mozilla-mobile/fenix/blob/main/app/build.gradle#L560) (and https://github.com/mozilla-mobile/fenix/blob/main/buildSrc/src/main/java/Dependencies.kt#L222)

(https://github.com/android/android-test/issues/220)

[2021-08-11 23:23] mcomella opened #5102 "`MainDispatcherLoader.<clinit>` unexpectedly takes 209ms to run on COLD MAIN start up"
I took a profile of COLD MAIN start up on my Moto G5: https://share.firefox.dev/3iFn6LU

The main thing that appears unnecessarily slow is the `PromptMiddleware.<init>` call: let's investigate!

[2021-08-11 23:52] brampitoyo commented on #5091
@mcarare Since Fenix doesn’t look like they will change their font any time soon, I would prefer for Focus to use Metropolis where the spec calls for it (titles, headings, buttons), and use the default system font for the rest of the UI.

[2021-08-12 00:13] mcomella commented on #5102
We see a similar issue in fenix: https://share.firefox.dev/3CPxBEHIt It also does a long, `java.net.URL.openStream` thing as a child of `kotlinx.coroutines.internal.MainDispatcherLoader.<clinit>`. I tried upgrading to the latest stable versions of coroutines and kotlin that jetpack compose would let me do but still no fix.

[2021-08-12 00:24] mcomella commented on #5102
I looked into the `MainDispatcherLoader.<clinit>` part. Here's the source: https://github.com/Kotlin/kotlinx.coroutines/blob/8c98180f177bbe4b26f1ed9685a9280fea648b9c/kotlinx-coroutines-core/jvm/src/internal/MainDispatchers.kt#L26-L36

It seems like the coroutines library is calling a slow method, `ServiceLoader.load`, which is expected to be optimized by R8. However, if we don't have a recent enou

[2021-08-12 00:29] mcomella commented on #5102
It looks like we have [the latest version of the Android Gradle Plugin, v7.0.0](https://developer.android.com/studio/releases/gradle-plugin#7-0-0) so it seems we can't modify the versions to fix this issue.

Looking at blame of the code I linked above, this coroutine code was written 2 years ago: that implies that maybe the later releases of AGP may have broken this optimization. They also allude

[2021-08-12 00:33] mcomella opened #5104 "Ensure we are stripping debug symbols in native libraries to minimize APK size"
When compiling nightly locally with `./gradlew installFocusNightly`, I see:

Unable to strip the following libraries, packaging them as they are: libfreebl3.so, libglean_ffi.so, libjnidispatch.so, liblgpllibs.so, libmozavcodec.so, libmozavutil.so, libmozglue.so, libnss3.so, libnssckbi.so, libplugin-container.so, libsoftokn3.so, libxul.so.

I wonder if we're shipping native debug symbols and if tha

[2021-08-12 00:37] mcomella commented on #5102
I downgraded AGP to 4.2.0 (and removed compose during a previous debugging attempt) and no longer see the issue: https://share.firefox.dev/3fVvG7H Let's:
- can we just downgrade to AGP 4.2.0 without removing compose and still get the fix?
- does this also fix fenix?
- file an upstream bug against R8
- perhaps document this more broadly (moz perf blog?) so the android community can workaround this

[2021-08-12 01:35] brampitoyo opened #5105 "Search box moves around when highlighted, causing delay to keyboard up"
## Steps to reproduce
- The app opens with keyboard up by default
- Minimise the keyboard
- Select the search box again

Alternatively, put the phone to sleep, then wake it up again to automatically select the search box

### Expected behavior
- The text and cursor doesn’t move
- The keyboard is instantly up
- Transition is smooth and instantaneous

![screen-20210812-133259](https://user-images.gi

[2021-08-12 01:41] brampitoyo opened #5106 "On New Tab Page with the keyboard up, tapping the menu brings the keyboard down and back up"
## Steps to reproduce
- The app opens with keyboard up by default
- Tap the ⋮ Main Application menu symbol

### Expected behavior
The menu opens up without the keyboard undergoing any state transition.

### Actual behavior
The keyboard hides itself down, and then re-shows itself back up, alongside the menu opening up.

![screen-20210812-133701](https://user-images.githubusercontent.com/51007/12912

[2021-08-12 01:52] brampitoyo opened #5107 "Match Settings visual style to spec"
## Steps to reproduce
- Go to Settings

### Expected behavior

- Top app bar
    - [ ] Uses new iconset for Back
    - [ ] Background colour matches page content and URL bar (for both, use `Ink 60` `#271948`)
    - [ ] Heading font family: Metropolis
- Page content
    - [x] Does not have icons
    - [x] Captions use a different colour value from body texts
    - [x] No horizontal line divider

[2021-08-12 02:31] brampitoyo opened #5108 "Update search suggestions strings and typography"
## Steps to reproduce
- Start typing in the search box
- Observe “Search suggestions” box show up

### Expected behavior
- Header
    - Font family: Metropolis
    - Text: Show search suggestions?
- Body text: To get suggestions, Firefox Focus needs to send what you type in the address bar to the search engine.
<img width="360" alt="Android - No Shortcuts - Keyboard Up@2x" src="https://user-images

[2021-08-12 02:37] brampitoyo opened #5109 "Update address bar search results typography"
## Steps to reproduce
- Type a search keyword in the search box. For example: ‘mozil‘
- Observe search results typography

### Expected behavior
- ‘mozil’ (the keyword itself) should not be bolded
- The rest of the search suggestions (for example: ‘a firefox’, ‘a thunderbird’, etc.) should be bolded
<img width="360" alt="Android - No Shortcuts - Keyboard Up@2x" src="https://user-images.githubuserc

[2021-08-12 02:43] brampitoyo opened #5110 "After adding a shortcut, it does not appear in the selected search box"
## Steps to reproduce
- Navigate to a webpage
- Add it as a shortcut (tap ⋮ Main Application Menu → Add to Shortcuts)
- Tap the search box again to select it again

### Expected behavior
- The shortcut tile that you’ve just added appears underneath the search box
- “Add to Autocomplete” does not appear
- Note that “Add to Autocomplete” should never appear, even if you have not added any site as a

[2021-08-12 02:50] brampitoyo opened #5111 "When the search box is selected in the middle of browsing, Main Application Menu should not be shown"
## Steps to reproduce
- Navigate to any website
- Tap the search box to select it
- Note that this is different from the initial state of the New Tab Page, where the search box is also selected but the Main Application Manu icon is shown

### Expected behavior
Main Application Menu icon should not be shown.
<img width="360" alt="Android - Browser - Search Zero Screen@2x" src="https://user-images.g

[2021-08-12 03:06] brampitoyo opened #5112 "After adding a shortcut, show a confirmation message"
## Steps to reproduce
- Navigate to a site
- Add it to shortcut

### Expected behavior

We currently don’t have this in the spec, but it would be great to have a snackbar that says:

Note that the example below comes from Firefox for Android, and the style of our snackbar should be different from theirs.

<img width="360" src="https://user-images.githubusercontent.com/51007/129132116-f95185f2-d7e2

[2021-08-12 03:20] brampitoyo opened #5113 "The Shortcuts context menu should be styled like Firefox for Android"
## Steps to reproduce
- Add a site to Shortcut
- Go back to the New Tab Page
- Long-press a Shortcut to open its context menu

### Expected behavior

We currently don’t have this in the MVP spec, but it would be great to have a menu layout that matches Firefox for Android in terms of height, typography and icon usage (no icon) – but with a text and background colour styles that matches our own men

[2021-08-12 03:23] brampitoyo opened #5114 "Add ability to rename Shortcuts"
## Steps to reproduce
- Add a site to Shortcut
- Go back to the New Tab Page
- Long-press a Shortcut to open its context menu

### Expected behavior

We currently don’t have this in the MVP spec, but it would be great to be able to rename Shortcuts. This is a feature that already exists in Firefox for Android, so we could take their implementation and apply our own visual style.

To access the Ren

[2021-08-12 04:34] mackncheesiest opened #5115 ""Custom Tabs" Don't Support Navigating Back"
Sometime over the last week or so (?), the back button has stopped navigating "back" for me specifically when I'm viewing sites from an embedded "Custom Tabs" view (i.e. [this feature](https://developer.chrome.com/docs/android/custom-tabs/overview/)). Instead, the Android back button (or gesture) closes the entire view and punts me back to whatever context I'd launched that browser pane from. Give

[2021-08-12 05:03] brampitoyo opened #5116 "On the search results interface, the top toolbar has a different background"
## Steps to reproduce
- Tap the address box to select it
- Enter a keyword

### Expected behavior
- The background of the top toolbar should be the same as the rest of the search results
- The search box has a different background colour from the rest of the toolbar
<img width="360" alt="Android - Browser - Search Zero Screen@2x" src="https://user-images.githubusercontent.com/51007/129140821-b3765

[2021-08-12 05:24] mackncheesiest commented on #5115
No evidence that this is actually the case (and digging into this just seems to be taking me into Gecko View 😰), but maybe it could be related to this merge?

https://github.com/mozilla-mobile/focus-android/commit/f4c4f90e838beeff43c2ebd302fdb6f8c93b2a78

There are some updates to `onBackPressed` handlers and such in that PR (although those seem to be handling presses for a button in the overflow

[2021-08-12 11:37] #5093 closed

[2021-08-12 11:37] #5094 closed

[2021-08-12 11:38] sv-ohorvath commented on #4908
This hasn't failed recently, so I'm closing it. If it fails again, we can reopen.

[2021-08-12 11:38] #4908 closed

[2021-08-12 11:38] sv-ohorvath commented on #4889
This hasn't failed recently, so I'm closing it. If it fails again, we can reopen.

[2021-08-12 11:38] #4889 closed

[2021-08-12 11:47] sv-ohorvath commented on #4895
It looks like there's a fix on master and this hasn't failed in the last days. Closing the issue.

[2021-08-12 11:47] #4895 closed

[2021-08-12 11:50] sv-ohorvath commented on #4796
This belongs to https://github.com/mozilla-mobile/focus-android/issues/4964.
The crash in this issue seems to have stopped for now, I'll close this and we can reopen if it appears again.

[2021-08-12 11:50] #4796 closed

[2021-08-12 11:52] sv-ohorvath commented on #4666
This method won't be sued anymore, tests still using it are disabled for now. I'll close the issue.

[2021-08-12 11:52] #4666 closed

[2021-08-12 16:46] jonalmeida opened #5120 "Crash in [@ java.lang.IllegalThreadStateException: at org.mozilla.gecko.util.ThreadUtils.assertOnThread(ThreadUtils.java)]"
Crash report: https://crash-stats.mozilla.org/report/index/18886596-21e1-44b8-866c-0b6a50210810

Java stack trace:

[code]

[2021-08-12 16:51] eliserichards commented on #5120
Happening here @jonalmeida : https://github.com/mozilla-mobile/focus-android/blob/3483f844045a231e111165d1837ee853df53ddf7/app/src/main/java/org/mozilla/focus/components/EngineProvider.kt#L29

[2021-08-12 17:39] jonalmeida commented on #5120
The problem here is that we're initializing Glean as soon as possible in the [`Application#onCreate`](https://github.com/mozilla-mobile/focus-android/blob/releases_v91.0/app/src/main/java/org/mozilla/focus/FocusApplication.kt#L49) and our metrics collection, which [**switches over to an IO dispatcher**](https://github.com/mozilla-mobile/focus-android/blob/releases_v91.0/app/src/main/java/org/mozil

[2021-08-12 17:46] kbrosnan commented on #5120
* Sentry issue: [FOCUS-ANDROID-AM9](https://sentry.prod.mozaws.net/operations/focus-android/issues/12091689/?referrer=github_plugin)
* https://crash-stats.mozilla.org/signature/?product=Focus&signature=java.lang.IllegalThreadStateException%3A%20at%20org.mozilla.gecko.util.ThreadUtils.assertOnThread%28ThreadUtils.java%29

[2021-08-12 18:01] mcomella commented on #5102
I confirmed this is a regression from AGP v7.0.0 by creating a minimally reproducible test case: https://github.com/mcomella/AGP7Slowdown

I filed an upstream bug with the R8 team: https://issuetracker.google.com/issues/196302685

Since this affects fenix, I filed: https://github.com/mozilla-mobile/fenix/issues/20824

As for what we can do about this, we should probably just downgrade to AGP v4.2.

[2021-08-12 18:14] jonalmeida commented on #5120
Comparing what we do [in Fenix](https://github.com/mozilla-mobile/fenix/blob/main/app/src/main/java/org/mozilla/fenix/FenixApplication.kt#L174), I think we have an obvious solution which is to warm up the engine first (on the main thread) before initialize metrics.

[2021-08-12 18:26] mcomella commented on #5102
When I downgrade to AGP v4.2.0, I get the following error:
[code]

Which is weird because we explicitly declare kotlin 1.5.10 – I guess our dependencies are pulling in an older version that somehow gets upgraded with AGP v7.0.0. We could either:
- figure out the dependency graph to remove the version mismatch
- temporarily disable compose (which we're not using right now, afaik)
- suppress the com

[2021-08-12 19:23] mcomella commented on #5102
This regressed in 6caa9468a4906675378a4bef9f9ad12bbb7c6bca. As far as I can tell, this is not in the v91.1.1 release:
[code]

I do not see tags for beta releases so I'm not sure how those work for Focus. Presumably, we just need to fix this before the v92 release, which probably follows the same train as Fenix: that's in 24 days.

[2021-08-12 23:14] mcomella opened #5121 "Use default MainDispatcherLoader implementation after R8 bug is fixed"
In https://github.com/mozilla-mobile/focus-android/issues/5102, we switched to using the fast service loader because an R8 bug https://issuetracker.google.com/issues/196302685 meant we couldn't use the default optimization. However, it's fragile to use the fast service loader (via our method with proguard) because it relies on the coroutine source code not changing. Once the R8 bug is fixed, let's

[2021-08-12 23:19] mcomella commented on #5102
In my local benchmark, this improved start up by 97ms. I filed https://github.com/mozilla-mobile/focus-android/issues/5121 as a follow-up to remove the hack.

[2021-08-13 01:47] #5076 closed

[2021-08-13 08:19] #4823 closed

[2021-08-13 08:59] ionutbedregeanu opened #5126 "Update context menu builder and design"
### Why/User Benefit/User Problem
We are constrained to make some updates on context menu classes because with the current implementation Share link and Copy link candidates are added to image/video context menu and according to the [new design](https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2133%3A282824) we don't want that

Also as we can see in Figma, context menu dialog U

[2021-08-13 10:04] #5120 closed

[2021-08-13 10:37] SeburoSUMO opened #5128 "Update Focus notification icon"
## Steps to reproduce

Have a notification arrive in Fenix
Open webpage in Focus for Android

### Expected behavior

The two notification icons are the same.

### Actual behavior

The Fenix icon is the current branding, the Focus icon is the previous branding (see attached image, Focus on the left, Fenix on the right).

![Focus Fenix notifications](https://user-images.githubusercontent.com/3193911

[2021-08-13 12:50] AndiAJ opened #5130 "Intermittent UI test failure - <CustomTabTest.testCustomTabUI>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/9142254862940283030/executions/bs.875192e085ebe0b2/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/9142254862940283030/execution

[2021-08-13 13:08] AndiAJ commented on #5130
Total of 6 fails on 8/13 Main, all of them caused by
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Open in Firefox Focus"`

[2021-08-13 13:09] AndiAJ commented on #5077
Failed 7x on 8/13 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5421293156066582717/executions/bs.9b91b42d8a74235b/testcases/1)

In all cases:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Open in Firefox Focus"`

[2021-08-13 13:09] AndiAJ commented on #4935
Failed 4x on Main 8/13
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7475942207732633648/executions/bs.a9f62ac3b5fdd0f8/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7475942207732633648/execution

[2021-08-13 13:42] AndiAJ commented on #5082
Hi, **verified as fixed** on Focus 93.0 Debug build from main using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

►Video
![20210813-163559](https://user-images.githubusercontent.com/51314259/129366132-ee82f9a1-a222-4a12-9004-e049a6148d7b.gif)

[2021-08-13 13:42] #5082 closed

[2021-08-13 13:44] AndiAJ commented on #5081
Hi, **verified as fixed** on Focus 93.0 Debug build from main using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

►Video
![20210813-164125](https://user-images.githubusercontent.com/51314259/129366433-ca5006b5-95a1-414b-9223-867344ba7809.gif)

[2021-08-13 13:44] #5081 closed

[2021-08-13 13:48] AndiAJ commented on #5080
Hi, **verified as fixed** on Focus 93.0 Debug build from main using the following devices:
• Google Pixel 3a (Android 11)
• Huawei Mate 20 Lite (Android 10)
• OnePlus A3 (Android 6.0.1)

►Video
![20210813-164554](https://user-images.githubusercontent.com/51314259/129366937-5c5ebebf-d67f-485b-83fc-62b81019c1af.gif)

[2021-08-13 13:48] #5080 closed

[2021-08-13 14:21] mcomella commented on #5030
I filed https://github.com/mozilla-mobile/android-components/issues/10808 to migrate the code to ac.

[2021-08-13 14:24] AndiAJ commented on #4935
The tracking protections icon's id changed from `mozac_browser_toolbar_security_indicator` to `mozac_browser_toolbar_tracking_protection_indicator`

[2021-08-13 17:02] mcarare commented on #5107
@brampitoyo This issue should be revised after the changes landed in the main branch.

[2021-08-13 17:10] #5084 closed

[2021-08-13 17:23] mcarare commented on #5108
@brampitoyo does this mean the part with the search icon and typed text below the “Search suggestions” box should also be removed, or is it omitted from the designs? Thank you!

[2021-08-13 17:44] mcomella opened #5132 "Regression to animations during onboarding experience"
### STR
- With clear data, start the app
- Click "Skip"

### Expected
In v8.16.0, I observe two things:
1. The initial screen fades in
2. After clicking Skip (or finishing the carousel), the onboarding screen cross fades to the home screen

### Actual
In v91.1.0, I instead observe:
1. The initial screen appears in a single frame (i.e. no animation)
2. After clicking Skip, the onboarding content ap

[2021-08-13 17:57] mcomella opened #5133 "Add onboarding override for performance testing"
The onboarding screen shows up on first run and afaict, the only ways to clear it are to:
- Manually clear it by tapping the screen
- (speculative) With a rooted device, put the shared preferences file in the app directory before launching

These aren't great solutions for automated performance testing, in particular, for our page load tests. We should implement an override. Perhaps like fenix:
[c

[2021-08-13 21:37] mcomella commented on #5102
Actually, if our proguard code fails, it'll fall back on the r8 optimization anyway: it doesn't seem worth the churn to keep track of the upstream fix and remove it, especially for two products.

I wanted to verify that the perf of the fast service loader and the r8 optimization are comparable so I took benchmarks: the fast service loader made start up 45ms faster but I realized this isn't a fair

[2021-08-13 21:38] mcomella commented on #5121
Let's not do this: see https://github.com/mozilla-mobile/focus-android/issues/5102#issuecomment-898732834 for details.

[2021-08-13 21:38] #5121 closed

[2021-08-13 21:45] mcomella opened #5134 "Remove unnecessary kotlinx.coroutines proguard rules"
In 89cdb96cf305af041ca2ab3131376fdc4e4019df, we added the coroutines lib proguard rules directly to our project. [The docs suggest this config is now bundled with the library](https://github.com/kotlin/kotlinx.coroutines/#r8-and-proguard) so we don't need to add them ourselves:

[2021-08-14 02:59] #5134 closed

[2021-08-14 07:52] zznidar commented on #5101
This also affects buttons which are not links but open a new URL with, for example, JavaScript's `window.open()` function.
These links, however, cannot be opened by holding and opening them in a new tab, because they are not `<a href>` elements.

Demo/Repro steps:
1. Open https://zznidar.github.io/bugreports/Firefox%20Focus/Cannot%20follow%20links/
2. Tap on the paragraph text.

Expected result: e

[2021-08-14 08:05] zznidar commented on #5101
After further testing, it seems only links that should open in a new tab/window (e. g. where target != _self) cause problems. I have updated the [demo](https://zznidar.github.io/bugreports/Firefox%20Focus/Cannot%20follow%20links/) to illustrate that.

[2021-08-15 21:10] brampitoyo commented on #5108
@mcarare Sorry. That part was accidentally omitted. We should keep showing the verbatim search keyword underneath the “Search suggestions” box, as we already do today.

I will update the screenshot above to match (the Figma file was also updated). Thanks.

[2021-08-16 10:55] sanchi0204 commented on #5116
Can I work on this issue?

[2021-08-16 10:59] sanchi0204 commented on #4958
Can I work on this?

[2021-08-16 11:02] sanchi0204 commented on #5041
Can I work on this?

[2021-08-16 12:16] AndiAJ commented on #4935
Failed again on 8/13 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7427725193328934865/executions/bs.5225807f18ff73d9/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7427725193328934865/execut

[2021-08-16 12:17] AndiAJ commented on #5130
Failed again on 8/13 Main
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Open in Firefox Focus"`
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7427725193328934865/executions/bs.4034bbfc6ea10dcf/testcases/1)
[Firebase link](https://console.firebase.g

[2021-08-16 12:17] AndiAJ commented on #5077
Failed again on 8/13 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7427725193328934865/executions/bs.215175ee164937f5/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7427725193328934865/execut

[2021-08-16 12:37] pocmo commented on #4958
@sanchi0204 Yes, absolutely. Let me know if you need any help. :)

[2021-08-16 12:47] AndiAJ commented on #4935
Failed 1x on 8/14 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7694380479782453280/executions/bs.9afccb7abae57e4d/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7694380479782453280/execution

[2021-08-16 12:48] AndiAJ commented on #5130
Failed 1x on 8/14 Main
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Report site issue"`

[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7694380479782453280/executions/bs.8a48fa0142d2c7b5/testcases/1)
[Firebase link](https://console.firebase.google.

[2021-08-16 13:10] AndiAJ commented on #4935
Failed 1x on 8/16 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8337792199024522170/executions/bs.114c3b7ce3584e71/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8337792199024522170/execution

[2021-08-16 13:11] AndiAJ commented on #5130
Failed 1x on 8/16 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8337792199024522170/executions/bs.51234e9899842911/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8337792199024522170/execution

[2021-08-16 15:17] pocmo opened #5141 "Remove FeatureFlags.isMvp"
The `main` branch is the mvp branch now. We do not need this flag anymore.

[2021-08-16 15:23] ionutbedregeanu commented on #5126
I create a new ticket with the same specs but for AC

[2021-08-16 15:23] #5126 closed

[2021-08-16 15:35] AaronMT commented on #5086
I am able to successfully run instrumented tests on API 30 (Pixel 3). I am not sure what changed or if this is an API 28 issue.

[2021-08-16 16:49] #5141 closed

[2021-08-16 17:50] #4694 closed

[2021-08-16 19:35] cadeyrn commented on #5041
This was already done in #5090.

[2021-08-16 21:03] Nickoriginal commented on #5041
@cadeyrn, thanks, I hope it will be closed very soon!

[2021-08-17 00:07] evan0greenup opened #5149 "Repository Related, Some release assets don't include prebuild APKs."
## Steps to reproduce

Go to https://github.com/mozilla-mobile/focus-android/releases/tag/v91.1.2

### Expected behavior

Every release should include same list of assets (only different in version).

Since those APKs is built by firefox-ci-tc.services.mozilla.com

APKs should be automatically upload to Github release page whenever it finished.

### Actual behavior

sometimes, the APKs upload is d

[2021-08-17 05:48] keunes opened #5150 "Can no longer app intents (to initiate bank payment)"
## Steps to reproduce
Land via another app on a payment page, select your bank, and in your bank's page tap on the 'pay with app' button. The button has the link triodosmobilebanking://target=ideal…

### Expected behavior
Open the associated app

### Actual behavior
Nothing (except the notification bar changing colour slightly & briefly)

### Device information

* Android device: FP3, Android 10
*

[2021-08-17 05:49] keunes commented on #5150
Possibly related to #5101 &#5070

[2021-08-17 06:53] cadeyrn commented on #5041
@Nickoriginal AFAIK the new design is planned for Firefox Focus 93.

[2021-08-17 07:13] Nickoriginal commented on #4921
I hope there is no different between acceptance of fixes in GV engine for Fenix and Focus... In Firefox Beta and Nightly, where Gecko is updated to 92, this bug is still present.
@cadeyrn, I know, that it shouldn't be said here about Fenix, but it is strange. It doesn't match behaviour, described by you.

[2021-08-17 08:22] cadeyrn commented on #4921
Well, I didn't describe any behaviour nor I verified that it works in Firefox 92. I only answered to the part that bug 1714582 was fixed. 😉 Maybe something else has to be done on the product side.

[2021-08-17 10:57] ionutbedregeanu opened #5152 "Replace Focus icons with AC icons"
### Why/User Benefit/User Problem
Remove all icons from Focus which are available in AC
Import AC icons in order to restore the current design

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-08-17 10:58] ionutbedregeanu commented on #5152
Blocked by [10621](https://github.com/mozilla-mobile/android-components/issues/10621)

[2021-08-17 11:36] ionutbedregeanu commented on #4955
Resource link: https://drive.google.com/drive/folders/1-Kb3ejWKjw1GTmPEiDXGr_Mfuys1CDu4

[2021-08-17 13:15] ionutbedregeanu commented on #4924
Meanwhile almost all changes mentioned by @lobontiumira were made, except the logo update.
I will make  a new pr for that

[2021-08-17 13:32] sv-ohorvath opened #5155 "Intermittent UI test failure - SettingsTest.verifyPrivacySettingsMenuTest"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/4648608802876904486/executions/bs.ceaf7a7f4634497f/testcases/1### Stacktrace:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Block Web fonts"
`
### Build:
Debug 8/17

[2021-08-17 14:05] sv-ohorvath commented on #5130
Waiting for https://github.com/mozilla-mobile/android-components/issues/10791

[2021-08-17 14:53] mcarare commented on #5105
This would need AC work for the hint position fix, because `mozac_browser_toolbar_origin_view` and `mozac_browser_toolbar_edit_url_view` have different start margins

[2021-08-17 16:27] mcomella commented on #5102
Here's my PR in which I also requested a backport to v92: https://github.com/mozilla-mobile/focus-android/pull/5122

[2021-08-17 20:49] mcomella commented on #5102
Backport PR: https://github.com/mozilla-mobile/focus-android/pull/5158 The original PR is closed.

[2021-08-18 08:31] jtnord opened #5161 "What's New link takes you to an unmaintained page"
## Steps to reproduce

In the menu select what's new

### Expected behavior

You are told what's new in each release

### Actual behavior

You are told the page has not been maintained since 2018

The link takes you to what ends up after a redirect to https://support.mozilla.org/en-US/kb/whats-new-firefox-focus-android-version-8?as=u&utm_source=inproduct

Release date: December 20, 2018
Here are t

[2021-08-18 09:00] ionutbedregeanu commented on #5098
Please read before testing: https://github.com/mozilla-mobile/android-components/issues/10822#issuecomment-900819370

[2021-08-18 10:19] rpappalax commented on #5014
@lobontiumira Mira, I've moved the page into the mozilla-mobile github org and fixed this error.  If you run into further issues with the page, just post an issue directly against the test page repo:
https://mozilla-mobile.github.io/testapp/
https://github.com/mozilla-mobile/testapp

[2021-08-18 10:19] #5014 closed

[2021-08-18 10:26] rpappalax commented on #4742
@lobontiumira FYI I've moved the test page into the mozilla-mobile github org.
https://mozilla-mobile.github.io/testapp/
https://github.com/mozilla-mobile/testapp

It won't fix this particular issue (as the issue seems to be with the application), but I have made some updates to the test page and put it in the mozilla-mobile org so please use that one from now on.  thanks!

see also: https://githu

[2021-08-18 12:29] mcarare commented on #5091
Closed in https://github.com/mozilla-mobile/focus-android/pull/5127.

[2021-08-18 12:29] #5091 closed

[2021-08-18 15:12] amedyne commented on #5101
@zznidar thank you for providing more details into this. This will really help with us providing a fix.

[2021-08-18 15:16] jonalmeida opened #5166 "Correct default tracking protection blocking resources"
Our categories for Tracking Protection had changed with the new [AC Engine](https://github.com/mozilla-mobile/android-components/blob/2fb230cc7c11afa942171245060ce3ee275acb21/components/browser/engine-gecko/src/main/java/mozilla/components/browser/engine/gecko/GeckoEngineSession.kt#L269) integration, and we need to update our default settings accordingly.

### Steps to reproduce
1. Have Focus 8.17

[2021-08-18 15:29] mcomella commented on #5102
Both main branch and releases branch is updated: closing as fixed.

[2021-08-18 15:29] #5102 closed

[2021-08-18 16:53] #5001 closed

[2021-08-18 17:11] gabrielluong commented on #5002
Fixed in #5001

[2021-08-18 17:11] #5002 closed

[2021-08-18 17:11] gabrielluong commented on #5003
Fixed #5001

[2021-08-18 17:11] #5003 closed

[2021-08-18 19:48] jonalmeida commented on #5161
Thanks, we've removed the link for now until we have a new link from our SUMO team.

[2021-08-18 19:51] jonalmeida opened #5172 "Re-introduce Whats New for new releases"
For 93+, we have a new SUMO link to follow:
`https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/kb/whats-new-firefox-focus-android-version-93`

We should re-introduce that option that [was removed](https://github.com/mozilla-mobile/focus-android/issues/5161) for future releases, however "What's new" has **moved to Settings** based on [new designs](https://www.figma.com/file/2V6wgf9fRFdYf

[2021-08-18 22:39] jonalmeida opened #5173 "Web content with nested scrolling in Focus hides the toolbar permanently"
### Steps to reproduce
1. Visit a site with nested scrolling elements like maps.google.com or reddit.com when it has it's (terrible) app banner.
2. Try to scroll vertically.

### Expected results
- The toolbar shows and hides or is permanently visible when scrolling vertically.

### Actual results
- The scroll bar is hidden entirely and the toolbar cannot be accessed until the page is removed.

In

[2021-08-19 02:11] #4742 closed

[2021-08-19 08:33] E0697 opened #5177 "Option to always show toolbar"
### Why/User Benefit/User Problem
Consider adding an option to always show the toolbar, similar to the one in Firefox "scroll to hide toolbar"
### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2021-08-19 08:54] LaurentiuApahideanSV commented on #5101
I tested the issue on Focus 91.2.2 and the issues no longer occurs.

### Devices used:
- OnePlus 6T (Android 9)
- Lenovo tab M10 (Android 10)

[2021-08-19 08:59] lobontiumira commented on #5108
Verified as fixed on the 91.2.2 build 352310216 - GV 91.0.1-20210816143654 with Lenovo Tab M10 (Android 10):

![focus](https://user-images.githubusercontent.com/40694158/130040267-df30c080-377e-46d1-b796-98be719a0c65.jpg)

[2021-08-19 08:59] #5108 closed

[2021-08-19 09:02] #5101 closed

[2021-08-19 09:09] sv-ohorvath commented on #5086
@AaronMT the problem seems to be back with API 30 too, the CI is failing on all PRs: https://github.com/mozilla-mobile/focus-android/pull/5176/checks?check_run_id=3369309363

[2021-08-19 10:44] ionutbedregeanu commented on #4933
Focus toolbar seems up to date so I will close this ticket

[2021-08-19 10:44] #4933 closed

[2021-08-19 11:26] Mugurell commented on #5173
The current AppBarLayout based implementation has many issues stemming mainly from the fact that it does not differentiate on whether GV/the website handled the touch and it does not differentiate between zoom/panning gestures.
Fenix migrated to a more direct approach first with the bottom toolbar then with the top toolbar in https://github.com/mozilla-mobile/fenix/issues/10686.

Focus should prob

[2021-08-19 11:42] cadeyrn opened #5180 "Firefox Klar logo has wrong colors"
### Steps to reproduce

1. compile Focus from the main branch with Klar branding

### Expected behavior

The logo has the same colors as with the Focus branding.

### Actual behavior

Wrong colored Firefox logo. A purple foreground on purple background does, obviously, not work very well.

The Klar logo is also noticeable larger than the Focus logo which seems wrong to me.

![klar-logo](https://us

[2021-08-19 11:59] lobontiumira commented on #4388
I was able to reproduce this issue by following these STR:
1. Open a page with a lot of text.
2. From the three-dot menu, select the "Find in page" option.
3. Without enterring any characters, tap the up/down arrows from the "Find in page" search field.

Tested with Lenovo tab M10 (Android 10), on RC 91.2.2 build 352310216.

[2021-08-19 12:07] lobontiumira opened #5181 "[Bug] Error 0/0 displayed when tapping fast on "Find in page" toolbar's arrows"
## Steps to reproduce
1. Open a page with a lot of text.
2. From the three-dot menu, select the "Find in page" option.
3. Enter some characters, tap the up/down arrows from the "Find in page" search field fast.

### Expected behavior
The match order/number of matches is updated.

### Actual behavior
0/0 is displayed.

### Device information
* Android device: Lenovo Tab M10 (Android 10)
* Focus ver

[2021-08-19 12:09] sv-ohorvath commented on #5173
Hello, there was this issue too, a while ago: https://github.com/mozilla-mobile/focus-android/issues/4946

[2021-08-19 12:20] ionutbedregeanu commented on #4949
@brampitoyo Based on which criteria we should filter the list of tips which should be displayed?
If I already saw a tip it should be removed from carousel?
Their order should be random?

[2021-08-19 12:26] LaurentiuApahideanSV opened #5182 "The Add to Home screen confirmation prompt is blank for a website"
## Steps to reproduce
1. Go to https://senglehardt.com/test/trackingprotection/test_pages/;
2. Tap the 3 dot menu;
3. Select "Add to Home screen".
### Expected behavior
The "Add to Home screen" confirmation prompt should show the name of the website.
### Actual behavior
The "Add to Home screen" confirmation prompt is blank.
### Device information

* Android device: OnePlus 6T (Android 9), Lenovo T

[2021-08-19 12:36] sv-ohorvath opened #5183 "[Bug] Open in app dialog displayed repeatedly"
## Steps to reproduce
1. Go to 9gag.com or reddit.com
2. On the app promo banner, tap the continue in app button.
3. On the Focus redirect dialog tap Cancel.
### Expected behavior
A dialog is shown by Focus to continue redirecting to another app. Canceling it will dismiss it and return to the webpage.
### Actual behavior
Canceling the redirect will show the dialog again once or more times.
### Dev

[2021-08-19 13:32] lobontiumira commented on #4742
Verified as fixed on the 91.2.2 build with OnePlus 6T (Android 9), and Lenovo Tab (Android 10).

[2021-08-19 13:44] cadeyrn opened #5185 "Firefox Focus crashes when opening "About Firefox Focus" screen"
### Steps to reproduce

1. compile Focus from the main branch
2. open Settings > Mozilla > About Firefox Klar / Firefox Focus

### Expected behavior

"About Firefox Klar" screen opens, no crash.

### Actual behavior

Firefox Klar / Firefox Focus crashes:

[code]

The same steps does **not** trigger a crash with the Firefox Focus branding from the same revision.

**Update:** Since #5176 Firefox Foc

[2021-08-19 13:52] lobontiumira commented on #5166
Hi @jonalmeida
Following the steps, here are my findings:
* after step 5, the ad banner never shows;
* the "Block other consent trackers" is disabled by default on the 91.2.0 Focus build.

However, **on 91.2.2 Focus build**, this "Block other consent trackers" TP option is enabled by default, and the banner is displayed again.

<img src="https://user-images.githubusercontent.com/40694158/130079794

[2021-08-19 13:53] cadeyrn commented on #5185
This is a regression from #5153. There is no crash in the build before the logo change. /cc @ionutbedregeanu

[2021-08-19 14:03] LaurentiuApahideanSV commented on #4006
The issue is still reproducible on Focus 91.2.2 following these steps:
1. Open cnn.com;
2. Open several links in new tabs by long tapping on them;
3. Don't switch to the newly opened tab;
4. In the URL bar insert about:crashcontent, and select to close the tab;
5. One of the tabs opened at step 2 will become blank and unusable.

###Device used:
- OnePlus 6T (Android 9)

[2021-08-19 14:36] mcarare commented on #5185
`HtmlLoader.loadPngAsDataURI `  [here](https://github.com/mozilla-mobile/focus-android/blob/08363904aab9d5ecb069d84fde7b3f4b54d32fa5/app/src/main/java/org/mozilla/focus/browser/LocalizedContent.kt#L49) expects a PNG resource, and after the change, for Klar, it is a vector drawable.

[2021-08-19 14:45] pocmo commented on #5183
On reddit.com I see two dialogs, one for `reddit.app.link` and one for `intent://reddit`. Interestingly in Fenix, in private mode, I see only one dialog for `intent://reddit`. 🤔

[2021-08-19 14:54] pocmo commented on #5183
On 9gag I always only get one dialog.

[2021-08-19 15:21] sv-ohorvath commented on #5183
I got an infinite number

[2021-08-19 15:22] rvandermeulen commented on #5183
@sv-ohorvath Can you confirm that this is a new issue in 91.2.2 vs. 91.2.0 currently live @ 100% rollout?

[2021-08-19 15:27] jonalmeida commented on #5183
@rvandermeulen this has to be in 91.2.2 which is where we enabled app links.

[2021-08-19 15:32] jonalmeida commented on #5181
Seems to be timing related: if you tap the next button fast enough and the next find result requires the page to scroll down, we get a 0/0 result initially until you hit the next button again.

[2021-08-19 15:35] jonalmeida commented on #5182
We could use the (base) url for the immediate fix if needed.

If the URL is `https://www.mozilla.org/en-GB/` we then use `mozilla.org`.

[2021-08-19 15:36] amedyne commented on #5166
@Amejia481 FYI.

[2021-08-19 15:51] pocmo commented on #5181
I think this is a known issue with the underlying API:
https://github.com/mozilla-mobile/android-components/issues/4704

[2021-08-19 15:53] Amejia481 commented on #5166
@lobontiumira
I think the ad banner that @jonalmeida was referring was the top one (Maker in yellow).
![image](https://user-images.githubusercontent.com/773158/130101087-dd5ad908-ea7f-4503-bef8-f312e7343b9f.png)

[2021-08-19 15:56] Amejia481 commented on #5166
On your screenshot is not visible, the one in pink is just a popup dialog from the website adding the users to enable ads (as their are not showing).

![image](https://user-images.githubusercontent.com/773158/130101667-99e1e3a7-fe4c-41eb-b3dd-3243967f8212.png)

[2021-08-19 16:47] rocketsroger commented on #5183
I'll take a look.

[2021-08-19 17:13] fabiLpz commented on #5172
We are changing the stable link of the What's new article to remove the version so we don't have to update it manually for every release in the future:

https://support.mozilla.org/1/mobile/%VERSION%/%OS%/%LOCALE%/kb/whats-new-firefox-focus-android

[2021-08-19 22:21] AaronMT commented on #5086
Redisabled while this is investigated.

[2021-08-20 03:02] rvandermeulen commented on #5183
This should be fixed in the 91.3.0 release.

[2021-08-20 06:57] Mugurell commented on #5185
@pocmo Would this be a good opportunity to migrate this simple screen from a data url to a Composable?
(I see Focus doesn't yet have it's own `RequestInterceptor`. Maybe it's a good opportunity to add one also 😏)

[2021-08-20 07:02] Mugurell commented on #5185
Adding another png resource while we already have a svg seems wasteful.
Drawing the SVG in a Bitmap to then be serialized again seems wasteful.

[2021-08-20 07:44] pocmo commented on #5185
In general, yeah, I think so (Is only 93/main affected?). I would like those data-URLs to go away eventually. :)

[2021-08-20 07:45] pocmo commented on #5185
Although, be aware of UI tests. Mixing views and compose in a UI test is a bit weird.

[2021-08-20 09:39] sv-ohorvath commented on #5086
@AaronMT you were right. I added the missing dependencies https://github.com/mozilla-mobile/focus-android/pull/5187

[2021-08-20 12:18] lobontiumira commented on #5166
Thank you, Arturo!
I've retested on the Lenovo Tab M10 (Android 10), and after step2, and step 5, the ad banner never shows.
I'll close this issue as verified as fixed.

[2021-08-20 12:18] #5166 closed

[2021-08-20 12:39] LaurentiuApahideanSV opened #5190 "Incorrect behavior when opening links from skype"
## Steps to reproduce
1. Open a link from skype in Focus;
2. In focus open several other links;
3. Go to skype and open the same link again.
### Expected behavior
The link should be opened again in Focus.
### Actual behavior
Focus is opened at the last visited tab without opening the link from Skype.
### Device information
- OnePlus 6T (Android 9)
- Google Pixel 3 XL (Android 9)
* Focus version: 9

[2021-08-20 13:39] lobontiumira commented on #5183
We were not able to reproduce this on the 91.3.0 release build with Lenovo Tab M10 (Android 10), OnePlus 6T (Android 9), nor with Google Pixel 2 (Android 9).

[2021-08-20 13:39] #5183 closed

[2021-08-20 14:13] sv-ohorvath commented on #5185
Focus crashes too in the About page: see [UI test report here](https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7599832758250963621/executions/bs.3c076108a7a27ad)
`java.lang.IllegalStateException: Invalid png detected
       FATAL EXCEPTION: main
Process: org.mozilla.focus.debug, PID: 7576
java.lang.IllegalStateException: Inv

[2021-08-20 14:15] sv-ohorvath opened #5191 "UI test failure - MozillaSupportPagesTest#openAboutPageTest"
### Firebase Test Run:
**Test crashed:**
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/7599832758250963621/executions/bs.3c076108a7a27ad
### Stacktrace:
`java.lang.IllegalStateException: Invalid png detected
       FATAL EXCEPTION: main
Process: org.mozilla.focus.debug, PID: 7576
java.lang.IllegalStateException: Invalid pn

[2021-08-20 14:16] sv-ohorvath commented on #5191
Reported issue: https://github.com/mozilla-mobile/focus-android/issues/5185

[2021-08-20 14:27] cadeyrn commented on #5185
The Focus logo was replaced in #5176. I have updated the issue title accordingly to say Firefox Focus instead of Firefox Klar since Focus is the more common branding.

[2021-08-20 15:02] Amejia481 commented on #5166
Thanks @ lobontiumira  for double checking :)

[2021-08-21 05:32] Poopooracoocoo opened #5192 "add back "open in app" context menu item on links"

[2021-08-21 09:52] cadeyrn commented on #4320
@Bunnicula2 The toggle to disable SafeBrowsing was implemented in Firefox Focus / Klar 91.

[2021-08-21 10:39] cadeyrn opened #5193 "Firefox Focus 91 shows blue dot on menu icon for no reason"
### Steps to reproduce

1. update from Firefox Focus 8.17.1 to Firefox Focus 91.3.0
2. open Firefox Focus

### Expected behavior

The menu icon has no blue dot and there is no way to remove it.

### Actual behavior

There is a blue dot on the menu icon. I guess it's for the "What's new" page but the menu item was removed in Firefox Focus 91. And since the menu item is gone you can't click anything

[2021-08-21 19:18] hudak commented on #4639
Reproduced with Brave Browser and DuckDuckGo app

[2021-08-22 05:31] jigglysackles opened #5194 "Excessive "Open in app?..." prompts with UntrackMe installed"
## Steps to reproduce
Follow any link or search from browser address bar.

### Expected behavior
Search completes or link follows without prompting.

### Actual behavior
Persistently getting a prompt to "Open in app? Your activity may no longer be private." This happens regardless of an app being available for the site on link or search involved.

### Device information

* Android device: Nokia 8.

[2021-08-22 22:17] brampitoyo commented on #5182
@jonalmeida @mcarare I like the `Second-Level Domain` + `Top-Level Domain` default name suggestion.

The only issue is the fact that homescreen icons have limited character space. To solve this problem, I would recommend using only the SLD.

So, in the examples above, our string would be `senglehardt` and `mozilla`.

[2021-08-22 23:28] worg commented on #5194
A video with the behavior

https://user-images.githubusercontent.com/675355/130373372-1d92b17c-d457-467b-98fa-5bbbb8af05cc.mp4

Device: Xiaomi Mi A1 Android 9

[2021-08-22 23:35] worg opened #5195 "Custom Tabs context menu not working"
## Steps to reproduce
- Open a custom app tab with focus being the default browser
- long press on a link

### Expected behavior
- A popup appears to open the link in another app, share or copy the link

### Actual behavior
- no popup is shown
- #5183 and #5115 also apply

https://user-images.githubusercontent.com/675355/130373529-c58b2f47-c272-490f-bc24-b4da430827c5.mp4

### Device information

*

[2021-08-23 03:06] Ashwin-Raj18 opened #5196 "Google search is wierd"
Google search looks like a lite version.. No modern ui.. I have attached pics for comparision with other browser
![onFirefox](https://user-images.githubusercontent.com/63547678/130384548-a4df4933-7b62-4ecd-8d77-6c002433e5ab.jpg)
![OnOtherBrowser](https://user-images.githubusercontent.com/63547678/130384559-ee118bf4-fc38-48cb-92c4-36836ec65542.jpg)

[2021-08-23 13:24] amedyne commented on #5196
@Ashwin-Raj18 What browser did you use for the comparison here?

[2021-08-23 13:43] Ashwin-Raj18 commented on #5196
Google chrome

[2021-08-23 15:02] amedyne commented on #4949
Per discussion today:
@channingcarter provided a spreadsheet for the order on which tips to display.

[2021-08-23 15:33] kbrosnan commented on #5196
Firefox and Chrome get different versions of the search page.

[2021-08-23 15:33] #5196 closed

[2021-08-23 19:24] jonalmeida commented on #5193
Ah right, that's on me. We removed the What's New in a quick patch on 91 and I didn't do a great job of it from the looks of it.

[2021-08-23 21:19] amedyne commented on #5194
@Amejia481 Can you validate if this is expected?

[2021-08-24 05:26] lobontiumira opened #5197 "[crash] java.lang.IllegalStateException: Invalid png detected"
## Steps to reproduce
1. Build a debug build, and install it on your device.
2. Go to three-dot menu -Settings - Mozilla - About Firefox Focus.

### Expected behavior
The user can see the About Firefox Focus page.

### Actual behavior
[code]

### Device information
* Android device: Lenovo Tab M10 (Android 10), and Nexus 9 (Android 9) emulator
* Focus version: debug build from 8/24

[2021-08-24 06:15] ionutbedregeanu commented on #5086
Still reproducible: https://github.com/mozilla-mobile/focus-android/pull/5175/checks?check_run_id=3407798357

[2021-08-24 07:11] mcarare commented on #5197
Duplicate of https://github.com/mozilla-mobile/focus-android/issues/5197.

[2021-08-24 07:11] #5197 closed

[2021-08-24 07:30] ionutbedregeanu commented on #5152
Note for QA: To test this ticket you need to check if the browser menu have the same icons as in [Figma](https://www.figma.com/file/2V6wgf9fRFdYfLaf5c3oPj/Product-UI?node-id=2133%3A282824) for both scenarios(normal tab, custom tab)

[2021-08-24 08:17] #5130 closed

[2021-08-24 08:43] Leonov65 opened #5199 "Forces https on site where not supported"
## Steps to reproduce
Visit any page within Aus Govt Bureau of Meteorology website:
http://bom.gov.au/

### Expected behavior
Before installation of recent FF Focus updates all pages at this site would load normally.

### Actual behavior
FF-F hangs while attempting to reload pages at this site. Redirection notice is displayed. FF-F attempts to reload but repeatedly returns to redirection notice. D

[2021-08-24 09:33] mcarare commented on #5172
As of testing today, the link is still the same, using `whats-new-firefox-focus-android-version-93`.

[2021-08-24 11:52] lobontiumira commented on #4924
Verified on the latest debug build from main 8/24 with Lenovo Tab M10 (Android 10), and the TP icon has the new UI, as in Figma. Tapping on it, displays the tracking protection panel:

![TP icon](https://user-images.githubusercontent.com/40694158/130610750-47a2613e-1620-4081-a66a-377d82821227.png)

@amedyne in Settings -> Privacy & Security the section is "Tracking Protection", but in the tracking

[2021-08-24 12:07] LaurentiuApahideanSV commented on #4931
I tested the issue on the latest debug build from main 8/24. The only issue I encountered is that the "More Settings" option is missing from the Tracking protection data panel

[2021-08-24 12:26] amedyne commented on #4924
Let's clarify this with @brampitoyo or @channingcarter . Please clarify if we want the string on the Settings -> Privacy & Security changed from current "Tracking Protection" to "Enhanced Tracking Protection".

[2021-08-24 12:59] amedyne commented on #5199
@Amejia481 @jonalmeida is this a result a any recent security/privacy settings changes?

[2021-08-24 13:01] Amejia481 commented on #5194
Let me take look!

[2021-08-24 13:07] Amejia481 commented on #5199
Let me take look and I'll report back.

[2021-08-24 13:13] LaurentiuApahideanSV opened #5201 "The Website name is cut off in the site security section"
## Steps to reproduce
1. Visit a website with a long name;
2. Tap the Shield Icon to the left of the URL bar;
3. Tap the Connection is secure/not secure;
### Expected behavior
The site's name should be displayed without issues
### Actual behavior
The site name is cut of.
### Device information

* Android device: Oppo Find X3 Neo (Android 11), OnePlus 6T (Android 9)
* Focus version: Latest debug bu

[2021-08-24 13:35] lobontiumira commented on #4937
Verified on the latest Debug build from main 8/24 with Lenovo Tab M10 (Android 10).
The "Find in page" option is displayed as in Figma design:
![find in page](https://user-images.githubusercontent.com/40694158/130625776-eba6b1e8-14cd-4c57-bea8-31448cf924e2.png)

The "Add to homescreen" panel is displayed as in Figma design:
![add to homescreen](https://user-images.githubusercontent.com/40694158/13

[2021-08-24 13:35] #4937 closed

[2021-08-24 14:01] mcarare commented on #4931
@LaurentiuApahideanSV The settings button is not present in the latest design for the panel.

[2021-08-24 14:09] mcarare commented on #4924
As a note: the copy for the tracking protection tip also mentions "tracking protection" not "enhanced tracking protection".

[2021-08-24 14:37] mcarare commented on #5201
Handled in #5202.

[2021-08-24 14:38] lobontiumira opened #5203 "[debug build] "Add to shortcut"/"Remove from Shortcut" options are still available after adding/removing the shortcut"
## Steps to reproduce
1. Open a page and add it as a shortcut.
2. Re-open the three-dot menu and observe the "Add to shortcut".
3. Clear the browsing history.
4. From the app's homescreen, tap on one of the added shortcuts.
5. Open the three-dot menu and tap on "Remove from Shortcuts".
6. Open again the three-dot menu, and observe.

### Expected behavior
After adding or removing a page from shortc

[2021-08-24 15:08] mcarare commented on #5201
Reopened for QA.

[2021-08-24 16:10] fabiLpz commented on #5172
I just updated the link. The redirect to the old article happened because a stable link with the same slug was had already been created.

[2021-08-24 19:15] Amejia481 commented on #5199
@Leonov65 which version did you have before ?

[2021-08-24 19:25] Amejia481 commented on #5199
I'm able to reproduce the same issue on Focus `8.13.1` released this on **Feb 22, 2021**. I'm seeing some logs on the browser console, it's very likely that there is a preference that we have turn ON Focus that it's not on Fenix.
[code]

I will continue investigating.

[2021-08-24 19:30] Amejia481 commented on #5199
The same issue is reproducible in Fenix in Private mode looks like this pref `dom.security.https_first_pbm` could be the source.

[2021-08-24 20:31] Amejia481 commented on #5199
The same issue is reproducible on Firefox desktop in private mode.

[2021-08-24 21:43] Amejia481 commented on #5199
I filed this ticket https://bugzilla.mozilla.org/show_bug.cgi?id=1727419 for the privacy team on gecko to help us.

[2021-08-24 22:23] Leonov65 commented on #5199
@Amejia481 I have three FF-F links to pages within bom.gov.au website saved to my home screen. I access them regularly; not daily but a few times a month. I was able to access them without issue earlier in August 2021. As I recall, FF-F was updated twice within the last week or so. Problem manifested after that.

[2021-08-25 03:22] brampitoyo commented on #4924
@lobontiumira  Thanks for your observation! Yes. We should definitely change that Settings heading into “Enhanced Tracking Protection. The Pro Tip, also.

[2021-08-25 03:40] karlcow commented on #2776
Yet another possible candidate. https://github.com/webcompat/web-bugs/issues/84174

[2021-08-25 06:40] ionutbedregeanu commented on #4955
This it will be fixed in [5180](https://github.com/mozilla-mobile/focus-android/issues/5180)

[2021-08-25 06:40] #4955 closed

[2021-08-25 06:47] ionutbedregeanu commented on #5180
Because both logos suffered some changes I will update Focus logo as well in this ticket

Focus logo resource: https://drive.google.com/drive/folders/1ZUwG06Bq4YrTGHQal18sdsJrlYCbUz-r
Klar logo resource: https://drive.google.com/drive/folders/1-Kb3ejWKjw1GTmPEiDXGr_Mfuys1CDu4

[2021-08-25 06:53] mcarare opened #5210 "@lobontiumira Thanks for your observation! Yes. We should definitely change that Settings heading into “Enhanced Tracking Protection. The Pro Tip, also."
@lobontiumira  Thanks for your observation! Yes. We should definitely change that Settings heading into “Enhanced Tracking Protection. The Pro Tip, also.

_Originally posted by @brampitoyo in https://github.com/mozilla-mobile/focus-android/issues/4924#issuecomment-905151381_

[2021-08-25 07:31] lobontiumira commented on #4924
Taking into consideration that #5210 was opened to address the change of the name, I'll close this issue as verified as fixed.
Thank you!

[2021-08-25 07:31] #4924 closed

[2021-08-25 08:38] lobontiumira opened #5212 "[custom tabs] Too much space in the toolbar before the back arrow"
## Steps to reproduce
1. Make Firefox Focus your default browser.
2. Open from Gmail a link in custom tab.
3. Observe the toolbar.

### Expected behavior
There should be no space in front of the back arrow in the toolbar.

### Actual behavior
There is a large space before the back arrow.

### Device information
* Android device: Lenovo Tab M10 (Android 10)
* Focus version: RC 91.3.0, and debug bui

[2021-08-25 08:39] lobontiumira commented on #5152
Verified on the latest debug build from main from 8/25, with Lenovo Tab M10 (Android 10):

![AC icons](https://user-images.githubusercontent.com/40694158/130756981-0ebdc05e-19d4-439f-8f8e-75e92e206a3b.png)

**Note: I've filed #5212 for the extra space in custom tab's toolbar.

[2021-08-25 08:39] #5152 closed

[2021-08-25 09:40] cadeyrn commented on #5180
The logo is still purple on a purple background and the logo of Firefox Klar is still noticeable larger than the logo of Firefox Focus: The fox logo is larger as well as the font size of the word mark:

<img width="1433" alt="Bildschirmfoto 2021-08-25 um 11 39 55" src="https://user-images.githubusercontent.com/1100614/130767658-8755c208-e53a-4453-87a0-230e88d9a3a9.png">

[2021-08-25 10:17] LaurentiuApahideanSV commented on #5182
Verified as fixed on the latest debug build from main 8/25.
### Devices used:
- Oppo Find X3 Neo (Android 11)
- OnePlus 6T (Android 9)

[2021-08-25 10:17] #5182 closed

[2021-08-25 10:48] ionutbedregeanu commented on #5180
@cadeyrn Thank you! You are right, is a minor difference in size

@brampitoyo From what I see Focus logo has 384 width and 80 height while the Klar logo has 338 width and 80 height
Can you help me with another resource in order to have the same dimensions for both? Not sure which are the intended ones?

[2021-08-25 10:55] LaurentiuApahideanSV commented on #5201
Verified as fixed on the latest debug build from main 8/25.

### Devices used:
- Oppo Find X3 Neo (Android 11)
- OnePlus 6T (Android 9)

[2021-08-25 10:55] #5201 closed

[2021-08-25 11:55] lobontiumira commented on #5111
Verified as fixed on the latest debug build from main from 8/25 with Lenovo Tab M10 (Android 10).
Still reproducible on RC 91.3.0, with the same device.

[2021-08-25 12:10] mcarare commented on #5180
@cadeyrn These are the color from the design team, not sure what ales are to do about it, except for them reconsidering.

[2021-08-25 13:26] LaurentiuApahideanSV commented on #4931
I tested the issue on on the latest debug build from main 8/25. The shield icon has been updated and there are no more alignment issues.
@brampitoyo Can you confirm that the "More Settings" option should not be present in the Tracking protection data panel?

### Devices used:
- Oppo Find X3 Neo (Android 11)
- OnePlus 6T (Android 9)

[2021-08-25 13:39] AaronMT commented on #5086
Disabled

[2021-08-25 14:31] gabrielluong opened #5216 "Display Shortcuts in the AwesomeBar"

[2021-08-25 15:14] lobontiumira opened #5217 ""Switch to link in new tab immediately" doesn't work"
## Steps to reproduce
1. Open Firefox Focus, and enable the  "Switch to link in new tab immediately" from Settings - General.
2. Open a page with multiple links, like bbc.co.uk, or cnn.com.
3. Tap on a linked text, and observe.

### Expected behavior
The tapped link is opened in a new tab.

### Actual behavior
Tapping on a linked text redirects the user to that link, but in the same tab, does not

[2021-08-25 15:39] mcarare commented on #5217
I think the setting is related to automatically switching to links opened in new tabs (as opposed to showing the snackbar to switch to it), not for opening every tapped link in a new tab.

Having said that, that behavior is not working as expected either. :)

[2021-08-25 16:28] mcarare commented on #4973
@brampitoyo The simpler solution is to change the long label that contains a placeholder with the app name. The shortcut is implemented statically so we cannot insert the app name in the string. Is this acceptable from  UX point of view?

[2021-08-26 12:19] lobontiumira opened #5222 "[bug] The refresh/cancel button from the toolbar is black"
## Steps to reproduce
1. Install the latest debug build from main from 8/26.
2. Open a page, and observe the toolbar.

### Expected behavior
All the buttons are white (back/forward arrows, refresh/cancel, ETP icon).

### Actual behavior
The refresh/cancel button is black.

### Device information
* Android device: Lenovo Tab M10 (Android 10)
* Focus version: the latest debug build from main from 8/

[2021-08-26 12:46] lobontiumira opened #5223 "[bug] The "Android system: Couldn't capture screenshot" pop-up isn't displayed when "Steatlh" toggle is enabled on certain devices"
## Steps to reproduce
1. Open a page.
2. Go to Settings - Privacy & Security - Switching Apps, and enable the Stealth toggle.
3. Exit Settings, And try taking a screenshot of the page.

### Expected behavior
The pop-up "Android system: Couldn't capture screenshot" is displayed.

### Actual behavior
No pop-up "Android system: Couldn't capture screenshot" is displayed.

### Device information
* Andr

[2021-08-26 14:09] Amejia481 opened #5225 "Add an UI settings to allow to turn ON/OFF the AppLinksFeature."
Right now, we have the [AppLinksFeature](https://github.com/mozilla-mobile/focus-android/blob/93b46daaec0bade2e7a613acd139492e5ce9e4f0/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.kt#L261) turn on by default, in some edge cases this could cause issues with third party apps,  https://github.com/mozilla-mobile/focus-android/issues/5194#issuecomment-906428749, we should allow users to

[2021-08-26 14:21] lobontiumira opened #5227 "The default search engine is colored on the debug build"
## Steps to reproduce
1. Go to Settings - Search - Search engine, and observe the default search engine.

### Expected behavior
The default search engine is not colored.

### Actual behavior
The default search engine is colored.

### Device information
* Android device: Lenovo Tab M10 (Android 10), Samsung Galaxy Note 8 (Android 9)
* Focus version: debug build from 8/26 main

![search engine](http

[2021-08-26 14:29] lobontiumira opened #5228 "[crash] Focus debug crashes when adding a new search engine"
## Steps to reproduce
1. Go to the three-dot menu -> Settings -> Search -> Search engine.
2. Tap on "+ Add another search engine" to add a new search engine.
3. Enter the credentials for a new search engine, tap on "SAVE".

### Expected behavior
The search engine is added without issues.

### Actual behavior
The app crashes. The search engine is not added.
`2021-08-26 17:25:08.055 29594-29594/? W/

[2021-08-26 14:30] #5227 closed, assigned to nobody

[2021-08-26 18:50] mcomella opened #5233 "Ensure WebExtension manifest validation regression doesn't affect focus"
In https://github.com/mozilla-mobile/fenix/issues/20934, we saw a 734ms regression to cold-view-nav-start where we spent a long time validating the web extension manifests introduced by https://github.com/mozilla-mobile/android-components/pull/10541. We fixed the issue in ac: https://github.com/mozilla-mobile/android-components/pull/10872

We should check if focus has this problem and, if so, make

[2021-08-27 07:32] lobontiumira opened #5235 "[custom tab] Some elements from the three-dot menu have black texts"
## Steps to reproduce
1. Set Firefox Focus as your default browser.
2. From Gmail, open a custom tab.
3. Tap the three-dot menu and observe the options.

### Expected behavior
The menu's options have the same white color.

### Actual behavior
Some options are black texts.

### Device information
* Android device: Lenovo Tab M10 (Android 10), Samsung Galaxy Note 8 (Android 9)
* Focus version: debug

[2021-08-27 09:59] #5228 closed, assigned to Amejia481

[2021-08-27 10:06] lobontiumira opened #5236 "[bug] Disabling the trackers from ETP section doesn't work"
## Steps to reproduce
1. Open https://senglehardt.com/test/trackingprotection/test_pages.html, and tap on Trackers & Cookies.
2. Go to Settings - Privacy & Security - Enhanced Tracking Protection section.
3. Disable ad trackers, or analytic trackers, or social trackers, or other content trackers.
4. Go back to the page opened in step 1 and reload it.
5. Observe if the trackers are now not blocked.

[2021-08-27 11:42] lobontiumira opened #5237 "[bug] Cookies aren't blocked when "Yes please" or "Block 3rd-party cookies only" is selected"
## Steps to reproduce
1. Go to three-dot menu: Settings -> Privacy & Security -> Cookies and Site Data -> Blocked Cookies and select **"Yes please"**.
2. Go to https://mozilla-mobile.github.io/testapp/, and tap on **"Are cookies enabled?"**, and on **"Are 3rd Party Cookies Enabled?"** from the Blocked Cookies Test area.
3. Go to three-dot menu: Settings -> Privacy & Security -> Cookies and Site Da

[2021-08-27 11:58] lobontiumira opened #5238 "[bug] The Web Content features don't work on https://mozilla-mobile.github.io/testapp/"
## Steps to reproduce
1. Go to https://mozilla-mobile.github.io/testapp/ to Custom Font Test.
2. Go to Settings -> Privacy & Security -> "Web Content" section.
3. Enable "Block Web fonts" setting, exit Settings and go back to https://mozilla-mobile.github.io/testapp/.
or
4. Enable "Block JavaScript", exit Settings, go to https://mozilla-mobile.github.io/testapp/, and tap on the "Click here for JS

[2021-08-27 12:11] LaurentiuApahideanSV opened #5239 "Disabling the "Safe browsing" option does not allow visiting unsafe web pages"
## Steps to reproduce
1. Go to Setting->Privacy & Security;
2. Set Safe browsing to off;
3. Visit several unsafe pages such as:
https://itisatrap.org/firefox/its-a-trap.html
https://itisatrap.org/firefox/its-an-attack.html
https://itisatrap.org/firefox/unwanted.html
https://itisatrap.org/firefox/harmful.html
### Expected behavior
The webpages should load without warnings.
### Actual behavior
A war

[2021-08-27 12:50] sv-ohorvath opened #5240 "All trackers are "unblocked" with Content TP off"
## Steps to reproduce
1. With default TP settings, go to https://senglehardt.com/test/trackingprotection/test_pages/tracking_protection.html
2. Check ads, social and analytics trackers
3. Open the ETP panel.
4. Disable the Content option.
5. Refresh the TP test page.
6. Check ads, social and analytics tracking results.
7. Re-enable the Content option.
8. Refresh the page.
9. Check ads, social and

[2021-08-27 13:30] sv-ohorvath opened #5241 "Exceptions menu: hide or change "Remove all websites" button when in multi-select mode"
## Steps to reproduce
1. Visit a few websites, turn off ETP on each, to add them to the Exceptions list.
2. Go to Privacy settings> Exceptions.
3. Tap the 3 dot menu in the right-hand corner. Tap Remove.
4. Select some websites from the list, leaving at least one unselected.
5. Observe the "Remove all websites" button
6. Tap the "Remove all websites" button
### Expected behavior
I think the "Remov

[2021-08-27 13:57] lobontiumira opened #5243 "[bug] "Manage sites" option should be inactive when URL Autocomplete is disable "For sites you add""
## Steps to reproduce
1. Go to Settings - Search - URL Autocomplete, and disable the "For Sites You Add" toggle.
2. Tap on "Manage sites".

### Expected behavior
The "Manage sites" cannot be accessed. The option is inactive.

### Actual behavior
The "Manage sites" is enabled but doesn't work. The user may not know that, by disabling the URL Autocomplete "For sites you add", this area is not availa

[2021-08-27 13:57] sv-ohorvath opened #5244 "Switch places between the Refresh and Share button in the main menu"
## Steps to reproduce
1. Visit a website
2. Open the main menu
3. Observe the position of the Refresh button.
### Expected behavior
The refresh button should be the last one in the row, as it is in most apps, and users are used to that.
### Actual behavior
Accidentally tapping the share button instead of refresh, because of muscle memory.
### Device information

* Android device: Pixel 2 (Android

[2021-08-27 14:20] LaurentiuApahideanSV opened #5245 "Adding a page on the home screen with ETP disabled will not open with it off"
## Steps to reproduce
1. Open any website;
2. Disable Enhanced Tracking Protection;
3. From the 3 dot menu select Add to Home screen;
4. Place the shortcut on the Home screen;
5. Close Focus;
6. Tap on the home screen shortcut from step 4.
### Expected behavior
The webpage should open in Focus with ETP disabled.
### Actual behavior
The webpage opens in Focus with ETP enabled.
### Device informatio

[2021-08-27 15:16] LaurentiuApahideanSV opened #5247 "The Find in Page search field appears behind the keyboard"
## Steps to reproduce
1. Open any website that contains text;
2. From the 3 dot menu select Find in Page
### Expected behavior
The search field should appear above the keyboard.
### Actual behavior
The search field appears behind the keyboard
### Device information

* Android device: Oppo Find X3 (Android 11), OnePlus 6T (Android 9)
* Focus version: 93.0.0

https://user-images.githubusercontent.co

[2021-08-29 01:11] golimi opened #5250 "Open in app popup on every click"
## Steps to reproduce
1. Open link of website that has a app on phone
2. Click cancel on "Open in app" popup

### Expected behavior
Open links without "Open in app" popup

### Actual behavior
Repeated "Open in app" popup for every click on website

### Device information

* Android device: OnePlus 5T
* Focus version: v91.2.1 onwards

Bug introduced with commit 348d858

https://user-images.githubus

[2021-08-29 07:39] sbadux opened #5251 "Auto-accept Cookie banners (like "I don't care about cookies" desktop extension)"
### Why/User Benefit/User Problem
Firefox Focus deletes all the websites data after closing the app. If you open a website more times in a day, it asks to accept the cookies every time.
If you integrate a feature to auto-accept cookies like "I don't care about cookies" Firefox extension, the user doesn't have to accept them every time. This could be a opt-in feature so the normal users won't be af

[2021-08-29 08:51] pepperminth opened #5252 "Open in app popup on every click"
## Steps to reproduce
1. Open link of website that has an app on phone
2. Click cancel on "Open in app" popup

### Expected behavior
Open links without "Open in app" popup

### Actual behavior
Repeated "Open in app" popup for every click on website

### Device information

* Android device: OnePlus 5T
* Focus version: v91.2.1 onwards

Bug introduced with commit 348d858

https://user-images.githubu

[2021-08-29 10:51] dreamjoy opened #5253 "build_3ls7hknsxo8639i7q2k3375w.android() is applicable for argument types"
When I synced the project, I reported an error. At first, I thought that the IDE version was too low and upgraded to the latest, but it still couldn't
`* Exception is:
org.gradle.api.GradleScriptException: A problem occurred evaluating project ':app'.
	at org.gradle.groovy.scripts.internal.DefaultScriptRunnerFactory$ScriptRunnerImpl.run(DefaultScriptRunnerFactory.java:93)
	at org.gradle.configurat

[2021-08-29 11:45] dreamjoy commented on #5253
事实证明，是我在使用低版本的Android Studio的修改，在高版本一样报错。我把旧工程代码删除，重新clone，就可以了

[2021-08-29 11:45] dreamjoy commented on #5253
It turns out that I am using the modification of the lower version of Android studio, and the same error is reported in the higher version. I'll delete the old project code and clone it again

[2021-08-29 11:45] #5253 closed

[2021-08-30 04:30] brampitoyo commented on #5245
@mcarare Yes. It makes sense to me that website shortcuts should open according to the ETP setting that has been stored in the Exceptions list.

[2021-08-30 04:38] brampitoyo commented on #5244
@sv-ohorvath @amedyne Agreed. Thanks for the suggestion, and good call!

I should’ve been aware that Fenix already had the positioning you suggested: Back, Forward, Share, Refresh. Focus should be identical to that.

Let’s swap the positioning of the Share and the Refresh icons.

[2021-08-30 04:52] brampitoyo commented on #4938
@amedyne I’m not planning any change for this dialog.

Focus doesn’t have Share in its text selection context menu, because it’s a private app (it shouldn’t have the Share action everywhere).

And if possible, we should prioritise having our own Search action in the third position, ahead of other third-party actions (like DuckDuckGo). IIRC, what our Search action does is input the highlighted word

[2021-08-30 06:12] brampitoyo commented on #5116
Hi @ionutbedregeanu, we’d like to follow the toolbar design on Figma and have the background colour of the address/search box be different from the toolbar itself.

When the address box is coloured differently, it will be possible to make the toolbar and search results background identical.

Do you think this is possible to do in time for release? Thanks!

[2021-08-30 07:20] AndiAJ commented on #5191
Failed 2 more times on 8/27 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/9091435623101485288/executions/bs.b516258ce3ed852d/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/90914356231014

[2021-08-30 07:24] AndiAJ commented on #5191
Failed 2x on 8/28 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5111994848005301085/executions/bs.27c11256423b9fb/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5111994848005301085/execu

[2021-08-30 08:03] lobontiumira commented on #5217
Reproducible on  version too, with Lenovo Tab M (Android ).

[2021-08-30 08:22] lobontiumira opened #5254 "[bug] Closing one tab at a time (by tapping back) displays [0] tabs briefly"
## Steps to reproduce
1. Open a page with multiple links.
2. Long-tap a link and open it in a new tab, multiple times in order to have at least 3 tabs opened.
3. Tap the back button, and observe the tabs counter.

### Expected behavior
The tabs counter displays the remaining opened tabs, without glitches.

### Actual behavior
The tabs counter displays 0 (zero) remaining tabs briefly - please see t

[2021-08-30 08:46] mcarare commented on #5245
@brampitoyo, then should we remove the warning from the add to homes screen dialog?

[2021-08-30 08:53] mcarare commented on #5240
@Amejia481 Can you also take a look at this since you have experience with ETP? From what I have seen we send the correct tracker list in `createTrackingProtectionPolicy`, not sure why the first ones are disabled.

Also, I think here: https://github.com/mozilla-mobile/focus-android/blob/54842a92c30a971b41ea831da82e397c90800ada/app/src/main/java/org/mozilla/focus/utils/Settings.kt#L57

we should ha

[2021-08-30 08:57] sv-ohorvath opened #5255 ""Add link to autocomplete" feature is missing in v.93"
## Steps to reproduce
1. Visit a website.
2. Tap the URL bar and observe if "Add link to autocomplete" is displayed under the selected URL.
### Expected behavior
In version 91 the feature still works.
See screenshot:
![Screenshot_20210830-115002](https://user-images.githubusercontent.com/4037709/131313969-7775b0c7-5f37-4759-ad88-b40984acc681.png)
### Actual behavior
Missing feature since the nav b

[2021-08-30 09:22] cadeyrn commented on #5255
This was removed in favour of the new shortcuts feature, see https://github.com/mozilla-mobile/focus-android/pull/5154#issuecomment-900281326.

[2021-08-30 09:30] sv-ohorvath commented on #5255
oh, thanks, that's true.

[2021-08-30 09:30] #5255 closed

[2021-08-30 10:56] pocmo commented on #5217
Does Fenix have that (I don't think so?). Is there anything in Focus that makes this more needed? (cc @brampitoyo)

[2021-08-30 10:57] pocmo commented on #5223
Does it still prevent screenshots?

[2021-08-30 11:17] mcarare commented on #5217
@pocmo, Fenix does not have this, that is why AC use cases to not include a scenario where we do not show the snackbar but switch to tab immediately.

[2021-08-30 11:58] lobontiumira commented on #5223
@pocmo yes, the screenshot cannot be taken.

[2021-08-30 13:05] sflorean opened #5257 "[bug] Can't add shortcuts on (Device)homescreen with Huawei MediaPad M2 (Android 5.1.1)"
## Steps to reproduce
1.Open an webpage.
2. Select "Add to Home screen" from the menu.

### Expected behavior
Add to Home screen dialog pops up and the page is added to the homescreen.

### Actual behavior
The dialog might not be displayed (1/3) at all.
The dialog is displayed, and after the "Add" button is taped, the shortcut is not available on the device's screen.

### Device information
* Andr

[2021-08-30 13:22] LaurentiuApahideanSV commented on #4973
Verified as fixed on the latest debug build from main 8/30 and 93.0.0.
### Devices used:
- Oppo Find X3 Neo (Android 11)
- OnePlus 6T (Android 9)

[2021-08-30 13:22] #4973 closed

[2021-08-30 13:22] lobontiumira commented on #5098
Verified on the latest debug build from main from 8/30 with Lenovo Tab M10 (Android 10), and here are my findings:

![context menus](https://user-images.githubusercontent.com/40694158/131344478-bc7a82be-1175-40a7-8ece-aa67535407e0.png)

Long-tapping on an image, the context menu displays the following options:
- Copy link
- Share link
- Share image
- Open image in new tab
- Save image
- Copy image

[2021-08-30 13:51] AndiAJ opened #5258 "Intermittent UI test failure - <SwitchLocaleTest.englishSystemLocaleTest>"
### Firebase Test Run:
Failed 2x
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373/executions/bs.aef17fac412caf7b/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373

[2021-08-30 13:55] AndiAJ opened #5259 "Intermittent UI test failure - <MozillaSupportPagesTest.turnOffHomeScreenTipsTest>"
### Firebase Test Run:
Failed 2x
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373/executions/bs.f66fc81bf391e1fb/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373

[2021-08-30 13:57] AndiAJ commented on #5191
Failed 2x on 8/30 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373/executions/bs.95659535e74fe6e/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373/execu

[2021-08-30 13:59] AndiAJ opened #5260 "Intermittent UI test failure - <FirstRunDialogueTest.homeScreenTipsTest>"
### Firebase Test Run:
Failed 2x
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373/executions/bs.2892f0838858165a/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5998186883400506373

[2021-08-30 14:01] AndiAJ opened #5261 "Intermittent UI test failure - <CustomTabTest.openCustomTabInFocusTest>"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/5965711351299192389/executions/bs.c6185188e78d346f/testcases/1/test-cases)
### Stacktrace:
androidx.test.espresso.PerformException: Error performing 'single click - At Coordinates: 709, 735 and precision: 16, 16' on view 'with text: is

[2021-08-30 14:12] lobontiumira commented on #5180
Verified as fixed on the latest debug build from main from 8/30, with Lenovo Tab M10 (Android 10)

![Untitled](https://user-images.githubusercontent.com/40694158/131352881-697a6d56-7727-4754-88d9-b3454928f49f.png)

[2021-08-30 14:12] #5180 closed

[2021-08-30 14:16] mcarare commented on #5257
@sflorean Can you add any other shortcuts (from any other app, maybe try Fenix) on that device?
We might need to hide that menu item on devices that have a launcher that does not support pinning.

[2021-08-30 14:43] lobontiumira commented on #5195
Verified as fixed on the latest debug build from main 8/30 with Lenovo Tab M10 (Android 10).
The only issue is that the context menu options are in black text (already filed #5235 ).

![custom tab context menus](https://user-images.githubusercontent.com/40694158/131357456-1fc45fef-b08e-4319-aa7c-19dd8d420252.png)

[2021-08-30 14:43] #5195 closed

[2021-08-30 15:57] st3fan opened #5267 "Audit the Falcon dependency"
Focus includes https://github.com/jraska/Falcon as a dependency but it doesn't actually seem to be used. I could not find any invocations of the Falcon code. Let's remove this dependency.

[2021-08-30 16:00] mcarare commented on #5238
I cannot reproduce this on main either.

[2021-08-30 16:13] LaurentiuApahideanSV commented on #5194
Verified as fixed on the latest debug build from main 8/30.

### Devices used:
- Oppo Find X3 Neo (Android 11)
- OnePlus 6T (Android 9)

[2021-08-30 16:13] #5194 closed

[2021-08-30 16:58] CLEMENT2OOO opened #5269 "A feature to hide the trash button"
Here is my little problem. Since I don't use the pink trash button that appears every time you browse a web page, I'd like a feature in the application settings that would allow it to be hidden.

Thanks

[2021-08-30 17:28] mcarare commented on #5267
I think it is needed by `tools.fastlane:screengrab` : https://github.com/mozilla-mobile/focus-android/pull/5144/files#diff-51a0b488f963eb0be6c6599bf5df497313877cf5bdff3950807373912ac1cdc9R271.

We also have this in Fenix.

[2021-08-30 17:31] st3fan commented on #5267
Yeah I think you are right.

[2021-08-30 19:34] cadeyrn commented on #4069
This is also an issue with the new carousel implementation.

![Screenshot_20210830-212521](https://user-images.githubusercontent.com/1100614/131394715-68b22fd5-e66e-4314-9dd3-c7efb0928f04.jpg)

[2021-08-30 19:40] cadeyrn opened #5271 "tips on start screen are truncated to a maximum of two lines"
### Steps to reproduce

0. use a language with longer translations, like German
1. start Focus

### Expected behavior

You can read all tips.

### Actual behavior

Tips can be truncated (second tip):

![Screenshot_20210830-212506](https://user-images.githubusercontent.com/1100614/131395083-e41fed80-9c90-4ed5-8dae-06c1fb4e59ac.jpg)

The full string is "Erstellen Sie Verknüpfungen zu den meistbesuch

[2021-08-30 19:53] cadeyrn opened #5272 "link is missing for first tip in carousel"
### Steps to reproduce

1. open Focus

### Expected behavior

I don't know if there is a link planned for the first tip in the carousel on the start screen because all your documents are access restricted but from reading the first tip ("read more") I would expect that there is a link:

![Screenshot_20210830-212716](https://user-images.githubusercontent.com/1100614/131396781-386de361-ae4a-406f-87a

[2021-08-30 19:56] cadeyrn commented on #4949
@ionutbedregeanu While testing I found the following issues: #4069, #5271, #5272.

[2021-08-31 02:28] brampitoyo commented on #4949
@ionutbedregeanu I will consult with @mheubusch at Content Design about the ordering of Pro Tips. Stay tuned.

In the meantime, let’s display them in the order that Michelle had recommended.

[2021-08-31 02:33] amedyne commented on #4949
@brampitoyo, @channingcarter provided a spreadsheet for the ordering of the ProTips. This spreadsheet is what Ionut used for this implementation. I shared the file to you.

[2021-08-31 02:36] brampitoyo commented on #5217
@lobontiumira @mcarare @pocmo I don’t recall Fenix having this feature. For Focus, since we are planning to gradually let the multi-tasking feature take a backseat, I don’t see a reason why we need this feature.

If my proposal is to take this feature out, would that be feasible?

[2021-08-31 02:40] brampitoyo commented on #4949
@ionutbedregeanu Yes. @amedyne is correct. The ordering of the Pro Tips should follow the spreadsheet. Never mind my request. Thank you.

[2021-08-31 02:45] brampitoyo commented on #5245
@mcarare I think the warning in the “Add to home screen” dialog should be kept, just so people don’t accidentally open sites without ETP.

[2021-08-31 03:37] worg commented on #5195
@lobontiumira Your screenshots don't correspond to the custom tabs context, the context menu works well in the browser view, but not in the custom tabs (even on the latest 0.91.4)
You can get a custom tab by setting Focus as default browser and using an application that needs/uses custom tabs for browser activities.
Can this be reopened?

[2021-08-31 08:12] mcarare commented on #5245
@brampitoyo Thank you for your feedback. Following the comments on this, I am going to close this issue, as there is nothing to fix.

[2021-08-31 08:24] mcarare commented on #5217
Yes, I can just remove the preference from the screen, as it is not used anywhere in the app.

[2021-08-31 09:09] mcarare commented on #5223
@lobontiumira Can you test if that happens on Fenix also on the same device? It might not be something we can fix, but device/OS-specific.
Thank you!

[2021-08-31 09:32] mcarare commented on #5239
I cannot reproduce this on latest main.

[2021-08-31 09:59] #5161 closed

[2021-08-31 10:01] pocmo commented on #5223
I somehow think this has come up before and some devices or Android versions just do not show this message. It's definitely a system feature to show this popup. I am so sure that this exact discussion happened on this issue tracker before, but I can;t find it.

[2021-08-31 10:02] pocmo commented on #5223
Finally found it: https://github.com/mozilla-mobile/focus-android/issues/775

[2021-08-31 10:02] mcarare opened #5276 "Add whats new link for Klar build."
Following the discussion offline with @fabiLpz we should direct Klar users to a separate Klar whats new page.

[2021-08-31 11:56] lobontiumira commented on #4831
Reproducible on 91.4.0 with Samsung Galaxy Note 8 (Android 9).

[2021-08-31 12:02] lobontiumira commented on #5223
You are right! The device is not displaying the pop-up for Fenix either.
It is device specific.
I'll close the issue.
Thanks!

[2021-08-31 12:02] #5223 closed

[2021-08-31 12:21] lobontiumira commented on #5115
Verified as fixed on the 8/30 debug build from main, using a Lenovo Tab M10 (Android 10), and Samsung Galaxy Note 8 (Android 9).

Still able to reproduce it on the latest RC build 91.4.0, with the same devices.

[2021-08-31 12:36] #5115 closed

[2021-08-31 12:37] lobontiumira commented on #5185
Verified as fixed on the latest debug build from main, from 8/31 with Samsung Galaxy Note 8 (Android 9).

[2021-08-31 12:37] #5185 closed

[2021-08-31 12:39] lobontiumira commented on #5243
Verified as fixed on the latest debug build from main from 8/31 with Samsung Galaxy Note 8 (Android 9).

[2021-08-31 12:39] #5243 closed

[2021-08-31 12:41] lobontiumira commented on #5217
Verified as fixed on the latest debug build from main (GV 93.0a1-20210824094724), with Samsung Galaxy Note 8 (Android 9).
The option is no longer displayed in the General page:

![Screenshot_20210831-153950_Firefox Focus](https://user-images.githubusercontent.com/40694158/131504262-c369246f-1774-4037-95fb-bed80efa595a.jpg)

[2021-08-31 12:41] #5217 closed

[2021-08-31 12:46] lobontiumira commented on #5254
Reproducible on RC 91.4.0 with Samsung Galaxy Note 8 (Android 9).

[2021-08-31 13:10] #5098 closed

[2021-08-31 13:22] lobontiumira commented on #5276
Verified as fixed on the latest Klar & Focus build from main, with GV 93.0a1-20210824094724, with Samsung Galaxy Note 8 (Android 9).
The What's new link for Focus is https://support.mozilla.org/en-US/kb/whats-new-firefox-focus-android?as=u&utm_source=inproduct, and for Klar is https://support.mozilla.org/en-US/kb/whats-new-firefox-klar-android?as=u&utm_source=inproduct.

![whats new](https://user-

[2021-08-31 13:22] #5276 closed

[2021-08-31 13:26] lobontiumira commented on #5244
Verified as fixed on the latest Klar & Focus build from main from 8/31, with GV 93.0a1-20210824094724, with Samsung Galaxy Note 8 (Android 9).

[2021-08-31 13:26] #5244 closed

[2021-08-31 14:36] LaurentiuApahideanSV commented on #5241
Verified as fixed on the latest debug build from main 8/31.

### Devices used:
- Huawei MediaPad M3 (Android 7)
- OnePlus 6T (Android 9)

[2021-08-31 14:36] #5241 closed, assigned to mcarare

[2021-08-31 15:04] AndiAJ opened #5282 "[Bug] java.lang.IllegalStateException: SET SESSION: Current activity: CustomTabActivity hashcode 139379894 Other activity: MainActivity hashcode 171186351"
`openCustomTabInFocusTest` crashed on 8/30 main

Stacktrace
08-30 08:03:09.989: I/ActivityManager(2071): --------- beginning of crash
08-30 08:03:09.995: E/AndroidRuntime(7933): FATAL EXCEPTION: main
08-30 08:03:09.995: E/AndroidRuntime(7933): Process: org.mozilla.focus.debug, PID: 7933
08-30 08:03:09.995: E/AndroidRuntime(7933): java.lang.IllegalStateException: SET SESSION: Current activity: Cust

[2021-08-31 15:10] #5282 closed

[2021-08-31 15:21] AndiAJ commented on #5258
Failed again 4x on 8/30 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/executions/bs.41b793c934529cc3/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/exe

[2021-08-31 15:21] AndiAJ commented on #5259
Failed again 4x on 8/30 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/executions/bs.f5e95ba77ac834db/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/exe

[2021-08-31 15:21] AndiAJ commented on #5191
Failed again 4x on 8/30 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/executions/bs.3efb5ea17f1ab55a/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/642218671116816613

[2021-08-31 15:21] AndiAJ commented on #5260
Failed again 4x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/executions/bs.7e6f8d823c914607/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6422186711168166134/exe

[2021-08-31 15:21] AndiAJ opened #5283 "Intermittent UI test crash - <CustomTabTest.openCustomTabInFocusTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6163529191173936926/executions/bs.7a1e1b9bc2148f99/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6163529191173936926/exec

[2021-08-31 15:56] AndiAJ commented on #5259
Failed 3x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions/bs.15662609eb24c87/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions

[2021-08-31 15:56] AndiAJ commented on #5258
Failed 3x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions/bs.2a98a58f7a1155ff/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/execution

[2021-08-31 15:57] AndiAJ commented on #5191
Failed 3x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions/bs.66001bf6c292822b/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/exec

[2021-08-31 15:57] AndiAJ commented on #5260
Failed 3x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions/bs.a648c883c9866cd/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions

[2021-08-31 15:58] AndiAJ commented on #5283
Flaky 1x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6083435138422544167/executions/bs.794df11ebf6e5f9d/testcases/1/logs)

Failed 1x on 8/31 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/6

[2021-08-31 15:58] AndiAJ opened #5284 "Intermittent UI test failure - <SettingsTest.verifyGeneralSettingsMenuTest>"
### Firebase Test Run:
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8168972649305594143/executions/bs.23f9e2a31cfd16e8/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/8168972649305594143/execution

[2021-08-31 20:42] Amejia481 commented on #5236
Thanks for reporting, this was addressed with https://github.com/mozilla-mobile/focus-android/pull/5264, it should be already fixed  on `main`.

[2021-08-31 22:15] eliserichards commented on #4993
Reviewed changes with @Kate-Galetski. Remaining work:
- match the splash screen precisely
- use `accentBright` instead of `accent` for delete button

[2021-08-31 22:44] eliserichards opened #5287 "[Bug] Tips on the landing screen don't swipe/scroll consistently"
The tips on the landing page aren't responding to swipes in a consistent way.

Steps to reproduce:
1. Open Nightly or debug (I saw this on `main`)
2. See the dot carousel for the tips, try to swipe. Not able to swipe.
3. Close keyboard, try to swipe again: it works!

Closing and opening the keyboard seems to make it work, but does not seem consistent to me: sometimes it works with the keyboard ope