[2018-06-21 05:31] brampitoyo commented on #459
Because this page may not change as much as `about:neterror` (#1616), I will go ahead and post the design and specs.

My question here is also similar to #1616 : I recommend having a separate “Advanced” page, so it’s not so easy to go ahead. But do we want users opening potentially harmful websites using Firefox Focus? Or, do we only want the link to open in another app?

**It’s probably best to b

[2018-06-21 05:40] brampitoyo opened #2768 "Develop more blocking features"
### Why/User Benefit/User Problem

* Focus loads websites fast, saving me time, data and battery in the process. Can Focus save me even _more_?
* Focus hides distractions and annoyances when browsing the web. Can Focus make me even _more_ focused on the content I want to see, and nothing else?

### What / Requirements

Develop blocking features that we’re already considering in other products:

*

[2018-06-21 05:43] brampitoyo commented on #2603
Filed #2768 to discuss developing more blocking features.

[2018-06-21 08:38] pocmo commented on #596
@cpeterso had a good argument on a mail thread:

I wonder if that makes the cost of implementing this too high for the small benefit we get. It may be worth talking to someone inside Mozilla with deep knowledge about HTTPS and its adoption? I do not know who that would be .. but it's very likely that we have such an expert .. :-)

Maybe we could have no setting and it would be always enabled excep

[2018-06-21 08:53] pocmo commented on #596
I've found @jcjones and @mozkeeler on phonebook and have sent them a mail asking them about their opinion. :)

[2018-06-21 09:11] pocmo commented on #459
#1616 sounded like we are not actually allowing to bypass but instead to open the page in an different browser?

[2018-06-21 09:13] pocmo commented on #2750
See #2657 and https://github.com/mozilla-mobile/android-components/issues/208 for background. The library is no longer available under the old group id. Rebuilds of that tag will have to use the new group id: https://github.com/mozilla-mobile/focus-android/blob/master/app/build.gradle#L299

[2018-06-21 09:15] pocmo commented on #1616
That's something we would have to bring up with the GeckoView team: I'm not sure how/if we are able to do the override currently.

[2018-06-21 09:17] pocmo commented on #2767
Yeah, we want to be subscribed to that for as long as the application is alive. There's no situation where we want to not be registered anymore.

Is this causing a problem?

[2018-06-21 11:46] relan commented on #2750
Gotcha. Thanks for the quick reply.

[2018-06-21 12:18] J0WI commented on #596
That's also not 100% correct. We can't detect whether a site supports HTTPS or not. There are some cases where simple redirects to HTTPS are impossible due certificate mismatches, the server forces HTTP on some sites or major mixed content issues. See e.g. our recently updated ruleset for [Orcale](https://github.com/EFForg/https-everywhere/blob/cf5a9ac02514f7bf77ad65b6d55a3be24bb61502/src/chrome/c

[2018-06-21 12:42] pocmo opened #2769 "String import blocked on 'ay' errors"
From the import script:

[code]

[2018-06-21 12:42] pocmo commented on #2769
cc: @Delphine

Something seems to be wrong with the **ay** strings.

[2018-06-21 15:24] fmarier commented on #459
Note that if that other browser is Chrome or Firefox, users will be shown a second Safe Browsing prompt that they will have to bypass again. It may look like the bypass is broken (with users giving up).

[2018-06-21 15:34] #2174 closed

[2018-06-21 15:36] ekager commented on #2767
Just looking at #1544 and #1216 , but if a persistent BroadcastReceiver is never a problem, we can close this.

[2018-06-21 17:50] cpeterso commented on #459
@gcp IIUC, you implemented Safe Browsing support in Fennec. What does the GeckoView team need to do to support it in GeckoView?

I assume that every app that bundles GeckoView will need to download its own copy of the Safe Browsing data.

[2018-06-21 18:29] mozkeeler commented on #596
Preloaded HSTS is definitely more conservative in Firefox than HTTPS Everywhere - it seems like Focus users would benefit from the additional coverage and e.g. rewrite rules.

[2018-06-21 18:54] gcp commented on #459
There is system level support now on recent Androids. I haven't looked at
the specifics but if that is usable you might be able to avoid the
duplicate copies.

Else it's setting up the right prefs for Gecko and some extra about:blocked
pages.

On Thu, Jun 21, 2018, 19:50 Chris Peterson <notifications@github.com> wrote:

--

GCP

[2018-06-21 19:04] Delphine commented on #2769
I'll look into this now, thanks for the heads-up

[2018-06-21 19:17] Delphine commented on #2769
Just tried to radomly fix this, and flagged it to localizers so they can go back later and arrange how they should be.
Hopefully this should be clarified on their side by now. thanks!

[2018-06-21 20:31] fmarier commented on #459
Dimi and I have some thoughts about that and we put together https://public.etherpad-mozilla.org/p/sbgoogleplay last year. Happy to discuss more on video if you want. Dimi will be back on 2 July.

[2018-06-22 00:08] mcomella commented on #2755
Getting the `ACTION_AUDIO_BECOMING_NOISY` intent requires us to `requestAudioFocus`. However, WebView seems to steal audio focus from us when it's audio playback starts (at least on Fire TV) so I don't know that we'd even receive these intents.

[2018-06-22 09:18] pocmo commented on #2752
Afaik GeckoView already does that (at least in Fennec).

But we may need an API for:

[2018-06-22 09:19] pocmo commented on #2603
@bbinto With that and #2768 not being in 7.0 I think this here doesn't need to be either?

[2018-06-22 09:20] pocmo commented on #2603
Oops, I just saw you removed the 7.0 milestone and not added it.

[2018-06-22 09:22] pocmo commented on #2350
FYI: GSoC work is happening here: https://github.com/mozilla-mobile/fretboard

And progress can be seen here:
https://github.com/mozilla-mobile/fretboard/projects/1

We are not that far away from using the library in apps.

[2018-06-22 09:23] pocmo commented on #2328
Note that currently the telemetry library does not archive pings. We only store them to disk to "queue" them. Once uploaded we remove them again. This behavior would need to be changed (or made configurable) in the telemetry component.

[2018-06-22 09:32] pocmo commented on #2127
I filed: https://bugzilla.mozilla.org/show_bug.cgi?id=1470387

[2018-06-22 09:34] pocmo commented on #1630
@bbinto This is a WebView specific API and as we are going away from WebView I suggest to just close this.

[2018-06-22 09:35] pocmo commented on #1430
Depends on #2350

[2018-06-22 09:36] pocmo commented on #1431
Closing this (and the subtasks) as we are tracking this work outside of Focus:
* https://github.com/mozilla-mobile/fretboard
* https://github.com/mozilla-mobile/fretboard/projects/1

For Focus we still have: #2350

[2018-06-22 09:36] #1431 closed

[2018-06-22 09:37] pocmo commented on #1574
Closing this (and the subtasks) as we are tracking this work outside of Focus:

    https://github.com/mozilla-mobile/fretboard
    https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1574 closed

[2018-06-22 09:37] pocmo commented on #1575
Closing this (and the subtasks) as we are tracking this work outside of Focus:

    https://github.com/mozilla-mobile/fretboard
    https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1575 closed

[2018-06-22 09:37] pocmo commented on #1576
Closing this (and the subtasks) as we are tracking this work outside of Focus:

    https://github.com/mozilla-mobile/fretboard
    https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1576 closed

[2018-06-22 09:37] pocmo commented on #1577
Closing this (and the subtasks) as we are tracking this work outside of Focus:

    https://github.com/mozilla-mobile/fretboard
    https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1577 closed

[2018-06-22 09:37] pocmo commented on #1589
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1589 closed

[2018-06-22 09:37] pocmo commented on #1578
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1578 closed

[2018-06-22 09:37] pocmo commented on #1579
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1579 closed

[2018-06-22 09:37] pocmo commented on #1580
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:37] #1580 closed

[2018-06-22 09:38] pocmo commented on #1581
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1581 closed

[2018-06-22 09:38] pocmo commented on #1588
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1588 closed

[2018-06-22 09:38] pocmo commented on #1587
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1587 closed

[2018-06-22 09:38] pocmo commented on #1582
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1582 closed

[2018-06-22 09:38] pocmo commented on #1583
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1583 closed

[2018-06-22 09:38] pocmo commented on #1584
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1584 closed

[2018-06-22 09:38] pocmo commented on #1585
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1585 closed

[2018-06-22 09:38] pocmo commented on #1586
Closing this (and the subtasks) as we are tracking this work outside of Focus:

 * https://github.com/mozilla-mobile/fretboard
 * https://github.com/mozilla-mobile/fretboard/projects/1

[2018-06-22 09:38] #1586 closed

[2018-06-22 09:46] pocmo commented on #957
The desktop version of Firefox has an exception list for tracking protection. We could talk to the GeckoView team in order to decide how we could make use of that list.

One complicated thing here is: We do more than just tracking protection (blocking JavaScript, blocking web fonts, ..) and those things are **global** settings and not limited to a specific site (if we want all those things to use

[2018-06-22 09:48] pocmo commented on #953
This would be a great use case for (limited!!) WebExtension support in GeckoView. Otherwise this is going to be a very big project for us.

[2018-06-22 11:08] navin09 opened #2772 "Aggressive blocking seems to be interfering with the loading of certain websites"
I had posted about the issue on the [Mozilla support forums](https://support.mozilla.org/en-US/questions/1222802) and was asked to post a bug report.

### Steps to reproduce

1.  Navigate to http://www.northernaqs.com/ on Firefox Focus

### Expected behavior

Site should load all site related content/css/scripts, except those marked as tracking

### Actual behavior

Site rendering is broken becaus

[2018-06-22 11:27] #1630 closed

[2018-06-22 11:28] bbinto commented on #2328
De-prioritizing due to amount of work and timing

[2018-06-22 11:28] pocmo commented on #937
This should work in GeckoView (this bug is only for WebView) - but it doesn't seem like it does. I can select files but they do not get uploaded.

[2018-06-22 11:29] pocmo commented on #937
* WebView -> Feature
 * GeckoView -> Bug?

[2018-06-22 11:29] bbinto commented on #2127
Great, let's discuss on Monday where this sits in the GeckoView team's priority list + effort

[2018-06-22 11:29] pocmo commented on #856
This is a WebVIew-only issue. GeckoView comes with blocklists and we do not need to update them on our side. I think we can just close this if we intent to switch to GeckoView.

[2018-06-22 12:07] navin09 commented on #2772
After some investigation, we have noticed that this issue occurs only when the option "Block other content trackers" is enabled.  I'm updating the original post to reflect the same.

[2018-06-22 12:43] bbinto commented on #2752
Oh, so @pocmo if we don't decide to include it as a setting, it will just work switching over to GV?

[2018-06-22 12:44] bbinto commented on #2350
@pocmo amazing news, any rough ETA = "not far away" :) ?

Could we start using it for 7.0?

[2018-06-22 12:46] bbinto commented on #2300
@pocmo is this already available to us to use in GV?

[2018-06-22 12:49] bbinto commented on #957
/cc @brampitoyo

This might be something for past 7.0

[2018-06-22 12:50] bbinto commented on #937
Let's keep it simple and only fix the bug for GeckoView (and forget about the WebView aspect)

[2018-06-22 12:51] bbinto commented on #856
\o/ - great news! Ok, let's close it

[2018-06-22 12:51] #856 closed

[2018-06-22 12:57] bbinto commented on #596
@mozkeeler - thanks for adding your expert advice!

So knowing all of this, what are the next steps?
- Discuss with legal/policy (@bbinto)
- Eng estimation - T-shirt size? (@pocmo + @boek)

[2018-06-22 15:45] bbinto commented on #459
@pocmo so we get it for free with WebView, and what/how much is needed from the GeckoView to make this available in the GV build as well?

Maybe something to discuss next Monday.

[2018-06-22 16:29] st3fan opened #2776 "Viewport issue on cnn.com"
### Steps to reproduce

- Install the Beta with GeckoView
- Open cnn.com

### Description

CNN displays this cookie notice now. That is not the bug though - the bug here is that the cookie notice is not properly anchored to the bottom of the screen. The *I Accept* button is therefore not visible until you start scrolling.

I have attached two screenshots that show the initial page load and what ha

[2018-06-22 16:58] ekager commented on #2776
Hey @st3fan or @npark-mozilla the banner doesn't pop up for me in the US, could one of you verify this happens with WebView Beta and if it happens with the current WebView Release? Wondering if this is a regression or a new bug with GV. Thanks :)

[2018-06-22 17:06] bbinto commented on #2659
@pocmo please close once all items in your checklist are done, I assume we are close to done, but moving this to 6.2

[2018-06-22 17:08] pocmo commented on #2659
Done! I'll file a new issue for the "cleanup" as it's not that important.

[2018-06-22 17:08] #2659 closed

[2018-06-22 17:10] pocmo opened #2777 "Remove "internal" Nightly"
Since #2659 we have a public Nightly channel. We can now close our internal track that required a lot of manual whitelisting.

- [ ] Disable taskcluster hook
- [ ] Close internal track of Google Play
- [ ] Clear emails from whitelists
- [ ] Send mail to everyone on the whitelist and tell them to move to the public channel

[2018-06-22 17:17] pocmo commented on #459
First we need to agree on who is responsible for downloading and uploading the lists (app vs. GeckoView). (@fmarier @gcp Does Firefox ship with an initial list or do we always have to download something first?)

After that we need GeckoView APIs to:
* Enable/Disable Safe Browsing
* (Nice to have) callback API so that we can handle hits ourselves
* A way to temporary override this from the [custom?

[2018-06-22 17:20] gcp commented on #459
We do not ship with an initial list. The first list is downloaded about a few minutes after the first startup or so, IIRC.

[2018-06-22 17:24] pocmo commented on #596
I'll add it to the next GeckoView+Klar meeting agenda. We'll have to discuss with the GV team what the best approach here is.

[2018-06-22 17:29] bbinto commented on #2738
@cpeterso will file a GeckoView issue

[2018-06-22 17:30] #1522 closed

[2018-06-22 17:33] bbinto commented on #2553
@ekager already fixed the first issue, will break down the other ones in further GH issues

[2018-06-22 17:35] bbinto commented on #2512
Related to #2603

[2018-06-22 17:40] #2688 closed

[2018-06-22 17:41] #2516 closed

[2018-06-22 18:10] ekager commented on #1365
PR for this open, we can merge whenever product wants this in a release :)

[2018-06-22 20:11] st3fan commented on #2776
It also happens with the current WebView release. When I try in Firefox for Android, it does show the bottom part of that message.

Maybe it is more a general Focus layout issue instead of a WebView/Gecko.

[2018-06-22 20:16] st3fan commented on #2776
I think it is definitely a more general viewport issue .. the same thing happens on maps.google.com. See these screenshots of Focus vs Firefox.

The height of the "Tap to see quick actions" bar is roughly the same as the Android toolbar at the bottom, maybe that is a good hint of what goes wrong here.

![device-2018-06-22-161328](https://user-images.githubusercontent.com/28052/41797305-8e9280f8-76

[2018-06-22 20:55] ekager commented on #2776
Thanks @st3fan ! This problem is caused by the swipe refresh layout, which is currently disabled for all builds. Can I take it out entirely @bbinto or are we still thinking about reactivating it?

[2018-06-22 21:56] #2763 closed

[2018-06-22 22:09] jonisavage commented on #2740
Hi @bbinto and @mcomella, I'd be happy to update the article if I can get answers/details for the missing information as they're beyond my expertise.

I was going to phrase these new sections as:

1. Are the autocomplete lists stored locally on my device?
2. If I have Firefox Focus's "Send usage data" off, will it still send information about my autocomplete list?
3. Does Firefox Focus support sel

[2018-06-22 22:11] ekager commented on #2776
This was actually introduced by Swipe to Refresh but was caused specifically when the appbar_scrolling_view_behavior was moved from IWebView to SwipeRefreshLayout

[2018-06-22 22:40] liuche opened #2779 "Signing task of build/sign/push pipeline doesn't rename *-unsigned.apk to *-signed.apk"
### Steps to reproduce
It looks like the signing task log is fetching the signed apks from scriptworker, but not renaming them:

[code]

https://taskcluster-artifacts.net/AsA3BQ8RQaSj9C9DgquKyQ/0/public/logs/live_backing.log

### Expected behavior

Task should rename apk file to *-signed.apk. (@pocmo @JohanLorenzo I'm not sure where this script is, I assume it's not https://github.com/mozilla-mobi

[2018-06-22 23:30] ekager opened #2780 "Accessibility - Other Cards in First Run are "visible" when using a Screen Reader"
The other cards in the first-time-use screen carousel are "visible". Here I swiped right to the next card, and I am being read it's contents even though it is not visible on the screen.

<img alt="I am hearing about changing the default search engine, but I am still on the welcome private browsing card" src="https://user-images.githubusercontent.com/5764/39452555-721540a2-4c87-11e8-93d3-ec508574e8

[2018-06-22 23:33] ekager opened #2781 "Accessibility - First Run carousel tabs are not labeled"
The carousel's breadcrumbs(?) are not labeled. The current one will say "selected", but that's it. How should they be exposed? Not sure. Google's "Docs" app has a ftu too, and the dots are simply not accessible to the screen reader. I would label them "screen 1", "screen 2", "screen 3", "screen 4". and then you would hear "screen 2, selected", when in the second screen and you can get to the other

[2018-06-22 23:34] ekager opened #2783 "Accessibility - Loading Pages"
### Page Loading ###
- [ ] When loading starts the app should announce "loading", or "loading example.com". Alternatively, the focus could go to the progress bar, I think that is what Chrome does.
- [ ] When page finishes loading, the focus should go to the WebView where the page title is read.

The latter point is also important for internal links (all the help buttons in the UI that open a URL)

[2018-06-22 23:35] ekager opened #2784 "Accessibility - Erase Button"
### Erase Button ###

- [ ] When being used with a screen reader the erase button should never go away. In other words, scrolling should not make it disappear.
- [ ] It would be cool if you would immediately hear "your browsing history has been erased" when tapping the erase button instead of hearing about the new focus location, and keyboard. Don't know how to pull that off.

[2018-06-24 16:41] bbinto commented on #596
Top 3 Fennec web extension: https://docs.google.com/spreadsheets/d/1drGq4JiIIMBUULAl01g3t8Bh3EKrSJM5N2Bv5RBNmGI/edit#gid=0

[2018-06-24 18:07] williamruckman opened #2786 "Firefox Focus for Android (mod_rewite with 301 or 302 from http to https failure)"
Firefox Focus is not following mod_rewrite redirect with 301 or 302 from http to https URLs.

### Steps to reproduce
Go to a website using http that redirects to https using mod_rewrite of 301 or 302 code.
Example: http://ruckman.net

### Expected behavior
The browser will redirect to the secure https URL.
Example: https://ruckman.net

### Actual behavior
Browser hangs as if it is loading the page

[2018-06-24 23:31] brampitoyo commented on #1616
@pocmo There are good arguments both for and against having the “Accept the Risk” feature.

Against “Accept the Risk”: opening risky links doesn’t sound like something that a privacy-focused browser should encourage.

Pro “Accept the Risk”: there’s no safer way to open risky links than by using Firefox Focus, because we can block malicious elements by default, and the user can back out in one step

[2018-06-25 00:47] brampitoyo commented on #2594
What you can always pinch-to-zoom on every website by default, without a way to turn it off?

This is good for 2 reasons:

1. If publishers design websites correctly for mobile, it will handle pinch-to-zoom without breaking elements.
2. “Let Users Control Font Size” is important for usability, and aligns with our principle of giving control back to the user.

Will this introduce unintended consequ

[2018-06-25 02:12] TPS commented on #2594
https://stackoverflow.com/questions/7121053/how-to-enable-zoom-controls-and-pinch-zoom-in-a-webview for code & tips.

[2018-06-25 02:55] Lululalu opened #2787 "Let the user choose where to save files"
### Why/User Benefit/User Problem

Instead of saving pictures in the Download folder, Focus creates a new folder called Pictures. This way WhatsApp can't find the images and I have to find it manually.

### What / Requirements

An option that let the user choose where to save the downloads with the download folder as the default location.

### Acceptance Criteria (how do I know when I’m done?)

--

[2018-06-25 05:16] levimatheri commented on #2556
What about [this](https://github.com/levimatheri/focus-android/commit/65b6c49ae3eb71f8f2247fc59c04c8dc2a394f6a) for a start? It's only UI for now, almost identical to CustomDomains

[2018-06-25 08:54] JohanLorenzo commented on #2779
Thanks for filing this issue @liuche. We haven't encountered that issue in Fennec before, because we keep naming the file `target.apk` after each task. Therefore, I think the easiest solution is to name focus and klar in a generic manner.

If you'd prefer a fix in the worker. The call stack is the following:
* https://github.com/mozilla-releng/signingscript/blob/9367421c388b0e83186ca254b229305a933

[2018-06-25 09:18] pocmo commented on #2769
One last error is left:

[2018-06-25 09:19] pocmo commented on #2769
Just noticed there are also some warnings:

[2018-06-25 09:20] pocmo opened #2788 "Invalid XHTML in 'af' translation"
Form the importer:

[code]

[2018-06-25 09:20] pocmo commented on #2788
CC @Delphine

[2018-06-25 10:08] pocmo commented on #2786
Only WebView version is affected.

[2018-06-25 10:14] pocmo commented on #2752
This doesn't seem to be enabled by default in GV (it's also off by default in Fennec).

File an issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1470839

Once we can enable it we can decide on whether it should be just on for everyone or whether we want to show a setting for it.

Yes, that's true for our native Android UI. However web content doesn't scale accordingly currently.

[2018-06-25 10:57] J0WI commented on #596
@bbinto could you make this document public? It's not accessible without logging in.

[2018-06-25 11:18] bbinto commented on #596
@J0WI sorry I can't open this document for you, however took a screenshot for context re my comment.

<img width="202" alt="screen shot 2018-06-25 at 7 17 57 am" src="https://user-images.githubusercontent.com/122897/41847444-fd96f8e6-7847-11e8-8e66-7b5cd38e7fb9.png">

[2018-06-25 11:41] bbinto commented on #2740
Thanks @jonisavage
@boek could you please help answer the tech questions (if @mcomella is busy with Firefox for Fire TV).

[2018-06-25 12:40] pocmo commented on #2780
Oh, wow. That's just Android's ViewPager. Pretty bad that it does that by default.

[2018-06-25 12:44] pocmo commented on #2594
This exists in Fennec: Settings -> Accessibility -> Always enable zoom (Off by default)

[2018-06-25 12:49] pocmo commented on #596
pct_users is _percentage of users with addons_ (e.g. 40% of users with add-ons use ublock) and not _percentag of all users_ (40% of all users use ublock), right?

[2018-06-25 13:07] bbinto commented on #596
Correct, @pocmo 40% of Fennec release users with add-ons use ublock, and overall ~27% of Fennec users have an add-on installed.

[2018-06-25 13:09] Cheap-Skate opened #2789 "Bug: Content moves faster than finger during drag scrolls where toolbar hides"
* make sure top toolbar is visible
* finger drag page content slowly upwards
* watch carefully the content where finger touches the page
* the content moves faster than the finger while the toolbar slides out of view
* after the toolbar disappears, the content moves correctly with the finger

This is quite disconcerting - the content runs away ahead of my finger :)

This problem occurs on Focus We

[2018-06-25 13:13] pocmo opened #2790 "Expose build flavor in Sentry"
When seeing a crash in Sentry it's helpful to know what build flavor this is (e.g. klarGeckoAarch64). We can get that value from BuildConfig.FLAVOR.

[2018-06-25 13:15] pocmo opened #2791 "Initialize Sentry from FocusApplication"
Currently we initialize Sentry from MainActivity.onCreate(). A lot of other code runs before that and if this code crashes then we do not see it in Sentry.

We should initialize Sentry from FocusApplication.onCreate(). That's the earliest point where we have a `Context` object.

[2018-06-25 13:18] pocmo commented on #2789
This has been discussed for WebView in #304

[2018-06-25 15:42] pocmo opened #2792 "Make engine choice a runtime option"
We want to switch from WebView to GeckoView soon. In order to roll out GeckoView gradually, while monitoring telemetry and chrashes, we want to be able to ship with both engines and decide at runtime which one to use. This will allow us to do a staged rollout and A/B test the engine.

Currently the choice of engine is a compile time option. For this to work we would have to make it a runtime optio

[2018-06-25 16:35] #2781 closed

[2018-06-25 16:36] #2725 closed

[2018-06-25 17:07] Delphine commented on #2788
I think this should be corrected now. thanks for filing

[2018-06-25 17:21] rpappalax opened #2793 "Fix assert failure in SearchEngineSelectionTest.java"
failing on firebase, probably due to intermittent failure of waitUntilGone method:
https://console.firebase.google.com/project/moz-fx-mobile-firebase-testlab/testlab/histories/bh.2b4ca2c7fdb2f0f0/matrices/4952217569818313728/executions/bs.1e8033a2e724698c/test-cases

[2018-06-25 17:23] Delphine commented on #2769
I invalidated those strings, and contacted localizers again about this. Sorry for the hassle :/

[2018-06-25 17:28] pocmo commented on #2769
No problem. :)

Looking forward to the new strings.xml problem which will prevent those errors at input time on Pontoon :)

[2018-06-25 17:36] pocmo commented on #1616
That was the result of the meeting with the GV team too. We may be able to implement the version with "Open in..." now without new APIs and later can try to build the "risk override" version once there is a more evolved "custom error page API".

For option “Open In…” we would:
 * Intercept about:certerror loads so that we can inject our own error page
 * Create a new error page for the new design

[2018-06-25 17:38] Cheap-Skate commented on #2789
My issue is slightly different (but perhaps has the same cause).

I don't really care how the content moves relative to the URL bar, that seems pretty minor.

But I do care how the content moves relative to my finger

Is #304 this worth looking at again? I am surprised by the answer which seems to be "it's an Android bug".

I have loads of apps, including browsers, which behave correctly, and only

[2018-06-25 17:39] alessiosacco opened #2796 "Improve touch area for small targets"
### User Problem
Enhance the user experience when trying to click a small button.

### What
For some small targets in a web page, touching to click does not work reliably. In particular, in any comment section of Hacker News, collapsing the comment tree is very hard. Even when trying to click the [-] link, the click is usually not registered. This is a problem only for Firefox, not for Chrome.

Ex

[2018-06-25 17:49] pocmo commented on #2788
Import works again!

[2018-06-25 17:49] #2788 closed

[2018-06-25 17:49] pocmo commented on #2769
Import works again!

[2018-06-25 17:49] #2769 closed

[2018-06-25 17:50] pocmo commented on #929
Closing: This is half automated and the L10N team is working on making their tools support Android projects.

[2018-06-25 17:50] #929 closed

[2018-06-25 18:15] #1511 closed

[2018-06-25 18:15] bbinto commented on #820
@pocmo is this already working? What work is left to do?

[2018-06-25 18:17] bbinto commented on #1349
@brampitoyo can this be closed in favour of our upcoming redesign / Android P?

[2018-06-25 18:30] pocmo commented on #820
No. The screenshot above is from a hack prototype to try whether that would be possible at all.

I assume we only want to do that for video content that is playing in full-screen. We know whether we are in full-screen in GeckoView - however we do not know if a video is playing. Briefly talked to the GV team and they were thinking about adding some media APIs that would allow us to do that.

[2018-06-25 18:31] pocmo commented on #820
For the record: PiP support comes with Android 8+ (which seem to be surprisingly ~30% of our users)

[2018-06-25 19:40] cpeterso commented on #2738
I filed [Firefox bug 1470988](https://bugzilla.mozilla.org/show_bug.cgi?id=1470988). If Focus+GeckoView's progress bar behaves like Chrome's and Fennec's, then this might be an issue in Focus+WebView (that we won't need to fix).

[2018-06-25 21:45] agbanagba commented on #2791
Hello i would like to work on this issue. Can anyone help on how to go about this as this is my first time contributing to open source. Thanks

[2018-06-25 22:39] brampitoyo commented on #1349
Yes. This should be closed because it’s a dupe of #2682.

[2018-06-25 22:39] #1349 closed

[2018-06-26 01:36] brampitoyo commented on #1616
This is a bit problematic. I was hoping that every manufacturer would ship with a general purpose browser preinstalled, and that Focus will be the one either set as a secondary, or one downloaded by the user later.

Can we somehow take advantage of “plain webview” to offer a browser-within-a-browser experience? This feels overthinking and overcomplicating things – but it’s an edge case, after all!

[2018-06-26 01:38] brampitoyo commented on #2594
If there’s a precent from Fennec, let’s do exactly what they’re doing in our product.

[2018-06-26 01:41] brampitoyo commented on #2752
@pocmo Like #2594, this seems like a feature that we can adopt and adapt directly from Fennec without the need to reinvent the wheel.

Like that issue, the question becomes “Do we want to have accessibility settings like Fennec, or turn it on by default without a way to toggle it off?”

[2018-06-26 02:11] brampitoyo commented on #2711
@adikul30 I think what would help the most is if you could investigate the limitations of App Actions and Slices.

Let me start with two examples:

1. While Firefox Focus is running, I can type “Delete”, “Erase” or “History” in the search box, and an app action to erase my browsing history is shown.

<img src="https://user-images.githubusercontent.com/51007/41885132-afb15dca-794a-11e8-97b3-f79b05f

[2018-06-26 12:03] pocmo commented on #2752
For reference.. this is the bug where we implemented this for Fennec:
https://bugzilla.mozilla.org/show_bug.cgi?id=1328868

[2018-06-26 12:11] pocmo commented on #2791
Sure!

Follow the README to get a local copy of Focus and build it in Android Studio:
https://github.com/mozilla-mobile/focus-android/blob/master/README.md

We need to move the code that initializes Sentry from MainActivity....
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/activity/MainActivity.java#L57

to FocusApplication:
https://github.com/mozi

[2018-06-26 12:56] bbinto commented on #2752
Probably via setting.

@pocmo I assume dependency on GeckoView which means waiting until past 62?

[2018-06-26 12:59] pocmo opened #2801 "Use 62 beta builds of GeckoView"
(At the time of writing this issue there's no beta 62 release of GeckoView yet!)

Finding the right URL for a Beta release is a bit more complicated currently.

* First we will have to look at the tags on the `mozilla-beta` repository:
https://hg.mozilla.org/releases/mozilla-beta/tags

* Find the latest beta release tag. They look like this: ``FENNEC_61_0b13_RELEASE`` (With Fennec we build GeckoVi

[2018-06-26 13:00] pocmo commented on #2801
There's no 62 release build yet. But it should appear today/tomorrow.

[2018-06-26 13:03] pocmo commented on #2752
Yes. Potentially this change may be small and a good candidate for uplifting.

[2018-06-26 13:10] bbinto commented on #2752
@pocmo would you mind finding/filing a bugzilla bug for this.

[2018-06-26 17:22] pocmo commented on #2801
FENNEC_62_0b3_RELEASE is now available.

[2018-06-26 17:40] Cheap-Skate commented on #2789
Re #304

Phonograph seems to use CoordinatorLayout and appbar_scrolling_view_behavior and the page content follows my finger correctly as the toolbar hides  i.e. it does not seem to exhibit issue #2789 or #304.

https://github.com/kabouzeid/Phonograph
https://play.google.com/store/apps/details?id=com.kabouzeid.gramophone&hl=en_GB

I  bet lots of other apps do. Most of my apps seem to behave like P

[2018-06-26 17:40] Cheap-Skate commented on #304
Phonograph seems to use CoordinatorLayout and appbar_scrolling_view_behavior and the page content follows my finger correctly as the toolbar hides i.e. it does not seem to exhibit issue #2789 or #304.

https://github.com/kabouzeid/Phonograph
https://play.google.com/store/apps/details?id=com.kabouzeid.gramophone&hl=en_GB

I bet lots of other apps do. Most of my apps seem to behave like Phonograph (

[2018-06-26 17:51] Lululalu opened #2802 "DuckDuckGo without JavaScript"
DDG has a version that works nice without JavaScript. When you have JavaScript disabled, it redirect you, but the redirecting process take some annoying time. Can you change the DDG URL for searches by default when the user disable the JavaScript, so it gets faster?

Thanks

[2018-06-26 19:10] adikul30 commented on #2711
@brampitoyo So just to be clear, by limitations, you mean you want to know if the above mentioned examples (or similar) are possible ?

[2018-06-26 20:20] digitarald commented on #2647
Related: https://twitter.com/snorp/status/1010562965555367937

[2018-06-26 20:22] digitarald commented on #2647
During all hands, one idea as first step was to simply enable remote debugging by default on dev/nightly builds.

[2018-06-26 20:30] ekager commented on #2647
In theory, all GV builds are currently debug or nightly builds. Should we turn this on for all GV builds now and turn it off before release? Or we could add a setting to turn it on for all GV builds?

[2018-06-26 20:33] #2793 closed

[2018-06-26 21:29] rpappalax opened #2804 "DownloadTest.java is failing (intermittent)"
### Steps to reproduce
Run automated test on Firebase causes intermittent fail.
Looks like it may be failing on request ALLOW for media/file access (on new device)

### Expected behavior
Should select ALLOW if prompted for media access (if necessary)

**screen 1**
![image](https://user-images.githubusercontent.com/3699494/41940248-f4a78d4e-794c-11e8-839d-e4305c4b2f27.png)

**screen 2**
![image](ht

[2018-06-26 22:09] boek opened #2806 "What's new link for 6.0"
We need a what's new link for Focus 6.0

[2018-06-26 22:11] Sdaswani commented on #2806
@boek can you give a high level overview with links to tickets for all the 6.0 features here for Joni’s benefit?

[2018-06-26 22:53] boek commented on #2806
* #967 Find in page

* #2454 HTTP Auth support

* #822 Request desktop site

Am I missing anything @bbinto?

[2018-06-26 23:05] boek commented on #2806
Checked with @bbinto, looks good!

[2018-06-27 07:10] agbanagba commented on #2791
Thanks i would send a PR when i'm done.

[2018-06-27 07:14] cadeyrn opened #2807 "[GeckoView] input fields not usable"
### Steps to reproduce

1. install Firefox Klar Nightly with GeckoView
2. open google.com
3. try to enter "wiki" in the search field

It's not Google specific, the same problem exists on all input fields

### Expected behavior

- after 1. character: "w" in the search field
- after 2. character: "wi" in the search field
- after 3. character: "wik" in the search field
- after 4. character: "wiki" in

[2018-06-27 07:19] cadeyrn opened #2808 "[GeckoView] click on link in another app does not open the page, Firefox Klar still shows the previous website"
### Steps to reproduce

1. install Firefox Klar Nightly with GeckoView
2. make Firefox Klar your default browser
3. click an link, for example in the twitter app, to open a page in Firefox Klar
4. go back to the other app and click another link

### Expected behavior

- the new page of step 4 is opened in Firefox Klar

### Actual behavior

- there is still the old page of step 3 opened in Firefox.

[2018-06-27 12:03] bull500 commented on #2772
Unable to load even after disabling all kinds of blockers https://fedoramagazine.org

[2018-06-27 12:41] Sav22999 commented on #2807
This happens also for Firefox Focus 6.0 Build 221771206 (android 8.0 device Lg G6)

[2018-06-27 13:39] agbanagba commented on #2791
Hi @pocmo I have made a pull request but i don't know why it failed the Taskcluster check.

[2018-06-27 17:02] jonisavage commented on #2806
Hi all, here's the link you can use: https://support.mozilla.org/1/firefox/%VERSION%/%OS%/%LOCALE%/whats-new-focus-android-6

I'll have a draft ready for you to review today.

[2018-06-27 17:28] Cheap-Skate opened #2811 "Focus GeckoView:- Consider disabling paint skipping for smoother scrolls"
On Fennec Nightly I see smoother scrolling with paint skipping disabled. On a mid to high end phone (Sony Xperia X Compact). Not so much on a low end phone (Moto E4). Medium speed drag scrolls.

I filed this bug on Fennec but... They Don't Believe Me ;) (grrrrr!):- https://bugzilla.mozilla.org/show_bug.cgi?id=1432019

I see a similar scroll stutter on Focus GeckoView. I bet disabling paint skippin

[2018-06-27 17:33] #2801 closed

[2018-06-27 17:57] bbinto commented on #2452
@bbinto @mmccorks to confirm how many users are accessing the cookie management

[2018-06-27 18:08] ekager opened #2812 "Closing a custom tab closes a normal tab in Focus"
### Steps to reproduce
1. Set Focus as your default browser
2. Open a page in Focus
3. Go to an app that supports Custom Tabs and open a link
4. Close the custom tab
5. Go back to Focus

### Expected behavior
Your normal session is still there

### Actual behavior
Closing the custom tab closes the page (or one of the tabs)

### Device information
For GeckoView and WebView

[2018-06-27 18:11] ekager commented on #2808
The Twitter app doesn't launch a custom tab, just a normal browsing session with the link you click so it makes sense that the step 3 link would remain. Is it displaying Step 3 and Step 4 link? Am I misunderstanding the bug?

[2018-06-27 18:11] bbinto commented on #1930
@brampitoyo - what happens if somebody uses a custom search engine (that doesn't provide search suggestions), and has search suggestions turned on?

[2018-06-27 18:17] bbinto commented on #459
@pocmo @mmccorks - Sebastian, do we know what % of our current Focus user base gets Webview 8.1?

[2018-06-27 18:19] mcomella opened #2814 "GeckoView (Focus) fails to load a few pages"
### Steps to reproduce
- Visit one of the following pages:
  - apple.com
  - https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996 (you can visit by going to weather.gov and searching for San Francisco)

### Expected behavior
Page loads

### Actual behavior
Page never loads; url oscillates between about:blank and the page url

### Device information

* Android de

[2018-06-27 18:19] cadeyrn commented on #2808
That's strange, yesterday it happened several times but now I can no longer reproduce the issue.

The problem was that when I had one open tab in Klar and I tried to open another link only the old page was opened in Firefox Klar and the new page was not there at all.

Since I can't reproduce my own report this issue should probably be closed. If I have a similar issue in the future I will report b

[2018-06-27 18:27] bbinto opened #2816 "Provide in-app communications to users about new or existing features"
### Why/User Benefit/User Problem
- Help users explore new features that might be useful for them

### What / Requirements
- Build a control (outside of app releases)
- Show hint inside app (e.g. home screen)
- Setting to turn of hints
- Should it be built as an Android component?
- Define locale (we might want to run it for US/CA only)

### Acceptance Criteria (how do I know when I’m done?)
- All

[2018-06-27 20:04] Sdaswani commented on #2816
@pocmo @csadilek do you think building this as an android component makes sense? We would want to use them in Fenix, at least.

[2018-06-28 00:03] #2731 closed

[2018-06-28 02:03] cpeterso commented on #2114
This bug probably doesn't need to block the Focus 7.0 milestone because Emily has a workaround and few users will need to know their GeckoView version. :)

[2018-06-28 02:06] cpeterso commented on #2250
This polish bug probably doesn't need to block the Focus 7.0 milestone. The blocking [Firefox bug 1445285](https://bugzil.la/1445285) is a P2, meaning it probably won't be fixed for GeckoView 62.

[2018-06-28 02:12] cpeterso commented on #2196
I think we can close this bug. [Disconnect blocklist bug 1459037](https://bugzil.la/1459037) was fixed last week and I no longer see ads on m.heise.de or m.9gag.com.

[2018-06-28 02:15] cpeterso commented on #2494
@ekager - Are Focus+GeckoView crashes showing up in the Sentry dashboard? Can we close this bug? The [GeckoView crash reporting bug 1433968](https://bugzil.la/1433968) was fixed two months ago.

[2018-06-28 03:52] brampitoyo commented on #1930
@bbinto You’ve brought up a really important point!

For this scenario to happen, the user’s default search engine will have to be one that isn’t in our list, and one that doesn’t have search suggestions. Thankfully, I think that this scenario won’t be in the majority.

I think that we should try to detect whether the search engine supports suggestions or not. The “brute force” way to do this is t

[2018-06-28 08:19] pocmo commented on #2114
Don't we display the GeckoView version on the about page already?

[2018-06-28 09:06] pocmo commented on #2196
Yes, this looks good here too!

[2018-06-28 09:06] #2196 closed

[2018-06-28 09:08] pocmo commented on #2250
We should first decide what to do with the animation: Keep it as-is even though it does only animate the toolbar or disable it (cc @brampitoyo)

[2018-06-28 10:33] pocmo commented on #1930
Yeah, we already know if a search engine supports search suggestions (all our plugins provide that data). Custom search engines will never provide search suggestions as we do not read any search plugin XMLs from the websites but let the user manually enter some search URL.

I think just showing no suggestions (and no opt-in) sounds good. It's our current behavior and the default anyways.

[2018-06-28 10:37] pocmo commented on #2816
Yes, absolutely! That's what I wrote on Slack today too :D

We will need to define what exactly the component can/should do. But apart from that I 100% agree: We wanted to have contextual hints in all our apps (even way back in Fennec) but we never got to it because it requires a good amount of work. It would be great if our components could provide enough tools so that this will be easy to add to

[2018-06-28 10:39] pocmo commented on #2812
Seeing there is a PR... can we move this into the next milestone?

[2018-06-28 10:42] pocmo commented on #2814
I can't reproduce on my Pixel XL (Android 9) - Klar 6.0 / 221771206 / 62.0.20180625100038

[2018-06-28 10:46] pocmo commented on #459
@bbinto Initially this was only available for new versions of Android. But in April they announced that they will ship this in WebView for all versions: https://android-developers.googleblog.com/2018/04/protecting-webview-with-safe-browsing.html

[2018-06-28 10:50] pocmo commented on #2791
@agbanagba Thank you! I'll comment on the PR.

[2018-06-28 10:52] pocmo commented on #2807
Upstream issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1470786

[2018-06-28 10:57] pocmo commented on #2647
@brampitoyo Are you okay with adding a setting?

Fennec has: Settings -> Advanced -> Developer tools -> Remote debugging via USB/Wi-Fi

Having this setting in all our versions (including release) will be helpful to debug web issues (for us, but also regular web developers).

We can do that. We should only make sure to file a separate release blocker issue to not ship that. :)

[2018-06-28 10:57] pocmo commented on #304
They all scroll native UI and not web content though.

[2018-06-28 11:14] pocmo opened #2818 "Override icon for Nightly track"
It would be helpful to override the icon for Nightly builds so that users can easily see that they are on the Nightly track.

~I do not want to add a new release type to build.gradle because this will slow down everything (more variants to build) for no reason but a different icon. We just got rid of the Beta type and want to remove the Coverage type too: #2313~

[2018-06-28 11:35] Cheap-Skate commented on #304
OK fair enough. Perhaps explains why some WebView browsers don't hide the toolbar on a drag scroll, only on a fling. Pretty crappy Android bug. Thanks for your time.

[2018-06-28 13:27] pocmo opened #2819 "Does the Nightly track remove app data?"
Some users mentioned that after subscribing to Nightly their app data was reset (e.g. saved autocomplete domains were lost). That's scary and I have no idea why that would happen. I do not care so much about that happening with Nightly... but I think we should make sure that's not just a bug in our app and will happen to all users on some update.

[2018-06-28 13:28] pocmo commented on #2819
@npark-mozilla Can you take some old actual releases and update them up to the latest 6.0 RC and see if data gets lost?

[2018-06-28 15:42] #2812 closed

[2018-06-28 17:15] mcomella commented on #2814
I just updated and can still reproduce on apple.com (didn't check weather): Focus 6.2 / #121791209 / 62.0.20180625141512.

[2018-06-28 17:18] mcomella opened #2820 "Focus/Klar + GeckoView version numbers are difficult to type"
Problems:
- Typing them is error-prone
- It takes a long time
- It discourages bug filing when I have to type ^ out :)

This is especially bad if you're on nightly and the versions change frequently.

[2018-06-28 18:15] SeburoSUMO opened #2822 "Override icon for Beta track"
It would be helpful to override the icon for Beta builds so that users can easily see that they are on the Beta track.

(Clone of issue https://github.com/mozilla-mobile/focus-android/issues/2818)

[2018-06-28 18:19] ekager commented on #2807
Hi @cadeyrn or @Sav22999 is this still happening in the latest Nightly?

[2018-06-28 19:02] Sav22999 commented on #2807
If the latest versione is 6.2 #221791209, yes, it's still present.

[2018-06-28 19:03] cpeterso opened #2823 "Create a new "NIGHTLY" app icon for Focus/Klar nightly track builds"
### Why/User Benefit/User Problem

Some Focus Nightly testers are confusing that nightly builds use the "DEV" app icon.

![](https://raw.githubusercontent.com/mozilla-mobile/focus-android/master/app/src/debug/res/mipmap-xxxhdpi/ic_launcher.png)

### What / Requirements

We should create a new "NIGHTLY" app icon for official Focus Nightly builds, similar to the "BETA" app icon. The "DEV" app icon s

[2018-06-28 19:21] npark-mozilla commented on #2819
I tried it by building and installing debug/release build of 4.0 , and then installing debug/release builds of 6.0 by adb install -r command.  After the 'upgrade' the apps all retained the autocomplete settings / search engine selection, and custom search engine list.

[2018-06-28 19:22] ekager commented on #2822
From @pocmo "Beta is deliberately a release build with no modifications. Good Beta builds get promoted to release on Google Play with no rebuilding."

Closing, but leaving #2818 for a new icon for nightly

[2018-06-28 19:22] #2822 closed

[2018-06-28 19:35] npark-mozilla commented on #2819
However, we did find an intermittent possible sqlite error in google firebase, and @rpappalax will be filing a bug shortly.

[2018-06-28 19:40] Sdaswani commented on #2816
Thanks @pocmo ! I think the UX side of things is still up for creation by Bram and Amin, but one thing we definitely need is a local event and trigger system to fire the UX side of things. Can we get started on that?

Some ideas / questions:
- Should the telemetry library start caching 'local' and 'remote' events, the latter of which get sent up to UT?
- Would Remote Settings be able to send down

[2018-06-28 20:07] cadeyrn commented on #2807
Yes, it's still an issue.

[2018-06-28 21:09] ekager commented on #2814
Thanks @mcomella . I can't reproduce on any of my devices or emulators, so may need to play with your phone next week...

[2018-06-28 21:09] RomanWuattier commented on #2790
Hey, can I work on this one?
I didn't use Sentry yet. Should I record a breadcrumb in the current context and build a message containing the current flavor?

[2018-06-28 22:27] ekager opened #2824 "Remove Remote Debugging Before Release"
I'm enabling remote debugging so that we can continue to improve GV performance but we should take it out before release :)

[2018-06-29 09:11] pocmo commented on #2823
* Nightly builds do not actually have the "Dev" logo. They get the regular release icon. #2818 is about creating a separate logo and changing that in Nightly builds.

* Beta builds get the regular release icon and are 100% release builds. That's on purpose so that we can promote good Beta builds in Google Play from Beta to Production without rebuilding anything.

[2018-06-29 09:11] #2823 closed

[2018-06-29 09:14] pocmo commented on #2820
Is there anything we can do about that? We can't change the version numbers ... on the device you can copy&paste them though. :)

[2018-06-29 09:15] pocmo commented on #2814
@mcomella Do you have a non-default blocking settings?

[2018-06-29 09:19] pocmo commented on #2790
Yeah, looking at crashes on Sentry a tag seems to be a good way to expose that!

[2018-06-29 09:19] pocmo commented on #2818
While we are at it... for Sentry it would be nice to attach this to the version name too (e.g. 6.2-nightly)

[2018-06-29 11:35] pocmo commented on #2816
Thanks @Sdaswani! I filed https://github.com/mozilla-mobile/android-components/issues/351 and copied some things over.

[2018-06-29 12:31] pocmo opened #2826 "Remove (or move) string references and arrays from strings.xml"
error_connect_title and others are for specific use cases and should not be in our strings that we translate (to avoid that all our translation tools have to deal with them).

Once we have done this here we should do this for Firefox for Fire TV too.

[2018-06-29 14:40] ekager commented on #2647
Reopening because GV team has informed me turning it on for all builds will slow start up. We should update to put it behind a setting.

[2018-06-29 14:47] bbinto commented on #2806
thanks @jonisavage - looking forward to review it.

[2018-06-29 15:01] yoasif opened #2828 "Navigating back to previous page forgets scroll position after initial load on New York Times"
When reading articles on nytimes.com, I have found that going back to the previous page takes me back to the top of the page instead of where I was before I went to a new page.

### Steps to reproduce

1. Open https://mobile.nytimes.com/2018/06/29/briefing/supreme-court-capital-gazette-sicario.html?action=click&module=Briefings&pgtype=Homepage
2. Click on a linked article that is partway down the

[2018-06-29 15:02] pocmo commented on #2647
Oops. I thought you are on PTO today and wanted to merge it early. :)

[2018-06-29 15:14] pocmo commented on #2828
I couldn't reproduce this (62.20180625100038; Pixel XL, Android 9). I opened nytimes.com, waited for it to load, scrolled down, clicked on an article, waited for it to load, clicked back.... and it loaded the previous page in the same scroll position as before.

[2018-06-29 15:14] yoasif opened #2829 "Google News loads slowly with GV"
Every time I navigate to Google News, I get an unresponsive script warning.

### Steps to reproduce

1. Navigate to: https://news.google.com/?hl=en-US&gl=US&ceid=US:en

### Expected behavior

No warnings, page loads.

### Actual behavior

I see a warning about an unresponsive script, and I must click continue to move forward.

![signal-attachment-2018-06-29-110809](https://user-images.githubuserco

[2018-06-29 15:14] pocmo commented on #2828
@npark-mozilla Can you test this too?

[2018-06-29 15:17] yoasif commented on #2828
@pocmo Does the page appear to continue loading after you click back? It does for me, and initially starts in the same scroll position, but jumps back up to the top of the page after a few seconds.

Might be because my device is slower than yours?

[2018-06-29 15:29] pocmo commented on #2828
I tried again and it doesn't appear loading and doesn't jump back after waiting for a while.

[2018-06-29 15:31] pocmo commented on #2829
Yep, I am seeing this too. It loads for quite a while (nothing rendered) and then I get the popup. At the same time the page appears behind the popup.

[2018-06-29 15:32] yoasif commented on #2828
I hate to belabor the point here, but it works okay on nytimes.com -- did you try starting from

https://mobile.nytimes.com/2018/06/29/briefing/supreme-court-capital-gazette-sicario.html?action=click&module=Briefings&pgtype=Homepage

and clicking a link from there?

[2018-06-29 15:43] pocmo commented on #2828
Yes, I did. Oh, and if I'm not able to reproduce then this doesn't mean we do not care! :) I'll wait what @npark-mozilla reports back - He'll be able to test more thoroughly. Also @snorp mentioned that this could be related to bfcache and that this may have been unreliable in Fennec too.

[2018-06-29 15:48] yoasif commented on #2828
Sorry, I was unsure whether my edited comment would produce an email notification on GitHub, so I just wanted to make sure we were on the same page (since my reading of your comment was that you tried nytimes.com).

Apologies if I was mistaken on my initial reading, thanks for trying to reproduce!

[2018-06-29 16:29] yoasif opened #2830 ""Continue with Facebook" link missing text on Slickdeals deal page"
### Steps to reproduce

1. Navigate to https://slickdeals.net/f/11750439-new-amd-ryzen-7-2700x-8-core-3-7-ghz-socket-am4-105w-yd270xbgafbox-processor-246-ac-ebay-free-shipping-246-49
2. Scroll down to "Get more deals from Slickdeals" section

### Expected behavior

There are two styled links: "Continue with Facebook" and "Continue with Google" with text present. This is how it appears on Fennec an

[2018-06-29 21:09] rpappalax opened #2831 "Frequent native crash on Nexus 6, API Level 23 w/ SimpleToggleTest, ForegroundTest"
#### Summary ####
Native crash occuring frequently (though intermittent) on Nexus 6, API Level 23  due to Null pointer de-reference triggered by SimpleToggleTest and ForegroundTest

**SimpleToggleTest**

firebase console:  https://goo.gl/zcMXHs
logcat:  https://goo.gl/uBVHed

Null Pointer de-reference occurs after string injection:

[code]

**ForegroundTest**

firebase console:  https://goo.gl/ZHz

[2018-06-30 10:17] RomanWuattier commented on #2790
Hey, the PR add a `BUILD_FLAVOR` tag to future events. If a lower camel case tag or another name fits better, let me know.

[2018-07-01 23:51] brampitoyo commented on #2647
Yes. Adding this section sounds good to me.

Our “Advanced” section in setting should be described as follows:

In terms of placement, “Advanced” should be positioned above “Make default browser”.

Every section in Settings is supposed to have an icon. Unfortunately, we don’t currently have one for “Advanced”, but it’s okay for the time being. Just leave it blank.

[2018-07-02 00:53] brampitoyo commented on #1930
Let’s stick with this behaviour, then.

[2018-07-02 01:03] brampitoyo commented on #2250
@pocmo What if the current tab fades to pure white before it shrinks? This way, we essentially only animate a white-coloured box and not the actual web content.

[2018-07-02 05:48] brampitoyo commented on #2816
From the UX side of things, I know that our team has come up with a Firefox In Product Communications strategy. As far as I know, it’s only been applied to desktop, but a mobile strategy is most certainly in the works. We want to make sure that we stay consistent to that strategy.

Here are my thoughts for the moment:

* There are, I think, two ways to surface features in the product.
  * Passivel

[2018-07-02 17:15] Sdaswani commented on #2816
Thanks for your analysis @brampitoyo ! Any way we can highlight the search engine customization? How about adding autocomplete URLs? *Most importantly*, how about asking the user to set their default browser?

[2018-07-02 18:27] mcomella opened #2835 "Two characters deleted in url bar on backspace"
### Steps to reproduce
- Click url bar on home screen
- Type "app"
- Press backspace (autocomplete removed)
- Press backspace

### Expected behavior
"ap" remains

### Actual behavior
"a" remains

### Device information

* Android device: Pixel 2
* Focus version: Klar 5.2 #21731654

[2018-07-02 18:33] pocmo commented on #2835
This looks like the same bug as: https://github.com/mozilla-mobile/android-components/issues/348

Interestingly that's even in Fennec.

[2018-07-02 18:53] zekooooo opened #2836 "WebRTC fingerprinting protection bug"
I was testing Firefox Klar with the WebRTC test on browserleaks.com. The DeviceIds stay the same when the trashcan button is pressed, but the fingerprint changes when I manually close the app (flick it off the screen in the opened apps list). Ideally, the fingerprint should be reset even when only pressing the trashcan button.

[2018-07-02 19:26] miketaylr opened #2837 "Send `label=browser-firefox-focus` when reporting an issue on webcompat.com"
Currently, if people report bugs via the "Report Site Issue" feature, we can't distinguish between Fennec and Focus GeckoView, because we send the same UA string.

However, webcompat.com supports adding additional labels to an issue via a `label` param, so we should toss `label=browser-firefox-focus` into `REPORT_SITE_ISSUE_URL`:

https://github.com/mozilla-mobile/focus-android/blob/c169cf6b186b9d

[2018-07-02 21:19] ekager commented on #2837
Yeah, I can add this. Thanks for looking into this @miketaylr !

[2018-07-02 21:19] mcomella opened #2838 "Consider reducing number of clicks to share to pocket"
### Why/User Benefit/User Problem
Currently users have to go to Share -> (find it) Pocket to share to Pocket, which is the default sharing mechanism on Android. Given that focus doesn't have a temporary saving mechanism, save to pocket is one of my primary interactions – it'd be convenient if it required fewer clicks.

We could also introduce this useful feature to users ("save things from focus!"

[2018-07-02 23:21] ekager commented on #2647
Hey @brampitoyo , should this setting only be shown on GV builds?

[2018-07-02 23:23] brampitoyo commented on #2647
@ekager Yes, this setting should only be shown on GV builds.

[2018-07-02 23:43] Sdaswani commented on #2712
@bbinto @ekager suggested this is something good for @sblatz to work on for 7.0. It's a great addition to the privacy story while not being a release blocker for 7.0 (though knowing Sawyer, it will 100% get done :) ). We also have the edge cases from iOS to learn from. Thoughts?

[2018-07-03 00:23] brampitoyo commented on #2816
@Sdaswani Those three features (search engine customisation, autocomplete URL, default browser) will help me think of more trigger for active hints. Thanks very much for the ideas!

[2018-07-03 01:35] brampitoyo commented on #2816
**Search engine customisation**. Trigger:
* User has set search engine value as `x`
* Type URL of a search engine which is `not x`, tap Go
* Show hint

**Autocomplete URL**. Trigger:
* Type a URL which is ≥12 characters long, tap Go
  * “…the average .com domain name is 12 characters long” according to [VeriSign](https://www.verisign.com/en_US/website-presence/online/choose-a-domain-name/index.xht

[2018-07-03 01:56] brampitoyo commented on #2816
Some more thinking-out-loud around this topic:

* We need to make sure that hints are reasonably good at predicting user intent, and work in harmony with each other
* Reasonably good means that **hints only appear when enough actions have been triggered**.
  * For example: the hint for **Open in a new tab** may require more than a single tap + back to show up. At that point, we’re still not sure w

[2018-07-03 02:04] tie-rack opened #2840 "Using some keyboards, typing in form inputs duplicates letters"
### Steps to reproduce

1. Install [AnySoftKeyboard](https://play.google.com/store/apps/details?id=com.menny.android.anysoftkeyboard&hl=en)
2. Navigate to a page with text input (&lt;input&gt; or &lt;textarea&gt;), e.g. [Google](https://www.google.com/)
3. Using AnySoftKeyboard, type in a form input

### Expected behavior

The individual letters you type appear once each time you type it.

### Act

[2018-07-03 02:07] brampitoyo commented on #2816
Our in-product communication strategies are already clear (there’s a slide deck I can share – but not sure if a video of it exist), but here are a few low-level, tactical principles that we can use to implement hints. I’m summarising everything that was written up above:

* There are two kinds of hints: passive (e.g. tool tips) and active (e.g. contextual feature recommender). This issue is about

[2018-07-03 05:14] brampitoyo commented on #1616
Spec
<img src="https://user-images.githubusercontent.com/51007/42199773-7512565c-7ee4-11e8-8931-94b3df454a4c.png" width="360">

[2018-07-03 09:01] #2790 closed

[2018-07-03 11:45] pocmo commented on #2838
Quick share was never implemented and is currently a P5: #687. Same for "quick open" (Can't find the issue).

[2018-07-03 11:48] bbinto opened #2841 "Feedback about Request Desktop Site"
<img width="670" alt="screen shot 2018-07-03 at 7 47 48 am" src="https://user-images.githubusercontent.com/122897/42218095-7adccce2-7e95-11e8-8d4e-e11fd629e198.png">

<img width="662" alt="screen shot 2018-07-03 at 7 47 56 am" src="https://user-images.githubusercontent.com/122897/42218102-7d6e1eac-7e95-11e8-8911-20c66714169b.png">

[2018-07-03 12:40] KrzysztofBarszcz commented on #2684
#2842

[2018-07-03 13:48] snorp opened #2843 "Frequent ANRs on Nightly"
From the Play dashboard:

"main" tid=1 Waiting
"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x728a0630 self=0x7a92ec2a00
  | sysTid=23946 nice=0 cgrp=default sched=0/0 handle=0x7b17adf9a8
  | state=S schedstat=( 143537095535 49029932585 191969 ) utm=8520 stm=5833 core=2 HZ=100
  | stack=0x7fcbe77000-0x7fcbe79000 stackSize=8MB
  | held mutexes=
  at java.lang.Object.w

[2018-07-03 13:49] snorp commented on #2843
The above has 27 occurrences, this similar one has 22.

And another similar instance:

"main" prio=5 tid=1 Waiting
  | group="main" sCount=1 dsCount=0 flags=1 obj=0x727506a0 self=0x6ef26c2a00
  | sysTid=23835 nice=-10 cgrp=default sched=0/0 handle=0x6f773249a8
  | state=S schedstat=( 1507410628 253318536 2380 ) utm=120 stm=30 core=0 HZ=100
  | stack=0x77de136000-0x77de138000 stackSize=8MB
  | held

[2018-07-03 14:54] bbinto opened #2844 "Confirm latest telemetry probes"
Trying to get some preliminary beta data for

1) Find in page
Beta channel should be filtered by channel = beta, right?
https://sql.telemetry.mozilla.org/queries/56481/source

2) Request Desktop Site
https://sql.telemetry.mozilla.org/queries/56483/source

[2018-07-03 15:43] npark-mozilla commented on #2828
I kinda reproduced this on my 3rd attempt, this seems to happen if I click a link to the story when the first page was still in process of loading (more likely to reproduce the issue when there are a lot of data to load). It will take me to the linked page, and when I press back button, it will initially go back to where I pressed the link, but then it'll readjust the screen.  I think we saw somet

[2018-07-03 17:18] npark-mozilla commented on #2819
Just updated Focus webview 4.0 to Focus geckoview 6.2  via adb install -r command, but this also retained autocomplete field and search engine data.

[2018-07-03 17:19] pocmo commented on #2819
@npark-mozilla Thank you! I think in this case we can close this. If this happens for Nightly installs then we will have to live with that.

[2018-07-03 17:19] #2819 closed

[2018-07-03 17:19] codedsun commented on #2835
@mcomella Is this issue up for grab?

[2018-07-03 17:21] pocmo commented on #2835
@codedsun Yeah, but you will have to fix that in our android-components repository (ui-autocomplete module):
https://github.com/mozilla-mobile/android-components

[2018-07-03 17:23] npark-mozilla commented on #2705
@ekager @boek @pocmo thoughts? This test has been consistently failing on UI tests

[2018-07-03 17:28] npark-mozilla commented on #2705
Hmm, then it sounds like we should modify the tests, since opengl cache folder probably won't have anything interesting in it. @rpappalax let's update the test to accomodate up to 3 folders then?

[2018-07-03 17:35] bbinto commented on #2494
@ekager to confirm if it can be closed.

[2018-07-03 17:36] bbinto commented on #2413
@ekager to confirm if this is still an issue for Klar (and Focus)

[2018-07-03 17:38] bbinto commented on #2162
@pocmo can we close this?

[2018-07-03 17:40] bbinto commented on #2114
Alright, let's close this issue!

[2018-07-03 17:40] #2114 closed

[2018-07-03 17:48] pocmo commented on #2162
No, we will have to build with a GV release build to ship... this will have to wait until there's a release that we want to ship with.

[2018-07-03 17:50] bbinto commented on #2841
@brampitoyo - could you please help us think through issue 1, should the sub links be also requesting the Desktop site? I think they should, keep it on a domain level?

[2018-07-03 17:53] cpeterso commented on #2840
We have a GeckoView bug filed about duplicated text ("BBeBerBerlBerliBerlin" when typing "Berlin")

https://bugzilla.mozilla.org/show_bug.cgi?id=1470786

[2018-07-03 17:54] boek commented on #2844
@bbinto re: Request desktop site

I'm not sure where the wires got crossed but the event object is `desktop_request_check` not `request_desktop_check`. I've updated the docs accordingly. Does that work?

[2018-07-03 17:57] codedsun commented on #2835
@pocmo Let me check it, and I will try to resolve it :)👍

[2018-07-03 17:58] bbinto commented on #2830
@yoasif - have you tried turn on/off specific blocker settings to determine which one could cause the breakage?

[2018-07-03 18:00] pocmo commented on #2844
That's how it worked in the past. Nowadays they are just release versions - because we promote them to release once they pass testing - without building anything again. Either just look at the event (as its only in Beta/Nightly anyways) or filter by build-id (See Play Store for which version code is currently on the Beta channel).

[2018-07-03 18:02] bbinto commented on #2829
@pocmo - is this on a pixel?

For me, on my Pixel, it keeps loading forever.

[2018-07-03 18:09] pocmo commented on #2829
Yep, Pixel 1 XL.

[2018-07-03 18:24] yoasif commented on #2830
Oddly, turning off all blockers continues to reproduce the issue, so it seems unrelated to that feature.

[2018-07-03 18:38] codedsun commented on #2835
@pocmo Wanted to ask that how can I debug the android autocomplete textview? Like I have cloned the app but wanted to know how this class is working through debugger. I have never debugged a library, can you guide me.
Thanks.

[2018-07-03 22:11] ekager commented on #2830
Hi @yoasif I can reproduce, but if I turn on Cookies, I see the icon. Closing this issue.

[2018-07-03 22:11] #2830 closed

[2018-07-03 22:21] ekager commented on #2835
@codedsun there should be an example app that uses the autocomplete component.

[2018-07-03 22:35] ekager commented on #2413
I think now, it just fails to load an error page, which is expected. Closing for now.

[2018-07-03 22:35] #2413 closed

[2018-07-03 22:36] #2837 closed

[2018-07-03 22:39] ekager commented on #2494
I'm seeing Gecko related crashes in Sentry, so closing this.

[2018-07-03 22:39] #2494 closed

[2018-07-03 23:17] brampitoyo commented on #2841
@bbinto Originally, I designed the request desktop site behaviour to be carried forward across tabs and sessions:

But we opted to go with something more temporary, which is:

It turned out that this is _too_ temporary, so we need to make the setting a little more permanent. There are a few ways to do this.

The first is to make desktop site permanent, but only for the current tab:

* User opens a

[2018-07-03 23:34] ekager commented on #330
There is already a GV API for this - `onContextMenu` API that you can use to parse the long pressed URI for email/phone. We will have to do the parsing ourselves (WebView tells us the hit type) but shouldn't be too complicated.

[2018-07-03 23:38] #2647 closed

[2018-07-04 00:02] ekager commented on #2194
Do we somehow disable the coordinated scrolling behavior if WebView is being selected? Would that break the scrolling of the WebView though...?

[2018-07-04 01:17] bbinto commented on #2844
Chatted with mreid in the telemetry slack channel, app version is currently not part of the core parquet table, therefore I can't filter by app version during beta

https://bugzilla.mozilla.org/show_bug.cgi?id=1473129

[2018-07-04 01:32] bbinto commented on #2712
I'm down with that, so let's make it a P2/P3 --- effort/t-shirt size, @Sdaswani ?

[2018-07-04 01:34] bbinto commented on #330
So is this something we *could* actually ship for 7.0? @ekager ?

[2018-07-04 02:19] mcomella commented on #2814
I don't believe so but I can verify on Tuesday.

[2018-07-04 02:36] yoasif commented on #2830
@ekager FWIW, I had Focus settings at defaults (so cookies were enabled). With the latest builds at least, what happens is that the links get filled in with the text after a few seconds - and I see this in Fennec along with the built in browser on my device.

For whatever reason, previous builds never actually completed loading that link text, but that appears to be working now.

[2018-07-04 04:56] Sdaswani opened #2846 "6.0 Crash: IllegalStateException: CustomTabMenuItemViewHolder.onClick"
java.lang.IllegalStateException:

  at org.mozilla.focus.menu.browser.CustomTabMenuItemViewHolder.onClick (CustomTabMenuItemViewHolder.java:41)

  at android.view.View.performClick (View.java:6294)

  at android.view.View$PerformClick.run (View.java:24774)

  at android.os.Handler.handleCallback (Handler.java:790)

  at android.os.Handler.dispatchMessage (Handler.java:99)

  at android.os.Looper.l

[2018-07-04 05:33] brampitoyo commented on #2712
@Sdaswani I am hoping that the UX component for this project will be very minimal, because we will be using the native (Android system) biometric prompt.

<img src="https://cdn-images-1.medium.com/max/2000/1*tvVeIUaMtlfXmx3s5fqN1g.png">

If there’s any copy, we’ll need to come up with ones for the dialogue’s title, subtitle, description, and negative button.

<img src="https://cdn-images-1.medium.

[2018-07-04 05:35] Sdaswani commented on #2712
Awesome, thanks @brampitoyo . Do we just need strings from @BrianNJones and then we can go ahead and start implementing?

[2018-07-04 11:26] flavienbonvin opened #2847 "[Feature] Add search engine selection on URL bar"
### Why/User Benefit/User Problem
I use Firefox Focus on my smartphone and really enjoy it. I also use DuckDuckGo or Qwant as search engine but found myself limited from time to time with them. So I use Google.
It is quite painful to go to the settings to change the default search engine and going to Google.com from the URL bar is a two step process

### What / Requirements
Having a list of icons

[2018-07-04 11:33] pocmo commented on #2835
Yeah, after importing the android-components project into Android Studio you should see multiple sample apps. The samples-toolbar is probably the easiest/simplest one for testing this component.

[2018-07-04 13:21] pocmo commented on #2841
👍

[2018-07-04 13:23] ekager opened #2848 "Focus crashes when copying link with menu item in Slack custom tab"
### Steps to reproduce
1. Default browser focus
2. Open link in Slack
3. Open menu and select 'copy link'

### Expected behavior
Link is copied
### Actual behavior
App crashes
### Device information

* Android device: pixel 2
* Focus version: GV nightly

[2018-07-04 13:42] pocmo commented on #2844
@bbinto There should be `metadata.app_build_id` which is set to the version code. You can see the version code in Google Play in "App releases". Currently Focus Beta is 21772238.

[2018-07-04 13:58] ekager commented on #2846
Ah this is probably related to the crash I just filed. I would guess its an off by 1 index issue introduced when we added new menu items like request desktop

[2018-07-04 14:00] pocmo commented on #2712
@rpappalax @npark-mozilla Maybe you can investigate if we can test the fingerprint feature in automation somehow. That's a feature we could easily break without noticing.

[2018-07-04 14:06] ekager commented on #2846
See https://github.com/mozilla-mobile/focus-android/pull/2565/files for changes to the menu

[2018-07-04 14:09] pocmo commented on #2848
Looks like #2846?

[2018-07-04 14:11] ekager commented on #2848
Yeah just commented there with maybe an idea of what's going on but can't
confirm I don't have a laptop with me

[2018-07-04 16:38] pocmo commented on #2818
@brampitoyo Can you provide us with an updated icon?

Basically we would need some kind of "Nightly" version for the files in those folders (those are for local builds): https://github.com/mozilla-mobile/focus-android/tree/master/app/src/debug/res

[2018-07-04 17:35] bbinto commented on #2844
@pocmo yeah! that worked. Thanks so much for this temp solution!

[2018-07-05 11:31] bbinto commented on #2841
Thanks @brampitoyo - great summary, outline of options!

I'm with you and @pocmo on the decision. Thanks!

Anything we need @boek and @ekager to change (for the next release)?

[2018-07-05 11:54] bbinto commented on #2816
Thanks for all the input on this big topic.

I'd love to brainstorm a bit more on the features we want to highlight in the future.

- I had started this [doc](https://docs.google.com/document/d/1LtZ4nJepdMpxgJ64jpTtlIp3zMEn6Aa7Bb6yNIGDNxY/edit#heading=h.yu9fr5c552gz) last year (!) when we talked about it.
- I'd love us to work with @mmccorks to identify more features that retain users well and how

[2018-07-05 15:17] mcomella commented on #2814
I cleared app data and can still reproduce.

[2018-07-05 15:21] mcomella opened #2850 "GeckoView builds leave around data + cache"
### Steps to reproduce
- Open the app
- Visit a web page
- Delete data
- Go to home screen
- Get app info for the app

### Expected behavior
Data usage and cache are roughly 0

### Actual behavior
- Data is 7.46 MB and cache is 53.90 MB

### Device information

* Android device: Galaxy S5 (Android 6?)
* Focus version: 6.2 / 121791209 / 62.0.20180625141512

I'm reproducing on the device that can't

[2018-07-05 16:11] pocmo opened #2851 "ur: missing placeholder (security_popup_security_verified)"
From the import:

[code]

[2018-07-05 16:11] pocmo commented on #2851
CC @Delphine

[2018-07-05 16:50] past commented on #2647
I have enabled the "Remote debugging via USB/Wi-Fi" setting, but I can't seem to connect to the latest Focus Nightly, following the [process](https://perf-html.io/docs/#/./guide-remote-profiling) that works for Fennec.

This is what I'm getting in the Browser Console:
[code]

Any ideas?

[2018-07-05 17:39] Sdaswani opened #2852 "Unable to scroll after watching fullscreen video"
This may be a GV bug, but we should spend a few hours seeing if it's on Focus.

https://bugzilla.mozilla.org/show_bug.cgi?id=1471340

[2018-07-05 17:42] boek commented on #2848
Dup of #2846

[2018-07-05 17:42] #2848 closed

[2018-07-05 18:39] #2846 closed

[2018-07-05 18:44] Delphine commented on #2851
Should be fixed now! thanks!

[2018-07-05 19:15] gcp opened #2854 "Can't do searches including a domain name"
### Steps to reproduce

Search for "reddit.com chess"

### Expected behavior

Same as on desktop: default search engine result for those 2 keywords.

### Actual behavior

Goes to reddit.com, drops second part.

### Device information

* Android device: Pixel 2 XL
* Focus version: 5.0

[2018-07-05 21:10] npark-mozilla commented on #2712
So UI Test is possible on emulator I believe, it's just that we need to register fingerprint in the emulator beforehand. (in theory this is doable, but it involves opening settings, setting pin, and registering fake fingerprint) I hope google releases a better way to test fingerprint soon though.

[2018-07-06 05:05] makotokato commented on #2647
@past if target sdk of GV app is 26+, it is https://bugzilla.mozilla.org/show_bug.cgi?id=1462019 (when I got r+ for network part, then I send review to devtools part).

[2018-07-06 05:10] past commented on #2647
Oh, I hadn't thought of that! Is Focus Nightly built with target SDK 26+?

[2018-07-06 05:14] makotokato commented on #2647
Target SDK seems to be 27 according to https://github.com/mozilla-mobile/focus-android/issues/1573

[2018-07-06 09:28] pocmo opened #2855 "Disable developer tools as long as we are on GV 62.0"
See: https://bugzilla.mozilla.org/show_bug.cgi?id=1462019#c33

It seems like the developer tools do not work correctly with our SDK level. There's a fix in bug 1462019; but it may not get uplifted. So we should not expose this setting until we upgrade to 63.0 (if that's where the patch lands).

[2018-07-06 13:56] mcl21014 opened #2857 "Add do not track header to settings > Privacy and Security"
Add the do not track header support to Firefox Focus.
Why/User Benefit/User Problem
Additional tracking protection for users when a business opts in to the do not track header.
What / Requirements
Add the do not track header to Settings. No prerequisites.
Acceptance Criteria (how do I know when I’m done?)
The do not track header will be added to Settings and function properly.
Android device: Pixe

[2018-07-06 13:59] pocmo commented on #2857
Thank you for filing this!

Duplicate of #446.

The do not track header will be added automatically once we switch from WebView to GeckoView.

[2018-07-06 13:59] #2857 closed

[2018-07-06 14:07] mcl21014 commented on #2857
Thanks. Didn't see the other issue on mobile. Good to know it'll be included. I'll wait for it in the nightly builds.

[2018-07-06 14:11] pocmo commented on #2857
@mcl21014 The Nightly builds with GeckoView should already have the header set.

[2018-07-06 16:05] npark-mozilla commented on #2251
Most of the sites are now using internal sites, with the exception of web search.

[2018-07-06 16:05] #2251 closed

[2018-07-06 19:34] npark-mozilla opened #2858 "Find in page caption does not change immediately when locale is switched"
### Steps to reproduce
- Open website
- Go to Find in page dialog
- Close dialog, go to settings, and change to another locale
- From the webpage, open find in page dialog again

### Expected behavior
- Find in page text field should show caption in selected locale
### Actual behavior
- Shows caption in previous locale

### Device information
- Nexus 4, API 23

- Workaround: clear the webpage, and

[2018-07-06 19:58] nojunpark opened #2859 "Selecting 'Find in page' does not show the dialog when the dialog is"
### Steps to reproduce
- Open webpage, open find in page dialog
- Scroll up, so the find in page dialog disappears from screen
- Go to menu, and select find in page menu item again

### Expected behavior
- Find in page dialog is in focus

### Actual behavior
- Find in page dialog is not shown on screen

### Device information
- Nexus 4, API 23

[2018-07-06 20:48] npark-mozilla opened #2860 "'Stealth' and 'Send usage data' toggle switch interferes with each other"
### Steps to reproduce
- Go to settings, and open 'Privacy and Security' submenu
- When both 'Stealth' and 'Send usage data' are disabled,
- Enable 'Stealth', then 'Send usage data'
- Disable 'Stealth'

### Expected behavior
- Only 'Stealth' is disabled

### Actual behavior
- Send usage data is also disabled as well

### Device information
Nexus 4, API 23. Pixel 2, API 27

[2018-07-08 17:06] aperfilyev commented on #1193
I dug a bit into this and it seems that lag is happening because OS instantiates [Transliterator](https://android.googlesource.com/platform/external/icu/+/1537b2f/android_icu4j/src/main/java/android/icu/text/Transliterator.java) to convert the first letter of Ελληνικά locale to upper case ([see here])(https://android.googlesource.com/platform/libcore/+/master/libart/src/main/java/java/lang/CaseMap

[2018-07-09 04:47] brampitoyo commented on #2712
@Sdaswani That’s correct.

@BrianNJones, here’s our context:

In the upcoming Android P, apps can take advantage of a new API to show an authentication dialog that can responds to various types of biometric authentication: fingerprint, face and iris.

This dialogue contains 4 different elements that we can customise with our own strings, although we don’t have to show 2 of them.

* Title (required

[2018-07-09 06:04] aperfilyev commented on #1193
The time of building a list went down from ~1800 ms to ~90 on my device. Thinking about it further we can certainly offload this method to a background thread.

[2018-07-09 08:52] KrzysztofBarszcz commented on #2854
I think I know the simple solution :)

[2018-07-09 09:49] pocmo commented on #1193
@aperfilyev Nice find! Please open a PR and add a comment explaining why we do this. :)

[2018-07-09 10:10] aperfilyev commented on #1193
@pocmo will do in the evening when I get home.

[2018-07-09 11:27] CircleCode opened #2864 "Nightly is only available with google account"
### Why/User Benefit/User Problem
Users willing to use focus often do this for privacy purposes.
Those testing nightly builds are often more susceptible to tweak their android for the same privacy reasons.
As a conclusion, some users willing to test nightly builds of firefox focus do not have google play installed (some use microg, or even only f-droid). For those people, nightly builds are not av

[2018-07-09 11:44] pocmo commented on #2864
The latest Nightly builds can be downloaded here:
http://bit.ly/focus-nightly-builds

[2018-07-09 11:49] pocmo commented on #2864
Added the download URLs for Nightly/Beta to our wiki page:
https://github.com/mozilla-mobile/focus-android/wiki/Release-tracks

[2018-07-09 13:14] bbinto opened #2866 "Beta feedback about typing"
Via GPS
1)
"Beim schreiben in der App passiert es häufiger, dass beim schreiben eines
Wortes das gesamte vorherige Wort beim eintippen von jedem Buchstaben
wiederholt wird. Bsp. Ich will Internet schreiben, dann schreibt er
IInIntInteInterInternInterneInternet. Auch wird ab und zu die Browser
Chronik beim aufrufen der vorherigen Seite oder einfach so gelöscht,
wodurch die geöffnete Seite geschloss

[2018-07-09 13:19] pocmo commented on #2866
1. Is issue #2840 (and upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1470786)
2. sounds like #778

[2018-07-09 15:10] yoasif opened #2867 "Cannot paste text into input fields"
### Steps to reproduce

1. Copy some text into the clipboard
2. Navigate to any site with an input field, eg: google.com
3. Hold down finger on input field

### Expected behavior

Option appears to paste; user can select to paste text

### Actual behavior

A black bar above the page appears briefly with a left facing arrow  (left aligned) and "Paste" text (right aligned) and disappears before a us

[2018-07-09 17:23] ekager commented on #2250
If you remove the `alpha` in `erase_animation` then I'm seeing that the content is rendered as it is animated. Could we alter this `alpha` to have it look as desired?

[2018-07-09 17:28] ekager commented on #2867
Thanks for your detailed report @yoasif! I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1474360 with the GV team

[2018-07-09 17:54] ekager commented on #2859
It's hidden when you scroll up, but still activated. @brampitoyo do you think we should disable the menu item while find in page is active?

[2018-07-09 18:38] ekager opened #2869 "Enable Remote Debugging for GV"
In #2855 we disabled this setting while bugzilla.mozilla.org/show_bug.cgi?id=1462019#c33 is being fixed. Probably will be able to add setting back when we upgrade to 63.

[2018-07-09 18:55] daoshengmu commented on #2348
I am curious if we already have the crash pings in Fennec that means Gecko can send the crash pings to the telemetry server (http://telemetry.mozilla.org/). So, what is the following work for android-telemetry-components? IIUC, the crash pings from Gecko could help us catch the crashes from the Gecko side, like Gecko View.

[2018-07-09 18:59] Delphine opened #2871 "[l10n] Purépecha (tsz) locale appears as "tsz" under Language Settings"
See screenshot:
![2018-07-09 11 56 47](https://user-images.githubusercontent.com/399020/42470407-2ec3f220-836f-11e8-9358-1086dc601047.jpg)

Locale name should appear as: p'urhepecha

See also: #2560

[2018-07-09 19:35] sblatz commented on #2712
@brampitoyo under which header in the settings menu should this option reside? On iOS we created a new header called "SECURITY," should we do the same here?

[2018-07-09 20:31] aperfilyev commented on #1193
@pocmo I've made a PR.

[2018-07-09 21:46] rpappalax opened #2873 "AddtoHSTest.java is failing"
### Steps to reproduce
automated tests in AddtoHSTest.java (SearchTermShortcutTest in particular) fail frequently on all devices

### Expected behavior
Tests should successfully create and find desktop shortcuts

### Actual behavior
Each desktop shortcut links to a temporary mock server and port, i.e. http://localhost:12345.  When several tests run back-to-back, there can be more than one shortcut

[2018-07-09 22:09] brampitoyo commented on #2712
It should belong together with “Stealth”, under the “Switching apps” section.

On iOS Settings, primary categories don’t have their own page. As a result, I had to resort to using the heading “Privacy & Security”. When we have more “Switching Apps” options on iOS, we’ll create that sub-page.

[2018-07-09 23:36] zekooooo commented on #2864
As an F-droid-only user I would really appreciate an autoupdating Nightly version :)

[2018-07-09 23:36] ekager commented on #2860
Hi @npark-mozilla , are you seeing this on a Debug build or Release build? I think this is because we set the Send Usage Data checked every time the view is bound, so when we update the other setting, the view is rebound, and for debug builds, TelemetryEnabled is always `false`. If this is only in Debug, we can close this.

[2018-07-10 05:58] brampitoyo commented on #2859
@ekager Actually, I don’t think that the Find in Page dialogue should ever be minimised/hidden and maximised/shown as you scroll up and down the page.

It’s not only to prevent this problem, but also to keep the UI focused on the find interface.

Otherwise, I agree with @npark-mozilla that the find-in-page text box should be re-focused when the user taps Main Menu -> Find in Page.

What do you thi

[2018-07-10 06:02] brampitoyo commented on #2818
Hi @pocmo, what’s the difference between this Nightly version and the Dev build (which we already have the icon for)?

I’ll assign myself on this issue, so I can be reminded to design it.

[2018-07-10 07:53] pocmo commented on #2818
@brampitoyo The dev icon is used for local/debug builds whenever a developer builds and deploys the app.

[2018-07-10 07:54] pocmo commented on #2818
Okay! Otherwise I see myself forced to use this 😂 ..

![nightly](https://user-images.githubusercontent.com/89638/42496701-2e7a5f44-8427-11e8-9272-bd90e87a0da3.png)

[2018-07-10 07:58] pocmo commented on #2864
If someone feels like maintaining it! Unfortunately it's probably not something the Focus team can take over (We also do not maintain the f-droid Klar releases).

[2018-07-10 08:02] pocmo commented on #1193
Awesome. Thank you!

[2018-07-10 11:14] cjdelisle commented on #2814
This issue is also happening with CryptPad, you can observe it here: https://cryptpad.fr/pad/#/2/pad/view/bYk3eg360vk7PNk0tLi-NslDjlxP0DQtb4eB4X9Lu7Q/present/

[2018-07-10 13:31] pocmo commented on #2843
[code]

We talked about this on Slack already: This is caused by the session saving which blocks the UI thread. A possible workaround we talked about is to not save the state and just put GeckoSession into the Bundle. With Focus keeping everything in memory this is good enough here.
Later we just want to keep the GeckoSession around.  But for this [Bug 1472140](https://bugzilla.mozilla.org/show_bu

[2018-07-10 14:24] npark-mozilla commented on #2860
You're right, I don't see this on release build, will close, thanks!

[2018-07-10 14:24] #2860 closed

[2018-07-10 15:08] sblatz commented on #2712
In order to use the new API which allows for any biometrics to be used (iris, face, fingerprint), we need to bump the API version we're using (currently 27, needs to be 28). I tried doing this, but it leads to compilation errors. Perhaps this feature should be implemented as just fingerprint scanning for now, as this is exposed on API 27, unless fixing these compilation errors is trivial.

@boek @

[2018-07-10 15:55] Sdaswani commented on #2712
@boek @ekager did we have a plan to upgrade to 27?

[2018-07-10 16:01] pocmo commented on #2712
We already support 27 (Android 8.1). The SDK for API 28 (Android 9) was just released some days ago and Android 9 / P hasn't been release yet. :)

[2018-07-10 16:11] colintheshots commented on #2712
There's a BiometricPrompt Compat library coming according to the official Android developer blog. All the blog post says is Oreo and lower is supported. It doesn't list a minimum API level. I'd build to that whenever it's available.

https://android-developers.googleblog.com/2018/06/better-biometrics-in-android-p.html

[2018-07-10 16:14] sblatz commented on #2712
@colintheshots is that the same as the API found [here](https://developer.android.com/reference/android/hardware/biometrics/BiometricPrompt)? This one explicitly calls out API 28 as being the required version. Is there something I'm missing?

[2018-07-10 16:21] pocmo opened #2875 "Update GeckoView to 62.0b7"
https://hg.mozilla.org/releases/mozilla-beta/tags

32cde6cdb297

[2018-07-10 16:23] BrianNJones commented on #2712
@brampitoyo @Sdaswani , thanks for all the good info/context. (Digging in after being out last week.) Bram, couple questions:
1. Are the Login screenshots you provided the screenshots a user would see at setup of the biometric login, or are they what a user would see each time Focus is opened? (Asking mostly b/c I'm confused by the use of "authorise" here...seems to indicate a first step, not an a

[2018-07-10 16:48] colintheshots commented on #2712
@sblatz No, it would likely be named BiometricPromptCompat or be a different class in the new support libraries. These things are so new, they haven't released the compat version yet. The image seems to imply they want you to use BiometricPrompt if API version is >=28 or the unreleased BiometricPromptCompat if not.

[2018-07-10 16:54] ekager opened #2876 "Localized Content Links Contribute to Page Load Averages"
These pages will load in a fraction of the time and should be excluded from the averages

[2018-07-10 17:37] #2844 closed

[2018-07-10 17:50] #2871 closed

[2018-07-10 17:53] boek commented on #2806
Thanks @jonisavage!

[2018-07-10 17:53] #2806 closed

[2018-07-10 17:54] bbinto commented on #2866
closing this in favour of #778

[2018-07-10 17:54] #2866 closed

[2018-07-10 18:29] sblatz commented on #2712
@ekager mentioned that she would investigate the workload of bumping to version 28. If it ends up being a lot of work, we can just use the FingerPrintManager API (version >=23, but deprecated in 28) until the BiometricPromptCompat releases at some unknown future date.

Per my discussion with @colintheshots, it seems like trying to implement BiometricPrompt right now would be premature anyway as An

[2018-07-10 20:41] #2855 closed

[2018-07-10 21:56] Sdaswani commented on #2712
Sounds like FingerPrintAPI is the way to go @sblatz - I do want @colintheshots to confirm that when we move to API Level 28 the transition to the BiometricPrompt is not a heavy lift though.

[2018-07-10 22:30] #2875 closed

[2018-07-10 23:33] mcomella opened #2879 "Your Rights license link broken"
### Steps to reproduce
- Settings -> Mozilla -> Your rights
- Click "licenses"

### Expected behavior
Licenses open

### Actual behavior
Nothing

### Device information

* Android device: Pixel 2
* Focus version: Tried local Klar WebView build (checked out at a random commit) and Focus GeckoView build, probably recent

[2018-07-10 23:53] brampitoyo commented on #2818
First-round mockup. Keep in mind that this is very early, so hasn’t been shown to the rest of our team!

<img width="634" alt="screen shot 2018-07-11 at 11 51 24 am" src="https://user-images.githubusercontent.com/51007/42543633-d405a444-8500-11e8-85bd-c553e5d43766.png">

[2018-07-10 23:55] #2672 closed

[2018-07-11 00:07] ekager commented on #2818
Idk @brampitoyo I kind of like @pocmo's sketch 😜. Your mockups look awesome!!

[2018-07-11 00:13] ekager commented on #2879
Weird this is working for me on Pixel 2 in Klar+WebView... We changed it recently to open as a real tab so maybe something happened there

[2018-07-11 03:33] brampitoyo commented on #2505
As mentioned by @st3fan:

@Delphine is this a good moment to re-check the truncated strings?

[2018-07-11 09:19] pocmo commented on #2879
@ekager It's about the "licenses" link on the "your rights" page - not the "your rights" page itself.

[2018-07-11 09:35] pocmo commented on #2818
The logo looks nice! :)

Can we explicitly say "Nightly" somewhere (like in the other variants)? We need to make it as obvious as possible so that users understand that they are on the Nightly track.

![image](https://user-images.githubusercontent.com/89638/42563388-698b3676-84fe-11e8-86dc-313a10a5b7e3.png)

![image](https://user-images.githubusercontent.com/89638/42563379-6629bdb8-84fe-11e8-80fe-

[2018-07-11 16:30] Delphine commented on #2505
I'm confused, those are iOS :)
Also, we're supposed to check the strings once the changes to comments are done, as we discussed in this thread. Maybe we should follow-up about this offline, because this issue is getting confusing?
As per my last comment:
"Next step is for me to get a string export with localization notes updated where needed. For those cases we will need a new string ID. The comme

[2018-07-11 16:48] ekager commented on #2879
Oh apparently you're better at reading English than I am :P Thanks I'll look into this

[2018-07-11 19:15] lcanali opened #2882 "Rowhammer attack on GPU via WebGL"
https://www.zdnet.com/article/android-alert-this-new-type-of-rowhammer-gpu-attack-can-hijack-your-phone-remotely/

Is this an issue for focus android?

thanks

[2018-07-11 20:31] yoasif opened #2883 "Notes Experiments page doesn't load"
### Steps to reproduce

Navigate to https://testpilot.firefox.com/experiments/notes

### Expected behavior

Page loads.

### Actual behavior

Background and an image seems to load, but no other page content appears.

Firefox Klar (stable from F-Droid) loads this with no issue, as does Fennec. Issue appears with default tracker blocklist as well as when disabling from main menu.

![signal-attachmen

[2018-07-11 21:45] colintheshots commented on #2792
I'm not entirely sure I'll dissolve the build flavor. I think it makes most sense to either have a default renderer or make that flavor dimension set the default renderer using a simple config setting that can later be overridden. I'd migrate all of the renderer flavor-specific code into the main project and just have shared preferences.

[2018-07-11 21:51] colintheshots commented on #2792
My plan is to migrate all renderer flavor-specific code as mentioned and then choose the renderer based on a shared preference. I would allow run-time switching by changing the preference and invoking ProcessPhoenix, which is ideal for this kind of systemic change to the app and its state.

[2018-07-11 22:48] #2876 closed

[2018-07-11 22:55] rpappalax commented on #2873
have fixed issues on focus, but klar is failing due to first time experience launching at start of first test (despite FIRSTRUN_PREF = true), https://github.com/mozilla-mobile/focus-android/blob/6cd8fc362877c16363a3864f41f76367dced6acb/app/src/androidTest/java/org/mozilla/focus/activity/AddtoHSTest.java#L52

[2018-07-12 02:56] brampitoyo commented on #2505
@Delphine You’re right. Sorry. It was my mistake for not double checking the screenshots!

[2018-07-12 08:38] pocmo commented on #2873
Is this #2664?

[2018-07-12 08:50] pocmo commented on #2818
Okay, let's try! A different icon is already better than using the same icon. :)

[2018-07-12 08:53] pocmo commented on #2818
@brampitoyo One issue here is that Google Play always displays "Firefox Klar (Beta)" and "You are a beta tester" no matter what testing track you are actually on. And users where confused whether they are actually on the Nightly track. I'm not 100% sure if a different icon will change that (because this could be a Beta icon too?). But a different logo icon already way better than using the same lo

[2018-07-12 08:56] pocmo commented on #2818
![screenshot_20180712-105122 2](https://user-images.githubusercontent.com/89638/42623094-418c7864-85c2-11e8-938b-817934e413f9.png)

[2018-07-12 09:11] pocmo commented on #2792
One less flavor dimension would speed up our automated builds and get us PR feedback faster. So I'd dissolve it as soon as possible. :)

Note that the engine choice is not something we want to expose to the user. Instead we'll decide what engine to use on app start based on the A/B test configuration. So I think switch at runtime (by restarting the app) won't be needed for now.

[2018-07-12 17:25] setuidroot commented on #2882
Rowhammer attacks have been around for awhile, it is an unfortunate flaw in hardware design that Google/Mozilla have made software mitigation attempts to limit the "ease" at which these attacks could successfully carried out.  Much like meltdown/spectre, rowhammer is, at it's core, a hardware exploit.  Thus to answer your question, yes this type of attack is possible in any browser or application

[2018-07-12 17:28] ekager commented on #2633
Did you already file a Bugzilla bug for this? And should we add a Klar/GeckoView tag?

[2018-07-12 17:29] andreasbovens opened #2884 "Add UA string spoof to get Tier-1 Google search experience"
### Why/User Benefit/User Problem

When switching to GeckoView, we need to make sure the search experience stays top notch. Google doesn't serve Gecko its high end version at this point, so we have to spoof the UA string on selected Google domains.

### What / Requirements

We're currently doing an experiment on Fennec Nightly - see https://miketaylr.com/posts/2018/07/google-search-in-firefox-for-

[2018-07-12 17:51] ekager commented on #2070
We got rid of InfoActivity per the second bullet suggestion :) Closing!

[2018-07-12 17:51] #2070 closed

[2018-07-12 17:54] ekager opened #2885 "Long press to copy URL during normal browsing"
### Why/User Benefit/User Problem
I love the feature we added to long press the URL bar and copy the URL in custom tabs, and I want it for easier copying of URLs during normal browsing too.

### What / Requirements
- Remove Custom Tab check in on Long Press to allow copying URL to work for normal browsing as well.

### Acceptance Criteria (how do I know when I’m done?)
- Users are able to copy URL

[2018-07-12 18:21] pocmo commented on #2884
We do not have any GeckoView API to change the UA currently.

Also I'm not sure right now if we could change the UA before every load if we had a simple UA API.

[2018-07-12 18:23] Sdaswani opened #2886 "Average Page Load Times Seem Very Fast"
The average page load time for Focus loads is 50ms, which seems way too fast (background, auth required here: https://mozilla.slack.com/archives/C4D7TER5G/p1531174763000258).

Please investigate if there are any bugs causing this number to be very low.

If it's a simple fix we can try to ship a 6.0.1 to remedy the issue.

[2018-07-12 18:24] pocmo commented on #2633
I don't think I did... doing now!

[2018-07-12 18:29] pocmo commented on #2633
![textselection](https://user-images.githubusercontent.com/89638/42652288-3a10d364-8612-11e8-847c-c1735ba32d8c.png)

[2018-07-12 20:34] ekager commented on #2886
Did a very small experiment on my Moto E device on Mozilla Wifi.

2 Google search loads, 2 CNN loads, 1 facebook.com load

GeckoView:
// First page load start is about:blank but we ignore it
2018-07-12 13:21:03.881 10545-10545/org.mozilla.klar.debug I/AverageLoadTimeObserver: zerdatime 1322417 - page load start
2018-07-12 13:21:04.072 10545-10545/org.mozilla.klar.debug I/AverageLoadTimeObserver: z

[2018-07-12 20:45] ekager opened #2889 "If you background app while loading, bad data sent to Average Page Load Time"

[2018-07-12 21:24] ekager opened #2891 "Send Histogram Data for Load Times"
Per a Slack discussion, we should assemble a histogram and report it through the event `extras` for WV + GV. We should report an array of e.g. 200 values, where each one is 100ms or so. Last value in the array is everything > 20k ms. We're just recording the number of values in each bucket, not the exact values.

[2018-07-12 21:57] Sdaswani commented on #2886
@ekager should we rename this to 'Move Page Load Times to Histogram' ?

[2018-07-12 21:59] ekager commented on #2886
Let's close this because I opened #2891 and I can put more detail there

[2018-07-12 22:01] Sdaswani commented on #2886
the average was 50 seconds, not 50ms, which seems too slow, but hopefully #2891 will break it down for us.

[2018-07-12 23:01] colintheshots commented on #2792
@pocmo and I met this morning and reached an agreement about the best design for this feature. I'll keep the extra flavor dimension so developers can test with different default renderers easily. We may never need ProcessPhoenix for end users to switch live from A to B, but it might be useful to allow devs and QA to switch back and forth with a hidden setting.

FYI, Universal webview targets will

[2018-07-12 23:40] sblatz commented on #1962
@bbinto Do you want Telemetry to be updated in any way for this? In other words: the default search engine will now be set every time the user adds a new search engine, thus pinging two Telemetry events. Would you prefer that it _not_ ping the "change default search engine" Telemetry event?

[2018-07-13 04:40] levimatheri commented on #2556
@ekager do you mind taking a look at my commit above? I want to make sure I have the right UI for this before implementing functionality

[2018-07-13 09:40] pocmo commented on #2556
@levimatheri Unfortunately this feature request currently has a P5 priority - which makes it unlikely to get attention from the UX team at this time.

[2018-07-13 10:52] callahad opened #2894 "Toggling Tracking Protection in the main menu has no effect with GeckoView"
### Steps to reproduce

1. Visit a site that has visible tracking content (see, for example, https://github.com/webcompat/web-bugs/issues/17717)
2. Turn off tracking protection using the toggle in Focus's main menu

### Expected behavior

- The tracking content is visible

### Actual behavior

- The tracking content is blocked

### Device information

I'm *am* seeing this behavior on Focus 6.2 (Bu

[2018-07-13 15:56] rpappalax commented on #2873
@npark-mozilla  Have fixed issues on focus. Klar is failing in Firebase due to first time experience launching at start of first test (despite FIRSTRUN_PREF = true), https://github.com/mozilla-mobile/focus-android/blob/6cd8fc362877c16363a3864f41f76367dced6acb/app/src/androidTest/java/org/mozilla/focus/activity/AddtoHSTest.java#L52).  Tests otherwise pass on Klar (after first run).  Will submit a P

[2018-07-13 16:51] rpappalax commented on #2873
@pocmo Yes, I believe so

[2018-07-13 17:03] #2886 closed

[2018-07-13 17:04] #2638 closed

[2018-07-13 17:14] Sdaswani commented on #2792
@colintheshots to break down.

[2018-07-13 17:19] Sdaswani commented on #2850
@ekager to post findings and then close.

[2018-07-13 17:28] Sdaswani opened #2896 "Just-in time information and one-tap action – Default Browser"
### Why/User Benefit/User Problem
- Allow users to quickly set Focus as their default browser

### What / Requirements
- Provide intent sheet on a specific trigger (screen tip and/or settings page)

### Acceptance Criteria (how do I know when I’m done?)
- Intent sheet showing up and working
- User can set Focus as their default browser without leaving the app

## Success criteria/Telemetry
- Probe

[2018-07-13 17:29] Sdaswani opened #2897 "Add to Homescreen Contextual Hint"
Per #2816 (comment) @brampitoyo should think of a nice contextual hint to ask users to add stuff to homescreen.

[2018-07-13 17:39] ekager opened #2898 "Update Version to 6.3"
For Sentry crashes

[2018-07-13 17:39] ekager commented on #2898
@sblatz want a quick win? ;)

[2018-07-13 17:41] ekager commented on #1365
Do we want this in 7.0? I can pull the ticket into the 6.3 sprint.

[2018-07-13 17:41] #2682 closed

[2018-07-13 17:42] #2684 closed

[2018-07-13 17:42] pocmo commented on #2843
https://bugzilla.mozilla.org/show_bug.cgi?id=1475586

[2018-07-13 17:45] sblatz commented on #1980
My findings are similar to @brampitoyo's. The check is extremely short, and thus the progress bar looks jumpy. I will be moving forward with option 2 (greying out the page with no progress bar).

[2018-07-13 18:02] BrianNJones commented on #2712
Thanks Bram. Let me try this again (we've had connection hiccups all week
and I'm not sure what's actually sent and what hasn't.)

I think we'd need:
Title: Unlock Firefox Focus
Desc: Touch the fingerprint sensor to continue.
Negative button: Cancel

On Tue, Jul 10, 2018 at 7:27 PM, Bram Pitoyo <notifications@github.com>
wrote:

[2018-07-13 19:26] cpeterso opened #2900 "Sentry: GeckoSession crashes, opening new session"
https://sentry.prod.mozaws.net/operations/focus-android/issues/4423158/

[code]

[2018-07-13 19:28] cpeterso opened #2901 "Sentry: RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()"
https://sentry.prod.mozaws.net/operations/focus-android/issues/4326368/

[code]

This is one of the Focus top crshes, with 349 crashes from 86 users.

[2018-07-13 19:29] cpeterso opened #2902 "Sentry: RemoteServiceException: Context.startForegroundService() did not then call Service.startForeground()"
https://sentry.prod.mozaws.net/operations/focus-android/issues/4326354/

[code]

This is one of the Focus top crashes, with 162 crashes from 80 users.

[2018-07-13 19:29] cpeterso opened #2903 "Sentry: RuntimeException: Unable to resume activity {org.mozilla.focus/org.mozilla.focus.activity.MainActivity}: android.vi..."
https://sentry.prod.mozaws.net/operations/focus-android/issues/4422894/

[code]

This is one of the Focus top crashes, with 150 crashes from 49 users.

[2018-07-13 19:48] st3fan opened #2904 "Local debug builds submit telemetry"
Unclear if this is a *Focus* or *Telemetry Component* bug but I noticed that by local dev build is submitting telemetry. For example, it is sending core pings to the following telemetry path:

[code]

This may not be a huge issue, but I am not sure if that data is expected to land in the telemetry backend.

[2018-07-13 19:53] st3fan commented on #2904
I just realized that I was running the `Coverage` build variant. This does not seem to happen in the `Debug` variant.

[2018-07-13 20:06] st3fan commented on #2904
I think this is happening because `AppConstants.isDevBuild' does not know about the `coverage` build type. It should probably not check for `debug` but instead do the inverse and check if the build type is not equal to `BUILD_TYPE_RELEASE`.

[2018-07-13 20:45] #2898 closed

[2018-07-13 21:50] #1962 closed

[2018-07-13 21:51] #2683 closed

[2018-07-14 00:32] #2873 closed

[2018-07-14 05:17] ekager commented on #2879
Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1475762

[2018-07-14 05:19] ekager commented on #2840
Dupe of #2807, Closing

[2018-07-14 05:19] #2840 closed

[2018-07-14 11:37] ninad458 commented on #2687
@Hackertronix @brampitoyo So why is this issue still open? I don't understand. I'm new here.

[2018-07-14 11:45] ninad458 commented on #2677
Hi, I would like to work on some of the beginner issues. Can I start with this one? Or is anyone already on it? @waah42

[2018-07-14 16:17] ekager commented on #2687
Hi @ninad458 , we weren't able to merge the UX redesign issues until this week because of when we want them released, so I'm reviewing and merging them now. There is an open PR #2719 for this issue, but it may need changes which I will give the original contributor a chance to complete. If they do not respond, I'll comment here that this issue needs a new PR. In general, make sure to check the ope

[2018-07-14 16:18] ekager commented on #2677
Looks like #2713 is open and almost complete to close this issue.

[2018-07-15 22:22] brampitoyo commented on #1365
This is a quality-of-life improvement, so it would be good to include it in the 6.3 release.

[2018-07-15 22:36] brampitoyo commented on #2712
Thanks, @BrianNJones. With the string written, this issue is now ready to implement.

[2018-07-16 05:16] sholkayvishal commented on #2885
Can I work on this issue? It's my first time to **Open source contribution** and I think I'll be able to solve it.

[2018-07-16 05:33] ekager commented on #2885
Hi! This issue hasn't been considered by product yet or prioritized, so
probably not the best issue to work on right now. Check out our help wanted
or P1, P2 labels for issues ready to be worked on now!

[2018-07-16 08:40] pocmo commented on #2818
👍

[2018-07-16 09:23] pocmo commented on #2900
This is not an app crash. We log this in Sentry when the `GeckoSession.onCrash()` callback gets executed and we re-open a new session:
https://github.com/mozilla-mobile/focus-android/blob/fe79a22601ceb7b1e4f6d5a158a6c5accf5b065d/app/src/gecko/java/org/mozilla/focus/web/WebViewProvider.java#L308

@cpeterso Can you verify with the GV team whether it's a problem that this onCrash() callback gets exec

[2018-07-16 12:34] pocmo opened #2909 "Build and target SDK 28 (9.0)"
### Why/User Benefit/User Problem

* It will be a requirement for using new OS features
* The longer we stay behind the harder it gets to update
* We want to update to 28 in the components soon. To avoid conflicts we want to update the apps too.

### What / Requirements

* [ ] Update build.gradle files
* [ ] Build and run tests to see if there are issues that need to be fixed
* [ ] Is there a 28 s

[2018-07-16 14:46] pocmo opened #2910 "GeckoView: Pass relevant Cookies to Download Manager"
We should pass relevant Cookies to Android's download manager. In the WebView version we ask `CookieManager` for them. We do not have anything like that for the GeckoView version.

https://github.com/mozilla-mobile/focus-android/blob/2daca413518b5d98c3fef7cd4c1d7fec5e1fbd16/app/src/main/java/org/mozilla/focus/fragment/BrowserFragment.java#L857-L865

[2018-07-16 15:40] st3fan opened #2911 "GeckoView: Links with custom schemes do not work"
(Not Reddit specific, but it is a good example that is easy to show the issue)

Focus + GeckoView from *master* as of July 16.

When using the mobile Reddit site you are encouraged to install their native app. They do this with a button that links to a custom scheme to open the Reddit app. The custom URL scheme triggers the native app. This works in WebView but not in GeckoView.

Steps to reproduc

[2018-07-16 16:41] sblatz commented on #2712
@brampitoyo @BrianNJones On Focus iOS the "cancel" button is actually a "New Session" button, as if the user fails to authenticate (or doesn't care to), they can simply begin a new session. I included an example of this below. Should we use "New Session" here as well, or should I move forward with it being "Cancel"?

<img width="373" src=
![img_4461](https://user-images.githubusercontent.com/44002

[2018-07-16 17:56] ekager opened #2912 "Update GV to 62.0b8"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2018-07-16 19:11] colintheshots commented on #2901
In general, this common exception occurs when a phone is being sluggish. Android gives the app five seconds to start the foreground service and it didn't happen in time. This could be strictly due to a slow phone with an old processor and less memory requiring frequent garbage collections. More likely, the issue is caused by ANRs, which can simply be more significant on some phones than others. Th

[2018-07-16 19:12] colintheshots commented on #2902
See #2901.

In general, this common exception occurs when a phone is being sluggish. Android gives the app five seconds to start the foreground service and it didn't happen in time. This could be strictly due to a slow phone with an old processor and less memory requiring frequent garbage collections. More likely, the issue is caused by ANRs, which can simply be more significant on some phones tha

[2018-07-16 19:30] suhailsinghbains commented on #2679
I wanted to solve this bug, can someone mentor me on this?

[2018-07-16 19:32] andreicristianpetcu opened #2914 "Focus constantly bugs users about GDPR cookies"
## Steps to reproduce
Visit any site with a GDPR/EU cookie popup like https://techcrunch.com/2018/06/26/firefox-gets-speedier-tab-switching-a-new-accessibility-tool-for-developers-and-more/
You will get a GDPR notification
![screenshot_20180711-174312](https://user-images.githubusercontent.com/922368/42778985-9da0797e-8947-11e8-8923-c44347a95453.png)
Click OK at the bottom.
Close Focus.
Repeat the

[2018-07-16 19:34] colintheshots opened #2915 "Add renderer selection between GeckoView and WebView"
### Why/User Benefit/User Problem
As a user, I'd like to receive the latest and greatest web renderer with all new Firefox features.
As a developer or QA engineer, I'd like a means to cleanly select between GeckoView and WebView without messing up app state.

### What / Requirements
There will be a shared preference to select which web view type to use. A developer or QA engineer will have a means

[2018-07-16 19:40] colintheshots opened #2916 "Create and configure A/B test for selecting between GeckoView and WebView"
### Why/User Benefit/User Problem
As a user, I would like to use the newest, stable renderer with the best new features.
As a developer, I would like to control the rollout of the new rendering engine to ensure success.

### What / Requirements
The renderer selection feature #2915 will be connected to Fretboard for handling this A/B test experiment. An experiment will be properly configured to tog

[2018-07-16 19:42] colintheshots commented on #2792
# Focus
- [x] Add renderer selection between GeckoView and WebView (m) (#2915)
- [x] Create and configure A/B test for selecting between GeckoView and WebView (m) (#2916)

[2018-07-16 21:17] st3fan commented on #2776
Reopening this because this is still happening on Focus 6.0.

[2018-07-16 21:23] st3fan commented on #2776
For comparison, try using maps.google.com in Firefox for iOS. Both apps hide the toolbar on scroll, but Firefox handles this very nicely for maps.google.com. Maybe the scrolling/hiding logic can be taken from there.

[2018-07-16 22:06] ekager commented on #2791
Hey @RomanWuattier , sure you can work on this, it looks like #2809 never was cleaned up and merged.

[2018-07-16 22:29] #2687 closed

[2018-07-16 23:03] #1365 closed

[2018-07-16 23:18] ekager commented on #2664
I also saw this today when I uninstalled Klar and reinstalled, when I dismissed the first run page, I saw it again after searching.

[2018-07-17 00:10] #2686 closed

[2018-07-17 00:15] ekager commented on #2664
Did a little testing for the original testing bug I'm not sure my last comment is related. Looks like on a new install, this is a problem because the appContext we set the preference with is not the same context as when we background and reopen the app by clicking the homescreen icon, then the context for the shared preferences is the normal installed app context. If the app is not a fresh install

[2018-07-17 00:19] #2679 closed

[2018-07-17 00:30] brampitoyo commented on #2679
@suhailsinghbains I think this bug has been solved already. Feel free to look at other bugs that need fixing. Thanks!

[2018-07-17 00:50] #1820 closed

[2018-07-17 00:50] #1449 closed

[2018-07-17 01:52] #2912 closed

[2018-07-17 02:03] brampitoyo commented on #2712
@sblatz I assume that pressing the negative button will not erase the session, but will simply close the dialogue and return user to the homescreen, is this correct?

This is the least destructive action. The user’s session is always preserved when the negative button is pressed, unless – let’s say – the user has failed authentication too many times.

On iOS, I also recommend the same behaviour. W

[2018-07-17 04:41] brampitoyo commented on #2818
@pocmo I expect to get this icon from Sean tomorrow.

[2018-07-17 08:22] abhishekd08 commented on #2685
Can I work on this ?

[2018-07-17 10:03] #2902 closed

[2018-07-17 10:24] pocmo commented on #2914
Related (or duplicate): #1254

[2018-07-17 13:01] pocmo commented on #2818
@colintheshots Maybe we should get the "Nightly" build type in already? We want Nightly builds to only use GeckoView and not be part of the A/B experiment. So we may want to have the build type before landing the A/B test, I guess?

[2018-07-17 17:00] ekager commented on #2900
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1476346

[2018-07-17 17:02] oliviabrown9 commented on #2712
@brampitoyo For iOS, I think that we're setting a precedent in other places in the upcoming release that erase is not a protected feature (users don't have to authenticate to erase in the quick action from the home screen or from Siri). I personally think it's fair to have an equivalent erase option with the new session option. I'm also not sure I understand where "cancel" would take users.

[2018-07-17 17:24] #2677 closed

[2018-07-17 17:34] bbinto commented on #2914
This doesn't have anything to do with our newly introduced cookie management feature, this also happens e.g on Desktop in PBM.

[2018-07-17 17:36] bbinto commented on #2911
@ekager to confirm if this also happens with the latest WV version

[2018-07-17 17:44] mcomella opened #2920 "debian.org & gnu.org open in Chinese"
## Steps to reproduce
- Visit debian.org or gnu.org

### Expected behavior
Page is in english

### Actual behavior
Page is in chinese

### Device information

* Android device: Pixel 2 Oreo
* Focus version: Klar 5.2 #21731654

I'm guessing they're doing user agent sniffing because I don't see this problem in Chrome

[2018-07-17 17:48] pocmo commented on #2910
https://bugzilla.mozilla.org/show_bug.cgi?id=1476364

[2018-07-17 17:48] bbinto commented on #2900
Once GV team has triaged the bugzilla but, let's revisit and prioritize accordingly.

[2018-07-17 17:55] bbinto commented on #2883
Let's figure out the WHY, and discuss after what the next steps are.

[2018-07-17 17:58] bbinto commented on #2882
@Sdaswani to roll this into a sec bug for the security team to investigate

[2018-07-17 18:02] cpeterso commented on #2883
Since this bug only happens with GeckoView and a portion of the page in the screenshot appears to be rendered, this problem might be related to [GeckoView rendering bug 1472356](https://bugzilla.mozilla.org/show_bug.cgi?id=1472356). We have a potential workaround (disabling SkiaGL on Android) in [Firefox bug 1468801](https://bugzilla.mozilla.org/show_bug.cgi?id=1468801).

[2018-07-17 21:49] sblatz commented on #2712
How should we handle back button presses when the authentication prompt is displayed? Should that be ignored or should we just clear the session and put them on the home screen? @brampitoyo

[2018-07-17 22:56] rpappalax opened #2922 "Refactor UI tests with standard test names and TestRail links"
### Why/User Benefit/User Problem
Refactor UI tests with standard test names and provide links to TestRail test definitions.

[2018-07-17 23:09] #2791 closed

[2018-07-17 23:48] Sdaswani commented on #2882
"Focus uses the platform-provided WebView (for now); so I guess the real question here is whether those precision timers are disabled in WebView as well.  This might really be a question for the Google folks who maintain WebView (or it might be discoverable via some web-searching).  But it seems likely that Google would've applied the same mitigation in WebView that they applied to Chrome."

[2018-07-18 03:46] brampitoyo commented on #2818
<img width="256" src="https://user-images.githubusercontent.com/51007/42858226-8ad088f6-8aa1-11e8-8d0f-dfd2ea0bbb11.png">

@pocmo Here are the assets, as promised:

* [Launcher icons](https://cl.ly/t0cS/Focus%20Android%20Nightly%20-%20Launcher%20Icons.zip) (circle mask)
* [Adaptive icons](https://cl.ly/t0Wx/Focus%20Android%20Nightly%20-%20Adaptive%20Icons.zip)

[2018-07-18 04:32] #2678 closed

[2018-07-18 12:00] guruprasath-b commented on #1899
can I work on this issue?

[2018-07-18 12:17] guruprasath-b commented on #1611
@mcomella can I work on this?

[2018-07-18 14:55] bbinto opened #2925 "Wrong locale for search engine"
<img width="764" alt="screen shot 2018-07-18 at 10 52 53 am" src="https://user-images.githubusercontent.com/122897/42889643-eec7ffa2-8a78-11e8-8ad6-a872e84f8217.png">

German
"Seit einer Weile funktioniert die Suche nicht richtig. Die Suchen wie
Duckduckgo, Ecosia oder Bing denken immer ich wäre in den USA. Daher
bekomme ich immer Such - Ergebnisse für und aus den USA."

[2018-07-18 17:12] ekager commented on #1611
Sure @gupta1anubhav , feel free to investigate this issue

[2018-07-18 19:20] sholkayvishal commented on #2885
Hi, is this issue now open? I mean can I try to solve this now as it has a P3 label?

[2018-07-18 20:01] npark-mozilla opened #2927 "Geckoview: video playback does not stop after going back to the launcher"
## Steps to reproduce
- Open Klar Geckoview, go to cnn, select a video to play
- When video is playing, press home button to exit to launcher

### Expected behavior
- The audio of video playback should not be playing
### Actual behavior
- The audio of video playback should not be playing

### Device information
Pixel 2, Android P
Master branch, commit 0e3cff5bc0a16e69dec5b841bdb0359d7aef2b41

[2018-07-18 20:14] sholkayvishal commented on #2927
There is a slight mistake in this issue, specifically in Actual Behavior. The following should be the correct actual behavior.

**Actual Behavior**
- The audio of video playback is still playing

[2018-07-18 20:30] nojunpark opened #2928 "On Webview, CNN video fails to load with TP on"
## Steps to reproduce
On Webivew Focus, go to CNN.com , make sure the tracking protection is on
Play one of the news video

### Expected behavior
- Video plays normally with TP on

### Actual behavior
- VIdeo fails to play, saying that manifest failed to load

When Tracking protection is turned off, the video can be played

### Device information
Pixel 2, Android P
Focus master branch, commit http

[2018-07-18 20:33] ekager commented on #2927
Originally filed in #2209

[2018-07-18 20:58] #2922 closed

[2018-07-18 21:31] BrianNJones commented on #2712
@brampitoyo @sblatz , thanks again for the amazing context. Bram, do you think "Erase" is predictive enough (user will understand what happens after tapping)? I'm not sure; it seems more "final" than "fresh start." Does "Start New Session" or "New Session" do the same thing, you think?

[2018-07-18 21:54] sblatz commented on #2712
@brampitoyo Since Focus should obscure content until the user authenticates, should we automatically turn on Stealth mode when the user enables fingerprint auth? Otherwise, the authentication doesn't really do much since you can still see it in multitasking before you authenticate.

Not sure if this requires some explanation to the user if we decide to lock the toggle to the "on" position while bi

[2018-07-18 22:48] cpeterso commented on #937
I filed a GeckoView bug about fixing <input type="file">:

https://bugzilla.mozilla.org/show_bug.cgi?id=1476810

[2018-07-18 23:41] ekager commented on #2927
May be solved by #2929

[2018-07-19 00:05] ekager opened #2930 "When First Run is dismissed, URL bar appears in purple typing state"
## Steps to reproduce
1. Dismiss First Run

### Expected behavior
URL Bar in normal active (pink) state

### Actual behavior
URL Bar in purple typing state

Probably a regression from #2643 .

[2018-07-19 01:01] ekager opened #2932 "Trouble downloading on Android P"
## Steps to reproduce
1. Try to download

### Expected behavior
File downloads

### Actual behavior
Download Manager gives System error. Going to downloads and clicking on failed file + retry -> file downloads.

### Device information

* Android device: P
* Focus version: GeckoView Nightly

[2018-07-19 15:12] colintheshots commented on #2818
@pocmo I'll add a nightly build product type. It'll disallow webview variants and only support gecko variant targets. The switcher will still be there and the A/B test will effectively be a no op for nightly, since the default for gecko variants is GeckoView.

[2018-07-19 15:49] ekager commented on #2927
Hey @npark-mozilla can you confirm that this is now fixed on master and close this bug? Thanks!

[2018-07-19 16:52] carun opened #2937 "Wayland page not displayed correctly"
# Steps to reproduce

Visit https://wayland.freedesktop.org/faq.html

## Expected behavior

Page displays properly

## Actual behavior

Page displays as a two character column and runs long

## Device information

Android device: Samsung S7 Oreo
Focus version: 6.0 (Build #21861909)

I'm guessing they are parsing user agent because I don't see this issue with chrome.

[2018-07-19 18:32] ekager commented on #2937
This is only happening on WebView builds as far as I can tell

[2018-07-19 19:39] npark-mozilla commented on #2927
hmm, it's still happening on the tip of the master, on both android P (pixel 2) and API 24 (moto 5).

[2018-07-19 21:02] nojunpark opened #2940 "WebViewDataTest.java is failing, and it may be that we're not deleting cache properly."
## Steps to reproduce
- Run WebViewDataTest.java (https://github.com/mozilla-mobile/focus-android/blob/master/app/src/androidTestWebview/java/org/mozilla/focus/privacy/WebViewDataTest.java) on a real device

### Expected behavior
- test should pass
### Actual behavior
- test fails, with following error on both Pixel 2 and Moto G5:
`
java.lang.AssertionError: File '000003.log' should not contain an

[2018-07-19 21:12] npark-mozilla commented on #2940
@pocmo could you take a look at this please? if this is really the case, it's something that we probably need to fix soon.

[2018-07-20 08:00] sv-ohorvath opened #2942 "[A11y] First run tour navigation is difficult"
## Steps to reproduce
Activate Talkback.
1. On the First run tour tap next on the first slide.
2. Swipe right/left until you reach the end of the visible content.

### Expected behavior
Talkback should read only the visible content and should start reading the new slide (or indicate that the content was changed).

### Actual behavior
1. goes to 2nd slide and doesn't read automatically the next sli

[2018-07-20 08:08] sv-ohorvath opened #2943 "[A11y] Missing type of homescreen's "More options" button"
## Steps to reproduce
1. Activate Talkback.
2. On the homescreen, no page loaded, tap the Menu button.

### Expected behavior
Talkback should say the type of the "More options" button.

### Actual behavior
Homescreen Menu button doesn't say if it's a menu/button, just "More options".
In a tab with a loaded page, it says "More options button" correctly.

### Device information

*Android device:
LG

[2018-07-20 08:21] sv-ohorvath opened #2944 "[A11y] The "Search for ..." hint should be read after the clear button"
## Steps to reproduce
1. Activate TalkBack.
2. Type a search term in the URL bar.
3. Swipe right until you reach the search hint, displayed under the URL text box.

### Expected behavior
In URL edit mode, the "Search for ..." hint should be read after the clear button, being in the same view.

### Actual behavior
Currently, the reader jumps out of the edit mode and reads the home screen text in th

[2018-07-20 08:26] sv-ohorvath opened #2945 "[A11y] "ADD" button is spelled A-D-D"
## Steps to reproduce
1. Activate TalkBack.
2. Open a webpage.
3. Open the menu and select "Add to home screen".
4. Tap the "Add" button.

### Expected behavior
The button label is read correctly as one word "Add".

### Actual behavior
The button label is spelled "A-D-D".

### Device information
* Android device:
LG Nexus 5 (Android 6.0.1)
Google Pixel (Android P beta)
* Focus version: 6.3

[2018-07-20 08:30] sv-ohorvath opened #2946 "[A11y] Klar freezes while using TalkBack"
## Steps to reproduce
1. Double tap to activate the trash button - Klar freezes.
OR
1. Open a webpage.
2. Open the menu and select to share via copy to clipboard.
The confirmation snackbar "copied to clipboard" is read after a while (5-10 seconds) - Klar freezes.

### Device information

* Android device:
LG Nexus 5 (Android 6.0.1)
Google Pixel (Android P beta)
* Focus version: 6.3

[2018-07-20 08:36] cpeterso commented on #2470
@ekager What is the scenario where GV's User-Agent string will be used for downloads? Is the downloading managed by Android instead of Focus and thus needs to be told to spoof GV's User-Agent string?

[2018-07-20 08:38] cpeterso commented on #2824
@ekager This bug is labeled "Klar+GeckoView". Do you need any GV API changes to fix this bug?

[2018-07-20 08:44] sv-ohorvath opened #2947 "[A11y] Settings menu, the title doesn't say "menu" or "list""
## Steps to reproduce
1. Activate TalkBack.
2. Open a webpage.
3. Open the main menu.
4. Open the Settings menu.

### Expected behavior
The Settings menu title should also say that it's a "menu" or "list".

### Actual behavior
The reader says the "Settings" title only.

### Device information

* Android device:
LG Nexus 5 (Android 6.0.1)
Google Pixel (Android P beta)
* Focus version: 6.3

[2018-07-20 08:49] sv-ohorvath opened #2948 "[A11y] 'Find in page' feature is hard to use with TalkBack"
## Steps to reproduce
1. Activate TalkBack.
2. Open a webpage.
3. Open the main menu and select 'Find in page'.
4. Try to type something.

### Expected behavior
When the search bar is opened, there should be a signal that it's displayed and if the keyboard is on/off.
The keyboard should be on by default.

### Actual behavior
When the search bar is opened, there is no signal that it's opened, or if

[2018-07-20 14:18] bbinto commented on #2885
@ekager - I think that's a neat thing to do if a contributor can pick this up, I assume we need @brampitoyo to provide UI?

[2018-07-20 14:24] bbinto commented on #2915
@colintheshots can we add a telemetry probe so I can query on the usage of the engines?

[2018-07-20 15:50] colintheshots commented on #2915
@bbinto I'll need to investigate how to do that. I just added the GeckoView flag by updating the old, incorrect logic. Was there already any telemetry tied to that?

[2018-07-20 16:58] sblatz commented on #2712
Here is a (crude) demo of the current functionality. I apologize for the off-device recording, since it's in "secure mode" screen capture doesn't work!

[Demo](https://youtu.be/b0P_0PGamjE)

[2018-07-20 17:16] #2891 closed

[2018-07-20 21:24] dennisguse opened #2950 "Find in page: can only be used _after_ site is fully loaded"
## Steps to reproduce

_Case 1:_ load a web page
1. Open a web page that does not load immediately.
2. While the web page loads open the menu and go to find in page.

_Case 2:_ load a web page and abort load via menu (after some content has arrived).
1. Open a web page that does not load immediately.
2. While loading: abort load process via menu.
2. Open menu again and go to find in page.

### Exp

[2018-07-21 17:32] Gitoffthelawn opened #2951 "Data retained after erasing browser cache"
**Steps to reproduce:**

1. Install Firefox Focus/Klar v2.5 for Android
2. Go to http://lucb1e.com/rp/cookielesscookies/
3. Enter a string in the input field and press 'Store'
4. Press Firefox Focus/Klar's Trash Can icon to clear the cache
5. Repeat step 2

**Actual results:**

After Step 5, Notice that the counter increases and the string is not deleted.

Repeating Step 4, or reloading the page w

[2018-07-21 19:20] jashgala commented on #2911
I tried it out with the latest version and it was able to open the corresponding app correctly.
I was on the latest version pulled from master as of July 22nd.

[2018-07-21 19:38] jashgala commented on #2950
This is behavior is due to [this line of code](https://github.com/mozilla-mobile/focus-android/blob/da23faf8d612a8fa94eaa9369652429a6336e148/app/src/main/java/org/mozilla/focus/menu/browser/MenuItemViewHolder.java#L30).

When I tried to see what happens when I remove it, it causes the find in page view to be opened and as soon as the page load finishes the view disappears. It seems like it is inte

[2018-07-21 19:59] jashgala commented on #2937
Few observations:
- When I modified the CSS in Chrome Inspect to use `em` instead of `px`, the page rendered correctly.
- With Chrome inspect, it can be seen that the width of the `<body>` element in pixels is much less in Focus/Klar compared to it's width in another browser (in my case I used the default android browser).
    - Focus Webview [body element width](https://pasteboard.co/HvwOw4H.png)

[2018-07-22 22:12] #2915 closed

[2018-07-23 02:31] brampitoyo commented on #1980
@sblatz If the server is taking too long, I wonder if – along with greying out the page – we should show a “cancel” button in the middle of the grey-out overlay? The idea being, in most cases it’s not required, but when you do need it, it’s very important. So it needs to be really prominent.

[2018-07-23 08:59] pocmo opened #2952 "Update nimbledroid to use new APKs"
[code]

https://tools.taskcluster.net/groups/T6TLRUMYQUGPS91KoXow0g/tasks/ENd5yfzhTOuGMDtRRwIh-w/runs/0/logs/public%2Flogs%2Flive.log

[2018-07-23 08:59] pocmo commented on #2952
@npark-mozilla @colintheshots

[2018-07-23 09:05] pocmo opened #2953 "UI tests for "Gecko X86" builds fail with missing APK error"
Gecko X86:

ERROR: (gcloud.firebase.test.android.run) [app/build/outputs/apk/klarGeckoX86/debug/app-klar-gecko-x86-debug.apk] not found or not accessible

https://tools.taskcluster.net/groups/T6TLRUMYQUGPS91KoXow0g/tasks/UIv3jHO9Te64aAIqCsyxIA/runs/0/logs/public%2Flogs%2Flive.log

[2018-07-23 09:05] pocmo commented on #2953
@npark-mozilla @colintheshots

[2018-07-23 09:20] pocmo commented on #2915
Let's make sure to file a follow-up issue for that. :)

[2018-07-23 10:03] pocmo commented on #937
From the GV bug:

[2018-07-23 10:05] pocmo commented on #937
@ekager That might be something we can fix --^
@bbinto This might be a feature we can support easily with GeckoView (if we don't implement it for WebView for now..)

[2018-07-23 11:30] callahad opened #2954 "URL bar retains formatting of pasted text"
## Steps to reproduce

1. In Chrome, visit https://example.com
2. Copy the text on the page, including the header
3. Open Focus
4. Paste into the URL bar

### Expected behavior

* Text is entered as plain text

### Actual behavior

* Pasted text retains most styling, or at least text sizing, italics, weight, underlines, etc.

### Device information

* Android device: Pixel
* Focus version: At leas

[2018-07-23 11:40] pocmo commented on #2954
This looks like a duplicate of #1346.

[2018-07-23 12:01] callahad commented on #2954
Agreed, closing

[2018-07-23 12:01] #2954 closed

[2018-07-23 12:03] callahad commented on #1346
Consistent steps to reproduce over in #2954 (closed as a duplicate)

[2018-07-23 17:22] ekager opened #2957 "Sometimes Text Doesn't Slide Up When Phone is Unlocked"
![screenshot_20180706-101732](https://user-images.githubusercontent.com/25442310/43092415-ff3d36ee-8e61-11e8-8dcb-949050acee5d.png)

## Steps to reproduce
I can't reliably reproduce, but sometimes when I lock my phone with Focus open, and then unlock, I will get the screenshot above.

### Expected behavior
Text slides up for keyboard

### Actual behavior
See screenshot

### Device information

* A

[2018-07-23 18:34] npark-mozilla commented on #2952
Also need to notifiy nimbledroid about our new app id, if this was changed

[2018-07-23 18:45] npark-mozilla commented on #2952
If the package name 'org.mozilla.focus' got changed, it's a big deal for nimbledroid measurement, but I don't think that's the case here. Let me know if I'm mistaken

[2018-07-23 19:49] rpappalax commented on #2928
Also seeing this 'could not load manifest file' issue on master w/ TP enabled.
NOTE: same issue on firefox-connect
see: https://github.com/mozilla-mobile-skunkworks/firefox-connect/issues/182
![image](https://user-images.githubusercontent.com/3699494/43099347-c436eac6-8e76-11e8-9963-e064351d1467.png)

[2018-07-23 20:22] ekager opened #2959 "Change GV save state to use GeckoResult"
Should be in a background thread but that is blocked on bugzilla.mozilla.org/show_bug.cgi?id=1474618 which should be uplifted in next Beta

[2018-07-23 20:30] ekager commented on #2889
Should be closed by histogram

[2018-07-23 20:30] #2889 closed

[2018-07-23 20:41] ekager commented on #2680
Closed by #2924

[2018-07-23 20:41] #2680 closed

[2018-07-23 20:41] ekager commented on #2681
Closed by  #2924

[2018-07-23 20:41] #2681 closed

[2018-07-23 22:16] ekager opened #2961 "Context Menu rounded edge regression"
Introduced by #2686. The rounded edges of the context menu look strange with the download warning underneath. @brampitoyo what would you like to happen here?
![screenshot_20180723-151249](https://user-images.githubusercontent.com/25442310/43105810-18f8a374-8e8b-11e8-9a53-35882e2ed02f.png)

[2018-07-23 23:01] rpappalax commented on #2928
NOTE: this issue is intermittent.  Going to gather evidence on more devices to verify.... TBD

Similar intermittent issue on Fandango.com video trailers.  When "Block other content trackers" is enabled, the video screen is either completely black or video doesn't play.

*TP settings*
![image](https://user-images.githubusercontent.com/3699494/43106722-be25209a-8e8e-11e8-98e8-82543e3716e5.png)

When

[2018-07-24 04:43] brampitoyo commented on #2712
@BrianNJones

I think that “Start New Session” or “New Session” is more understandable in this particular scenario. My only worry is in having a different word to convey a concept that’s practically similar to “Erase” (or “Erase and Open”), if that makes sense?

Would something along the lines of “Erase and Start New Session)” suffice, or would it be too long and hard to localise?

Anyway, the wor

[2018-07-24 05:51] brampitoyo commented on #2816
We can show hints that are more private, more direct, and more respectful of our mission by utilising two principles:

1. **Just-in-time information**. Instead of showing hints _after users do certain actions_ (our prediction may be inaccurate), show information next to features and menu items themselves, and show them permanently (no tracking required).

We have just-in-time information for:

1.

[2018-07-24 06:00] brampitoyo commented on #2896
![set-default-browser 2x](https://user-images.githubusercontent.com/51007/43119678-79508ea4-8f6b-11e8-810f-126dcf851ff3.png)

[2018-07-24 06:05] Sdaswani commented on #2896
Cool @brampitoyo - when do we show this toast / tip?

[2018-07-24 06:05] brampitoyo commented on #2897
![add-to-homescreen 2x](https://user-images.githubusercontent.com/51007/43119845-2d149606-8f6c-11e8-8027-caab8ba467e6.png)

[2018-07-24 06:06] brampitoyo opened #2964 "Just-in time information – Tracking Protection"
Per https://github.com/mozilla-mobile/focus-android/issues/2816#issuecomment-407289032

![tracking-protection 2x](https://user-images.githubusercontent.com/51007/43119884-4f6defea-8f6c-11e8-8e53-a874702ec45b.png)

[2018-07-24 06:07] brampitoyo opened #2965 "One-tap action – Open Link in New Tab"
Per https://github.com/mozilla-mobile/focus-android/issues/2816#issuecomment-407289032

![open-link-in-new-tab 2x](https://user-images.githubusercontent.com/51007/43119926-7ce5a076-8f6c-11e8-8fac-20cf3701e284.png)

[2018-07-24 06:08] Sdaswani commented on #2897
@brampitoyo do I understand that this shows only when the user clicks into the menu?

[2018-07-24 06:08] brampitoyo opened #2966 "One-tap action – Add Custom URL"
Per https://github.com/mozilla-mobile/focus-android/issues/2816#issuecomment-407289032

![add-custom-url 2x](https://user-images.githubusercontent.com/51007/43119952-94534e98-8f6c-11e8-8bf7-5e95e6fced4a.png)

[2018-07-24 06:14] Sdaswani commented on #2816
@brampitoyo said:

@brampitoyo  and @bbinto - do we know that users are accessing these features or menus often enough for these tips to be seen very often? For example, if a menu is accessed by 1% of users on a daily basis, an associated tip is not going to influence them very often (if at all).

[2018-07-24 06:20] brampitoyo commented on #2896
@Sdaswani I think that the menu item should show up only when Focus isn’t set a default browser, but the toast and modal dialogue should show up whenever the menu item is tapped.

[2018-07-24 06:29] Sdaswani commented on #2896
@brampitoyo this toast only shows up in the setting screen right?

[2018-07-24 06:34] brampitoyo commented on #2897
That’s right. The thinking goes that the user knows to tap the menu whenever they want to add a bookmark (as is the case with both Chrome and Firefox for Android). So, when they want to do that on Focus, they would do the same and see the hint to add a homescreen shortcut – at the right place and moment.

[2018-07-24 06:35] brampitoyo commented on #2896
Yes.

[2018-07-24 06:55] Sdaswani commented on #2896
Looking at the data, out of 400 million foregrounds, settings has only be accessed some 2 millions times. Not very many people will ever see this tip. https://sql.telemetry.mozilla.org/dashboard/android-focus

[2018-07-24 06:59] Sdaswani commented on #2897
Out of 400 million app foregrounds, the menu has only been clicked some 9 million times - that's about a 2% chance users will ever see this tip.

[2018-07-24 15:17] sblatz commented on #2712
@brampitoyo definitely in agreement about your thoughts on stealth mode as far as it being on by default. I don't see the harm in allowing users to disable it, though, as it could be helpful for those who have it as a default browser!

[2018-07-24 15:50] vext01 commented on #1250
Tab management is the last remaining nit that stops me using FFF for all tasks.

Why not just have a button to open a new tab someplace? That's all you'd need.

[2018-07-24 16:42] KrzysztofBarszcz commented on #2961
Hi, I would like to work on it :)

[2018-07-24 16:48] ekager commented on #2961
Go for it @KrzysztofBarszcz !

[2018-07-24 17:01] ekager commented on #2965
I think the "Just Once" and "Always" are a bit confusing it makes it seem like this is changing a setting to always open links in a new tab. It's not right?

[2018-07-24 17:06] pocmo commented on #2965
I wonder if we can intercept link clicks. Usually the engine handles those.

[2018-07-24 17:27] ekager opened #2967 "Remove setTrackingProtectionCategories from setBlockingEnabled"
Added to solve issue https://bugzilla.mozilla.org/show_bug.cgi?id=1475761 but should be fixed in newer GV versions when able to update.

[2018-07-24 17:32] BrianNJones commented on #2712
@brampitoyo @sblatz , agree! "New Session" is reasonably clear/unambiguous and has the advantage of already being "in market."

[2018-07-24 17:42] ekager commented on #2690
This is in Beta 8 for GV, can implement when we update GV versions

[2018-07-24 17:45] kfontecilla commented on #2953
@npark-mozilla Could you please double-check and close if fixed?

[2018-07-24 17:45] Sdaswani opened #2969 "Create 6.2 Build"
- [ ] Create 6.2 branch / tag
- [ ] Cherry Pick Find-in-page integration https://github.com/mozilla-mobile/focus-android/issues/2690
- [ ] Cherry Pick GV Switcher https://github.com/mozilla-mobile/focus-android/issues/2915
- [ ] Cherrry Pick A/B Test https://github.com/mozilla-mobile/focus-android/issues/2916

@boek assigning you to play traffic cop.

[2018-07-24 17:45] Sdaswani commented on #2969
cc @colintheshots @ekager

[2018-07-24 17:46] Sdaswani commented on #2690
moving to 6.3 to get it done quicker.

[2018-07-24 17:49] kfontecilla commented on #2950
@brampitoyo Is this intended behavior? Please confirm.

[2018-07-24 17:56] ekager commented on #2942
Dupe of #2780

[2018-07-24 17:56] #2942 closed

[2018-07-24 18:47] Sdaswani commented on #2969
@boek ?  I think from the 6.1 tag?

Because 7.0 / master is not in a shippable state.

[2018-07-24 18:57] #2818 closed

[2018-07-24 19:24] #1982 closed

[2018-07-24 19:40] boek opened #2970 "Bump android-components to 0.15"

[2018-07-24 19:45] boek opened #2971 "URLBar is opaque on first launch"
# Actual
<img width="586" alt="image" src="https://user-images.githubusercontent.com/1250545/43162272-5e938818-8f3f-11e8-88fe-d136b8d75317.png">

# Expected
<img width="586" alt="image" src="https://user-images.githubusercontent.com/1250545/43162285-64892750-8f3f-11e8-8b65-33eea6f9cea0.png">

[2018-07-24 19:58] npark-mozilla opened #2973 "With the new Build Variant naming, UI tests in AndroidTestWebview is no longer detected"
In android studio, only the tests inside the AndroidTest folder is detected.  with the Webview naming gone, those tests that are specific to Webview variant is not selected.

@colintheshots , what would be the best way to handle this?

[2018-07-24 20:02] npark-mozilla commented on #2973
one option would be to move everything inside AndroidTest and somehow check the renderer inside each UI test script, wondering whether there are any other convenient ways to do this.

[2018-07-24 20:26] npark-mozilla opened #2974 "Task 'assembleKlarArmNightlyAndroidTest' and 'assembleKlarX86NightlyAndroidTest' not found in root project 'focus-android'."
UI Test submission to Google Testcloud fails, because above two build variants do not exist.

Currently, available compilation for AndroidTest are:
connectedKlarAarch64DebugAndroidTest
connectedKlarArmDebugAndroidTest
connectedKlarX86DebugAndroidTest

Since they are only available in debug mode.  Since Debug build has webview by default, we won't be able to test Geckoview it seems.

@colintheshots

[2018-07-24 20:28] npark-mozilla opened #2975 "Focus:test renderer switch is always off by default upon startup, regardless of the renderer"
## Steps to reproduce
Build FocusArmNightly, load it on device, and go to focus:test

### Expected behavior
Since Nightly has Geckoview by default, the new renderer switch should be set to true

### Actual behavior
New renderer switch is set to false
According to @colintheshots , Until a shared preference is set, the value defaults true. The settings page reflects the shared preference, not the de

[2018-07-24 20:39] #2970 closed

[2018-07-24 20:40] ekager commented on #2951
Hi @Gitoffthelawn , what do you mean Focus v2.5 ? We are currently on Release 6.0. Also, are you talking about WebView or GeckoView builds?

[2018-07-24 20:55] Sdaswani commented on #2969
@pocmo can you expound more on this:

[2018-07-24 21:56] npark-mozilla opened #2976 "Nimbledroid upload is failing due to apk name change"
Currently klar geckoview upload to nimbledroid is failing because the apk name have been changed.

Just to double check, @colintheshots is FocusArmRelease in WV and KlarArmRelease in GV?  For nimbledroid, we need to submit apks with webview/geckoview set by default.

[2018-07-24 22:07] npark-mozilla commented on #2976
Parent bug: #2952

[2018-07-24 22:56] ekager commented on #2911
Confirmed this works in WV and not in GV. If you copy + paste the custom scheme (for example: reddit://reddit/?link_click_id=550437242878965404) into GV it does work, so we're not getting the url request for these schemes for some reason.

[2018-07-24 23:21] sblatz commented on #2712
@pocmo @bram I forgot that we wouldn't be able to take screenshots if stealth mode is on. Instead, what if we emulated what iOS does, and just create a grey view the obscures the webview when the app is backgrounded when fingerprint auth is enabled and have "Secure Mode" as a separate option?

[2018-07-25 00:03] brampitoyo commented on #2965
@pocmo Yes. The idea with this is to ‘hijack’ the link-tap action and present a context menu, but I’m aware that it’s a totally non-standard behaviour (although it exposes a potentially useful feature).

@ekager I was thinking that we would make it possible for users to always open links in a new tab by default. Maybe some people would find it useful? So, yes, this gives users a hint on how to acc

[2018-07-25 00:06] ekager commented on #2965
We know roughly when a link is clicked because we have a user triggered flag when the URL changes.

As for the second question, I'm not sure this is really a desired feature to have every link you click open in a new tab?

[2018-07-25 00:47] brampitoyo commented on #2816
@Sdaswani wrote:

This problem occupied me all night, and it turned out that we have an obvious solution that’s been overlooked: **start screen tips**.

Users who have used Focus for a while already know exactly about our value proposition. So can we replace our default “Browse. Erase. Repeat.” messaging with useful tips?

These tips refresh after each time you press Erase.

They may start at a ra

[2018-07-25 00:59] brampitoyo commented on #2712
@sblatz @pocmo

I like this idea.

We know that Stealth mode controls two things:

1. Obscuring webview
2. Blocking screenshots from being taken

If the API supports biometrics, then we show the biometrics setting menu item.

If biometrics is ON, then webview should always be obscured. In this scenario, Stealth mode will only control screenshots blocking.

If biometrics is OFF, or if the phone doe

[2018-07-25 02:08] colintheshots commented on #2976
Nightly defaults to GeckoView, Debug to WebView, and Release to WebView. If you want release with GeckoView, you'll need to set a shared preference.

[2018-07-25 02:13] colintheshots commented on #2975
The issue here is the switch on the focus:test screen defaults the new rendering engine or GeckoView setting to off. It should default it based upon the build type instead. The issue is the switch starts in the wrong state. It's not that the actual rendering engine used is incorrect. However, going to the screen without changing the switch will turn off GeckoView.

I'll fix this.

[2018-07-25 02:30] jashgala commented on #2965
@brampitoyo
Does this also come with the capability to change this behavior at a later point in time?
For example, if I select Always at the beginning and decide to change it to the original setting, what will be the user flow for that?

[2018-07-25 02:57] colintheshots commented on #2974
There's two options. We can either create tests that set the rendering engine shared preference before starting the app or I can set a build property to alter the testBuildType.

[2018-07-25 02:59] colintheshots commented on #2973
You can check the current renderer with AppConstants.isGeckoBuild().

[2018-07-25 03:04] brampitoyo commented on #2965
@jashgala

I was planning on having a new setting menu item. Something along this line:

We would default to “Always ask”. This way, all users would get this dialogue the first time they tap on a link, and get to choose a default behaviour that would fit their workflow best.

In this dialogue:
* If you choose “Open link in new tab” and tap “Always”, then the setting would flip to “New tabs”.
* If

[2018-07-25 03:15] Gitoffthelawn commented on #2951
Hi @ekager. :)

I do mean Focus v2.5.  I haven't used Focus for quite a few months, and was catching up on some backlog when I submitted the issue.

IIRC, I had downloaded Focus from the Google Play Store.  So whatever was on the Play Store will determine whether it was WebView or GeckoView.

In any case, congrats on reaching 6.0 already.  The improvements must be impressive.  When I have some tim

[2018-07-25 04:33] Sdaswani commented on #2816
I ❤️ the start screen tips, and I would want to prioritize them for 7.0. I would also want to use fretboard to be able to send new tips down without app updates, but we can leave that for another revision.

As you say @brampitoyo they will be seen by 100% of users.

Can we 'deep link' to some actions (like setting default browser) instead of giving links?

cc @oliviabrown9 this may be something ni

[2018-07-25 05:10] brampitoyo commented on #2816
@Sdaswani The action that makes sense to deep link – in a sense that the action can be useful without needing any website to be loaded first – is indeed “Set as default browser”!

We can easily turn the hint text into a link – and in fact make the entire hint area tappable (even though only the hint text is underlined).

And when tapped, we will show an instructional modal dialogue that says “On t

[2018-07-25 07:52] pocmo commented on #2969
* Didn't @ekager land a bunch of other GV fixes in master that we'd would want in Beta too?
* We updated GV frequently on master - do we need to cherry-pick something there too?
* After landing #2915 we got reports that some Nightly users are back on WebView. Are we sure everything's working in Nightly correctly before we go to Beta?

There are 115 commits in master that are not in 6.1. I hope we

[2018-07-25 09:43] pocmo commented on #2816
![set-default-browser](https://user-images.githubusercontent.com/51007/43180662-6641e278-902d-11e8-9d55-cc9ae1fb85a4.png)

I think this screen flow is technically not possible unfortunately :(

Our default browser setting does two different things:
* (1) On modern Android systems it links to the Android settings for setting up a default browser (That's something the user has to do manually)
* (2)

[2018-07-25 09:51] pocmo commented on #2712
This unfortunately doesn't work because Android takes the screenshot **before** the app gets backgrounded. That's something we tried too back then! :)

[2018-07-25 09:53] pocmo commented on #2712
I think we went through some iterations (although I do not remember the details anymore). Afaik an early iteration mentioned screenshots too and the setting ended up to be complicated to be understood by users.

[2018-07-25 12:38] abhay222 commented on #2947
I would like to work on it

[2018-07-25 13:00] abhay222 commented on #2945
I have fixed this issue and submitted a pull request.

[2018-07-25 13:22] bbinto commented on #2915
@colintheshots let me know when you've created the telemetry issue and I'll confirm/comment in there - thanks.

[2018-07-25 14:35] npark-mozilla commented on #2976
Is there a way to set the renderer with a compile flag?  The way nimbledroid takes api is that we upload the release apk, and the tests are run by treating the app as a black box.  (We have a separate test app that is set to interact with org.mozilla.klar / org.mozilla.focus app) So I don't think we can use shared pref, since the test does not belong to this repo.

Other option may be that we can

[2018-07-25 14:44] npark-mozilla commented on #2976
@bbinto Question here - so when the time comes, and Debug/Release is using GV by default, there wouldn't be a way for us to build Focus with WV as default (@colintheshots, am I understanding it correctly?) .  I guess when everything is set to GV, would there be still a need to do WV/GV comparison?  (because way it's setup now, that won't be possible)

[2018-07-25 14:55] npark-mozilla commented on #2974
Okay, I think the cleaner way is to check/set build variant on each test.  when #2973 is fixed, this will be fixed.

[2018-07-25 15:07] #2975 closed

[2018-07-25 15:11] pocmo opened #2980 "Taskcluster: Nightly: Create browsable index"
We have a taskcluster index that always points to the last Nightly build:
https://tools.taskcluster.net/index/project.mobile.focus.release/latest

Sometimes it would be nice (regression testing!) to get back to an old Nightly version. We keep those tasks around for a year but unfortunately it's impossible to find them.

We should follow what we do for mozilla-central. There's a **latest** index bu

[2018-07-25 15:13] sblatz commented on #2712
@pocmo Thanks for giving some background on this @brampitoyo It appears that there is *not a way* to accomplish this on Android. Chrome, 1Password, etc. all have the exact same behavior (in order to hide on the app switcher, you lose the ability to screenshot). I think the current implementation of forcing the stealth mode flag will have to suffice until the Android API allows us to implement a di

[2018-07-25 15:14] Sdaswani commented on #2712
Yes, let's land this PR so QA can hack at it.

[2018-07-25 15:23] npark-mozilla commented on #2973
I think moving everything to AndroidTest is a good idea. but here is the problem that we need to solve.  We need to run test suite against Focus Geckoview and Webviews build separately. Currently, this is done by submitting different build variant ( __Gecko___ vs __WebVIew___ ) apk to Google Firebase, and runs same ui test set.  Gecko apk will run tests only in AndroidTest, and Webview apk will ru

[2018-07-25 15:42] Sdaswani commented on #2969
@boek @ekager @colintheshots are you guys confident we can cherry pick what we need to onto 6.2 (from 6.1) and make a build that doesn't lead to a unstable build?

[2018-07-25 15:59] #2945 closed

[2018-07-25 16:03] boek opened #2982 "Quc locale has invalid HTML"
[code]

[2018-07-25 16:15] Delphine commented on #2982
@jegs87 will help with this.
Julio: please let us know here when it's corrected in Pontoon! thanks :)

[2018-07-25 16:17] jegs87 commented on #2982
Fixed in Pontoon!

[2018-07-25 17:59] boek commented on #2982
Thanks @jegs87 @Delphine! 🙌

[2018-07-25 17:59] #2982 closed

[2018-07-25 18:40] shikhart98 opened #2985 "Add a URL shortner, would be helpfull"
### Why?
Helps when you want to share some URL with others too!

### Where?
In option menu, inside URL bar.

[2018-07-25 19:44] ekager commented on #2985
Do you mean like #2127 ?

[2018-07-25 20:25] cpeterso opened #2986 "IllegalAccessError: There's no active custom tab session with id 405ad8af-5c7d-4b23-bfab-455010f35bce"
https://sentry.prod.mozaws.net/operations/focus-android/issues/4416121/

[code]

[2018-07-25 21:44] brampitoyo commented on #2816
I haven’t got a phone running older versions of Android to test this, but on my test phone running 8.1, somehow Opera Mini was able to invoke the system’s browser selection dialogue.

Example: https://www.youtube.com/watch?v=MTUd9JKGw78

I wonder what they’re doing here, and how they’re able to do it?

[2018-07-25 21:49] Sdaswani commented on #2816
We should 100% do this - @pocmo @colintheshots any ideas how we can do this?

[2018-07-26 00:00] brampitoyo commented on #2712
@sblatz

If this is the case, then let’s clarify the biometrics string:

Biometrics should appear under the **Switching Apps** subcategory under **Privacy & Security**. It will appear above Stealth. This positioning will help clarify the relationship between the two.

We should also clarify the stealth string, to explain that screenshots will be blocked:

Lastly, when Stealth is auto-enabled (ie.

[2018-07-26 04:14] brampitoyo opened #2989 "App Shortcut and Notification contains the same action"
Currently, Firefox Focus shows a very useful app shortcut on API level >25: Erase. This shortcut allows users to erase their browsing history in the background, without needing to open Firefox Focus.

<img width="360" src="https://user-images.githubusercontent.com/51007/43241169-14acb78c-90ee-11e8-8fde-87788d80f7cb.png">

Additionally, Focus also shows a permanent notification. When the notificati

[2018-07-26 04:22] brampitoyo opened #2990 "Update app shortcut icon – Erase"
#### Old

<img width="360" src="https://user-images.githubusercontent.com/51007/43241420-6d191b62-90ef-11e8-809d-590f4018cfe8.png">

#### New

<img width="360" src="https://user-images.githubusercontent.com/51007/43241570-162e37c8-90f0-11e8-91c9-eb1944c6c6aa.jpg">

[2018-07-26 04:27] brampitoyo opened #2991 "Add new app shortcut icon – Erase & Open"
Would it be helpful to add a new app shortcut icon that can complement “Erase”, and allow users to erase their browsing history and then open Focus?

We already have “Erase & Open” as one of the actions in our notification shade.

[2018-07-26 08:45] aminalhazwani commented on #2816
@brampitoyo possible technical constrains aside what if we merge the two last screens. The folks at Citymapper do something very smart. After users tap on the action the native dialog shows up with an overlay and - even if behind the overlay - they change the content of the background to guide users, this is a screenshot (on device the caret jumps up and down).

![img_9701](https://user-images.git

[2018-07-26 09:22] pocmo commented on #2985
Components issue: https://github.com/mozilla-mobile/android-components/issues/509

#2127 may be different.. that one is just about using the canonical URL for sharing. @shikhart98 Are you suggesting to use something like bit.ly here?

[2018-07-26 09:31] pocmo commented on #2816
Interesting.

This menu item seems to do different things based on the Android system and if you have a default already. On my phone it tells me to first clear the current default and then sends me to the "App Info" page of Klar. After that it shows me the same flow like you showed to select the app from a list.

This seems more complicated than our solution (on systems that have a default browser

[2018-07-26 11:06] Hackertronix commented on #2991
Hi @brampitoyo an app shortcut would be a great addition, if this is approved I would like to work on it :)

[2018-07-26 11:25] nkestrel opened #2992 "Home screen shortcut does not use site favicon"
Blocks #833

The Home screen shortcut icon always uses the initial letter of the site and not the site favicon.

![focus-homescreen-icon](https://user-images.githubusercontent.com/9861435/43259286-1f241c88-90c5-11e8-851f-5d939042a537.jpg)

https://github.com/mozilla-mobile/focus-android/issues/833#issuecomment-317910664 appears to show it working back in July 2017.

Affected:
Focus 6.3 Build #2220

[2018-07-26 14:44] Sdaswani commented on #2816
We can iteratively improve this to something more complex that covers more cases but can we start defining something MVP for 7.0 (that still links directly to the setting change)?

[2018-07-26 15:48] Lululalu opened #2994 "Can't copy the URL address of the current search."
A long tap just gives the option to add a custom url. And a short tap doesn't show the URL for copying.

[2018-07-26 15:50] Lululalu opened #2995 "Firefox Focus 6.3 is not using Gboard Private Mode for the find in page feature."
![screenshot_20180726-124511_firefox focus](https://user-images.githubusercontent.com/32398857/43273272-6c075f26-90d2-11e8-901f-032b1f7ea9ed.jpg)

[2018-07-26 16:58] flansch commented on #1216
I switched to a new phone, Nokia 7 Plus with Android 8.1, and now I constantly see a notification saying "Android System - Firefox Klar is using battery" when pages are opened in Firefox Focus but the app is  in the background. While it only wastes a few percent of battery when not used f.e. overnight, I don't see a reason for my browser doing stuff while I'm not using it. Is there a way to just s

[2018-07-26 17:00] cpeterso commented on #2852
@Sdaswani - We should add this bug to the Focus 7.0 milestone.

Randall says Firefox Reality had this issue. He fixed the issue by checking before calling GeckoSession.goBack() if it was currently in fullscreen and exiting fullscreen instead of calling goBack. He says Focus should do the same when it handles the back button so GV doesn't get into a bad state from calling goBack when in fullscreen.

[2018-07-26 17:03] colintheshots opened #2996 "Custom Tab UX When Trashing the Session Is Confusing"
## Steps to reproduce
Open Firefox Focus normally.
Open some tabs.
Click on a link in another app to open a custom tab.
Press Back to return to your previous app.

### Expected behavior
The custom tab should clean up the custom tab silently and return to your previous app.

### Actual behavior
The screen flashes to the pink, empty browser background briefly and the Toast says "Your browsing histor

[2018-07-26 17:14] flansch commented on #1216
I forgot to mention that the OS doesn't think the app ever is in background, battery usage statistic at the moment tells:
While in active use: Used for 1d 17h 40m
While in background: Active for 0m

But I was using the app a maximum of two or three hours since last charging my phone.

[2018-07-26 17:41] ekager commented on #2996
@brampitoyo while this isn't a "bug" and probably isn't highest priority right now, feel free to take a look and offer some suggestions for improvement :)

[2018-07-26 17:49] colintheshots opened #2997 "[Meta] Make Custom Tabs Great"
This is a meta bug to contain all the ways we should return Custom Tabs to an epic era of greatness. Outside browsers brought Chrome and violins (Opera/Vivaldi). They're bringing tabs. They display lists. And some, I assume, are good browsers.

- [ ] Custom Tab UX When Trashing the Session Is Confusing #2996
- [ ] Custom Tabs: Support pre-warming #2300
- [ ] Custom Tabs: Support custom animations

[2018-07-26 20:38] cpeterso commented on #2869
Remote debugging and profiling support ([GV bug 1462019](https://bugzil.la1462019)) won't land until GV 63, so this Focus UI setting does not need to block the Focus 7.0 release.

[2018-07-26 20:45] ekager opened #2998 "Highlight all matches does not work in GV"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1478800

[2018-07-27 07:36] g-van-vreckem opened #3001 "Add to Home screen doesn't work on Chrome OS"
## Steps to reproduce
Visit any Site with Firefox focus, In the menu click on "Add to Home screen", click Add
### Expected behavior
See an "App shortcut" added to the Launcher, optionally pinned to the shelf (same as chrome create shortcut).
### Actual behavior
Nothing happen.
### Device information

* Android device:
Acer Chromebook 14 (CB3-431) (Nougat 7.1.1)
* Focus version:
6.0 (build #2186190

[2018-07-27 12:44] KwanEsq commented on #2995
Possibly just adding [`android:imeOptions="flagNoPersonalizedLearning"`](https://developer.android.com/reference/android/widget/TextView#attr_android:imeOptions) to:
https://github.com/mozilla-mobile/focus-android/blob/4db78eb93364637087a10c72737107677b7ab75d/app/src/main/res/layout/find_in_page.xml#L16-L31
would be enough to fix this.

[2018-07-27 14:48] #2976 closed

[2018-07-27 15:52] #2952 closed

[2018-07-27 17:06] boek commented on #1930
@Sdaswani / @brampitoyo  to follow up on the

Where do we want to display this?

[2018-07-27 17:08] Sdaswani commented on #2969
WON'T FIX

[2018-07-27 17:08] #2969 closed

[2018-07-27 17:17] Sdaswani commented on #2816
@brampitoyo is this Eng Ready? Or do we still need UX and/or copy? I know for default browser there was some discussion about making that actionable without leaving the app, but leaving that implementation aside, can Eng get started on this?

[2018-07-27 17:35] ekager commented on #2824
Yes. Closing for now

[2018-07-27 17:35] #2824 closed

[2018-07-27 17:42] ekager opened #3005 "Update the build instructions in the README"
Our new builds made our README out of date and a contributor just commented on this. We should update the README.

[2018-07-27 17:44] Sdaswani opened #3006 "7.0 Beta with GV Packaged (but at 0% Rollout)"
On August 13th, we will roll out a 7.0 beta with a packaged GV but set to 0% roll out, based on master.

We will get this ready for QA by August 8th. @boek will break this down and tag it as Ready for QA with a link to the release (as needed).

[2018-07-27 18:07] ekager commented on #2150
Closing this issue

[2018-07-27 18:07] #2150 closed

[2018-07-27 18:08] ekager commented on #2151
Closing

[2018-07-27 18:08] #2151 closed

[2018-07-27 18:22] cpeterso commented on #2470
@pocmo - Does this issue need to block the Focus+GV release? Does setting the User-Agent string in the Android Download Manager fix a problem (e.g. do download requests need matching User-Agent string and user cookies)?

[2018-07-27 20:54] sblatz commented on #1980
@brampitoyo after how long should the "cancel" button be displayed? If we show it every time, we'll have the same issue we have now where it just flashes really quickly.

[2018-07-27 22:12] ekager commented on #2161
Ok let's close this for now

[2018-07-27 22:12] #2161 closed

[2018-07-27 23:24] ekager commented on #2690
Closed by #2999

[2018-07-27 23:24] #2690 closed

[2018-07-27 23:24] ekager commented on #2959
Closed by #2999

[2018-07-27 23:24] #2959 closed

[2018-07-27 23:28] #2967 closed, assigned to ekager

[2018-07-27 23:33] ekager commented on #2961
Hey @KrzysztofBarszcz can you tell us if you're planning on working on this, so we can reassign it otherwise?
Thanks!

[2018-07-28 03:32] #2995 closed

[2018-07-28 07:10] KrzysztofBarszcz commented on #2961
@ekager I should finish it in less than two hours :)

[2018-07-28 15:06] ekager opened #3012 "GV Find in Page Highlight does not clear when exit find in page"
## Steps to reproduce
1. Open Find in Page
2. Search for word
3. Close find in page

### Expected behavior
Highlight disappears

### Actual behavior
Highlight remains

### Device information

* Android device: Pixel 2
* Focus version: Nightly - GV beta 11

[2018-07-28 15:06] ekager commented on #2947
Go for it, @Gyanesha !

[2018-07-28 17:38] cadeyrn commented on #2807
Thank you. I can verify that it's fixed in the latest Nightly. Now Firefox Klar Nightly is finally usable and I can start to use it as default browser. ;-)

[2018-07-29 02:38] #2783 closed

[2018-07-29 07:17] #1193 closed

[2018-07-29 09:39] dennisguse opened #3013 "Find in page: does not open keyboard automatically"
## Steps to reproduce
1. Load a web page
2. Select find in page in menu
3. Find in page opens

### Expected behavior
The find in page text field opens and the keyboard opens as well.

### Actual behavior
Only the find in page text field opens.
Cursor focuses the text field, but the keyboard does not open.
Need to manually give focus to the text field.

### Device information

* Android device: XT1

[2018-07-29 17:45] dennisguse commented on #1528
@bbinto @pocmo
It would be great to get an estimate on this issue.
Would this be possible?
And do you need help / what is actual issue preventing the regular bump of versionCode?

[2018-07-30 01:36] brampitoyo commented on #1980
@sblatz You’ve made a really good point about only showing the “Cancel” button after a certain wait time has elapsed.

Let’s set the “Cancel” button to only show up 1 second after the grey-out. It will prevent the flashing effect, but as soon as the wait time is unbearable (and research has shown that users have particularly low tolerance for waiting), the way out is shown immediately.

[2018-07-30 01:47] brampitoyo commented on #1930
@boek wrote:

We can show this privacy tradeoff message in the URL bar itself:

![search suggestions 2x](https://user-images.githubusercontent.com/51007/43373537-5af7c458-93fe-11e8-9a27-ba9a5b68cd34.png)

And as a label under its Settings menu item:
![search settings 2x](https://user-images.githubusercontent.com/51007/43373545-6c10974c-93fe-11e8-9570-1f4181928a21.png)

-----

One question I have f

[2018-07-30 01:59] brampitoyo commented on #2991
Thanks, @Hackertronix! If you think that you can fix this issue easily (we already have an app shortcut for “Erase”), it feels as if you can get started on this already. But just to be safe, let’s wait for the issue to get triaged.

[2018-07-30 02:13] brampitoyo commented on #2996
@colintheshots @ekager While the erase confirmation message is important to assure users that Focus doesn’t retain data (that’s the whole point of setting Focus as a default browser), the message is also somewhat inaccurate, because it implies that “your browsing history” means _both_ the history of the custom tab, and the history of the app.

Instead, what we may want to say is something along th

[2018-07-30 03:20] Sdaswani commented on #1930
I like this - @bbinto do we need to run this by Legal?

[2018-07-30 04:05] brampitoyo commented on #2816
@aminalhazwani

I like this idea a lot, and think that we can do something similar for default browser. Of course, it depends on whether we can invoke the “Default app” system dialogue reliably!

But ideally, it might look a little like this:
![set default browser 2x](https://user-images.githubusercontent.com/51007/43377030-594a049a-9412-11e8-95d6-0221860c05c5.png)

And the arrow animation would l

[2018-07-30 04:30] brampitoyo commented on #2816
Yes. Absolutely.

Brian, here’s a summary of all the in-app communication that we want to do in Focus.

(To everybody else: if you feel like the discussion above are fragmented and incomplete – such is the nature of any bug/issue thread – then read below for a summary)

-----

## Context: why we need in-app communication

We think that educating our users about some of our less known features will

[2018-07-30 05:30] Hackertronix commented on #2991
Thanks @brampitoyo is that build live in production because my latest installation does not show any app shortcuts currently (except for the default "Uninstall" and "App Info")

[2018-07-30 05:40] Hackertronix commented on #3013
Hey @dennisguse , I would like to give it a shot

[2018-07-30 06:06] Gyanesha commented on #2947
I am enable to interpret this. The reader should say  "Setting menu" or is it something else?
In the description is the main menu  settings menu ?

[2018-07-30 07:34] sv-ohorvath commented on #2947
Hi Gyanesha,
When you open the Settings menu (shown in the screenshot), TalkBack should read "Settings menu" (or what you think it's best). Currently, it only says "Settings".
![screenshot_20180730-103054](https://user-images.githubusercontent.com/4037709/43383570-15634d00-93e4-11e8-9de5-2badaa8accbf.png)

[2018-07-30 09:50] bbinto commented on #1930
@Sdaswani - I believe @BrianNJones normally runs his copy by legal. Could you please confirm, Brian?

[2018-07-30 09:51] pocmo commented on #2470
I don't think it does need to block the release. Especially not if we are not going to block on cookies (which barbara indicated).

[2018-07-30 10:14] pocmo commented on #2633
This seems to be fixed in the latest Nightly.

[2018-07-30 10:14] #2633 closed

[2018-07-30 10:16] bbinto commented on #2816
@Sdaswani what exactly should I think of? If we want users to be sent to the settings page?

[2018-07-30 12:00] pocmo opened #3014 "Missing placeholders in pa-IN"
https://tools.taskcluster.net/groups/VT_hP3DDQuOuZ9xy4RMB8w/tasks/VT_hP3DDQuOuZ9xy4RMB8w/runs/0/logs/public%2Flogs%2Flive.log

[code]

CC @Delphine

[2018-07-30 12:10] pocmo commented on #1216
@flansch do you even see that when all tabs are cleared?

[2018-07-30 12:59] Delphine commented on #3014
I've invalidated the string in Pontoon so hopefully this should be ok. Gonna contact localizers again to fix this

[2018-07-30 14:13] pocmo commented on #2985
@shikhart98 Are there specific use cases where a short URL is better?

This a third-party URL shortening service we'd share the URL with that service and that service would be able to see all visits. I'm not sure this fits Focus except there's some killer use case.

[2018-07-30 14:18] Sdaswani commented on #2816
@bbinto I need your green light for us to build all these things for 7.0
(most importantly the start screen tips, which I would want to do first as
they are the most high impact).

On Mon, Jul 30, 2018 at 3:16 AM, Barbara Bermes <notifications@github.com>
wrote:

--
Susheel Daswani
Senior Mobile Engineering Manager
phone / text: (415) 218-7259

[2018-07-30 14:56] shikhart98 commented on #2985
Yes, I saw that we are giving user an option to share the URL.

![whatsapp image 2018-07-30 at 8 22 21 pm](https://user-images.githubusercontent.com/29306481/43405046-92b72284-9436-11e8-88f0-8f4dcadc4724.jpeg)

Now if we just shorten the URL at that point! and allow user to share short and sweet URL rather than including all this crap, would be better.

![whatsapp image 2018-07-30 at 8 22 21 pm 1]

[2018-07-30 15:58] BrianNJones commented on #1930
@bbinto @Sdaswani we don't run everything through legal; only if if touches on something like this. This would need to be routed their way.

[2018-07-30 15:59] flansch commented on #1216
@pocmo No, the 'using battery' notification isn't shown when I first erase the browsing history and then send Firefox Focus to the background.

But: The first thing I did after installing the app was to disable app notifications from the Android system settings (because I have no need to erase my browsing history). I re-enabled them now and the 'using battery' notification is gone, instead the 'er

[2018-07-30 16:20] yoasif commented on #1216
For what it is worth, I am also seeing that Android thinks that Focus never goes into the background, and I have done nothing fancy with notification settings.

![image](https://user-images.githubusercontent.com/152493/43409813-f48d4d42-93f2-11e8-9654-7a4ca5ad763e.png)

[2018-07-30 16:37] levimatheri commented on #2947
Is it really necessary to change it to Settings menu?

[2018-07-30 16:49] #3013 closed

[2018-07-30 16:53] sblatz commented on #1980
@brampitoyo I found a way to just disable the textfields (not the whole screen i.e. the menu bar is still active). Because of this, I think it's okay to not display a big cancel button in the middle of the screen (as the user can clearly press the "X" in the top left).

After one second of waiting, the loading indicator will be displayed to make it even more clear to the user that we're still tryi

[2018-07-30 17:43] mcomella opened #3019 "Find in page next/previous arrows are hard to tap"
## Steps to reproduce
- Open find in page
- Search for something with multiple results
- Try to hit up and down arrows

### Expected behavior
Work pretty well

### Actual behavior
Hard to hit arrows. I think the hit boxes don't extend *below* the views (so clicking between the arrow and the system navigation bar, back forward etc., is no-op).

### Device information

* Android device: Pixel 2, And

[2018-07-30 17:47] cpeterso commented on #2099
GV's onProgressChange API ([bug 1437988](https://bugzil.la/1437988)) landed last week.

[2018-07-30 17:48] ekager commented on #2099
Thanks @cpeterso , this won't be uplifted to 62, correct?

[2018-07-30 20:30] ekager opened #3022 "Set native crash reporting off/on with send usage data"

[2018-07-30 20:35] BrianNJones commented on #1930
@bbinto @Sdaswani we don't run everything through legal; only if if touches on something like this. This would need to be routed their way.

[2018-07-30 20:36] ekager commented on #3012
See https://bugzilla.mozilla.org/show_bug.cgi?id=1479536
Not a RB IMO

[2018-07-30 21:02] #2685 closed

[2018-07-30 21:11] ekager opened #3024 "Get Settings Icon for Find in Page"
Hey @brampitoyo ! When you made the spec for #2685, Find in Page wasn't in the menu. I'm assuming we want the search magnifying glass icon? Could you get us an svg with the correct thickness to match the other menu items?
Thanks!

[2018-07-30 22:03] #2784 closed

[2018-07-30 22:08] #3022 closed

[2018-07-30 22:40] #1980 closed

[2018-07-30 22:42] ekager commented on #3019
Hey @boek do you want to take another look at these buttons?

[2018-07-30 22:53] ekager commented on #2994
This is a feature we added to be able to quickly change your search in the URL bar. What is your reasoning for needing to copy a search URL? You could also select "Share" from the menu to share the search URL.

[2018-07-30 23:31] brampitoyo commented on #3024
Yes. Sorry about forgetting to post the search icon!

Here it is: [search.svg](http://f.cl.ly/items/1T3X2d271x002m2y181U/Search.svg)

[2018-07-30 23:35] brampitoyo commented on #2991
@Hackertronix It appears in my build (nightly). But I do recall that this action also appears in the release (production) build:

<img width="360" src="https://user-images.githubusercontent.com/51007/43429045-7a005d4e-94b5-11e8-8c24-c39ca479146c.png">

[2018-07-30 23:40] brampitoyo commented on #1980
@sblatz This is a superior solution to disabling the whole screen, while using our existing close action to cancel. Great work!

[2018-07-30 23:50] Sdaswani commented on #2711
@bbinto @lwa_moz is this a must have for 7.0?

[2018-07-30 23:59] ekager commented on #2711
Looks like [app actions aren't released yet](https://developer.android.com/guide/actions/), but [slices are, and have some documentation](https://developer.android.com/guide/slices/getting-started#kotlin)

[2018-07-31 00:03] ekager commented on #2711
This is also blocked by #2909

[2018-07-31 00:04] Sdaswani commented on #1930
Thanks @brjones - what is the finalized copy to run by Legal?

[2018-07-31 04:33] Hackertronix commented on #2991
I am on v6.0 and it's definitely not there

![screenshot_20180731-095929](https://user-images.githubusercontent.com/5685314/43437900-f4d83922-94a8-11e8-8cc7-456b3dd38cf7.png)

[2018-07-31 04:56] brampitoyo commented on #3024
@ekager In addition to the search icon, it turned out that there are quite a few icons that needs to be updated!

http://f.cl.ly/items/050E2I2u3w3F24033x0U/focus-android-icons.zip

Some of the icons have been entirely replaced with a new asset (example: share).

However, most of the other icons have been refined, centred and pixel-fitted without changing their basic shapes. Example: delete, home,

[2018-07-31 05:44] brampitoyo opened #3026 "Optimise UX and visual design for Chrome OS and Chromebooks"
### Why/User Benefit/User Problem
* I want to be able to use Firefox Focus on my Chromebook and know exactly what to expect, after having used Focus for Android and iOS
* As a Google Play Store app review team member, Chromebook optimisation means that

### What / Requirements
* Responsive layout: app window can be resized at will without compromising layout or functionality
* Support for windowed

[2018-07-31 06:16] bbinto commented on #2711
@lwa-moz and @Sdaswani - if it's not even released yet, there is no point in pushing it in, so I'm ok to wait for it but @lwa-moz probably knows best what is a MUST, so if we could get him to probe if/how much that is needed for our plans, let's regroup after again. For now, don't worry @Sdaswani.

[2018-07-31 07:07] cpeterso opened #3027 "Only send GeckoView crash reports if telemetry is enabled ("Send usage data")"
@ekager says native crash reporting is automatically enabled for all Focus+GV builds, but we should only send crash reports if telemetry is enabled. In the future, we might have separate UI options for crash reporting and telemetry, but for now we only have the "Send usage data" option.

This bug should block the v7.0 milestone and, ideally, be fixed in Sprint 3 before the Focus 7.0 Beta test.

[2018-07-31 07:10] cpeterso commented on #3027
This bug is a dupe of issue #3022, which ekager already fixed!

[2018-07-31 07:10] #3027 closed

[2018-07-31 12:54] bbinto commented on #3024
Moving this to 7.0, otherwise please let me know if that doesn't make sense, @ekager

[2018-07-31 12:56] bbinto commented on #3019
Is this a @boek issue or @bram issue? Either way, please confirm t-shirt size if possible and move to backlog, I could see this as a P2 - P3

[2018-07-31 12:58] bbinto commented on #2997
Great summary, @colintheshots - I'd love to get estimates for all of them, if possible (for the ones that might have had @brampitoyo look at it already).

Could we split this up into most useful ones to least useful / used ones?

I could see #2300 the most useful to the user as it will make our browser feel faster.

[2018-07-31 12:59] bbinto commented on #2992
@brampitoyo to comment

[2018-07-31 13:02] bbinto commented on #2990
After t-shirt sizing this, @Sdaswani - please move to 7.0 if it's a small, otherwise P2 backlog, thanks :)

[2018-07-31 13:04] bbinto commented on #2966
Is this the finalized breakdown of 7.0 in-app tips, @brampitoyo?

[2018-07-31 14:02] Sdaswani commented on #2990
seems like a clear S - can we get the asset @brampitoyo ?

[2018-07-31 14:08] Sdaswani commented on #2816
great @bbinto - @sblatz is going to breakdown the work for the simple implementation (where an app update is required for new tips) while @BrianNJones gets the strings ready

[2018-07-31 15:26] BrianNJones commented on #2816
@brampitoyo @Sdaswani @bbinto, wrapping my head around everything here. Think there's more to understand before we implement the start screen tips.
- What cue(s) are we giving users to help understand that start screen content is semi-dynamic? The hedline (Firefox Focus) is static; it's unlikely users will understand the text beneath is changing.
- Tying string refresh to "Erase" makes engineering

[2018-07-31 16:59] lwa-moz commented on #2711
Including Slices in 7.0 would increase the probability of getting featured, but is not a 'must'.

The Play Store team chooses to feature apps that highlight new OS capabilities in a way that is compelling to users. Rolling out Slices and Actions together as a fully baked feature set in a subsequent release feels more compelling, and more doable, than forcing through Slices alone.

Getting featured

[2018-07-31 17:08] mcomella opened #3029 "codecov is not aware of Kotlin"
e.g. Kotlin files don't appear in the codecov results directories: https://codecov.io/gh/mozilla-mobile/firefox-tv/tree/master/app/src/main/java/org/mozilla/focus/browser

Our Jacoco android plugin doesn't support Kotlin apparently – https://github.com/arturdm/jacoco-android-gradle-plugin/issues/37 – but codecov does ([supported languages](https://docs.codecov.io/docs), [kotlin example](https://gi

[2018-07-31 17:33] boek commented on #3019
@ekager I'll take it

[2018-07-31 17:45] #2994 closed

[2018-07-31 17:46] boek commented on #2994
@bbinto this could be fixed with #2885 as well

[2018-07-31 17:46] ekager commented on #2992
@bbinto , not a regression, we took out the favicon for either discretion or consistent icon quality, I can't quite remember. Maybe @pocmo remembers. Closing for now, reopen if we want to readdress this.

[2018-07-31 17:46] #2992 closed

[2018-07-31 17:52] kfontecilla commented on #2980
@pocmo Is this for releng to do or developers?

[2018-07-31 17:53] kfontecilla commented on #2974
#2973 is fixed. closing.

[2018-07-31 17:53] #2974 closed

[2018-07-31 17:53] #2973 closed

[2018-07-31 17:54] #2953 closed

[2018-07-31 18:03] colintheshots commented on #2996
Showing the pink background is part of the problem, since it visually implies everything was trashed.

The fundamental issue is the confusion, so a better message might help. Of course, it appears as a Toast, so it won't appear for long. It won't appear at all if the user disabled notifications from our app, which is better than suggesting that both sessions were trashed.

[2018-07-31 18:06] #2852 closed

[2018-07-31 18:26] BrianNJones commented on #1930
@brampitoyo @Sdaswani Tricky one to try and keep short. Lot of info.

For the URL bar:
Would you like to turn on search suggestions? To get them, Focus needs to send Google what you type in the address bar.

For Settings:
Turn on search suggestions?
Focus will send Google what you type in the address bar

[2018-07-31 20:00] sblatz commented on #2989
I will investigate if this is possible. If it is, it will likely be a quick fix.

[2018-07-31 21:11] tomzorz commented on #1216
I'm experiencing heavy battery drain on my LG G6 recently (maybe since updating to Android 8.0?).

Today's example: I think I accidentally opened the app in the morning, but otherwise I haven't used it at all. Result:

![screenshot_2018-07-31-23-09-13](https://user-images.githubusercontent.com/6363312/43487465-fea531b2-9516-11e8-803b-5c49f802c543.png)
![screenshot_2018-07-31-23-09-19](https://user

[2018-07-31 21:12] tomzorz commented on #1216
Let me know if I can assist in any way diagnosing this.

[2018-07-31 21:27] #2780 closed

[2018-07-31 21:28] #2961 closed

[2018-07-31 21:28] Sdaswani commented on #1930
Thanks @BrianNJones - I know you love a challenge. I think these strings should work fine. cc @boek

[2018-07-31 21:29] ekager commented on #2957
The keyboard does slide, but the animation of the text sliding up behind it sometimes does not happen

[2018-07-31 21:30] Sdaswani commented on #1930
Getting Legal approval here: https://bugzilla.mozilla.org/show_bug.cgi?id=1479913

[2018-07-31 21:56] ekager commented on #2990
Was able to do it with a layer drawable, don't need a png :)

[2018-07-31 23:39] brampitoyo commented on #2990
@ekager Yay for layer drawable. Thanks, Emily!

If in the future we choose to have an app shortcut icon for “Erase & Open” (#2991), it should also have the same icon.

[2018-07-31 23:41] brampitoyo opened #3035 "Redesign menu & dialog – Add to Home screen"
#### Old

<img width="360" src="https://user-images.githubusercontent.com/51007/43493063-19bffc02-9580-11e8-9c5c-5c69d565409a.png">

#### New

<img width="360" src="https://user-images.githubusercontent.com/51007/43754724-5f0005ca-9a60-11e8-889b-98f99c430611.png">

#### Spec

<img width="360" src="https://user-images.githubusercontent.com/51007/43754696-40f95c0c-9a60-11e8-97d5-82381e809b39.png">

[2018-08-01 00:13] brampitoyo commented on #3035
For the most part, the measurement of this dialogue (and dialogues in general) are the same. Colour values are what’s mostly changed.

[2018-08-01 01:36] #2990 closed

[2018-08-01 02:52] brampitoyo commented on #2816
@BrianNJones Thanks for bringing up all your concerns! They’re very important to address, and I’ll try my best to answer them below:

I had a few ideas around how the tip should initially display and refresh, but your point has helped clarify my thinking.

1. Every time the user cold boot the app, the initial state should always start out on “Browse. Erase. Repeat.” with no other hint fading in or

[2018-08-01 03:31] colintheshots commented on #2996
I would go with #1. Android won't really let us hijack back presses for very long. In Android P, anything that freezes the UI thread also crashes. I'm not sure how we'd stop Android from continuing back if it was even desirable behavior.

[2018-08-01 05:09] brampitoyo commented on #2992
Adding a home screen shortcut is a risky move. It means that anybody who has access to the phone can tap on the shortcut and find out where the link leads to.

By obscuring the favicon and letting users rename the shortcut, we give them the ability to have a discreet way to open their favourite sites.

[2018-08-01 05:11] brampitoyo commented on #2966
Yes. This is the finalised breakdown for the Add Custom URL one-tap action – which is not a tip, but still achieves the same objective: expose less common features.

[2018-08-01 05:32] brampitoyo commented on #3019
@boek If it helps, I can regenerate the up and down arrow icons so that they occupy a 24x24dp space. This might make them an easier tap target. What do you think?

[2018-08-01 05:39] ekager commented on #3019
That'd be great @brampitoyo , could we try that?

[2018-08-01 08:55] nish-d commented on #2947
Hey, I'd like to work on this.

[2018-08-01 09:33] pocmo opened #3037 "Telemetry in Nightly builds broken?"
I think the merge of 2eae0a236057bf4cc525d6819ed9fd378ab72c25 may have broken sending telemetry in Nightly builds (nightly != release).

I think `isDevBuild()` should continue to check for the dev build type (because that's the only dev type) and if we do not want to send telemetry for other types (like coverage) then we should do that explicitly in TelemetryWrapper and not change `isDevBuild()` t

[2018-08-01 09:40] pocmo commented on #2980
Potentially both. But no high priority.

[2018-08-01 12:08] 4ut0-M-4t commented on #2743
**OS/version**: Android 6.0.1
**App/version**: Firefox Klar GV Nightly v6.3

In my case image files (be it .png, .jpg or .gif) from every single website I tried are always saved as **downloadfile.bin**. This also holds true for WebView versions of Klar.

[2018-08-01 14:08] KrzysztofBarszcz commented on #3035
Hi,
Can I work on it? Could you provide background color and gray-10 60% flat value? I guess background is `photonInk80`

[2018-08-01 14:10] Delphine commented on #3014
this has been fixed by localizers, so I hope it's good on your side too now :)

[2018-08-01 14:11] pocmo commented on #3014
Yes, this seems to work again!

[2018-08-01 14:11] #3014 closed

[2018-08-01 14:53] sblatz commented on #3005
Updated!

[2018-08-01 14:59] sblatz opened #3038 "Convert pre-existing code to Kotlin"
### Why/User Benefit/User Problem
Huge quality of life improvement for devs moving forward: Kotlin is less verbose, cleaner, and provides a lot of nice optimizations that Java doesn't.

### What / Requirements
Use "convert to kotlin" function built into Android Studio and fix errors as they arise.

### Acceptance Criteria (how do I know when I’m done?)
The entire codebase is in Kotlin.

💡 Note: Th

[2018-08-01 16:10] sblatz commented on #2989
After some research, it doesn't appear it's possible for us to monitor whether or not the long press menu is revealed or not on the launcher. We may have to move forward with option 1 if this doubling is an annoyance.

cc: @colintheshots to confirm that this is the case.

[2018-08-01 16:34] sblatz opened #3039 "Create initial UI for home screen tips"
### Why/User Benefit/User Problem
Home screen tips can help users learn about features of the app they may not be familiar with.

### What / Requirements
Display a Toast-like message embedded in the home screen that will show different tips each time the user launches the app.

### Acceptance Criteria (how do I know when I’m done?)
* Tips UI is shown on home screen with a new tip each launch
* Tip

[2018-08-01 17:34] yoasif commented on #2992
Could this not be mitigated by  #2712? That is, if a user clicks on a shortcut, they are prompted with a bio metric prompt to open it.

You could also add a checkbox (checked by default) to the add shortcut dialog that allows the user to use the discovered favicon, or if unchecked, to use a generic icon.

For what it is worth, for the obscuring shortcut use case, Focus today automatically uses the

[2018-08-01 17:35] ekager commented on #3035
Hi @KrzysztofBarszcz , you can work on this. I would suggest trying to change the dialog style for accent, primary, etc colors for the project in general to match this mock to not repeat work for every dialog! And @brampitoyo can get you the flat values this afternoon. Thanks!

[2018-08-01 19:10] Sdaswani commented on #3039
@sblatz thanks for splitting this from the bigger ticket. I think this needs to be answered as part of this work: https://github.com/mozilla-mobile/focus-android/issues/2816#issuecomment-409320473

Also, your acceptance criteria should contain telemetry to track a certain tip being viewed and clicked.

[2018-08-01 20:12] rpappalax commented on #2780
This seems to work well now.  Making a few further notes in #2553

[2018-08-01 20:12] rpappalax commented on #2553
Navigating with talkback seems to work well now  with exception of last screen where the user gets 'trapped' unless they know where on the screen to double press "OK, got it."  Perhaps a final swipe should exit the first run dialogue?

[2018-08-01 20:13] BrianNJones commented on #2816
@brampitoyo, thank you X 1,000,000 for your response.

Tip display beneath Firefox Focus: I'm still skeptical that users will see the tips, but it can't hurt to try. (Aside: it would be interesting to do a quick eye-tracking test, eh?)

Display rules: makes total sense, Bram...great!

# of hint strings: would you have time in the next couple days to talk this through?

Thanks again!

[2018-08-01 21:56] Sdaswani commented on #2816
@brampitoyo some comments:

- I do want to emphasize that these are called 'start screen tips', so only showing the tips after an 'Erase' takes us away from these tips showing up on the 'start screen'. 'Erase' is clicked a lot, but only showing tips after an Erase does reduce the eyeballs on these tips significantly.
- I agree that if a user displays knowledge of a tip, we have to disqualify that

[2018-08-01 22:11] mcomella commented on #3019
Touch target size guidelines from Google (
https://support.google.com/accessibility/android/answer/7101858?hl=en):

*Consider making touch targets at least 48x48dp,* separated by 8dp of space

24x24dp seems small but keep in mind we can make larger touch targets
around it.

On Tue, Jul 31, 2018 at 10:39 PM Emily Kager <notifications@github.com>
wrote: