[2018-09-11 17:21] #3199 closed

[2018-09-11 17:43] samirm opened #3374 "Integrate Firefox account syncing."
### Why/User Benefit/User Problem

Convenient and privacy oriented way to manage your online resources without having to constantly switch browsers on your phone. I wish I could keep track of the websites I visit on my mobile device with as much ease as it's done on desktop.

I'm not worried about "exposing" my history to someone else using the device, I'm worried about not being in control of my

[2018-09-11 17:46] cpeterso commented on #3153
Thanks for testing, @nkestrel. Does YouTube play in a background tab in Focus using WebView (Focus 6.0)?

We can use this bug to track the background tab issue.

[2018-09-11 18:00] boek commented on #2194
This is getting fixed with GV 63 — [1442176](https://bugzilla.mozilla.org/show_bug.cgi?id=1442176)

[2018-09-11 18:18] #2930 closed

[2018-09-11 18:23] mcomella opened #3375 "Kotlin plugin should be enabled before 'kotlin-kapt'"
Run:
[code]

Output:
Kotlin plugin should be enabled before 'kotlin-kapt'

It appears it's a warning at the start of the gradle output and it pops out in stderr. :)

[2018-09-11 18:27] sblatz commented on #2896
After quite a bit of investigation, I've determined that this functionality is not possible exactly as described.

There are three situations when the user toggles to make us default:
* **No default app is set**: in this case, we can display the desired menu where users can select a browser and set "always"

* **User installed a new browser since setting their default**: same behavior as above

*

[2018-09-11 18:27] #3287 closed

[2018-09-11 18:28] #2964 closed

[2018-09-11 18:41] #2002 closed

[2018-09-11 18:58] #2989 closed

[2018-09-11 19:25] mcomella opened #3376 "jacoco doesn't generate java code coverage"
## Steps to reproduce
- Run `./gradlew -Pcoverage jacocoFocusX86DebugTestReport`
- Open `app/build/reports/jacoco/jacocoFocusX86DebugTestReport/html/index.html`

### Expected behavior
org.mozilla.focus.webview.matcher package is available, contains Trie.java and friends

### Actual behavior
org.mozilla.focus.webview.matcher package is missing, presumably because they're java files.

We get the cla

[2018-09-11 20:25] miketaylr opened #3378 "Desktop Mode should send actual Desktop UA string"
## Steps to reproduce

1. Open WebView Focus
2. navigate to echo.opera.com
3. select Request Desktop Site

### Expected behavior

Get a Desktop UA string

### Actual behavior

Get an *interesting* UA string... https://github.com/mozilla-mobile/focus-android/blob/7a141fe133818f36121969017ed6278d252d4766/app/src/main/java/org/mozilla/focus/web/ClassicWebViewProvider.java#L232

The problem here is we

[2018-09-11 20:27] mcomella opened #3379 "Unnecessary jacoco-android dependency"
See https://github.com/mozilla-mobile/focus-android/blob/7a141fe133818f36121969017ed6278d252d4766/build.gradle#L20

We no longer use this plugin.

[2018-09-11 20:27] #3376 closed

[2018-09-11 20:46] vesta0 commented on #3074
@brampitoyo will you be working on the crash reporter UI?

[2018-09-11 20:47] ekager commented on #3210
There was a fix for this in the 62 Rel Branch, but the fix is being backed out for causing log in issues. See https://bugzilla.mozilla.org/show_bug.cgi?id=1478171 for history

[2018-09-11 20:52] ekager commented on #3378
Took this idea from another WebView based browser, but agree it's not ideal! GV is rolled out at 50% to Beta this week actually and if everything goes well, will be in release soon, so maybe we won't need to fix this

[2018-09-11 21:20] colintheshots commented on #3370
This is harder than it sounds. We'd need to detect API level changes from our defaults and we'd have to store the copied values elsewhere in the APK. We can't check against build.gradle, but we could maybe copy the values to the BuildConfig. Do we check if they altered other requirements besides minSdk?

[2018-09-11 21:28] ekager commented on #3370
It might not filter out clones but at least sideloaded APKs?

[2018-09-11 21:35] brampitoyo commented on #953
We’re going to work on this problem further on #2603, so I’m closing this issue.

[2018-09-11 21:35] #953 closed

[2018-09-11 21:55] boek commented on #3362
Hey @vesta0, I originally thought this was regarding changing the string description. But it appears the suggestion is to change the label under the selected search engine name.

<img width="430" alt="image" src="https://user-images.githubusercontent.com/1250545/45389959-65c57880-b5d2-11e8-8304-c591f2f7bd95.png">

I do agree that the word "default" here seems wrong. As  it will show your currently

[2018-09-11 22:10] brampitoyo commented on #3362
Hi @boek, I think that the string should be:

This clarifies that the selected search engine is indeed your currently active one.

What do you think, @BrianNJones?

[2018-09-11 22:17] ekager commented on #2903
Closing see #3370 for followup about unsupported device crashes

[2018-09-11 22:17] #2903 closed

[2018-09-12 00:06] miketaylr commented on #3378
awesome!

[2018-09-12 00:33] npark-mozilla opened #3386 "We should always have a way to make debug builds with webview"
### Why/User Benefit/User Problem
Raising this issue before we go default on Geckoview 100%.  Currently, Geckoview does not provide the visibility of the DOM, so most of the UI tests that accesses DOM cannot be run on geckoview.
If we go default on Geckoview across all build variant, we will be:
- Unable to run tests that access DOM
- Unable to provide full l10n screenshots, since some part of rel

[2018-09-12 00:37] npark-mozilla opened #3387 "Disable geckoview UI tests on Firebase"
### Why/User Benefit/User Problem
Currently the web renderer switch is broken (#3335).  Initially we ran two sets of UI tests, one in Webview and one in Geckoview (geckoview set is reduced because it does not have DOM accessibility)  Initially we suspected that running same tests on Geckoview would catch geckoview only bugs, but it seems that the rest of the Focus uses same code, and Espresso fram

[2018-09-12 01:00] #3365 closed

[2018-09-12 01:00] #3366 closed

[2018-09-12 01:01] #3379 closed

[2018-09-12 01:02] #3364 closed

[2018-09-12 01:03] #3320 closed

[2018-09-12 01:06] #3254 closed

[2018-09-12 02:59] vesta0 commented on #3124
@rpappalax @npark-mozilla I think this is only an issue within WebView. On beta 7.0.2 (using WebView) I am able to reproduce the error but when I manually set the engine to GeckoView the issue seem to be fixed. Would you be able to confirm?

FYI @colintheshots

[2018-09-12 03:11] Sdaswani commented on #2896
@sblatz thanks for the investigation. I look forward to @brampitoyo's feedback - I'm ok passing on this until we see how the current default browser formulation is performing in market.

[2018-09-12 04:54] vesta0 commented on #3373
@sblatz which version of Focus is this?

[2018-09-12 10:40] nkestrel commented on #3153
Youtube background playback does not work on Focus 6.1.1 with WebView.

Playback with the screen off was fixed by 7.0.1.

[2018-09-12 11:11] sblatz commented on #3373
@vesta0 this is in our most recent master build. I don't believe it's on any user-facing releases yet.

[2018-09-12 15:48] vesta0 commented on #3373
[Related to #5500 from Sprint 5](https://github.com/mozilla-mobile/focus-android/issues/3300)

[2018-09-12 15:53] vesta0 commented on #2947
@eeejay could you please take a look at this issue and advise?

[2018-09-12 16:12] Chinmay-KB commented on #2947
I would like to work on this. I think I have found a workaround.
What if I type in Settings Menu, but just selectively change the color of "menu" to same as that of background color? I've done that in a TextView before, i'll try it if it's possible here. That way Talkback still reads it as "Settings menu"

[2018-09-12 16:31] colintheshots commented on #2896
It sounds like we could do a mix of the Opera Mini solution and what we're currently doing. I should note that the Intent we're currently opening (android.settings.MANAGE_DEFAULT_APPS_SETTINGS) is API 24+ and we fallback to opening the SUMO page.

[2018-09-12 16:45] eeejay commented on #2947
I don't think this is a bug. The settings UI is a full screen section, not a "menu". TalkBack has some counter-intuitive ideas of when to present semantic/role information to users. In full screen UIs, it will simply announce the title of the pane.

A dropdown menu in Android (for example, when you press the "more options" meatball button), is announces as "popup window". This is done correctly in

[2018-09-12 16:51] colintheshots commented on #3302
I agree. I'm not sure why this is a bug. It seems helpful and desired.

[2018-09-12 16:53] Sdaswani commented on #3327
This is closed - great work everyone!

[2018-09-12 16:53] #3327 closed

[2018-09-12 17:20] ekager commented on #3302
Some history: In the past with WV, we *had* to reload the page when switching tabs. With GV, we can try to reattach the session without reloading, meaning the video position can be remembered. I think we should close this because this new behavior seems preferred with less reloading while switching tabs.
CC @Sdaswani @vesta0 @bbinto

[2018-09-12 17:35] bbinto commented on #3320
Thanks @ekager - I was under the impression that's something stored in the core ping.

[2018-09-12 18:04] ekager commented on #3373
This was discussed and decided positively upon here.
https://github.com/mozilla-mobile/focus-android/pull/3340#pullrequestreview-153621001

[2018-09-12 18:09] ekager commented on #3374
Thanks for filing @samirm . I don't think this feature is on the Focus radar at this point. Could you use Firefox for Android in Private Browsing mode to get access to accounts, bookmarks, sync, etc?

[2018-09-12 18:15] ekager commented on #3202
CC @bbinto @vesta0 @Sdaswani

[2018-09-12 18:17] Sdaswani commented on #3202
I would ask for 'Help Wanted' on this @ekager .

[2018-09-12 18:38] vesta0 commented on #3302
@Sdaswani @ekager @bbinto I agree with Emily. Sounds like page reloading when switching tabs was a limitation in WV that we won't have in GW. Users didn't like the reloading so this is definitely desirable behaviour. And it all happens within the same session so remembering video location doesn't contradict our privacy promise.

[2018-09-12 18:42] samirm commented on #3374
@ekager I could... unfortunately FF for Android doesn't seem to be as privacy minded or performant as Focus :/
Welp, guess you can't have everything. Thanks for the feedback!

[2018-09-12 18:44] Sdaswani commented on #3256
@vesta0 i wonder if we have data on how many users choose DDG as their default?

[2018-09-12 19:31] colintheshots commented on #3103
I spoke to Matthew Miller about the logistics of this. It seems there are significant issues which would limit the utility of an encrypted download space. Together, we came up with a list of concerns to consider.

Goal

Protecting SD card or on-device download storage using known and unknown exploits from being accessed by malicious apps or very basic forensics.

Concerns

- The biggest issue by f

[2018-09-12 20:00] sblatz commented on #2896
Yeah, at the very least we should implement this for API <24.

[2018-09-12 20:03] sblatz commented on #3373
@BrianNJones could we get a more succinct string for this that would convey the same message? According to the previous ticket we are going to keep it as a title.

[2018-09-12 20:35] boek commented on #3372
Hey @flodolo,

I added the 7 new locales and we now have screenshots for Huastec (hus), Yucatec Maya (yua).
https://npark-mozilla.github.io/index.html#yua-phoneScreenshots
https://npark-mozilla.github.io/index.html#hus-phoneScreenshots

If these look good to you I can move those to shipping locales as well.

[2018-09-12 20:41] boek opened #3391 "L10N import failing"
Our latest string imports have been failing due to:

[code]

and we have a few warnings:

[code]

Logs:

https://tools.taskcluster.net/groups/ecqG9k5BQ_26RRj5kDCpRg/tasks/ecqG9k5BQ_26RRj5kDCpRg/runs/0/logs/public%2Flogs%2Flive.log

[2018-09-12 20:51] rpappalax commented on #3124
@npark-mozilla thanks for checking, @vesta0! i just tried it on GeckoView and still seeing the issue.  Can we sync up a few mins on vidyo tomorrow?  would like to see if we're using same STR to arrive at result.

[2018-09-12 20:56] ekager commented on #3302
Closing this for the mentions above. Don't think it is a bug

[2018-09-12 20:56] #3302 closed

[2018-09-12 21:05] flodolo commented on #3372
I think we can do that. Again, some truncations, but nothing major.

[2018-09-12 21:34] boek commented on #3372
@flodolo Awesome. We do have one issue when importing the latest strings at #3391. I wasn't able to file an issue in the l10n repo, what is the best way to report these?

[2018-09-12 21:37] ekager commented on #2946
I cannot reproduce this off of master with a Pixel 2. Maybe this was a P Beta issue?
Closing, please reopen if still an issue.

[2018-09-12 21:37] #2946 closed

[2018-09-12 21:40] #3370 closed

[2018-09-12 21:54] zekooooo opened #3392 "Privacy leak - gyroscope"
Firefox Klar 6.1.1 exposes gyroscope to webpages. This is a major privacy leak, because:

* not all mobile devices have (functioning) gyroscopes, hence it can be used to help identify the user
* it exposes info about user's mobile phone habits (standing up, lying down, walking...), these can be used as information for marketing purposes. The gyro in my device is sensitive enough to detect my arm m

[2018-09-12 22:35] npark-mozilla opened #3394 "Add to Home screen dialog is transparent, harder to read"
## Steps to reproduce
Open a website, then when the website is loaded, select 'Add to Home screen' from the menu

### Expected behavior
Opens an opaque dialog

### Actual behavior
Dialog is transparent, harder to read now. Is it intentional?
![screen shot 2018-09-12 at 6 34 27 pm](https://user-images.githubusercontent.com/6930774/45456908-94b71980-b6ba-11e8-8a9a-b6e67e020df2.png)

### Device infor

[2018-09-12 22:37] boek commented on #2048
Hey Mike,

My apologies for not responding earlier, for some reason I missed that comment!

Unfortunately there isn't a straight forward answer to this. Focus has been shipping both WebView and GeckoView for quite some time. Even the latest beta (7.0.2) has users on both WebView and GeckoView.

I think the earliest that publicly started using it was June 22nd: https://github.com/mozilla-mobile/foc

[2018-09-12 22:55] miketaylr commented on #2048
Absolutely, thanks!

[2018-09-12 23:07] ekager commented on #2452
So @brampitoyo is this design final? I know our Settings menu has changed a bit since these designs.

[2018-09-12 23:12] ekager commented on #125
@EmmanuelMess are you working on this?

[2018-09-12 23:38] ekager commented on #3149
@brampitoyo we can add a content description that could add additional information without changing the UI

[2018-09-13 00:02] brampitoyo commented on #2452
@ekager Currently, our design looks like this:

<img width="320" src="https://user-images.githubusercontent.com/51007/45458726-0473e580-b749-11e8-89ca-6b1929fc78c6.png"><img width="320" src="https://user-images.githubusercontent.com/51007/45458737-10f83e00-b749-11e8-8759-0dcc47935813.png">

We want to tweak the latest iteration (circa May 17) slightly, to something that looks like this:

<img widt

[2018-09-13 00:09] EmmanuelMess commented on #125
@ekager Ok, I ran out of ideas, `onCreateContextMenu` doesn't seem to work correctly (when in a subclass of `InlineAutocompleteEditText` doesn't get called) and an `ActionMode` for this doesn't really make sense.

You can assign yourself to this if you want.

[2018-09-13 00:12] brampitoyo commented on #3149
@ekager This sounds like a good idea. For our deliverables, do we need to write all the subtitles to each menu item (as well as other pages and dialogues)?

-----

Speaking of dialogues, TPG had a feedback that may be related to this issue (if unrelated, we can open a new issue and solve it there).

<img width="420" src="https://user-images.githubusercontent.com/51007/45459794-1efc8d80-b74e-11e8-8

[2018-09-13 03:45] brampitoyo opened #3396 "UI to add and remove custom blocklists"
Previous discussions: #998, #953.

To add a feature to add and remove custom blocklists, we first need to add a FAB to the new “Ads” subcategory inside “Privacy & Security” settings.

Tap the “Add blocklist” FAB to open a form with a text box to paste URLs:

![settings - privacy security - content blocking - ads - blocklist management 2x](https://user-images.githubusercontent.com/51007/45465929-92

[2018-09-13 04:11] brampitoyo commented on #2416
Hi @ekager, in my opinion, this issue should have no user-visible component. We can check whether the user is actually connected to the internet ourselves, then reload the URL if that condition is true.

![image](https://user-images.githubusercontent.com/51007/45466587-cdb0c600-b76e-11e8-9618-94623d7510b8.png)

Edge case: when you have a bunch of “server not found” pages over many tabs, should we

[2018-09-13 04:28] #3232 closed

[2018-09-13 04:43] EmmanuelMess commented on #2416
@brampitoyo
Maybe tell the user that he doesn't need to frantically press the reload button for the page to reload, "When internet is connected the page will reload" should work.

[2018-09-13 05:01] colintheshots commented on #2416
There's several states to consider as being "connected" from Android's point of view isn't a single state:
- not connected to any network: easy, just wait until the UI is visible and we are connected to try again.
- connected to a network with a captive portal: ideally, we would open a tab to handle the portal before we attempt to reload. Connecting through a portal isn't instant and there may be

[2018-09-13 05:16] brampitoyo commented on #3074
@pocmo @cpeterso Do we need to have our own in-content page that appears after the Focus is restarted, or can we show a native system dialogue immediately after the crash (without opening the app)?

You’ve already seen this in-content page:

<img width="360" src="https://user-images.githubusercontent.com/51007/43876589-e7aa5602-9be9-11e8-98a7-5de72ef7905d.png">

And here’s a mockup of the system d

[2018-09-13 05:38] brampitoyo commented on #2896
@sblatz Thanks for your thorough research!

There are at least two ways out of this problem:

1. Instead of linking to the “Default apps” page inside system Settings, we always link directly to the “Browser app” sub-page. Then at least we’ll eliminate the need to find the correct sub-page to modify browser settings. Is there a way to do this?

2. Detect the user’s browser state, then offer the cor

[2018-09-13 05:43] MikkCZ commented on #3391
Yes, we dropped that actually for two reasons.
- Including the placeholder the string would become pretty long for a short tip on a home screen. From `Vypnout tipy na domovské stránce` to `Vypnout tipy na domovské stránce aplikace %1$s` is a pretty difference, given the product name which is also not from the shortest.
- The user is already in the app and there are no other tips related to it, so

[2018-09-13 07:45] cpeterso commented on #3074
I don't have a strong opinion, but I prefer immediately showing a system dialog over showing an in-content page after app restart.

Also, Focus+GeckoView use multiple e10s processes so a GeckoView tab can crash without crashing the Focus app itself. So we could use an in-content page for crashed tabs. Of course, the Focus app itself can crash, so a system dialog would still be necessary. It would

[2018-09-13 07:49] cpeterso commented on #3309
This bug can't be fixed in Sprint 6 because it depends on Safe Browsing support in GV 63, which won't be released until [October 23](https://wiki.mozilla.org/Release_Management/Calendar#Calendars).

[2018-09-13 09:12] with-shrey commented on #3092
I am new to this project .
Can I Take Up This Issue ?

[2018-09-13 13:03] reno-a commented on #3335
Hello,
Just a question : why GeckoView and not QuantumView (new engine name)?

[2018-09-13 14:52] bbinto opened #3398 "Define sample size for GV in production 7.0 build (staged roll-out)"
Release Criteria:

No significant regression for the following key metrics

- DAU
- 1-day retention
- 7-day retention
- Page Load Time Histogram (to see if GeckoView page load time is slower than WebView)
- Total session time (to see if GeckoView users browse less than WebView users)

@mmccorks please provide the sample size you need to identify a regression of **10%** for the mentioned metrics fo

[2018-09-13 15:05] bbinto commented on #3398
+ @sguha

[2018-09-13 15:59] vesta0 commented on #3256
@Sdaswani @ekager we currently have 65,013,589 users who have set DDG as their default. It's the second most popular search engine. I looked over the options proposed in bugzilla, I'll discuss with Barbara and get back to you.

[2018-09-13 16:49] ekager commented on #3309
Thanks Chris, moved it to the backlog

[2018-09-13 16:55] EmmanuelMess commented on #2416
I am supposing the user doesn't know that.

I would think that the user knowing that the app will do it's best to reload the page when it can be is better for him (less to worry about).

For each of the points I would think you already have a set procedure to load (or fail to load) pages that can be used for this issue. With that being said, if there is a case that is specifically problematic, do

[2018-09-13 17:33] liuche commented on #3391
The missing placeholders are something that we have a script to check for while validating the strings. There are strings where the placeholders are absolutely necessary, or it's useful to check because a placeholder might be forgotten.

So this is a technical limitation, because it's not practical to pick and choose where the placeholders are "optional" for a script - when it fails, we just remov

[2018-09-13 17:36] boek commented on #3391
@liuche That is a good point, though I think we're at the point now where it would be difficult to change to change the string in time to release.

@flodolo Is it common in other projects? I don't think we do it anywhere else in Focus (otherwise we would get similar errors)

[2018-09-13 17:38] liuche commented on #3391
@boek in the meantime, you could do a manual import with the script and just leave out that string.

[2018-09-13 17:42] flodolo commented on #3391
In Firefox (desktop and Android) it is not common but acceptable (raises a warning), either for space constraints, or because the placeholder can't be declined.

[2018-09-13 17:57] ekager commented on #3256
DDG is the second most popular search engine.

Unfortunately using the URL change as the flag can lead to unpredictable results which I believe is worse than just disabling.

Options:
1. Disable this feature for all builds
2. Disable for GV Builds
3. Disable for users who have DDG set as their engine

All are smalls and not much effort.

Some additional history: Some users in the past have complai

[2018-09-13 18:01] cpeterso commented on #3317
@ekager - The GV bug was closed because Jim says this is probably a Focus issue, not a GV issue. The toolbar is Focus UI, so Focus should track when GeckoView is destroyed. If you disagree, please reopen the GV bug. :)

[2018-09-13 18:26] ekager opened #3401 "Disable Search Terms or URL Feature For DDG Users on GV"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1487542 for context. Summary is the user gesture flag which we use to determine if the user has navigated away from the search page does not work properly on DDG. This would be a quick fix for the problem in #3256 when releasing with GV.

[2018-09-13 18:26] ekager commented on #3256
Filed #3401 if we need a short term fix for release

[2018-09-13 18:57] nojunpark opened #3402 "Measure retention of Geckoview users for first website access after install"
## Problem Summary
Geckoview is in compressed form when it is installed.  It unpacks when it is first accessed, when user is visiting a website using Geckoview. The unpacking can take anywhere between 1 to 5 seconds.  This only happens when Focus is first installed, or updated.  When a user installs Focus Geckoview for the first time, he/she might be discouraged by the slow initial load time, whic

[2018-09-13 19:26] BrianNJones commented on #3391
@liuche @boek, I think there's a strong case that context ("I understand I'm in an app") makes it obvious that the string is specific to the app. I wouldn't change it.

[2018-09-13 19:32] MikkCZ commented on #3391
If that help, we can use some longer translation to allow the regular import, and than revert back to the short form without the placeholder and sort it time for the next release.

[2018-09-13 19:34] boek commented on #3391
@MikkCZ I'd be good with that. We could create a new ticket for 7.1 to discuss changing the base string 👍

[2018-09-13 19:36] MikkCZ commented on #3391
Cool. I have now approved the long version of the string, that includes the placeholder. Pontoon should push it in the next 20 minutes. I kept the original short version of the string as a suggestion for future. All can be found [here](https://pontoon.mozilla.org/cs/focus-for-android/app.po/?search=tip_disable_tips&string=189765).

What place is the best to create a ticket as a reminder for 7.1?

[2018-09-13 19:39] boek opened #3404 "Remove the app name from the tip_disable_tips string"
### Expected behavior
String is presented as:
`Turn off tips on the %1$s start screen`

Comment Tip displayed on home view explaining how to add a custom autocomplete URL Argument 1 is the app name (Firefox Focus/Firefox Klar/etc).

### Actual behavior
Proposed change to a more concise string.
`Turn off tips on the start screen`

Discussion in #3391

[2018-09-13 19:40] boek commented on #3391
I created #3404 to track the work required to change the string. Closing this for now, thanks all!

[2018-09-13 19:40] #3391 closed

[2018-09-13 20:33] #3387 closed

[2018-09-13 20:45] BrianNJones commented on #3373
@sblatz , Switch to link in new tab immediately

[2018-09-13 23:04] ekager commented on #125
After doing some investigation today I'm not sure that the first context menu bullet is possible/desired in active state as mentioned above @brampitoyo . We can override the system context menu from appearing and replace the behavior with our own menu, but from what I can tell, I don't think we can add our menu items to theirs. I'm not sure we should override the system menu; it could have unexpec

[2018-09-14 01:35] EmmanuelMess commented on #125
It seems that this is less intuitive for the user to find. I think that the context menu is more intuitive and looks better. I think that some more "hacky" approach would be warranted for this feature.

[2018-09-14 06:29] tomprince opened #3410 "https://phabricator.services.mozilla.com/ is unusable in Focus"
## Steps to reproduce

Visit any differential revision

### Expected behavior

View the diff, with proper styling

### Actual behavior

View some unstyled headings and no diffs.

### Device information

* Android device: ?
* Focus version: ?

[2018-09-14 08:12] geokon-gh commented on #3202
Holy crap.. I dunno how the workflow is at Mozilla.. but it's kinda crazy that this is still open and a one line change has generated a month of discussion haha

@ekager
I wish I was an Android developer so I could just make the PR for this.. but looking at how other apps behave, whatever Klar is doing is kinda bizarre/non-standard. Like when you open an email address or a link in basically any ot

[2018-09-14 09:39] edenct opened #3411 "About: Focus/Klar 7.0 - RC1"
Hello!

1. Can you upload the APK file?

2.Can it be open to allow users to customize anti ad Hosts?
   (Not in the form of Adblock Plus!(

Thank you!

[2018-09-14 15:54] Sdaswani commented on #3202
@ekager going back to this question: https://github.com/mozilla-mobile/focus-android/issues/3202#issuecomment-420749384

I don’t want to create the expectation we will support every App Store so let’s wait for a contributor to post a fix. If this is broken for google play builds let me know.

[2018-09-14 16:44] #2943 closed

[2018-09-14 16:54] vesta0 opened #3416 "[meta] Blocklist Management"
### Why/User Benefit/User Problem

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

Tracking related issues:

#953 (block more ads/blocklist management)  (closed)
#957 (allow list)
#2603 (new UI for easier privacy/security selection)
#3319 (provide similar auto privacy features than website) (closed)
#3396 (UI to add and remove custom blocklists)

[2018-09-14 17:08] #3372 closed

[2018-09-14 17:33] vesta0 commented on #2884
This is no longer needed.

[2018-09-14 17:33] #2884 closed

[2018-09-14 17:41] #3394 closed

[2018-09-14 18:17] vesta0 commented on #3202
@ekager let's go ahead and add the FDroid ID as long as it's a small fix. Thank you.

[2018-09-14 18:28] #3401 closed

[2018-09-14 19:39] vesta0 commented on #2948
@sv-ohorvath please test to confirm this is still an issue.

[2018-09-14 20:04] Sdaswani commented on #2015
@boek @colintheshots @ekager can you discuss if this and the related #1569 is still a live issues? I think it's actionable without any product or UX since it seems like improving our erase architecture.

[2018-09-14 20:04] ekager commented on #2996
I was able to remove the pink flash and updating the snackbar string is simple, but the provided string above, "This tab’s browsing history has been erased" doesn't quite fit in 1 line and looks a bit strange. I suppose other languages would have length issues as well, but I tried "Tab's browsing history has been erased." and it works for English in 1 line. @brampitoyo and @BrianNJones for string

[2018-09-14 20:05] Sdaswani commented on #2384
@brampitoyo is this issue still relevant or has the product changed and/or improved so it's moot?

[2018-09-14 20:09] Sdaswani commented on #798
@ekager can we either i) fix this or ii) close it? It's been hanging around forever.

[2018-09-14 20:10] ekager commented on #798
This is no longer a file in the project, closing

[2018-09-14 20:10] #798 closed

[2018-09-14 20:10] Sdaswani commented on #1826
@boek No-Jun is away, can you evaluate the old PR and see if we even get value from doing this?

[2018-09-14 20:11] Sdaswani commented on #2496
@ekager so can we move on this now that we have Sentry?

[2018-09-14 20:12] Sdaswani commented on #815
@ekager can you take a look at this PR?

[2018-09-14 20:13] ekager commented on #815
@colintheshots has already started reviewing

[2018-09-14 20:14] ekager commented on #2496
Do we still need both? Is Sentry not meeting our crash reporting needs?

[2018-09-14 20:14] vesta0 commented on #2416
@ekager would you please assign a t-shirt size to this one?

[2018-09-14 20:19] Sdaswani commented on #2298
@pocmo @csadilek can one of the Focus engineers start on this component? We are keen to get this into Focus.

[2018-09-14 20:48] ekager commented on #446
Sounds like GV already has it automatically, let's close this

[2018-09-14 20:48] #446 closed

[2018-09-14 20:56] bbinto commented on #446
Do we expose this somehow via UI or is that auto-on? How would a user know? Anything we should highlight with comms as "comes automatically with gv" /cc ing @vesta0.

I couldn't find any ui in the reference issue

#2857 Add do not track header to settings > Privacy and Security

[2018-09-14 21:17] Sdaswani commented on #2496
I don't think we need both - what says @colintheshots and @boek and @ekager ?

[2018-09-14 21:27] miketaylr commented on #1178
I've updated the docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox#Klar_for_Android

This can probably be closed now. cc @mcomella

[2018-09-14 21:27] ekager commented on #446
We get this for free in the switch to GV because we're always in private mode, it is auto-on.

You could include this in the GV marketing for the switch.

[2018-09-14 21:32] miketaylr commented on #2048
@Sdaswani documented here, this can probs be closed:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/User-Agent/Firefox#Focus_for_Android

[2018-09-14 22:35] ekager commented on #2947
Thanks @eeejay for your comment and investigation! :)
Closing this issue.

[2018-09-14 22:35] #2947 closed

[2018-09-14 22:47] #2048 closed

[2018-09-16 23:05] EmmanuelMess commented on #762
@pocmo

I don't know how much of a hint you want, because more hint means less space for text, as you said. Here is a (before and after of a) version with a small hint and almost no change in card width:

![screenshot_1537138955](https://user-images.githubusercontent.com/10991116/45601948-79664a00-b9eb-11e8-8e0e-28819ce73655.png) ![screenshot_1537138793](https://user-images.githubusercontent.com/1

[2018-09-17 04:16] jonalmeida opened #3422 "Split-screen with Focus sometimes shows a black screen on initial open"
Note that it isn't able to consistently reproduce this. I've found that you need to use your phone with other apps before coming back to Focus to see the issue.

## Steps to reproduce

### Setup
- Have an app that works with split-screen.
- Ensure that Focus isn't running at all (force-close and/or force a gc).

### Repro steps
1. Open a secondary app.
2. Switch the app to split-screen mode.
3. Op

[2018-09-17 12:40] vesta0 commented on #2885
@ekager @brampitoyo have you discussed the user journey and are there any mock-ups?

[2018-09-17 15:00] csadilek commented on #2298
@Sdaswani definitely! This would require bringing the toolbar component to Focus which would be great, imo.

[2018-09-17 16:31] #815 closed

[2018-09-17 16:39] Sdaswani commented on #2298
@vesta0 I suggest someone on the Focus team work on this in this Sprint - is that cool? Maybe @ekager's first component?

[2018-09-17 16:56] npark-mozilla commented on #1826
This is a good research project to perform, (if we incorporate this to our l10n screenshot tests, then we can identify UI issues right away - which'll be awesome) but currently we don't have a bandwidth to properly work on it at the moment.  @AaronMT , if you have some time, could you assess how much effort we would need to use this?

[2018-09-17 17:41] mcomella commented on #1178
@ekager Can you see if this can be closed?

[2018-09-17 17:42] vesta0 commented on #1250
@Sdaswani I have a meeting with @brampitoyo later today to talk about this. @colintheshots and I also talked about it briefly last week. Once we have a mockup I'd like the team to break it down to smaller independent pieces that can be prioritized and I'd love to incorporate some in 8.0

[2018-09-17 17:54] ekager commented on #2885
@vesta0 we already have this feature in custom tabs where you can long press on the URL bar to copy the URL to the clipboard. So it would be the same, just in normal browsing.

[2018-09-17 18:52] vesta0 commented on #2298
@Sdaswani that would be good. Sounds like the toolbar component is ready and can be brought over to Focus - is that correct? If so then @ekager do you want to pick this up?

[2018-09-17 19:07] #3373 closed

[2018-09-17 19:08] #2996 closed

[2018-09-17 20:02] colintheshots commented on #2948
The current Talkback experience on launching find in page is this: "Editing find in page edit box. Showing English QWERTY keyboard. Firefox Focus." It then proceeds to read off each letter or digit I enter.

I noticed that I lose the URL bar at the top if I close the find in page toolbar at the bottom, so it's not easy to start searching again.

When I press next and previous, I hear a brief tap s

[2018-09-17 20:07] cpeterso commented on #3325
🎉 @mmccorks's [Focus Beta dashboard](https://sql.telemetry.mozilla.org/dashboard/focus-android-beta-7-0-1---geckoview-vs-webview) is live and up to date. It includes all the telemetry probes listed in the [first comment's requirements](https://github.com/mozilla-mobile/focus-android/issues/3325#issue-357381016) except for crash pings, but [@mmccorks says](https://github.com/mozilla-mobile/focus-an

[2018-09-17 20:07] #3325 closed

[2018-09-17 20:29] Sdaswani commented on #2298
No @vesta0 sounds like we have to 1) integrate the toolbar component and then 2) maybe make some changes. I think @ekager can pick this up if she is free.

[2018-09-17 20:34] ekager commented on #2298
I can pick this up after my current ticket in this sprint

[2018-09-17 20:35] vesta0 opened #3430 "A/B Experiment for Home Screen Tips"
**Feature goal**

Helping users get the most out of the browser and easily discover new features by informing/reminding them of various browser functionality. Today, a new or occasional user may not explore all the settings on their own, may get discouraged if they think a feature does not exist, or get frustrated if they can't easily get to it. Home screen tips are meant to improve engagement, us

[2018-09-17 22:00] colintheshots commented on #3335
So, there's two issue here. First, I added a blocking API because Fretboard.setOverride() is asynchronous. Try Fretboard.setOverrideNow() instead.

If you assert the engine is Gecko or WebView at the very start of the test, it'll still be null, however. It takes some time for the engine to get picked now that we have a blocking disk read to set the engine based on the experiments on disk at the ti

[2018-09-17 22:47] brampitoyo commented on #2948
@ekager @colintheshots Thanks for doing all your research on this!

I’m not an expert on Talkback, but I think announcing that the text box is ready for input is a good idea.

As Emily had suggested, the string can be:

Should we announce each letter or digit that the user enters? I think so. This is the Android system behaviour when Talkback is activated, right?

-----

Let’s say that the page co

[2018-09-17 23:13] ekager commented on #2948
I definitely think this is ideal behavior, but I'm not 100% sure if we can currently precisely activate the WV/GV like that to read the matches.

[2018-09-18 01:32] brampitoyo commented on #2416
I had a chat with @ekager, and she brought up two important points:

1. When you’re browsing a page that’s already loaded, we need to indicate (subtly) that you’re not connected to the internet – and that the fault lies in your connection, not the browser.
2. When you’re not connected and try to load a site, we need to indicate (strongly) that the site is unavailable, but will be reloaded when con

[2018-09-18 02:45] EmmanuelMess commented on #2416
@brampitoyo This looks amaizing!

Although I think the reload button should be kept (in the "Error page") in case an error occurs and the app doesn't autoreload.

[2018-09-18 05:11] brampitoyo commented on #1250
@Sdaswani After talking with @vesta0, we have decided on a few features that we like to consider for multitasking v2:

### 1. Open fresh new tabs quickly

Opening a new tab that contains a link of your choosing (not just link contained within the page you already have open) should be faster and simpler compared to other browsers.

In this mockup, “Open in new tab” is a new action that we add to ou

[2018-09-18 05:17] brampitoyo commented on #1250
In addition to this, it will help to user test multitasking UIs in other browsers and find out where they’re lacking. Although you can argue that our multitasking use case is quite different (because people frequently wipe all their tabs clean!)

[2018-09-18 10:00] colintheshots opened #3434 "Telemetry records empty A/B experiments list"
## Steps to reproduce
1. Install Firefox Focus 7.04 beta.
2. Run beta.
3. Check submitted telemetry.
4. Restart app.
5. Check submitted telemetry.

### Expected behavior
The experiments submitted to telemetry should never be blank, but should contain the names of all experiments with min_bucket <= current_bucket < max_bucket. In other words, all experiments set to 0-100 should be visible.

### Act

[2018-09-18 12:16] vesta0 commented on #3430
@colintheshots can we run this experiment (turn off the feature for 20% of users, percentage to be confirmed by Megan) if @mmccorks can set up the dashboard by Wednesday?

@bbinto please provide feedback as needed.

[2018-09-18 12:16] vesta0 commented on #3317
@Sdaswani yes that is fine, I wouldn't consider it a blocker for 7.0

[2018-09-18 12:54] vext01 commented on #1250
Hi,

A firefox focus user here.

I'm really glad that this is being tackled. Since "request desktop site" and "find in page" have been implemented, I feel that tab management is the only lacking feature in firefox focus.

The proposed interface sounds efficient, but I wonder if it's obvious enough? And by that I mean, if I had not read this thread, would I know to:

 * tap the location bar to see

[2018-09-18 14:08] sblatz commented on #2896
New behavior:

![default 2018-09-18 10_06_49](https://user-images.githubusercontent.com/4400286/45693237-a4a38300-bb2a-11e8-9daa-c0a3d2e0b8cc.gif)

[2018-09-18 15:02] vesta0 commented on #2158
@ekager @cpeterso I believe this is resolved (checked the bugzilla issue). Can we close this?

[2018-09-18 15:41] vesta0 commented on #3362
@brampitoyo I like your suggestion. Do you agree @BrianNJones ?

[2018-09-18 15:54] Sdaswani commented on #2896
That’s pretty cool @sblatz!

[2018-09-18 16:01] Sdaswani commented on #1250
Thanks for the feedback @vext01. User education / feature obviousness is a huge concern!

[2018-09-18 16:01] #3434 closed

[2018-09-18 16:05] #2944 closed

[2018-09-18 16:41] BrianNJones commented on #3362
@vesta0 @brampitoyo Yep. Let's go with that.

[2018-09-18 16:45] vesta0 commented on #957
@brampitoyo We chatted about changing the privacy & security options yesterday and having exceptions as one of the options. Do we need updated mockups for the allowlist component before Eng breakdown?

[2018-09-18 17:41] #2158 closed

[2018-09-18 17:43] colintheshots commented on #2948
How do we decide how much context text to provide for each result? Should we read the current sentence or para?

[2018-09-18 17:46] ekager commented on #2948
If you use a browser (WV or GV I believe) with TalkBack and click on a section of the website, it will read a pre-determined section which I'm assuming has to do with the website's formatting. I don't think we would have to decide this?

[2018-09-18 17:51] boek commented on #3411
We should definitely automate uploading the .apk files on release builds.

To answer your second question that is something that we're actively investigating :)

[2018-09-18 18:01] npark-mozilla commented on #3386
with #3335, the goal of this request can still be achieved, and since we're moving away from renderer distinction for build variant, so closing this issue.

[2018-09-18 18:01] #3386 closed

[2018-09-18 21:09] vesta0 commented on #3101
@sblatz we don't want to push this feature until after we are able to review home screen tips telemetry (a few weeks after 7.0 release) so I moved it out of sprint 6.

[2018-09-18 22:27] brampitoyo commented on #2948
@ekager @colintheshots It would be good to rely on TalkBack to read the correct context. This way, we won’t have to cover every single corner cases in reading websites and UI texts!

[2018-09-18 22:58] brampitoyo commented on #957
@vesta0 The place and functionality of the allowlist component itself is unchanged, but the other components (ads, trackers, cookies, etc.) have changed. So in the interest of completeness, I’ve updated the mockup above.

[2018-09-18 23:01] brampitoyo commented on #2896
Looks great, @sblatz! This is exactly the functionality we wanted when there’s no default browser set.

[2018-09-19 04:03] EmmanuelMess commented on #125
@brampitoyo Done, thanks for your input!
Updated screenshots:

<img src="https://user-images.githubusercontent.com/10991116/45730327-6009fd00-bba7-11e8-9a35-fa69f77ba25d.png" width="200px"/> <img src="https://user-images.githubusercontent.com/10991116/45730326-6009fd00-bba7-11e8-98cf-8e0c7f35b466.png" width="200px"/> <img src="https://user-images.githubusercontent.com/10991116/45730325-5f716680-bb

[2018-09-19 04:15] ekager commented on #125
Hey @brampitoyo just some additional history about this feature and the above option before we make final decisions. IIRC when we added a similar clipboard entry option to iOS we got some user backlash for grabbing and displaying in our views what some users feel is "private". The "Paste + Go" Action is vague, but users may not like the display of what is on their clipboard. We may want to also op

[2018-09-19 04:17] brampitoyo commented on #2603
Updated the mockup to:

* Take out features we haven’t built: autoplay, HTTP pages
* Take out features that won’t provide any benefit to us: slow-loading trackers
* Add features we’re planning to ship: block cryptomining, fingerprinting & session replay trackers
* Put ads, trackers and cookies directly under Content Blocking. rather than in a sub-page

This brings us to parity with desktop, and ma

[2018-09-19 04:27] brampitoyo commented on #594
We’d like to:

* Remove details about the number of trackers blocked, as it was found to be inaccurate.
* Replace the string “Trackers blocked” with “Content Blocking”, to reflect the fact that we’re going to block more than trackers.
    * Blocking ads and (potentially) tracking cookies are planned for v8.0.
    * Blocking autoplay sound/video and HTTP pages may be planned in future versions.

<i

[2018-09-19 04:48] brampitoyo commented on #125
Thanks so mcuh for bringing it up, @ekager.

Up to this point, I didn’t know that we received backlash on iOS for showing the content of the clipboard. I thought that this was a feature that will make Firefox Focus even more convenient to use. I didn’t realise that revealing clipboard was a really big deal for so many users.

So it was my mistake for not checking the context first!

Unfortunately,

[2018-09-19 04:51] Sdaswani commented on #125
We could put it behind a A/B on nightly.

[2018-09-19 10:59] callahad opened #3440 "Focus Nightly automatically downgraded to Beta"
Some time in the last 72 hours, my Focus downgraded from Nightly with GeckoView to Beta with WebView.

I'm in the UK, but my Google account is still American. At some point overnight, my phone (Google Pixel) automatically updated Focus to `7.0.4 (Build #322601626)`. I was on the Nightly channel previously.

[2018-09-19 11:00] callahad commented on #3440
I just checked the Play store, and my phone was offered an update to `7.0.5 (Build #322611740)`

[2018-09-19 11:22] nkestrel opened #3441 "New "view Wi-Fi connections" permission"
Upgrading from version 6.1.1 to 7.0.3 requests a new permission "view Wi-Fi connections" (`ACCESS_WIFI_STATE`) which implicitly allows location to be determined from nearby WiFi access points (Mozilla maintains such a database at https://location.services.mozilla.com). This seems to be a permission inherited from GeckoView (#2222) but is it necessary for a privacy focused browser?

[2018-09-19 15:46] EmmanuelMess commented on #125
Maybe make it opt-in as with the search suggestions?

[2018-09-19 15:46] colintheshots commented on #3441
We have the GeckoView team investigating if they can remove this requirement.

[2018-09-19 15:52] Sdaswani opened #3443 "Figure out Why GV A/B Experiment Isn't Rolling Out As Planned"
@colintheshots is investigating if Fretboard distributes experiments incorrectly (e.g., we ask it to distribute it to 50% of users, and it only distributes it to 20%).

[2018-09-19 16:48] colintheshots commented on #3443
Based on the results of my Fretboard distribution test, I believe Fretboard is bucketing correctly. I think the issue is either in how the core ping is getting sent or in the data query somehow. https://github.com/mozilla-mobile/android-components/blob/8ba3e0addaf38e2dea1377232eecd18d16e80171/components/service/fretboard/src/test/java/mozilla/components/service/fretboard/FretboardTest.kt

[2018-09-19 16:59] npark-mozilla opened #3444 "ShareImageTest in ImageSelectTest.java crashes (long tap of image crashes the app)"
## Steps to reproduce
Run ShareImageTest.  It does the following:
- Open website with image
- Long tap the image

### Expected behavior
- Opens image menu

### Actual behavior
- Crashes with following:
[code]
### Device information

* Android device: FocusX86Debug on Nexus 9 tablet simulator. Happens on phone device too.
happens on both webview and geckoview
* Focus version:  master branch

[2018-09-19 17:46] boek commented on #2966
@brampitoyo I finished this and @ekager brought up a couple of good points.

To someone who isn't sure what autocomplete is the wording here isn't totally clear what will happen if I tap this button. Also now that we added the link glyph to search suggestions the glyph here seems a little out of place.

Maybe using the add glyph with the string `Add Autocomplete: ...`?

[2018-09-19 17:59] EmmanuelMess commented on #2885
@ekager I might have misunderstood the issue, because it seems you want the "Add custom URL" pop-up to appear AND the link to be copied to the clipboard; it seems to me that this could lead to an "impass" where they have to lose their clipboard contents to add a custom url from that button.

It is true that the user can go the long way and manually add a custom url through the settings. But it see

[2018-09-19 18:15] #3444 closed

[2018-09-19 21:00] vesta0 commented on #1250
@Sdaswani the idea is to build a new approach to tabs and replace the existing multitasking experience so yes we definitely want to A/B test it first. And if we decide to go ahead then we need to explore user education components such as contextual onboarding, interactive tutorials, home screen tips, etc.

[2018-09-19 22:49] #3362 closed

[2018-09-20 03:56] brampitoyo commented on #2966
@boek @ekager Good points!

Autocomplete was a feature that we designed because bookmarking is too visible and not private enough. But it was always meant as another means to access bookmarks.

So why don’t we reinforce the close relationship between adding custom URL and bookmarking?

First, we can use the bookmark outline glyph. Then, we can reword the string slightly – `Add link to autocomplete

[2018-09-20 06:30] brampitoyo commented on #1250
@vext01 This is a very important point to address:

Since the location bar is a starting point to go anywhere on the web (whether it’s browsing or searching), we think that *all users* will tap on the location bar at one point or another, and see what’s inside it.

Currently, we don’t show anything inside until they start typing a new keyword or URL – then search suggestions would show up.

There

[2018-09-20 15:49] vesta0 commented on #3347
@jonisavage are you working on a SUMO article for this?

[2018-09-20 16:54] boek opened #3451 "Whats new press state needs updating"
## Steps to reproduce
- Install a new major release
- Open menu
- Press What's New

### Expected behavior
New style

### Actual behavior
Old style

![image](https://user-images.githubusercontent.com/1250545/45834079-24f8ee00-bcbb-11e8-84a7-7ad91870b5ba.png)

[2018-09-20 18:33] vesta0 commented on #2966
@brampitoyo I like your proposed changes and I think calling it "My URLs" is much more clear for the user. A couple of thoughts if we are to update the settings page:

-Instead of "Default" URL list would it be more accurate to call it something like "Common/Popular/Frequent" URLs? The top URL list is not enabled by default.
-Would it be more clear to change the "My URL List" heading to "Enable My

[2018-09-20 18:48] #3451 closed

[2018-09-20 20:04] ekager commented on #2416
I have a WIP for this feature but have hit a road block with the GV loadData API showing the data url for the error page in history see filed bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1483677

It looks like this may have to be pushed to the next sprint if we want to incorporate our own error page.

[2018-09-20 22:04] ekager commented on #3124
Oh, this is because when you exit Settings, the page doesn't automatically reload. If you reload the page, you see the correct result. I can change the behavior

[2018-09-20 22:25] jrhmoz opened #3455 "Following an ftp link results in an error screen you can't back out of"
## Steps to reproduce
Visit a link that points to something with ftp:// in it (or put an ftp:// URL in the bar)
### Expected behavior
Ideally you'd display the contents of the directory like on other browsers. Perhaps as a fallback say it's not supported and let you hit the back button and leave.
### Actual behavior
You get a "The address wasn't understood" page and hitting the back button just re

[2018-09-21 05:14] vesta0 commented on #2171
Google has rolled out their new "Heirloom" mobile search experience to Firefox user agents on Android. It is a fast and modern search experience and a vast improvement over the mobile search experience that was previously served to Firefox on Android.

[2018-09-21 05:14] #2171 closed

[2018-09-21 08:42] chianger opened #3457 "Cannot watch Facebook full screen landscape video"
## Steps to reproduce
Connect to facebook.com and login
Browse and find a video to play it
Tap to fullscreen and then rotate to landscape mode
### Expected behavior
Viewing video as expected
### Actual behavior
Video turns black
### Device information

Firefox Rocket has the same issue
https://github.com/mozilla-tw/Rocket/issues/2661

* Android device: PixelXL (and many more)
* Focus version: 6.1.

[2018-09-21 11:57] dimqua commented on #2603
I think the major problem with blocklists is that even those from "reputable" sources can potentially cause fasle-positives (especially aggressive ones like fanboy's enhanced tracking list). And (at least) non-experienced adblock users can't usually do much about it, since it might be hard for them to figure out which particular rules cause the false-positives. That's why I think it would be great

[2018-09-21 15:50] #3124 closed

[2018-09-21 15:59] sblatz commented on #2896
@vesta0 @Sdaswani do we want any sort of new Telemetry to distinguish between the ways in which a user enabled us as the default browser? Or should this continue to use the same ping?

[2018-09-21 16:07] Sdaswani commented on #2896
I think different named events for the various ways users enable / use a feature makes sense. But just go through data review.

[2018-09-21 16:52] rpappalax commented on #3202
this feature doesn't seem to be working yet.

STR
1. Download and install: Klar and "Fennec F-Droid" using the FDroid app
2. Open Settings > Apps & Notifications > Advanced > Default apps
3. Set Klar as default browser
4. Open a webpage: cnn.com
5. Click on main (3-dot) menu, select "Open in..."

### Expected behavior
6. Fennec F-Droid should appear as an

### Actual behavior
6. Only Chrome appear

[2018-09-21 17:05] rpappalax opened #3460 "FDroid Fennec doesn't show up in "Open In..." on Klar"
see:
https://github.com/mozilla-mobile/focus-android/issues/3202#issuecomment-423602684

## Steps to reproduce

STR
1. Download and install: Klar and "Fennec F-Droid" using the FDroid app
2. Open Settings > Apps & Notifications > Advanced > Default apps
3. Set Klar as default browser
4. Open a webpage: cnn.com
5. Click on main (3-dot) menu, select "Open in..."

### Expected behavior
6. Fennec F-Dr

[2018-09-21 17:13] boek commented on #2966
@vesta0 I agree with both of your points. I will pull this out into another issue 👍

[2018-09-21 18:14] ekager commented on #3317
Closed by #3459 in latest 62 Rel Branch.

[2018-09-21 18:14] #3317 closed

[2018-09-21 20:36] gaul commented on #2743
Users can open these .bin files in the gallery but not via the snack bar.

[2018-09-21 21:10] ekager commented on #3422
I can reliably reproduce with GV and not with WV.

[2018-09-21 21:12] ekager commented on #3460
If you use Klar from master this should be fixed. #3417 fixed this issue but was only merged 7 days ago

[2018-09-22 13:04] tobz1000 commented on #2992
Just to say I also much prefer the favicon to the first-character icon. In my use case, I'm not concerned about people finding out about my bookmarked home pages.

Having the option to choose between character and favicon would be best.

[2018-09-23 15:16] rimas-kudelis opened #3465 "First run tour not localized (into Lithuanian)"
## Steps to reproduce
If I clear all Focus data via Android App Settings, then run Focus, its First-Run Tour is shown to me in English instead of Lithuanian as expected. Once I clear the tour, the app is displayed in Lithuanian as expected.

The strings in Pontoon have been localized for a few months now, so I suppose that wouldn't be the source of the problem, unless it really takes months for st

[2018-09-23 15:16] MikkCZ opened #3466 "Homepage tips links always open SUMO article in en-US"
STR:
1. open Focus home page
1. open a some tip link, e.g. about autocomplete settings
1. the link opens related SUMO article

But instead the article to open the correct localized version, it always opens en-US version. If the link does not include the article version locale directly (the article slug can stay in English), SUMO will always open en-US version based on Accept-language header sent b

[2018-09-23 16:14] rimas-kudelis commented on #3465
Nevermind, this seems to work fine on Beta.

[2018-09-23 16:14] #3465 closed

[2018-09-23 23:11] brampitoyo opened #3467 "Rename list items under URL Autocomplete"
@vesta0’s suggestion on https://github.com/mozilla-mobile/focus-android/issues/2966#issuecomment-423287849:

I propose taking out the word “List” and clarifying the “View/Edit/Delete URLs” action:

* Default URL List → **Popular URLs** (alternate: **Top Sites** – more understandable, but less consistent)
* My URL List → **My URLs** (alternate: **My Sites** – may also use the word “Favorite”)
    *

[2018-09-23 23:12] brampitoyo commented on #2966
Good points, @vesta0! @boek I’ve filed #3467 to rename the list items. Please put your thoughts there.

[2018-09-23 23:32] brampitoyo commented on #2603
@dimqua Do you have any recommendation of blocklists that we should enable by default once you turn on the “Ads” subcategory?

* To me, EasyList, EasyPrivacy seems like no brainers.
* The functionality of NoCoin will be baked into Disconnect’s Cryptomining list, so we don’t need it.
* Locale-specific lists may also be useful.

For “enhanced” protection, we can try adding [Adblock Warning Removal L

[2018-09-24 06:34] brampitoyo commented on #1057
We now have the option to show search suggestions, so this issue can be closed.

[2018-09-24 06:34] #1057 closed

[2018-09-24 07:29] cpeterso commented on #3074
I'm not sure. @pocmo will have to let you know. He is working both on the crash reporter Android Component and the Focus app.

[2018-09-24 13:31] Scripterr opened #3470 "black screen on start-up"
Opening the firefox focus provide the blank black page upon startup, this issue is happening with previous 3 app builds.
This black screen remains upto 10-15 seconds after then the home screen appears.
As a nightly tester of firefox focus i regularly update app from playstore so I'm sure I haven't missed any update.pls look into it.
For issue to replicate -
The app should be not in background.
###

[2018-09-24 21:44] mcomella opened #3472 "GeckoView unable to load error page is not formatted for mobile"
## Steps to reproduce
- Have a poor connection (or none? looks like it from the screenshot)
- Load a page
- Wait for error

### Expected behavior
Error page is formatted for mobile

### Actual behavior
Not formatted for mobile.

### Device information

* Android device: Pixel 2
* Focus version: 8.0, #322661206 gecko 62.0.2.20180921002357

![screenshot_20180924-121328](https://user-images.githubuse

[2018-09-24 21:58] mcomella opened #3473 "about:blank is displaying briefly when loading web pages"
## Steps to reproduce
- Load a page

### Expected behavior
Never see about:blank

### Actual behavior
about:blank briefly appears when loading the initial page (maybe it's most pages): it looks really unpolished.

### Device information

* Android device: ?
* Focus version: ?

[2018-09-24 22:46] boek opened #3474 "fretboard bucket not getting sent to telemetry"
## Steps to reproduce

### Expected behavior

### Actual behavior

### Device information

* Android device: ?
* Focus version: ?

[2018-09-25 04:29] brampitoyo commented on #1250
Coming back again to some multitasking explorations.

Recall our design goals:

1. Open new tabs quicker than other browsers
2. Getting to the right tabs quicker than other browsers

We bumped into some problems:

1. In every other browser, users open a blank new tab, then type a URL. Typing the URL before opening a new tab feels upside down.
2. In every other browser, the URL bar is used for sear

[2018-09-25 04:35] Sdaswani commented on #1250
@brampitoyo should we expect new mocks?

[2018-09-25 04:59] brampitoyo commented on #1250
@Sdaswani Yes. I’ve just posted new mocks up above, and will keep iterating on this design until I find something that ties all the loose ends together.

It looks like we’re starting to solve some of the problems already:

1. Would users know to tap the URL to see a list of open tabs? Previously, the URL is doing double duty as a tab viewer. Now, the tab shelf is a separate UI that’s located nearb

[2018-09-25 10:38] dimqua commented on #1250
I don't know about other users, but I do not usually open more than few tabs in Focus, since I can't close them after reading if I want to, see #1362.

Great idea, FYI the similar approach for multitasking is using by the [FOSS-Browser](https://github.com/scoute-dich/browser).

[2018-09-25 13:04] sblatz commented on #2896
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) **What questions will you answer with this data?**

* Are users using engaging with a simpler way to enable Focus as a default browser?

2) **Why does Mozilla need to answer these questions?  Are t

[2018-09-25 13:06] sblatz commented on #2896
Ready for data review from @liuche :)

[2018-09-25 13:09] sblatz opened #3477 "Add telemetry to new default browser prompt"
Breakout ticket from #2896.

Need to add the following Telemetry:

Event | category | method | object | value
-- | -- | -- | -- | --
Show “open with” default browser prompt | action | show | make_default_browser_open_with |  
Show settings default browser prompt | action | show | make_default_browser_settings |  

[2018-09-25 13:16] sblatz commented on #3477
# Request for data collection review form

**All questions are mandatory. You must receive review from a data steward peer on your responses to these questions before shipping new data collection.**

1) **What questions will you answer with this data?**

* Are users using engaging with a simpler way to enable Focus as a default browser?

2) **Why does Mozilla need to answer these questions?  Are t

[2018-09-25 13:17] sblatz commented on #3477
Ready for @liuche's review :)

[2018-09-25 13:46] sblatz commented on #3149
@brampitoyo my understanding is that this ticket is specifically for the menu options:
* Trackers blocked
* Share
* Add to home screen
* Find in page
* Open in...
* Request Desktop Site
* Settings
* What's new
* Help

Trying to add more content descriptions universally throughout the app would be helpful, but is likely too daunting to handle in one ticket. Once you decide on strings I'd be happy t

[2018-09-25 14:57] Sdaswani commented on #2896
@sblatz @liuche is on PTO and i'm not sure who is covering for her on data review. but i think this can go in 8.0 right so we have time?

[2018-09-25 15:06] Sdaswani commented on #1250
Wow the URL bar at the bottom - does it auto-hide on scroll like it currently does at the top? I wonder if this could work if we kept the URL bar at the top still?

I'm not opposed to this change but it's a big change so we may want to user test it. Up to @vesta0 though.

[2018-09-25 15:15] sblatz opened #3478 "Quick remove from autocomplete URL"
This is a follow-up ticket to #2966.

### Why/User Benefit/User Problem

The current implementation does not allow a user to quickly remove a URL in the same way they can add one. This is especially confusing because the "Add link to autocomplete" button still shows up even though I've added it already, and when tapped just presents an error message. Instead, we could replace this with "Remove lin

[2018-09-25 15:15] sblatz commented on #3478
Would love @brampitoyo's thoughts on this!

[2018-09-25 15:45] sblatz opened #3479 "Quick add autocomplete URL does not enable autocomplete"
## Steps to reproduce
1. Navigate to a website
2. Click URL bar
3. "Add link to autocomplete"
4. Type in part of the website name

### Expected behavior
The URL autocompletes (i.e. the setting is enabled when I choose to add a URL to autocomplete)

### Actual behavior
The URL does not autocomplete (unless you go into the settings to manually enable it)

### Device information

* Android device: Mo

[2018-09-25 15:47] vesta0 commented on #2896
@sblatz @Sdaswani yes this will go in 8.0

[2018-09-25 15:53] sblatz commented on #3479
@boek suggests we should just enable the custom autocomplete URL's by default rather than waiting until a user clicking the button to enable it.

@brampitoyo thoughts on this?

[2018-09-25 16:29] afarsi commented on #3440
I have this problem too.
Yesterday with guide of i joined to Focus testing program again and updated it to version 8.0. Today it downgraded to version 7.0.6! It seems there is a problem. What do you think?
![photo_2018-09-25_19-53-43](https://user-images.githubusercontent.com/19834847/46028441-1f970b80-c0e0-11e8-8565-828164578185.jpg)
![photo_2018-09-25_19-54-09](https://user-images.githubusercont

[2018-09-25 16:39] afarsi commented on #3440
I think like the join to beta button under every app in Google Play, they should make a system like that for testing program(alpha) too. For example, when i joined to to testing program,. Google play shows i'm part of beta program, while it should show i'm part of  testing program. I think google have two channels on google play only. Released and Beta! while it should be three channels Release, B

[2018-09-25 17:05] #2966 closed

[2018-09-25 17:14] vesta0 commented on #596
@pocmo would you please let me know where we landed with this item in regards to dependency on GV and Android Components?

[2018-09-25 17:30] vesta0 opened #3480 "Search Suggestions Sumo page needed"
## Steps to reproduce

1 - Go to settings --> Search
2 - Click on "Learn More" under Get search suggestions

### Expected behavior

Sumo page for Search Suggestions opens

### Actual behavior

This page has not been populated.

### Device information

* Android device: ?
* Focus version: ?

[2018-09-25 17:35] cpeterso commented on #2194
The fix was also uplifted to the GV 62 relbranch last week: https://bugzilla.mozilla.org/show_bug.cgi?id=1442176#c37

[2018-09-25 17:37] rpappalax commented on #3473
esp on slow connections

[2018-09-25 17:44] boek commented on #3470
Hey @Scripterr, thanks for letting us know about this! Are you still seeing this behavior in the latest Nightly?

[2018-09-25 17:44] #3470 closed

[2018-09-25 17:45] vesta0 commented on #3467
@BrianNJones  please advise re strings

[2018-09-25 17:53] Scripterr commented on #3470
No i got an update from playstore and  updated, it got downgraded to version 7.0.6 (Build #322672330 🦎 62.0.2.20180921002357) and focus is again working normally.

[2018-09-25 18:02] cpeterso commented on #3441
GV bug to remove ACCESS_WIFI_STATE permission. I will ask the GV team if we can expedite this bug for 7.0. https://bugzilla.mozilla.org/show_bug.cgi?id=1491094

[2018-09-25 18:03] boek commented on #3480
Hey @jonisavage it looks like the URL changed for this link. It previously was `search-suggestions-focus-android`. But now when I search Sumo it shows up as `search-suggestions-firefox-focus-android`.

[2018-09-25 18:16] rpappalax commented on #3480
on both webview and klar, i see the link redirect to search-suggestions-focus-android
and missing content on the page itself.

**webview in landscape**
![image](https://user-images.githubusercontent.com/3699494/46033928-3fb0d580-c0b4-11e8-80b1-ca11272cbb29.png)

[2018-09-25 18:30] rpappalax commented on #3466
when I use VPN and connect from another locale (i.e. Germany), I see google localizes for me but the SUMO pages all link to en-US

[2018-09-25 18:45] rpappalax commented on #3457
I'm able to watch Facebook in full screen landscape mode in both webview and Klar.  Webview does flicker to a black window a few times when switching to fullscreen, however.

Android device: Nexus 6p API 26
Focus version: 8.0
Klar version: 8.0

[2018-09-25 19:17] BrianNJones commented on #3467
@brampitoyo @vesta0 This doesn't exactly match a previous structure, but I believe it's more helpful:

Autocomplete URLs

Enable to have Firefox Focus automatically complete over 450 popular site URLs in the address bar.

Enable to have Firefox Focus automatically complete URLs for sites you've visited before.

[2018-09-25 19:24] boek opened #3482 "Remove FocusFlatFileStorage"
Back out  #3481  when we update to the latest Android Components

[2018-09-25 19:42] rpappalax commented on #3460
@ekager thanks, Emily.  It's working now

![image](https://user-images.githubusercontent.com/3699494/46038630-7987d900-c0c0-11e8-9ed4-a472b1cee0ba.png)

[2018-09-25 19:44] #3460 closed

[2018-09-25 19:55] jonisavage commented on #3480
Sorry about that. The link needed to be updated on our end to show the right page. It should show up correctly now. Please let me know if it’s not.

[2018-09-25 19:56] boek commented on #3480
Thank you @jonisavage!

[2018-09-25 19:56] #3480 closed

[2018-09-25 20:03] vesta0 commented on #3466
@boek I think you had a good idea of what the issue was - let me know if we can move this into the sprint.

[2018-09-25 21:04] vext01 commented on #1250
Maybe I'm missing the point, but the UI doesn't need a total overhaul, you just need to add a "new tab" button somewhere. Then Focus is feature complete for me :)

[2018-09-25 21:04] vext01 commented on #1250
Well, perhaps reading mode, but that's another story.

Thanks!

[2018-09-25 21:44] vesta0 commented on #1250
@brampitoyo I really like your innovative approach! It would be great to do some user testing to see what approach is more intuitive for an Android user while providing quick and simple tab navigation. Also mapping out the user journey (1-2 use cases) will help us understand which design aligns better with other features within the browser.

[2018-09-25 21:50] boek commented on #3470
@Scripterr Sorry about that, we're currently in the process of shipping 7.0 which just got a new beta version, so the play store delivered you that. You should get the latest Nightly again tomorrow :)

[2018-09-26 04:01] Sdaswani commented on #1250
Wow @brampitoyo I love what you have done here - I think Method 1 is a winner!

[2018-09-26 04:30] brampitoyo commented on #1250
@Sdaswani Best of all, we can do both!

In the beginning, almost everybody will perform method 1: open/tap on tab shelf, read instruction, then swipe up again to open new tab.

Pretty soon, some users will learn that method 2 is available. It’s what would happen if you perform method 1, then instead of stopping in the middle, you continue to hold and swipe up.

In the end, some would prefer method

[2018-09-26 04:36] brampitoyo commented on #3467
@BrianNJones I like including the word “For”. It makes the toggles more actionable. Thanks for these!

I should clarify “For Other Sites You Visit”. Firefox Focus can’t autocomplete sites that you’ve visited before. Instead, it relies on you to manually add sites that you visit to an autocomplete list, so it can help you revisit it next time.

This was why I resorted to using the familiar “favorit

[2018-09-26 04:42] brampitoyo commented on #3479
I didn’t realise that autocomplete wasn’t automatically enabled the moment you add your first URL. This meant that you always need to go deep inside Settings and activate it before getting its benefits.

Yes. This is a bug. And the expected behaviour is also correct.

[2018-09-26 04:45] brampitoyo commented on #3478
Instead of having a link to remove from autocomplete, I think that we shouldn’t show any “autocomplete” button in the context menu, when the site already exists on the list.

Users can go to Settings to remove them. Just like removing bookmarks, I think that removing autocomplete is only something that the user will rarely use.

[2018-09-26 09:06] #3335 closed

[2018-09-26 13:02] Sdaswani commented on #1250
Understood @brampitoyo Method 1 shows JiT info and then users learn and we go to Method 2, just like our home screen tips disappear when folks demonstrate they have learned. Awesome!

[2018-09-26 13:05] dimqua commented on #1250
I'm concerned about wasting of space at the bottom which is used just for showing a number of tabs.

[2018-09-26 13:11] Sdaswani commented on #1250
Hmm that is a fair point @dimqua .

[2018-09-26 13:34] Scripterr commented on #1250
I think it'll be more nice to have to have URL bar at the bottom of screen as some user with large screen have some problems with interacting with URL bar which is at the top of screen and isn't easy to tap , it'll be convenient to have URL bar at bottom.

[2018-09-26 14:46] BogdanSurd opened #3484 "✅ [browser-session] GeckoView build crashes when erasing browsing history"
## Steps to reproduce
1. Go to any webpage;
2. Send Focus in the background;
3. Swipe down the notifications panel and tap on the "Erase browsing history notification" from Focus.

### Expected behaviour
Browsing history is erased and the notification disappears.

### Actual behaviour
Focus crashes

### Device information

* Android device: Samsung Galaxy Note 8 (Android 8), Nokia 6 (Android 7.1.1

[2018-09-26 15:18] BogdanSurd opened #3485 "✅ [browser-session] Tab counter does not display any pages/disappears when switching to a page"
## Steps to reproduce
1. Open multiple webpages in Focus;
2. Tap on the tab counter;
3. Tap on switch when opening a new webpage.

### Expected behavior
The tab counter should always be displayed in Focus if there is more than one page opened.

### Actual behavior
2. None of the pages are displayed when tapping on the tab counter.
![screen](https://user-images.githubusercontent.com/17178945/460900

[2018-09-26 15:32] BogdanSurd opened #3486 "✅ [browser-session] When sharing a link from another app, if focus is not in the background, it doesn't open the link"
## Prerequisits
Focus is not running in the background/the process is killed.

## Steps to reproduce
Share a link to Focus from any other app.

### Expected behaviour
The link is successfully opened in Focus.

### Actual behaviour
Focus homepage is displayed instead of the link.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 8), Nokia 6 (Android 7.1.1), Huawei P9 Lite (An

[2018-09-26 15:37] sv-ohorvath opened #3487 ""Show homescreen tips" doesn't work - Issue #3179 regression"
## Steps to reproduce
1. Open the Settings menu and go to the Mozilla about menu.
2. Check if the "Show homescreen tips" toggle is on by default.
3. Turn the toggle on.
4. Return to the homescreen, load a page and then press the back button.

### Expected behavior
 "Show homescreen tips" toggle is on by default. Homescreen tips should be displayed.

### Actual behavior
 "Show homescreen tips" togg

[2018-09-26 15:39] pocmo commented on #3484
This one is interesting.

The previous implementation using LiveData paused observing values while the app is in the background. The Observer from the component will continue observing. As the callback in Focus is doing a fragment transaction this fails while the app is in the background.

A quick fix here is to not do the transaction in the background. I'll add a patch for that to the PR.

Howeve

[2018-09-26 15:41] Sdaswani opened #3489 "Run A/A Test"
I need to fill out the template below.

## Meta Data
(optional / if needed or relevant)
Links to past feature documents. Past issues/bugs that might provide additional context.
Links to dashboards or metrics for which the following document will be based on.

## Problem Summary
Talk about current goals of the system and how they aren't being met. What outcomes are we not delivering? This can also

[2018-09-26 15:53] Sdaswani commented on #3489
@boek once we have the details of the test from @mmccorks this is something we want to run in focus (maybe just in beta). basically we want to run a null test to just make sure the data looks as expected. Stay tuned.

[2018-09-26 15:58] fbertsch commented on #3489
A few things we should get done before running this (to make analysis easier, faster, and better):
- Tag experiment and branch in the focus-event ping [0]
- Bucket users by client_id (ensures random distribution of clients, but consistent reproduction of experiments, esp. w.r.t. verifying branches). On our end we do crc32(client_id) % 100.
- Use a default separator for experiment and branch in the

[2018-09-26 16:00] fbertsch commented on #3489
@pocmo, can you give me a hand in figuring out where to file the issues outlined in https://github.com/mozilla-mobile/focus-android/issues/3489#issuecomment-424770933?

[2018-09-26 16:28] pocmo commented on #3489
This should be:
https://github.com/mozilla-mobile/android-components/issues/720

That's what we do in fretboard too:
https://github.com/mozilla-mobile/android-components/blob/master/components/service/fretboard/src/main/java/mozilla/components/service/fretboard/ExperimentEvaluator.kt#L92-L98

Only difference is that we are using a separately generated UUID and not the client ID of telemetry.

That

[2018-09-26 16:32] pocmo commented on #3484
@BogdanSurd Pushed a patch to the PR. Please let me know if this fixes the issue for you. :)

[2018-09-26 16:47] vesta0 commented on #3441
@cpeterso I assume GV team looking to remove the access (to allow location to be determined from WiFi access points) and not just the permission request prompt?

@npark-mozilla @rpappalax could you please test to confirm if this happens for everyone or only GV enabled?

[2018-09-26 22:12] #3482 closed

[2018-09-27 01:38] brampitoyo commented on #1250
Good point, @dimqua and @Scripterr.

I agree that the space at the bottom is a little problematic right now.

First and foremost, this area needs high affordance – to look and feel like you can interact with it. It might be difficult to find out that you can drag/swipe on this area without some sort of an indicator. The number of tabs icon make it look tappable, but not necessarily drag/swipeable.

[2018-09-27 04:15] Sdaswani commented on #1250
Cool stuff @brampitoyo - I look forward to you finalizing this with @vesta0 so we can start implementing!

[2018-09-27 06:07] brampitoyo commented on #1250
Hi @Sdaswani, I’ve talked to @vesta0, and we’ve agreed that the design above is at a stage where it’s ready to be presented to Engineering at the upcoming work week, then implemented.

For the moment, all that’s missing are the updated animations, the Back button behaviour, and some notes about haptics. They’re posted below:

1. [You can tap](https://cl.ly/b6e6f8569ad3/droid_focus_multitasking_i05

[2018-09-27 08:10] pocmo opened #3493 "Trigger Nightly hook from successful release task"
### Why/User Benefit/User Problem

Whenever we create a release (going to alpha/beta) it will have a higher versionCode than the latest Nightly. So for a brief moment Nightly users will get updated to this release version until the next Nightly is build and uploaded.

### What / Requirements

A successful release task should trigger the Nightly hook. With that a new Nightly build (with a higher ve

[2018-09-27 08:36] pocmo commented on #3485
Added a patch for this to the PR. Please let me know if this fixes the issue for you. :)

[2018-09-27 08:43] pocmo commented on #2896
I noticed two issues with the implementation:
* The "always" option doesn't appear the first time I click on the preference. I have to select Focus and then I will have to click again and then I see the "always" option.
* After going back to the app my browser has loaded https://www.mozilla.org/openGeneralSettings (an error page)

[2018-09-27 09:13] pocmo commented on #3486
I added a patch for this to the PR. Please let me know if this fixes the issue for you! :)

[2018-09-27 09:14] nkestrel commented on #3441
The only other new permission asked for when updating from 6.1.1 to 7.0.7 is "control vibration" which is not a privacy issue. Maybe `VIBRATE` could be removed as well, avoiding any permission prompt.

The problem with asking for unnecessary permissions and then revoking them is that the user is not informed, so they continue to think the app is invasive.

[2018-09-27 09:20] pocmo commented on #3487
This seems to be unrelated to the PR.

Homescreen tips are hidden behind an A/B experiment. Local builds seem to use the "release experiment" which is disabled. Nightly uses a separate A/B experiment and there it is enabled.

We may want to hide the tips settings toggle if the home screen tips experiment is disabled for the installation? But that's unrelated to the PR and not my decision (@sblatz

[2018-09-27 09:30] BogdanSurd commented on #3484
@pocmo Focus no longer crashes after applying this patch.

[2018-09-27 09:30] #3484 closed

[2018-09-27 11:17] dimqua commented on #1250
Why not keep the number of tabs where it is currently ('erase' button) to make the arrow thinner while still tappable?

[2018-09-27 11:50] BogdanSurd commented on #3486
@pocmo After adding this patch Focus now opens the page via sharing.

[2018-09-27 11:50] #3486 closed

[2018-09-27 12:17] BogdanSurd commented on #3485
@pocmo Works without any kind of other issue after applying this!

[2018-09-27 12:17] #3485 closed

[2018-09-27 15:46] Sdaswani commented on #2896
@sblatz? https://github.com/mozilla-mobile/focus-android/issues/2896#issuecomment-425009365

[2018-09-27 16:17] BrianNJones commented on #3467
@brampitoyo, thanks for the memory jog...I'd forgotten the need to manually add! I'm leery of using something like "favorite," since a site may be more "something I need to access a lot" than it is "favorite."

Autocomplete URLs
- For Top Sites
Enable to autocomplete more than 450 popular URLs in the address bar.
- For Sites You Add
Enable to autocomplete sites you add here.

(I believe we can saf

[2018-09-27 17:29] #3479 closed

[2018-09-27 17:29] Sdaswani commented on #1250
Thanks @brampitoyo . We can discuss this in sprint planning tomorrow if it's Engineering ready.

[2018-09-27 17:48] cpeterso commented on #3441
Thanks! That is very helpful information.

I filed [GeckoView bug 1494739](https://bugzilla.mozilla.org/show_bug.cgi?id=1494739) about removing the new VIBRATE permission. If a GeckoView-powered app (like Focus) would like to allow VIBRATE, they can add the permission to their app's AndroidManifest.xml. GeckoView doesn't need to force these apps to inherit this permission from GeckoView's AndroidM

[2018-09-27 18:25] jonalmeida opened #3495 "Search suggestions don't provide selection feedback when selecting"
## Steps to reproduce
1. Enable search suggestions in the settings.
1. Click the toolbar and enter a search term.
2. Press and hold any of the suggestions.

### Expected behavior
- The item you press and hold on should have a ripple animation to indicate you've touched that item.

Video/GIF of expected higlighting behaviour: https://gfycat.com/EmptyBoldHind

### Actual behavior
- There is no anima

[2018-09-27 18:55] st3fan opened #3496 "Please add a Sentry tag to identify the release channel"
### Why/User Benefit/User Problem

This will make filtering issues in Sentry simpler. Specifically 'show me issues that happened on Nightly'. Sentry allows you to add additional tags and meta data to an issue before it is sent.

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

The release channel appears as a tag in Sentry reports.

[2018-09-27 21:23] boek opened #3498 "Update SUMO page for autocomplete settings for 8.0"
When we release 8.0 the settings page will be a little out of date.

We will have to update

1. Add a website you're viewing
    - Instructions are different. The button now appears when you select the URLBar

<img width="250" alt="image" src="https://user-images.githubusercontent.com/1250545/46175446-d9b58100-c260-11e8-9539-9437ebaf3375.png">

2.
    - Update the strings, replacing `Custom URLs`

[2018-09-27 21:55] boek opened #3500 "Facebook Pixel protection"

[2018-09-27 23:12] jonalmeida opened #3501 "Password Manager autofills password into username field"
## Steps to reproduce
1. Have an account and login setup on LinkedIn saved in LastPass.
2. Go to http://linkedin.com
3. Click on the password field.
4. Click the popup dialog that shows up from LastPass to auto-fill your password.

### Expected behavior
1. The username is correctly filled in from LastPass.
2. The password is correctly filled in from LastPass.

### Actual behavior
- Both, username

[2018-09-28 09:11] #3179 closed

[2018-09-28 12:14] sblatz commented on #2896
@pocmo that’s odd... what version of android are you running? I’ll investigate this today!

[2018-09-28 12:24] sblatz opened #3504 "Just in time default browser does not provide "always" option"
## Steps to reproduce
1. Open a link with another browser
2. Try to set Focus as default browser on Android <= 6.0

### Expected behavior
The option to "always" open with Focus appears

### Actual behavior
User must select Focus, then once again select "always"

### Device information

* Android device: Moto G4
* Focus version: 6.0.1

[2018-09-28 13:02] sv-ohorvath opened #3505 "A tab opened from custom tabs has the custom tab bar UI"
## Steps to reproduce
1. Make Focus Nightly the default browser.
2. Go to the Gmail app, open a link.
3. In the custom tab, tap the 3 dots menu, select Open in Focus.
4. When the new tab opens in Focus, observe the URL bar.

### Expected behavior
The browser url bar should be visible.

### Actual behavior
The custom tab URL bar is shown in the browser. See recording: https://drive.google.com/file/

[2018-09-28 13:57] fbertsch opened #3506 "Use a clear experiment_id/branch separator in the core ping"
Currently the separator is `-`, however that can be part of the experiment_id, making it difficult to mark where the one ends and the other begins (queue radiohead). We should use a character that _cannot_ be in the experiment_id, e.g. `:`. We should also disallow this char in experiment ids, if possible.

This is implemented here: https://github.com/mozilla-mobile/focus-android/blob/af52f3592de5a

[2018-09-28 13:58] fbertsch commented on #3489
@Sdaswani here are the blocking issues, thanks for the help @pocmo!

https://github.com/mozilla-mobile/focus-android/issues/3506
https://github.com/mozilla-mobile/android-components/issues/906
https://github.com/mozilla-mobile/android-components/issues/720

[2018-09-28 14:44] sv-ohorvath opened #3507 "Links sent from other apps create 2 tabs"
## Steps to reproduce
1. Go to an app: Fennec Nightly, for e.g.
2. Open a webpage and send it to Focus.
3. Check the number of tabs opened in Focus.

### Expected behavior
A new tab should be created with the page sent.

### Actual behavior
2 tabs are created with the same URL.

### Device information

* Android device:
Samsung Galaxy Note 8 (Android 8.0)
Huawei P9 Lite (Android 6.0)
* Focus versi

[2018-09-28 14:48] ekager commented on #3505
With #3367 it looks like we don't remove the source as a custom tab source when selecting "Open in Focus"
cc @pocmo

[2018-09-28 15:22] #3495 closed

[2018-09-28 15:51] boek commented on #957
- [ ] Privacy and Security settings re-org
- [ ] Exception list UI
- [ ] Exception list manager (storage, check for item, add, remove, remove all)
- [ ] Add new logic for TP toggle

[2018-09-28 16:01] boek commented on #2603
- [ ] Privacy and Security settings re-org (M)
- [ ] Add new built-in blocklists (M)
- [ ] Custom blocklist manager (storage, add, remove) (needs investigation/breakdown)
- [ ] Block HTTP pref (M)
- [ ] Stop autopaly (S) (Needs geckoview API?)

[2018-09-28 16:04] boek opened #3508 "Privacy and Security settings re-org"
![image](https://user-images.githubusercontent.com/1250545/46219922-79c0e800-c2fd-11e8-88ba-bb5a259e6c6c.png)

[2018-09-28 16:06] boek opened #3509 "Exception list settings UI"
![image](https://user-images.githubusercontent.com/1250545/46220023-cc9a9f80-c2fd-11e8-982d-7ff4d3f09c46.png)

[2018-09-28 16:09] boek opened #3510 "Exception list manager"
We'll need something to manage the list of exceptions for #957

One thing to think about is we're starting to have quite a few areas where we're managing a list of things in preferences. (Autocomplete, exceptions, and blocklists) I think we could build a generic collection so we're not duplicating that work every time.

[2018-09-28 16:11] boek opened #3511 "Change behavior of tracking protection toggle"
This is a piece of #957
---

We're going to want to change the behavior of the tracking protection toggle from being based on the session to now follow the new exception list.

When visiting a website we will check the list and if it matches turn off tracking protection. If a user toggles for a given website it should reflect the state in the exception list.

[2018-09-28 16:13] boek opened #3512 "Add new built-in blocklists"
https://docs.google.com/presentation/d/1xya135uIeNtdMkjEoz-9ZpGIIeV0LMhTzhJRSoX2ahs/edit#slide=id.g4339ce6552_0_12

[2018-09-28 16:16] boek opened #3513 "Custom blocklist manager"
This is a piece of #3510
---

We'll need to be able to download, validate and store custom blocklists.

[2018-09-28 16:18] boek opened #3514 "Custom blocklist UI"
This is a piece of #2603
---
<img width="165" alt="image" src="https://user-images.githubusercontent.com/1250545/46220578-63b42700-c2ff-11e8-8a32-702bb6cbab6d.png">

This flow still needs UX

[2018-09-28 16:50] #3467 closed

[2018-09-28 16:50] boek commented on #3443
Looks like it's working now!

[2018-09-28 16:50] #3443 closed

[2018-09-28 16:50] #3404 closed

[2018-09-28 17:41] #3514 closed

[2018-09-28 17:41] vesta0 commented on #3514
Another issue open #2603

[2018-09-28 17:47] vesta0 commented on #3511
@brampitoyo let's map out the user journey to make sure this option is clear.

[2018-09-28 18:12] vesta0 commented on #3396
FYI for 8.0 we want to focus on the first set up of mockups (adding a custom filter URLs in the settings) and NOT the additional ways to add a new custom filter (tapping on the link of a valid filter).

[2018-09-28 18:34] vesta0 opened #3515 "Block 3rd party tracker cookies"
### Why/User Benefit/User Problem

As a user I want to also have the option of only blocking the 3rd party tracker cookies so I can have a good browsing experience and still have some cookie protection.

### What / Requirements

This cookie capability is being shipping as part of Firefox 63 and I believe it is GV dependent.

![image](https://user-images.githubusercontent.com/42752644/46226238-a25e

[2018-09-28 18:38] cpeterso commented on #3515
GV bug to add API for blocking third-party tracker cookies: https://bugzilla.mozilla.org/show_bug.cgi?id=1495030

[2018-09-28 19:01] SeburoSUMO opened #3517 "Moveable trash can icon"
### Why/User Benefit/User Problem

Some users find that the trash can icon (Focus for Android) is in the wrong position and they accidentally tap it.

### What / Requirements

In the early build of Firefox ScreenshotGo, the GO button can be repositioned to a different edge of the screen by long pressing and dragging.  Perhaps the same approach could be taken with the trash can in Firefox Focus?

[2018-09-28 19:58] vesta0 commented on #1014
@brampitoyo let me know what you think of this. I like what are doing for iOS - I assume it's a similar idea?

[2018-09-28 19:58] vesta0 commented on #594
@brampitoyo I agree that we should rename to "Content Blocking" but why remove # of trackers blocked - why isn't it accurate?

[2018-09-28 20:20] mmccorks commented on #3398
The required sample size is 30,000 clients. We have ~400,000 DAU and factoring in the ~15% of users who do not reboot their app to get assigned to an experiment branch, I recommend we do a rollout to 10% of users.

[2018-09-28 22:46] mcomella opened #3519 "GeckoView uses more background data than WebView"
I'm concerned that users may not be suspecting this and may be surprised when their data usage is higher than they expect.

## GeckoView usage
![screenshot_20180927-064151](https://user-images.githubusercontent.com/759372/46236829-924cf480-c335-11e8-82fa-2ace910484d5.png)

## WebView usage
![screenshot_20180927-064142](https://user-images.githubusercontent.com/759372/46236827-8d884080-c335-11e8-84

[2018-09-30 00:02] initrd opened #3520 "Selecting text crashes Focus"
## Steps to reproduce
1. Open any website
2. Select any text

### Expected behavior
Text selects :)

### Actual behavior
Browser crashes :(

[Screencast](https://photos.app.goo.gl/sXCoqufVBFboFDqKA)

### Device information
* Android device: Google Pixel, Android 9.0
* Focus version: 8.0 (Build #322721206, Gecko 62.0.3.20180928184514)

[2018-09-30 01:52] cpeterso commented on #3441
@nkestrel This bug should be fixed in Focus 7.0.9 beta released yesterday. The Wi-Fi and VIBRATE permissions have been removed, so you shouldn't have to click through a permission prompt when upgrading from version 6.1.1 to 7.0.9.

Thanks again for reporting this issue!

[2018-09-30 02:38] samuel-emrys opened #3521 "Focus doesn't recognise user installed certificates for https"
## Steps to reproduce
1. Configure SSL connections in pfSense webConfigurator
2. Export root CA to android device and install as user certificate
3. Open Focus and navigate to pfSense web portal, i.e. https://192.168.0.1/

### Expected behavior
User certificate is identified as valid, and an SSL connection is opened to pfSense web portal

### Actual behavior
Redirected to error page: "Secure conne

[2018-09-30 18:32] Scripterr opened #3522 "Trackers blocked counter `i` icon misplaced"
Trackers blocked counter `i` icon got misplaced .
### STR:
1. Open firefox focus.
2. Serach down any keywords or url.
3. Select menu 3 dot menu.
### Expected Result:
The tracker counter `i` icon is intact.
### Actual Result:
The tracker counter `i` icon is not intact at his original position.

### Device Information:
Focus version:8.0 (Build #322731206 🦎 62.0.3.20180928184514)
Android version: 8.0

[2018-09-30 19:00] Scripterr opened #3523 "Padlock context dialogue cannot render content"
### STR:
1.Open firefox focus.
2. Search down any kewords.
3. Click on the padlock icon at address bar.
### Expected Result:
On selecting the padlock icon the context dialogue appears should render content as it shows the site name and certifying service name.
### actual result:
The dialogue doesn't shows name of site and the certifying service name.
### Device Information:
Focus version:8.0 (Buil

[2018-09-30 19:41] dennisguse opened #3524 "Improve usability of notification"
## Steps to reproduce
The focus notification provides three options:
1. Open: click option
2. Erase and open: click option
3. Erase: click notification

While option 1 and 2 are intuitively available (because they are shown as menu items), option 3 is not directly shown.
In fact, users may need to try it out before realizing the functionality.
Furthermore, clicking the notification triggers the er

[2018-09-30 22:08] vesta0 commented on #3347
@jonisavage we are looking for a brief explanation safe browsing, how it is currently enabled in WebView but not GeckoView for now (#3236). The GV team is currently working on finishing the Safe Browsing API which will be ready in a few weeks but not for this Tuesday's release.

[2018-10-01 08:13] sv-ohorvath opened #3527 "Podcasts are stopped and can't be replayed after switching tabs"
## Steps to reproduce
1. Go to ft.com (open the hamburger menu and tap Podcasts), or irlpodcast.org and play a podcast.
2. Long tap a link from the page, open in a new tab.
3. Switch to the new tab.
4. Switch back to the podcast and try to replay it.

### Expected behavior
Playback should be stopped while switching tabs and then should be able to be re-played.

### Actual behavior
The playback is

[2018-10-01 08:21] sv-ohorvath opened #3528 "On Soundcloud, audio keeps playing if you switch tabs/ clear history"
## Steps to reproduce
1. Go to soundcloud.com and play a song.
2. Long tap a link on the page (e.g. the cookies or privacy policy links at the bottom of the page). Open it in a new tab.
3. Switch to the new tab.
4. Clear history.

### Expected behavior
Audio streaming should be stopped.

### Actual behavior
Audio keeps playing in the background until you close the browser.
Not reproducible on yout

[2018-10-01 08:44] Scripterr opened #3529 "Focus:about opens in background tab while browsing"
### STR:
1.Open firefox focus.
2. Search down any keywords.
3. Navigate to the settings menu.
4. Select mozilla.
5. Click on the About firefox focus.
### EXPECTED RESULT:
The focus:about page should open in switched new tab not in background.
### ACTUAL RESULT:
The focus:about page open in the background tab.
### DEVICE INFORMATION:
Focus version:8.0 (Build #322731206 🦎 62.0.3.20180928184514)
Andr

[2018-10-01 08:48] nkestrel commented on #3441
Can confirm, no permission prompt updating from 6.1.1 to 7.0.9.

[2018-10-01 09:55] sv-ohorvath opened #3530 "GeckoView: Link to install apps doesn't work"
## Steps to reproduce
1. Go to reddit.com and tap the "Use app" button.
2. If the app is not installed, install it from google play and repeat Step 1.

### Expected behavior
If the app is installed, the app should open.
If the app is not installed, you should be directed to the playstore.

### Actual behavior
On GeckoView, the redirect doesn't work. Nothing happens when you press the Use app link.

[2018-10-01 10:01] Scripterr opened #3531 "Url bar in purple state after stwiching tabs"
## Steps to reproduce
1. Open firefox focus.
2. Search keyword or enter url.(e.g. home in duckduckgo)
3. Open another link in new tab.
4. Switch to new tab.
5. Switch back to former tab.
### Expected behavior
The tab url bar color should be Magenta after switching to previous tab or other tab which were fully loaded.
### Actual behavior
The url bar is showing in purple state and all tabs url bars

[2018-10-01 10:14] pocmo commented on #3531
This could be a regression from `browser-session`. I can investigate.

[2018-10-01 11:06] ekager commented on #3529
Hi @Scripterr , if I'm understanding this issue correctly, I believe this is intended as this is new behavior for all new tabs, see #3300 for context. You are able to change this behavior in Settings -> General if you prefer to have new tabs opened automatically.

[2018-10-01 11:07] ekager commented on #3530
This bug was previously was fixed for GV (see https://bugzilla.mozilla.org/show_bug.cgi?id=1478171) but was backed out for causing https://bugzilla.mozilla.org/show_bug.cgi?id=1489257 .

[2018-10-01 11:19] Scripterr commented on #3529
Okay. i thought this is a regression, anyway if this is intended behaviour then can you close the issue as i don't know how to close it :sweat_smile:

[2018-10-01 11:28] Scripterr commented on #3529
One more question if someone open wants to know the version of focus or build number shouldn't it display that page at instant in foreground rather than in backgroud where he thinks the page is not opening, as the about page is application software page not a webpage.
And could not se that the pages were queueing in tab counter.
I have opened 2 pages thinking it's not working.

[2018-10-01 12:13] ekager commented on #3529
Oh you're right these internal pages specifically are actually supposed to open in a new window not tabs. Let me look into this today! thanks for filing :)

[2018-10-01 12:35] ekager commented on #3523
Thanks for filing. Looks like a possible regression from the `browser-session` change recently.

[2018-10-01 14:13] pocmo commented on #3505
I'm unable to reproduce that on *master*.

@ekager I only found one place where we check for the source (#3537). However it seems like we are not looking at the source for the custom tab UI?

[2018-10-01 14:22] #3441 closed, assigned to nobody

[2018-10-01 14:59] ekager commented on #3505
I can still reproduce on master... but only with GV builds.

[2018-10-01 15:05] pocmo commented on #3505
Ah, now I can reproduce it. Focus needs to be open before switching from the custom tab to Focus. If I kill Focus and go through the steps then it works. Okay, looking into what's causing this now :)

[2018-10-01 15:19] ekager commented on #3517
CC @brampitoyo , more requests for trash can changes

[2018-10-01 16:19] ekager commented on #3507
Are you still seeing this @sv-ohorvath ? I just tried to reproduce and couldn't. Are you "Sharing" from Chrome/Fennec?

[2018-10-01 16:41] Scripterr commented on #3507
I'm seeing this with firefox rocket and brave.

[2018-10-01 16:46] ekager commented on #3507
Ah the intent processor is being called twice
Once here in `MainActivity`
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt#L185

And once here in `IntentReceiverActivity`
https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt#L185

@pocmo which one do you want t

[2018-10-01 16:55] pocmo commented on #3507
@ekager `MainActivity` may not need to process any Intents anymore.

[2018-10-01 17:12] #3531 closed

[2018-10-01 17:15] #3522 closed

[2018-10-01 17:15] #3523 closed

[2018-10-01 17:15] #3529 closed

[2018-10-01 17:17] cpeterso commented on #3441
Unfortunately, this fix won't be included in tomorrow's Focus 7.0.10 release. There was a (presumably unrelated) crash in GV 62.0.3, so Jeff had to roll back to GV 62.0.2 for Focus 7.0.10. :|

[2018-10-01 17:26] pocmo opened #3542 "KotlinNullPointerException:"
Focus 8.0 Nightly.

[code]

https://sentry.prod.mozaws.net/operations/focus-android/issues/4767772/

[2018-10-01 17:34] ekager commented on #3542
CC @sblatz looks like `displayBiometricPromptIfNeeded` can be called when `biometricController` is null from `onResume`. Want to take a look?

[2018-10-01 17:47] #3487 closed

[2018-10-01 17:51] pocmo commented on #3505
It looks like the custom tab session gets selected in session manager because there's no selection yet. Looking into whether this can be fixed in Focus or whether this requires a components fix.

[2018-10-01 17:56] sblatz commented on #3542
I’ll investigate this!

[2018-10-01 20:37] darchons commented on #2194
#3543 is the fix on the Focus end to fix this issue.

[2018-10-01 20:39] nojunpark opened #3544 "On Fresh install, opening new tab displays on foreground, not on background"
## Steps to reproduce
Found this while debugging UI Test failure on MultitasktingTest.java
1. Remove Focus app from the device.
2. Debug `testVisitingMultipleSites` test, with breakpoint on line 126.
3. Start the test, and when it reaches line 126, press "step to next line"

### Expected behavior
After opening tab 2 from the context menu, it should remain in tab 1.

### Actual behavior
After openi

[2018-10-01 22:55] #3398 closed

[2018-10-02 09:08] #2194 closed

[2018-10-02 09:50] #3507 closed

[2018-10-02 10:01] ekager commented on #3544
I can also reproduce this on master, the first tab you open opens in the foreground.. Looking into it

[2018-10-02 10:02] ekager opened #3547 "On Fresh Install Keyboard Displays Over First Run"
## Steps to reproduce
1. Uninstall Focus
2. Reinstall and open

### Expected behavior
First Run pops up, no keyboard

### Actual behavior
First Run pops up, keyboard is also displayed

### Device information

* Android device: Pixel 2
* Focus version: Master

[2018-10-02 11:50] Scripterr opened #3550 "Tab stops loading if quick switched to other tabs"
## STR
1.Open firefox focus.
2.Search keywords or url. (tab A)
3. Open another link to the new tab.(tab B)
4. Switch to the new tab(B) which will start loading address as you switch to the tab.
5. Go back to the previous tab(A) while the page(tab B)is loading.( stage- page at initial point)
6. Go back to the new tab(B) which have been switched while page was loading.
### Expected Result
The page i

[2018-10-02 13:18] #3496 closed

[2018-10-02 13:32] #3520 closed

[2018-10-02 13:35] ekager commented on #1376
We no longer use SessionManager so I'm going to say this bug no longer exists :P , closing

[2018-10-02 13:35] #1376 closed

[2018-10-02 13:38] ekager commented on #1500
Hi @simonsteiner1984 are you still seeing this issue with newer versions of Focus? I don't see this with GV

[2018-10-02 13:42] simonsteiner1984 commented on #1500
I'm no longer a user of focus

[2018-10-02 13:43] ekager commented on #1481
This seems to be working with Nightly. @simonsteiner1984 could you confirm this is still a problem for you?

[2018-10-02 13:43] #1500 closed

[2018-10-02 13:45] ekager commented on #3472
The Error Page API is coming in the next version of GeckoView (63) so we can actually load a page in its place without hacks.

[2018-10-02 13:55] ekager commented on #1350
Have we ever seen this again? Or was it just an Android O bug

[2018-10-02 13:58] sv-ohorvath commented on #3487
The toggle isn't displayed anymore on the dev build. Works ok on Nightly. Thanks!

[2018-10-02 13:58] ekager commented on #1178
This can be closed thanks @miketaylr ! Just a note that it's actually not until 7.0 that Klar has been GV if we want to get pedantic. :)

[2018-10-02 13:58] #1178 closed

[2018-10-02 13:59] ekager commented on #980
Can we close this meta?

[2018-10-02 14:01] #1753 closed

[2018-10-02 14:01] sv-ohorvath commented on #3507
Verified as fixed on the local build.

[2018-10-02 14:02] npark-mozilla commented on #980
This was complicated by having older sim running on taskcluster and having intermittent failures - it's not done, but it seems unclear that we'll be working on this.  @pocmo , thoughts?

[2018-10-02 14:12] ekager commented on #2986
Closing because of our session changes

[2018-10-02 14:12] #2986 closed

[2018-10-02 14:33] sv-ohorvath opened #3552 "The Autofill option on login forms doesn't show up on GeckoView"
## Steps to reproduce
1. Go to google.com and tap Sign in.
2. Long tap the email field.

### Expected behavior
"Paste" and "Autofill" options are displayed.

### Actual behavior
"Autofill" is not displayed using GeckoView, only on WebView.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 8.0), Huawei P9 Lite (Android 6.0)
* Focus version: 8.0, 7.0.10.

[2018-10-02 14:35] sv-ohorvath commented on #3552
The option I'm referring to (screenshot taken on Klar, 7.0.10, WebView):
![screenshot_20181002-173348_firefox klar](https://user-images.githubusercontent.com/4037709/46355436-75802c00-c669-11e8-9d9f-8baf97604702.jpg)

[2018-10-02 14:39] pocmo commented on #3505
One part of the fix I landed here. The other part needs to land in a-c and I opened a PR for that - it should be released with 0.26.

[2018-10-02 14:53] pocmo commented on #980
I talked to the L10N team some time ago and it is likely that they are going to own the screenshot automation for our apps.

I definitely won't be able to work on that.

[2018-10-02 14:54] npark-mozilla commented on #980
Okay let's close this issue then.

[2018-10-02 14:54] #980 closed

[2018-10-02 15:16] ShridharGoel commented on #3547
I would like to work on this.

[2018-10-02 15:47] pocmo commented on #1350
No clue. Let's close :)

[2018-10-02 15:47] #1350 closed

[2018-10-02 16:27] mcomella commented on #1178
On Tue, Oct 2, 2018 at 6:59 AM Emily Kager <notifications@github.com> wrote:

fwiw, I've been thinking we should move our docs in-tree so that they're
versioned by release, which would solve this problem. This is an annoying
problem for me, especially for telemetry! :P

[2018-10-02 17:46] npark-mozilla commented on #3552
@sv-ohorvath which password manager were you using?  (and the behavior was same for both Android 6.0 and 8.0 I assume?)

[2018-10-02 17:48] cpeterso commented on #3552
This sounds like a GeckoView bug, so I filed an issue in GeckoView's Bugzilla component:

https://bugzilla.mozilla.org/show_bug.cgi?id=1495822

[2018-10-02 18:01] vesta0 commented on #3347
Thanks @jonisavage  :)

[2018-10-02 18:01] #3347 closed

[2018-10-02 18:04] npark-mozilla commented on #3521
@sv-ohorvath could you repro this on 7.0 and see whether it still happens?

[2018-10-02 18:39] dougouk commented on #3092
Is anyone on this issue?

[2018-10-02 20:29] ekager commented on #3092
I don't think so @dougouk feel free to take a stab at it

[2018-10-02 20:37] npark-mozilla opened #3556 "WebviewdataTest.java is failing on Geckoview as well, retaining cache after page is cleared"
## Steps to reproduce
Run WebViewDataTest.java on Geckoview.  Use this PR (https://github.com/mozilla-mobile/focus-android/pull/3555)

### Expected behavior
The test should pass

### Actual behavior
Test fails, after page is cleared, the directory contains the page cache
Also, the test shows that `service-worker.js` page is never requested by Focus when loading the test html page.

It is similar t

[2018-10-02 20:38] npark-mozilla commented on #3556
![screen shot 2018-10-02 at 4 29 42 pm](https://user-images.githubusercontent.com/6930774/46375494-947ac000-c661-11e8-90aa-660d7810c9b6.png)

[2018-10-02 23:57] boek commented on #3500
It doesn't look like we currently block it in Focus. If we add Easylist with the work in https://github.com/mozilla-mobile/focus-android/issues/2603 Facebook Pixel would be blocked in that.

[2018-10-02 23:57] #3500 closed

[2018-10-03 01:35] jannisch commented on #3374
+1
Focus is so much nicer and faster than Firefox on Android since it's native. I also want to have the best privacy when browsing but often I just discover an interesting site that I want to save to my Firefox bookmarks quickly.

[2018-10-03 07:04] sv-ohorvath commented on #3552
@npark-mozilla I used LastPass. The behavior was the same on both devices.

[2018-10-03 07:44] cpeterso commented on #3552
I think LastPass autofill is fixed in GeckoView 63 (and WONTFIX'd for GV 62). Focus 7.0 (and 8.0 Nightly) still use GV 62. We will need to retest after Focus updates to GV 63.

https://bugzilla.mozilla.org/show_bug.cgi?id=1330257

[2018-10-03 13:39] knightcube commented on #1346
May I work on this? I am thinking of changing the color so that it becomes much more visible

[2018-10-03 13:58] sv-ohorvath commented on #3521
Sorry, I personally don't have knowledge in this area ( also asked around for help but without success) and can't verify this. @samuel-emrys, maybe you can check on the latest Focus version: https://github.com/mozilla-mobile/focus-android/releases/tag/v7.0-RC10 and let us know if you're still having issues? Thank you!

[2018-10-03 15:08] theLimitBreaker commented on #3550
Can I work on this issue

[2018-10-03 15:19] npark-mozilla commented on #3547
Currently this is failing `FirstRunDialogueTest` UI Test

[2018-10-03 15:21] npark-mozilla opened #3558 "URLAutocompleteTest.java is failing with new UI changes"
The UI test should be updated to reflect the UI changes

[2018-10-03 17:48] Scripterr opened #3560 "No padlock icon in secure connections"
## STR
1. Open firefox focus.
2. Search keyword though search engine or url which have secure connection/https.
### Expected Result
The padlock icon shows on secure connections/https sites.
### Actual Result
The padlock icon doesn't show up but globe icon shows up instead.
### Device Information
- Focus Version - 8.0 (Build #322751212 🦎 62.0.3.20180928184514)
- Android Version - 8.0.0
### Screensh

[2018-10-03 20:13] mcomella opened #3561 "Transition to maven.mozilla.org"
This should be a URL and dependency name swap. See https://lists.mozilla.org/pipermail/android-components/2018-October/000057.html for more details.

[2018-10-03 20:38] boek commented on #3472
@vesta0 Going to move this back into triage

[2018-10-03 20:39] #3506 closed

[2018-10-03 21:56] mcomella opened #3562 "Move to new version of Activity.onCreateView"
i.e. https://developer.android.com/reference/android/app/Activity.html#onCreateView(android.view.View,%20java.lang.String,%20android.content.Context,%20android.util.AttributeSet)

The old implementation caused obscure crash bugs on fennec ([see bugs duped to this](https://bugzilla.mozilla.org/show_bug.cgi?id=1401779)) so we should move to the new one.

[2018-10-04 01:09] jharmer95 opened #3563 "Creating new session (with fingerprint lock) does not delete all tabs"
## Steps to reproduce
- Enable the "Privacy & Security" -> "Use fingerprint to unlock app" setting
- Open multiple tabs in Focus
- Leave app without exiting (i.e. the home button)
- Switch back to Focus
- Select new session instead of using fingerprint

### Expected behavior
- All history deleted and all tabs closed

### Actual behavior
- Only bottom tab is actually closed, other tabs remain open

[2018-10-04 08:18] Scripterr commented on #3563
Can reproduce the issue on my mobile.
- Focus version - 8.0 (Build #322751212 🦎 62.0.3.20180928184514)

[2018-10-04 08:55] sv-ohorvath opened #3564 "Text selection - Search privately doesn't work"
## Steps to reproduce
1. Open a webpage with text (wikipedia.com).
2. Select some text and tap Search Privately.

### Expected behavior
A search is made based on the text selected.

### Actual behavior
Nothing happens.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 8.0)
* Focus version: 8.0 GeckoView & WebView versions. NR on 7.0.10.

[2018-10-04 09:19] sv-ohorvath commented on #3531
Verified as fixed on Nightly 8.0.

[2018-10-04 09:33] sv-ohorvath opened #3565 "While Help and Privacy sumo pages are opened in background tabs, show a snackbar"
## Steps to reproduce
1. Open a webpage: google.com.
2. Go to Settings>Mozilla> select Help / Privacy Notice.

### Expected behavior
If a page from the Settings menu is opened in the background, show the snackbar to switch to it.

### Actual behavior
When the Settings menu is closed, there is no notification that the page was opened in a new tab. Hard to notice that a new tab was created.

### Dev

[2018-10-04 11:53] sv-ohorvath commented on #3529
Verified as fixed on Nightly 8.0.

[2018-10-04 12:13] sv-ohorvath commented on #3523
Verified as fixed on latest Nightly 8.0.

[2018-10-04 12:58] sv-ohorvath commented on #3522
Verified as fixed on latest Nightly 8.0

[2018-10-04 17:12] boek opened #3566 "[Meta] Biometrics hotfixes"
- [ ] RuntimeException on createKey when user doesn't have lockscreen enabled

[2018-10-04 17:13] boek commented on #1380
We now have Biometrics 👍

[2018-10-04 17:13] #1380 closed

[2018-10-04 17:15] boek commented on #3566
https://sentry.prod.mozaws.net/operations/focus-android/issues/4781874/
RuntimeException: Unable to resume activity {org.mozilla.focus/org.mozilla.focus.activity.CustomTabActivity}: java.security.InvalidAlgorithmParameterException: java.lang.IllegalStateException: Secure lock screen must be enabled to create keys requiring user authentication

[2018-10-04 18:05] sblatz commented on #3566
Likely involves #3542.

[2018-10-04 18:15] pocmo commented on #2901
This looks interesting and could be causing this:
https://issuetracker.google.com/issues/76112072

Not sure how to work around that though..

[2018-10-05 06:55] JKorsten opened #3568 "Youtube video's don't go fullscreen."
Hey there,

I'm having an issue with fullscreen youtube video's.
I'm using geckoview-nightly-arm64-v8a-64.0.20181004100221

I'm having a simple test application which looks as follows.

[code]

It loads the webview and I can play video's but when I press the fullscreen button. It doesn't display fullscreen.
Am I missing some settings or am I doing something wrong?

Kind regards,

JKorsten

[2018-10-05 07:57] sank20 commented on #3092
Hi @SubhrajyotiSen , @brampitoyo , is there an issue already created for a similar change for “+ Add another search engine” option? (I couldn't find it) It would be great if anyone can add its reference here. Or maybe if the issue hasn't been created yet, I would like to take it up.

[2018-10-05 08:59] pocmo commented on #2901
With this being our top crash I assume this is not a P5 anymore (CC @Sdaswani @vesta0 @boek).

[2018-10-05 09:01] pocmo commented on #2901
![screenshot_2018-10-05 anrs crashes - firefox focus the privacy browser - google play console](https://user-images.githubusercontent.com/89638/46526163-c1abb600-c88d-11e8-935c-c5e2b5aee737.png)

Something in 7.0.x has definitely made this more likely to occur.

One guess is the "wait a bit for fretboard to update" workaround that blocks the UI thread and may lead to `onStartCommand` being called

[2018-10-05 09:07] pocmo commented on #2901
Calling `stopService()` before the Service had time to get to `startForeground()` is definitely triggering this exception 🤔:

[code]

Reproducible with just:

[code]

[2018-10-05 12:12] sank20 commented on #3092
Hi all, I've been exploring about the Extended FAB and according to the [roadmap](https://github.com/material-components/material-components/blob/develop/ROADMAP.md#previous-releases) it hasn't yet been implemented in the material components for Android. Although there have been some workarounds prevalent among many developers, I am not sure about its compliance with the Mozilla's design guideline

[2018-10-05 13:00] ekager commented on #3560
I can reproduce this with GV

[2018-10-05 13:01] sv-ohorvath opened #3570 "LastPass Autofill shows in the search bar"
## Steps to reproduce
1. Install LastPass and allow it to auto-fill passwords.
2. Long tap the Focus search bar.

### Expected behavior
Autofill shouldn't be displayed in the search bar.

### Actual behavior
Autofill displayed in the search bar.

### Device information
*Android 8 devices:
Samsung Galaxy Note 8 (Android 8.0)
HTC 10 (Android 8.0)

Not reproducing on:
 Huawei P9 Lite (Android 6.0)
No

[2018-10-05 13:16] ekager commented on #3560
This happens because we update the final security in `onPageFinished`, but since the security doesn't change from the last `onSecurityChanged`, `onSecurityChanged` in `BrowserFragment` is not triggered again where we update the icon after the page is loaded.

[2018-10-05 13:34] ekager commented on #3570
Hm interesting I can't repro on Pixel 2. Is this the Android system autofill manager? Does it automatically pop up or only when you long press and select it from the menu?

We add these tags to the URL bar layout to try to have autofill apps ignore it.
`android:importantForAutofill="no"
                    tools:targetApi="o"`

[2018-10-05 13:52] sv-ohorvath commented on #3570
It appears on long tap, next to PASTE (there should be a 3 dots button and you have to tap it).
Just found that on HTC 10 (Android 8.0), it also appears without having LastPass installed.

[2018-10-05 13:57] Sdaswani commented on #2901
I _thought_ all this code had been removed, but @boek can confirm.

[2018-10-05 13:57] JKorsten commented on #3568
I fixed this by overriding the ContentDelegate and implement the fullscreen function.

[code]

[2018-10-05 13:57] #3568 closed

[2018-10-05 14:03] sv-ohorvath opened #3572 "Crash on long tap on some devices"
## Steps to reproduce
1. Go to wikipedia.com or twitter.com.
2. Long tap on some text to select it.

### Expected behavior
Text selection tool is displayed.

### Actual behavior
"Focus has stopped." is displayed.

### Device information
* Android devices:
Sony Xperia Z5 Premium (Android 6.0.1)
Nokia 6 (Android 7.1.1)
Google Pixel (Android 9)

Not reproducing on:
Huawei P9 Lite (Android 6.0)
HTC 10

[2018-10-05 14:04] ekager commented on #3560
@pocmo This seems to be related to AC session observers. If the values match it's not called again? This doesn't really work for our current 3 state icon with 2 versions for "insecure" -> http and no cert.

Related decision, do we want to show the globe for HTTP still?

[2018-10-05 14:33] npark-mozilla commented on #1899
Hi @sank20, it used to be that each locale has a list of specific search engines tailored to the locale, like Russian => Yandex, Korean => Naver.  That seems no longer the case.  I removed the incorrect STR so it's less confusing. Thanks!

[2018-10-05 14:40] Scripterr commented on #3570
Yup, looks like it's manipulated by lastpass cause it appears in every browser, even in chrome.

[2018-10-05 14:45] pocmo commented on #3560
Yeah, that's true

Mh, okay, I'll take a look :)

[2018-10-05 17:07] #3563 closed

[2018-10-05 17:13] boek commented on #3550
@theLimitBreaker Definitely! Let me know if you need anything 👍

[2018-10-05 17:16] cpeterso commented on #3528
A `suspendMediaWhenInactive` setting was added in GV 62 ([bug 1483397](https://bugzilla.mozilla.org/show_bug.cgi?id=1483397)). ekager reported that it didn't work in Focus, but the suspend feature does work correctly in geckoview_example 62 ([bug 148925](https://bugzilla.mozilla.org/show_bug.cgi?id=1489245#c6)) so this appears to be a Focus bug.

[2018-10-05 17:21] #2896 closed, assigned to sblatz

[2018-10-05 17:34] vesta0 commented on #3074
Need crash reporting support (GeckoView 63) and Android Components (#506 shipping on 15th)

[2018-10-05 17:37] boek opened #3573 "Geckoview 63"
Let's get Geckoview 63 beta into Nightly

optional: Switch to Maven to pull in Geckoview

[2018-10-05 19:02] npark-mozilla opened #3574 "Have a build option to disable Fretboard and set wv/gv as default in Focus Release"
### Why/User Benefit/User Problem
Currently builds are uploaded to nimbledroid for page load measurement, but with the introduction of Focus, we cannot guarantee that Focus Release/Debug build would use Webview as default. (We upload Focus Nightly for geckoview measurement)  Currently Focus webview upload is now disabled.

### What / Requirements
If there is a way to build Focus Release with webvi

[2018-10-05 20:32] #3566 closed

[2018-10-05 20:32] #3542 closed

[2018-10-06 10:15] namanpreetsingh commented on #3547
I want to work on it :+1:

[2018-10-06 13:25] duncanturk opened #3578 "Tor/.onion addresses: Address not found"
I used orbot and firefox klar (german version of firefox focus) for a while now. I used the .onion address of duckduckgo as default search engine.
The last update (I think it's caused by using gecko) broke the .onion address support.
Neither using this address as default search, nor entering it by hand allows me to access duckduckgo under this address.
Neither the duckduckgo browser nor orfox have

[2018-10-06 14:47] bansalayush commented on #3565
![focus_mozzila_feature](https://user-images.githubusercontent.com/9965653/46572514-af706b80-c9a4-11e8-8285-2d85e9e76727.gif)
What text should i add in snackbar ....
@sv-ohorvath

[2018-10-06 14:52] bansalayush commented on #3565
will make the gif smaller next time :D

[2018-10-06 19:17] bansalayush commented on #2045
Hey @mcomella  , can i pick this up ? :)

[2018-10-06 19:40] levimatheri commented on #1899
This has already been fixed by [this commit](https://github.com/mozilla-mobile/focus-android/commit/2faefedfafd6cc6b8d7d8447a4e16af880559d52). The only issue is one has to completely clear the app from the overview apps list. Relaunching the app works as expected, the search engines correspond to the locale. I am planning on opening an issue for this

[2018-10-06 20:01] bansalayush commented on #732
hey @pocmo  @mcomella  , I would like to work on this issue . Can you guys drop a few hints on what to do ?

[2018-10-06 20:58] vesta0 commented on #2003
@brampitoyo I think we talked about this briefly when discussing the new privacy settings menu as you had "disable autoplay" as an option (for future consideration). This is definitely something I'd like to consider for 9.0 if we can build the control in GeckoView. It aligns with product vision and it's also frequently requested by our users. @cpeterso I've added this to the list of GeckoView feat

[2018-10-07 03:07] samuel-emrys commented on #3521
didn't get a chance to build 7.0-RC10 from source myself, but I've just tried with 7.0.11 that dropped yesterday and still not working. To add to the reproduction steps:
1. Install pfSense in a VM: https://www.ceos3c.com/pfsense/install-pfsense-2-4-4/
2. Configure SSL connections in pfSense webConfigurator: https://www.ceos3c.com/pfsense/pfsense-generate-ssl-certificate-https-pfsense/

This goes t

[2018-10-07 07:54] cpeterso commented on #2003
Sounds good like a good feature. I think Focus might be able to control media autoplay, either per-site or globally, using a new `PERMISSION_AUTOPLAY_MEDIA` flag added in GV 63:

https://bugzilla.mozilla.org/show_bug.cgi?id=1484374

[2018-10-07 08:27] bansalayush commented on #3564
@sv-ohorvath  Hey what do you mean by NR on 7.0.10

[2018-10-07 11:40] bbinto commented on #1250
Great job everyone!

@vesta0 asked me to check out the latest ideas and provide some feedback.

I'll start writing this down but would love to talk in person (yeah!) with the team next week.

Without prescribing any solution in particular, I want us to stay focused on the user problems and start with the "easiest", "most obvious" improvements.

1) We probably should assume that we only have one mo

[2018-10-07 14:57] Sdaswani opened #3584 "Security Issue (Redacted)"
https://bugzilla.mozilla.org/show_bug.cgi?id=1496682

[2018-10-07 15:51] bansalayush commented on #2049
I am picking this up :)

[2018-10-07 16:11] namanpreetsingh opened #3585 "Pressing back on Server Not Found error is shown doesn't go to previous screen"
## Steps to reproduce
Open up a URL which returns Server not found error. Then press back button.

### Expected behavior
Previously opened page should be displayed or welcome screen should be displayed.

![firefox-focus](https://user-images.githubusercontent.com/31390362/46583915-0ea0af80-ca7b-11e8-9b45-8b5d4aecaf52.gif)

### Actual behavior
It doesn't display previous page.
![firefox-focus-1-](ht

[2018-10-08 04:39] Sdaswani opened #3586 "Forgot to Include Adjust Key from 6.x on?"
## Steps to reproduce
Load https://sql.telemetry.mozilla.org/queries/5494#11169

### Expected behavior
Up and to the right

### Actual behavior
Gasp!

[2018-10-08 07:46] sv-ohorvath commented on #3565
@brampitoyo Is it ok to add the "New tab opened - SWITCH" snackbar here? On a second thought, I should have logged this as a feature request maybe.

[2018-10-08 08:04] sv-ohorvath commented on #3564
Not reproducing on 7.0.10.

[2018-10-08 08:49] sv-ohorvath commented on #3572
This looks like a duplicate of  #3520.

[2018-10-08 08:49] #3572 closed

[2018-10-08 08:52] sv-ohorvath commented on #3520
This is fixed on the latest Focus Nightly build (Build #322721206, Gecko 62.0.3.20181001191808)

[2018-10-08 12:01] sv-ohorvath commented on #3563
Verified this is fixed on the latest Focus Nightly 8.0 build.

[2018-10-08 13:39] STPR opened #3589 "URI Scheme with uppercase (HTTP or HTTPS) are not working"
## Steps to reproduce
Typing a URI which begin with HTTP or HTTPS

### Expected behavior
Connect to the website

### Actual behavior
Show an exclamation mark :warning: and do not connect to the website

### Device information

* Android device: Every Android devices
* Focus version: 7.0.13

According to the RFC 3986 Section 6.2.2.1 (https://tools.ietf.org/html/rfc3986#section-6.2.2.1):

"When a UR

[2018-10-08 17:32] ekager commented on #3589
Hi @STPR , I'm typing "HTTPS://google.com" and it loads Google for me. I may not be understanding the bug, could you give me an example of what you're typing?

[2018-10-08 17:58] sblatz commented on #3504
After some further investigation, it turns out that this dialogue box is entirely handled internally, and the Android API does not expose any of its functionality. **Because of this, we would need to use reflection** in order to [set the last chosen app](http://androidxref.com/9.0.0_r3/xref/frameworks/base/core/java/com/android/internal/app/ResolverListController.java#85). I've heard this is frown

[2018-10-08 18:00] ekager commented on #3564
The fix for #3507 broke this since MainActivity no longer receives Session Intents. I can look into it

[2018-10-08 19:53] brampitoyo commented on #3092
@sank20 There’s no issue created for “+ Add another search engine” option.

Let’s create it, and let’s also make sure that the button says “+ Add search engine”.

The Extended FAB utilises the same UX metaphor that the FAB already used since 2014–15 (around version Lollipop and Marshmallow), so it should already be familiar to most Android users.

[2018-10-08 20:39] mcomella commented on #2049
@ekager is this still relevant? I'm concerned this code moved to android-components.

[2018-10-08 20:41] mcomella commented on #732
@bansalayush Unfortunately, I don't know gradle well enough to know the correct answer. I think it involves waiting for the task graph to complete, checking if "release" is present in the set of running tasks and, if so, ensuring the config has set the adjust token, failing the build if not.

[2018-10-08 20:45] brampitoyo commented on #3517
As far as I’m aware, long-pressing the Floating Action Button in Android isn’t supposed to do anything, and its positioning is also supposed to be static (caveat: while a FAB can attach to top app bars or the edge of a component, on a phone layout, it’s always on the bottom of the screen).

@SeburoSUMO What are other positions that make sense for the FAB? I’m trying to determine whether it’s helpf

[2018-10-08 21:23] vesta0 commented on #2835
I just tried to recreate this and it seems to behave as expected. @rpappalax would you please confirm?

[2018-10-08 22:02] ekager commented on #2049
Ah true I think this code has moved. Closing

[2018-10-08 22:02] #2049 closed

[2018-10-08 22:33] Sdaswani opened #3592 "Improve Action Counts"
This [action count tabl](https://sql.telemetry.mozilla.org/queries/4293#8578)e is not super helpful. Can we please have it changed per the following:

1) Break this all down by day or week.

I'm also fine just getting this all in Amplitude instead.

cc @mmccorks and @vesta0

[2018-10-08 22:43] brampitoyo commented on #594
@vesta0 I remember hearing from Engineering about how the # of trackers represented a “best guess”, rather than being a figure that’s accurate every single time you load any website. It could’ve been because we use WebView, and they can’t give us an accurate figure?

Either way, my contention with using numbers without citing any context is that it’s impossible to know what “good” looks like.

For

[2018-10-08 23:14] brampitoyo commented on #3565
This seems like an unintended behaviour, when the Help/Private Notice page open in a new tab the user should be switched to it immediately. They shouldn’t open in background tabs.

[2018-10-08 23:56] mcomella commented on #2835
I fixed this in 0.26 components and Focus is using the latest components so it should no longer be an issue.

Components issue for this: https://github.com/mozilla-mobile/android-components/issues/911

[2018-10-08 23:56] #2835 closed

[2018-10-09 03:15] levimatheri commented on #1899
Looks like `LocaleSearchLocalizationProvider` is not getting the right Locale from JVM after the change?

[2018-10-09 04:55] STPR commented on #3589
Hi,

That's strange, it doesn't work for me when I'm typing "HTTPS://google.com" or "HTTPS://github.com" for example...
I get an exclamation mark like explained previously.

One thing to check :
Do you try those URI just after Firefox Focus have been launched or not ?

[2018-10-09 07:42] #3560 closed

[2018-10-09 08:10] sv-ohorvath commented on #3565
Oh, my bad then, I wasn't aware of that. I'll log a new issue and close this one as it's invalid. Thank you!

[2018-10-09 08:10] #3565 closed

[2018-10-09 08:13] sv-ohorvath opened #3593 "Help and Privacy sumo pages are opened in background tabs"
## Steps to reproduce
1. Open a webpage: google.com.
2. Go to Settings>Mozilla> select Help / Privacy Notice.

### Expected behavior
The sumo page tab should be displayed immediately.

### Actual behavior
The sumo page is opened in a new background tab. Hard to notice it's there.

### Device information
* Android device: Samsung Galaxy Note 8 (Android 8.0)
* Focus version: Nightly 8.0.

[2018-10-09 15:06] mkvigne commented on #3589
I'm able to reproduce it on Focus v7.0.11 with a Samsung Galaxy S7.
AutoCorrect and PredictiveText are off.

The issue appears when typing a URI from the pink/purple Focus starting page. Like so:
- Open the app.
- Ensure you are on the pink/purple Focus starting page.
- Search for "HTTPS://google.com".

However when typing a URI starting with HTTP/HTTPS on any other website it does not start loadi

[2018-10-09 15:12] ekager commented on #3589
Ah this only happens with WV builds, I can reproduce now. Thanks! Since we are moving away from WV for GV we may not need to fix this

[2018-10-09 17:41] bansalayush commented on #732
@mcomella Understood the first two parts . What's an adjust token ? Can you shed some light on this ?

[2018-10-09 18:00] mcomella commented on #732
Adjust is an SDK we use and it requires an API token. We get the token at
compile time from an optional file on desk: here's the build.gradle file
where we slurp it up:
https://github.com/mozilla-mobile/focus-android/blob/308093ecbd82f755f56b0a44f4dd27930adaa208/app/build.gradle#L317

[2018-10-09 19:16] sblatz commented on #3501
Interesting point: unable to reproduce on Android 6.0 through the notification button.

![notification shade](https://user-images.githubusercontent.com/4400286/46692815-3193a680-cbd6-11e8-9b45-9c7f85f28408.gif)

[2018-10-09 20:18] mcomella opened #3596 "GeckoView in custom tab can be accessed through regular app after deleting data"
## Steps to reproduce
- With no session open in focus
- Open app with custom tabs (e.g. gmail)
- Click link to open custom tab
- Go home, open focus
- Go to a website (e.g. apple.com)
- Delete data

### Expected behavior
Goes to home screen, custom tab remains in separate task

### Actual behavior
Goes to custom tab screen in Focus task. Custom tab screen can also be accessed in original task in a

[2018-10-09 20:20] jonalmeida opened #3597 "Momofuku Milkbar shows SSL error"
## Steps to reproduce
1. Go to milkbarstore.com
2. Observe the error.

### Expected behavior
- Locations for delicious cereal milk ice cream.

### Actual behavior
1. SSL error page.
2. Sadness.

### Device information

* Android device: Android 9
* Focus version: 8.0 (Build #322801206 :lizard: 62.0.3.20181001191808)

I did some debugging and found that we're hitting the [`SSL_UNTRUSTED`][0] error

[2018-10-09 20:43] mcomella opened #3598 ""Search privately" does not start a browsing session"
## Steps to reproduce
- Open an app with text (e.g. gmail)
- Highlight some text
- Click 3-dot, "Search privately"

### Expected behavior
Focus opens a search with the highlighted text

### Actual behavior
Focus opens the home screen

### Device information

* Android device: Pixel 2, andy P
* Focus version: 6.0, #322801206 62.0.3.20181001191808

[2018-10-09 20:48] jonalmeida commented on #3501
Here's video of the issue on Android 9.0 since @sblatz didn't have an Android 9.0 device: https://gfycat.com/ArcticDigitalIndochinesetiger

App Version: 8.0 (Build #322801206 :lizard: 62.0.3.20181001191808)
User-Agent: `Mozilla/5.0 (Android 9; Mobile; rv:62.0) Gecko/62.0 Firefox/62.0`

[2018-10-09 21:31] mcomella commented on #732
The change is happening at the build script's configure time: *all* tasks
are affected for exceptions thrown during configure. You want to do this
check at Execution time, only if the appropriate release tasks are being
executed, to avoid breaking the build for every task if this token is
missing.

See this doc (disclaimer: haven't read it yet) on the build lifecycle for
notes on configure and exe

[2018-10-09 22:03] ekager commented on #3598
Closing, dupe of #3564 which has a PR :)

[2018-10-09 22:03] #3598 closed

[2018-10-09 23:39] boek opened #3602 "IllegalStateExceptionorg.mozilla.focus.search.RadioSearchEngineListPreference in onCheckedChanged"
[code]

[2018-10-09 23:40] boek opened #3603 "KotlinNullPointerExceptionorg.mozilla.focus.webview.SystemWebView$createWebChromeClient$1 in onHideCu"
[code]

[2018-10-09 23:41] boek opened #3604 "RuntimeExceptionandroid.app.ActivityThread in handleBindApplication fatalUnable to create application org.mozilla.focus.FocusApplication: java.util.MissingResourceException: Couldn't find 3-letter country code for EA Issue #"
[code]

[2018-10-09 23:42] boek opened #3605 "RuntimeExceptionandroid.app.ActivityThread in performResumeActivity fatalUnable to resume activity {org.mozilla.focus/org.mozilla.focus.activity.MainActivity}: java.lang.RuntimeException: AnimRes: 0x0 resourceName: NotFound"
[code]

[2018-10-09 23:43] boek opened #3606 "RuntimeExceptionandroid.app.ActivityThread in performResumeActivity"
[code]

[2018-10-09 23:44] boek opened #3607 "BadTokenExceptionorg.mozilla.focus.gecko.GeckoViewPrompt in onAlert"
[code]

[2018-10-09 23:49] boek opened #3608 "Move the metrics ping"
https://github.com/mozilla-mobile/android-components/issues/1004#issuecomment-428177288

[2018-10-09 23:49] boek opened #3609 "IllegalStateExceptionandroid.support.v7.preference.ListPreferenceDialogFragmentCompat in onCreate"
[code]

[2018-10-10 11:08] STPR commented on #3589
Still present in the 7.0.12 version.

I thought GeckoView was already included in Firefox Focus since version 7.

[2018-10-10 15:54] liuche commented on #3477
Okay, @sblatz make sure to update the wiki with these probes!

1) Is there or will there be **documentation** that describes the schema for the ultimate data set available publicly, complete and accurate?

@sblatz will update the Telemetry wiki with the info for these probes

2) Is there a control mechanism that allows the user to turn the data collection on and off? (Note, for data collection not

[2018-10-10 16:34] ajsyan opened #3610 "Firefox Focus se detuvo"
@delphine
## Steps to reproduce
 download the new version of Firefox Focus on Google Play, open and set to kaqchikel language.
### Expected behavior
Firefox Focus in Kaqchikel language
### Actual behavior
Firefox Focus stopped
### Device information
* Android device: Android 5.1.1 version
* Focus version:  7.0.12 (Build # 322821522)

![1](https://user-images.githubusercontent.com/33326687/46751340

[2018-10-10 17:57] Delphine commented on #3610
FWIW I'm on a Pixel 2 (Android 9) on exactly the same Focus build, and it does not crash when I change to any locale (including kaqchikel).
@boek : Any idea why this might be happening? Could it have anything to do with the Android version? I just have no idea :)

[2018-10-10 18:11] sblatz commented on #3477
Added to the wiki!

[2018-10-10 19:32] boek commented on #3610
It could be! I will take a look :)

[2018-10-10 19:42] sblatz opened #3612 "Gradle needs updated"
We're currently using an old version of gradle that does not even support parameters being passed in.

This causes problems when trying to run some of the commands floating around in our wiki and email threads (e.g. linting).

[2018-10-10 22:34] #3612 closed

[2018-10-11 02:12] #3593 closed

[2018-10-11 05:13] levimatheri commented on #1899
I have submitted a PR on mozilla android-components that fixes this

[2018-10-11 06:58] bansalayush commented on #732
@mcomella Thanks again , above link helped . Narrowed the solution down to
[code]
Now facing a problem with `buildConfigField` . I think that's because this is not a build phase . There must some other function to set execution time vars . Figuring this out .... :)

[2018-10-11 08:55] sv-ohorvath opened #3614 "Focus-geckoView crashes when sending links from other apps (BaconReader, Pushbullet)"
User reported a crash on webcompat:
*couldn't reproduce it myself on 8.0 or 7.0.12.

URL: https://webcompat.com/issues/new?url=https://duckduckgo.com/?q=firefox+focus&t=fpas&ia=about&label=browser-focus-geckoview

Browser / Version: Firefox Mobile 62.0
Operating System: Android 8.0.0
Tested Another Browser: Yes

Problem type: Something else
Description: Firefox Focus crashes
Steps to Reproduce:
I

[2018-10-11 14:15] vesta0 opened #3616 "[meta] Add toggle to onboarding card to turn on ad blocking"
### Why/User Benefit/User Problem

As a user (new/existing) I would like to know that I can block ads and where/how to do it so I can take advantage of all the privacy options Focus has to offer.

### What / Requirements

We can take advantage of the existing onboarding feature:
-For existing users who have updated to the new version, add a new card and include a switch/toggle to turn ad blocking

[2018-10-11 14:29] sv-ohorvath opened #3617 ""Make default browser" toggle doesn't switch on - Android 5"
## Steps to reproduce
1. Clean install of Focus.
2. Go to Setttings>General>Make default browser.
3. Turn the toggle on and select Focus as the default app.

### Expected behavior
The toggle should be switched on, Focus becomes the default browser.

### Actual behavior
The toggle doesn't switch on and the settings page closes and returns to the initial state. However, a link from Gmail will open i

[2018-10-11 15:11] vesta0 commented on #2836
There is a similar issue open in our backlog #609

[2018-10-11 15:11] #2836 closed

[2018-10-11 15:36] boek opened #3618 "Geckoview NullPointerException"
https://sentry.prod.mozaws.net/operations/focus-android/issues/4427405/

[code]

[2018-10-11 16:41] mcomella commented on #732
Perhaps you can set the token at configure time but validate it when the
task graph completes?

fwiw, instead of adding code to gradle.taskGraph calls, in a similar issue
<https://github.com/mozilla-mobile/firefox-tv/issues/1280>, I was thinking
of making a new validateReleaseTask and having the "assemble*release"
builds depend on the release task. I don't know what is better by gradle
convention

[2018-10-11 18:19] brampitoyo commented on #3074
Updated mockup of the in-content page for when a tab has crashed looks like this:

<img width="360" src="https://user-images.githubusercontent.com/51007/46824913-42702380-cd60-11e8-95fa-96c37a3a73b1.png">

The system dialogue for when the whole app has crashed remained the same:

<img width="360" src="https://user-images.githubusercontent.com/51007/45468363-613ac480-b778-11e8-9efe-8f87bce70641.png

[2018-10-11 18:52] boek opened #3620 "[Meta] Performance improvements"
To be filled out: We want performance to be a focus for Focus 8.0

[2018-10-11 19:31] SeburoSUMO commented on #3517
The ideal would be to have the same ability as with ScreenshotGo for the user to move the FAB to wherever they wish.

If not, just moving to FAB up the screen by the same icon height would help prevent accidental use when going to use the right-hand Android button.

[2018-10-11 21:27] acreskeyMoz opened #3622 "Progress bar completes multiple seconds after page is visually complete"
## Steps to reproduce
Visit the following sites (some from Alexa Top 500)
• [finance.yahoo.com/news/google-killing-google-data-breach-exposed-user-information-173122166.html](https://finance.yahoo.com/news/google-killing-google-data-breach-exposed-user-information-173122166.html)
• [m.sohu.com/?pvid=000115_3w_index&jump=front](https://m.sohu.com/?pvid=000115_3w_index&jump=front)
• [Yandex.ru](http

[2018-10-11 23:04] ekager commented on #3528
This should be fixed by updating to 63

[2018-10-11 23:55] Delphine opened #3623 "[l10n] Added new locale: ChiShona (sn)"
Heads-up I just added a new locale: ChiShona (sn)
It's a native Android language so no need to add it with native name.

The person has not started localizing this yet, but will in the upcoming days. Please add it to the list of locales getting screenshots for testing! thanks :)

[2018-10-12 00:43] ekager commented on #3586
I just checked the latest build logs and the Adjust Token is apparently being added. A few months ago we changed our sourceSets and I want to verify that the correct AdjustHelper file is being run with Release Builds as well.

[2018-10-12 02:36] vesta0 commented on #459
GV team indicated that GV support for safe browsing should be in GV 63. Focus eng to investigate whether GV API is adequate. There is no bypass option in the current API.

[2018-10-12 03:46] vesta0 commented on #3515
Desktop team indicated that In Fx 65 desktop, the way they are blocking third party tracker cookies is
through the new storage access policy based on definitions in the Disconnect lists. This feature will block opaque third-party trackers on the Disconnect lists from storing data such as cookies and thus engaging in cross-site tracking. Considering that in Focus we have the Disconnect lists enable

[2018-10-12 03:48] vesta0 commented on #2300
@pocmo does this issue have a corresponding GV bug open?

[2018-10-12 12:34] pocmo commented on #2300
Not that I know of. A new API on the GV may not necessarily be needed. Let's talk to the GV team and ask them what they recommend doing.

For reference this is what Fennec does:
https://dxr.mozilla.org/mozilla-central/source/mobile/android/base/java/org/mozilla/gecko/customtabs/GeckoCustomTabsService.java

[2018-10-12 12:36] #3477 closed

[2018-10-12 12:38] sylvestre opened #3624 "Application restarts when interrupted"
Reported by Samsung

<Defect>
The application restarts when interrupted by HOME KEY

<Procedure>
1. Execute the application > More menu > 'Settings' > 'Privacy & Security' > Check screen
2. HOME KEY > Re-execute app > Check screen

<Expected Result>
The application should show the previously watched screen after interruption.
<Test Device Info>
Detected Device: SM-N950F, SW Version: N950FXXU5CRHA

[2018-10-12 12:59] sylvestre commented on #3624
the video:
http://sylvestre.ledru.info/moz/1_restart.mp4
the app has been removed from the Samsung galaxy apps

[2018-10-12 13:51] sv-ohorvath opened #3625 "Crash when saving custom search engine"
## Steps to reproduce
1. Go to Settings>Search> add search engine.
2. Fill in a valid search URL and name.
3. Save.

### Expected behavior
A new search engine is added.

### Actual behavior
"Focus has stopped working" error and closes the app.

### Device information

* Android device:
HTC 10 (Android 8.0)
Mi 4i (Android 5.0.2)
* Focus version: 8.0 & 7.0.12, both WebView & GeckoView

[2018-10-12 15:30] Amejia481 opened #3626 "preference keys.xml file doesn't have a license header."
Take a look here!

 https://github.com/mozilla-mobile/focus-android/blob/master/app/src/main/res/values/preference_keys.xml

[2018-10-12 15:45] vesta0 commented on #2300
@cpeterson just wondering if GV has looked into this or if there is a bug open?

[2018-10-12 17:34] cpeterso commented on #3309
Eugen says Focus will need to:
1. Hook up the settings UI to the new GeckoRuntimeSettings blockMalware and blockPhishing.
2. Handle the ERROR_SAFEBROWSING_* codes in onLoadError to show custom error pages.

[2018-10-12 17:36] colintheshots commented on #3440
There isn't a good solution to this today using Google Play. The best option is to do like Fennec did and split Nightly to a new application id and Play store entry. I feel like it's okay for beta to upgrade you to release, but it's probably not okay for nightly to upgrade to beta or release.

[2018-10-12 17:47] sblatz commented on #3625
Could be related to some of these changes: #3290

[2018-10-12 17:50] pocmo commented on #3074
**Status Update**

I'm planning to release an MVP version of the component next Monday with 0.27.0 (has not landed yet; needs to get through review).

This version will be able to:
* Capture JVM crashes (Java/Kotlin) and native code crashes (from GeckoView)
* Send crash reports to multiple services. The component comes with support for Sentry and Socorro.
* If desired prompt when a crash occurred.

[2018-10-12 17:54] sblatz opened #3627 "Investigate all open crashes and rank their priority based on frequency"

[2018-10-12 18:23] jonalmeida commented on #3501
I tested this with GV 63 which isn't released yet and I'm still able to reproduce the issue.

[2018-10-12 18:41] ekager opened #3628 "Update Gradle, Build Tools, Detekt"
Running into build issues and have to pull out #3613, but in the next few weeks we should update our Gradle version again and also update build tools and detekt (was running into [this issue](https://github.com/arturbosch/detekt/pull/1194)). Will require updating our Docker image so not a small task.

[2018-10-12 20:47] vesta0 commented on #937
@pocmo @ekager sounds like this item is ready to be worked on by the Focus team, correct?

[2018-10-12 21:56] mcomella opened #3629 "Compile UI tests on TaskCluster"
### Why/User Benefit/User Problem
We use UI tests to prevent regressions in macro-behavior: is the back-forward behavior working correctly? What about erasing app data? These are important issues to users.

However, our UI tests often break from changes in the code and thus these features can regress without anyone noticing. A first step to avoid breaking these tests is to compile them on TaskClus

[2018-10-12 22:05] mcomella opened #3630 "Add recommended pre-push hook to quicken feedback loops"
### Why/User Benefit/User Problem
Developers time is valuable; it's ideal to get the quickest feedback turn-around time as possible. One way to do that is to make sure the tests and static analysis tools run locally before it hits gitHub and has to run on slow CI. We can a recommended pre-push hook, which all the devs have to manually set up (it's one line!), so that they hit these problems locall

[2018-10-13 16:55] maruthi-adithya opened #3632 "Add more Content Blockers"
### Why/User Benefit/User Problem
As number of Advertisement and Analytics Platforms are growing in the market, the blocking content resources need to updated from from time to time. This ensures that Users do not suffer from the wrath of latest tracking software developed in the market.

### What / Requirements
A proper Open-Source documentation on how to update the list. The requirements needed

[2018-10-15 05:11] jonalmeida opened #3633 "Toolbar shows wrong URL when download is cancelled"
## Steps to reproduce
1. Go to a site with a file download link on it (e.g. https://en.m.wikipedia.org/wiki/Richat_Structure)
2. Click on the link to download the file. (e.g. https://en.m.wikipedia.org/wiki/Richat_Structure#cite_note-Matton2008a-3)
3. When the download dialog shows up, hit cancel.
4. Observe the toolbar.

### Expected behavior
- The toolbar should show the original URL that we're

[2018-10-15 08:14] sv-ohorvath commented on #3564
Verified as fixed on Nightly v8.0

[2018-10-15 09:04] sv-ohorvath commented on #3505
Verified as fixed on Nightly v8.0.

[2018-10-15 10:01] pocmo commented on #937
Yes, I think we should have everything in GV for that.

[2018-10-15 12:04] sv-ohorvath commented on #3593
Verified as fixed in Nightly v8.0.

[2018-10-15 12:50] princekelly1 opened #3635 "Contribution"
Hello, I'm Kelly.
 I think having a privacy policy statement will be a good thing for your project seeing it kind of have functionalities that may lead to data collection on your end or not. It's a good end users are made aware of the safety of their privacy. I could draft a privacy policy statement if you wish. It's my way of contributing to open source projects.
And maybe a FAQ document

[2018-10-15 15:12] #3629 closed

[2018-10-15 19:42] cpeterso commented on #3309
[Firefox's Safe Browsing code](https://searchfox.org/mozilla-central/rev/c9272ef398954288525e37196eada1e5a93d93bf/toolkit/components/url-classifier/SafeBrowsing.jsm#482-491) adds the following test URLs to Firefox's Safe Browsing blocklist. These URLs are not in Google's Safe Browsing blocklist.

https://itisatrap.org/firefox/its-a-trap.html
https://itisatrap.org/firefox/its-an-attack.html
https:/

[2018-10-15 19:51] cpeterso commented on #459
Focus will need to:

1. Create new error pages for sites blocked by Safe Browsing, possibly including a bypass option. The bypass might be reusable for bypassing HTTPS certificate error pages.
2. Maybe add a settings UI to disable Safe Browsing.

Here is a list of test URLs blocked by Safe Browsing in both Firefox and Chrome:

http://testsafebrowsing.appspot.com/

Firefox also blocks the following

[2018-10-15 20:30] rpappalax opened #3638 "Parallelize UI test execution"
### Why/User Benefit/User Problem
Currently our UI test execution is slow due to serial execution and monitoring results which require a painful drilldown into TaskCluster logs and Firebase.  For these reasons, we restrict our UI test execution to master only, which further removes developers from monitoring/fixing test failures. Implementing the Flank library in our CI will enable us to shard tes

[2018-10-15 22:08] cpeterso opened #3642 "Use Errorpages component's Safe Browsing error pages"
To implement Safe Browsing (meta #459), we need to wire up A-C's Errorpages component's Safe Browsing error pages and localize them. The Errorpages component only appears to have en-US strings.

https://github.com/mozilla-mobile/android-components/blob/master/components/browser/errorpages/src/main/res/values/strings.xml

[2018-10-15 22:11] cpeterso opened #3643 "Add settings UI to enable/disable Safe Browsing"
To implement Safe Browsing (meta #459), we should add a settings UI to enable/disable Safe Browsing.

[2018-10-15 22:49] ekager commented on #3633
I did a bit of investigation. `http://bibvir.uqac.ca/theses/030084214/030084214.pdf` is sent through `onPageStart` before `onExternalResponse` is called. Looks like we just shouldn't use `onPageStart` to update the URL for GV.

[2018-10-15 23:10] ekager commented on #3501
I can also reproduce @jonalmeida with 63, thanks for filing on Bugzilla.

[2018-10-15 23:13] ekager commented on #3528
Confirmed in latest Nightly that this does not happen with GV 63 Beta. Closing.

[2018-10-15 23:13] #3528 closed

[2018-10-15 23:35] ekager commented on #3635
Thanks for filing this issue!
We already have a privacy policy linked in the app under Settings -> Mozilla -> Privacy Notice.
We also have information about what data we are collecting in [our wiki](https://github.com/mozilla-mobile/focus-android/wiki/Telemetry).
Let us know if there are specific questions you can't find the answers to.

[2018-10-15 23:38] Sdaswani commented on #3586
Seems like it was fixed - thanks @bbinto !?!?

[2018-10-15 23:38] #3586 closed

[2018-10-16 00:34] jonalmeida opened #3646 "Appending to search suggestion in the Toolbar"
### Why/User Benefit/User Problem
When entering a search term, sometimes a suggestion that pops up adds more value to it but you may also want to continue adding more details. Having an icon that allows you to append a suggestion to the end of your search term _without_ starting the search will allow a user to better scope their searches.

### What / Requirements
An icon at the side of each search

[2018-10-16 00:39] jonalmeida opened #3647 "Desktop Mode menu position triggers me"
There isn't any basis for this issue, but it feels awkward to have icons against all the menu options except the desktop mode.

My (ill-informed) suggestion is to move the Desktop Mode menu option below 'Settings' OR move the checkbox to the left to be consistent more consistent with the icon/text padding for menu items if it needs to be in that position.

Annotated screenshot of my suggestions:
<

[2018-10-16 09:15] sv-ohorvath commented on #3528
Verified as fixed on Nightly.
Devices: Google Pixel (Android 9), Mi 4i (Android 5.0.2).

[2018-10-16 13:19] jonalmeida commented on #3633
@sd1998 it looks like @ekager already has a fix for this (🎉). I'm sure there are more issues that you can work on. :)

[2018-10-16 15:21] KazaHesto opened #3652 "Replace checkbox with switch for "Request desktop site""
### Why/User Benefit/User Problem
The "Request desktop site" option should be a switch, you aren't selecting options from a list, you are toggling an option.
### What / Requirements
Replace checkbox with switch for "Request desktop site".
### Acceptance Criteria (how do I know when I’m done?)
The "Request desktop site" option toggles a switch instead of checking a checkbox

[2018-10-16 16:42] #3633 closed

[2018-10-16 17:07] ekager commented on #3652
@brampitoyo to decide

[2018-10-16 17:34] boek commented on #3624
This one is proving hard to fix without a device to reproduce. Maybe @ekager you can get someone to bring a Samsung device?

[2018-10-16 17:36] ekager commented on #3624
This happens without a Samsung device @boek. To reproduce just open settings while browsing, press home on device, and go back to Focus. Settings Activity is killed because of our singleTask launch mode I believe. Removing this fixes this specific problem, but allows multiple instances (See #3636 for a "fix" and my comments from testing).

[2018-10-16 17:39] Sdaswani commented on #3652
@brampitoyo putting this in the backlog until you are ready to act on it.

[2018-10-16 17:41] Sdaswani commented on #3646
This is a good suggestion, @brampitoyo to consider, @ekager thinks it wouldn't be a terrible amount of eng work (but she is not committing to that estimate).

[2018-10-16 17:44] Sdaswani opened #3655 "Focus as Default Browser is Unset"
## Steps to reproduce
@jonalmeida is setting Focus as default browser, and without any beta or nightly release, he is seeing it unset.

@jonalmeida any other STRs than that?

### Expected behavior
Focus stays as default.

### Actual behavior
Focus is unset.
### Device information

* Android device: ?
* Focus version: ?

[2018-10-16 17:44] Sdaswani commented on #3655
@jonalmeida is there any way some other app on your phone is unsetting Focus? Is something else becuase default app? Did you do any OS upgrades?

[2018-10-16 17:45] #3635 closed

[2018-10-16 17:46] jonalmeida commented on #3655
I'll try to re-run my regular usage and see if I can find out if another app is causing this.

None.

[2018-10-16 17:47] Sdaswani commented on #3643
Default it on.

[2018-10-16 17:48] Sdaswani commented on #3642
This will be closed when https://github.com/mozilla-mobile/focus-android/issues/2471 is closed.

[2018-10-16 17:50] boek commented on #3632
This is a dup of #2603

[2018-10-16 17:50] #3632 closed

[2018-10-16 17:50] Sdaswani commented on #3630
Let's add this to the readme.

[2018-10-16 17:57] #3627 closed

[2018-10-16 17:58] jonalmeida commented on #3646
This might also be a good Hacktoberfest issue if we come up with a good UX for it.

[2018-10-16 18:20] ekager commented on #2603
Hi @brampitoyo (and @BrianNJones for new strings), we'll also have to add a setting for safe browsing (on by default). See #3643. You don't have to update the mock, but I'll need strings for the heading + description and where it should go in relation to other settings :)

[2018-10-16 18:36] cpeterso commented on #3642
The Errorpages component is currently en-US only 😢 but @jonalmeida is working L10n in mozilla-mobile/android-components#1057. We can probably just copy the existing localized strings from Fennec in the Errorpages component.

[2018-10-16 18:41] Sdaswani commented on #3642
Yes let's copy the existing localized strings!

[2018-10-16 18:59] brampitoyo commented on #3643
@ekager @cpeterso While turning Safe Browsing on by default is a great idea, would it also be possible to not expose any settings UI?

It would be preferable for users to get Safe Browsing protection by default and not be able to opt out. While this eliminates choice, Focus also has a strong product point of view for blocking things that it deems unsafe. Plus, adding yet another checkbox would mak

[2018-10-16 20:33] cpeterso commented on #3643
I mostly agree, but Firefox desktop has settings to disable Safe Browsing. Also, until Focus's error pages (Safe Browsing and certificate errors) have a button to ignore/bypass the error, disabling Safe Browsing globally is the only way for a Focus user to access a blocked site.

Some users want to disable Safe Browsing because they think it can leak their browsing history to Google, so giving the

[2018-10-16 20:52] brampitoyo commented on #3646
This could be a good one. It fits with our mission of getting users to where they want to go faster.

But note that it just brings us up to parity with other browsers, and isn’t unique to us.

Do we know why Fennec doesn’t do this already?

[2018-10-17 02:41] boek opened #3659 "Provide Geckoview/Webview apk to UX"

[2018-10-17 02:57] #3659 closed

[2018-10-17 05:06] PurpleCodingWizard opened #3661 "Croxyproxy.com proxy service not working in geckoview"
## Steps to reproduce
Enable geckoview if not enabled from focus:test
1. Visit crozyproxy.com
2. Enter a website like duckduckgo.com in the input box and click go.
### Expected behavior
Expected to visit the site i entered in input through proxy service
### Actual behavior
Says browser is unsupported install latest version of chrome, firefox,...
### Device information
* Android device: 5.1
* Focus

[2018-10-17 11:53] sv-ohorvath opened #3662 "Settings > Advanced menu needs an icon"
## Steps to reproduce
*Make sure the build contains the changes made in #2869.
1. On the GeckoView version, go to Settings.
2. Check the Advanced menu.

### Expected behavior
The Advanced menu should have an icon to align with the other items on the list.

### Actual behavior
No icon.

* Focus version: 8.0 (currently on the debug version.)

[2018-10-17 14:33] sv-ohorvath opened #3664 "Insecure connection doorhanger missing domain name"
## Steps to reproduce
1. Go to reddit.com, press the "Use app" button from the header.
2. When the redirect URL is loading, check the security indicator (the yellow warning icon).
3. Or, go to espn.com and tap the "globe" icon.

### Expected behavior
A domain name should be displayed and only one yellow "warning" icon.

### Actual behavior
No domain name.
The double warning icons look weird and ar

[2018-10-17 16:44] cpeterso commented on #3642
@colintheshots I think your  6331ffe commit inadvertently closed this unrelated issue. If so, can you please reopen this issue? (I don't have GitHub permission to reopen bugs in the focus-android repo.)

[2018-10-17 17:19] colintheshots commented on #3642
@npark-mozilla Could we get some special testing of this case with the fix in place? Specifically, I want to test all entry points of the app to be sure we only get a single task. I'm not exactly sure how custom tabs should behave, but Search Privately should create a new tab in the same task and external URL clicks should do the same.

[2018-10-17 17:31] caugner commented on #2925
I tried to reproduce the issue in Firefox Klar 8.0 Build 322881254.

Setting DuckDuckGo as the default search engine and searching for the term "Mozilla", opens the following URL: `https://duckduckgo.com/?q=Mozilla&t=fpas&ia=web`

The URL does not contain the `kl` parameter for selecting a locale (see https://duckduckgo.com/params), therefore no region is selected, which could explain why search r

[2018-10-17 17:41] npark-mozilla commented on #3624
@sv-ohorvath Oana, could you look into creating additional test cases for this feature?   @colintheshots , if you mark it with the label 'QAReady', we'll take it as it needs extra attention.  We'll ping you when we need additional information.  Thanks!

[2018-10-17 17:56] #3630 closed

[2018-10-17 18:30] ekager commented on #3662
Hey @brampitoyo :) We just readded an "Advanced" menu for remote debugging. Which icon would you like here?

[2018-10-17 19:30] sblatz commented on #3609
Some initial investigation notes:
- This crash is **only** happening on Android devices running 5.0 - 5.1.1
- It is likely an issue inside of one of these:
    - CookiesPreferences
    - LocaleListPreferences
    - GeneralSettingsFragment

as these are the files that use the ListPreference library.

[2018-10-17 19:38] #3664 closed

[2018-10-17 20:01] #3625 closed

[2018-10-17 20:28] ekager commented on #3472
Dupe of #2471

[2018-10-17 20:28] #3472 closed

[2018-10-17 21:16] brampitoyo commented on #3662
Hi @ekager, is advanced a menu that’s used exclusively for development purposes (meaning, it won’t ever be exposed to users)?

If that’s the case, then it sounds good!

What about using our “Developer” icon? https://github.com/FirefoxUX/photon-icons/blob/master/icons/desktop/developer-16.svg

[2018-10-17 21:19] ekager commented on #3618
Filed in Bugzilla as [Bug 1499873](https://bugzilla.mozilla.org/show_bug.cgi?id=1499873)

[2018-10-17 22:00] #3638 closed

[2018-10-17 23:48] ekager commented on #3606
This may be fixed by the recent change to `commitAllowingStateLoss`in fragment transaction here
https://github.com/mozilla-mobile/focus-android/blob/45b208a1d1b859ed285fcda71c0cdcb7485ce96b/app/src/main/java/org/mozilla/focus/activity/MainActivity.kt#L276

[2018-10-17 23:49] ekager commented on #3618
According to GV team, this may have been fixed by [Bug 1492308](https://bugzilla.mozilla.org/show_bug.cgi?id=1492308), which is now in 63.

[2018-10-18 00:09] boek commented on #3618
I'm going to close this now, and it'll re-open if we find it when we audit crashers for a GV 63 build.

[2018-10-18 00:09] #3618 closed

[2018-10-18 05:31] Sdaswani commented on #3489
@fbertsch so I believe [this is the change](https://github.com/mozilla-mobile/android-components/issues/906) that is required to run the A/A test, but we are blocked from using the change since it would affect our currently running A/B test. But is there any way to use the change for the A/A test, but keep everything the same for the A/B test? cc @pocmo

[2018-10-18 05:49] pocmo commented on #3489
No that is not really possible. A user can be in only one bucket and we can't have different buckets per experiment. Introducing such a behavior would introduce too much complexity for little gain, I think.

[2018-10-18 08:45] Conan1989 opened #3673 "Feature Request: DNS over HTTPS"
### Why/User Benefit/User Problem
because reasons https://blog.nightly.mozilla.org/2018/06/01/improving-dns-privacy-in-firefox/

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)

[2018-10-18 09:33] sv-ohorvath opened #3674 "Custom tabs is broken"
## Steps to reproduce
1. Set Focus as default browser.
2. Go to Gmail, tap a link from an email.
3. Long tap a link - select Open in Browser.

### Expected behavior
2. The custom tab should open with the link.
3. The link opens in the browser, the browser is brought to foreground.

### Actual behavior
2. Nothing happens on a simple tap.
3. - on WV: The link is in the browser, but the view doesn't

[2018-10-18 11:43] sv-ohorvath opened #3675 "Make default browser triggers a blank screen instead of returning to the settings menu"
## Steps to reproduce
1. Make sure no default browser is set.
2. Go to Settings>General> turn on the Make Focus default browser switch.
3. Select Focus and tap Always.

### Expected behavior
The app should return to the General settings view.

### Actual behavior
A blank screen covers the app.
[Recording here.]( https://drive.google.com/file/d/1X_6PI8aREPzOUZABp-e2yOtDDd2ZgJ47/view?usp=sharing)

#

[2018-10-18 12:01] sv-ohorvath commented on #3547
Verified as fixed on Nightly v8.0.

[2018-10-18 12:16] sv-ohorvath opened #3676 "Links sent from other apps go to about:blank"
## Steps to reproduce
1. From Gmail, long tap a link - select Open in Browser. (Focus is the default browser).
2. In Firefox, open a webpage and send it to Focus (from the 3 dots menu>Share>Focus).

### Expected behavior
The link opens in Focus, the browser is brought to foreground.

### Actual behavior
- on WV, opening the link from Gmail: The link is in the browser, but the view doesn't switch t

[2018-10-18 12:35] sv-ohorvath opened #3677 "WV: Links opened from other apps don't bring the app to foreground"
## Steps to reproduce
Make sure that Focus using the WebView render.
1. From Gmail, long tap a link - select Open in Browser. (Focus is the default browser).
2. In Firefox, open a webpage and send it to Focus (from the 3 dots menu>Share>Focus).

### Expected behavior
The link opens in Focus, bringing the app to foreground. If the Settings menu was left opened in Focus, now it shouldn't be displaye

[2018-10-18 13:29] sv-ohorvath opened #3678 "The custom tab appears in the browser after deleting history"
## Steps to reproduce
1. Open the Gmail app, long ap on a link from an email.
2. Select Open in browser (Focus Nightly is the default browser).
3. Delete the session history.

### Expected behavior
Focus homescreen is displayed.

### Actual behavior
The custom tab is displayed in the browser, as it appears in Gmail.
Not 100% reproducible.
[See recording.](https://drive.google.com/file/d/1lpmKiM_4f

[2018-10-18 13:39] sv-ohorvath commented on #3678
Just saw this other bug that sounds the same: https://github.com/mozilla-mobile/focus-android/issues/3596
I'm closing this one as a duplicate.

[2018-10-18 13:39] #3678 closed

[2018-10-18 13:44] sv-ohorvath opened #3679 "GW: Webpage opened from a custom tab doesn't load"
## Steps to reproduce
1. Go to Gmail, tap a link from an email. (focus-release is the default browser)
2. In the custom tab, tap the 3 dots button. Select Open in Focus.

### Expected behavior
the webpage is loaded in Focus.
### Actual behavior
The URL is loaded in Focus, but the webpage content doesn't load.

### Device information
* Focus version: 7.0.12 GeckoView.

[2018-10-18 13:48] sv-ohorvath commented on #3624
Wrote some test cases, please review. If you think that I should add anything else, please let me know:
https://testrail.stage.mozaws.net/index.php?/cases/view/210271
Verified this issue on Nightly and found the following bugs:
Custom tabs is broken #3674
Make default browser triggers a blank screen instead of returning to the settings menu #3675
GeckoView: Links sent from other apps go to about:b

[2018-10-18 14:18] #3605 closed

[2018-10-18 14:19] #3607 closed

[2018-10-18 18:39] boek commented on #3584
https://bugzilla.mozilla.org/show_bug.cgi?id=1496682#c6

[2018-10-18 20:08] #3642 closed

[2018-10-18 20:36] #3608 closed

[2018-10-18 20:43] sblatz commented on #3504
Discussion with @colintheshots confirmed that we should avoid using mirroring.

Worked with @ekager a bit to try to resolve, but have not been able to find a working solution.

[2018-10-18 21:57] Sdaswani opened #3684 "Legal Localization Issue"
https://bugzilla.mozilla.org/show_bug.cgi?id=1496374

If link is not accessible, please ask me and I'll cc you.

[2018-10-19 09:12] sv-ohorvath opened #3685 "While downloading a file, the webpage is switched to an "Insecure connection""
## Steps to reproduce
1. Go to google, search for "pdf test file", or thinkbroadband.com/download.
2. Tap to download a file.
3. Check the security indicator in the URL bar.

### Expected behavior
The security indicator doesn't change when downloading a file from a secure page.

### Actual behavior
With #3633 fixed, the URL doesn't change, just the indicator.

### Device information

* Android dev

[2018-10-19 09:12] sv-ohorvath commented on #3633
Verified as fixed on the latest Focus Nightly build. Logged #3685 as a follow-up.

[2018-10-19 09:29] sv-ohorvath commented on #3662
Verified as fixed on latest Nightly.

[2018-10-19 09:31] sv-ohorvath commented on #3647
Verified as fixed on latest Nightly.

[2018-10-19 09:31] sv-ohorvath commented on #3664
Verified as fixed on latest Nightly.

[2018-10-19 12:09] sv-ohorvath commented on #3625
Verified as fixed on Nightly 8.0.

[2018-10-19 12:43] bansalayush commented on #732
@mcomella I tried re-assigning value to `def` but I think we can't do that in gradle . Is there a way of declaring a variable and  re-assigning value to it in gradle

[2018-10-19 15:15] npark-mozilla commented on #3624
@sv-ohorvath test case looks good to me! and since we have those new open bugs, we can mark this issue with QAVerified flag.

[2018-10-19 15:41] jonalmeida opened #3686 "External links in YouTube do not open Focus"
There are a couple of things in this issue that I've mentioned in the STR below which I haven't been able to separate into two separately reproducible issues:
1. Focus not opening from YouTube links.
2. The 'about:blank' instead of the URL you clicked.

## Steps to reproduce
1. Make Focus your default browser.
2. Go to youtube video with an external link in the description (e.g. https://www.youtub

[2018-10-19 15:48] jonalmeida commented on #3686
Repro video: https://gfycat.com/UnsightlyEthicalAtlanticridleyturtle

[2018-10-19 16:04] jonalmeida commented on #3686
Looks like all custom tabs functionality is broken in this build, so that might be the root cause. I can't open any link with Focus as the default browser.

[2018-10-19 16:35] colintheshots commented on #3674
This seems fixed with my new PR, but Open in Focus wasn't working from custom tabs even before I wrote any code.

[2018-10-19 17:11] Sdaswani commented on #3504
@vesta0 to look at telemetry & default browser take rate and see if this is _potentially_ affecting it negatively. If not negative effect, we can close.

[2018-10-19 17:14] Sdaswani commented on #3556
@boek please move this to the 8.0 sprint if you dont' expect to get it done today.

[2018-10-19 17:32] Sdaswani commented on #3511
It sounds like we need UX here, but if this is UX ready, @brampitoyo please let us know and then we can size it.

[2018-10-19 17:40] Sdaswani opened #3689 "RM 8.0 Series of Focus Releases"
This includes 7.1 potentially, and leads up to 8.0's release.

[2018-10-19 17:44] Sdaswani commented on #3440
@vesta0 and @Sdaswani to decide if having a separate store entry for Focus Nightly is worth the cost.

[2018-10-19 17:54] Sdaswani opened #3690 "Investigate Zero Tabs on Erase Stat"
https://sql.telemetry.mozilla.org/queries/40439#108790

When does the 0 case happen in the metrics above?

[2018-10-19 18:15] brampitoyo commented on #3643
@cpeterso wrote:

If that’s our only way out of blocked site today, then we will need a Setting.

In the current “Privacy & Security” page, we can have a new section called “Deceptive Content Protection”. This section is located below “Switching Apps”.

Under this section, we can have a menu item + description with a toggle next to it:

How does this sound?

[2018-10-19 18:17] ekager commented on #3643
Sounds great! Thanks!

[2018-10-19 19:31] #3309 closed

[2018-10-19 20:49] jonalmeida commented on #3686
Seems to be fixed with the latest nightly version: 8.0 (Build #322921209 🦎 63.0.20181011200118)

I'll leave this open if it's a side effect or someone can confirm this is actually not an issue anymore.

[2018-10-19 21:28] npark-mozilla opened #3691 "Upload geckoview_example to Nimbledroid when uploading Focus Geckoview"
### Why/User Benefit/User Problem
We can find out sooner if there is a geckoview regression that impacts Focus,

### What / Requirements

### Acceptance Criteria (how do I know when I’m done?)
Each merge to master will trigger an upload of the latest geckoview_example app from TC, along with Klar Nightly.

[2018-10-19 23:15] ekager commented on #3544
Hi @pocmo (and AC team) I did some testing of this, and it looks like even if I pass a hardcoded `selected = false`, on the first tab on the first run, it will always be selected. Is this is a bug in the `SessionManager` `add` function where the first ever session is not being selected properly?

[2018-10-19 23:42] ekager opened #3693 "On Fresh Install - sending link to Focus does nothing"
## Steps to reproduce
1. Install Focus
2. Select "Open in Browser" and select focus from long pressing link in Gmail

### Expected behavior
Link you long pressed opens in Focus

### Actual behavior
First Run is displayed over nothing, no session created (but logs show the page was loaded?)

### Device information

* Android device: Pixel 2
* Focus version: Nightly

Note (looks like fixed when comm

[2018-10-21 17:32] bansalayush commented on #3693
@ekager  So should the link show up instead of first run or should it show up after first run

[2018-10-22 12:16] sv-ohorvath commented on #3675
Verified on the latest Nightly build.

[2018-10-22 12:29] sv-ohorvath commented on #3674
Verified as fixed in the latest Nightly build 2018-10-21.

[2018-10-22 13:01] sv-ohorvath commented on #3676
Verified as fixed in Nightly 2018-10-21.

[2018-10-22 13:50] sv-ohorvath opened #3697 "GW: A webpage's URL opened from a Gmail custom tab doesn't load"
## Steps to reproduce
1. Make Focus-Nightly the default browser. Leave Focus opened.
2. Go to Gmail, tap a link from an email.
3. In the custom tab, tap the 3 dots button. Select Open in Focus.

### Expected behavior
The URL and page should be loaded in the browser.

### Actual behavior
The reverse of #3679.
If Focus is loaded in the background, the URL shows "About:blank" but the page content is

[2018-10-22 14:17] sv-ohorvath opened #3698 "Pixel - make default browser doesn't work"
## Steps to reproduce
Only reproducing on a Pixel device, with Android P.
1. Make sure no browser is set as the default app.
2. In Focus, go to Settings>General, switch Make default browser ON.

### Expected behavior
The toggle switches ON.

### Actual behavior
The toggle doesn't work.
*If a browser is already set, it works ok.

### Device information

* Android device: Pixel, Android P.
* Focus v

[2018-10-22 14:19] sv-ohorvath opened #3699 "The links sent to Focus behave unexpectedly"
## Steps to reproduce
1. In Focus, open the Settings menu and leave it open.
2. Go to homescreen.
3. In Fennec, open a webpage and send it to Focus (from the 3 dots menu>Share>Focus).

### Expected behavior
The link opens in Focus, the new tab is brought to foreground.

### Actual behavior
 From Fennec, only an about:blank page is opened.
[Recording](https://drive.google.com/file/d/1rS-MF2cnrsO0rZ

[2018-10-22 15:46] colintheshots commented on #3693
showFirstRun() does not pass the current session anymore so the browsing session gets lost when the FirstRunFragment is closed. Passing the current session resolves this.

[2018-10-22 16:09] colintheshots commented on #3698
The STR isn't complete. Are you selecting Just Once, Always, ignoring the bottom sheet, or is nothing popping up at the bottom of the screen?

If you don't select Focus as default browser, the toggle switching ON would be incorrect behavior.

[2018-10-22 16:14] colintheshots commented on #3698
I thought this was fixed with a change made on Friday. When did you reproduce?

[2018-10-22 16:19] colintheshots commented on #3699
This all seems to be working with the latest changes in Nightly, with the only exception that our browser shows up under the Gmail task. I believe this was fixed on Friday. When was this reproduced?

[2018-10-22 16:56] #3643 closed

[2018-10-22 18:29] rpappalax opened #3702 "Fix apk path in UI test tool scripts"

[2018-10-22 18:40] colintheshots commented on #3609
There are several crash entries in Sentry for this affecting all supported versions of Android. I believe they show different OS versions affected due to slight changes in the message or implementation. Almost all of the crashes only occurred in nightly. This definitely points at something new that was added recently.

[2018-10-22 21:01] ekager commented on #459
#3642 and #3643 are done, can this be closed or do we need more discussion on safe browsing and bypassing?

[2018-10-22 21:01] #3702 closed

[2018-10-22 21:13] colintheshots commented on #3609
This crash began appearing in Sentry about two months ago. My theory is this commit caused it: https://github.com/mozilla-mobile/focus-android/commit/c8fb435474a0987c1d0eabffdfc18b8b21edd5a2

[2018-10-22 21:39] ekager opened #3705 "Brainstorm surfacing content blocking toggle"
### Why/User Benefit/User Problem
Story: I just downloaded Focus, and the first site I visit is broken. I didn't scroll through all of the onboarding slides so I don't even know what content blocking options there are. I uninstall Focus because I don't understand how/where/why to "fix" sites.

Sometimes "site breakage" is subtle and even as a technical user I can get frustrated and not understand

[2018-10-22 23:22] rpappalax opened #3707 "Fix build path in UI test tool scripts"
I missed one, fixing here

[2018-10-22 23:51] mcomella opened #3709 "Document how to run with GeckoView locally"
It starts up with WebView by default and I couldn't find any documentation on how to switch to GeckoView. This could go in the readme.

Workaround: change the code in `WebViewProvider.determineEngine` to use the GeckoWebViewProvider.

[2018-10-22 23:57] mcomella opened #3710 "Clicking Facebook messenger has a different behavior between WebView and GeckoView"
## Steps to reproduce
- Go to m.facebook.com
- Log in
- Click messenger icon

### Expected behavior
?

### Actual behavior
- WebView: messenger web page opens
- GeckoView: messenger web page opens but it is obscured by a dialog: "Find an app that can open link. None of the apps on your device are able to open this link. You can leave Firefox Focus to search (null) for an app that can."

I reproduc

[2018-10-22 23:59] mcomella commented on #3709
From Emily:

[2018-10-23 00:01] mcomella opened #3711 "Pasting into GeckoView briefly displays text content in password field"
## Steps to reproduce
With GeckoView:
- Go to m.facebook.com
- Paste text into the password field

### Expected behavior
Password is obscured

### Actual behavior
Password is momentarily not obscured.

N.B.: I reproduced this on the emulator but I have not tried to do so on device.

### Device information

* Android device: Pixel 2 XL API 26 emulator
* Focus version: master

[2018-10-23 06:43] sv-ohorvath commented on #3698
@colintheshots Yes, sorry, should've mentioned that the list of apps doesn't pop-up to choose the default. The toggle doesn't trigger anything, the screen does just a kind of refresh. It was reproduced on Monday, on the 2018-10-21 build.

[2018-10-23 06:53] sv-ohorvath commented on #3698
Ok, double-checked and installed today's build. This doesn't reproduce anymore. Sorry for the inconvenience.

[2018-10-23 06:53] #3698 closed

[2018-10-23 07:39] sv-ohorvath commented on #3699
Reproduced on the 2018-10-22 build too. Mostly on Android 8 & 9 devices, on an Android 7.1.1 just one tab, out of 3-4, was opened blank, the rest were ok. It might work ok on first try, but if you open more than 1 tab, it's very likely that you will see this.
[Recording #2](https://drive.google.com/file/d/10hS9RgZmnh9BamgRftVwwwke7Si4ZAj_/view?usp=sharing)
* The blank tab issue: can reproduce it w

[2018-10-23 09:00] sv-ohorvath commented on #3677
Verified on the local build.

[2018-10-23 09:19] sv-ohorvath opened #3713 "Browser UI is displayed in other apps"
## Steps to reproduce
1. Open Focus (make it default browser if it's not) and leave it open.
2. Go to homescreen.
3. From Gmail, long tap a link - select Open in Browser. Or in Play store, tap an external link (can be found in an app's description).

### Expected behavior
The link opens in Focus, the new tab is brought to foreground.

### Actual behavior
The browser UI is displayed in Gmail/Play s

[2018-10-23 09:20] sv-ohorvath commented on #3699
Separated the Gmail issue to a new bug (#3713) and updated the description here.

[2018-10-23 14:46] #2991 closed

[2018-10-23 15:36] colintheshots commented on #3655
We definitely need STR, if we can identify any. My browser default has been steady. Is this a dev build, nightly, beta, or production? I wonder if switching between nightly and beta is causing it somehow.

[2018-10-23 15:55] colintheshots commented on #3609
Here's the merged Sentry issue: https://sentry.prod.mozaws.net/operations/focus-android/issues/4562804/

[2018-10-23 16:18] sblatz commented on #3705
I agree with this being confusing as a first-time user, and could likely be harmful to our retention rate. Moving the erase button to the URL bar would also further align the iOS and Android product.

I think it'd be interesting to do a "just in time" pop up. Perhaps we could detect "likely" broken sites, and display a popup accordingly that allows the user to quickly toggle off tracking protectio

[2018-10-23 16:48] rpappalax opened #3716 "Add absolute paths for UI test job conf files"
also, add geckoview option back in

[2018-10-23 16:58] cpeterso commented on #459
I think we can close this meta bug. I loaded one of the itisatrap.org test pages in Focus Nightly and I got the expected Safe Browsing error message. 😃

The Focus build system will need to include Mozilla's Safe Browsing API key after [GV bug 1498747](https://bugzilla.mozilla.org/show_bug.cgi?id=1498747) is fixed, but we don't need to keep this meta bug open for that later work.

[2018-10-23 17:01] ekager commented on #3705
Unfortunately, I'm not sure if there's really a way to tell if a site is broken since it can be very subtle. Maybe we could tell which type of trackers we are blocking and do some more investigation into which trackers are likely to "break" popular sites. But the number of trackers blocked itself isn't necessarily helpful. If the popup shows up on every site because even 1 tracker blocked could "b

[2018-10-23 17:01] cpeterso opened #3719 "Safe Browsing error page lists deceptive site name as "null""
## Steps to reproduce
1. Open https://itisatrap.org/firefox/its-a-trap.html

### Expected behavior
The "Deceptive site issue" error page should mention the itisatrap.org site name.

### Actual behavior
The "Deceptive site issue" error page says: "The web page at null has been reported as a deceptive site...".

### Device information

* Android device: Moto G5
* Focus version: 8.0 Nightly

[2018-10-23 17:08] ekager commented on #3719
Thanks, my bad didn't pass the uri in to the new AC error page :)

[2018-10-23 17:12] pocmo commented on #1724
Not needed anymore since we use the component.

[2018-10-23 17:12] #1724 closed

[2018-10-23 17:40] jonalmeida commented on #3655
@colintheshots We were talking about this on Slack. I'm using Nightly, so we believe that might be the problem. It hasn't happened in a while (~1 week) so I haven't be able to see if there was something I did to trigger it.

[2018-10-23 17:41] boek commented on #3655
@jonalmeida We're most likely going to be doing another release this week. Lets coordinate you checking before / after the release to see if that is the cause.

[2018-10-23 17:46] #3691 closed

[2018-10-23 17:52] boek commented on #3614
We believe this was fixed. If it comes back up again through webcompat or crash reporting we will re-open 👍

[2018-10-23 17:52] #3614 closed

[2018-10-23 17:55] ekager commented on #3711
I can reproduce on Nightly. Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1501376

[2018-10-23 18:49] cpeterso commented on #3622
Thanks for reporting this issue with good examples. I will link to this issue from an existing GeckoView bug we have to investigate the progress bar:

https://bugzilla.mozilla.org/show_bug.cgi?id=1454477

[2018-10-23 18:54] rpappalax commented on #3661
Filed an issue w/ webcompat:  https://github.com/webcompat/web-bugs/issues/20266

[2018-10-23 19:10] #3685 closed

[2018-10-23 20:04] Sdaswani opened #3723 "Security Bug [Redacted]"
Investigate https://bugzilla.mozilla.org/show_bug.cgi?id=1493182#c7

[2018-10-23 20:04] colintheshots commented on #3609
I still can't find steps to reproduce. From Sentry, it appears that nearly all users experiencing the crash were in Nightly. I tried going to Settings from homescreen tips on the off-chance that caused the issue, but it didn't crash. I'm going to add a custom Sentry tag for the Locale tag and see if that helps identify the root cause.

[2018-10-23 20:05] Sdaswani commented on #3723
If you want access to the bug, let me know.

[2018-10-23 20:10] Delphine opened #3724 "[l10n] Tének locale appears as language code"
Seems like Tének locale appears as "hus" (the language code) in the language drop down, instead of it's actual name which is Tének.
![2018-10-23 13 09 35](https://user-images.githubusercontent.com/399020/47387705-01173680-d6c5-11e8-8b3a-e65ff50b7eee.jpg)
(CC @jegs87 so he can follow)

[2018-10-23 20:19] rpappalax opened #3725 "Add more absolute paths for UI test job conf files"

[2018-10-23 20:33] ekager commented on #3710
Hey Mike - I think this is the issue you're referring to - https://bugzilla.mozilla.org/show_bug.cgi?id=1478171

This was fixed briefly but was backed out, and is not currently high priority. Maybe we should reprioritize since these use cases seem to be common.

[2018-10-23 21:01] #3713 closed

[2018-10-23 21:05] #3725 closed

[2018-10-23 21:50] #3556 closed

[2018-10-23 21:58] ekager opened #3728 "Add Locale Tag to Sentry Report"
We have been getting locale list crashes that are possibly locale specific and hard to diagnose (see #3609) Adding a Sentry tag of the locale could be useful for the future when we have locale-specific crashes

[2018-10-23 23:02] Delphine opened #3730 "[l10n] New locale: Navajo (nv)"
We just added Navajo to Focus Android on Pontoon, and localization has started. Please add to screenshots list, so we can later test it and possibly add it to the shipping locales.
Native name is: "Diné Bizaad" and locale code is "nv"

[2018-10-23 23:20] ekager commented on #3609
Did a bit more investigation and was able to produce an equivilant crash log by adding a `cancel(true)` into `getUsableLocales` in the `BuildLocaleListTask` in `LocaleListPreference`, so I am going to try to figure out why this would happen and protect us from crashing.

    Process: org.mozilla.klar.debug, PID: 2827
    java.lang.IllegalStateException: ListPreference requires an entries array and

[2018-10-23 23:28] ekager commented on #3609
I can also reproduce this by sleeping for a few seconds in `doInBackground` and going right to the locale list when the app starts.

[2018-10-24 00:12] rpappalax opened #3731 "Add wget param to UI test script to fix taskcluster job"

[2018-10-24 01:45] ekager commented on #3609
It looks like we currently don't handle the cancel case, we just return and don't set any entries/entryvalues, but for slower phones, this could be an issue.
I'm working on converting this file to Kotlin and cleaning it up a bit.

[2018-10-24 02:42] colintheshots commented on #3609
I think the quickest fix might be just initializing both arrays with empty values in onPreExecute. I had a fix prepared like this, but couldn't get it to reproduce, so held off on committing it.

[2018-10-24 02:46] colintheshots commented on #3609
I'm not a fan of AsyncTask for many safety and performance-related reasons and had prepared to update to the latest coroutines with coroutineScopes and an IO and Main Dispatcher, but it required too much of an app rewrite. We can tackle the problem with the simple solution first.

[2018-10-24 02:49] #3728 closed

[2018-10-24 03:02] dougouk commented on #3092
Hi, just an update. I am too busy and make the time to finish this. So if anyone wants to take over, feel free to do so.

I will come back in November and if this still needs to be done by then, I will ping the group, but otherwise good luck!

[2018-10-24 03:10] colintheshots commented on #3609
My easy solution won't let you lazy load items after the fact if the phone is slow. An empty list isn't much better than a crash. I think the best option is to override onPrepareDialogBuilder() to set an adapter which starts empty, but loads from the AsyncTask. I'll implement that.

Thanks so much for the STR and the assist @ekager !

[2018-10-24 08:24] sv-ohorvath opened #3733 "Crash - minimized app after sending link to a fresh install"
## Steps to reproduce
1. Fresh install Focus/clear app data. Don't launch the app.
2. From another app, send a link to Focus (e.g from Fennec).
3. Skip the first run, wait for the page to load. Minimize the app - tap the homescreen button.
### Expected behavior
App is sent to background, no crash.

### Actual behavior
"Focus has stopped working" error and the app is closed.

### Device information

[2018-10-24 13:53] #3731 closed

[2018-10-24 17:03] rpappalax opened #3735 "Add env var for google app cred path for UI tests"

[2018-10-24 17:13] ekager commented on #3733
Can reproduce on master
Logcat:

    java.lang.RuntimeException: Unable to pause activity {org.mozilla.klar.debug/org.mozilla.focus.activity.MainActivity}: java.lang.ClassCastException: org.mozilla.focus.fragment.BrowserFragment cannot be cast to org.mozilla.focus.fragment.UrlInputFragment
        at android.app.ActivityThread.performPauseActivityIfNeeded(ActivityThread.java:4031)
        at andro

[2018-10-24 17:40] ekager commented on #3733
Good find thanks @sv-ohorvath !

[2018-10-24 18:01] #3735 closed

[2018-10-24 20:39] #3733 closed

[2018-10-24 21:37] ekager opened #3738 "Older Devices Don't Save GV History"
## Steps to reproduce
1. Use older device
2. click through multiple websites, background focus
3. Reopen Focus

### Expected behavior
Can click back in history

### Actual behavior
History not restored

### Device information

* Android device: ?
* Focus version: ?

[2018-10-24 22:47] ekager opened #3740 "Update Safe Browsing Strings"

[2018-10-24 22:52] rpappalax opened #3742 "Save UI test parallel result reports to test_artifacts"

[2018-10-24 23:19] moshpirit commented on #1363
Is this feature taking much longer to implement? (just asking, no bitterness intended)

[2018-10-24 23:56] ekager opened #3744 "Regression GeckoSessions not closed when all sessions removed"
Possible source of some session leakage in Nightly from #3367, this code was removed and I don't think it was added back in. When multiple tabs are open and all cleared, sessions will be left open:
https://github.com/mozilla-mobile/focus-android/pull/3367/files#diff-0dc0ec4838f44e70af7c119fb92b53e3L384

cc @pocmo where do you think a good place to clean up the geckosessions is now? I can't use the

[2018-10-25 00:07] brampitoyo commented on #3705
What if we surface the status of Content Blocking at all times, just like we do on iOS?

<img width="360" src="https://user-images.githubusercontent.com/51007/47467913-00ada580-d855-11e8-80d5-97cc8cbfb1e0.png">

When the shield is clicked, Content Blocking may be managed in its own menu:

<img width="360" src="https://user-images.githubusercontent.com/51007/47467953-39e61580-d855-11e8-9cdd-8eea691

[2018-10-25 02:18] brampitoyo commented on #3074
@boek I’ve posted the spec above: https://github.com/mozilla-mobile/focus-android/issues/3074#issuecomment-429065368

[2018-10-25 04:25] karlcow opened #3745 "Enable remote debugging for Firefox focus"
### Why/User Benefit/User Problem

@webcompat team is receiving more and more issues for Firefox Focus including GeckoView. The issue is that it is not currently possible to activate the remote debugging mode without a special build.
Activating the remote debugging at least through USB would help us diagnose issues on GeckoView/Focus.

### What / Requirements

`about:config` is not accessible on F

[2018-10-25 07:43] pocmo commented on #3744
Ah, that's a great question. The components take care of that when using the  `browser-engine-gecko*` components but we do not do that here yet. And that's a bigger task - so not a quick fix we could do here.

For now our only option may be to add some wrapper methods that take care of first closing `GeckoSession` and then calling the remove methods on the `SessionManager`. Maybe those could even

[2018-10-25 08:41] sv-ohorvath commented on #3685
Verified as fixed on the Nightly (2018-10-24) build.

[2018-10-25 08:51] sv-ohorvath commented on #3713
Verified as fixed on Nightly (2018-10-24) build.

[2018-10-25 12:15] sv-ohorvath commented on #3719
Verified on Nightly (2018-10-24) build.

[2018-10-25 12:23] sv-ohorvath opened #3746 "Apostrophe in the error pages replaced with other symbols"
## Steps to reproduce
1.  Type an invalid URL and press Go.
2. Verify point #2 of the error text.

### Expected behavior
"check your device's data or Wi-Fi connection".

### Actual behavior
The apostrophe is replaced with other symbols.
![screenshot](https://user-images.githubusercontent.com/4037709/47499872-d87c7180-d869-11e8-987d-d4d4a341673a.jpg)

### Device information
* Focus version: 8.0 (#3

[2018-10-25 15:30] sblatz opened #3747 "Additional erase Telemetry event sent when using erase notification"
## Steps to reproduce
1. Open any website in Focus
2. Go to home screen
3. Use the notification button to erase Focus

### Expected behavior
One Telemetry event (eraseNotificationEvent in codebase) is sent.
<img width="732" alt="image" src="https://user-images.githubusercontent.com/4400286/47511828-030a0280-d849-11e8-9275-b15a4c7ea02f.png">

### Actual behavior
Both an eraseNotificationEvent **and

[2018-10-25 15:31] sblatz commented on #3690
I have created a follow up ticket (#3747) to resolve this Telemetry issue, and moved it into the sprint.

[2018-10-25 15:31] #3690 closed

[2018-10-25 15:36] #3742 closed

[2018-10-25 15:50] ekager opened #3748 "Hide Safe Browsing Setting for WebView"
WebView safe browsing has exceptions, it probably doesn't make sense to have a setting as discussed in GV meeting, we are going to remove it for WV users.

[2018-10-25 15:57] ekager commented on #3705
Thanks for your ideas Bram!!

I'm still a bit concerned that the average user does not understand that the lock icon or the shield icon are actionable/clickable items in the URL bar. The FAB and the meatball menu are familiar "action" buttons, but icons in the URL bar, could just be icons.

Should we look at the data about how many users have clicked the lock icon to learn more about users' intera

[2018-10-25 15:59] ekager opened #3749 "Add new level of Cookie blocking (new GV API)"
GV 63 has a new level of cookie blocking that we can add now.

[2018-10-25 16:55] bansalayush commented on #3709
@mcomella  tried replacing `WebViewProvider` with `GeckoWebViewProvider` but `GeckoWebViewProvider` class does not have `determineEngine` function

[2018-10-25 17:00] #3740 closed

[2018-10-25 17:03] bansalayush commented on #3646
@brampitoyo @jonalmeida @Sdaswani  Can i work on this ?

[2018-10-25 17:10] ekager commented on #3646
@bansalayush , this does not have any UX finalized or product decision so it is not ready to be worked on.

[2018-10-25 17:10] boek opened #3751 "Update to GV 64"

[2018-10-25 18:13] ekager opened #3753 "Opening link in new tab in custom tab is confusing and opens about:blank in normal browsing"
## Steps to reproduce
1. open link in custom tab
2. long press on a link and open in a new tab

### Expected behavior
?? We don't support multitasking in custom tabs so why do we have this option?
I think we should maybe take away the option to open in a new tab if in a custom tab and instead maybe "send to focus"?

### Actual behavior
New tab is sent to normal browsing Focus, currently opens abou

[2018-10-25 18:17] ekager opened #3754 "Clearing normal history then shows custom tab"
## Steps to reproduce
1. Open a link in a custom tab and leave it open
2. Open Focus and open a link, and then erase

### Expected behavior
Normal browsing tab is erased, custom tab remains

### Actual behavior
Normal browsing tab is erased then custom tab is displayed (with custom tab UI) in Focus

### Device information

* Android device: Pixel 2
* Focus version: Nightly

[2018-10-25 18:40] colintheshots commented on #3609
Initializing the array with empty values wasn't a valid fix. The list adapter would not update after the new values were set and it isn't exposed by Android. Any fix that updated available locales on-the-fly would require too much custom code and opportunities for bad edge cases to occur.

In the proposed PR, I simply set a callback and displayed a ProgressBar if the locales aren't loaded yet. Thi