[2021-10-12 13:33] mcarare opened #5589 "Additional note colors need adjustments"
@amedyne – @lobontiumira is correct. Those screens need to match the Figma design.

Of particular interest are these values:

| | Light Theme | Dark Theme |
| --- | --- | --- |
| **textColor (primary)** <br> Text in all menus and panels should have the same colour value. Today, texts are coloured `#202021`, `#20123a`, `#52525e`, or `#000000`. | `photonInk50` | `photonLightGrey05` |
| **textColor (

[2021-10-12 13:33] Glitchy-Tozier commented on #5587
Thank you for the explnation!

However, isn't this a pretty big flaw of design for a browser whose selling point (among other things) is being able to easily block trackers and/or JS?

[2021-10-12 13:40] #4941 closed, assigned to nobody

[2021-10-12 13:56] sv-ohorvath opened #5590 "Intermittent UI test failure - SearchTest.changeSearchEngineTest"
### Firebase Test Run:
https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8042151971263754580/executions/bs.77e475b387d67a4c/testcases/1/logs
### Stacktrace:
`10-12 01:49:53.855: W/InputDispatcher(2070): Attempted to unregister already unregistered input channel '9c96c2a org.mozilla.focus.debug/org.mozilla.focus.activity.MainActivity (serve

[2021-10-12 14:01] lobontiumira commented on #5518
@mcarare
I've verified on the latest Focus Nightly from main from 10/12 with Google Pixel (Android 10), but the metrics the `total_uri_count` **is not generated**.

I have loaded several pages, some in the same tab, some from long-tapping on a linked text, some from Gmail.

Glean ping to URL: /submit/org-mozilla-focus-nightly/metrics/1/41a233bb-a843-48c7-ace1-c37d75f87da5
[Glean dashboard](https:/

[2021-10-12 14:10] mcarare commented on #5590
This test passes for me locally, and that PR has nothing to do with search engines. Do you have a video with the moment it craashes?

[2021-10-12 14:43] mcarare commented on #5518
@lobontiumira this can be retested on the latest main. Thank you!

[2021-10-13 03:58] brampitoyo commented on #5585
@mcarare I didn’t know that the colour comes from A-C, and is matched to the site’s predominant colour! Let’s keep that approach, then.

[2021-10-13 04:13] jonalmeida commented on #4943
@lobontiumira  is right that we haven't added the landing page background (the gradient) into light mode yet. Maybe let's file that as a separate bug since the initial work for light mode has landed?

[2021-10-13 04:39] brampitoyo commented on #5571
@mcarare I forgot about those. Thanks for pointing them out!

I wonder whether we can convert them to a snackbar which is similar to the one above (and the one we have in Fenix) where they are offset by 8dp from the FAB ([behaviour guidelines](https://material.io/components/snackbars#behavior)) and side of the screen ?

Here’s a mockup for “New private tab opened”. Can we do the same for “Download

[2021-10-13 07:15] #5585 closed, assigned to nobody

[2021-10-13 07:51] mcarare commented on #5554
@bram, thanks for the clarification and the follow-up!

[2021-10-13 09:20] AndiAJ opened #5594 "java.lang.IllegalStateException: SET SESSION: Current activity: CustomTabActivity hashcode 5303933 Other activity: MainActivity hashcode 16940721"
## Prerequisites
`openCustomTabInFocusTest` crashes with this signature on Firebase
Tracking the intermittent failures in #5283

## Steps to reproduce
1. Launch Focus
2. Skip the onboarding tour
3. Load a website
4. Launch the previously loaded website in a custom tab
5. Tap the ⋮ button and open the main menu
6. Tap the "Open in Firefox Focus" button

### Expected behavior
The tab is properly ope

[2021-10-13 10:06] ItielMaN opened #5595 "[RTL] "Block cookies" arrow in the settings is pointing the wrong direction"
## Steps to reproduce

1. Use Focus in an RTL language
2. Open settings
3. Security & Privacy
4. See the "block cookies" arrow

### Expected behavior

It should be pointing to the left.

### Actual behavior

It's pointing to the right.

### Device information

* Android device: Samsung Galaxy S10e
* Focus version: 93.1.1

[2021-10-13 10:12] ItielMaN opened #5596 "[RTL] "Secure connection" arrow in the site identity panel is pointing the wrong direction"
## Steps to reproduce

1. Use Focus in an RTL language
2. Open a secure website (not sure if this is a requirement)
3. Click the shield icon in the urlbar
4. See the "connection secure" arrow

### Expected behavior

It should be pointing to the left.

### Actual behavior

It's pointing to the right.

### Device information

* Android device: Samsung Galaxy S10e
* Focus version: 93.1.1

![Screensho

[2021-10-13 10:18] ItielMaN opened #5597 "[RTL] Engines names and icons in the search engine selection setting should be aligned to the right"
## Steps to reproduce

1. Use Focus in an RTL language
2. Open settings
3. Search
4. Search engine

### Expected behavior

The list of engines should be aligned to the right. Both icons and text.

### Actual behavior

They're aligned to the left.

### Device information

* Android device: Samsung Galaxy S10e
* Focus version: 93.1.1

![Screenshot_20211013-131317_Firefox Focus](https://user-images.g

[2021-10-13 11:20] mcarare commented on #5571
@brampitoyo I already did that. I will also add a commit [here](https://github.com/mozilla-mobile/focus-android/pull/5562)  to adjust snackbar bottom padding when the FAB is visible.

[2021-10-13 13:29] mcarare commented on #5548
In addition to migrating the existing events (press add/yes or cancel/ no in the dialog), an extra event will be added, displaying the dialog, to gather data about how many users open the dialog but abort the process (the dialog can be dismissed by pressing outside.)
Also, adding extra info about whether the user has edited the default title provided by the app when saving a shortcut.

[2021-10-13 14:04] sv-ohorvath commented on #5283
Flaky on 10/13: https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/6209625426106869521/executions/bs.f89751240eb2dfc1

[2021-10-13 15:32] channingcarter opened #5601 "Implement a Nimbus Settings Screen in Focus Android"
The minimal requirement for settings to ship Nimbus (and start doing experiments) is to allow the user to globally opt-out of all experiments.

(follow designs based on Fenix https://www.figma.com/file/bZyKtDQECrnkiW6uhGxlwG/Nimbus?node-id=104%3A17984 )

This issue asks for a Nimbus SUMO page at the location:

https://support.mozilla.org/1/mobile/\(AppInfo.appVersion)/iOS/\(languageIdentifier)/stu

[2021-10-13 16:57] jonalmeida opened #5602 "Focus Nightly logo is hard to see in light mode"
We need to update the text color for the nightly logo `nightly/res/drawable/wordmark2.xml` to use `contrastColor` as well (maybe even beta too).

<img width="455" alt="Screen Shot 2021-10-13 at 12 47 00 PM" src="https://user-images.githubusercontent.com/1370580/137177624-54c2cc76-bab3-4f8e-a458-b7d3ddce3923.png">

### Device information

* Android device: All devices
* Focus version: Nightly

[2021-10-13 18:53] jonalmeida opened #5603 "Custom tabs has various kinds of blank spaces on pages"
## Steps to reproduce
1. Navigate to a website that anchors content to the bottom in a custom tab.
    - [Example website](https://w3c.github.io/multicast-cg/multicast-cg-charter.html) in the screenshot below.

### Expected behavior
- The content sticks to the very bottom of the screen.

### Actual behavior
- There is a 56dp height to the content.
- In the screenshot below, there is a dark overlay

[2021-10-13 21:41] StelFux commented on #4280
Solved by 25691a1 (I guess).

[2021-10-14 01:17] brampitoyo commented on #5571
@mcarare Thank you!

[2021-10-14 01:40] brampitoyo commented on #5571
@mcarare Just leaving a note to say that all the snackbars look great!

The only thing remaining to fix would be the 8dp padding against the left and right sides of the screen.

| Browsing history cleared | New private tab opened | Download finished |
| --- | --- | --- |
| <img width="360" src="https://user-images.githubusercontent.com/51007/137235519-993eedff-735e-4a60-a5fa-36e88af9b313.png"> | <

[2021-10-14 02:26] brampitoyo commented on #5555
@mcarare Yes. That sounds good for the time being. Thank you!

[2021-10-14 09:41] sv-ohorvath opened #5611 "Clear search button not visible in light theme"
## Steps to reproduce
Make sure to have the light theme set up.
1. Type something in the search bar.
2. Observe the clear search button on the right end of the search bar.
### Expected behavior
The button is visible.
### Actual behavior
The button color is white, invisible on the white search bar.
### Device information

* Android device: Pixel 2, Android 9
* Focus version: 94-Beta 1, Debug 10/14

[2021-10-14 10:11] sv-ohorvath opened #5613 "[Beta 94 only] Tabs tray covered by dark layer in light mode"
## Steps to reproduce
1. Install Beta 1 build v94. Make sure to set the light theme.
2. Open 2 tabs
3. Tap the tabs counter.
### Expected behavior
The tabs tray is visible.
### Actual behavior
The tabs counter has a dark margin around it.
The tabs tray is covered with a dark layer.

![Screenshot_20211014-130451](https://user-images.githubusercontent.com/4037709/137298091-9f7be0d1-d04c-450f-a365-98

[2021-10-14 10:18] sv-ohorvath commented on #5613
I suppose will be fixed in https://github.com/mozilla-mobile/focus-android/issues/5569

[2021-10-14 10:18] #5613 closed

[2021-10-14 10:50] LaurentiuApahideanSV commented on #5335
The Cookies and Site Data settings work correctly on both Beta 94.0.0 (build 352862025 GV 94.0-20211005185813) and the latest debug build from main from 10/14 (build 11 GV 95.0a1-20211007091917).
The Web content settings have been checked here: https://github.com/mozilla-mobile/focus-android/issues/5238.

### Devices used:
- Oppo Find X3 (Android 11)
- Huawei MediaPad M3 (Android 7)

[2021-10-14 10:50] #5335 closed

[2021-10-14 11:11] LaurentiuApahideanSV commented on #5561
Verified as fixed on the latest debug build from main from 10/14 (build 11 GV 95.0a1-20211007091917) with Oppo Find X3 (Android 11). Not fixed yet in Beta 94.0.0 (build 352862025 GV 94.0-20211005185813).

[2021-10-14 11:11] #5561 closed

[2021-10-14 12:42] delia-pop commented on #5558
Verified as fixed on the latest Focus Nightly 95.0 (Build #352870513) 95.0a1-20211007091917). with Huawei P9 Lite (Android 8).
Please note that the issue is not fixed yet in Beta 94.0.0 (build 352862025 GV 94.0-20211005185813).

![Screenshot_20211014-153749](https://user-images.githubusercontent.com/89388888/137319173-ed4a36e2-dc2f-4c77-8bde-ddaaaedb9923.jpg)

[2021-10-14 13:11] lobontiumira commented on #5519
Verified as fixed on the latest Nightly debug build from 10/14 with Google Pixel (Android 10).

**1. Light theme**
Ping: 5ddcefb8-4b12-45a5-9fab-c2bad37259cb
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2110140002)

[code]

**2. Follow device's theme**
Ping: a2dba368-b3f0-45fc-9533-dc40baee4754
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-21101

[2021-10-14 13:20] sv-ohorvath opened #5618 "Find in page search bar buttons not visible"
## Steps to reproduce
1. Switch to light-theme
2. Open a webpage
3. Open main menu>Find in page
4. Observe the buttons on the right: next/prev/close
5. Switch to the dark theme. Repeat the same steps.
### Expected behavior
next/prev/close buttons are visible.
### Actual behavior
next/prev/close buttons are not visible.
### Device information

* Android device: Pixel 2, Android 9
* Focus version: N

[2021-10-14 13:36] lobontiumira commented on #5541
Verified on the latest debug Nightly from 10/14, with Google Pixel (Android 10), and here are my findings:
I've encountered these events:
* tip_displayed - fresh look tip:
[code]
* tip_displayed - link in tip clicked
[code]
* tip_displayed - shortcuts tip
[code]
* tip_displayed - allow list tip
[code]
* link_in_tip_clicked - allow list tip
[code]

However, @mcarare  I did not encounter:
* etp_tip

[2021-10-14 13:55] #5569 closed

[2021-10-14 14:17] sv-ohorvath opened #5621 "New search engine icon needs update in light-theme"
## Steps to reproduce
1. Go to Settings>Search>Add another search engine
2. Add new engine.
3. Return to search engines list and observe the icon of the new search engine.
### Expected behavior
A light-themed icon.
### Actual behavior
The icon is the one used in dark theme, hardly visible.
![Screenshot_20211014-171459](https://user-images.githubusercontent.com/4037709/137336218-61ddb842-ea37-4afc-

[2021-10-14 14:22] LaurentiuApahideanSV opened #5622 "The settings selected in Cookies and Site Data are not applied instantly"
## Steps to reproduce

1. With the default cookie setting (Block 3rd-party tracker cookies only) go to https://mozilla-mobile.github.io/testapp/ and tap on "Are cookies enabled? and "Are 3rd Party cookies enabled? from the Blocked Cookies Test area and observe the result.
2. Go to Settings -> Privacy & Security -> Block cookies and switch to "Yes please";
3. Go to https://mozilla-mobile.github.io/

[2021-10-14 14:36] sv-ohorvath opened #5623 "Device soft-keys not visible in light-theme"
## Steps to reproduce
1. Set up light-theme in Settings>General.
2. On the homescreen, dismiss the keyboard.
3. Go to Settings, observe the device soft-keys.
4. Open a webpage, observe the device soft-keys.
### Expected behavior
The device buttons should be visible.
### Actual behavior
The device buttons are not visible in light mode.
### Device information

* Android device: Pixel 2, Android 9
*

[2021-10-14 15:01] sv-ohorvath opened #5624 "Remote debugging not working on Focus Nighlty and Beta"
## Steps to reproduce
1. Open Focus, go to Settings>Advanced and enable Remote debugging
2. Connect the device to a computer.
3. Open Firefox desktop and go to about:debugging.
### Expected behavior
The app should be displayed in about:debugging, you should be able to connect to it.
### Actual behavior
Focus Nightly and Beta don't show up, only the debug version.
### Device information

* Android

[2021-10-14 15:20] lobontiumira opened #5626 "[beta v94] The "Open in Focus" option from custom tab doesn't have the "Beta" name"
## Steps to reproduce
1. Make Firefox Focus Beta your default browser.
2. From Gmail, open a custom tab.
3. Tap on the three-dot's menu of the custom tab, and observe the "Open in Firefox Focus" option.

### Expected behavior
The optios should be "Open in Firefox Focus Beta".

### Actual behavior
The option is "Open in Firefox Focus".

### Device information
* Android device: Lenovo Tab M10 (Andro

[2021-10-14 16:07] agi commented on #5335
So was this a bug in Fenix and not GeckoView?

[2021-10-14 16:16] ItielMaN opened #5627 "[RTL] The urlbar background shifts when focused"
## Steps to reproduce

1.Use an RTL locale
2. Erase the session
3. Focus the urlbar
4. Observe the difference in the background

### Expected behavior
The background stays fixed, with a bit of padding in the right side of the placeholder (both when focused or not).

### Actual behavior

The background shifts a little to the right.

### Device information

* Android device: Samsung Galaxy S10e
* Fo

[2021-10-14 16:18] agi commented on #5335
Thanks @mcarare !

[2021-10-15 01:55] jonalmeida commented on #5589
Let's file the 'Powered by Firefox Focus' as a separate issue. That's a bug in the existing theme as well and a separate fix (that needs AC work).

[2021-10-15 06:56] lobontiumira opened #5630 "'Powered by Firefox Focus' needs color adjustments"
## Steps to reproduce
1. Install Focus, and set the light theme.
2. Make it the default browser.
3. From Gmail, open a custom tab.
4. Tap on the custom's tab three-dot menu and observe the "Powered by Firefox Focus" background color.

### Expected behavior
The background color is like in the Figma design Violet 05 (#E7DFFF):
![Screenshot_1](https://user-images.githubusercontent.com/40694158/137444

[2021-10-15 06:56] #5589 closed, assigned to mcarare

[2021-10-15 07:31] mcarare commented on #5575
cc @brampitoyo

[2021-10-15 08:45] delia-pop opened #5631 "[A11y] Talkback reads content from other onboarding pages when swiping on the current page"
## Steps to reproduce
1. Install Firefox Focus and activate TalkBack.
2. Launch Firefox Focus.
3. Swipe right several times on the "Power up your privacy" tip page.
4. Notice that content from the next tip "Your search, your way" is announced.
5. Double tap "Next" button.
6. Swipe right or left several times on the "Your search, your way" tip page.
7. Notice that content from both the previous tip

[2021-10-15 09:14] lobontiumira opened #5632 ""Open in..." option doesn't display the debug Focus builds installed"
## Prerequisites
Make sure you have at least two Firefox Focus builds installed, and at least one of them is a debug build.

## Steps to reproduce
1. Install Beta 94.0.0-beta.1.
2. Open a page, and from the three-dot menu select the "Open in..." option.
3. Observe the installed apps displayed in the "Open in..." dialogue.

### Expected behavior
All the installed apps that are suitable for opening

[2021-10-15 09:23] LaurentiuApahideanSV commented on #5527
The issue still occurs on Focus 94.0.0-Beta.1.

[2021-10-15 11:53] softvision-raul-bucata opened #5633 "Back button does not work as expected on c-fee.com"
## Steps to reproduce

1) Open DuckDuckGo and search, e.g. "Thailand hydrogen car" in this case.
2) Open the website mentioned above
3) Click in the website navigation below for "Golf car".
4) After the page has loaded, go back one page using the phone's Back button.  It loads the page on fuel cars.
5) Go back one more page

### Expected behavior
The browser returns to the previously accessed page

[2021-10-15 12:20] lobontiumira opened #5634 "Multiple search engines with the same string can be added"
## Steps to reproduce
1. Go to the three-dot menu -> Settings -> Search -> Search engine.
2. Tap on "+ Add another search engine".
3. Enter a name for the engine, and the string to use.
4. Tap on "SAVE".
5. Repeat steps 3 & 4 and create another search engine with a different name, but the same string to use from step 3.

### Expected behavior
The "An installed search engine is already using the sa

[2021-10-15 12:29] mcarare commented on #5634
@lobontiumira This was the desired behaviour as decided following the discussions here: https://github.com/mozilla-mobile/focus-android/issues/5318#issuecomment-915724307.

[2021-10-15 12:40] lobontiumira commented on #5634
Oh, ok, thanks!
I'll close this ticket.

[2021-10-15 12:40] #5634 closed

[2021-10-15 12:53] mcarare opened #5635 "Migrate first run page telemetry"
Breakout from #5488.

Is the onboarding of interest to the users?

[2021-10-15 12:57] mcarare opened #5636 "Migrate make default browser page telemetry"
Breakout from #5488.

Are users setting Focus as the default browser from the settings menu?

[2021-10-15 13:19] pocmo commented on #5632
Agree, let's see if we can use the implementation from A-C. And yeah, we will have to add the new Focus Nightly/Beta builds to it too.

[2021-10-15 14:21] lobontiumira commented on #5579
I reproduced this crash on Xiaomi mi4i (Android 5.0.2) on Beta 94.0.0-beta.1:

[code]

[2021-10-15 14:33] delia-pop opened #5639 "Overlapped text within the "Account" page on Youtube"
## Steps to reproduce
1. Launch Firefox Focus.
2. Go to youtube.com and sign in with valid credentials.
3. Tap on the account's icon in the right upper corner.
4. Observe the "Account" section.
5. Additionally from settings change the account language.
6. Notice that the "Terms of Service" string is overlapped by the Tabs manager icon.

### Expected behavior
The text should be properly displayed.

[2021-10-15 20:33] agi commented on #5365
FYI the GeckoView bug landed so this is ready to be implemented!

[2021-10-16 09:03] YD-89 opened #5642 "Bad string in autocomplete settings"
Hello!

In Settings > Search > URL autocomplete, the string preference_autocomplete_user_list_summary is the same as preference_autocomplete_topsite_summary, "Enable to autocomplete more than 450 popular URLs in the address bar."

It should be something like "Enable to autocomplete your favorite URLs." I think.

[2021-10-18 07:29] #5602 closed

[2021-10-18 07:59] #5611 closed, assigned to mcarare

[2021-10-18 15:06] mcarare opened #5645 "Migrate search bar (url input) telemetry"
Breakout from #5488.

Are users mostly use the input bar for searching or entering the url?

[2021-10-18 15:07] mcarare opened #5646 "Migrate search engines telemetry"
Breakout from #5488.

How are users using search engines?

[2021-10-18 15:17] mcarare opened #5647 "Migrate context menu options telemetry"
Breakout from #5488.

What options do users choose mostly in the context menu?

[2021-10-18 15:18] mcarare opened #5648 "Migrate browser menu options telemetry"
Breakout from #5488.

What options do users choose mostly in the browser menu?

[2021-10-18 15:19] mcarare opened #5649 "Migrate custom tabs telemetry"
Breakout from #5488.

How are users using custom tabs?

[2021-10-18 15:23] mcarare opened #5650 "Migrate downloads telemetry"
Breakout from #5488.

How often are users downloading files using Focus?

[2021-10-18 15:24] mcarare opened #5651 "Migrate notifications telemetry"
Breakout from #5488.

How often are users using current notifications from Focus?

[2021-10-18 15:26] mcarare opened #5652 "Migrate crash reporter telemetry"
Breakout from #5488.

How are users interacting with the crash reporter?

[2021-10-18 15:28] mcarare opened #5653 "Migrate settings related telemetry"
Breakout from #5488.

How often are users changing default settings?

[2021-10-18 15:32] mcarare opened #5654 "Migrate open with... telemetry"
Breakout from #5488.

How often are users opening websites in other browsers?

[2021-10-18 18:57] channingcarter commented on #5618
@Kate-Galetski Is this something you can work on?

[2021-10-18 18:58] channingcarter commented on #5630
@Kate-Galetski is this something you can work on?

[2021-10-18 19:46] Kate-Galetski commented on #5630
@brampitoyo

[2021-10-18 23:52] brampitoyo commented on #5623
This doesn’t seem to be an app-related UX or visual design issue, because device soft-keys is something that’s provided by the OS itself.

[2021-10-19 02:26] brampitoyo commented on #5623
Although I too couldn’t reproduct this issue on my test device (OnePlus One, Android 11), I did find some Light Theme issues when trying to document this behaviour in detail:

| | Light Theme | Dark Theme |
| --- | --- | --- |
| Home screen | ![Screenshot_20211019-151016_Firefox_Focus_Nightly](https://user-images.githubusercontent.com/51007/137832214-b50d0423-1ee5-4522-925d-7929629faedd.png) | ![S

[2021-10-19 06:21] mcarare commented on #5623
@brampitoyo The issues pointed out by you are already fixed on the main branch.

[2021-10-19 11:56] ionutbedregeanu commented on #5601
https://github.com/mozilla-mobile/focus-android/pull/5661#issuecomment-946647470

[2021-10-19 12:56] mcarare opened #5662 "Implement awesomebar telemetry."
We should implement telemetry similar to the one in Fenix for awesomebar events:
https://github.com/mozilla-mobile/fenix/blob/7e12bd32387451f3eba8380df488ce4f0b0ffae4/app/metrics.yaml#L4828

Note that we do not have all suggestion providers in Focus (history/ bookmarks, etc.)

[2021-10-19 20:00] amedyne commented on #4995
No need for these changes anymore. Closing ticket.

[2021-10-19 20:00] #4995 closed

[2021-10-19 21:21] betsymi commented on #5642
![IMG_20BAA5CEC671-1](https://user-images.githubusercontent.com/43555492/137991902-913c4fc4-738c-490f-a0b3-7fbf1f352fc2.jpeg)
Clarification question @YD-89 and @Delphine. Which is the string in question, the one under "My Sites" or the one under "My Sites/Manage Sites"? The Learn more link for both goes to the same place: https://support.mozilla.org/en-US/kb/autocomplete-url-bar-firefox-focus-ios

[2021-10-20 06:45] ionutbedregeanu opened #5668 "Fetch the list of active and completed studies"
### Why/User Benefit/User Problem
Show the list of active studies

#### Notes for QA:
Active studies is always empty because we don't have active experiments
Completed studies can't be displayed at this moment https://mozilla-hub.atlassian.net/browse/FNXV2-17071?focusedCommentId=447662

### What / Requirements
Follow designs based on Fenix https://www.figma.com/file/bZyKtDQECrnkiW6uhGxlwG/Nimbus?n

[2021-10-20 06:56] delia-pop commented on #5588
Verified as fixed on Beta 94.0.0 -beta.2 (build 352922038 GV 94.0-20211017185800). with Huawei P9 Lite (Android 8).

[2021-10-20 07:06] delia-pop commented on #5556
Verified as fixed on Beta 94.0.0-beta.2 (build 352922038 GV 94.0-20211017185800) with Huawei P9 Lite (Android 8).

[2021-10-20 07:08] #5588 closed

[2021-10-20 07:08] #5556 closed, assigned to mcarare

[2021-10-20 07:10] #5558 closed

[2021-10-20 07:20] delia-pop commented on #5555
Verified as fixed on Beta 94.0.0-beta.2 (build 352922038 GV 94.0-20211017185800) with Huawei P9 Lite (Android 8).

[2021-10-20 07:37] #5238 closed, assigned to nobody

[2021-10-20 07:41] mcarare commented on #5622
Still reproducible in 94.0.0-beta.2: https://github.com/mozilla-mobile/focus-android/issues/5335#issuecomment-947405418.

I am going to take a look also, maybe it's still a preference update problem, not a GV-related one.

[2021-10-20 07:42] #5541 closed

[2021-10-20 08:48] #5618 closed, assigned to mcarare

[2021-10-20 09:33] mcarare commented on #5622
Added a fix: https://github.com/mozilla-mobile/focus-android/pull/5669.

[2021-10-20 10:09] sflorean commented on #5624
Tested on v94 Beta 2 and "Mozilla Nightly - 94.0" is displayed, along with the Fenix beta logo. Devices:
- Pixel 3 (Android 12)
- Samsung Note 10 (Android 11)

[2021-10-20 13:55] #5559 closed

[2021-10-20 13:55] #5571 closed, assigned to mcarare

[2021-10-20 13:56] #5554 closed

[2021-10-20 14:09] #5621 closed, assigned to nobody

[2021-10-20 14:20] delia-pop opened #5670 ""Open link in private tab" option from a custom tab does not switch to Focus"
## Steps to reproduce
1. Set Firefox Focus as default browser.
2. Open Gmail (or another app: Chrome, Twitter etc).
3. Open a link from an email.
3. From the webpage opened in a custom tab, long tap a link.
4. Select "Open link in a private tab".
5. From the "New private tab opened" snackbar displayed tap on the "SWITCH" button.
6. Observe the result.

### Expected behavior
As per discussion from

[2021-10-20 14:20] lobontiumira opened #5671 "The newly added search engine's icon (magnifying glass) is barely visible"
## Steps to reproduce
1. Go to Settings - Search - Search engine - + Add another search engine.
2. Add a valid search engine and save it.
3. Observe the icon of the newly added search engine.

### Expected behavior
The magnifying glass icon is visible in both light and dark theme.

### Actual behavior
The magnifying glass icon is barely visible.

### Device information
* Android device: all
* Focu

[2021-10-20 14:38] #5225 closed, assigned to ionutbedregeanu

[2021-10-20 14:53] chris122380 opened #5674 "Firefox focus cosmetic filtering"
Already searched using different phrases and could not find this as being reported.

### What is the user problem or growth opportunity you want to see solved?
Ad blocking with Firefox focus does not do cosmetic filtering, leaving large amounts of white space.

### How do you know that this problem exists today?
- https://github.com/webcompat/web-bugs/issues/90695
### Why is this important?
- Impo

[2021-10-20 15:06] LaurentiuApahideanSV opened #5673 "The selected search engine cannot be removed"
## Steps to reproduce
1. Go to setting -> Search ->Search Engine;
2. Tap the 3 dot menu and try to remove the preferred search engine.
### Expected behavior
The preferred search engine should be selectable.
### Actual behavior
The preferred search engine cannot be selected and cannot be deleted.
### Device information

* Android device: Huawei MediaPad M3 (Android 7), Oppo Find X3 (Android 11)
* F

[2021-10-20 19:26] #5608 closed

[2021-10-21 08:34] delia-pop opened #5679 "[L10N] The "Theme" section in General is not translated"
## Steps to reproduce
1. Change your device language to any language.
2. Go to Settings ->General.
3. Notice that the "Theme" section is not translated.

### Expected behavior
The "Theme" section title and the 3 options should be fully translated in the language of the device/selected language from app.

### Actual behavior
The "Theme" title and the 3 options remain displayed in default English la

[2021-10-21 08:46] lobontiumira commented on #2046
I was able to reproduce this on Beta 94.0.0-beta.2 build, and RC 93.1.1 with Lenovo Tab M10 (Android 10), and RC 93.1.1.

[2021-10-21 09:19] lobontiumira opened #5680 "Video from vimeo.com pauses after exiting fullscreen mode"
## Steps to reproduce
1. Open vimeo.com, and start playing a video.
2. Enter fullscreen mode, while the video keeps playing.
3. Exit the fullscreen mode.

### Expected behavior
The video continue playing.

### Actual behavior
The video pauses.

### Device information
* Android device: Lenovo Tab M10 (Android 10), Google Pixel (Android 10), Sony Xperia Z5 Premium (Android 7.1.1)
* Focus version: 93

[2021-10-21 12:11] mcarare commented on #5673
Looking at the code, this is the intended behavior, and in IMO it's fine as it is as it prevents accidentally deleting the engine you actually use.
You can delete the default engine in Fenix, but it leads to us choosing another default, and that looks somewhat random for a user.

Adding @brampitoyo for an evaluation here.

[2021-10-21 20:29] st3fan opened #5684 "Add telemetry for the install source"
Similar to what we did in Fennec with https://bugzilla.mozilla.org/show_bug.cgi?id=1221646

Using `PackageManager.getInstallerPackageName()` we can determine from which App Store Focus was installed. And likely also filter out installs that did not originate from Google Play.

It will give us values like this:

[code]

@pocmo you did this for Fennec - any concerns?

@athomasmoz  We should probably

[2021-10-22 07:31] #5622 closed, assigned to mcarare

[2021-10-22 09:02] lobontiumira opened #5687 "The "Open in app?" prompt's buttons have different colors on some devices"
## Steps to reproduce
1. Open reddit.com.
2. On the "See Reddit in..." banner, select to open the Reddit app.
3. Observe the "Open in app" prompt's "Cancel" and "Open" buttons.

### Expected behavior
The "Cancel" and "Open" buttons have the Pink color.

### Actual behavior
The "Cancel" and "Open" buttons have different colors.

### Device information
* Android device: Lenovo tablet M10 (Android 10

[2021-10-22 11:10] #5548 closed, assigned to mcarare

[2021-10-26 02:04] amedyne opened #5700 "Enable experimentation for Tabs support on Focus"
See: https://mozilla-hub.atlassian.net/browse/FADPV2-3138

This task is to integrate multi-Tab and Custom tab support with Nimbus so that we can run an experiment.

[2021-10-26 07:01] #5583 closed, assigned to mcarare

[2021-10-26 08:07] #5636 closed, assigned to mcarare

[2021-10-26 08:10] softvision-raul-bucata opened #5701 "The page menu bar does not stay stuck to the footer of the page if scrolling is performed at aliexpress.com"
## Steps to reproduce
1. Access :https://mbest.aliexpress.com/m/promote.htm?tracelog=wwwhome2mobilesitehome&af=149794&cn=6814&cv=14000&dp=10250029fabdc1ecac64f83add408f&aff_fcid=88f1911029cd46fd9043ec513331ca39-1635213826814-09111-_ATQOXo&tt=CPS_NORMAL&aff_fsk=_ATQOXo&aff_platform=portals-tool&sk=_ATQOXo&aff_trace_key=88f1911029cd46fd9043ec513331ca39-1635213826814-09111-_ATQOXo&terminal_id=c0917bc

[2021-10-26 11:31] #5645 closed, assigned to mcarare

[2021-10-26 11:41] #5650 closed, assigned to mcarare

[2021-10-26 13:12] #5671 closed, assigned to mcarare

[2021-10-26 13:52] delia-pop opened #5704 "Trashcan icon overlaps cookies preferences prompts on TikTok/Soundcloud websites"
## Steps to reproduce
1. Go to tiktok.com or soundcloud.com.
2. Notice the prompt regarding cookies preferences.

### Expected behavior
The options in the consent prompts are properly displayed.

### Actual behavior
The trash icon overlaps the prompts, which become un-scrollable and the options are not completely displayed.

Regression after #5452.

### Device information
* Android device: Huawei

[2021-10-26 13:53] delia-pop opened #5705 "Bottom bar should remain displayed at all times when scrolling on different websites"
## Steps to reproduce
1. Go to soundcloud.com (or other websites e.g. youtube.com/tmall.com)
2. Play a soundtrack and scroll down on the page. (on youtube.com/tmall.com scroll the pages).
3. Notice the bottom bar.

### Expected behavior
The bottom bar should always remain displayed on the screen when scrolling, as it does on Fenix/Chrome.

### Actual behavior
On soundcloud.com, the bottom bar is p

[2021-10-26 13:53] delia-pop opened #5706 "Trashcan icon overlaps various prompts on soundcloud.com"
## Steps to reproduce
1. Go to soundcloud.com.
2. Tap on a soundtrack.
3. With the dynamic toolbar dismissed, tap on the icons displayed under the song details (Like icon, Comments icon, Repost icon).
4. Notice the prompt displayed.
5. Tap on the prompt.
6. Repeat step 3 with the dynamic toolbar displayed.
7. Notice the prompt displayed.

### Expected behavior
The prompts and and the "Download the

[2021-10-26 13:53] delia-pop opened #5707 "Trashcan icon overlaps warning prompt on tiktok.com"
## Steps to reproduce
1. Go to tiktok.com.
2. Accept all cookies when the prompt is displayed.
3. When the "Get the full experience on the app" prompt is displayed, tap on "Log in".
4. Select "Continue with Instagram".
5. Notice the warning prompt.

### Expected behavior
The warning prompt and "Open TikTok" option should be properly displayed.

### Actual behavior
The trash icon overlaps the promp

[2021-10-27 11:20] mcarare opened #5714 "Menu options have wrong style."
The menus from the toolbar have the wrong background and text color.

Example from the autocomplete menu:
<img src = https://user-images.githubusercontent.com/48995920/139056041-24b4939c-4adc-4840-8d36-dc4a32b4ddff.png  width = 45%>

[2021-10-27 12:43] pocmo opened #5716 "No padding between top sites and toolbar"
Pixel 4a, Android 12.

![Screenshot_20211027-123343](https://user-images.githubusercontent.com/89638/139067658-5e7438f5-a261-4c9c-b3e6-031cdd608949.png)

[2021-10-27 12:45] pocmo opened #5717 "Settings: Default browser toggle does not update"
When clicking on the default browser setting and selecting the app then the toggle does not update. (I think it used to update on resume?)

[2021-10-27 14:02] delia-pop opened #5720 "Lateral tapping outside the menu does not return to web page"
## Steps to reproduce
1. Open a webpage with links/linked images (i.e. https://en.wikipedia.org).
2. Long click on a link or a linked image.
3. Tap outside the menu.
4. Observe if the menu is dismissed.

### Expected behavior
Tapping anywhere outside the menu will dismiss it, the user is returned to web page.

### Actual behavior
Tapping outside the menu on the lateral left/right sides will not di

[2021-10-27 14:18] pocmo opened #5721 "Shortcut added with title "www""
STR:

1. Got to `mobile.de`
2. Add site as "shortcut" (top site)
3. Go to home screen

Expected: Shortcut with title "Mobile" or something similar is added.

Actual: Shortcut with title "www" is added (and "M" icon).

[2021-10-27 15:52] #5603 closed, assigned to nobody

[2021-10-28 11:35] lobontiumira opened #5726 "[L10N] Some options are not translated in Russian"
## Steps to reproduce
1. Set the device's language to Russian.
2. Observe the pro tips from the homescreen.
3. Go Settings - General, and observe the Theme section.
4. Go to Settings - Advanced, and observe the "Open links in apps".

### Expected behavior
The pro tips, the theme section, and the "Open links in apps" option are translated in Russian.

### Actual behavior
The pro tips, the theme sec

[2021-10-28 12:45] delia-pop opened #5727 "[L10N] The "Open links in apps" option is not translated"
## Steps to reproduce
1. Set the device's language to any language (DE, FR, zh-CN, BRPT etc.).
2. Go to Settings - Advanced.
3. Observe the "Open links in apps" option.

### Expected behavior
The "Open links in apps" option should be translated in the language of the device.

### Actual behavior
The "Open links in apps" option is not translated.

### Device information
* Android device: all
* Focu

[2021-10-28 16:04] Amejia481 opened #5728 "Integrate API for persistent tracking protection exceptions in private mode"
Related https://github.com/mozilla-mobile/android-components/issues/11101

[2021-10-29 06:46] #5717 closed, assigned to mcarare

[2021-10-29 08:16] lobontiumira opened #5735 "Light theme is darker then Dark theme on Xiaomi device Android 11"
## Steps to reproduce
1. Install Beta 94.0.0-beta.2, or RC 94.1.1.
2. Go to Settings - General, and enable the light theme.
3. Observe the light theme mode.

### Expected behavior
All the elements, background, menus have the light mode UI.

### Actual behavior
The light mode is darker then the dark mode.

### Device information
* Android device: Xiaomi Mi10T Lite (Android 11) - the device is set w

[2021-10-29 08:18] delia-pop opened #5736 ""New search engine added" snackbar needs color adjustments"
## Steps to reproduce
1. Install Focus, and set the light theme.
2. Go to Settings > Search > Search engine.
3. Tap on "Add another search engine".
4. Enter a name for the engine, and the string to use.
5. Tap on "SAVE".
6. Notice the "New search engine added"  snack bar notification displayed at the bottom of the screen.

### Expected behavior
The background color should be "photonLightGrey05" as

[2021-10-29 08:47] LaurentiuApahideanSV opened #5738 "The Exceptions button does not grey out after clearing all exceptions"
## Steps to reproduce
1. Open a few websites and disable ETP in order to add them to the exceptions list;
2. Got to Settings -> Privacy & Security -> Exceptions;
3. Tap the Remove all websites button.

### Expected behavior
After removing all websites from the exceptions list the Exceptions button should become grey.
### Actual behavior
After removing all websites from the exceptions list the Exce

[2021-10-29 08:54] #5735 closed, assigned to nobody

[2021-10-29 11:34] #5736 closed, assigned to mcarare

[2021-10-29 11:42] #5721 closed, assigned to mcarare

[2021-10-29 12:54] mcarare opened #5740 "Add option to provide Shortcuts name"
### Why/User Benefit/User Problem

Shortcuts on the home screen cannot be renamed and the name is chosen by default.

### What / Requirements

Add a dialog before saving a shortcut, similar to adding shortcuts to the device launcher screen.

### Acceptance Criteria (how do I know when I’m done?)

Users have the option to name their shortcuts, at least at creation time.

P.S.: This request was also

[2021-10-29 12:57] mcarare opened #5741 "Add option to close tabs selectively."
### Why/User Benefit/User Problem

Users do not have the option to close just one or more, not all opened tabs.

### What / Requirements

Add a close button to items in the session list.

### Acceptance Criteria (how do I know when I’m done?)

Users have the option to close tabs selectively.

P.S.: This request was also encountered in play store reviews.

[2021-10-29 13:04] mcarare opened #5742 "Revisit Focus notification"
Coming from using private browsing on Fenix, I would have expected to have the option to close the browser using the notification. The current notification does not offer this, and it is also un-removable.

Maybe we should revisit this behavior, as it has also been reported by some users on play store reviews.

[2021-10-29 13:14] mcarare opened #5743 "Add autoplay settings"
Some reviews on the play store are mentioning the lack of setting to disable video/ audio autoplay.

Did we use to have this on the previous versions?

We should consider adding a setting to allow/block autoplay. Maybe not as complex as the one in Fenix, or maybe just disable autoplay by default?

[2021-10-29 13:30] mcarare opened #5744 "Shortcuts saved on the device launcher screen are opened multiple times."
There are numerous reports of users tapping on the shortcuts and resulting in the respective page being open multiple times.

It is not mentioned in the reviews if users are tapping the icon multiple times (this would mean the app is slow to start ) or it happens after just one tap.

Can QA also try to reproduce this? Thank you!

[2021-10-29 14:03] mcarare opened #5745 "Consider adding setting for fixed toolbar."
Some reviews from play store are indicating users find toolbar hiding a not very desirable behavior. (Not sure why AFAIK previous Focus versions had this behavior)

We should consider adding a setting for having a fixed toolbar.
This might be synchronized with other changes related to the FAB.

[2021-10-29 14:11] #5680 closed, assigned to nobody

[2021-10-29 14:27] mcarare opened #5746 "Migrate find in page telemetry"
Breakout from https://github.com/mozilla-mobile/focus-android/issues/5488.

 How often do users use find in page

[2021-10-29 14:31] #5746 closed, assigned to mcarare

[2021-10-29 21:03] OysterP commented on #5741
Already raised under #5445

[2021-11-01 06:47] mcarare commented on #5445
Closing in favour of https://github.com/mozilla-mobile/focus-android/issues/5741.

[2021-11-01 06:47] #5445 closed

[2021-11-01 07:38] lobontiumira commented on #5646
Verified as fixed on the latest Focus Nightly from 11/1 (build 353050927 GV 95.0a1-20211026090355) with Google Pixel (Android 10).

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-211101001)
Glean ping to URL: /submit/org-mozilla-focus-nightly/events/1/b6e01403-0dac-414e-bd5d-4b9ee6e6f315
* open_settings:
[code]
* add_engine_tapped:
[code]
* save_engine_tapped:
[code]
* set

[2021-11-01 07:38] #5646 closed

[2021-11-01 08:14] lobontiumira commented on #5654
Verified on the latest Focus Nightly 95.0 (build 353050927 with GV 95.0a1-20211026090355) with Google Pixel (Android 10).
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-211101001)

I was able to trigger 2 events:
* open_with list_displayed:
[code]
* open_with list_item_tapped:
[code]

@mcarare I cannot trigger the "install_firefox" event. Could you please provide me some m

[2021-11-01 08:27] #5654 closed

[2021-11-01 08:58] Archaeopteryx commented on #5533
The speculative fix in https://github.com/mozilla-mobile/focus-android/commit/d18c942d18ca06b4d34e2b6333493d2ce3c40b6a started a permanent test failure:
[code]

[2021-11-01 12:42] LaurentiuApahideanSV commented on #5533
I tried to reproduce the issue on Focus 93.1.1 using several apps (Slack, Gmail, Twitter) to open webpages in Focus in order to confirm the issues is fixed but I am unable to reproduce it. @ionutbedregeanu Is there further information that you could provide us in order to reproduce the issue?
### Devices used:
- Oppo Find X3 (Android 11)
- OnePlus Nord N10  (Android 11

https://user-images.githubu

[2021-11-01 13:11] LaurentiuApahideanSV commented on #5744
I tested the issue and was able to reproduce it on Focus 93.1.1 using the following steps:
1. Add a webpage on the Home screen;
2. In Focus tap the Erase browsing history;
3. Close Focus;
4. Tap on the Home screen shortcut added at step 1.
I am unable to reproduce it on Focus 94.1.1.
### Device used:
- Oppo Find X3 (Android 11

https://user-images.githubusercontent.com/50983519/139676884-c244691d-

[2021-11-01 13:19] lobontiumira commented on #5716
We were not able to reproduce this on Google Pixel 4 (Android 11), nor with Google Pixel 4a (Android 11) on Focus Nightly 95, nor on the latest debug build from main from 11/1.
I'll close this ticket.

[2021-11-01 13:19] #5716 closed

[2021-11-01 13:29] Amejia481 commented on #5738
We are planing it, to land it after 96 cycle starts

[2021-11-01 13:44] ionutbedregeanu commented on #5533
It was an intermitent crash,  now should be fixed by Almeida's fix. On the other hand a regressions seems to be added by that fix, I will take a look on it

[2021-11-01 15:44] softvision-raul-bucata opened #5750 "Backgroud animation does not load at retrobottega.caffe-design.it"
## Steps to reproduce

1. Navigate to : https://retrobottega.caffe-design.it/
2. Observe the result

### Expected behavior
Background animation loads

### Actual behavior
Background animation does not load

### Device information

* Android device:  Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi density)
* Focus version:   94.1.1(353012322 🦎94.0-20211028161635🦎)

**Notes:

[2021-11-01 15:45] softvision-raul-bucata commented on #5750
Firefox Focus:

![Screenshot_83](https://user-images.githubusercontent.com/75027050/139699573-8cd738a0-4d81-40ad-9587-4f2bd8b57dff.png)

Firefox Nightly:

![Screenshot_82](https://user-images.githubusercontent.com/75027050/139699542-e1ec5edd-80b9-4e51-aff1-b2905c78b528.png)

[2021-11-01 15:52] Mugurell commented on #5750
The same happens on Fenix if blocking video autoplay.

[2021-11-01 16:06] Mugurell commented on #5750
Seems like the website plays https://www.youtube.com/watch?v=V0DWNyTVB-o in a loop.

[2021-11-01 16:15] Mugurell commented on #5750
Should be "fixed" by https://github.com/mozilla-mobile/focus-android/issues/5743

[2021-11-01 17:53] mcomella opened #5752 "Recent nightly builds did not upload to taskcluster"
https://firefox-ci-tc.services.mozilla.com/tasks/index/mobile.v2.focus-android.nightly.2021.10 – builds stop on the 28th: we're missing 29-31.

[2021-11-01 17:55] rvandermeulen commented on #5752
Fallout from #5712

[2021-11-01 17:59] jonalmeida commented on #5752
Should be fixed now with https://bugzilla.mozilla.org/show_bug.cgi?id=1738364 resolved a few hours ago.

[2021-11-01 18:38] mcarare opened #5753 "Migrate etp exceptions telemetry"
Breakout from #5653

How often are people customizing their privacy security settings?

[2021-11-01 18:39] jonalmeida commented on #5745
The behaviour for the toolbar doesn't match that of Fenix for example. On Focus using reddit, I get stuck with the bottom end of the content hidden.

This is on nightly.

<img width="451" alt="Screen Shot 2021-11-01 at 11 22 03 AM" src="https://user-images.githubusercontent.com/1370580/139723428-463a63c5-db70-4690-aa08-a5684c9f303e.png">

[2021-11-02 02:21] brampitoyo commented on #5745
@mcarare @jonalmeida There are three separate issues here:

- FAB is blocking content
    - Solution: We’re planning to relocate the FAB into the sidebar, solving this issue.
- Bottom-end of the content is hidden
    - This seems to be a bug that occurs on other sites (e.g. Twitter) and unique to Focus. We should fix it.
- Toolbar hides when scrolling down, and cannot be fixed
    - Every other br

[2021-11-02 02:32] brampitoyo commented on #5743
@mcarare Focus is a browser where it makes sense to disable autoplay by default. In other words, our default policy should be “Block audio and video”.

[2021-11-02 02:38] brampitoyo commented on #5742
@mcarare Correct me if I’m wrong, but Focus currently shows a notification that allows you to “Erase browsing history” just by tapping the notification.

In fact, Focus gives you two additional action:
- Open the browser (without erasing history)
- Erase browsing history, then open the browser afterwards

Do users report wanting more functionality from our notification?

[2021-11-02 03:34] brampitoyo commented on #5740
@mcarare For maximum simplicity and least interruption, I’d prefer for shortcut renaming to happen only after the user long-presses the shortcut tile and select “Rename”.

It’s detailed in this Figma: https://www.figma.com/file/KggJlo8pg2T2Q8nn0Ec5c3/Shortcuts?node-id=1875%3A63694

Otherwise, Fenix already has a rename UI, and we should reuse it on Focus.

[2021-11-02 04:00] brampitoyo commented on #5720
@mcarare @delia-pop I agree. Tapping on the horizontal sides of a context menu should dismiss it.

I also agree with Mihai. We should file a separate issue to limit the height of the context menu.

What are the top and bottom margin/padding values that we should use? According to [Material Design 3](https://m3.material.io/components/dialogs/guidelines):

[2021-11-02 06:34] mcarare commented on #5745
This issue was not meant to address the problems above. It was a question if we should add a setting for a fixed toolbar as Fenix has. (Customize -> Gestures -> Scroll to hide toolbar toogle)

[2021-11-02 06:45] mcarare commented on #5742
The fact that tapping on the notification closes the browser or erases the history is not obvious to users. The users only see the action buttons. Add to that the fact that the behavior depends on the current active window, it seems pretty confusing.

[2021-11-02 07:08] Mugurell commented on #5750
Based on [Bram's comment](https://github.com/mozilla-mobile/focus-android/issues/5743#issuecomment-957043253) that Focus should block audio and video autoplay the issue reported here seems like the intended behavior. Closing as wontfix.

[2021-11-02 07:08] #5750 closed

[2021-11-02 07:25] softvision-raul-bucata commented on #5750
@Mugurell Thank you for the quick update. Will keep this in mind for future references.

[2021-11-02 07:47] ionutbedregeanu opened #5755 "Mark openCustomTabInFocusTest as ignored"
#### I will mark openCustomTabInFocusTest as ignored until 'Display already aquired' will be fully fixed

#### ui-test-x86-debug  UI pipeline is failing because of
androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with id: org.mozilla.focus.debug:id/tabs
View Hierarchy:
+>DecorView{id=-1, visibility=VISIBLE, width=1080, height=1920, has-focus=true, has-focusable

[2021-11-02 08:37] Archaeopteryx commented on #5752
https://bugzilla.mozilla.org/show_bug.cgi?id=1738364 mentions `project/mobile/focus-android` while the change here uses `'project/focus-android`. Builds are [still failing](https://treeherder.mozilla.org/logviewer?job_id=356645439&repo=focus-android).

[2021-11-02 08:42] lobontiumira commented on #5293
Tested on Focus Nightly 95.0 (build 353060511 GV 95.0a1-20211101084651) with Samsung Galaxy Note 8 (Android 9), and the design in Figma is different:

![language](https://user-images.githubusercontent.com/40694158/139812968-7d9ed80c-c632-44d7-bb3a-b9f82f4cb6ba.png)

[2021-11-02 08:45] ionutbedregeanu commented on #5533
It created a new ticket for this https://github.com/mozilla-mobile/focus-android/issues/5755

[2021-11-02 08:58] Archaeopteryx commented on #5752
This got fixed after bug 1738364 (got deployed later?).

[2021-11-02 09:22] lobontiumira commented on #5349
Still reproducible on Focus Nightly 95.0 (build 352991559 GV 95.0a1-20211023211445) with Lenovo Tab M10 (Android 10).

[2021-11-02 09:37] softvision-raul-bucata opened #5757 ""Trash" icon overlaps the "Send" button"
## Steps to reproduce

1. Navigate to :https://pjp-povo-webfront.s3.ap-northeast-1.amazonaws.com/povoChat.html
2. Observe the "Send form" button

### Expected behavior
The button is visible

### Actual behavior
The button is overlapped by the "Trash" icon

### Device information

* Android device: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi density)
* Focus version: Fi

[2021-11-02 09:58] mcarare commented on #5740
@brampitoyo I want to confirm shortcuts behavior when they show up in search fragment:

Currently, on long-press, you still have the option to remove or rename the top sites.

Should this behavior be kept, or should the shortcuts on the search fragment only be clickable to open the URL?

[2021-11-02 10:22] lobontiumira commented on #5684
Verified on the Focus Nightly build 95.0 (353061210 GV 95.0a1-20211101084651) with Google Pixel (Android 10).
I've installed the build with Android Studio.

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111020001)

[code]
I can only verify the null-developer option, because Focus Nightly isn't available yet in Play Store, or Samsung App Store.

[2021-11-02 10:22] #5684 closed

[2021-11-02 10:28] lobontiumira commented on #5451
@eliserichards this is how it is displayed on Focus Nightly on a Samsung Galaxy Note 8 (Android 9) phone:

![Screenshot_1](https://user-images.githubusercontent.com/40694158/139829816-82ad604c-07af-4dce-b86f-98056670f49f.jpg)

So, I don't think it is a tablet issue. I am not sure if this is intended or not.

[2021-11-02 12:34] lobontiumira commented on #5514
Still reproducible on Sony Xperia Z5 Premium (Android 7.1.1) on the latest Focus Nightly 95.0 (build 353061431 GV 95.0a1-20211101084651).

[2021-11-02 12:36] lobontiumira commented on #5581
Still reproducible on Google Pixel (Android 10) on the latest Focus Nightly 95.0 (build 353061431 GV 95.0a1-20211101084651).
Not reproducible on Sony Xperia Z5 Premium (Android 7.1.1).

[2021-11-02 12:56] #4868 closed

[2021-11-02 13:59] jonalmeida commented on #5752
Yes, there was a deployment issue on cloudops side from what I followed. We were able to resolve this once the patch was deployed along with [this change](https://github.com/mozilla-mobile/focus-android/pull/5754).

I think we can close this now?

[2021-11-02 14:16] sv-ohorvath commented on #5283
Seems like it was fixed by https://github.com/mozilla-mobile/focus-android/pull/5692.

[2021-11-02 14:17] sv-ohorvath commented on #5261
Open issue to fix this by Ionut: https://github.com/mozilla-mobile/focus-android/issues/5755

[2021-11-02 14:46] ionutbedregeanu commented on #5533
@LaurentiuApahideanSV If the crash can't be replicated and https://github.com/mozilla-mobile/focus-android/issues/5283 doesn't fail anymore I think we can close this ticket

[2021-11-02 17:58] mcarare commented on #5651
Note: This should also include the telemetry for Shortcuts, at the moment some of the old telemetry does not differentiate between the same actions(from notification or shortcuts)

[2021-11-03 08:14] mcarare opened #5762 "Crash in [@ android.content.res.Resources$NotFoundException: at android.content.res.Resources.loadDrawableForCookie(Resources.java)]"
## Steps to reproduce

Open Focus. Rotate screen. Crashes

### Device information

* Android device:  < 24
* Focus version:  94.1.1

Crash report: https://crash-stats.mozilla.org/report/index/d8338d68-24de-4830-9fdc-781670211103

[2021-11-03 08:16] lobontiumira opened #5763 "Update the screenshot from the Help SUMO page"
## Steps to reproduce
1. Install any version of Focus (Nightly, Beta 95.0.0-beta.1, or RC 94.1.1).
2. From the homescreen's three-dot menu, select Help and observe the screenshot of the Focus homescreen.

### Expected behavior
The screenshot of the homescreen is updated with the new UI.

### Actual behavior
The screenshot is not updated.

### Device information
* Android device: all
* Focus versio

[2021-11-03 08:20] lobontiumira commented on #5762
I was able to reproduce it with Beta 95.0.0-beta.1 build with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 08:21] mcarare commented on #5762
The crash is caused by the invalid <gradient> tag in the vector drawable.

[2021-11-03 09:11] mcarare commented on #5762
This can be tested on latest main. The fix will be uplifted to 95 after the QA check (Will be in Beta 95.0.0-beta.2 probably)

[2021-11-03 09:25] lobontiumira commented on #1640
This issue still reproduces on Beta 95.0.0-beta.1 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 09:28] lobontiumira commented on #5727
On Beta 95.0.0-beta.1 the issue is reproducible on Romana (Romanian) language with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 09:29] lobontiumira commented on #5679
On Beta 95.0.0-beta.1 the issue is reproducible on Romana (Romanian) language with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 09:44] pocmo commented on #5762
https://bugzilla.mozilla.org/show_bug.cgi?id=1739037

[2021-11-03 09:45] mcarare commented on #5762
Yes, That is where I opened this from. I will add a comment there once QA tests this.

[2021-11-03 10:06] lobontiumira commented on #5762
Verified as fixed on the latest debug build from main from 11/3 (build 11 GV 96.0a1-20211102094141) with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 10:07] #5762 closed

[2021-11-03 12:15] ionutbedregeanu commented on #5533
@jonalmeida Seems that @Mugurell still reproduce it, so I will let this ticket open

https://user-images.githubusercontent.com/11731652/140058107-2f00dca5-7079-4469-890a-84c9fedf8665.mp4

[2021-11-03 12:34] mcarare opened #5767 "Migrate the deprecated Kotlin Android Extensions compiler plugin"
Since Kotlin 1.4.20 `android-kotlin-extensions` is deprecated and it is to be removed ( [timeline](https://android-developers.googleblog.com/2020/11/the-future-of-kotlin-android-extensions.html) is after September 2021 Kotlin release).

Migration guide: https://developer.android.com/topic/libraries/view-binding/migration.

Note for QA:  A smoke test through the entire app is required to test this

[2021-11-03 12:57] rvandermeulen commented on #5762
Please backport to the v94 branch as well so we can get it in a dot release.

[2021-11-03 13:57] #5728 closed

[2021-11-03 14:23] AaronMT commented on #5594
@jonalmeida Checking in with this one since it pops up daily I our UI test suite. It looks like @AndiAJ has STR above, is that what we were looking for on this one?

[2021-11-03 14:27] AaronMT commented on #5283
This still happens daily in the suite.

[2021-11-03 14:43] sv-ohorvath commented on #5283
Let's close this as it was opened specifically for the crash and keep tracking the new failure in https://github.com/mozilla-mobile/focus-android/issues/5261

[2021-11-03 15:30] flodolo commented on #5305
@mcarare
I don't understand. QA [reported issues](https://github.com/mozilla-mobile/focus-android/issues/5305#issuecomment-916916082) for several top locales. Why would you need more reports?

Having a menu that is not understandable is worse than having a menu that might potentially look worse.

[2021-11-03 15:49] cadeyrn commented on #5305
It was not considered as a problem in Fenix. Why is it a problem in Focus? 🤔

Since one of the screenshots show a German menu: In the largest German speaking Firefox support forum there was not one user who didn't understand a menu item or complained about a few truncated characters, neither for Fenix nor for Focus. And in Fenix more menu items are truncated than in Focus.

[2021-11-03 15:49] lobontiumira commented on #5624
I was able to reproduce this on Beta 95.0.0-beta.1 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-03 15:58] flodolo commented on #5305
If there is a technical way to avoid truncation, why shouldn't we take advantage of it? BTW, according to internal feedback, iOS does wrap menu items.

It's great if the issue doesn't affect you, but there are other languages out there. The first screenshot (which I'm aware doesn't match the current version, where the panel is larger), cannot be understood at all in Italian.

[2021-11-03 16:00] mcarare commented on #5305
I meant reports from users. Like was already mentioned, I am not aware of any compliant from a Fenix user.

[2021-11-03 19:07] st3fan commented on #5305
We don't need complaints before we change something. We can simply decide that something is not meeting our quality standards and then make it better.

[2021-11-03 20:08] Amejia481 commented on #5738
This landed on https://github.com/mozilla-mobile/focus-android/commit/96812489c3687e97a0bfcf1016f9555b7cf4f252 we can re-test now.

[2021-11-04 08:11] lobontiumira commented on #4400
Reproducible on Beta 95.0.0-beta.1 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-04 09:46] delia-pop commented on #5632
Tested on Beta 95.0.0-beta.1 build and latest debug build from main 11/04 with Huawei P9 Lite (Android 8).

The issue is verified fixed on the **debug** build. With the debug build set as default browser, on both browser page and custom tab the suitable applications to open the page with are displayed: chrome, beta build and the debug build itself.

@ionutbedregeanu Please note that with the **Bet

[2021-11-04 10:45] softvision-oana-arbuzov opened #5774 ""Trash" icon overlaps "Next" button in "Report user" page on YouTube"
## Prerequisites
Signed into YouTube.

## Steps to reproduce
1. Navigate to https://m.youtube.com/channel/UCIZ_Rkmnzdu7Ow7dGK-go4g/about?openChannelReportingDialog=1#menu
2. Observe the bottom right side of the page.

### Expected behavior
No elements are overlapped.

### Actual behavior
The "Trash" icon overlaps "Next" button.

### Device information

* Android device: Google Pixel 5 (Android 11)

[2021-11-04 12:36] lobontiumira opened #5775 "Unsafe pages load with a white lock icon, on light theme on Android 5 devices"
## Steps to reproduce
1. Install Focus on an Android 5 device.
2. Load an unsafe page, like
* https://itisatrap.org/firefox/its-a-trap.html
* https://itisatrap.org/firefox/its-an-attack.html
* https://itisatrap.org/firefox/unwanted.html
* https://itisatrap.org/firefox/harmful.html
3. Observe the lock icon from the URL bar.

### Expected behavior
The lock icon is black, and visible.

### Actual beh

[2021-11-04 13:00] lobontiumira commented on #4427
This issue no longer reproduces on the latest builds: beta 95.0.0-beta.1, RC 94.1.1.

[2021-11-04 13:00] #4427 closed

[2021-11-04 13:07] delia-pop commented on #5720
Tested on Beta 95.0.0-beta.1 build and latest debug build from main 11/04 with Huawei P9 Lite (Android 8)/Sony Xperia Z5 (Android 7)/OnePlus 6T (Android 9).

The issue is verified fixed on the debug build with OnePlus 6T (Android 9) on both Portrait and Landscape modes.
However, on Huawei P9 Lite (Android 8), horizontal typing is still not dismissing the context menus on Portrait mode. This might

[2021-11-04 13:13] lobontiumira opened #5776 "On Android 5, about:crashcontent doesn't trigger the "close tab" page"
## Steps to reproduce
1. Open a site, let it load fully, then type about:crashcontent.

### Expected behavior
The "Sorry. We're having problems with this tab.As a private browser, we never save and cannot restore this tab." messages are displayed."Send crash report to Mozilla" checkbox (checked by default)."Close tab" button. page is displayed.

![Screenshot_3](https://user-images.githubuserconten

[2021-11-04 13:22] lobontiumira opened #5778 "about:crashcontent doesn't work on the "child" page"
## Steps to reproduce
1. Open cnn.com in a tab.
2. Long-tap on a link, select to open in a new tab.
3. Switch to the new tab.
4. Insert about:crashcontent in the URL field.

### Expected behavior
The "Sorry. We're having problems with this tab.As a private browser, we never save and cannot restore this tab." messages are displayed."Send crash report to Mozilla" checkbox (checked by default)."Close

[2021-11-04 13:50] delia-pop opened #5779 "Visual defect observed when opening the Tabs Manager"
## Steps to reproduce
1. Open several pages on Firefox Focus.
2. Tap on the Tabs manager.
3. Notice the shadow flicker displayed as the tabs manager opens.

### Expected behavior
The tab manager should open without any visual effects.

### Actual behavior
A shadow flicker can be observed as the tab manager opens, on both Light/Dark Theme.

Might relate #4878.
### Device information
* Android devic

[2021-11-04 13:51] mcarare commented on #5239
@lobontiumira Can you test the behaviour on another test site? some of the links do not work as expected, neither on Focus, Fenix or other browsers with safe browsing.

https://testsafebrowsing.appspot.com/ for example.

Thank you!

[2021-11-04 15:16] delia-pop commented on #5630
Verified as fixed on the latest debug build from main 11/04 with Huawei P9 Lite (Android 8).

Please note that the issue is Still Present on the Beta 95.0.0-beta.1 build.

![Color](https://user-images.githubusercontent.com/89388888/140344399-5a855794-ee63-4ffc-b167-7b2c164db83b.PNG)

[2021-11-04 15:48] ionutbedregeanu commented on #5743
I took a look in Fenix to see how it was implemented the Autoplay feature and I noticed that we are using SitePermissionsFeature component.
In order to use SitePermissionsFeature in Focus we need to add some additional functionality which is not necessarily helpful because we just want to block everything related to autoplay, without user input

Also from this discussion https://bugzilla.mozilla.o

[2021-11-04 16:05] jonalmeida commented on #5752
Closing because nightly builds are back to normal.

[2021-11-04 16:05] #5752 closed

[2021-11-04 16:36] jonalmeida commented on #5776
Looks like a colour resource isn't resolved during the `about:crashcontent` which is what crashes the app:

[code]

[2021-11-04 17:48] jonalmeida opened #5781 "RequestException Error sending request: The rust-components network backend must be initialized before use"
https://sentry.prod.mozaws.net/operations/focus-android-nightly/issues/14541587/?query=is%3Aunresolved

[code]

[2021-11-04 17:59] jonalmeida commented on #5781
We didn't need to do `RustHttpConfig.setClient(lazy { components.core.client })` before when using Glean because we were providing the [HttpClient directly](https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozilla/focus/telemetry/GleanMetricsService.kt#L68) to it.

With Nimbus, it seems like we need to use the `RustHttpConfig` way.

[2021-11-04 18:38] jonalmeida commented on #5781
Native components don't see to support private connections. I'm not sure what the value would be out of this for things like Nimbus.
[code]

For now, using an unwrapped client.

[2021-11-04 19:33] #5781 closed

[2021-11-04 20:16] amedyne opened #5785 "Telemetry: Tab count when app goes to the background"
This ticket is to collect/record the number of tabs open when the app goes to the background.

[2021-11-04 20:42] Amejia481 commented on #5743
👋🏽 @ionutbedregeanu

In case, you want to give a global value for a permission you could use `SitePermissionsFeature.sitePermissionsRules`,
with it you can control how a permission should behave globally by default behavior on each page:

For example:

If you want to **block** `autoplayAudible` and **allow** `autoplayInaudible` (This is the recommended default value as blocking both could cause so

[2021-11-05 05:55] AndiAJ opened #5787 "Intermittent UI test failure - < SettingsTest. verifyMozillaMenuTest >"
### Firebase Test Run:
Failed on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/bs.fda8253e69144b7f/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/b

[2021-11-05 05:58] AndiAJ opened #5788 "Intermittent UI test failure - < SettingsTest. verifyGeneralSettingsMenuTest >"
### Firebase Test Run:
Failed on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/bs.8b98c46b592bab5f/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/b

[2021-11-05 06:01] AndiAJ opened #5789 "Intermittent UI test failure - < SetDefaultBrowserTest.changeDefaultBrowserTest>"
### Firebase Test Run:
Failed on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/bs.ce3d3e71c67628ec/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/b

[2021-11-05 06:03] AndiAJ commented on #5590
Crashed again on 11/4 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5278022112031714428/executions/bs.d828fd8c97058e9/testcases/1/logs)

[2021-11-05 06:07] AndiAJ opened #5790 "Intermittent UI test failure - < MozillaSupportPagesTest. openAboutPageTest >"
### Firebase Test Run:
Failed on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/bs.cb2a426a33af6d2f/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/9132632964294850166/executions/b

[2021-11-05 06:08] AndiAJ commented on #5261
Failed again on 11/04 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5278022112031714428/executions/bs.7e39e5723feca141/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5278022112031714428/executions/bs.5bce174f4967

[2021-11-05 06:10] AndiAJ commented on #5261
Flaky 1x on 11/4 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8051717352779090592/executions/bs.4fc1f2b72c2695f2/testcases/1/logs)

[2021-11-05 06:28] AndiAJ opened #5791 "Intermittent UI test failure - < EraseBrowsingDataTest.trashButtonTest>"
### Firebase Test Run:
Crashed on 11/04 Beta [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.816ea1097e1f8eea/matrices/6437334817384491805/executions/bs.6008d3f05019d510/testcases/1/logs)

### Stacktrace:

11-04 12:52:55.683: E/mozac/CrashReporter(8235): CrashHandlerService received native code crash
11-04 12:52:55.687: W/InputDispatcher(2073)

[2021-11-05 06:30] AndiAJ commented on #5788
Failed again on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.582ec023e1d42624/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.c820f29179ca865

[2021-11-05 06:30] AndiAJ commented on #5787
Failed again on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.2134af78256896de/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.3629c57384f02ab

[2021-11-05 06:30] AndiAJ commented on #5789
Failed again on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.3d38cd43b3e46f4b/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.2d2d5b0fc1503ed

[2021-11-05 06:30] AndiAJ commented on #5790
Failed again on Nightly 11/4
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.3ddb862bbf31397b/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/8130042195649987749/executions/bs.ddf17da9cc9cfa7

[2021-11-05 06:31] AndiAJ commented on #5787
Failed again on Nightly 11/5
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.e65cf841000697e1/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.b863929a3b70b9e

[2021-11-05 06:33] AndiAJ commented on #5788
Failed again on Nightly 11/5
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.dd153e0812b3b40a/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.884ddb6952ab070

[2021-11-05 06:33] AndiAJ commented on #5789
Failed again on Nightly 11/5
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.b3b5ad746807030f/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.5f5b2ffd4ebf687

[2021-11-05 06:35] AndiAJ commented on #5790
Failed again on Nightly 11/5
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.4fe2b04af48cf482/testcases/1)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.99d37f16502bd2e2/matrices/5942929985767786832/executions/bs.a7a10ed20b2ea21

[2021-11-05 06:54] lobontiumira commented on #5762
Verified as fixed on Beta 95.0.0-beta.3 with Samsung Galaxy Tab A6 (Android 5.1.1), and Xiaomi mi4i (Android 5.0.2).

[2021-11-05 07:56] lobontiumira commented on #5738
Reproducible on Beta 95.0.0-beta.3, and on the latest debug build from main, with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-05 09:41] sv-ohorvath commented on #5623
@mcarare can you reproduce it on a Pixel 2, Android 9 emulator (or physical device)?
Also reproducing on a Huawei P9 lite (Android 8).

[2021-11-05 09:46] mcarare commented on #5623
@sv-ohorvath I can reproduce it on a Huawei P10 device (Android 10). But that same issue is present on multiple apps on that device. Will add this to the backlog.

[2021-11-05 10:12] sv-ohorvath commented on #5755
The test was fixed and re-enabled in https://github.com/mozilla-mobile/focus-android/pull/5771

[2021-11-05 10:12] #5755 closed

[2021-11-05 10:12] sv-ohorvath commented on #5261
The test was fixed and re-enabled in https://github.com/mozilla-mobile/focus-android/pull/5771

[2021-11-05 10:12] #5261 closed

[2021-11-05 10:26] lobontiumira commented on #5239
I tested on the pages mentioned by you, Mihai, and on the pages from comment 0, and everything works as expected on the Beta 95.0.0-beta.3, on RC 94.1.1 and on the latest debug build from main from 11/5, with Sony Xperia Z5 (Android 7.1.1), OnePlus 5T (Android 10), Samsung Galaxy Tab a6 (Android 5.1.1), and Samsung Galaxy Note 8 (Android 9).

[2021-11-05 10:26] #5239 closed

[2021-11-05 10:29] delia-pop commented on #1640
The issue could also be reproduced on Beta 95.0.0-beta.3 with Huawei P9 Lite (Android 8).
"Nv" is displayed in the language list after setting the "Aimara" language.

![Capture](https://user-images.githubusercontent.com/89388888/140496873-2f856ead-697e-4f2a-bf81-d294bd1908c6.PNG)

[2021-11-05 11:09] sv-ohorvath opened #5794 "App crashes on clearing browsing data"
## Steps to reproduce
Caught in 2 cases by UI tests.
1. https://github.com/mozilla-mobile/focus-android/issues/5791
The steps the test makes are:
1. Opens a webpage
2. Taps the trash icon button.

2. https://github.com/mozilla-mobile/focus-android/issues/5590
The steps the test makes are:
1. Changes search engine to DuckDuckGo
2. Does a search with DuckDuckGo
3. Erases browsing history.
4. Changes

[2021-11-05 11:12] sv-ohorvath commented on #5590
Logged a bug for investigation: https://github.com/mozilla-mobile/focus-android/issues/5794

[2021-11-05 11:12] sv-ohorvath commented on #5791
Logged a bug for investigation: https://github.com/mozilla-mobile/focus-android/issues/5794

[2021-11-05 11:13] #5787 closed

[2021-11-05 11:13] #5788 closed

[2021-11-05 11:13] #5789 closed

[2021-11-05 11:13] #5790 closed

[2021-11-05 12:18] AndiAJ commented on #5283
Reopening,

Failed again 1x on 11/04 Main after #5771 got merged
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5278022112031714428/executions/bs.7e39e5723feca141/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/52780221

[2021-11-05 12:19] AndiAJ commented on #5283
Failed 1x on 11/5 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8591947489130463494/executions/bs.9ee128db0964ed16/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8591947489130463494/executions/bs.2122465931f23050

[2021-11-05 12:22] sv-ohorvath commented on #5533
The UI test is also crashing again: https://github.com/mozilla-mobile/focus-android/issues/5283#issuecomment-961849311

[2021-11-05 12:25] delia-pop commented on #5527
The issue could also be reproduced on Beta 95.0.0-beta.3 with Huawei P9 Lite (Android 8).

![Screenshot_20211105-130224](https://user-images.githubusercontent.com/89388888/140509888-5dd919df-4db2-4935-b44d-5853a68fc98d.jpg)

[2021-11-05 13:22] #5572 closed

[2021-11-05 13:23] pocmo opened #5795 "Replace "multiple tabs" with Nimbus experiment"
Feature Flag: https://github.com/mozilla-mobile/focus-android/issues/5572

This feature should be controlled by a Nimbus experiment instead of a static feature flag.

[2021-11-05 13:32] lobontiumira opened #5796 "[Android 5] "Erase browsing history" option from the notification does nothing"
## Steps to reproduce
1. Install the latest debug build from main from 11/5 on an Android 5 tablet.
2. Open the app, open a page.
3. Scroll the notification, and tap on the Erase browsing history.

### Expected behavior
The app is closed, the notification is dismissed.

### Actual behavior
The app is closed, but the notification is still displayed.

### Device information
* Android device: Samsung

[2021-11-05 13:54] lobontiumira commented on #5601
Verified on the latest debug build from main from 11/5 with OnePlus 5T (Android 10):
* the Studies option is displayed in Data Choices section, below "Send usage data",
* the Studies are set to OFF by default,
* tapping on the toggle triggers the "Studies The application will quit to apply changes" prompt, with the CANCEL, and OK options,
* enabling/disabling the toggle, closes the app,
* tapping

[2021-11-05 14:39] lobontiumira commented on #5648
Verified as fixed on the latest Focus Nightly build from main from 11/5 with OnePlus 5T (Android 10).

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111050001)

* navigation_toolbar_action:
[code]
[code]
[code]
* browser_menu_action:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
* custom_tab_toolbar:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code

[2021-11-05 14:39] #5648 closed

[2021-11-05 14:44] lobontiumira commented on #5652
Verified as fixed on the latest Focus Nightly 95.0 (build 353091620 - GV 96.0a1-20211104094642) with OnePlus 5T (Android 10):
Glean ping to URL: /submit/org-mozilla-focus-nightly/events/1/7551a74b-7943-45a3-a778-8ac114c22b1c
[code]
[code]

Glean dashboard

[2021-11-05 14:44] #5652 closed

[2021-11-05 15:23] LaurentiuApahideanSV commented on #5668
I tested the issue on the latest debug build from main 2021-11-05. The Studies section is present in Focus, but empty. I'll leave this issue open until the issues regarding the displaying of Studies are fixed at which point the issue will be retested.

### Devices used:
- Oppo Find X3 (Android 11)
- OnePlus 6T (Android 9
![1636125484219](https://user-images.githubusercontent.com/50983519/140535192

[2021-11-05 15:51] LaurentiuApahideanSV commented on #5714
I tested the issue on the latest debug build from main 2021-11-05 and checked the menu options from the following sections: Exceptions, Chose search engine and Manage sites.
![Menu options](https://user-images.githubusercontent.com/50983519/140539481-f3da86b0-afdd-423a-bcfe-3b77a244812a.png)
### Devices used:
- OnePlus 6T (Android 9)
- Oppo Find X3 (Android 11)

[2021-11-05 17:50] pocmo commented on #5796
Removing the app should have triggered `SessionNotificationService.onTaskRemoved()` which should stop the notification 🤔

[2021-11-05 21:13] SeburoSUMO commented on #5763
Please can you assign this to me?  I can rectify this issue myself in Kitsune.

[2021-11-05 21:36] SeburoSUMO commented on #5763
An edit has been made and is awaiting review.

[2021-11-05 23:10] SeburoSUMO commented on #5763
Edit has been reviewed and is now live.

[2021-11-05 23:39] amedyne commented on #5763
Closing per @SeburoSUMO 's confirmation.

[2021-11-05 23:39] #5763 closed

[2021-11-07 14:34] Guest126 commented on #304
I believe this bug has been fixed in a recent update (Firefox Focus 94 or later?). Please check it.

[2021-11-07 14:34] Guest126 commented on #2789
I believe this bug has been fixed in a recent update (Firefox Focus 94 or later?). Please check it.

[2021-11-08 07:52] #5714 closed

[2021-11-08 08:25] lobontiumira commented on #5763
Verified as fixed on the 95.0 Focus Nightly build with Lenovo Tab M10 (Android 10).

[2021-11-08 08:57] AndiAJ opened #5807 "Intermittent UI test failure - < SafeBrowsingTest. verifyPageSecurityIconAndInfo >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.816ea1097e1f8eea/matrices/7554319545464611271/executions/bs.a18e2db6bf0fb7a1/testcases/1)

### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:86)
	at org.junit.Assert.assertTrue(Assert.java:41)
	at org.junit.Assert.assertTrue(Assert.java:52)
	at

[2021-11-08 08:58] AndiAJ opened #5808 "Intermittent UI test failure - < SafeBrowsingTest. unblockSafeBrowsingTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.816ea1097e1f8eea/matrices/7554319545464611271/executions/bs.969e5d9851d91251/testcases/1)
### Stacktrace:
java.lang.AssertionError
	at org.junit.Assert.fail(Assert.java:86)
	at org.junit.Assert.assertTrue(Assert.java:41)
	at org.junit.Assert.assertTrue(Assert.java:52)
	at o

[2021-11-08 08:59] AndiAJ opened #5809 "Intermittent UI test failure - < MediaPlaybackTest. testVideoPlayback >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.816ea1097e1f8eea/matrices/7554319545464611271/executions/bs.7965f1a825390040/testcases/1)
### Stacktrace:
androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[TEXT=Pause]
	at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
	at org.mozilla.focus.activi

[2021-11-08 10:21] leithouse commented on #5701
This has been an issue for about a month now. What happens is that when Focus opens a page there is a location bar at the top of the screen, and then statically positioned content is rendered at the bottom of the page. However, when you start scrolling down, the location bar at the top goes away and the statically positioned content at the bottom of the page moves up the same number of pixels that

[2021-11-08 12:31] Guest126 commented on #304
I have confirmed that:
- Focus v8.17.1 (GeckoView v90.0) reproduce this issue
- Focus v91.1.0 (GeckoView v91.0) does not reproduce this issue

[2021-11-08 12:55] ionutbedregeanu commented on #5601
@amedyne @channingcarter Seems that https://support.mozilla.org/1/mobile/\(AppInfo.appVersion)/Android/\(languageIdentifier)/studies doesn't exist.
We are using the correct url?
I noticed that in Fenix  is used https://support.mozilla.org/en-US/kb/how-opt-out-studies-firefox-android which is working.

[2021-11-08 13:17] delia-pop opened #5812 "[L10N] [95.0.0-beta.3] Block cookies options are incorrectly displayed in Portuguese(Brazilian)."
## Steps to reproduce
1. Change your device language to Portuguese(Brazilian).
2. Go to Settings->Privacy & Security->Cookies and Site Data.
3. Tap on "Block cookies" Notice the options.

### Expected behavior
The "Bloquear somente" words from the 3rd option string should be displayed on the same row, consistent with the second option, since they have the same first words.

### Actual behavior
The

[2021-11-08 13:19] ionutbedregeanu commented on #5632
I don't think we should show even the current browser in Open in list. We should log a bug for that.

[2021-11-08 14:07] Amejia481 commented on #5601
@ionutbedregeanu  we recently got a patch on Fenix for fixing the link issue, you can take a look at https://github.com/mozilla-mobile/fenix/commit/1809bea49d8d1de61107de8f2273378b9ff779d1

[2021-11-08 14:34] delia-pop opened #5813 "[L10N] Firefox Focus crashes when reaching the last carousel tip on Russian"
## Steps to reproduce
1. Change your device language to Russian.
2. Open Focus, scroll through the carousel tips, until the last one.
3. Observe that the application will crash after the 4th scroll without displaying the last tip.

### Expected behavior
The application should remain stable at all times.

### Actual behavior
The application crashes when reaching the last carousel tip.

### Device i

[2021-11-08 15:26] delia-pop opened #5816 "[L10N] Incorrect linked text for the first carousel tip in Japanese"
## Steps to reproduce
1. Change the device language to Japanese.
2. Launch Firefox Focus
3. Observe that the 1st carousel tip.

### Expected behavior
The first character from the second string is also displayed as hyperlink.

### Actual behavior
The first character from the second string is not displayed as linked text.

### Device information
* Android device: Huawei P9 Lite (Android 8).
* Focus

[2021-11-08 20:22] mcomella opened #5818 "Update Nightly download path from TaskCluster for backfill.py"
Our [backfill.py script](https://github.com/mozilla-mobile/perf-tools/blob/main/backfill.py) for measuring performance tests pulls focus builds from taskcluster. The path to builds seems to have changed on 11/5, causing the downloads, and thus the performance tests, to fail. Here are the paths:
- Old: https://firefox-ci-tc.services.mozilla.com/api/index/v1/task/mobile.v2.focus-android.nightly.2021

[2021-11-08 20:26] jonalmeida commented on #5813
Sentry link: https://sentry.prod.mozaws.net/operations/focus-android-beta/issues/14710034/?query=is%3Aunresolved

[2021-11-09 07:28] ionutbedregeanu commented on #5743
Note for QA: As Arturo said we can't set as blocked at this moment both permissions, autoplayAudible and autoplayInaudible, so I set only the autoplayAudible

[2021-11-09 07:41] ionutbedregeanu commented on #5700
I will close this ticket since is duplicated by https://github.com/mozilla-mobile/focus-android/issues/5795

[2021-11-09 07:41] #5700 closed

[2021-11-09 08:33] lobontiumira commented on #5762
Verified as fixed on RC 94.1.2 too, with Samsung Galaxy Tab A6 (Android 5.1.1), and Xiaomi mi4i (Android 5.0.2).

[2021-11-09 09:09] lobontiumira opened #5821 "[android 5] The default search engine isn't greyed out when removing search engines"
## Steps to reproduce
1. On an Android 5 device, install Focus.
2. Go to Settings - Search - three dot menu - select Remove.
3. Select a search engine to remove, and observe the other search engine, especially the default one.

### Expected behavior
The default search engine is greyed out, and cannot be selected.

### Actual behavior
The default search engine is not greyed out.

### Device informa

[2021-11-09 09:35] mcarare commented on #5813
Added correction on Pontoon: https://pontoon.mozilla.org/ru/focus-for-android/mozilla-mobile/focus-android/app/src/main/res/values/strings.xml/?search=tip_request_desktop2&string=230886
cc: @Delphine

[2021-11-09 09:39] lobontiumira opened #5822 "A desktop mode page shortcut on the app's homescreen, doesn't open in desktop mode"
## Steps to reproduce
1. Open a page.
2. From the three-dot menu, enable the Desktop site toggle.
3. Add the page as a shortcut.
4. Add the page to the homescreen.
5. Clear the history.
6. Tap on the shortcut, and observe if the page is still displayed in desktop mode.
7. Exit the app, and open the shortcut from the device's homescreen and observe if the page is still displayed in desktop mode.

#

[2021-11-09 09:46] pocmo commented on #5813
I am not sure if we have setup the string uplift automation here. Maybe we should just nuke this string from the beta branch.

[2021-11-09 10:00] softvision-raul-bucata opened #5823 "The page menu bar does not stay stuck to the footer of the page if scrolling is performed at npr.org"
## Steps to reproduce
1. Access : https://www.npr.org/?t=1636451687272
2. Scroll the page
3. Observe the bottom menu navigation bar

### Expected behavior
The menu bar has a fixed position

### Actual behavior
The menu bar changes the position

### Device information

* Android device: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi density)
* Focus version: Firefox Focus

[2021-11-09 10:28] delia-pop opened #5824 "The current debug build is displayed in the "Open in..."/Share list"
## Prerequisites
Make sure you have at least two Firefox Focus builds installed, from which one of the must be a debug build.

## Steps to reproduce
1. Install the latest debug build from main
2. Open a page, and from the three-dot menu select the "Open in..." option/Share.
3. Or tap on a link and select "Share link"
3. Observe the installed apps displayed in the "Open in..."/Share/"Share link" di

[2021-11-09 12:09] lobontiumira commented on #5687
This issue still reproduces on RC 94.1.2 with Samsung Galaxy Tab A6 (Android 5.1.1), and Xiaomi mi4i (Android 5.0.2):

![Screenshot_2021-11-09-14-06-28-688_org mozilla focus](https://user-images.githubusercontent.com/40694158/140921728-5becb05e-867e-46d9-8c0a-4694364c44c9.png)

[2021-11-09 12:27] lobontiumira commented on #5824
Reproducible with Samsung Galaxy Tab A6 (Android 5.1.1) on RC 94.1.2 too.

[2021-11-09 12:42] lobontiumira commented on #5796
Reproducible also on RC 94.1.2.

[2021-11-09 12:43] mcarare commented on #5623
For QA: Please test this on more devices so we can catch any potential edge cases that could still remain.

[2021-11-09 12:55] lobontiumira commented on #5776
Reproducible on RC 94.1.2 also, with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-09 12:56] lobontiumira commented on #5778
Reproducible on RC 94.1.2 also, with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-09 12:58] lobontiumira commented on #5824
Reproducible on RC 94.1.2 also, with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-09 13:56] jgtoriginal commented on #5813
the error is on the translation file missing an `s` on it's dynamic content.

<img width="1201" alt="image" src="https://user-images.githubusercontent.com/1785392/140936794-30a36738-7855-4389-a550-8d0d6f25a42e.png">

[2021-11-09 13:57] ionutbedregeanu commented on #5744
I didn't succeed to reproduce it on  Focus 95
Device Pixel 3a API 30

[2021-11-09 14:12] sv-ohorvath commented on #5283
Crashed on 11/8: [logs](https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5631991403809434456/executions/bs.a306f6f9db983266))

[2021-11-09 14:35] ionutbedregeanu commented on #5744
@LaurentiuApahideanSV Since you didn't succeed to reproduce it on 94 and me neither on 95 I will close this ticket

[2021-11-09 14:35] #5744 closed

[2021-11-09 15:50] Delphine commented on #5813
I've approved the string in Pontoon (thanks mcarare!)
This should be fixed with latest Pontoon sync (so, within next 10min).

@pocmo: can you confirm if there are multiple betas for Focus Android, and that l10n udpates get in with each beta (like in Fenix?). I thought that was the case, but want to make sure I understand your comment, thanks!

[2021-11-09 16:10] amedyne opened #5829 "Implement new design for Trash Icon and Tabs"
This ticket is to implement the design changes for the Trash Icon location and the number of tabs indicator.

Figma designs here: https://www.figma.com/file/8Xyk89M3lk8n2c5aP79AHh/Delete-Action?node-id=2522%3A7249

This should help address and answer the following:
https://github.com/mozilla-mobile/focus-android/issues/5774
https://github.com/mozilla-mobile/focus-android/issues/5757
https://github

[2021-11-09 16:31] amedyne opened #5831 "about:config support"
Per discussions with Product. We are keeping support for about:config on Nightly, but disable it on Production.
This ticket is to disable support for about:config on production.

Some related tickets:
https://github.com/mozilla-mobile/focus-android/issues/4317

[2021-11-09 20:42] jgtoriginal commented on #5794
can't reproduce manually either. it must be something to do with the timing of your testing script execution.

[2021-11-10 08:40] ionutbedregeanu opened #5837 "Add Autoplay in site permissions settings"
### Discussed in https://github.com/mozilla-mobile/focus-android/discussions/5830
### Why/User Benefit/User Problem
At this moment Focus blocks only audible videos without user interaction
### What / Requirements
Provide Autoplay  site permission settings for end users on Focus.

#### Figma resource(Fenix):
[[<image src="https://user-images.githubusercontent.com/1370580/141004458-838eccd7-c194-446

[2021-11-10 08:47] lobontiumira commented on #5305
As per discussion we had, the decision was to leave the menus truncated for now.
I will close this issue.

[2021-11-10 08:47] #5305 closed

[2021-11-10 10:56] delia-pop commented on #5630
Please note that the issue is Still Present on the Beta 95.0.0-beta.4 (Build 353140212 GV 95.0-20211109194756).

[2021-11-10 11:08] AndiAJ commented on #5809
Flaky 1x on 11/9 Beta [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.816ea1097e1f8eea/matrices/7527572025514618013/executions/bs.e4f462df1cb646ed/testcases/1)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[TEXT=Pause]
at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
at org.mozilla.focus.activity.robots.BrowserR

[2021-11-10 11:09] AndiAJ commented on #5283
Flaky 1x on 11/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/6116913184953430787/executions/bs.a5e469e09664cd11/testcases/1/logs)

Failed 1x on 11/9 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5145668493185678677/executi

[2021-11-10 11:10] AndiAJ commented on #5590
Crashed 1x on 11/9 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/5145668493185678677/executions/bs.3f9fd2d84812e8b9/testcases/1/logs)

[2021-11-10 11:12] AndiAJ commented on #5283
Failed 1x on 11/10 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/7348234018713395007/executions/bs.7bd4ab56c35b6f9a/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/7348234018713395007/executions/bs.d1eb9ec5451783f

[2021-11-10 11:42] kelimuttu opened #5838 ""Restore default search engines" option should be renamed to avoid confusion"
## Steps to reproduce
* Go to Settings -> Search -> Search engine
* Chage your search engine to something else than the default
* Click the three dots menu
* Choose Restore default search engines

### Expected behavior
Default search engine changed to default

### Actual behavior
Nothing changed

### Device information

* Android device: Huawei P30 Pro, Android 10
* Focus version: 94.1.2

[2021-11-10 11:59] kelimuttu commented on #5741
We've seen a request to have this feature from the [Google Play Store](https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOF8Wl5M-rLQ1uCttb8G0E79btdR0BvyDbWbYv72dJJDarqJNMWOSyrSl6Lm3HLHYVagclUnr_t3qNROtFU).

[2021-11-10 12:38] RandomUser0815 opened #5841 "[Bug][crash] android.content.ActivityNotFoundException: No Activity found to handle Intent"
### Steps to reproduce

1. Use Android 9 with a Motorola G6 Play
2. Create a second User profile for example using the Shelter App.
3. Install the latest "Firefox klar" 94.1.2 beta.
4. Open Firefox on the second profile
5. Open a website
6.  Use "oeffnen mit" and choose "Personal profile"
7. Expect Firefox Klar crashing.

### Expected behaviour

No Crash. The website should be opened in the contex

[2021-11-10 13:55] mcarare commented on #5838
AFAIK the option is supposed to restore the default search engine list. That is, removing any added custom engines and adding deleted search engines. It has nothing to do with changing the user-selected search engine.

Maybe the option text adds to the confusion.

[2021-11-10 13:58] mcarare opened #5840 "Migrate telemetry related to enabling/ disabling search suggestions."
Migrate / Add telemetry for users enabling / disabling search suggestions.
The source of the change can be the prompt or the settings option in the "search" group.

[2021-11-10 14:28] delia-pop opened #5842 "[L10N] "Your Rights" page cannot be scrolled on certain languages."
## Steps to reproduce
1. Change your device language to Russian, Spanish.
2. Go to Settings->Mozilla->Your Rights.
3. Try scrolling down on the page on Portrait mode.

### Expected behavior
The use can scroll on the page, to display the entire text.

### Actual behavior
On certain languages, extra rows are added, and the text does not fit on the page. The page cannot be scrolled on Portrait mode.

[2021-11-10 14:47] delia-pop commented on #5816
The issue is also present on the Beta 95.0.0-beta.4 (Build 353140212 GV 95.0-20211109194756).

[2021-11-10 14:49] delia-pop commented on #5813
Please note that the crash is also present on the Beta 95.0.0-beta.4 (Build 353140212 GV 95.0-20211109194756).

[2021-11-10 14:56] jgtoriginal commented on #5813
the crash will be present on any other instance of the app the consumes the same translation resources.
so as soon as we move away from the broken translation file, they should be all fixed by that Pontoon fix.

[2021-11-10 15:09] lobontiumira opened #5844 "Cannot accept the cookies on some pages"
Steps to reproduce
1. Go to https://www.samsung.com/ro/smartphones/all-smartphones/?galaxy-z&cid=ro_ow_email_m-gc-eu_etc_teas_w45-20211109-serom-ro-ro-em-ah-prod-imd-sp-buy-foldables_other_creative2_no-segment&samid=0x076d26a70d30dcf936ea3e84caf3ec2be7939bedbf3311a156ac0cbb5a0ec95a, and accept the cookies by tapping on the blue button from the right bottom of the page.

### Expected behavior
The c

[2021-11-10 15:30] kelimuttu commented on #5838
That makes sense. I definitely didn't expect that. In that case, just a minor fix on the text should be sufficient.

[2021-11-10 20:20] Delphine commented on #5398
Has there been any decision made about this? Thanks!

[2021-11-10 20:59] Delphine commented on #5388
I don't see that these have ever been localized. I think we can close this (I can't close the issue myself) - unless anyone has any other thoughts

[2021-11-10 21:22] Delphine commented on #5816
@marsf : Hi! Is this something you can fix in Pontoon? Otherwise let me know so we can find a fix. thanks!

[2021-11-10 22:19] marsf commented on #5816
@Delphine : At least, It cannot be fixed in Pontoon.

Pontoon:
https://pontoon.mozilla.org/ja/focus-for-android/all-resources/?string=230880

Github source code:
https://github.com/mozilla-mobile/focus-android/blob/e37d4c3ddec02b19b4963139ff54204f833664ff/app/src/main/res/values-ja/strings.xml#L752

However, IMO, adding a following space character after '\n' may resolve this issue. It is just for

[2021-11-10 22:33] jonalmeida opened #5847 "[Regression] 'Open in' no longer includes native third party apps"
## Steps to reproduce
1. Have the Github app installed.
2. Set Focus as your default browser.
2. Open a GitHub link from Gmail.
3. Observe it open a custom tab.
4. Click the three for menu and select 'Open In'.
5. Observe the list of apps available

### Expected behavior
- One of those apps should be the GitHub app.
- Same behaviour as 92 and prior.

### Actual behavior
- Only browser apps are see

[2021-11-10 22:34] jonalmeida commented on #5847
This is probably a regression from when we switched to the AC browsers list, we need to see what custom property Focus had to include supported third party apps in the list.

[2021-11-11 00:54] mcomella commented on #5818
PR: https://github.com/mozilla-mobile/perf-tools/pull/22

[2021-11-11 01:46] amedyne commented on #5305
@flodolo The discussion was in a meeting on Tuesday 11/09 with the Product Manager @channingcarter and the development team. The decision was to keep the current behavior for now as the requirements for wrapping or expanding width for the strings on the settings menu are being re-evaluated.

[2021-11-11 06:28] mcarare commented on #5388
Closing as per comment above.

[2021-11-11 06:28] #5388 closed

[2021-11-11 09:04] lobontiumira commented on #5623
Verified as fixed on the latest Focus Nightly build 95.0 (build 353151050 GV 96.0a1-20211110092453) with the following devices:
* Lenovo Tab M10 (Android 10),
* Google Pixel (Android 10),
* OnePlus 5T (Android 10),
* Sony Xperia Z5 Premium (Android 7.1.1),
* Samsung Galaxy Note 8 (Android 9),
* Samsung Galaxy Tab A6 (Android 5.1.1),
* HTC 10 (Android 8), and
* Xiaomi Mi8 Lite (Android 9).

[2021-11-11 09:24] lobontiumira commented on #5647
Verified as fixed on the latest Focus Nightly build from 11/11 with Google Pixel (Android 10).
Glean ping to URL: /submit/org-mozilla-focus-nightly/events/1/a4f41a81-085c-4f8e-953d-0cf85513ee0a
[code]
* open in private tab:
[code]
* save image:
[code]
* share image:
[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111110001)

[2021-11-11 09:24] #5647 closed

[2021-11-11 09:27] softvision-raul-bucata opened #5849 "The page goes blank after the initial load"
## Preconditions:
VPN set to the US or BRAZIL

## Steps to reproduce

1. Navigate to : https://www.americanas.com.br/produto/2116805661?utm_medium=afiliados&utm_source=aflb2w&utm_campaign=marca%3Aacom%3Bmidia%3Aafiliados%3Bformato%3A00%3Bsubformato%3A00%3Bidcampanha%3Aacom%3Bfranq%3A22193_1636577023_7517eefa56eb951213701a2693ff5914&utm_content=22193_1636577023_7517eefa56eb951213701a2693ff5914&epar

[2021-11-11 09:35] lobontiumira commented on #5649
Verified as fixed on the latest Focus Nightly build from 11/11 with Google Pixel (Android 10).
Glean ping to URL: /submit/org-mozilla-focus-nightly/events/1/be63b01f-6c8c-46a8-a5b3-21212df6a5ae
* custom tab toolbar - back:
[code]
* custom tab toolbar - forward:
[code]
* custom tab toolbar - stop:
[code]
* custom tab toolbar - menu action - find in page:
[code]
* custom tab toolbar - menu action -

[2021-11-11 09:35] #5649 closed

[2021-11-11 10:03] #5534 closed

[2021-11-11 10:47] lobontiumira opened #5851 "The options from app's shortcut don't work on Focus Nightly"
## Steps to reproduce
1. Install the 11/11 Focus Nightly 95.0 (build 353151018 GV 96.0a1-20211110092453).
2. Long-tap on the Focus icon from the device's homescreen.
3. Tap on the "Erase & open" option.

### Expected behavior
The app's history is erased, the app is opened.

### Actual behavior
Nothing happens. The app isn't opened.

[code]
### Device information
* Android device: Google Pixel (And

[2021-11-11 12:40] lobontiumira commented on #5651
Verified on the latest Focus Nightly 95.0 (build 353151018 GV 96.0a1-20211110092453) with Google Pixel (Android 10).
The events from the notification were generated successfully, but the ones from the app's shortcut are not - I've filed #5851.
@mcarare I'll remove the QAReady label for now.

Glean ping to URL: /submit/org-mozilla-focus-nightly/events/1/9ccb7bf3-2f06-49b2-9d38-441b139c1315
[code]
[

[2021-11-11 13:20] mcarare commented on #5851
@lobontiumira Does this happen on the latest main? I tested on an Android 10 Nokia and an Android 9 Huawei P10, and it works as expected.

[2021-11-11 13:49] sv-ohorvath opened #5854 "Update & re-enable erase browsing data UI tests"
Update tests disabled here https://github.com/mozilla-mobile/focus-android/pull/5852 due to changes to the erase browsing icon & tabs.

[2021-11-11 13:56] lobontiumira commented on #5851
@mcarare it works on the latest main from debug.

[2021-11-11 14:01] mcarare commented on #5851
Thanks for the confirmation,  added a fix for Nightly.

[2021-11-11 14:11] lobontiumira commented on #5753
Verified as fixed on the Focus Nightly build 95.0 (build 353151018 GV 96.0a1-20211110092453) with Google Pixel (Android 10):
* opening the exception list:
[code]
* removing an exception through the menu:
[code]
* removing an exceptions with "Remove all websites" button:
[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111110004)

[2021-11-11 14:11] #5753 closed

[2021-11-11 14:11] LaurentiuApahideanSV commented on #5743
I tested the issue on the latest debug build from main 2021-11-11.
I tested the following websites:
https://googlechrome.github.io/samples/muted-autoplay/
https://pauljadam.com/demos/autoplay-loop-muted-controls.html
https://video-dev.github.io/can-autoplay/
https://www.wired.com/story/watch-a-robot-dog-learn-how-to-deftly-fend-off-a-human/amp
Video with audio will not start auto playing only with

[2021-11-11 14:59] AndiAJ commented on #5283
Failed 2x on 11/11 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/9125667115077444020/executions/bs.ee64a254815b08b3/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/9125667115077444020/executions/bs.6207af474c806d6

[2021-11-11 15:11] lobontiumira opened #5857 "The prompt isn't dismissed after "Erase" option is selected"
## Steps to reproduce
1. Long-tap on the Focus icon from the device's home screen.
2. Select the "Erase" option from the prompt.

### Expected behavior
The prompt is dismissed.

### Actual behavior
The prompt is not dismissed, the user doesn't know if the history was cleared

[code]

### Device information
* Android device: Google Pixel (Android 10) - might be device specific
* Not reproducible on

[2021-11-11 15:41] ionutbedregeanu commented on #5738
@jeffreygee As Arturo suggested [here](https://github.com/mozilla-mobile/focus-android/pull/5827#pullrequestreview-802748007) I added a callback to know when the removing process ends and the navigation should be done to  Privacy & Security screen
But I'm not sure if a spinner should appears while the exceptions are removed because everything is almost instant and the spinner it will be like a fli

[2021-11-11 15:54] #5632 closed

[2021-11-11 16:40] pocmo commented on #304
Thank you for testing! 👍

[2021-11-11 16:40] #304 closed

[2021-11-11 18:11] #4317 closed

[2021-11-11 18:12] #4217 closed

[2021-11-11 18:13] #4320 closed

[2021-11-11 18:14] pocmo commented on #3745
Closing. Remote debugging is available in settings nowadays.

[2021-11-11 18:14] #3745 closed

[2021-11-11 18:15] #871 closed

[2021-11-11 18:59] TPS commented on #871
[about:config](about:config) can be accessed since a while ago.

[2021-11-11 20:15] amedyne commented on #5398
Per discussions and clarification with @channingcarter , On Focus Settings->Mozilla->Your Rights should route the user to the following: https://www.mozilla.org/en-US/about/legal/terms/firefox/

[2021-11-11 21:24] Delphine commented on #5727
I think we're blocked on import because of an error at this time: https://github.com/mozilla-mobile/focus-android/pull/5836
Once I can fix it, and the l10n import happens, this should be fixed.
Thanks!

[2021-11-11 21:24] Delphine commented on #5726
I think we're blocked on import because of an error at this time: #5836
Once I can fix it, and the l10n import happens, this should be fixed.
Thanks!

[2021-11-12 07:35] lobontiumira commented on #5851
Verified as fixed on the latest Focus Nightly 95.0 (build 353160913 GV 96.0a1-20211111045525) with Google Pixel (Android 10).

[2021-11-12 07:35] #5851 closed

[2021-11-12 07:41] lobontiumira commented on #5651
Verified as fixed on the latest Focus Nightly 95.0 (build 353160913 GV 96.0a1-20211111045525) with Google Pixel (Android 10).
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111120001)

[code]

[code]

[code]

[2021-11-12 07:41] #5651 closed

[2021-11-12 10:08] ionutbedregeanu opened #5862 "Add end callback to removeAllExceptions"
We need to add a callback to know when the process of removing all the exceptions was ended and avoid race conditions
Example of bug: https://github.com/mozilla-mobile/focus-android/issues/5738

[2021-11-12 11:42] mcarare commented on #5857
I do not think there is something we can do differently here. The menu is displayed by the launcher (based on the declared shortcuts for the app ) and it should be the one that handles the closing as well.

Note that `reportShortcutUsed` in `ShortcutManager` is not documented to be related to the closing behavior.

[2021-11-12 16:08] Delphine commented on #5305
Thanks for confirming Amedyne. Looking forwards to the re-evaluation!

[2021-11-13 11:23] dskmori commented on #5816
I'm not good at Kotlin programming, but this process seems to affect this issue.

https://github.com/mozilla-mobile/focus-android/blob/6ee1d1c88cd4382543d744c470a2321cc9628e2d/app/src/main/java/org/mozilla/focus/tips/TipsAdapter.kt#L48

I think "`+ 2`" creates inflexible behaviar.

[2021-11-15 12:35] AndiAJ commented on #5283
Failed 1x on 11/13 Main
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/4980119100069364138/executions/bs.a1ab58004ffc8a55/testcases/1/logs)
[Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/4980119100069364138/executions/bs.f3c3edcb2e989c4

[2021-11-15 12:57] AndiAJ opened #5871 "Intermittent UI test failure - < EnhancedTrackingProtectionSettingsTest. blockAnalyticsTrackersTest >"
### Firebase Test Run: [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/6579729636562874227/executions/bs.3b58dca832123915/testcases/1/test-cases)

### Stacktrace:

[code]

### Build: 11/14 Main

### Notes
❗ The last performed action was to tap the [clearBrowsingData button](https://github.com/mozilla-mobile/focus-andr

[2021-11-15 16:19] mcarare commented on #5630
Closing this as it is marked as fixed on the main branch.

[2021-11-15 16:19] #5630 closed

[2021-11-15 17:50] jonalmeida opened #5875 "Remote debugging does not work when enabled"
## Steps to reproduce
- Go to Advanced settings.
- Turn on Remote Debugging

### Expected behaviour
- Focus is seen in about:debugging on desktop.

### Actual behaviour
- No changes are seen.

### Device information

* Android device: All devices
* Focus version: Focus Nightly 96/Beta 95 (and probably Release too but I haven't verified)

[2021-11-15 17:51] jonalmeida commented on #5875
I don't see anything in [`AdvancedSettingsFragment.kt`](https://github.com/mozilla-mobile/focus-android/blob/d920e91cd37b027640964990c91091a2e01ba632/app/src/main/java/org/mozilla/focus/settings/AdvancedSettingsFragment.kt) that suggests we're enabling the setting.

[2021-11-15 17:51] jonalmeida commented on #4497
Closing in place of https://github.com/mozilla-mobile/focus-android/issues/5875 because the settings page was re-written.

[2021-11-15 17:51] #4497 closed

[2021-11-15 18:16] mcomella opened #5876 "42ms regression to cold start (MAIN & VIEW; Nimbus?)"
In our dashboards, we see ~42ms regression to cold start in both MAIN and VIEW:

![image](https://user-images.githubusercontent.com/759372/141833317-c5168af7-17a3-44b7-9b58-e19b21d06124.png)

The regression starts around 11/3 and continues upward on 11/4 and 11/5. It peaks just afterwards, stabilizing to the 11/4 measurements.

[2021-11-15 18:19] mcomella commented on #5876
@mcarare @jonalmeida Do you know what might have caused this performance regression? Looking through the git log, it seems like it could be ac too.

[2021-11-15 18:32] mcarare commented on #5876
@mcomella Maybe adding Glean?
https://github.com/mozilla-mobile/focus-android/blob/96812489c3687e97a0bfcf1016f9555b7cf4f252/app/src/main/java/org/mozilla/focus/Components.kt#L174
https://github.com/mozilla-mobile/focus-android/blob/5a990f5d90110be0d24710e216e82139a87430a2/app/src/main/java/org/mozilla/focus/FocusApplication.kt#L102

[2021-11-15 19:59] kelimuttu commented on #663
We received a request for this feature recently from the [GPS review](https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOE0T3L5mnQGb89wtERnf9JGreTtJTdEecsgjbGUQHahNl-OQvQ06lbNbC2NEU1-INdUdRo1kZA6135a6iM).

[2021-11-15 20:10] jonalmeida commented on #5876
Yes, Nimbus is my guess too. Previously, we were not initializing Nimbus with an HttpClient which it needed to fetch experiments. This was added in https://github.com/mozilla-mobile/focus-android/commit/5a990f5d90110be0d24710e216e82139a87430a2 which is what enabled that code path to start working.

[2021-11-15 20:39] jonalmeida opened #5879 "Nimbus: viaduct::backend::ffi: Missing HTTP status"
After https://github.com/mozilla-mobile/focus-android/issues/5781 landed, we're new viaduct error that ends up giving up the same stacktrace:

[code]

[2021-11-15 21:17] jonalmeida commented on #5879
I think this is another case of an API mismatch.

The A-S version in this releases is 86.0.1. In this version, we're compiling against A-C (because of our concept-fetch circular dependency) version [91.0.3](https://github.com/mozilla/application-services/blob/v86.0.1/build.gradle#L10). Since then, we have had an API version update in concept-fetch.

[2021-11-16 07:43] lobontiumira commented on #5875
This is a dupe of #5624

[2021-11-16 08:28] lobontiumira commented on #5785
Verified as fixed on the Focus Nightly 95.0 (build 353201008 GV 96.0a1-20211115093917) with Google Pixel (Android 10):
Glean Ping to URL: /submit/org-mozilla-focus-nightly/events/1/930d235e-6cae-4341-9de9-6c123a85cdb9

[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111160002)

[2021-11-16 08:28] #5785 closed

[2021-11-16 08:29] #5875 closed

[2021-11-16 09:25] mcarare commented on #5822
@lobontiumira I tested some websites(wikipedia, hotnews.ro) on the latest main and it works as expected. Can you retest this, and maybe mention the page you have tested this? Thank you!

[2021-11-16 09:41] lobontiumira commented on #5824
This is partially fixed on the latest debug build from main (GV 96.0a1-20211115093917).
Tested with Google Pixel (Android 10), Samsung Galaxy Note 8 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).
Using the "Open in..." option doesn't display the current build, but sharing the page displays it:

![5824](https://user-images.githubusercontent.com/40694158/141960827-6771f206-7be7-4910-9f2d-2

[2021-11-16 09:46] mcarare commented on #5824
@lobontiumira I did not notice the adding of the share issue to this thread. I will add a fix for that too. In the future, it might be best to open new issues for different parts of the app. Thank you!

[2021-11-16 09:49] lobontiumira commented on #5822
@mcarare I've tested again on the latest debug build from main (GV 96.0a1-20211115093917) with Sony Xperia Z5 Premium (Android 7.1.1), and I was able to reproduce the bug.
The page was the SUMO page, from the first pro tip - please see the short video below:

https://user-images.githubusercontent.com/40694158/141962255-84c8d94c-50b8-46c8-a89a-5bf39abe5b39.mp4

[2021-11-16 09:56] mcarare commented on #5822
Sorry, I did not notice you are referring to home screen shortcuts. Thank you for the video!
AFAIK those are not intended to be opened in desktop mode, just as the top sites in Fenix do not open in desktop mode.
IMO this works as expected.

[2021-11-16 12:45] mcarare opened #5881 "Current app shows up in share via list app"
Breakout from https://github.com/mozilla-mobile/focus-android/issues/5824.

## Steps to reproduce
1. Install the latest debug build from main
2. Open a page, and from the three-dot menu select the Share option

3. Observe the installed apps displayed in the dialogue.

### Expected behavior
The current app should not be in the list,

### Actual behavior
The current app is in the list.

[2021-11-16 12:46] mcarare commented on #5824
Closing this. The issue with the share dialogue will be tracked in https://github.com/mozilla-mobile/focus-android/issues/5881.

[2021-11-16 12:46] #5824 closed

[2021-11-16 12:58] lobontiumira commented on #5847
Verified as fixed on the latest Focus Nightly 95.0 build 353201117 with GV 96.0a1-20211115093917 with Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Note 8 (Android 9).

[2021-11-16 12:58] #5847 closed

[2021-11-16 13:24] lobontiumira commented on #5816
This is fixed in Japanese on the latest Focus Nightly build 353201509 GV 96.0a1-20211115093917. Verified with Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Note 8 (Android 9).
![Screenshot_20211116-150749](https://user-images.githubusercontent.com/40694158/141992922-d425f7ac-68a6-401f-8ece-f3ef751f33de.png)

I've encountered another language that has the same issue - Chinese:

![chine

[2021-11-16 13:25] mcarare commented on #5816
@lobontiumira Yes, please!

[2021-11-16 13:37] lobontiumira commented on #5601
Verified as fixed on the latest Focus Nightly build from main with Samsung Galaxy Note 8 (Android 9) - the SUMO page from the "Studies" page is https://support.mozilla.org/en-US/kb/how-opt-out-studies-firefox-android:

![Screenshot_20211116-152921_Firefox Focus Nightly](https://user-images.githubusercontent.com/40694158/141995323-03824694-8e29-4090-9322-0db1a97c3e81.jpg)

[2021-11-16 13:37] #5601 closed

[2021-11-16 13:40] lobontiumira opened #5882 "[L10N] Incorrect linked text for the first carousel tip in Chinese"
## Steps to reproduce
1. Change the device language to Chinese.
2. Launch Firefox Focus
3. Observe that the 1st carousel tip.

### Expected behavior
The first character from the second string is also displayed as hyperlink.

### Actual behavior
The first character from the second string is not displayed as linked text.

### Device information
* Android device: all
* Focus version: 11/16 Focus Nigh

[2021-11-16 13:41] lobontiumira commented on #5816
Filed [5882](https://github.com/mozilla-mobile/focus-android/issues/5882).
Closing this ticket as fixed.

[2021-11-16 13:41] #5816 closed

[2021-11-16 14:10] sv-ohorvath opened #5883 "Intermittent UI test failure - MozillaSupportPagesTest.turnOffHomeScreenTipsTest"
### Firebase Test Run:
Flaky:
https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8210291683145967901/executions/bs.f1af6d516d2ba696/testcases/1
### Stacktrace:
`androidx.test.espresso.NoMatchingViewException: No views in hierarchy found matching: with text: is "Show home screen tips"

at org.mozilla.focus.activity.robots.SettingsMozilla

[2021-11-16 14:40] #5831 closed

[2021-11-16 15:33] jonalmeida commented on #5745
I'll file a separate issue for this dynamic toolbar bug because I don't see one already filed for it.

[2021-11-16 16:03] jonalmeida opened #5884 "Web content that is sticky to the bottom is hidden until refresh"
## Steps to reproduce

1. Navigate to reddit.com
2. Scroll the toolbar away before the page loaded.
3. Scroll the toolbar away after the page is loaded.

(see examples below)

### Expected behavior

- At step 2, the toolbar is made visible and persists in that position with the full viewport visible **after the page is done loading**.
- At step 3, the the toolbar is made visible and persists in th

[2021-11-16 16:17] jonalmeida commented on #5879
I'm less inclined now to believing it's an API mismatch in a-c because the [changes there](https://github.com/mozilla-mobile/android-components/commits/main/components/concept/fetch) don't add up with the viaduct error we're seeing.

[2021-11-16 16:41] mcarare opened #5885 "Migrate remaining telemetry related to autocomplete domains"
Breakout from #5488.

Are users customizing the autocompletes?
Are users wanting to quickly get to websites that they frequent?

[2021-11-16 16:56] kelimuttu opened #5887 "Support more shortcuts"
### Why/User Benefit/User Problem
We've seen a few number of request to add more shortcuts after the 94 update:
- [A Google user](https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOHetKrTp5AIAVZfK9nk_U8_FFJY11BOHlAcN_aSdyMnUfIaW87eiV9477lCaDZnVJUaNuONezID2SHCj1U): "Ridiculous we can only save 4 shortcuts. Can't close individual tabs. No quick access home button."
- [

[2021-11-16 17:14] kbrosnan opened #5889 "Light theme address bar autofill color seems to be low contrast"
Open Focus and type a few characters such as `wiki`. The dark purple on black is hard to read. In other areas we seem to use a light purple highlight.

![Screenshot_20211116-091602](https://user-images.githubusercontent.com/250273/142031647-12baa3c2-a227-4f16-b9d0-5ffa4d8a68aa.png)

[2021-11-16 17:20] jonalmeida commented on #5624
I'd like to recommend putting this on the tracking board because it had an affect in solving https://github.com/mozilla-mobile/focus-android/issues/5879 so it may be a problem in the future too.

[2021-11-16 18:21] jonalmeida opened #5891 "Record exposure event for Nimbus A/A experiment"
For the A/A experiement, James also recommended we should record an exposure event for it.

For beta, this would be: `Nimbus.recordExposureEvent("no-feature-focus-android")`

We should probably do this after Nimbus is done fetching experiments which we can do with an observer.

[2021-11-16 19:56] jonalmeida commented on #4922
@jhugman and I spoke about this in relation to https://github.com/mozilla-mobile/focus-android/pull/5890.

With Focus, being smaller/faster is part of the product image, so if we can reduce the size this would be good as we integrate more native components in the future.

The discussion that rfk hinted at above is still ongoing, however James said it is leaning more towards an app-specific megazor

[2021-11-16 19:57] #5879 closed

[2021-11-17 07:33] mcarare commented on #5882
cc @Delphine  https://pontoon.mozilla.org/zh-CN/focus-for-android/mozilla-mobile/focus-android/app/src/main/res/values/strings.xml/?search=tip_fresh_look&string=230880.

[2021-11-17 08:53] pocmo commented on #5813
There are Nightly, Beta and Release builds (and according branches). Currently translations only make it to those branches via the train model. We do not have an automated string uplift mechanism here yet - like we do for Fenix.

I'll file an issue for that now. But in the meantime we should manually uplift this String to unbreak the app.

[2021-11-17 08:58] pocmo opened #5896 "Automation: Uplift translations from main to release branches"
We have an automated process for landing translations in `main`. Whenever we branch for an upcoming release the current state of translations will be on that branch and no further updates will reach the release branches. This can be problematic for translations that come in after branching, but also for fixing bugs in translations (see https://github.com/mozilla-mobile/focus-android/issues/5813).

[2021-11-17 09:40] mcarare commented on #5451
This will no longer be an issue when a fix for https://github.com/mozilla-mobile/focus-android/issues/5293 lands. So I am inclined to close this and keep the other issue for follow-ups on this component.

[2021-11-17 09:40] #5451 closed

[2021-11-17 09:47] mcarare commented on #5822
Leaving this open for UX to weigh in. IMO we should keep the same behavior as Fenix has.

cc: @jeffreygee

[2021-11-17 10:08] marsf commented on #5816
@mcarare:
I have to remain a comment as a localizer. It has been resolved, but not fixed in the code itself.

The string should be separated to 2 line parts, or the link tag of second line must be handled on Pontoon.

[2021-11-17 10:26] sv-ohorvath commented on #5791
Might be fixed with https://github.com/mozilla-mobile/focus-android/pull/5798. We'll wait for a while to see if it appears again and close this if not.

[2021-11-17 10:27] sv-ohorvath commented on #5590
Might be fixed with https://github.com/mozilla-mobile/focus-android/pull/5798. We'll wait for a while to see if it appears again and close this if not.

[2021-11-17 10:27] sv-ohorvath commented on #5871
Might be fixed with https://github.com/mozilla-mobile/focus-android/pull/5798. We'll wait for a while to see if it appears again and close this if not.

[2021-11-17 10:40] sv-ohorvath commented on #5854
Leaving here a note to also fix and re-enable https://github.com/mozilla-mobile/focus-android/issues/4996 with this.

[2021-11-17 10:42] sv-ohorvath commented on #4996
Maybe it's worth changing the test a bit and re-enable it here https://github.com/mozilla-mobile/focus-android/issues/5854 with other "tabs" tests.

[2021-11-17 12:58] mcarare opened #5897 "Migrate report site issue telemetry"
Breakout from https://github.com/mozilla-mobile/focus-android/issues/5488.

Are users frequently encountering bugs? On average how often are users reporting site issues?

[2021-11-17 14:02] lobontiumira commented on #5821
Reproducible on Beta 95.0.0-beta 5 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-11-17 14:12] softvision-raul-bucata opened #5899 "The page menu bar does not stay stuck to the footer of the page if scrolling is performed at linkedin.com"
## Preconditions
Test account created
The user is logged in

## Steps to reproduce

1. Navigate to: https://www.linkedin.com/feed/?trk=homepage-basic_signin-form_submit
2. Scroll the page
3. Observe the bottom menu navigation bar

### Expected behavior

The menu bar stays in a fixed position

### Actual behavior

The menu bar changes the position

### Device information

* Android device: Samsung

[2021-11-17 14:12] sv-ohorvath opened #5900 "Intermittent UI test failure - blockOtherContentTrackersTest"
### Firebase Test Run:
Crashed 1x:
https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8896965711582016141/executions/bs.869bd88519f671a/testcases/1
### Stacktrace:
[test logcat.txt](https://github.com/mozilla-mobile/focus-android/files/7555214/test.logcat.txt)
### Build:
Main 11/17

Looks similar to https://github.com/mozilla-mobile/focus-a

[2021-11-17 14:13] sv-ohorvath commented on #5794
@mcarare I think it's still crashing, see the latest report from 11/17: https://github.com/mozilla-mobile/focus-android/issues/5900

[2021-11-17 14:15] sv-ohorvath opened #5901 "Intermittent UI test failure - MediaPlaybackTest.testAudioPlayback"
### Firebase Test Run:
[Firebase test run report](https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8896965711582016141/executions/bs.aac5b44d03a68d69/testcases/1)
### Stacktrace:
`androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[TEXT=Pause]
at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
at org.mozilla.focus.

[2021-11-17 14:26] mcarare opened #5902 "Migrate telemetry for app being in foreground or background"
Breakout from https://github.com/mozilla-mobile/focus-android/issues/5488.

How much time are people using Focus?

[2021-11-17 14:40] mcarare commented on #5902
This is covered by Glean's [baseline ping](https://mozilla.github.io/glean/book/user/pings/baseline.html).

[2021-11-17 14:51] lobontiumira commented on #5623
Verified as fixed on the Beta 95.0.0-beta.5 (build 353202152 GV 95.0-20211114185943) with the following devices:
* Google Pixel (Android 10),
* Sony Xperia Z5 Premium (Android 7.1.1),
* Samsung Galaxy Note 8 (Android 9),
* Oppo Find X3 (Android 11), and
* LG G7 fit (Android 8.1).

[2021-11-17 14:59] delia-pop commented on #5630
The issue is Still Present on the Beta 95.0.0-beta.5 (build 353202152 GV 95.0-20211114185943) with LG G7 fit (Android 8.1.0).

[2021-11-17 15:04] delia-pop commented on #5720
Please note that horizontal typing is still not dismissing the context menus on Portrait mode on the Beta 95.0.0-beta.5 (build 353202152 GV 95.0-20211114185943) with LG G7 fit (Android 8.1.0)/Huawei P9 Lite (Android 8).

[2021-11-17 16:59] Delphine commented on #5882
Fixed this like the Japanese error we had: #5816

[2021-11-17 18:11] mcarare commented on #5871
Not that fixes the problem, but I wonder why so many tests have this step (clearing browsing data) when they test other components of the app. If a test part makes a test flaky it should be avoided in places it is not necessary.

[2021-11-17 19:58] denschub opened #5908 "WebCompatReporterFeature is using the wrong productName"
When adding the WeCompatReporterFeature, the productName `focus` was chosen:

https://github.com/mozilla-mobile/focus-android/blob/7f8879347df74c3b56a0d18185ec582ec8b7d697/app/src/main/java/org/mozilla/focus/Components.kt#L105

Unfortunately, the webcompat.com backend does not allow that value. As the [component's documentation says](https://github.com/mozilla-mobile/android-components/tree/main/c

[2021-11-17 21:50] mcomella commented on #5104
Triage: not P1 because APK size isn't a focus.

[2021-11-17 22:05] jonalmeida commented on #5876
This seems to tie into the PR when we connected Nimbus to a UI that uses SharedPreferences: https://github.com/mozilla-mobile/focus-android/pull/5688

The PR landed on 11/3 as well.

[2021-11-17 22:38] denschub commented on #5908
Fixed by #5909

[2021-11-17 22:38] #5908 closed

[2021-11-17 22:59] mcomella commented on #5876
Here's [the specific SharedPreferences read we suspect as part of the cause during triage](https://searchfox.org/mozilla-mobile/rev/cef4f8b426132c2298ff9466af09591a0440a12a/fenix/app/src/main/java/org/mozilla/fenix/experiments/NimbusSetup.kt ).

If the SharedPreferences read is the root cause, maybe we can pre-fetch SharedPreferences on a background thread as early as possible during start up and

[2021-11-18 09:11] lobontiumira commented on #5668
Verified as fixed on the latest Focus Nightly build from main )build 353221044 GV 96.0a1-20211117094929) with Sony Xperia Z5 Premium (Android 7.1.1).

![completed](https://user-images.githubusercontent.com/40694158/142385617-96f466c2-b3eb-43a9-ab38-ee6bb24d57bd.png)

[2021-11-18 09:11] #5668 closed

[2021-11-18 09:15] lobontiumira commented on #5626
Verified as fixed on the latest Beta build 95.0.0-beta.5 with Sony Xperia Z5 Premium (Android 7.1.1), and with Google Pixel (Android 10).

[2021-11-18 09:15] #5626 closed

[2021-11-18 09:39] lobontiumira commented on #5547
Verified as fixed on the latest Focus Nightly 95.0 (build 353221030 with GV 96.0a1-20211117094929) with Google Pixel (Android 10).
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111180002)

* open through the launcher site shortcut:
[code]
* open through app's icon:
[code]
* open app throught share from a different app:
[code]
* open app through text search privately
[cod

[2021-11-18 09:39] #5547 closed

[2021-11-18 09:45] #5313 closed

[2021-11-18 10:39] sv-ohorvath commented on #5871
It is necessary. In the case of ETP tests, we need to load a page before the ETP test page to allow GV to load on a first cold startup. If I don't clear the page, sometimes the app shows the content of the initial page instead of the ETP page. So by not clearing data, I would trade one flaky part of the test with another.

[2021-11-18 10:47] mcarare commented on #5871
But you could get the same effect by pressing the back button (`mDevice.pressBack()`) instead of the erase button. Am I wrong?

[2021-11-18 12:38] sv-ohorvath commented on #5871
No, you are right, I could try that as well. Thanks for the tip.

[2021-11-18 15:09] mcarare opened #5914 "Migrate telemetry related to back button navigation"
Breakout from https://github.com/mozilla-mobile/focus-android/issues/5488.

How are users navigating within / away from focus?

[2021-11-18 18:09] jonalmeida commented on #5879
See #5890 for details on how this was fixed.

[2021-11-19 04:13] jeffreygee commented on #5738
hi @ionutbedregeanu  - two things:
1) is the'remove all websites' action removed after a certain number of things are added to exceptions? I added 20+ and the button was removed
2) Re: Arturo's feedback. With the callback, instead of a spinner, do we have an option for the button go into an inactive state until all the exceptions are removed and when complete, go back to the Privacy & Security scr

[2021-11-19 09:44] ionutbedregeanu commented on #5738
Thanks @jeffreygee for your feedback. I disabled the button while the exceptions are removed and fixed the bug mentioned at point 1

[2021-11-19 12:11] lobontiumira commented on #5882
This is not fixed yet on the Focus Nightly build 95.0 (353231405 with GV 96.0a1-20211118034937) with Google Pixel (Android 10), and Samsung Galaxy Note 8 (Android 9).
![Screenshot_20211119-140421](https://user-images.githubusercontent.com/40694158/142620819-dc82155d-d841-4305-b2a3-48d6a7bc6524.png)

[2021-11-19 12:14] mcarare commented on #5882
Please check it on the latest main or on the next Nightly.

[2021-11-19 17:01] Light2027 opened #5920 "HTTPS turns into HTTP upon clicking a picture in Google search. (According to lock in the top-left corner)"
## Steps to reproduce
Search for "Certificate test".
Open the same picture as in the Video.
HTTPS is now gone, according to the lock in the top-left corner.
This is not limited to that single image, this search term was just the quickest to replicate it.
I tried to look into it with Wireshark whether the secure connection was truly gone or not, but there was too much noise...

### Expected behavio

[2021-11-19 17:03] pocmo commented on #5813
A patch is now available on the Beta branch.

[2021-11-22 07:53] iorgamgabriel commented on #5293
I'm working on this

[2021-11-22 08:03] lobontiumira commented on #5813
Verified as fixed on the Focus Nightly 95.0 (build 353260949 GV 96.0a1-20211120215911) with Samsung Galaxy Note 8 (Android 9), and Google Pixel (Android 10).

[2021-11-22 08:03] #5813 closed

[2021-11-22 08:06] lobontiumira commented on #5882
Verified as fixed on the latest Firefox Focus Nightly 95.0 (build 353260949 GV 96.01-20211120215911) with Samsung Galaxy Note 8 (Android 9).

[2021-11-22 08:06] #5882 closed

[2021-11-22 08:15] lobontiumira commented on #1427
Taking into consideration the fact that the reporter has not given any feedback, and I wa not able to reproduce these issues anymore, I'm closing this ticket.
Feel free to open a new one, if you encounter any other issues.
Thank you!

[2021-11-22 08:15] #1427 closed

[2021-11-22 13:37] ionutbedregeanu commented on #5720
@delia-pop Seems that the space between menu and screen margins is too small for some devices.

@jeffreygee To display a context menu Focus and Fenix are using the same component from android components project, fact which makes me put myself the next questions:

Should I update this component and some extra margins? But after that the dialog will not respect the figma design anymore. At this mome

[2021-11-22 13:57] ionutbedregeanu commented on #5533
This should be fixed by https://github.com/mozilla-mobile/focus-android/pull/5918

[2021-11-22 13:57] #5533 closed

[2021-11-22 14:51] sv-ohorvath opened #5927 "Intermittent UI test failure - notificationEraseAndOpenButtonTest"
### Firebase Test Run:
Flaky on 11/22
https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/9180648678380244643/executions/bs.dacc7ab0ed2b1f57
### Stacktrace:
`androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[DESCRIPTION=Erase and Open]
at androidx.test.uiautomator.UiObject.getBounds(UiObject.java:911)
at androidx.test.uiautomat

[2021-11-22 15:03] pocmo commented on #5795
The code is in. The actual experiment will run at a later point.

[2021-11-22 15:03] #5795 closed

[2021-11-22 15:17] softvision-oana-arbuzov opened #5929 "Page content does not load on m.imgur.com"
## Steps to reproduce
1. Navigate to https://m.imgur.com/
2. Observe the page.

### Expected behavior
Page content loads.

### Actual behavior
Page content does not load.

### Device information

* Android device: Google Pixel 5 (Android 11) - 1080 x 2340 pixels, 19.5:9 ratio (~432 ppi density), Samsung Galaxy S8 (Android 9) - 1440 x 2960 pixels, 18.5:9 ratio (~570 ppi density)
* Focus version: Fi

[2021-11-22 15:32] lobontiumira commented on #5245
I've noticed a strange behavior now on the latest Focus Nightly from 11/22 (build 353260949 GV 96.0a1-20211120215911) with Samsung Galaxy Note 8 (Android 9):
1. Opened a page.
2. Disabled the ETP.
3. Added the page to the device's homescreen.
4. Cleared the history.
5. Opened the shortcut from the device's homescreen - the ETP is ON/enabled, even if the page is still listed in the Exceptions.
6. O

[2021-11-23 00:37] jeffreygee commented on #5720
@ionutbedregeanu - let me check in quickly with our design systems team to see if they're addressing this in their new designs

[2021-11-23 10:15] lobontiumira commented on #5829
Verified as fixed on the latest Focus Nightly build 95.0 (353271124 with GV 96.0a1-20211122093912), withthe following devices:
* Samsung Galaxy Tab A6 (Android 5.1.1),
* Samsung Galaxy Note 8 (Android 9),
* Google Pixel (Android 10), and
* Sony Xperia Z5 Premium (Android 7.1.1).

The trashcan, and the tabs counter are separated, both moved to the left/right of the search field:
![5829](https://use

[2021-11-23 10:15] #5829 closed

[2021-11-23 12:52] lobontiumira commented on #5774
Tested today on the latest Focus Nightly build 95.0 (353271124 with GV 96.0a1-20211122093912) with Google Pixel (Android 10) with the new implementation of the trashcan, and the "Next button from the bottom of the page isn't desplayed at all:

![yt](https://user-images.githubusercontent.com/40694158/143027151-87a17c52-1f07-4b56-bf20-064dc839d2dc.png)

[2021-11-23 13:17] Mugurell commented on #5774
This should be rechecked after the patch for https://github.com/mozilla-mobile/focus-android/issues/5884 lands.

[2021-11-23 13:24] lobontiumira commented on #5757
Tested today on the latest Focus Nightly build 95.0 (353271124 with GV 96.0a1-20211122093912) with Google Pixel (Android 10) with the new implementation of the trashcan, and the "Next" button from the bottom of the page isn't displayed at all on Focus:

![1a1a](https://user-images.githubusercontent.com/40694158/143031936-add640ff-95b8-43f2-8e9e-97a08d501f79.png)

[2021-11-23 18:25] Amejia481 opened #5935 "Add a setting for indicating the HTTPS-Only Mode configuration"
Users should be able to select the HTTPS-Only mode configuration.

<img width="703" alt="image" src="https://user-images.githubusercontent.com/773158/143082220-5617496d-5146-489d-9c9d-3ca9bf35fb8c.png">

[2021-11-23 18:50] Tj9000 opened #5936 "Hide erase/trash button option in menu"
### Why/User Benefit/User Problem
- Multiple users are facing UX issues of blocked trash icon / erase icon in many websites to perform certain actions like clicking on button, or even viewing some content.
- Sometimes users can benefit to focus on a page for some time with the trash icon not appearing on every scroll

### What / Requirements
- 'Hide Erase Icon' toggle option in the Menu (like Desk

[2021-11-23 19:07] #5936 closed

[2021-11-23 19:45] Amejia481 commented on #5935
Related AC ticket https://github.com/mozilla-mobile/android-components/issues/11305

[2021-11-23 19:47] Amejia481 commented on #5935
As Focus by policy we don't persist any information, I think we may not need to add a exception page

[2021-11-23 20:20] Amejia481 commented on #5365
Engineering tasks

- [ ] https://github.com/mozilla-mobile/focus-android/issues/5935
- [ ] https://github.com/mozilla-mobile/android-components/issues/11305
- [ ] https://github.com/mozilla-mobile/android-components/issues/11306

[2021-11-23 20:29] Amejia481 opened #5938 "Add a UI setting for controlling Total cookie protection"
In desktop, we have this setting that activates the total cookie protection functionality
![image](https://user-images.githubusercontent.com/773158/143098050-fd4155f8-3ed5-45cd-a32d-2612868bb621.png)

In focus we can to do the same, and add a new entry to our cookie blocking UI
<img width="462" alt="image" src="https://user-images.githubusercontent.com/773158/143098308-a818e676-fc2d-426c-8a8e-bc48

[2021-11-24 06:24] jeffreygee commented on #5720
@ionutbedregeanu - I checked in with some folks on the design systems teams and they weren't aware of this either, so I put it on their radar as well. This should definitely be reflected in both apps (Focus, Fenix) so that it's a consistent experience throughout. So, as of right now, is the side dismissing fixed across everything except the portrait on Android 8? If that's the case, I think we sho

[2021-11-24 07:15] ionutbedregeanu commented on #5624
It seems that all the builds(debug, nightly, beta) are displayed as "Mozilla Nightly" and sometimes an app restart is required(maybe that's the bug) in order to be displayed.
@lobontiumira Can you please retest it to see if you still reproduce it?

[2021-11-24 09:26] lobontiumira commented on #5624
@ionutbedregeanu it doesn't work even after force closing and re-opening the app (after enabling the "Remote debugging via USB/Wi-Fi" option).
Tested on the latest Focus Nightly build 95.0 (353281028 GV 96.0a1-20211123094249) with Google Pixel (Android 10).

[2021-11-24 10:33] lobontiumira commented on #5466
I was not able to reproduce this on tmall, com, or taobao.com anymore, due to the fact that the trash icon is moved.
Tested on the latest Focus Nightly from 11/24 with Google Pixel (Android 10).
I'll leave this ticket opened for the displayed toolbar when scrolling:

https://user-images.githubusercontent.com/40694158/143222099-c7294dd6-c768-45ae-ba5b-99f47da69ed3.mp4

[2021-11-24 10:44] lobontiumira commented on #5704
This issue no longer reproduces due to the #5829 being fixed.
Verified on the latest Focus Nightly build from 11/24 with Google Pixel (Android 10).

![Untitled](https://user-images.githubusercontent.com/40694158/143223910-da2928cb-c136-4022-b6be-dedb45226cf3.png)

[2021-11-24 10:44] #5704 closed

[2021-11-24 10:48] lobontiumira commented on #5706
This is now fixed by #5829.
Verified on the latest Focus Nightly from 11/24 with Google Pixel (Android 10).

[2021-11-24 10:48] #5706 closed

[2021-11-24 11:07] lobontiumira commented on #5707
This is now fixed by #5829.
Verified on the latest Focus Nightly from 11/24 with Google Pixel (Android 10).

[2021-11-24 11:07] #5707 closed

[2021-11-24 11:55] ionutbedregeanu commented on #5624
After this [pr](https://github.com/mozilla-mobile/focus-android/pull/5941) the app should be displayed when remote debugging is enabled.
For the second bug regarding the name and icon which are not updated for every type of build I created a bug in Bugzilla
https://bugzilla.mozilla.org/show_bug.cgi?id=1742792

[2021-11-24 12:24] ionutbedregeanu commented on #5720
Sounds good to me. I will put this ticket on pause until further updates

[2021-11-24 12:49] ionutbedregeanu commented on #5844
This should be fixed by https://github.com/mozilla-mobile/focus-android/issues/5884

[2021-11-24 13:31] ionutbedregeanu commented on #5938
@Amejia481 @jeffreygee Should we display the same Heads up message as in desktop when this cookie option is selected?

[2021-11-24 14:40] Amejia481 commented on #5938
I think the Heads up message is not related to the new cookie setting we could ignore it

[2021-11-24 14:41] Amejia481 commented on #5938
In my opinion, we could use the same string as desktop and we could iterate later if we would like change it to something shorter.

[2021-11-24 15:07] lobontiumira commented on #5884
Verified as fixed on the latest Focus Nightly from 11/24 (build 353281028 GV 96.0a1-20211123094249) with Google Pixel (Android 10):

https://user-images.githubusercontent.com/40694158/143263179-c098e852-2bf1-4c09-8351-0b308f639751.mp4

[2021-11-24 15:07] #5884 closed

[2021-11-24 15:10] lobontiumira commented on #5844
Verified as fixed on the latest Focus Nightly from 11/24 (build 353281028 GV 96.0a1-20211123094249) with Google Pixel (Android 10).

[2021-11-24 15:18] lobontiumira commented on #5774
Verified as fixed on the latest Focus Nightly from 11/24 (build 353281028 GV 96.0a1-20211123094249) with Google Pixel (Android 10):

![Screenshot_20211124-171712](https://user-images.githubusercontent.com/40694158/143265224-69b81004-accb-4d87-833e-ddff340a3ba5.png)

[2021-11-24 15:18] #5774 closed

[2021-11-25 08:48] lobontiumira commented on #5624
Verified as fixed on the Focus Nightly build 95.0 (353291037 GV 96.0a1-20211124035313), and the latest debug build from main, with Google Pixel (Android 10), and Sony Xperia Z5 Premium (Android 7.1.1).
Both Nightly, and debug builds are displayed as Mozilla Nightly for now:

![Screenshot_1](https://user-images.githubusercontent.com/40694158/143408877-efb4dd16-94bf-4168-b4d1-e8625db32274.jpg)

[2021-11-25 08:48] #5624 closed

[2021-11-25 11:46] ionutbedregeanu commented on #5899
@softvision-raul-bucata You can still reproduce it? Because I tried with the current version but I didn't succeed

[2021-11-25 12:04] softvision-raul-bucata commented on #5899
@ionutbedregeanu With the current version of Firefox Focus, the issue is still reproducible:
![repro focus](https://user-images.githubusercontent.com/75027050/143438602-9d1b2e7b-aedb-4461-ae5b-5d821e82f841.gif)

Tested with:
Browser / Version:  Firefox Focus 94.1.2 (353121860 🦎94.0-20211028161635🦎)/Firefox Nightly 96.0a1 (2015847723 -🦎96.0a1-20211123094249🦎)
Operating System: Samsung A51 (Android

[2021-11-25 14:47] jhugman commented on #5876
Looking at the linked PR, it seems that the `pref_key_studies` is only being read and connected to Nimbus startup.

The source of truth of whether or not studies are enabled is stored by Nimbus as `nimbus.globalUserParticipation`. The `pref_key_studies` should _only_ be used as a convenient proxy.

I _think_ it should be safe to remove the `isExperimentationEnabled` read at startup without changin

[2021-11-25 15:41] jonalmeida commented on #5876
Interesting! So for the UI, we can use `globalUserParticipation` instead of a separate pref from what I understand.

Briefly looking into the A-S code, I see the [default participation is true](https://searchfox.org/mozilla-mobile/source/application-services/components/nimbus/src/enrollment.rs#19). This [differs](https://github.com/mozilla-mobile/focus-android/blob/main/app/src/main/java/org/mozil

[2021-11-25 17:43] jhugman commented on #5876
So it looks like the Nimbus' idea of whether the user is taking part in studies already differs from the `SharedPreferences` version.

In that case, you'd need to do a one time synchronization to make sure that the two were the same, which is what the that first read at start up is doing. Hmm.

Given the timings we're worried about (SharedPrefs and Nimbus reading/writing to disk; Nimbus fetching f

[2021-11-26 07:53] lobontiumira commented on #936
@CrimsonFork is this an issue for you on the latest Focus build?
The behavior on the Focus Nightly from 11/26 with Google Pixel (Android 10) is:

https://user-images.githubusercontent.com/40694158/143545973-0f3ed12d-352b-44a6-9604-b28e106dae79.mp4

Thanks!

[2021-11-26 09:42] softvision-raul-bucata opened #5949 "The page menu bar does not stay stuck to the footer of the page if scrolling is performed at instagram.com"
## Preconditions
Test account created.

## Steps to reproduce
1. Access : https://www.instagram.com
2. Log into your account.
3. Scroll the page.
4. Observe the bottom menu navigation bar.

### Expected behavior
The menu has a fixed position.

### Actual behavior
The menu changes the position.

### Device information

* Android device: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio

[2021-11-26 09:45] softvision-raul-bucata commented on #5701
@LaurentiuApahideanSV Is it safe to mark duplicate issues that display the same behavior observed in https://github.com/mozilla-mobile/focus-android/issues/5705 for different domains? We have received a number of similar issues for different domains

[2021-11-26 09:46] softvision-raul-bucata commented on #5823
See also: https://github.com/mozilla-mobile/focus-android/issues/5705

[2021-11-26 09:47] softvision-raul-bucata commented on #5899
See also: https://github.com/mozilla-mobile/focus-android/issues/5823

[2021-11-26 09:48] softvision-raul-bucata commented on #5899
See also: https://github.com/mozilla-mobile/focus-android/issues/5705

[2021-11-26 09:49] softvision-raul-bucata commented on #5823
See also: https://github.com/mozilla-mobile/focus-android/issues/5705

[2021-11-26 11:42] CrimsonFork commented on #936
The issue may or may not be gone, in the 95.0.0 beta5 build it visually seems fine however there seems to still be difficulty interacting with bottom elements. E.g. on the given site I couldn't click the accept cookies button other than by clicking its top left corner wile in landscape.

Enabling layout bounds in developer settings suggests that it may be the trashcan icon.

Furthermore, trying to

[2021-11-26 12:23] LaurentiuApahideanSV commented on #5701
@softvision-raul-bucata Yes it is safe, but please mention all domains that display this behavior in https://github.com/mozilla-mobile/focus-android/issues/5705, once the issue is fixed we will test all domains for which this issue was encountered.

[2021-11-26 13:32] ionutbedregeanu commented on #5929
This issue can be reproduced also in Fenix and GeckoView Example but private mode
In Firefox Focus all tabs are open in private by default
I logged a bug in Bugzilla for that https://bugzilla.mozilla.org/show_bug.cgi?id=1743123

[2021-11-26 13:42] #5929 closed

[2021-11-26 14:58] lobontiumira commented on #5635
Verified as fixed on the latest Focus Nightly build from 11/26 (build 353301620 GV 96.0a1-20211125095031) with Google Pixel (Android 10):

* page_displayed:
[code]
* next_button_tapped:
[code]
* finish_button_tapped:
[code]
* skip_button_tapped:
[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111260001) for the first three events
[Glean dashboard](https://debug-pin

[2021-11-26 14:58] #5635 closed

[2021-11-26 15:31] softvision-raul-bucata commented on #5929
@ionutbedregeanu After investigating more when the bug was reported, we've discovered that the issue is reproducible when browsing in private mode. We've filled https://bugzilla.mozilla.org/show_bug.cgi?id=1742344. I've closed your submitted report as a duplicate in favor of the above-mentioned report.

[2021-11-29 09:22] lobontiumira commented on #5662
Verified on the 11/29 Focus Nightly build with Google Pixel (Android 10), and these events were generated successfully:
* suggestion_tapped:
[code]
* autocomplete_arrow_tapped:
[code]
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111290001)

However, I was not able to trigger "search_tapped".
@mcarare please help with some more details.

[2021-11-29 09:35] lobontiumira commented on #5840
Verified on the 11/29 Focus Nightly build with Google Pixel (Android 10), and the following events were generated:
* disabled_from_panel:
[code]
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111290002)

* enabled_from_panel:
[code]
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111290003)

@mcarare the event "changed_from_settings" is not genera

[2021-11-29 09:46] lobontiumira commented on #5885
This is not fixed yet. I was not able to trigger these events.
I've enabled/disabled the autocomplete toggles for top sites, and for sites you add, and these modifications did not trigger any event/metric.

Tested on 11/29 Focus Nightly build with Google Pixel (Android 10).

[2021-11-29 09:55] lobontiumira commented on #5897
Verified as fixed on the 11/29 Focus Nightly (build 353331041 GV 96.0a1-20211125095031) with Google Pixel (Android 10):

[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111290007)

[2021-11-29 09:55] #5897 closed

[2021-11-29 10:01] lobontiumira commented on #5914
Verified as fixed on the 11/29 Focus Nightly (build 353331041 GV 96.a01-20211125095031) with Google Pixel (Android 10):

[code]
[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2111290007)

[2021-11-29 10:01] #5914 closed

[2021-11-29 11:10] delia-pop commented on #5705
Tested with the latest debug build from main 11/29 and geckoview_example.apk with Huawei P9 Lite. The following were observed:
- On Focus, the bottom bar displays a flicker when scrolling on different websites (soundcloud.com/youtube.com/tmall.com) when the dynamic toolbar is animated.

- On Chrome, the bottom bar remains displayed at all times.

- The improper flicker of the bottom bar when the d

[2021-11-29 11:40] ionutbedregeanu commented on #5705
Bugzilla ticket: https://bugzilla.mozilla.org/show_bug.cgi?id=1654336

[2021-11-29 15:15] ionutbedregeanu commented on #5455
Fixed by https://github.com/mozilla-mobile/focus-android/issues/5829

[2021-11-29 15:15] #5455 closed

[2021-11-29 15:19] ionutbedregeanu commented on #5454
I didn't succeed to reproduce it anymore

[2021-11-29 15:20] ionutbedregeanu commented on #5443
Addressed by https://github.com/mozilla-mobile/focus-android/issues/5829

[2021-11-29 15:23] ionutbedregeanu commented on #5374
Can't be reproduced anymore after https://github.com/mozilla-mobile/focus-android/issues/5829

[2021-11-29 15:23] #5374 closed

[2021-11-29 20:28] jeffreygee commented on #5822
Sorry, this ticket got buried in my inbox. I agree with @mcarare - let's keep this behavior consistent with Fenix and leave as is.

[2021-11-30 08:46] Archaeopteryx opened #5962 "Intermittent test failure - org.mozilla.focus.searchsuggestions.SearchSuggestionsViewModelTest > alwaysSearchSelected"
### Firebase Test Run:
[Provide a Firebase test run report link here showcasing the problem](https://treeherder.mozilla.org/logviewer?job_id=358657996&repo=focus-android)
### Stacktrace:
[code]
### Build:
https://github.com/mozilla-mobile/focus-android/commit/6e22006e8778683756819d0e4405d6c9090feae3

[2021-11-30 18:03] #5818 closed

[2021-12-02 07:36] mcarare commented on #5662
@lobontiumira "search_tapped" should be triggered when you tap the suggestion that is the same as the typed text (usually the first suggestion in list)

[2021-12-02 07:38] mcarare commented on #5840
@lobontiumira the event "changed_from_settings"  is generated when the setting is changed from settings -> search -> "get search suggestion" option.

[2021-12-02 07:40] mcarare commented on #5885
@lobontiumira Sorry, the PR that contains the commit related to this has not been merged yet. Will add the label when it is ready for QA.

[2021-12-02 07:43] mcarare commented on #5822
Thank you for your input @jeffreygee!

Closing this as per the comment above.

[2021-12-02 07:43] #5822 closed

[2021-12-02 07:59] lobontiumira commented on #5813
Verified as fixed also on RC 95.1.0 with Lenovo Tab M10 (Android 10), and LG G7 fit Android 8.1).

[2021-12-02 09:12] softvision-raul-bucata opened #5969 "Weather forecast content is squeezed at metoffice.gov.uk"
## Steps to reproduce
1. Navigate to: https://www.metoffice.gov.uk/weather/forecast/gcey4hbv7#?date=2021-12-02 .
2. Accept the "Cookie Policy".
3. Observe the page.

### Expected behavior
The content of the weather forecast is displayed as expected.
### Actual behavior
The content of the weather forecast si squeezed.
### Device information.

* Android device: Samsung A51 (Android 11) -1080 × 2400

[2021-12-02 09:26] delia-pop opened #5970 "Black flicker displayed when changing the theme or language"
## Steps to reproduce
1. Go to Settings -> General.
2. Change the theme and observe the black flicker.
3. Change the language and observe the black flicker.

### Expected behavior
The transition is done smoothly, with no glitches. Fenix shows no flickering for the above scenario.

### Actual behavior
After selecting a different theme or language, a black flicker is displayed during the transition.

[2021-12-02 09:50] delia-pop commented on #5630
The issue is Still Present on the RC 95.1.0 (Build 353350147 GV 95.0-20211129150630) with LG G7 fit (Android 8.1.0).

![Screenshot (Dec 16, 2021 11 32 07)](https://user-images.githubusercontent.com/89388888/144396171-210cc747-d58d-4a2c-ab55-68f18ffc274c.png)

[2021-12-02 10:00] delia-pop opened #5971 "The Homescreen background changes to system default after rotating the device, when other language than system default is selected."
## Steps to reproduce
1. Go to Settings -> General.
2. From "Theme" change the theme to Dark.
3. From "Language" select any language other that the "System default".
3. Return to the homescreen.
4. Rotate the device to Landscape mode.
5. Observe that the theme changes.

### Expected behavior
The transition is done smoothly, the Dark theme is still displayed.

### Actual behavior
Rotating the devic

[2021-12-02 10:11] delia-pop commented on #5882
The issue is Still Present on the RC 95.1.0 (Build 353350147 GV 95.0-20211129150630) with LG G7 fit (Android 8.1.0).

[2021-12-02 10:25] lobontiumira commented on #5632
This issue still reproduces on RC 95.1.0 with Lenovo tab M10 (Android 10), and Sony Xperia Z5 Premium (Android 7.1.1).

[2021-12-02 11:01] delia-pop opened #5972 "[L10N] Incorrect dot character displayed in the fourth carousel tip in Russian."
## Steps to reproduce
1. Go to Settings -> General -> Language, and change the language to Russian.
2. Return to the Homescreen.
3. Observe the 4th carousel tip.

### Expected behavior
The carousel tip is properly displayed, without additional characters.

### Actual behavior
In Russian, the 4th carousel tip contains an additional dot "." character. The character is also present in the localizatio

[2021-12-02 13:40] pocmo commented on #5935
Since Focus is always in private mode, I assume we only need an ON/OFF option here.

[2021-12-02 13:49] #5662 closed, assigned to mcarare

[2021-12-02 13:52] lobontiumira commented on #5840
@mcarare I've retried today with Google Pixel (Android 10) on Focus Nightly 95.0 (build 353361543 GV 96.0a1-20211201050507), and again, the event was not generated after swithcing the toggle of "Get search suggestions" from Settings - Search.

[2021-12-02 13:52] AndiAJ commented on #5901
Flaky 1x on 12/1 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/7866591100874391561/executions/bs.805cd0d23087c81b/testcases/1)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[TEXT=Pause]
at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
at org.mozilla.focus.activity.robots.BrowserR

[2021-12-02 13:53] lobontiumira commented on #5738
Verified as fixed on the Focus Nightly 95.0 (build 353361543 GV 96.0a1-20211201050507) with Google Pixel (Android 10).

[2021-12-02 13:53] #5738 closed

[2021-12-02 14:02] mcarare commented on #5840
@lobontiumira Thanks for re-testing, I will put a patch for this soon.

[2021-12-02 14:34] Amejia481 commented on #5935
Agree!

[2021-12-02 14:46] lobontiumira commented on #5938
Verified that the "Block cross-site cookies" is displayed in the Settings - Privacy & Security - Cookies and Site Data, and is set by default.
Tested on the latest Focus Nightly build 95.0 (353361543 GV 96.0a1-20211201050507) with Google Pixel (Android 10).

![Screenshot_20211202-155446](https://user-images.githubusercontent.com/40694158/144442414-26d3d72e-5078-470f-9345-6be2f98fb511.png)

[2021-12-02 14:47] mcarare commented on #5840
@lobontiumira This can be now tested on the latest main or on the next Nightly.

[2021-12-02 15:12] #5938 closed

[2021-12-02 15:35] delia-pop opened #5976 "Black flicker displayed when switching the "Stealth" and "Use fingerprint to unlock app" toggles ON/OFF"
## Steps to reproduce
1. Go to Settings -> Privacy & Security -> Switching Apps.
2. Switch the "Stealth" toggle ON/OFF and observe the black flicker.
3. Create and enable fingerprint ID on your device.
4. Switch the "Use fingerprint to unlock app" toggle ON/OFF and observe the black flicker.

### Expected behavior
The transition is done smoothly, with no glitches.

### Actual behavior
When switchi

[2021-12-02 16:59] CaFI0 commented on #66
Are there any plans or updates on this yet?

[2021-12-02 18:57] Delphine commented on #5972
I have updated this in Pontoon

[2021-12-03 08:14] lobontiumira opened #5982 "The ETP panel doesn't contain blocked cross-site cookies"
## Steps to reproduce
1. Go to Settings - Privacy & Security - Cookies and Site Data - and make sure "Block site-cookies" is selected.
2. Exit Settings, and load cnn.com.
3. Tap on the ETP shield icon from the toolbar.
4. From the ETP panel, tap on the "Connection is secure".

### Expected behavior
A different panel is displayed containing the blocked cookies - like Fenix displayes.

### Actual be

[2021-12-03 10:00] #5854 closed

[2021-12-03 11:10] lobontiumira commented on #5840
Verified as fixed on the 12/3 Focus Nightly with Google Pixel (Android 10):
* disabling the search suggestions:
[code]
* enabling the search suggestions:
[code]

[Glean dashboard](https://debug-ping-preview.firebaseapp.com/pings/mira-2112030001)

[2021-12-03 11:10] #5840 closed

[2021-12-03 11:31] lobontiumira commented on #5581
Verified as fixed on the 12/3 Focus Nightly with Google Pixel (Android 10).

[2021-12-03 11:31] #5581 closed

[2021-12-03 11:48] lobontiumira commented on #5623
I re-encountered this issue on the 12/3 Focus Nightly build with Google Pixel (Android 10):

![soft keys](https://user-images.githubusercontent.com/40694158/144597533-c3540116-22c7-4102-98bc-19a2b6350db1.png)

https://user-images.githubusercontent.com/40694158/144597736-50a45a01-f626-41fb-b5b2-8b3fe4bbc243.mp4

[2021-12-03 12:52] lobontiumira commented on #5776
This is not fixed yet on Xiaomi mi4i (Android 5.0.2) device. After about:crashcontent, the previous page is displayed on top-half of the screen - please see the short video below:

https://user-images.githubusercontent.com/40694158/144605515-3a22cf96-3027-4028-a56c-7fb2b7441143.mp4

[logcat.txt](https://github.com/mozilla-mobile/focus-android/files/7649699/logcat.txt)

Everything works as expected

[2021-12-03 14:15] lobontiumira opened #5984 "Cannot load a different page on an already loaded tab on a Xiaomi device with Android 5"
## Steps to reproduce
1. Load wikipedia.org, or any other page.
2. Tap the toolbar, and type a different address, like cnn.com.

### Expected behavior
The page from step 2 loads replacing the page from step 1.

### Actual behavior
The page from step 1 is still displayed, on the top of the screen, leaving the bottom of the screen blank.

### Device information
* Android device: Xiaomi mi4i (Android

[2021-12-03 14:16] lobontiumira commented on #5776
I'll close this issue as fixed.
I've filed #5984 for the issue mentioned above, only reproducible on Xiaomi mi4i (Android 5.0.2).

[2021-12-03 14:16] #5776 closed

[2021-12-03 15:46] sv-ohorvath commented on #5807
Flaky on 12/2: https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8998886592028122091/executions/bs.67e436459aa9d803/testcases/1

[2021-12-03 15:46] sv-ohorvath commented on #5809
Flaky on 12/2: https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/4921544606600740922/executions/bs.5e21464e495bf145/testcases/1

[2021-12-03 15:56] mcarare commented on #5971
For QA: Please also test scenarios with successive locale changes after testing the main issue here. Thank you!

[2021-12-03 17:01] mcarare commented on #4996
Failing with:

[code]
https://console.firebase.google.com/u/1/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/7274169673281677484/executions/bs.ae32ec2f0c1b1036/testcases/1

[2021-12-03 17:52] pocmo commented on #5935
Opened a draft PR that introduces the setting and uses the desktop strings:

![https_only_setting](https://user-images.githubusercontent.com/89638/144649627-bdef4a71-5ca9-4ff9-bfaf-425a3d9e6793.png)

[2021-12-06 05:34] Ep0chalypse opened #5994 "Implement Scrolling Screenshots For Android 12"
Android 12 added a new api to enable apps to have scrolling screenshots. For example when viewing a webpage and you take a screenshot, there is a option that allows you to screenshot more of the webpage then what fits in the screen.

More info can be found here:
[Announcement with images of what it looks like](https://android-developers.googleblog.com/2021/07/android-12-beta-3.html?m=1)
Api docs
h

[2021-12-06 08:32] lobontiumira commented on #5971
Verified as fixed on the latest Nightly build 95.0 (353401017 GV 96.0a1-20211203094816) with:
- Google Pixel (Android 10),
- Lenovo Tab M10 (Android 10),
- Samsung Galaxy Note 8 (Android 9),
- Xiaomi mi4i (Android 5.0.2).

[2021-12-06 08:32] #5971 closed

[2021-12-06 12:26] lobontiumira opened #5995 "[L10N] The "Help" SUMO page isn't translated in some languages"
## Steps to reproduce
1. Set Focus in a different language, i.e. French.
2. Go to Settings - Mozilla - Help.

### Expected behavior
The "Help " SUMO page is translated.

### Actual behavior
The page is not translated in some languages: French, Indonesian, Romanian, Deutsch.

### Device information
* Android device: all
* Focus version: RC 95.1.0, 12/6 Focus Nightly

[2021-12-06 12:39] lobontiumira opened #5996 "[L10N] The default cookies option isn't selected after switching to a different language"
## Steps to reproduce
1. Go to Settings - General - Language, and select a different language then the system's.
2. Go to Settings - Privacy & Security - Cookies and Site Data, and tap on the "Block cookies".

### Expected behavior
The default cookies option is selected.

### Actual behavior
The default cookies option isn't selected. None of the options is selected.
Switching to the system's langu

[2021-12-06 13:17] softvision-raul-bucata opened #5998 "[Bug]: "Cookie Policy" pop-up can not be closed or managed at theguardian.com"
## Steps to reproduce

1. Navigate to: https://www.theguardian.com/uk.
2. Wait until the "Cookie Policy" pop-up is presented.
3. Scroll the page.
4. Accept the policy.

### Expected behavior

### Actual behavior

### Device information

* Android device: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi density)
* Focus version: Firefox Focus 95.1.0 (353350148 -🦎95.0.2021112

[2021-12-06 13:30] LaurentiuApahideanSV opened #5999 "The "Help" button is not translated in Nederlands and Frysk"
## Steps to reproduce
1. Set the Focus language to Nederlands and Frysk
2. Go to Settings -> Mozilla;
### Expected behavior
The "Help" button should be translated to Nederlands and Frysk
### Actual behavior
The "Help" button is not translated for Nederlands and Frysk
### Device information

* Android device: all devices
* Focus version: RC 95.1.0
![Nederlands - Dutch](https://user-images.githubuse

[2021-12-06 13:57] lobontiumira commented on #5391
Reproducible in Spanish (Mexico) on RC 95.1.0, where, also, the parenthesis after "Version 93" is missing:

![Screenshot_2](https://user-images.githubusercontent.com/40694158/144858697-aba4a3f3-352e-495b-819d-c8d502e4b2cf.jpg)

[2021-12-06 14:20] lobontiumira commented on #5597
Still reproducible on RC 95.1.0.

[2021-12-06 14:24] lobontiumira opened #6000 "[RTL L10N] The pro tips from homescreen start from left to right"
## Steps to reproduce
1. Set the language to Persian.
2. Open Focus and observe the pro tips.

### Expected behavior
The pro tips should start from right to left.

### Actual behavior
The pro tips start from left to right.

### Device information
* Android device: all
* Focus version: RC 95.1.0

![RTL pro tips](https://user-images.githubusercontent.com/40694158/144862951-b7f71c06-d1a0-4ab8-b42d-b1

[2021-12-06 16:26] Mugurell commented on #5994
See also https://github.com/mozilla-mobile/fenix/issues/20905

[2021-12-07 09:31] lobontiumira commented on #2914
This issue is no longer reproducible on the latest RC 95.1.0 build, nor on the 12/7 Focus Nightly with Samsung Galaxy Note 8 (Android 9).

[2021-12-07 09:31] #2914 closed

[2021-12-07 09:45] #2925 closed

[2021-12-07 09:51] lobontiumira commented on #2957
I was not able to reproduce this issue on the latest Focus Nightly from 12/7, nor on RC 95.1.0.
I'll close this issue.

[2021-12-07 09:51] #2957 closed

[2021-12-07 09:56] lobontiumira commented on #2951
Still reproducible on 12/7 Focus Nightly build with Samsung Galaxy Note 8 (Android 9).

[2021-12-07 10:08] lobontiumira commented on #3001
@g-van-vreckem tahnks for the report!
Is this issue still reproducing on your device?

[2021-12-07 12:19] lobontiumira commented on #3527
I was not able to reproduce this issue on the Focus Nightly build from 12/7 with Samsung Galaxy Note 8 (Android 9).
I tested several sites with podcasts.

[2021-12-07 12:19] #3527 closed

[2021-12-07 12:27] lobontiumira commented on #3746
Verified as fixed on the 12/7 Focus Nightly build with Samsung Galaxy Note 8 (Android 9):

![aaa](https://user-images.githubusercontent.com/40694158/145028932-274a4033-48be-467c-8615-e9a44bb14e75.jpg)

[2021-12-07 12:27] #3746 closed

[2021-12-07 12:44] softvision-oana-arbuzov opened #6006 "Incorrect focus area for "Accept All Cookies" button"
## Steps to reproduce
1. Navigate to https://www.nature.com/articles/s41598-021-91992-9
2. After "Your Privacy" popup is displayed, scroll down the page.
3. Tap "Accept All Cookies" button.
4. Observe behavior.

### Expected behavior
The "Cookies" are accepted and the popup is dismissed.

### Actual behavior
The tapped area is above the button and the "Cookies" can't be accepted.

### Device infor

[2021-12-07 15:05] lobontiumira commented on #3875
I will close this issue because the videos are no longer available, and cannot test the described scenario.
Feel free to open a new issue, if you encounter it.
Thank you!

[2021-12-07 15:05] #3875 closed

[2021-12-07 15:09] lobontiumira commented on #4017
I'll close this issue, due to the fact that on the latest Focus Nightly 12/7, RC 95.1.0, the adblock intro card is displayed on the first run:

![Screenshot_2](https://user-images.githubusercontent.com/40694158/145054624-33fe3bf4-17cd-45da-9215-5c124d9d89ee.jpg)

[2021-12-07 15:09] #4017 closed

[2021-12-07 15:15] lobontiumira commented on #4021
This isssue is no longer reproducible on the latest RC 95.1.0, nor on the 12/7 Focus Nightly build with Samsung Galaxy Note 8 (Android 9), and Sony Xperia Z5 Premium (Android 7.1.1).

[2021-12-07 15:15] #4021 closed

[2021-12-07 15:42] #5430 closed

[2021-12-07 15:42] pocmo commented on #1362
This is getting implemented in #5741

[2021-12-07 15:42] #1362 closed

[2021-12-07 15:51] pocmo opened #6008 "Add "Learn more" link for HTTPS-Only mode setting"
Currently the "Learn more" link for the "HTTPS-Only Mode" setting links to https://support.mozilla.org/en-US/kb/https-only-prefs - but this page is specifically about the desktop version of Firefox. We will need a Focus specific link, I guess.

[2021-12-07 17:37] pocmo opened #6009 "Figure out content for "HTTPS-Only mode" error page"
We can't show all the text the desktop version has (See https://github.com/mozilla-mobile/android-components/issues/11306). And we want to enable the feature by default, which means we may want to use different text.

![](https://user-images.githubusercontent.com/89638/144647507-c83dca1e-11a8-46c4-b73c-259ff9584d17.png)

[2021-12-07 17:39] pocmo opened #6010 "Investigate deep-linking from error page to settings"
We would like to link from the "HTTPS-Only Mode" error page to our settings. Is this feasible? Does this require code in A-C?

[2021-12-08 08:44] delia-pop commented on #5720
This issue is no longer occurring on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) with Xiaomi Redmi Note 8T (Android 9).
Please note that the issue is Still Present on the RC 95.1.0 build.

[2021-12-08 08:46] lobontiumira commented on #5714
Verified as fixed also on Beta 96.0.0-beta.1 with Sony Xperia Z5 Premium (Android 7.1.1), and Lenovo Tab M10 (Android 10).

[2021-12-08 08:50] lobontiumira commented on #5630
Verified as fixed on Beta 96.0.0-beta.1 with Sony Xperia Z5 Premium (Android 7.1.1), and Lenovo Tab M10 (Android 10).

[2021-12-08 08:53] lobontiumira commented on #5527
Verified as fixed on Beta 96.0.0-beta.1, and 12/7 Focus Nightly builds with Sony Xperia Z5 Premium (Android 7.1.1), and Lenovo Tab M10 (Android 10).

[2021-12-08 08:53] #5527 closed

[2021-12-08 09:36] lobontiumira commented on #5632
This issue doesn't reproduce in Beta 96.0.0-beta.1, nor in Focus Nightly from 12/7.
It only reproduces on RC 95.1.0 with some devices, like Sony Xperia Z5 Premium (Android 7.1.1), and LEnovo tablet M10 (Android 10):

![open in](https://user-images.githubusercontent.com/40694158/145184517-297209ca-c150-4bfa-a4c3-888f60da6928.png)

**Note:** it does **not reproduce on RC 95.1.0** on the following de

[2021-12-08 10:18] lobontiumira commented on #5623
I was not able to reproduce this issue on the 12/8 Focus Nightly anymore, nor on Beta 96.0.0-beta.1, with Google Pixel (Android 10).

I'll close this issue.

[2021-12-08 10:35] lobontiumira commented on #5738
Verified as fixed on the Beta 96.0.0-beta.1 with Sony Xperia Z5 Premium (Android 7.1.1), and Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-12-08 10:37] lobontiumira commented on #5829
Verified as implemented successfully on Beta 96.0.0-beta.1 as well.
Tested with:
* Sony Xperia Z5 Premium (Android 7.1.1),
* Google Pixel (Android 10),
* Samsung Galaxy Tab a6 (Android 5.1.1).

[2021-12-08 11:03] lobontiumira commented on #5741
Verified as fixed on the latest Focus Nightly build from 12/8, and on Beta 96.0.0-beta.1 with multiple devices:
* Sony Xperia Z5 Premium (Android 7.1.1),
* Samsung Galaxy Tab A6 (Android 5.1.1),
* Xiaomi mi4i (Android 5.0.2),
* Google Pixel (Android 10),
* Lenovo tablet M10 (Android 10).

The tabs can be closed in any order. If the user selects to close the active tab, the next teb under it is loa

[2021-12-08 11:03] #5741 closed

[2021-12-08 12:11] delia-pop commented on #5743
This issue is occurring on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) build, RC 95.1.0 and latest debug build from main 12/08. The autoplay starts even when the video has audio enabled.

Tested with the above websites:
https://googlechrome.github.io/samples/muted-autoplay/
https://pauljadam.com/demos/autoplay-loop-muted-controls.html
https://video-dev.github.io/can-autoplay/
https:

[2021-12-08 13:12] delia-pop commented on #5245
The behavior @lobontiumira described above is occurring on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) with Xiaomi Redmi Note 8T (Android 9) as well.

[2021-12-08 13:34] mcarare commented on #4730
For QA: Is this issue still reproducible after #5729? Thank you!

[2021-12-08 13:41] lobontiumira commented on #5881
Reproducible on Beta 96.0.0-beta.1 with Samsung Galaxy A6 (Android 5.1.1).

[2021-12-08 13:41] AndiAJ commented on #5901
Flaky 1x on 12/8 Main [Firebase link](https://console.firebase.google.com/u/0/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/7418980476914102478/executions/bs.a9b4177f20a486c3/testcases/1)

androidx.test.uiautomator.UiObjectNotFoundException: UiSelector[TEXT=Pause]
at androidx.test.uiautomator.UiObject.click(UiObject.java:416)
at org.mozilla.focus.activity.robots.BrowserR

[2021-12-08 14:10] lobontiumira commented on #4730
We have #5245 covering this issue.
We can close this one.

[2021-12-08 14:10] #4730 closed

[2021-12-08 14:11] pocmo commented on #5674
CC @Amejia481 Was this ever discussed in tracking protection meetings / for desktop? I almost assume this is not really something that is being worked on since "visually blocking ads" is not really the goal of tracking protection, but maybe?

[2021-12-08 14:13] Amejia481 commented on #5674
No that I'm aware of, I will further investigate with them.

[2021-12-08 14:20] pocmo commented on #5674
@amedyne We may want to move this out of the backlog. It's not actionable by the mobile team.

[2021-12-08 14:22] lobontiumira commented on #1640
I was able to reproduce this on Beta 96.0.0-beta.1 with:
* Samsung Galaxy Tab A6 (Android 5.1.1) Focus is set to Basa Jawa language, displays the Dsb.
* Sony Xperia Z5 Premium (Android 7.1.1) Focus is set to Basa Jawa language, displays the Nv:
![Screenshot_20211208-161804](https://user-images.githubusercontent.com/40694158/145224336-aefcd0e8-016c-4cd1-9213-8e2084ceb6f3.png)

[2021-12-08 14:29] delia-pop commented on #5970
This issue also occurs on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) build with Xiaomi Redmi Note 8T (Android 9).

[2021-12-08 14:36] delia-pop commented on #5882
This issue is also occurring on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) build with Xiaomi Redmi Note 8T (Android 9).

[2021-12-08 15:25] lobontiumira commented on #5821
Reproducible on Beta 96.0.0-beta 1 with Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-12-08 17:59] JulianWels opened #6017 "Variable in app-shortcut is not getting replaced with brand name"
## Steps to reproduce
1. Download Firefox Klar (from the German Play Store)
2. Open app drawer (from Pixel Launcher) and search for Klar

### Expected behavior
I guess one app shortcut is supposed to say "Erase and open Klar"

### Actual behavior
Instead it reads "Erase and open %1$s"

I changed my System Language to German and it also reads "Löschen und %1$s öffnen".

<img src='https://user-image

[2021-12-08 18:58] Delphine commented on #5882
@mcarare Any idea why this would still be an issue? thought I had fixed it the same way we dealt with #5816

[2021-12-08 19:00] Trikolon commented on #5982
With Total Cookie Protection enabled Firefox does not actually block cookies. It isolated (tracking and non-tracking) third-party cookies into separate cookie jars. The UI shown in the screenshots only keeps track of blocked tracking cookies as part of the lsit based blocking in ETP.

[2021-12-08 20:04] Amejia481 commented on #5674
From the privacy team:

[2021-12-08 20:04] #5674 closed

[2021-12-09 07:49] mcarare commented on #5882
@Delphine It was not specified here which locale had the issue, but it seems it was wrong for both zh-TW and zh-CN.
So the issue still reproduces for the one we had not fixed.
I made the change suggestion in [Pontoon](https://pontoon.mozilla.org/zh-TW/focus-for-android/mozilla-mobile/focus-android/app/src/main/res/values/strings.xml/?search=tip_fresh_look&string=230880).

[2021-12-09 09:36] delia-pop commented on #5976
This issue is also occurring on the 96.0.0-beta.1 (Build 353412232 GV 96.0-20211206194555) build with Xiaomi Redmi Note 8T (Android 9).

[2021-12-09 09:44] lobontiumira opened #6020 "The ETP shield icon doesn't preserve its state after closing the app"
## Steps to reproduce
1. Open google.com, or instagram.com.
2. Sign in with valid credentials.
3. Turn the ETP off.
4. Close Focus.
5. Open focus, and open the same page from step 1.
6. Sign in with the same valid credentials.
7. Observe the ETP state.

### Expected behavior
The ETP shield is cut off. Tapping on the shield, displays the ETP panel with the ETP toggle disabled.

### Actual behavior

[2021-12-09 10:26] softvision-raul-bucata opened #6021 "[Bug]:Refrences are not fully displayed when tappen on at at.wikimannia.org"
## Steps to reproduce
1. Navigate to: https://at.wikimannia.org/Don_Alphonso.
2. Tap on a reference link ( a number inside [ ] ).
3. Observe the result.

### Expected behavior
The reference is fully displayed.
### Actual behavior
The reference is partially displayed (cropped).

### Device information

* Android device: Samsung A51 (Android 11) -1080 × 2400 pixels 20:9 aspect ratio (~405 ppi densit

[2021-12-09 10:38] lobontiumira opened #6022 "[android 5] The insecure lock icon is white on the toolbar"
## Steps to reproduce
1. On an Android 5 devices, install Focus, and set the Light theme.
2. Open an insecure page.
3. Observe the insecure lock icon from the toolbar.

### Expected behavior
The insecure lock icon is visible.

### Actual behavior
The insecure lock icon is white, and not visible.

### Device information
* Android device: Samsung Galaxy Tab a6 (Android 5.1.1), Xiaomi mi4i (Android 5

[2021-12-09 10:41] lobontiumira commented on #5796
Reproducible on Beta 96.0.0-beta.1, and Nightly from 12/8 with the same tablet Samsung Galaxy Tab A6 (Android 5.1.1).

[2021-12-09 10:58] delia-pop opened #6023 "The fingerprint verification window prevents the 3-dot menu to stay open on restore"
## Steps to reproduce
1. Create and enable fingerprint ID on your device.
2. Go to Settings -> Privacy & Security -> Switching Apps.
3. Switch the "Use fingerprint to unlock app" toggle ON.
4. Exit Settings menu and open a webpage.
5. Tap on the 3-dot menu to invoke menu contents.
6.  Minimize and restore the app.
7. Touch fingerprint sensor.
8. Observe if the 3-dot menu remains displayed.

### Ex

[2021-12-09 10:59] RandomUser0815 commented on #6021
Thanks @softvision-raul-bucata

[2021-12-09 11:01] lobontiumira opened #6024 "Tapping the trashcan, empties the toolbar, then closes the tab"
## Steps to reproduce
1. Open any page.
2. Tap on the trashcan, and observe the behaviour.

### Expected behavior
The tab closes immediately.

### Actual behavior
The URL address is deleted, the toolbar is empty, then the tab closes.
It is more visible on low-end devices.

### Device information
* Android device: Xiaomi mi4i (Android 5.0.2), Samsung Galaxy Tab A6 (Android 5.1.1), Lenovo Tab M10 (A

[2021-12-09 11:16] delia-pop opened #6025 "The biometric prompt description is barely visible"
## Steps to reproduce
1. Create and enable fingerprint ID on your device.
2. Go to Settings -> Privacy & Security -> Switching Apps.
3. Switch the "Use fingerprint to unlock app" toggle ON.
4. Exit Settings menu and open a webpage.
5. Minimize and restore the app.
6. Touch the fingerprint sensor.
7. Observe the fingerprint verification window.

### Expected behavior
The "Unlock Firefox Focus Beta

[2021-12-09 12:36] delia-pop opened #6026 "The unsafe web pages do not load properly on specific device"
## Steps to reproduce
1. Go to Setting->Privacy & Security.
2. Enable the "Safe browsing" option.
3. Visit several unsafe pages such as:
https://itisatrap.org/firefox/its-a-trap.html
https://itisatrap.org/firefox/its-an-attack.html
https://itisatrap.org/firefox/unwanted.html
https://itisatrap.org/firefox/harmful.html
http://testsafebrowsing.appspot.com/s/phishing.html
4. Observe if the pages load.

[2021-12-09 12:47] delia-pop commented on #6026
Upon further testing it was observed that the "Block JavaScript" option was also enabled, which caused the insecure pages to behave unexpectedly. Closing this ticket as the issue could not be reproduced after disabling the additional option.

[2021-12-09 12:47] #6026 closed

[2021-12-09 13:39] artines1 opened #6027 "Implement Storage Access API prompt"
### Why/User Benefit/User Problem

As Focus is going to support Total Cookie Protection (#5938), we should implement the Storage Access API prompt which allows users to make decisions regarding the storage access when websites use Storage Access API. Following is an example in the Firefox desktop.

<img width="421" alt="image" src="https://user-images.githubusercontent.com/6202423/145404966-0e27f0

[2021-12-09 14:14] Amejia481 commented on #6027
Thanks for filing the ticket we are tracking the progress on https://github.com/mozilla-mobile/android-components/issues/10739 as the implementation should be done on the Android Components repository for the behavior be shared between Focus and Fenix.

[2021-12-09 14:17] Amejia481 commented on #6027
@artines1 is there any website that you recommend for testing the prompt? I've tried https://senglehardt.com/test/dfpi/storage_access_api.html and I'm not able to see the prompt, I have clicked the `requestStorageAccess()` on all tabs
and all sections display "access granted" but none show the dialog.

[2021-12-09 14:20] artines1 commented on #6027
Yeah, I think that's the best website we can use to test this. The reason why you didn't see the prompt is that the `Auto Grant` is working. You can disable `Auto Grant` by turning the pref `dom.storage_access.auto_grants` to false.

[2021-12-09 14:39] Amejia481 commented on #6027
Unfortunately, I still see the same behavior after disabling  `dom.storage_access.auto_grants`. Additionally, I disabled  `dom.storage_access.auto_grants.delayed` without luck :( .

<img width="1788" alt="image" src="https://user-images.githubusercontent.com/773158/145416317-5ee34f7a-6ef1-4066-9a33-72093fbec58e.png">

<img width="1789" alt="image" src="https://user-images.githubusercontent.com/773

[2021-12-09 14:45] artines1 commented on #6027
Did you clear the `Cross-site cookies` permission before you did the test? You can clear the permission by using the permission icon on the URL bar.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/6202423/145417737-7fe84ad0-a110-44e7-8c15-360b889775b9.png">

[2021-12-09 14:51] Amejia481 commented on #6027
🎉  awesome now it's working. I didn't know that permission was persistent, I was thinking it will prompt every time the permission was requested.

<img width="415" alt="image" src="https://user-images.githubusercontent.com/773158/145418487-1ef00a9f-477c-4e1d-bd20-5a5d098ed649.png">

[2021-12-09 15:58] softvision-oana-arbuzov opened #6029 "Buttons are not functional on "Twitter is better on the app" popup"
## Steps to reproduce
1. Navigate to https://mobile.twitter.com/SciGuySpace/with_replies
2. After "Twitter is better on the app" popup is displayed, scroll down to reveal the available options.
3. Tap "Not now" button.
4. Observe behavior.

### Expected behavior
The popup is dismiss and the site can be browsed.

### Actual behavior
Nothing happens, the popup remains displayed.

### Device informat

[2021-12-09 15:58] sv-ohorvath commented on #5809
Flaky on 12/8 debug: https://console.firebase.google.com/project/moz-focus-android/testlab/histories/bh.2189b040bbce6d5a/matrices/8306878456760590503/executions/bs.c481abc0de4fc971/testcases/1

[2021-12-09 17:20] jonalmeida commented on #6020
I recommend uplift this fix to beta if it's a small patch because it's unclear if your current session may have tracking protection enabled/disabled.

[2021-12-10 09:04] lobontiumira commented on #5996
Verified as fixed on the 97.0 Focus Nightly build 353441054 (GV 97.0a1-20211208095339) with Samsung Galaxy Note 8 (Android 9), and a Sony Xperia Z5 Premium (Android 7.1.1).

[2021-12-10 09:04] #5996 closed

[2021-12-10 09:11] lobontiumira commented on #6025
Verified as fixed on the 97.0 Focus Nightly 97.0 (build 353441046 GV 97.0a1-20211208095339) with Samsung Galaxy Note 8 (Android 9):

![Screenshot_3](https://user-images.githubusercontent.com/40694158/145548203-0c06639b-9c28-4c87-a6d2-b9ff639304d1.jpg)

[2021-12-10 09:11] #6025 closed

[2021-12-10 09:28] lobontiumira commented on #5935
Verified on the Focus Nightly 97.0 (build 353441046 GV 97.0a1-20211208095339) with Samsung Galaxy Note 8 (Android 9) that the new option HTTPS-Only Mode is displayed in Settings - Privacy & Security - Security area.
The toggle can be enabled/disabled without glitches.
The "Learn more" link when tapped redirects the user to https://support.mozilla.org/en-US/kb/https-only-prefs SUMO page.

![Screens

[2021-12-10 10:35] softvision-oana-arbuzov opened #6034 ""Entendi" button is not functional on "Cookies permission" popup"
## Steps to reproduce
1. Navigate to https://www.mercadolivre.com.br/
2. Scroll down the page to view the entire "Cookies permission" popup.
3. Tap "Entendi" button.
4. Observe behavior.

### Expected behavior
The popup is dismiss and the site can be browsed.

### Actual behavior
Nothing happens, the popup remains displayed.

### Device information

* Android device: Google Pixel 5 (Android 11) -

[2021-12-10 11:45] phil99 opened #6035 "Losing bottom of screen - #5339 is back"
The issue reported in #5339 has reappeared in Focus v.95.1.0
On some site pages the bottom of the screen is not displayed, and is not readable by scrolling.

Example site:
https://magicseaweed.com/UK-Ireland-Surf-Chart/1/?type=pressure
Wind

Issue is replicable.

[2021-12-10 14:05] lobontiumira commented on #5391
I was able to reproduce this issue on Beta 96.0.0-beta.1 with Chinese Simplified language set as default:
![aaa](https://user-images.githubusercontent.com/40694158/145586233-e0e9df13-6256-45fc-bd28-551e7e718206.jpg)

[2021-12-10 14:34] lobontiumira opened #6036 "[L10N] The "Cancel" button from menus is not translated in some languages"
## Steps to reproduce
1. Set Focus in Welsh language (Cymraeg).
2. Observe the "Cancel" button from Language page (Settings - General).
3. Observe the "Cancel" button from Cookies (Settings - Privacy & Security - Cookies and Site Data).

### Expected behavior
The "Cancel" button is translated in Welsh.

### Actual behavior
The "Cancel" button is not translated in Welsh.

### Device information
* A

[2021-12-10 15:12] Mugurell commented on #6035
@phil99 Can you post a video of the issue you're seeing?

[2021-12-11 01:00] phil99 commented on #6035
Hi Muggurell
I'm not sure I can do that (video), but there is nothing to see if I was able.

It is not possible to scroll down to see missing bottom of the page. The behaviour exhibited is exactly as in #5339.

[2021-12-11 10:25] OysterP commented on #6035
I'm experiencing something similar with pages that have bottom heavy overlays such as cookie concent, where either you can't get to the buttons at the bottom or if they are visible, any attempt to click button triggers  links further up (10-20mm).
Example below:
https://amp.theguardian.com/world/2021/dec/10/travellers-to-ireland-from-great-britain-must-take-covid-tests-for-five-days

[2021-12-12 12:41] Reporter1 opened #6048 "Firefox android Nightly tab switch"
Firefox Nightly android latest version from play store
Android 11/ lineage 18
Pixel 5 redfin

Screen shots attached, the tab switcher overflows / flows into the notification bar area. When trying to select tabs 1 or 2 from the list, notification bar attempts to slide down.
Suggest to adjust the position of the tab switch lower, do notification bar does not show or try to pull down.

![Screenshot_2

[2021-12-13 07:49] lobontiumira commented on #5995
Reproducible on Beta 96.0.0-beta.1 on Samsung Galaxy Note 8 (Android 9) with Hornjoserbšćina (Upper Sorbian - hsb) language.

[2021-12-13 08:09] lobontiumira opened #6045 "[L10N] "Add a search engine" SUMO page is not translated in some languages"
## Steps to reproduce
1. Set the Focus app in Cymraeg (Welsh), or Hornjoserbšćina (Upper Sorbian), or Nynorsk (Norwegian), or Taqbaylit.
2. Go to Settings - Search - Search engine - Add another search engine, and tap on the "i" option from the top right corner.

### Expected behavior
A custom tab with the https://support.mozilla.org/hsb/kb/add-search-engine-firefox-focus-android?as=u&utm_source=in

[2021-12-13 08:48] softvision-raul-bucata opened #6046 "[META] "Accept cookies" pop-up issues"
It was observed on many websites, that the cookie policy can not be accepted or modified.

## Steps to reproduce
1. Navigate to a webpage (e.g. https://www.theguardian.com or https://www.twitter.com).
2. Wait until the "Cookie Policy" pop-up is displayed.
3. Accept or modify the "Cookie Policy".
4. Observe the result.

### Expected behavior
The "Cookie Policy" pop-up can be closed or managed.

###

[2021-12-13 08:58] lobontiumira opened #6047 "[L10N] The "Add to shortcuts" text is missing from the three-dot's menu in Dolnoserbski language"
## Steps to reproduce
1. Set the app to Dolnoserbski - Lower Sorbian.
2. Open a page.
3. Tap on the three-dot menu and observe the first option "Add to shortcuts".

### Expected behavior
The text of the option is visible.

### Actual behavior
The "Add to shortcuts" text is missing from the three-dot's menu in Dolnoserbski language.
The option is functional, tapping on the empty space creates a sho

[2021-12-13 10:06] kelimuttu commented on #5433
Similar request from GPS: https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOEGXDJVfOGrHNUH9r58EnXu8IjN0kMzmWZFBUTR2ZRdi-O6IJS9OF3xltrPp5dVT11Sf7aKmW7qnyC4HMM

[2021-12-13 10:21] kelimuttu commented on #6046
We received similar reports on Google Play Store:
- https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOEprqKKWmwYuPHLJ9t6Dusoqd_ahtY2DUffTxeoKCV0QHxSOTRnEV6TG3M-4XM8Xtd9yGE3n8KQcN8yzJk
- https://play.google.com/store/apps/details?id=org.mozilla.focus&reviewId=gp:AOqpTOEOQ1qorheCj4MdJ3Lnpb-0ajBzq8vl78kZ8dM9QNjmvyWZ3CZZiccy9QVdm4zuZ-QgHKX0rloqB3x-tzM
- https://play.goo

[2021-12-13 11:34] ionutbedregeanu opened #6049 "Address code warnings"
Remove unused imports, classes, methods etc
Address those code warnings which doesn't imply a major refactoring

Note for QA: Theoretically this ticket shouldn't add regressions because just remove unused code, but maybe a smoke testing should be done just to be sure

[2021-12-13 11:49] delia-pop commented on #5812
Verified as fixed on Beta 96.0.0-beta.1 with LG G7 fit (Android 8.1.0).

![Screenshot (27 de dez de 2021 13 48 42)](https://user-images.githubusercontent.com/89388888/145807165-83d8142f-8902-47fd-9661-b2fec2eb3c23.png)

[2021-12-13 11:49] #5812 closed

[2021-12-13 11:52] delia-pop commented on #5389
This is reproducible on Beta 96.0.0-beta.1 with LG G7 fit (Android 8.1.0) with Hungarian language.

[2021-12-13 12:21] lobontiumira opened #6050 "[L10N] Text's context menu is not translated in multiple languages"
## Steps to reproduce
1. Set Focus to Dolnoserbski or Hornjoserbšćina (Upper or Lower Sorbian), or Nynorsk (Norwegian), or Taqbaylit.
2. Open a page with non-linked text.
3. Long-tap on a non-linked text.
4. Select to "copy" the text.
5. Long-tap on the URL bar and "paste" the text.

### Expected behavior
Both options ("copy", and "paste") are translated in Dolnoserbski or Hornjoserbšćina (Upper o

[2021-12-13 12:31] lobontiumira commented on #5391
Reproducible on Beta 96.0.0-beta.1 with Slovenčina language.

[2021-12-13 12:35] lobontiumira commented on #5398
Reproducible on the following languages with Google Pixel (Android 10), on Beta 96.0.0-beta.1:
* Slovenčina
* Chinese zh-TW
* Chinese zh-CN
* Dolnoserbski (Lower Sorbian - dsb)
* Hornjoserbšćina (Upper Sorbian - hsb)

[2021-12-13 12:48] lobontiumira opened #6051 "[L10N] The positive feedback isn't translated in some languages"
## Steps to reproduce
1. Set Focus to Slovenčina (Slovak).
2. Open any SUMO page.
3. Scroll to the end of the SUMO page and give the thumbs up feedback.

### Expected behavior
The "Great to hear - thanks for the feedback!" message is translated.

### Actual behavior
The "Great to hear - thanks for the feedback!" message is not translated.
The negative feedback is translated though.

### Device inf

[2021-12-13 13:45] delia-pop opened #6052 "[L10N] Multiple SUMO pages are not translated in Hungarian language"
## Steps to reproduce
1. Set the device language/Focus app language to Hungarian.
2. Open the SUMO links available throughout the application.

### Expected behavior
The SUMO pages are opened and should be translated in the language of the device.

### Actual behavior
The SUMO pages are opened, partially translated in the app's language or not translated at all.

Only the following links are fully

[2021-12-13 14:00] delia-pop opened #6053 "[L10N] Several SUMO pages are not translated in Turkish language"
## Steps to reproduce
1. Set the device language/Focus app language to Turkish.
2. Open the following SUMO links available throughout the application:

- https://support.mozilla.org/tr/kb/what-firefox-focus-android
- https://support.mozilla.org/tr/kb/add-trusted-websites-your-allow-list-firefox-focus?as=u&utm_source=inproduct&redirectslug=add-trusted-websites-your-allow-list&redirectlocale=en-US
-

[2021-12-13 14:00] lobontiumira opened #6054 "[L10N] Some SUMO pages display "Page not found" when accessed in some languages"
## Steps to reproduce
1. Set Focus to Interlingua or Basa Sunda or Corsican.
2. Go to Settings - What's New gift icon from the top right corner.

### Expected behavior
1. The "What's New" SUMO page is opened in a new tab.

### Actual behavior
A "Page not found" is opened in a new tab, with this address: https://support.mozilla.org/en-US/ia/kb/whats-new-firefox-focus-android?as=u&utm_source=inprodu

[2021-12-13 14:13] lobontiumira commented on #6054
The same situation with "Add a search engine" SUMO page. When the "i" is tapped from Settings - Search - Search engine - "+Add a search engine", a new tab is opened with this link: https://support.mozilla.org/en-US/ia/kb/add-search-engine-firefox-focus-android?as=u&utm_source=inproduct

[2021-12-13 14:34] softvision-raul-bucata commented on #6046
See also: mozilla-mobile/focus-android#6029 (where a similar issue is presented) and mozilla-mobile/focus-android#5998(where the original issue was first reported)

[2021-12-13 17:57] pocmo commented on #6009
Updated strings from Jeff, from #5988

Header: HTTPS-only mode
Subheader: Automatically attempts to connect to sites using HTTPS for increased security. HTTPS connections provide a secure, encrypted connection to websites you visit.
CTA: Learn more

Title: The site you requested does not support HTTPS
Body: By default, Firefox Focus attempts to connect using HTTPS for increased security. To change

[2021-12-14 08:58] lobontiumira commented on #6025
Verified as fixed on Beta 96.0.0-beta.2 with Google Pixel (Android 10).

[2021-12-14 09:00] lobontiumira commented on #6023
Reproducible on Beta 96.0.0-beta.2 with Google Pixel (Android 10).

[2021-12-14 09:02] lobontiumira commented on #5996
Verified also on Beta 96.0.0-beta.2 with Google Pixel (Android 10).

[2021-12-14 09:44] lobontiumira commented on #5679
Reproducible on Beta 96.0.0-beta.2 with Wolof, and Romanian languages.

[2021-12-14 10:04] phil99 commented on #6035
Hi OysterP
Yes, now I've looked at your example I get the same result - I can't click on the Accept Cookies, Focus ignores it.

Can you see the scrolling scale (to move through the coming days) at the bottom of this weather page? I can just see the very top of it, but can't get to it.
https://magicseaweed.com/UK-Ireland-Surf-Chart/1/?type=pressure

[2021-12-14 10:11] phil99 commented on #6035
Here (I hope) is a screenshot of the above weather page,
Focus will not scroll down to show the bar at the bottom:

![Screenshot_2021-12-14-10-07-21](https://user-images.githubusercontent.com/4710379/145977960-8ae2023f-d445-4bfe-b517-2f4aae88fb7b.jpeg)